Repository flutter/engine, pull requests merged in 2018-12, with the labels that each got.

#7050 Roll src/third_party/skia 30bac10ed0c4..91af8d82026f (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7051 Roll src/third_party/skia 91af8d82026f..f31f74a25056 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7052 Roll src/third_party/skia f31f74a25056..07105bbcbe98 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7054 Roll src/third_party/skia bce67cad86f5..6894f22de28b (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#7055 Roll src/third_party/skia 6894f22de28b..683e6492490f (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7056 Roll src/third_party/skia 683e6492490f..94cca60bfa6a (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7057 Roll src/third_party/skia 94cca60bfa6a..da1b99f7f53b (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7059 Roll src/third_party/skia ec95ac29550a..28ce5f269f7d (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#7060 Roll src/third_party/skia 28ce5f269f7d..5b671c300d8d (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7061 Roll src/third_party/skia 5b671c300d8d..78dc72c1fa1d (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7062 Roll src/third_party/skia 78dc72c1fa1d..f4bf973592ad (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7064 Roll src/third_party/skia f4bf973592ad..0a1293c2e432 (13 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7066 Roll src/third_party/skia 0a1293c2e432..6ba8c7ea8488 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7067 Roll src/third_party/skia 6ba8c7ea8488..f9910ea25812 (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#7068 SK_SUPPORT_LEGACY_TEXTENCODINGENUM
  third_party/txt/benchmarks/paint_record_benchmarks.cc
  third_party/txt/benchmarks/paragraph_benchmarks.cc
  third_party/txt/src/txt/font_skia.cc
Labels: cla: yes

#7069 Roll src/third_party/skia f9910ea25812..5e1f6ea59563 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7070 Roll src/third_party/skia 5e1f6ea59563..0b201b07e499 (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#7071 Roll src/third_party/skia 0b201b07e499..7b069fa73e88 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7072 Roll src/third_party/skia 7b069fa73e88..99cc65bc5d90 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7073 Roll src/third_party/skia 99cc65bc5d90..5021cd653161 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7074 Roll src/third_party/skia 5021cd653161..fe47c2a60c07 (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#7075 Roll src/third_party/skia fe47c2a60c07..1a9956e76b23 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7076 Roll src/third_party/skia 1a9956e76b23..240af98c655a (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7077 Roll src/third_party/skia 240af98c655a..2d9e543a5809 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7078 Roll src/third_party/skia 2d9e543a5809..b24f7f45c201 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7079 Roll src/third_party/skia b24f7f45c201..8912a5d24004 (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7080 Roll src/third_party/skia 8912a5d24004..7a82edf36069 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7081 Roll src/third_party/skia 7a82edf36069..017ac1c6d516 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7082 Roll src/third_party/skia 017ac1c6d516..14c55c2f7f1d (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7083 Roll src/third_party/skia 14c55c2f7f1d..de2244cbda79 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7084 Roll src/third_party/skia de2244cbda79..9e86b07b13aa (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#7085 Roll src/third_party/skia 9e86b07b13aa..0ec1c571c88a (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7086 Roll src/third_party/skia 0ec1c571c88a..ae3086eac4c4 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7088 Roll src/third_party/skia ae3086eac4c4..9b7091c65532 (22 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7089 Roll src/third_party/skia 9b7091c65532..e0dc346d9e45 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7090 Roll src/third_party/skia e0dc346d9e45..1958e5d9da9a (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7091 Roll src/third_party/skia 1958e5d9da9a..8afaa1ef2dbc (2 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#7092 Roll src/third_party/skia 8afaa1ef2dbc..0f9d33ef0698 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7093 Roll src/third_party/skia 0f9d33ef0698..b353eeb71693 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7094 Roll src/third_party/skia b353eeb71693..ab8f2971f94b (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7095 Roll src/third_party/skia ab8f2971f94b..ed33af4c64f5 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7096 Roll src/third_party/skia ed33af4c64f5..796693af3cda (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7100 Roll src/third_party/skia c86ec97ca4aa..b3f4aac0ba02 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7101 Roll src/third_party/skia b3f4aac0ba02..c84ccb1ff157 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7103 Roll src/third_party/skia c84ccb1ff157..6d59568196c0 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7104 Roll src/third_party/skia 6d59568196c0..9bd83463e507 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7110 Roll src/third_party/skia 704a3429e62b..309f1deddf8e (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7111 Roll src/third_party/skia 309f1deddf8e..e6b5b710fcf8 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7112 Roll src/third_party/skia e6b5b710fcf8..f3babcd0afb3 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7113 Roll src/third_party/skia f3babcd0afb3..bba465b98299 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7114 Roll src/third_party/skia bba465b98299..d2a590893903 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7115 Roll src/third_party/skia d2a590893903..1886dd7b2d5b (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7116 Roll src/third_party/skia 1886dd7b2d5b..bb786b46cf42 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7117 Roll src/third_party/skia bb786b46cf42..7a3805c348c3 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7118 Roll src/third_party/skia 7a3805c348c3..a63593a10c1b (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7119 Roll src/third_party/skia a63593a10c1b..4f76db153493 (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7120 Roll src/third_party/skia 4f76db153493..802dce0de3fa (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7122 Roll src/third_party/skia 646107fe7f04..66c26ac9350a (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7123 Roll src/third_party/skia 66c26ac9350a..581d637371df (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7124 Roll src/third_party/skia 581d637371df..ece772d8c269 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7125 Roll src/third_party/skia ece772d8c269..5424a5eee9ae (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7126 Roll src/third_party/skia 5424a5eee9ae..a098265198c6 (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#7127 Roll src/third_party/skia a098265198c6..85a216ce891c (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7128 Roll src/third_party/skia 85a216ce891c..4a6a4acab299 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7129 Roll src/third_party/skia 4a6a4acab299..27be8c696618 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7132 Roll src/third_party/skia 1ee699d06c63..4ba351951e8c (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7133 Roll src/third_party/skia 4ba351951e8c..2d8789ded9ed (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7134 Roll src/third_party/skia 2d8789ded9ed..955f021a4d0d (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7135 Roll src/third_party/skia 955f021a4d0d..4037a18e5d8d (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7137 Roll src/third_party/skia 27d5e8123477..1a592c2a3dee (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7138 Roll src/third_party/skia 1a592c2a3dee..a6e0c2b19c78 (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7140 Roll src/third_party/skia a6e0c2b19c78..f0b6044d6d20 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7141 Roll src/third_party/skia f0b6044d6d20..0c75727f0148 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7142 Roll src/third_party/skia 0c75727f0148..be5a09332e5d (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6919 Reland "Compile libcxx and libcxxabi for Android (#6886)"
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
  tools/licenses/lib/main.dart
Labels: cla: yes

#6973 Eliminate main_dart_file_path, package_file_path
  common/settings.cc
  common/settings.h
  shell/common/switches.cc
  shell/common/switches.h
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/embedder/embedder.cc
Labels: cla: yes

#7143 Roll src/third_party/skia be5a09332e5d..f23a1527155b (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7144 Roll src/third_party/skia f23a1527155b..22fabcae16d9 (2 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#7145 Roll src/third_party/skia 22fabcae16d9..6788a54afe2d (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#7146 Revert "Reland "Compile libcxx and libcxxabi for Android (#6886)""
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
  tools/licenses/lib/main.dart
Labels: cla: yes

#7147 Roll src/third_party/skia 6788a54afe2d..ca91e1f6c517 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7149 Roll src/third_party/skia dad4bfcfa39f..a72e8d3f4053 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7150 Roll src/third_party/skia a72e8d3f4053..a0160896f339 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7153 Roll src/third_party/skia a0160896f339..dbfd7664f265 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7154 Roll src/third_party/skia dbfd7664f265..3ccaa88c5031 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7151 Generalize runFromBundle to support multiple bundlePaths
  shell/platform/android/io/flutter/view/FlutterNativeView.java
  shell/platform/android/io/flutter/view/FlutterRunArguments.java
  shell/platform/android/platform_view_android_jni.cc
Labels: cla: yes

#6977 Rename dart-non-checked-mode: disable-dart-asserts
  common/settings.cc
  common/settings.h
  runtime/dart_vm.cc
  shell/common/switches.cc
  shell/common/switches.h
Labels: cla: yes

#7155 Roll src/third_party/skia 3ccaa88c5031..d1ca6726734f (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7157 Roll src/third_party/skia a0b54cd58943..4616f5521db0 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7158 Minor comments fix and add TODO
  third_party/txt/src/txt/paragraph.cc
Labels: cla: yes

#7159 Roll src/third_party/skia 4616f5521db0..15640698497a (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7161 Handle null bundlePaths in FlutterRunArguments
  shell/platform/android/io/flutter/view/FlutterNativeView.java
Labels: cla: yes

#7162 Merge master branch into skia-master
  DEPS
  ci/licenses_golden/licenses_flutter
  common/settings.cc
  common/settings.h
  lib/ui/compositing.dart
  runtime/dart_vm.cc
  shell/common/io_manager.cc
  shell/common/switches.cc
  shell/common/switches.h
  shell/gpu/gpu_surface_gl.cc
  shell/platform/android/io/flutter/view/FlutterNativeView.java
  shell/platform/android/io/flutter/view/FlutterRunArguments.java
  shell/platform/android/platform_view_android_jni.cc
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/embedder/embedder.cc
  shell/testing/tester_main.cc
  third_party/txt/src/txt/paragraph.cc
  vulkan/BUILD.gn
  vulkan/vulkan_device.cc
  vulkan/vulkan_interface.cc
  vulkan/vulkan_interface.h
  vulkan/vulkan_native_surface_magma.cc
  vulkan/vulkan_native_surface_magma.h
  vulkan/vulkan_proc_table.cc
  vulkan/vulkan_proc_table.h
Labels: cla: no

#7164 Add empty metrics to account for truncated whitespace for GetRectsForRange.
  third_party/txt/src/txt/paragraph.cc
  third_party/txt/tests/paragraph_unittests.cc
Labels: cla: yes

#6927 Support overriding font leading in TextStyle and LibTxt
  lib/ui/text.dart
  lib/ui/text/paragraph_builder.cc
  lib/ui/text/paragraph_builder.h
  third_party/txt/src/txt/paragraph.cc
  third_party/txt/src/txt/paragraph.h
  third_party/txt/src/txt/styled_runs.h
  third_party/txt/src/txt/text_style.cc
  third_party/txt/src/txt/text_style.h
  third_party/txt/tests/paragraph_unittests.cc
Labels: affects: text input, brand new feature, cla: yes

#6936 Return real null instead of null string when locale has not been set in locale closure.
  lib/ui/hooks.dart
Labels: cla: yes

#6967 Eliminate obsolete FlutterDartProject initializers
  shell/platform/darwin/ios/framework/Headers/FlutterDartProject.h
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
Labels: cla: yes

#7152 Add native for fetching compilation trace as a memory buffer, for use in automated tools
  lib/ui/natives.dart
Labels: cla: yes

#7167 Roll src/third_party/skia 15640698497a..a10494c302e6 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7169 Roll src/third_party/skia 40bd76027f8e..376a7481c17f (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7170 Roll src/third_party/skia 376a7481c17f..ae0d860ba31b (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6985 Fix keyboard not showing for targetSdk 28
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
Labels: cla: yes

#7171 Roll src/third_party/skia ae0d860ba31b..264843e30745 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7172 Roll src/third_party/skia 264843e30745..9cabb4f98e99 (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#7173 Roll src/third_party/skia 9cabb4f98e99..53eabf6871b1 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7174 Roll src/third_party/skia 53eabf6871b1..eb39b8108b4a (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7175 Roll src/third_party/skia eb39b8108b4a..4f738832a976 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7178 Roll src/third_party/skia e7f165be2e2d..3bdc3f5f9c0b (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7180 Roll src/third_party/skia 3bdc3f5f9c0b..46f40f42478c (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7181 Roll src/third_party/skia 46f40f42478c..72ab3461b747 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7185 Check for empty line before adding empty 'padding' metrics
  third_party/txt/src/txt/paragraph.cc
Labels: cla: yes

#7186 Roll src/third_party/skia dfa432cb0647..6417060b1c23 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7187 Revert "Support overriding font leading in TextStyle and LibTxt (#6927)"
  lib/ui/text.dart
  lib/ui/text/paragraph_builder.cc
  lib/ui/text/paragraph_builder.h
  third_party/txt/src/txt/paragraph.cc
  third_party/txt/src/txt/paragraph.h
  third_party/txt/src/txt/styled_runs.h
  third_party/txt/src/txt/text_style.cc
  third_party/txt/src/txt/text_style.h
  third_party/txt/tests/paragraph_unittests.cc
Labels: cla: yes

#7160 Reland "Compile libcxx and libcxxabi for Android (#6886)"
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
  tools/licenses/lib/main.dart
Labels: cla: yes

#7194 Roll buildroot to 4cb5a74c9612b71b917997f46e97da6d1051eab4
  DEPS
Labels: cla: yes

#7195 Roll buildroot to 8e538639660413490ea9261eee84864005e240f4
  DEPS
Labels: cla: yes

#7189 Remove unnecessary includes of Skia headers.
  flow/layers/platform_view_layer.h
  flow/layers/texture_layer.h
  shell/platform/android/android_external_texture_gl.cc
  shell/platform/darwin/ios/ios_external_texture_gl.mm
Labels: cla: yes

#7205 Roll src/third_party/skia 6417060b1c23..340aeda6b3ba (41 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6989 Japanese Clear Text Crash
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
Labels: cla: yes

#7206 Roll src/third_party/skia 340aeda6b3ba..17c574a193ad (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7209 Roll src/third_party/skia 17c574a193ad..58fc5d19ad1b (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7210 Roll src/third_party/skia 58fc5d19ad1b..a69b10312977 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7211 Roll src/third_party/skia a69b10312977..5eb29448dfbd (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7212 Roll src/third_party/skia 5eb29448dfbd..f9e824b8e749 (10 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7207 Downloading and installation of dynamic updates on Android
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/app/FlutterActivityDelegate.java
  shell/platform/android/io/flutter/view/FlutterMain.java
  shell/platform/android/io/flutter/view/ResourceExtractor.java
  shell/platform/android/io/flutter/view/ResourceUpdater.java
Labels: cla: yes

#7208 Fallback font match caching to fix emoji lag.
  third_party/txt/src/txt/font_collection.cc
  third_party/txt/src/txt/font_collection.h
Labels: cla: yes

#7215 Roll src/third_party/skia f9e824b8e749..cb6b4bde0c2e (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7214 [Fuchsia] Depend on libtrace when that is what's really meant
  fml/BUILD.gn
  shell/testing/BUILD.gn
Labels: cla: yes

#7216 Roll src/third_party/skia cb6b4bde0c2e..21a7be0741ac (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6945 Adds force cursor support
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputDelegate.h
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
Labels: cla: yes

#7217 Roll src/third_party/skia 21a7be0741ac..42e7a7ed6511 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7218 Roll src/third_party/skia 42e7a7ed6511..59c9f1595ecd (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7219 Roll src/third_party/skia 59c9f1595ecd..f6206f91b3c1 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6913 Support real fonts in 'flutter test'
  shell/common/engine.cc
  third_party/txt/src/txt/font_collection.cc
Labels: cla: yes

#7220 Roll src/third_party/skia f6206f91b3c1..f391d0f771c6 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7221 [vulkan] Fix Fuchsia build
  ci/licenses_golden/licenses_flutter
  vulkan/BUILD.gn
  vulkan/vulkan_swapchain.h
  vulkan/vulkan_swapchain_stub.cc
Labels: cla: yes

#7222 Roll src/third_party/skia f391d0f771c6..16d00eeef7d1 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7224 Roll src/third_party/skia a1bded9a4f28..8b78d70b9a10 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6805 [OR] Offset.fromDirection and Size.aspectRatio
  lib/ui/geometry.dart
  testing/dart/geometry_test.dart
Labels: cla: yes

#6903 [H] Undeprecate BigInteger support, but document what it actually does.
  shell/platform/android/io/flutter/plugin/common/StandardMessageCodec.java
Labels: cla: yes

#7226 Roll src/third_party/skia d4962e7e07c0..282ec5dc6ca7 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7227 Compile embedder unit test Dart to kernel
  runtime/fixtures/simple_main.dart
  shell/platform/embedder/fixtures/simple_main.dart
  shell/platform/embedder/tests/embedder_unittests.cc
  testing/testing.gni
Labels: cla: yes

#7228 Roll src/third_party/skia 282ec5dc6ca7..2e6db18c4309 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7230 Revert "Compile embedder unit test Dart to kernel (#7227)"
  runtime/fixtures/simple_main.dart
  shell/platform/embedder/fixtures/simple_main.dart
  shell/platform/embedder/tests/embedder_unittests.cc
  testing/testing.gni
Labels: cla: yes

#7232 Roll src/third_party/skia 2e6db18c4309..cb8157e6266c (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7233 Roll src/third_party/skia cb8157e6266c..e6f635476da3 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7179 Fixed Spelling.
  lib/ui/semantics.dart
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  tools/licenses/lib/patterns.dart
Labels: cla: yes

#6922 Verify RunConfiguration is valid before running
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder_engine.cc
Labels: cla: yes

#7097 Simplify conversion of numeric types in the message codec on iOS
  shell/platform/darwin/ios/framework/Source/FlutterStandardCodec.mm
Labels: cla: yes

#7108 Fix destruction of the child object list in the iOS accessibility bridge
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
Labels: cla: yes
