Repository flutter/engine, pull requests merged in 2018-09, with the labels that each got.

#6133 Allow embedders to specify software renderer configs.
  ci/licenses_golden/licenses_flutter
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/embedder/embedder_surface.cc
  shell/platform/embedder/embedder_surface.h
  shell/platform/embedder/embedder_surface_gl.cc
  shell/platform/embedder/embedder_surface_gl.h
  shell/platform/embedder/embedder_surface_software.cc
  shell/platform/embedder/embedder_surface_software.h
  shell/platform/embedder/platform_view_embedder.cc
  shell/platform/embedder/platform_view_embedder.h
Labels: cla: yes

#6138 Roll src/third_party/skia 6487e5ca6f10..e8e12e89c46b (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6139 Fix crash in text layout when GetMinikinFontCollectionForStyle returns null.
  third_party/txt/src/txt/paragraph.cc
Labels: cla: yes

#6140 Roll src/third_party/skia e8e12e89c46b..8534723c7be1 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6141 Roll src/third_party/skia 8534723c7be1..2f8c60e28682 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6142 Roll src/third_party/skia 2f8c60e28682..ca858b68c34b (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6143 Roll src/third_party/skia ca858b68c34b..2f53025e8bf1 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6144 Roll src/third_party/skia 2f53025e8bf1..09a7bb222172 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6146 Roll src/third_party/skia 09a7bb222172..88119de2b849 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6147 Roll src/third_party/skia 88119de2b849..bf67741140fd (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6148 Roll src/third_party/skia bf67741140fd..24e58341fbcd (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6151 Roll src/third_party/skia 24e58341fbcd..cff3fd834ca8 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6079 Unregister onFrameAvailable callbacks when a TextureEntry is released
  shell/platform/android/io/flutter/view/FlutterView.java
Labels: cla: yes

#6152 Roll src/third_party/skia cff3fd834ca8..a45e1a71f548 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6153 Roll src/third_party/skia a45e1a71f548..b84576af0a43 (16 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6154 Use double multiplication by a scale instead of 3 divides for speed.
  flow/matrix_decomposition.cc
Labels: cla: yes

#6117 Create new FlutterActivity, FlutterFragment, and FlutterShellArgs
  ci/licenses_golden/licenses_flutter
  shell/platform/android/.gitignore
  shell/platform/android/AndroidManifest.xml
  shell/platform/android/io/flutter/embedding/FlutterActivity.java
  shell/platform/android/io/flutter/embedding/FlutterFragment.java
  shell/platform/android/io/flutter/embedding/FlutterShellArgs.java
  shell/platform/android/io/flutter/view/FlutterMain.java
Labels: cla: yes

#6155 Roll src/third_party/skia b84576af0a43..e486bbaae296 (9 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6156 Add some more logs for diagnosing screenshot failures
  shell/common/rasterizer.cc
Labels: cla: yes

#6159 Roll src/third_party/skia e486bbaae296..fddc6fa394cb (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6164 Roll src/third_party/skia fddc6fa394cb..85f4e40c5481 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6165 Roll src/third_party/skia 85f4e40c5481..72a02112a99f (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6166 Roll src/third_party/skia 72a02112a99f..9478f7a38e6c (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6167 Roll src/third_party/skia 9478f7a38e6c..d0f0cb8ffc5e (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6161 Dart SDK roll for 2018/09/04
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#6157 Remove obsolete discovery mechanism from FlutterView
  shell/platform/android/io/flutter/view/FlutterView.java
Labels: cla: yes

#6168 Roll src/third_party/skia d0f0cb8ffc5e..9d1c88d9912d (12 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6169 Roll buildroot to 7aadfaf196f9cd8a299f9ad78fab63362800466d
  DEPS
Labels: cla: yes

#6163 Enable transparent FlutterViews
  shell/common/rasterizer.cc
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/platform_view_android_jni.cc
Labels: cla: yes

#6171 Fixes negative end selection offset.
  shell/platform/android/io/flutter/plugin/editing/InputConnectionAdaptor.java
Labels: cla: yes

#6175 Roll src/third_party/skia 9d1c88d9912d..343553a1fe9e (16 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6177 Roll Tonic
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#6172 Add transparency helpers to FlutterView.java
  shell/platform/android/io/flutter/view/FlutterView.java
Labels: cla: yes

#6179 Remove unused file picture_serializer.
  ci/licenses_golden/licenses_flutter
  shell/common/BUILD.gn
  shell/common/picture_serializer.cc
  shell/common/picture_serializer.h
Labels: cla: yes

#6181 Roll src/third_party/skia ffbcc3fadfa1..71f8475a0dba (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6183 Revert "Dart SDK roll for 2018/09/04 (#6161)"
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#6184 Fix LibTxt/minikin text shifiting when breaking into multiple runs
  third_party/txt/src/minikin/Layout.cpp
  third_party/txt/src/txt/paint_record.h
  third_party/txt/src/txt/paragraph.h
  third_party/txt/tests/paragraph_unittests.cc
Labels: cla: yes

#6185 Roll src/third_party/skia 33d3d31a7e28..a9564d6dae1c (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6186 Pull $flutter_root:config into shell/engine/version:version
  shell/version/BUILD.gn
Labels: cla: yes

#6187 [fuchsia] Plumb root_surface_transformation in scene_update_context
  flow/scene_update_context.cc
Labels: cla: yes

#6160 Always serialize fonts during skp capturing
  shell/common/rasterizer.cc
Labels: cla: yes

#6190 Roll src/third_party/skia a9564d6dae1c..106d04e907c1 (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6174 Update to latest clang
  DEPS
  fml/memory/ref_counted_unittest.cc
  shell/platform/darwin/BUILD.gn
  tools/gn
Labels: cla: yes

#6189 Dart SDK roll for 2018/09/06
  DEPS
  ci/licenses_golden/licenses_third_party
  frontend_server/lib/server.dart
Labels: cla: yes

#6150 Fix sometime flutter view become black
  flow/compositor_context.cc
Labels: cla: yes

#6193 Roll src/third_party/skia 106d04e907c1..b090b2b26803 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6192 Revert "Dart SDK roll for 2018/09/06 (#6189)"
  DEPS
  ci/licenses_golden/licenses_third_party
  frontend_server/lib/server.dart
Labels: cla: yes

#6197 Roll src/third_party/skia b090b2b26803..0b80e62a14ae (2 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#6198 Roll src/third_party/skia 0b80e62a14ae..300b6197e344 (9 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6191 Accept file URIs as parameters in the RunInView service RPC
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/paths.cc
  fml/paths.h
  fml/paths_unittests.cc
  fml/platform/posix/paths_posix.cc
  fml/platform/win/paths_win.cc
  shell/common/shell.cc
Labels: cla: yes

#6194 Don't map iOS reduce motion to disabled animations
  lib/ui/window.dart
  lib/ui/window/window.h
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
Labels: cla: yes

#6200 Roll src/third_party/skia 300b6197e344..094b3eaf479c (17 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6199 Always save canvas to prevent ClipRects from drawing on top of higher layers.
  flow/layers/clip_rect_layer.cc
Labels: cla: yes

#6201 Dart SDK roll for 2018/09/07
  DEPS
  ci/licenses_golden/licenses_third_party
  frontend_server/lib/server.dart
Labels: cla: yes

#5621 Some cleanups enabled by removing support for Dart 1.
  common/settings.cc
  common/settings.h
  lib/snapshot/BUILD.gn
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/dart_isolate_unittests.cc
  runtime/dart_service_isolate.cc
  runtime/dart_service_isolate.h
  runtime/dart_vm.cc
  runtime/dart_vm.h
  runtime/dart_vm_unittests.cc
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/isolate_configuration.cc
  shell/common/isolate_configuration.h
  shell/common/shell.cc
  shell/common/switches.cc
  shell/common/switches.h
  shell/platform/android/flutter_main.cc
  shell/platform/android/io/flutter/view/FlutterMain.java
  shell/platform/android/platform_view_android_jni.cc
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/embedder/embedder.cc
  shell/testing/tester_main.cc
Labels: cla: yes

#6202 Moved source files for better PR history
  ci/licenses_golden/licenses_flutter
  shell/platform/android/.gitignore
  shell/platform/android/io/flutter/embedding/FlutterView.java
  shell/platform/android/io/flutter/embedding/legacy/AccessibilityBridge.java
  shell/platform/android/io/flutter/embedding/legacy/FlutterNativeView.java
  shell/platform/android/io/flutter/embedding/legacy/FlutterPluginRegistry.java
  shell/platform/android/io/flutter/embedding/legacy/InputConnectionAdaptor.java
  shell/platform/android/io/flutter/embedding/legacy/PlatformViewFactory.java
  shell/platform/android/io/flutter/embedding/legacy/PlatformViewRegistry.java
  shell/platform/android/io/flutter/embedding/legacy/PlatformViewRegistryImpl.java
  shell/platform/android/io/flutter/embedding/legacy/PlatformViewsController.java
  shell/platform/android/io/flutter/embedding/legacy/PluginRegistry.java
  shell/platform/android/io/flutter/embedding/legacy/SingleViewPresentation.java
  shell/platform/android/io/flutter/embedding/legacy/TextInputPlugin.java
  shell/platform/android/io/flutter/embedding/legacy/VirtualDisplayController.java
Labels: cla: yes

#6203 Roll src/third_party/skia 094b3eaf479c..2810c856dfa2 (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6205 Revert "Some cleanups enabled by removing support for Dart. (#5621)"
  common/settings.cc
  common/settings.h
  lib/snapshot/BUILD.gn
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/dart_isolate_unittests.cc
  runtime/dart_service_isolate.cc
  runtime/dart_service_isolate.h
  runtime/dart_vm.cc
  runtime/dart_vm.h
  runtime/dart_vm_unittests.cc
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/isolate_configuration.cc
  shell/common/isolate_configuration.h
  shell/common/shell.cc
  shell/common/switches.cc
  shell/common/switches.h
  shell/platform/android/flutter_main.cc
  shell/platform/android/io/flutter/view/FlutterMain.java
  shell/platform/android/platform_view_android_jni.cc
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/embedder/embedder.cc
  shell/testing/tester_main.cc
Labels: cla: yes

#6206 Roll src/third_party/skia 2810c856dfa2..a3dc329d1db1 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6208 Roll src/third_party/skia a3dc329d1db1..40c7c64572bc (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6209 Remove mention of Garnet/Topaz from license
  tools/licenses/lib/main.dart
Labels: cla: yes

#6210 Roll src/third_party/skia 40c7c64572bc..cd9d074578e0 (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autoroller: commit, cla: yes

#6211 Roll src/third_party/skia cd9d074578e0..a2bc1ca21bbc (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6212 Roll Dart to ef720983530e04819b6fda0659ed7a3fdb190060.
  DEPS
  ci/licenses_golden/licenses_third_party
  lib/snapshot/BUILD.gn
  runtime/dart_vm.cc
Labels: cla: yes

#6214 Roll freetype2 to 6581fd3e9c8645f01c0d51e4f53893f5391f2bf3
  DEPS
Labels: cla: yes

#6217 Roll src/third_party/skia a2bc1ca21bbc..7891994e89a3 (9 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6216 Reapply "Some cleanups enabled by removing support for Dart 1."
  common/settings.cc
  common/settings.h
  lib/snapshot/BUILD.gn
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/dart_isolate_unittests.cc
  runtime/dart_service_isolate.cc
  runtime/dart_service_isolate.h
  runtime/dart_vm.cc
  runtime/dart_vm.h
  runtime/dart_vm_unittests.cc
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/isolate_configuration.cc
  shell/common/isolate_configuration.h
  shell/common/shell.cc
  shell/common/switches.cc
  shell/common/switches.h
  shell/platform/android/flutter_main.cc
  shell/platform/android/io/flutter/view/FlutterMain.java
  shell/platform/android/platform_view_android_jni.cc
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/embedder/embedder.cc
  shell/testing/observatory/test.dart
  shell/testing/tester_main.cc
Labels: cla: yes

#6219 Roll src/third_party/skia 3c4d533d8ebd..5518e65d90d7 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6220 Roll src/third_party/skia 5518e65d90d7..82bf31003c66 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6221 Roll src/third_party/skia 82bf31003c66..2bf7a7bcc67f (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6222 Roll src/third_party/skia 2bf7a7bcc67f..bd6595544171 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6223 Revert "Roll buildroot to eba79bb6db1b50a98ab8ce39def287f7d332a5b8 (#6215)"
  DEPS
Labels: cla: yes

#6224 Roll buildroot to a11c4fd9fcc7ad84f465d74461421f3ec790fb99
  DEPS
Labels: cla: yes

#6213 Remove root_surface_transformation from PaintContext
  flow/layers/layer.h
  flow/layers/layer_tree.cc
  flow/layers/picture_layer.cc
  flow/raster_cache.cc
  flow/raster_cache.h
  flow/scene_update_context.cc
Labels: cla: yes

#6225 Improve performance of performance overlay by caching.
  flow/instrumentation.cc
  flow/instrumentation.h
Labels: cla: yes

#6229 Roll src/third_party/skia bd6595544171..1b5ece0f06f4 (22 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6231 Roll src/third_party/skia 1b5ece0f06f4..e70aed7066c6 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6232 Revert "Reapply "Some cleanups enabled by removing support for Dart 1" (#6216)"
  common/settings.cc
  common/settings.h
  lib/snapshot/BUILD.gn
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/dart_isolate_unittests.cc
  runtime/dart_service_isolate.cc
  runtime/dart_service_isolate.h
  runtime/dart_vm.cc
  runtime/dart_vm.h
  runtime/dart_vm_unittests.cc
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/isolate_configuration.cc
  shell/common/isolate_configuration.h
  shell/common/shell.cc
  shell/common/switches.cc
  shell/common/switches.h
  shell/platform/android/flutter_main.cc
  shell/platform/android/io/flutter/view/FlutterMain.java
  shell/platform/android/platform_view_android_jni.cc
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/embedder/embedder.cc
  shell/testing/observatory/test.dart
  shell/testing/tester_main.cc
Labels: cla: yes

#6235 Roll src/third_party/skia e70aed7066c6..44215505623b (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6236 Update to newer Skia font API
  lib/ui/text/asset_manager_font_provider.cc
  lib/ui/text/font_collection.cc
Labels: cla: yes

#6237 Roll buildroot to c2764d3620d792e71301dff9a66866029ed200f0
  DEPS
Labels: cla: yes

#6238 Roll src/third_party/skia 44215505623b..16322637c477 (10 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6240 Roll src/third_party/skia 16322637c477..858f648bdae3 (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6241 Roll src/third_party/skia 858f648bdae3..34e5e1b387f5 (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6242 Patch in the libtxt fix onto the last beta
  third_party/txt/src/minikin/Layout.cpp
  third_party/txt/src/txt/paint_record.h
  third_party/txt/src/txt/paragraph.h
  third_party/txt/tests/paragraph_unittests.cc
Labels: cla: yes

#6243 Roll src/third_party/skia 34e5e1b387f5..76bba35cbaa4 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6234 UILaunchStoryboardName nil crash fix
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
Labels: cla: no

#6247 Prepare for stripping and dsyming Flutter.framework
  DEPS
  sky/tools/create_ios_framework.py
Labels: cla: yes

#6239 Add scrollIndex and scrollChildren to semantics, add Android implementation
  lib/ui/semantics.dart
  lib/ui/semantics/semantics_node.h
  lib/ui/semantics/semantics_update_builder.cc
  lib/ui/semantics/semantics_update_builder.h
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  shell/platform/android/platform_view_android.cc
Labels: cla: yes

#6249 Roll Dart to version c28db2d6e17f046f95db5987394df43c95d58468
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#6246 Roll src/third_party/skia 46a5f6c28a34..637c06aec7b1 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6251 Roll src/third_party/skia 637c06aec7b1..66261f1ac2b7 (29 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6252 Roll src/third_party/skia 66261f1ac2b7..7724d3f4949b (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6248 Update live region to trigger on label change
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
Labels: cla: yes

#6250 Reapply "Some cleanups enabled by removing support for Dart 1"
  common/settings.cc
  common/settings.h
  lib/snapshot/BUILD.gn
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/dart_isolate_unittests.cc
  runtime/dart_service_isolate.cc
  runtime/dart_service_isolate.h
  runtime/dart_vm.cc
  runtime/dart_vm.h
  runtime/dart_vm_unittests.cc
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/isolate_configuration.cc
  shell/common/isolate_configuration.h
  shell/common/shell.cc
  shell/common/switches.cc
  shell/common/switches.h
  shell/platform/android/flutter_main.cc
  shell/platform/android/io/flutter/view/FlutterMain.java
  shell/platform/android/platform_view_android_jni.cc
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/embedder/embedder.cc
  shell/testing/observatory/test.dart
  shell/testing/tester_main.cc
Labels: cla: yes

#6253 Roll Dart to bb56d4592f7cde38cdf0a04ad7f40d105af99d11
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#6254 Update test and license scripts for Dart SDK 2.1.0
  testing/dart/canvas_test.dart
  testing/dart/pubspec.yaml
  testing/run_tests.sh
  tools/licenses/pubspec.yaml
Labels: cla: yes

#6256 Remove LayerBuilder and DefaultLayerBuilder
  ci/licenses_golden/licenses_flutter
  flow/BUILD.gn
  flow/layers/default_layer_builder.cc
  flow/layers/default_layer_builder.h
  flow/layers/layer_builder.cc
  flow/layers/layer_builder.h
  lib/ui/compositing/scene_builder.cc
  lib/ui/compositing/scene_builder.h
Labels: cla: yes

#6258 Roll src/third_party/skia 7b617a7fc85d..afebe1614e5e (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6267 Roll src/third_party/skia 8e73f4b6bbef..840debe9c748 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6268 Roll src/third_party/skia 840debe9c748..098c1355bf70 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6269 Roll src/third_party/skia 098c1355bf70..060e992ef5b8 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6262 Update engine tests for Dart 2 compilation and language changes
  testing/dart/canvas_test.dart
  testing/dart/codec_test.dart
  testing/dart/isolate_name_server_test.dart
  testing/dart/window_hooks_integration_test.dart
  testing/run_tests.sh
Labels: cla: yes

#6261 Fix the frontend_server test
  frontend_server/lib/server.dart
Labels: cla: yes

#6264 Ensure that Layer::AutoSaveLayer objects are not immediately destructed
  flow/layers/backdrop_filter_layer.cc
  flow/layers/color_filter_layer.cc
  flow/layers/layer.cc
  flow/layers/layer.h
  flow/layers/opacity_layer.cc
  flow/layers/shader_mask_layer.cc
Labels: cla: yes

#6271 Roll Dart to 050561fd82be5e775316223c9d2d9e7e5e596c8e
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#6273 [fuchsia] Fixes for the Fuchsia build
  lib/snapshot/BUILD.gn
  lib/ui/compositing/scene_builder.cc
Labels: cla: yes

#6272 Update test .gitignore
  testing/dart/.gitignore
Labels: cla: yes

#6226 Remove entries from dart_vm_entry_points.txt and use annotations
  lib/ui/compositing.dart
  lib/ui/geometry.dart
  lib/ui/hooks.dart
  lib/ui/natives.dart
  lib/ui/painting.dart
  lib/ui/semantics.dart
  lib/ui/text.dart
  runtime/dart_vm_entry_points.txt
Labels: cla: yes

#6274 Roll src/third_party/skia 060e992ef5b8..1d6281d4bb47 (34 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6276 Roll Dart to 4eb879133a06c86869dc54cecf904f4b1d46c47b
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#6260 Return null instead of throwing if an instance method is passed to PluginUtilities.getCallbackHandle
  lib/ui/plugins.dart
Labels: cla: yes

#6277 Don't use unix or win namespaces
  fml/unique_fd.cc
  fml/unique_fd.h
Labels: cla: yes

#6281 Compute maxIntrinsicWidth based on the width of styled runs added to the line breaker
  third_party/txt/src/txt/paragraph.cc
Labels: cla: yes

#6195 Get rid of FlutterNativeView, introduce FlutterEngine and FlutterRenderer
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/FlutterActivity.java
  shell/platform/android/io/flutter/embedding/FlutterEngine.java
  shell/platform/android/io/flutter/embedding/FlutterFragment.java
  shell/platform/android/io/flutter/embedding/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/FlutterRenderer.java
  shell/platform/android/io/flutter/embedding/FlutterView.java
  shell/platform/android/io/flutter/embedding/legacy/AccessibilityBridge.java
  shell/platform/android/io/flutter/embedding/legacy/FlutterNativeView.java
  shell/platform/android/io/flutter/embedding/legacy/FlutterPluginRegistry.java
  shell/platform/android/io/flutter/embedding/legacy/InputConnectionAdaptor.java
  shell/platform/android/io/flutter/embedding/legacy/PlatformViewFactory.java
  shell/platform/android/io/flutter/embedding/legacy/PlatformViewRegistry.java
  shell/platform/android/io/flutter/embedding/legacy/PlatformViewsController.java
  shell/platform/android/io/flutter/embedding/legacy/PluginRegistry.java
  shell/platform/android/io/flutter/embedding/legacy/SingleViewPresentation.java
  shell/platform/android/io/flutter/embedding/legacy/TextInputPlugin.java
  shell/platform/android/io/flutter/embedding/legacy/VirtualDisplayController.java
  shell/platform/android/platform_view_android_jni.cc
Labels: cla: yes

#6282 Fix Top, Left, and Right padding for fullscreen android apps.
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  shell/platform/android/io/flutter/view/FlutterView.java
Labels: cla: yes

#6284 Roll src/third_party/skia 1d6281d4bb47..9369031fde2d (27 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6285 Roll dart to c688d0c0c3ad3dece3a79ce0e115d787a94707ea.
  BUILD.gn
  DEPS
  ci/licenses_golden/licenses_third_party
  lib/snapshot/BUILD.gn
Labels: cla: yes

#6287 Roll src/third_party/skia 9369031fde2d..c9873a5f8b8e (11 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6290 Roll src/third_party/skia c9873a5f8b8e..f3ebd312f213 (14 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6291 Remove runtime/dart_vm_entry_points.txt
  runtime/dart_vm_entry_points.txt
Labels: cla: yes

#6292 Revert "Roll src/third_party/skia c9873a5f8b8e..f3ebd312f213 (14 comm…
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes

#6294 Dart SDK roll for 2018/09/20
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#6295 Roll src/third_party/skia c9873a5f8b8e..44c6167c4125 (23 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6296 SkImageFilter needs to be imported in the header
  flow/layers/backdrop_filter_layer.cc
  flow/layers/backdrop_filter_layer.h
Labels: cla: yes

#6297 Remove bottom safe-area padding when keyboard up
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
Labels: cla: yes

#6299 Roll src/third_party/skia 44c6167c4125..05cf051f0252 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6301 Roll src/third_party/skia 05cf051f0252..38ca6d509d9f (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6302 Roll src/third_party/skia 38ca6d509d9f..d842557c0724 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6304 Roll src/third_party/skia d842557c0724..c25f440d537e (10 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6279 Fix a compilation problem when using iPhoneOS12.0sdk(Xcode10) && clang version 7.0.0.
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegate.mm
Labels: cla: yes

#6289 Add Xib splashscreen support
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
Labels: cla: yes

#6280 Locale: update deprecated subtags from language subtag registry.
  lib/ui/window.dart
  tools/gen_locale.dart
Labels: cla: yes

#6257 Add logging if FlutterDartProject fails to load the application kernel snapshot
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
Labels: cla: yes

#6308 Roll src/third_party/skia c25f440d537e..358558a4cecc (17 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6307 Revert "Fix a compilation problem when using iPhoneOS12.0sdk(Xcode10) && clang version 7.0.0."
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegate.mm
Labels: cla: yes

#6309 Revert 'Dart SDK roll for 2018/09/20' 8471862c
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#6303 Decouple PlatformViewsController from FlutterView.
  shell/platform/android/io/flutter/app/FlutterPluginRegistry.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
Labels: cla: yes

#6300 Flutterview improvements
  shell/platform/android/io/flutter/embedding/FlutterEngine.java
  shell/platform/android/io/flutter/embedding/FlutterFragment.java
  shell/platform/android/io/flutter/embedding/FlutterRenderer.java
  shell/platform/android/io/flutter/embedding/FlutterView.java
Labels: cla: yes

#6207 Make FlutterStandardCodec handle writing NSData
  shell/platform/darwin/ios/framework/Headers/FlutterChannels.h
  shell/platform/darwin/ios/framework/Source/FlutterStandardCodec.mm
  shell/platform/darwin/ios/framework/Source/flutter_standard_codec_unittest.mm
Labels: cla: yes

#6312 Roll src/third_party/skia 358558a4cecc..11f4994b84e1 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6313 Roll src/third_party/skia 11f4994b84e1..175b587a634d (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6298 Ensure that objects on stack that close traces have unique variable names.
  fml/trace_event.h
Labels: cla: yes

#6314 Remove the unused Mac Desktop shell.
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/BUILD.gn
  shell/platform/darwin/desktop/BUILD.gn
  shell/platform/darwin/desktop/Info.plist
  shell/platform/darwin/desktop/flutter_application_delegate.h
  shell/platform/darwin/desktop/flutter_application_delegate.mm
  shell/platform/darwin/desktop/flutter_window.h
  shell/platform/darwin/desktop/flutter_window.mm
  shell/platform/darwin/desktop/main_mac.mm
  shell/platform/darwin/desktop/platform_view_mac.h
  shell/platform/darwin/desktop/platform_view_mac.mm
  shell/platform/darwin/desktop/vsync_waiter_mac.cc
  shell/platform/darwin/desktop/vsync_waiter_mac.h
Labels: cla: yes

#6316 Roll src/third_party/skia 175b587a634d..937348d4d442 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6317 Roll src/third_party/skia 937348d4d442..bdb32d17999e (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6318 Roll src/third_party/skia bdb32d17999e..c955a1645148 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6319 Roll src/third_party/skia c955a1645148..0a3864651457 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6320 Roll src/third_party/skia 0a3864651457..a9adb6f03525 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6321 Roll Dart to a2eb050044eec93f0844667b8b6132e858467e4e.
  DEPS
Labels: cla: yes
