Repository flutter/engine, pull requests merged in 2018-11, with the labels that each got.

#6718 Roll src/third_party/skia d7a7586b0d2f..628f0a57d102 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6720 Roll src/third_party/skia 628f0a57d102..1ae419b62b2b (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6721 Roll src/third_party/skia 1ae419b62b2b..e008d6feb2d0 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6723 Roll src/third_party/skia 763fc966993d..3bdaa46bff71 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6724 Roll src/third_party/skia 3bdaa46bff71..f1eda00bf6b0 (11 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6713 Report asset names in loading trace events.
  assets/asset_manager.cc
  assets/zip_asset_store.cc
Labels: cla: yes

#6725 Roll src/third_party/skia f1eda00bf6b0..e978ca297965 (10 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6717 Fixed typo
  examples/hello_flutter/lib/main.dart
Labels: cla: yes

#6726 Add an overlay surface on top of embedded UIViews.
  ci/licenses_golden/licenses_flutter
  flow/embedded_views.h
  flow/layers/clip_path_layer.cc
  flow/layers/clip_rect_layer.cc
  flow/layers/clip_rrect_layer.cc
  flow/layers/layer.cc
  flow/layers/layer.h
  flow/layers/layer_tree.cc
  flow/layers/opacity_layer.cc
  flow/layers/performance_overlay_layer.cc
  flow/layers/physical_shape_layer.cc
  flow/layers/picture_layer.cc
  flow/layers/platform_view_layer.cc
  flow/layers/shader_mask_layer.cc
  flow/layers/texture_layer.cc
  flow/layers/transform_layer.cc
  flow/raster_cache.cc
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterOverlayView.h
  shell/platform/darwin/ios/framework/Source/FlutterOverlayView.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterView.mm
  shell/platform/darwin/ios/ios_surface.h
  shell/platform/darwin/ios/ios_surface.mm
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_software.h
  shell/platform/darwin/ios/ios_surface_software.mm
Labels: cla: yes

#6729 Roll src/third_party/skia 94d7af7bcc96..26fcd7166c74 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6730 Roll src/third_party/skia 26fcd7166c74..2dc1e34f9029 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6731 Roll src/third_party/skia 2dc1e34f9029..13853a120d5a (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6732 Roll src/third_party/skia 13853a120d5a..30edaaac1da4 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6735 Roll src/third_party/skia 30edaaac1da4..3bfe9665aabc (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6716 Propagate positions of secondary pointers in UP events on Android
  lib/ui/hooks.dart
  lib/ui/pointer.dart
  lib/ui/window/pointer_data.cc
  lib/ui/window/pointer_data.h
  shell/platform/android/io/flutter/view/FlutterView.java
Labels: cla: yes

#6736 Update scene_update_context to match recent PaintContext changes.
  flow/scene_update_context.cc
Labels: cla: yes

#6737 Roll src/third_party/skia 3bfe9665aabc..13245412d49e (15 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6739 Roll src/third_party/skia 13245412d49e..1edff303fddb (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6738 Roll freetype2 to a10b062df0c8958d69377aa04ea6554a9961a111
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#6740 Roll src/third_party/skia 1edff303fddb..5d5de8bc79aa (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6741 Roll src/third_party/skia 5d5de8bc79aa..f1ec3918534f (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6742 Roll src/third_party/skia f1ec3918534f..e1b1d056fed9 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6743 Roll src/third_party/skia e1b1d056fed9..b5ae3b5afc29 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6744 Roll src/third_party/skia b5ae3b5afc29..7e4081554d06 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6746 Roll src/third_party/skia 2b21e88ed6dd..99485ace81ac (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6747 Roll src/third_party/skia 99485ace81ac..16d91aaf44fa (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6748 Roll src/third_party/skia 16d91aaf44fa..0a8b4e1acbd6 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6749 Roll src/third_party/skia 0a8b4e1acbd6..51916083e752 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6750 Roll src/third_party/skia 51916083e752..e71e9ef311ba (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#6751 Roll src/third_party/skia e71e9ef311ba..8b35379ae1f1 (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6752 Roll src/third_party/skia 8b35379ae1f1..32262da42bed (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6753 Clear the on-screen surface every frame.
  shell/gpu/gpu_surface_gl.cc
Labels: cla: yes

#6761 Roll src/third_party/skia df8225e253a2..5b2bda70e52f (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6756 Add an Info.plist flag to enable the embedded iOS views preview.
  flow/layers/opacity_layer.cc
  shell/common/rasterizer.cc
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/ios_surface.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_software.mm
Labels: cla: yes

#6762 Roll src/third_party/skia 5b2bda70e52f..11407e56f277 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6763 Revert "Roll freetype2 to a10b062df0c8958d69377aa04ea6554a9961a111 (#…
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#6765 Roll src/third_party/skia 11407e56f277..e6c85755832b (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6766 Roll src/third_party/skia e6c85755832b..e70c6b13dd55 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6768 Roll src/third_party/skia e70c6b13dd55..f2b35e4fb8cc (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6767 fix typo in embedded views preview flag name
  shell/platform/darwin/ios/ios_surface.h
Labels: cla: yes

#6770 Roll src/third_party/skia f2b35e4fb8cc..2aa9a22fe159 (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6771 Add instructions to download the full license log diff.
  tools/licenses/README.md
Labels: cla: yes

#6760 Roll update to harfbuzz to 2.1.0
  DEPS
  ci/licenses_golden/licenses_third_party
  third_party/txt/src/minikin/Layout.cpp
Labels: cla: yes

#6754 [O] Update the contributing guide
  CONTRIBUTING.md
  README.md
Labels: cla: yes

#6773 Roll src/third_party/skia 2aa9a22fe159..630e7d651a34 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autoroller: commit, cla: yes

#6711 Pass scriptCode into Locale on initialization.
  lib/ui/hooks.dart
Labels: cla: yes

#6774 fix setInitialRoute
  .gitignore
  shell/platform/darwin/ios/framework/Headers/FlutterEngine.h
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
Labels: cla: yes

#6775 Roll src/third_party/skia 630e7d651a34..3daed9b12db4 (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6776 Roll src/third_party/skia 3daed9b12db4..2a13921745eb (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6777 Roll src/third_party/skia 2a13921745eb..67f5c0ceac22 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6779 Roll src/third_party/skia 67f5c0ceac22..273fa2f3bd0b (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6781 Fix String comparison as if Java were Dart.
  shell/platform/android/io/flutter/view/FlutterView.java
Labels: cla: yes

#6783 Roll src/third_party/skia 62cc5f581747..b52c273d3f05 (13 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6785 Roll src/third_party/skia b52c273d3f05..f49563bf9276 (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6786 Skia Cleanup
  flow/BUILD.gn
  lib/ui/BUILD.gn
  lib/ui/painting/codec.cc
  shell/common/BUILD.gn
  shell/gpu/BUILD.gn
  shell/platform/android/BUILD.gn
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/embedder/BUILD.gn
  third_party/txt/BUILD.gn
  vulkan/BUILD.gn
Labels: cla: yes

#6788 Roll Dart version to 9c07fb64c48adb3d6fde50bab6b8b641c5b67683 (Dart 2.1.0-dev.9.2)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#6791 avoid overreleasing FlutterView
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
Labels: cla: yes

#6792 Roll src/third_party/skia 71bcc7d63f8c..2f8889b876d3 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6793 Roll src/third_party/skia 2f8889b876d3..23d1f94faac1 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6794 Roll src/third_party/skia 23d1f94faac1..fa8898747551 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6796 Roll src/third_party/skia fa8898747551..5d58d09ae77d (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6728 Add an internal_nodes_canvas to PaintContext.
  flow/embedded_views.h
  flow/layers/layer.h
  flow/layers/layer_tree.cc
  flow/layers/platform_view_layer.cc
  flow/layers/transform_layer.cc
  flow/raster_cache.cc
  flow/scene_update_context.cc
  shell/common/rasterizer.cc
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_software.h
  shell/platform/darwin/ios/ios_surface_software.mm
Labels: cla: yes

#6772 Discard embedded UIViews on hot restart.
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/platform_view_ios.h
  shell/platform/darwin/ios/platform_view_ios.mm
Labels: cla: yes

#6797 Roll src/third_party/skia 5d58d09ae77d..06a477c3300d (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6798 disable embedder_unittests
  testing/run_tests.sh
Labels: cla: yes

#6789 Fix mDNS publishing for iOS simulator
  shell/platform/darwin/ios/framework/Source/FlutterObservatoryPublisher.mm
Labels: cla: yes

#6782 Make the FlutterPlatformViewFactory create FlutterPlatformViews.
  shell/common/rasterizer.cc
  shell/platform/darwin/ios/framework/Headers/FlutterPlatformViews.h
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
Labels: cla: yes

#6800 Include vector in embedded_views.h
  flow/embedded_views.h
Labels: cla: yes

#6801 Roll src/third_party/skia 06a477c3300d..dd650c40d148 (11 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6802 Update paint hinting for upcoming Skia API changes
  third_party/txt/src/txt/paragraph.cc
Labels: cla: yes

#6809 Revert "Roll src/third_party/skia 06a477c3300d..dd650c40d148 (11 commits) (#6801)"
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes

#6769 Support platform view overlays with GL rendering
  ci/licenses_golden/licenses_flutter
  flow/embedded_views.h
  shell/common/rasterizer.cc
  shell/gpu/gpu_surface_gl.cc
  shell/gpu/gpu_surface_gl.h
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterOverlayView.h
  shell/platform/darwin/ios/framework/Source/FlutterOverlayView.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/ios_gl_context.h
  shell/platform/darwin/ios/ios_gl_context.mm
  shell/platform/darwin/ios/ios_gl_render_target.h
  shell/platform/darwin/ios/ios_gl_render_target.mm
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_software.h
  shell/platform/darwin/ios/ios_surface_software.mm
Labels: cla: yes

#6787 Reland "Roll freetype2 to a10b062df0c8958d69377aa04ea6554a9961a111 (#6738)"
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#6803 Fix wrong `flutter/platform_views` protocol implementation on iOS.
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
Labels: cla: yes

#6813 Move the embedded view preview flag check to a common function.
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/ios_surface.h
  shell/platform/darwin/ios/ios_surface.mm
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_software.mm
Labels: cla: yes

#6806 Update Vulkan headers to 1.1
  DEPS
  ci/licenses_golden/licenses_third_party
  tools/licenses/lib/main.dart
  vulkan/vulkan_interface.cc
  vulkan/vulkan_native_surface_android.cc
Labels: cla: yes

#6807 Synchronize Flutter's rendering with CA.
  flow/embedded_views.h
  shell/common/rasterizer.cc
  shell/platform/darwin/ios/framework/Source/FlutterOverlayView.mm
  shell/platform/darwin/ios/framework/Source/FlutterView.mm
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_software.h
  shell/platform/darwin/ios/ios_surface_software.mm
Labels: cla: yes

#6804 Use the internal_nodes_canvas for all leaf node operations.
  flow/layers/clip_path_layer.cc
  flow/layers/clip_rect_layer.cc
  flow/layers/clip_rrect_layer.cc
  flow/layers/layer.cc
  flow/layers/layer.h
  flow/layers/opacity_layer.cc
  flow/layers/performance_overlay_layer.cc
  flow/layers/physical_shape_layer.cc
  flow/layers/picture_layer.cc
  flow/layers/platform_view_layer.cc
  flow/layers/shader_mask_layer.cc
  flow/layers/texture_layer.cc
Labels: cla: yes

#6811 Roll src/third_party/skia 06a477c3300d..ef4709b7850d (31 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autoroller: commit, cla: yes

#6812 Roll Dart version to f9ebf2129732fd2b606286fdf58e500384b8a0bc
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#6815 Roll src/third_party/skia ef4709b7850d..95af4726bf91 (22 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6817 Fix log on simulator for iOS
  shell/platform/darwin/ios/framework/Source/FlutterObservatoryPublisher.mm
Labels: cla: yes

#6816 Ensure that the EGL rendering context is bound to the GPU thread in Rasterizer::MakeRasterSnapshot
  shell/common/rasterizer.cc
  shell/common/surface.cc
  shell/common/surface.h
  shell/gpu/gpu_surface_gl.cc
  shell/gpu/gpu_surface_gl.h
Labels: cla: yes

#6819 Roll src/third_party/skia 95af4726bf91..1c3f17fffa79 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6821 Roll src/third_party/skia 1c3f17fffa79..c7a34cae21d2 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6818 Add docs for not passing empty-strings into Locale
  lib/ui/window.dart
Labels: cla: yes

#6823 Roll src/third_party/skia c7a34cae21d2..0243949545eb (11 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6825 Roll src/third_party/skia 0243949545eb..eb4d641d9437 (10 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6824 SkPaint::FontMetrics -> SkFontMetrics
  third_party/txt/benchmarks/paint_record_benchmarks.cc
  third_party/txt/src/txt/paint_record.cc
  third_party/txt/src/txt/paint_record.h
  third_party/txt/src/txt/paragraph.cc
  third_party/txt/src/txt/paragraph.h
Labels: cla: yes

#6827 Fix MakeRenderContextCurrent to handle software rendering
  shell/common/rasterizer.cc
Labels: cla: yes

#6795 Fix a minikin crash (nullptr& EXC_BAD_ACCESS) on iOS8.
  third_party/txt/src/txt/font_collection.cc
Labels: cla: yes

#6826 Respect offset in OpacityLayer's paint bounds
  flow/layers/opacity_layer.cc
Labels: cla: yes

#6831 Roll src/third_party/skia 6b90dfed6742..82cd7e80a98d (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6830 Avoid announcing text field when it lacks a11y focus
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
Labels: cla: yes

#6840 Roll src/third_party/skia 1e1ba0e0176f..9e3109c99ea5 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6843 Roll src/third_party/skia 9e3109c99ea5..60b6bc3c2950 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6839 - Roll engine to version f9ebf2129732fd2b606286fdf58e500384b8a0bc
  DEPS
  ci/licenses_golden/licenses_third_party
  lib/ui/semantics.dart
Labels: cla: yes

#6844 Fix Windows Engine Bot
  fml/thread_local.cc
  fml/thread_local.h
Labels: cla: yes

#6845 Roll src/third_party/skia 60b6bc3c2950..abde1adc5f0c (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6846 Roll src/third_party/skia abde1adc5f0c..14b9f537c5ee (9 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6834 Avoid a never-disappearing splash screen if the engine came from somewhere else on iOS
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
Labels: cla: yes

#6847 Add missing pragma directive.
  lib/ui/text.dart
Labels: cla: yes

#6848 Roll src/third_party/skia 14b9f537c5ee..1e00aebd9a45 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6852 Roll src/third_party/skia 1e00aebd9a45..b45b53f01cf3 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6854 Remove unused import
  shell/platform/android/io/flutter/plugin/platform/VirtualDisplayController.java
Labels: cla: yes

#6850 Flush UserSettings to window
  lib/ui/hooks.dart
  runtime/runtime_controller.cc
  testing/dart/window_hooks_integration_test.dart
Labels: cla: yes

#6853 Set and unset accessibility flags even when re-entrant
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
Labels: cla: yes

#6855 Roll src/third_party/skia b45b53f01cf3..7f2b6fa66575 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6856 Roll src/third_party/skia 7f2b6fa66575..f152130ef910 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6832 Set up secondary isolates with all kernel buffers rather than just one buffer.
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
Labels: cla: yes

#6814 Return EngineLayer for all SceneBuilder pushXXX
  lib/ui/compositing.dart
  lib/ui/compositing/scene_builder.cc
  lib/ui/compositing/scene_builder.h
Labels: cla: yes

#6857 Reset a11y bridge state on hot restart
  shell/platform/android/io/flutter/view/FlutterNativeView.java
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.h
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
  shell/platform/darwin/ios/platform_view_ios.mm
Labels: cla: yes

#6858 Delegate forwarding for didReceiveLocalNotification and willPresentNotification
  shell/platform/darwin/ios/framework/Headers/FlutterPlugin.h
  shell/platform/darwin/ios/framework/Headers/FlutterPluginAppLifeCycleDelegate.h
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegate.mm
  shell/platform/darwin/ios/framework/Source/FlutterPluginAppLifeCycleDelegate.mm
Labels: affects: dev experience, cla: yes, platform-ios

#6860 Roll src/third_party/skia f152130ef910..44764000b49c (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6859 Clean up stale cache entries in Skia's GrContext
  shell/common/rasterizer.cc
Labels: cla: yes

#6862 Roll src/third_party/skia 7d2aae3165a2..2eccd58916ee (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6863 Roll src/third_party/skia 2eccd58916ee..c3064e7c5139 (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6864 Don't allow for creation of CallbackHandle objects for anonymous closures
  lib/ui/dart_runtime_hooks.cc
Labels: cla: yes

#6865 Roll src/third_party/skia c3064e7c5139..5fb83f94c1f2 (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6866 Revert "Clean up stale cache entries in Skia's GrContext (#6859)"
  shell/common/rasterizer.cc
Labels: cla: yes

#6759 Add presubmit check for license count
  ci/licenses.sh
Labels: cla: yes

#6868 Fix license headers
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/ios/ios_gl_render_target.h
  shell/platform/darwin/ios/ios_gl_render_target.mm
  sky/packages/sky_engine/LICENSE
Labels: cla: yes

#6869 Roll src/third_party/skia 5fb83f94c1f2..2791be403817 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6870 Roll src/third_party/skia 2791be403817..e5bb81f640a1 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6871 Roll src/third_party/skia e5bb81f640a1..dcdb6042002f (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6874 Roll src/third_party/skia dcdb6042002f..c735b4f9dc50 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6875 Roll src/third_party/skia c735b4f9dc50..6e486cec6a10 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6877 Roll src/third_party/skia 6e486cec6a10..c5df7cb3d9f7 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6878 Roll src/third_party/skia c5df7cb3d9f7..a89316d8227b (10 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6880 Roll src/third_party/skia a89316d8227b..c00e47054744 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6881 Roll src/third_party/skia c00e47054744..3b155a77c370 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6882 Remove unused examples targets.
  examples/BUILD.gn
  examples/hello_flutter/lib/main.dart
  examples/hello_flutter/pubspec.yaml
  examples/spinning_square/lib/main.dart
  examples/spinning_square/pubspec.yaml
Labels: cla: yes

#6883 Don't load a splash screen by default
  shell/platform/darwin/ios/framework/Headers/FlutterViewController.h
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
Labels: cla: yes

#6884 Roll src/third_party/skia 3b155a77c370..a2187bf7629a (11 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6885 Keep a copy of each engine's description that can be accessed outside the engine's UI thread
  lib/ui/ui_dart_state.cc
  lib/ui/ui_dart_state.h
  lib/ui/window/window.cc
  lib/ui/window/window.h
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  runtime/runtime_delegate.h
  runtime/service_protocol.cc
  runtime/service_protocol.h
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/shell.cc
  shell/common/shell.h
Labels: cla: yes

#6887 Roll src/third_party/skia a2187bf7629a..281224020a57 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6889 Roll src/third_party/skia 281224020a57..7fb30f11a055 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6891 Roll src/third_party/skia 7fb30f11a055..73b4a1f57254 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6888 Guard the service protocol's global handlers list with a reader/writer lock
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/synchronization/atomic_object.h
  runtime/service_protocol.cc
  runtime/service_protocol.h
Labels: cla: yes

#6892 Roll src/third_party/skia 73b4a1f57254..7e9ea391cfce (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6894 Roll src/third_party/skia 7e9ea391cfce..1bfdd1adfa22 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6895 Guard the service protocol's global handlers list with a reader/writer lock (#6888)
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/platform/posix/shared_mutex_posix.cc
  fml/platform/posix/shared_mutex_posix.h
  fml/synchronization/atomic_object.h
  fml/synchronization/shared_mutex.h
  fml/synchronization/shared_mutex_std.cc
  fml/synchronization/shared_mutex_std.h
  runtime/service_protocol.cc
  runtime/service_protocol.h
Labels: cla: yes

#6897 Roll src/third_party/skia d017e5138c57..66b91e4afb88 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6898 Roll src/third_party/skia 66b91e4afb88..def9bcecd994 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6900 Guard the service protocol's global handlers list with a reader/writer lock.
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/platform/posix/shared_mutex_posix.cc
  fml/platform/posix/shared_mutex_posix.h
  fml/synchronization/atomic_object.h
  fml/synchronization/shared_mutex.h
  fml/synchronization/shared_mutex_std.cc
  fml/synchronization/shared_mutex_std.h
  runtime/service_protocol.cc
  runtime/service_protocol.h
Labels: cla: yes

#6901 Roll src/third_party/skia def9bcecd994..e22505b4f07f (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6902 Roll src/third_party/skia e22505b4f07f..01979132133e (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6904 Roll src/third_party/skia 01979132133e..e7b1a13a1e2a (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6905 Roll src/third_party/skia e7b1a13a1e2a..f7376330d11e (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#6907 Roll src/third_party/skia f2a7a20b32ad..133944a14f4f (12 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes
