Repository flutter/engine, pull requests merged in 2019-02, with the labels that each got.

#7661 Roll src/third_party/skia 88bfed46ab6e..95b014790f93 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7663 Roll src/third_party/skia ae64f52786b3..72a0e3347cdf (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7665 Roll src/third_party/skia 569dda7216cd..5892553ad020 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7666 Roll src/third_party/skia 5892553ad020..3ed198faf93a (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7667 Roll src/third_party/skia 3ed198faf93a..8f5aeebdd8eb (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7669 Roll src/third_party/skia 72c687807f5e..8ec9a60bdb6f (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7670 Roll src/third_party/skia 8ec9a60bdb6f..d6a45a8aee6e (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7671 Roll src/third_party/skia d6a45a8aee6e..48913465db5f (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7672 Roll src/third_party/skia 48913465db5f..0d84e805c30c (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7673 Roll src/third_party/skia 0d84e805c30c..d396dd0347d3 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7674 Roll src/third_party/skia d396dd0347d3..71e434dc9dea (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7675 Roll src/third_party/skia 71e434dc9dea..32d8cce070dd (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7679 Roll src/third_party/skia 9c7a006a8e2d..b45f47dc3ef5 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7680 Roll src/third_party/skia b45f47dc3ef5..21ca3702f8eb (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7682 Roll src/third_party/skia 69130631e23d..8c14038e56c3 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7683 Roll src/third_party/skia 8c14038e56c3..d7a5a1d27e1d (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7685 Roll src/third_party/dart 71bee8f05e..3e5ed47777 (83 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#6558 Retained rendering in Fuchsia PhysicalShapeLayer
  flow/layers/physical_shape_layer.cc
  flow/scene_update_context.cc
  flow/scene_update_context.h
Labels: cla: yes

#7659 DCHECK that clip layer's behavior isn't none
  flow/layers/clip_path_layer.cc
  flow/layers/clip_rect_layer.cc
  flow/layers/clip_rrect_layer.cc
Labels: cla: yes

#7688 Roll src/third_party/skia d7a5a1d27e1d..50ea3c06b80f (9 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7687 Lower the threshold to raster cache pictures
  flow/raster_cache.cc
Labels: cla: yes

#7690 Roll src/third_party/dart 3e5ed47777..b53dceadaa (5 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#7686 Replace hb_face_reference_table with hb_ot_color_has_png in isColorBitmapFont
  third_party/txt/src/minikin/Layout.cpp
Labels: cla: yes

#7691 Don't warn for Async texture uploads on Fuchsia
  shell/common/io_manager.cc
  shell/common/platform_view.cc
Labels: cla: yes

#7693 Roll src/third_party/skia 50ea3c06b80f..2d35a1c87553 (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7692 Ensure dart2js and kernel worker snapshots are copied out of gen dir
  BUILD.gn
Labels: cla: yes

#7696 Roll src/third_party/skia 2d35a1c87553..bb60677d5244 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7697 Roll src/third_party/skia bb60677d5244..0783aca7ba31 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7698 Roll src/third_party/skia 0783aca7ba31..2462ca36c800 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7699 Roll src/third_party/skia 2462ca36c800..5f5e1d57a4ce (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7689 Revert "Disable the persistent cache (#6835)"
  shell/common/persistent_cache.cc
Labels: cla: yes

#7703 Roll src/third_party/skia 5f5e1d57a4ce..0ec8ec27b81c (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7658 Use the Wuffs GIF decoder
  DEPS
  ci/licenses_golden/licenses_skia
  ci/licenses_golden/licenses_third_party
  ci/licenses_golden/tool_signature
  tools/gn
  tools/licenses/lib/licenses.dart
  tools/licenses/lib/main.dart
  tools/licenses/lib/patterns.dart
Labels: cla: yes

#7702 Update snapshot build rules to generate .o files instead of .S files on Windows
  lib/snapshot/BUILD.gn
Labels: Windows, cla: yes

#7701 Revert "Lower the threshold to raster cache pictures"
  flow/raster_cache.cc
Labels: cla: yes

#7694 Create stubbed dart:ui implementation, dart2js libraries file, copy rule
  BUILD.gn
  ci/licenses_golden/licenses_flutter
  lib/stub_ui/BUILD.gn
  lib/stub_ui/compositing.dart
  lib/stub_ui/geometry.dart
  lib/stub_ui/hash_codes.dart
  lib/stub_ui/hooks.dart
  lib/stub_ui/isolate_name_server.dart
  lib/stub_ui/lerp.dart
  lib/stub_ui/libraries.json
  lib/stub_ui/libraries.yaml
  lib/stub_ui/natives.dart
  lib/stub_ui/painting.dart
  lib/stub_ui/plugins.dart
  lib/stub_ui/pointer.dart
  lib/stub_ui/semantics.dart
  lib/stub_ui/text.dart
  lib/stub_ui/ui.dart
  lib/stub_ui/versions.dart
  lib/stub_ui/window.dart
Labels: cla: yes

#7706 Roll src/third_party/dart 5823be65af..c26bf54391 (29 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#7707 Roll src/third_party/skia b26b8998fa9c..fac1e367f428 (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7709 Roll src/third_party/skia fac1e367f428..3abdd7a90e45 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7710 Roll src/third_party/dart c26bf54391..631c550ff9 (1 commits)
  DEPS
Labels: cla: yes

#7711 Roll src/third_party/skia 3abdd7a90e45..37b7d41d01cb (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7712 Roll src/third_party/skia 37b7d41d01cb..455c74797b46 (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7713 Disable wuff on Windows
  tools/gn
Labels: cla: yes

#7714 Roll src/third_party/skia 455c74797b46..429251513f71 (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7716 Roll src/third_party/dart 631c550ff9..adfa4791fc (20 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#7651 Add FlutterProjectArgs::root_isolate_create_callback
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: cla: yes

#7717 Allow all entrypoints support by the command line VM.
  lib/ui/hooks.dart
Labels: cla: yes

#7718 Roll buildroot to c82412bcdcd593f1385a478ae2c4b8eb9814f3b8
  DEPS
Labels: cla: yes

#7720 Roll src/third_party/dart adfa4791fc..caa8747a37 (2 commits)
  DEPS
Labels: cla: yes

#7721 Roll src/third_party/skia 429251513f71..2fc1474f9d62 (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7500 Introduced a number of Java system channels in io/flutter/embedding/engine/systemchannels/
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/engine/dart/DartExecutor.java
  shell/platform/android/io/flutter/embedding/engine/dart/DartMessenger.java
  shell/platform/android/io/flutter/embedding/engine/dart/PlatformMessageHandler.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/KeyEventChannel.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/LifecycleChannel.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/LocalizationChannel.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/NavigationChannel.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/PlatformChannel.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/SystemChannel.java
  shell/platform/android/io/flutter/plugin/common/BinaryMessenger.java
  shell/platform/android/io/flutter/plugin/common/MethodChannel.java
  shell/platform/android/io/flutter/view/FlutterNativeView.java
  shell/platform/android/io/flutter/view/FlutterView.java
Labels: cla: yes

#7724 Roll src/third_party/skia 2fc1474f9d62..f36ad269e88a (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7725 Correct libraries.yaml path for stub_ui, add brightness, copy dart2js_platform.dill files
  BUILD.gn
  lib/stub_ui/BUILD.gn
  lib/stub_ui/libraries.json
  lib/stub_ui/libraries.yaml
  lib/stub_ui/window.dart
Labels: cla: yes

#7727 Roll src/third_party/skia f36ad269e88a..859db6b5a03c (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7728 Roll src/third_party/dart caa8747a37..6c680a0ebd (12 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#7729 Roll src/third_party/skia 859db6b5a03c..c19d81acc096 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7730 Roll src/third_party/skia c19d81acc096..9564bf44e5fa (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7726 Fix versions implementation
  lib/ui/versions.cc
  testing/dart/versions_test.dart
Labels: cla: yes

#7708 [fuchsia] Update scenic include
  flow/layers/clip_path_layer.cc
Labels: cla: yes

#7732 Roll src/third_party/skia 9564bf44e5fa..8619a34bb875 (10 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7736 Roll src/third_party/skia 8619a34bb875..d978b90d205d (17 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7742 Roll src/third_party/dart 6c680a0ebd..9c0a73f943 (31 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#7743 Roll src/third_party/skia d978b90d205d..50e24d7d5f52 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7741 use full git hash for version
  build/git_revision.py
Labels: cla: yes

#7731 [fuchsia] Update path to fuchsia.ui.scenic
  flow/BUILD.gn
Labels: cla: yes

#7745 Roll src/third_party/skia 50e24d7d5f52..26490759e464 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7747 Roll src/third_party/dart 9c0a73f943..246430bc8c (1 commits)
  DEPS
Labels: cla: yes

#7748 Roll src/third_party/skia 26490759e464..44bffbfc1c3e (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7749 Roll src/third_party/skia 44bffbfc1c3e..f2a3f5943e4c (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7750 Roll src/third_party/dart 246430bc8c..52f5e34dbf (5 commits)
  DEPS
Labels: cla: yes

#7739 Add onPlatformBrightnessChanged/platformBrightness to stub ui window.
  lib/stub_ui/BUILD.gn
  lib/stub_ui/window.dart
Labels: cla: yes

#7752 Roll src/third_party/skia f2a3f5943e4c..37064c1739f3 (11 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7744 Support for loading dynamic patches in AOT mode.
  shell/platform/android/io/flutter/view/ResourceUpdater.java
Labels: cla: yes

#7740 Rename macOS framework to FlutterMacOS.framework
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Headers/FlutterMacOS.h
  shell/platform/darwin/macos/framework/Info.plist
  shell/platform/darwin/macos/framework/module.modulemap
Labels: cla: yes

#7751 Create mipmaps for images when uploading them on the IO thread
  lib/ui/painting/codec.cc
Labels: cla: yes

#7755 Document GPUSurfaceGLDelegate methods and move it to its own file.
  ci/licenses_golden/licenses_flutter
  shell/gpu/BUILD.gn
  shell/gpu/gpu_surface_gl.h
  shell/gpu/gpu_surface_gl_delegate.h
Labels: cla: yes

#7756 Add flutter config to macOS targets
  shell/platform/darwin/BUILD.gn
Labels: cla: yes

#7757 Roll src/third_party/skia 37064c1739f3..be39f713e530 (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7537 Add mock capability to PerformanceOverlayLayer
  ci/licenses_golden/licenses_flutter
  flow/BUILD.gn
  flow/layers/performance_overlay_layer.cc
  flow/layers/performance_overlay_layer.h
  flow/layers/performance_overlay_layer_unittests.cc
  testing/resources/performance_overlay_gold.png
Labels: cla: yes

#7746 Don't call OnAnimatorNotifyIdle if a frame is scheduled
  shell/common/animator.cc
Labels: cla: yes

#7753 allow specifying out directory root
  tools/gn
Labels: cla: yes

#7760 Roll src/third_party/dart 52f5e34dbf..174d6fec3d (12 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#7759 Throttle picture raster cache
  flow/raster_cache.cc
  flow/raster_cache.h
Labels: cla: yes

#7761 Roll src/third_party/skia be39f713e530..706a7cd1e826 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7763 Roll src/third_party/skia 706a7cd1e826..87461aad7285 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7764 Add x bit to some python scripts
  sky/tools/dist_dart_pkg.py
  sky/tools/install_framework_headers.py
  sky/tools/objcopy.py
Labels: cla: yes

#7765 Revert "Add mock capability to PerformanceOverlayLayer"
  ci/licenses_golden/licenses_flutter
  flow/BUILD.gn
  flow/layers/performance_overlay_layer.cc
  flow/layers/performance_overlay_layer.h
  flow/layers/performance_overlay_layer_unittests.cc
  testing/resources/performance_overlay_gold.png
Labels: cla: yes

#7610 Provide public api to allow FlutterEngine related context to be destoryed
  shell/platform/darwin/ios/framework/Headers/FlutterEngine.h
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
Labels: affects: engine, cla: yes, customer: gold, platform-ios

#7766 Roll src/third_party/skia 87461aad7285..5c211130646b (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7767 Roll src/third_party/skia 5c211130646b..1f43a4359d7d (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7768 Roll src/third_party/skia 1f43a4359d7d..0b36acdad970 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7769 Roll src/third_party/skia 0b36acdad970..cd9ef731fe75 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7762 Allow specifying the out directory prefix
  ci/analyze.sh
Labels: cla: yes

#7770 Roll src/third_party/skia cd9ef731fe75..dafd65217b4e (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7771 Roll src/third_party/skia dafd65217b4e..1e1bc8de5671 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7772 Roll src/third_party/skia 1e1bc8de5671..475134f2de57 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7773 Roll src/third_party/skia 475134f2de57..fbe2e937c798 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7774 Roll src/third_party/skia fbe2e937c798..5fc138c04690 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7775 Roll src/third_party/skia 5fc138c04690..ef26fcb13fc6 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7778 Roll src/third_party/skia ef26fcb13fc6..136cd7018a99 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7779 Roll src/third_party/dart 174d6fec3d..fdfe40ea95 (27 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#7781 Roll src/third_party/skia 136cd7018a99..d336ebdea812 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7784 Roll src/third_party/skia d336ebdea812..77a1a7e6182e (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7737 Provide a default pressure range if a MotionEvent does not have a device
  shell/platform/android/io/flutter/view/FlutterView.java
Labels: cla: yes

#7719 libtxt: support justification of RTL text
  third_party/txt/src/txt/paragraph.cc
  third_party/txt/src/txt/paragraph.h
  third_party/txt/tests/paragraph_unittests.cc
Labels: cla: yes

#7785 Don't use WUFFs
  tools/gn
Labels: cla: yes

#7786 Update licenses for the switch away from the Wuffs GIF decoder
  ci/licenses_golden/licenses_skia
  ci/licenses_golden/tool_signature
  tools/licenses/lib/main.dart
Labels: cla: yes

#7787 Roll src/third_party/skia 77a1a7e6182e..103288b50fa7 (16 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autoroller: commit, cla: yes

#7789 Revert "Roll src/third_party/dart fdfe40ea95..de2e7e7721 (7 commits)"
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#7758 Recommended implementation of combining characters implementation.
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/engine/android/AndroidKeyProcessor.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/KeyEventChannel.java
  shell/platform/android/io/flutter/view/FlutterView.java
Labels: cla: yes

#7790 Allow embedders to specify pointer device IDs.
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
Labels: cla: yes

#7792 Roll src/third_party/skia 103288b50fa7..454e5fb7457d (11 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7777 Support for binary decompression of dynamic patches.
  ci/licenses.sh
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/util/BSDiff.java
  shell/platform/android/io/flutter/view/ResourceExtractor.java
Labels: cla: yes

#7793 Roll src/third_party/dart fdfe40ea95..754e5f404c (13 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes

#7794 Roll src/third_party/skia 454e5fb7457d..233fc0b03c02 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7795 Roll src/third_party/skia 233fc0b03c02..217acf58d0d8 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7796 Roll src/third_party/dart 754e5f404c..ecd7a88606 (8 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#7734 Use all font managers to discover fonts for strut.
  third_party/txt/src/txt/font_collection.cc
  third_party/txt/src/txt/font_collection.h
  third_party/txt/src/txt/paragraph.cc
  third_party/txt/tests/paragraph_unittests.cc
Labels: cla: yes

#7797 Roll src/third_party/skia 217acf58d0d8..63d477cd99b0 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7798 Roll src/third_party/skia 63d477cd99b0..0b6ae6386d34 (9 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7801 Revert "Use all font managers to discover fonts for strut. (#7734)"
  third_party/txt/src/txt/font_collection.cc
  third_party/txt/src/txt/font_collection.h
  third_party/txt/src/txt/paragraph.cc
  third_party/txt/tests/paragraph_unittests.cc
Labels: cla: yes

#7802 Roll src/third_party/skia 0b6ae6386d34..14d64dd4c47c (10 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7805 Roll src/third_party/skia 14d64dd4c47c..66f09a72995a (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7804 Add support for new Scenic clip planes.
  flow/layers/clip_rrect_layer.cc
  flow/scene_update_context.cc
Labels: cla: yes

#7810 Roll src/third_party/skia 66f09a72995a..94a5328e0e4b (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7812 Roll src/third_party/skia 94a5328e0e4b..b6f53783337e (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7809 Use newer Skia API for PathMeasure
  lib/ui/painting.dart
  lib/ui/painting/path_measure.cc
  lib/ui/painting/path_measure.h
  testing/dart/path_test.dart
Labels: cla: yes

#7816 Roll src/third_party/skia b6f53783337e..186669c4128b (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7811 Add FFI to libraries.yaml.
  lib/snapshot/libraries.json
  lib/snapshot/libraries.yaml
Labels: cla: yes

#7817 Roll src/third_party/dart ecd7a88606..0a7dcf17eb (4 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#7814 Fix typo in painting.dart
  lib/ui/painting.dart
Labels: cla: yes, waiting for tree to go green

#7815 Allow specifying the buildtools path
  testing/symbols/verify_exported.dart
Labels: cla: yes, waiting for tree to go green

#7791 Add space metrics tracking for trailing whitespace "ghost" runs.
  third_party/txt/src/txt/paint_record.cc
  third_party/txt/src/txt/paint_record.h
  third_party/txt/src/txt/paragraph.cc
  third_party/txt/src/txt/paragraph.h
  third_party/txt/tests/paragraph_unittests.cc
Labels: cla: yes

#7818 Roll src/third_party/dart 0a7dcf17eb..c92d5ca288 (64 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#7819 Fix tests that were committed after cirrus ran
  third_party/txt/tests/paragraph_unittests.cc
Labels: cla: yes

#7820 Roll src/third_party/skia 186669c4128b..09c01e9df260 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7821 Roll src/third_party/skia 09c01e9df260..4037f7f5d8b4 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7807 Add flow events connecting pointer events to frames
  shell/common/animator.cc
  shell/common/animator.h
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/shell.cc
  shell/common/shell.h
  shell/platform/android/android_shell_holder.cc
  shell/platform/android/android_shell_holder.h
  shell/platform/embedder/embedder_engine.cc
  shell/platform/embedder/embedder_engine.h
Labels: cla: yes

#7823 Roll src/third_party/skia 4037f7f5d8b4..6152470dc69e (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7824 Roll src/third_party/skia 6152470dc69e..a0dcd29f536b (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7825 Roll src/third_party/skia a0dcd29f536b..9a88bee122f1 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7826 Pass flow id properly.
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
Labels: cla: yes

#7830 Move up ndk version that is being downloaded(old one no longer available).
  DEPS
Labels: cla: yes

#7831 Roll src/third_party/skia 9a88bee122f1..b00f7b34751b (24 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7835 Roll src/third_party/skia b00f7b34751b..7a74c7cb6da0 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7839 Ensure to pass dill file after VM options for gen_snapshot
  lib/snapshot/BUILD.gn
Labels: cla: yes

#7840 Roll src/third_party/skia 7a74c7cb6da0..154acd7a1374 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7806 Remove the Dart JIT snapshot data from AOT builds of the embedder library
  DEPS
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/tests/embedder_unittests.cc
  testing/testing.gni
Labels: cla: yes

#7842 Roll src/third_party/skia 154acd7a1374..be9aff25bddc (13 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7843 Add support for calling into other plugins from a background context on iOS
  shell/platform/darwin/ios/framework/Headers/FlutterPlugin.h
Labels: cla: yes
