Repository flutter/engine, pull requests merged in 2019-11, with the labels that each got.

#13478 use check_output instead of check_call
  testing/run_tests.py
Labels: cla: yes

#13479 Print the output
  testing/run_tests.py
Labels: cla: yes

#13480 Disabled GPUThreadMerger tests.
  testing/run_tests.py
Labels: cla: yes

#13482 [fuchsia] [packaging] Fuchsia tree expects nested bz2 archives
  tools/fuchsia/merge_and_upload_debug_symbols.py
Labels: cla: yes

#13451 Fix mDNS for iOS13
  ci/licenses_golden/licenses_flutter
  common/BUILD.gn
  common/config.gni
  common/runtime.h
  flow/raster_cache.cc
  runtime/dart_snapshot.cc
  runtime/dart_vm.cc
  shell/common/shell.cc
  shell/common/shell_unittests.cc
  shell/common/switches.cc
  shell/platform/darwin/ios/framework/Source/FlutterObservatoryPublisher.mm
Labels: cla: yes, waiting for tree to go green

#13474 Request a reattach when creating the text input plugin on Android
  shell/platform/android/io/flutter/embedding/engine/systemchannels/TextInputChannel.java
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
Labels: cla: yes, waiting for tree to go green

#13472 Roll src/third_party/skia 809ec77893be..283ec65f632a (14 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13477 Roll fuchsia/sdk/core/mac-amd64 from JngMB... to FKqQ_...
  DEPS
Labels: autoroller: commit, cla: yes

#13475 Roll fuchsia/sdk/core/linux-amd64 from 866GG... to dhwMR...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#13460 [dart] Makes the intl services available
  shell/platform/fuchsia/dart_runner/meta/dart_aot_runner.cmx
  shell/platform/fuchsia/dart_runner/meta/dart_jit_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_jit_product_runner.cmx
Labels: cla: yes

#13432 Release shim bindings when detaching
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/engine/plugins/shim/ShimPluginRegistry.java
  shell/platform/android/io/flutter/embedding/engine/plugins/shim/ShimRegistrar.java
  shell/platform/android/test/io/flutter/FlutterTestSuite.java
  shell/platform/android/test/io/flutter/embedding/engine/plugins/shim/ShimPluginRegistryTest.java
Labels: cla: yes

#13490 Roll fuchsia/sdk/core/mac-amd64 from FKqQ_... to ggsQ5...
  DEPS
Labels: autoroller: commit, cla: yes

#13489 Roll src/third_party/skia 283ec65f632a..8e083eee8ece (32 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13614 Roll src/third_party/dart bbe2ac28c9..ab5cf0f854 (73 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#13483 web: fix Paragraph.getBoxesForRange for zero-length ranges
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/test/paragraph_test.dart
Labels: cla: yes

#13535 Roll fuchsia/sdk/core/mac-amd64 from ggsQ5... to XcaoM...
  DEPS
Labels: autoroller: commit, cla: yes

#13543 Roll src/third_party/skia 8e083eee8ece..4cc2dc64ff13 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#11913 Added new lifecycle enum
  lib/ui/window.dart
  lib/web_ui/lib/src/ui/window.dart
  runtime/runtime_controller.h
  shell/common/engine.cc
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/LifecycleChannel.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  testing/scenario_app/ios/Scenarios/ScenariosTests/AppLifecycleTests.m
Labels: CQ+1, cla: yes, prod: API break, waiting for tree to go green

#13632 Revert "Added new lifecycle enum (#11913)"
  lib/ui/window.dart
  lib/web_ui/lib/src/ui/window.dart
  runtime/runtime_controller.h
  shell/common/engine.cc
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/LifecycleChannel.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  testing/scenario_app/ios/Scenarios/ScenariosTests/AppLifecycleTests.m
Labels: cla: yes

#13643 Ensure that the CAMetalLayer FBO attachments can be read from.
  shell/gpu/gpu_surface_metal.mm
Labels: cla: yes

#13637 Roll src/third_party/skia 4cc2dc64ff13..4a4f34b76f3a (19 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13649 Add 'Cough' test font and support multiple test fonts.
  lib/ui/text/font_collection.cc
  runtime/test_font_data.cc
  runtime/test_font_data.h
  third_party/txt/src/txt/test_font_manager.cc
  third_party/txt/src/txt/test_font_manager.h
Labels: cla: yes

#13688 Roll src/third_party/dart ab5cf0f854..8bdca37e98 (23 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#13630 Fix bug where Enter doesn't add new line in multi-line fields
  lib/web_ui/lib/src/engine/text_editing/input_type.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/text_editing_test.dart
Labels: affects: text input, cla: yes, platform-web

#13634 [web] Ignore changes in *.ttf files in felt build watch mode
  lib/web_ui/dev/build.dart
Labels: cla: yes, platform-web

#13665 Roll fuchsia/sdk/core/mac-amd64 from XcaoM... to bCFtP...
  DEPS
Labels: autoroller: commit, cla: yes

#13690 Roll fuchsia/clang/mac-amd64 from 6tttO... to OzTZO...
  DEPS
Labels: autoroller: commit, cla: yes

#13694 Roll fuchsia/clang/linux-amd64 from WxGHg... to OT6p3...
  DEPS
Labels: autoroller: commit, cla: yes

#13659 Roll src/third_party/skia 4a4f34b76f3a..f3d4109a793b (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13695 Fix Class.forName unchecked call warning
  shell/platform/android/io/flutter/embedding/engine/FlutterEngine.java
Labels: cla: yes

#13642 Issues/39832 reland
  lib/ui/window.dart
  lib/web_ui/lib/src/ui/window.dart
  runtime/runtime_controller.h
  shell/common/engine.cc
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/LifecycleChannel.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  testing/scenario_app/ios/Scenarios/ScenariosTests/AppLifecycleTests.m
Labels: CQ+1, cla: yes

#13651 Fixed the scroll direction for iOS horizontal accessibility scroll events.
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
Labels: cla: yes

#13262 Added Semantic header support on Android.
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
Labels: cla: yes

#13698 Fix plugin registrant reflection path. (#44161)
  shell/platform/android/io/flutter/embedding/engine/FlutterEngine.java
Labels: cla: yes

#13696 [fuchsia] Temporarily disable intl provider
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/meta/flutter_aot_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_jit_product_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_jit_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_runner_tests.cmx
Labels: cla: yes

#13699 [web] Don't send keyboard events from text fields to flutter
  lib/web_ui/dev/chrome.dart
  lib/web_ui/lib/src/engine/keyboard.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/keyboard_test.dart
Labels: cla: yes

#13702 Fix editing selection and deletion on macOS
  shell/platform/darwin/macos/framework/Source/FlutterTextInputPlugin.mm
Labels: cla: yes

#13660 Fix splash screen lookup. (#44131)
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
Labels: cla: yes

#13707 Roll src/third_party/skia f3d4109a793b..cdc0c23f1a2e (36 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13709 Roll src/third_party/dart 8bdca37e98..51016532e8 (21 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#13712 Roll src/third_party/skia cdc0c23f1a2e..f00524707da7 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13713 Roll src/third_party/dart 51016532e8..80fc4d54e5 (2 commits)
  DEPS
Labels: cla: yes

#13714 Roll fuchsia/sdk/core/mac-amd64 from bCFtP... to 6Du8E...
  DEPS
Labels: autoroller: commit, cla: yes

#13715 Roll src/third_party/skia f00524707da7..6e54a299cce9 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13716 Roll src/third_party/dart 80fc4d54e5..24f1f313a2 (5 commits)
  DEPS
Labels: cla: yes

#13717 Roll src/third_party/dart 24f1f313a2..462a448ac8 (2 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#13718 Roll src/third_party/skia 6e54a299cce9..6790423f84ef (11 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13719 Fix NPE in splash screen lookup
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
Labels: cla: yes

#13708 Ensure that the device pixel ratio is taken into account with window metrics in physical pixels.
  ci/licenses_golden/licenses_flutter
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder_external_view_embedder.cc
  shell/platform/embedder/fixtures/dpr_noxform.png
  shell/platform/embedder/fixtures/dpr_xform.png
  shell/platform/embedder/fixtures/main.dart
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: cla: yes

#13720 Revert "Added new lifecycle enum"
  lib/ui/window.dart
  lib/web_ui/lib/src/ui/window.dart
  runtime/runtime_controller.h
  shell/common/engine.cc
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/LifecycleChannel.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  testing/scenario_app/ios/Scenarios/ScenariosTests/AppLifecycleTests.m
Labels: cla: yes

#13471 Package fml_unittests in a .far file for fml unit tests on Fuchsia
  BUILD.gn
  fml/BUILD.gn
  testing/fuchsia/meta/fuchsia_test.cmx
  tools/fuchsia/fuchsia_archive.gni
Labels: cla: yes

#13723 Roll src/third_party/dart 462a448ac8..c154677699 (2 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#13722 [web] Proper support for text field's obscureText
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/text_editing_test.dart
Labels: affects: text input, cla: yes, platform-web

#13724 Roll src/third_party/skia 6790423f84ef..714f8cc3ff4b (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13725 Roll src/third_party/dart c154677699..bdd9e74afc (3 commits)
  DEPS
Labels: cla: yes

#13726 Roll fuchsia/sdk/core/mac-amd64 from 6Du8E... to r1tS4...
  DEPS
Labels: autoroller: commit, cla: yes

#13729 Roll src/third_party/skia 714f8cc3ff4b..f66ec5d69d04 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13730 Roll src/third_party/dart bdd9e74afc..4b9638aaa1 (7 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#13735 Cleanup obsolete --strong option of front-end server
  testing/run_tests.py
  testing/scenario_app/compile_ios_jit.sh
Labels: cla: yes

#13728 Prefer SchedulerBinding.addTimingsCallback
  lib/ui/window.dart
Labels: cla: yes

#13734 Roll fuchsia/sdk/core/mac-amd64 from r1tS4... to H_5HL...
  DEPS
Labels: autoroller: commit, cla: yes

#13732 Roll src/third_party/skia f66ec5d69d04..345a2735e2c8 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13738 Removed scary experimental warnings for new embedding. (#44314)
  shell/platform/android/io/flutter/embedding/engine/FlutterEngine.java
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/engine/FlutterShellArgs.java
  shell/platform/android/io/flutter/embedding/engine/dart/DartMessenger.java
  shell/platform/android/io/flutter/embedding/engine/dart/PlatformMessageHandler.java
Labels: cla: yes

#13440 Switch to Cirrus Dockerfile as CI
  .cirrus.yml
  ci/docker/build/README.md
Labels: cla: yes

#13737 [web] Don't run engine tests under vm (causing warnings)
  lib/web_ui/build.yaml
Labels: cla: yes

#13742 Only specify --no-link-platform when not specifying --aot, roll dart-lang sdk
  DEPS
  ci/licenses_golden/licenses_third_party
  tools/fuchsia/dart_kernel.gni
Labels: cla: yes

#13745 Roll src/third_party/skia 345a2735e2c8..76eaab6b8cef (18 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13744 Create a new picture recorder even when the embedder supplied render target is recycled.
  shell/platform/embedder/embedder_external_view_embedder.cc
  shell/platform/embedder/fixtures/main.dart
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: cla: yes

#13746 Roll src/third_party/skia 76eaab6b8cef..3fd426d19df3 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13749 Roll src/third_party/skia 3fd426d19df3..99b558b594a1 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13750 Roll fuchsia/sdk/core/mac-amd64 from H_5HL... to KRali...
  DEPS
Labels: autoroller: commit, cla: yes

#13751 Roll src/third_party/skia 99b558b594a1..8c1e265f6f81 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13314 Guarding EAGLContext used by Flutter
  ci/licenses_golden/licenses_flutter
  shell/common/BUILD.gn
  shell/common/gl_context_switch_manager.cc
  shell/common/gl_context_switch_manager.h
  shell/common/shell_test.cc
  shell/common/shell_test.h
  shell/common/surface.cc
  shell/common/surface.h
  shell/gpu/gpu_surface_gl.cc
  shell/gpu/gpu_surface_gl.h
  shell/gpu/gpu_surface_gl_delegate.h
  shell/platform/android/android_surface_gl.cc
  shell/platform/android/android_surface_gl.h
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/ios_gl_context.h
  shell/platform/darwin/ios/ios_gl_context.mm
  shell/platform/darwin/ios/ios_gl_context_switch_manager.h
  shell/platform/darwin/ios/ios_gl_context_switch_manager.mm
  shell/platform/darwin/ios/ios_gl_render_target.h
  shell/platform/darwin/ios/ios_gl_render_target.mm
  shell/platform/darwin/ios/ios_surface.h
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_software.h
  shell/platform/darwin/ios/ios_surface_software.mm
  shell/platform/darwin/ios/platform_view_ios.mm
  shell/platform/embedder/embedder_surface_gl.cc
  shell/platform/embedder/embedder_surface_gl.h
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/xcshareddata/xcschemes/Scenarios.xcscheme
  testing/scenario_app/ios/Scenarios/Scenarios/AppDelegate.m
  testing/scenario_app/ios/Scenarios/Scenarios/GLTestPlatformView.h
  testing/scenario_app/ios/Scenarios/Scenarios/GLTestPlatformView.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/PlatformViewGLTests.m
  testing/scenario_app/lib/main.dart
  testing/scenario_app/lib/src/platform_view.dart
  testing/scenario_app/lib/src/texture.dart
Labels: cla: yes, platform-ios

#13753 Revert "Guarding EAGLContext used by Flutter"
  ci/licenses_golden/licenses_flutter
  shell/common/BUILD.gn
  shell/common/gl_context_switch_manager.cc
  shell/common/gl_context_switch_manager.h
  shell/common/shell_test.cc
  shell/common/shell_test.h
  shell/common/surface.cc
  shell/common/surface.h
  shell/gpu/gpu_surface_gl.cc
  shell/gpu/gpu_surface_gl.h
  shell/gpu/gpu_surface_gl_delegate.h
  shell/platform/android/android_surface_gl.cc
  shell/platform/android/android_surface_gl.h
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/ios_gl_context.h
  shell/platform/darwin/ios/ios_gl_context.mm
  shell/platform/darwin/ios/ios_gl_context_switch_manager.h
  shell/platform/darwin/ios/ios_gl_context_switch_manager.mm
  shell/platform/darwin/ios/ios_gl_render_target.h
  shell/platform/darwin/ios/ios_gl_render_target.mm
  shell/platform/darwin/ios/ios_surface.h
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_software.h
  shell/platform/darwin/ios/ios_surface_software.mm
  shell/platform/darwin/ios/platform_view_ios.mm
  shell/platform/embedder/embedder_surface_gl.cc
  shell/platform/embedder/embedder_surface_gl.h
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/xcshareddata/xcschemes/Scenarios.xcscheme
  testing/scenario_app/ios/Scenarios/Scenarios/AppDelegate.m
  testing/scenario_app/ios/Scenarios/Scenarios/GLTestPlatformView.h
  testing/scenario_app/ios/Scenarios/Scenarios/GLTestPlatformView.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/PlatformViewGLTests.m
  testing/scenario_app/lib/main.dart
  testing/scenario_app/lib/src/platform_view.dart
  testing/scenario_app/lib/src/texture.dart
Labels: cla: yes

#13754 Roll src/third_party/skia 8c1e265f6f81..c88d1774ed50 (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13747 Move TextRange from the framework to dart:ui.
  lib/ui/text.dart
  lib/web_ui/lib/src/ui/text.dart
  lib/web_ui/test/text_test.dart
  testing/dart/text_test.dart
Labels: cla: yes

#13755 Reland "Guarding EAGLContext used by Flutter #13314"
  ci/licenses_golden/licenses_flutter
  shell/common/BUILD.gn
  shell/common/gl_context_switch_manager.cc
  shell/common/gl_context_switch_manager.h
  shell/common/shell_test.cc
  shell/common/shell_test.h
  shell/common/surface.cc
  shell/common/surface.h
  shell/gpu/gpu_surface_gl.cc
  shell/gpu/gpu_surface_gl.h
  shell/gpu/gpu_surface_gl_delegate.h
  shell/platform/android/android_surface_gl.cc
  shell/platform/android/android_surface_gl.h
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/ios_gl_context.h
  shell/platform/darwin/ios/ios_gl_context.mm
  shell/platform/darwin/ios/ios_gl_context_switch_manager.h
  shell/platform/darwin/ios/ios_gl_context_switch_manager.mm
  shell/platform/darwin/ios/ios_gl_render_target.h
  shell/platform/darwin/ios/ios_gl_render_target.mm
  shell/platform/darwin/ios/ios_surface.h
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_software.h
  shell/platform/darwin/ios/ios_surface_software.mm
  shell/platform/darwin/ios/platform_view_ios.mm
  shell/platform/embedder/embedder_surface_gl.cc
  shell/platform/embedder/embedder_surface_gl.h
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/xcshareddata/xcschemes/Scenarios.xcscheme
  testing/scenario_app/ios/Scenarios/Scenarios/AppDelegate.m
  testing/scenario_app/ios/Scenarios/Scenarios/GLTestPlatformView.h
  testing/scenario_app/ios/Scenarios/Scenarios/GLTestPlatformView.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/PlatformViewGLTests.m
  testing/scenario_app/lib/main.dart
  testing/scenario_app/lib/src/platform_view.dart
  testing/scenario_app/lib/src/texture.dart
Labels: cla: yes

#13748 [web] Support gif/webp animations, Speed up image drawing in BitmapCanvas.
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/html_image_codec.dart
  lib/web_ui/lib/src/engine/recording_canvas.dart
  lib/web_ui/test/golden_tests/engine/canvas_draw_image_golden_test.dart
Labels: cla: yes

#13757 Revert "Reland "Guarding EAGLContext used by Flutter #13314""
  ci/licenses_golden/licenses_flutter
  shell/common/BUILD.gn
  shell/common/gl_context_switch_manager.cc
  shell/common/gl_context_switch_manager.h
  shell/common/shell_test.cc
  shell/common/shell_test.h
  shell/common/surface.cc
  shell/common/surface.h
  shell/gpu/gpu_surface_gl.cc
  shell/gpu/gpu_surface_gl.h
  shell/gpu/gpu_surface_gl_delegate.h
  shell/platform/android/android_surface_gl.cc
  shell/platform/android/android_surface_gl.h
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/ios_gl_context.h
  shell/platform/darwin/ios/ios_gl_context.mm
  shell/platform/darwin/ios/ios_gl_context_switch_manager.h
  shell/platform/darwin/ios/ios_gl_context_switch_manager.mm
  shell/platform/darwin/ios/ios_gl_render_target.h
  shell/platform/darwin/ios/ios_gl_render_target.mm
  shell/platform/darwin/ios/ios_surface.h
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_software.h
  shell/platform/darwin/ios/ios_surface_software.mm
  shell/platform/darwin/ios/platform_view_ios.mm
  shell/platform/embedder/embedder_surface_gl.cc
  shell/platform/embedder/embedder_surface_gl.h
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/xcshareddata/xcschemes/Scenarios.xcscheme
  testing/scenario_app/ios/Scenarios/Scenarios/AppDelegate.m
  testing/scenario_app/ios/Scenarios/Scenarios/GLTestPlatformView.h
  testing/scenario_app/ios/Scenarios/Scenarios/GLTestPlatformView.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/PlatformViewGLTests.m
  testing/scenario_app/lib/main.dart
  testing/scenario_app/lib/src/platform_view.dart
  testing/scenario_app/lib/src/texture.dart
Labels: cla: yes

#13756 Manual roll of Dart e68ca9b652acdb642668a6acb5f630d5be6c03da...fa4379…
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#13736 libtxt: pass an RTL bool flag instead of a bidiFlags enum to measureText
  third_party/txt/BUILD.gn
  third_party/txt/src/minikin/LineBreaker.cpp
  third_party/txt/src/txt/paragraph_txt.h
  third_party/txt/tests/paragraph_unittests.cc
  third_party/txt/third_party/fonts/NotoSansKhmer-Regular.ttf
Labels: cla: yes

#13760 Implement Path.computeMetrics in the CanvasKit backend
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/compositor/path.dart
  lib/web_ui/lib/src/engine/compositor/path_metrics.dart
  lib/web_ui/lib/src/ui/canvas.dart
Labels: cla: yes

#13761 Manual Dart roll fa4379946109467c8a48f20f19d83d7c72968a3e...d45c3d15cb3cea0104a87697c085259666eec528
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#13764 Roll src/third_party/skia c88d1774ed50..4135cf0b57c2 (13 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13766 Roll fuchsia/sdk/core/mac-amd64 from KRali... to eq_Rz...
  DEPS
Labels: autoroller: commit, cla: yes

#13765 Change wordBoundary to take dynamic temporarily
  lib/ui/text.dart
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/lib/src/ui/text.dart
Labels: cla: yes

#13763 Remove usage of fuchsia.modular.Clipboard.
  shell/platform/fuchsia/dart_runner/integration/meta/dart_aot_runner_test.cmx
  shell/platform/fuchsia/dart_runner/integration/meta/dart_jit_runner_test.cmx
  shell/platform/fuchsia/dart_runner/vmservice/meta/vmservice.cmx
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/engine_flutter_runner.gni
  shell/platform/fuchsia/flutter/platform_view.cc
  shell/platform/fuchsia/flutter/platform_view.h
Labels: cla: yes

#13762 Turn on RasterCache based on view hierarchy
  ci/licenses_golden/licenses_flutter
  flow/layers/container_layer.cc
  flow/layers/layer.h
  flow/layers/opacity_layer.cc
  flow/layers/platform_view_layer.cc
  flow/raster_cache.cc
  flow/raster_cache.h
  shell/common/shell.cc
  shell/common/shell.h
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder_engine.cc
  shell/platform/embedder/embedder_engine.h
  shell/platform/embedder/fixtures/main.dart
  shell/platform/embedder/fixtures/verifyb143464703_soft_noxform.png
  shell/platform/embedder/tests/embedder_assertions.h
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: cla: yes

#13721 Revert "[fuchsia] Temporarily disable intl provider (#13696)"
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/meta/flutter_aot_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_jit_product_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_jit_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_runner_tests.cmx
Labels: cla: yes

#13739 Point old plugin registry accessors to new embedding plugin accessors. (#44225)
  shell/platform/android/io/flutter/embedding/engine/plugins/FlutterPlugin.java
  shell/platform/android/io/flutter/embedding/engine/plugins/activity/ActivityPluginBinding.java
  shell/platform/android/io/flutter/plugin/common/PluginRegistry.java
Labels: cla: yes

#13759 Reland "Guarding EAGLContext used by Flutter #13314"
  ci/licenses_golden/licenses_flutter
  shell/common/BUILD.gn
  shell/common/rasterizer.cc
  shell/common/renderer_context_switch_manager.cc
  shell/common/renderer_context_switch_manager.h
  shell/common/shell_test.cc
  shell/common/shell_test.h
  shell/common/surface.cc
  shell/common/surface.h
  shell/gpu/gpu_surface_gl.cc
  shell/gpu/gpu_surface_gl.h
  shell/gpu/gpu_surface_gl_delegate.h
  shell/gpu/gpu_surface_metal.h
  shell/gpu/gpu_surface_metal.mm
  shell/platform/android/android_surface_gl.cc
  shell/platform/android/android_surface_gl.h
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/ios_gl_context.h
  shell/platform/darwin/ios/ios_gl_context.mm
  shell/platform/darwin/ios/ios_gl_context_switch_manager.h
  shell/platform/darwin/ios/ios_gl_context_switch_manager.mm
  shell/platform/darwin/ios/ios_gl_render_target.h
  shell/platform/darwin/ios/ios_gl_render_target.mm
  shell/platform/darwin/ios/ios_surface.h
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_metal.h
  shell/platform/darwin/ios/ios_surface_metal.mm
  shell/platform/darwin/ios/ios_surface_software.h
  shell/platform/darwin/ios/ios_surface_software.mm
  shell/platform/darwin/ios/platform_view_ios.mm
  shell/platform/embedder/embedder_surface_gl.cc
  shell/platform/embedder/embedder_surface_gl.h
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/xcshareddata/xcschemes/Scenarios.xcscheme
  testing/scenario_app/ios/Scenarios/Scenarios/AppDelegate.m
  testing/scenario_app/ios/Scenarios/Scenarios/GLTestPlatformView.h
  testing/scenario_app/ios/Scenarios/Scenarios/GLTestPlatformView.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/PlatformViewGLTests.m
  testing/scenario_app/lib/main.dart
  testing/scenario_app/lib/src/platform_view.dart
  testing/scenario_app/lib/src/texture.dart
Labels: CQ+1, cla: yes

#13770 Roll src/third_party/skia 4135cf0b57c2..0fd4f01b9b83 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13771 Roll fuchsia/sdk/core/mac-amd64 from eq_Rz... to xC_an...
  DEPS
Labels: autoroller: commit, cla: yes

#13773 Roll fuchsia/sdk/core/mac-amd64 from xC_an... to 4JJNo...
  DEPS
Labels: autoroller: commit, cla: yes

#13774 Roll fuchsia/sdk/core/mac-amd64 from 4JJNo... to RrTFI...
  DEPS
Labels: autoroller: commit, cla: yes

#13775 Roll fuchsia/sdk/core/mac-amd64 from RrTFI... to TnTbF...
  DEPS
Labels: autoroller: commit, cla: yes

#13778 Roll src/third_party/dart d45c3d15cb..7408ed4730 (20 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#13779 [web] Fix path to svg for drrect
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/path_to_svg.dart
  lib/web_ui/test/golden_tests/engine/canvas_draw_image_golden_test.dart
Labels: cla: yes

#13785 Fix RendererContextSwitch result check in Rasterizer::MakeRasterSnapshot
  shell/common/rasterizer.cc
Labels: cla: yes

#13727 Add line boundary information to LineMetrics.
  lib/ui/text.dart
  lib/ui/text/paragraph.cc
  lib/ui/text/paragraph.h
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/lib/src/ui/text.dart
Labels: cla: yes

#13776 Roll src/third_party/skia 0fd4f01b9b83..3de645cbca78 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13784 Add Helvetica and sans-serif as fallback font families
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/lib/src/engine/text/ruler.dart
  lib/web_ui/lib/src/engine/util.dart
  lib/web_ui/test/text_test.dart
Labels: cla: yes

#13788 Revert "Guarding EAGLContext used by Flutter #13314"
  ci/licenses_golden/licenses_flutter
  shell/common/BUILD.gn
  shell/common/rasterizer.cc
  shell/common/renderer_context_switch_manager.cc
  shell/common/renderer_context_switch_manager.h
  shell/common/shell_test.cc
  shell/common/shell_test.h
  shell/common/surface.cc
  shell/common/surface.h
  shell/gpu/gpu_surface_gl.cc
  shell/gpu/gpu_surface_gl.h
  shell/gpu/gpu_surface_gl_delegate.h
  shell/gpu/gpu_surface_metal.h
  shell/gpu/gpu_surface_metal.mm
  shell/platform/android/android_surface_gl.cc
  shell/platform/android/android_surface_gl.h
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/ios_gl_context.h
  shell/platform/darwin/ios/ios_gl_context.mm
  shell/platform/darwin/ios/ios_gl_context_switch_manager.h
  shell/platform/darwin/ios/ios_gl_context_switch_manager.mm
  shell/platform/darwin/ios/ios_gl_render_target.h
  shell/platform/darwin/ios/ios_gl_render_target.mm
  shell/platform/darwin/ios/ios_surface.h
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_metal.h
  shell/platform/darwin/ios/ios_surface_metal.mm
  shell/platform/darwin/ios/ios_surface_software.h
  shell/platform/darwin/ios/ios_surface_software.mm
  shell/platform/darwin/ios/platform_view_ios.mm
  shell/platform/embedder/embedder_surface_gl.cc
  shell/platform/embedder/embedder_surface_gl.h
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/xcshareddata/xcschemes/Scenarios.xcscheme
  testing/scenario_app/ios/Scenarios/Scenarios/AppDelegate.m
  testing/scenario_app/ios/Scenarios/Scenarios/GLTestPlatformView.h
  testing/scenario_app/ios/Scenarios/Scenarios/GLTestPlatformView.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/PlatformViewGLTests.m
  testing/scenario_app/lib/main.dart
  testing/scenario_app/lib/src/platform_view.dart
  testing/scenario_app/lib/src/texture.dart
Labels: cla: yes

#13768 Add ImageFilter and BackdropFilter to CanvasKit backend
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/compositor/canvas.dart
  lib/web_ui/lib/src/engine/compositor/image_filter.dart
  lib/web_ui/lib/src/engine/compositor/initialization.dart
  lib/web_ui/lib/src/engine/compositor/layer.dart
  lib/web_ui/lib/src/engine/compositor/layer_scene_builder.dart
  lib/web_ui/lib/src/engine/compositor/util.dart
  lib/web_ui/lib/src/engine/shader.dart
  lib/web_ui/lib/src/engine/surface/backdrop_filter.dart
  lib/web_ui/lib/src/ui/painting.dart
Labels: cla: yes

#13786 Take devicePixelRatio into account when drawing shadows
  lib/web_ui/lib/src/engine/compositor/canvas.dart
  lib/web_ui/lib/src/engine/compositor/layer.dart
  lib/web_ui/lib/src/engine/compositor/recording_canvas.dart
  lib/web_ui/lib/src/engine/compositor/util.dart
Labels: cla: yes

#13772 Move Path and PathMetrics from canvas.dart into their own files. No delta
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/ui/canvas.dart
  lib/web_ui/lib/src/ui/path.dart
  lib/web_ui/lib/src/ui/path_metrics.dart
  lib/web_ui/lib/ui.dart
Labels: cla: yes

#13790 Roll src/third_party/skia 3de645cbca78..ad21d47cfa8d (15 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13743 Expose asset lookup from plugin binding. (#42019)
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/engine/FlutterEngine.java
  shell/platform/android/io/flutter/embedding/engine/FlutterEnginePluginRegistry.java
  shell/platform/android/io/flutter/embedding/engine/plugins/FlutterPlugin.java
  shell/platform/android/test/io/flutter/FlutterTestSuite.java
  shell/platform/android/test/io/flutter/embedding/engine/PluginComponentTest.java
Labels: cla: yes

#13769 [web] Implement TextStyle.shadows
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/lib/src/engine/text/ruler.dart
  lib/web_ui/lib/src/ui/text.dart
  lib/web_ui/test/golden_tests/engine/scuba.dart
  lib/web_ui/test/golden_tests/engine/text_style_golden_test.dart
Labels: cla: yes

#13791 Roll fuchsia/sdk/core/mac-amd64 from TnTbF... to tZdOC...
  DEPS
Labels: autoroller: commit, cla: yes

#13793 Roll src/third_party/dart 7408ed4730..7ebc820ffc (20 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#13794 Roll src/third_party/skia ad21d47cfa8d..d860a78fd60c (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13795 Adds missing comma in EngineParagraphStyle.toString()
  lib/web_ui/lib/src/engine/text/paragraph.dart
Labels: cla: yes

#13796 implement radial gradient in canvaskit backend
  lib/web_ui/lib/src/engine/compositor/util.dart
  lib/web_ui/lib/src/engine/shader.dart
Labels: cla: yes

#13782 Document the coordinate space of points in FlutterPointerEvent.
  shell/platform/embedder/embedder.h
Labels: cla: yes

#13798 Roll src/third_party/dart 7ebc820ffc..5cce1e4acd (1 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#13800 Roll src/third_party/skia d860a78fd60c..581108137b46 (13 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13781 Create a WeakPtrFactory for use on the UI thread in VsyncWaiter
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/vsync_waiter.cc
  shell/platform/fuchsia/flutter/vsync_waiter.h
  shell/platform/fuchsia/flutter/vsync_waiter_unittests.cc
Labels: cla: yes

#13801 Roll fuchsia/sdk/core/mac-amd64 from tZdOC... to p9FbP...
  DEPS
Labels: autoroller: commit, cla: yes

#13828 Revert "Roll src/third_party/skia d860a78fd60c..581108137b46 (13 comm…
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes

#13823 Roll fuchsia/sdk/core/mac-amd64 from p9FbP... to _QV9E...
  DEPS
Labels: autoroller: commit, cla: yes

#13806 Roll src/third_party/dart 5cce1e4acd..d5d889668b (17 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#13799 Update version of dart/language_model distributed with flutter engine to latest
  DEPS
Labels: cla: yes

#13829 [dart_runner] Initialize logging and tracing
  shell/platform/fuchsia/dart_runner/main.cc
Labels: cla: yes

#13835 Roll src/third_party/dart d5d889668b..ffbd2eb7ee (15 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#13805 Remove extra shadows from ParagraphStyle
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/lib/src/engine/text/ruler.dart
Labels: cla: yes

#13767 reland add lifecycle enum
  lib/ui/window.dart
  lib/web_ui/lib/src/ui/window.dart
  runtime/runtime_controller.h
  shell/common/engine.cc
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/LifecycleChannel.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  testing/scenario_app/ios/Scenarios/ScenariosTests/AppLifecycleTests.m
Labels: cla: yes

#13837 Roll buildroot to 0fec442d067a0998352ea12706fcae0a53b62884.
  DEPS
Labels: cla: yes

#13809 [web] Fix blendmode for images
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/test/golden_tests/engine/canvas_blend_golden_test.dart
Labels: cla: yes

#13840 Roll src/third_party/dart ffbd2eb7ee..a0bb025024 (1 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#13789 add recent packages to javadoc list
  tools/gen_javadoc.py
Labels: cla: yes, waiting for tree to go green

#13832 Remove unused import
  shell/platform/android/io/flutter/embedding/engine/FlutterEngine.java
Labels: cla: yes

#13842 Disable LTO on Fuchsia
  tools/fuchsia/build_fuchsia_artifacts.py
Labels: cla: yes

#13803 [build] Make --engine-version flag optional
  tools/fuchsia/build_fuchsia_artifacts.py
Labels: CQ+1, cla: yes

#13847 Avoid GL calls when compiling for Fuchsia.
  shell/common/shell_io_manager.cc
Labels: cla: yes

#13848 Use Skia's matchStyleCSS3 to find bundled asset typefaces matching a font style
  lib/ui/text/asset_manager_font_provider.cc
  lib/ui/text/asset_manager_font_provider.h
Labels: cla: yes

#13853 Roll src/third_party/dart a0bb025024..e5655d5cfe (19 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#13854 Roll src/third_party/dart e5655d5cfe..dc35290111 (2 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#13855 Add support for --dart-flags in FlutterShellArgs. (#44855)
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/engine/FlutterShellArgs.java
  shell/platform/android/test/io/flutter/FlutterTestSuite.java
  shell/platform/android/test/io/flutter/embedding/engine/FlutterShellArgsTest.java
Labels: cla: yes

#13856 Roll fuchsia/sdk/core/mac-amd64 from _QV9E... to 7XOyl...
  DEPS
Labels: autoroller: commit, cla: yes

#13802 [web] Fix selectable text rendering
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/test/golden_tests/engine/scuba.dart
  lib/web_ui/test/golden_tests/engine/text_style_golden_test.dart
Labels: cla: yes

#13860 [web] Change canvas sibling transforms to 3d with z=0 to get around canvas rendering bug.
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/engine_canvas.dart
  lib/web_ui/lib/src/engine/util.dart
Labels: cla: yes

#13851 Implement the rest of ui.Path methods for CanvasKit
  lib/web_ui/lib/src/engine/compositor/path.dart
  lib/web_ui/lib/src/ui/path.dart
Labels: cla: yes

#13859 Roll src/third_party/dart dc35290111..dc808f3fcb (5 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#13861 Roll fuchsia/sdk/core/mac-amd64 from 7XOyl... to VMTIz...
  DEPS
Labels: autoroller: commit, cla: yes

#13862 Roll src/third_party/skia d860a78fd60c..e57ca4931952 (44 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13812 RendererContextSwitch guard flutter's gl context rework.
  ci/licenses_golden/licenses_flutter
  shell/common/BUILD.gn
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/common/renderer_context_switch_manager.cc
  shell/common/renderer_context_switch_manager.h
  shell/common/shell_test.cc
  shell/common/shell_test.h
  shell/common/shell_unittests.cc
  shell/common/surface.cc
  shell/common/surface.h
  shell/gpu/gpu_surface_gl.cc
  shell/gpu/gpu_surface_gl.h
  shell/gpu/gpu_surface_gl_delegate.h
  shell/gpu/gpu_surface_metal.h
  shell/gpu/gpu_surface_metal.mm
  shell/platform/android/android_surface_gl.cc
  shell/platform/android/android_surface_gl.h
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/ios_gl_context.h
  shell/platform/darwin/ios/ios_gl_context.mm
  shell/platform/darwin/ios/ios_gl_context_switch_manager.h
  shell/platform/darwin/ios/ios_gl_context_switch_manager.mm
  shell/platform/darwin/ios/ios_gl_render_target.h
  shell/platform/darwin/ios/ios_gl_render_target.mm
  shell/platform/darwin/ios/ios_surface.h
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_metal.h
  shell/platform/darwin/ios/ios_surface_metal.mm
  shell/platform/darwin/ios/ios_surface_software.h
  shell/platform/darwin/ios/ios_surface_software.mm
  shell/platform/darwin/ios/platform_view_ios.mm
  shell/platform/embedder/embedder_surface_gl.cc
  shell/platform/embedder/embedder_surface_gl.h
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/xcshareddata/xcschemes/Scenarios.xcscheme
  testing/scenario_app/ios/Scenarios/Scenarios/AppDelegate.m
  testing/scenario_app/ios/Scenarios/Scenarios/GLTestPlatformView.h
  testing/scenario_app/ios/Scenarios/Scenarios/GLTestPlatformView.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/PlatformViewGLTests.m
  testing/scenario_app/lib/main.dart
  testing/scenario_app/lib/src/platform_view.dart
  testing/scenario_app/lib/src/texture.dart
Labels: CQ+1, cla: yes

#13850 Fix test to account for pixel ratio transformations being framework responsibility.
  shell/platform/embedder/embedder_external_view_embedder.cc
  shell/platform/embedder/embedder_external_view_embedder.h
  shell/platform/embedder/embedder_render_target.cc
  shell/platform/embedder/embedder_render_target.h
  shell/platform/embedder/fixtures/main.dart
  shell/platform/embedder/tests/embedder_test_compositor.cc
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: cla: yes

#13857 Guard against orphaned semantic objects from referencing dead accessibility bridge on iOS
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.h
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
  shell/platform/darwin/ios/framework/Source/accessibility_text_entry.mm
Labels: accessibility, cla: yes

#13865 [fuchsia] Package flutter_frontend_server snapshot for fuchsia
  flutter_frontend_server/BUILD.gn
  shell/platform/fuchsia/BUILD.gn
  tools/fuchsia/build_fuchsia_artifacts.py
Labels: cla: yes
