Repository flutter/engine, pull requests merged in 2019-08, with the labels that each got.

#10305 Roll fuchsia/sdk/core/linux-amd64 from fuchsia/sdk/core/linux-amd64:2k-0epsqEV14oZvIxpS-jHkPhZa837aSNjEj14wd73MC to fuchsia/sdk/core/linux-amd64:R6MHyz58h4cLuv1Odwzf2JWJkrYee4D6QKR92VinTggC
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10273 Remove one last final call to AddPart()
  flow/scene_update_context.cc
Labels: cla: yes

#10309 [fuchsia] Kernel compiler is now ready
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/BUILD.gn
  shell/platform/fuchsia/dart/BUILD.gn
  shell/platform/fuchsia/dart/compiler.dart
  tools/fuchsia/build_fuchsia_artifacts.py
  tools/fuchsia/common_libs.gni
Labels: cla: yes

#10403 [fuchsia] Add kernel compiler target
  tools/fuchsia/build_fuchsia_artifacts.py
Labels: cla: yes

#10010 Use simarm_x64 when targeting arm
  tools/gn
Labels: cla: yes

#10419 Make kernel compiler use host toolchain
  shell/platform/fuchsia/dart/BUILD.gn
Labels: cla: yes

#10423 Fix mac gen_snapshot uploader
  sky/tools/create_macos_gen_snapshot.py
Labels: cla: yes

#10430 Add copy_gen_snapshots.py tool
  sky/tools/create_macos_gen_snapshots.py
Labels: cla: yes

#10424 Fix deprecation warnings in the Android embedding
  shell/platform/android/io/flutter/app/FlutterActivityDelegate.java
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/io/flutter/embedding/android/FlutterFragment.java
Labels: cla: yes

#10455 Roll fuchsia/sdk/core/linux-amd64 from R6MHy... to ySA6l...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10462 Roll fuchsia/sdk/core/mac-amd64 from bswmz... to tPxPZ...
  DEPS
Labels: autoroller: commit, cla: yes

#10463 Roll fuchsia/sdk/core/linux-amd64 from ySA6l... to FidkF...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10464 Roll fuchsia/sdk/core/mac-amd64 from tPxPZ... to mlKdh...
  DEPS
Labels: autoroller: commit, cla: yes

#10465 Roll src/third_party/skia 83d8a949ae22..fdd03910d6c6 (43 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10466 Roll fuchsia/sdk/core/linux-amd64 from FidkF... to L-ih4...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10467 Roll fuchsia/sdk/core/mac-amd64 from mlKdh... to coHoq...
  DEPS
Labels: autoroller: commit, cla: yes

#10440 Revert "Remove one last final call to AddPart()"
  flow/scene_update_context.cc
Labels: cla: yes

#10469 Roll fuchsia/sdk/core/linux-amd64 from L-ih4... to 7LN8t...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10470 Roll src/third_party/skia fdd03910d6c6..149f3f197897 (11 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10471 Roll fuchsia/sdk/core/mac-amd64 from coHoq... to eAnGy...
  DEPS
Labels: autoroller: commit, cla: yes

#10437 Roll src/third_party/dart bd049f5b53...622ec5099f
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#10127 Track detailed LibTxt metrics
  ci/licenses_golden/licenses_flutter
  third_party/txt/BUILD.gn
  third_party/txt/src/txt/line_metrics.h
  third_party/txt/src/txt/paragraph.h
  third_party/txt/src/txt/paragraph_txt.cc
  third_party/txt/src/txt/paragraph_txt.h
  third_party/txt/src/txt/run_metrics.h
  third_party/txt/tests/paragraph_unittests.cc
Labels: cla: yes

#10472 Roll fuchsia/sdk/core/linux-amd64 from 7LN8t... to oMu_X...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10474 Roll src/third_party/skia 149f3f197897..a800ec96f724 (15 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10475 Roll src/third_party/dart 622ec5099f...9bb446aae1 (14 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#10476 Roll fuchsia/sdk/core/mac-amd64 from eAnGy... to Mzwf3...
  DEPS
Labels: autoroller: commit, cla: yes

#10477 Add #else, #endif condition comments
  shell/platform/fuchsia/dart-pkg/zircon/sdk_ext/system.cc
Labels: cla: yes

#10479 Delete unused create_macos_gen_snapshot.py script
  sky/tools/create_macos_gen_snapshot.py
Labels: cla: yes

#10434 Reland Skia Caching improvements
  shell/common/BUILD.gn
  shell/common/fixtures/shell_test.dart
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/common/shell.cc
  shell/common/shell_test.cc
  shell/common/shell_test.h
  shell/common/shell_unittests.cc
  shell/gpu/gpu_surface_gl.cc
Labels: cla: yes

#10414 expose max depth on Window
  lib/stub_ui/lib/src/engine/window.dart
  lib/stub_ui/lib/src/ui/window.dart
  lib/ui/hooks.dart
  lib/ui/window.dart
  lib/ui/window/viewport_metrics.h
  lib/ui/window/window.cc
  testing/dart/window_hooks_integration_test.dart
Labels: cla: yes

#10618 Roll fuchsia/sdk/core/mac-amd64 from Mzwf3... to c8UZM...
  DEPS
Labels: autoroller: commit, cla: yes

#10621 Roll fuchsia/sdk/core/linux-amd64 from oMu_X... to AowXI...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10624 Roll fuchsia/sdk/core/mac-amd64 from c8UZM... to cvvjU...
  DEPS
Labels: autoroller: commit, cla: yes

#10625 Roll fuchsia/sdk/core/linux-amd64 from AowXI... to qTyU_...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10633 skip flaky tests
  shell/common/shell_unittests.cc
Labels: cla: yes

#10626 Roll fuchsia/sdk/core/mac-amd64 from cvvjU... to yvc6m...
  DEPS
Labels: autoroller: commit, cla: yes

#10627 Roll fuchsia/sdk/core/linux-amd64 from qTyU_... to 3hQdw...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10484 Roll src/third_party/dart 9bb446aae1...4bebfebdbc (7 commits).
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#10632 Roll src/third_party/skia a800ec96f724..4df3d5340ef3 (20 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10635 [fuchsia] CloneChannelFromFD fix for system.cc
  shell/platform/fuchsia/dart-pkg/zircon/sdk_ext/system.cc
  shell/platform/fuchsia/dart-pkg/zircon/sdk_ext/system.h
Labels: cla: yes

#10636 Fix threading and re-enable resource cache shell unit-tests.
  shell/common/shell_unittests.cc
Labels: cla: yes

#10634 Use Fuchsia trace macros when targeting Fuchsia SDK
  fml/BUILD.gn
  fml/trace_event.h
  shell/common/skia_event_tracer_impl.cc
  shell/platform/fuchsia/flutter/vulkan_surface_pool.cc
Labels: cla: yes

#10637 Document the thread test fixture.
  testing/thread_test.h
Labels: cla: yes

#10638 Roll fuchsia/sdk/core/mac-amd64 from yvc6m... to Nj2Qs...
  DEPS
Labels: autoroller: commit, cla: yes

#10640 Roll fuchsia/sdk/core/linux-amd64 from 3hQdw... to siBGl...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10642 Roll src/third_party/dart 4bebfebdbc..8cd01287b4 (30 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#10643 Roll src/third_party/skia 4df3d5340ef3..eb0770211a6c (13 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10186 Ensure debug-mode apps are always attached on iOS.
  ci/licenses_golden/licenses_flutter
  common/settings.h
  runtime/BUILD.gn
  runtime/dart_vm.cc
  runtime/ptrace_ios.cc
  runtime/ptrace_ios.h
  shell/common/switches.cc
  shell/common/switches.h
Labels: cla: yes

#10645 Don't use DBC for hot-reload on iOS.
  tools/gn
Labels: cla: yes

#10644 [flutter_runner] Port: Add connectToService, wrapping fdio_ns_connect.
  shell/platform/fuchsia/dart-pkg/zircon/lib/src/system.dart
  shell/platform/fuchsia/dart-pkg/zircon/sdk_ext/system.cc
  shell/platform/fuchsia/dart-pkg/zircon/sdk_ext/system.h
  shell/platform/fuchsia/flutter/meta/flutter_aot_product_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_aot_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_jit_product_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_jit_runner.cmx
Labels: cla: yes

#10629 Fix engine platformviewscontroller leak
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
Labels: cla: yes

#10647 Roll fuchsia/sdk/core/mac-amd64 from Nj2Qs... to QdP5I...
  DEPS
Labels: autoroller: commit, cla: yes

#10648 Roll fuchsia/sdk/core/linux-amd64 from siBGl... to Gh0U-...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10649 Roll fuchsia/sdk/core/mac-amd64 from QdP5I... to C9SBX...
  DEPS
Labels: autoroller: commit, cla: yes

#10650 Roll fuchsia/sdk/core/linux-amd64 from Gh0U-... to -YGXe...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10651 Roll src/third_party/skia eb0770211a6c..c409951bea4f (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10653 Roll fuchsia/sdk/core/mac-amd64 from C9SBX... to GO4A1...
  DEPS
Labels: autoroller: commit, cla: yes

#10654 Roll fuchsia/sdk/core/linux-amd64 from -YGXe... to ia9ZJ...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10655 Roll src/third_party/skia c409951bea4f..88681ddd1d38 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10657 Roll fuchsia/sdk/core/mac-amd64 from GO4A1... to VdgzE...
  DEPS
Labels: autoroller: commit, cla: yes

#10658 Roll fuchsia/sdk/core/linux-amd64 from ia9ZJ... to HgsT2...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10659 Roll src/third_party/skia 88681ddd1d38..3a543aafd4e6 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10660 Roll fuchsia/sdk/core/mac-amd64 from VdgzE... to g3-Ex...
  DEPS
Labels: autoroller: commit, cla: yes

#10661 Roll fuchsia/sdk/core/linux-amd64 from HgsT2... to 0EOCG...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10663 Roll src/third_party/dart 8cd01287b4..574c4a51c6 (35 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#10665 Roll src/third_party/skia 3a543aafd4e6..c853bf2867b9 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10664 Roll fuchsia/sdk/core/mac-amd64 from g3-Ex... to kFlVe...
  DEPS
Labels: autoroller: commit, cla: yes

#10666 Roll fuchsia/sdk/core/linux-amd64 from 0EOCG... to W6ZtV...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10668 Roll fuchsia/sdk/core/mac-amd64 from kFlVe... to eB-F0...
  DEPS
Labels: autoroller: commit, cla: yes

#10669 Roll src/third_party/skia c853bf2867b9..ab961e9db1dd (10 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10667 Roll buildroot for ANGLE support
  DEPS
  ci/licenses_golden/tool_signature
  tools/licenses/lib/main.dart
Labels: cla: yes

#10671 Roll src/third_party/dart 574c4a51c6..c262cbd414 (11 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#10672 Roll fuchsia/sdk/core/linux-amd64 from W6ZtV... to 9sR9P...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10481 Android embedding refactor pr40 add static engine cache
  DEPS
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/io/flutter/embedding/android/FlutterFragment.java
  shell/platform/android/io/flutter/embedding/engine/FlutterEngineAndroidLifecycle.java
  shell/platform/android/io/flutter/embedding/engine/FlutterEngineCache.java
  shell/platform/android/test/io/flutter/FlutterTestSuite.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterFragmentTest.java
  shell/platform/android/test/io/flutter/embedding/engine/FlutterEngineCacheTest.java
Labels: cla: yes

#10652 Allow embedders to control Dart VM lifecycle on engine shutdown.
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/embedder/tests/embedder_config_builder.cc
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: cla: yes

#10485 Remove semi-redundant try-jobs.
  .cirrus.yml
  testing/run_tests.py
Labels: cla: yes

#10679 Roll buildroot to pick up EGL library name fix
  DEPS
Labels: cla: yes

#10681 Roll buildroot back to an earlier version
  DEPS
Labels: cla: yes

#10677 Roll src/third_party/skia ab961e9db1dd..c13305320fd1 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10676 Roll fuchsia/sdk/core/mac-amd64 from eB-F0... to 14j-v...
  DEPS
Labels: autoroller: commit, cla: yes

#10678 Roll fuchsia/sdk/core/linux-amd64 from 9sR9P... to v5rSi...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10682 Roll src/third_party/dart c262cbd414..8740bb5c68 (18 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#10684 Roll src/third_party/skia c13305320fd1..ed19e97294f6 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10685 Roll fuchsia/sdk/core/linux-amd64 from v5rSi... to 0PouF...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10686 Roll fuchsia/sdk/core/mac-amd64 from 14j-v... to kYRKS...
  DEPS
Labels: autoroller: commit, cla: yes

#10687 Roll src/third_party/dart 8740bb5c68..f3139f57b4 (7 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#10688 Roll fuchsia/sdk/core/linux-amd64 from 0PouF... to 9PJXr...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10690 Roll fuchsia/sdk/core/mac-amd64 from kYRKS... to eXzeO...
  DEPS
Labels: autoroller: commit, cla: yes

#10691 Roll src/third_party/skia ed19e97294f6..593290ed75fd (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10381 Fix empty composing range on iOS
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
Labels: cla: yes

#10692 Rolls engine to Android SDK 29 and its corresponding tools
  DEPS
  testing/run_tests.py
  tools/gen_javadoc.py
Labels: cla: yes

#10694 Roll buildroot
  DEPS
Labels: cla: yes

#10693 Roll src/third_party/dart f3139f57b4..f29f41f1a5 (3 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#10695 Roll fuchsia/sdk/core/mac-amd64 from eXzeO... to UeWpb...
  DEPS
Labels: autoroller: commit, cla: yes

#10697 Roll src/third_party/skia 593290ed75fd..b2c5a94b1c7a (9 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autoroller: commit, cla: yes

#10699 Roll swiftshader
  DEPS
Labels: cla: yes

#10701 Roll fuchsia/sdk/core/linux-amd64 from 9PJXr... to 8mNHG...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10675 Improvements to the flutter GDB script
  sky/tools/flutter_gdb
Labels: cla: yes

#10703 Test perf overlay gold on Linux
  testing/run_tests.py
Labels: cla: yes

#10704 Roll fuchsia/sdk/core/mac-amd64 from UeWpb... to yqu1p...
  DEPS
Labels: autoroller: commit, cla: yes

#10707 Roll src/third_party/skia b2c5a94b1c7a..1dac7bc29f2d (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10705 Revert "Remove semi-redundant try-jobs. (#10485)"
  .cirrus.yml
  testing/run_tests.py
Labels: cla: yes

#10710 Roll fuchsia/sdk/core/linux-amd64 from 8mNHG... to 5c9q-...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10713 Roll fuchsia/sdk/core/mac-amd64 from yqu1p... to 57R6s...
  DEPS
Labels: autoroller: commit, cla: yes

#10715 Roll src/third_party/skia 1dac7bc29f2d..228518f0f828 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10720 Roll src/third_party/skia 228518f0f828..241e0ee4a7dc (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10722 Roll fuchsia/clang/mac-amd64 from CqfCC... to 2aCB4...
  DEPS
Labels: autoroller: commit, cla: yes

#10753 Roll src/third_party/skia 241e0ee4a7dc..19e3cd4c9cd5 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10716 Roll fuchsia/sdk/core/linux-amd64 from 5c9q-... to 1nsfv...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10769 Roll src/third_party/skia 19e3cd4c9cd5..4acbab33bd40 (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10774 Manual roll of Fuchsia clang/linux-amd64 toolchain
  DEPS
Labels: cla: yes

#10777 Manually roll Skia to pull in iOS armv7 build failure fix.
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes

#10773 Remove use of the deprecated AccessibilityNodeInfo boundsInParent API
  shell/platform/android/io/flutter/view/AccessibilityViewEmbedder.java
Labels: cla: yes

#10771 Don't use gradle daemon for building
  .cirrus.yml
Labels: cla: yes, waiting for tree to go green

#10717 Specify which android variant for tests
  testing/run_tests.py
Labels: cla: yes, waiting for tree to go green

#9722 Forwards iOS dark mode trait to the Flutter framework (#34441).
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.m
  testing/ios/IosUnitTests/run_tests.sh
Labels: cla: yes

#10789 Revert "Forwards iOS dark mode trait to the Flutter framework.".
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.m
  testing/ios/IosUnitTests/run_tests.sh
Labels: cla: yes

#10781 [flutter] Create the compositor context on the GPU task runner.
  shell/platform/fuchsia/flutter/compositor_context.cc
  shell/platform/fuchsia/flutter/compositor_context.h
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/session_connection.cc
  shell/platform/fuchsia/flutter/session_connection.h
Labels: cla: yes

#10780 [flutter_runner] Improve frame scheduling
  shell/platform/fuchsia/flutter/session_connection.cc
  shell/platform/fuchsia/flutter/session_connection.h
Labels: cla: yes

#10778 Build JARs containing the Android embedding sources and the engine native library
  DEPS
  shell/platform/android/BUILD.gn
Labels: cla: yes

#10794 Roll src/third_party/skia 04580795746b..4d557e3df433 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10786 Remove 3 semi-redundant try-jobs
  .cirrus.yml
Labels: cla: yes

#10719 Include Maven dependency in files.json
  shell/platform/android/BUILD.gn
  tools/android_support/download_android_support.py
  tools/android_support/files.json
  tools/android_support/generate_pom_file.py
Labels: cla: yes

#10674 When setting up AOT snapshots from symbol references, make buffer sizes optional.
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/embedder/tests/embedder_config_builder.cc
  shell/platform/embedder/tests/embedder_config_builder.h
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: cla: yes

#10784 Roll buildroot for ANGLE support
  DEPS
Labels: cla: yes

#10788 Wire up a concurrent message loop backed SkExecutor for Skia.
  ci/licenses_golden/licenses_flutter
  runtime/BUILD.gn
  runtime/dart_vm.cc
  runtime/dart_vm.h
  runtime/skia_concurrent_executor.cc
  runtime/skia_concurrent_executor.h
Labels: cla: yes

#10798 Roll fuchsia/sdk/core/linux-amd64 from 1nsfv... to 9xVXx...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10799 Add a test for creating images from bytes.
  shell/common/fixtures/shell_test.dart
  shell/common/shell_unittests.cc
Labels: cla: yes

#10783 Make firebase test more LUCI friendly
  ci/firebase_testlab.sh
  testing/scenario_app/android/gradle/wrapper/gradle-wrapper.properties
  testing/scenario_app/assemble_apk.sh
Labels: cla: yes

#10801 Roll src/third_party/skia 4d557e3df433..059bf776c184 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10802 Roll src/third_party/dart f29f41f1a5..3d9a356f6e (65 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#10803 Roll src/third_party/skia 059bf776c184..b2151310068b (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10804 Roll src/third_party/skia b2151310068b..26cedb4c603b (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10805 Roll src/third_party/dart 3d9a356f6e..78ce916d82 (7 commits)
  DEPS
Labels: cla: yes

#10806 Roll fuchsia/sdk/core/linux-amd64 from 9xVXx... to HsuAH...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10797 Rename artifacts so they match the Maven convention
  shell/platform/android/BUILD.gn
Labels: cla: yes

#10807 Roll src/third_party/skia 26cedb4c603b..b7b0b3ad538c (11 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10700 [fuchsia] Migrate from custom FuchsiaFontManager to SkFontMgr_fuchsia
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/fuchsia_font_manager.cc
  shell/platform/fuchsia/flutter/fuchsia_font_manager.h
  shell/platform/fuchsia/flutter/fuchsia_font_manager_unittest.cc
  shell/platform/fuchsia/flutter/runner.cc
Labels: cla: yes

#10787 Change call to |AddPart| to |AddChild|
  flow/scene_update_context.cc
Labels: cla: yes

#10808 Remove flutter_kernel_sdk dart script
  ci/licenses_golden/licenses_flutter
  web_sdk/BUILD.gn
  web_sdk/flutter_kernel_sdk.dart
Labels: cla: yes

#10809 [dart:zircon] Porting Cache re-usable handle wait objects
  shell/platform/fuchsia/dart-pkg/zircon/sdk_ext/handle.cc
  shell/platform/fuchsia/dart-pkg/zircon/sdk_ext/handle.h
  shell/platform/fuchsia/dart-pkg/zircon/sdk_ext/handle_waiter.cc
Labels: cla: yes

#10811 Revert "Remove flutter_kernel_sdk dart script"
  ci/licenses_golden/licenses_flutter
  web_sdk/BUILD.gn
  web_sdk/flutter_kernel_sdk.dart
Labels: cla: yes

#10812 Roll src/third_party/skia b7b0b3ad538c..af89d3972e0b (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10810 Roll Dart SDK 78ce916d82..15a3bf82cb
  DEPS
  ci/licenses_golden/licenses_third_party
  web_sdk/flutter_kernel_sdk.dart
Labels: cla: yes

#10817 Roll src/third_party/dart 15a3bf82cb..ffefa124a7 (11 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#10819 Roll src/third_party/skia af89d3972e0b..fe19203eb7d7 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10821 Roll src/third_party/dart ffefa124a7..e29d6d0ecb (4 commits)
  DEPS
Labels: cla: yes

#10822 Roll fuchsia/sdk/core/linux-amd64 from HsuAH... to bvUCO...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#10824 Roll src/third_party/skia fe19203eb7d7..89e43889afd9 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#10825 Roll src/third_party/skia 89e43889afd9..3e7fa79f2c79 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes
