Repository flutter/engine, pull requests merged in 2019-06, with the labels that each got.

#9160 Roll src/third_party/skia 3cd435eecf5e..09f5aedf2cc8 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9159 Roll src/third_party/dart 445a23a9bc..0e6b74543c (29 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#9158 Copy the macOS podspec during builds
  shell/platform/darwin/macos/BUILD.gn
Labels: cla: yes

#9163 Roll src/third_party/dart 0e6b74543c..224f82c21c (2 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#9164 Roll src/third_party/skia 09f5aedf2cc8..3c0ad02bc545 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9167 Roll src/third_party/skia 3c0ad02bc545..9e6a3d76fc7f (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9168 Roll src/third_party/skia 9e6a3d76fc7f..c0b32b33552c (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9169 Roll src/third_party/skia c0b32b33552c..fec9b902a626 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8207 Text inline widget LibTxt/dart:ui implementation
  ci/licenses_golden/licenses_flutter
  lib/stub_ui/lib/src/ui/text.dart
  lib/ui/text.dart
  lib/ui/text/paragraph.cc
  lib/ui/text/paragraph.h
  lib/ui/text/paragraph_builder.cc
  lib/ui/text/paragraph_builder.h
  lib/ui/text/paragraph_impl.h
  lib/ui/text/paragraph_impl_txt.cc
  lib/ui/text/paragraph_impl_txt.h
  third_party/txt/BUILD.gn
  third_party/txt/src/minikin/LineBreaker.cpp
  third_party/txt/src/minikin/LineBreaker.h
  third_party/txt/src/txt/paint_record.cc
  third_party/txt/src/txt/paint_record.h
  third_party/txt/src/txt/paragraph.cc
  third_party/txt/src/txt/paragraph.h
  third_party/txt/src/txt/paragraph_builder.cc
  third_party/txt/src/txt/paragraph_builder.h
  third_party/txt/src/txt/placeholder_run.cc
  third_party/txt/src/txt/placeholder_run.h
  third_party/txt/tests/paragraph_unittests.cc
Labels: cla: yes

#7847 Extracted PlatformViewsChannel from PlatformViewsController.
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/app/FlutterPluginRegistry.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/PlatformViewsChannel.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/io/flutter/view/FlutterView.java
Labels: cla: yes

#9170 Roll src/third_party/skia fec9b902a626..80f10d2c226a (12 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9171 Roll src/third_party/dart 224f82c21c..8cbb11cc55 (15 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#8999 Do nothing if the params didn't change when compositing platform views.
  flow/embedded_views.h
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
Labels: cla: yes

#9174 Roll src/third_party/skia 80f10d2c226a..30e918d9151d (9 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9175 Roll src/third_party/dart 8cbb11cc55..1045ef1ceb (10 commits)
  DEPS
Labels: cla: yes

#9172 Use shared library when libapp.so is found
  shell/platform/android/io/flutter/view/FlutterMain.java
Labels: cla: yes, platform-android

#9177 Roll src/third_party/dart 1045ef1ceb..5b72293f49 (3 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#9179 Roll src/third_party/dart 5b72293f49..b080e7c97a (1 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#9180 Revert change by mistake: extract resources
  shell/platform/android/io/flutter/view/FlutterMain.java
Labels: cla: yes

#9181 Roll src/third_party/skia 30e918d9151d..525aa0ca60c8 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9182 Roll src/third_party/skia 525aa0ca60c8..806267973f8d (11 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9184 Roll src/third_party/skia 806267973f8d..a4bb02063672 (10 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9185 Fix platform views channel regression
  shell/platform/android/io/flutter/embedding/engine/systemchannels/PlatformViewsChannel.java
Labels: cla: yes

#9061 [scene_host] Cleanup scene_host closures
  lib/ui/compositing/scene_host.cc
  lib/ui/compositing/scene_host.h
Labels: cla: yes

#9148 Allow for whitelisted flags to be passed to the Dart VM
  shell/common/shell_unittests.cc
  shell/common/switches.cc
  shell/platform/android/io/flutter/app/FlutterActivityDelegate.java
Labels: cla: yes

#9187 Compile the physical_shape_layer_unittests.cc TU.
  flow/BUILD.gn
Labels: cla: yes

#9188 Roll src/third_party/skia a4bb02063672..346f82c1c3e0 (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9186 Add the key event source, vendorId, and productId from Android
  shell/platform/android/io/flutter/embedding/engine/systemchannels/KeyEventChannel.java
Labels: cla: yes

#9191 Roll src/third_party/skia 346f82c1c3e0..89fc1db4e809 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9189 Allow the task queues to be swapped in MessageLoops
  fml/message_loop.cc
  fml/message_loop.h
  fml/message_loop_impl.cc
  fml/message_loop_impl.h
  fml/message_loop_unittests.cc
Labels: cla: yes

#9194 Roll src/third_party/dart b080e7c97a..9dcb026b26 (30 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#9200 Revert "Roll src/third_party/dart b080e7c97a..9dcb026b26 (30 commits)"
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#9195 Roll src/third_party/skia 89fc1db4e809..7e2c3cdbb238 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9201 Roll dart and update libraries files
  DEPS
  ci/licenses_golden/licenses_third_party
  web_sdk/libraries.json
  web_sdk/libraries.yaml
Labels: cla: yes

#9202 Roll src/third_party/skia 7e2c3cdbb238..e0d90c84e42f (19 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9198 Skip golden tests on non-Linux OSes
  flow/layers/performance_overlay_layer_unittests.cc
Labels: cla: yes

#9193 Switch PlatformViewsController from Activity ref to Application ref.
  shell/platform/android/io/flutter/app/FlutterPluginRegistry.java
  shell/platform/android/io/flutter/embedding/engine/plugins/shim/ShimPluginRegistry.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
Labels: cla: yes

#9204 Add platform_fuchsia.cc for default font on fuchsia
  ci/licenses_golden/licenses_flutter
  third_party/txt/BUILD.gn
  third_party/txt/src/txt/platform_fuchsia.cc
Labels: cla: yes

#9205 Roll src/third_party/skia e0d90c84e42f..0f809020ecb0 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9207 Roll src/third_party/skia 0f809020ecb0..642178396b09 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9208 Roll src/third_party/skia 642178396b09..c5fae22bce20 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9209 Roll src/third_party/skia c5fae22bce20..93d0146dc6a1 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9211 Revert "Switch PlatformViewsController from Activity ref to Application ref."
  shell/platform/android/io/flutter/app/FlutterPluginRegistry.java
  shell/platform/android/io/flutter/embedding/engine/plugins/shim/ShimPluginRegistry.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
Labels: cla: yes

#8983 Add onReportTimings and FrameRasterizedCallback API
  common/settings.cc
  common/settings.h
  flow/layers/layer_tree.cc
  flow/layers/layer_tree.h
  lib/stub_ui/lib/src/ui/window.dart
  lib/ui/hooks.dart
  lib/ui/window.dart
  lib/ui/window/window.cc
  lib/ui/window/window.h
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  runtime/runtime_delegate.h
  shell/common/BUILD.gn
  shell/common/animator.cc
  shell/common/animator.h
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/fixtures/shell_test.dart
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/shell_benchmarks.cc
  shell/common/shell_test.cc
  shell/common/shell_test.h
  shell/common/shell_unittests.cc
  shell/platform/android/android_shell_holder.cc
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/embedder/embedder.cc
  shell/testing/tester_main.cc
  testing/dart/window_hooks_integration_test.dart
  testing/dart/window_test.dart
Labels: cla: yes

#9214 Roll src/third_party/skia 93d0146dc6a1..6e4fee8c812e (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9215 Update Engine::ReportTimings to use the new FML_TRACE macros
  shell/common/engine.cc
Labels: cla: yes

#9216 Copy TimingsCallback declaration into the stub_ui package
  lib/stub_ui/lib/src/ui/window.dart
Labels: cla: yes

#9219 Roll src/third_party/dart 9dcb026b26..6e0d978505 (72 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#9221 Roll src/third_party/skia 6e4fee8c812e..3431d9d1dcc6 (17 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9203 Keyboard support for embedded Android views.
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/PlatformViewsChannel.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/TextInputChannel.java
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsAccessibilityDelegate.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/io/flutter/plugin/platform/SingleViewPresentation.java
  shell/platform/android/io/flutter/plugin/platform/VirtualDisplayController.java
  shell/platform/android/io/flutter/view/FlutterView.java
Labels: cla: yes

#9223 Roll src/third_party/skia 3431d9d1dcc6..0e8362655a66 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9225 Roll src/third_party/skia 0e8362655a66..6faf8d662af8 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9226 Roll src/third_party/dart 6e0d978505..40ef0c6d9f (7 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#9228 Roll src/third_party/skia 6faf8d662af8..fe18de506097 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9229 Roll src/third_party/dart 40ef0c6d9f..9f2f5adb64 (4 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#9222 move webOnlyScheduleFrameCallback off of window
  lib/stub_ui/lib/src/engine.dart
  lib/stub_ui/lib/src/ui/test_embedding.dart
  lib/stub_ui/lib/src/ui/window.dart
Labels: cla: yes

#9231 Roll src/third_party/skia fe18de506097..14c8ca93db18 (11 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9232 Roll src/third_party/dart 9f2f5adb64..6d608fb52b (5 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#9218 Add web integration test to build_and_test_host
  .cirrus.yml
Labels: cla: yes

#9233 Remove unnecessary whitelisted flags for --dart-flags
  shell/common/shell_unittests.cc
  shell/common/switches.cc
Labels: cla: yes

#9234 Fix instantiateImageCodec api diff with web (stub)
  lib/stub_ui/lib/src/ui/painting.dart
Labels: cla: yes

#9235 Roll src/third_party/dart 6d608fb52b..d10dffbfbf (3 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#9237 Document AccessibilityBridge.java
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
Labels: cla: yes

#9236 Roll src/third_party/skia 14c8ca93db18..53ae936b8447 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9239 Revert "Keyboard support for embedded Android views."
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/PlatformViewsChannel.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/TextInputChannel.java
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsAccessibilityDelegate.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/io/flutter/plugin/platform/SingleViewPresentation.java
  shell/platform/android/io/flutter/plugin/platform/VirtualDisplayController.java
  shell/platform/android/io/flutter/view/FlutterView.java
Labels: cla: yes

#9240 Roll src/third_party/dart d10dffbfbf..ff863afb16 (7 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#9241 Roll src/third_party/dart ff863afb16..7f146e431e (5 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#9190 [engine] Fix builds targeting Android from a Windows host gen_snapshot
  DEPS
  tools/gn
Labels: cla: yes

#9242 Add stub implementation that doesn't throw
  lib/stub_ui/lib/src/ui/text.dart
Labels: cla: yes

#9243 Mark semantics functions const
  lib/ui/semantics/semantics_node.cc
  lib/ui/semantics/semantics_node.h
Labels: cla: yes

#9245 Roll src/third_party/skia 53ae936b8447..9e1e8caff331 (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#9244 Correct typo
  shell/platform/darwin/ios/framework/Headers/FlutterViewController.h
Labels: cla: yes

#9247 Roll src/third_party/skia 9e1e8caff331..9577f01ba081 (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#9249 Roll src/third_party/skia 9577f01ba081..cc82972af115 (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#9251 Roll src/third_party/skia cc82972af115..607c6d9c86ab (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#9253 Roll src/third_party/skia 607c6d9c86ab..5ec1b8ff3f45 (13 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9257 Reland "Keyboard support for embedded Android views. (#9203)
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/PlatformViewsChannel.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/TextInputChannel.java
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsAccessibilityDelegate.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/io/flutter/plugin/platform/SingleViewPresentation.java
  shell/platform/android/io/flutter/plugin/platform/VirtualDisplayController.java
  shell/platform/android/io/flutter/view/FlutterView.java
Labels: cla: yes

#9176 Make flow layers' attributes immutable
  flow/layers/backdrop_filter_layer.cc
  flow/layers/backdrop_filter_layer.h
  flow/layers/clip_path_layer.cc
  flow/layers/clip_path_layer.h
  flow/layers/clip_rect_layer.cc
  flow/layers/clip_rect_layer.h
  flow/layers/clip_rrect_layer.cc
  flow/layers/clip_rrect_layer.h
  flow/layers/color_filter_layer.cc
  flow/layers/color_filter_layer.h
  flow/layers/opacity_layer.cc
  flow/layers/opacity_layer.h
  flow/layers/physical_shape_layer.cc
  flow/layers/physical_shape_layer.h
  flow/layers/physical_shape_layer_unittests.cc
  flow/layers/picture_layer.cc
  flow/layers/picture_layer.h
  flow/layers/platform_view_layer.cc
  flow/layers/platform_view_layer.h
  flow/layers/shader_mask_layer.cc
  flow/layers/shader_mask_layer.h
  flow/layers/texture_layer.cc
  flow/layers/texture_layer.h
  flow/layers/transform_layer.cc
  flow/layers/transform_layer.h
  lib/ui/compositing/scene_builder.cc
  shell/common/shell_test.cc
Labels: cla: yes

#9258 Roll src/third_party/skia 5ec1b8ff3f45..cb1adb40d0f3 (10 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9238 Removed VIRTUAL_KEYBOARD check in TextInputPlugin
  shell/platform/android/io/flutter/embedding/android/AndroidKeyProcessor.java
Labels: cla: yes

#9261 Roll src/third_party/skia cb1adb40d0f3..bb74990a11d9 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9263 Roll src/third_party/dart 7f146e431e..97f91fecdb (22 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#9265 Roll src/third_party/skia bb74990a11d9..77cb2ca3c9aa (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9267 Roll src/third_party/skia 77cb2ca3c9aa..bba5aa761cd5 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9269 Roll src/third_party/skia bba5aa761cd5..a716809d5ad3 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9268 Roll src/third_party/dart 97f91fecdb..7ecd81b0b8 (5 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#9270 Unbreak internal rolls
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
Labels: cla: yes

#9266 Whitelist to —enable_mirrors flag to fix regression in existing embedder.
  shell/common/shell_unittests.cc
  shell/common/switches.cc
Labels: cla: yes

#9260 Load AOT compiled Dart assets only from ELF libraries
  shell/common/switches.cc
  shell/common/switches.h
  shell/platform/android/io/flutter/view/FlutterMain.java
Labels: cla: yes

#9246 Throw on unhandled license type
  ci/licenses_golden/tool_signature
  tools/licenses/lib/licenses.dart
Labels: cla: yes

#9279 Roll src/third_party/skia a716809d5ad3..df586b7d568d (17 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9278 Fix crash on minimize with GLFW shell
  shell/platform/glfw/flutter_glfw.cc
Labels: cla: yes

#9272 Roll src/third_party/dart 7ecd81b0b8..b37aa3b036 (4 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#9284 Roll src/third_party/skia df586b7d568d..f39124b0764d (11 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9283 Fix TextInputPlugin NPE caused by PlatformViewsController ref in new embedding (#34283).
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
Labels: cla: yes

#9285 Expose a hasRenderedFirstFrame() method in FlutterView (#34275).
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
Labels: cla: yes

#9280 Add refresh callback to GLFW shell
  shell/platform/glfw/flutter_glfw.cc
Labels: cla: yes

#9287 Report timings faster (100ms) in profile/debug
  lib/ui/window.dart
  shell/common/shell.cc
  shell/common/shell_unittests.cc
Labels: cla: yes

#9288 Fixed memory leaks within FlutterFragment and FlutterView (#34268, #34269, #34270).
  shell/platform/android/io/flutter/embedding/android/FlutterFragment.java
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/io/flutter/plugin/platform/PlatformPlugin.java
Labels: cla: yes

#9289 [fuchsia] Fix alignment of Fuchsia/non-Fuchsia tracing
  fml/trace_event.h
Labels: cla: yes

#9282 [iOS] [a11y] Don't allow scroll views to grab a11y focus
  lib/ui/semantics/semantics_node.h
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
Labels: cla: yes

#9290 Refactor Delayed Tasks to their own file
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/delayed_task.cc
  fml/delayed_task.h
  fml/message_loop_impl.cc
  fml/message_loop_impl.h
Labels: cla: yes

#9291 Roll src/third_party/skia f39124b0764d..d82ca0bf2c99 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9293 Roll src/third_party/skia d82ca0bf2c99..ed7966f179c6 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9294 Roll src/third_party/skia ed7966f179c6..698fa78b3cae (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9295 Roll src/third_party/skia 698fa78b3cae..d62d406aa24c (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9292 Set Dart version to git hash 3166bbf24b0c929eef33fd5d0f69e0f36a9009f3 (Dart 2.3.3-dev)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#9300 Roll src/third_party/skia d62d406aa24c..81756e4cae95 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9264 Wire up SwiftShader based OpenGL ES unit-tests on hosts.
  DEPS
  ci/licenses_golden/tool_signature
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/tests/embedder_config_builder.cc
  shell/platform/embedder/tests/embedder_config_builder.h
  shell/platform/embedder/tests/embedder_context.cc
  shell/platform/embedder/tests/embedder_context.h
  shell/platform/embedder/tests/embedder_test_gl_surface.cc
  shell/platform/embedder/tests/embedder_test_gl_surface.h
  shell/platform/embedder/tests/embedder_unittests.cc
  tools/gn
  tools/licenses/lib/main.dart
Labels: cla: yes

#9305 Roll src/third_party/skia 81756e4cae95..b9416caa367a (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9302 Handle Fuchsia SDK in license tool + roll SDK
  DEPS
  ci/licenses_golden/licenses_fuchsia
  ci/licenses_golden/tool_signature
  tools/licenses/lib/licenses.dart
  tools/licenses/lib/main.dart
Labels: cla: yes

#9306 When running in AOT modes create a flutter_assets directory that can be used as the bundle path
  shell/platform/android/io/flutter/view/FlutterMain.java
Labels: cla: yes

#9308 Roll src/third_party/skia b9416caa367a..47c7e80e9552 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autoroller: commit, cla: yes

#9309 Roll src/third_party/skia 47c7e80e9552..187e8f31236f (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9310 Roll src/third_party/skia 187e8f31236f..084fa1b52f30 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9262 Set identity instead of crash in opt build
  flow/layers/transform_layer.cc
Labels: cla: yes

#9301 Refactor: move Task Queue to its own class
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/message_loop_impl.cc
  fml/message_loop_impl.h
  fml/message_loop_task_queue.cc
  fml/message_loop_task_queue.h
  fml/message_loop_task_queue_unittests.cc
Labels: cla: yes

#9297 [scene_host] Expose Opacity and remove ExportNode
  ci/licenses_golden/licenses_flutter
  flow/BUILD.gn
  flow/export_node.cc
  flow/export_node.h
  flow/layers/child_scene_layer.cc
  flow/layers/child_scene_layer.h
  flow/view_holder.cc
  flow/view_holder.h
  lib/stub_ui/lib/src/ui/compositing.dart
  lib/ui/compositing.dart
  lib/ui/compositing/scene_builder.cc
  lib/ui/compositing/scene_host.cc
  lib/ui/compositing/scene_host.h
Labels: cla: yes

#9304 Decorate UIApplicationDelegate wrappers with matching UIKit deprecation
  shell/platform/darwin/ios/framework/Headers/FlutterPlugin.h
  shell/platform/darwin/ios/framework/Headers/FlutterPluginAppLifeCycleDelegate.h
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegate.mm
  shell/platform/darwin/ios/framework/Source/FlutterPluginAppLifeCycleDelegate.mm
Labels: affects: dev experience, cla: yes, platform-ios

#9311 Roll src/third_party/skia 084fa1b52f30..569f12f0e503 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9315 Only build embedder unit tests for host builds
  shell/platform/embedder/BUILD.gn
Labels: cla: yes

#9314 Avoid using std::unary_function.
  third_party/txt/src/utils/LruCache.h
Labels: cla: yes

#9318 Update the Dart version to 1d8b81283c1dee38f1dd87b71b16aa1648b01155 (Dart 2.4.0 Stable version)
  DEPS
Labels: cla: yes

#9317 Roll src/third_party/skia 569f12f0e503..1127c0b273ea (13 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9313 [macos] Adds clipboard string read/write support to macOS
  shell/platform/darwin/macos/framework/Source/FLEViewController.mm
Labels: cla: yes

#9303 Added class docstrings for classes inside of shell/common.
  shell/common/animator.h
  shell/common/engine.h
  shell/common/isolate_configuration.h
  shell/common/persistent_cache.h
  shell/common/pipeline.h
  shell/common/platform_view.h
  shell/common/rasterizer.h
  shell/common/run_configuration.h
  shell/common/shell.h
  shell/common/surface.h
  shell/common/thread_host.h
  shell/common/vsync_waiter.h
  shell/common/vsync_waiter_fallback.h
Labels: cla: yes

#9320 Build the GLFW shell on Linux host builds but not target builds
  shell/platform/glfw/config.gni
  shell/platform/linux/BUILD.gn
Labels: cla: yes

#9323 Roll src/third_party/skia 1127c0b273ea..4c4945a25248 (9 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9316 MessageLoopTaskQueue schedules Wakes
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/message_loop_impl.cc
  fml/message_loop_impl.h
  fml/message_loop_task_queue.cc
  fml/message_loop_task_queue.h
  fml/message_loop_task_queue_unittests.cc
  fml/wakeable.h
Labels: cla: yes

#9325 Roll src/third_party/skia 4c4945a25248..87e885038893 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9326 Fix rawTypes errors in Android embedding classes
  shell/platform/android/io/flutter/plugin/common/StandardMessageCodec.java
  shell/platform/android/io/flutter/plugin/platform/SingleViewPresentation.java
Labels: cla: yes

#9327 Roll src/third_party/skia 87e885038893..c3252a04b377 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9328 Roll src/third_party/skia c3252a04b377..3fc5df443e24 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9321 Fix a11y in embedded Android views post O
  shell/platform/android/io/flutter/view/AccessibilityViewEmbedder.java
Labels: accessibility, cla: yes

#9319 Roll buildroot to 75660ad5 and complete the C++ 17 transition.
  DEPS
  fml/trace_event.cc
Labels: cla: yes

#9331 Handle one-way platform messages in the embedder library
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/embedder/platform_view_embedder.cc
Labels: cla: yes

#9334 Fix the name of the channel parameter in PlatformMessage constructors
  lib/ui/window/platform_message.h
Labels: cla: yes

#9336 Roll buildroot to d1bbc14 to pick up fixes for armv7 iOS targets.
  DEPS
Labels: cla: yes

#9333 Roll src/third_party/skia 3fc5df443e24..941b9ff09b25 (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9330 Build txt_benchmarks, make benches compile again
  BUILD.gn
  third_party/txt/benchmarks/paint_record_benchmarks.cc
  third_party/txt/benchmarks/paragraph_benchmarks.cc
  third_party/txt/benchmarks/paragraph_builder_benchmarks.cc
  third_party/txt/benchmarks/styled_runs_benchmarks.cc
  third_party/txt/benchmarks/txt_run_all_benchmarks.cc
Labels: cla: yes

#9339 Roll src/third_party/skia 941b9ff09b25..3721688f64a5 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9248 Catch errors during production of kernel dill
  web_sdk/flutter_kernel_sdk.dart
Labels: cla: yes

#9340 Roll src/third_party/skia 3721688f64a5..057a32d9a2c8 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9342 Roll src/third_party/skia 057a32d9a2c8..5fe7429babe2 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9345 Roll src/third_party/skia 5fe7429babe2..92b81e14d9c2 (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9338 Replace lock_guard with scoped_lock and use class template argument deduction.
  flow/skia_gpu_object.cc
  fml/concurrent_message_loop.cc
  fml/message_loop_impl.cc
  fml/message_loop_task_queue.cc
  fml/synchronization/atomic_object.h
  fml/synchronization/waitable_event.cc
  lib/ui/isolate_name_server/isolate_name_server.cc
  lib/ui/plugins/callback_cache.cc
  runtime/dart_service_isolate.cc
  runtime/dart_vm_lifecycle.cc
  shell/common/persistent_cache.cc
  shell/common/pipeline.h
  shell/common/vsync_waiter.cc
  shell/platform/embedder/embedder_task_runner.cc
  testing/test_dart_native_resolver.cc
  third_party/txt/src/minikin/FontCollection.cpp
  third_party/txt/src/minikin/FontFamily.cpp
  third_party/txt/src/minikin/Layout.cpp
  third_party/txt/src/minikin/MinikinFont.cpp
  third_party/txt/tests/FontCollectionItemizeTest.cpp
  third_party/txt/tests/FontFamilyTest.cpp
  third_party/txt/tests/FontLanguageListCacheTest.cpp
  third_party/txt/tests/HbFontCacheTest.cpp
  third_party/txt/tests/old/perftests/FontCollection.cpp
Labels: cla: yes

#9346 Removed an unused class definition for iOS code.
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegate_Internal.h
Labels: cla: yes

#9192 Fix rare crash on HuaWei device when use AndroidView.
  shell/platform/android/io/flutter/plugin/platform/VirtualDisplayController.java
Labels: cla: yes

#9255 Reorganize darwin for shared ios/macOS
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/BUILD.gn
  shell/platform/darwin/common/BUILD.gn
  shell/platform/darwin/common/framework/Headers/FlutterBinaryMessenger.h
  shell/platform/darwin/common/framework/Headers/FlutterChannels.h
  shell/platform/darwin/common/framework/Headers/FlutterCodecs.h
  shell/platform/darwin/common/framework/Headers/FlutterMacros.h
  shell/platform/darwin/common/framework/Source/FlutterChannels.mm
  shell/platform/darwin/common/framework/Source/FlutterCodecs.mm
  shell/platform/darwin/common/framework/Source/FlutterStandardCodec.mm
  shell/platform/darwin/common/framework/Source/FlutterStandardCodec_Internal.h
  shell/platform/darwin/common/framework/Source/flutter_codecs_unittest.mm
  shell/platform/darwin/common/framework/Source/flutter_standard_codec_unittest.mm
  shell/platform/darwin/common/framework_shared.gni
  shell/platform/darwin/framework_shared.gni
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterPlatformPlugin.h
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.h
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.h
  shell/platform/darwin/ios/framework/Source/platform_message_router.h
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Headers/FLEOpenGLContextHandling.h
  shell/platform/darwin/macos/framework/Headers/FLEReshapeListener.h
  shell/platform/darwin/macos/framework/Headers/FLEView.h
  shell/platform/darwin/macos/framework/Headers/FLEViewController.h
  shell/platform/darwin/macos/framework/Headers/FlutterPluginMacOS.h
  shell/platform/darwin/macos/framework/Headers/FlutterPluginRegistrarMacOS.h
  shell/platform/darwin/macos/framework/Source/FLETextInputPlugin.h
  shell/platform/darwin/macos/framework/Source/FLETextInputPlugin.mm
  shell/platform/darwin/macos/framework/Source/FLEViewController.mm
Labels: cla: yes

#9348 Roll src/third_party/skia 92b81e14d9c2..55091020435c (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes
