Repository flutter/engine, pull requests merged in 2019-03, with the labels that each got.

#7974 Android Embedding PR 12: Add lifecycle methods to FlutterActivity.
  shell/platform/android/io/flutter/embedding/engine/android/FlutterActivity.java
  shell/platform/android/io/flutter/embedding/engine/android/FlutterFragment.java
Labels: cla: yes

#7964 Fix cursor jumping when typing some special characters.
  third_party/txt/src/txt/paragraph.cc
  third_party/txt/tests/paragraph_unittests.cc
Labels: cla: yes

#8002 Roll src/third_party/skia b7b2da871e95..255569187f27 (23 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8001 Fix incorrect transformation matrix
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/fixtures/a11y_main.dart
  shell/platform/embedder/tests/embedder_a11y_unittests.cc
Labels: cla: yes

#8003 Roll src/third_party/skia 255569187f27..71a23d4195d9 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7999 Buffer lifecycle in WindowData
  lib/ui/hooks.dart
  lib/ui/window.dart
  lib/ui/window/window.cc
  lib/ui/window/window.h
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  shell/common/engine.cc
Labels: cla: yes

#8004 Roll src/third_party/skia 71a23d4195d9..e1f5b644656f (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8006 Guard against using Android API not defined in API level 16 & 17
  shell/platform/android/io/flutter/view/FlutterView.java
Labels: cla: yes

#8010 Revert "Buffer lifecycle in WindowData"
  lib/ui/hooks.dart
  lib/ui/window.dart
  lib/ui/window/window.cc
  lib/ui/window/window.h
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  shell/common/engine.cc
Labels: cla: yes

#8009 Roll src/third_party/skia e1f5b644656f..436d47d5bde9 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8012 Roll src/third_party/skia 436d47d5bde9..09198525261a (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8013 Roll src/third_party/skia 09198525261a..705e67347962 (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8014 Roll src/third_party/skia 705e67347962..9159c8ef83b2 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8011 Build engine for iOS on presubmit
  .cirrus.yml
  tools/gen_objcdoc.sh
Labels: cla: yes

#8007 Add overloads for lookup that lets you specify a bundle
  shell/platform/darwin/ios/framework/Headers/FlutterDartProject.h
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
Labels: cla: yes

#8015 Roll src/third_party/skia 9159c8ef83b2..c945f0e31a53 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8016 Roll src/third_party/skia c945f0e31a53..0d7012a80c17 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8017 Roll src/third_party/skia 0d7012a80c17..58a75383a70b (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#8018 Roll src/third_party/skia 58a75383a70b..c97b0672a73f (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8019 Roll src/third_party/skia c97b0672a73f..1b9f889628e0 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8020 Roll src/third_party/skia 1b9f889628e0..c6671be0ea75 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8021 Roll src/third_party/skia c6671be0ea75..c1a9feb6f06e (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8022 Roll src/third_party/skia c1a9feb6f06e..5800f2e8a920 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8024 [fuchsia] Fix snapshot BUILD.gn file for Fuchsia roll
  lib/snapshot/BUILD.gn
Labels: cla: yes

#8023 Start of linting Android embedding
  shell/platform/android/AndroidManifest.xml
  tools/android_lint/.gitignore
  tools/android_lint/bin/main.dart
  tools/android_lint/project.xml
  tools/android_lint/pubspec.yaml
Labels: cla: yes

#8027 Roll src/third_party/dart 7c70ab1817..7d8ffe0daf (77 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#8028 Roll src/third_party/skia 5800f2e8a920..e3e80b7edfd1 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8026 [platform_views] Fix duplicated touch event pass down to flutter view from platform view.
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
Labels: cla: yes

#8029 Android Embedding PR15: Add Viewport Metrics to FlutterView
  shell/platform/android/io/flutter/embedding/engine/android/FlutterSurfaceView.java
  shell/platform/android/io/flutter/embedding/engine/android/FlutterTextureView.java
  shell/platform/android/io/flutter/embedding/engine/android/FlutterView.java
  shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
Labels: cla: yes

#8031 Roll src/third_party/dart 7d8ffe0daf..571ea80e11 (3 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#7991 Select MPL instead of LGPL
  ci/licenses_golden/licenses_skia
  ci/licenses_golden/tool_signature
  sky/packages/sky_engine/LICENSE
  tools/licenses/README.md
  tools/licenses/data/mozilla-1.1
  tools/licenses/lib/licenses.dart
  tools/licenses/lib/main.dart
  tools/licenses/lib/patterns.dart
Labels: cla: yes

#8035 Roll src/third_party/skia e3e80b7edfd1..0a57971f0544 (16 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8030 Add missing kHasImplicitScrolling enum value
  lib/ui/semantics.dart
  lib/ui/semantics/semantics_node.h
  shell/platform/embedder/embedder.h
Labels: cla: yes

#8037 Roll src/third_party/skia 0a57971f0544..fbc887df72ec (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8039 Roll src/third_party/skia fbc887df72ec..25bc174cf682 (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8033 Add missing values to semantics action enums
  lib/ui/semantics.dart
  lib/ui/semantics/semantics_node.h
  shell/platform/embedder/embedder.h
Labels: cla: yes

#8040 Roll src/third_party/skia 25bc174cf682..72542816cadb (14 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8036 add lint script for Android with baseline
  .cirrus.yml
  tools/android_lint/baseline.xml
  tools/android_lint/bin/main.dart
Labels: cla: yes

#8041 [platform_views]remove an unnecessary extra statement.
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
Labels: cla: yes

#8043 Minor cleanups to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: cla: yes

#7494 Add engine support for scrollwheel events
  lib/stub_ui/hooks.dart
  lib/stub_ui/pointer.dart
  lib/ui/hooks.dart
  lib/ui/pointer.dart
  lib/ui/window/pointer_data.cc
  lib/ui/window/pointer_data.h
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
Labels: cla: yes

#8046 Fix weak pointer use violations in shell and platform view.
  shell/common/platform_view.cc
  shell/common/platform_view.h
  shell/common/shell.cc
  shell/common/surface.h
Labels: cla: yes

#8044 Improve elevation bounds for physical shape layers
  flow/layers/physical_shape_layer.cc
Labels: cla: yes

#8047 Add clang static analysis support to gn wrapper
  DEPS
  tools/gn
Labels: cla: yes

#8051 Used named conditionals for platform specific dependencies and suppress Android and Windows hooks on Mac.
  .cirrus.yml
  DEPS
Labels: cla: yes

#8052 remove extra source files
  BUILD.gn
Labels: cla: yes

#8054 Correct URL for Cirrus CI build status badge
  CONTRIBUTING.md
Labels: cla: yes

#8053 Remove redundant thread checker in FML.
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/synchronization/thread_checker.h
  fml/synchronization/thread_checker_unittest.cc
Labels: cla: yes

#8050 Skip skp files in license check
  ci/licenses_golden/tool_signature
  tools/licenses/lib/filesystem.dart
Labels: cla: yes

#8060 Roll src/third_party/skia 72542816cadb..801a9c16d81e (46 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8056 Send scroll events from the macOS shell
  shell/platform/darwin/macos/framework/Source/FLEViewController.mm
Labels: cla: yes

#8032 Re-land "Buffer lifecycle in WindowData"
  lib/stub_ui/hooks.dart
  lib/stub_ui/window.dart
  lib/ui/hooks.dart
  lib/ui/window.dart
  lib/ui/window/window.cc
  lib/ui/window/window.h
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  shell/common/engine.cc
Labels: cla: yes

#8005 A11y callback
  shell/platform/darwin/ios/framework/Headers/FlutterEngine.h
  shell/platform/darwin/ios/framework/Headers/FlutterViewController.h
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/platform_view_ios.h
  shell/platform/darwin/ios/platform_view_ios.mm
Labels: cla: yes

#8063 Roll src/third_party/skia 801a9c16d81e..3c957d575c58 (19 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8065 add signal to pointer kinds
  lib/ui/pointer.dart
Labels: cla: yes

#8066 Revert "add signal to pointer kinds"
  lib/ui/pointer.dart
  lib/ui/window/pointer_data.h
  shell/platform/android/io/flutter/view/FlutterView.java
Labels: cla: yes

#8067 Roll src/third_party/skia 3c957d575c58..692122e3ef23 (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8069 Roll src/third_party/skia 692122e3ef23..4c1ea43a79b5 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8070 Roll src/third_party/skia 4c1ea43a79b5..88b8d1124b72 (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7978 Refactor web configuration/ Add dartdevc
  BUILD.gn
  ci/licenses_golden/licenses_flutter
  lib/snapshot/libraries.json
  lib/snapshot/libraries.yaml
  lib/stub_ui/BUILD.gn
  lib/stub_ui/libraries.json
  lib/stub_ui/libraries.yaml
  web_sdk/BUILD.gn
  web_sdk/libraries.json
  web_sdk/libraries.yaml
  web_sdk/make_combined_sdk.sh
Labels: cla: yes

#8071 Only build a full Dart SDK when building for the host system
  tools/gn
Labels: cla: yes

#8078 only partial rule revert
  web_sdk/BUILD.gn
Labels: cla: yes

#8077 Mark const extern
  .cirrus.yml
  shell/platform/darwin/ios/framework/Headers/FlutterViewController.h
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
Labels: cla: yes

#8072 Delay the vsync callback till the frame start time specified by embedder.
  shell/common/vsync_waiter.cc
  shell/platform/embedder/embedder.h
Labels: cla: yes

#8073 Update a11y word forward/back enum names
  shell/platform/embedder/embedder.h
Labels: cla: yes

#8074 Add script to help generate PR messages
  tools/engine_roll_pr_desc.sh
Labels: cla: yes, waiting for tree to go green

#8082 Roll src/third_party/skia 88b8d1124b72..3d1b941f3a7d (27 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#7982 Fix deleting text when the last character is some special characters on IOS
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
Labels: cla: yes

#8083 Roll src/third_party/skia 3d1b941f3a7d..bea1f94f341e (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8084 Move android_sdk_downloader so I can more easily deprecate it
  DEPS
  tools/android_sdk_downloader/.gitignore
  tools/android_sdk_downloader/LICENSE
  tools/android_sdk_downloader/README.md
  tools/android_sdk_downloader/analysis_options.yaml
  tools/android_sdk_downloader/lib/main.dart
  tools/android_sdk_downloader/lib/src/android_repository.dart
  tools/android_sdk_downloader/lib/src/checksums.dart
  tools/android_sdk_downloader/lib/src/http.dart
  tools/android_sdk_downloader/lib/src/options.dart
  tools/android_sdk_downloader/lib/src/zip.dart
  tools/android_sdk_downloader/pubspec.yaml
Labels: cla: yes

#8049 Add read-only persistent cache
  shell/common/persistent_cache.cc
  shell/common/persistent_cache.h
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
Labels: cla: yes

#8048 Guard against NewAPI failures
  shell/platform/android/io/flutter/embedding/engine/android/FlutterSurfaceView.java
  shell/platform/android/io/flutter/embedding/engine/android/FlutterTextureView.java
  shell/platform/android/io/flutter/embedding/engine/android/FlutterView.java
  shell/platform/android/io/flutter/plugin/platform/PlatformPlugin.java
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/io/flutter/view/ResourceExtractor.java
  tools/android_lint/baseline.xml
  tools/android_lint/lint.xml
Labels: cla: yes

#8089 Allow embedders to post tasks onto the render thread.
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/embedder/embedder_engine.cc
  shell/platform/embedder/embedder_engine.h
Labels: cla: yes

#8086 Roll src/third_party/dart 571ea80e11..2fb6cd9f5f (122 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#8034 Android Embedding PR 16: Add touch support to FlutterView.
  shell/platform/android/io/flutter/embedding/engine/android/AndroidTouchProcessor.java
  shell/platform/android/io/flutter/embedding/engine/android/FlutterView.java
Labels: cla: yes

#8061 Android Embedding PR 17: Clarify AccessibilityBridge.
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/AccessibilityChannel.java
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  shell/platform/android/io/flutter/view/FlutterView.java
  tools/android_lint/baseline.xml
Labels: cla: yes

#8093 Clarify arguments to FlutterEngineOnVsync.
  shell/platform/embedder/embedder.h
Labels: cla: yes

#8097 Roll src/third_party/skia bea1f94f341e..a009d582e812 (18 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8090 Android linter prints to the console by default
  tools/android_lint/bin/main.dart
Labels: cla: yes

#8099 Use right stream for Java, on mac try to autoselect Java 1.8
  tools/android_lint/bin/main.dart
Labels: cla: yes

#8100 Roll src/third_party/skia a009d582e812..b45e5f1e810a (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8101 Roll src/third_party/skia b45e5f1e810a..29d5dec9a078 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8102 Fix typo
  shell/platform/darwin/ios/framework/Headers/FlutterEngine.h
Labels: cla: yes

#8098 Do not cache gclient sync
  .cirrus.yml
Labels: cla: yes

#8087 Drop android_sdk_downloader in favor of cipd
  DEPS
  tools/android_sdk_downloader/.gitignore
  tools/android_sdk_downloader/LICENSE
  tools/android_sdk_downloader/README.md
  tools/android_sdk_downloader/analysis_options.yaml
  tools/android_sdk_downloader/lib/main.dart
  tools/android_sdk_downloader/lib/src/android_repository.dart
  tools/android_sdk_downloader/lib/src/checksums.dart
  tools/android_sdk_downloader/lib/src/http.dart
  tools/android_sdk_downloader/lib/src/options.dart
  tools/android_sdk_downloader/lib/src/zip.dart
  tools/android_sdk_downloader/pubspec.yaml
  tools/create_ndk_cipd_package.sh
  tools/create_sdk_cipd_package.sh
Labels: cla: yes

#8103 Guard initialization of touch exploration listener
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
Labels: cla: yes

#8104 Roll src/third_party/skia 29d5dec9a078..92ae09900456 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8096 Log non-kSuccess returns from embedder API calls.
  shell/platform/embedder/embedder.cc
Labels: cla: yes

#8106 Fix the Windows build
  shell/platform/embedder/embedder.cc
Labels: cla: yes

#8110 Roll src/third_party/dart 2fb6cd9f5f..674fd0e060 (58 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#8111 Roll src/third_party/skia 92ae09900456..bd050b90f8c7 (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8113 Roll src/third_party/skia bd050b90f8c7..e9c1ce89c005 (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autoroller: commit, cla: yes

#8055 Adds a platfromViewId to SemanticsNode
  lib/ui/semantics.dart
  lib/ui/semantics/semantics_node.h
  lib/ui/semantics/semantics_update_builder.cc
  lib/ui/semantics/semantics_update_builder.h
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  shell/platform/android/platform_view_android.cc
Labels: cla: yes

#8114 Improve shadow doc in PhysicalShapeLayer
  flow/layers/physical_shape_layer.cc
Labels: cla: yes

#8094 Add support for trace counters with variable arguments and instrument the raster cache.
  flow/raster_cache.cc
  flow/raster_cache.h
  fml/trace_event.cc
  fml/trace_event.h
Labels: cla: yes

#8122 Revert "Add support for trace counters with variable arguments and instrument the raster cache."
  flow/raster_cache.cc
  flow/raster_cache.h
  fml/trace_event.cc
  fml/trace_event.h
Labels: cla: yes

#8095 Integrated AndroidTouchProcessor within the old FlutterView
  shell/platform/android/io/flutter/embedding/engine/android/AndroidTouchProcessor.java
  shell/platform/android/io/flutter/embedding/engine/android/FlutterView.java
  shell/platform/android/io/flutter/view/FlutterView.java
Labels: cla: yes

#8123 Roll src/third_party/skia e9c1ce89c005..c6d8781c4036 (29 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8008 Expose decorationThickness to dart:ui
  lib/stub_ui/text.dart
  lib/ui/text.dart
  lib/ui/text/paragraph_builder.cc
  lib/ui/text/paragraph_builder.h
  third_party/txt/tests/paragraph_unittests.cc
Labels: cla: yes

#8125 Roll src/third_party/skia c6d8781c4036..2932a458957d (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8126 Bugfix #29203: NPE in getAccessibilityProvider in old FlutterView.
  shell/platform/android/io/flutter/view/FlutterView.java
Labels: cla: yes

#8128 Roll src/third_party/skia 2932a458957d..762ddd7e4352 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8129 Roll src/third_party/skia 762ddd7e4352..665bc64a2dc4 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8137 Roll src/third_party/skia 665bc64a2dc4..406b068942f0 (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8124 Use final state passed to dart before initialization as the initial lifecycleState.
  lib/ui/hooks.dart
  lib/ui/window.dart
Labels: cla: yes

#8138 Roll src/third_party/skia 406b068942f0..2eecc3ea3d71 (11 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8141 Fix TextStyle decode misalignment
  lib/ui/text.dart
  lib/ui/text/paragraph_builder.cc
Labels: cla: yes

#8140 Reland PerformanceOverlayLayer golden test
  ci/licenses_golden/licenses_flutter
  flow/BUILD.gn
  flow/flow_run_all_unittests.cc
  flow/flow_test_utils.cc
  flow/flow_test_utils.h
  flow/layers/performance_overlay_layer.cc
  flow/layers/performance_overlay_layer.h
  flow/layers/performance_overlay_layer_unittests.cc
  testing/resources/performance_overlay_gold.png
Labels: cla: yes

#8142 Typo "fast an inline" to "fast and inline"
  fml/unique_object.h
Labels: cla: yes

#8143 Fix indexing error in dart:ui TextStyle.toString
  lib/ui/text.dart
Labels: cla: yes

#8150 Disable build_ios task due to lack of credits.
  .cirrus.yml
Labels: cla: yes

#8139 Look up ICU symbols based on the path to libflutter.so as a fallback
  shell/common/switches.cc
  shell/common/switches.h
  shell/platform/android/io/flutter/view/FlutterMain.java
Labels: cla: yes

#8151 [Skia] Rollback Skia to 29d5dec9a0783a033b921dc483fb98d565d684f6
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes

#8152 Roll src/third_party/dart 1bd36d694d..674fd0e060 (48 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  frontend_server/lib/server.dart
  sky/packages/sky_engine/LICENSE
Labels: cla: yes

#8153 Revert "Disable build_ios task due to lack of credits."
  .cirrus.yml
Labels: cla: yes

#8079 Fix text.dart height docs
  lib/stub_ui/text.dart
  lib/ui/text.dart
Labels: cla: yes

#8149 Encode scroll motion events in the Android touch processor
  shell/platform/android/io/flutter/embedding/engine/android/AndroidTouchProcessor.java
Labels: cla: yes

#8147 Add “full-dart-debug” that disabled optimizations in the Dart VM.
  tools/gn
Labels: cla: yes

#8145 Reland "Add support for trace counters with variable arguments and instrument the raster cache."
  flow/raster_cache.cc
  flow/raster_cache.h
  fml/trace_event.cc
  fml/trace_event.h
  tools/gn
Labels: cla: yes

#8157 Anti-Aliasing for shape layers
  flow/layers/physical_shape_layer.cc
Labels: cla: yes

#8154 Suppress deprecation warning for use of Build.CPU_ABI
  shell/platform/android/io/flutter/view/ResourceExtractor.java
Labels: cla: yes

#8158 Roll src/third_party/dart 1bd36d694d..7d560f8385 (27 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes

#8161 Roll src/third_party/skia 29d5dec9a078..1386b2d5579d (123 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autoroller: commit, cla: yes

#8162 Roll src/third_party/skia 1386b2d5579d..8b9b8f8c5846 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8163 Roll src/third_party/skia 8b9b8f8c5846..5412618d503c (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8164 Roll src/third_party/skia 5412618d503c..f699bf0437db (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8165 Roll src/third_party/skia f699bf0437db..feb720f746dc (15 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8155 Ensure that typed data is released within SendPlatformMessage scope.
  lib/ui/window/window.cc
Labels: cla: yes

#8166 Do not pass short-lived buffers as labels to Dart_TimelineEvent
  fml/trace_event.h
Labels: cla: yes

#8148 Add dump-shader-skp switch to help ShaderWarmUp
  common/settings.cc
  common/settings.h
  shell/common/persistent_cache.cc
  shell/common/persistent_cache.h
  shell/common/rasterizer.cc
  shell/common/shell.cc
  shell/common/switches.cc
  shell/common/switches.h
  shell/platform/android/io/flutter/app/FlutterActivityDelegate.java
  shell/platform/android/io/flutter/embedding/engine/FlutterShellArgs.java
Labels: cla: yes

#8167 Roll src/third_party/dart 7d560f8385..7418238239 (61 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#8169 Roll src/third_party/skia feb720f746dc..512e38091c85 (11 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8168 Add an allocator specific check to ensure that strings passed to the timeline are not heap allocated.
  fml/trace_event.cc
  shell/platform/embedder/embedder.h
Labels: cla: yes

#8109 Android Embedding PR 19: Add accessibility to new FlutterView.
  shell/platform/android/io/flutter/embedding/engine/FlutterEngine.java
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/engine/android/FlutterFragment.java
  shell/platform/android/io/flutter/embedding/engine/android/FlutterSurfaceView.java
  shell/platform/android/io/flutter/embedding/engine/android/FlutterTextureView.java
  shell/platform/android/io/flutter/embedding/engine/android/FlutterView.java
  shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/AccessibilityChannel.java
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  shell/platform/android/io/flutter/view/FlutterView.java
Labels: cla: yes

#8085 Remove deprecated libraries from snapshot
  lib/snapshot/BUILD.gn
  lib/stub_ui/compositing.dart
  lib/ui/compositing.dart
Labels: cla: yes

#8172 Add frame and target time metadata to vsync events and connect platform vsync events using flows.
  fml/trace_event.cc
  fml/trace_event.h
  shell/common/vsync_waiter.cc
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
Labels: cla: yes

#8173 Roll src/third_party/skia 512e38091c85..05201fc7e77e (10 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8170 Bugfix: Prevent crash when responding to a platform message after FlutterJNI detaches from native.
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
Labels: cla: yes

#8176 Roll src/third_party/skia 05201fc7e77e..aefecad7c0d2 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8177 Roll src/third_party/skia aefecad7c0d2..69600007e278 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8175 Keep overlays_gr_context_ in sync with the overlay surface
  flow/embedded_views.h
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
Labels: cla: yes

#8178 Roll src/third_party/skia 69600007e278..46f5ee156155 (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8179 Roll src/third_party/skia 46f5ee156155..49ea3194535c (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8080 Only build full sdk on release to speed up bots
  tools/gn
Labels: cla: yes

#8181 Fix include of libzx.
  flow/export_node.h
Labels: cla: yes

#8180 Fix log level typo from ERROR to INFO
  shell/common/persistent_cache.cc
Labels: cla: yes

#8184 Roll src/third_party/skia 49ea3194535c..d3cfbcae10eb (9 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8186 Roll src/third_party/skia d3cfbcae10eb..f34d0c79dc6c (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8187 Roll src/third_party/skia f34d0c79dc6c..3d42a0521d12 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#8188 Roll src/third_party/skia 3d42a0521d12..f3f7059cb736 (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes
