Repository flutter/engine, pull requests merged in 2019-09, with the labels that each got.

#11812 Roll src/third_party/skia 6e637472ebf3..7e45515fa34f (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#11813 Roll fuchsia/sdk/core/mac-amd64 from Rf30g... to dHz9X...
  DEPS
Labels: autoroller: commit, cla: yes

#11814 Roll fuchsia/sdk/core/linux-amd64 from 9FJtg... to 6oi7L...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#11815 Roll src/third_party/skia 7e45515fa34f..7dfd4bd3fce1 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#11816 Roll fuchsia/sdk/core/mac-amd64 from dHz9X... to AAphf...
  DEPS
Labels: autoroller: commit, cla: yes

#11818 Roll fuchsia/sdk/core/linux-amd64 from 6oi7L... to iV65h...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#11820 Roll src/third_party/skia 7dfd4bd3fce1..0a1e9efa392c (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#11821 Roll src/third_party/skia 0a1e9efa392c..8203a180ea5d (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#11822 Roll fuchsia/sdk/core/mac-amd64 from AAphf... to ApgEE...
  DEPS
Labels: autoroller: commit, cla: yes

#11823 Roll fuchsia/sdk/core/linux-amd64 from iV65h... to 0qRbW...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#11824 Roll fuchsia/sdk/core/mac-amd64 from ApgEE... to pVy4h...
  DEPS
Labels: autoroller: commit, cla: yes

#11825 Roll fuchsia/sdk/core/linux-amd64 from 0qRbW... to a8wlq...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#11826 Roll src/third_party/skia 8203a180ea5d..94c66475560d (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#11830 Roll src/third_party/skia 94c66475560d..033c4014b788 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#11831 Roll src/third_party/skia 033c4014b788..8050d94ae227 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#11832 Roll fuchsia/sdk/core/mac-amd64 from pVy4h... to -kKi5...
  DEPS
Labels: autoroller: commit, cla: yes

#11833 Roll fuchsia/sdk/core/linux-amd64 from a8wlq... to KqidK...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#11834 Roll src/third_party/skia 8050d94ae227..452ce044f0db (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#11835 [CFE/VM] Fix merge/typo for bump to kernel version 29
  DEPS
Labels: cla: yes

#11357 Rename first frame method and notify FlutterActivity when full drawn (#38714 #36796).
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/io/flutter/embedding/android/FlutterFragment.java
  shell/platform/android/io/flutter/embedding/android/FlutterSplashView.java
  shell/platform/android/io/flutter/embedding/android/FlutterSurfaceView.java
  shell/platform/android/io/flutter/embedding/android/FlutterTextureView.java
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/embedding/engine/FlutterEngine.java
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
  shell/platform/android/io/flutter/embedding/engine/renderer/FlutterUiDisplayListener.java
  shell/platform/android/io/flutter/embedding/engine/renderer/OnFirstFrameRenderedListener.java
  shell/platform/android/io/flutter/embedding/engine/renderer/RenderSurface.java
  shell/platform/android/io/flutter/view/FlutterNativeView.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/io/flutter/view/TextureRegistry.java
  shell/platform/android/platform_view_android_jni.cc
  shell/platform/android/test/io/flutter/FlutterTestSuite.java
  shell/platform/android/test/io/flutter/embedding/engine/FlutterJNITest.java
  shell/platform/android/test/io/flutter/embedding/engine/RenderingComponentTest.java
  shell/platform/android/test/io/flutter/embedding/engine/renderer/FlutterRendererTest.java
Labels: cla: yes

#11842 Fix RTL justification with newline by passing in full justify tracking var
  third_party/txt/src/txt/paragraph_txt.cc
  third_party/txt/src/txt/paragraph_txt.h
  third_party/txt/tests/paragraph_unittests.cc
Labels: cla: yes

#11844 Updated API usage in scenario app by deleting unnecessary method.
  testing/scenario_app/android/app/src/main/java/dev/flutter/scenarios/MainActivity.java
Labels: cla: yes

#11576 Minor tweaks to the Doxygen theme.
  Doxyfile
  docs/flutter-doxygen.css
  docs/flutter_logo.png
  docs/footer.html
  docs/header.html
Labels: cla: yes

#11848 Roll src/third_party/dart 36985859e4..54fdd559d8 (65 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#11840 Roll fuchsia/sdk/core/mac-amd64 from -kKi5... to dRCdb...
  DEPS
Labels: autoroller: commit, cla: yes

#11837 Roll src/third_party/skia 452ce044f0db..77743492418e (12 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#11845 Roll fuchsia/sdk/core/linux-amd64 from KqidK... to BR_-u...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#11850 Roll src/third_party/dart 54fdd559d8..622747502e (1 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#11868 Roll src/third_party/dart 622747502e..fd27e795ba (9 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#11849 Support building standalone far packages with autogen manifests
  tools/fuchsia/gen_package.py
  tools/fuchsia/package_dir.gni
Labels: cla: yes

#11847 Add a sample unit test target to flutter runner
  DEPS
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/sample_unittests.cc
Labels: cla: yes

#11872 Roll src/third_party/skia 77743492418e..c2dc9c864844 (22 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#11873 Roll fuchsia/sdk/core/mac-amd64 from dRCdb... to m-hNV...
  DEPS
Labels: autoroller: commit, cla: yes

#11874 Roll fuchsia/sdk/core/linux-amd64 from BR_-u... to LKWtB...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#11669 Add style guide and formatting information
  CONTRIBUTING.md
Labels: cla: yes

#9888 Provide dart vm initalize isolate callback so that children isolates belong to parent's isolate group.
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/dart_vm.cc
Labels: cla: yes

#11876 Roll src/third_party/dart fd27e795ba..4bd13a74d9 (5 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#11875 [flutter_runner] Add common libs to the test far
  .cirrus.yml
  ci/build_flutter_runner_tests.sh
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/meta/flutter_runner_tests.cmx
Labels: cla: yes

#11878 Roll src/third_party/skia c2dc9c864844..e7366841663b (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#11879 Roll src/third_party/dart 4bd13a74d9..c3db2e3ee0 (4 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#11807 Fix deleting Thai vowel bug on iOS
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
Labels: cla: yes

#11451 Android 10+ View.getSystemGestureExclusionRects
  shell/platform/android/io/flutter/embedding/engine/systemchannels/PlatformChannel.java
  shell/platform/android/io/flutter/plugin/platform/PlatformPlugin.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/PlatformChannelTest.java
Labels: cla: yes, platform-android

#11880 Handle new navigation platform messages
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/lib/src/ui/initialization.dart
  lib/web_ui/lib/src/ui/test_embedding.dart
  lib/web_ui/test/engine/navigation_test.dart
Labels: cla: yes, platform-web

#11881 Roll src/third_party/skia e7366841663b..166751ef578a (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#11828 [Windows] Address #36422 by adding a context for async resource uploading
  shell/platform/windows/angle_surface_manager.cc
  shell/platform/windows/angle_surface_manager.h
  shell/platform/windows/flutter_windows.cc
  shell/platform/windows/win32_flutter_window.cc
  shell/platform/windows/win32_flutter_window.h
Labels: affects: desktop, cla: yes, platform-windows

#11882 Roll src/third_party/dart c3db2e3ee0..08132661a6 (2 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#11877 Finish plumbing message responses on method channels
  shell/platform/common/cpp/client_wrapper/include/flutter/method_channel.h
  shell/platform/common/cpp/client_wrapper/plugin_registrar.cc
  shell/platform/darwin/common/framework/Headers/FlutterChannels.h
Labels: cla: yes

#11887 Roll src/third_party/dart 08132661a6..67bb2b7819 (4 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#11888 Roll src/third_party/skia 166751ef578a..97218352addb (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#11889 Roll fuchsia/sdk/core/mac-amd64 from m-hNV... to S-f_C...
  DEPS
Labels: autoroller: commit, cla: yes

#11891 Roll fuchsia/sdk/core/linux-amd64 from LKWtB... to OmqaW...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#11892 Roll src/third_party/dart 67bb2b7819..6eed35b60d (18 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#11894 Roll src/third_party/skia 97218352addb..b0e2347fedfc (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#11895 Roll src/third_party/dart 6eed35b60d..d0218d4771 (5 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#11896 Roll src/third_party/skia b0e2347fedfc..e784f75beb20 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#11897 Roll fuchsia/sdk/core/mac-amd64 from S-f_C... to -AQkJ...
  DEPS
Labels: autoroller: commit, cla: yes

#11898 Roll fuchsia/sdk/core/linux-amd64 from OmqaW... to Z7PSg...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#11841 Revert "Add a BroadcastStream to FrameTiming (#11041)"
  lib/ui/hooks.dart
  lib/ui/window.dart
  lib/web_ui/lib/src/ui/window.dart
  testing/dart/window_test.dart
Labels: cla: yes

#11886 remove extra redundant channels setup in iOS embedding engine
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  testing/scenario_app/ios/Scenarios/ScenariosTests/FlutterEngineTest.m
Labels: cla: yes

#11900 Roll src/third_party/skia e784f75beb20..adecf4b6d5fe (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#11475 buildfix: support build windows release/profile mode(#32746)
  AUTHORS
  runtime/BUILD.gn
Labels: cla: yes

#11804 Incorporate View.setSystemGestureExclusionRects code review feedback from #11441
  shell/platform/android/io/flutter/embedding/engine/systemchannels/PlatformChannel.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/PlatformChannelTest.java
Labels: cla: yes, platform-android

#11901 Roll src/third_party/dart d0218d4771..be66176534 (11 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#11893 Add @Keep annotation
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/plugin/platform/SingleViewPresentation.java
  shell/platform/android/io/flutter/view/AccessibilityViewEmbedder.java
  shell/platform/android/io/flutter/view/FlutterCallbackInformation.java
Labels: cla: yes

#11883 LTO fuchsia binaries
  DEPS
  tools/fuchsia/build_fuchsia_artifacts.py
Labels: cla: yes

#11902 Remove un-needed FragmentActivity import statements to facilitate proguard.
  shell/platform/android/io/flutter/embedding/android/FlutterEngineConfigurator.java
  shell/platform/android/io/flutter/embedding/android/FlutterEngineProvider.java
Labels: cla: yes

#11903 Roll src/third_party/skia adecf4b6d5fe..8fda88ed6d41 (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#11904 Roll fuchsia/clang/mac-amd64 from CGYQg... to XAazI...
  DEPS
Labels: autoroller: commit, cla: yes

#11922 Roll src/third_party/skia 8fda88ed6d41..080d210e7acc (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#11924 Roll src/third_party/dart be66176534..f4229da6ab (29 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12011 Cherry-picks for 1.9.1
  DEPS
Labels: cla: yes

#12029 Revert "Roll src/third_party/dart be66176534..f4229da6ab (29 commits)"
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#11939 Roll fuchsia/sdk/core/mac-amd64 from -AQkJ... to spUG2...
  DEPS
Labels: autoroller: commit, cla: yes

#11945 Roll fuchsia/sdk/core/linux-amd64 from Z7PSg... to R1yqu...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#12023 Fix multi span text ruler cache lookup failure.
  lib/web_ui/lib/src/engine/text/ruler.dart
  lib/web_ui/test/paragraph_test.dart
Labels: cla: yes

#12026 [flutter_runner] Plumb Flutter component arguments to the Dart entrypoint
  shell/platform/fuchsia/flutter/component.cc
Labels: cla: yes

#12016 [flutter_runner] Kernel platform files can now be built in topaz
  ci/check_gn_format.py
  lib/snapshot/BUILD.gn
  runtime/BUILD.gn
  shell/platform/fuchsia/dart_runner/BUILD.gn
  shell/platform/fuchsia/dart_runner/kernel/BUILD.gn
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/kernel/BUILD.gn
  tools/fuchsia/dart.gni
Labels: cla: yes

#12031 Roll src/third_party/skia 080d210e7acc..c30f1a936d84 (21 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12035 Roll src/third_party/dart be66176534..ec7ec4ecf7 (37 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#11912 Document dependencies and remove support-v13
  shell/platform/android/BUILD.gn
  tools/android_support/files.json
  tools/android_support/generate_pom_file.py
  tools/gen_javadoc.py
Labels: cla: yes

#12034 [flutter_runner] Refactor our build rules to make them more inline with topaz
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/engine_flutter_runner.gni
Labels: cla: yes

#11798 Manage resource and onscreen contexts using separate IOSGLContext objects
  shell/platform/darwin/ios/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterOverlayView.h
  shell/platform/darwin/ios/framework/Source/FlutterOverlayView.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterView.h
  shell/platform/darwin/ios/framework/Source/FlutterView.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/ios_gl_context.h
  shell/platform/darwin/ios/ios_gl_context.mm
  shell/platform/darwin/ios/ios_gl_render_target.h
  shell/platform/darwin/ios/ios_gl_render_target.mm
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_software.mm
  shell/platform/darwin/ios/platform_view_ios.h
  shell/platform/darwin/ios/platform_view_ios.mm
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/ScenariosTests/FlutterViewTest.m
Labels: cla: yes

#12055 Revert "Manage resource and onscreen contexts using separate IOSGLCon…
  shell/platform/darwin/ios/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterOverlayView.h
  shell/platform/darwin/ios/framework/Source/FlutterOverlayView.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterView.h
  shell/platform/darwin/ios/framework/Source/FlutterView.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/ios_gl_context.h
  shell/platform/darwin/ios/ios_gl_context.mm
  shell/platform/darwin/ios/ios_gl_render_target.h
  shell/platform/darwin/ios/ios_gl_render_target.mm
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_software.mm
  shell/platform/darwin/ios/platform_view_ios.h
  shell/platform/darwin/ios/platform_view_ios.mm
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/ScenariosTests/FlutterViewTest.m
Labels: cla: yes

#12058 Roll fuchsia/clang/linux-amd64 from -mnHl... to VoYNW...
  DEPS
Labels: cla: yes

#12063 Roll src/third_party/dart ec7ec4ecf7..fb14babf59 (19 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12059 Roll src/third_party/skia c30f1a936d84..380561393385 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12067 Roll src/third_party/skia 380561393385..69a426f5a427 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12010 option for --no-lto for fuchsia
  tools/fuchsia/build_fuchsia_artifacts.py
Labels: CQ+1, cla: yes, waiting for tree to go green

#12068 Roll src/third_party/skia 69a426f5a427..f433336585ed (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12070 Roll src/third_party/skia f433336585ed..6c3bd09ead0f (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#11808 Annotate nullability on FlutterEngine to make swift writing more ergonomic
  shell/platform/darwin/ios/framework/Headers/FlutterEngine.h
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
Labels: cla: yes

#12071 Roll fuchsia/clang/mac-amd64 from XAazI... to H1Qjc...
  DEPS
Labels: autoroller: commit, cla: yes

#12072 Roll fuchsia/clang/linux-amd64 from VoYNW... to 2IT_b...
  DEPS
Labels: autoroller: commit, cla: yes

#11899 Improve input method and Unicode character display(#30661)
  shell/platform/common/cpp/text_input_model.cc
  shell/platform/common/cpp/text_input_model.h
  shell/platform/glfw/text_input_plugin.cc
  shell/platform/windows/key_event_handler.cc
  shell/platform/windows/key_event_handler.h
  shell/platform/windows/keyboard_hook_handler.h
  shell/platform/windows/text_input_plugin.cc
  shell/platform/windows/text_input_plugin.h
  shell/platform/windows/win32_flutter_window.cc
  shell/platform/windows/win32_flutter_window.h
  shell/platform/windows/win32_window.cc
  shell/platform/windows/win32_window.h
Labels: cla: yes

#12074 Roll src/third_party/skia 6c3bd09ead0f..627d15588f4d (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12075 Roll src/third_party/skia 627d15588f4d..4f2674da4bbc (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12077 Roll src/third_party/skia 4f2674da4bbc..28d40b2e7ade (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#11839 Remove ENABLE_BITCODE from Scenarios test app
  testing/scenario_app/compile_ios_aot.sh
  testing/scenario_app/compile_ios_jit.sh
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
Labels: affects: tests, cla: yes

#12082 Roll src/third_party/skia 28d40b2e7ade..c2d84bfa7421 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12080 Don't quote generic font families
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/lib/src/engine/text/ruler.dart
  lib/web_ui/lib/src/engine/util.dart
  lib/web_ui/test/text_test.dart
Labels: cla: yes

#12081 Add GradientRadial paintStyle implementation
  lib/web_ui/lib/src/engine/shader.dart
Labels: cla: yes

#9864 Add capability to add AppDelegate as UNUserNotificationCenterDelegate
  shell/platform/darwin/ios/framework/Headers/FlutterPlugin.h
  shell/platform/darwin/ios/framework/Headers/FlutterPluginAppLifeCycleDelegate.h
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegate.mm
  shell/platform/darwin/ios/framework/Source/FlutterPluginAppLifeCycleDelegate.mm
Labels: cla: yes

#12084 Guard availability of user notification related methods to iOS 10.0
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegate.mm
  shell/platform/darwin/ios/framework/Source/FlutterPluginAppLifeCycleDelegate.mm
Labels: cla: yes

#12083 Roll src/third_party/dart fb14babf59..2e8d912848 (65 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12086 Roll src/third_party/skia c2d84bfa7421..8cae1e95a23b (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12087 Don't launch the observatory by default on each embedder unit-test invocation.
  shell/platform/embedder/tests/embedder_config_builder.cc
  shell/platform/embedder/tests/embedder_config_builder.h
Labels: cla: yes

#12088 Roll fuchsia/clang/mac-amd64 from H1Qjc... to HfPKR...
  DEPS
Labels: autoroller: commit, cla: yes

#12106 Roll src/third_party/skia 8cae1e95a23b..1bf30ce852e0 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12129 Roll src/third_party/skia 1bf30ce852e0..9e5c47936b17 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12151 Roll src/third_party/skia 9e5c47936b17..b88894c8811b (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12153 Roll src/third_party/dart 2e8d912848..ccb6ba948b (30 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12161 Ensure that the web image ImageShader implements Shader
  lib/web_ui/lib/src/ui/window.dart
Labels: cla: yes

#12168 Roll src/third_party/dart ccb6ba948b..62f78a7abb (3 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#11817 Smooth out iOS irregular input events delivery
  ci/licenses_golden/licenses_flutter
  shell/common/BUILD.gn
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/fixtures/shell_test.dart
  shell/common/input_events_unittests.cc
  shell/common/platform_view.cc
  shell/common/platform_view.h
  shell/common/pointer_data_dispatcher.cc
  shell/common/pointer_data_dispatcher.h
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/shell_test.cc
  shell/common/shell_test.h
  shell/platform/darwin/ios/platform_view_ios.h
  shell/platform/darwin/ios/platform_view_ios.mm
Labels: cla: yes

#12054 [flutter_runner] Port the accessibility bridge from Topaz
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/flutter/accessibility_bridge.cc
  shell/platform/fuchsia/flutter/accessibility_bridge.h
  shell/platform/fuchsia/flutter/component.cc
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/engine.h
  shell/platform/fuchsia/flutter/engine_flutter_runner.gni
  shell/platform/fuchsia/flutter/platform_view.cc
  shell/platform/fuchsia/flutter/platform_view.h
Labels: cla: yes

#12178 Roll src/third_party/skia b88894c8811b..66d8006c2bb1 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12187 Roll src/third_party/dart 62f78a7abb..300c3333d1 (6 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12190 Move the Fuchsia tryjob into a its own step and disable LTO.
  .cirrus.yml
Labels: cla: yes

#12079 Add custom test plugin that supports screenshot tests
  .cirrus.yml
  ci/licenses_golden/licenses_flutter
  ci/licenses_golden/tool_signature
  lib/web_ui/.gitignore
  lib/web_ui/build.yaml
  lib/web_ui/dev/environment.dart
  lib/web_ui/dev/test.dart
  lib/web_ui/dev/test_platform.dart
  lib/web_ui/dev/test_runner.dart
  lib/web_ui/pubspec.yaml
  lib/web_ui/test/golden_files/.gitignore
  lib/web_ui/test/golden_files/smoke_test.png
  lib/web_ui/test/golden_tests/golden_failure_smoke_test.dart
  lib/web_ui/test/golden_tests/golden_success_smoke_test.dart
  tools/licenses/lib/main.dart
  web_sdk/web_engine_tester/lib/golden_tester.dart
  web_sdk/web_engine_tester/lib/static/.gitignore
  web_sdk/web_engine_tester/lib/static/README.md
  web_sdk/web_engine_tester/lib/static/favicon.ico
  web_sdk/web_engine_tester/lib/static/host.css
  web_sdk/web_engine_tester/lib/static/host.dart
  web_sdk/web_engine_tester/lib/static/index.html
  web_sdk/web_engine_tester/pubspec.yaml
Labels: cla: yes

#12048 [flutter_runner] Generate symbols for the Dart VM profiler
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/runner.cc
  shell/platform/fuchsia/runtime/dart/profiler_symbols/BUILD.gn
  shell/platform/fuchsia/runtime/dart/profiler_symbols/analysis_options.yaml
  shell/platform/fuchsia/runtime/dart/profiler_symbols/dart_profiler_symbols.dart
  shell/platform/fuchsia/runtime/dart/profiler_symbols/pubspec.yaml
Labels: cla: yes

#12197 add a convenience CLI tool for building and testing web engine
  .cirrus.yml
  lib/web_ui/dev/felt
  lib/web_ui/dev/felt.dart
  lib/web_ui/dev/test_runner.dart
Labels: cla: yes

#12202 Roll src/third_party/skia 66d8006c2bb1..4fe30e15c06c (11 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12203 Roll src/third_party/dart 300c3333d1..7bbfd532de (5 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12205 Don't load Roboto by default
  lib/web_ui/lib/src/engine/compositor/fonts.dart
  lib/web_ui/lib/src/engine/text/font_collection.dart
Labels: cla: yes

#12206 Only build the x64 variant of Fuchsia on the try-jobs.
  .cirrus.yml
  tools/fuchsia/build_fuchsia_artifacts.py
Labels: cla: yes

#12207 Roll src/third_party/skia 4fe30e15c06c..26ac0467cb4c (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12209 Roll buildroot and Fuchsia toolchain and unblock the Fuchsia/Linux autoroller manually.
  DEPS
Labels: cla: yes

#12210 Roll fuchsia/sdk/core/mac-amd64 from spUG2... to vDk46...
  DEPS
Labels: autoroller: commit, cla: yes

#12212 Roll fuchsia/sdk/core/linux-amd64 from R1yqu... to 7gDBN...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#12213 Roll src/third_party/dart 7bbfd532de..ca7baa4013 (3 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12214 Roll src/third_party/skia 26ac0467cb4c..b23a4f9d9442 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12215 Roll src/third_party/skia b23a4f9d9442..14318c140949 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12217 Roll src/third_party/dart ca7baa4013..4d5e15abde (29 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12218 Namespace patched SDK names to not conflict with Topaz
  lib/snapshot/BUILD.gn
  shell/platform/fuchsia/dart_runner/embedder/BUILD.gn
  shell/platform/fuchsia/dart_runner/kernel/BUILD.gn
  shell/platform/fuchsia/flutter/kernel/BUILD.gn
  tools/fuchsia/build_fuchsia_artifacts.py
Labels: cla: yes

#12219 Roll fuchsia/sdk/core/mac-amd64 from vDk46... to _nS67...
  DEPS
Labels: autoroller: commit, cla: yes

#12220 Roll src/third_party/skia d96ef09317d6..120e7d6766e4 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12221 Roll fuchsia/sdk/core/linux-amd64 from 7gDBN... to u7Q31...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#12204 Don't disable toString in release mode for dart:ui classes
  lib/web_ui/lib/src/ui/painting.dart
  lib/web_ui/lib/src/ui/text.dart
Labels: cla: yes

#12222 Do not generate kernel platform files on topaz tree
  lib/snapshot/BUILD.gn
Labels: cla: yes

#12223 Revert "Roll src/third_party/dart be66176534..ec7ec4ecf7 (37 commits)"
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12224 Roll src/third_party/skia 120e7d6766e4..50f377e275c3 (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12078 Manage iOS contexts separately
  shell/platform/darwin/ios/framework/Source/FlutterOverlayView.h
  shell/platform/darwin/ios/framework/Source/FlutterOverlayView.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterView.h
  shell/platform/darwin/ios/framework/Source/FlutterView.mm
  shell/platform/darwin/ios/ios_gl_context.h
  shell/platform/darwin/ios/ios_gl_context.mm
  shell/platform/darwin/ios/ios_gl_render_target.h
  shell/platform/darwin/ios/ios_gl_render_target.mm
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_software.mm
  shell/platform/darwin/ios/platform_view_ios.h
  shell/platform/darwin/ios/platform_view_ios.mm
Labels: cla: yes

#12233 Revert "Manage iOS contexts separately"
  shell/platform/darwin/ios/framework/Source/FlutterOverlayView.h
  shell/platform/darwin/ios/framework/Source/FlutterOverlayView.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterView.h
  shell/platform/darwin/ios/framework/Source/FlutterView.mm
  shell/platform/darwin/ios/ios_gl_context.h
  shell/platform/darwin/ios/ios_gl_context.mm
  shell/platform/darwin/ios/ios_gl_render_target.h
  shell/platform/darwin/ios/ios_gl_render_target.mm
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_software.mm
  shell/platform/darwin/ios/platform_view_ios.h
  shell/platform/darwin/ios/platform_view_ios.mm
Labels: cla: yes

#12231 Roll src/third_party/skia 50f377e275c3..7c47d41067d4 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#11802 Adjust iOS frame start times to match the platform info
  shell/platform/darwin/ios/framework/Source/vsync_waiter_ios.mm
Labels: cla: yes

#12236 Roll fuchsia/sdk/core/mac-amd64 from _nS67... to Ne2UA...
  DEPS
Labels: autoroller: commit, cla: yes

#12235 Roll dart to e6887536aadc7fbd1990448989601cee0224958d.
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12237 Roll src/third_party/skia 7c47d41067d4..be194479d27f (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12238 Roll fuchsia/sdk/core/linux-amd64 from u7Q31... to vuG5q...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#12264 Revert "Add some AppLifecycleTests (#11890)"
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/xcshareddata/xcschemes/Scenarios.xcscheme
  testing/scenario_app/ios/Scenarios/Scenarios/AppDelegate.h
  testing/scenario_app/ios/Scenarios/Scenarios/AppDelegate.m
  testing/scenario_app/ios/Scenarios/Scenarios/FlutterEngine+ScenariosTest.h
  testing/scenario_app/ios/Scenarios/Scenarios/FlutterEngine+ScenariosTest.m
  testing/scenario_app/ios/Scenarios/Scenarios/ScreenBeforeFlutter.h
  testing/scenario_app/ios/Scenarios/Scenarios/ScreenBeforeFlutter.m
  testing/scenario_app/ios/Scenarios/ScenariosTests/AppLifecycleTests.m
  testing/scenario_app/lib/main.dart
  testing/scenario_app/lib/src/platform_echo_mixin.dart
  testing/scenario_app/lib/src/poppable_screen.dart
  testing/scenario_app/lib/src/scenario.dart
Labels: cla: yes
