Repository flutter/engine, pull requests merged in 2019-07, with the labels that each got.

#9629 Roll fuchsia/sdk/core/mac-amd64 from TRwIG... to byM-k...
  DEPS
Labels: autoroller: commit, cla: yes

#9633 Cherry-pick fix for flutter/flutter#35291
  shell/platform/android/io/flutter/plugin/platform/SingleViewPresentation.java
Labels: cla: yes

#9634 Roll Dart to 67ab3be10d35d994641da167cc806f20a7ffa679
  DEPS
  ci/licenses_golden/licenses_third_party
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/dart_vm.cc
  shell/platform/fuchsia/dart/dart_component_controller.cc
  shell/platform/fuchsia/dart/dart_runner.cc
  shell/platform/fuchsia/dart/service_isolate.cc
Labels: cla: yes

#9636 Added shebangs to ios unit test scripts. (#9464)
  testing/ios/IosUnitTests/build_and_run_tests.sh
  testing/ios/IosUnitTests/run_tests.sh
Labels: cla: yes

#9637 Revert "Roll Dart to 67ab3be10d35d994641da167cc806f20a7ffa679 (#9634)"
  DEPS
  ci/licenses_golden/licenses_third_party
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/dart_vm.cc
  shell/platform/fuchsia/dart/dart_component_controller.cc
  shell/platform/fuchsia/dart/dart_runner.cc
  shell/platform/fuchsia/dart/service_isolate.cc
Labels: cla: yes

#9632 Added Doxyfile.
  .gitignore
  Doxyfile
  ci/licenses_golden/tool_signature
  docs/flutter-doxygen.css
  tools/licenses/lib/main.dart
Labels: cla: yes

#9589 Fixes a plugin overwrite bug in the plugin shim system.
  shell/platform/android/io/flutter/embedding/engine/plugins/shim/ShimPluginRegistry.java
Labels: cla: yes

#9638 Reland: Roll Dart to 67ab3be10d35d994641da167cc806f20a7ffa679
  DEPS
  ci/licenses_golden/licenses_third_party
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/dart_vm.cc
  shell/platform/fuchsia/dart/dart_component_controller.cc
  shell/platform/fuchsia/dart/dart_runner.cc
  shell/platform/fuchsia/dart/service_isolate.cc
Labels: cla: yes

#9639 Roll src/third_party/skia 21a486d04ae0..9fb7fa537d93 (21 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9642 Fix warning about settings unavailable GN arg build_glfw_shell
  tools/gn
Labels: cla: yes

#9206 Android Embedding Refactor PR31: Integrate platform views with the new embedding and the plugin shim.
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/io/flutter/embedding/android/FlutterFragment.java
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/embedding/engine/FlutterEngine.java
  shell/platform/android/io/flutter/embedding/engine/FlutterEnginePluginRegistry.java
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/engine/plugins/activity/ActivityControlSurface.java
  shell/platform/android/io/flutter/embedding/engine/plugins/activity/ActivityPluginBinding.java
  shell/platform/android/io/flutter/embedding/engine/plugins/shim/ShimPluginRegistry.java
  shell/platform/android/io/flutter/embedding/engine/plugins/shim/ShimRegistrar.java
Labels: cla: yes

#9644 Roll src/third_party/skia 9fb7fa537d93..f2c52efce52b (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#9645 Roll src/third_party/skia f2c52efce52b..2ef826576819 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9646 Roll src/third_party/skia 2ef826576819..effee2065796 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9647 Roll src/third_party/skia effee2065796..bd3d8d39b3e7 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9478 iOS PlatformView clip path
  flow/embedded_views.cc
  flow/embedded_views.h
  flow/layers/clip_path_layer.cc
  flow/mutators_stack_unittests.cc
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.mm
Labels: cla: yes

#9648 Roll src/third_party/skia bd3d8d39b3e7..215ff3325230 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9640 make EmbeddedViewParams a unique ptr
  flow/embedded_views.h
  flow/layers/platform_view_layer.cc
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_software.h
  shell/platform/darwin/ios/ios_surface_software.mm
Labels: cla: yes

#9649 Roll buildroot to c5a493b25.
  DEPS
Labels: cla: yes

#9650 Roll src/third_party/skia 215ff3325230..1e2cb444e0c1 (12 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9651 Move the mutators stack handling to preroll
  flow/embedded_views.h
  flow/layers/clip_path_layer.cc
  flow/layers/clip_rect_layer.cc
  flow/layers/clip_rrect_layer.cc
  flow/layers/layer.h
  flow/layers/layer_tree.cc
  flow/layers/performance_overlay_layer_unittests.cc
  flow/layers/physical_shape_layer_unittests.cc
  flow/layers/platform_view_layer.cc
  flow/layers/transform_layer.cc
  flow/raster_cache.cc
  flow/scene_update_context.cc
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_software.h
  shell/platform/darwin/ios/ios_surface_software.mm
Labels: cla: yes

#9652 Pipeline allows continuations that can produce to front
  ci/licenses_golden/licenses_flutter
  shell/common/BUILD.gn
  shell/common/pipeline.h
  shell/common/pipeline_unittests.cc
  shell/common/rasterizer.cc
Labels: cla: yes

#9656 Roll src/third_party/skia 1e2cb444e0c1..3de5c6388142 (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9657 Roll src/third_party/skia 3de5c6388142..febc162c7898 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9658 Roll src/third_party/skia febc162c7898..38ae3f42fec1 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9659 Roll src/third_party/skia 38ae3f42fec1..93eeff578b08 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9653 External view embedder can tell if embedded views have mutated
  flow/embedded_views.h
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_software.h
  shell/platform/darwin/ios/ios_surface_software.mm
Labels: cla: yes

#9660 ExternalViewEmbedder can CancelFrame after pre-roll
  flow/embedded_views.h
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_software.h
  shell/platform/darwin/ios/ios_surface_software.mm
Labels: cla: yes

#9662 Roll src/third_party/skia 93eeff578b08..0e0113dcbd9a (9 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9663 Mutators Stack refactoring
  flow/embedded_views.cc
  flow/embedded_views.h
  flow/layers/clip_path_layer.cc
  flow/layers/clip_rect_layer.cc
  flow/layers/clip_rrect_layer.cc
  flow/layers/transform_layer.cc
  flow/mutators_stack_unittests.cc
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
Labels: cla: yes

#9665 Roll src/third_party/skia 0e0113dcbd9a..5b52c52141ac (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9654 Begin separating macOS engine from view controller
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Headers/FLEEngine.h
  shell/platform/darwin/macos/framework/Headers/FLEViewController.h
  shell/platform/darwin/macos/framework/Headers/FlutterMacOS.h
  shell/platform/darwin/macos/framework/Source/FLEEngine.mm
  shell/platform/darwin/macos/framework/Source/FLEEngine_Internal.h
  shell/platform/darwin/macos/framework/Source/FLETextInputPlugin.mm
  shell/platform/darwin/macos/framework/Source/FLEViewController.mm
  shell/platform/darwin/macos/framework/Source/FLEViewController_Internal.h
Labels: cla: yes

#9655 Allow embedders to add callbacks for responses to platform messages from the framework.
  ci/licenses_golden/licenses_flutter
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/embedder/embedder_engine.cc
  shell/platform/embedder/embedder_engine.h
  shell/platform/embedder/embedder_platform_message_response.cc
  shell/platform/embedder/embedder_platform_message_response.h
  shell/platform/embedder/fixtures/main.dart
  shell/platform/embedder/tests/embedder_test.cc
  shell/platform/embedder/tests/embedder_test.h
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: cla: yes

#9671 Roll src/third_party/skia 5b52c52141ac..11eb847a2080 (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9670 Roll src/third_party/dart 67ab3be10d...43891316ca
  DEPS
  ci/licenses_golden/licenses_third_party
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/dart_vm.cc
  shell/platform/fuchsia/dart/dart_component_controller.cc
  shell/platform/fuchsia/dart/dart_runner.cc
  shell/platform/fuchsia/dart/service_isolate.cc
Labels: cla: yes

#9673 Revert " Roll src/third_party/dart 67ab3be10d...43891316ca"
  DEPS
  ci/licenses_golden/licenses_third_party
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/dart_vm.cc
  shell/platform/fuchsia/dart/dart_component_controller.cc
  shell/platform/fuchsia/dart/dart_runner.cc
  shell/platform/fuchsia/dart/service_isolate.cc
Labels: cla: yes

#9675 Roll src/third_party/dart 67ab3be10d...b5aeaa6796
  DEPS
  ci/licenses_golden/licenses_third_party
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/dart_vm.cc
  shell/platform/fuchsia/dart/dart_component_controller.cc
  shell/platform/fuchsia/dart/dart_runner.cc
  shell/platform/fuchsia/dart/service_isolate.cc
Labels: cla: yes

#9661 Raster now returns an enum rather than boolean
  flow/compositor_context.cc
  flow/compositor_context.h
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/platform/fuchsia/flutter/compositor_context.cc
Labels: cla: yes

#9676 Roll src/third_party/skia 11eb847a2080..857c9f955edb (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9679 Roll src/third_party/skia 857c9f955edb..8063f6cca025 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9692 Roll src/third_party/skia 8063f6cca025..1d105080c423 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9685 fix Picture.toImage return type check and api conform test.
  lib/stub_ui/lib/src/ui/canvas.dart
  web_sdk/test/api_conform_test.dart
Labels: cla: yes

#9698 Ensure that platform messages without response handles can be dispatched.
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/fixtures/main.dart
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: cla: yes

#9699 Roll src/third_party/skia 1d105080c423..2f62edf1ac5d (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9700 Roll src/third_party/skia 2f62edf1ac5d..de6758683abd (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9703 Roll src/third_party/skia de6758683abd..e192c4ce5a33 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9705 Roll src/third_party/skia e192c4ce5a33..829b6a0ff49f (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9672 Add FLEDartProject for macOS embedding
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Headers/FLEDartProject.h
  shell/platform/darwin/macos/framework/Headers/FLEEngine.h
  shell/platform/darwin/macos/framework/Headers/FLEViewController.h
  shell/platform/darwin/macos/framework/Headers/FlutterMacOS.h
  shell/platform/darwin/macos/framework/Source/FLEDartProject.mm
  shell/platform/darwin/macos/framework/Source/FLEDartProject_Internal.h
  shell/platform/darwin/macos/framework/Source/FLEEngine.mm
  shell/platform/darwin/macos/framework/Source/FLEViewController.mm
Labels: cla: yes

#9708 Roll src/third_party/dart b5aeaa6796...966038ef58
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#9707 Revert "Revert "Use track-widget-creation transformer included in the…
  ci/analyze.sh
  ci/licenses_golden/licenses_flutter
  flutter_kernel_transformers/BUILD.gn
  flutter_kernel_transformers/lib/track_widget_constructor_locations.dart
  flutter_kernel_transformers/pubspec.yaml
  frontend_server/BUILD.gn
  frontend_server/lib/server.dart
  frontend_server/pubspec.yaml
  tools/generate_package_files.py
Labels: cla: yes

#9709 Roll src/third_party/skia 829b6a0ff49f..aee26ea14efc (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9711 Revert "Roll src/third_party/dart b5aeaa6796...966038ef58"
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#9669 Improve window documentation
  lib/ui/window.dart
Labels: cla: yes

#9714 Roll src/third_party/skia aee26ea14efc..56065d9b875f (16 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9713 Explain why OpacityLayer has an offset field
  flow/layers/opacity_layer.h
Labels: cla: yes

#9041 TextStyle.height property as a multiple of font size instead of multiple of ascent+descent+leading.
  lib/stub_ui/lib/src/ui/text.dart
  lib/ui/text.dart
  lib/ui/text/paragraph_builder.cc
  third_party/txt/src/txt/paragraph.cc
  third_party/txt/src/txt/paragraph_style.cc
  third_party/txt/src/txt/paragraph_style.h
  third_party/txt/src/txt/text_style.cc
  third_party/txt/src/txt/text_style.h
  third_party/txt/tests/paragraph_unittests.cc
Labels: affects: text input, cla: yes, prod: API break

#9668 Refactor ColorFilter to have a native wrapper
  ci/licenses_golden/licenses_flutter
  lib/ui/BUILD.gn
  lib/ui/dart_ui.cc
  lib/ui/painting.dart
  lib/ui/painting/color_filter.cc
  lib/ui/painting/color_filter.h
  lib/ui/painting/paint.cc
  testing/dart/color_filter_test.dart
Labels: cla: yes

#9716 Roll src/third_party/dart b5aeaa6796..06c3d7ad3a (44 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#9667 iOS platform view opacity
  flow/embedded_views.cc
  flow/embedded_views.h
  flow/layers/opacity_layer.cc
  flow/mutators_stack_unittests.cc
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
Labels: cla: yes

#9717 Fixed logLevel filter bug so that filter now works as expected. (#9460)
  shell/platform/android/io/flutter/Log.java
Labels: cla: yes

#9718 Roll src/third_party/skia 56065d9b875f..6b82cf638682 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9726 Roll src/third_party/skia 6b82cf638682..a3ffaabcc4f2 (24 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9486 Rework image & texture management to use concurrent message queues.
  BUILD.gn
  ci/licenses_golden/licenses_flutter
  fml/concurrent_message_loop.cc
  fml/concurrent_message_loop.h
  fml/message_loop.cc
  fml/message_loop.h
  fml/message_loop_unittests.cc
  fml/trace_event.h
  lib/ui/BUILD.gn
  lib/ui/fixtures/DashInNooglerHat.jpg
  lib/ui/fixtures/ui_test.dart
  lib/ui/io_manager.h
  lib/ui/painting/codec.cc
  lib/ui/painting/codec.h
  lib/ui/painting/frame_info.h
  lib/ui/painting/image.cc
  lib/ui/painting/image_decoder.cc
  lib/ui/painting/image_decoder.h
  lib/ui/painting/image_decoder_unittests.cc
  lib/ui/painting/multi_frame_codec.cc
  lib/ui/painting/multi_frame_codec.h
  lib/ui/painting/single_frame_codec.cc
  lib/ui/painting/single_frame_codec.h
  lib/ui/ui_dart_state.cc
  lib/ui/ui_dart_state.h
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/dart_isolate_unittests.cc
  runtime/dart_lifecycle_unittests.cc
  runtime/dart_vm.cc
  runtime/dart_vm.h
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/shell_io_manager.cc
  shell/common/shell_io_manager.h
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/tests/embedder_context.cc
  shell/platform/embedder/tests/embedder_context.h
  testing/BUILD.gn
  testing/run_tests.sh
  testing/test_gl_surface.cc
  testing/test_gl_surface.h
  testing/testing.cc
  testing/testing.h
  testing/thread_test.cc
  testing/thread_test.h
Labels: cla: yes

#9725 Make the license script compatible with recently changed Dart I/O stream APIs
  ci/licenses_golden/tool_signature
  tools/licenses/lib/main.dart
Labels: cla: yes

#9728 Roll src/third_party/dart 06c3d7ad3a...09fc76bc51
  DEPS
  ci/licenses_golden/licenses_third_party
  lib/ui/hooks.dart
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/dart_vm.cc
  shell/platform/fuchsia/dart/dart_component_controller.cc
  shell/platform/fuchsia/dart/dart_runner.cc
  shell/platform/fuchsia/dart/service_isolate.cc
Labels: cla: yes

#9730 Fix Fuchsia build.
  shell/platform/fuchsia/dart/dart_runner.cc
Labels: cla: yes

#9731 Roll src/third_party/skia a3ffaabcc4f2..96fdfe0fe88e (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9745 Fix windows test by not attempting to open a directory as a file.
  lib/ui/painting/image_decoder_unittests.cc
Labels: cla: yes

#9743 Roll fuchsia/sdk/core/linux-amd64 from I2Qe1... to KGmm_...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#9742 Roll fuchsia/sdk/core/mac-amd64 from byM-k... to lCQWE...
  DEPS
Labels: autoroller: commit, cla: yes

#9735 Roll src/third_party/skia 96fdfe0fe88e..af4e7b6cf616 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9641 Let pushColorFilter accept all types of ColorFilters
  flow/layers/color_filter_layer.cc
  flow/layers/color_filter_layer.h
  lib/stub_ui/lib/src/engine/compositor/layer_scene_builder.dart
  lib/stub_ui/lib/src/ui/compositing.dart
  lib/ui/compositing.dart
  lib/ui/compositing/scene_builder.cc
  lib/ui/compositing/scene_builder.h
  lib/ui/painting.dart
  testing/dart/compositing_test.dart
Labels: cla: yes

#9734 Fix backspace crash on Chinese devices
  shell/platform/android/io/flutter/plugin/editing/InputConnectionAdaptor.java
Labels: cla: yes

#9561 libtxt: fix reference counting of SkFontStyleSets held by font asset providers
  lib/ui/text/asset_manager_font_provider.cc
  lib/ui/text/asset_manager_font_provider.h
  third_party/txt/src/txt/typeface_font_asset_provider.cc
  third_party/txt/src/txt/typeface_font_asset_provider.h
Labels: cla: yes

#9740 Revert "Improve caching limits for Skia"
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/common/shell.cc
  shell/gpu/gpu_surface_gl.cc
Labels: cla: yes

#9737 Use libc++ variant of string view and remove the FML variant.
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/base32.cc
  fml/base32.h
  fml/command_line.cc
  fml/command_line.h
  fml/command_line_unittest.cc
  fml/string_view.cc
  fml/string_view.h
  fml/string_view_unittest.cc
  runtime/service_protocol.cc
  runtime/service_protocol.h
  shell/common/persistent_cache.cc
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/switches.cc
  shell/common/switches.h
  third_party/txt/tests/txt_test_utils.cc
Labels: cla: yes

#9506 Synchronize main thread and gpu thread for first render frame
  ci/licenses_golden/licenses_flutter
  fml/status.h
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/shell_unittests.cc
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
Labels: cla: yes

#9741 Make FLEViewController's view an internal detail
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Headers/FLEOpenGLContextHandling.h
  shell/platform/darwin/macos/framework/Headers/FLEReshapeListener.h
  shell/platform/darwin/macos/framework/Headers/FLEView.h
  shell/platform/darwin/macos/framework/Headers/FLEViewController.h
  shell/platform/darwin/macos/framework/Headers/FlutterMacOS.h
  shell/platform/darwin/macos/framework/Source/FLEEngine.mm
  shell/platform/darwin/macos/framework/Source/FLEView.mm
  shell/platform/darwin/macos/framework/Source/FLEViewController.mm
  shell/platform/darwin/macos/framework/Source/FLEViewController_Internal.h
  shell/platform/darwin/macos/framework/Source/FlutterView.h
  shell/platform/darwin/macos/framework/Source/FlutterView.mm
Labels: cla: yes

#9746 Make all shell unit tests use the OpenGL rasterizer.
  shell/common/BUILD.gn
  shell/common/shell_test.cc
  shell/common/shell_test.h
  testing/test_gl_surface.cc
  testing/test_gl_surface.h
Labels: cla: yes

#9466 Re-enable the Wuffs GIF decoder
  DEPS
  ci/licenses_golden/licenses_skia
  ci/licenses_golden/licenses_third_party
  ci/licenses_golden/tool_signature
  tools/gn
  tools/licenses/lib/main.dart
Labels: cla: yes

#9556 Minimal integration with the Skia text shaper module
  ci/licenses_golden/licenses_flutter
  common/config.gni
  lib/ui/BUILD.gn
  lib/ui/text/paragraph_builder.cc
  third_party/txt/BUILD.gn
  third_party/txt/benchmarks/paragraph_benchmarks.cc
  third_party/txt/benchmarks/paragraph_builder_benchmarks.cc
  third_party/txt/src/skia/paragraph_builder_skia.cc
  third_party/txt/src/skia/paragraph_builder_skia.h
  third_party/txt/src/skia/paragraph_skia.cc
  third_party/txt/src/skia/paragraph_skia.h
  third_party/txt/src/txt/font_collection.cc
  third_party/txt/src/txt/font_collection.h
  third_party/txt/src/txt/paragraph.h
  third_party/txt/src/txt/paragraph_builder.cc
  third_party/txt/src/txt/paragraph_builder.h
  third_party/txt/src/txt/paragraph_builder_txt.cc
  third_party/txt/src/txt/paragraph_builder_txt.h
  third_party/txt/src/txt/paragraph_txt.cc
  third_party/txt/src/txt/paragraph_txt.h
  third_party/txt/tests/paragraph_unittests.cc
  third_party/txt/tests/txt_test_utils.cc
  third_party/txt/tests/txt_test_utils.h
  tools/gn
Labels: cla: yes

#9758 Include SkParagraph headers only when the enable-skshaper flag is on
  third_party/txt/src/txt/font_collection.h
  third_party/txt/src/txt/paragraph_builder.cc
Labels: cla: yes

#9759 Roll fuchsia/sdk/core/mac-amd64 from lCQWE... to EYnRd...
  DEPS
Labels: autoroller: commit, cla: yes

#9765 Roll fuchsia/sdk/core/linux-amd64 from KGmm_... to ehWVT...
  DEPS
  ci/licenses_golden/licenses_fuchsia
  sky/packages/sky_engine/LICENSE
Labels: autoroller: commit, cla: yes

#9736 Build Fuchsia as part of CI presumit
  .cirrus.yml
Labels: cla: yes

#9750 FLEViewController/Engine API changes
  shell/platform/darwin/macos/framework/Headers/FLEEngine.h
  shell/platform/darwin/macos/framework/Headers/FLEViewController.h
  shell/platform/darwin/macos/framework/Source/FLEEngine.mm
  shell/platform/darwin/macos/framework/Source/FLEEngine_Internal.h
  shell/platform/darwin/macos/framework/Source/FLEViewController.mm
  shell/platform/darwin/macos/framework/Source/FLEViewController_Internal.h
  shell/platform/darwin/macos/framework/Source/FlutterView.h
  shell/platform/darwin/macos/framework/Source/FlutterView.mm
Labels: cla: yes

#9771 Roll fuchsia/sdk/core/mac-amd64 from EYnRd... to bYFml...
  DEPS
Labels: autoroller: commit, cla: yes

#9772 fix objcdoc generation
  tools/gen_objcdoc.sh
Labels: cla: yes

#9778 Roll fuchsia/sdk/core/mac-amd64 from bYFml... to 1F71B...
  DEPS
Labels: autoroller: commit, cla: yes

#9779 Roll fuchsia/sdk/core/mac-amd64 from 1F71B... to lKQ0y...
  DEPS
Labels: autoroller: commit, cla: yes

#9784 Roll src/third_party/skia af4e7b6cf616..f9fcf7ffa89a (33 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9786 Roll fuchsia/sdk/core/mac-amd64 from lKQ0y... to XOXaW...
  DEPS
Labels: autoroller: commit, cla: yes

#9727 Add hooks for InputConnection lock and unlocking
  shell/platform/android/io/flutter/plugin/platform/PlatformView.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/io/flutter/plugin/platform/VirtualDisplayController.java
Labels: cla: yes

#9787 Roll src/third_party/dart 09fc76bc51..24725a8559 (43 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes

#9767 Un-deprecated FlutterViewController's binaryMessenger.
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/ios/framework/Headers/FlutterViewController.h
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.m
  testing/ios/IosUnitTests/IosUnitTests.xcodeproj/project.pbxproj
Labels: cla: yes

#9721 Add comments to differentiate two cache paths
  shell/common/switches.h
  shell/platform/embedder/embedder.h
Labels: cla: yes

#9788 Roll src/third_party/skia f9fcf7ffa89a..7825d4983f90 (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autoroller: commit, cla: yes

#9790 Roll fuchsia/sdk/core/mac-amd64 from XOXaW... to CDbRd...
  DEPS
Labels: autoroller: commit, cla: yes

#9762 Fall back to a fully qualified path to libapp.so if the library can not be loaded by name
  common/settings.cc
  common/settings.h
  runtime/dart_snapshot.cc
  shell/common/switches.cc
  shell/platform/android/io/flutter/view/FlutterMain.java
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
Labels: cla: yes

#9789 fix ColorFilter.matrix constness
  lib/ui/painting.dart
Labels: cla: yes

#9791 Roll Wuffs and buildroot
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#9793 Fix typo in PlaceholderAlignment docs
  lib/ui/text.dart
Labels: cla: yes

#9794 Roll src/third_party/skia 7825d4983f90..c3f28e3cf0d4 (9 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9797 Remove breaking asserts
  lib/ui/compositing.dart
  lib/ui/painting.dart
  testing/dart/color_filter_test.dart
Labels: cla: yes

#9799 Update buildroot to c4df4a7b to pull in MSVC 2017 Update 9 on Windows.
  DEPS
Labels: cla: yes

#9769 Document //flutter/shell/common/engine.
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/platform_view.h
Labels: cla: yes

#9816 Only release the image data in the unit-test once Skia has accepted ownership of it.
  lib/ui/painting/image_decoder_unittests.cc
Labels: cla: yes

#9812 Roll src/third_party/dart 24725a8559..28f95fcd24 (32 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes

#9803 Roll fuchsia/sdk/core/mac-amd64 from CDbRd... to olF8Z...
  DEPS
Labels: autoroller: commit, cla: yes

#9805 Roll src/third_party/skia c3f28e3cf0d4..8590026dbf0d (2 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#9817 Revert "Roll src/third_party/dart 24725a8559..28f95fcd24 (32 commits)"
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes

#9436 Add the functionality to merge and unmerge MessageLoopTaskQueues
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/merged_queues_runner.cc
  fml/message_loop_impl.cc
  fml/message_loop_impl.h
  fml/message_loop_task_queues.cc
  fml/message_loop_task_queues.h
  fml/message_loop_task_queues_benchmark.cc
  fml/message_loop_task_queues_merge_unmerge_unittests.cc
  fml/message_loop_task_queues_unittests.cc
  fml/task_runner.cc
  fml/task_runner.h
Labels: cla: yes

#9820 Roll fuchsia/sdk/core/mac-amd64 from olF8Z... to pU_n3...
  DEPS
Labels: autoroller: commit, cla: yes

#9824 Roll src/third_party/skia 8590026dbf0d..563d044c0e76 (38 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9808 Document FontFeature class
  lib/ui/text.dart
Labels: cla: yes

#9827 Roll fuchsia/sdk/core/linux-amd64 from ehWVT... to IPgI5...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#9826 Roll src/third_party/dart 24725a8559..cbaf890f88 (33 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes

#9823 Roll buildroot to support bitcode enabled builds for iOS
  DEPS
  tools/gn
Labels: cla: yes

#9829 Revert "Roll src/third_party/dart 24725a8559..cbaf890f88 (33 commits)"
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes

#9830 Roll fuchsia/sdk/core/mac-amd64 from pU_n3... to qFyiJ...
  DEPS
Labels: autoroller: commit, cla: yes

#9831 Roll src/third_party/skia 563d044c0e76..9d844d8ce5a2 (10 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9828 Make the virtual display's window translucent
  shell/platform/android/io/flutter/plugin/platform/SingleViewPresentation.java
Labels: cla: yes

#9813 Made Picture::toImage happen on the IO thread with no need for an onscreen surface.
  ci/licenses_golden/licenses_flutter
  lib/ui/BUILD.gn
  lib/ui/painting/picture.cc
  lib/ui/snapshot_delegate.h
  lib/ui/ui_dart_state.cc
  lib/ui/ui_dart_state.h
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/dart_isolate_unittests.cc
  runtime/dart_lifecycle_unittests.cc
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/common/shell.cc
  testing/dart/canvas_test.dart
  testing/dart/pubspec.yaml
  testing/resources/canvas_test_toImage.png
Labels: cla: yes

#9832 Roll fuchsia/sdk/core/mac-amd64 from qFyiJ... to 2ciWr...
  DEPS
Labels: autoroller: commit, cla: yes

#9809 Document //flutter/shell/common/rasterizer
  shell/common/rasterizer.h
Labels: cla: yes

#9818 Convert run_tests to python, allow running on Mac/Windows and allow filters for tests.
  testing/run_tests.py
  testing/run_tests.sh
Labels: cla: yes

#9833 Roll src/third_party/skia 9d844d8ce5a2..8ab6160c8149 (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9834 Roll fuchsia/sdk/core/mac-amd64 from 2ciWr... to t2vVi...
  DEPS
Labels: autoroller: commit, cla: yes

#9836 Roll src/third_party/skia 8ab6160c8149..d830fd98a4ef (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9839 Roll fuchsia/clang/linux-amd64 from oEsFS... to apsjZ...
  DEPS
Labels: autoroller: commit, cla: yes

#9838 Roll fuchsia/clang/mac-amd64 from Lc64-... to USm3Q...
  DEPS
Labels: autoroller: commit, cla: yes

#9841 Roll src/third_party/skia d830fd98a4ef..c8e8e7061f1e (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9842 Roll fuchsia/sdk/core/mac-amd64 from t2vVi... to AsA8e...
  DEPS
Labels: autoroller: commit, cla: yes

#9843 Roll fuchsia/sdk/core/mac-amd64 from AsA8e... to IM-VI...
  DEPS
Labels: autoroller: commit, cla: yes

#9844 Roll src/third_party/skia c8e8e7061f1e..0902c98825bf (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9845 Roll fuchsia/sdk/core/mac-amd64 from IM-VI... to 94o0_...
  DEPS
Labels: autoroller: commit, cla: yes

#9846 Roll src/third_party/skia 0902c98825bf..a3e2996b0834 (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9781 SendPlatformMessage allow null message value
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/fixtures/main.dart
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: cla: yes

#9848 Roll fuchsia/sdk/core/mac-amd64 from 94o0_... to pwsYt...
  DEPS
Labels: autoroller: commit, cla: yes

#9849 Preserve the alpha for VD content by setting a transparent background.
  shell/platform/android/io/flutter/plugin/platform/SingleViewPresentation.java
Labels: cla: yes

#9852 Selectively enable tests that work on Windows and file issues for ones that don't.
  runtime/dart_lifecycle_unittests.cc
  testing/run_tests.py
Labels: cla: yes

#9853 Roll src/third_party/skia a3e2996b0834..947efe28de74 (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9856 Disable Fuchsia Debug & Release presubmits and only attempt the Profile unopt variant.
  .cirrus.yml
Labels: cla: yes

#9858 Roll fuchsia/sdk/core/mac-amd64 from pwsYt... to xJPmd...
  DEPS
Labels: autoroller: commit, cla: yes

#9847 Started adding the engine hash to frameworks' Info.plist.
  build/copy_info_plist.py
  build/git_revision.py
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Info.plist
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/assets/EmbedderInfo.plist
Labels: cla: yes

#9867 Fixed error in generated xml Info.plist.
  shell/platform/darwin/ios/framework/Info.plist
  shell/platform/embedder/assets/EmbedderInfo.plist
Labels: cla: yes

#9865 Roll src/third_party/skia 947efe28de74..08ba11370342 (9 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#9866 Update buildroot to pick up Fuchsia artifact roller.
  DEPS
Labels: cla: yes

#9871 Roll fuchsia/sdk/core/mac-amd64 from xJPmd... to w823y...
  DEPS
Labels: autoroller: commit, cla: yes

#9874 Roll src/third_party/skia 08ba11370342..14b5e6bb8fcf (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes
