Repository flutter/engine, pull requests merged in 2019-10, with the labels that each got.

#12713 Roll src/third_party/dart 692230b484..67ae444f29 (8 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12714 Roll src/third_party/skia 2533afa3f8c6..cb6de9f661f3 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12716 Roll fuchsia/sdk/core/mac-amd64 from KH7Tv... to Jr7x0...
  DEPS
Labels: autoroller: commit, cla: yes

#12710 Set transparent background in textarea elements
  lib/web_ui/lib/src/engine/dom_renderer.dart
Labels: affects: text input, cla: yes, platform-web

#12717 Roll src/third_party/dart 67ae444f29..63b5fa1709 (2 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12718 Roll fuchsia/sdk/core/linux-amd64 from _0Sq8... to 3Axx8...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#12719 Roll src/third_party/skia cb6de9f661f3..1ffc2e453b00 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12720 Roll src/third_party/dart 63b5fa1709..fb1c5a6404 (6 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12721 Roll src/third_party/skia 1ffc2e453b00..a7914a872657 (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#12706 Check for a null input method subtype
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
Labels: cla: yes

#12722 Roll fuchsia/sdk/core/mac-amd64 from Jr7x0... to Q4sFH...
  DEPS
Labels: autoroller: commit, cla: yes

#12708 Cleanup: Turned on NS_ASSUME_NONNULL_BEGIN for FlutterViewController.
  shell/platform/darwin/ios/framework/Headers/FlutterViewController.h
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
Labels: CQ+1, cla: yes

#12723 Roll src/third_party/dart fb1c5a6404..998f1efbe9 (3 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12402 Resize channel buffers
  lib/ui/channel_buffers.dart
  lib/ui/hooks.dart
  lib/web_ui/lib/src/ui/channel_buffers.dart
  shell/platform/android/io/flutter/plugin/common/BasicMessageChannel.java
  shell/platform/darwin/common/framework/Headers/FlutterChannels.h
  shell/platform/darwin/common/framework/Source/FlutterChannels.mm
  shell/platform/darwin/common/framework/Source/FlutterChannelsTest.m
  testing/dart/channel_buffers_test.dart
Labels: CQ+1, cla: yes

#12724 Roll src/third_party/skia a7914a872657..1e9112fbb472 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12707 Reland "Add iOS platform view mutation XCUITests to the scenario app(#11652)"
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios/AppDelegate.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/GoldenImage.h
  testing/scenario_app/ios/Scenarios/ScenariosUITests/GoldenImage.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/GoldenPlatformViewTests.h
  testing/scenario_app/ios/Scenarios/ScenariosUITests/GoldenPlatformViewTests.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/PlatformViewGoldenTestManager.h
  testing/scenario_app/ios/Scenarios/ScenariosUITests/PlatformViewGoldenTestManager.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/PlatformViewUITests.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_D321AP.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_clippath_iPhone SE_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_iPhone SE_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_iPhone SE_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_opacity_iPhone SE_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_transform_iPhone SE_simulator.png
  testing/scenario_app/lib/main.dart
  testing/scenario_app/lib/src/platform_view.dart
  testing/scenario_app/pubspec.yaml
Labels: cla: yes

#12726 Roll fuchsia/sdk/core/linux-amd64 from 3Axx8... to L_AEL...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#12727 Roll src/third_party/dart 998f1efbe9..1103600280 (6 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12728 Remove unused import in the scenario app
  testing/scenario_app/lib/src/platform_view.dart
Labels: cla: yes

#12729 Roll src/third_party/skia 1e9112fbb472..9e514a183b99 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12731 Roll src/third_party/dart 1103600280..cbf6a233fc (8 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12734 Roll src/third_party/skia 9e514a183b99..674f77a24b62 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12733 [flutter_runner] Make rd and rx uniform
  shell/platform/fuchsia/flutter/component.cc
Labels: cla: yes

#12736 Roll src/third_party/dart cbf6a233fc..431176ea26 (1 commits)
  DEPS
Labels: cla: yes

#12737 Roll fuchsia/sdk/core/mac-amd64 from Q4sFH... to 7v4fg...
  DEPS
Labels: autoroller: commit, cla: yes

#12738 Roll src/third_party/skia 674f77a24b62..015c2feb1288 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12739 Roll fuchsia/sdk/core/linux-amd64 from L_AEL... to LSKbP...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#12740 Roll src/third_party/skia 015c2feb1288..1c934fade666 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12741 Roll src/third_party/skia 1c934fade666..cf0a9a628490 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12742 Revert "Revert "Update linux toolchain for fuchsia" (#12578)"
  DEPS
Labels: CQ+1, cla: yes

#12732 Fix parameter naming in docs
  shell/platform/darwin/ios/framework/Headers/FlutterViewController.h
Labels: cla: yes

#12743 Roll src/third_party/skia cf0a9a628490..a1ea0a96f490 (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#12744 Roll src/third_party/dart 431176ea26..98b286de21 (16 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12730 Stop setting the accessibility text if a node has SCOPES_ROUTE set.
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
Labels: cla: yes

#12745 Roll fuchsia/sdk/core/mac-amd64 from 7v4fg... to AGoPT...
  DEPS
Labels: autoroller: commit, cla: yes

#12747 Add web implementation for channel_buffers.dart
  lib/web_ui/lib/src/ui/canvas.dart
  lib/web_ui/lib/src/ui/channel_buffers.dart
  lib/web_ui/lib/src/ui/natives.dart
  lib/web_ui/lib/ui.dart
Labels: cla: yes

#12748 Roll src/third_party/dart 98b286de21..eaf1c308ab (5 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12750 Roll src/third_party/skia a1ea0a96f490..ce240cc6fd8e (13 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12751 Roll fuchsia/sdk/core/linux-amd64 from LSKbP... to EeMsz...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#12753 [web] Don't require felt to be in PATH
  lib/web_ui/dev/README.md
  lib/web_ui/dev/felt
Labels: cla: yes, platform-web

#11795 Add a good reference source for font metrics.
  third_party/txt/src/txt/paragraph_txt.cc
  third_party/txt/src/txt/paragraph_txt.h
Labels: cla: yes

#12712 Support correct keymap for web
  lib/web_ui/lib/src/engine/keyboard.dart
  lib/web_ui/test/keyboard_test.dart
Labels: accessibility, affects: text input, cla: yes, platform-web

#12754 Fix Metal builds by accounting for the updated SubmitFrame signature.
  shell/platform/darwin/ios/ios_surface_metal.mm
Labels: cla: yes

#12755 Roll src/third_party/skia ce240cc6fd8e..40d1246d0c80 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12756 Roll src/third_party/dart eaf1c308ab..2e99a418a0 (6 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12725 Expanded channel buffer resize to method channels.
  shell/platform/android/io/flutter/plugin/common/BasicMessageChannel.java
  shell/platform/android/io/flutter/plugin/common/MethodChannel.java
  shell/platform/darwin/common/framework/Headers/FlutterChannels.h
  shell/platform/darwin/common/framework/Source/FlutterChannels.mm
Labels: cla: yes

#12758 Roll src/third_party/dart 2e99a418a0..97bb624cfe (5 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12762 Roll src/third_party/skia 40d1246d0c80..f070cbec0708 (10 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12763 Roll fuchsia/sdk/core/mac-amd64 from AGoPT... to g-PD1...
  DEPS
Labels: autoroller: commit, cla: yes

#12764 Roll fuchsia/sdk/core/linux-amd64 from EeMsz... to p319_...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#12765 Roll src/third_party/skia f070cbec0708..087aa99a21ca (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12766 Roll src/third_party/skia 087aa99a21ca..cb55010652b2 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12767 Roll src/third_party/dart 97bb624cfe..967673c005 (16 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12768 Roll src/third_party/dart 967673c005..afac6a3714 (2 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12769 Roll src/third_party/skia cb55010652b2..35e0a58278a3 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12770 Roll fuchsia/sdk/core/mac-amd64 from g-PD1... to wYLiQ...
  DEPS
Labels: autoroller: commit, cla: yes

#12423 add windows embedding test
  .cirrus.yml
  BUILD.gn
  ci/docker/windows_build/prepare_windows_server_2016_core.ps1
  ci/licenses_golden/licenses_flutter
  shell/platform/common/cpp/client_wrapper/BUILD.gn
  shell/platform/glfw/client_wrapper/BUILD.gn
  shell/platform/windows/BUILD.gn
  shell/platform/windows/client_wrapper/BUILD.gn
  shell/platform/windows/testing/win32_flutter_window_test.cc
  shell/platform/windows/testing/win32_flutter_window_test.h
  shell/platform/windows/win32_window_unittests.cc
  testing/run_tests.py
Labels: cla: yes

#12681 Create a package-able incremental compiler
  frontend_server/BUILD.gn
  frontend_server/lib/server.dart
  frontend_server/package_incremental.py
  frontend_server/pubspec.yaml
  frontend_server/test/server_test.dart
Labels: cla: yes

#12771 roll buildroot to 01e923507b28e5d1d3fe7597d2db2b30b0a543e9
  DEPS
Labels: CQ+1, cla: yes

#12772 Roll src/third_party/dart afac6a3714..07a63a17a4 (6 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12773 Revert "Manage resource and onscreen contexts using separate IOSGLCon…
  shell/platform/darwin/ios/framework/Source/FlutterOverlayView.h
  shell/platform/darwin/ios/framework/Source/FlutterOverlayView.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterView.h
  shell/platform/darwin/ios/framework/Source/FlutterView.mm
  shell/platform/darwin/ios/ios_gl_context.h
  shell/platform/darwin/ios/ios_gl_context.mm
  shell/platform/darwin/ios/ios_gl_render_target.h
  shell/platform/darwin/ios/ios_gl_render_target.mm
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_software.mm
  shell/platform/darwin/ios/platform_view_ios.h
  shell/platform/darwin/ios/platform_view_ios.mm
Labels: cla: yes

#12777 Fix Metal builds.
  shell/platform/darwin/ios/ios_surface_metal.mm
Labels: cla: yes

#12778 Roll fuchsia/sdk/core/linux-amd64 from p319_... to VkAgX...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#12774 Roll src/third_party/skia 35e0a58278a3..d71344590a2f (11 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12779 Roll src/third_party/dart 07a63a17a4..7376167b2a (8 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12761 Build AOT and test targets, generate FARs when building Fuchsia
  .cirrus.yml
  ci/build_flutter_runner_tests.sh
  shell/platform/fuchsia/BUILD.gn
  shell/platform/fuchsia/dart_runner/BUILD.gn
  shell/platform/fuchsia/flutter/BUILD.gn
  tools/fuchsia/build_fuchsia_artifacts.py
  tools/fuchsia/fuchsia_archive.gni
  tools/fuchsia/gather_flutter_runner_artifacts.py
  tools/fuchsia/gen_package.py
Labels: CQ+1, cla: yes

#12775 Added some thread asserts to the code and made ios_surface_ safe since
  shell/platform/darwin/ios/platform_view_ios.h
  shell/platform/darwin/ios/platform_view_ios.mm
Labels: cla: yes

#12752 Enabled people to chose if SystemNavigator.pop is animated on iOS.
  shell/platform/darwin/ios/framework/Source/FlutterPlatformPlugin.mm
Labels: cla: yes

#12781 Revert "Build AOT and test targets, generate FARs when building Fuchsia"
  .cirrus.yml
  ci/build_flutter_runner_tests.sh
  shell/platform/fuchsia/BUILD.gn
  shell/platform/fuchsia/dart_runner/BUILD.gn
  shell/platform/fuchsia/flutter/BUILD.gn
  tools/fuchsia/build_fuchsia_artifacts.py
  tools/fuchsia/gather_flutter_runner_artifacts.py
  tools/fuchsia/gen_package.py
  tools/fuchsia/package_dir.gni
Labels: cla: yes

#12782 Roll src/third_party/dart 7376167b2a..b4688e9172 (4 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12784 Roll src/third_party/skia d71344590a2f..35a60f622c58 (9 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12786 Roll src/third_party/dart b4688e9172..7a7dcd1ed9 (5 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12787 Roll src/third_party/skia 35a60f622c58..fbdf48ecb204 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12788 Roll fuchsia/sdk/core/mac-amd64 from wYLiQ... to JyZWz...
  DEPS
Labels: autoroller: commit, cla: yes

#12789 Roll src/third_party/dart 7a7dcd1ed9..28f21d4e99 (2 commits)
  DEPS
Labels: cla: yes

#12785 Fix bug in package script and add dev_compiler to list
  frontend_server/BUILD.gn
  frontend_server/package_incremental.py
Labels: cla: yes

#12792 Roll src/third_party/dart 28f21d4e99..d6c6d12ebf (3 commits)
  DEPS
Labels: cla: yes

#12791 Roll fuchsia/sdk/core/linux-amd64 from VkAgX... to by2LL...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#12790 Roll src/third_party/skia fbdf48ecb204..95edac1c9a4a (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12798 [flutter_runner] Update the cmx files to include TZ support
  shell/platform/fuchsia/flutter/meta/flutter_aot_product_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_aot_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_jit_product_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_jit_runner.cmx
Labels: cla: yes

#12799 Disable EmbedderTest::CanLaunchAndShutdownMultipleTimes.
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: cla: yes

#12793 Fixing selection issues in Firefox
  lib/web_ui/lib/src/engine/text_editing.dart
  lib/web_ui/test/text_editing_test.dart
Labels: cla: yes, platform-web

#12795 Reland fuchsia build improvements
  .cirrus.yml
  ci/build_flutter_runner_tests.sh
  shell/platform/fuchsia/BUILD.gn
  shell/platform/fuchsia/dart_runner/BUILD.gn
  shell/platform/fuchsia/flutter/BUILD.gn
  tools/fuchsia/fuchsia_archive.gni
Labels: CQ+1, cla: yes

#12780 Restart all modern Samsung keyboard IMM
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
Labels: cla: yes

#12800 Prettify all CMX files
  shell/platform/fuchsia/dart_runner/examples/goodbye_dart/meta/goodbye_dart_aot.cmx
  shell/platform/fuchsia/dart_runner/examples/goodbye_dart/meta/goodbye_dart_jit.cmx
  shell/platform/fuchsia/dart_runner/examples/hello_app_dart/meta/hello_app_dart_aot.cmx
  shell/platform/fuchsia/dart_runner/examples/hello_app_dart/meta/hello_app_dart_jit.cmx
  shell/platform/fuchsia/dart_runner/examples/hello_dart/meta/hello_dart_aot.cmx
  shell/platform/fuchsia/dart_runner/examples/hello_dart/meta/hello_dart_aot_product.cmx
  shell/platform/fuchsia/dart_runner/examples/hello_dart/meta/hello_dart_debug.cmx
  shell/platform/fuchsia/dart_runner/examples/hello_dart/meta/hello_dart_jit.cmx
  shell/platform/fuchsia/dart_runner/examples/hello_dart/meta/hello_dart_jit_product.cmx
  shell/platform/fuchsia/dart_runner/integration/meta/dart_aot_runner_test.cmx
  shell/platform/fuchsia/dart_runner/integration/meta/dart_jit_runner_test.cmx
  shell/platform/fuchsia/dart_runner/meta/dart_aot_product_runner.cmx
  shell/platform/fuchsia/dart_runner/meta/dart_aot_runner.cmx
  shell/platform/fuchsia/dart_runner/meta/dart_jit_product_runner.cmx
  shell/platform/fuchsia/dart_runner/meta/dart_jit_runner.cmx
  shell/platform/fuchsia/dart_runner/meta/dart_zircon_test.cmx
  shell/platform/fuchsia/dart_runner/vmservice/meta/vmservice.cmx
  shell/platform/fuchsia/flutter/meta/flutter_aot_product_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_aot_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_jit_product_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_jit_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_runner_tests.cmx
Labels: cla: yes

#12453 Adding Link SemanticsFlag
  lib/ui/semantics.dart
  lib/ui/semantics/semantics_node.h
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
  shell/platform/embedder/embedder.h
Labels: accessibility, affects: framework, cla: yes

#12803 Roll fuchsia/sdk/core/mac-amd64 from JyZWz... to kwa2O...
  DEPS
Labels: autoroller: commit, cla: yes

#12804 Roll src/third_party/dart d6c6d12ebf..8413a0db0d (2 commits)
  DEPS
Labels: cla: yes

#10326 copypixelbuffer causes crash
  shell/platform/darwin/ios/ios_external_texture_gl.h
  shell/platform/darwin/ios/ios_external_texture_gl.mm
Labels: cla: yes

#12380 [flutter_runner] a11y updates, tests!
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/accessibility_bridge.cc
  shell/platform/fuchsia/flutter/accessibility_bridge.h
  shell/platform/fuchsia/flutter/accessibility_bridge_unittest.cc
  shell/platform/fuchsia/flutter/flutter_runner_fakes.h
  shell/platform/fuchsia/flutter/meta/flutter_runner_tests.cmx
  shell/platform/fuchsia/flutter/platform_view.cc
  shell/platform/fuchsia/flutter/platform_view.h
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
  shell/platform/fuchsia/flutter/sample_unittests.cc
Labels: CQ+1, cla: yes

#12802 Build gen_snapshot with a 64-bit host toolchain even if the target platform is 32-bit
  DEPS
  lib/snapshot/BUILD.gn
Labels: cla: yes

#12805 Unbreak Fuchsia unopt builds
  shell/platform/fuchsia/flutter/BUILD.gn
Labels: cla: yes

#12797 add option for bulk-updating screenshots; update screenshots
  lib/web_ui/dev/felt.dart
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/dev/test_platform.dart
  lib/web_ui/dev/test_runner.dart
  lib/web_ui/lib/assets/.gitignore
  lib/web_ui/lib/src/engine/text/font_collection.dart
  lib/web_ui/test/golden_files/smoke_test.png
  lib/web_ui/test/golden_tests/golden_success_smoke_test.dart
Labels: Work in progress (WIP), cla: yes

#12809 Use the x64 host toolchain for x86 target gen_snapshot only on Linux
  lib/snapshot/BUILD.gn
Labels: cla: yes

#12815 Revert "Adding Link SemanticsFlag"
  lib/ui/semantics.dart
  lib/ui/semantics/semantics_node.h
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
  shell/platform/embedder/embedder.h
Labels: cla: yes

#12816 Enable sanitizer build variants.
  DEPS
  tools/gn
Labels: cla: yes

#12818 Roll src/third_party/skia 95edac1c9a4a..4c82a9fc83a5 (13 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12821 Update buildroot to pull in ubsan updates.
  DEPS
  tools/gn
Labels: cla: yes

#12977 Unblock Fuchsia roll
  shell/platform/fuchsia/dart_runner/dart_component_controller.cc
Labels: cla: yes

#12981 Roll src/third_party/dart 8413a0db0d..8ba6f7e2eb (39 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12988 Use the standard gen_snapshot target unless the platform requires host_targeting_host
  lib/snapshot/BUILD.gn
Labels: cla: yes

#12982 Color matrix doc
  lib/ui/painting.dart
  lib/web_ui/lib/src/ui/painting.dart
Labels: cla: yes

#12983 Roll Wuffs to 0.2.0-rc.1
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12979 Roll fuchsia/sdk/core/linux-amd64 from by2LL... to gB_ii...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#12827 Roll fuchsia/sdk/core/mac-amd64 from kwa2O... to wOfz2...
  DEPS
Labels: autoroller: commit, cla: yes

#12831 Roll src/third_party/skia 4c82a9fc83a5..f611d943fb73 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12989 Unpublicize kDoNotResizeDimension
  lib/ui/painting.dart
  lib/web_ui/lib/src/ui/painting.dart
Labels: cla: yes

#12993 Roll src/third_party/skia f611d943fb73..a28cf7c08061 (29 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12994 Roll src/third_party/skia a28cf7c08061..902cf1e12a74 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12995 Roll fuchsia/sdk/core/mac-amd64 from wOfz2... to wuAtw...
  DEPS
Labels: autoroller: commit, cla: yes

#12997 Roll dart to aece1c1e92.
  BUILD.gn
  DEPS
  ci/analyze.sh
  ci/licenses_golden/licenses_flutter
  ci/licenses_golden/licenses_third_party
  flutter_frontend_server/.gitignore
  flutter_frontend_server/BUILD.gn
  flutter_frontend_server/README.md
  flutter_frontend_server/bin/starter.dart
  flutter_frontend_server/lib/server.dart
  flutter_frontend_server/package_incremental.py
  flutter_frontend_server/pubspec.yaml
  frontend_server/BUILD.gn
  tools/generate_package_files.py
Labels: cla: yes

#12996 Roll fuchsia/sdk/core/linux-amd64 from gB_ii... to q_uYX...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#12986 Prevent default when Tab is clicked
  lib/web_ui/lib/src/engine/keyboard.dart
  lib/web_ui/test/keyboard_test.dart
Labels: accessibility, affects: text input, cla: yes, platform-web

#12819 Open source canvas tests from flutter_web_ui
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/test/golden_tests/engine/canvas_arc_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_lines_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_rect_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_rrect_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_stroke_joins_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_stroke_rects_golden_test.dart
  lib/web_ui/test/golden_tests/engine/compositing_golden_test.dart
  lib/web_ui/test/golden_tests/engine/conic_golden_test.dart
  lib/web_ui/test/golden_tests/engine/multiline_text_clipping_golden_test.dart
  lib/web_ui/test/golden_tests/engine/path_to_svg_golden_test.dart
  lib/web_ui/test/golden_tests/engine/recording_canvas_golden_test.dart
  lib/web_ui/test/golden_tests/engine/text_overflow_golden_test.dart
  lib/web_ui/test/golden_tests/engine/text_style_golden_test.dart
Labels: cla: yes

#12931 remove references to package:_chrome
  web_sdk/libraries.json
  web_sdk/libraries.yaml
Labels: cla: yes

#12980 Made _printDebug only happen on debug builds of the engine for now.
  lib/ui/dart_runtime_hooks.cc
Labels: cla: yes

#12960 Fix typo on channel buffer debug output.
  lib/ui/channel_buffers.dart
Labels: cla: yes

#12808 Added an embedder example
  examples/glfw/CMakeLists.txt
  examples/glfw/FlutterEmbedderGLFW.cc
  examples/glfw/README.md
  examples/glfw/main.dart
  examples/glfw/run.sh
Labels: cla: yes

#12998 Roll src/third_party/dart aece1c1e92..f4a72bfc64 (4 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12972 Re-land Adding Link Semantics
  lib/ui/semantics.dart
  lib/ui/semantics/semantics_node.h
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
  shell/platform/embedder/embedder.h
Labels: accessibility, affects: framework, cla: yes

#12783 Add a unit-test to verify that root surface transformation affects platform view coordinates.
  shell/platform/embedder/fixtures/main.dart
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: cla: yes

#12991 Compile sanitizer suppressions list and file bugs as necessary.
  flow/layers/layer_tree.h
  testing/lsan_suppressions.txt
  testing/sanitizer_suppressions.sh
  testing/tsan_suppressions.txt
  testing/ubsan_suppressions.txt
Labels: cla: yes

#12412 SkSL precompile
  ci/licenses_golden/licenses_flutter
  common/settings.cc
  common/settings.h
  fml/file.cc
  fml/file.h
  fml/file_unittest.cc
  fml/platform/posix/file_posix.cc
  fml/platform/win/file_win.cc
  shell/common/BUILD.gn
  shell/common/persistent_cache.cc
  shell/common/persistent_cache.h
  shell/common/persistent_cache_unittests.cc
  shell/common/shell.cc
  shell/common/shell_test.cc
  shell/common/shell_test.h
  shell/common/switches.cc
  shell/common/switches.h
  shell/gpu/gpu_surface_gl.cc
  shell/platform/android/io/flutter/app/FlutterActivityDelegate.java
  shell/platform/android/io/flutter/embedding/engine/FlutterShellArgs.java
  shell/platform/embedder/embedder.h
Labels: cla: yes

#13000 Roll src/third_party/skia 902cf1e12a74..1494a7f1ec03 (10 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#12695 Add onUnregistered callback in 'Texture' and 'FlutterTexture'
  ci/licenses_golden/licenses_flutter
  flow/BUILD.gn
  flow/texture.cc
  flow/texture.h
  flow/texture_unittests.cc
  shell/common/shell_unittests.cc
  shell/platform/android/android_external_texture_gl.cc
  shell/platform/android/android_external_texture_gl.h
  shell/platform/darwin/ios/framework/Headers/FlutterTexture.h
  shell/platform/darwin/ios/ios_external_texture_gl.h
  shell/platform/darwin/ios/ios_external_texture_gl.mm
  shell/platform/embedder/embedder_external_texture_gl.cc
  shell/platform/embedder/embedder_external_texture_gl.h
Labels: cla: yes

#12999 Started setting our debug background task id to invalid
  shell/platform/darwin/ios/framework/Source/FlutterPluginAppLifeCycleDelegate.mm
Labels: cla: yes

#13001 Missing link flag
  lib/web_ui/lib/src/ui/semantics.dart
Labels: cla: yes

#13003 [web] Update the url when route is replaced
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/test/engine/navigation_test.dart
Labels: cla: yes, platform-web

#12813 Unblock SIGPROF on flutter_tester start
  shell/testing/tester_main.cc
Labels: cla: yes

#13005 Auto-formatter fixes for BUILD.gn files
  BUILD.gn
  frontend_server/BUILD.gn
  shell/platform/windows/BUILD.gn
Labels: cla: yes

#12794 [web] Add support for path transform
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/recording_canvas.dart
  lib/web_ui/lib/src/engine/rrect_renderer.dart
  lib/web_ui/lib/src/ui/canvas.dart
  lib/web_ui/test/golden_tests/engine/path_transform_test.dart
Labels: cla: yes

#13009 Fixing Link Semantics Typo
  lib/web_ui/lib/src/ui/semantics.dart
Labels: accessibility, affects: framework, cla: yes

#12990 Fix for a11y crash on iOS
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.h
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
Labels: cla: yes

#12746 Send AccessibilityEvent.TYPE_VIEW_FOCUSED when input focus is set.
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
Labels: cla: yes

#11256 Upgrade compiler to Clang 10.
  DEPS
  shell/common/input_events_unittests.cc
Labels: cla: yes

#13017 Revert "Upgrade compiler to Clang 10."
  DEPS
  shell/common/input_events_unittests.cc
Labels: cla: yes

#13016 Roll src/third_party/skia 1494a7f1ec03..2b1a25a4d324 (15 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13018 Roll fuchsia/sdk/core/mac-amd64 from wuAtw... to u0JpE...
  DEPS
Labels: autoroller: commit, cla: yes

#13019 Roll fuchsia/sdk/core/linux-amd64 from q_uYX... to cknsi...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#13020 Roll src/third_party/dart f4a72bfc64..bb04f145b2 (18 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#13021 Roll src/third_party/skia 2b1a25a4d324..77dde599c98a (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13023 Roll src/third_party/skia 77dde599c98a..54548626a977 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13006 Refactor: FlutterDartProject
  shell/platform/darwin/ios/framework/Headers/FlutterDartProject.h
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/ios/framework/Source/FlutterDartProject_Internal.h
Labels: cla: yes

#13024 Roll src/third_party/skia 54548626a977..e27a503a0a21 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13013 Add missing focusable testing info
  lib/ui/semantics.dart
  testing/dart/semantics_test.dart
Labels: cla: yes

#13025 Roll fuchsia/sdk/core/mac-amd64 from u0JpE... to pczjK...
  DEPS
Labels: autoroller: commit, cla: yes

#13027 Roll src/third_party/dart bb04f145b2..41d13f0ffe (24 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#12470 [web_ui] Check if a pointer is already down for the specific device
  lib/web_ui/lib/src/engine/pointer_binding.dart
  lib/web_ui/test/engine/pointer_binding_test.dart
Labels: cla: yes

#13040 Roll src/third_party/skia e27a503a0a21..76826fc91c0a (9 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13041 Roll fuchsia/sdk/core/linux-amd64 from cknsi... to QIjex...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes
