Repository flutter/engine, pull requests merged in 2019-12, with the labels that each got.

#14068 Roll src/third_party/dart 73fdf19b56..077795b3e5 (15 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#14072 Roll src/third_party/dart 077795b3e5..3f32196958 (29 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#14067 Roll fuchsia/sdk/core/linux-amd64 from mSEnz... to 2Nav3...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#14074 Dart cherry-picks for 1.12.13
  DEPS
Labels: cla: yes

#14080 Roll fuchsia/sdk/core/mac-amd64 from aVdHP... to 6QxEZ...
  DEPS
Labels: autoroller: commit, cla: yes

#14073 Roll src/third_party/dart 3f32196958..e4344a568f (1 commits)
  DEPS
Labels: cla: yes

#14069 Roll src/third_party/skia e8c96d8e6116..2792515dab7c (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes, waiting for tree to go green

#14081 Fix live region logic
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
Labels: cla: yes

#13984 Listen to keyUp event on meta modified keys
  shell/platform/darwin/macos/framework/Source/FlutterViewController.mm
Labels: cla: yes, platform-macos

#13933 Report backing store changes in the macOS view
  shell/platform/darwin/macos/framework/Source/FlutterView.mm
Labels: cla: yes, waiting for tree to go green

#13950 Run benchmarks in Cirrus
  testing/run_tests.sh
Labels: cla: yes, waiting for tree to go green

#14079 Remove suprious warning
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
Labels: cla: yes

#14070 Update to newer path fill-type API in Skia
  lib/ui/painting/path.cc
Labels: cla: yes

#14083 Roll src/third_party/dart e4344a568f..a4d799c402 (7 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#14085 Roll fuchsia/sdk/core/mac-amd64 from 6QxEZ... to OSk8h...
  DEPS
Labels: autoroller: commit, cla: yes

#14084 Roll src/third_party/skia 2792515dab7c..49e564e5e02c (28 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14087 Revert "Fix fml_unittests (#14062)"
  fml/BUILD.gn
  runtime/BUILD.gn
  shell/platform/fuchsia/dart_runner/BUILD.gn
Labels: cla: yes

#14086 Update fallback to Roboto url to be HTTPS
  lib/web_ui/lib/src/engine/compositor/fonts.dart
Labels: cla: yes, waiting for tree to go green

#14089 Roll src/third_party/dart a4d799c402..89e31069e8 (14 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#14090 Roll src/third_party/skia 49e564e5e02c..75368c3a0290 (23 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14093 Roll src/third_party/dart 89e31069e8..19fc1016da (6 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#14082 add pointer data santizing in flutter web engine
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/pointer_binding.dart
  lib/web_ui/lib/src/engine/pointer_converter.dart
  lib/web_ui/test/engine/pointer_binding_test.dart
Labels: cla: yes, platform-web

#14100 Cherry-picks for 1.12.13
  ci/licenses_golden/licenses_flutter
  ci/licenses_golden/licenses_third_party
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/pointer_binding.dart
  lib/web_ui/lib/src/engine/pointer_converter.dart
  lib/web_ui/test/engine/pointer_binding_test.dart
Labels: cla: yes

#14107 Roll src/third_party/dart 19fc1016da..2a13b1fe26 (6 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#14125 Roll src/third_party/dart 2a13b1fe26..413867d678 (3 commits)
  DEPS
Labels: cla: yes

#14127 Fix one more use of deprecated path fill type API
  testing/assertions_skia.cc
Labels: cla: yes

#14129 Roll src/third_party/skia 75368c3a0290..ccca30aad770 (12 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14128 Roll fuchsia/sdk/core/mac-amd64 from OSk8h... to XCAOU...
  DEPS
Labels: autoroller: commit, cla: yes

#14130 Roll src/third_party/dart 413867d678..a9c77229c2 (1 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#14135 Fix platform view offsets incorrectly taking into account device pixel ratios.
  shell/platform/embedder/embedder_layers.cc
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: cla: yes

#14132 [web] Fix text measurement when constraint width is infinite
  lib/web_ui/lib/src/engine/text/ruler.dart
  lib/web_ui/test/text/measurement_test.dart
Labels: cla: yes, platform-web

#14134 [web][felt] fix source map file path
  lib/web_ui/dev/test_platform.dart
Labels: cla: yes

#14136 Expanded our scenario_app docs.
  testing/scenario_app/README.md
Labels: cla: yes

#14133 Roll src/third_party/skia ccca30aad770..6344c2937997 (13 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14094 Started specifying the OS version for running the tests.
  testing/scenario_app/run_ios_tests.sh
Labels: cla: yes

#14137 Disable fml_tests until they're fixed on Fuchsia
  BUILD.gn
Labels: cla: yes

#14024 Wire up Opacity on Fuchsia, round 2
  ci/licenses_golden/licenses_flutter
  flow/BUILD.gn
  flow/layers/child_scene_layer.cc
  flow/layers/container_layer.cc
  flow/layers/container_layer.h
  flow/layers/elevated_container_layer.cc
  flow/layers/elevated_container_layer.h
  flow/layers/fuchsia_system_composited_layer.cc
  flow/layers/fuchsia_system_composited_layer.h
  flow/layers/layer.cc
  flow/layers/layer.h
  flow/layers/layer_tree.cc
  flow/layers/layer_tree.h
  flow/layers/layer_tree_unittests.cc
  flow/layers/opacity_layer.cc
  flow/layers/opacity_layer.h
  flow/layers/opacity_layer_unittests.cc
  flow/layers/physical_shape_layer.cc
  flow/layers/physical_shape_layer.h
  flow/layers/physical_shape_layer_unittests.cc
  flow/raster_cache.cc
  flow/scene_update_context.cc
  flow/scene_update_context.h
  flow/testing/layer_test.h
  flow/view_holder.cc
  flow/view_holder.h
  lib/ui/compositing.dart
  lib/ui/compositing/scene.cc
  lib/ui/compositing/scene.h
  lib/ui/compositing/scene_builder.cc
  lib/ui/compositing/scene_builder.h
  lib/ui/compositing/scene_host.cc
  lib/ui/compositing/scene_host.h
  lib/ui/painting/engine_layer.cc
  lib/ui/painting/engine_layer.h
  lib/ui/window/viewport_metrics.cc
  lib/ui/window/viewport_metrics.h
  lib/web_ui/lib/src/ui/compositing.dart
  shell/common/engine.cc
  shell/common/persistent_cache_unittests.cc
  shell/common/shell_test.cc
  shell/common/shell_test.h
  shell/common/shell_unittests.cc
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: CQ+1, affects: engine, cla: yes, waiting for tree to go green

#14139 Roll src/third_party/skia 6344c2937997..0af32fdf5fea (12 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14092 Move Fuchsia unit test runners into engine repo
  BUILD.gn
  testing/fuchsia/run_tests.sh
  testing/fuchsia/test_fars
  tools/fuchsia/fuchsia_archive.gni
Labels: CQ+1, cla: yes

#14141 Roll src/third_party/skia 0af32fdf5fea..f5542b6aa307 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14145 Fix firefox detection to fix app startup for other browsers
  lib/web_ui/lib/src/engine/browser_detection.dart
Labels: cla: yes

#14142 Disable a11y on detach
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
Labels: cla: yes

#14143 Roll src/third_party/skia f5542b6aa307..0af13b3caf03 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14144 Roll fuchsia/sdk/core/mac-amd64 from XCAOU... to qQlb5...
  DEPS
Labels: autoroller: commit, cla: yes

#14138 [web] DOM text measurement return a LineMetrics list if single-line
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/text/measurement.dart
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/test/text/measurement_test.dart
Labels: cla: yes, platform-web

#14147 v1.12.13+hotfix.3 cherry-picks
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
Labels: cla: yes

#14018 Started setting the FlutterOverlayView's bounds when it gets added to its superview.
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios/AppDelegate.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/GoldenImage.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/PlatformViewGoldenTestManager.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/PlatformViewUITests.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_rotate_iPhone SE_simulator.png
  testing/scenario_app/lib/main.dart
Labels: CQ+1, cla: yes

#14146 Raise API level for reportFullyDrawn
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
Labels: cla: yes

#14148 [web] [tests] Changing configurations for firefox
  lib/web_ui/dart_test_chrome.yaml
  lib/web_ui/dart_test_firefox.yaml
  lib/web_ui/dev/firefox.dart
  lib/web_ui/dev/supported_browsers.dart
  lib/web_ui/dev/test_runner.dart
Labels: cla: yes

#14151 Roll src/third_party/skia 0af13b3caf03..cc92b27c78a0 (26 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14149 Do not paint a layer's children if the children were not prerolled
  flow/layers/clip_path_layer.cc
  flow/layers/clip_path_layer.h
  flow/layers/clip_rect_layer.cc
  flow/layers/clip_rect_layer.h
  flow/layers/clip_rrect_layer.cc
  flow/layers/clip_rrect_layer.h
Labels: cla: yes

#14152 Roll src/third_party/skia cc92b27c78a0..3e01360677b2 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14153 Roll src/third_party/skia 3e01360677b2..aa4f7f55829d (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14154 Roll fuchsia/sdk/core/mac-amd64 from qQlb5... to VKso5...
  DEPS
Labels: autoroller: commit, cla: yes

#14156 Roll src/third_party/skia aa4f7f55829d..46e2d8d4a1ae (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14157 Roll src/third_party/skia 46e2d8d4a1ae..24ee4e0341fd (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14159 Roll src/third_party/skia 24ee4e0341fd..274a766baf2f (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14161 Roll fuchsia/sdk/core/mac-amd64 from VKso5... to 9C6UA...
  DEPS
Labels: autoroller: commit, cla: yes

#14158 [fuchsia] SnapToNextPhase refactor + add tests and documentation
  shell/platform/fuchsia/flutter/vsync_waiter.cc
  shell/platform/fuchsia/flutter/vsync_waiter.h
  shell/platform/fuchsia/flutter/vsync_waiter_unittests.cc
Labels: cla: yes, waiting for tree to go green

#13415 Add support for setting window size limits for glfw
  ci/licenses_golden/licenses_flutter
  shell/platform/glfw/client_wrapper/BUILD.gn
  shell/platform/glfw/client_wrapper/flutter_window_unittests.cc
  shell/platform/glfw/client_wrapper/include/flutter/flutter_window.h
  shell/platform/glfw/client_wrapper/testing/stub_flutter_glfw_api.cc
  shell/platform/glfw/client_wrapper/testing/stub_flutter_glfw_api.h
  shell/platform/glfw/flutter_glfw.cc
  shell/platform/glfw/public/flutter_glfw.h
Labels: cla: yes

#14256 Roll src/third_party/skia 274a766baf2f..b60ec7f98b08 (9 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14257 Roll src/third_party/skia b60ec7f98b08..9910d829ad18 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14258 Roll src/third_party/skia 9910d829ad18..f0148c4881df (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14260 Roll src/third_party/dart a9c77229c2..7fcaafbb3e (88 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#14261 Roll fuchsia/sdk/core/linux-amd64 from 2Nav3... to Zkpa_...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#14262 Roll src/third_party/skia f0148c4881df..c937bc50250d (11 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14163 Convert radians to degrees in canvaskit backend for drawArc
  lib/web_ui/lib/src/engine/compositor/canvas.dart
Labels: cla: yes

#14266 Roll src/third_party/dart 7fcaafbb3e..8b8894648f (1 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#14264 Use the versioned canvaskit from unpkg
  lib/web_ui/lib/src/engine/compositor/initialization.dart
Labels: cla: yes

#14269 Roll src/third_party/skia c937bc50250d..095d2468a075 (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14168 [shell][fuchsia] Add lib/async/default.h
  shell/platform/fuchsia/flutter/component.cc
Labels: cla: yes

#14267 Enable web engine unit tests on Firefox
  .cirrus.yml
  lib/web_ui/dev/browser_lock.yaml
  lib/web_ui/dev/firefox.dart
  lib/web_ui/dev/test_runner.dart
  lib/web_ui/test/compositing_test.dart
  lib/web_ui/test/dom_renderer_test.dart
  lib/web_ui/test/engine/semantics/semantics_helper_test.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
  lib/web_ui/test/paragraph_test.dart
  lib/web_ui/test/text/font_collection_test.dart
  lib/web_ui/test/text_editing_test.dart
  lib/web_ui/test/text_test.dart
Labels: affects: tests, cla: yes, platform-web

#14263 Add support for platform views in the CanvasKit backend
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/compositor/canvas.dart
  lib/web_ui/lib/src/engine/compositor/embedded_views.dart
  lib/web_ui/lib/src/engine/compositor/engine_delegate.dart
  lib/web_ui/lib/src/engine/compositor/initialization.dart
  lib/web_ui/lib/src/engine/compositor/layer.dart
  lib/web_ui/lib/src/engine/compositor/layer_scene_builder.dart
  lib/web_ui/lib/src/engine/compositor/layer_tree.dart
  lib/web_ui/lib/src/engine/compositor/n_way_canvas.dart
  lib/web_ui/lib/src/engine/compositor/path.dart
  lib/web_ui/lib/src/engine/compositor/picture_recorder.dart
  lib/web_ui/lib/src/engine/compositor/rasterizer.dart
  lib/web_ui/lib/src/engine/compositor/surface.dart
  lib/web_ui/lib/src/engine/platform_views.dart
  lib/web_ui/lib/src/engine/window.dart
Labels: cla: yes

#14270 Roll src/third_party/skia 095d2468a075..e56cc054dbae (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14273 Roll src/third_party/skia e56cc054dbae..ab26643258ad (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14274 Roll fuchsia/sdk/core/linux-amd64 from Zkpa_... to nqJnP...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#14278 Roll src/third_party/dart 8b8894648f..02a8b015ad (26 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#14279 Roll src/third_party/skia ab26643258ad..732c49739fa5 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14268 Create separate objects for isolate state and isolate group state
  ci/licenses_golden/licenses_flutter
  runtime/BUILD.gn
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/dart_isolate_group_data.cc
  runtime/dart_isolate_group_data.h
  runtime/dart_isolate_unittests.cc
Labels: cla: yes

#14282 Remove specificity on Android and iOS
  README.md
Labels: cla: yes

#14284 v1.12.13+hotfix.5 cherry-picks
  README.md
Labels: cla: yes

#14287 Move Fuchsia unit test runners into engine repo (#14092)
  BUILD.gn
  testing/fuchsia/run_tests.sh
  testing/fuchsia/test_fars
  tools/fuchsia/fuchsia_archive.gni
Labels: cla: yes

#14280 Roll src/third_party/dart 02a8b015ad..98c13ba18f (5 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#14283 [SkParagraph] Convert the height override flag in text styles
  third_party/txt/src/skia/paragraph_builder_skia.cc
Labels: cla: yes

#14165 Fix for tab not working
  lib/web_ui/lib/src/engine/keyboard.dart
Labels: cla: yes, platform-web

#14309 Roll src/third_party/dart 98c13ba18f..c74a8ec2c4 (14 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#14265 Cleanup the IO thread GrContext
  flow/skia_gpu_object.cc
  flow/skia_gpu_object.h
  flow/skia_gpu_object_unittests.cc
  shell/common/shell_io_manager.cc
Labels: cla: yes

#14305 [web] Update build_web_compilers to 2.7.1
  lib/web_ui/pubspec.yaml
Labels: cla: yes

#14314 Roll fuchsia/sdk/core/mac-amd64 from 9C6UA... to h4iiT...
  DEPS
Labels: autoroller: commit, cla: yes

#14315 Roll src/third_party/skia 732c49739fa5..5afc7b2af854 (16 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14316 Roll fuchsia/sdk/core/linux-amd64 from nqJnP... to UdfLO...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#14317 Roll src/third_party/dart c74a8ec2c46e..bcd18e67dcae (9 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#14298 [fuchsia] Do not Execute paint tasks when there is no vsync
  shell/platform/fuchsia/flutter/session_connection.cc
Labels: cla: yes

#14321 Verify accounting for loop counts in Gif and WebP assets is consistent.
  ci/licenses_golden/licenses_flutter
  lib/ui/BUILD.gn
  lib/ui/fixtures/hello_loop_2.gif
  lib/ui/fixtures/hello_loop_2.webp
  lib/ui/painting/image_decoder_unittests.cc
Labels: cla: yes

#14322 Roll src/third_party/dart bcd18e67dcae..bd008dd1e406 (3 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#14324 Roll src/third_party/skia 5afc7b2af854..75799967be60 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14325 Roll src/third_party/dart bd008dd1e406..d9fa37e85d5c (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#14327 Roll fuchsia/sdk/core/mac-amd64 from h4iiT... to otkJA...
  DEPS
Labels: autoroller: commit, cla: yes

#14342 Roll fuchsia/sdk/core/linux-amd64 from UdfLO... to 9wKTl...
  DEPS
  ci/licenses_golden/licenses_fuchsia
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/thread.cc
Labels: cla: no

#14351 [fuchsia] Move async_get_default_dispatcher include to the header
  shell/platform/fuchsia/flutter/thread.cc
  shell/platform/fuchsia/flutter/thread.h
Labels: cla: yes

#14345 Roll src/third_party/skia 75799967be60..3517aa7b14ad (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14340 Remove duplicate and outdated src/third_party/dart/tools/sdks entry from DEPS.
  DEPS
Labels: cla: yes

#13868 Add ability to control dithering on Paint
  lib/ui/painting.dart
  lib/ui/painting/paint.cc
  lib/web_ui/lib/src/ui/painting.dart
  testing/dart/canvas_test.dart
  testing/resources/canvas_test_dithered_gradient.png
  testing/resources/canvas_test_gradient.png
Labels: cla: yes

#14104 Rework simpler conditional offscreen for screen readback support.
  flow/compositor_context.cc
  flow/compositor_context.h
  flow/layers/backdrop_filter_layer.cc
  flow/layers/backdrop_filter_layer.h
  flow/layers/backdrop_filter_layer_unittests.cc
  flow/layers/clip_path_layer.cc
  flow/layers/clip_path_layer.h
  flow/layers/clip_path_layer_unittests.cc
  flow/layers/clip_rect_layer.cc
  flow/layers/clip_rect_layer.h
  flow/layers/clip_rect_layer_unittests.cc
  flow/layers/clip_rrect_layer.cc
  flow/layers/clip_rrect_layer.h
  flow/layers/clip_rrect_layer_unittests.cc
  flow/layers/color_filter_layer.cc
  flow/layers/color_filter_layer.h
  flow/layers/color_filter_layer_unittests.cc
  flow/layers/layer.cc
  flow/layers/layer.h
  flow/layers/layer_tree.cc
  flow/layers/layer_tree.h
  flow/layers/layer_tree_unittests.cc
  flow/layers/opacity_layer.cc
  flow/layers/opacity_layer_unittests.cc
  flow/layers/physical_shape_layer.cc
  flow/layers/physical_shape_layer.h
  flow/layers/physical_shape_layer_unittests.cc
  flow/layers/shader_mask_layer.cc
  flow/layers/shader_mask_layer.h
  flow/layers/shader_mask_layer_unittests.cc
  flow/testing/layer_test.h
  flow/testing/mock_layer.cc
  flow/testing/mock_layer.h
  shell/common/rasterizer.cc
  shell/common/surface.cc
  shell/common/surface.h
  shell/gpu/gpu_surface_gl.cc
  shell/gpu/gpu_surface_gl.h
  shell/gpu/gpu_surface_gl_delegate.cc
  shell/gpu/gpu_surface_gl_delegate.h
  shell/gpu/gpu_surface_metal.mm
  shell/gpu/gpu_surface_software.cc
  shell/gpu/gpu_surface_vulkan.cc
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/fuchsia/flutter/compositor_context.cc
  shell/platform/fuchsia/flutter/compositor_context.h
  shell/platform/fuchsia/flutter/surface.cc
Labels: cla: yes

#14359 Assert that arc end caps on canvases with root surface transformations are drawn correctly.
  ci/licenses_golden/licenses_flutter
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/fixtures/arc_end_caps.png
  shell/platform/embedder/fixtures/main.dart
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: cla: yes

#14319 Fix missing timeline event of flutter engine's startup time
  runtime/dart_vm.cc
Labels: cla: yes

#14323 Fix missing API stream when record event in systrace
  runtime/dart_vm.cc
Labels: cla: yes

#14275 Fix CGMutablePathRef memory leaks
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.mm
Labels: cla: yes

#14367 objcdoc fix for some ambiguity
  shell/platform/darwin/ios/framework/Headers/FlutterEngine.h
  shell/platform/darwin/ios/framework/Headers/FlutterViewController.h
Labels: cla: yes, waiting for tree to go green

#14361 [tests] Use distinct begin and end times
  shell/common/shell_test.cc
Labels: cla: yes

#14375 Roll src/third_party/skia 3517aa7b14ad..826484f2631f (18 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13457 [flutter_runner] Enable Skia tracing by default on Fuchsia
  shell/platform/fuchsia/flutter/component.cc
Labels: Work in progress (WIP), cla: yes

#14405 Roll src/third_party/skia 826484f2631f..51b99659ed82 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#13863 Smart quote/dash configuration support in iOS
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
Labels: cla: yes

#14407 Roll fuchsia/sdk/core/mac-amd64 from otkJA... to SlgE8...
  DEPS
Labels: autoroller: commit, cla: yes

#14440 Remove unused _TypeNone enum field.
  lib/ui/painting.dart
  lib/web_ui/lib/src/engine/color_filter.dart
Labels: cla: yes

#14453 Roll src/third_party/dart d9fa37e85d5c..45db29709547 (48 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#14131 Refactoring text editing. Strategy pattern is used to handle different browser/operating system and a11y behavior.
  lib/web_ui/lib/src/engine/browser_detection.dart
  lib/web_ui/lib/src/engine/text_editing/input_type.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/text_editing_test.dart
Labels: affects: text input, cla: yes, platform-web

#14452 Fix type in build_fuchsia_artifacts
  tools/fuchsia/build_fuchsia_artifacts.py
Labels: cla: yes

#14457 Roll src/third_party/skia 51b99659ed82..c514e7d9be6e (13 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14456 [testing] Move test vsync waiters to their own TUs
  ci/licenses_golden/licenses_flutter
  shell/common/BUILD.gn
  shell/common/shell_test.cc
  shell/common/shell_test.h
  shell/common/test_vsync_waiters.cc
  shell/common/test_vsync_waiters.h
Labels: cla: yes

#14320 [web][refactor] Split html and canvaskit classes more
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/compositor/canvas.dart
  lib/web_ui/lib/src/engine/compositor/painting.dart
  lib/web_ui/lib/src/engine/compositor/path.dart
  lib/web_ui/lib/src/engine/compositor/text.dart
  lib/web_ui/lib/src/engine/compositor/util.dart
  lib/web_ui/lib/src/engine/dom_canvas.dart
  lib/web_ui/lib/src/engine/engine_canvas.dart
  lib/web_ui/lib/src/engine/houdini_canvas.dart
  lib/web_ui/lib/src/engine/path_to_svg.dart
  lib/web_ui/lib/src/engine/render_vertices.dart
  lib/web_ui/lib/src/engine/surface/clip.dart
  lib/web_ui/lib/src/engine/surface/painting.dart
  lib/web_ui/lib/src/engine/surface/path_metrics.dart
  lib/web_ui/lib/src/engine/surface/recording_canvas.dart
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/lib/src/ui/canvas.dart
  lib/web_ui/lib/src/ui/painting.dart
  lib/web_ui/lib/src/ui/path.dart
  lib/web_ui/lib/src/ui/path_metrics.dart
  lib/web_ui/test/engine/recording_canvas_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_arc_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_lines_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_rect_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_rrect_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_stroke_joins_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_stroke_rects_golden_test.dart
  lib/web_ui/test/golden_tests/engine/recording_canvas_golden_test.dart
  lib/web_ui/test/mock_engine_canvas.dart
  lib/web_ui/test/path_test.dart
Labels: cla: yes

#14465 Use futures to images used for comparison with fixtures in embedder unit-tests.
  shell/platform/embedder/tests/embedder_test_context.cc
  shell/platform/embedder/tests/embedder_test_context.h
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: cla: yes

#14463 [testing] Make vsync waiters pluggable in shell_unittests
  shell/common/shell_test.cc
  shell/common/shell_test.h
  shell/common/shell_unittests.cc
  shell/common/test_vsync_waiters.cc
  shell/common/test_vsync_waiters.h
Labels: cla: yes

#14461 Roll fuchsia/sdk/core/linux-amd64 from 9wKTl... to sBbWo...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes

#14470 [fuchsia] Add diagnostics directory to the set of remote dirs
  shell/platform/fuchsia/flutter/component.cc
Labels: cla: yes

#14471 Roll src/third_party/dart 45db29709547..c561a9eacc1b (14 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#14318 [animator] Pass target frametime for Window.onBeginFrame
  ci/licenses_golden/licenses_flutter
  fml/platform/linux/timerfd.cc
  shell/common/BUILD.gn
  shell/common/animator.cc
  shell/common/animator_unittests.cc
  shell/common/shell_unittests.cc
  shell/common/test_vsync_waiters.cc
  shell/common/test_vsync_waiters.h
Labels: cla: yes

#14467 [web] adding firefox unit tests to font loading
  lib/web_ui/test/text/font_collection_test.dart
Labels: cla: yes, waiting for tree to go green

#14475 Roll src/third_party/dart c561a9eacc1b..fe9f30c3896e (7 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#14473 Roll fuchsia/sdk/core/linux-amd64 from sBbWo... to QZVxo...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#14476 Roll fuchsia/sdk/core/mac-amd64 from SlgE8... to 5t09i...
  DEPS
Labels: autoroller: commit, cla: yes

#14478 Roll src/third_party/skia c514e7d9be6e..d0840ecf5831 (18 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14343 Do not assume that createTypeface is called before getStyle in the AssetManagerFontStyleSet
  lib/ui/text/asset_manager_font_provider.cc
Labels: cla: yes

#14480 Roll src/third_party/dart fe9f30c3896e..8ad8abfb7463 (19 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#14481 Roll src/third_party/skia d0840ecf5831..ea47b0e65802 (9 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14479 [web] Implement Paragraph.getLineBoundary
  lib/web_ui/lib/src/engine/text/measurement.dart
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/test/paragraph_test.dart
  lib/web_ui/test/text/measurement_test.dart
Labels: cla: yes, platform-web

#14485 [web] Remove Paragraph._lines which isn't necessary anymore
  lib/web_ui/lib/src/engine/text/paragraph.dart
Labels: cla: yes, platform-web

#14482 libtxt: cache fallback fonts found by a Minikin font collection
  third_party/txt/src/minikin/FontCollection.cpp
  third_party/txt/src/minikin/FontCollection.h
Labels: cla: yes

#14487 firefox unit tests to font loading structure change
  lib/web_ui/test/text/font_collection_test.dart
Labels: cla: yes

#14483 Verify embedders can convert clip rects from mutation stack into surface space.
  shell/platform/embedder/fixtures/main.dart
  shell/platform/embedder/tests/embedder_assertions.h
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: cla: yes

#14486 Introduce an auto-deletable SkiaObject; make SkPaint a SkiaObject
  lib/web_ui/lib/src/engine/compositor/canvas.dart
  lib/web_ui/lib/src/engine/compositor/painting.dart
  lib/web_ui/lib/src/engine/compositor/rasterizer.dart
  lib/web_ui/lib/src/engine/compositor/text.dart
  lib/web_ui/lib/src/engine/compositor/util.dart
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/test/engine/compositor/util_test.dart
Labels: cla: yes

#14488 Roll src/third_party/dart 8ad8abfb7463..83eeab1e63d9 (13 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#14477 Allow embedders to post Dart objects on send ports from the native side.
  fml/closure.h
  shell/common/shell_unittests.cc
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/embedder/fixtures/main.dart
  shell/platform/embedder/tests/embedder_unittests.cc
  testing/testing.cc
  testing/testing.h
Labels: cla: yes

#14490 Roll src/third_party/skia ea47b0e65802..cd9ad409a90d (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14494 Roll fuchsia/sdk/core/linux-amd64 from QZVxo... to q0tup...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#14492 Roll src/third_party/dart 83eeab1e63d9..6c99171686be (5 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#14495 Roll src/third_party/skia cd9ad409a90d..cf0e3c63fd22 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14493 Roll fuchsia/sdk/core/mac-amd64 from 5t09i... to esDH2...
  DEPS
Labels: autoroller: commit, cla: yes

#14497 Roll src/third_party/dart 6c99171686be..09a0b040dd9b (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes
