Repository flutter/engine, pull requests merged in 2020-06, with the labels that each got.

#18700 Upgrade the meta package version for compatibility with petitparser-3.0.4
  lib/web_ui/pubspec.yaml
Labels: cla: yes

#18667 implement SkPath.computeMetrics
  lib/web_ui/build.canvaskit.yaml
  lib/web_ui/build.html.yaml
  lib/web_ui/dev/environment.dart
  lib/web_ui/dev/test_runner.dart
  lib/web_ui/lib/src/engine/compositor/path.dart
  lib/web_ui/lib/src/engine/compositor/path_metrics.dart
  lib/web_ui/pubspec.yaml
  lib/web_ui/test/canvaskit/path_metrics_test.dart
  lib/web_ui/test/canvaskit/util_test.dart
Labels: cla: yes

#18542 [web] Fix nineslice assertion
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/ui/canvas.dart
  lib/web_ui/test/golden_tests/engine/canvas_draw_image_golden_test.dart
Labels: cla: yes

#18704 Roll Skia from 25a8404bd150 to 8c5786622b4e (17 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18703 do not lock petitparser
  lib/web_ui/pubspec.yaml
Labels: cla: yes

#18707 Roll Skia from 8c5786622b4e to 502eab4fc913 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18641 Fix FlValue functions not marked for export
  shell/platform/linux/fl_value.cc
Labels: cla: yes

#18638 Add tests for FlBinaryMessenger, FlBasicMessageChannel, FlMethodChannel
  ci/licenses_golden/licenses_flutter
  shell/platform/embedder/BUILD.gn
  shell/platform/linux/BUILD.gn
  shell/platform/linux/fl_basic_message_channel_test.cc
  shell/platform/linux/fl_binary_messenger_test.cc
  shell/platform/linux/fl_method_channel_test.cc
  shell/platform/linux/testing/mock_egl.cc
  shell/platform/linux/testing/mock_engine.cc
  shell/platform/linux/testing/mock_renderer.cc
  shell/platform/linux/testing/mock_renderer.h
Labels: cla: yes

#18714 [fuchsia] NNBD: Kernel libraries for Flutter, Dart runners
  shell/platform/fuchsia/dart-pkg/fuchsia/lib/fuchsia.dart
  shell/platform/fuchsia/dart-pkg/zircon/lib/src/handle.dart
  shell/platform/fuchsia/dart-pkg/zircon/lib/src/handle_waiter.dart
  shell/platform/fuchsia/dart-pkg/zircon/lib/src/system.dart
  shell/platform/fuchsia/dart-pkg/zircon/lib/zircon.dart
  shell/platform/fuchsia/dart_runner/embedder/builtin.dart
  shell/platform/fuchsia/dart_runner/kernel/BUILD.gn
  shell/platform/fuchsia/dart_runner/kernel/libraries.json
  shell/platform/fuchsia/dart_runner/kernel/libraries.yaml
  shell/platform/fuchsia/flutter/kernel/BUILD.gn
  shell/platform/fuchsia/flutter/kernel/libraries.json
  shell/platform/fuchsia/flutter/kernel/libraries.yaml
Labels: cla: yes

#18713 Make GetAllocationSize const
  lib/ui/painting/engine_layer.cc
  lib/ui/painting/engine_layer.h
  lib/ui/painting/image.cc
  lib/ui/painting/image.h
  lib/ui/painting/picture.cc
  lib/ui/painting/picture.h
  lib/ui/painting/single_frame_codec.cc
  lib/ui/painting/single_frame_codec.h
  lib/ui/text/paragraph.cc
  lib/ui/text/paragraph.h
  third_party/tonic/dart_wrappable.cc
  third_party/tonic/dart_wrappable.h
Labels: cla: yes, waiting for tree to go green

#18676 Fix BM_ShellShutdown regression
  shell/common/shell_benchmarks.cc
Labels: cla: yes, waiting for tree to go green

#18650 [web] runs ios unit tests
  lib/web_ui/dev/safari.dart
  lib/web_ui/dev/safari_installation.dart
  lib/web_ui/dev/supported_browsers.dart
  lib/web_ui/dev/test_platform.dart
Labels: cla: yes

#18717 Roll Fuchsia Mac SDK from WuG3u... to YmMjL...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18569 System mouse cursor: Android
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/embedding/engine/FlutterEngine.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/MouseCursorChannel.java
  shell/platform/android/io/flutter/plugin/mouse/MouseCursorPlugin.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/test/io/flutter/FlutterTestSuite.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
  shell/platform/android/test/io/flutter/plugin/mouse/MouseCursorPluginTest.java
Labels: cla: yes

#18722 add driver for chrome 83
  lib/web_ui/dev/driver_version.yaml
Labels: cla: yes

#18728 Roll Fuchsia Linux SDK from in0Aq... to VXyRo...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#18737 Roll Skia from 502eab4fc913 to a5ced794731b (22 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18738 Roll Dart SDK from 6489a0c68df8 to 3d53df52afb5 (141 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#18555 null-annotate lib/ui/hooks.dart
  lib/ui/hooks.dart
Labels: cla: yes

#18740 Roll Skia from a5ced794731b to 1adcac52d64b (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18741 Mark conditional SkParagraph include nogncheck.
  third_party/txt/src/txt/font_collection.h
Labels: cla: yes, waiting for tree to go green

#18634 Add missing full stops on the end of comments.
  shell/platform/linux/fl_basic_message_channel.cc
  shell/platform/linux/fl_binary_codec.cc
  shell/platform/linux/fl_binary_messenger.cc
  shell/platform/linux/fl_engine.cc
  shell/platform/linux/fl_json_message_codec.cc
  shell/platform/linux/fl_json_message_codec_test.cc
  shell/platform/linux/fl_json_method_codec.cc
  shell/platform/linux/fl_message_codec.cc
  shell/platform/linux/fl_message_codec_test.cc
  shell/platform/linux/fl_method_call.cc
  shell/platform/linux/fl_method_channel.cc
  shell/platform/linux/fl_method_codec.cc
  shell/platform/linux/fl_method_codec_test.cc
  shell/platform/linux/fl_method_response_test.cc
  shell/platform/linux/fl_renderer.cc
  shell/platform/linux/fl_standard_method_codec.cc
  shell/platform/linux/fl_string_codec.cc
  shell/platform/linux/fl_value.cc
  shell/platform/linux/fl_view.cc
Labels: cla: yes

#18719 Add braces around multi-line branches to match code style
  shell/platform/linux/fl_basic_message_channel.cc
  shell/platform/linux/fl_binary_messenger.cc
  shell/platform/linux/fl_dart_project.cc
  shell/platform/linux/fl_engine.cc
  shell/platform/linux/fl_json_message_codec.cc
  shell/platform/linux/fl_json_method_codec_test.cc
  shell/platform/linux/fl_key_event_plugin.cc
  shell/platform/linux/fl_method_channel.cc
  shell/platform/linux/fl_method_codec_test.cc
  shell/platform/linux/fl_method_response.cc
  shell/platform/linux/fl_standard_method_codec_test.cc
  shell/platform/linux/fl_view.cc
Labels: cla: yes

#18724 Add missing standard codec alignment bytes
  shell/platform/linux/fl_standard_message_codec.cc
  shell/platform/linux/fl_standard_message_codec_test.cc
Labels: cla: yes

#18721 Add an engine PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes

#18747 Roll Dart SDK from 3d53df52afb5 to 54adfeb93f0b (14 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#18552 null-annotate SemanticsUpdateBuilder.updateNode
  lib/ui/semantics.dart
  lib/web_ui/lib/src/ui/semantics.dart
Labels: cla: yes

#18755 Pin the analyzer version as a temporary workaround for https://github.com/dart-lang/sdk/issues/42163
  lib/web_ui/pubspec.yaml
Labels: cla: yes

#18709 Pass SurfaceFrame to SubmitFrame
  ci/licenses_golden/licenses_flutter
  flow/BUILD.gn
  flow/embedded_views.cc
  flow/embedded_views.h
  shell/common/BUILD.gn
  shell/common/rasterizer.cc
  shell/common/shell_test_external_view_embedder.cc
  shell/common/shell_test_external_view_embedder.h
  shell/common/surface.cc
  shell/common/surface.h
  shell/common/surface_frame.cc
  shell/common/surface_frame.h
  shell/platform/android/external_view_embedder/external_view_embedder.cc
  shell/platform/android/external_view_embedder/external_view_embedder.h
  shell/platform/android/external_view_embedder/external_view_embedder_unittests.cc
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/ios_surface.h
  shell/platform/darwin/ios/ios_surface.mm
  shell/platform/embedder/embedder_external_view_embedder.cc
  shell/platform/embedder/embedder_external_view_embedder.h
Labels: cla: yes

#18785 Revert "null-annotate SemanticsUpdateBuilder.updateNode"
  lib/ui/semantics.dart
  lib/web_ui/lib/src/ui/semantics.dart
Labels: cla: yes

#18756 Implement GetAllocationSize for Vertices
  ci/licenses_golden/licenses_flutter
  lib/ui/BUILD.gn
  lib/ui/fixtures/ui_test.dart
  lib/ui/painting.dart
  lib/ui/painting/canvas.cc
  lib/ui/painting/canvas.h
  lib/ui/painting/picture.cc
  lib/ui/painting/picture.h
  lib/ui/painting/picture_recorder.cc
  lib/ui/painting/vertices.cc
  lib/ui/painting/vertices.h
  lib/ui/painting/vertices_unittests.cc
  shell/common/BUILD.gn
  testing/dart/canvas_test.dart
Labels: cla: yes

#18743 [web] Remove connection close on blur for desktop browsers
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/text_editing_test.dart
Labels: cla: yes

#18544 ios accessibility: started ignoring route changes when presenting modal view controllers
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController_Internal.h
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.h
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_test.mm
Labels: cla: yes

#18783 Update 1.17 engine hash to Dart 2.8.4
  DEPS
  ci/licenses_golden/licenses_third_party
  lib/web_ui/pubspec.yaml
Labels: cla: yes

#18790 Removing Flutter for Web firefox tests from cirrus.
  .cirrus.yml
Labels: cla: yes

#18735 Don't export embedder API in desktop embeddings
  shell/platform/common/cpp/BUILD.gn
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/glfw/BUILD.gn
  shell/platform/linux/BUILD.gn
  shell/platform/windows/BUILD.gn
Labels: cla: yes

#18798 Live region announcements for iOS
  lib/ui/semantics.dart
  shell/platform/darwin/ios/framework/Source/SemanticsObject.h
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
Labels: cla: yes, waiting for tree to go green

#18802 Mark symbols that should be public
  shell/platform/linux/fl_method_call.cc
  shell/platform/linux/fl_method_response.cc
  shell/platform/linux/fl_plugin_registrar.cc
Labels: cla: yes

#18806 Roll Dart SDK from 54adfeb93f0b to e5b2cb0b02ae (53 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#18817 Roll Dart SDK from e5b2cb0b02ae to acb552d056be (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#18818 Roll Fuchsia Mac SDK from YmMjL... to aEbAT...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18801 Update 1.19 engine hash to Dart 02915ec5ce8a1cb71dac244a73efcd9a5e75416a
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#18821 Roll Dart SDK from acb552d056be to ac45f23134f2 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#18823 Roll Skia from 1adcac52d64b to 024d42fdd6bb (66 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18786 onDisplayPlatformView JNI
  shell/platform/android/io/flutter/embedding/engine/FlutterEngine.java
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/platform_view_android_jni.cc
  shell/platform/android/platform_view_android_jni.h
  shell/platform/android/test/io/flutter/embedding/engine/FlutterJNITest.java
Labels: cla: yes

#18826 Revert "onDisplayPlatformView JNI"
  shell/platform/android/io/flutter/embedding/engine/FlutterEngine.java
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/platform_view_android_jni.cc
  shell/platform/android/platform_view_android_jni.h
  shell/platform/android/test/io/flutter/embedding/engine/FlutterJNITest.java
Labels: cla: yes, platform-android

#18824 Roll Dart SDK from ac45f23134f2 to f92a7d2669b1 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#18648 Minimize child DOM node moves in many-to-many update
  lib/web_ui/lib/src/engine/surface/surface.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
  lib/web_ui/test/engine/surface/scene_builder_test.dart
Labels: cla: yes

#18796 Roll Fuchsia Linux SDK from VXyRo... to 9-PNW...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#18791 null-annotate semantics.dart
  lib/ui/semantics.dart
  lib/web_ui/lib/src/ui/semantics.dart
Labels: cla: yes

#18601 Rework GLContextSwitch, get rid of RendererContextManager
  ci/licenses_golden/licenses_flutter
  flow/BUILD.gn
  shell/common/BUILD.gn
  shell/common/gl_context_switch.cc
  shell/common/gl_context_switch.h
  shell/common/gl_context_switch_test.cc
  shell/common/gl_context_switch_test.h
  shell/common/gl_context_switch_unittests.cc
  shell/common/rasterizer.cc
  shell/common/renderer_context_manager.cc
  shell/common/renderer_context_manager.h
  shell/common/renderer_context_manager_unittests.cc
  shell/common/renderer_context_test.cc
  shell/common/shell_test_platform_view_gl.cc
  shell/common/shell_test_platform_view_gl.h
  shell/common/shell_test_platform_view_vulkan.cc
  shell/common/surface.cc
  shell/common/surface.h
  shell/common/surface_frame.cc
  shell/common/surface_frame.h
  shell/gpu/BUILD.gn
  shell/gpu/gpu_surface_gl.cc
  shell/gpu/gpu_surface_gl.h
  shell/gpu/gpu_surface_gl_delegate.h
  shell/gpu/gpu_surface_metal.h
  shell/gpu/gpu_surface_metal.mm
  shell/platform/android/android_surface_gl.cc
  shell/platform/android/android_surface_gl.h
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/ios_context.h
  shell/platform/darwin/ios/ios_context_gl.h
  shell/platform/darwin/ios/ios_context_gl.mm
  shell/platform/darwin/ios/ios_context_metal.h
  shell/platform/darwin/ios/ios_context_metal.mm
  shell/platform/darwin/ios/ios_context_software.h
  shell/platform/darwin/ios/ios_context_software.mm
  shell/platform/darwin/ios/ios_render_target_gl.h
  shell/platform/darwin/ios/ios_render_target_gl.mm
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_switchable_gl_context.h
  shell/platform/darwin/ios/ios_switchable_gl_context.mm
  shell/platform/embedder/embedder_surface_gl.cc
  shell/platform/embedder/embedder_surface_gl.h
Labels: cla: yes

#18792 [web] Adding profile parameter to firefox
  lib/web_ui/dev/firefox.dart
Labels: cla: yes

#18789 null annotate window.dart
  lib/ui/window.dart
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/lib/src/ui/test_embedding.dart
  lib/web_ui/lib/src/ui/window.dart
Labels: cla: yes

#18831 Reset AndroidExternalViewEmbedder state when starting a new frame
  shell/platform/android/external_view_embedder/external_view_embedder.cc
  shell/platform/android/external_view_embedder/external_view_embedder.h
Labels: cla: yes, platform-android, waiting for tree to go green

#18827 Record path memory usage in SkPictures
  lib/ui/painting/canvas.cc
  lib/ui/painting/path.cc
  lib/ui/painting/path.h
  testing/dart/canvas_test.dart
Labels: cla: yes, perf: memory

#18835 Roll Skia from 024d42fdd6bb to cdc39bda9237 (19 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18836 Roll Dart SDK from f92a7d2669b1 to 62903873df30 (10 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#18839 Roll Skia from cdc39bda9237 to 59f31b143ccd (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18837 Fix braces style
  shell/platform/linux/fl_binary_messenger.cc
  shell/platform/linux/fl_dart_project.cc
  shell/platform/linux/fl_json_message_codec.cc
  shell/platform/linux/fl_method_channel.cc
  shell/platform/linux/fl_method_codec_test.cc
  shell/platform/linux/fl_standard_message_codec.cc
  shell/platform/linux/fl_text_input_plugin.cc
Labels: cla: yes

#18810 Don't call engine when not initialized.
  shell/platform/linux/fl_engine.cc
Labels: cla: yes

#18833 [fuchsia] Limit unnecessary layout transition to aarch64.
  shell/platform/fuchsia/flutter/vulkan_surface_producer.cc
Labels: cla: yes

#18400 add nullability annotations to ui/text.dart
  lib/ui/text.dart
  lib/web_ui/lib/src/engine/compositor/text.dart
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/lib/src/ui/text.dart
Labels: cla: yes

#18395 add nullability annotations to lib/web_ui painting.dart
  lib/web_ui/lib/src/engine/html_image_codec.dart
  lib/web_ui/lib/src/ui/painting.dart
Labels: cla: yes

#18670 Refactor AndroidContextGL, AndroidSurface and AndroidSurfaceGL
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/android_context.cc
  shell/platform/android/android_context.h
  shell/platform/android/android_context_gl.cc
  shell/platform/android/android_context_gl.h
  shell/platform/android/android_surface.cc
  shell/platform/android/android_surface.h
  shell/platform/android/android_surface_gl.cc
  shell/platform/android/android_surface_gl.h
  shell/platform/android/android_surface_software.cc
  shell/platform/android/android_surface_software.h
  shell/platform/android/android_surface_vulkan.cc
  shell/platform/android/android_surface_vulkan.h
  shell/platform/android/platform_view_android.cc
  shell/platform/android/platform_view_android.h
Labels: cla: yes, waiting for tree to go green

#18844 Roll Fuchsia Mac SDK from aEbAT... to ASjDr...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18845 Roll Fuchsia Linux SDK from 9-PNW... to hIXuO...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#18374 add nullability annotations to lib/ui/painting.dart
  lib/ui/painting.dart
  lib/web_ui/lib/src/ui/canvas.dart
Labels: cla: yes

#18843 Roll Dart SDK from 62903873df30 to 249cb9c974e1 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#18847 Roll Skia from 59f31b143ccd to 288ecf60bde8 (14 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18851 Roll Skia from 288ecf60bde8 to 9f7485b4bbeb (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18618 Roll CanvasKit to 0.16.1
  lib/web_ui/lib/src/engine/compositor/canvas.dart
  lib/web_ui/lib/src/engine/compositor/canvas_kit_canvas.dart
  lib/web_ui/lib/src/engine/compositor/color_filter.dart
  lib/web_ui/lib/src/engine/compositor/fonts.dart
  lib/web_ui/lib/src/engine/compositor/initialization.dart
  lib/web_ui/lib/src/engine/compositor/painting.dart
  lib/web_ui/lib/src/engine/compositor/path.dart
  lib/web_ui/lib/src/engine/compositor/surface.dart
  lib/web_ui/lib/src/engine/compositor/text.dart
  lib/web_ui/lib/src/engine/compositor/util.dart
  lib/web_ui/lib/src/engine/compositor/vertices.dart
  lib/web_ui/lib/src/engine/shader.dart
Labels: cla: yes

#18852 null-annotate remaining engine code
  lib/ui/channel_buffers.dart
  lib/ui/painting.dart
  lib/web_ui/lib/src/engine/surface/path.dart
  lib/web_ui/lib/src/engine/surface/recording_canvas.dart
  lib/web_ui/lib/src/ui/canvas.dart
  lib/web_ui/lib/src/ui/channel_buffers.dart
  lib/web_ui/lib/src/ui/compositing.dart
  lib/web_ui/lib/src/ui/initialization.dart
  lib/web_ui/lib/src/ui/painting.dart
  lib/web_ui/lib/src/ui/path.dart
  lib/web_ui/lib/src/ui/path_metrics.dart
  lib/web_ui/lib/src/ui/test_embedding.dart
Labels: cla: yes

#18853 Roll Skia from 9f7485b4bbeb to aa10dfeec96a (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18854 Roll Dart SDK from 249cb9c974e1 to 403955cf347f (9 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#18860 Roll Fuchsia Mac SDK from ASjDr... to b4Gyr...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18861 Roll Fuchsia Linux SDK from hIXuO... to DELkx...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#18862 Roll Skia from aa10dfeec96a to 0ef90dd5e9c6 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18863 Roll Skia from 0ef90dd5e9c6 to 47b06754624e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18864 Roll Dart SDK from 403955cf347f to 578fa6bee9eb (8 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#18840 Fix include paths to help building flutter runner for Fuchsia
  flow/layers/child_scene_layer.h
  flow/view_holder.h
  shell/platform/fuchsia/runtime/dart/utils/files.cc
  shell/platform/fuchsia/runtime/dart/utils/handle_exception.cc
  shell/platform/fuchsia/runtime/dart/utils/mapped_resource.cc
  shell/platform/fuchsia/runtime/dart/utils/tempfs.cc
  shell/platform/fuchsia/runtime/dart/utils/vmo.cc
  shell/platform/fuchsia/runtime/dart/utils/vmservice_object.cc
  vulkan/vulkan_application.cc
  vulkan/vulkan_application.h
  vulkan/vulkan_backbuffer.cc
  vulkan/vulkan_backbuffer.h
  vulkan/vulkan_command_buffer.cc
  vulkan/vulkan_command_buffer.h
  vulkan/vulkan_debug_report.cc
  vulkan/vulkan_debug_report.h
  vulkan/vulkan_device.cc
  vulkan/vulkan_device.h
  vulkan/vulkan_image.cc
  vulkan/vulkan_image.h
  vulkan/vulkan_interface.cc
  vulkan/vulkan_native_surface.cc
  vulkan/vulkan_native_surface_android.cc
  vulkan/vulkan_native_surface_android.h
  vulkan/vulkan_proc_table.cc
  vulkan/vulkan_proc_table.h
  vulkan/vulkan_provider.cc
  vulkan/vulkan_provider.h
  vulkan/vulkan_surface.cc
  vulkan/vulkan_surface.h
  vulkan/vulkan_swapchain.cc
  vulkan/vulkan_swapchain.h
  vulkan/vulkan_swapchain_stub.cc
  vulkan/vulkan_utilities.cc
  vulkan/vulkan_utilities.h
  vulkan/vulkan_window.cc
  vulkan/vulkan_window.h
Labels: cla: yes

#18868 Roll Fuchsia Linux SDK from DELkx... to j9T0m...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#18869 Roll Fuchsia Mac SDK from b4Gyr... to JVQxV...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18746 sadly missed an asterisk
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes

#18871 Roll Dart SDK from 578fa6bee9eb to 4b9c2356e962 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#18830 [nnbd] un-fork sky engine
  sky/packages/sky_engine/BUILD.gn
Labels: cla: yes

#18872 Roll Dart SDK from 4b9c2356e962 to 48b4528a44ac (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#18873 Roll Skia from 47b06754624e to aed47a38a08a (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18874 Roll Skia from aed47a38a08a to 81aa5ddb9404 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18876 Roll Fuchsia Mac SDK from JVQxV... to Xqev9...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18877 Roll Fuchsia Linux SDK from j9T0m... to U7i_W...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#18879 Roll Dart SDK from 48b4528a44ac to 87c5e3612b70 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#18809 Support AOT mode in GTK shell
  shell/platform/linux/fl_basic_message_channel_test.cc
  shell/platform/linux/fl_binary_messenger_test.cc
  shell/platform/linux/fl_dart_project.cc
  shell/platform/linux/fl_dart_project_test.cc
  shell/platform/linux/fl_engine.cc
  shell/platform/linux/fl_method_channel_test.cc
  shell/platform/linux/public/flutter_linux/fl_dart_project.h
  shell/platform/linux/public/flutter_linux/fl_view.h
  shell/platform/linux/testing/mock_engine.cc
Labels: cla: yes

#18881 Roll Fuchsia Mac SDK from Xqev9... to uCq3V...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18892 Roll Dart SDK from 87c5e3612b70 to 66e2b22d14af (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#18865 Add a deprecation note to FlutterFragmentActivity
  shell/platform/android/io/flutter/app/FlutterFragmentActivity.java
Labels: cla: yes, platform-android

#18893 Roll Skia from 81aa5ddb9404 to f9ffdd6942f9 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18894 Roll Fuchsia Linux SDK from U7i_W... to NbGZv...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#18880 nullability clean-ups
  ci/licenses_golden/licenses_flutter
  lib/ui/geometry.dart
  lib/ui/hash_codes.dart
  lib/ui/lerp.dart
  lib/ui/painting.dart
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/compositor/picture_recorder.dart
  lib/web_ui/lib/src/engine/compositor/surface.dart
  lib/web_ui/lib/src/engine/compositor/vertices.dart
  lib/web_ui/lib/src/engine/engine_canvas.dart
  lib/web_ui/lib/src/engine/surface/canvas.dart
  lib/web_ui/lib/src/engine/surface/debug_canvas_reuse_overlay.dart
  lib/web_ui/lib/src/engine/surface/recording_canvas.dart
  lib/web_ui/lib/src/engine/surface/render_vertices.dart
  lib/web_ui/lib/src/engine/util.dart
  lib/web_ui/lib/src/ui/canvas.dart
  lib/web_ui/lib/src/ui/geometry.dart
  lib/web_ui/lib/src/ui/hash_codes.dart
  lib/web_ui/lib/src/ui/initialization.dart
  lib/web_ui/lib/src/ui/lerp.dart
  lib/web_ui/lib/src/ui/painting.dart
  lib/web_ui/lib/src/ui/test_embedding.dart
  lib/web_ui/lib/src/ui/text.dart
Labels: cla: yes

#18815 fix AttachCurrentThread override thread name issue
  fml/platform/android/jni_util.cc
Labels: cla: yes, waiting for tree to go green

#18875 Fix intent builder visibility
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/io/flutter/embedding/android/FlutterFragmentActivity.java
  shell/platform/android/test/io/flutter/FlutterTestSuite.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterFragmentActivityTest.java
Labels: cla: yes, platform-android, waiting for tree to go green

#18895 Roll Dart SDK from 66e2b22d14af to df435c923544 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#18896 Roll Skia from f9ffdd6942f9 to 6e659e960945 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#18897 Roll Fuchsia Mac SDK from uCq3V... to f9ILa...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18898 Remove simulator build mode restrictions
  tools/gn
Labels: cla: yes, waiting for tree to go green

#18828 onDisplayPlatformView JNI
  shell/platform/android/io/flutter/embedding/engine/FlutterEngine.java
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/platform_view_android_jni.cc
  shell/platform/android/platform_view_android_jni.h
  shell/platform/android/test/io/flutter/embedding/engine/FlutterJNITest.java
Labels: cla: yes, platform-android, waiting for tree to go green

#18889 Fix name of Flutter class in plugin docstrings
  shell/platform/linux/fl_text_input_plugin.h
Labels: cla: yes

#18891 Support window scaling
  shell/platform/linux/fl_view.cc
Labels: cla: yes

#18886 Update FlTextInputPlugin method handler style.
  shell/platform/linux/fl_text_input_plugin.cc
Labels: cla: yes

#18885 Add scroll event support
  shell/platform/linux/fl_engine.cc
  shell/platform/linux/fl_engine_private.h
  shell/platform/linux/fl_view.cc
Labels: cla: yes

#18924 Roll Fuchsia Mac SDK from f9ILa... to FYAm7...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18925 Roll Dart SDK from df435c923544 to 020359dcc8a8 (36 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#18926 Roll Dart SDK from 020359dcc8a8 to 5c1376615ec6 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#18927 Roll Skia from 6e659e960945 to 7910a8f76121 (32 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18928 Roll Skia from 7910a8f76121 to 9d79ac6b81ba (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18929 Roll Fuchsia Linux SDK from NbGZv... to Lwsff...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#18930 Update 1.19.0-4.1.pre engine hash to Dart 2.9.0-14.1.beta
  DEPS
Labels: cla: yes

#18855 Disable event tracing templates in release mode
  fml/trace_event.cc
  fml/trace_event.h
Labels: cla: yes, waiting for tree to go green

#18913 Use constant for error code
  shell/platform/linux/fl_text_input_plugin.cc
Labels: cla: yes

#18917 Log EGL errors
  shell/platform/linux/fl_renderer.cc
  shell/platform/linux/testing/mock_egl.cc
Labels: cla: yes

#18931 Roll Skia from 9d79ac6b81ba to 45f36b5b5547 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18932 Roll Dart SDK from 5c1376615ec6 to 0f15f8722e29 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#18901 Remove pipeline in favor of layer tree holder
  ci/licenses_golden/licenses_flutter
  shell/common/BUILD.gn
  shell/common/animator.cc
  shell/common/animator.h
  shell/common/engine.h
  shell/common/layer_tree_holder.cc
  shell/common/layer_tree_holder.h
  shell/common/layer_tree_holder_unittests.cc
  shell/common/pipeline.cc
  shell/common/pipeline.h
  shell/common/pipeline_unittests.cc
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/shell_test.cc
Labels: cla: yes

#18910 Add user agent for Chromium based Edge Browser to browser detection
  lib/web_ui/lib/src/engine/browser_detection.dart
Labels: cla: yes

#18795 [web] Line break algorithm using unicode properties
  lib/web_ui/lib/src/engine/text/line_breaker.dart
  lib/web_ui/lib/src/engine/text/measurement.dart
  lib/web_ui/lib/src/engine/text/unicode_range.dart
Labels: cla: yes, platform-web

#18936 Fix CanvasKit text colors by not passing a Malloc'ed array.
  lib/web_ui/lib/src/engine/compositor/text.dart
Labels: cla: yes

#18233 [fuchsia] add robust scheduling for flutter_runner
  shell/platform/fuchsia/flutter/session_connection.cc
  shell/platform/fuchsia/flutter/session_connection.h
  shell/platform/fuchsia/flutter/tests/session_connection_unittests.cc
  shell/platform/fuchsia/flutter/vsync_waiter.cc
Labels: cla: yes

#18934 SkMatrix::MakeFoo is deprecated, use SkMatrix::Foo instead
  flow/layers/backdrop_filter_layer_unittests.cc
  flow/layers/clip_path_layer_unittests.cc
  flow/layers/clip_rect_layer_unittests.cc
  flow/layers/clip_rrect_layer_unittests.cc
  flow/layers/color_filter_layer_unittests.cc
  flow/layers/container_layer_unittests.cc
  flow/layers/image_filter_layer_unittests.cc
  flow/layers/layer_tree_unittests.cc
  flow/layers/opacity_layer.cc
  flow/layers/opacity_layer_unittests.cc
  flow/layers/picture_layer_unittests.cc
  flow/layers/shader_mask_layer_unittests.cc
  flow/layers/transform_layer_unittests.cc
  flow/mutators_stack_unittests.cc
  flow/scene_update_context.h
  flow/testing/mock_layer_unittests.cc
  lib/ui/compositing/scene_builder.cc
  shell/platform/embedder/tests/embedder_unittests.cc
  shell/platform/fuchsia/flutter/vulkan_surface.h
Labels: cla: yes

#18841 Run the rasterizer on the platform thread
  shell/platform/android/external_view_embedder/external_view_embedder.cc
  shell/platform/android/external_view_embedder/external_view_embedder.h
  shell/platform/android/external_view_embedder/external_view_embedder_unittests.cc
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
Labels: cla: yes, platform-android, platform-ios

#18937 Roll Fuchsia Mac SDK from FYAm7... to P46X2...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18919 Remove the input type and action from TextInputModel.
  shell/platform/common/cpp/text_input_model.cc
  shell/platform/common/cpp/text_input_model.h
  shell/platform/common/cpp/text_input_model_unittests.cc
  shell/platform/glfw/text_input_plugin.cc
  shell/platform/glfw/text_input_plugin.h
  shell/platform/linux/fl_text_input_plugin.cc
  shell/platform/windows/text_input_plugin.cc
  shell/platform/windows/text_input_plugin.h
Labels: cla: yes

#18935 Roll Skia from 45f36b5b5547 to 64688229fd4b (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18938 Move Surface and friends to flow/
  ci/licenses_golden/licenses_flutter
  flow/BUILD.gn
  flow/embedded_views.h
  flow/gl_context_switch.cc
  flow/gl_context_switch.h
  flow/gl_context_switch_unittests.cc
  flow/surface.cc
  flow/surface.h
  flow/surface_frame.cc
  flow/surface_frame.h
  flow/testing/gl_context_switch_test.cc
  flow/testing/gl_context_switch_test.h
  shell/common/BUILD.gn
  shell/common/platform_view.h
  shell/common/rasterizer.h
  shell/common/shell.h
  shell/common/shell_test_platform_view_vulkan.cc
  shell/gpu/BUILD.gn
  shell/gpu/gpu_surface_gl.h
  shell/gpu/gpu_surface_gl_delegate.h
  shell/gpu/gpu_surface_metal.h
  shell/gpu/gpu_surface_software.h
  shell/gpu/gpu_surface_vulkan.h
  shell/platform/android/android_surface.h
  shell/platform/darwin/ios/ios_context.h
  shell/platform/darwin/ios/ios_surface.h
  shell/platform/darwin/ios/ios_switchable_gl_context.h
  shell/platform/embedder/embedder_surface.h
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/surface.h
Labels: cla: yes, platform-android, platform-ios, waiting for tree to go green

#18316 Add FlPlatformPlugin
  ci/licenses_golden/licenses_flutter
  shell/platform/linux/BUILD.gn
  shell/platform/linux/fl_platform_plugin.cc
  shell/platform/linux/fl_platform_plugin.h
  shell/platform/linux/fl_view.cc
Labels: cla: yes

#18859 add onDisplayOverlaySurface JNI
  shell/platform/android/io/flutter/embedding/engine/FlutterEngine.java
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/platform_view_android_jni.h
  shell/platform/android/test/io/flutter/embedding/engine/FlutterJNITest.java
Labels: cla: yes, platform-android

#18942 Roll Skia from 64688229fd4b to 1ce11e676e6d (10 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18944 [web] don't run some tests on safari
  lib/web_ui/test/engine/surface/scene_builder_test.dart
  lib/web_ui/test/text/measurement_test.dart
Labels: cla: yes

#18943 Roll Dart SDK from 0f15f8722e29 to dd47387430a0 (12 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#18947 Roll Skia from 1ce11e676e6d to 437c78593cb5 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18888 Add FlMouseCursorPlugin
  ci/licenses_golden/licenses_flutter
  shell/platform/linux/BUILD.gn
  shell/platform/linux/fl_mouse_cursor_plugin.cc
  shell/platform/linux/fl_mouse_cursor_plugin.h
  shell/platform/linux/fl_view.cc
Labels: cla: yes

#18849 Add RAII wrapper for EGLSurface
  shell/platform/android/android_context_gl.cc
  shell/platform/android/android_context_gl.h
  shell/platform/android/android_surface_gl.cc
  shell/platform/android/android_surface_gl.h
Labels: cla: yes, platform-android

#18950 fix iOS builds
  shell/platform/darwin/ios/BUILD.gn
Labels: cla: yes, platform-ios

#18954 Roll Skia from 437c78593cb5 to 5d18c24f7f3a (9 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18956 Roll Fuchsia Linux SDK from Lwsff... to 8AiUM...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#18957 Roll Dart SDK from dd47387430a0 to f40875bf1b68 (8 revisions)
  DEPS
Labels: cla: yes, waiting for tree to go green

#18958 Roll Fuchsia Mac SDK from P46X2... to oWhyp...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18951 Fix right-to-left selection not working.
  shell/platform/common/cpp/text_input_model.cc
  shell/platform/common/cpp/text_input_model.h
  shell/platform/common/cpp/text_input_model_unittests.cc
Labels: cla: yes

#18981 Make sure the native callback is registered before running the test.
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: cla: yes

#18975 renaming variables on integration tests manager
  lib/web_ui/dev/integration_tests_manager.dart
Labels: cla: yes, waiting for tree to go green

#18974 Roll Dart SDK from 2b917f5b6a0e to 0fab083e1c2b (15 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#18979 Call Shell::NotifyLowMemoryWarning on Android Trim and LowMemory events
  shell/platform/android/android_shell_holder.cc
  shell/platform/android/android_shell_holder.h
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/engine/dart/DartExecutor.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/platform_view_android_jni.cc
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
  shell/platform/android/test/io/flutter/embedding/engine/dart/DartExecutorTest.java
Labels: cla: yes, platform-android
