Repository flutter/engine, pull requests merged in 2020-08, with the labels that each got.

#19652 Move platform specific information to `PlatformConfiguration` class
  ci/licenses_golden/licenses_flutter
  lib/ui/BUILD.gn
  lib/ui/compositing/scene.cc
  lib/ui/dart_ui.cc
  lib/ui/fixtures/ui_test.dart
  lib/ui/hooks.dart
  lib/ui/painting/canvas.cc
  lib/ui/text/font_collection.cc
  lib/ui/text/paragraph_builder.cc
  lib/ui/ui_dart_state.cc
  lib/ui/ui_dart_state.h
  lib/ui/window.dart
  lib/ui/window/platform_configuration.cc
  lib/ui/window/platform_configuration.h
  lib/ui/window/platform_configuration_unittests.cc
  lib/ui/window/viewport_metrics.cc
  lib/ui/window/viewport_metrics.h
  lib/ui/window/window.cc
  lib/ui/window/window.h
  runtime/BUILD.gn
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/platform_data.cc
  runtime/platform_data.h
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/pointer_data_dispatcher.h
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/shell_test.cc
  shell/common/shell_unittests.cc
  shell/platform/android/android_shell_holder.cc
  shell/platform/android/android_shell_holder.h
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/ios/framework/Source/FlutterDartProject_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/embedder/embedder.h
  shell/platform/embedder/embedder_engine.h
  shell/platform/fuchsia/flutter/engine.cc
  shell/testing/tester_main.cc
Labels: cla: yes, waiting for tree to go green

#20176 update nullability of drawAtlas methods and flesh out docs
  lib/ui/painting.dart
  lib/web_ui/lib/src/engine/compositor/canvas_kit_canvas.dart
  lib/web_ui/lib/src/engine/surface/canvas.dart
  lib/web_ui/lib/src/ui/canvas.dart
  testing/dart/canvas_test.dart
Labels: affects: docs, cla: yes, waiting for tree to go green

#20186 Roll Dart SDK from ea6bde577d1c to 033a81d924b9 (23 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#20164 [web] increase number of shards. sync engine web tests same as flutter repo
  .cirrus.yml
Labels: cla: yes

#20134 Enable linting in flow/, and fml/
  flow/instrumentation.cc
  flow/instrumentation.h
  flow/layers/layer_tree.cc
  flow/layers/performance_overlay_layer.cc
  flow/matrix_decomposition.cc
  flow/matrix_decomposition_unittests.cc
  flow/paint_utils.cc
  flow/raster_cache.cc
  flow/raster_cache.h
  flow/rtree_unittests.cc
  fml/logging.cc
  fml/memory/ref_counted_unittest.cc
  fml/memory/weak_ptr_unittest.cc
Labels: cla: yes

#20187 Enable more linting
  ci/bin/lint.dart
  ci/lint.sh
  runtime/dart_isolate.cc
  runtime/dart_isolate_unittests.cc
  runtime/dart_service_isolate.cc
  runtime/dart_vm.cc
  runtime/service_protocol.cc
  runtime/service_protocol.h
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/shell_test.cc
  shell/common/shell_test.h
  shell/common/shell_unittests.cc
Labels: Work in progress (WIP), cla: yes

#20191 Roll Dart SDK from 033a81d924b9 to ad5bcf16f1c8 (9 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#20192 Roll Dart SDK from ad5bcf16f1c8 to d169af6f7d8f (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#20196 Roll Dart SDK from d169af6f7d8f to 7e6c55e3aaf5 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#20193 Fix navigation message relay.
  shell/common/engine.cc
Labels: cla: yes

#20197 Roll Dart SDK from 7e6c55e3aaf5 to 365525432a70 (2 revisions)
  DEPS
Labels: cla: yes, waiting for tree to go green

#20163 Fix parameter names
  shell/platform/linux/fl_renderer.h
  shell/platform/linux/fl_text_input_plugin.h
Labels: cla: yes

#20166 Fix Implments typo
  shell/platform/linux/fl_renderer_x11.cc
  shell/platform/linux/fl_string_codec.cc
Labels: cla: yes

#20198 Roll Dart SDK from 365525432a70 to 2d98d25e71c3 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#20200 Roll Dart SDK from 2d98d25e71c3 to c59cdee365b9 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#20201 Roll Dart SDK from c59cdee365b9 to ad9c73cb3270 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#20184 Roll Skia from 7225788b9070 to 8e77631a80f0 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20202 Roll Skia from 8e77631a80f0 to a6df9da28963 (17 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20204 Roll Dart SDK from ad9c73cb3270 to 0f0e04ec3afa (3 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#20050 Use a single mask view to clip platform view
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.mm
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_clippath_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_iPhone 8_simulator.png
Labels: cla: yes, platform-ios

#20205 Roll Skia from a6df9da28963 to a52442ab76f8 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20206 Fix inconsistent import.
  runtime/runtime_controller.cc
Labels: cla: yes

#20082 Ios nv12 external texture
  shell/platform/darwin/ios/ios_external_texture_gl.h
  shell/platform/darwin/ios/ios_external_texture_gl.mm
  shell/platform/darwin/ios/ios_external_texture_metal.h
  shell/platform/darwin/ios/ios_external_texture_metal.mm
Labels: cla: yes, platform-ios

#20208 [web] Include trailing spaces in text box measurements
  lib/web_ui/lib/src/engine/text/measurement.dart
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/test/paragraph_test.dart
Labels: cla: yes, platform-web

#19859 Clipboard hasStrings method on iOS
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterPlatformPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformPluginTest.mm
Labels: cla: yes, platform-ios, waiting for tree to go green

#20215 Update 1.20.0 engine hash to Dart 2.9.0
  DEPS
Labels: cla: yes

#20217 Disable flaky fuchsia test
  testing/fuchsia/run_tests.sh
Labels: cla: yes

#19396 fuchsia: Remove dead code / break dependencies
  flow/layers/child_scene_layer.cc
  flow/layers/container_layer.cc
  flow/layers/fuchsia_layer_unittests.cc
  flow/layers/layer.cc
  flow/layers/layer.h
  flow/layers/layer_tree.cc
  flow/layers/layer_tree.h
  flow/layers/layer_tree_unittests.cc
  flow/layers/opacity_layer.h
  flow/layers/physical_shape_layer.cc
  flow/layers/physical_shape_layer.h
  flow/layers/physical_shape_layer_unittests.cc
  flow/layers/platform_view_layer.cc
  flow/layers/transform_layer.cc
  flow/raster_cache.cc
  flow/scene_update_context.cc
  flow/scene_update_context.h
  flow/testing/layer_test.h
  flow/testing/mock_layer.cc
  flow/testing/mock_layer.h
  flow/testing/mock_layer_unittests.cc
  flow/view_holder.cc
  flow/view_holder.h
  lib/ui/compositing/scene.cc
  lib/ui/hooks.dart
  lib/ui/window.dart
  lib/ui/window/viewport_metrics.cc
  lib/ui/window/viewport_metrics.h
  lib/ui/window/window.cc
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/lib/src/ui/window.dart
  shell/common/engine.cc
  shell/common/shell_test.cc
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/component.cc
  shell/platform/fuchsia/flutter/compositor_context.cc
  shell/platform/fuchsia/flutter/compositor_context.h
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/engine.h
  shell/platform/fuchsia/flutter/engine_flutter_runner.gni
  shell/platform/fuchsia/flutter/platform_view.cc
  shell/platform/fuchsia/flutter/platform_view.h
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
  shell/platform/fuchsia/flutter/session_connection.cc
  shell/platform/fuchsia/flutter/session_connection.h
  shell/platform/fuchsia/flutter/tests/session_connection_unittests.cc
  shell/platform/fuchsia/flutter/vulkan_surface.h
  shell/platform/fuchsia/flutter/vulkan_surface_pool.cc
  shell/platform/fuchsia/flutter/vulkan_surface_pool.h
  shell/platform/fuchsia/flutter/vulkan_surface_producer.cc
  shell/platform/fuchsia/flutter/vulkan_surface_producer.h
  testing/dart/window_hooks_integration_test.dart
Labels: affects: engine, cla: yes, code health, platform-fuchsia

#20177 Roll Fuchsia Linux SDK from d_5wDVmBd... to XqPm_i5Wp...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#20190 Roll Fuchsia Mac SDK from i0zTcQ8Qb... to R1zocs5zS...
  DEPS
Labels: cla: yes, waiting for tree to go green

#20210 Roll Dart SDK from 0f0e04ec3afa to 987c9e347ca4 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#20214 Roll Skia from a52442ab76f8 to 093de4eb2ca9 (14 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20219 Roll Skia from 093de4eb2ca9 to fcfe541ee527 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20220 Roll Skia from fcfe541ee527 to 471235dba5ca (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20226 Roll Skia from 471235dba5ca to 3000d6b8c25c (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19983 Make EncodableValue a thin std::variant wrapper
  shell/platform/common/cpp/client_wrapper/BUILD.gn
  shell/platform/common/cpp/client_wrapper/basic_message_channel_unittests.cc
  shell/platform/common/cpp/client_wrapper/encodable_value_unittests.cc
  shell/platform/common/cpp/client_wrapper/include/flutter/encodable_value.h
  shell/platform/common/cpp/client_wrapper/method_channel_unittests.cc
  shell/platform/common/cpp/client_wrapper/standard_codec.cc
  shell/platform/common/cpp/client_wrapper/standard_message_codec_unittests.cc
  shell/platform/common/cpp/client_wrapper/standard_method_codec_unittests.cc
  shell/platform/common/cpp/client_wrapper/testing/encodable_value_utils.cc
  shell/platform/common/cpp/client_wrapper/testing/encodable_value_utils.h
  shell/platform/windows/cursor_handler.cc
Labels: affects: engine, cla: yes, glfw, platform-windows

#20156 Add preliminary Windows arm64 plumbing
  DEPS
  tools/gn
Labels: cla: yes

#20227 Roll Skia from 3000d6b8c25c to a8486d10e0cc (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20236 Revert "Add preliminary Windows arm64 plumbing"
  DEPS
  tools/gn
Labels: cla: yes

#20237 reducing the shard number to 8 for framework tests
  .cirrus.yml
Labels: cla: yes

#20243 Reland "Add preliminary Windows arm64 plumbing"
  DEPS
  tools/gn
Labels: cla: yes

#20241 Remove unnecessary breaks after returns in lib/web_ui switch statements
  lib/web_ui/lib/src/engine/surface/render_vertices.dart
  lib/web_ui/lib/src/engine/text/paragraph.dart
Labels: cla: yes

#20178 Remove null check for layer_tree pointer in `Animator::Render`
  shell/common/animator.cc
Labels: cla: yes, waiting for tree to go green

#20194 Implemented web image codec instantiation for CanvasKit.
  lib/web_ui/lib/src/engine/compositor/image.dart
  lib/web_ui/lib/src/engine/html_image_codec.dart
  lib/web_ui/lib/src/ui/painting.dart
  lib/web_ui/test/engine/image/html_image_codec_test.dart
Labels: cla: yes, waiting for tree to go green

#20233 Roll Fuchsia Linux SDK from XqPm_i5Wp... to PTa5JR_iJ...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#20239 Roll Skia from a8486d10e0cc to 997c907f1190 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20199 Update code style to pass clang-tidy checks
  shell/platform/linux/fl_basic_message_channel.cc
  shell/platform/linux/fl_binary_messenger.cc
  shell/platform/linux/fl_engine.cc
  shell/platform/linux/fl_json_method_codec.cc
  shell/platform/linux/fl_method_channel.cc
  shell/platform/linux/fl_method_codec.cc
  shell/platform/linux/fl_renderer.cc
  shell/platform/linux/fl_standard_message_codec.cc
  shell/platform/linux/fl_standard_method_codec.cc
  shell/platform/linux/fl_text_input_plugin.cc
  shell/platform/linux/fl_value.cc
  shell/platform/linux/fl_view.cc
Labels: cla: yes

#20099 add supported luci builders
  ci/dev/README.md
  ci/dev/dev_test.sh
  ci/dev/engine_prod_builders.json
  ci/dev/engine_try_builders.json
  ci/dev/validate_json.dart
Labels: cla: yes

#20238 1.20 CP: fix FlutterViewUpdateCustomAccessibilityActions uses correct string list
  BUILD.gn
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/platform_view_android.cc
  shell/platform/android/platform_view_android.h
  shell/platform/android/platform_view_android_delegate/BUILD.gn
  shell/platform/android/platform_view_android_delegate/platform_view_android_delegate.cc
  shell/platform/android/platform_view_android_delegate/platform_view_android_delegate.h
  shell/platform/android/platform_view_android_delegate/platform_view_android_delegate_unittests.cc
  testing/run_tests.py
Labels: cla: yes, platform-android

#20006 Improve FlRenderer interface in preperation for Wayland on Linux
  shell/platform/linux/fl_renderer.cc
  shell/platform/linux/fl_renderer.h
  shell/platform/linux/fl_renderer_headless.cc
  shell/platform/linux/fl_renderer_x11.cc
  shell/platform/linux/fl_renderer_x11.h
  shell/platform/linux/fl_view.cc
  shell/platform/linux/testing/mock_renderer.cc
Labels: cla: yes

#20244 Roll Fuchsia Mac SDK from R1zocs5zS... to pR_Sry0Ct...
  DEPS
Labels: cla: yes, waiting for tree to go green

#20251 Roll Dart SDK from 987c9e347ca4 to 363c72111d12 (32 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#20252 Roll Skia from 997c907f1190 to bfcf8c4832c7 (9 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20258 Roll Dart SDK from 363c72111d12 to 8cb0afa882c4 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#20257 Roll Skia from bfcf8c4832c7 to e7b08e4876fb (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20259 Roll Fuchsia Linux SDK from PTa5JR_iJ... to lwp4mPZmw...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#20261 Roll Fuchsia Mac SDK from pR_Sry0Ct... to 0CRIG3BQH...
  DEPS
Labels: cla: yes, waiting for tree to go green

#20262 Roll Skia from e7b08e4876fb to cfef980939de (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19896 [windows] Separate the engine from the view
  ci/licenses_golden/licenses_flutter
  shell/platform/windows/BUILD.gn
  shell/platform/windows/client_wrapper/BUILD.gn
  shell/platform/windows/client_wrapper/flutter_engine.cc
  shell/platform/windows/client_wrapper/flutter_engine_unittests.cc
  shell/platform/windows/client_wrapper/flutter_view_controller.cc
  shell/platform/windows/client_wrapper/flutter_view_controller_unittests.cc
  shell/platform/windows/client_wrapper/include/flutter/dart_project.h
  shell/platform/windows/client_wrapper/include/flutter/flutter_engine.h
  shell/platform/windows/client_wrapper/include/flutter/flutter_view_controller.h
  shell/platform/windows/client_wrapper/testing/stub_flutter_windows_api.cc
  shell/platform/windows/flutter_project_bundle.cc
  shell/platform/windows/flutter_project_bundle.h
  shell/platform/windows/flutter_windows.cc
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_engine.h
  shell/platform/windows/flutter_windows_view.cc
  shell/platform/windows/flutter_windows_view.h
  shell/platform/windows/public/flutter_windows.h
  shell/platform/windows/window_state.h
Labels: affects: desktop, cla: yes, platform-windows

#20263 Roll Skia from cfef980939de to 07438b0cdaa3 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20247 Switched the linter to use the dart that comes with the engine.
  ci/lint.sh
Labels: cla: yes

#18800 Refactor Accessibility bridge to have a FlutterViewController
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.h
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_test.mm
  shell/platform/darwin/ios/platform_view_ios.mm
Labels: cla: yes

#20235 Migrate a few last places to GrDirectContext
  flow/raster_cache.h
  flow/skia_gpu_object.cc
  flow/skia_gpu_object.h
  lib/ui/painting/multi_frame_codec.cc
  lib/ui/painting/multi_frame_codec.h
  lib/ui/ui_dart_state.cc
  lib/ui/ui_dart_state.h
Labels: cla: yes

#20265 Roll Skia from 07438b0cdaa3 to 813e8cc7629a (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20267 Roll Skia from 813e8cc7629a to 0abd7276b8df (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20250 Fix the reversal of behavior in SerializeTypefaceWithData and WithoutData
  shell/common/serialization_callbacks.cc
Labels: cla: yes, waiting for tree to go green

#20271 Roll Skia from 0abd7276b8df to f21d6b9b717c (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20273 Roll Dart SDK from d5ff386abeec to 207b68d5b47d (10 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#20167 fix ios layout change cause the accessibility focus to jump randomly.
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.h
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_ios.h
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_test.mm
Labels: cla: yes, platform-ios

#20269 add a named constructor to FrameTiming
  lib/ui/window.dart
  lib/web_ui/lib/src/ui/window.dart
Labels: cla: yes, waiting for tree to go green

#20279 use generic name
  ci/dev/README.md
  ci/dev/dev_test.sh
  ci/dev/prod_builders.json
  ci/dev/try_builders.json
  ci/dev/validate_json.dart
Labels: cla: yes

#20281 Roll Fuchsia Linux SDK from lwp4mPZmw... to IOttSrRpO...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#20284 Roll Dart SDK from 207b68d5b47d to cbdd34d1594b (9 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#20282 Roll Skia from f21d6b9b717c to b72037527fd5 (9 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20286 Roll Fuchsia Mac SDK from 0CRIG3BQH... to r2ICEtbQI...
  DEPS
Labels: cla: yes, waiting for tree to go green

#20289 Roll Skia from b72037527fd5 to d2f4008a5291 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20290 Roll Dart SDK from cbdd34d1594b to 14a6aac97ba2 (5 revisions)
  DEPS
Labels: cla: yes, waiting for tree to go green

#20291 Roll Skia from d2f4008a5291 to 1362c1eac458 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20292 Roll Skia from 1362c1eac458 to 7a171cca0ca4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20294 Roll Skia from 7a171cca0ca4 to 34949e35f006 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20295 Roll Dart SDK from 14a6aac97ba2 to fcafd43f2cf7 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#20296 Roll Fuchsia Linux SDK from IOttSrRpO... to slTZ3doqs...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#20297 Roll Skia from 34949e35f006 to 0d6f81593b1f (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20298 Roll Fuchsia Mac SDK from r2ICEtbQI... to -T0RlPVCm...
  DEPS
Labels: cla: yes, waiting for tree to go green

#20301 Roll Dart SDK from fcafd43f2cf7 to b9c5118c73fd (11 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#20302 Revert "fuchsia: Remove dead code / break dependencies"
  flow/layers/child_scene_layer.cc
  flow/layers/container_layer.cc
  flow/layers/fuchsia_layer_unittests.cc
  flow/layers/layer.cc
  flow/layers/layer.h
  flow/layers/layer_tree.cc
  flow/layers/layer_tree.h
  flow/layers/layer_tree_unittests.cc
  flow/layers/opacity_layer.h
  flow/layers/physical_shape_layer.cc
  flow/layers/physical_shape_layer.h
  flow/layers/physical_shape_layer_unittests.cc
  flow/layers/platform_view_layer.cc
  flow/layers/transform_layer.cc
  flow/raster_cache.cc
  flow/scene_update_context.cc
  flow/scene_update_context.h
  flow/testing/layer_test.h
  flow/testing/mock_layer.cc
  flow/testing/mock_layer.h
  flow/testing/mock_layer_unittests.cc
  flow/view_holder.cc
  flow/view_holder.h
  lib/ui/compositing/scene.cc
  lib/ui/hooks.dart
  lib/ui/window.dart
  lib/ui/window/viewport_metrics.cc
  lib/ui/window/viewport_metrics.h
  lib/ui/window/window.cc
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/lib/src/ui/window.dart
  shell/common/engine.cc
  shell/common/shell_test.cc
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/component.cc
  shell/platform/fuchsia/flutter/compositor_context.cc
  shell/platform/fuchsia/flutter/compositor_context.h
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/engine.h
  shell/platform/fuchsia/flutter/engine_flutter_runner.gni
  shell/platform/fuchsia/flutter/platform_view.cc
  shell/platform/fuchsia/flutter/platform_view.h
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
  shell/platform/fuchsia/flutter/session_connection.cc
  shell/platform/fuchsia/flutter/session_connection.h
  shell/platform/fuchsia/flutter/tests/session_connection_unittests.cc
  shell/platform/fuchsia/flutter/vulkan_surface.h
  shell/platform/fuchsia/flutter/vulkan_surface_pool.cc
  shell/platform/fuchsia/flutter/vulkan_surface_pool.h
  shell/platform/fuchsia/flutter/vulkan_surface_producer.cc
  shell/platform/fuchsia/flutter/vulkan_surface_producer.h
  testing/dart/window_hooks_integration_test.dart
Labels: cla: yes

#20303 android_external_texture: Use the available GrDirectContext arg
  shell/platform/android/android_external_texture_gl.cc
Labels: cla: yes, platform-android

#20272 Roll CanvasKit to 0.17.3.
  lib/web_ui/lib/src/engine/compositor/canvaskit_api.dart
  lib/web_ui/lib/src/engine/compositor/fonts.dart
  lib/web_ui/lib/src/engine/compositor/initialization.dart
  lib/web_ui/lib/src/engine/compositor/text.dart
Labels: cla: yes

#20234 remove leftover temporary null safety annotations
  lib/ui/compositing.dart
  lib/ui/geometry.dart
  lib/ui/painting.dart
  lib/web_ui/lib/src/ui/painting.dart
Labels: cla: yes

#20306 Implement our own WebGL version detection
  lib/web_ui/lib/src/engine/browser_detection.dart
  lib/web_ui/lib/src/engine/compositor/canvaskit_api.dart
  lib/web_ui/lib/src/engine/compositor/surface.dart
  lib/web_ui/lib/src/engine/surface/render_vertices.dart
Labels: cla: yes

#19853 Reland "ensure we do not double publish to CIPD #19724"
  tools/fuchsia/build_fuchsia_artifacts.py
  tools/fuchsia/merge_and_upload_debug_symbols.py
Labels: cla: yes

#20313 Roll Dart SDK from b9c5118c73fd to 6bd220f55604 (15 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#20278 [web] Eagerly calculate relevant indices during line break detection
  lib/web_ui/lib/src/engine/text/line_breaker.dart
  lib/web_ui/lib/src/engine/text/measurement.dart
  lib/web_ui/test/text/line_breaker_test.dart
Labels: cla: yes, platform-web

#20283 Use weak references instead of resurrection, if available
  lib/web_ui/lib/src/engine/compositor/canvaskit_api.dart
  lib/web_ui/lib/src/engine/compositor/color_filter.dart
  lib/web_ui/lib/src/engine/compositor/image_filter.dart
  lib/web_ui/lib/src/engine/compositor/mask_filter.dart
  lib/web_ui/lib/src/engine/compositor/painting.dart
  lib/web_ui/lib/src/engine/compositor/picture.dart
  lib/web_ui/lib/src/engine/compositor/skia_object_cache.dart
  lib/web_ui/lib/src/engine/compositor/text.dart
  lib/web_ui/test/canvaskit/skia_objects_cache_test.dart
Labels: cla: yes

#20319 Roll Dart SDK from 6bd220f55604 to fac552a45c3d (9 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#20320 Roll Fuchsia Mac SDK from -T0RlPVCm... to BUIeHryNF...
  DEPS
Labels: cla: yes, waiting for tree to go green

#20323 Roll Fuchsia Linux SDK from slTZ3doqs... to bdHtMYnwH...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#20325 Roll Dart SDK from fac552a45c3d to 8835116b1928 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#20328 Roll Skia from 0d6f81593b1f to 045adb564e19 (27 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20329 Roll Dart SDK from 8835116b1928 to 3ebe4c534aca (2 revisions)
  DEPS
Labels: cla: yes, waiting for tree to go green

#20331 Roll Skia from 045adb564e19 to 3b08f35fd150 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20332 Roll Skia from 3b08f35fd150 to 871aa7479758 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20333 Roll buildroot to b8d98f419b4c32eb1d575557d2c46e8c755ceac7
  DEPS
Labels: cla: yes

#20334 Roll Skia from 871aa7479758 to efc17ce2caf3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20335 Roll Dart SDK from 3ebe4c534aca to 5bd3e5a63f1b (7 revisions)
  DEPS
Labels: cla: yes, waiting for tree to go green

#20327 Revert "fuchsia: Remove dead code / break dependencies (#19396)" (#20…
  flow/layers/child_scene_layer.cc
  flow/layers/container_layer.cc
  flow/layers/fuchsia_layer_unittests.cc
  flow/layers/layer.cc
  flow/layers/layer.h
  flow/layers/layer_tree.cc
  flow/layers/layer_tree.h
  flow/layers/layer_tree_unittests.cc
  flow/layers/opacity_layer.h
  flow/layers/physical_shape_layer.cc
  flow/layers/physical_shape_layer.h
  flow/layers/physical_shape_layer_unittests.cc
  flow/layers/platform_view_layer.cc
  flow/layers/transform_layer.cc
  flow/raster_cache.cc
  flow/scene_update_context.cc
  flow/scene_update_context.h
  flow/testing/layer_test.h
  flow/testing/mock_layer.cc
  flow/testing/mock_layer.h
  flow/testing/mock_layer_unittests.cc
  flow/view_holder.cc
  flow/view_holder.h
  lib/ui/compositing/scene.cc
  lib/ui/hooks.dart
  lib/ui/window.dart
  lib/ui/window/viewport_metrics.cc
  lib/ui/window/viewport_metrics.h
  lib/ui/window/window.cc
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/lib/src/ui/window.dart
  shell/common/engine.cc
  shell/common/shell_test.cc
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/component.cc
  shell/platform/fuchsia/flutter/compositor_context.cc
  shell/platform/fuchsia/flutter/compositor_context.h
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/engine.h
  shell/platform/fuchsia/flutter/engine_flutter_runner.gni
  shell/platform/fuchsia/flutter/platform_view.cc
  shell/platform/fuchsia/flutter/platform_view.h
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
  shell/platform/fuchsia/flutter/session_connection.cc
  shell/platform/fuchsia/flutter/session_connection.h
  shell/platform/fuchsia/flutter/tests/session_connection_unittests.cc
  shell/platform/fuchsia/flutter/vulkan_surface.h
  shell/platform/fuchsia/flutter/vulkan_surface_pool.cc
  shell/platform/fuchsia/flutter/vulkan_surface_pool.h
  shell/platform/fuchsia/flutter/vulkan_surface_producer.cc
  shell/platform/fuchsia/flutter/vulkan_surface_producer.h
  testing/dart/window_hooks_integration_test.dart
Labels: cla: yes

#20310 fix clipped and transformed content in HTML clip
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/test/golden_tests/engine/canvas_draw_image_golden_test.dart
Labels: cla: yes

#20338 Roll Fuchsia Mac SDK from BUIeHryNF... to 0Pffy4ES2...
  DEPS
Labels: cla: yes, waiting for tree to go green

#20256 [web] Save the autofill information
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/test/text_editing_test.dart
Labels: cla: yes

#20315 Add script to compile JIT on x86
  testing/scenario_app/README.md
  testing/scenario_app/android/app/build.gradle
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformView.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewClippath.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewCliprect.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewCliprrect.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewMultiple.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewMultipleBackgroundForeground.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewMultipleWithoutOverlays.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewOpacity.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewRotate.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewTransform.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewTwoIntersectingOverlays.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformView.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewClippath.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewCliprect.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewCliprrect.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewMultiple.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewMultipleBackgroundForeground.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewMultipleWithoutOverlays.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewOpacity.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewRotate.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewTransform.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewTwoIntersectingOverlays.png
  testing/scenario_app/build_and_run_android_tests.sh
  testing/scenario_app/compile_android_jit.sh
  testing/scenario_app/run_android_tests.sh
Labels: cla: yes

#20216 Added unit tests to the engine.
  ci/licenses_golden/licenses_flutter
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  shell/common/BUILD.gn
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/engine_unittests.cc
Labels: cla: yes

#20344 Roll Fuchsia Linux SDK from bdHtMYnwH... to dYgZG38fw...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#20144 Add TextInput sendAppPrivateCommand to Flutter Engine
  shell/platform/android/io/flutter/embedding/engine/systemchannels/TextInputChannel.java
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
Labels: cla: yes, platform-android

#20346 Roll Dart SDK from 5bd3e5a63f1b to 2060964faaf6 (9 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#20347 Roll Skia from efc17ce2caf3 to fc11fd4d0bb4 (13 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20245 Add FlutterFragmentActivity#getRenderMode()
  shell/platform/android/io/flutter/embedding/android/FlutterFragmentActivity.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterFragmentActivityTest.java
Labels: cla: yes, platform-android, waiting for tree to go green

#20229 FrameTiming build start timestamp fix and add vsync start timestamp
  common/settings.h
  flow/layers/layer_tree.cc
  flow/layers/layer_tree.h
  lib/ui/hooks.dart
  lib/ui/window.dart
  lib/web_ui/lib/src/ui/window.dart
  shell/common/animator.cc
  shell/common/animator.h
  shell/common/rasterizer.cc
  shell/common/vsync_waiter.cc
  testing/dart/window_test.dart
Labels: cla: yes, waiting for tree to go green

#20351 Roll Skia from fc11fd4d0bb4 to 31954bf23f24 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20352 Roll Dart SDK from 2060964faaf6 to 0aa5b0f019b9 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#20353 Roll Fuchsia Mac SDK from 0Pffy4ES2... to jcM1jpYio...
  DEPS
Labels: cla: yes, waiting for tree to go green

#20354 Roll Dart SDK from 0aa5b0f019b9 to 594434d5a0b5 (2 revisions)
  DEPS
Labels: cla: yes, waiting for tree to go green

#20355 Roll Fuchsia Linux SDK from dYgZG38fw... to OdkmMFP06...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#20356 Roll Dart SDK from 594434d5a0b5 to 92315c4b2dc2 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#20358 Roll Dart SDK from 92315c4b2dc2 to 570a75be7ea5 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#20359 Roll Fuchsia Mac SDK from jcM1jpYio... to ne1pZMKkO...
  DEPS
Labels: cla: yes, waiting for tree to go green

#20360 Roll Dart SDK from 570a75be7ea5 to 034157644847 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#20361 Roll Fuchsia Linux SDK from OdkmMFP06... to sZle8xzx7...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#20362 Roll Fuchsia Mac SDK from ne1pZMKkO... to cBfKZGDnl...
  DEPS
Labels: cla: yes, waiting for tree to go green

#20363 Roll Fuchsia Linux SDK from sZle8xzx7... to Vltz7Q2Se...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#20364 Roll Fuchsia Mac SDK from cBfKZGDnl... to 6ZHuXCdjx...
  DEPS
Labels: cla: yes, waiting for tree to go green

#20367 Roll Skia from 31954bf23f24 to 530fc3bb4cba (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20368 Roll Dart SDK from 034157644847 to 9d279d41e367 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#20369 Roll Fuchsia Linux SDK from Vltz7Q2Se... to rbgMu1hMm...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#20371 Roll Skia from 530fc3bb4cba to cac176496829 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20372 Roll Fuchsia Mac SDK from 6ZHuXCdjx... to it9o93w6h...
  DEPS
Labels: cla: yes, waiting for tree to go green

#20373 Roll Skia from cac176496829 to 039f681a841a (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20340 remove `write` parameter from _checkScreenshot
  lib/web_ui/test/golden_tests/engine/canvas_draw_image_golden_test.dart
Labels: cla: yes

#20374 Roll Dart SDK from 9d279d41e367 to e2a67723caf1 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#20266 [windows] Rework controller/engine interaction in the API
  shell/platform/common/cpp/client_wrapper/include/flutter/plugin_registrar.h
  shell/platform/common/cpp/client_wrapper/plugin_registrar.cc
  shell/platform/glfw/client_wrapper/BUILD.gn
  shell/platform/glfw/client_wrapper/include/flutter/plugin_registrar_glfw.h
  shell/platform/windows/client_wrapper/BUILD.gn
  shell/platform/windows/client_wrapper/flutter_engine.cc
  shell/platform/windows/client_wrapper/flutter_engine_unittests.cc
  shell/platform/windows/client_wrapper/flutter_view_controller.cc
  shell/platform/windows/client_wrapper/flutter_view_controller_unittests.cc
  shell/platform/windows/client_wrapper/include/flutter/flutter_engine.h
  shell/platform/windows/client_wrapper/include/flutter/flutter_view_controller.h
  shell/platform/windows/client_wrapper/include/flutter/plugin_registrar_windows.h
  shell/platform/windows/client_wrapper/testing/stub_flutter_windows_api.cc
  shell/platform/windows/client_wrapper/testing/stub_flutter_windows_api.h
  shell/platform/windows/flutter_windows.cc
  shell/platform/windows/flutter_windows_engine.h
  shell/platform/windows/public/flutter_windows.h
Labels: cla: yes

#20348 [iOS TextInput] Fixes selection clamping & composing range change logic
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPluginTest.m
Labels: cla: yes, platform-ios

#19991 Fix lint errors in vulkan directory.
  vulkan/BUILD.gn
  vulkan/vulkan_application.cc
  vulkan/vulkan_application.h
  vulkan/vulkan_backbuffer.cc
  vulkan/vulkan_command_buffer.cc
  vulkan/vulkan_debug_report.cc
  vulkan/vulkan_device.cc
  vulkan/vulkan_handle.cc
  vulkan/vulkan_image.cc
  vulkan/vulkan_interface.cc
  vulkan/vulkan_native_surface.cc
  vulkan/vulkan_proc_table.cc
  vulkan/vulkan_surface.cc
  vulkan/vulkan_utilities.cc
Labels: cla: yes

#20375 Roll Skia from 039f681a841a to 7e74746f7f59 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20376 Roll Skia from 7e74746f7f59 to ea8be2120ee6 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20380 remove FrameTiming named constructor
  lib/ui/window.dart
  lib/web_ui/lib/src/ui/window.dart
Labels: cla: yes, waiting for tree to go green

#20382 Roll Skia from ea8be2120ee6 to 46a324a16c4b (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20317 Allow extending the C++ standard codec
  ci/licenses_golden/licenses_flutter
  shell/platform/common/cpp/client_wrapper/BUILD.gn
  shell/platform/common/cpp/client_wrapper/byte_buffer_streams.h
  shell/platform/common/cpp/client_wrapper/core_wrapper_files.gni
  shell/platform/common/cpp/client_wrapper/include/flutter/byte_streams.h
  shell/platform/common/cpp/client_wrapper/include/flutter/encodable_value.h
  shell/platform/common/cpp/client_wrapper/include/flutter/standard_codec_serializer.h
  shell/platform/common/cpp/client_wrapper/include/flutter/standard_message_codec.h
  shell/platform/common/cpp/client_wrapper/include/flutter/standard_method_codec.h
  shell/platform/common/cpp/client_wrapper/standard_codec.cc
  shell/platform/common/cpp/client_wrapper/standard_codec_serializer.h
  shell/platform/common/cpp/client_wrapper/standard_message_codec_unittests.cc
  shell/platform/common/cpp/client_wrapper/standard_method_codec_unittests.cc
  shell/platform/common/cpp/client_wrapper/testing/test_codec_extensions.cc
  shell/platform/common/cpp/client_wrapper/testing/test_codec_extensions.h
Labels: cla: yes

#20343 Dedupe sources for fuchsia shell/tests
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/engine_flutter_runner.gni
Labels: cla: yes, platform-fuchsia

#20288 Create scenic session with view focuser
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/platform_view.cc
  shell/platform/fuchsia/flutter/platform_view.h
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
Labels: cla: yes

#20188 Add TextInput performPrivateCommand to Flutter Engine
  shell/platform/android/io/flutter/embedding/engine/systemchannels/TextInputChannel.java
  shell/platform/android/io/flutter/plugin/editing/InputConnectionAdaptor.java
  shell/platform/android/test/io/flutter/plugin/editing/InputConnectionAdaptorTest.java
Labels: cla: yes, platform-android

#20383 Roll Dart SDK from e2a67723caf1 to d60cfe5b356f (436 revisions)
  DEPS
Labels: cla: yes, waiting for tree to go green
