Repository flutter/engine, pull requests merged in 2020-02, with the labels that each got.

#16310 Roll src/third_party/dart 5ae5aff6406a..91a3ea89c8e4 (22 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: autoroller: commit, cla: yes

#16318 Roll src/third_party/skia 4513cdde4912..1b80c357926b (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autoroller: commit, cla: yes

#16319 Roll src/third_party/dart 91a3ea89c8e4..ed441e48d055 (4 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: autoroller: commit, cla: yes

#16320 Roll fuchsia/sdk/core/mac-amd64 from x6sVj... to jtwQF...
  DEPS
Labels: autoroller: commit, cla: yes

#16323 Revert "Modifies accessibility bridge to populate new node fields in semantic…"
  shell/platform/fuchsia/flutter/accessibility_bridge.cc
  shell/platform/fuchsia/flutter/accessibility_bridge.h
  shell/platform/fuchsia/flutter/accessibility_bridge_unittest.cc
Labels: cla: yes

#16322 use echo to test whether host is up
  testing/fuchsia/run_tests.sh
Labels: cla: yes

#16324 Roll src/third_party/skia 1b80c357926b..776293dceefd (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autoroller: commit, cla: yes

#16325 Roll src/third_party/skia 776293dceefd..5d92ae2b56df (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#16326 Roll src/third_party/skia 5d92ae2b56df..3d05192abedf (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#16331 Change NSLog to FML_DLOG
  shell/platform/darwin/macos/framework/Source/FlutterTextInputPlugin.mm
Labels: cla: yes, waiting for tree to go green

#16332 Roll fuchsia/sdk/core/mac-amd64 from jtwQF... to 6h3IH...
  DEPS
Labels: autoroller: commit, cla: yes

#16329 Roll src/third_party/skia 3d05192abedf..f1e316ff39e7 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16334 Roll fuchsia/sdk/core/linux-amd64 from AtXwP... to Tszo5...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#16337 [fuchsia] Add additional contributing instructions for Googlers
  CONTRIBUTING.md
Labels: cla: yes

#16340 Disable flaky MessageLoop tests on Fuchsia.
  fml/BUILD.gn
Labels: cla: yes

#16339 Update buildroot to 02b77827fd4.
  DEPS
Labels: cla: yes

#16335 Roll src/third_party/skia f1e316ff39e7..af99f3ee6017 (13 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16309 supporting changes for evaluation in web debugger
  flutter_frontend_server/lib/server.dart
Labels: cla: yes

#16341 [web][felt] If full dart-sdk isn't available, install it
  lib/web_ui/dev/felt
Labels: cla: yes, platform-web

#16276 Fix delete of entire selection in macOS text input
  shell/platform/darwin/macos/framework/Source/FlutterTextInputPlugin.mm
Labels: cla: yes

#13965 Added API guards to flags in PlatformPlugin that were introduced after Flutter's min SDK version.
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/plugin/platform/PlatformPlugin.java
  shell/platform/android/test/io/flutter/FlutterTestSuite.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformPluginTest.java
Labels: cla: yes

#16351 Fix race in SkiaGPUObject unit-tests.
  flow/skia_gpu_object_unittests.cc
Labels: cla: yes

#16356 Roll src/third_party/skia af99f3ee6017..71ce449d2814 (19 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16362 Roll src/third_party/dart c8ed304e979a..3414b5167554 (52 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: autoroller: commit, cla: yes

#16360 Roll fuchsia/sdk/core/mac-amd64 from 6h3IH... to Ke00Y...
  DEPS
Labels: autoroller: commit, cla: yes

#16344 trivial dart-sdk update to trigger engine rebuild for flutter hotfix
  DEPS
  tools/luci/force_luci_build.sh
Labels: cla: yes

#16312 Fix runtime type errors when running with canvaskit
  lib/web_ui/lib/src/engine/compositor/fonts.dart
  lib/web_ui/lib/src/engine/compositor/surface.dart
Labels: cla: yes

#16224 Refactor of Vulkan GPUSurface code
  ci/licenses_golden/licenses_flutter
  shell/gpu/BUILD.gn
  shell/gpu/gpu_surface_delegate.h
  shell/gpu/gpu_surface_gl_delegate.cc
  shell/gpu/gpu_surface_gl_delegate.h
  shell/gpu/gpu_surface_software_delegate.h
  shell/gpu/gpu_surface_vulkan.cc
  shell/gpu/gpu_surface_vulkan.h
  shell/gpu/gpu_surface_vulkan_delegate.cc
  shell/gpu/gpu_surface_vulkan_delegate.h
  shell/platform/android/android_surface_vulkan.cc
  shell/platform/android/android_surface_vulkan.h
  vulkan/vulkan_window.cc
  vulkan/vulkan_window.h
Labels: cla: yes

#16349 Kill the test harness if any test exceeds a timeout.
  testing/BUILD.gn
  testing/run_all_unittests.cc
  testing/test_timeout_listener.cc
  testing/test_timeout_listener.h
Labels: cla: yes

#16355 Revert "Remove use of the deprecated AccessibilityNodeInfo boundsInPa…
  shell/platform/android/io/flutter/view/AccessibilityViewEmbedder.java
Labels: cla: yes, waiting for tree to go green

#16363 Roll fuchsia/sdk/core/linux-amd64 from Tszo5... to VJv0H...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#16364 Roll src/third_party/skia 71ce449d2814..2aee7d24da8f (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16366 Expose enable-service-port-fallback switch
  common/settings.h
  runtime/dart_isolate.cc
  runtime/dart_service_isolate.cc
  runtime/dart_service_isolate.h
  shell/common/switches.cc
  shell/common/switches.h
Labels: cla: yes

#16266 Expose the dart kernel snapshot target and copied assets as a public dependency
  testing/testing.gni
Labels: cla: yes

#16367 Roll src/third_party/dart 3414b5167554..68e904e444dc (17 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#16342 Wstring conversion cleanup
  fml/platform/win/file_win.cc
  fml/platform/win/native_library_win.cc
  fml/platform/win/wstring_conversion.h
Labels: cla: yes

#16368 Add docs linking BoxHeightStyle and BoxWidthStyle.
  lib/ui/text.dart
Labels: affects: docs, cla: yes, waiting for tree to go green

#16371 Roll buildroot to c44791c89d2b51bfce864ab2cf5228d41ece1fcc
  DEPS
Labels: cla: yes

#16321 Fuchsia a11y actions
  shell/platform/fuchsia/flutter/accessibility_bridge.cc
  shell/platform/fuchsia/flutter/accessibility_bridge.h
  shell/platform/fuchsia/flutter/accessibility_bridge_unittest.cc
  shell/platform/fuchsia/flutter/platform_view.cc
  shell/platform/fuchsia/flutter/platform_view.h
Labels: cla: yes

#16374 Roll src/third_party/skia 2aee7d24da8f..14d64afaa8a3 (10 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16377 Roll src/third_party/dart 68e904e444dc..48808f7dce81 (17 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: autoroller: commit, cla: yes

#16378 Roll fuchsia/sdk/core/mac-amd64 from Ke00Y... to ubThi...
  DEPS
Labels: autoroller: commit, cla: yes

#16380 Roll src/third_party/skia 14d64afaa8a3..6c9b1fd6663e (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16381 Roll src/third_party/dart 48808f7dce81..34893faa6079 (7 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: autoroller: commit, cla: yes

#16383 Roll src/third_party/skia 6c9b1fd6663e..bc3307c395e2 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16211 Copied Apple's semantics for switches, made checkboxes the same.
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
Labels: cla: yes

#16397 fix build_id logic for fuchsia symbols
  tools/fuchsia/copy_debug_symbols.py
Labels: cla: yes

#14162 migrate flutter runner to present2
  BUILD.gn
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/compositor_context.cc
  shell/platform/fuchsia/flutter/meta/flutter_runner_scenic_tests.cmx
  shell/platform/fuchsia/flutter/session_connection.cc
  shell/platform/fuchsia/flutter/session_connection.h
  shell/platform/fuchsia/flutter/tests/session_connection_unittests.cc
  shell/platform/fuchsia/flutter/tests/vsync_recorder_unittests.cc
  shell/platform/fuchsia/flutter/vsync_recorder.cc
  shell/platform/fuchsia/flutter/vsync_recorder.h
  shell/platform/fuchsia/flutter/vsync_waiter.cc
  testing/fuchsia/run_tests.sh
  testing/fuchsia/test_fars
Labels: cla: yes

#16379 Update license output
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes

#16369 Fix Windows embedding issues caught by clang
  shell/platform/windows/flutter_windows.cc
  shell/platform/windows/win32_flutter_window.cc
  shell/platform/windows/win32_flutter_window.h
  shell/platform/windows/window_state.h
Labels: cla: yes

#16422 Roll src/third_party/dart 34893faa6079..b3396cbdcae1 (36 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#16412 [web] Fixes incorrect transform when context save and transforms are deferred.
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/canvas_pool.dart
  lib/web_ui/test/golden_tests/engine/canvas_context_test.dart
Labels: cla: yes

#16430 use percent for golden diff rates; tighten the values
  lib/web_ui/test/golden_tests/engine/canvas_blend_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_clip_path_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_draw_image_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_golden_test.dart
  lib/web_ui/test/golden_tests/engine/compositing_golden_test.dart
  lib/web_ui/test/golden_tests/engine/draw_vertices_golden_test.dart
  lib/web_ui/test/golden_tests/engine/scuba.dart
  lib/web_ui/test/golden_tests/engine/text_style_golden_test.dart
  web_sdk/web_engine_tester/lib/golden_tester.dart
  web_sdk/web_engine_tester/pubspec.yaml
Labels: cla: yes

#16429 Roll src/third_party/skia bc3307c395e2..ebc00f97fab1 (21 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16440 fix bad reference to maxDiffRatePercent
  lib/web_ui/test/golden_tests/engine/canvas_context_test.dart
Labels: cla: yes

#16365 Reland #16206: "[web] Correct getPositionForOffset for multi-line paragraphs"
  lib/web_ui/lib/src/engine/text/measurement.dart
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/test/paragraph_test.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#16425 [fuchsia] change kMaxFramesInFlight to 3, add offset option
  shell/platform/fuchsia/flutter/session_connection.h
  shell/platform/fuchsia/flutter/vsync_waiter.cc
  shell/platform/fuchsia/flutter/vsync_waiter.h
Labels: cla: yes

#16416 Suppress some deprecation warnings on Windows
  fml/BUILD.gn
  shell/platform/common/cpp/BUILD.gn
  third_party/txt/BUILD.gn
Labels: cla: yes

#16454 Roll fuchsia/sdk/core/mac-amd64 from ubThi... to fvWgE...
  DEPS
Labels: autoroller: commit, cla: yes

#16456 Roll src/third_party/skia ebc00f97fab1..cbf79b95c2d4 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16419 Roll buildroot
  DEPS
Labels: cla: yes

#16370 Add explicit casts to printing of function pointers
  shell/platform/embedder/tests/embedder_assertions.h
Labels: cla: yes

#16372 Wrap strdup to use compliant name on Windows
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/platform/posix/posix_wrappers_posix.cc
  fml/platform/win/posix_wrappers_win.cc
  fml/posix_wrappers.h
  runtime/dart_isolate.cc
  runtime/dart_service_isolate.cc
  runtime/service_protocol.cc
  shell/common/skia_event_tracer_impl.cc
Labels: cla: yes

#16347 Roll rapidjson
  DEPS
  ci/licenses_golden/licenses_third_party
  ci/licenses_golden/tool_signature
  sky/packages/sky_engine/LICENSE
  tools/licenses/lib/main.dart
Labels: cla: yes

#16442 Include <memory> in hb_wrapper.h because unique_ptr is used.
  tools/font-subset/hb_wrappers.h
Labels: cla: yes

#16457 Roll fuchsia/sdk/core/linux-amd64 from VJv0H... to A9STP...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#16459 Roll src/third_party/skia cbf79b95c2d4..4721e067812f (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16461 Roll src/third_party/skia 4721e067812f..f6e3eaf05150 (1 commits)
  DEPS
Labels: cla: yes, waiting for tree to go green

#16463 Roll src/third_party/skia f6e3eaf05150..cc21d0c1f2ce (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16466 Roll src/third_party/skia cc21d0c1f2ce..116b33e8ab21 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16471 Roll src/third_party/skia 116b33e8ab21..7f36405ea3ec (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16469 [web] Reset width/height before deallocation for Safari allocation bug.
  lib/web_ui/lib/src/engine/canvas_pool.dart
Labels: cla: yes

#16446 Relax timing restrictions on WakeUpTimersAreSingletons.
  fml/message_loop_unittests.cc
Labels: cla: yes

#16472 Disable unit tests using --gtest-filter instead of at compile time
  fml/BUILD.gn
  testing/fuchsia/run_tests.sh
Labels: cla: yes

#16434 Fix RasterCache LRU logic + opportunistic simplifications.
  flow/raster_cache.cc
  flow/raster_cache.h
  flow/raster_cache_unittests.cc
Labels: cla: yes

#16476 Roll src/third_party/skia 7f36405ea3ec..c0360582d211 (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16470 Fix analyzer warnings for frontend_server change
  flutter_frontend_server/lib/server.dart
Labels: cla: yes

#16478 Add noexcept annotations to EnableValue moves
  shell/platform/common/cpp/client_wrapper/include/flutter/encodable_value.h
Labels: cla: yes

#16433 Various fixes in CanvasKit
  lib/web_ui/lib/src/engine/compositor/fonts.dart
  lib/web_ui/lib/src/engine/compositor/initialization.dart
  lib/web_ui/lib/src/engine/compositor/painting.dart
  lib/web_ui/lib/src/engine/compositor/path.dart
  lib/web_ui/lib/src/engine/compositor/text.dart
  lib/web_ui/lib/src/ui/text.dart
Labels: cla: yes

#16479 Roll src/third_party/skia c0360582d211..121750c2efff (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16376 Enable shell_unittests on Fuchsia with Vulkan dependencies.
  BUILD.gn
  ci/licenses_golden/licenses_flutter
  shell/common/BUILD.gn
  shell/common/animator_unittests.cc
  shell/common/shell_test.cc
  shell/common/shell_test_platform_view.cc
  shell/common/shell_test_platform_view.h
  shell/common/shell_test_platform_view_vulkan.cc
  shell/common/shell_test_platform_view_vulkan.h
  shell/common/shell_unittests.cc
  shell/platform/fuchsia/BUILD.gn
  testing/BUILD.gn
  testing/fuchsia/run_tests.sh
  testing/fuchsia/test_fars
  testing/testing.gni
  vulkan/BUILD.gn
Labels: cla: yes

#16480 Roll src/third_party/dart b3396cbdcae1..49850e6919f7 (45 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16343 Run Flutter framework tests against the web engine in Cirrus
  .cirrus.yml
Labels: cla: yes, platform-web

#16482 Roll src/third_party/skia 121750c2efff..046f9893b953 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16481 Code cleanup on destructors
  shell/platform/windows/testing/win32_flutter_window_test.cc
  shell/platform/windows/testing/win32_flutter_window_test.h
  shell/platform/windows/win32_flutter_window.cc
  shell/platform/windows/win32_flutter_window.h
  shell/platform/windows/win32_window.cc
  shell/platform/windows/win32_window.h
  shell/platform/windows/win32_window_unittests.cc
Labels: cla: yes, waiting for tree to go green

#16484 Roll fuchsia/sdk/core/linux-amd64 from A9STP... to g2s3c...
  DEPS
  ci/licenses_golden/licenses_fuchsia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16485 Roll src/third_party/dart 49850e6919f7..16782e6c171f (16 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16486 Roll src/third_party/skia 046f9893b953..97bf6578796c (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16487 Roll src/third_party/skia 97bf6578796c..f3560b680e35 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16488 Roll src/third_party/dart 16782e6c171f..d765d237460d (1 commits)
  DEPS
Labels: cla: yes, waiting for tree to go green

#16489 Roll fuchsia/sdk/core/linux-amd64 from g2s3c... to LvSlH...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#16490 Roll src/third_party/skia f3560b680e35..77fdf66946d2 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16491 Roll src/third_party/dart d765d237460d..514a8d4c8417 (7 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16492 Roll src/third_party/skia 77fdf66946d2..87e3bef6f82f (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16465 Ensure fields of Rect and OffsetBase classes are optimized as non-null.
  lib/ui/geometry.dart
  lib/web_ui/lib/src/ui/geometry.dart
Labels: cla: yes

#16477 Simplify task queues locking mechanism
  fml/gpu_thread_merger_unittests.cc
  fml/message_loop_task_queues.cc
  fml/message_loop_task_queues.h
Labels: cla: yes

#16496 Fix text range logic for a11y
  fml/platform/darwin/string_range_sanitization.mm
  fml/platform/darwin/string_range_sanitization_unittests.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/ios/framework/Source/accessibility_text_entry.mm
Labels: cla: yes

#16494 Fix unused import in Android embedder
  shell/platform/android/io/flutter/view/AccessibilityViewEmbedder.java
Labels: cla: yes

#16495 Disable ShellTest.WaitForFirstFrameTimeout on Fuchsia
  testing/fuchsia/run_tests.sh
Labels: cla: yes

#16493 Roll src/third_party/skia 87e3bef6f82f..9f3eef796f63 (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16497 Roll src/third_party/dart 514a8d4c8417..fd992e423ef6 (8 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#16428 Update node fields fix
  shell/platform/fuchsia/flutter/accessibility_bridge.cc
  shell/platform/fuchsia/flutter/accessibility_bridge.h
  shell/platform/fuchsia/flutter/accessibility_bridge_unittest.cc
Labels: cla: yes

#16424 Doc fixes in BoxHeightStyle
  lib/ui/text.dart
  lib/web_ui/lib/src/ui/text.dart
Labels: cla: yes

#16373 [SkParagraph] Text layout benchmarks using SkParagraph
  ci/licenses_golden/licenses_flutter
  third_party/txt/BUILD.gn
  third_party/txt/benchmarks/skparagraph_benchmarks.cc
Labels: cla: yes

#16498 Roll fuchsia/sdk/core/mac-amd64 from fvWgE... to FLFOw...
  DEPS
Labels: cla: yes, waiting for tree to go green

#16208 Fix safe area reporting with transparent FlutterActivitys. (#46060)
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/io/flutter/embedding/android/FlutterFragmentActivity.java
Labels: cla: yes

#16499 Roll src/third_party/skia 9f3eef796f63..b2031d4255e2 (12 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16500 Check Java formatting in format.sh
  DEPS
  ci/format.sh
Labels: cla: yes, waiting for tree to go green

#16502 Roll src/third_party/skia b2031d4255e2..a9405c2a2967 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16505 Roll src/third_party/skia a9405c2a2967..8dad1ffd81f8 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16506 Roll src/third_party/dart fd992e423ef6..4310f50edc95 (17 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16508 Roll fuchsia/sdk/core/linux-amd64 from LvSlH... to 8L7NY...
  DEPS
  ci/licenses_golden/licenses_fuchsia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16510 Roll src/third_party/skia 8dad1ffd81f8..c03e6982f96f (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16511 Roll src/third_party/dart 4310f50edc95..9464eb51f539 (2 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16512 Roll fuchsia/sdk/core/mac-amd64 from FLFOw... to PMcw3...
  DEPS
Labels: cla: yes, waiting for tree to go green

#16513 Roll src/third_party/dart 9464eb51f539..f120417ddbfc (1 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#16514 Roll src/third_party/dart f120417ddbfc..b158bf7bd537 (2 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#16504 Use Skia to determine "actual" font name in CanvasKit backend
  lib/web_ui/lib/src/engine/compositor/fonts.dart
  lib/web_ui/lib/src/engine/compositor/text.dart
Labels: cla: yes

#16483 Partially fix canvas vs text paint order when running on Blink/Webkit browsers
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/canvas_pool.dart
  lib/web_ui/lib/src/engine/surface/surface.dart
  lib/web_ui/lib/src/engine/util.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
  lib/web_ui/test/engine/util_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_golden_test.dart
  lib/web_ui/test/text_editing_test.dart
Labels: cla: yes

#16509 Apply lints from internal roll
  fml/message_loop_task_queues.cc
  fml/message_loop_task_queues.h
  shell/platform/android/io/flutter/view/AccessibilityViewEmbedder.java
Labels: cla: yes, waiting for tree to go green

#16516 Remove mirrors on the web
  web_sdk/libraries.json
  web_sdk/libraries.yaml
Labels: cla: yes, waiting for tree to go green

#16523 Adds new route annoucement method.
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/test/engine/navigation_test.dart
Labels: cla: yes

#16517 Roll src/third_party/dart b158bf7bd537..5244d99a5d4e (1 commits)
  DEPS
Labels: cla: yes, waiting for tree to go green

#16524 Roll src/third_party/skia c03e6982f96f..465864cad5d2 (14 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16526 Enable verbose logging for shell unittests on Fuchsia
  shell/common/shell_test.cc
Labels: cla: yes

#16525 Clear frame references at the end of every CanvasKit frame
  lib/web_ui/lib/src/engine/compositor/rasterizer.dart
Labels: cla: yes

#16528 Roll src/third_party/skia 465864cad5d2..21f382c19d76 (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16529 Roll fuchsia/sdk/core/linux-amd64 from 8L7NY... to Bmq1m...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#16530 Roll fuchsia/sdk/core/mac-amd64 from PMcw3... to 7JkB7...
  DEPS
Labels: cla: yes, waiting for tree to go green

#16532 Roll src/third_party/skia 21f382c19d76..f83d0346c06a (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16533 Roll src/third_party/dart 5244d99a5d4e..5fc031ebc1d7 (42 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16534 Roll src/third_party/skia f83d0346c06a..88c3793a4eaa (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16535 Roll src/third_party/skia 88c3793a4eaa..abefc9c170c9 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16536 Roll src/third_party/skia abefc9c170c9..4fe89b4d871d (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16537 Roll src/third_party/dart 5fc031ebc1d7..30151a654151 (2 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16538 Roll src/third_party/skia 4fe89b4d871d..dc2782c380f6 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16539 Roll src/third_party/dart 30151a654151..76b18c455e2c (1 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#16540 Roll src/third_party/skia dc2782c380f6..cdf2491afa04 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16541 Roll src/third_party/skia cdf2491afa04..50a490a1a4fb (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16542 Roll src/third_party/skia 50a490a1a4fb..c3b67eb988c8 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#13487 Use unified logging instead of syslog on iOS 13+
  fml/logging.cc
  lib/ui/dart_runtime_hooks.cc
Labels: cla: yes, waiting for tree to go green

#16531 libtxt: use a fixture in the benchmarks
  third_party/txt/benchmarks/paragraph_benchmarks.cc
Labels: cla: yes

#16546 Revert "Use os_log instead of syslog on Apple platforms (#13487)"
  fml/logging.cc
  lib/ui/dart_runtime_hooks.cc
Labels: cla: yes

#16548 [fuchsia] Disable retained layers
  shell/platform/fuchsia/flutter/vulkan_surface_pool.cc
Labels: cla: yes

#16313 Expose DPI helper functions for Runner apps to use
  ci/licenses_golden/licenses_flutter
  shell/platform/windows/BUILD.gn
  shell/platform/windows/dpi_utils.cc
  shell/platform/windows/dpi_utils.h
  shell/platform/windows/dpi_utils_unittests.cc
  shell/platform/windows/flutter_windows.cc
  shell/platform/windows/public/flutter_windows.h
  shell/platform/windows/testing/win32_flutter_window_test.h
  shell/platform/windows/testing/win32_window_test.cc
  shell/platform/windows/testing/win32_window_test.h
  shell/platform/windows/win32_dpi_helper.cc
  shell/platform/windows/win32_dpi_helper.h
  shell/platform/windows/win32_flutter_window_unittests.cc
  shell/platform/windows/win32_window.cc
  shell/platform/windows/win32_window.h
  shell/platform/windows/win32_window_unittests.cc
Labels: cla: yes, waiting for tree to go green

#16520 support endless trace buffer
  shell/platform/android/io/flutter/app/FlutterActivityDelegate.java
  shell/platform/android/io/flutter/embedding/engine/FlutterShellArgs.java
Labels: cla: yes, waiting for tree to go green

#16549 Re-land: Use os_log instead of syslog on Apple platforms
  fml/logging.cc
  lib/ui/dart_runtime_hooks.cc
Labels: cla: yes, waiting for tree to go green

#16543 Roll src/third_party/skia c3b67eb988c8..b1525c721ea6 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16544 Roll src/third_party/dart 76b18c455e2c..e4c39721c473 (6 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16503 Fix ensureInitializationCompleteAsync callback when already initialized. (#39675)
  shell/platform/android/io/flutter/embedding/engine/loader/FlutterLoader.java
  testing/scenario_app/android/app/src/main/java/dev/flutter/scenarios/TextPlatformViewActivity.java
Labels: cla: yes
