Repository flutter/engine, pull requests merged in 2020-10, with the labels that each got.

#21529 Roll Fuchsia Mac SDK from aO19K7Ut2... to U2Cd8uL4-...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21533 Roll Fuchsia Linux SDK from sDtTSnOFx... to GEYgsTBRM...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21537 Roll Dart SDK from 0ed6ae6d709e to ddbeaabe8b3d (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#21538 Roll Fuchsia Mac SDK from U2Cd8uL4-... to UKTUc5UVB...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21541 Roll Fuchsia Linux SDK from GEYgsTBRM... to EdtRxRaCS...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21495 fuchsia: Remove display device availability check from Flutter
  shell/platform/fuchsia/flutter/surface.cc
  shell/platform/fuchsia/flutter/surface.h
Labels: cla: yes

#21543 fuchsia: Fix test compile
  flow/layers/checkerboard_layertree_unittests.cc
Labels: affects: tests, cla: yes, platform-fuchsia

#21544 embedder: Exclude GL code
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder_engine.cc
  shell/platform/embedder/embedder_engine.h
  shell/platform/embedder/platform_view_embedder.cc
  shell/platform/embedder/platform_view_embedder.h
Labels: affects: engine, cla: yes, platform-fuchsia

#21532 cloning flutter repo for luci recipes
  tools/configure_framework_commit.sh
Labels: cla: yes

#21530 [web] Fix monotonic quadratic winding
  lib/web_ui/lib/src/engine/html/path/path_windings.dart
  lib/web_ui/test/engine/surface/path/path_winding_test.dart
Labels: cla: yes

#21531 [web] Fix setPreferredOrientations failure on iOS due to NNBD change.
  lib/web_ui/lib/src/engine/dom_renderer.dart
  lib/web_ui/test/engine/window_test.dart
Labels: cla: yes

#21527 fuchsia: Remove Opacity hole-punch
  flow/layers/child_scene_layer.cc
  flow/layers/layer.h
  flow/layers/opacity_layer.cc
  flow/layers/opacity_layer_unittests.cc
Labels: cla: yes, platform-fuchsia

#21554 Roll Fuchsia Mac SDK from UKTUc5UVB... to gZ122oeKO...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21556 Roll Fuchsia Linux SDK from EdtRxRaCS... to CG6NCkBX9...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21372 Fix for issue flutter/#66502.
  lib/web_ui/lib/src/engine/canvaskit/path.dart
Labels: cla: yes, platform-web

#21562 Roll Skia from a87c5076a876 to 36366209d412 (55 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21548 Extract the WindowInsetsAnimation.Callback subclass into a separate class that will be lazily loaded
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/plugin/editing/ImeSyncDeferringInsetsCallback.java
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
Labels: cla: yes, platform-android, waiting for tree to go green

#21258 Workaround for an Android emulator EGL bug that can cause inaccurate GL version strings
  shell/gpu/gpu_surface_gl_delegate.h
  shell/platform/android/android_context_gl.cc
  shell/platform/android/android_context_gl.h
  shell/platform/android/android_surface_gl.cc
  shell/platform/android/android_surface_gl.h
Labels: cla: yes, platform-android, waiting for tree to go green

#21565 Roll Skia from 36366209d412 to 8cc5f19f439d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21566 Roll Fuchsia Linux SDK from CG6NCkBX9... to 8Evelbjqf...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21546 Writing the commit no to a text file
  tools/configure_framework_commit.sh
Labels: cla: yes

#21555 Implement Image.clone for CanvasKit
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/image.dart
  lib/web_ui/lib/src/engine/canvaskit/skia_object_cache.dart
  lib/web_ui/test/canvaskit/image_test.dart
  lib/web_ui/test/canvaskit/skia_objects_cache_test.dart
Labels: cla: yes, waiting for tree to go green

#21568 Roll Skia from 8cc5f19f439d to b509bbb81f36 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20160 iOS Text Editing Infinite Loop
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPluginTest.m
Labels: cla: yes, platform-ios

#21436 Allow hot reload without syncing all asset files to devFS
  shell/common/fixtures/shell_test.dart
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/shell_unittests.cc
Labels: cla: yes

#21550 Adds response to view requestFocus platformview message
  shell/platform/fuchsia/flutter/platform_view.cc
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
Labels: cla: yes

#21569 Roll Dart SDK from ddbeaabe8b3d to 9c89ce329247 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#21526 iOS: only add explicit transactions when there are platform views (only on main threads)
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/ios_surface.mm
Labels: cla: yes, platform-ios, waiting for tree to go green

#21564 remove the web integration test
  .cirrus.yml
Labels: cla: yes

#21438 Respect the --debug option in Firefox
  lib/web_ui/dev/firefox.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#21570 Roll Skia from b509bbb81f36 to 2d7973afc29d (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21571 Roll Fuchsia Mac SDK from gZ122oeKO... to 1i9GaCxm8...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21574 Roll Dart SDK from 9c89ce329247 to 2eab25e4b239 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#21552 web: implement frame timings
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/html/scene_builder.dart
  lib/web_ui/lib/src/engine/profiler.dart
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/test/canvaskit/frame_timings_test.dart
  lib/web_ui/test/engine/surface/frame_timings_test.dart
  lib/web_ui/test/frame_timings_common.dart
Labels: cla: yes

#20330 Minor documentation details/breadcrumbs
  lib/ui/semantics.dart
  lib/ui/semantics/semantics_node.h
Labels: cla: yes, platform-android

#21577 Roll Dart SDK from 2eab25e4b239 to 9f810fa15a9e (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#21580 Roll Fuchsia Linux SDK from 8Evelbjqf... to J5Qe0sLAi...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21581 Roll Fuchsia Mac SDK from 1i9GaCxm8... to 0pFgNUM8S...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21587 Roll Dart SDK from 9f810fa15a9e to 1a039e595379 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#21588 Roll Fuchsia Linux SDK from J5Qe0sLAi... to tz23Y3d1u...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21589 Roll Fuchsia Mac SDK from 0pFgNUM8S... to D6xcV5RGw...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21590 Roll Fuchsia Linux SDK from tz23Y3d1u... to Hq4nRfNIg...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21591 Roll Skia from 2d7973afc29d to 223ffcdff922 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21592 Roll Fuchsia Mac SDK from D6xcV5RGw... to qljWjWwoR...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21595 Roll Fuchsia Linux SDK from Hq4nRfNIg... to 5KQYmRGqZ...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21596 Roll Fuchsia Mac SDK from qljWjWwoR... to mhxbBrFZD...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21597 Roll Skia from 223ffcdff922 to e34a8d7f01ff (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21598 Roll Dart SDK from 1a039e595379 to 9560a32779fc (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#21599 Roll Fuchsia Linux SDK from 5KQYmRGqZ... to DMUD0TMLr...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21578 Use absolute path in ios_test_flutter target
  shell/platform/darwin/ios/BUILD.gn
Labels: cla: yes, platform-ios, waiting for tree to go green

#21600 Roll Skia from e34a8d7f01ff to bd0881cb58eb (12 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21601 Roll Skia from bd0881cb58eb to e2c4999ec340 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21567 test CkPath.reset()
  lib/web_ui/lib/src/engine/canvaskit/path.dart
  lib/web_ui/test/canvaskit/path_test.dart
Labels: cla: yes

#21584 [web] Fix CapsLock keyevent
  e2etests/web/regular_integration_tests/test_driver/text_editing_integration.dart
  lib/web_ui/lib/src/engine/keyboard.dart
Labels: cla: yes

#21604 Roll Skia from e2c4999ec340 to 0d31ed506863 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21607 Roll Skia from 0d31ed506863 to d30e9efdab5c (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21608 Roll Skia from d30e9efdab5c to 41d906752d13 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21615 Roll Skia from 41d906752d13 to 05162812fd37 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21478 Do not remove directories in purge
  shell/common/persistent_cache.cc
  shell/common/persistent_cache.h
  shell/common/persistent_cache_unittests.cc
  shell/common/shell_test.cc
  shell/common/shell_test.h
Labels: cla: yes

#21617 Roll Skia from 05162812fd37 to 347e5dc37127 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21576 Hookup view connected/disconnected events for platform view codepath
  shell/platform/fuchsia/flutter/platform_view.cc
  shell/platform/fuchsia/flutter/platform_view.h
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
Labels: cla: yes

#21619 Roll Fuchsia Mac SDK from mhxbBrFZD... to 8q-OCkyhO...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21620 Roll Skia from 347e5dc37127 to fa5ff7d234b8 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21621 Roll Fuchsia Linux SDK from DMUD0TMLr... to HeAkKHbFY...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21622 Roll Skia from fa5ff7d234b8 to 00dc0bcb4d54 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21624 Roll Skia from 00dc0bcb4d54 to e2c6940c36e4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21625 Roll Skia from e2c6940c36e4 to c3bdd1c597dc (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21612 Separate mutators for text and selection
  shell/platform/common/cpp/text_input_model.cc
  shell/platform/common/cpp/text_input_model.h
  shell/platform/common/cpp/text_input_model_unittests.cc
  shell/platform/glfw/text_input_plugin.cc
  shell/platform/linux/fl_text_input_plugin.cc
  shell/platform/windows/text_input_plugin.cc
Labels: affects: desktop, affects: text input, cla: yes, platform-linux, platform-windows, waiting for tree to go green

#21497 [linux] Allow engine flags via environment vars
  ci/licenses_golden/licenses_flutter
  shell/platform/linux/BUILD.gn
  shell/platform/linux/fl_dart_project.cc
  shell/platform/linux/fl_dart_project_private.h
  shell/platform/linux/fl_dart_project_test.cc
  shell/platform/linux/fl_engine.cc
Labels: affects: desktop, affects: engine, cla: yes, platform-linux

#21603 Use the gpu config for shell_unittests to declare SHELL_ENABLE_{GL,VULKAN}
  shell/common/BUILD.gn
Labels: cla: yes, waiting for tree to go green

#21628 Roll Skia from c3bdd1c597dc to 33b42e12ab71 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21613 running web tests only on DEPS and web directories
  ci/dev/try_builders.json
Labels: cla: yes

#21630 Roll Fuchsia Linux SDK from HeAkKHbFY... to kr1tNtZvZ...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21634 Roll Skia from 33b42e12ab71 to 107114dd1d6e (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21635 Roll Fuchsia Mac SDK from 8q-OCkyhO... to xM2vYLfIT...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21633 add api_conform_test to analyze step
  ci/analyze.sh
  ci/build.sh
Labels: cla: yes

#21388 hasStrings Linux
  shell/platform/linux/fl_platform_plugin.cc
Labels: cla: yes

#21392 fuchsia: Don't send ViewportMetrics w/ 0 DPR
  lib/ui/window/viewport_metrics.cc
  lib/ui/window/viewport_metrics.h
  shell/platform/fuchsia/flutter/platform_view.cc
  shell/platform/fuchsia/flutter/platform_view.h
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
Labels: cla: yes, platform-fuchsia

#21666 Roll Skia from 107114dd1d6e to a7f69c290667 (18 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes

#21656 Roll Fuchsia Mac SDK from xM2vYLfIT... to m6w8tDXMm...
  DEPS
Labels: cla: yes

#21669 [flutter_releases] Flutter 1.22.1 Engine Cherrypicks
  .cirrus.yml
  DEPS
  ci/licenses_golden/licenses_flutter
  ci/licenses_golden/licenses_third_party
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/plugin/editing/ImeSyncDeferringInsetsCallback.java
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/ios_surface.mm
Labels: cla: yes, platform-android, platform-ios

#21356 Add an adjustment to currentLineWidth comparisons when pushing greedy line breaks
  third_party/txt/src/minikin/LineBreaker.cpp
Labels: cla: yes

#21660 Run desktop darwin tests in debug mode
  shell/platform/darwin/macos/BUILD.gn
  testing/run_tests.py
Labels: cla: yes, waiting for tree to go green

#21670 [macOS] Allow loading of AOT snapshots and instructions from elf bundle
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
Labels: cla: yes, waiting for tree to go green

#21665 Ensure JNI is not called from raster thread
  shell/platform/android/external_view_embedder/external_view_embedder.cc
  shell/platform/android/external_view_embedder/external_view_embedder_unittests.cc
  shell/platform/android/external_view_embedder/surface_pool.cc
  shell/platform/android/external_view_embedder/surface_pool.h
  shell/platform/android/external_view_embedder/surface_pool_unittests.cc
Labels: cla: yes, platform-android, waiting for tree to go green

#21676 Roll Skia from a7f69c290667 to 041fd0ad7d93 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19134 [web] Support custom url strategies
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/browser_location.dart
  lib/web_ui/lib/src/engine/navigation/history.dart
  lib/web_ui/lib/src/engine/navigation/js_url_strategy.dart
  lib/web_ui/lib/src/engine/navigation/url_strategy.dart
  lib/web_ui/lib/src/engine/test_embedding.dart
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/lib/src/ui/initialization.dart
  lib/web_ui/test/engine/history_test.dart
  lib/web_ui/test/engine/navigation_test.dart
  lib/web_ui/test/window_test.dart
Labels: cla: yes, platform-web

#17881 Enabled metal on ios simulator
  shell/common/switches.h
  shell/gpu/gpu_surface_metal.h
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterView.h
  shell/platform/darwin/ios/framework/Source/FlutterView.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/ios_surface.mm
  shell/platform/darwin/ios/ios_surface_metal.h
  shell/platform/darwin/ios/rendering_api_selection.h
  shell/platform/darwin/ios/rendering_api_selection.mm
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios/AppDelegate.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/GoldenPlatformViewTests.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/PlatformViewGestureRecognizerTests.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/RenderingSelectionTest.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/UnobstructedPlatformViewTests.m
  tools/gn
Labels: cla: yes, waiting for tree to go green

#21678 Roll Dart SDK from 9560a32779fc to 8f1a96317589 (12 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#21680 Avoid leaking the FlutterEngineAOTData structure in FlutterEngineCollectAOTData.
  shell/platform/embedder/embedder.cc
Labels: cla: yes, waiting for tree to go green

#21663 Store selection base/extent as size_t
  shell/platform/common/cpp/text_input_model.cc
  shell/platform/common/cpp/text_input_model.h
Labels: affects: text input, cla: yes, platform-linux, platform-windows

#21687 Revert "[web] Support custom url strategies"
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/browser_location.dart
  lib/web_ui/lib/src/engine/history.dart
  lib/web_ui/lib/src/engine/navigation/js_url_strategy.dart
  lib/web_ui/lib/src/engine/navigation/url_strategy.dart
  lib/web_ui/lib/src/engine/test_embedding.dart
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/lib/src/ui/initialization.dart
  lib/web_ui/test/engine/history_test.dart
  lib/web_ui/test/engine/navigation_test.dart
  lib/web_ui/test/window_test.dart
Labels: cla: yes

#21685 Make TextInputModel::selection_start/end const
  shell/platform/common/cpp/text_input_model.h
Labels: affects: text input, cla: yes, platform-linux, platform-windows

#21683 Roll Skia from 041fd0ad7d93 to 38e6d226f24e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21684 Roll Fuchsia Linux SDK from kr1tNtZvZ... to ZJHmp3INU...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21686 Roll Dart SDK from 8f1a96317589 to 8572b5c0f6dc (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#21688 Roll Skia from 38e6d226f24e to ac0723a06b53 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21689 Roll Fuchsia Mac SDK from m6w8tDXMm... to zhRBO0hCr...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21691 Roll Dart SDK from 8572b5c0f6dc to 98ea0b4971dd (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#21694 Skip flaky test
  shell/platform/darwin/ios/framework/Source/FlutterPluginAppLifeCycleDelegateTest.m
Labels: platform-ios

#21611 Preserve specified AssetResolvers when performing a hot restart or updating the asset directory
  assets/asset_manager.cc
  assets/asset_manager.h
  assets/asset_resolver.h
  assets/directory_asset_bundle.cc
  assets/directory_asset_bundle.h
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/persistent_cache_unittests.cc
  shell/common/run_configuration.cc
  shell/common/shell.cc
  shell/platform/android/apk_asset_provider.cc
  shell/platform/android/apk_asset_provider.h
  shell/testing/tester_main.cc
Labels: cla: yes, platform-android

#21692 Roll Skia from ac0723a06b53 to 8d43858ed21a (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#21668 Remove dependencies on _product variants of libdart from the Fuchsia release mode build
  shell/platform/fuchsia/BUILD.gn
  shell/platform/fuchsia/dart_runner/BUILD.gn
  shell/platform/fuchsia/flutter/BUILD.gn
Labels: cla: yes

#21679 [flutter_releases] fix infra failure for web framework tests
  tools/configure_framework_commit.sh
Labels: cla: yes, platform-android, platform-ios

#21610 fixing the autofill overlay problem (blue area for chrome)
  lib/web_ui/lib/src/engine/dom_renderer.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/text_editing_test.dart
Labels: cla: yes

#21681 [macOS] flutter_desktop_darwin_unittests can be enabled for all runtime modes
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  testing/run_tests.py
Labels: cla: yes, waiting for tree to go green

#21695 Roll Dart SDK from 98ea0b4971dd to 44fa3b9e566c (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#21697 Update PR template to include the presubmit flake form
  .github/PULL_REQUEST_TEMPLATE.md
Labels: cla: yes, waiting for tree to go green

#21699 [macOS] Fix docs for loadAOTData and minor refactor
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
Labels: cla: yes

#21698 Roll Skia from 8d43858ed21a to 9c0b79a35489 (14 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21701 Fix engine Xcode projection for newer versions of Xcode.
  tools/gn
Labels: cla: yes

#21705 chrome driver for chrome 86
  lib/web_ui/dev/driver_version.yaml
  lib/web_ui/pubspec.yaml
Labels: cla: yes

#21473 Clear the Minikin layout cache during engine destruction
  third_party/txt/src/txt/font_collection.cc
Labels: cla: yes

#21707 Roll Skia from 9c0b79a35489 to e17b0501963a (15 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21702 [web] Reland Support custom url strategies
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/browser_location.dart
  lib/web_ui/lib/src/engine/navigation/history.dart
  lib/web_ui/lib/src/engine/navigation/js_url_strategy.dart
  lib/web_ui/lib/src/engine/navigation/url_strategy.dart
  lib/web_ui/lib/src/engine/test_embedding.dart
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/lib/src/ui/initialization.dart
  lib/web_ui/test/engine/history_test.dart
  lib/web_ui/test/engine/navigation_test.dart
  lib/web_ui/test/window_test.dart
Labels: cla: yes, platform-web

#21290 SecurityException: Permission Denial
  shell/platform/android/io/flutter/plugin/platform/PlatformPlugin.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformPluginTest.java
Labels: cla: yes, platform-android

#21606 Roll ICU to 146cb611fb2c1f53e63c2e59bd735d7a8ac6ec8c
  DEPS
Labels: cla: yes, waiting for tree to go green

#21406 fl_method_response.cc: fix lint failures
  shell/platform/linux/fl_method_response.cc
Labels: cla: yes

#21696 Forbid android.util.Log
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/Log.java
  shell/platform/android/io/flutter/app/FlutterActivityDelegate.java
  shell/platform/android/io/flutter/embedding/android/AndroidKeyProcessor.java
  shell/platform/android/io/flutter/embedding/engine/loader/FlutterLoader.java
  shell/platform/android/io/flutter/embedding/engine/loader/ResourceExtractor.java
  shell/platform/android/io/flutter/plugin/common/BasicMessageChannel.java
  shell/platform/android/io/flutter/plugin/common/ErrorLogResult.java
  shell/platform/android/io/flutter/plugin/common/EventChannel.java
  shell/platform/android/io/flutter/plugin/common/FlutterException.java
  shell/platform/android/io/flutter/plugin/common/MethodChannel.java
  shell/platform/android/io/flutter/plugin/common/StandardMessageCodec.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/io/flutter/plugin/platform/SingleViewPresentation.java
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  shell/platform/android/io/flutter/view/AccessibilityViewEmbedder.java
  shell/platform/android/io/flutter/view/FlutterNativeView.java
  shell/platform/android/io/flutter/view/FlutterView.java
  tools/android_illegal_imports.py
Labels: cla: yes, platform-android, waiting for tree to go green

#21708 Roll Dart SDK from 44fa3b9e566c to 4ba58cad60e4 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#21709 Roll Fuchsia Linux SDK from ZJHmp3INU... to wrXNShr_8...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21711 Perform selection check in DeleteSelected
  shell/platform/common/cpp/text_input_model.cc
  shell/platform/common/cpp/text_input_model.h
Labels: affects: engine, cla: yes, platform-linux, platform-windows

#21718 Roll Dart SDK from 4ba58cad60e4 to fe566e6d08b1 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#21720 Roll Fuchsia Mac SDK from zhRBO0hCr... to LyP59nILn...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21723 Roll Dart SDK from fe566e6d08b1 to 1e7250f91944 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#21725 Roll Dart SDK from 1e7250f91944 to 712e35f7fd0b (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#21732 Roll Skia from e17b0501963a to 453f67ff0ade (28 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21733 Roll Fuchsia Mac SDK from LyP59nILn... to lqn8xmlDn...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21736 Roll Dart SDK from 712e35f7fd0b to 06536d68ca0f (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#21729 Roll Fuchsia Linux SDK from wrXNShr_8... to EBX49sN_X...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21739 Roll Skia from 453f67ff0ade to 269e43fd9830 (11 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21740 Fix filesystem access prior to macOS 10.15
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
Labels: cla: yes, waiting for tree to go green

#21742 Roll Skia from 269e43fd9830 to 88cda17bbeb8 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21716 [web] Add ShaderBuilder, change drawVertices to use builder.
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/html/render_vertices.dart
  lib/web_ui/lib/src/engine/html/shaders/shader.dart
  lib/web_ui/lib/src/engine/html/shaders/shader_builder.dart
  lib/web_ui/test/engine/surface/shaders/shader_builder_test.dart
Labels: cla: yes

#21737 Add dart_entrypoint_argc/argv to the FlutterProjectArgs
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/embedder/fixtures/main.dart
  shell/platform/embedder/tests/embedder_config_builder.cc
  shell/platform/embedder/tests/embedder_config_builder.h
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: cla: yes, waiting for tree to go green

#21741 Remove uses of Dart VM bytecode mode from Flutter engine
  flutter_frontend_server/lib/server.dart
  shell/platform/fuchsia/dart_runner/dart_runner.cc
  shell/platform/fuchsia/dart_runner/kernel/BUILD.gn
  shell/platform/fuchsia/flutter/component.cc
  shell/platform/fuchsia/flutter/kernel/BUILD.gn
Labels: cla: yes

#21744 Roll Skia from 88cda17bbeb8 to 61003cde7688 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21714 Revert "fix On iOS, dialog titles are announced twice (#19826)"
  shell/platform/darwin/ios/framework/Source/SemanticsObject.h
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_test.mm
Labels: cla: yes, platform-ios, waiting for tree to go green

#21746 Roll Skia from 61003cde7688 to 13fc260c7080 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21749 Roll Fuchsia Mac SDK from lqn8xmlDn... to gzhbqRUap...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21752 Roll Skia from 13fc260c7080 to aa64c352b349 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21753 Roll Fuchsia Linux SDK from EBX49sN_X... to YRTc9YoiB...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21758 Roll Skia from aa64c352b349 to d71dc2d25b8b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21759 Roll Fuchsia Mac SDK from gzhbqRUap... to _0R2HD4c8...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21760 Roll Fuchsia Linux SDK from YRTc9YoiB... to Nw5-0_sVF...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21762 Roll Fuchsia Mac SDK from _0R2HD4c8... to 82ankF-Ht...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21768 Roll Fuchsia Mac SDK from 82ankF-Ht... to FFpTJfmj1...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21690 Use buildroot clang for scenario app
  testing/scenario_app/compile_ios_jit.sh
Labels: cla: yes, waiting for tree to go green

#21771 Roll Fuchsia Linux SDK from Nw5-0_sVF... to h-DeV4tgE...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21772 Roll Skia from d71dc2d25b8b to ceb6214a556a (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green
