Repository flutter/engine, pull requests merged in 2020-09, with the labels that each got.

#20912 Pass text input key events to the EventResponder if they do not yield characters
  shell/platform/android/io/flutter/plugin/editing/InputConnectionAdaptor.java
  shell/platform/android/test/io/flutter/plugin/editing/InputConnectionAdaptorTest.java
  shell/platform/android/test/io/flutter/util/FakeKeyEvent.java
Labels: cla: yes, platform-android

#20913 Roll Dart SDK from 84c3eacc7ba0 to 6eab35f49cbb (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#20914 [web] migrate from e2e to integration_test
  e2etests/web/regular_integration_tests/pubspec.yaml
  e2etests/web/regular_integration_tests/test_driver/image_loading_e2e.dart
  e2etests/web/regular_integration_tests/test_driver/image_loading_e2e_test.dart
  e2etests/web/regular_integration_tests/test_driver/platform_messages_e2e.dart
  e2etests/web/regular_integration_tests/test_driver/platform_messages_e2e_test.dart
  e2etests/web/regular_integration_tests/test_driver/profile_diagnostics_e2e.dart
  e2etests/web/regular_integration_tests/test_driver/profile_diagnostics_e2e_test.dart
  e2etests/web/regular_integration_tests/test_driver/target_platform_android_e2e.dart
  e2etests/web/regular_integration_tests/test_driver/target_platform_android_e2e_test.dart
  e2etests/web/regular_integration_tests/test_driver/target_platform_ios_e2e.dart
  e2etests/web/regular_integration_tests/test_driver/target_platform_ios_e2e_test.dart
  e2etests/web/regular_integration_tests/test_driver/target_platform_macos_e2e.dart
  e2etests/web/regular_integration_tests/test_driver/target_platform_macos_e2e_test.dart
  e2etests/web/regular_integration_tests/test_driver/text_editing_e2e.dart
  e2etests/web/regular_integration_tests/test_driver/text_editing_e2e_test.dart
  e2etests/web/regular_integration_tests/test_driver/treeshaking_e2e.dart
  e2etests/web/regular_integration_tests/test_driver/treeshaking_e2e_test.dart
Labels: cla: yes

#20917 Roll Dart SDK from 6eab35f49cbb to 2a5f37d25453 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#20760 Default C++ wrapper templates to EncodableValue
  shell/platform/common/cpp/client_wrapper/event_channel_unittests.cc
  shell/platform/common/cpp/client_wrapper/include/flutter/basic_message_channel.h
  shell/platform/common/cpp/client_wrapper/include/flutter/event_channel.h
  shell/platform/common/cpp/client_wrapper/include/flutter/event_sink.h
  shell/platform/common/cpp/client_wrapper/include/flutter/event_stream_handler.h
  shell/platform/common/cpp/client_wrapper/include/flutter/event_stream_handler_functions.h
  shell/platform/common/cpp/client_wrapper/include/flutter/method_call.h
  shell/platform/common/cpp/client_wrapper/include/flutter/method_channel.h
  shell/platform/common/cpp/client_wrapper/include/flutter/method_result.h
  shell/platform/common/cpp/client_wrapper/include/flutter/method_result_functions.h
  shell/platform/common/cpp/client_wrapper/method_channel_unittests.cc
  shell/platform/common/cpp/client_wrapper/standard_method_codec_unittests.cc
Labels: affects: desktop, cla: yes, platform-windows

#20919 Roll Fuchsia Mac SDK from sI2DAAmSI... to waj2pOhDh...
  DEPS
Labels: cla: yes, waiting for tree to go green

#20920 Roll Fuchsia Linux SDK from _SVZn8uN2... to 9tLNFbjA1...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#20924 Roll Skia from 3913d3e137ed to 7b46300fe4ff (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20142 Create root isolate asynchronously
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  runtime/runtime_delegate.h
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/engine_unittests.cc
  shell/common/shell.cc
  shell/common/shell.h
Labels: cla: yes

#20385 Adds fuchsia node roles to accessibility bridge updates.
  lib/ui/semantics.dart
  lib/ui/semantics/semantics_node.h
  lib/web_ui/lib/src/ui/semantics.dart
  shell/platform/fuchsia/flutter/accessibility_bridge.cc
  shell/platform/fuchsia/flutter/accessibility_bridge.h
  shell/platform/fuchsia/flutter/accessibility_bridge_unittest.cc
  testing/dart/semantics_test.dart
Labels: cla: yes, waiting for tree to go green

#20928 Roll Dart SDK from 2a5f37d25453 to e8e0d5a539fb (3 revisions)
  DEPS
Labels: cla: yes, waiting for tree to go green

#20842 Ensure all images are closed in FlutterImageView
  shell/platform/android/io/flutter/embedding/android/FlutterImageView.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
Labels: cla: yes, platform-android

#20750 Image.toByteData and Picture.toImage implementations (#3)
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/image.dart
  lib/web_ui/lib/src/engine/canvaskit/picture.dart
  lib/web_ui/lib/src/engine/html_image_codec.dart
  lib/web_ui/test/canvaskit/canvaskit_api_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_to_picture_test.dart
Labels: cla: yes

#20936 Revert "Adds fuchsia node roles to accessibility bridge updates."
  lib/ui/semantics.dart
  lib/ui/semantics/semantics_node.h
  lib/web_ui/lib/src/ui/semantics.dart
  shell/platform/fuchsia/flutter/accessibility_bridge.cc
  shell/platform/fuchsia/flutter/accessibility_bridge.h
  shell/platform/fuchsia/flutter/accessibility_bridge_unittest.cc
  testing/dart/semantics_test.dart
Labels: cla: yes

#20937 Revert "Create root isolate asynchronously"
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  runtime/runtime_delegate.h
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/engine_unittests.cc
  shell/common/shell.cc
  shell/common/shell.h
Labels: cla: yes, waiting for tree to go green

#20939 Roll Dart SDK from e8e0d5a539fb to b29f228f62e2 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#20921 [Android R] Integrate DisplayCutouts into viewportMetrics
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
Labels: cla: yes, platform-android, waiting for tree to go green

#20931 Clear the GL context only after submitting the frame
  shell/common/rasterizer.cc
Labels: cla: yes

#20943 Roll Skia from 7b46300fe4ff to 1338a37a1add (16 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20944 Roll Fuchsia Linux SDK from 9tLNFbjA1... to knpSoAoZq...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#20935 Log exception in addition to the stack trace for unhandled exceptions.
  third_party/tonic/logging/dart_error.cc
Labels: cla: yes

#20949 Roll Skia from 1338a37a1add to 8fa3b4e8cde5 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20952 Roll Skia from 8fa3b4e8cde5 to e9a9ad908226 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20754 Use hint freed specifically for image disposal
  ci/licenses_golden/licenses_flutter
  lib/ui/BUILD.gn
  lib/ui/fixtures/ui_test.dart
  lib/ui/hint_freed_delegate.h
  lib/ui/painting/image.cc
  lib/ui/painting/image_dispose_unittests.cc
  lib/ui/ui_dart_state.cc
  lib/ui/ui_dart_state.h
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/dart_isolate_unittests.cc
  runtime/dart_lifecycle_unittests.cc
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/shell_test.cc
  shell/common/shell_test.h
  testing/dart_isolate_runner.cc
  testing/run_tests.py
Labels: cla: yes

#20950 Revert external size changes to Picture
  lib/ui/painting/canvas.cc
  lib/ui/painting/canvas.h
  lib/ui/painting/picture.cc
  lib/ui/painting/picture.h
  lib/ui/painting/picture_recorder.cc
  testing/dart/canvas_test.dart
Labels: cla: yes

#20955 Roll Skia from e9a9ad908226 to 3d1d636cd839 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20954 renaming e2e tests to integration
  e2etests/web/regular_integration_tests/test_driver/image_loading_integration.dart
  e2etests/web/regular_integration_tests/test_driver/image_loading_integration_test.dart
  e2etests/web/regular_integration_tests/test_driver/platform_messages_integration.dart
  e2etests/web/regular_integration_tests/test_driver/platform_messages_integration_test.dart
  e2etests/web/regular_integration_tests/test_driver/profile_diagnostics_integration.dart
  e2etests/web/regular_integration_tests/test_driver/profile_diagnostics_integration_test.dart
  e2etests/web/regular_integration_tests/test_driver/target_platform_android_integration.dart
  e2etests/web/regular_integration_tests/test_driver/target_platform_android_integration_test.dart
  e2etests/web/regular_integration_tests/test_driver/target_platform_ios_integration.dart
  e2etests/web/regular_integration_tests/test_driver/target_platform_ios_integration_test.dart
  e2etests/web/regular_integration_tests/test_driver/target_platform_macos_integration.dart
  e2etests/web/regular_integration_tests/test_driver/target_platform_macos_integration_test.dart
  e2etests/web/regular_integration_tests/test_driver/text_editing_integration.dart
  e2etests/web/regular_integration_tests/test_driver/text_editing_integration_test.dart
  e2etests/web/regular_integration_tests/test_driver/treeshaking_integration.dart
  e2etests/web/regular_integration_tests/test_driver/treeshaking_integration_test.dart
  lib/web_ui/dev/integration_tests_manager.dart
Labels: cla: yes

#20957 Clear GL context before Gr context
  shell/common/rasterizer.cc
Labels: cla: yes

#20958 Roll Fuchsia Mac SDK from waj2pOhDh... to 0r88gDzUP...
  DEPS
Labels: cla: yes, waiting for tree to go green

#20961 Roll Skia from 3d1d636cd839 to 683beccf6776 (13 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20965 Only clear GL context after changing the thread configuration
  fml/raster_thread_merger.cc
  fml/raster_thread_merger.h
  fml/raster_thread_merger_unittests.cc
  shell/common/rasterizer.cc
Labels: cla: yes, waiting for tree to go green

#20968 Roll Fuchsia Linux SDK from knpSoAoZq... to odFvFQV9Z...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#20969 Roll Skia from 683beccf6776 to a66a9c31a318 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20970 Roll Fuchsia Mac SDK from 0r88gDzUP... to gOI3W1UNU...
  DEPS
Labels: cla: yes, waiting for tree to go green

#20971 Roll Skia from a66a9c31a318 to be72801f29f9 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20973 Roll Skia from be72801f29f9 to f8823b572600 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20974 [fuchsia] Send trace events to system tracing on all configurations
  runtime/dart_vm.cc
  shell/platform/fuchsia/dart_runner/dart_runner.cc
Labels: cla: yes

#20976 Always set the callback during Rasterizer setup
  shell/common/rasterizer.cc
Labels: cla: yes, waiting for tree to go green

#20977 Roll Skia from f8823b572600 to 5951e8fc3369 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20978 Roll Fuchsia Linux SDK from odFvFQV9Z... to 81O8Kg_Rw...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#20805 Fix iOS text field input keyboard flickering & crash
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPluginTest.m
Labels: cla: yes, platform-ios, waiting for tree to go green

#20960 Started printing out error messages when the observatory won't be reachable because of permissions problems.
  shell/platform/darwin/ios/framework/Source/FlutterObservatoryPublisher.mm
Labels: cla: yes, platform-ios

#20932 Log the results when ShellTest.Screenshot fails
  shell/common/shell_unittests.cc
Labels: cla: yes, waiting for tree to go green

#20916 Ensure the destructor is called since it destroys the `EGLSurface` before creating a new onscreen surface.
  shell/platform/android/android_surface_gl.cc
Labels: cla: yes, platform-android

#20899 Member variables should appear before the |WeakPtrFactory|.
  lib/ui/painting/image_decoder_unittests.cc
  shell/common/rasterizer.h
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/shell_io_manager.cc
  shell/common/shell_io_manager.h
  shell/platform/fuchsia/flutter/vsync_waiter.cc
  shell/platform/fuchsia/flutter/vsync_waiter.h
Labels: cla: yes

#20451 Populates fuchsia node actions in semantics updates.
  shell/platform/fuchsia/flutter/accessibility_bridge.cc
  shell/platform/fuchsia/flutter/accessibility_bridge.h
  shell/platform/fuchsia/flutter/accessibility_bridge_unittest.cc
Labels: cla: yes

#20982 Roll Skia from 1ee21cdfb6fe to 6763a713f957 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20953 restore FML_DCHECK removed due to a code reviewing error
  shell/common/rasterizer.cc
Labels: cla: yes

#20983 Don't use GetTaskQueueId() in rasterizer as it breaks Fuchsia
  shell/common/shell.cc
Labels: cla: yes, waiting for tree to go green

#20769 Let FlutterActivity/Fragment/FragmentActivity have an app bundle path override instead of eager resolving during construction
  shell/platform/android/io/flutter/FlutterInjector.java
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/io/flutter/embedding/android/FlutterFragment.java
  shell/platform/android/io/flutter/embedding/android/FlutterFragmentActivity.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
Labels: cla: yes, platform-android

#20986 Update test Dart code to pass the latest Dart analyzer rules
  testing/dart/compositing_test.dart
  testing/scenario_app/lib/src/locale_initialization.dart
  testing/scenario_app/lib/src/platform_echo_mixin.dart
  testing/scenario_app/lib/src/send_text_focus_semantics.dart
Labels: cla: yes

#20967 Manual roll of Dart b29f228f62...016e8880f0
  DEPS
  ci/licenses_golden/licenses_third_party
  lib/ui/lerp.dart
  lib/ui/painting.dart
  lib/ui/text.dart
Labels: cla: yes

#20985 Roll Fuchsia Mac SDK from gOI3W1UNU... to EN2ycWLxi...
  DEPS
Labels: cla: yes, waiting for tree to go green

#20915 improve sensitivity of BackdropFilter web tests
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/test/golden_tests/engine/backdrop_filter_golden_test.dart
Labels: cla: yes

#20990 Roll Dart SDK from 016e8880f0ab to 0f0cff3922ad (7 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#20843 [Android R] Sync keyboard animation with view insets vs Android 11/R/API 30 WindowInsetsAnimation
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
Labels: affects: engine, affects: text input, cla: yes, platform-android

#20998 Roll Fuchsia Linux SDK from 81O8Kg_Rw... to A0PKwETay...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#20840 adjust blur radius for HTML to match CanvasKit
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/html/scene_builder.dart
Labels: cla: yes

#21000 Roll Dart SDK from 0f0cff3922ad to f3a9ca88b664 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#21001 Don't use GetTaskQueueId() in rasterizer as it breaks Fuchsia (#20983)
  shell/common/shell.cc
Labels: cla: yes

#20999 Roll Fuchsia Mac SDK from EN2ycWLxi... to sih5f60Gt...
  DEPS
Labels: cla: yes, waiting for tree to go green

#20989 Roll Skia from 6763a713f957 to d91cd6b5ee2b (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21005 Roll Fuchsia Linux SDK from A0PKwETay... to gfAt63Ezd...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21006 Roll Fuchsia Mac SDK from sih5f60Gt... to 9pfHLZEFU...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21007 Roll Skia from d91cd6b5ee2b to a73a84f9b8e3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21008 Roll Dart SDK from f3a9ca88b664 to e59935669cb0 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#21011 Roll Skia from a73a84f9b8e3 to d0fe7d37d678 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21012 Roll Skia from d0fe7d37d678 to 611a52108b01 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20895 Enable lazy-async-stacks by-default in all modes (Take 3)
  runtime/dart_vm.cc
  shell/common/shell_unittests.cc
  shell/platform/fuchsia/dart_runner/dart_runner.cc
  shell/platform/fuchsia/dart_runner/embedder/BUILD.gn
  shell/platform/fuchsia/dart_runner/kernel/BUILD.gn
  shell/platform/fuchsia/dart_runner/vmservice/BUILD.gn
  shell/platform/fuchsia/flutter/component.cc
  shell/platform/fuchsia/flutter/kernel/BUILD.gn
  testing/scenario_app/compile_ios_jit.sh
  testing/testing.gni
Labels: cla: yes

#21013 Roll Fuchsia Mac SDK from 9pfHLZEFU... to tUwahggJ8...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21014 Roll Dart SDK from e59935669cb0 to f745f9447ddf (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#21015 Roll Fuchsia Linux SDK from gfAt63Ezd... to Ta3F40BV6...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21016 Roll Dart SDK from f745f9447ddf to b88c06c314f4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#20991 Tweak the mdns error message
  shell/platform/darwin/ios/framework/Source/FlutterObservatoryPublisher.mm
Labels: cla: yes, platform-ios

#21018 Roll Fuchsia Linux SDK from Ta3F40BV6... to coVjRTWSf...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21019 Roll Fuchsia Mac SDK from tUwahggJ8... to TyNHQXzNU...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21021 Roll Skia from 611a52108b01 to cd54c8385c31 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21023 Roll Dart SDK from b88c06c314f4 to 33b6c95936e0 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#21024 Roll Skia from cd54c8385c31 to c0d3495e1ee2 (12 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20980 Avoid crashing and display error if the process cannot be prepared for JIT mode Dart VM.
  ci/licenses_golden/licenses_flutter
  lib/ui/plugins/callback_cache.cc
  runtime/BUILD.gn
  runtime/dart_vm.cc
  runtime/ptrace_check.cc
  runtime/ptrace_check.h
  runtime/ptrace_ios.h
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterView.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
Labels: cla: yes, platform-ios

#21026 Roll Skia from c0d3495e1ee2 to cf1a4f50121f (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21025 Update Android SDK to 30r3
  DEPS
Labels: cla: yes, platform-android

#21027 Roll Dart SDK from 33b6c95936e0 to a2c9cae4dcd8 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#21028 Roll Skia from cf1a4f50121f to 04b9443274cf (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21030 Roll Skia from 04b9443274cf to b8ae7fa12aa0 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21031 Roll Dart SDK from a2c9cae4dcd8 to ffbfa2000435 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#21032 Roll Skia from b8ae7fa12aa0 to 445c8ebcb710 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21034 Roll Fuchsia Mac SDK from TyNHQXzNU... to Phn3nF_BJ...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21035 Roll Fuchsia Linux SDK from coVjRTWSf... to eBus_y4DN...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21037 Roll Skia from 445c8ebcb710 to f9d5940fef55 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21038 Roll Skia from f9d5940fef55 to 81c6d6eeb4cf (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21039 Roll Dart SDK from ffbfa2000435 to 2e838b7b4503 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#21043 Revert "Enable lazy-async-stacks by-default in all modes (Take 3)"
  runtime/dart_vm.cc
  shell/common/shell_unittests.cc
  shell/platform/fuchsia/dart_runner/dart_runner.cc
  shell/platform/fuchsia/dart_runner/embedder/BUILD.gn
  shell/platform/fuchsia/dart_runner/kernel/BUILD.gn
  shell/platform/fuchsia/dart_runner/vmservice/BUILD.gn
  shell/platform/fuchsia/flutter/component.cc
  shell/platform/fuchsia/flutter/kernel/BUILD.gn
  testing/scenario_app/compile_ios_jit.sh
  testing/testing.gni
Labels: cla: yes

#21045 Roll Skia from 81606b5d9774 to 215d2b0fa42d (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21051 Roll Fuchsia Mac SDK from Phn3nF_BJ... to K1oZWWtBn...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21046 Check for dart2js on felt startup
  lib/web_ui/dev/felt
Labels: cla: yes

#20922 Increase thread priority before engine init
  shell/platform/android/android_shell_holder.cc
Labels: cla: yes, perf: speed, platform-android, severe: performance

#21054 Roll Dart SDK from 2e838b7b4503 to 5e8b31a5fa48 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#21050 Open a fresh dir during LoadSkSLs
  shell/common/persistent_cache.cc
Labels: cla: yes

#20106 Fix usage of WeakPtr valid check
  shell/common/animator.cc
  shell/common/shell.cc
Labels: cla: yes

#21029 Fixed ios layout change to not refocus semantics object if the focus …
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.h
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_ios.h
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_test.mm
Labels: cla: yes, platform-ios

#21055 Roll Skia from 215d2b0fa42d to 5eea6aea02d9 (11 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19059 Update Androidx import
  shell/platform/android/io/flutter/embedding/engine/systemchannels/MouseCursorChannel.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/RestorationChannel.java
Labels: cla: yes, platform-android, waiting for tree to go green

#21060 Cherrypick Dart 5e8b31a5fa48
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#21056 Roll Fuchsia Linux SDK from eBus_y4DN... to 9kiAbu3bd...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#19018 [Example Docs] Added 'build' word, since run.sh also build project, not only run
  examples/glfw/README.md
Labels: cla: yes, waiting for tree to go green

#21058 Rename Registrar to PluginRegistrar in Win/GLFW C API
  shell/platform/common/cpp/client_wrapper/include/flutter/plugin_registrar.h
  shell/platform/common/cpp/client_wrapper/plugin_registrar.cc
  shell/platform/common/cpp/client_wrapper/plugin_registrar_unittests.cc
  shell/platform/common/cpp/client_wrapper/testing/stub_flutter_api.cc
  shell/platform/common/cpp/client_wrapper/testing/stub_flutter_api.h
  shell/platform/common/cpp/public/flutter_plugin_registrar.h
  shell/platform/glfw/client_wrapper/include/flutter/plugin_registrar_glfw.h
  shell/platform/glfw/client_wrapper/testing/stub_flutter_glfw_api.cc
  shell/platform/glfw/client_wrapper/testing/stub_flutter_glfw_api.h
  shell/platform/glfw/flutter_glfw.cc
  shell/platform/glfw/public/flutter_glfw.h
  shell/platform/windows/flutter_windows.cc
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_engine.h
Labels: cla: yes, waiting for tree to go green

#21061 Remove the type parameter from `SkObjectFinalizationRegistry`.
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/skia_object_cache.dart
Labels: cla: yes, waiting for tree to go green

#18712 Clean android/ios test scripts after LUCI change
  testing/ios/IosUnitTests/build_and_run_tests.sh
  testing/ios/IosUnitTests/run_tests.sh
  testing/scenario_app/run_ios_tests.sh
Labels: cla: yes, waiting for tree to go green

#21049 Adds increment/decrement actions to fuchsia accessibility bridge.
  shell/platform/fuchsia/flutter/accessibility_bridge.cc
  shell/platform/fuchsia/flutter/accessibility_bridge_unittest.cc
Labels: cla: yes

#20984 fuchsia: Compile disabled RasterThreadMerger code
  shell/common/rasterizer.cc
  shell/common/shell_unittests.cc
Labels: affects: tests, cla: yes, platform-fuchsia, waiting for tree to go green

#21063 Roll Dart SDK from 5e8b31a5fa48 to 325d9b628caa (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#19267 Annotate valuePublishedByPlugin with nullable
  shell/platform/darwin/ios/framework/Headers/FlutterPlugin.h
Labels: cla: yes, platform-ios, waiting for tree to go green

#21064 Roll Dart SDK from 325d9b628caa to 66ca43504da0 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#21065 Roll Skia from 5eea6aea02d9 to 917a2d741e92 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21066 Roll Fuchsia Mac SDK from K1oZWWtBn... to 5o9onBKYd...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21067 Roll Skia from 917a2d741e92 to 3d41d509a6a9 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21070 Roll Dart SDK from 66ca43504da0 to 72393cc698da (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#21071 Roll Fuchsia Linux SDK from 9kiAbu3bd... to l8baHga4c...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21072 Roll Skia from 3d41d509a6a9 to fb5e0ebef07c (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21075 Disable a flaky Scenarios test
  testing/scenario_app/ios/Scenarios/ScenariosTests/AppLifecycleTests.m
Labels: cla: yes

#21080 Disable flaky iOS Scenario app tests
  testing/scenario_app/ios/Scenarios/ScenariosTests/AppLifecycleTests.m
  testing/scenario_app/run_ios_tests.sh
Labels: cla: yes

#20794 Implement browser history class for router widget
  lib/web_ui/lib/src/engine/browser_location.dart
  lib/web_ui/lib/src/engine/history.dart
  lib/web_ui/lib/src/engine/test_embedding.dart
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/test/engine/history_test.dart
  lib/web_ui/test/engine/navigation_test.dart
  lib/web_ui/test/window_test.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#21079 Roll Fuchsia Mac SDK from 5o9onBKYd... to b9rM1nBK1...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21074 Roll Skia from fb5e0ebef07c to 0b6bf1c9668e (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21076 add a line to build host for scenario tests
  testing/scenario_app/build_and_run_android_tests.sh
  testing/scenario_app/build_and_run_ios_tests.sh
Labels: cla: yes, waiting for tree to go green

#20981 Clean up deprecated EncodableValue code
  shell/platform/common/cpp/client_wrapper/include/flutter/event_sink.h
  shell/platform/common/cpp/client_wrapper/include/flutter/method_result.h
  shell/platform/glfw/platform_handler.cc
Labels: cla: yes

#21081 Remove deprecated methods from FlutterViewController
  shell/platform/windows/client_wrapper/flutter_view_controller.cc
  shell/platform/windows/client_wrapper/include/flutter/flutter_view_controller.h
Labels: cla: yes

#21082 Minor windows.h cleanup
  shell/platform/windows/client_wrapper/include/flutter/flutter_engine.h
  shell/platform/windows/client_wrapper/include/flutter/flutter_view_controller.h
  shell/platform/windows/client_wrapper/include/flutter/plugin_registrar_windows.h
  shell/platform/windows/public/flutter_windows.h
Labels: cla: yes

#21083 Roll Dart SDK from 72393cc698da to 1abce6d054ad (3 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#21085 Roll Skia from 0b6bf1c9668e to 9d6f955f52e9 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21087 Re-enable (most) iOS Scenarios tests
  testing/scenario_app/ios/Scenarios/ScenariosTests/AppLifecycleTests.m
  testing/scenario_app/ios/Scenarios/ScenariosTests/FlutterViewControllerInitialRouteTest.m
  testing/scenario_app/run_ios_tests.sh
Labels: cla: yes

#21090 Roll Skia from 9d6f955f52e9 to bbe69951b416 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21086 Roll Fuchsia Linux SDK from l8baHga4c... to XIejclW2X...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21092 Roll Dart SDK from 1abce6d054ad to 14f1940f537e (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#21096 Roll Skia from bbe69951b416 to 6518d77a2200 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21089 Copyright header hygiene improvements
  examples/glfw/FlutterEmbedderGLFW.cc
  examples/glfw/main.dart
  flow/embedded_views.h
  flow/flow_run_all_unittests.cc
  flow/flow_test_utils.cc
  flow/flow_test_utils.h
  flutter_frontend_server/bin/starter.dart
  shell/common/shell_test_external_view_embedder.cc
  shell/platform/android/apk_asset_provider.cc
  shell/platform/common/cpp/client_wrapper/testing/stub_flutter_api.cc
  shell/platform/embedder/fixtures/main.dart
  shell/platform/windows/testing/mock_win32_window.cc
  shell/platform/windows/testing/win32_flutter_window_test.cc
  shell/platform/windows/win32_dpi_utils.cc
  shell/platform/windows/win32_flutter_window.cc
  testing/dart/channel_buffers_test.dart
  testing/dart/dart_test.dart
  testing/dart/image_filter_test.dart
  testing/dart/paragraph_test.dart
  testing/dart/semantics_test.dart
  testing/dart/task_order_test.dart
  testing/dart/text_test.dart
  testing/scenario_app/lib/src/channel_util.dart
  testing/scenario_app/lib/src/initial_route_reply.dart
  testing/scenario_app/lib/src/locale_initialization.dart
  testing/scenario_app/lib/src/platform_echo_mixin.dart
  testing/scenario_app/lib/src/poppable_screen.dart
  testing/scenario_app/lib/src/send_text_focus_semantics.dart
  testing/scenario_app/lib/src/touches_scenario.dart
  testing/symbols/verify_exported.dart
  third_party/txt/src/txt/styled_runs.cc
  tools/const_finder/test/const_finder_test.dart
  tools/const_finder/test/fixtures/pkg/package.dart
  tools/generate_package_config/bin/generate_from_legacy.dart
Labels: cla: yes, platform-android

#21088 re-enable scenario tests on iOS
  testing/scenario_app/ios/Scenarios/ScenariosTests/AppLifecycleTests.m
  testing/scenario_app/ios/Scenarios/ScenariosTests/FlutterViewControllerInitialRouteTest.m
Labels: cla: yes

#21093 Roll Dart SDK from 14f1940f537e to 1c887123b92c (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#21101 Roll Fuchsia Mac SDK from b9rM1nBK1... to ggoll70iR...
  DEPS
Labels: cla: yes, waiting for tree to go green

#21102 Handle malloc edge-case in mock_engine
  shell/platform/linux/testing/mock_engine.cc
Labels: cla: yes

#21077 updating the documentation after integration_test migration
  e2etests/web/regular_integration_tests/README.md
Labels: cla: yes

#21109 Fix erroneous dartdoc @tool directive.
  lib/ui/text.dart
Labels: cla: yes, waiting for tree to go green

#21111 Update OCMock to version 3.7.1
  DEPS
Labels: cla: yes

#21121 Roll Fuchsia Linux SDK from XIejclW2X... to f3YqG3OdI...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#21122 Roll Skia from 6518d77a2200 to 9eb848ae8218 (20 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21125 Disable iOS application lifetime Scenario tests
  testing/scenario_app/ios/Scenarios/ScenariosTests/AppLifecycleTests.m
Labels: cla: yes

#21118 Check for a valid SkSL cache directory before calling VisitFiles
  shell/common/persistent_cache.cc
Labels: cla: yes

#21059 Add a new raster status `kSkipAndRetry` frame
  flow/compositor_context.cc
  flow/compositor_context.h
  flow/embedded_views.h
  shell/common/rasterizer.cc
  shell/common/shell_test_external_view_embedder.cc
  shell/common/shell_test_external_view_embedder.h
  shell/common/shell_unittests.cc
  shell/platform/android/external_view_embedder/external_view_embedder.cc
  shell/platform/android/external_view_embedder/external_view_embedder.h
  shell/platform/android/external_view_embedder/external_view_embedder_unittests.cc
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/ios_surface.mm
Labels: cla: yes, platform-android, platform-ios, waiting for tree to go green

#21091 Prefer C++ standard headers to their C counterpart
  common/settings.h
  examples/glfw/FlutterEmbedderGLFW.cc
  flow/layers/layer_tree.h
  flow/matrix_decomposition_unittests.cc
  fml/command_line.h
  fml/log_settings.cc
  fml/platform/android/scoped_java_ref.h
  fml/platform/posix/paths_posix.cc
  fml/platform/posix/posix_wrappers_posix.cc
  fml/platform/win/file_win.cc
  fml/platform/win/posix_wrappers_win.cc
  fml/synchronization/waitable_event.cc
  fml/synchronization/waitable_event_unittest.cc
  fml/time/time_delta.h
  fml/time/time_point.h
  lib/ui/compositing/scene.h
  lib/ui/compositing/scene_builder.h
  lib/ui/compositing/scene_host.h
  lib/ui/dart_runtime_hooks.cc
  lib/ui/painting/canvas.cc
  lib/ui/painting/path.cc
  lib/ui/painting/path_measure.cc
  lib/ui/semantics/semantics_node.cc
  lib/ui/semantics/semantics_node.h
  lib/ui/window/pointer_data.cc
  lib/ui/window/pointer_data.h
  lib/ui/window/pointer_data_packet.cc
  lib/ui/window/pointer_data_packet.h
  lib/ui/window/pointer_data_packet_converter.cc
  lib/ui/window/pointer_data_packet_converter.h
  runtime/dart_service_isolate.cc
  runtime/embedder_resources.cc
  runtime/service_protocol.cc
  shell/common/engine_unittests.cc
  shell/common/shell_unittests.cc
  shell/platform/common/cpp/client_wrapper/core_implementations.cc
  shell/platform/fuchsia/dart-pkg/fuchsia/sdk_ext/fuchsia.cc
  shell/platform/fuchsia/dart-pkg/zircon/sdk_ext/natives.cc
  shell/platform/fuchsia/dart_runner/dart_runner.cc
  shell/platform/fuchsia/dart_runner/embedder/snapshot.h
  shell/platform/fuchsia/flutter/runner.cc
  shell/platform/fuchsia/flutter/thread.cc
  shell/platform/fuchsia/runtime/dart/utils/files.cc
  shell/platform/fuchsia/runtime/dart/utils/vmservice_object.cc
  shell/platform/glfw/flutter_glfw.cc
  shell/platform/linux/fl_json_message_codec_test.cc
  shell/platform/linux/testing/mock_engine.cc
  shell/platform/windows/flutter_windows.cc
  shell/platform/windows/system_utils_unittests.cc
  third_party/tonic/dart_list.h
  third_party/tonic/file_loader/file_loader_fuchsia.cc
  third_party/tonic/filesystem/filesystem/eintr_wrapper.h
  third_party/tonic/filesystem/filesystem/file.cc
  third_party/tonic/filesystem/filesystem/path_posix.cc
  third_party/tonic/filesystem/filesystem/path_win.cc
  third_party/txt/src/utils/TypeHelpers.h
Labels: cla: yes
