Repository flutter/engine, pull requests merged in 2020-03, with the labels that each got.

#16869 Roll src/third_party/skia 71a20b2685c6..ecbb0fb2d5bc (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16871 Roll fuchsia/sdk/core/linux-amd64 from bgFop... to F_Ihm...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#16872 Roll fuchsia/sdk/core/mac-amd64 from K26F5... to 79I0C...
  DEPS
Labels: cla: yes, waiting for tree to go green

#16873 Roll src/third_party/skia ecbb0fb2d5bc..666707336e07 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16874 Roll fuchsia/sdk/core/mac-amd64 from 79I0C... to NoQzJ...
  DEPS
Labels: cla: yes, waiting for tree to go green

#16875 Roll fuchsia/sdk/core/linux-amd64 from F_Ihm... to 22R78...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#16876 Roll src/third_party/skia 666707336e07..231f1bf56556 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16877 Roll src/third_party/dart 09bbd3cca5d4..860dca93ea42 (1 commits)
  DEPS
Labels: cla: yes, waiting for tree to go green

#16878 Roll src/third_party/skia 231f1bf56556..d6205322cdc5 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16879 Roll src/third_party/skia d6205322cdc5..6729496a037f (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16880 Roll src/third_party/skia 6729496a037f..367dbff98555 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16881 Roll fuchsia/sdk/core/mac-amd64 from NoQzJ... to q2DAy...
  DEPS
Labels: cla: yes, waiting for tree to go green

#16882 Roll fuchsia/sdk/core/linux-amd64 from 22R78... to 9NHsJ...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#16884 Roll src/third_party/skia 367dbff98555..986680240f81 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16885 Roll src/third_party/dart 860dca93ea42..fbe9f6115d2f (9 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16886 Roll src/third_party/skia 986680240f81..9dd0bd78b2d7 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16887 Roll src/third_party/skia 9dd0bd78b2d7..470f0637aeea (11 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16888 Roll src/third_party/dart fbe9f6115d2f..0b819161d778 (3 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#16889 Revert "Try rasterizing images and layers only once , even when their…
  flow/raster_cache.cc
  flow/raster_cache.h
  flow/raster_cache_unittests.cc
Labels: cla: yes, waiting for tree to go green

#16891 Roll src/third_party/skia 470f0637aeea..ded437003d0e (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16892 Roll fuchsia/sdk/core/mac-amd64 from q2DAy... to WmA2M...
  DEPS
Labels: cla: yes, waiting for tree to go green

#16896 Const finder missing `static const` list/map/set fields.
  tools/const_finder/lib/const_finder.dart
  tools/const_finder/test/const_finder_test.dart
  tools/const_finder/test/fixtures/lib/box.dart
  tools/const_finder/test/fixtures/lib/consts.dart
Labels: cla: yes

#16893 Roll fuchsia/sdk/core/linux-amd64 from 9NHsJ... to uiAI5...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#16894 Roll src/third_party/skia ded437003d0e..b43cfa4d3f96 (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16898 Roll src/third_party/dart 0b819161d778..ca3ad264a649 (18 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16899 Roll src/third_party/skia b43cfa4d3f96..8121d27b297c (10 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16900 Roll src/third_party/skia 8121d27b297c..73ae40a424fa (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16838 Drop last usages of Dart_New from engine
  ci/licenses_golden/licenses_flutter
  lib/ui/BUILD.gn
  lib/ui/compositing.dart
  lib/ui/compositing/scene.cc
  lib/ui/compositing/scene.h
  lib/ui/dart_ui.cc
  lib/ui/painting.dart
  lib/ui/painting/codec.cc
  lib/ui/painting/codec.h
  lib/ui/painting/frame_info.cc
  lib/ui/painting/frame_info.h
  lib/ui/painting/image.h
  lib/ui/painting/multi_frame_codec.cc
  lib/ui/painting/multi_frame_codec.h
  lib/ui/painting/picture.cc
  lib/ui/painting/picture.h
  lib/ui/painting/single_frame_codec.cc
  lib/ui/painting/single_frame_codec.h
  third_party/tonic/dart_state.cc
  third_party/tonic/dart_state.h
  third_party/tonic/dart_wrappable.cc
  third_party/tonic/dart_wrappable.h
Labels: cla: yes

#16901 Roll src/third_party/skia 73ae40a424fa..b19408040143 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16902 Roll src/third_party/dart ca3ad264a649..06155d499645 (3 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16903 Roll fuchsia/sdk/core/mac-amd64 from WmA2M... to cGxwD...
  DEPS
Labels: cla: yes, waiting for tree to go green

#16904 Roll src/third_party/dart 06155d499645..c07d5d84b828 (3 commits)
  DEPS
Labels: cla: yes, waiting for tree to go green

#16905 Roll src/third_party/skia b19408040143..853789cdfe3c (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16906 Roll src/third_party/skia 853789cdfe3c..96c2eb6258ae (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16907 Roll fuchsia/sdk/core/linux-amd64 from uiAI5... to ULy6Z...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#16908 Roll src/third_party/skia 96c2eb6258ae..b58098f34c56 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16909 Roll src/third_party/dart c07d5d84b828..e7e45599cb1a (9 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16910 Roll src/third_party/skia b58098f34c56..ae2da5e7f9b5 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16911 Roll src/third_party/skia ae2da5e7f9b5..964aa91580b6 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16912 Roll src/third_party/skia 964aa91580b6..4036cb1f0b6e (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16913 Roll src/third_party/dart e7e45599cb1a..5701c4fd3b11 (25 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16915 Revert "Drop last usages of Dart_New from engine (#16838)"
  ci/licenses_golden/licenses_flutter
  lib/ui/BUILD.gn
  lib/ui/compositing.dart
  lib/ui/compositing/scene.cc
  lib/ui/compositing/scene.h
  lib/ui/dart_ui.cc
  lib/ui/painting.dart
  lib/ui/painting/codec.cc
  lib/ui/painting/codec.h
  lib/ui/painting/frame_info.cc
  lib/ui/painting/frame_info.h
  lib/ui/painting/image.h
  lib/ui/painting/multi_frame_codec.cc
  lib/ui/painting/multi_frame_codec.h
  lib/ui/painting/picture.cc
  lib/ui/painting/picture.h
  lib/ui/painting/single_frame_codec.cc
  lib/ui/painting/single_frame_codec.h
  third_party/tonic/dart_state.cc
  third_party/tonic/dart_state.h
  third_party/tonic/dart_wrappable.cc
  third_party/tonic/dart_wrappable.h
Labels: cla: yes

#16914 Roll fuchsia/sdk/core/mac-amd64 from cGxwD... to VQHsS...
  DEPS
Labels: cla: yes, waiting for tree to go green

#16917 Roll src/third_party/skia 4036cb1f0b6e..a54af923929b (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16918 Roll src/third_party/skia a54af923929b..20ed48e8e963 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16920 Roll fuchsia/sdk/core/linux-amd64 from ULy6Z... to vH9-3...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#16921 Roll src/third_party/skia 20ed48e8e963..64a3f8fcb749 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16924 Request EGL in GLFW window creation
  shell/platform/glfw/flutter_glfw.cc
Labels: cla: yes

#16922 Roll src/third_party/dart 5701c4fd3b11..57462f9ca520 (7 commits)
  DEPS
Labels: cla: yes, waiting for tree to go green

#16925 Roll fuchsia/sdk/core/mac-amd64 from VQHsS... to 8HrJn...
  DEPS
Labels: cla: yes, waiting for tree to go green

#16932 Remove debug log
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
Labels: cla: yes, waiting for tree to go green

#16933 Refactor isolate test
  runtime/dart_isolate_unittests.cc
  testing/BUILD.gn
  testing/dart_isolate_runner.h
Labels: cla: yes, waiting for tree to go green

#16916 Fixed splash screen crash when bringing Android app back to foreground after being evicted from memory. (#47635)
  shell/platform/android/io/flutter/embedding/android/FlutterSplashView.java
Labels: cla: yes

#16940 Roll src/third_party/skia 3a5974f68d4b..93d75eff08b0 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16937 Added compiling the dart code for scenario tests as part of the xcode build
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/run_ios_tests.sh
Labels: cla: yes

#16936 Roll Dart to df5036eb6e738c723339ed74c1e8ca93bea2570d.
  DEPS
  ci/licenses_golden/licenses_third_party
  third_party/tonic/dart_persistent_value.cc
  third_party/tonic/dart_wrappable.cc
Labels: cla: yes

#16941 fix OOL def for dart_isolate_runner
  testing/BUILD.gn
  testing/dart_isolate_runner.cc
  testing/dart_isolate_runner.h
Labels: cla: yes

#16942 Roll src/third_party/skia 93d75eff08b0..50d7d6fd7280 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16928 Make GetDefaultFontFamilies return a vector<string> instead of a string.
  shell/platform/linux/BUILD.gn
  third_party/txt/src/txt/font_collection.cc
  third_party/txt/src/txt/platform.cc
  third_party/txt/src/txt/platform.h
  third_party/txt/src/txt/platform_android.cc
  third_party/txt/src/txt/platform_fuchsia.cc
  third_party/txt/src/txt/platform_linux.cc
  third_party/txt/src/txt/platform_mac.mm
  third_party/txt/src/txt/platform_windows.cc
  third_party/txt/src/txt/text_style.cc
Labels: cla: yes

#16943 Roll src/third_party/dart df5036eb6e73..8e5354dccb64 (14 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16948 Remove duplicate dependency on the Dart language model
  DEPS
Labels: cla: yes

#16953 Roll src/third_party/skia 50d7d6fd7280..f6ed96d1c23b (11 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16949 Roll fuchsia/sdk/core/mac-amd64 from 8HrJn... to 6eF38...
  DEPS
Labels: cla: yes, waiting for tree to go green

#16954 Roll src/third_party/dart 8e5354dccb64..d1d89c8ce1a1 (10 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#16955 Roll src/third_party/skia f6ed96d1c23b..d2f18734aa84 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16248 Avoid generating VSYNC trace events when tracing to systrace.
  shell/common/vsync_waiter.cc
  shell/platform/android/vsync_waiter_android.cc
  shell/platform/darwin/ios/framework/Source/vsync_waiter_ios.mm
Labels: cla: yes

#16945 Fixed FlutterPlugin.h doxygen.
  shell/platform/darwin/ios/framework/Headers/FlutterPlugin.h
Labels: cla: yes

#16956 Roll src/third_party/skia d2f18734aa84..b803ef83d68f (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16957 Roll src/third_party/dart d1d89c8ce1a1..9983424a3c50 (10 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16958 Roll src/third_party/skia b803ef83d68f..1b1b0d5abb75 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16959 Roll src/third_party/skia 1b1b0d5abb75..db20afc1bf3c (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#16966 Roll src/third_party/skia db20afc1bf3c..012f8497802e (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16969 Roll fuchsia/sdk/core/mac-amd64 from 6eF38... to J6ct_...
  DEPS
Labels: cla: yes, waiting for tree to go green

#16970 Roll fuchsia/sdk/core/linux-amd64 from cXgMr... to cTw2C...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#16963 fix shadows and mask filter blurs
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/canvas_pool.dart
  lib/web_ui/lib/src/engine/compositor/util.dart
  lib/web_ui/lib/src/engine/dom_canvas.dart
  lib/web_ui/lib/src/engine/shadow.dart
  lib/web_ui/lib/src/engine/surface/clip.dart
  lib/web_ui/lib/src/engine/surface/recording_canvas.dart
  lib/web_ui/lib/src/engine/surface/scene_builder.dart
  lib/web_ui/test/golden_tests/engine/recording_canvas_golden_test.dart
  lib/web_ui/test/golden_tests/engine/shadow_golden_test.dart
Labels: cla: yes

#16974 Roll src/third_party/skia 012f8497802e..93a2a6b8badb (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16981 Roll src/third_party/skia 93a2a6b8badb..74055566bd14 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16834 [fuchsia] fix broken flows when under high load
  shell/platform/fuchsia/flutter/session_connection.cc
Labels: cla: yes

#16672 Fix issue viewdidload call while init FlutterViewController
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.m
  shell/platform/darwin/ios/platform_view_ios.h
  shell/platform/darwin/ios/platform_view_ios.mm
Labels: cla: yes

#16965 [web] Fixes IE11 crash due to missing canvas ellipse support and font polyfill failure
  lib/web_ui/lib/src/engine/canvas_pool.dart
  lib/web_ui/lib/src/engine/dom_renderer.dart
  lib/web_ui/lib/src/engine/rrect_renderer.dart
  lib/web_ui/lib/src/engine/text/font_collection.dart
Labels: cla: yes

#16982 Roll fuchsia/sdk/core/mac-amd64 from J6ct_... to 95geB...
  DEPS
Labels: cla: yes, waiting for tree to go green

#16983 Roll src/third_party/skia 74055566bd14..54de2fa48d85 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16984 Roll fuchsia/sdk/core/linux-amd64 from cTw2C... to K1wwe...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#16987 Roll src/third_party/skia 54de2fa48d85..beaaf4700f50 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16988 remove 10s timeouts from tests
  lib/web_ui/test/golden_tests/engine/canvas_arc_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_draw_points_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_lines_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_rect_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_rrect_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_stroke_joins_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_stroke_rects_golden_test.dart
  lib/web_ui/test/golden_tests/engine/compositing_golden_test.dart
  lib/web_ui/test/golden_tests/engine/conic_golden_test.dart
  lib/web_ui/test/golden_tests/engine/path_to_svg_golden_test.dart
  lib/web_ui/test/golden_tests/engine/shadow_golden_test.dart
Labels: cla: yes

#16990 Roll src/third_party/skia beaaf4700f50..6e58290ba639 (9 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16992 fushia licenses fix
  ci/licenses_golden/licenses_fuchsia
  ci/licenses_golden/tool_signature
  sky/packages/sky_engine/LICENSE
  tools/licenses/lib/main.dart
Labels: cla: yes

#16950 documented fluttertexture.h
  shell/platform/darwin/common/framework/Headers/FlutterTexture.h
Labels: cla: yes

#16996 Roll src/third_party/skia 6e58290ba639..24a8e9e170f7 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16930 [web] Engine integration test
  .cirrus.yml
  .gitignore
  ci/licenses_golden/tool_signature
  e2etests/web/regular_integration_tests/README.md
  e2etests/web/regular_integration_tests/lib/text_editing_main.dart
  e2etests/web/regular_integration_tests/pubspec.yaml
  e2etests/web/regular_integration_tests/test_driver/text_editing_e2e.dart
  e2etests/web/regular_integration_tests/test_driver/text_editing_e2e_test.dart
  e2etests/web/regular_integration_tests/web/index.html
  tools/licenses/lib/main.dart
Labels: cla: yes, platform-web

#16947 doxygen tooling updates and doxygen for FlutterCodecs.h
  shell/platform/darwin/Doxyfile
  shell/platform/darwin/common/framework/Headers/FlutterCodecs.h
  shell/platform/darwin/find-undocumented-ios.sh
Labels: cla: yes

#16998 Started deleting .DS_Store files so licenses can run on mac os x.
  ci/licenses.sh
Labels: cla: yes

#17004 Roll src/third_party/skia 24a8e9e170f7..cf573d844da6 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#17006 Roll fuchsia/sdk/core/mac-amd64 from 95geB... to hW33F...
  DEPS
Labels: cla: yes, waiting for tree to go green

#17007 Roll fuchsia/sdk/core/linux-amd64 from K1wwe... to FGMpI...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#17008 Revert "fix shadows and mask filter blurs (#16963)"
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/canvas_pool.dart
  lib/web_ui/lib/src/engine/compositor/util.dart
  lib/web_ui/lib/src/engine/dom_canvas.dart
  lib/web_ui/lib/src/engine/shadow.dart
  lib/web_ui/lib/src/engine/surface/clip.dart
  lib/web_ui/lib/src/engine/surface/recording_canvas.dart
  lib/web_ui/lib/src/engine/surface/scene_builder.dart
  lib/web_ui/test/golden_tests/engine/recording_canvas_golden_test.dart
  lib/web_ui/test/golden_tests/engine/shadow_golden_test.dart
Labels: cla: yes

#17009 Roll src/third_party/skia cf573d844da6..2e19af063bcc (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#17012 Roll fuchsia/sdk/core/linux-amd64 from FGMpI... to YcueJ...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#17011 Update linux desktop deps installation script
  build/install-build-deps-linux-desktop.sh
Labels: cla: yes

#17013 Roll fuchsia/sdk/core/mac-amd64 from hW33F... to t3S3W...
  DEPS
Labels: cla: yes, waiting for tree to go green

#17016 Roll fuchsia/sdk/core/linux-amd64 from YcueJ... to Rhz2c...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#17018 Roll fuchsia/sdk/core/mac-amd64 from t3S3W... to 8Wp6x...
  DEPS
Labels: cla: yes, waiting for tree to go green

#17019 Roll src/third_party/skia b18390699ea2..475b9d0fb796 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#17021 Roll src/third_party/skia 475b9d0fb796..c56950442dd1 (1 commits)
  DEPS
Labels: cla: yes, waiting for tree to go green

#17002 [frontend_server] forward new module name flag
  flutter_frontend_server/lib/server.dart
Labels: cla: yes, waiting for tree to go green

#17024 Roll fuchsia/sdk/core/linux-amd64 from Rhz2c... to v32mJ...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#17027 Roll fuchsia/sdk/core/mac-amd64 from 8Wp6x... to r_oCI...
  DEPS
Labels: cla: yes, waiting for tree to go green

#17032 clone_flutter.sh: use commit date instead of author date
  tools/clone_flutter.sh
Labels: cla: yes

#17033 Roll src/third_party/skia c56950442dd1..23899c64e3db (11 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16991 Record fml and shell benchmarks
  .cirrus.yml
Labels: cla: yes

#16960 Fix bounds of image_filter_layer
  flow/layers/image_filter_layer.cc
  flow/layers/image_filter_layer_unittests.cc
Labels: cla: yes

#17038 Disable shell benchmarks
  .cirrus.yml
Labels: cla: yes

#17020 Add libfreetype6-dev to desktop Linux dependencies
  build/install-build-deps-linux-desktop.sh
Labels: cla: yes

#16689 Add more child lifecycle tests
  lib/web_ui/lib/src/engine/surface/scene_builder.dart
  lib/web_ui/test/engine/surface/surface_test.dart
Labels: cla: yes

#16995 fix "TREE INCONSISTENT" noise in compositing_test.dart
  lib/web_ui/lib/src/engine/surface/picture.dart
  lib/web_ui/test/compositing_test.dart
Labels: cla: yes

#17044 Add support for firefox mac installer. Update web_ui pubspec for http.wq
  lib/web_ui/dev/common.dart
  lib/web_ui/dev/firefox.dart
  lib/web_ui/dev/firefox_installer.dart
  lib/web_ui/pubspec.yaml
Labels: cla: yes

#17040 Revert "Revert "fix shadows and mask filter blurs (#16963)" (#17008)"
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/canvas_pool.dart
  lib/web_ui/lib/src/engine/compositor/util.dart
  lib/web_ui/lib/src/engine/dom_canvas.dart
  lib/web_ui/lib/src/engine/shadow.dart
  lib/web_ui/lib/src/engine/surface/clip.dart
  lib/web_ui/lib/src/engine/surface/recording_canvas.dart
  lib/web_ui/lib/src/engine/surface/scene_builder.dart
  lib/web_ui/test/golden_tests/engine/recording_canvas_golden_test.dart
  lib/web_ui/test/golden_tests/engine/shadow_golden_test.dart
Labels: cla: yes

#16824 Avoid capturing this unsafely in MultiFrameCodec
  ci/licenses_golden/licenses_flutter
  lib/ui/BUILD.gn
  lib/ui/fixtures/ui_test.dart
  lib/ui/painting/image_decoder_test.cc
  lib/ui/painting/image_decoder_test.h
  lib/ui/painting/image_decoder_unittests.cc
  lib/ui/painting/multi_frame_codec.cc
  lib/ui/painting/multi_frame_codec.h
Labels: cla: yes

#16994 [web] Fixes for Firefox & Safari double underline decoration bugs.
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/lib/src/engine/text/ruler.dart
Labels: cla: yes

#17067 Roll dart to 97674262bc29447dc59d5c93024b18b27d4bcf98.
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#17069 Roll src/third_party/skia 23899c64e3db..78dac6dcb222 (19 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#17051 Use the ELF loader to setup AOT symbols in benchmark runner.
  lib/ui/BUILD.gn
  runtime/BUILD.gn
  shell/common/BUILD.gn
  shell/common/shell_benchmarks.cc
  shell/platform/embedder/BUILD.gn
  testing/BUILD.gn
Labels: cla: yes, waiting for tree to go green

#17074 Revert "Fix bounds of image_filter_layer"
  flow/layers/image_filter_layer.cc
  flow/layers/image_filter_layer_unittests.cc
Labels: cla: yes

#17072 Roll src/third_party/skia 78dac6dcb222..d3f67dbf9f36 (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#16923 Add Flutter RTree
  ci/licenses_golden/licenses_flutter
  flow/BUILD.gn
  flow/rtree.cc
  flow/rtree.h
  flow/rtree_unittests.cc
Labels: cla: yes

#17078 Roll src/third_party/dart 97674262bc29..ace1d9b9213a (14 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#17046 Implement asynchronous texture uploads when using the Metal backend on iOS.
  ci/licenses_golden/licenses_flutter
  flow/compositor_context.cc
  lib/ui/painting/image_decoder.cc
  shell/common/rasterizer.cc
  shell/gpu/gpu_surface_gl.h
  shell/gpu/gpu_surface_metal.h
  shell/gpu/gpu_surface_metal.mm
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterOverlayView.h
  shell/platform/darwin/ios/framework/Source/FlutterOverlayView.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterView.h
  shell/platform/darwin/ios/framework/Source/FlutterView.mm
  shell/platform/darwin/ios/ios_context.h
  shell/platform/darwin/ios/ios_context.mm
  shell/platform/darwin/ios/ios_context_gl.h
  shell/platform/darwin/ios/ios_context_gl.mm
  shell/platform/darwin/ios/ios_context_metal.h
  shell/platform/darwin/ios/ios_context_metal.mm
  shell/platform/darwin/ios/ios_context_software.h
  shell/platform/darwin/ios/ios_context_software.mm
  shell/platform/darwin/ios/ios_external_texture_gl.h
  shell/platform/darwin/ios/ios_gl_context.mm
  shell/platform/darwin/ios/ios_gl_render_target.h
  shell/platform/darwin/ios/ios_render_target_gl.h
  shell/platform/darwin/ios/ios_render_target_gl.mm
  shell/platform/darwin/ios/ios_surface.h
  shell/platform/darwin/ios/ios_surface.mm
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_metal.h
  shell/platform/darwin/ios/ios_surface_metal.mm
  shell/platform/darwin/ios/ios_surface_software.h
  shell/platform/darwin/ios/ios_surface_software.mm
  shell/platform/darwin/ios/platform_view_ios.h
  shell/platform/darwin/ios/platform_view_ios.mm
  shell/platform/darwin/ios/rendering_api_selection.h
  shell/platform/darwin/ios/rendering_api_selection.mm
Labels: cla: yes

#16450 Gather demangled stack traces and report the same to console on crashes.
  benchmarking/benchmarking.cc
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/backtrace.cc
  fml/backtrace.h
  fml/backtrace_stub.cc
  fml/backtrace_unittests.cc
  testing/run_all_unittests.cc
Labels: cla: yes, waiting for tree to go green

#17081 Disable Embedder11yTest::A11yTreeIsConsistent to unblock LUCI.
  shell/platform/embedder/tests/embedder_a11y_unittests.cc
Labels: cla: yes

#17079 Roll src/third_party/skia d3f67dbf9f36..bf355123ae3b (9 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#17080 Add support for the Metal backend on all iOS builds.
  tools/gn
Labels: cla: yes, waiting for tree to go green

#17082 Roll src/third_party/dart ace1d9b9213a..4093d08271f6 (12 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#17088 Revert "Add support for the Metal backend on all iOS builds."
  tools/gn
Labels: cla: yes

#17084 Remove the unused method on iOS surface to make the resource context current.
  shell/platform/darwin/ios/ios_surface.h
  shell/platform/darwin/ios/ios_surface.mm
Labels: cla: yes, waiting for tree to go green

#17086 Roll fuchsia/sdk/core/linux-amd64 from v32mJ... to X3Xm2...
  DEPS
  ci/licenses_golden/licenses_fuchsia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#17087 Roll fuchsia/sdk/core/mac-amd64 from r_oCI... to 0Z8VF...
  DEPS
Labels: cla: yes, waiting for tree to go green

#17090 Roll src/third_party/dart 4093d08271f6..37530145ff53 (4 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#17095 Roll src/third_party/skia 0340292972b9..6dc0f63a509c (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#17096 Roll src/third_party/dart 37530145ff53..684c53a6f174 (16 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#17097 [web] increasing user limits for macos
  lib/web_ui/dev/felt
Labels: cla: yes

#17098 Roll src/third_party/skia 6dc0f63a509c..dafbf121a8b1 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#17100 Use the standard [[nodiscard]] attribute instead of an FML macro.
  assets/asset_resolver.h
  flow/layers/layer.h
  flow/scene_update_context.h
  fml/compiler_specific.h
  fml/message.h
  fml/platform/darwin/scoped_block.h
  fml/platform/darwin/scoped_nsobject.h
  fml/synchronization/semaphore.h
  fml/unique_object.h
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/dart_service_isolate.h
  runtime/dart_vm_lifecycle.h
  runtime/service_protocol.cc
  runtime/service_protocol.h
  shell/common/engine.h
  shell/common/pipeline.h
  testing/dart_isolate_runner.cc
  testing/dart_isolate_runner.h
  vulkan/vulkan_backbuffer.h
  vulkan/vulkan_command_buffer.h
  vulkan/vulkan_device.h
  vulkan/vulkan_image.h
  vulkan/vulkan_swapchain.h
  vulkan/vulkan_window.h
Labels: cla: yes, waiting for tree to go green

#17104 Roll src/third_party/skia dafbf121a8b1..f0140ee00f95 (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#17105 Roll src/third_party/dart 684c53a6f174..17eec5bcde78 (6 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#17101 Remove unused or unnecessary compiler specific marcos in FML.
  fml/compiler_specific.h
Labels: cla: yes, waiting for tree to go green

#17111 Roll src/third_party/skia f0140ee00f95..1743144ab839 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#17107 Roll fuchsia/sdk/core/mac-amd64 from 0Z8VF... to lbDph...
  DEPS
Labels: cla: yes, waiting for tree to go green

#17110 Roll src/third_party/dart 17eec5bcde78..33349076ee7f (11 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#17113 Roll src/third_party/skia 1743144ab839..9b449b73d367 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#17116 Define embedding dependencies in Gradle
  shell/platform/android/embedding_bundle/README.md
  shell/platform/android/embedding_bundle/build.gradle
  shell/platform/android/embedding_bundle/cipd.yaml
  shell/platform/android/test/README.md
  shell/platform/android/test/cipd.yaml
Labels: cla: yes
