Repository flutter/engine, pull requests merged in 2020-05, with the labels that each got.

#18079 Roll fuchsia/sdk/core/mac-amd64 from rxvhs... to 2VquQ...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18083 Roll fuchsia/sdk/core/linux-amd64 from KcV-O... to cIjMH...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#18070 Add an API for resyncing output streams
  shell/platform/windows/flutter_windows.cc
  shell/platform/windows/public/flutter_windows.h
Labels: cla: yes

#18006 [fuchsia] set vsync_offset based on config file
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/component.cc
  shell/platform/fuchsia/flutter/component.h
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/engine.h
  shell/platform/fuchsia/flutter/engine_flutter_runner.gni
  shell/platform/fuchsia/flutter/flutter_runner_product_configuration.cc
  shell/platform/fuchsia/flutter/flutter_runner_product_configuration.h
  shell/platform/fuchsia/flutter/platform_view.cc
  shell/platform/fuchsia/flutter/platform_view.h
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
  shell/platform/fuchsia/flutter/tests/flutter_runner_product_configuration_unittests.cc
  shell/platform/fuchsia/flutter/vsync_waiter.cc
  shell/platform/fuchsia/flutter/vsync_waiter.h
  shell/platform/fuchsia/flutter/vsync_waiter_unittests.cc
Labels: cla: yes

#18066 1.17.0-3.4.pre Engine Cherrypicks
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#18050 Introduce runtime check that it is root isolate that makes UI native calls.
  lib/ui/compositing/scene_builder.cc
  lib/ui/compositing/scene_host.cc
  lib/ui/dart_ui.cc
  lib/ui/dart_ui.h
  lib/ui/painting/canvas.cc
  lib/ui/painting/codec.cc
  lib/ui/painting/color_filter.cc
  lib/ui/painting/gradient.cc
  lib/ui/painting/image_filter.cc
  lib/ui/painting/path.cc
  lib/ui/painting/path_measure.cc
  lib/ui/painting/picture_recorder.cc
  lib/ui/painting/vertices.cc
  lib/ui/semantics/semantics_update.cc
  lib/ui/semantics/semantics_update_builder.cc
  lib/ui/text/font_collection.cc
  lib/ui/text/paragraph_builder.cc
  lib/ui/ui_dart_state.cc
  lib/ui/ui_dart_state.h
  lib/ui/window/window.cc
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  shell/platform/fuchsia/dart-pkg/zircon/sdk_ext/handle.cc
  shell/platform/fuchsia/dart-pkg/zircon/sdk_ext/handle_waiter.cc
  third_party/tonic/dart_binding_macros.h
Labels: cla: yes

#17649 Introduce task_runner_checker, task_runner_weak_ptr
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/memory/task_runner_checker.cc
  fml/memory/task_runner_checker.h
  fml/memory/task_runner_checker_unittest.cc
  fml/memory/weak_ptr.h
  fml/memory/weak_ptr_unittest.cc
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/common/shell.cc
  shell/common/shell.h
  shell/gpu/gpu_surface_gl.cc
  shell/gpu/gpu_surface_software.cc
Labels: cla: yes

#18088 Roll src/third_party/skia 5ba50afeed4c..e55e56038cf4 (26 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18076 Don't depend on an implicit transaction when presenting drawables on the raster thread.
  shell/gpu/gpu_surface_metal.mm
  shell/platform/darwin/ios/ios_surface.mm
Labels: cla: yes

#18081 Revert "Remove Samsung workaround"
  shell/platform/android/io/flutter/plugin/editing/InputConnectionAdaptor.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
Labels: cla: yes

#18090 Roll fuchsia/sdk/core/mac-amd64 from 2VquQ... to ByAMa...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18091 Roll src/third_party/skia e55e56038cf4..5443bb32a2ad (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#17915 Reland "Remove layer integral offset snapping"
  flow/layers/container_layer.cc
  flow/layers/container_layer.h
  flow/layers/image_filter_layer.cc
  flow/layers/image_filter_layer_unittests.cc
  flow/layers/opacity_layer.cc
  flow/layers/opacity_layer_unittests.cc
  flow/layers/picture_layer.cc
  flow/layers/picture_layer_unittests.cc
  flow/raster_cache.h
  flow/raster_cache_key.h
  flow/raster_cache_unittests.cc
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_background_foreground_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_opacity_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_rotate_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_transform_iPhone 8_simulator.png
Labels: cla: yes

#18067 Update Fuchsia ComponentContext constructor call to renamed, but equvalent, method
  shell/platform/fuchsia/flutter/tests/session_connection_unittests.cc
Labels: cla: yes

#18095 Roll src/third_party/skia 5443bb32a2ad..64964bb1150e (23 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18096 Roll src/third_party/dart 53601ecc18e5..eca696c0268f (81 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18098 Roll fuchsia/sdk/core/linux-amd64 from cIjMH... to Rp56G...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#18097 Present Metal drawable with a transaction only when on the Main thread.
  shell/gpu/gpu_surface_metal.mm
Labels: cla: yes

#18089 CP fix for web_engine_integration_test_linux to 1.17 engine
  tools/clone_flutter.sh
Labels: cla: yes

#18099 Roll src/third_party/skia 64964bb1150e..80cab814091d (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18100 Roll src/third_party/dart eca696c0268f..be1f85847fd5 (3 commits)
  DEPS
Labels: cla: yes, waiting for tree to go green

#18101 Roll fuchsia/sdk/core/mac-amd64 from ByAMa... to -_piy...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18102 Roll src/third_party/dart be1f85847fd5..a42e6ac0356d (1 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18103 Roll src/third_party/dart a42e6ac0356d..c3ce87355614 (3 commits)
  DEPS
Labels: cla: yes, waiting for tree to go green

#18104 Roll fuchsia/sdk/core/linux-amd64 from Rp56G... to KmYk_...
  DEPS
  ci/licenses_golden/licenses_fuchsia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18109 Roll fuchsia/sdk/core/mac-amd64 from -_piy... to 86k0P...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18110 Roll src/third_party/dart c3ce87355614..d5af40b640f7 (1 commits)
  DEPS
Labels: cla: yes, waiting for tree to go green

#17980 [web] Fix cachedLastStyle state leak across canvases. Reduce ctx.font reset calls.
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
Labels: cla: yes

#18114 Roll src/third_party/dart d5af40b640f7..3a7633a191ca (2 commits)
  DEPS
Labels: cla: yes, waiting for tree to go green

#18113 Roll fuchsia/sdk/core/linux-amd64 from KmYk_... to ylgTh...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#18117 Roll fuchsia/sdk/core/mac-amd64 from 86k0P... to sYtg-...
  DEPS
Labels: cla: yes, waiting for tree to go green

#17995 Support platform messages in Linux shell
  ci/licenses_golden/licenses_flutter
  shell/platform/linux/BUILD.gn
  shell/platform/linux/fl_binary_messenger.cc
  shell/platform/linux/fl_binary_messenger_private.h
  shell/platform/linux/fl_engine.cc
  shell/platform/linux/fl_engine_private.h
  shell/platform/linux/fl_renderer_x11.cc
  shell/platform/linux/fl_renderer_x11.h
  shell/platform/linux/fl_view.cc
  shell/platform/linux/public/flutter_linux/fl_binary_messenger.h
  shell/platform/linux/public/flutter_linux/fl_engine.h
  shell/platform/linux/public/flutter_linux/flutter_linux.h
Labels: cla: yes

#18120 Roll src/third_party/skia 57f289d7423c..cdf23dd9f1b5 (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18121 Roll src/third_party/dart 3a7633a191ca..e2c223de2e2a (1 commits)
  DEPS
Labels: cla: yes, waiting for tree to go green

#17867 [web] Remove left/top/transform reset since all code paths now set ltwh
  lib/web_ui/lib/src/engine/surface/clip.dart
Labels: cla: yes

#18122 Roll src/third_party/dart e2c223de2e2a..e7bebea059ff (11 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18123 Roll src/third_party/skia cdf23dd9f1b5..4dab280c2835 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18127 Roll src/third_party/skia 4dab280c2835..8a2f29eae7a5 (10 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18019 [web] also hide scrollbars in text_editing
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
Labels: cla: yes

#18116 Move G_END_DECLS that was in the wrong place
  shell/platform/linux/fl_renderer.h
Labels: cla: yes

#18129 Roll src/third_party/skia 8a2f29eae7a5..9588a643d96f (9 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18130 Roll src/third_party/dart e7bebea059ff..01820c20a540 (15 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18072 Remove the ResourceCleaner from the Android embedding
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/engine/loader/FlutterLoader.java
  shell/platform/android/io/flutter/embedding/engine/loader/ResourceCleaner.java
  shell/platform/android/io/flutter/embedding/engine/loader/ResourcePaths.java
  tools/android_lint/project.xml
Labels: cla: yes, waiting for tree to go green

#18132 Revert again "Remove layer integral offset snapping"
  flow/layers/container_layer.cc
  flow/layers/container_layer.h
  flow/layers/image_filter_layer.cc
  flow/layers/image_filter_layer_unittests.cc
  flow/layers/opacity_layer.cc
  flow/layers/opacity_layer_unittests.cc
  flow/layers/picture_layer.cc
  flow/layers/picture_layer_unittests.cc
  flow/raster_cache.h
  flow/raster_cache_key.h
  flow/raster_cache_unittests.cc
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_background_foreground_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_opacity_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_rotate_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_transform_iPhone 8_simulator.png
Labels: cla: yes, perf: speed, severe: performance, waiting for tree to go green

#18133 Roll fuchsia/sdk/core/linux-amd64 from ylgTh... to xJlpY...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#18134 Roll src/third_party/skia 9588a643d96f..d5f937bfca36 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18136 Roll fuchsia/sdk/core/mac-amd64 from sYtg-... to ERGnT...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18138 Revert again "Remove layer integral offset snapping" (#18132)
  flow/layers/container_layer.cc
  flow/layers/container_layer.h
  flow/layers/image_filter_layer.cc
  flow/layers/image_filter_layer_unittests.cc
  flow/layers/opacity_layer.cc
  flow/layers/opacity_layer_unittests.cc
  flow/layers/picture_layer.cc
  flow/layers/picture_layer_unittests.cc
  flow/raster_cache.h
  flow/raster_cache_key.h
  flow/raster_cache_unittests.cc
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_background_foreground_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_opacity_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_rotate_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_transform_iPhone 8_simulator.png
Labels: cla: yes, waiting for tree to go green

#18139 Roll src/third_party/skia d5f937bfca36..6d2febd632a2 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18040 [web] Add support for syncing unicode line break properties
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/text/line_break_properties.dart
  lib/web_ui/lib/src/engine/text/unicode_range.dart
  lib/web_ui/lib/src/engine/text/word_break_properties.dart
  lib/web_ui/lib/src/engine/text/word_breaker.dart
  lib/web_ui/lib/src/ui/initialization.dart
  lib/web_ui/tool/unicode_sync_script.dart
Labels: cla: yes, platform-web

#18141 Roll src/third_party/skia 6d2febd632a2..41e377d1baf0 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18143 Roll src/third_party/dart 01820c20a540..9c94f0841078 (17 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18147 Roll src/third_party/dart 9c94f0841078..7bb38670d279 (12 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#18148 Roll fuchsia/sdk/core/linux-amd64 from xJlpY... to gnNdl...
  DEPS
  ci/licenses_golden/licenses_fuchsia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18128 [web] Workaround for compositing bug in chrome/webkit
  lib/web_ui/lib/src/engine/canvas_pool.dart
  lib/web_ui/lib/src/engine/surface/clip.dart
  lib/web_ui/test/compositing_test.dart
Labels: cla: yes

#18111 [web] Add support for ColorFilter on images
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/html_image_codec.dart
  lib/web_ui/test/golden_tests/engine/canvas_image_blend_mode_test.dart
  lib/web_ui/test/golden_tests/engine/recording_canvas_golden_test.dart
Labels: cla: yes

#18135 [web] Upgrade the test package to remove the dependency on package_resolver
  lib/web_ui/dev/browser.dart
  lib/web_ui/dev/test_platform.dart
  lib/web_ui/pubspec.yaml
  web_sdk/web_engine_tester/pubspec.yaml
Labels: cla: yes, waiting for tree to go green

#18151 Manually add dependency for shelf_proxy
  DEPS
Labels: cla: yes

#18152 Roll src/third_party/skia 3d311a983bf0..0cbd58766ace (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18155 Roll fuchsia/sdk/core/mac-amd64 from ERGnT... to c5NQZ...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18161 Roll src/third_party/dart 7bb38670d279..1ef444139c4c (22 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18154 gpu_metal_surface `submitframe` return false when canvas is null
  shell/gpu/gpu_surface_metal.mm
Labels: cla: yes

#18153 [iOS platform view] fix active_composition_order_ never cleared
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
Labels: cla: yes

#18159 Add first Linux shell tests
  BUILD.gn
  ci/licenses_golden/licenses_flutter
  shell/platform/linux/BUILD.gn
  shell/platform/linux/fl_dart_project_test.cc
  shell/platform/linux/public/flutter_linux/fl_dart_project.h
  testing/run_tests.py
Labels: cla: yes

#18165 [web] Implement path winding. Fix path bounds for multirect.
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/canvas_pool.dart
  lib/web_ui/lib/src/engine/surface/path.dart
  lib/web_ui/lib/src/engine/surface/recording_canvas.dart
  lib/web_ui/test/golden_tests/engine/canvas_winding_rule_test.dart
  lib/web_ui/test/path_test.dart
Labels: cla: yes

#18167 Roll src/third_party/skia 0cbd58766ace..e1c0cb3de8ab (8 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18168 Roll src/third_party/skia e1c0cb3de8ab..1e8fb04b29b9 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18171 Roll fuchsia/sdk/core/linux-amd64 from gnNdl... to RpHTv...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#18172 Roll src/third_party/dart 1ef444139c4c..8c8249fa0123 (11 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18173 Roll src/third_party/skia 1e8fb04b29b9..c5727d8e34d2 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18174 Roll src/third_party/skia c5727d8e34d2..999257d870d7 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18175 Roll fuchsia/sdk/core/mac-amd64 from c5NQZ... to jMJqf...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18176 Roll src/third_party/skia 999257d870d7..c1ad77cf482a (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18177 Roll src/third_party/dart 8c8249fa0123..4da5b40fb6dc (14 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#17986 Autofill main part
  lib/web_ui/dev/browser_lock.yaml
  lib/web_ui/lib/src/engine/keyboard.dart
  lib/web_ui/lib/src/engine/text_editing/autofill_hint.dart
  lib/web_ui/lib/src/engine/text_editing/input_type.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/text_editing_test.dart
Labels: cla: yes

#17960 Custom unicode handling for Android backspace via JNI to ICU
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/plugin/editing/FlutterTextUtils.java
  shell/platform/android/io/flutter/plugin/editing/InputConnectionAdaptor.java
  shell/platform/android/platform_view_android_jni.cc
  shell/platform/android/test/io/flutter/plugin/editing/InputConnectionAdaptorTest.java
  tools/android_lint/project.xml
Labels: cla: yes, waiting for tree to go green

#17954 Fix memory leak of FlutterCustomAccessibilityAction
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
Labels: cla: yes

#18179 Roll src/third_party/skia c1ad77cf482a..18db52f2ee56 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18183 Roll src/third_party/skia 18db52f2ee56..88d04cb51acf (13 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18188 Roll src/third_party/dart 4da5b40fb6dc..733153eb517c (23 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18190 Roll src/third_party/skia 88d04cb51acf..3b2db26c59d6 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18191 Roll fuchsia/sdk/core/linux-amd64 from RpHTv... to MhpFP...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#18194 Roll fuchsia/sdk/core/mac-amd64 from jMJqf... to 1MVsE...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18192 Roll src/third_party/skia 3b2db26c59d6..e3d1de7c5281 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18195 Roll src/third_party/dart 733153eb517c..e86e4d61834a (6 commits)
  DEPS
Labels: cla: yes, waiting for tree to go green

#18197 Roll src/third_party/skia e3d1de7c5281..2871ab0727bf (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18087 [profiling] CPU Profiling support for iOS
  ci/licenses_golden/licenses_flutter
  fml/trace_event.cc
  fml/trace_event.h
  shell/common/BUILD.gn
  shell/common/thread_host.cc
  shell/common/thread_host.h
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/profiler_metrics_ios.h
  shell/platform/darwin/ios/framework/Source/profiler_metrics_ios.mm
  shell/profiling/BUILD.gn
  shell/profiling/sampling_profiler.cc
  shell/profiling/sampling_profiler.h
Labels: cla: yes, severe: performance

#18144 Fixed ChildSceneLayer elevation issue on Fuchsia.
  flow/layers/child_scene_layer.cc
  flow/layers/container_layer.cc
  flow/layers/container_layer.h
  flow/layers/layer.cc
  flow/layers/layer.h
  flow/layers/physical_shape_layer.cc
  flow/layers/physical_shape_layer.h
  flow/layers/picture_layer.cc
  flow/layers/platform_view_layer.cc
  flow/layers/shader_mask_layer.cc
  flow/layers/texture_layer.cc
Labels: cla: yes

#18198 Roll src/third_party/skia 2871ab0727bf..edea19858ccc (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#18201 Roll src/third_party/dart e86e4d61834a..ce62ad2e8b40 (13 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#18182 Remove the global engine entry timestamp
  ci/licenses_golden/licenses_flutter
  common/settings.h
  runtime/BUILD.gn
  runtime/dart_vm.cc
  runtime/start_up.cc
  runtime/start_up.h
  shell/common/shell.cc
  shell/platform/android/flutter_main.cc
  shell/platform/android/flutter_main.h
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/engine/loader/FlutterLoader.java
Labels: cla: yes

#18203 Roll src/third_party/skia edea19858ccc..0066adefa97d (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18206 Roll src/third_party/skia 0066adefa97d..c66cd987f7c0 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#17593 add docs to platformviewios (and some drive-by changes)
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.h
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
  shell/platform/darwin/ios/platform_view_ios.h
  shell/platform/darwin/ios/platform_view_ios.mm
Labels: cla: yes

#18157 Handle leak of message handle when no engine present
  shell/platform/linux/fl_binary_messenger.cc
  shell/platform/linux/public/flutter_linux/fl_binary_messenger.h
Labels: cla: yes

#17015 Support EventChannel C++ plugin API for Linux/Windows
  ci/licenses_golden/licenses_flutter
  shell/platform/common/cpp/client_wrapper/BUILD.gn
  shell/platform/common/cpp/client_wrapper/core_wrapper_files.gni
  shell/platform/common/cpp/client_wrapper/event_channel_unittests.cc
  shell/platform/common/cpp/client_wrapper/include/flutter/event_channel.h
  shell/platform/common/cpp/client_wrapper/include/flutter/event_sink.h
  shell/platform/common/cpp/client_wrapper/include/flutter/event_stream_handler.h
  shell/platform/common/cpp/client_wrapper/include/flutter/event_stream_handler_functions.h
Labels: cla: yes

#18211 Manual Roll of Dart 39e0e75fcf...ce62ad2e8b
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#18205 Refactor GLFW embedding to support headless mode
  ci/licenses_golden/licenses_flutter
  shell/platform/glfw/BUILD.gn
  shell/platform/glfw/client_wrapper/BUILD.gn
  shell/platform/glfw/client_wrapper/flutter_engine.cc
  shell/platform/glfw/client_wrapper/flutter_engine_unittests.cc
  shell/platform/glfw/client_wrapper/flutter_window_controller.cc
  shell/platform/glfw/client_wrapper/include/flutter/flutter_engine.h
  shell/platform/glfw/client_wrapper/testing/stub_flutter_glfw_api.cc
  shell/platform/glfw/client_wrapper/testing/stub_flutter_glfw_api.h
  shell/platform/glfw/event_loop.cc
  shell/platform/glfw/event_loop.h
  shell/platform/glfw/flutter_glfw.cc
  shell/platform/glfw/glfw_event_loop.cc
  shell/platform/glfw/glfw_event_loop.h
  shell/platform/glfw/headless_event_loop.cc
  shell/platform/glfw/headless_event_loop.h
  shell/platform/glfw/platform_handler.cc
  shell/platform/glfw/platform_handler.h
  shell/platform/glfw/public/flutter_glfw.h
  shell/platform/windows/win32_task_runner.h
Labels: cla: yes

#18212 Roll src/third_party/skia c66cd987f7c0..0dc207f836da (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18160 Reland again "Remove layer integral offset snapping #17112"
  flow/layers/container_layer.cc
  flow/layers/container_layer.h
  flow/layers/image_filter_layer.cc
  flow/layers/image_filter_layer_unittests.cc
  flow/layers/opacity_layer.cc
  flow/layers/opacity_layer_unittests.cc
  flow/raster_cache.h
  flow/raster_cache_key.h
  flow/raster_cache_unittests.cc
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_background_foreground_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_opacity_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_rotate_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_transform_iPhone 8_simulator.png
Labels: cla: yes

#18208 [web] Implement matrix parameter for linear gradient
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/shader.dart
  lib/web_ui/lib/src/engine/util.dart
  lib/web_ui/lib/src/ui/painting.dart
  lib/web_ui/test/golden_tests/engine/linear_gradient_golden_test.dart
Labels: cla: yes

#18178 [SkParagraph] Copy text height behavior to the Skia paragraph style
  third_party/txt/src/skia/paragraph_builder_skia.cc
Labels: cla: yes, waiting for tree to go green

#18185 Add FlValue
  ci/licenses_golden/licenses_flutter
  shell/platform/linux/BUILD.gn
  shell/platform/linux/fl_value.cc
  shell/platform/linux/fl_value_test.cc
  shell/platform/linux/public/flutter_linux/fl_value.h
  shell/platform/linux/public/flutter_linux/flutter_linux.h
Labels: cla: yes

#18219 Roll src/third_party/skia 0dc207f836da..a14084ba1b41 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18217 Roll src/fuchsia/sdk/mac from 1MVsE... to 4MCVP...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18215 Manual roll of Dart 617bc54b71...39e0e75fcf
  DEPS
  lib/snapshot/BUILD.gn
  lib/snapshot/libraries.json
  lib/snapshot/libraries.yaml
  web_sdk/BUILD.gn
Labels: cla: yes

#18186 Add FlMessageCodec
  ci/licenses_golden/licenses_flutter
  shell/platform/linux/BUILD.gn
  shell/platform/linux/fl_binary_codec.cc
  shell/platform/linux/fl_binary_codec_test.cc
  shell/platform/linux/fl_message_codec.cc
  shell/platform/linux/fl_message_codec_test.cc
  shell/platform/linux/fl_string_codec.cc
  shell/platform/linux/fl_string_codec_test.cc
  shell/platform/linux/public/flutter_linux/fl_binary_codec.h
  shell/platform/linux/public/flutter_linux/fl_message_codec.h
  shell/platform/linux/public/flutter_linux/fl_string_codec.h
  shell/platform/linux/public/flutter_linux/fl_value.h
  shell/platform/linux/public/flutter_linux/flutter_linux.h
  shell/platform/linux/testing/fl_test.cc
  shell/platform/linux/testing/fl_test.h
Labels: cla: yes

#18222 Roll src/fuchsia/sdk/linux from MhpFP... to c1q_S...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#18223 Roll src/third_party/skia a14084ba1b41..8f6c3ed7c7be (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#17996 Make robolectric tests run against SDK 29 by default
  DEPS
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/embedding_bundle/README.md
  shell/platform/android/embedding_bundle/build.gradle
  shell/platform/android/robolectric.properties
  shell/platform/android/test/README.md
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
Labels: cla: yes, waiting for tree to go green

#18224 Roll src/third_party/skia 8f6c3ed7c7be..b55372444d1b (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18228 Roll src/fuchsia/sdk/mac from 4MCVP... to T5tT0...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18229 Roll src/third_party/skia b55372444d1b..ac09f7cd7a28 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#17688 Remove pipeline in favor of layer tree holder
  ci/licenses_golden/licenses_flutter
  shell/common/BUILD.gn
  shell/common/animator.cc
  shell/common/animator.h
  shell/common/engine.h
  shell/common/layer_tree_holder.cc
  shell/common/layer_tree_holder.h
  shell/common/layer_tree_holder_unittests.cc
  shell/common/pipeline.cc
  shell/common/pipeline.h
  shell/common/pipeline_unittests.cc
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/shell_test.cc
Labels: cla: yes

#18230 Roll src/third_party/skia ac09f7cd7a28..c683912173bb (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18204 skip painting clipped out pictures
  lib/web_ui/lib/src/engine/surface/picture.dart
  lib/web_ui/test/engine/surface/scene_builder_test.dart
Labels: cla: yes

#17616 make compiler worker count configurable; increase default
  lib/web_ui/dev/README.md
  lib/web_ui/dev/test_runner.dart
  lib/web_ui/dev/utils.dart
Labels: cla: yes

#18214 Publish validation layer deps as part of the fuchsia artifacts
  tools/fuchsia/build_fuchsia_artifacts.py
Labels: cla: yes, waiting for tree to go green

#18234 Roll src/third_party/skia c683912173bb..7359165e660c (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18232 disable safari font loading unit test
  lib/web_ui/test/text/font_loading_test.dart
Labels: cla: yes

#18237 Roll src/third_party/skia 7359165e660c..6913d1bb1d7a (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18239 Roll src/third_party/dart 617bc54b715d..2a14a62112e6 (30 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#18235 Add fontFeatures and decorationThickness to TextStyle
  lib/web_ui/lib/src/engine/text/paragraph.dart
Labels: cla: yes

#18242 Revert "Remove pipeline in favor of layer tree holder (#17688)"
  ci/licenses_golden/licenses_flutter
  shell/common/BUILD.gn
  shell/common/animator.cc
  shell/common/animator.h
  shell/common/engine.h
  shell/common/layer_tree_holder.cc
  shell/common/layer_tree_holder.h
  shell/common/layer_tree_holder_unittests.cc
  shell/common/pipeline.cc
  shell/common/pipeline.h
  shell/common/pipeline_unittests.cc
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/shell_test.cc
Labels: cla: yes, waiting for tree to go green

#18243 Roll src/third_party/skia 6913d1bb1d7a..bf1904fd4898 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18247 Roll src/third_party/dart 2a14a62112e6..017b1c46f6d5 (7 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#18248 Roll src/fuchsia/sdk/mac from T5tT0... to e718l...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18252 Roll src/third_party/dart 017b1c46f6d5..518f09726660 (2 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#18193 Add fullscreen padding workarounds to v2 android embedding
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
Labels: bug (regression), cla: yes, platform-android

#18115 Add support for screenshot testing in the scenario app on Android
  testing/scenario_app/README.md
  testing/scenario_app/android/app/build.gradle
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/TestRunner.java
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenarios/ExampleInstrumentedTest.java
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/PlatformTextureUiTests.java
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/ScreenshotUtil.java
  testing/scenario_app/android/app/src/main/AndroidManifest.xml
  testing/scenario_app/android/app/src/main/java/dev/flutter/scenarios/BlankActivity.java
  testing/scenario_app/android/app/src/main/java/dev/flutter/scenarios/TestableFlutterActivity.java
  testing/scenario_app/android/app/src/main/java/dev/flutter/scenarios/TextPlatformView.java
  testing/scenario_app/android/app/src/main/java/dev/flutter/scenarios/TextPlatformViewActivity.java
  testing/scenario_app/android/app/src/main/java/dev/flutter/scenarios/TextPlatformViewFactory.java
  testing/scenario_app/android/build.gradle
  testing/scenario_app/android/gradle.properties
  testing/scenario_app/android/gradle/wrapper/gradle-wrapper.properties
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformView.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewClippath.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewCliprect.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewCliprrect.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewMultiple.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewMultipleBackgroundForeground.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewMultipleWithoutOverlays.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewOpacity.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewRotate.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewTransform.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewTwoIntersectingOverlays.png
  testing/scenario_app/lib/main.dart
  testing/scenario_app/lib/src/platform_view.dart
  testing/scenario_app/run_android_tests.sh
Labels: cla: yes

#18255 Restore integer snapping on OpacityLayer
  flow/layers/opacity_layer.cc
  flow/layers/opacity_layer_unittests.cc
Labels: cla: yes, perf: speed, severe: performance

#18257 Restore the call to initConfig in FlutterLoader
  shell/platform/android/io/flutter/embedding/engine/loader/FlutterLoader.java
Labels: cla: yes

#18259 Roll src/third_party/dart 518f09726660..092ed38a87e9 (3 commits)
  DEPS
Labels: cla: yes, waiting for tree to go green

#18261 Roll src/fuchsia/sdk/linux from c1q_S... to iJ5zT...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#18262 Roll src/fuchsia/sdk/mac from e718l... to FnmfP...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18263 Roll src/third_party/skia bf1904fd4898..2b688a65c1df (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18264 Roll src/third_party/skia 2b688a65c1df..0b535555ed5d (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18146 Add new FlutterEngineAOTData argument to FlutterProjectArgs
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/embedder/tests/embedder_config_builder.cc
  shell/platform/embedder/tests/embedder_config_builder.h
  shell/platform/embedder/tests/embedder_test_context.cc
  shell/platform/embedder/tests/embedder_test_context.h
  shell/platform/embedder/tests/embedder_unittests.cc
  testing/elf_loader.cc
  testing/elf_loader.h
Labels: cla: yes

#18265 Roll src/fuchsia/sdk/linux from iJ5zT... to oDp5y...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#18270 Roll src/fuchsia/sdk/mac from FnmfP... to Hss3M...
  DEPS
Labels: cla: yes, waiting for tree to go green

#18271 Roll src/third_party/skia 0b535555ed5d..ceb39212fece (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18272 Roll src/third_party/dart 092ed38a87e9..a6d06b59ec4b (2 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#18273 Roll src/third_party/skia ceb39212fece..d7a5b59b1ef0 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18274 Roll src/third_party/skia d7a5b59b1ef0..83c6626946d0 (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18275 Roll src/third_party/skia 83c6626946d0..21be4f215d0b (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18276 Roll src/third_party/dart a6d06b59ec4b..4e520824f502 (7 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#18277 Roll src/third_party/skia 21be4f215d0b..c74db7998b4e (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18278 Roll src/third_party/skia c74db7998b4e..518fd4d9d09d (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#18238 refactor the task_runner and task_runner_checker
  fml/memory/task_runner_checker.cc
  fml/memory/task_runner_checker.h
  fml/memory/task_runner_checker_unittest.cc
  fml/task_runner.cc
Labels: cla: yes

#18268 Fix grammar in FlBinaryCodec/FlStringCodec descriptions
  shell/platform/linux/public/flutter_linux/fl_binary_codec.h
  shell/platform/linux/public/flutter_linux/fl_string_codec.h
Labels: cla: yes
