Repository flutter/engine, pull requests merged in 2020-01, with the labels that each got.

#15088 Roll src/third_party/skia c65d0069ec56..107c66669d37 (4 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15083 Roll fuchsia/sdk/core/linux-amd64 from sxapd... to AVtRQ...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#15086 Roll fuchsia/sdk/core/mac-amd64 from iImpF... to zkzoZ...
  DEPS
Labels: autoroller: commit, cla: yes

#15085 Roll src/third_party/dart b52d264f5b2f..05e70d5b38cb (17 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#15102 Roll src/third_party/skia 107c66669d37..7ac038f302f2 (30 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15104 Roll fuchsia/sdk/core/mac-amd64 from zkzoZ... to Vk6uT...
  DEPS
Labels: autoroller: commit, cla: yes

#15110 Roll fuchsia/sdk/core/linux-amd64 from AVtRQ... to MwGkB...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#15100 Roll src/third_party/dart 05e70d5b38cb..2f57602411b3 (44 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#15103 [web] Fix right click issues
  lib/web_ui/lib/src/engine/pointer_binding.dart
  lib/web_ui/lib/src/engine/pointer_converter.dart
  lib/web_ui/test/engine/pointer_binding_test.dart
Labels: cla: yes, platform-web

#15141 Roll src/third_party/skia 7ac038f302f2..6791ee2f8059 (20 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15142 Roll fuchsia/sdk/core/mac-amd64 from Vk6uT... to Kom_K...
  DEPS
Labels: autoroller: commit, cla: yes

#15143 Roll src/third_party/dart 2f57602411b3..76e3faa9824e (37 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#15146 Roll src/third_party/dart 76e3faa9824e..bebc7d3af5bd (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#15148 Roll src/third_party/skia 6791ee2f8059..d445e2b6fcf1 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15149 Roll fuchsia/sdk/core/mac-amd64 from Kom_K... to nbeLe...
  DEPS
Labels: autoroller: commit, cla: yes

#15145 Roll fuchsia/sdk/core/linux-amd64 from MwGkB... to xYmDF...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#14828 Font subset
  BUILD.gn
  testing/run_tests.py
  tools/font-subset/.gitignore
  tools/font-subset/BUILD.gn
  tools/font-subset/fixtures/1.ttf
  tools/font-subset/fixtures/2.ttf
  tools/font-subset/fixtures/3.ttf
  tools/font-subset/fixtures/MaterialIcons-Regular.ttf
  tools/font-subset/gen/.gitkeep
  tools/font-subset/hb_wrappers.h
  tools/font-subset/main.cc
  tools/font-subset/test.py
Labels: cla: yes, size

#15232 Roll src/third_party/skia d445e2b6fcf1..91e0d7526944 (44 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autoroller: commit, cla: yes

#15106 Fix RectHeightStyle::kMax ascent computation bug
  third_party/txt/src/txt/paragraph_txt.cc
  third_party/txt/src/txt/paragraph_txt.h
  third_party/txt/tests/paragraph_unittests.cc
Labels: cla: yes

#15160 Recover when browser throws on ImageElement.decode due to too many images
  lib/web_ui/lib/src/engine/html_image_codec.dart
Labels: cla: yes

#15153 Refactor BitmapCanvas, lazily allocate canvas, fix image composition bug.
  ci/licenses_golden/licenses_flutter
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/canvas_pool.dart
  lib/web_ui/lib/src/engine/dom_canvas.dart
  lib/web_ui/lib/src/engine/engine_canvas.dart
  lib/web_ui/lib/src/engine/houdini_canvas.dart
  lib/web_ui/lib/src/engine/picture.dart
  lib/web_ui/lib/src/engine/surface/painting.dart
  lib/web_ui/lib/src/engine/surface/picture.dart
  lib/web_ui/lib/src/engine/surface/recording_canvas.dart
  lib/web_ui/test/canvas_test.dart
  lib/web_ui/test/engine/recording_canvas_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_blend_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_draw_image_golden_test.dart
  lib/web_ui/test/golden_tests/engine/recording_canvas_golden_test.dart
  lib/web_ui/test/mock_engine_canvas.dart
Labels: cla: yes

#15118 Migrate flutter_runner from flutter_runner::{Thread,Loop} to fml::{Thread,MessageLoop}
  ci/licenses_golden/licenses_flutter
  fml/thread.cc
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/component.cc
  shell/platform/fuchsia/flutter/component.h
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/engine.h
  shell/platform/fuchsia/flutter/engine_flutter_runner.gni
  shell/platform/fuchsia/flutter/fuchsia_intl.cc
  shell/platform/fuchsia/flutter/loop.cc
  shell/platform/fuchsia/flutter/loop.h
  shell/platform/fuchsia/flutter/main.cc
  shell/platform/fuchsia/flutter/runner.cc
  shell/platform/fuchsia/flutter/runner.h
  shell/platform/fuchsia/flutter/task_observers.cc
  shell/platform/fuchsia/flutter/task_observers.h
  shell/platform/fuchsia/flutter/task_runner_adapter.cc
  shell/platform/fuchsia/flutter/task_runner_adapter.h
  shell/platform/fuchsia/flutter/thread.cc
  shell/platform/fuchsia/flutter/thread.h
  shell/platform/fuchsia/flutter/vsync_waiter_unittests.cc
Labels: cla: yes

#15257 Roll fuchsia/sdk/core/linux-amd64 from xYmDF... to oNKzr...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#15252 Roll src/third_party/dart bebc7d3af5bd..c0ca187f2699 (37 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: autoroller: commit, cla: yes

#15265 Add plugin_registrar_windows.h to published wrapper
  shell/platform/windows/client_wrapper/BUILD.gn
Labels: cla: yes, waiting for tree to go green

#15253 Roll fuchsia/sdk/core/mac-amd64 from nbeLe... to gL-XG...
  DEPS
Labels: autoroller: commit, cla: yes

#15111 [web] adding windows platform to felt. fixing signal
  lib/web_ui/dev/browser_lock.yaml
  lib/web_ui/dev/common.dart
  lib/web_ui/dev/felt.dart
Labels: cla: yes

#15306 Roll src/third_party/skia 91e0d7526944..f811fc331a14 (32 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autoroller: commit, cla: yes

#15154 Bump simulator version in IosUnitTests & scenario app in preparation for luci xcode 11 migration
  testing/ios/IosUnitTests/run_tests.sh
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios/Info.plist
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_clippath_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_background_foreground_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_opacity_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_rotate_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_transform_iPhone 8_simulator.png
  testing/scenario_app/run_ios_tests.sh
Labels: cla: yes

#15156 Add a deprecation javadoc note to the old FlutterActivity
  shell/platform/android/io/flutter/app/FlutterActivity.java
Labels: cla: yes

#15308 Roll fuchsia/sdk/core/mac-amd64 from gL-XG... to rTJJV...
  DEPS
Labels: autoroller: commit, cla: yes

#15259 Made it so you can specify the old gen heap size.
  common/settings.cc
  common/settings.h
  runtime/dart_vm.cc
  runtime/dart_vm_unittests.cc
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
Labels: cla: yes

#15313 Revert "Bump simulator version in IosUnitTests & scenario app in preparation for luci xcode 11 migration"
  testing/ios/IosUnitTests/run_tests.sh
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios/Info.plist
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_clippath_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_background_foreground_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_opacity_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_rotate_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_transform_iPhone 8_simulator.png
  testing/scenario_app/run_ios_tests.sh
Labels: cla: yes

#14468 Implement Path.from in the CanvasKit backend
  lib/web_ui/lib/src/engine/compositor/path.dart
Labels: cla: yes

#15152 Throw an exception in `Image.toByteData` rather than hang forever.
  lib/web_ui/lib/src/engine/html_image_codec.dart
Labels: cla: yes

#15316 Reland "Bump simulator version in IosUnitTests & scenario app in preparation for luci xcode 11 migration", Reverted in flutter/engine#15313
  testing/ios/IosUnitTests/run_tests.sh
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios/Info.plist
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_clippath_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_background_foreground_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_opacity_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_rotate_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_transform_iPhone 8_simulator.png
  testing/scenario_app/run_ios_tests.sh
Labels: cla: yes

#15268 Fix Path.from.
  lib/web_ui/lib/src/engine/surface/painting.dart
  lib/web_ui/lib/src/engine/surface/recording_canvas.dart
  lib/web_ui/test/path_test.dart
Labels: cla: yes

#15315 Move html window.devicePixelRatio access to EngineWindow to fix WebOS bug.
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/canvas_pool.dart
  lib/web_ui/lib/src/engine/compositor/embedded_views.dart
  lib/web_ui/lib/src/engine/render_vertices.dart
  lib/web_ui/lib/src/engine/surface/surface.dart
  lib/web_ui/lib/src/engine/window.dart
Labels: cla: yes

#15311 Roll fuchsia/sdk/core/linux-amd64 from oNKzr... to _gFH2...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#15312 Roll src/third_party/skia f811fc331a14..04e77813f8f4 (7 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15151 Reland "[web] Calculate align offset for each paragraph line (LineMetrics.left)" (#14537)
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/text/measurement.dart
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/lib/src/engine/text/ruler.dart
  lib/web_ui/test/text/measurement_test.dart
Labels: cla: yes, platform-web

#15317 [SkParagraph] Cache the font collection created for use by the Skia text shaper library
  third_party/txt/src/txt/font_collection.cc
  third_party/txt/src/txt/font_collection.h
Labels: cla: yes

#15304 add warning message for clipboard api
  lib/web_ui/lib/src/engine/window.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#15321 Enable BackdropFilter for most browsers
  lib/web_ui/lib/src/engine/surface/backdrop_filter.dart
Labels: cla: yes

#15327 Fix devicepixel ratio reset problem when replaying clip stack
  lib/web_ui/lib/src/engine/canvas_pool.dart
Labels: cla: yes

#15331 Revert "Add a deprecation javadoc note to the old FlutterActivity"
  shell/platform/android/io/flutter/app/FlutterActivity.java
Labels: cla: yes

#15328 Add missing super.onNewIntent() call
  shell/platform/android/io/flutter/app/FlutterFragmentActivity.java
Labels: cla: yes

#15330 Roll src/third_party/skia 04e77813f8f4..92ca3baba6a5 (15 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#14002 Add shell api to set default for windows data
  ci/licenses_golden/licenses_flutter
  runtime/BUILD.gn
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  runtime/window_data.cc
  runtime/window_data.h
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/shell.cc
  shell/common/shell.h
  shell/platform/android/android_shell_holder.cc
  shell/platform/android/android_shell_holder.h
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/ios/framework/Source/FlutterDartProject_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/fuchsia/flutter/engine.cc
Labels: cla: yes

#14673 Make BackgroundMode public. (#45747)
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/android/FlutterActivityLaunchConfigs.java
  shell/platform/android/test/io/flutter/FlutterTestSuite.java
  shell/platform/android/test/io/flutter/embedding/android/RobolectricFlutterActivity.java
  shell/platform/android/test/io/flutter/external/FlutterLaunchTests.java
  shell/platform/android/test/io/flutter/external/README.md
Labels: cla: yes

#15370 Revert "Add support for on/off switch labels when built on iOS 13."
  lib/ui/window.dart
  lib/ui/window/window.h
  lib/web_ui/lib/src/ui/window.dart
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
Labels: cla: yes

#15375 Roll src/third_party/skia 92ca3baba6a5..a92320d4e6a5 (18 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15376 Revert "Roll src/third_party/skia 04e77813f8f4..92ca3baba6a5 (15 commits)"
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes

#15374 Roll src/third_party/dart c0ca187f2699..395daaa3ecfc (84 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#15324 [web] Tests for browser history implementation
  lib/web_ui/lib/src/engine/test_embedding.dart
  lib/web_ui/test/engine/history_test.dart
  lib/web_ui/test/spy.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#15373 Roll fuchsia/sdk/core/linux-amd64 from _gFH2... to 75iyW...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#15326 modify test_runner.dart for windows to fix test build errors
  lib/web_ui/dev/test_runner.dart
  lib/web_ui/dev/utils.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#15377 Roll src/third_party/skia 04e77813f8f4..67d0f3fd725c (41 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15258 [fuchsia] Add a diagnostics directory to the set of remote dirs (#14566)
  shell/platform/fuchsia/flutter/component.cc
Labels: cla: yes

#14822 Fixes leak of url in FlutterObservatoryPublisher
  shell/platform/darwin/ios/framework/Source/FlutterObservatoryPublisher.mm
Labels: affects: add-to-app, cla: yes, waiting for tree to go green

#15360 Re-land "Use ELF for Dart AOT snapshots on Fuchsia. #13896"
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/dart_runner/BUILD.gn
  shell/platform/fuchsia/dart_runner/dart_component_controller.cc
  shell/platform/fuchsia/dart_runner/dart_component_controller.h
  shell/platform/fuchsia/dart_runner/dart_runner.cc
  shell/platform/fuchsia/dart_runner/dart_runner.h
  shell/platform/fuchsia/dart_runner/mapped_resource.cc
  shell/platform/fuchsia/dart_runner/service_isolate.cc
  shell/platform/fuchsia/dart_runner/vmservice/BUILD.gn
  shell/platform/fuchsia/flutter/component.cc
  shell/platform/fuchsia/runtime/dart/utils/BUILD.gn
  shell/platform/fuchsia/runtime/dart/utils/mapped_resource.cc
  shell/platform/fuchsia/runtime/dart/utils/mapped_resource.h
Labels: cla: yes

#15466 Roll src/third_party/skia 67d0f3fd725c..3723fb7e85bb (25 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15485 Roll src/third_party/dart 395daaa3ecfc..b3457c8cc2c1 (66 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#15455 Support Clipboard.getData and Clipboard.setData for Flutter for web
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/clipboard.dart
  lib/web_ui/lib/src/engine/window.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#15500 Roll src/third_party/skia 3723fb7e85bb..0a1923e50752 (6 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15504 Roll src/third_party/dart b3457c8cc2c1..32ce9c7872e2 (7 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#15506 Roll fuchsia/sdk/core/linux-amd64 from 75iyW... to Xh8_9...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#15507 Roll src/third_party/skia 0a1923e50752..69ace2a0adbe (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15557 Typo fix to kick tests.
  shell/platform/fuchsia/flutter/platform_view.cc
Labels: cla: yes

#15513 Roll src/third_party/dart 32ce9c7872e2..28c335d5a201 (2 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#15547 Roll fuchsia/sdk/core/linux-amd64 from Xh8_9... to oxHfW...
  DEPS
  ci/licenses_golden/licenses_fuchsia
  sky/packages/sky_engine/LICENSE
Labels: autoroller: commit, cla: yes

#15563 Add a type parameter to SavedState.Creator in the new embedding
  shell/platform/android/io/flutter/embedding/android/FlutterSplashView.java
Labels: cla: yes

#15562 [SkParagraph] Copy font features to the Skia layout engine text style
  third_party/txt/src/skia/paragraph_builder_skia.cc
  third_party/txt/src/txt/font_features.cc
  third_party/txt/src/txt/font_features.h
Labels: cla: yes

#15569 Change the value of EXTRA_INITIAL_ROUTE to match the value used by the old embedding and flutter_tools
  shell/platform/android/io/flutter/embedding/android/FlutterActivityLaunchConfigs.java
Labels: cla: yes

#15468 Use Skia's CSS3 style matcher for dynamically loaded font sets
  third_party/txt/src/txt/typeface_font_asset_provider.cc
  third_party/txt/src/txt/typeface_font_asset_provider.h
Labels: cla: yes

#15378 Implement HWND access for Windows plugins
  ci/licenses_golden/licenses_flutter
  shell/platform/windows/client_wrapper/BUILD.gn
  shell/platform/windows/client_wrapper/flutter_view_controller.cc
  shell/platform/windows/client_wrapper/flutter_view_controller_unittests.cc
  shell/platform/windows/client_wrapper/flutter_view_unittests.cc
  shell/platform/windows/client_wrapper/include/flutter/flutter_view.h
  shell/platform/windows/client_wrapper/include/flutter/flutter_view_controller.h
  shell/platform/windows/client_wrapper/include/flutter/plugin_registrar_windows.h
  shell/platform/windows/client_wrapper/plugin_registrar_windows_unittests.cc
  shell/platform/windows/client_wrapper/testing/stub_flutter_windows_api.cc
  shell/platform/windows/client_wrapper/testing/stub_flutter_windows_api.h
  shell/platform/windows/flutter_windows.cc
  shell/platform/windows/public/flutter_windows.h
Labels: cla: yes

#15619 Roll src/third_party/dart 83fba7bd54..fe666ce592 (3 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
  lib/snapshot/libraries.json
  lib/snapshot/libraries.yaml
  runtime/BUILD.gn
  shell/platform/fuchsia/dart_runner/kernel/libraries.json
  shell/platform/fuchsia/dart_runner/kernel/libraries.yaml
  shell/platform/fuchsia/flutter/kernel/libraries.json
  shell/platform/fuchsia/flutter/kernel/libraries.yaml
  sky/packages/sky_engine/BUILD.gn
  sky/packages/sky_engine/LICENSE
  tools/fuchsia/dart_kernel.gni
Labels: cla: yes

#15584 Roll src/third_party/skia 69ace2a0adbe..e45c5cd03eeb (23 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15631 Add back sky_engine/LICENSE
  sky/packages/sky_engine/LICENSE
Labels: cla: yes

#15635 Add FML check to ensure layout before calling getters
  third_party/txt/src/txt/paragraph_txt.cc
Labels: cla: yes

#15641 [web] Add Edge support for Flutter Engine unit-tests.
  lib/web_ui/dart_test_edge.yaml
  lib/web_ui/dev/common.dart
  lib/web_ui/dev/edge.dart
  lib/web_ui/dev/edge_installation.dart
  lib/web_ui/dev/supported_browsers.dart
  lib/web_ui/dev/test_runner.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#15653 try 10 times after paving
  testing/fuchsia/run_tests.sh
Labels: cla: yes

#15602 Add --lazy_async_stacks to the set of whitelisted VM flags.
  shell/common/switches.cc
Labels: cla: yes

#15566 Fix embedder mutation order
  shell/platform/embedder/embedder_layers.cc
  shell/platform/embedder/fixtures/main.dart
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: cla: yes

#15671 Roll src/third_party/skia e45c5cd03eeb..7655168e6865 (29 commits)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autoroller: commit, cla: yes

#15670 Roll fuchsia/sdk/core/linux-amd64 from oxHfW... to UlOSN...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#13119 Use iOS 13 dark content status bar style
  shell/platform/darwin/ios/framework/Source/FlutterPlatformPlugin.mm
Labels: cla: yes

#15568 Fix hardware keyboard enter so it triggers an action.
  shell/platform/android/io/flutter/plugin/editing/InputConnectionAdaptor.java
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
Labels: affects: desktop, affects: text input, cla: yes

#15672 Roll src/third_party/dart fe666ce592cb..862d5012ae9c (48 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#15676 Disable fml_unittests till flakes are addressed.
  testing/run_tests.py
Labels: cla: yes

#15677 Upgrade to CanvasKit 0.11
  lib/web_ui/lib/src/engine/compositor/initialization.dart
Labels: cla: yes

#15565 [web] Freeze window.defaultRouteName
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/test/window_test.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#15649 fix text blurriness in HTML-rendered text
  lib/web_ui/dev/goldens.dart
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/dev/test_platform.dart
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/engine_canvas.dart
  lib/web_ui/lib/src/engine/surface/clip.dart
  lib/web_ui/lib/src/engine/util.dart
  lib/web_ui/test/engine/util_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_golden_test.dart
  lib/web_ui/test/golden_tests/engine/compositing_golden_test.dart
  web_sdk/web_engine_tester/lib/golden_tester.dart
Labels: cla: yes

#15681 [web] update dart:js and dart:js_util to new upstream locations
  sky/packages/sky_engine/lib/_embedder.yaml
  web_sdk/libraries.json
  web_sdk/libraries.yaml
Labels: cla: yes

#15682 Roll src/third_party/skia 7655168e6865..7edb0eb8a458 (16 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15683 Roll src/third_party/dart 862d5012ae9c..515d4bd7adb1 (18 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#15686 Roll src/third_party/skia 7edb0eb8a458..2900040bc4a0 (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15689 Roll fuchsia/sdk/core/linux-amd64 from UlOSN... to YPYqb...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#15687 Roll src/third_party/dart 515d4bd7adb1..009537bbf0ff (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#15372 More efficient decoding for down-sampled Flutter images using cache(Width|Height)
  ci/licenses_golden/licenses_flutter
  lib/ui/BUILD.gn
  lib/ui/fixtures/Horizontal.png
  lib/ui/painting/image_decoder.cc
  lib/ui/painting/image_decoder.h
  lib/ui/painting/image_decoder_unittests.cc
Labels: cla: yes

#15678 Support animated images in the CanvasKit backend
  lib/web_ui/lib/src/engine/compositor/image.dart
Labels: cla: yes

#15693 Roll src/third_party/dart 009537bbf0ff..e33b9e2d265a (30 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#15695 Roll src/third_party/skia 2900040bc4a0..2cd5d43f022c (5 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15694 [web] Add BoxHeightStyle.strut
  lib/web_ui/lib/src/ui/text.dart
Labels: cla: yes

#15690 [web] edge launcher for windows
  lib/web_ui/dev/browser_lock.yaml
  lib/web_ui/dev/common.dart
  lib/web_ui/dev/edge_installation.dart
Labels: cla: yes, platform-web

#15573 Fix Opacity performance regression on Fuchsia
  ci/licenses_golden/licenses_flutter
  flow/BUILD.gn
  flow/layers/child_scene_layer.cc
  flow/layers/clip_path_layer.cc
  flow/layers/clip_rect_layer.cc
  flow/layers/clip_rrect_layer.cc
  flow/layers/elevated_container_layer.cc
  flow/layers/elevated_container_layer.h
  flow/layers/fuchsia_system_composited_layer.cc
  flow/layers/fuchsia_system_composited_layer.h
  flow/layers/layer_tree.cc
  flow/layers/layer_tree.h
  flow/layers/opacity_layer.cc
  flow/layers/opacity_layer.h
  flow/layers/physical_shape_layer.cc
  flow/layers/physical_shape_layer.h
  flow/layers/picture_layer.cc
  flow/layers/texture_layer.cc
  flow/layers/transform_layer.cc
  flow/scene_update_context.cc
  flow/scene_update_context.h
Labels: cla: yes

#15702 Roll src/third_party/dart e33b9e2d265a..f1df196ddfe4 (24 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#15699 Make internal cache vars private
  lib/ui/window.dart
Labels: cla: yes

#15668 const finder
  BUILD.gn
  testing/run_tests.py
  tools/const_finder/.dart_tool/package_config.json
  tools/const_finder/.gitignore
  tools/const_finder/.packages
  tools/const_finder/BUILD.gn
  tools/const_finder/README.md
  tools/const_finder/bin/main.dart
  tools/const_finder/lib/const_finder.dart
  tools/const_finder/pubspec.yaml
  tools/const_finder/test/const_finder_test.dart
  tools/const_finder/test/fixtures/.packages
  tools/const_finder/test/fixtures/lib/consts.dart
  tools/const_finder/test/fixtures/lib/consts_and_non.dart
  tools/const_finder/test/fixtures/lib/target.dart
Labels: cla: yes, waiting for tree to go green

#14805 loadfontfromlist should send fontchange message to framework
  lib/ui/text.dart
  lib/web_ui/lib/src/ui/text.dart
  lib/web_ui/test/text/font_loading_test.dart
  testing/dart/text_test.dart
Labels: cla: yes, waiting for tree to go green

#15698 implicit casts and add missing docs
  analysis_options.yaml
  flutter_frontend_server/lib/server.dart
  lib/ui/compositing.dart
  lib/ui/geometry.dart
  lib/ui/hooks.dart
  lib/ui/lerp.dart
  lib/ui/natives.dart
  lib/ui/painting.dart
  lib/ui/plugins.dart
  lib/ui/text.dart
  lib/ui/window.dart
  lib/web_ui/lib/src/ui/canvas.dart
  testing/dart/channel_buffers_test.dart
  testing/dart/compositing_test.dart
  testing/dart/isolate_name_server_test.dart
  testing/scenario_app/lib/main.dart
  testing/symbols/verify_exported.dart
Labels: cla: yes

#15706 Disable GPUThreadMerger tests inline instead of via harness flags.
  fml/gpu_thread_merger_unittests.cc
  testing/run_tests.py
Labels: cla: yes

#15701 Samsung fix duplication on punctuation: Update keyboard on finish compose.
  shell/platform/android/io/flutter/plugin/editing/InputConnectionAdaptor.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
Labels: cla: yes

#15708 Roll dart to c8f8c11b70
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#15714 Roll src/third_party/dart c8f8c11b70b4..843bd2990881 (5 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#15700 v1.12.13+hotfix.7 cherry-picks
  DEPS
  ci/licenses_golden/licenses_skia
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
Labels: cla: yes

#15715 fix typo, update path metrics docs
  lib/ui/painting.dart
  lib/web_ui/lib/src/ui/path_metrics.dart
Labels: cla: yes

#15712 Clipping path fix for browsers that don't use correct units when applying clip-path css using svg
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/surface/clip.dart
  lib/web_ui/lib/src/engine/util.dart
  lib/web_ui/test/golden_tests/engine/canvas_clip_path_test.dart
Labels: cla: yes

#15736 Roll src/third_party/dart 843bd2990881..f96c48307d14 (10 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#15737 Roll fuchsia/sdk/core/linux-amd64 from YPYqb... to MCe3R...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#15741 Roll src/third_party/skia d58b643f10f5..bd5ee543633f (12 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15744 Roll src/third_party/dart f96c48307d14..020585872a25 (16 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#15740 Fix Color API, move toCss to helper functions
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/canvas_pool.dart
  lib/web_ui/lib/src/engine/dom_canvas.dart
  lib/web_ui/lib/src/engine/dom_renderer.dart
  lib/web_ui/lib/src/engine/shader.dart
  lib/web_ui/lib/src/engine/surface/clip.dart
  lib/web_ui/lib/src/engine/surface/recording_canvas.dart
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/lib/src/engine/util.dart
  lib/web_ui/lib/src/ui/painting.dart
  lib/web_ui/test/golden_tests/engine/path_to_svg_golden_test.dart
Labels: cla: yes

#15747 Roll src/third_party/skia bd5ee543633f..507736fc3abf (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15749 Roll src/third_party/dart 020585872a25..65b8b6805dac (8 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#15743 Fix path.contains failure when devicepixelratio != 1.0
  lib/web_ui/lib/src/engine/surface/painting.dart
  lib/web_ui/test/path_test.dart
Labels: cla: yes

#15750 Roll src/third_party/skia 507736fc3abf..ee3216d8f835 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15751 Roll fuchsia/sdk/core/linux-amd64 from MCe3R... to 4od_3...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#15752 Roll src/third_party/skia ee3216d8f835..5344cc31ff59 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15753 Roll src/third_party/dart 65b8b6805dac..f34a25099be6 (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#15754 Roll src/third_party/skia 5344cc31ff59..f0b7edf6cd94 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15755 Roll src/third_party/dart f34a25099be6..29c166f07d3b (6 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#15164 Reduce default verbosity of Android embedding
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/io/flutter/embedding/android/FlutterFragment.java
  shell/platform/android/io/flutter/embedding/android/FlutterFragmentActivity.java
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/embedding/engine/FlutterEngine.java
  shell/platform/android/io/flutter/embedding/engine/FlutterEnginePluginRegistry.java
Labels: affects: add-to-app, cla: yes, waiting for tree to go green

#15800 Roll src/third_party/skia f0b7edf6cd94..e8fc3ffdada3 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15835 Roll src/third_party/dart 29c166f07d3b..93ebbe2c7a8e (3 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#15836 Roll src/third_party/skia e8fc3ffdada3..e79897c42389 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15837 Roll src/third_party/dart 93ebbe2c7a8e..407cd2bf3b88 (1 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#15838 Roll fuchsia/sdk/core/linux-amd64 from 4od_3... to omzFN...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#15839 Roll src/third_party/skia e79897c42389..3322aafc36d4 (2 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15840 Roll src/third_party/dart 407cd2bf3b88..e7b1392b0205 (2 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#15841 Roll src/third_party/skia 3322aafc36d4..ef05567733eb (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15842 Roll src/third_party/dart e7b1392b0205..e8c1391b26f7 (1 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#15843 Roll src/third_party/dart e8c1391b26f7..c790eccdf4c4 (5 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#15844 Roll fuchsia/sdk/core/mac-amd64 from rTJJV... to yMvVd...
  DEPS
Labels: autoroller: commit, cla: yes

#15845 Roll fuchsia/sdk/core/linux-amd64 from omzFN... to 0ERtT...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autoroller: commit, cla: yes

#15846 Roll src/third_party/dart c790eccdf4c4..7070347bbb7a (4 commits)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autoroller: commit, cla: yes

#15847 Roll src/third_party/skia ef05567733eb..9f22f1ff3190 (1 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15848 Roll src/third_party/skia 9f22f1ff3190..e07936314c2b (3 commits)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autoroller: commit, cla: yes

#15849 Roll src/third_party/dart 7070347bbb7a..f910a7575f3c (2 commits)
  DEPS
Labels: autoroller: commit, cla: yes

#15850 Roll fuchsia/sdk/core/mac-amd64 from yMvVd... to jAkm1...
  DEPS
Labels: autoroller: commit, cla: yes
