Repository flutter/engine, pull requests merged in 2020-07, with the labels that each got.

#19428 generate package config during runhooks
  DEPS
  flutter_frontend_server/BUILD.gn
  flutter_frontend_server/bin/starter.dart
  flutter_frontend_server/lib/server.dart
  flutter_frontend_server/package_incremental.py
  tools/generate_package_config/bin/generate_from_legacy.dart
  tools/generate_package_config/pubspec.yaml
  tools/run_third_party_dart.py
Labels: cla: yes

#19423 Rename Sk* classes to Ck* in preparation for @JS migration
  lib/web_ui/lib/src/engine/color_filter.dart
  lib/web_ui/lib/src/engine/compositor/canvas.dart
  lib/web_ui/lib/src/engine/compositor/canvas_kit_canvas.dart
  lib/web_ui/lib/src/engine/compositor/color_filter.dart
  lib/web_ui/lib/src/engine/compositor/embedded_views.dart
  lib/web_ui/lib/src/engine/compositor/image.dart
  lib/web_ui/lib/src/engine/compositor/image_filter.dart
  lib/web_ui/lib/src/engine/compositor/layer.dart
  lib/web_ui/lib/src/engine/compositor/layer_scene_builder.dart
  lib/web_ui/lib/src/engine/compositor/layer_tree.dart
  lib/web_ui/lib/src/engine/compositor/mask_filter.dart
  lib/web_ui/lib/src/engine/compositor/n_way_canvas.dart
  lib/web_ui/lib/src/engine/compositor/painting.dart
  lib/web_ui/lib/src/engine/compositor/path.dart
  lib/web_ui/lib/src/engine/compositor/path_metrics.dart
  lib/web_ui/lib/src/engine/compositor/picture.dart
  lib/web_ui/lib/src/engine/compositor/picture_recorder.dart
  lib/web_ui/lib/src/engine/compositor/raster_cache.dart
  lib/web_ui/lib/src/engine/compositor/rasterizer.dart
  lib/web_ui/lib/src/engine/compositor/surface.dart
  lib/web_ui/lib/src/engine/compositor/text.dart
  lib/web_ui/lib/src/engine/compositor/util.dart
  lib/web_ui/lib/src/engine/compositor/vertices.dart
  lib/web_ui/lib/src/engine/shader.dart
  lib/web_ui/lib/src/ui/canvas.dart
  lib/web_ui/lib/src/ui/painting.dart
  lib/web_ui/lib/src/ui/path.dart
  lib/web_ui/lib/src/ui/text.dart
  lib/web_ui/test/canvaskit/path_metrics_test.dart
Labels: cla: yes

#19429 Roll Skia from 746460e25a1e to 1e6460d552f7 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19421 Update scenario UI screenshoots
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/io/flutter/plugin/platform/VirtualDisplayController.java
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenarios/EngineLaunchE2ETest.java
  testing/scenario_app/android/app/src/main/AndroidManifest.xml
  testing/scenario_app/android/app/src/main/java/dev/flutter/scenarios/BlankActivity.java
  testing/scenario_app/android/app/src/main/java/dev/flutter/scenarios/ScenarioApplication.java
  testing/scenario_app/android/app/src/main/java/dev/flutter/scenarios/StrictModeFlutterActivity.java
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewCliprect.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewCliprrect.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewMultipleWithoutOverlays.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformView.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewClippath.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewCliprect.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewCliprrect.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewMultiple.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewMultipleBackgroundForeground.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewMultipleWithoutOverlays.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewOpacity.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewRotate.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewTransform.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewTwoIntersectingOverlays.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/UnobstructedPlatformViewTests.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_rotate_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_rotate_iPhone SE_simulator.png
  testing/scenario_app/lib/src/platform_view.dart
  testing/scenario_app/lib/src/scenarios.dart
Labels: cla: yes, platform-android

#19435 Revert unintended change
  shell/platform/android/io/flutter/plugin/platform/VirtualDisplayController.java
Labels: cla: yes, platform-android, waiting for tree to go green

#19434 Roll Skia from 1e6460d552f7 to 492558a10db6 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19437 Roll Skia from 492558a10db6 to 400ba22f4564 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19436 Roll Dart SDK from 22da8934ac8b to bec128612c03 (16 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#19440 Roll Skia from 400ba22f4564 to 16ee98ddeda3 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19441 Roll Fuchsia Mac SDK from 1cpN9... to avEUl...
  DEPS
Labels: cla: yes, waiting for tree to go green

#19443 Roll Fuchsia Linux SDK from TbmMK... to Pcug7...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#19447 Roll Dart SDK from bec128612c03 to 63feed82e1b1 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#19448 Roll Skia from 16ee98ddeda3 to e381036051eb (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19449 Roll Skia from e381036051eb to d2f870c91102 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19451 Roll Skia from d2f870c91102 to b7bfbc299aae (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19439 Fix wrong licensing in engine
  ci/licenses_golden/licenses_flutter
  flow/flow_run_all_unittests.cc
  flow/flow_test_utils.cc
  flow/flow_test_utils.h
Labels: cla: yes, waiting for tree to go green

#19453 Roll Fuchsia Mac SDK from avEUl... to 4MMwM...
  DEPS
Labels: cla: yes, waiting for tree to go green

#19452 add collection rev variable to DEPS so it gets rolled by the auto roller
  DEPS
Labels: cla: yes

#19397 Show EGL configuration debugging when fail to create surface/context
  ci/licenses_golden/licenses_flutter
  shell/platform/linux/BUILD.gn
  shell/platform/linux/egl_utils.cc
  shell/platform/linux/egl_utils.h
  shell/platform/linux/egl_utils_test.cc
  shell/platform/linux/fl_renderer.cc
  shell/platform/linux/testing/mock_egl.cc
Labels: cla: yes

#19414 Fix paths in source and yaml files
  lib/ui/compositing/scene_host.cc
  lib/ui/compositing/scene_host.h
  shell/platform/fuchsia/dart_runner/kernel/libraries.json
  shell/platform/fuchsia/dart_runner/kernel/libraries.yaml
  shell/platform/fuchsia/flutter/kernel/libraries.json
  shell/platform/fuchsia/flutter/kernel/libraries.yaml
  shell/platform/fuchsia/runtime/dart/utils/handle_exception.cc
  shell/platform/fuchsia/runtime/dart/utils/handle_exception.h
  shell/platform/fuchsia/runtime/dart/utils/mapped_resource.h
Labels: cla: yes, waiting for tree to go green

#19457 Roll Dart SDK from 63feed82e1b1 to 6b4fe2fb78f6 (12 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#19463 Roll Skia from b5f7a07b77b4 to 0106fcc8a733 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19450 First batch of CanvasKit bindings using @JS
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/compositor/canvaskit_api.dart
  lib/web_ui/lib/src/engine/compositor/initialization.dart
  lib/web_ui/pubspec.yaml
  lib/web_ui/test/canvaskit/canvaskit_api_test.dart
  web_sdk/libraries.json
  web_sdk/libraries.yaml
  web_sdk/sdk_rewriter.dart
Labels: cla: yes

#19469 Roll Dart SDK from 6b4fe2fb78f6 to f8ff12008e84 (17 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#19472 Roll Dart SDK from f8ff12008e84 to 8afe9875a6d7 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#19475 Roll Fuchsia Mac SDK from 4MMwM... to bigQ3...
  DEPS
Labels: cla: yes, waiting for tree to go green

#19476 Roll Dart SDK from 8afe9875a6d7 to 28a3cd203923 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#19479 Roll Fuchsia Linux SDK from 34sZm... to kibil...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#19462 Set child_layer_exists_below flag for Fuchsia PlatformViewLayer
  flow/layers/platform_view_layer.cc
  flow/layers/platform_view_layer_unittests.cc
Labels: cla: yes

#19481 Roll Dart SDK from 28a3cd203923 to c190fc3a31e7 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#19482 FlutterView will handle dispatching all touch events to sub-views
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
Labels: cla: yes, platform-android

#19427 Synthesize touch events for hybrid views
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
Labels: cla: yes, platform-android

#19438 Use the X visual from the EGL configuration when making an FlView.
  shell/platform/linux/egl_utils_test.cc
  shell/platform/linux/fl_basic_message_channel_test.cc
  shell/platform/linux/fl_binary_messenger_test.cc
  shell/platform/linux/fl_method_channel_test.cc
  shell/platform/linux/fl_renderer.cc
  shell/platform/linux/fl_renderer.h
  shell/platform/linux/fl_renderer_x11.cc
  shell/platform/linux/fl_renderer_x11.h
  shell/platform/linux/fl_view.cc
  shell/platform/linux/testing/mock_egl.cc
  shell/platform/linux/testing/mock_renderer.cc
Labels: cla: yes

#19483 Roll Dart SDK from c190fc3a31e7 to cffeac78f98c (3 revisions)
  DEPS
Labels: cla: yes, waiting for tree to go green

#19485 Roll Fuchsia Mac SDK from bigQ3... to 9Xk9p...
  DEPS
Labels: cla: yes, waiting for tree to go green

#19493 Revert "fuchsia: Fix profile build"
  shell/platform/fuchsia/flutter/BUILD.gn
Labels: cla: yes

#19494 Revert "Add tests & --unopt to build_fuchsia_artifacts"
  BUILD.gn
  shell/platform/fuchsia/dart_runner/BUILD.gn
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/engine_flutter_runner.gni
  tools/fuchsia/build_fuchsia_artifacts.py
Labels: cla: yes

#19499 Flutter 1.20 candidate.3
  BUILD.gn
  shell/platform/fuchsia/dart_runner/BUILD.gn
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/engine_flutter_runner.gni
  tools/fuchsia/build_fuchsia_artifacts.py
Labels: cla: yes

#19426 Implement mutator stack on Android hybrid composition platform view
  ci/licenses_golden/licenses_flutter
  flow/embedded_views.cc
  flow/embedded_views.h
  flow/mutators_stack_unittests.cc
  shell/platform/android/BUILD.gn
  shell/platform/android/external_view_embedder/external_view_embedder.cc
  shell/platform/android/external_view_embedder/external_view_embedder_unittests.cc
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/engine/mutatorsstack/FlutterMutatorView.java
  shell/platform/android/io/flutter/embedding/engine/mutatorsstack/FlutterMutatorsStack.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/jni/BUILD.gn
  shell/platform/android/jni/jni_mock.h
  shell/platform/android/jni/platform_view_android_jni.h
  shell/platform/android/platform_view_android_jni_impl.cc
  shell/platform/android/platform_view_android_jni_impl.h
  shell/platform/android/test/io/flutter/embedding/engine/FlutterJNITest.java
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewCliprect.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewTransform.png
  tools/gen_javadoc.py
Labels: cla: yes, platform-android, waiting for tree to go green

#19486 Roll Dart SDK from cffeac78f98c to 4301899ed5b3 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#19488 Roll Fuchsia Linux SDK from kibil... to tu9Py...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#19492 Roll Fuchsia Mac SDK from 9Xk9p... to s4lA_...
  DEPS
Labels: cla: yes, waiting for tree to go green

#19498 Roll Skia from 0106fcc8a733 to 733666b3be3b (11 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19502 Roll Skia from 733666b3be3b to 52a4379f03f7 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19505 Roll Fuchsia Mac SDK from s4lA_... to _Na1L...
  DEPS
Labels: cla: yes, waiting for tree to go green

#19506 Roll Fuchsia Linux SDK from tu9Py... to TizBd...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#19507 Roll Dart SDK from 4301899ed5b3 to 69aba23371ff (14 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#19509 Roll Fuchsia Linux SDK from TizBd... to TvWbh...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#19524 Roll Skia from 52a4379f03f7 to b827e97d2bab (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19500 fuchsia: Remove dead flutter_frontend_server code
  flutter_frontend_server/BUILD.gn
Labels: cla: yes, code health, platform-fuchsia

#19528 Add missing GrContext.h include
  flow/raster_cache.cc
Labels: cla: yes

#19538 Switch view_holder flags
  flow/scene_update_context.cc
Labels: cla: yes

#19487 Switch to FlutterSurfaceView if no Android view is in the frame
  shell/common/rasterizer.cc
  shell/platform/android/external_view_embedder/external_view_embedder.cc
  shell/platform/android/external_view_embedder/external_view_embedder.h
  shell/platform/android/external_view_embedder/external_view_embedder_unittests.cc
  shell/platform/android/external_view_embedder/surface_pool.cc
  shell/platform/android/external_view_embedder/surface_pool_unittests.cc
  shell/platform/android/io/flutter/embedding/android/FlutterImageView.java
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
Labels: cla: yes, platform-android, waiting for tree to go green

#19552 Roll Skia from b827e97d2bab to ac45f499af46 (26 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19533 [web] Move surface path code
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/surface/path/conic.dart
  lib/web_ui/lib/src/engine/surface/path/path.dart
  lib/web_ui/lib/src/engine/surface/path/path_metrics.dart
  lib/web_ui/lib/src/engine/surface/path/path_to_svg.dart
Labels: cla: yes

#19560 Add @Keep annotation to FlutterMutatorsStack
  shell/platform/android/io/flutter/embedding/engine/mutatorsstack/FlutterMutatorsStack.java
Labels: cla: yes, platform-android

#19559 Roll Skia from ac45f499af46 to 6130d5079d55 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19563 Push fuchsia reverts to 1.20-candidate.4
  BUILD.gn
  shell/platform/fuchsia/dart_runner/BUILD.gn
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/engine_flutter_runner.gni
  tools/fuchsia/build_fuchsia_artifacts.py
Labels: cla: yes

#19566 Roll Fuchsia Linux SDK from TvWbh... to 1oAHN...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#19555 Resubmit frame when the surface is switched
  shell/platform/android/external_view_embedder/external_view_embedder.cc
  shell/platform/android/external_view_embedder/external_view_embedder_unittests.cc
Labels: cla: yes, platform-android

#19484 Track motion events for reuse post gesture disambiguation
  ci/licenses_golden/licenses_flutter
  lib/ui/hooks.dart
  lib/ui/pointer.dart
  lib/ui/window/pointer_data.h
  lib/web_ui/lib/src/ui/pointer.dart
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/android/AndroidTouchProcessor.java
  shell/platform/android/io/flutter/embedding/android/MotionEventTracker.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/PlatformViewsChannel.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/embedder/embedder.cc
Labels: cla: yes, platform-android

#19571 Cherrypick "Pin the version of meta used by web_ui (#19544)"
  lib/web_ui/pubspec.yaml
Labels: cla: yes

#18878 Refactor Win32FlutterWindow in preparation for UWP windowing implementation
  ci/licenses_golden/licenses_flutter
  shell/platform/windows/BUILD.gn
  shell/platform/windows/angle_surface_manager.cc
  shell/platform/windows/angle_surface_manager.h
  shell/platform/windows/flutter_windows.cc
  shell/platform/windows/flutter_windows_view.cc
  shell/platform/windows/flutter_windows_view.h
  shell/platform/windows/key_event_handler.cc
  shell/platform/windows/key_event_handler.h
  shell/platform/windows/keyboard_hook_handler.h
  shell/platform/windows/text_input_plugin.cc
  shell/platform/windows/text_input_plugin.h
  shell/platform/windows/win32_dpi_utils.cc
  shell/platform/windows/win32_dpi_utils.h
  shell/platform/windows/win32_dpi_utils_unittests.cc
  shell/platform/windows/win32_flutter_window.cc
  shell/platform/windows/win32_flutter_window.h
  shell/platform/windows/win32_platform_handler.cc
  shell/platform/windows/win32_platform_handler.h
  shell/platform/windows/win32_window.cc
  shell/platform/windows/win32_window.h
  shell/platform/windows/window_binding_handler.h
  shell/platform/windows/window_binding_handler_delegate.h
  shell/platform/windows/window_state.h
Labels: cla: yes, platform-windows

#19570 Roll Skia from 6130d5079d55 to 0c0d8dd6d637 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19575 kick flaky fuchsia build
  CONTRIBUTING.md
Labels: cla: yes

#19573 Roll Skia from 0c0d8dd6d637 to cf5e35f72130 (13 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19576 switch const finder to package_config
  tools/const_finder/.dart_tool/package_config.json
  tools/const_finder/BUILD.gn
  tools/run_third_party_dart.py
Labels: cla: yes

#19577 Manual roll of Dart 06cb010247...69aba23371
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#19567 include list_libraries.dart as a snapshot for fuchsia
  shell/platform/fuchsia/BUILD.gn
  shell/platform/fuchsia/dart/BUILD.gn
  tools/fuchsia/build_fuchsia_artifacts.py
Labels: cla: yes

#19587 Roll Skia from cf5e35f72130 to b4d60f807dbd (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19546 [CanvasKit] Dispose the overlay surface when a platform view is disposed
  lib/web_ui/lib/src/engine/compositor/embedded_views.dart
  lib/web_ui/lib/src/engine/compositor/surface.dart
Labels: cla: yes

#19592 Only attempt surface creation in viewDidLayoutSubviews if the application is active.
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
Labels: cla: yes, platform-ios

#19289 Call Dart_NotifyLowMemory more on iOS
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEnginePlatformViewTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
Labels: cla: yes, platform-ios, waiting for tree to go green

#19594 Roll Skia from b4d60f807dbd to 473c9f4cd9b2 (11 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19586 [web][1/3] Start first batch of auto-generated (already passing) tests for line break
  lib/web_ui/test/text/line_breaker_test.dart
  lib/web_ui/test/text/line_breaker_test_data.dart
Labels: cla: yes, platform-web

#19608 Propoagate Tap events on Android hybrid views
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
Labels: cla: yes, platform-android

#19556 Changed iOS channels to start cleaning up the accessibility handler when the bridge is deleted
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/common/framework/Headers/FlutterBinaryMessenger.h
  shell/platform/darwin/common/framework/Source/FlutterChannels.mm
  shell/platform/darwin/common/framework/Source/FlutterChannelsTest.m
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterBinaryMessengerRelay.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_test.mm
  shell/platform/darwin/ios/framework/Source/connection_collection.cc
  shell/platform/darwin/ios/framework/Source/connection_collection.h
  shell/platform/darwin/ios/framework/Source/connection_collection_test.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
Labels: cla: yes, platform-ios

#17420 Make DPAD movement consider grapheme clusters
  shell/platform/android/io/flutter/plugin/editing/FlutterTextUtils.java
  shell/platform/android/io/flutter/plugin/editing/InputConnectionAdaptor.java
  shell/platform/android/test/io/flutter/plugin/editing/InputConnectionAdaptorTest.java
Labels: affects: text input, cla: yes

#19614 Roll Skia from 473c9f4cd9b2 to 6669b0126705 (26 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19254 Add CanvasKit platform support for Skia.setResourceCacheMaxBytes.
  lib/web_ui/lib/src/engine/compositor/rasterizer.dart
  lib/web_ui/lib/src/engine/compositor/surface.dart
  lib/web_ui/lib/src/engine/window.dart
Labels: cla: yes

#19393 Clarify the relationship between PictureRecorder and Canvas
  lib/ui/painting.dart
  lib/ui/painting/canvas.cc
  lib/ui/painting/canvas.h
  lib/ui/painting/picture_recorder.cc
  lib/ui/painting/picture_recorder.h
Labels: cla: yes, waiting for tree to go green

#19612 Roll Fuchsia Mac SDK from _Na1L... to iwQCA...
  DEPS
Labels: waiting for tree to go green

#19613 Roll Fuchsia Linux SDK from 1oAHN... to NC9pp...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#19459 Implement cursor support for Windows
  ci/licenses_golden/licenses_flutter
  shell/platform/windows/BUILD.gn
  shell/platform/windows/cursor_handler.cc
  shell/platform/windows/cursor_handler.h
  shell/platform/windows/flutter_windows.cc
  shell/platform/windows/flutter_windows_view.cc
  shell/platform/windows/flutter_windows_view.h
  shell/platform/windows/testing/win32_window_test.cc
  shell/platform/windows/testing/win32_window_test.h
  shell/platform/windows/win32_flutter_window.cc
  shell/platform/windows/win32_flutter_window.h
  shell/platform/windows/win32_window.cc
  shell/platform/windows/win32_window.h
  shell/platform/windows/window_binding_handler.h
Labels: cla: yes

#19617 Roll Skia from 6669b0126705 to 16bf7d31c819 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19557 [web] Update SurfacePath to use PathRef
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/canvas_pool.dart
  lib/web_ui/lib/src/engine/surface/clip.dart
  lib/web_ui/lib/src/engine/surface/path/conic.dart
  lib/web_ui/lib/src/engine/surface/path/cubic.dart
  lib/web_ui/lib/src/engine/surface/path/path.dart
  lib/web_ui/lib/src/engine/surface/path/path_metrics.dart
  lib/web_ui/lib/src/engine/surface/path/path_ref.dart
  lib/web_ui/lib/src/engine/surface/path/path_to_svg.dart
  lib/web_ui/lib/src/engine/surface/path/path_utils.dart
  lib/web_ui/lib/src/engine/surface/path/path_windings.dart
  lib/web_ui/lib/src/engine/surface/path/tangent.dart
  lib/web_ui/lib/src/engine/surface/recording_canvas.dart
  lib/web_ui/test/engine/path_metrics_test.dart
  lib/web_ui/test/engine/recording_canvas_test.dart
  lib/web_ui/test/golden_tests/engine/path_to_svg_golden_test.dart
  lib/web_ui/test/golden_tests/engine/path_transform_test.dart
  lib/web_ui/test/golden_tests/engine/recording_canvas_golden_test.dart
  lib/web_ui/test/path_test.dart
  lib/web_ui/test/path_winding_test.dart
Labels: cla: yes

#19470 Set locale in Linux shell
  shell/platform/linux/fl_engine.cc
  shell/platform/linux/testing/mock_engine.cc
Labels: cla: yes

#19320 Fix documentation of unset platform view ID
  shell/platform/embedder/embedder.h
Labels: cla: yes

#19489 Fix clipboard paste functionality not working
  shell/platform/linux/fl_platform_plugin.cc
Labels: cla: yes

#19458 Added the ability to set properties in interface builder for FlutterViewController
  shell/platform/darwin/ios/framework/Headers/FlutterViewController.h
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
Labels: cla: yes, platform-ios

#19615 Use identical in hashValues instead of operator==
  lib/ui/hash_codes.dart
Labels: cla: yes

#19620 [android] Pass synthesized eventType to VirtualDisplay platform views and fix memory leak
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/android/AndroidTouchProcessor.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/PlatformViewsChannel.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/test/io/flutter/FlutterTestSuite.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
Labels: cla: yes, platform-android, waiting for tree to go green

#19564 using text capitalization value in web
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/text_editing/text_capitalization.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/text_editing_test.dart
Labels: cla: yes

#19635 Roll Skia from 16bf7d31c819 to 4d48bb35972f (32 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19638 Roll Skia from 4d48bb35972f to 9f821489c9f3 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19639 Roll Fuchsia Linux SDK from NC9pp... to 5R9a0...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#19640 Roll Fuchsia Mac SDK from iwQCA... to Wym-S...
  DEPS
Labels: cla: yes, waiting for tree to go green

#19643 Roll Skia from 9f821489c9f3 to f8a6b5b4b0d0 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19616 Changes to fix build errors in google3.
  flow/view_holder.h
Labels: cla: yes

#19647 Roll Skia from f8a6b5b4b0d0 to 5160e8caa226 (9 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19649 Manual Roll of Dart dfdc7e45c5...06cb010247
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#19653 1.20.0-7.1.pre engine CPs
  DEPS
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/android/AndroidTouchProcessor.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/PlatformViewsChannel.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/test/io/flutter/FlutterTestSuite.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
Labels: platform-android

#19633 don't throw error for the new autofill request
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
Labels: cla: yes

#19650 Manual Skia roll to c91db040ad18b9cc3236e342e9acca020eaafd10
  DEPS
  ci/licenses_golden/licenses_skia
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#19504 Avoid a copy in EncodeImage
  ci/licenses_golden/licenses_flutter
  lib/ui/BUILD.gn
  lib/ui/fixtures/ui_test.dart
  lib/ui/painting.dart
  lib/ui/painting/image_encoding.cc
  lib/ui/painting/image_encoding_unittests.cc
Labels: cla: yes

#19656 Roll Fuchsia Linux SDK from 5R9a0... to GOf1K...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#19606 Incorporate compat info changes into flutter engine
  lib/web_ui/analysis_options.yaml
  lib/web_ui/lib/src/engine/assets.dart
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/browser_detection.dart
  lib/web_ui/lib/src/engine/browser_location.dart
  lib/web_ui/lib/src/engine/clipboard.dart
  lib/web_ui/lib/src/engine/dom_renderer.dart
  lib/web_ui/lib/src/engine/keyboard.dart
  lib/web_ui/lib/src/engine/pointer_binding.dart
  lib/web_ui/lib/src/engine/semantics/incrementable.dart
  lib/web_ui/lib/src/engine/semantics/semantics_helper.dart
  lib/web_ui/lib/src/engine/semantics/text_field.dart
  lib/web_ui/lib/src/engine/surface/scene.dart
  lib/web_ui/lib/src/engine/surface/surface_stats.dart
  lib/web_ui/lib/src/engine/text/font_collection.dart
  lib/web_ui/lib/src/engine/text/measurement.dart
  lib/web_ui/lib/src/engine/window.dart
Labels: cla: yes

#19657 Manual Roll of Dart 707c6404f9...dfdc7e45c5
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#19661 Roll Fuchsia Mac SDK from Wym-S... to -v4bL...
  DEPS
Labels: cla: yes, waiting for tree to go green

#19666 Roll Dart SDK from 707c6404f969 to 0e25306d3f78 (4 revisions)
  DEPS
Labels: cla: yes, waiting for tree to go green

#19669 Roll Dart SDK from 0e25306d3f78 to 6d06476bae6b (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#19671 Roll Fuchsia Linux SDK from GOf1K... to QWI76...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#19562 CkPaint uses SkPaint
  lib/web_ui/lib/src/engine/compositor/canvaskit_api.dart
  lib/web_ui/lib/src/engine/compositor/color_filter.dart
  lib/web_ui/lib/src/engine/compositor/image.dart
  lib/web_ui/lib/src/engine/compositor/image_filter.dart
  lib/web_ui/lib/src/engine/compositor/mask_filter.dart
  lib/web_ui/lib/src/engine/compositor/painting.dart
  lib/web_ui/lib/src/engine/shader.dart
  lib/web_ui/test/canvaskit/canvaskit_api_test.dart
Labels: cla: yes

#18749 Use the main bundle if the App bundle is not found
  shell/platform/darwin/macos/framework/Source/FlutterDartProject.mm
Labels: cla: yes

#19677 Roll Dart SDK from 6d06476bae6b to a9e67d81941a (3 revisions)
  DEPS
Labels: cla: yes, waiting for tree to go green

#19681 Roll Fuchsia Mac SDK from -v4bL... to phQJt...
  DEPS
Labels: cla: yes, waiting for tree to go green

#19682 Roll Fuchsia Linux SDK from QWI76... to mrlGt...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#19686 Roll Skia from c91db040ad18 to e4f36d7ac8f5 (20 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19687 Roll Skia from e4f36d7ac8f5 to ed15b1c39b8b (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#19688 Roll Fuchsia Mac SDK from phQJt... to kEVc6...
  DEPS
Labels: cla: yes, waiting for tree to go green

#19690 Roll Fuchsia Linux SDK from mrlGt... to YfVT0...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#19692 Roll Skia from ed15b1c39b8b to 1434ce1aa94d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19695 Roll Skia from 1434ce1aa94d to f64be13cbf84 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19696 Roll Fuchsia Mac SDK from kEVc6... to hRul_...
  DEPS
Labels: cla: yes, waiting for tree to go green

#19697 Roll Skia from f64be13cbf84 to 041796e60364 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19703 Roll Dart SDK from a9e67d81941a to fecc8163afc7 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#19558 [Android] Prevent listener from calling JNI after detach
  shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
  shell/platform/android/test/io/flutter/embedding/engine/renderer/FlutterRendererTest.java
Labels: cla: yes, crash, platform-android

#19704 Roll Skia from 041796e60364 to d1ce4cb2beb8 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19707 Roll Skia from d1ce4cb2beb8 to 7c1967700b44 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19712 Roll Skia from 7c1967700b44 to 439709a97dfd (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19664 Support decimal information on the TextInputType
  lib/web_ui/lib/src/engine/text_editing/input_type.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/text_editing_test.dart
Labels: cla: yes

#19561 Linux: Use a hash table to map cursors
  shell/platform/linux/fl_mouse_cursor_plugin.cc
Labels: cla: yes

#19711 [web] Implement ulps for path ops
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/ulps.dart
  lib/web_ui/test/engine/ulps_test.dart
Labels: cla: yes

#19700 Fixes typo in android_context_gl.h
  shell/platform/android/android_context_gl.h
Labels: cla: yes, platform-android

#19715 Roll Skia from 439709a97dfd to 2604a89d3353 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19678 [fuchsia] Use memory_requirements_2 extension.
  shell/platform/fuchsia/flutter/vulkan_surface_producer.cc
  vulkan/vulkan_device.cc
Labels: cla: yes

#19720 Roll Fuchsia Linux SDK from YfVT0... to 2ct5j...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#19721 Roll Fuchsia Mac SDK from hRul_... to ZXLvD...
  DEPS
Labels: cla: yes, waiting for tree to go green

#19722 Roll Dart SDK from fecc8163afc7 to f997d62a6d29 (13 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#19667 Remove xcpretty from unit tests to see full output on test failures
  testing/ios/IosUnitTests/run_tests.sh
  testing/scenario_app/run_ios_tests.sh
Labels: cla: yes

#19658 Moved to RMSE for image comparison to account for slight variations in golden image tests
  testing/scenario_app/ios/Scenarios/ScenariosUITests/GoldenImage.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/UnobstructedPlatformViewTests.m
Labels: cla: yes

#19725 Wait for platform view to appear in iOS UI tests
  testing/scenario_app/ios/Scenarios/ScenariosUITests/UnobstructedPlatformViewTests.m
Labels: cla: yes

#19583 fuchsia: Enable most unittests
  BUILD.gn
  common/config.gni
  flow/BUILD.gn
  fml/BUILD.gn
  lib/ui/BUILD.gn
  runtime/BUILD.gn
  shell/common/BUILD.gn
  shell/platform/common/cpp/BUILD.gn
  shell/platform/config.gni
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/embedder/BUILD.gn
  shell/platform/fuchsia/BUILD.gn
  shell/platform/fuchsia/dart-pkg/zircon/sdk_ext/system.cc
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/flutter_app.gni
  shell/testing/BUILD.gn
  sky/BUILD.gn
  testing/BUILD.gn
  testing/fuchsia/run_tests.sh
  testing/fuchsia/test_fars
  third_party/txt/BUILD.gn
  third_party/txt/tests/txt_run_all_unittests.cc
  vulkan/vulkan_interface.h
Labels: affects: tests, cla: yes, code health, platform-android, platform-fuchsia

#19728 Fix Mac / iOS builds
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/embedder/BUILD.gn
Labels: cla: yes, platform-ios

#19723 Roll Skia from 2604a89d3353 to 342273cbaa21 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#19679 Remove reference to dev_finder.
  testing/fuchsia/run_tests.sh
Labels: cla: yes

#19735 Roll Dart SDK from f997d62a6d29 to 20bf2fcf5670 (18 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#19668 Turn off failing XCTest attachment collection
  testing/ios/IosUnitTests/IosUnitTests.xcodeproj/xcshareddata/xcschemes/IosUnitTests.xcscheme
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/xcshareddata/xcschemes/Scenarios.xcscheme
  testing/scenario_app/ios/Scenarios/ScenariosUITests/GoldenPlatformViewTests.m
Labels: cla: yes, waiting for tree to go green

#19694 Rebuild CkPath on top of `@JS` bindings with 3.28x speed-up on the path benchmark
  lib/web_ui/lib/src/engine/compositor/canvas.dart
  lib/web_ui/lib/src/engine/compositor/canvaskit_api.dart
  lib/web_ui/lib/src/engine/compositor/image.dart
  lib/web_ui/lib/src/engine/compositor/path.dart
  lib/web_ui/lib/src/engine/compositor/path_metrics.dart
  lib/web_ui/lib/src/engine/compositor/util.dart
  lib/web_ui/lib/src/engine/shader.dart
  lib/web_ui/test/canvaskit/canvaskit_api_test.dart
Labels: cla: yes

#19734 Roll Fuchsia Linux SDK from 2ct5j... to 4xypL...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green
