Repository flutter/engine, pull requests merged in 2020-11, with the labels that each got.

#22247 scenario app: update golden for platform view opacity test
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_opacity_iPhone 8_simulator.png
Labels: cla: yes

#22248 [web] fix type error during hot restart in font manager
  lib/web_ui/lib/src/engine/canvaskit/fonts.dart
Labels: cla: yes

#22237 Roll Skia from d5e6368fffd0 to 7585a65ac709 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22246 Roll Fuchsia Mac SDK from 8SkbMXJJ9... to Pz4ZHZrUp...
  DEPS
Labels: cla: yes, waiting for tree to go green

#22243 Roll Dart SDK from 25ef5dc559cf to 5acb5fcf84cb (4 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#22205 makes android semanticsnode to ignore hittest if it is not focusable
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  shell/platform/android/test/io/flutter/view/AccessibilityBridgeTest.java
Labels: cla: yes, platform-android, waiting for tree to go green

#22244 Roll Fuchsia Linux SDK from sNx8qabBn... to QqGvMWaYk...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#22250 Roll Skia from 7585a65ac709 to dffd20efe95c (14 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22207 Defer Windows arrow key and delete handling
  shell/platform/windows/text_input_plugin.cc
Labels: cla: yes

#22251 fix _getArrayBuffer signature
  lib/web_ui/lib/src/engine/canvaskit/fonts.dart
Labels: cla: yes

#22252 [web] Fix nullability issue with Image.network
  lib/web_ui/lib/src/ui/painting.dart
Labels: cla: yes

#22255 Roll Dart SDK from 5acb5fcf84cb to a9d583383410 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#22159 Report error when instantiating CanvasKit network image
  lib/web_ui/lib/src/engine/canvaskit/image.dart
  lib/web_ui/lib/src/ui/painting.dart
  lib/web_ui/test/canvaskit/image_test.dart
Labels: cla: yes, platform-web

#22240 Remove the metrics task from cirrus.
  .cirrus.yml
Labels: cla: yes

#22130 Add braces on if statements to match linter style
  shell/platform/linux/testing/fl_test.cc
  shell/platform/linux/testing/mock_egl.cc
Labels: cla: yes

#22257 do not print in _computePixelDensity
  lib/web_ui/lib/src/engine/html/picture.dart
Labels: cla: yes, waiting for tree to go green

#22258 Roll Dart SDK from a9d583383410 to d2577410a501 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#21811 Switch macOS embedding to proc table embedder API
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngineUnittests.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/macos/framework/Source/FlutterViewControllerTest.mm
Labels: affects: desktop, affects: engine, cla: yes, platform-macos

#22262 Roll Fuchsia Mac SDK from Pz4ZHZrUp... to 6yEx5GNGG...
  DEPS
Labels: cla: yes, waiting for tree to go green

#22264 Roll Fuchsia Linux SDK from QqGvMWaYk... to oLF1FW-gC...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#19843 Migrate Dart_WeakPersistentHandle uses and roll Dart
  BUILD.gn
  DEPS
  ci/licenses_golden/licenses_flutter
  ci/licenses_golden/licenses_third_party
  lib/ui/painting/image_decoder.cc
  lib/ui/painting/image_encoding.cc
  runtime/dart_isolate.cc
  shell/platform/embedder/embedder.cc
  shell/platform/fuchsia/dart_runner/dart_runner.cc
  testing/run_tests.py
  third_party/tonic/BUILD.gn
  third_party/tonic/dart_state.cc
  third_party/tonic/dart_state.h
  third_party/tonic/dart_weak_persistent_value.cc
  third_party/tonic/dart_weak_persistent_value.h
  third_party/tonic/dart_wrappable.cc
  third_party/tonic/dart_wrappable.h
  third_party/tonic/tests/BUILD.gn
  third_party/tonic/tests/dart_state_unittest.cc
  third_party/tonic/tests/dart_weak_persistent_handle_unittest.cc
  third_party/tonic/tests/fixtures/tonic_test.dart
  third_party/tonic/typed_data/dart_byte_data.cc
Labels: cla: yes

#22265 Roll Dart SDK from 52783837369d to b43baaaa477d (723 revisions)
  DEPS
Labels: cla: yes, waiting for tree to go green

#22273 [web] Fix repaint logic for cullrect,transform changes
  lib/web_ui/lib/src/engine/html/picture.dart
Labels: cla: yes

#22215 [web] Canoncalize font family on input fields
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/text_editing_test.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#22269 Roll Dart SDK from b43baaaa477d to a4fbabcd73dc (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#22271 Roll Fuchsia Mac SDK from 6yEx5GNGG... to o45EAhxJZ...
  DEPS
Labels: cla: yes, waiting for tree to go green

#22276 Roll Fuchsia Linux SDK from oLF1FW-gC... to Esyuo1am1...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#22261 web: make some errors more idiomatic
  lib/web_ui/lib/src/engine/clipboard.dart
  lib/web_ui/lib/src/engine/html/surface.dart
Labels: cla: yes, platform-web

#22211 Switch Windows embedding to proc table embedder API
  ci/licenses_golden/licenses_flutter
  shell/platform/windows/BUILD.gn
  shell/platform/windows/flutter_project_bundle.cc
  shell/platform/windows/flutter_project_bundle.h
  shell/platform/windows/flutter_windows.cc
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_engine.h
  shell/platform/windows/flutter_windows_engine_unittests.cc
  shell/platform/windows/flutter_windows_view.cc
  shell/platform/windows/testing/engine_embedder_api_modifier.h
  shell/platform/windows/win32_task_runner.cc
  shell/platform/windows/win32_task_runner.h
Labels: cla: yes

#22277 Roll Skia from dffd20efe95c to 6e7cfaff1817 (37 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22281 Roll Skia from 6e7cfaff1817 to 0e54309477ac (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22283 Roll Dart SDK from a4fbabcd73dc to 57bb12dc24d2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
  tools/const_finder/.dart_tool/package_config.json
Labels: cla: yes, waiting for tree to go green

#22268 Fix Linux handling of window exposure events
  shell/platform/linux/fl_view.cc
Labels: cla: yes

#22239 [web] Put the paragraph painting logic in the Paragraph class
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/engine_canvas.dart
  lib/web_ui/lib/src/engine/html/recording_canvas.dart
  lib/web_ui/lib/src/engine/text/paragraph.dart
Labels: cla: yes, platform-web

#22286 Roll Skia from 0e54309477ac to 938932225cef (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22287 Roll Dart SDK from 57bb12dc24d2 to 599329b5cd98 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#22288 Roll Skia from 938932225cef to 97469f4abe0a (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22289 Roll Fuchsia Mac SDK from o45EAhxJZ... to m1uK0SlYN...
  DEPS
Labels: cla: yes, waiting for tree to go green

#22291 Roll Dart SDK from 599329b5cd98 to fbc56c1561ba (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#22293 Roll Dart SDK from fbc56c1561ba to bf751197ddb9 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#22294 Roll Skia from 97469f4abe0a to a8f4c91114b5 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22295 Roll Fuchsia Linux SDK from Esyuo1am1... to Z1HqmxtPR...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#22296 Roll Skia from a8f4c91114b5 to 3744b2a36638 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22285 [web] Enable Control+MouseWheel browser zoom
  lib/web_ui/lib/src/engine/pointer_binding.dart
Labels: cla: yes

#22282 added unit tests to the rasterizer
  ci/licenses_golden/licenses_flutter
  shell/common/BUILD.gn
  shell/common/rasterizer_unittests.cc
Labels: cla: yes, waiting for tree to go green

#22270 Fix code style issues in MacOS embedder
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/darwin/macos/framework/Source/FlutterResizeSynchronizer.h
  shell/platform/darwin/macos/framework/Source/FlutterResizeSynchronizer.mm
  shell/platform/darwin/macos/framework/Source/FlutterSurfaceManager.h
  shell/platform/darwin/macos/framework/Source/FlutterSurfaceManager.mm
  shell/platform/darwin/macos/framework/Source/FlutterView.h
  shell/platform/darwin/macos/framework/Source/FlutterView.mm
  shell/platform/darwin/macos/framework/Source/MacOSGLContextSwitch.h
  shell/platform/darwin/macos/framework/Source/MacOSGLContextSwitch.mm
  shell/platform/darwin/macos/framework/Source/MacOSSwitchableGLContext.h
  shell/platform/darwin/macos/framework/Source/MacOSSwitchableGLContext.mm
Labels: cla: yes, waiting for tree to go green

#22292 Updated return-type for PathMetric.extractPath to be non-nullable
  AUTHORS
  lib/ui/painting.dart
  lib/web_ui/lib/src/engine/html/path/path_metrics.dart
  lib/web_ui/lib/src/ui/path_metrics.dart
Labels: cla: yes, waiting for tree to go green

#22297 Roll Skia from 3744b2a36638 to 007d97d69962 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22298 Revert "support uri intent launcher in android (#21275)"
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/io/flutter/embedding/android/FlutterFragmentActivity.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
Labels: cla: yes, platform-android, waiting for tree to go green

#22299 Roll Dart SDK from bf751197ddb9 to e182eac158cf (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#22280 Switch Linux embedding to proc table embedder API
  shell/platform/linux/BUILD.gn
  shell/platform/linux/fl_basic_message_channel_test.cc
  shell/platform/linux/fl_engine.cc
  shell/platform/linux/fl_engine_private.h
  shell/platform/linux/testing/mock_engine.cc
Labels: cla: yes

#22304 Reland: Use dispatchKeyEventPreIme, and handle keys sent to InputConnection.sendKeyEvent on Android
  shell/platform/android/io/flutter/embedding/android/AndroidKeyProcessor.java
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/plugin/editing/InputConnectionAdaptor.java
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/test/io/flutter/embedding/android/AndroidKeyProcessorTest.java
  shell/platform/android/test/io/flutter/plugin/editing/InputConnectionAdaptorTest.java
Labels: cla: yes, platform-android

#22306 Roll Skia from 007d97d69962 to 68dcf542b79f (12 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22309 Roll the path package in web_ui and web_test_utils to match the version used by the framework
  lib/web_ui/pubspec.yaml
  web_sdk/web_test_utils/pubspec.yaml
Labels: cla: yes

#20643 SKP based shader warmup
  assets/asset_manager.cc
  assets/asset_manager.h
  assets/asset_resolver.h
  assets/directory_asset_bundle.cc
  assets/directory_asset_bundle.h
  fml/concurrent_message_loop.h
  fml/task_runner.h
  shell/common/persistent_cache.cc
  shell/common/persistent_cache.h
  shell/common/rasterizer.cc
  shell/common/serialization_callbacks.cc
  shell/common/serialization_callbacks.h
  shell/common/shell_unittests.cc
  shell/common/skp_shader_warmup_unittests.cc
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/compositor_context.cc
  shell/platform/fuchsia/flutter/compositor_context.h
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/engine.h
  shell/platform/fuchsia/flutter/flutter_runner_product_configuration.cc
  shell/platform/fuchsia/flutter/flutter_runner_product_configuration.h
  shell/platform/fuchsia/flutter/meta/flutter_runner_tests.cmx
  shell/platform/fuchsia/flutter/tests/engine_unittests.cc
  shell/platform/fuchsia/flutter/vulkan_surface_pool.h
  shell/platform/fuchsia/flutter/vulkan_surface_producer.cc
  shell/platform/fuchsia/flutter/vulkan_surface_producer.h
  testing/fuchsia/meta/fuchsia_test.cmx
Labels: cla: yes, waiting for tree to go green

#22316 Roll Fuchsia Mac SDK from m1uK0SlYN... to NimIr5BT-...
  DEPS
Labels: cla: yes, waiting for tree to go green

#22317 Roll Fuchsia Linux SDK from Z1HqmxtPR... to 2rLs0vAIz...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#22321 Revert "Reland: Use dispatchKeyEventPreIme, and handle keys sent to InputConnection.sendKeyEvent on Android (#22304)"
  shell/platform/android/io/flutter/embedding/android/AndroidKeyProcessor.java
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/plugin/editing/InputConnectionAdaptor.java
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/test/io/flutter/embedding/android/AndroidKeyProcessorTest.java
  shell/platform/android/test/io/flutter/plugin/editing/InputConnectionAdaptorTest.java
Labels: cla: yes, platform-android

#22284 [linux] Change the buildroot DEPS for Linux Arm64 support
  DEPS
Labels: cla: yes, waiting for tree to go green

#22319 Roll Skia from 68dcf542b79f to 694ff1735711 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22324 Roll Skia from 694ff1735711 to 71624de2c5d9 (12 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#21896 Show OSK on GNOME+Wayland
  shell/platform/linux/fl_text_input_plugin.cc
Labels: cla: yes

#22328 [web] Improve dom canvas speed. Fix density calculation regression in recomputeTransformClip
  lib/web_ui/lib/src/engine/dom_canvas.dart
  lib/web_ui/lib/src/engine/dom_renderer.dart
  lib/web_ui/lib/src/engine/html/backdrop_filter.dart
  lib/web_ui/lib/src/engine/html/clip.dart
  lib/web_ui/lib/src/engine/html/offset.dart
  lib/web_ui/lib/src/engine/html/opacity.dart
  lib/web_ui/lib/src/engine/html/picture.dart
  lib/web_ui/lib/src/engine/html/transform.dart
  lib/web_ui/lib/src/engine/mouse_cursor.dart
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/lib/src/engine/text/ruler.dart
  lib/web_ui/lib/src/engine/vector_math.dart
  lib/web_ui/test/canvas_test.dart
  lib/web_ui/test/dom_renderer_test.dart
  lib/web_ui/test/golden_tests/engine/scuba.dart
Labels: cla: yes

#22256 [web] Add test for Image.network
  e2etests/web/regular_integration_tests/lib/image_loading_main.dart
  e2etests/web/regular_integration_tests/test_driver/image_loading_integration.dart
Labels: cla: yes

#22330 Roll Fuchsia Mac SDK from NimIr5BT-... to XV9_JbDD-...
  DEPS
Labels: cla: yes, waiting for tree to go green

#22331 Roll Fuchsia Linux SDK from 2rLs0vAIz... to pCIhWatQU...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#22221 Update painting.dart
  lib/ui/painting.dart
Labels: cla: yes, waiting for tree to go green

#22333 Roll Skia from 71624de2c5d9 to f8f23b203079 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22332 Roll dart e182eac158cf..9bc7d4604277
  DEPS
  ci/licenses_golden/licenses_third_party
  shell/testing/observatory/launcher.dart
  shell/testing/observatory/service_client.dart
  shell/testing/observatory/test.dart
  tools/android_lint/bin/main.dart
Labels: cla: yes, waiting for tree to go green

#22337 Revert "Added the ability to set the initial route via launch urls. (…
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegate.mm
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegateTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegate_Test.h
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterEngine_Test.h
Labels: cla: yes, platform-ios, waiting for tree to go green

#22339 Roll Skia from f8f23b203079 to 8d0f710ef0e0 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22322 [null-safety] increase sky engine min sdk
  sky/packages/flutter_services/pubspec.yaml
  sky/packages/sky_engine/pubspec.yaml
  sky/packages/sky_services/pubspec.yaml
  testing/scenario_app/pubspec.yaml
Labels: cla: yes

#22341 Roll Dart SDK from 9bc7d4604277 to 1936a7d1909d (2 revisions)
  DEPS
Labels: cla: yes, waiting for tree to go green

#22335 [web] Remove sink parameter since _BaseAdapter exposes _callback
  lib/web_ui/lib/src/engine/pointer_binding.dart
Labels: cla: yes

#22343 Roll Skia from 8d0f710ef0e0 to 92bc649cd7e6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22344 Roll Skia from 92bc649cd7e6 to 05f74f28d688 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22342 [web] Fix recycling same canvas more than once and add assert to detect
  lib/web_ui/lib/src/engine/html/picture.dart
Labels: cla: yes

#22346 Roll Fuchsia Mac SDK from XV9_JbDD-... to TwfKJxO8r...
  DEPS
Labels: cla: yes, waiting for tree to go green

#22347 Roll Fuchsia Linux SDK from pCIhWatQU... to oNrhKDRLZ...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#22214 Platform views have CreateExternalViewEmbedder
  shell/common/platform_view.cc
  shell/common/platform_view.h
  shell/common/shell_test_platform_view_gl.cc
  shell/common/shell_test_platform_view_gl.h
  shell/common/shell_test_platform_view_vulkan.cc
  shell/common/shell_test_platform_view_vulkan.h
  shell/platform/android/platform_view_android.cc
  shell/platform/android/platform_view_android.h
  shell/platform/darwin/ios/platform_view_ios.h
  shell/platform/darwin/ios/platform_view_ios.mm
  shell/platform/embedder/platform_view_embedder.cc
  shell/platform/embedder/platform_view_embedder.h
  shell/platform/fuchsia/flutter/platform_view.cc
  shell/platform/fuchsia/flutter/platform_view.h
Labels: cla: yes, platform-android, platform-ios, waiting for tree to go green

#22349 Roll Skia from 05f74f28d688 to 6cafdc069bdb (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22350 Roll Dart SDK from 1936a7d1909d to fe12b0536f42 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#22352 Roll Skia from 6cafdc069bdb to ba9a04fb8d5a (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22348 Rasterizer is initialized with an external view embedder
  shell/common/platform_view.h
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/common/rasterizer_unittests.cc
  shell/common/shell.cc
Labels: cla: yes

#22326 Ignore several import_of_legacy_library_into_null_safe
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/test/engine/path_metrics_test.dart
  lib/web_ui/test/engine/surface/path/path_iterator_test.dart
  lib/web_ui/test/engine/surface/path/path_winding_test.dart
  lib/web_ui/test/engine/ulps_test.dart
  lib/web_ui/test/golden_tests/engine/color_filter_golden_test.dart
  lib/web_ui/test/lerp_test.dart
  lib/web_ui/test/path_test.dart
  lib/web_ui/test/text/line_breaker_test.dart
Labels: cla: yes

#22355 Roll Skia from ba9a04fb8d5a to 4eb7c23d5289 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22275 Do not involve external_view_embedder in submit frame process if threads are not merged.
  shell/common/rasterizer.cc
  shell/common/rasterizer_unittests.cc
  shell/common/shell_unittests.cc
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
Labels: cla: yes, platform-ios, waiting for tree to go green

#22358 Roll Skia from 4eb7c23d5289 to b8123cc87770 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22307 [web] Split the EngineParagraph interface from the legacy implementation
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/html/recording_canvas.dart
  lib/web_ui/lib/src/engine/text/canvas_paragraph.dart
  lib/web_ui/lib/src/engine/text/measurement.dart
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/lib/src/engine/text/ruler.dart
  lib/web_ui/lib/src/ui/text.dart
  lib/web_ui/test/text/canvas_paragraph_builder_test.dart
  lib/web_ui/test/text/measurement_test.dart
  lib/web_ui/test/text_test.dart
Labels: cla: yes, platform-web

#22340 Use dispatchKeyEvent, and handle keys sent to InputConnection.sendKeyEvent on Android
  shell/platform/android/io/flutter/embedding/android/AndroidKeyProcessor.java
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/plugin/editing/InputConnectionAdaptor.java
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/test/io/flutter/embedding/android/AndroidKeyProcessorTest.java
  shell/platform/android/test/io/flutter/plugin/editing/InputConnectionAdaptorTest.java
Labels: cla: yes, platform-android

#22361 Roll Skia from b8123cc87770 to e886b8e8b10b (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22364 Roll Skia from e886b8e8b10b to 86d4cfdf8edc (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22367 Revert "Rasterizer is initialized with an external view embedder (#22348)"
  shell/common/platform_view.h
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/common/rasterizer_unittests.cc
  shell/common/shell.cc
  shell/common/shell_unittests.cc
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
Labels: cla: yes, platform-ios

#22365 [web] Implement style inheritance during paragraph construction
  lib/web_ui/lib/src/engine/text/canvas_paragraph.dart
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/test/text/canvas_paragraph_builder_test.dart
Labels: cla: yes, platform-web

#22369 Roll Fuchsia Mac SDK from TwfKJxO8r... to VMNxgZGv9...
  DEPS
Labels: cla: yes, waiting for tree to go green

#22368 Roll Skia from 86d4cfdf8edc to c2bfcff07225 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22362 Remove extra method in ComputePlatformResolvedLocale
  shell/common/platform_view.h
  shell/common/shell.cc
  shell/common/shell.h
  shell/platform/darwin/ios/framework/Source/FlutterEnginePlatformViewTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_test.mm
Labels: cla: yes

#22375 Add SDK constraint to a pubspec
  testing/dart/pubspec.yaml
Labels: cla: yes, waiting for tree to go green

#22373 loadFontFromList returns void instead of string
  lib/ui/text.dart
Labels: cla: yes, waiting for tree to go green

#22357 [web] Remove as checks (_generalNullableAsCheckImplementation) / pushSurface calls
  lib/web_ui/lib/src/engine/html/scene_builder.dart
Labels: cla: yes

#22366 Update pubspecs to null-safe dependencies
  lib/web_ui/analysis_options.yaml
  lib/web_ui/build.canvaskit.yaml
  lib/web_ui/build.html.yaml
  lib/web_ui/dev/test_runner.dart
  lib/web_ui/pubspec.yaml
  web_sdk/web_engine_tester/pubspec.yaml
  web_sdk/web_test_utils/pubspec.yaml
Labels: cla: yes

#22376 Roll Fuchsia Linux SDK from oNrhKDRLZ... to KMV-UCyzK...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#22378 Roll Dart SDK from fe12b0536f42 to a188781c9fc8 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#22372 Reland "Do not involve external_view_embedder in submit frame process if threads are not merged. #22275"
  shell/common/rasterizer.cc
  shell/common/rasterizer_unittests.cc
  shell/common/shell_unittests.cc
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
Labels: cla: yes, platform-ios, waiting for tree to go green

#22381 Roll Fuchsia Mac SDK from VMNxgZGv9... to rMD6SyXwO...
  DEPS
Labels: cla: yes, waiting for tree to go green

#22385 Revert "Roll Dart SDK from fe12b0536f42 to a188781c9fc8 (1 revision)"
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#22382 Roll Skia from c2bfcff07225 to ed435953dfd6 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#22383 Roll Fuchsia Linux SDK from KMV-UCyzK... to e9vV76ZgA...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#22386 Roll Dart SDK from fe12b0536f42 to a188781c9fc8 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#22389 Roll Fuchsia Mac SDK from rMD6SyXwO... to ZOJgUMChm...
  DEPS
Labels: cla: yes, waiting for tree to go green

#22390 Roll Fuchsia Linux SDK from e9vV76ZgA... to OBQ4E_4kG...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#22391 Roll Skia from ed435953dfd6 to cfe647c02fb4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22392 Roll Fuchsia Mac SDK from ZOJgUMChm... to 5rXlkcaVT...
  DEPS
Labels: cla: yes, waiting for tree to go green

#22398 Roll Fuchsia Mac SDK from 5rXlkcaVT... to fkTLW7DRc...
  DEPS
Labels: cla: yes, waiting for tree to go green

#22393 Roll Fuchsia Linux SDK from OBQ4E_4kG... to g6EuxMthn...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#22400 Roll Dart SDK from a188781c9fc8 to 26219fa05863 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#22399 Roll Skia from cfe647c02fb4 to ee0ce9858cbc (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22402 Roll Skia from ee0ce9858cbc to 5de0b38dd133 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22403 [PlatformViewsController] Clear root_views_ in Reset
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
Labels: cla: yes, platform-ios, waiting for tree to go green

#22404 Roll Skia from 5de0b38dd133 to ee1098db15b2 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22380 Roll ICU to 715ec351c0bcdd6b2d22f36e7d33b8e2ec519846
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#22345 move deprecation from the PluginRegistry outer interface to inner, v1-specific fields
  shell/platform/android/io/flutter/plugin/common/PluginRegistry.java
Labels: cla: yes, platform-android

#22411 Roll Skia from ee1098db15b2 to 84d503b21322 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22413 Roll Dart SDK from 26219fa05863 to 8749fdff07f5 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#22371 [web] Restore the ability to set a custom url strategy
  e2etests/web/regular_integration_tests/lib/url_strategy_main.dart
  e2etests/web/regular_integration_tests/pubspec.yaml
  e2etests/web/regular_integration_tests/test_driver/url_strategy_integration.dart
  e2etests/web/regular_integration_tests/test_driver/url_strategy_integration_test.dart
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/test/window_test.dart
Labels: cla: yes, platform-web

#22416 Roll Fuchsia Mac SDK from fkTLW7DRc... to w10eytxvc...
  DEPS
Labels: cla: yes, waiting for tree to go green

#22417 Roll Fuchsia Linux SDK from g6EuxMthn... to DzZi2gPbF...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#22418 Roll Skia from 84d503b21322 to 5b8598952931 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22419 Roll Skia from 5b8598952931 to 02dd0ed8ce5e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22420 Roll Skia from 02dd0ed8ce5e to fb5850f41043 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22421 Roll Skia from fb5850f41043 to 008d63e23dab (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22409 Simplify API for scheduling Skia object deletions
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/skia_object_cache.dart
Labels: cla: yes

#22422 Roll Skia from 008d63e23dab to 267826c86552 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22423 Roll Fuchsia Mac SDK from w10eytxvc... to e-4Jm-yWa...
  DEPS
Labels: cla: yes, waiting for tree to go green

#22424 Roll Skia from 267826c86552 to 88e8bb2fe2d5 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22320 Move common graphics utils to //flutter/common/graphics
  ci/licenses_golden/licenses_flutter
  common/graphics/BUILD.gn
  common/graphics/gl_context_switch.cc
  common/graphics/gl_context_switch.h
  common/graphics/persistent_cache.cc
  common/graphics/persistent_cache.h
  common/graphics/texture.cc
  common/graphics/texture.h
  flow/BUILD.gn
  flow/compositor_context.h
  flow/gl_context_switch_unittests.cc
  flow/layers/layer.h
  flow/layers/texture_layer.cc
  flow/surface.h
  flow/surface_frame.h
  flow/testing/gl_context_switch_test.h
  flow/testing/mock_texture.h
  flow/texture_unittests.cc
  shell/common/BUILD.gn
  shell/common/persistent_cache_unittests.cc
  shell/common/platform_view.h
  shell/common/rasterizer.cc
  shell/common/run_configuration.cc
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/shell_io_manager.cc
  shell/common/shell_test.h
  shell/common/shell_test_platform_view_vulkan.cc
  shell/common/shell_unittests.cc
  shell/common/skp_shader_warmup_unittests.cc
  shell/gpu/BUILD.gn
  shell/gpu/gpu_surface_gl.cc
  shell/gpu/gpu_surface_gl.h
  shell/gpu/gpu_surface_gl_delegate.h
  shell/platform/android/BUILD.gn
  shell/platform/android/android_external_texture_gl.h
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/ios_context.h
  shell/platform/darwin/ios/ios_context_metal.mm
  shell/platform/darwin/ios/ios_external_texture_gl.h
  shell/platform/darwin/ios/ios_external_texture_metal.h
  shell/platform/darwin/ios/ios_switchable_gl_context.h
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder_external_texture_gl.h
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/tests/engine_unittests.cc
Labels: cla: yes, platform-android, platform-ios, waiting for tree to go green

#22177 Roll ANGLE to latest version
  DEPS
  ci/licenses_golden/licenses_third_party
  ci/licenses_golden/tool_signature
  sky/packages/sky_engine/LICENSE
  tools/gn
  tools/licenses/data/apache-license-2.0-with-llvm-exception
  tools/licenses/lib/licenses.dart
  tools/licenses/lib/patterns.dart
Labels: cla: yes

#22425 Roll Skia from 88e8bb2fe2d5 to a0a5146ba9d1 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22408 [web] Speed up PageView/CustomPainter rendering
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/html/clip.dart
  lib/web_ui/lib/src/engine/html/path/path.dart
  lib/web_ui/lib/src/engine/html/path/path_ref.dart
  lib/web_ui/lib/src/engine/html/recording_canvas.dart
  lib/web_ui/test/path_test.dart
Labels: cla: yes

#22356 Reland deeplinking with info.plist check
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegate.mm
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegateTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegate_Test.h
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterEngine_Test.h
Labels: cla: yes, platform-ios, waiting for tree to go green

#22427 Roll Fuchsia Linux SDK from DzZi2gPbF... to Z-OUQ5Dti...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#22428 Roll Skia from a0a5146ba9d1 to 1fe2b80dc782 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22432 Roll Skia from 1fe2b80dc782 to 24c18526a564 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#21534 [Android Text Input] Make the editing state listenable and allow batch edits
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/engine/systemchannels/TextInputChannel.java
  shell/platform/android/io/flutter/plugin/editing/InputConnectionAdaptor.java
  shell/platform/android/io/flutter/plugin/editing/ListenableEditingState.java
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/test/README.md
  shell/platform/android/test/io/flutter/FlutterTestSuite.java
  shell/platform/android/test/io/flutter/plugin/editing/InputConnectionAdaptorTest.java
  shell/platform/android/test/io/flutter/plugin/editing/ListenableEditingStateTest.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
Labels: affects: text input, cla: yes, platform-android, waiting for tree to go green

#22433 Roll Skia from 24c18526a564 to 7006e15df59d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22440 Roll Fuchsia Linux SDK from Z-OUQ5Dti... to pWW5QaeNe...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#22430 fuchsia: Add licenses to CIPD
  tools/fuchsia/build_fuchsia_artifacts.py
Labels: cla: yes, platform-fuchsia

#22405 Rasterizer is initialized with an external view embedder
  shell/common/platform_view.h
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/common/rasterizer_unittests.cc
  shell/common/shell.cc
Labels: cla: yes, waiting for tree to go green

#22272 Remove GetExternalViewEmbedder from surface
  ci/licenses_golden/licenses_flutter
  flow/surface.cc
  flow/surface.h
  shell/common/shell_test_platform_view_gl.cc
  shell/common/shell_test_platform_view_gl.h
  shell/common/shell_test_platform_view_vulkan.cc
  shell/common/shell_test_platform_view_vulkan.h
  shell/gpu/BUILD.gn
  shell/gpu/gpu_surface_delegate.h
  shell/gpu/gpu_surface_gl.cc
  shell/gpu/gpu_surface_gl.h
  shell/gpu/gpu_surface_gl_delegate.cc
  shell/gpu/gpu_surface_gl_delegate.h
  shell/gpu/gpu_surface_metal.h
  shell/gpu/gpu_surface_metal.mm
  shell/gpu/gpu_surface_software.cc
  shell/gpu/gpu_surface_software.h
  shell/gpu/gpu_surface_software_delegate.cc
  shell/gpu/gpu_surface_software_delegate.h
  shell/gpu/gpu_surface_vulkan.cc
  shell/gpu/gpu_surface_vulkan.h
  shell/gpu/gpu_surface_vulkan_delegate.cc
  shell/gpu/gpu_surface_vulkan_delegate.h
  shell/platform/android/android_surface_gl.cc
  shell/platform/android/android_surface_gl.h
  shell/platform/android/android_surface_software.cc
  shell/platform/android/android_surface_software.h
  shell/platform/android/android_surface_vulkan.cc
  shell/platform/android/android_surface_vulkan.h
  shell/platform/android/external_view_embedder/external_view_embedder_unittests.cc
  shell/platform/android/surface/android_surface_mock.cc
  shell/platform/android/surface/android_surface_mock.h
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_metal.h
  shell/platform/darwin/ios/ios_surface_metal.mm
  shell/platform/darwin/ios/ios_surface_software.h
  shell/platform/darwin/ios/ios_surface_software.mm
  shell/platform/embedder/embedder_surface_gl.cc
  shell/platform/embedder/embedder_surface_gl.h
  shell/platform/embedder/embedder_surface_software.cc
  shell/platform/embedder/embedder_surface_software.h
  shell/platform/fuchsia/flutter/platform_view.h
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
  shell/platform/fuchsia/flutter/surface.cc
  shell/platform/fuchsia/flutter/surface.h
Labels: cla: yes, platform-android, platform-ios, waiting for tree to go green

#22415 Simplify refs from CkImage to SkImage
  lib/web_ui/lib/src/engine/canvaskit/image.dart
  lib/web_ui/lib/src/engine/canvaskit/shader.dart
  lib/web_ui/lib/src/engine/canvaskit/skia_object_cache.dart
  lib/web_ui/test/canvaskit/skia_objects_cache_test.dart
Labels: cla: yes, waiting for tree to go green
