Repository flutter/engine, pull requests merged in 2021-12, with the labels that each got.

#30008 Roll Fuchsia Mac SDK from lmR_Aqf8s... to 9DWt0M7vg...
  DEPS
Labels: cla: yes, waiting for tree to go green

#30010 Roll Skia from a0ad6db14184 to fa183572bfd3 (24 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#30011 Roll Dart SDK from 9f61c2487bbd to 3a963ff14181 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#30012 Use WindowInfoTracker.Companion.getOrCreate instead of the short version
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
Labels: platform-android, cla: yes, waiting for tree to go green, needs tests

#30003 Non painting platform views
  lib/web_ui/lib/src/engine/canvaskit/embedded_views.dart
  lib/web_ui/lib/src/engine/platform_views/content_manager.dart
  lib/web_ui/lib/ui.dart
  lib/web_ui/test/canvaskit/embedded_views_test.dart
Labels: cla: yes, Work in progress (WIP), platform-web

#30005 [macOS] MacOS Keyboard properly handles multi-char characters
  shell/platform/darwin/macos/framework/Source/FlutterEmbedderKeyResponder.mm
  shell/platform/darwin/macos/framework/Source/FlutterEmbedderKeyResponderUnittests.mm
Labels: cla: yes, platform-macos

#30004 [Win32, keyboard] Fix dead key events that don't have the dead key mask
  ci/licenses_golden/licenses_flutter
  shell/platform/windows/BUILD.gn
  shell/platform/windows/keyboard_key_channel_handler.cc
  shell/platform/windows/keyboard_key_embedder_handler.cc
  shell/platform/windows/keyboard_key_handler.cc
  shell/platform/windows/keyboard_unittests.cc
  shell/platform/windows/keyboard_win32_common.h
  shell/platform/windows/window_win32.cc
Labels: cla: yes, platform-windows

#29915 Share the io_manager between parent and spawn engine
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/engine_unittests.cc
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/shell_unittests.cc
Labels: cla: yes, waiting for tree to go green

#30037 [flutter_releases] Flutter beta 2.8.0-3.3.pre Engine Cherrypicks
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputDelegate.h
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPluginTest.mm
Labels: platform-ios, cla: yes

#29819 Run Dart VM tasks on the engine's ConcurrentMessageLoop instead the VM's separate thread pool.
  runtime/dart_isolate_unittests.cc
  runtime/dart_vm.cc
Labels: cla: yes, needs tests

#30045 Roll Dart SDK from 3a963ff14181 to 8bb2e56ec900 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#30013 Eliminate hardcoded scale factor in a11y scroll
  ci/licenses_golden/licenses_flutter
  third_party/accessibility/BUILD.gn
  third_party/accessibility/ax/BUILD.gn
  third_party/accessibility/ax/platform/ax_platform_node_win.cc
  third_party/accessibility/base/BUILD.gn
  third_party/accessibility/base/win/display.cc
  third_party/accessibility/base/win/display.h
  third_party/accessibility/base/win/display_unittest.cc
Labels: cla: yes, needs tests

#30047 Roll Skia from fa183572bfd3 to d3399178196e (17 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#30035 Roll web_installers simulators package
  lib/web_ui/pubspec.yaml
Labels: cla: yes, waiting for tree to go green, platform-web

#30056 Revert dart to 9f61c2487bbd
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#30057 Roll Fuchsia Mac SDK from 9DWt0M7vg... to XankF6weU...
  DEPS
Labels: cla: yes, waiting for tree to go green

#30061 Roll Skia from d3399178196e to 2a42471c92f3 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#30064 Roll Skia from 2a42471c92f3 to c4712cc704e8 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#30065 Roll Fuchsia Linux SDK from Fi9OzLVMX... to NJK-w4N99...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#30073 Roll Skia from c4712cc704e8 to 6dc45289aec0 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#30074 Roll Skia from 6dc45289aec0 to 9d74c28e823a (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#30077 Enable compressed pointers on iOS for 64 bit architectures.
  tools/gn
Labels: cla: yes

#30041 [fuchsia] Change Touch priority to YES
  shell/platform/fuchsia/flutter/pointer_delegate.cc
  shell/platform/fuchsia/flutter/pointer_delegate_unittests.cc
Labels: cla: yes, platform-fuchsia

#30078 Roll Skia from 9d74c28e823a to 2756b0ee0250 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29657 fuchsia: Add a SoftwareSurfaceProducer for debug
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/engine.h
  shell/platform/fuchsia/flutter/flatland_external_view_embedder.cc
  shell/platform/fuchsia/flutter/flatland_external_view_embedder.h
  shell/platform/fuchsia/flutter/flutter_runner_product_configuration.cc
  shell/platform/fuchsia/flutter/flutter_runner_product_configuration.h
  shell/platform/fuchsia/flutter/gfx_external_view_embedder.cc
  shell/platform/fuchsia/flutter/gfx_external_view_embedder.h
  shell/platform/fuchsia/flutter/software_surface.cc
  shell/platform/fuchsia/flutter/software_surface.h
  shell/platform/fuchsia/flutter/software_surface_producer.cc
  shell/platform/fuchsia/flutter/software_surface_producer.h
  shell/platform/fuchsia/flutter/surface_producer.h
  shell/platform/fuchsia/flutter/tests/engine_unittests.cc
  shell/platform/fuchsia/flutter/tests/flatland_external_view_embedder_unittests.cc
  shell/platform/fuchsia/flutter/tests/gfx_external_view_embedder_unittests.cc
  shell/platform/fuchsia/flutter/vulkan_surface_producer.cc
  shell/platform/fuchsia/flutter/vulkan_surface_producer.h
Labels: cla: yes, platform-fuchsia

#30076 Roll Fuchsia Mac SDK from XankF6weU... to MaLRScmfU...
  DEPS
Labels: cla: yes, waiting for tree to go green

#30002 Remove todos
  lib/ui/painting.dart
  lib/ui/text.dart
Labels: cla: yes

#30068 Bump buildroot and swiftshader deps (flutter/buildroot#529)
  DEPS
Labels: cla: yes

#29694 [ci.yaml] Remove default properties
  .ci.yaml
Labels: cla: yes, waiting for tree to go green

#30075 Roll Dart SDK from 9f61c2487bbd to ba5e72e4b2d7 (16 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#29908 Make fragment leftover from an attach/detach race slightly safer
  shell/platform/android/io/flutter/embedding/android/FlutterFragment.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterFragmentTest.java
Labels: platform-android, cla: yes, waiting for tree to go green

#30029 Migrate sk_cf_obj to sk_cfp
  shell/platform/darwin/graphics/FlutterDarwinExternalTextureMetal.mm
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/tests/embedder_test_backingstore_producer.cc
  testing/test_metal_context.h
  testing/test_metal_context.mm
Labels: cla: yes, waiting for tree to go green, needs tests, embedder

#30069 [Proposal] Improve Canvas Documentation
  lib/ui/painting.dart
Labels: cla: yes, needs tests

#30084 Roll Skia from 2756b0ee0250 to f278a8058eaa (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#30086 [Windows keyboard] Remove redundant parameter FlutterWindowsView
  shell/platform/windows/flutter_window_win32_unittests.cc
  shell/platform/windows/flutter_windows_view.cc
  shell/platform/windows/keyboard_handler_base.h
  shell/platform/windows/keyboard_key_handler.cc
  shell/platform/windows/keyboard_key_handler.h
  shell/platform/windows/keyboard_key_handler_unittests.cc
  shell/platform/windows/text_input_plugin.cc
  shell/platform/windows/text_input_plugin.h
  shell/platform/windows/text_input_plugin_unittest.cc
Labels: affects: text input, cla: yes, waiting for tree to go green, platform-windows

#30089 Close image reader when the resource is unreachable
  shell/platform/android/io/flutter/embedding/android/FlutterImageView.java
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
Labels: platform-android, cla: yes, waiting for tree to go green

#30091 Accessibility: emit FOCUS_CHANGED events
  third_party/accessibility/ax/ax_event_generator.cc
  third_party/accessibility/ax/ax_event_generator_unittest.cc
Labels: cla: yes

#30100 Revert "[ci.yaml] Remove default properties"
  .ci.yaml
Labels: cla: yes

#30093 Fail loudly with verbose logs when failing to download dart sdk.
  .ci.yaml
  DEPS
Labels: cla: yes

#30107 Fix platform env variable not registering with sdk_manager
  DEPS
  tools/android_sdk/create_sdk_cipd_packages.sh
Labels: cla: yes, waiting for tree to go green

#30105 Roll Fuchsia Linux SDK from NJK-w4N99... to RyloAtJNT...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#30108 Roll Fuchsia Mac SDK from MaLRScmfU... to a5YFHsF2a...
  DEPS
Labels: cla: yes, waiting for tree to go green

#30079 VSyncWaiter on Fuchsia will defer firing until frame start time (#29287)
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/vsync_waiter.cc
  shell/platform/fuchsia/flutter/vsync_waiter.h
  shell/platform/fuchsia/flutter/vsync_waiter_unittest.cc
Labels: cla: yes, platform-fuchsia

#30096 Revert "Enable compressed pointers on iOS for 64 bit architectures."
  tools/gn
Labels: cla: yes

#30090 Update IosUnitTests to use iPhone 11 simulator
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
  testing/ios/IosUnitTests/README.md
  testing/run_tests.py
Labels: platform-ios, cla: yes, waiting for tree to go green

#30115 Roll Skia from f278a8058eaa to 672062da97da (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#30117 Roll Skia from 672062da97da to 29af7d59714b (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#30118 Roll Fuchsia Linux SDK from RyloAtJNT... to gc6NLk09G...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#30120 Roll Skia from 29af7d59714b to 94f726ae62f0 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#30121 Roll Dart SDK from ba5e72e4b2d7 to a31c331ed648 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#30007 [web] consolidate JS interop code
  ci/analyze.sh
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/canvas_pool.dart
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/image.dart
  lib/web_ui/lib/src/engine/canvaskit/image_web_codecs.dart
  lib/web_ui/lib/src/engine/canvaskit/initialization.dart
  lib/web_ui/lib/src/engine/configuration.dart
  lib/web_ui/lib/src/engine/embedder.dart
  lib/web_ui/lib/src/engine/html/offscreen_canvas.dart
  lib/web_ui/lib/src/engine/html/path/path_ref.dart
  lib/web_ui/lib/src/engine/html/render_vertices.dart
  lib/web_ui/lib/src/engine/html/shaders/image_shader.dart
  lib/web_ui/lib/src/engine/html/shaders/normalized_gradient.dart
  lib/web_ui/lib/src/engine/html/shaders/shader.dart
  lib/web_ui/lib/src/engine/html/shaders/webgl_context.dart
  lib/web_ui/lib/src/engine/html_image_codec.dart
  lib/web_ui/lib/src/engine/initialization.dart
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/pointer_binding.dart
  lib/web_ui/lib/src/engine/profiler.dart
  lib/web_ui/lib/src/engine/safe_browser_api.dart
  lib/web_ui/lib/src/engine/text/font_collection.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/lib/src/engine/util.dart
  lib/web_ui/lib/src/engine/web_experiments.dart
  lib/web_ui/test/canvas_test.dart
  lib/web_ui/test/engine/platform_dispatcher_test.dart
  lib/web_ui/test/engine/pointer_binding_test.dart
  lib/web_ui/test/engine/surface/scene_builder_test.dart
  lib/web_ui/test/engine/web_experiments_test.dart
  lib/web_ui/test/html/canvas_clip_path_golden_test.dart
  lib/web_ui/test/html/compositing/canvas_blend_golden_test.dart
  lib/web_ui/test/html/compositing/color_filter_golden_test.dart
  lib/web_ui/test/html/drawing/canvas_draw_image_golden_test.dart
  lib/web_ui/test/html/drawing/draw_vertices_golden_test.dart
  lib/web_ui/test/html/shaders/image_shader_golden_test.dart
  lib/web_ui/test/keyboard_test.dart
  lib/web_ui/test/paragraph_builder_test.dart
  lib/web_ui/test/text/canvas_paragraph_builder_test.dart
  lib/web_ui/test/text_editing_test.dart
  lib/web_ui/test/window_test.dart
  web_sdk/sdk_rewriter.dart
  web_sdk/test/api_conform_test.dart
  web_sdk/test/js_access_test.dart
  web_sdk/test/sdk_rewriter_test.dart
Labels: cla: yes, platform-web

#30106 Fix cast in FlutterView
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
Labels: platform-android, cla: yes, waiting for tree to go green, needs tests

#30124 Roll Skia from 94f726ae62f0 to 40ba900d2e94 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#30127 Roll Dart SDK from a31c331ed648 to a3a9d7af0cc2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#30128 Roll Fuchsia Mac SDK from a5YFHsF2a... to Ki-0yFVTa...
  DEPS
Labels: cla: yes, waiting for tree to go green

#30129 Roll Fuchsia Linux SDK from gc6NLk09G... to uNU00yZsG...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#29888 [web] Fixing text foreground paint / stroke for HTML web-renderer
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/html/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/text/paint_service.dart
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/test/html/paragraph/general_golden_test.dart
Labels: cla: yes, waiting for tree to go green, platform-web, needs tests

#30134 Update general_golden_test.dart
  lib/web_ui/test/html/paragraph/general_golden_test.dart
Labels: cla: yes, waiting for tree to go green, platform-web

#30138 Roll Dart SDK from a3a9d7af0cc2 to 68bd3305228d (2 revisions)
  DEPS
Labels: cla: yes, waiting for tree to go green

#30137 Revert "[web] consolidate JS interop code"
  ci/analyze.sh
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/canvas_pool.dart
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/image.dart
  lib/web_ui/lib/src/engine/canvaskit/image_web_codecs.dart
  lib/web_ui/lib/src/engine/canvaskit/initialization.dart
  lib/web_ui/lib/src/engine/configuration.dart
  lib/web_ui/lib/src/engine/embedder.dart
  lib/web_ui/lib/src/engine/html/offscreen_canvas.dart
  lib/web_ui/lib/src/engine/html/path/path_ref.dart
  lib/web_ui/lib/src/engine/html/render_vertices.dart
  lib/web_ui/lib/src/engine/html/shaders/image_shader.dart
  lib/web_ui/lib/src/engine/html/shaders/normalized_gradient.dart
  lib/web_ui/lib/src/engine/html/shaders/shader.dart
  lib/web_ui/lib/src/engine/html/shaders/webgl_context.dart
  lib/web_ui/lib/src/engine/html_image_codec.dart
  lib/web_ui/lib/src/engine/initialization.dart
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/pointer_binding.dart
  lib/web_ui/lib/src/engine/profiler.dart
  lib/web_ui/lib/src/engine/safe_browser_api.dart
  lib/web_ui/lib/src/engine/text/font_collection.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/lib/src/engine/util.dart
  lib/web_ui/lib/src/engine/web_experiments.dart
  lib/web_ui/test/canvas_test.dart
  lib/web_ui/test/engine/platform_dispatcher_test.dart
  lib/web_ui/test/engine/pointer_binding_test.dart
  lib/web_ui/test/engine/surface/scene_builder_test.dart
  lib/web_ui/test/engine/web_experiments_test.dart
  lib/web_ui/test/html/canvas_clip_path_golden_test.dart
  lib/web_ui/test/html/compositing/canvas_blend_golden_test.dart
  lib/web_ui/test/html/compositing/color_filter_golden_test.dart
  lib/web_ui/test/html/drawing/canvas_draw_image_golden_test.dart
  lib/web_ui/test/html/drawing/draw_vertices_golden_test.dart
  lib/web_ui/test/html/shaders/image_shader_golden_test.dart
  lib/web_ui/test/keyboard_test.dart
  lib/web_ui/test/paragraph_builder_test.dart
  lib/web_ui/test/text/canvas_paragraph_builder_test.dart
  lib/web_ui/test/text_editing_test.dart
  lib/web_ui/test/window_test.dart
  web_sdk/sdk_rewriter.dart
  web_sdk/test/api_conform_test.dart
  web_sdk/test/js_access_test.dart
  web_sdk/test/sdk_rewriter_test.dart
Labels: cla: yes, waiting for tree to go green, platform-web

#30141 Roll Fuchsia Linux SDK from uNU00yZsG... to eH__OFZVQ...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#30142 Roll Fuchsia Mac SDK from Ki-0yFVTa... to WohiTvz8h...
  DEPS
Labels: cla: yes, waiting for tree to go green

#30143 Roll Skia from 40ba900d2e94 to 62553ae6feb8 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#30144 Roll Skia from 62553ae6feb8 to 493d7910a7f5 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29979 Fix embedder_->EndFrame() not called in case of DrawLastLayerTree()
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/common/rasterizer_unittests.cc
  shell/platform/android/BUILD.gn
Labels: platform-android, cla: yes, waiting for tree to go green

#30146 Roll Fuchsia Linux SDK from eH__OFZVQ... to gWYa9KhIK...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#30148 Roll Fuchsia Mac SDK from WohiTvz8h... to KQ60Vu3d7...
  DEPS
Labels: cla: yes, waiting for tree to go green

#30150 Roll Skia from 493d7910a7f5 to 05de3735b723 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#30153 Roll Fuchsia Linux SDK from gWYa9KhIK... to WGMjaVH60...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#30152 Roll Dart SDK from 68bd3305228d to e7aa2cb110af (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#30155 Roll Fuchsia Mac SDK from KQ60Vu3d7... to EAlr46NQ8...
  DEPS
Labels: cla: yes, waiting for tree to go green

#30156 Roll Skia from 05de3735b723 to f333f5614a9b (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#30149 Use MallocMapping for DispatchSemanticsAction data
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_engine.h
  shell/platform/windows/flutter_windows_engine_unittests.cc
Labels: cla: yes, accessibility, platform-windows

#30160 Revert "Roll Dart SDK from 68bd3305228d to e7aa2cb110af (1 revision)"
  DEPS
Labels: cla: yes

#30094 Remove implicit copy assignment operator for 'EmbeddedViewParams'
  flow/embedded_views.h
Labels: cla: yes, waiting for tree to go green

#30162 Cherrypick #29862 for b/208763970
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
Labels: platform-ios, cla: yes

#30161 [web] consolidate JS interop code (attempt 2)
  ci/analyze.sh
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/canvas_pool.dart
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/image.dart
  lib/web_ui/lib/src/engine/canvaskit/image_web_codecs.dart
  lib/web_ui/lib/src/engine/canvaskit/initialization.dart
  lib/web_ui/lib/src/engine/configuration.dart
  lib/web_ui/lib/src/engine/embedder.dart
  lib/web_ui/lib/src/engine/html/offscreen_canvas.dart
  lib/web_ui/lib/src/engine/html/path/path_ref.dart
  lib/web_ui/lib/src/engine/html/render_vertices.dart
  lib/web_ui/lib/src/engine/html/shaders/image_shader.dart
  lib/web_ui/lib/src/engine/html/shaders/normalized_gradient.dart
  lib/web_ui/lib/src/engine/html/shaders/shader.dart
  lib/web_ui/lib/src/engine/html/shaders/webgl_context.dart
  lib/web_ui/lib/src/engine/html_image_codec.dart
  lib/web_ui/lib/src/engine/initialization.dart
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/pointer_binding.dart
  lib/web_ui/lib/src/engine/profiler.dart
  lib/web_ui/lib/src/engine/safe_browser_api.dart
  lib/web_ui/lib/src/engine/text/font_collection.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/lib/src/engine/util.dart
  lib/web_ui/lib/src/engine/web_experiments.dart
  lib/web_ui/test/canvas_test.dart
  lib/web_ui/test/engine/platform_dispatcher_test.dart
  lib/web_ui/test/engine/pointer_binding_test.dart
  lib/web_ui/test/engine/surface/scene_builder_test.dart
  lib/web_ui/test/engine/web_experiments_test.dart
  lib/web_ui/test/html/canvas_clip_path_golden_test.dart
  lib/web_ui/test/html/compositing/canvas_blend_golden_test.dart
  lib/web_ui/test/html/compositing/color_filter_golden_test.dart
  lib/web_ui/test/html/drawing/canvas_draw_image_golden_test.dart
  lib/web_ui/test/html/drawing/draw_vertices_golden_test.dart
  lib/web_ui/test/html/shaders/image_shader_golden_test.dart
  lib/web_ui/test/keyboard_test.dart
  lib/web_ui/test/paragraph_builder_test.dart
  lib/web_ui/test/text/canvas_paragraph_builder_test.dart
  lib/web_ui/test/text_editing_test.dart
  lib/web_ui/test/window_test.dart
  web_sdk/sdk_rewriter.dart
  web_sdk/test/api_conform_test.dart
  web_sdk/test/js_access_test.dart
  web_sdk/test/sdk_rewriter_test.dart
Labels: cla: yes, platform-web

#30104 Run iOS scenario apps on iPhone 11 and iOS 14
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/xcshareddata/xcschemes/Scenarios.xcscheme
  testing/scenario_app/ios/Scenarios/ScenariosUITests/GoldenImage.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/GoldenTestManager.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/SpawnEngineTest.h
  testing/scenario_app/ios/Scenarios/ScenariosUITests/SpawnEngineTest.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_bogus_font_text_iPhone 11_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_bogus_font_text_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_non_full_screen_flutter_view_platform_view_iPhone 11_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_non_full_screen_flutter_view_platform_view_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_D211AP.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_D21AP.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_D321AP.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_clippath_iPhone 11_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_clippath_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_iPhone 11_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_iPhone 11_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_iPhone 11_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_background_foreground_iPhone 11_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_background_foreground_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_background_foreground_iPhone SE_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_iPhone 11_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_opacity_iPhone 11_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_opacity_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_rotate_iPhone 11_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_rotate_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_rotate_iPhone SE_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_transform_iPhone 11_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_transform_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_with_other_backdrop_filter_iPhone 11_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_with_other_backdrop_filter_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_spawn_engine_works_iPhone 11_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_spawn_engine_works_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_views_with_other_backdrop_filter_iPhone 11_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_views_with_other_backdrop_filter_iPhone 8_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/iPadGestureTests.m
  testing/scenario_app/run_ios_tests.sh
Labels: cla: yes, waiting for tree to go green

#30187 Win32: Implement DispatchAccessibilityAction
  ci/licenses_golden/licenses_flutter
  shell/platform/windows/BUILD.gn
  shell/platform/windows/accessibility_bridge_delegate_win32.cc
  shell/platform/windows/accessibility_bridge_delegate_win32_unittests.cc
Labels: platform-windows

#30165 Add unconditional waits on fml::Semaphore.
  fml/synchronization/semaphore.cc
  fml/synchronization/semaphore.h
  fml/synchronization/semaphore_unittest.cc
Labels: waiting for tree to go green

#30190 Roll Fuchsia Mac SDK from EAlr46NQ8... to zMg5gNi2E...
  DEPS
Labels: waiting for tree to go green

#30191 Roll Fuchsia Linux SDK from WGMjaVH60... to s03VQc7lX...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#30192 Roll Skia from f333f5614a9b to 06f3d68627c2 (24 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#30189 Add length guard to fix Windows build with VS2019 16.11.7 headers
  shell/common/switches.cc
Labels: needs tests

#30194 Roll Skia from 06f3d68627c2 to 1c4cf27965bd (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#30195 Document rationale for Dart VM flag prefix match
  shell/common/switches.cc
Labels: waiting for tree to go green

#30197 Roll buildroot to 430b57c643883e6090b5af09faddd8048efee57c.
  DEPS
Labels: waiting for tree to go green

#30198 Roll Skia from 1c4cf27965bd to 543b8681c7f2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#29930 [ios platform view] fix overlay zPosition
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  testing/scenario_app/ios/Scenarios/Scenarios/AppDelegate.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/PlatformViewUITests.m
  testing/scenario_app/lib/src/platform_view.dart
  testing/scenario_app/lib/src/scenarios.dart
Labels: platform-ios, cla: yes, waiting for tree to go green

#30200 Roll Skia from 543b8681c7f2 to 00edeefab7f4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#30203 Roll Fuchsia Mac SDK from zMg5gNi2E... to QeaP059wu...
  DEPS
Labels: waiting for tree to go green

#30206 Roll Skia from 00edeefab7f4 to 21b8ccb7393c (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#30211 Roll Dart SDK from 68bd3305228d to 2ace65b1b408 (5 revisions)
  DEPS
Labels: waiting for tree to go green

#30204 Implement GetUniqueId on Windows node delegates
  shell/platform/windows/accessibility_bridge_delegate_win32_unittests.cc
  shell/platform/windows/flutter_platform_node_delegate_win32.h
Labels: platform-windows

#30216 Roll Skia from 3856a5854e20 to c307c5566d11 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#30218 Roll Skia from c307c5566d11 to 22960eb7b2a6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#30220 Roll Fuchsia Mac SDK from QeaP059wu... to EcjcLVqar...
  DEPS
Labels: waiting for tree to go green

#30225 Roll Skia from 22960eb7b2a6 to 4898ac10f0ac (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#30228 Roll Fuchsia Linux SDK from s03VQc7lX... to 3rLypXNTd...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#30229 Roll Skia from 4898ac10f0ac to d2eb1d90b3b9 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#30145 [Android] Fix mEditable NullPointerException in TextInputPlugin
  shell/platform/android/io/flutter/plugin/editing/ListenableEditingState.java
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
Labels: platform-android, cla: yes, waiting for tree to go green

#30232 Roll Skia from d2eb1d90b3b9 to 3bcc80e9c387 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#30233 Roll Skia from 3bcc80e9c387 to b4d01cbe41b1 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#30230 Merge NDK and licenses into Android dependencies script
  DEPS
  tools/android_sdk/create_cipd_packages.sh
  tools/android_sdk/packages.txt
Labels: waiting for tree to go green, needs tests

#30238 Roll Skia from b4d01cbe41b1 to 5d1d92c505c0 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#30243 Roll Skia from 5d1d92c505c0 to ca916f705fc5 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#30241 Roll Fuchsia Linux SDK from 3rLypXNTd... to dNYehjXUM...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#30202 [android] Fix unexpected behavior in |detachFromFlutterEngine|.
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/io/flutter/embedding/android/FlutterFragment.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterFragmentTest.java
Labels: platform-android, waiting for tree to go green

#30245 Roll Skia from ca916f705fc5 to c95c53ed0fcf (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#30248 Roll Skia from c95c53ed0fcf to 44c81d149273 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#29773 Accessibility number formatting improvements for Windows
  third_party/accessibility/base/BUILD.gn
  third_party/accessibility/base/string_utils.cc
  third_party/accessibility/base/string_utils.h
  third_party/accessibility/base/string_utils_unittest.cc
Labels: cla: yes

#30250 VSyncWaiter on Fuchsia will defer firing until frame start time (#29287)
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/vsync_waiter.cc
  shell/platform/fuchsia/flutter/vsync_waiter.h
  shell/platform/fuchsia/flutter/vsync_waiter_unittest.cc
Labels: platform-fuchsia

#30244 [fuchsia] Use network-legacy-deprecated pkg in embedder test
  shell/platform/fuchsia/flutter/integration_flutter_tests/embedder/flutter-embedder-test2.cc
Labels: waiting for tree to go green, platform-fuchsia, needs tests

#30251 Roll Dart SDK from 2ace65b1b408 to 2091ff49c513 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#30176 Win32: Handle OnAccessibilityEvent
  shell/platform/windows/accessibility_bridge_delegate_win32.cc
  shell/platform/windows/accessibility_bridge_delegate_win32.h
  shell/platform/windows/accessibility_bridge_delegate_win32_unittests.cc
  shell/platform/windows/flutter_platform_node_delegate_win32.cc
  shell/platform/windows/flutter_platform_node_delegate_win32.h
  shell/platform/windows/window_win32.cc
Labels: platform-windows

#30256 Call IAccessible::accFocus to move a11y focus
  shell/platform/windows/accessibility_bridge_delegate_win32.cc
  shell/platform/windows/accessibility_bridge_delegate_win32.h
  shell/platform/windows/accessibility_bridge_delegate_win32_unittests.cc
  shell/platform/windows/flutter_platform_node_delegate_win32.cc
  shell/platform/windows/flutter_platform_node_delegate_win32.h
Labels: platform-windows

#30258 Simplify win32 platform node delegate GetParent
  shell/platform/windows/accessibility_bridge_delegate_win32_unittests.cc
  shell/platform/windows/flutter_platform_node_delegate_win32.cc
  shell/platform/windows/flutter_platform_node_delegate_win32.h
Labels: platform-windows

#30262 Test shell/platform/common a11y code on Windows
  shell/platform/common/BUILD.gn
Labels: waiting for tree to go green

#30259 Roll Dart SDK from 2091ff49c513 to 7b6056f9db7f (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#30199 Android accessibility bridge also fire selection change event when it predict selection change.
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  shell/platform/android/test/io/flutter/view/AccessibilityBridgeTest.java
Labels: platform-android, waiting for tree to go green

#30261 Override FlutterPlatformNodeDelegate::GetUniqueId
  shell/platform/common/flutter_platform_node_delegate.h
  shell/platform/common/flutter_platform_node_delegate_unittests.cc
  shell/platform/windows/accessibility_bridge_delegate_win32_unittests.cc
  shell/platform/windows/flutter_platform_node_delegate_win32.h
Labels: platform-windows

#30253 Cleanup old ndk CIPD upload script
  tools/android_sdk/create_cipd_packages.sh
  tools/create_ndk_cipd_package.sh
Labels: waiting for tree to go green

#30265 Roll Fuchsia Mac SDK from EcjcLVqar... to 1DgBWWOWV...
  DEPS
Labels: waiting for tree to go green

#30255 Roll Skia from 44c81d149273 to a964a72174e8 (9 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#30257 Migrate to Mockito 4.1.0
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/plugin/editing/FlutterTextUtils.java
  shell/platform/android/io/flutter/view/VsyncWaiter.java
  shell/platform/android/test/io/flutter/FlutterInjectorTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterAndroidComponentTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
  shell/platform/android/test/io/flutter/embedding/android/KeyChannelResponderTest.java
  shell/platform/android/test/io/flutter/embedding/android/KeyboardManagerTest.java
  shell/platform/android/test/io/flutter/embedding/engine/FlutterEngineGroupComponentTest.java
  shell/platform/android/test/io/flutter/embedding/engine/FlutterEngineTest.java
  shell/platform/android/test/io/flutter/embedding/engine/dart/DartExecutorTest.java
  shell/platform/android/test/io/flutter/embedding/engine/dart/DartMessengerTest.java
  shell/platform/android/test/io/flutter/embedding/engine/plugins/shim/ShimPluginRegistryTest.java
  shell/platform/android/test/io/flutter/embedding/engine/renderer/FlutterRendererTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/KeyEventChannelTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/PlatformChannelTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/RestorationChannelTest.java
  shell/platform/android/test/io/flutter/plugin/editing/InputConnectionAdaptorTest.java
  shell/platform/android/test/io/flutter/plugin/editing/ListenableEditingStateTest.java
  shell/platform/android/test/io/flutter/plugin/editing/TextEditingDeltaTest.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
  shell/platform/android/test/io/flutter/view/AccessibilityBridgeTest.java
  shell/platform/android/test/io/flutter/view/VsyncWaiterTest.java
  shell/platform/android/test_runner/build.gradle
Labels: platform-android, waiting for tree to go green

#30263 Add iOS version to scenario golden images
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/ScenariosUITests/GoldenImage.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/GoldenTestManager.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/SpawnEngineTest.h
  testing/scenario_app/ios/Scenarios/ScenariosUITests/SpawnEngineTest.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_bogus_font_text_iPhone 8_13.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_non_full_screen_flutter_view_platform_view_iPhone 8_13.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_D211AP.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_D21AP.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_D321AP.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_clippath_iPhone 8_13.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_iPhone 8_13.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_iPhone 8_13.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_iPhone 8_13.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_background_foreground_iPhone 8_13.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_background_foreground_iPhone SE_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_iPhone 8_13.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_opacity_iPhone 8_13.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_rotate_iPhone 8_13.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_rotate_iPhone SE_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_transform_iPhone 8_13.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_with_other_backdrop_filter_iPhone 8_13.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_spawn_engine_works_iPhone 8_13.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_views_with_other_backdrop_filter_iPhone 8_13.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/iPadGestureTests.m
Labels: waiting for tree to go green

#30266 Roll Fuchsia Linux SDK from 3rLypXNTd... to UPWdoQziF...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#30269 Roll Skia from a964a72174e8 to 4d35c0d31d79 (16 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#30267 Revert "Accessibility number formatting improvements for Windows (#29773)"
  third_party/accessibility/base/BUILD.gn
  third_party/accessibility/base/string_utils.cc
  third_party/accessibility/base/string_utils.h
  third_party/accessibility/base/string_utils_unittest.cc
Labels: waiting for tree to go green, platform-windows

#30270 Roll Dart SDK from 7b6056f9db7f to f568598a262e (4 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#30277 Roll Dart SDK from f568598a262e to 49d5a2f58c4a (3 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#30278 Roll Fuchsia Mac SDK from 1DgBWWOWV... to GoQ7KEnqp...
  DEPS
Labels: waiting for tree to go green

#30279 Roll Fuchsia Linux SDK from UPWdoQziF... to hhFGKobVD...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#30280 Roll Fuchsia Mac SDK from GoQ7KEnqp... to Y_9lCzY64...
  DEPS
Labels: waiting for tree to go green

#30281 Roll Fuchsia Linux SDK from hhFGKobVD... to NAkkk-Vn5...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#30283 Roll Dart SDK from 49d5a2f58c4a to 01a9d4e9ede7 (1 revision)
  DEPS
Labels: waiting for tree to go green

#30285 Roll Fuchsia Linux SDK from NAkkk-Vn5... to V2JLZw4H1...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#30284 Roll Fuchsia Mac SDK from Y_9lCzY64... to xBCcWw6gj...
  DEPS
Labels: waiting for tree to go green

#30288 Roll Dart SDK from 01a9d4e9ede7 to a78eae43582d (1 revision)
  DEPS
Labels: waiting for tree to go green

#30289 Revert "iOS Background Platform Channels"
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/common/framework/Headers/FlutterBinaryMessenger.h
  shell/platform/darwin/common/framework/Headers/FlutterChannels.h
  shell/platform/darwin/common/framework/Source/FlutterChannels.mm
  shell/platform/darwin/common/framework/Source/FlutterChannelsTest.m
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterBinaryMessengerRelay.mm
  shell/platform/darwin/ios/framework/Source/FlutterBinaryMessengerRelayTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/platform_message_router.h
  shell/platform/darwin/ios/framework/Source/platform_message_router.mm
  shell/platform/darwin/ios/platform_message_handler_ios.h
  shell/platform/darwin/ios/platform_message_handler_ios.mm
  shell/platform/darwin/ios/platform_message_handler_ios_test.mm
  shell/platform/darwin/ios/platform_view_ios.h
  shell/platform/darwin/ios/platform_view_ios.mm
Labels: platform-ios, platform-macos

#30291 Roll Fuchsia Linux SDK from V2JLZw4H1... to W030EYSZS...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#30292 Roll Fuchsia Mac SDK from xBCcWw6gj... to -O1WuRL72...
  DEPS
Labels: waiting for tree to go green

#30282 Fix typo in jni registration
  shell/platform/android/platform_view_android_jni_impl.cc
Labels: platform-android, waiting for tree to go green, needs tests

#30184 Fix wrong context when use platfromview
  shell/platform/darwin/ios/ios_context_gl.mm
  shell/platform/darwin/ios/ios_external_texture_gl.h
  shell/platform/darwin/ios/ios_external_texture_gl.mm
Labels: platform-ios, waiting for tree to go green, needs tests

#30294 Roll Fuchsia Mac SDK from -O1WuRL72... to oKhFjdNL3...
  DEPS
Labels: waiting for tree to go green

#30274 [canvaskit] Only dispose views to release overlays as long as there are overlays available
  lib/web_ui/lib/src/engine/canvaskit/embedded_views.dart
  lib/web_ui/lib/src/engine/configuration.dart
  lib/web_ui/test/canvaskit/embedded_views_test.dart
Labels: platform-web

#30297 Support toggle buttons for desktop accessibility
  shell/platform/common/accessibility_bridge.cc
  shell/platform/common/accessibility_bridge_unittests.cc
  shell/platform/windows/accessibility_bridge_delegate_win32.cc
Labels: waiting for tree to go green, platform-windows

#30298 Update buildroot to d45d8382665c9.
  DEPS
Labels: waiting for tree to go green

#30300 Avoid verbose logs when downloading the Dart SDK.
  DEPS
Labels: waiting for tree to go green

#30302 Roll Skia from 4d35c0d31d79 to 3ad6e531c331 (25 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green
