Repository flutter/engine, pull requests merged in 2021-06, with the labels that each got.

#26504 Roll Skia from 77724af76ce2 to a9109c50fb1f (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26505 Roll Skia from a9109c50fb1f to c7abc8bfa02f (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26507 Roll Skia from c7abc8bfa02f to fe9b4316d8de (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26508 Roll Fuchsia Linux SDK from hopGYPnVP... to xi7pltS1F...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#26509 Roll Fuchsia Mac SDK from DJjuIbfI5... to mDjEP9hR9...
  DEPS
Labels: cla: yes, waiting for tree to go green

#26510 Fix pub_get_offline.py undefined variables
  tools/pub_get_offline.py
Labels: cla: yes, waiting for tree to go green

#26511 Roll Skia from fe9b4316d8de to 9af0bca3de2b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26512 Roll Skia from 9af0bca3de2b to b069582d16d3 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26454 Add trace-skia-allowlist to the Android intent flags
  shell/platform/android/io/flutter/embedding/engine/FlutterShellArgs.java
  shell/platform/android/test/io/flutter/embedding/engine/FlutterShellArgsTest.java
Labels: cla: yes, platform-android, waiting for tree to go green

#26253 suppress output from intentionally failing tests
  lib/web_ui/dev/test_runner.dart
Labels: cla: yes, platform-web

#26513 Cloned frame timings have same frame number
  flow/frame_timings.cc
  flow/frame_timings.h
  flow/frame_timings_recorder_unittests.cc
Labels: cla: yes, waiting for tree to go green

#26514 Roll Skia from b069582d16d3 to f9d1c159b3cc (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26515 Reland: "android platform channels: moved to direct buffers for c <-> java interop"
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/engine/dart/DartMessenger.java
  shell/platform/android/io/flutter/embedding/engine/dart/PlatformMessageHandler.java
  shell/platform/android/io/flutter/plugin/common/BinaryCodec.java
  shell/platform/android/io/flutter/plugin/common/MessageCodec.java
  shell/platform/android/platform_view_android_jni_impl.cc
  shell/platform/android/test/io/flutter/FlutterTestSuite.java
  shell/platform/android/test/io/flutter/embedding/engine/dart/DartMessengerTest.java
  shell/platform/android/test/io/flutter/plugin/common/BinaryCodecTest.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
Labels: cla: yes, platform-android, waiting for tree to go green

#25373 Add API to the engine to support attributed text
  ci/licenses_golden/licenses_flutter
  fml/platform/android/jni_util.cc
  fml/platform/android/jni_util.h
  lib/ui/BUILD.gn
  lib/ui/dart_ui.cc
  lib/ui/fixtures/ui_test.dart
  lib/ui/semantics.dart
  lib/ui/semantics/semantics_node.h
  lib/ui/semantics/semantics_update_builder.cc
  lib/ui/semantics/semantics_update_builder.h
  lib/ui/semantics/semantics_update_builder_unittests.cc
  lib/ui/semantics/string_attribute.cc
  lib/ui/semantics/string_attribute.h
  lib/web_ui/lib/src/engine/semantics/semantics.dart
  lib/web_ui/lib/src/ui/semantics.dart
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  shell/platform/android/jni/jni_mock.h
  shell/platform/android/jni/platform_view_android_jni.h
  shell/platform/android/platform_view_android_delegate/platform_view_android_delegate.cc
  shell/platform/android/platform_view_android_delegate/platform_view_android_delegate_unittests.cc
  shell/platform/android/platform_view_android_jni_impl.cc
  shell/platform/android/platform_view_android_jni_impl.h
  shell/platform/android/test/io/flutter/view/AccessibilityBridgeTest.java
  shell/platform/darwin/ios/framework/Source/SemanticsObject.h
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest.mm
Labels: cla: yes, platform-android, platform-ios, platform-web, waiting for tree to go green

#25600 Support text editing voiceover feedback in macOS
  ci/licenses_golden/licenses_flutter
  shell/platform/common/accessibility_bridge.cc
  shell/platform/common/accessibility_bridge.h
  shell/platform/common/accessibility_bridge_unittests.cc
  shell/platform/common/flutter_platform_node_delegate.cc
  shell/platform/common/flutter_platform_node_delegate.h
  shell/platform/common/flutter_platform_node_delegate_unittests.cc
  shell/platform/common/test_accessibility_bridge.cc
  shell/platform/common/test_accessibility_bridge.h
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/AccessibilityBridgeMacDelegate.h
  shell/platform/darwin/macos/framework/Source/AccessibilityBridgeMacDelegate.mm
  shell/platform/darwin/macos/framework/Source/AccessibilityBridgeMacDelegateTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterCompositor.h
  shell/platform/darwin/macos/framework/Source/FlutterEmbedderKeyResponder.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterGLCompositor.h
  shell/platform/darwin/macos/framework/Source/FlutterKeyboardManager.mm
  shell/platform/darwin/macos/framework/Source/FlutterMetalCompositor.h
  shell/platform/darwin/macos/framework/Source/FlutterPlatformNodeDelegateMac.h
  shell/platform/darwin/macos/framework/Source/FlutterPlatformNodeDelegateMac.mm
  shell/platform/darwin/macos/framework/Source/FlutterPlatformNodeDelegateMacTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterResizeSynchronizer.h
  shell/platform/darwin/macos/framework/Source/FlutterResizeSynchronizer.mm
  shell/platform/darwin/macos/framework/Source/FlutterTextInputPlugin.h
  shell/platform/darwin/macos/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/macos/framework/Source/FlutterTextInputPluginTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterTextInputSemanticsObject.h
  shell/platform/darwin/macos/framework/Source/FlutterTextInputSemanticsObject.mm
  shell/platform/darwin/macos/framework/Source/FlutterTextInputSemanticsObjectTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewController.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewControllerTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewController_Internal.h
  third_party/accessibility/ax/platform/ax_platform_node.h
  third_party/accessibility/ax/platform/ax_platform_node_mac.mm
Labels: cla: yes, platform-macos, waiting for tree to go green

#26516 Add Unopt builders to ci config
  .ci.yaml
Labels: cla: yes

#26517 Roll Skia from f9d1c159b3cc to 4943421095e1 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26518 Fix gradient stop out of range error
  lib/web_ui/lib/src/engine/html/shaders/shader.dart
  lib/web_ui/test/golden_tests/engine/gradient_golden_test.dart
Labels: cla: yes, platform-web

#26520 Roll Skia from 4943421095e1 to d774558eb189 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26521 Roll Skia from d774558eb189 to c9b70c65436e (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26384 Implement ImageShader for html Canvas
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/canvas_pool.dart
  lib/web_ui/lib/src/engine/html/dom_canvas.dart
  lib/web_ui/lib/src/engine/html/path/path.dart
  lib/web_ui/lib/src/engine/html/path/path_ref.dart
  lib/web_ui/lib/src/engine/html/path/path_utils.dart
  lib/web_ui/lib/src/engine/html/recording_canvas.dart
  lib/web_ui/lib/src/engine/html/render_vertices.dart
  lib/web_ui/lib/src/engine/html/shaders/image_shader.dart
  lib/web_ui/lib/src/engine/html/shaders/vertex_shaders.dart
  lib/web_ui/lib/src/engine/html/shaders/webgl_context.dart
  lib/web_ui/test/engine/surface/path/path_iterator_test.dart
  lib/web_ui/test/engine/surface/path/path_winding_test.dart
  lib/web_ui/test/golden_tests/engine/image_shader_golden_test.dart
  lib/web_ui/test/path_test.dart
Labels: cla: yes, platform-web

#26525 Revert "Implement ImageShader for html Canvas (#26384)"
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/canvas_pool.dart
  lib/web_ui/lib/src/engine/html/dom_canvas.dart
  lib/web_ui/lib/src/engine/html/path/path.dart
  lib/web_ui/lib/src/engine/html/path/path_ref.dart
  lib/web_ui/lib/src/engine/html/path/path_utils.dart
  lib/web_ui/lib/src/engine/html/recording_canvas.dart
  lib/web_ui/lib/src/engine/html/render_vertices.dart
  lib/web_ui/lib/src/engine/html/shaders/image_shader.dart
  lib/web_ui/lib/src/engine/html/shaders/vertex_shaders.dart
  lib/web_ui/lib/src/engine/html/shaders/webgl_context.dart
  lib/web_ui/test/engine/surface/path/path_iterator_test.dart
  lib/web_ui/test/engine/surface/path/path_winding_test.dart
  lib/web_ui/test/golden_tests/engine/image_shader_golden_test.dart
  lib/web_ui/test/path_test.dart
Labels: cla: yes, platform-web

#26526 Add an encoder for CharSequence in StandardMessageCodec
  shell/platform/android/io/flutter/plugin/common/StandardMessageCodec.java
  shell/platform/android/test/io/flutter/plugin/common/StandardMessageCodecTest.java
Labels: cla: yes, platform-android

#26523 Roll Dart SDK from 643d01d6a8e3 to 302c6dd3c29c (4 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26302 Add support for compositing using Metal on macOS
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterBackingStoreData.h
  shell/platform/darwin/macos/framework/Source/FlutterBackingStoreData.mm
  shell/platform/darwin/macos/framework/Source/FlutterCompositor.h
  shell/platform/darwin/macos/framework/Source/FlutterCompositor.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/macos/framework/Source/FlutterGLCompositor.h
  shell/platform/darwin/macos/framework/Source/FlutterGLCompositor.mm
  shell/platform/darwin/macos/framework/Source/FlutterMetalCompositor.h
  shell/platform/darwin/macos/framework/Source/FlutterMetalCompositor.mm
  shell/platform/darwin/macos/framework/Source/FlutterMetalCompositorUnittests.mm
  shell/platform/darwin/macos/framework/Source/fixtures/flutter_desktop_test.dart
Labels: cla: yes, platform-macos

#26540 Revert "Add support for compositing using Metal on macOS"
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterBackingStoreData.h
  shell/platform/darwin/macos/framework/Source/FlutterBackingStoreData.mm
  shell/platform/darwin/macos/framework/Source/FlutterCompositor.h
  shell/platform/darwin/macos/framework/Source/FlutterCompositor.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/macos/framework/Source/FlutterGLCompositor.h
  shell/platform/darwin/macos/framework/Source/FlutterGLCompositor.mm
  shell/platform/darwin/macos/framework/Source/FlutterMetalCompositor.h
  shell/platform/darwin/macos/framework/Source/FlutterMetalCompositor.mm
  shell/platform/darwin/macos/framework/Source/FlutterMetalCompositorUnittests.mm
  shell/platform/darwin/macos/framework/Source/fixtures/flutter_desktop_test.dart
Labels: cla: yes, platform-macos

#26219 EngineLayer::dispose
  ci/licenses_golden/licenses_flutter
  lib/ui/BUILD.gn
  lib/ui/compositing.dart
  lib/ui/compositing/scene.cc
  lib/ui/compositing/scene_builder.cc
  lib/ui/compositing/scene_builder.h
  lib/ui/compositing/scene_builder_unittests.cc
  lib/ui/fixtures/ui_test.dart
  lib/ui/painting.dart
  lib/ui/painting/engine_layer.cc
  lib/ui/painting/engine_layer.h
  lib/ui/painting/image.cc
  lib/web_ui/lib/src/engine/canvaskit/layer.dart
  lib/web_ui/lib/src/engine/html/surface.dart
  lib/web_ui/lib/src/ui/compositing.dart
  lib/web_ui/test/canvaskit/layer_test.dart
Labels: cla: yes, waiting for tree to go green

#26506 Cache Handle.koid().
  shell/platform/fuchsia/dart-pkg/zircon/sdk_ext/handle.cc
  shell/platform/fuchsia/dart-pkg/zircon/sdk_ext/handle.h
  shell/platform/fuchsia/dart-pkg/zircon/test/handle_test.dart
Labels: cla: yes, platform-fuchsia, waiting for tree to go green

#26528 Reland "Add API to the engine to support attributed text (#25373)"
  ci/licenses_golden/licenses_flutter
  fml/platform/android/jni_util.cc
  fml/platform/android/jni_util.h
  lib/ui/BUILD.gn
  lib/ui/dart_ui.cc
  lib/ui/fixtures/ui_test.dart
  lib/ui/semantics.dart
  lib/ui/semantics/semantics_node.h
  lib/ui/semantics/semantics_update_builder.cc
  lib/ui/semantics/semantics_update_builder.h
  lib/ui/semantics/semantics_update_builder_unittests.cc
  lib/ui/semantics/string_attribute.cc
  lib/ui/semantics/string_attribute.h
  lib/web_ui/lib/src/engine/semantics/semantics.dart
  lib/web_ui/lib/src/ui/semantics.dart
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  shell/platform/android/jni/jni_mock.h
  shell/platform/android/jni/platform_view_android_jni.h
  shell/platform/android/platform_view_android_delegate/platform_view_android_delegate.cc
  shell/platform/android/platform_view_android_delegate/platform_view_android_delegate_unittests.cc
  shell/platform/android/platform_view_android_jni_impl.cc
  shell/platform/android/platform_view_android_jni_impl.h
  shell/platform/android/test/io/flutter/view/AccessibilityBridgeTest.java
  shell/platform/darwin/ios/framework/Source/SemanticsObject.h
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest.mm
Labels: cla: yes, platform-android, platform-ios, platform-web, waiting for tree to go green

#26530 Roll Fuchsia Linux SDK from xi7pltS1F... to MVkOwZQtv...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#26533 Roll Dart SDK from 302c6dd3c29c to 4ce8bbf4738d (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26534 Roll Skia from f4f9c3b6cc62 to d51fbe1a78b5 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26541 Roll Skia from d51fbe1a78b5 to 2e76c84b8b8a (9 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#25994 [canvaskit] Set a maximum number of overlay canvases.
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/canvaskit/embedded_views.dart
  lib/web_ui/lib/src/engine/canvaskit/rasterizer.dart
  lib/web_ui/lib/src/engine/canvaskit/surface.dart
  lib/web_ui/lib/src/engine/canvaskit/surface_factory.dart
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/platform_views/content_manager.dart
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/test/canvaskit/canvas_golden_test.dart
  lib/web_ui/test/canvaskit/common.dart
  lib/web_ui/test/canvaskit/embedded_views_test.dart
  lib/web_ui/test/canvaskit/skia_objects_cache_test.dart
  lib/web_ui/test/canvaskit/surface_factory_test.dart
  lib/web_ui/test/canvaskit/surface_test.dart
Labels: cla: yes, platform-web

#26472 Add Float32List support to the Linux standard message codec
  shell/platform/common/client_wrapper/include/flutter/encodable_value.h
  shell/platform/linux/fl_standard_message_codec.cc
  shell/platform/linux/fl_standard_message_codec_test.cc
  shell/platform/linux/fl_value.cc
  shell/platform/linux/public/flutter_linux/fl_value.h
Labels: cla: yes, platform-linux

#26542 Guard task queue id for fuchsia
  shell/common/vsync_waiter.cc
Labels: cla: yes

#26545 Roll Dart SDK from 4ce8bbf4738d to 47e55d2e746a (3 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26482 Add the images for TileMode.decal
  lib/ui/painting.dart
Labels: cla: yes, waiting for tree to go green

#26114 [fuchsia] migrate shader warmup to be triggered by dart code
  common/graphics/persistent_cache.h
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/engine.h
  shell/platform/fuchsia/flutter/flutter_runner_product_configuration.cc
  shell/platform/fuchsia/flutter/flutter_runner_product_configuration.h
  shell/platform/fuchsia/flutter/platform_view.cc
  shell/platform/fuchsia/flutter/platform_view.h
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
  shell/platform/fuchsia/flutter/tests/engine_unittests.cc
Labels: cla: yes, platform-fuchsia

#26544 Roll Fuchsia Mac SDK from mDjEP9hR9... to pCoQB3Wr-...
  DEPS
Labels: cla: yes, waiting for tree to go green

#26546 Roll Skia from 2e76c84b8b8a to b8416d27be1e (12 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26548 Roll buildroot to 91b3d1f3a878a6d6ce0749a233d5d467c4daaf41
  DEPS
Labels: cla: yes

#26550 Roll Skia from b8416d27be1e to 03e783020013 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26553 Roll Dart SDK from 47e55d2e746a to cd41b767a29d (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26555 Roll Skia from 03e783020013 to 6e82db35a695 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26556 Roll Skia from 6e82db35a695 to cb66e25d23d8 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26557 Roll Fuchsia Linux SDK from MVkOwZQtv... to DvgL0sNJV...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#26559 Roll Skia from cb66e25d23d8 to 6f4bacb9df54 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26536 Migrate flutter_runner to Scenic.CreateSessionT.
  shell/platform/fuchsia/flutter/engine.cc
Labels: cla: yes, platform-fuchsia, waiting for tree to go green

#26560 Roll Dart SDK from cd41b767a29d to 6186a3ef5ffa (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26561 Roll Fuchsia Mac SDK from pCoQB3Wr-... to vGpSL2e_a...
  DEPS
Labels: cla: yes, waiting for tree to go green

#26563 Roll Skia from 6f4bacb9df54 to 7b6a92818d23 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26537 Fix incorrectly inserting Float32List in the wrong location in encodable_value
  shell/platform/common/client_wrapper/encodable_value_unittests.cc
  shell/platform/common/client_wrapper/include/flutter/encodable_value.h
  shell/platform/common/client_wrapper/standard_codec.cc
  shell/platform/common/client_wrapper/standard_message_codec_unittests.cc
Labels: cla: yes, waiting for tree to go green

#26519 Docuements the new flag in BrowserHistory.setRouteName
  lib/web_ui/lib/src/engine/navigation/history.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#26565 Roll Skia from 7b6a92818d23 to 357e67e7af3b (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26566 Reland reverted #26384
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/canvas_pool.dart
  lib/web_ui/lib/src/engine/html/dom_canvas.dart
  lib/web_ui/lib/src/engine/html/path/path.dart
  lib/web_ui/lib/src/engine/html/path/path_ref.dart
  lib/web_ui/lib/src/engine/html/path/path_utils.dart
  lib/web_ui/lib/src/engine/html/recording_canvas.dart
  lib/web_ui/lib/src/engine/html/render_vertices.dart
  lib/web_ui/lib/src/engine/html/shaders/image_shader.dart
  lib/web_ui/lib/src/engine/html/shaders/vertex_shaders.dart
  lib/web_ui/lib/src/engine/html/shaders/webgl_context.dart
  lib/web_ui/test/engine/surface/path/path_iterator_test.dart
  lib/web_ui/test/engine/surface/path/path_winding_test.dart
  lib/web_ui/test/golden_tests/engine/image_shader_golden_test.dart
  lib/web_ui/test/path_test.dart
Labels: cla: yes, platform-web

#26567 Roll Skia from 357e67e7af3b to 053eb1ba91d5 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26569 Roll Fuchsia Linux SDK from DvgL0sNJV... to 3Xj5uw866...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#26570 Roll Dart SDK from 6186a3ef5ffa to 202c42e3395c (3 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26571 Roll Skia from 053eb1ba91d5 to 7856eb88eda0 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26442 Add bottom view inset to FlutterWindowMetricsEvent
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: cla: yes, embedder

#26193 Replace flutter_runner::Thread with fml::Thread.
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/platform/fuchsia/message_loop_fuchsia.cc
  fml/platform/fuchsia/task_observers.cc
  fml/platform/fuchsia/task_observers.h
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/component.cc
  shell/platform/fuchsia/flutter/component.h
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/engine.h
  shell/platform/fuchsia/flutter/fuchsia_intl.cc
  shell/platform/fuchsia/flutter/loop.cc
  shell/platform/fuchsia/flutter/loop.h
  shell/platform/fuchsia/flutter/main.cc
  shell/platform/fuchsia/flutter/runner.cc
  shell/platform/fuchsia/flutter/runner.h
  shell/platform/fuchsia/flutter/task_observers.h
  shell/platform/fuchsia/flutter/thread.cc
  shell/platform/fuchsia/flutter/thread.h
Labels: cla: yes, platform-fuchsia, waiting for tree to go green

#26527 Added more descriptive error to StandardMessageCodec for types that override toString
  shell/platform/android/io/flutter/plugin/common/StandardMessageCodec.java
  shell/platform/android/test/io/flutter/plugin/common/StandardMessageCodecTest.java
Labels: cla: yes, platform-android, waiting for tree to go green

#26538 Fix create_arm_gen_snapshot target
  lib/snapshot/BUILD.gn
Labels: cla: yes, waiting for tree to go green

#26572 Roll Skia from 7856eb88eda0 to 7aa7939a60b9 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#20535 fuchsia: Delete unused compilation_trace code
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/dart_runner/kernel/BUILD.gn
  shell/platform/fuchsia/flutter/collect_traces.dart
  shell/platform/fuchsia/flutter/compilation_trace.README
  shell/platform/fuchsia/flutter/compilation_trace.txt
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/kernel/BUILD.gn
Labels: cla: yes, platform-fuchsia, waiting for tree to go green

#26446 Fix Fragment not transparent in Texture render mode
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
Labels: cla: yes, platform-android, waiting for tree to go green

#26492 fix a LateInitializationError
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/text_editing_test.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#26579 Roll Skia from 7aa7939a60b9 to 568ef84d3f8a (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26547 [iOSTextInput] fix potential dangling pointer access
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPluginTest.m
Labels: cla: yes, platform-ios, waiting for tree to go green

#26581 Roll Fuchsia Mac SDK from vGpSL2e_a... to ldByLqm7f...
  DEPS
Labels: cla: yes, waiting for tree to go green

#26582 Roll Skia from 568ef84d3f8a to 2692b0dd119f (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26576 fixes crash when sets mouseTrackingMode before view is loaded
  shell/platform/darwin/macos/framework/Source/FlutterViewController.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewControllerTest.mm
Labels: cla: yes, platform-macos, waiting for tree to go green

#26580 Remove "unnecessary" imports.
  lib/web_ui/lib/src/engine/canvaskit/embedded_views.dart
  lib/web_ui/lib/src/engine/canvaskit/surface_factory.dart
  lib/web_ui/test/canvaskit/common.dart
  lib/web_ui/test/engine/surface/path/path_iterator_test.dart
  lib/web_ui/test/engine/surface/path/path_winding_test.dart
  lib/web_ui/test/path_test.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#26584 Roll Skia from 2692b0dd119f to 08d0d86b8180 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26586 Roll Dart SDK from 2e9c4305a6aa to 39814844606e (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26587 Roll Fuchsia Linux SDK from 3Xj5uw866... to 7jqSNhU_b...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#26588 Roll Fuchsia Mac SDK from ldByLqm7f... to otF0aYh8E...
  DEPS
Labels: cla: yes, waiting for tree to go green

#26554 Add support for compositing using Metal on macOS
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterBackingStoreData.h
  shell/platform/darwin/macos/framework/Source/FlutterBackingStoreData.mm
  shell/platform/darwin/macos/framework/Source/FlutterCompositor.h
  shell/platform/darwin/macos/framework/Source/FlutterCompositor.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/macos/framework/Source/FlutterGLCompositor.h
  shell/platform/darwin/macos/framework/Source/FlutterGLCompositor.mm
  shell/platform/darwin/macos/framework/Source/FlutterMetalCompositor.h
  shell/platform/darwin/macos/framework/Source/FlutterMetalCompositor.mm
  shell/platform/darwin/macos/framework/Source/FlutterMetalCompositorUnittests.mm
  shell/platform/darwin/macos/framework/Source/fixtures/flutter_desktop_test.dart
Labels: cla: yes, platform-macos

#26486 [iOSTextInputPlugin] bypass UIKit floating cursor coordinates clamping
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPluginTest.m
Labels: cla: yes, platform-ios, waiting for tree to go green

#26589 Roll Skia from 08d0d86b8180 to bb04e3d47ef8 (13 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26592 Roll Skia from bb04e3d47ef8 to 8cb7c3be75a7 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26595 Roll Dart SDK from 39814844606e to 657d6dbde485 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26591 Docs, debugDisposed for ImmutableBuffer
  lib/ui/fixtures/ui_test.dart
  lib/ui/painting.dart
  lib/web_ui/lib/src/ui/painting.dart
Labels: cla: yes, waiting for tree to go green

#26598 Roll buildroot to 60e83491e8ce171687431e6e7a4b0cd20b4d8d40
  DEPS
Labels: cla: yes, waiting for tree to go green

#26597 Roll Skia from 8cb7c3be75a7 to bcfdc1d43872 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#25628 [Android KeyEvents] Split AndroidKeyProcessor into separate classes
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/android/AndroidKeyProcessor.java
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/embedding/android/KeyChannelResponder.java
  shell/platform/android/io/flutter/embedding/android/KeyboardManager.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/KeyEventChannel.java
  shell/platform/android/io/flutter/plugin/editing/InputConnectionAdaptor.java
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/test/io/flutter/FlutterTestSuite.java
  shell/platform/android/test/io/flutter/embedding/android/AndroidKeyProcessorTest.java
  shell/platform/android/test/io/flutter/embedding/android/KeyChannelResponderTest.java
  shell/platform/android/test/io/flutter/embedding/android/KeyboardManagerTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/KeyEventChannelTest.java
  shell/platform/android/test/io/flutter/plugin/editing/InputConnectionAdaptorTest.java
  shell/platform/android/test/io/flutter/plugin/editing/ListenableEditingStateTest.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
  tools/android_lint/project.xml
Labels: cla: yes, platform-android, waiting for tree to go green

#26600 Roll Fuchsia Mac SDK from otF0aYh8E... to ICWUopirb...
  DEPS
Labels: cla: yes, waiting for tree to go green

#26601 Roll Fuchsia Linux SDK from 7jqSNhU_b... to 6CBxGudrv...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#26603 Roll Skia from bcfdc1d43872 to aad4b80fa625 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26605 Roll Skia from aad4b80fa625 to 14eee314b1f4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26606 Roll Fuchsia Mac SDK from ICWUopirb... to ddbxEQera...
  DEPS
Labels: cla: yes, waiting for tree to go green

#26607 Roll Fuchsia Linux SDK from 6CBxGudrv... to XClZ-9fkt...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#26609 Roll Skia from 14eee314b1f4 to fc8cf91cee9f (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26610 Roll Dart SDK from 657d6dbde485 to fc99280265c9 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26611 Roll Skia from fc8cf91cee9f to 681e409625b9 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26604 Roll buildroot to 823808de422a8912bcec8a06f548da96d72cc682
  DEPS
Labels: cla: yes

#26612 Fix issues with RunExpiredTasksWhileFirstTaskUnMergesThreads
  fml/raster_thread_merger_unittests.cc
Labels: cla: yes

#26596 Fixes handleNavigationMessage in order
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/test/window_test.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#26599 Provide the isolate cleanup callback to Dart_CreateIsolateInGroup
  runtime/dart_isolate.cc
Labels: cla: yes, waiting for tree to go green

#26614 Fix Android imports stamp file write mode
  tools/android_illegal_imports.py
Labels: cla: yes, waiting for tree to go green

#26616 Roll Skia from 681e409625b9 to dc03537758f3 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26615 Roll Fuchsia Mac SDK from ddbxEQera... to e0WQ49xxD...
  DEPS
Labels: cla: yes, waiting for tree to go green

#26618 Roll Fuchsia Linux SDK from XClZ-9fkt... to qqVmyK6TU...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#26620 Roll Skia from dc03537758f3 to 9aa5c2c86089 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26621 Roll Skia from 9aa5c2c86089 to 8aef107f6d58 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26624 Roll Skia from 8aef107f6d58 to 2c9a6ec3a0d0 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26625 Roll Fuchsia Linux SDK from qqVmyK6TU... to TqViQQzJo...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#26619 Roll Dart SDK from fc99280265c9 to 5204465f71be (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26632 Roll Fuchsia Mac SDK from e0WQ49xxD... to p4LZtOVnJ...
  DEPS
Labels: cla: yes, waiting for tree to go green

#26564 Update dep overrides in flutter_frontend_server
  flutter_frontend_server/pubspec.yaml
Labels: cla: yes, waiting for tree to go green

#26627 Python 3 support for macOS/iOS builds
  DEPS
  sky/tools/create_macos_gen_snapshots.py
Labels: cla: yes, waiting for tree to go green

#26635 Roll Skia from 5b5a4c6bf5d1 to f07b4ce437ad (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26636 Roll Skia from f07b4ce437ad to 89d460f27bd4 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26640 Roll Dart SDK from 5204465f71be to 019918a203bc (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26645 Roll Skia from 917f9193d244 to 26666bda75b9 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26646 Roll Skia from 26666bda75b9 to 031d76b67447 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26648 Roll Dart SDK from 019918a203bc to 37338b2f4bbb (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26650 Roll Skia from 031d76b67447 to 163cc9124259 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26651 Roll Skia from 163cc9124259 to 6b2121d0ec57 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26652 Roll Dart SDK from 37338b2f4bbb to 4dc4671c3a87 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26653 Roll Fuchsia Mac SDK from qDntzygjT... to Q22GCF6Le...
  DEPS
Labels: cla: yes, waiting for tree to go green

#26655 Roll Dart SDK from 4dc4671c3a87 to a2ef55cfb8ac (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#26656 Roll Skia from 6b2121d0ec57 to 43c713d5cd1a (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26644 [web] migrate some felt code to null safety
  ci/licenses_golden/licenses_flutter
  e2etests/analysis_options.yaml
  e2etests/web/regular_integration_tests/lib/image_loading_main.dart
  e2etests/web/regular_integration_tests/lib/platform_messages_main.dart
  e2etests/web/regular_integration_tests/lib/profile_diagnostics_main.dart
  e2etests/web/regular_integration_tests/lib/screenshot_support.dart
  e2etests/web/regular_integration_tests/lib/scroll_wheel_main.dart
  e2etests/web/regular_integration_tests/lib/target_platform_main.dart
  e2etests/web/regular_integration_tests/lib/text_editing_main.dart
  e2etests/web/regular_integration_tests/lib/treeshaking_main.dart
  e2etests/web/regular_integration_tests/lib/url_strategy_main.dart
  e2etests/web/regular_integration_tests/pubspec.yaml
  e2etests/web/regular_integration_tests/test_driver/platform_messages_integration.dart
  e2etests/web/regular_integration_tests/test_driver/text_editing_integration.dart
  e2etests/web/regular_integration_tests/test_driver/treeshaking_integration.dart
  e2etests/web/regular_integration_tests/test_driver/url_strategy_integration.dart
  lib/web_ui/dev/browser.dart
  lib/web_ui/dev/build.dart
  lib/web_ui/dev/clean.dart
  lib/web_ui/dev/common.dart
  lib/web_ui/dev/environment.dart
  lib/web_ui/dev/firefox_installer_test.dart
  lib/web_ui/dev/licenses.dart
  lib/web_ui/dev/macos_info.dart
  lib/web_ui/dev/utils.dart
  lib/web_ui/dev/watcher.dart
  web_sdk/web_engine_tester/lib/static/host.dart
  web_sdk/web_engine_tester/pubspec.yaml
  web_sdk/web_test_utils/lib/environment.dart
  web_sdk/web_test_utils/lib/exceptions.dart
  web_sdk/web_test_utils/lib/goldens.dart
  web_sdk/web_test_utils/lib/image_compare.dart
  web_sdk/web_test_utils/pubspec.yaml
Labels: cla: yes, platform-web

#26649 [web] migrate more felt code to null safety
  lib/web_ui/dev/build.dart
  lib/web_ui/dev/chrome.dart
  lib/web_ui/dev/chrome_installer.dart
  lib/web_ui/dev/clean.dart
  lib/web_ui/dev/common.dart
  lib/web_ui/dev/create_simulator.dart
  lib/web_ui/dev/driver_manager.dart
  lib/web_ui/dev/edge.dart
  lib/web_ui/dev/edge_installation.dart
  lib/web_ui/dev/firefox.dart
  lib/web_ui/dev/firefox_installer.dart
  lib/web_ui/dev/integration_tests_manager.dart
  lib/web_ui/dev/safari.dart
  lib/web_ui/dev/safari_installation.dart
  lib/web_ui/dev/screenshot_manager.dart
  lib/web_ui/dev/supported_browsers.dart
  lib/web_ui/pubspec.yaml
Labels: cla: yes, platform-web

#26662 Add test for CanvasKit text memory crash
  lib/web_ui/test/canvaskit/text_test.dart
Labels: cla: yes, platform-web

#26661 Roll Dart SDK from a2ef55cfb8ac to b7c2babecc88 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#26659 small clean-up of the license script
  ci/licenses_golden/licenses_flutter
  ci/licenses_golden/tool_signature
  lib/web_ui/dev/licenses.dart
  tools/licenses/lib/main.dart
Labels: cla: yes, platform-web

#26622 [web canvaskit] fix SkiaObjectBox instrumentation
  lib/web_ui/lib/src/engine/canvaskit/skia_object_cache.dart
  lib/web_ui/lib/src/engine/profiler.dart
  lib/web_ui/test/canvaskit/skia_objects_cache_test.dart
  lib/web_ui/test/engine/profiler_test.dart
  lib/web_ui/test/spy.dart
Labels: cla: yes, platform-web

#26623 Add support for native callbacks to the macOS embedder test harness
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterDartProject_Internal.h
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngineTestContext.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngineTestUtils.h
  shell/platform/darwin/macos/framework/Source/FlutterEngineTestUtils.mm
  shell/platform/darwin/macos/framework/Source/fixtures/flutter_desktop_test.dart
Labels: cla: yes, platform-macos

#26670 Roll Skia from 43c713d5cd1a to 7391511f7be3 (24 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26590 Add a filterKey argument to Skia shader trace events
  shell/common/skia_event_tracer_impl.cc
Labels: cla: yes, waiting for tree to go green

#26617 Enable Skia shader trace events by default
  shell/common/switches.cc
Labels: cla: yes, waiting for tree to go green

#26672 Roll Fuchsia Mac SDK from Q22GCF6Le... to 2Py2O7FIT...
  DEPS
Labels: cla: yes, waiting for tree to go green

#26673 Roll Skia from 7391511f7be3 to 198ac15a907a (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26675 Roll Dart SDK from b7c2babecc88 to 4882a5e99192 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26668 migrate the rest of dev/ to null safety
  lib/web_ui/dev/felt.dart
  lib/web_ui/dev/test_platform.dart
  lib/web_ui/dev/test_runner.dart
  lib/web_ui/dev/utils.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#26677 Roll Skia from 198ac15a907a to 2a3fb1baa186 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26679 Roll Dart SDK from 4882a5e99192 to 93ff88f22f01 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26680 Roll Skia from 2a3fb1baa186 to 1f6ca3a950e5 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26681 Roll Dart SDK from 93ff88f22f01 to fc2e183f4ea9 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26674 [web] more null safety in tests
  lib/web_ui/lib/src/engine/navigation.dart
  lib/web_ui/lib/src/engine/services.dart
  lib/web_ui/lib/src/engine/web_experiments.dart
  lib/web_ui/pubspec.yaml
  lib/web_ui/test/alarm_clock_test.dart
  lib/web_ui/test/canvas_test.dart
  lib/web_ui/test/canvaskit/canvaskit_api_test.dart
  lib/web_ui/test/canvaskit/filter_test.dart
  lib/web_ui/test/canvaskit/frame_timings_test.dart
  lib/web_ui/test/canvaskit/path_test.dart
  lib/web_ui/test/canvaskit/scene_test.dart
  lib/web_ui/test/canvaskit/shader_test.dart
  lib/web_ui/test/canvaskit/skia_font_collection_test.dart
  lib/web_ui/test/canvaskit/skia_objects_cache_test.dart
  lib/web_ui/test/channel_buffers_test.dart
  lib/web_ui/test/clipboard_test.dart
  lib/web_ui/test/color_test.dart
  lib/web_ui/test/dom_renderer_test.dart
  lib/web_ui/test/engine/frame_reference_test.dart
  lib/web_ui/test/engine/navigation_test.dart
  lib/web_ui/test/engine/profiler_test.dart
  lib/web_ui/test/engine/semantics/semantics_helper_test.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
  lib/web_ui/test/engine/util_test.dart
  lib/web_ui/test/engine/web_experiments_test.dart
  lib/web_ui/test/frame_timings_common.dart
  lib/web_ui/test/geometry_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_paragraph/overflow_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_paragraph/placeholders_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_paragraph/shadows_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_reuse_test.dart
  lib/web_ui/test/golden_tests/engine/dom_mask_filter_test.dart
  lib/web_ui/test/golden_tests/engine/linear_gradient_golden_test.dart
  lib/web_ui/test/golden_tests/engine/path_metrics_test.dart
  lib/web_ui/test/golden_tests/engine/path_transform_test.dart
  lib/web_ui/test/golden_tests/engine/picture_golden_test.dart
  lib/web_ui/test/golden_tests/engine/radial_gradient_golden_test.dart
  lib/web_ui/test/golden_tests/engine/shader_mask_golden_test.dart
  lib/web_ui/test/golden_tests/engine/text_placeholders_test.dart
  lib/web_ui/test/gradient_test.dart
  lib/web_ui/test/hash_codes_test.dart
  lib/web_ui/test/keyboard_test.dart
  lib/web_ui/test/locale_test.dart
  lib/web_ui/test/mock_engine_canvas.dart
  lib/web_ui/test/paragraph_test.dart
  lib/web_ui/test/rect_test.dart
  lib/web_ui/test/rrect_test.dart
  lib/web_ui/test/title_test.dart
Labels: cla: yes, platform-web

#26686 Disable ImageReleasedAfterFrame on Fuchsia
  lib/ui/painting/image_dispose_unittests.cc
Labels: cla: yes

#26683 Roll Fuchsia Mac SDK from 2Py2O7FIT... to jNlbyBr6p...
  DEPS
Labels: cla: yes, waiting for tree to go green

#26687 Roll Skia from 1f6ca3a950e5 to a1feabd38305 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26669 [flutter_releases] Flutter Stable 2.2.2 Engine Cherrypicks
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, platform-web

#26688 [web] use isTrue/isFalse in all tests
  lib/web_ui/test/canvaskit/canvas_golden_test.dart
  lib/web_ui/test/canvaskit/canvaskit_api_test.dart
  lib/web_ui/test/canvaskit/image_test.dart
  lib/web_ui/test/canvaskit/path_test.dart
  lib/web_ui/test/canvaskit/skia_objects_cache_test.dart
  lib/web_ui/test/channel_buffers_test.dart
  lib/web_ui/test/clipboard_test.dart
  lib/web_ui/test/dom_renderer_test.dart
  lib/web_ui/test/engine/frame_reference_test.dart
  lib/web_ui/test/engine/image/html_image_codec_test.dart
  lib/web_ui/test/engine/pointer_binding_test.dart
  lib/web_ui/test/engine/recording_canvas_test.dart
  lib/web_ui/test/engine/semantics/semantics_helper_test.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
  lib/web_ui/test/engine/surface/path/path_winding_test.dart
  lib/web_ui/test/engine/surface/scene_builder_test.dart
  lib/web_ui/test/engine/surface/surface_test.dart
  lib/web_ui/test/engine/ulps_test.dart
  lib/web_ui/test/engine/web_experiments_test.dart
  lib/web_ui/test/engine/window_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_reuse_test.dart
  lib/web_ui/test/golden_tests/engine/compositing_golden_test.dart
  lib/web_ui/test/keyboard_converter_test.dart
  lib/web_ui/test/lerp_test.dart
  lib/web_ui/test/path_test.dart
  lib/web_ui/test/text/font_loading_test.dart
  lib/web_ui/test/text/measurement_test.dart
  lib/web_ui/test/text_editing_test.dart
Labels: cla: yes, platform-web

#26689 Roll Skia from a1feabd38305 to d2e096069691 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26690 Roll Dart SDK from fc2e183f4ea9 to 51af508b1661 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green
