Repository flutter/engine, pull requests merged in 2021-02, with the labels that each got.

#24099 Roll Skia from bb6176826683 to 8ef3c539a26e (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24098 Roll Fuchsia Mac SDK from d48YMSgXi... to KfIfizZ7o...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24101 Use sampling instead of (deprecated) filter-quality
  common/graphics/texture.h
  flow/layers/texture_layer.cc
  flow/layers/texture_layer.h
  flow/layers/texture_layer_unittests.cc
  flow/raster_cache.cc
  flow/testing/mock_texture.cc
  flow/testing/mock_texture.h
  flow/testing/mock_texture_unittests.cc
  lib/ui/compositing/scene_builder.cc
  lib/ui/painting/canvas.cc
  shell/common/shell_unittests.cc
  shell/platform/android/android_external_texture_gl.cc
  shell/platform/android/android_external_texture_gl.h
  shell/platform/darwin/ios/ios_external_texture_gl.h
  shell/platform/darwin/ios/ios_external_texture_gl.mm
  shell/platform/darwin/ios/ios_external_texture_metal.h
  shell/platform/darwin/ios/ios_external_texture_metal.mm
  shell/platform/embedder/embedder_external_texture_gl.cc
  shell/platform/embedder/embedder_external_texture_gl.h
  testing/assertions_skia.cc
  testing/assertions_skia.h
Labels: cla: yes, platform-android, platform-ios, waiting for tree to go green

#24102 Roll Fuchsia Linux SDK from TTxS3b-Vc... to -iUKxTl_w...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24103 Roll Dart SDK from f36420a912bb to a6d86f12bf00 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#24104 Roll Skia from 8ef3c539a26e to 324b7a6f3a49 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24108 Roll Skia from 324b7a6f3a49 to 3cc4afc70309 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24114 Roll Skia from 3cc4afc70309 to 3364579f8332 (13 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24113 Roll Fuchsia Mac SDK from KfIfizZ7o... to IHHTb9H-B...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24115 Roll Fuchsia Linux SDK from -iUKxTl_w... to blNDDMWIJ...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24116 Roll Skia from 3364579f8332 to fde740c7f26e (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24112 Fixed plumbing of the spawning isolate for Shell::Spawn.
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  shell/common/engine.h
  shell/common/shell_unittests.cc
Labels: cla: yes

#24118 Roll Skia from fde740c7f26e to a6c692b8844d (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24122 Roll Dart SDK from a6d86f12bf00 to c066c7b294bf (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24123 Roll Skia from a6c692b8844d to f9a0f1a9be9e (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24132 Roll Fuchsia Mac SDK from IHHTb9H-B... to Cn1MLtDdP...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24133 Roll Fuchsia Linux SDK from blNDDMWIJ... to _bFb8vcW9...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24125 Update to sampling versions
  flow/instrumentation.cc
  flow/layers/image_filter_layer_unittests.cc
  lib/ui/painting/image_filter.cc
Labels: cla: yes

#24137 Roll Skia from f9a0f1a9be9e to 931cad1d74bb (11 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24135 drawBitmap is deprecated, use drawImage
  shell/platform/android/android_surface_software.cc
Labels: cla: yes, platform-android

#24007 Guard against Dart timeline API calls invoked during Dart_Cleanup
  ci/licenses_golden/licenses_flutter
  fml/trace_event.cc
  fml/trace_event.h
  runtime/BUILD.gn
  runtime/dart_vm.cc
  runtime/dart_vm_initializer.cc
  runtime/dart_vm_initializer.h
  runtime/dart_vm_lifecycle.h
Labels: cla: yes

#24138 Roll Skia from 931cad1d74bb to e9e8e5d771c5 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24141 Roll Skia from e9e8e5d771c5 to ee9cb6aec35d (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24143 Roll Dart SDK from c066c7b294bf to 75251de89baf (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24011 Refactor FlRenderer to platform-independent implementation
  ci/licenses_golden/licenses_flutter
  shell/platform/linux/BUILD.gn
  shell/platform/linux/config/BUILD.gn
  shell/platform/linux/egl_utils.cc
  shell/platform/linux/egl_utils.h
  shell/platform/linux/egl_utils_test.cc
  shell/platform/linux/fl_backing_store_provider.cc
  shell/platform/linux/fl_backing_store_provider.h
  shell/platform/linux/fl_engine.cc
  shell/platform/linux/fl_gl_area.cc
  shell/platform/linux/fl_gl_area.h
  shell/platform/linux/fl_renderer.cc
  shell/platform/linux/fl_renderer.h
  shell/platform/linux/fl_renderer_gl.cc
  shell/platform/linux/fl_renderer_gl.h
  shell/platform/linux/fl_renderer_headless.cc
  shell/platform/linux/fl_renderer_wayland.cc
  shell/platform/linux/fl_renderer_wayland.h
  shell/platform/linux/fl_renderer_x11.cc
  shell/platform/linux/fl_renderer_x11.h
  shell/platform/linux/fl_view.cc
  shell/platform/linux/fl_view_accessible.cc
  shell/platform/linux/fl_view_accessible.h
  shell/platform/linux/fl_view_private.h
  shell/platform/linux/public/flutter_linux/fl_view.h
  shell/platform/linux/testing/mock_egl.cc
  shell/platform/linux/testing/mock_epoxy.cc
  shell/platform/linux/testing/mock_renderer.cc
Labels: cla: yes

#24146 fixes android deeplink query paremeter null crashes
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
Labels: cla: yes, platform-android, waiting for tree to go green

#24148 Roll Skia from ee9cb6aec35d to 9ff7b8d67559 (10 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#24150 [web] Fix exception when using a keyboard
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  lib/web_ui/test/engine/window_test.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#24151 Roll Fuchsia Mac SDK from Cn1MLtDdP... to CZUusaxvk...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24140 [web] Fix RRect scaleRadii for negative width/height
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/ui/geometry.dart
  lib/web_ui/test/golden_tests/engine/canvas_rrect_golden_test.dart
Labels: cla: yes

#24156 Roll Clang Mac from CafIgcePd... to hoapl8VNW...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24172 Roll Dart SDK from 75251de89baf to 102cf619465d (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24160 [canvaskit] update CSS size of the canvas when device-pixel ratio changes
  lib/web_ui/lib/src/engine/canvaskit/surface.dart
  lib/web_ui/test/canvaskit/surface_test.dart
Labels: cla: yes

#24176 Roll Skia from 9ff7b8d67559 to 20e92f77e2b3 (34 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24142 [flutter_releases] Flutter 1.26.0-17.2.pre Beta Engine Cherrypicks
  DEPS
  ci/licenses_golden/licenses_third_party
  lib/snapshot/libraries.json
  lib/snapshot/libraries.yaml
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/dev/test_runner.dart
  lib/web_ui/lib/src/engine/assets.dart
  lib/web_ui/lib/src/engine/canvaskit/embedded_views.dart
  lib/web_ui/lib/src/engine/canvaskit/font_fallbacks.dart
  lib/web_ui/lib/src/engine/canvaskit/text.dart
  lib/web_ui/lib/src/engine/dom_canvas.dart
  lib/web_ui/lib/src/engine/text/canvas_paragraph.dart
  lib/web_ui/lib/src/engine/text/font_collection.dart
  lib/web_ui/lib/src/engine/text/layout_service.dart
  lib/web_ui/test/canvaskit/canvas_golden_test.dart
  lib/web_ui/test/canvaskit/embedded_views_test.dart
  lib/web_ui/test/canvaskit/fallback_fonts_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_paragraph/general_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_paragraph/placeholders_test.dart
  lib/web_ui/test/golden_tests/engine/path_to_svg_golden_test.dart
  lib/web_ui/test/text/canvas_paragraph_builder_test.dart
  lib/web_ui/test/text/canvas_paragraph_test.dart
  shell/platform/android/io/flutter/embedding/engine/FlutterEngineGroup.java
  shell/platform/android/test/io/flutter/embedding/engine/FlutterEngineGroupComponentTest.java
  shell/platform/windows/flutter_windows_view.cc
  testing/scenario_app/android/app/src/main/java/dev/flutter/scenarios/SpawnedEngineActivity.java
Labels: cla: yes, platform-android

#24163 No longer redraw window every frame to reduce CPU consumption
  shell/platform/linux/fl_view.cc
Labels: cla: yes

#24178 Roll Skia from 20e92f77e2b3 to e2c0504c27a2 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24177 Roll Clang Linux from 1Wa1KIWqF... to 6BYbqFtrH...
  DEPS
Labels: cla: yes

#24180 Roll Fuchsia Mac SDK from CZUusaxvk... to kwPlXsW2q...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24182 Roll Fuchsia Linux SDK from k80WkJhOL... to sHdRLs17n...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24183 Roll Skia from e2c0504c27a2 to f71278c9937c (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24184 Roll Dart SDK from 102cf619465d to 5bf0ad33fa3c (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#24185 Upgrade metrics_center
  testing/benchmark/pubspec.yaml
Labels: cla: yes

#24188 Roll Skia from f71278c9937c to d48f9daeb544 (10 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24152 Fix use of multiple shells w/ different snapshots
  runtime/dart_snapshot.cc
  runtime/dart_snapshot.h
  runtime/dart_vm.cc
  runtime/dart_vm.h
  runtime/dart_vm_data.cc
  runtime/dart_vm_data.h
  runtime/dart_vm_lifecycle.cc
  runtime/dart_vm_lifecycle.h
  shell/common/animator_unittests.cc
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/shell_benchmarks.cc
  shell/common/shell_test.cc
  shell/common/shell_unittests.cc
  shell/platform/android/android_shell_holder.cc
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/embedder/embedder_engine.cc
  shell/platform/fuchsia/flutter/component.cc
  shell/platform/fuchsia/flutter/engine.cc
  shell/testing/tester_main.cc
Labels: affects: engine, cla: yes, platform-android, platform-fuchsia, platform-ios, platform-linux, platform-macos, platform-windows

#24189 Roll Skia from d48f9daeb544 to 38df4c8470ab (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24191 Roll Dart SDK from 5bf0ad33fa3c to 8c39136ffb2f (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24181 Make activity/fragment leftover from an attach/detach race slightly safer
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/io/flutter/embedding/android/FlutterFragment.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterFragmentTest.java
Labels: cla: yes, platform-android

#24192 Roll Skia from 38df4c8470ab to 1d35777a4fa9 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24193 Roll Skia from 1d35777a4fa9 to c66754bd4ded (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24194 Roll Skia from c66754bd4ded to 8043b787554b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24196 Roll Skia from 8043b787554b to 9e189aab1ec7 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24198 Roll Dart SDK from 8c39136ffb2f to 73c34f2ad73f (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#24199 Roll Skia from 9e189aab1ec7 to 3c8444e18e74 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24200 Roll Skia from 3c8444e18e74 to c481dd69bbb4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24201 Roll Fuchsia Mac SDK from kwPlXsW2q... to 03qqGegOA...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24202 Roll Skia from c481dd69bbb4 to 56c78f4d9edd (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24203 Roll Fuchsia Linux SDK from sHdRLs17n... to f1YmNNwFe...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24204 Roll Skia from 56c78f4d9edd to 8eb119af466b (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24205 Roll Dart SDK from 73c34f2ad73f to 51035f288d30 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24207 Roll Skia from 8eb119af466b to 420c8a505e54 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24157 [metal] Darwin unified external metal textures
  ci/licenses_golden/licenses_flutter
  common/config.gni
  common/graphics/texture.h
  shell/platform/darwin/graphics/BUILD.gn
  shell/platform/darwin/graphics/FlutterDarwinContextMetal.h
  shell/platform/darwin/graphics/FlutterDarwinContextMetal.mm
  shell/platform/darwin/graphics/FlutterDarwinExternalTextureMetal.h
  shell/platform/darwin/graphics/FlutterDarwinExternalTextureMetal.mm
  shell/platform/darwin/ios/ios_context_metal.mm
  shell/platform/darwin/ios/ios_external_texture_metal.h
  shell/platform/darwin/ios/ios_external_texture_metal.mm
  shell/platform/darwin/macos/BUILD.gn
Labels: cla: yes, platform-ios, waiting for tree to go green

#24208 Roll Skia from 420c8a505e54 to 71d420ddbd3c (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24209 Roll Skia from 71d420ddbd3c to 2224100b25e3 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#24212 Roll Dart SDK from 51035f288d30 to b1c8ca53bf37 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24213 Roll Skia from 2224100b25e3 to 7c6abf86f54c (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23955 Fix "Buffer not large enough for pixels" by adding buffer.rewind()
  shell/platform/android/io/flutter/embedding/android/FlutterImageView.java
Labels: cla: yes, platform-android, waiting for tree to go green

#24214 [web] Fix text selection from right to left
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/text_editing_test.dart
Labels: affects: text input, cla: yes, platform-web, waiting for tree to go green

#24215 Roll Skia from 7c6abf86f54c to b88b4e1a12ac (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24217 Roll Skia from b88b4e1a12ac to 52bf4853c121 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24216 Roll buildroot to bc399c09
  DEPS
Labels: cla: yes

#24221 Roll Skia from 52bf4853c121 to 9f704a864008 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24225 Roll Fuchsia Mac SDK from 03qqGegOA... to TVGS3E2dT...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24227 Roll Fuchsia Linux SDK from f1YmNNwFe... to JQoiZreUN...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24228 Roll Skia from 9f704a864008 to 2a21a21223a7 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24229 Roll Skia from 2a21a21223a7 to 2c6d8d970acd (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24230 Roll Dart SDK from b1c8ca53bf37 to c1616b4405c2 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24231 Roll Dart SDK from c1616b4405c2 to 8e4be6e4a496 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#24223 Revert "[metal] Darwin unified external metal textures"
  ci/licenses_golden/licenses_flutter
  common/config.gni
  common/graphics/texture.h
  shell/platform/darwin/graphics/BUILD.gn
  shell/platform/darwin/graphics/FlutterDarwinContextMetal.h
  shell/platform/darwin/graphics/FlutterDarwinContextMetal.mm
  shell/platform/darwin/graphics/FlutterDarwinExternalTextureMetal.h
  shell/platform/darwin/graphics/FlutterDarwinExternalTextureMetal.mm
  shell/platform/darwin/ios/ios_context_metal.mm
  shell/platform/darwin/ios/ios_external_texture_metal.h
  shell/platform/darwin/ios/ios_external_texture_metal.mm
  shell/platform/darwin/macos/BUILD.gn
Labels: cla: yes, platform-ios

#24233 Roll Skia from 2c6d8d970acd to 03555e92a159 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24234 Roll Skia from 03555e92a159 to c7d6e0ba0b6d (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24235 Roll Skia from c7d6e0ba0b6d to 1f4cd07af88a (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24237 Roll Fuchsia Mac SDK from TVGS3E2dT... to kaNAjjK23...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24186 Add API to force redraw of flutter view
  shell/platform/windows/client_wrapper/testing/stub_flutter_windows_api.cc
  shell/platform/windows/flutter_windows.cc
  shell/platform/windows/flutter_windows_view.cc
  shell/platform/windows/flutter_windows_view.h
  shell/platform/windows/public/flutter_windows.h
Labels: cla: yes

#24236 [windows] Surface will not update when restoring
  shell/platform/windows/flutter_windows_view.cc
Labels: cla: yes

#24239 Roll Skia from 1f4cd07af88a to ca21e14d7754 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24240 Roll Fuchsia Linux SDK from JQoiZreUN... to aFijLMarB...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24246 Pin the package_config package used by generate_package_config at version 1.9.3
  tools/generate_package_config/pubspec.yaml
Labels: cla: yes

#24250 clarify comment
  .cirrus.yml
Labels: cla: yes

#24251 Pin the package_config package
  tools/generate_package_config/pubspec.yaml
Labels: cla: yes

#24255 Roll Dart SDK from 8e4be6e4a496 to 9a16b6bca556 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24256 Roll Skia from ca21e14d7754 to c0f981560985 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24257 Roll Dart SDK from 9a16b6bca556 to daf7b29738c5 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24258 Roll Fuchsia Mac SDK from kaNAjjK23... to HqhARC-gx...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24259 Roll Fuchsia Linux SDK from aFijLMarB... to QINp0ypCP...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24265 Roll Skia from c0f981560985 to 827f8c010319 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24268 Roll Dart SDK from daf7b29738c5 to 85af45218196 (2 revisions)
  DEPS
Labels: cla: yes, waiting for tree to go green

#24269 Roll Dart SDK from 85af45218196 to b74a0c8d6786 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#24270 Roll Fuchsia Mac SDK from HqhARC-gx... to DVT8cA5T5...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24271 Roll Fuchsia Linux SDK from QINp0ypCP... to mFKcPPKFb...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24273 Roll Skia from 827f8c010319 to 5b67a809c09c (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24274 Roll Skia from 5b67a809c09c to 1d62221553b7 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#24275 Roll Fuchsia Mac SDK from DVT8cA5T5... to 7YXm5Zozt...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24276 Roll Fuchsia Linux SDK from mFKcPPKFb... to 5SyHEyz-o...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24277 Roll Dart SDK from b74a0c8d6786 to f2f38b3d7e50 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#24280 Roll Skia from 1d62221553b7 to 75b7606c0fe1 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24281 Roll Fuchsia Mac SDK from 7YXm5Zozt... to BfkGYQEHB...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24282 Roll Fuchsia Linux SDK from 5SyHEyz-o... to lF6-o-EaT...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24283 Roll Dart SDK from f2f38b3d7e50 to 5a249d2ce54f (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#24284 Roll Skia from 75b7606c0fe1 to c2c1b0c460ec (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#24278 Add support for arm64 simulator builds to create_ios_framework.py
  sky/tools/create_ios_framework.py
Labels: cla: yes, waiting for tree to go green

#24287 Roll Skia from c2c1b0c460ec to 49e5b3a339ed (13 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24289 Roll Fuchsia Mac SDK from BfkGYQEHB... to lzQvHw_Il...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24290 Roll Skia from 49e5b3a339ed to 627c6d25695d (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24291 Roll Fuchsia Linux SDK from lF6-o-EaT... to 5RGNLZoRS...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24294 Roll Skia from 627c6d25695d to dfa269f1cd15 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24244 Reland "[metal] Darwin unified external metal textures (#24157)"
  ci/licenses_golden/licenses_flutter
  common/config.gni
  common/graphics/texture.h
  shell/platform/darwin/graphics/BUILD.gn
  shell/platform/darwin/graphics/FlutterDarwinContextMetal.h
  shell/platform/darwin/graphics/FlutterDarwinContextMetal.mm
  shell/platform/darwin/graphics/FlutterDarwinExternalTextureMetal.h
  shell/platform/darwin/graphics/FlutterDarwinExternalTextureMetal.mm
  shell/platform/darwin/ios/ios_context_metal.mm
  shell/platform/darwin/ios/ios_external_texture_metal.h
  shell/platform/darwin/ios/ios_external_texture_metal.mm
  shell/platform/darwin/macos/BUILD.gn
Labels: cla: yes, platform-ios

#24293 [Windows] Fix crash of TextInputPlugin on empty model
  ci/licenses_golden/licenses_flutter
  shell/platform/windows/BUILD.gn
  shell/platform/windows/key_event_handler_unittests.cc
  shell/platform/windows/text_input_plugin.cc
  shell/platform/windows/text_input_plugin_unittest.cc
Labels: cla: yes, waiting for tree to go green

#24295 Roll Dart SDK from 5a249d2ce54f to 02230d7386c7 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24300 Roll Skia from dfa269f1cd15 to 21b8cec137e1 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24301 Roll Fuchsia Mac SDK from lzQvHw_Il... to LHRp0kYRi...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24302 Roll Fuchsia Linux SDK from 5RGNLZoRS... to QJfCXnklY...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24219 libtxt: apply the justify offset to glyph positions instead of paint records
  third_party/txt/src/txt/paragraph_txt.cc
  third_party/txt/tests/paragraph_unittests.cc
Labels: cla: yes, waiting for tree to go green

#24309 Roll Skia from 21b8cec137e1 to 34c098d7f8e1 (19 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24308 Fix FlutterPlatformViewSemanticsContainer retain cycle with SemanticsObject
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest.mm
Labels: cla: yes, platform-ios, waiting for tree to go green

#24253 Define FLUTTER_ENABLE_SKSHAPER consistently when building txt_unittests and txt_benchmarks
  third_party/txt/BUILD.gn
Labels: cla: yes, waiting for tree to go green

#24310 Roll Skia from 34c098d7f8e1 to 62b039b36d4d (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23776 unhide uitextinput when focused
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.h
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPluginTest.m
  shell/platform/darwin/ios/framework/Source/accessibility_text_entry.mm
Labels: cla: yes, platform-ios, waiting for tree to go green

#24312 Roll Skia from 62b039b36d4d to e2c9d3c034dc (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24313 Roll Dart SDK from 02230d7386c7 to 4bd4c2a493e9 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
  tools/const_finder/.dart_tool/package_config.json
Labels: cla: yes, waiting for tree to go green

#24316 Roll Skia from e2c9d3c034dc to ec04e062f3f5 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24319 Roll Fuchsia Mac SDK from LHRp0kYRi... to Yyj0Krr1G...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24320 Roll Fuchsia Linux SDK from QJfCXnklY... to cSlRZzm0z...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24321 Roll Skia from ec04e062f3f5 to 7f942e46fda2 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24323 Roll Dart SDK from 4bd4c2a493e9 to 4740b09e11d4 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24324 Roll Skia from 7f942e46fda2 to 9e2c50edaaac (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24326 Roll Skia from 9e2c50edaaac to 140adc676219 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24328 Roll Dart SDK from 4740b09e11d4 to f832cd2d0536 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24306 [flutter_releases] Flutter Engine 1.26.0-17.5.pre Beta Cherrypicks
  DEPS
  lib/web_ui/lib/src/engine/canvaskit/surface.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/canvaskit/surface_test.dart
  lib/web_ui/test/text_editing_test.dart
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  shell/common/engine.h
  shell/common/shell_unittests.cc
  shell/platform/windows/flutter_windows_view.cc
Labels: cla: yes

#24331 Revert "Reland "[metal] Darwin unified external metal textures (#2415…
  ci/licenses_golden/licenses_flutter
  common/config.gni
  common/graphics/texture.h
  shell/platform/darwin/graphics/BUILD.gn
  shell/platform/darwin/graphics/FlutterDarwinContextMetal.h
  shell/platform/darwin/graphics/FlutterDarwinContextMetal.mm
  shell/platform/darwin/graphics/FlutterDarwinExternalTextureMetal.h
  shell/platform/darwin/graphics/FlutterDarwinExternalTextureMetal.mm
  shell/platform/darwin/ios/ios_context_metal.mm
  shell/platform/darwin/ios/ios_external_texture_metal.h
  shell/platform/darwin/ios/ios_external_texture_metal.mm
  shell/platform/darwin/macos/BUILD.gn
Labels: cla: yes, platform-ios, waiting for tree to go green

#24329 Roll Fuchsia Mac SDK from Yyj0Krr1G... to lEV2crBx-...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24330 Roll Skia from 140adc676219 to b8c0dab90b92 (16 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24159 [web] Fix text rendering issue when paragraph style is ginormous
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/text/canvas_paragraph.dart
  lib/web_ui/test/golden_tests/engine/canvas_draw_image_golden_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_paragraph/general_test.dart
  lib/web_ui/test/text/canvas_paragraph_builder_test.dart
Labels: cla: yes, platform-web

#24334 Roll Fuchsia Linux SDK from cSlRZzm0z... to neluWd0QF...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24335 Roll Skia from b8c0dab90b92 to 73122aa45f83 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24337 Roll Dart SDK from f832cd2d0536 to ebcb7aee8c0d (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24339 Roll Skia from 73122aa45f83 to 84b0233bb38e (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24153 [web] Fix svg stroke when style is not provided
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/dom_canvas.dart
  lib/web_ui/lib/src/engine/html/clip.dart
  lib/web_ui/lib/src/engine/html/recording_canvas.dart
  lib/web_ui/test/golden_tests/engine/path_to_svg_golden_test.dart
Labels: cla: yes, platform-web

#24333 Always set change type to cancel with `touchesCancelled` on iOS platform view
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController_Internal.h
Labels: cla: yes, platform-ios, waiting for tree to go green

#24343 Roll Skia from 84b0233bb38e to 997df84ac144 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green
