Repository flutter/engine, pull requests merged in 2021-10, with the labels that each got.

#26880 Migrated integration_flutter_test/embedder (scenic integration test) from fuchsia.git
  DEPS
  ci/licenses_golden/licenses_flutter
  ci/licenses_golden/licenses_third_party
  shell/platform/fuchsia/dart/BUILD.gn
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/integration_flutter_tests/BUILD.gn
  shell/platform/fuchsia/flutter/integration_flutter_tests/OWNERS
  shell/platform/fuchsia/flutter/integration_flutter_tests/embedder/BUILD.gn
  shell/platform/fuchsia/flutter/integration_flutter_tests/embedder/README.md
  shell/platform/fuchsia/flutter/integration_flutter_tests/embedder/child-view2/BUILD.gn
  shell/platform/fuchsia/flutter/integration_flutter_tests/embedder/child-view2/child_view2.dart
  shell/platform/fuchsia/flutter/integration_flutter_tests/embedder/child-view2/meta/child-view2.cmx
  shell/platform/fuchsia/flutter/integration_flutter_tests/embedder/child-view2/pubspec.yaml
  shell/platform/fuchsia/flutter/integration_flutter_tests/embedder/flutter-embedder-test2.cc
  shell/platform/fuchsia/flutter/integration_flutter_tests/embedder/flutter-embedder-test2.h
  shell/platform/fuchsia/flutter/integration_flutter_tests/embedder/meta/flutter-embedder-test2.cmx
  shell/platform/fuchsia/flutter/integration_flutter_tests/embedder/parent-view2/BUILD.gn
  shell/platform/fuchsia/flutter/integration_flutter_tests/embedder/parent-view2/meta/parent-view2.cmx
  shell/platform/fuchsia/flutter/integration_flutter_tests/embedder/parent-view2/parent_view2.dart
  shell/platform/fuchsia/flutter/integration_flutter_tests/embedder/parent-view2/pubspec.yaml
  shell/platform/fuchsia/flutter/integration_flutter_tests/fuchsia_testing/src/lib/ui/base_view/BUILD.gn
  shell/platform/fuchsia/flutter/integration_flutter_tests/fuchsia_testing/src/lib/ui/base_view/base_view.cc
  shell/platform/fuchsia/flutter/integration_flutter_tests/fuchsia_testing/src/lib/ui/base_view/base_view.h
  shell/platform/fuchsia/flutter/integration_flutter_tests/fuchsia_testing/src/lib/ui/base_view/embedded_view_utils.cc
  shell/platform/fuchsia/flutter/integration_flutter_tests/fuchsia_testing/src/lib/ui/base_view/embedded_view_utils.h
  shell/platform/fuchsia/flutter/integration_flutter_tests/fuchsia_testing/src/lib/ui/base_view/math.h
  shell/platform/fuchsia/flutter/integration_flutter_tests/fuchsia_testing/src/ui/testing/views/BUILD.gn
  shell/platform/fuchsia/flutter/integration_flutter_tests/fuchsia_testing/src/ui/testing/views/color.cc
  shell/platform/fuchsia/flutter/integration_flutter_tests/fuchsia_testing/src/ui/testing/views/color.h
  shell/platform/fuchsia/flutter/integration_flutter_tests/fuchsia_testing/src/ui/testing/views/embedder_view.cc
  shell/platform/fuchsia/flutter/integration_flutter_tests/fuchsia_testing/src/ui/testing/views/embedder_view.h
  testing/fuchsia/test_suites.yaml
  tools/fuchsia/all_packages.list
  tools/fuchsia/devshell/lib/vars.sh
  tools/fuchsia/devshell/serve.sh
  tools/fuchsia/fidl/gen_response_file.py
  tools/fuchsia/flutter/flutter_build_config.gni
  tools/fuchsia/flutter/flutter_component.gni
  tools/fuchsia/sdk/find_dart_libraries.py
  tools/fuchsia/sdk/sdk_targets.gni
Labels: cla: yes, waiting for tree to go green, platform-fuchsia, needs tests

#28976 Roll Skia from f69f21e601f9 to 7bb0ff05cec5 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28951 [fuchsia] Pass WeakPtrs to GfxConnection FIDL fns.
  shell/platform/fuchsia/flutter/gfx_session_connection.cc
  shell/platform/fuchsia/flutter/gfx_session_connection.h
Labels: cla: yes, waiting for tree to go green, platform-fuchsia, needs tests

#28979 Roll Dart SDK from 4a4c1361ad7b to 4fa07f3ccd43 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#28926 fuchsia: Add FakeFlatland and tests
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/tests/fake_flatland_unittests.cc
  shell/platform/fuchsia/flutter/tests/fakes/scenic/BUILD.gn
  shell/platform/fuchsia/flutter/tests/fakes/scenic/fake_flatland.cc
  shell/platform/fuchsia/flutter/tests/fakes/scenic/fake_flatland.h
Labels: affects: tests, cla: yes, platform-fuchsia

#28984 Roll Dart SDK from 4fa07f3ccd43 to cea2ea76fc66 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28966 Add web support for tooltip
  lib/web_ui/lib/src/engine/semantics/label_and_value.dart
  lib/web_ui/lib/src/engine/semantics/semantics.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
Labels: cla: yes, waiting for tree to go green, platform-web

#28981 Roll Skia from 7bb0ff05cec5 to b011afc82fde (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28985 Cherry-pick Fuchsia revert
  .ci.yaml
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes

#28850 fuchsia: Change flatland present's release fence logic
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/flatland_connection.cc
  shell/platform/fuchsia/flutter/flatland_connection.h
  shell/platform/fuchsia/flutter/flatland_external_view_embedder.cc
  shell/platform/fuchsia/flutter/flatland_external_view_embedder.h
  shell/platform/fuchsia/flutter/tests/flatland_connection_unittests.cc
Labels: cla: yes, platform-fuchsia, needs tests

#28986 Roll Skia from b011afc82fde to 8e29caf4c130 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28988 Roll Dart SDK from cea2ea76fc66 to d50eacfa4fcd (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28989 Roll Skia from 8e29caf4c130 to 906e9eb53841 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28994 Roll Dart SDK from d50eacfa4fcd to 8c385be2c663 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28995 Roll Dart SDK from 8c385be2c663 to f440a20ff15f (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28996 Roll Skia from 906e9eb53841 to ce22e059ffeb (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#28917 Roll Wuffs to 600cd96cf47788ee3a74b40a6028b035c9fd6a61
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#28999 Roll Skia from ce22e059ffeb to 23a66f7fb915 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#29000 Roll Skia from 23a66f7fb915 to f843d5cf7212 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29002 Roll Dart SDK from f440a20ff15f to 7fe995e95e37 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#29003 Roll Skia from f843d5cf7212 to 03dd6a47a67b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29004 Roll Skia from 03dd6a47a67b to 816d9179b3ca (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29005 Roll Dart SDK from 7fe995e95e37 to aea166168df4 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#28950 Fix typos in spirv README
  lib/spirv/README.md
Labels: cla: yes, waiting for tree to go green

#28993 [fuchsia] publish dart runner v2 protocol
  shell/platform/fuchsia/dart_runner/dart_runner.cc
  shell/platform/fuchsia/dart_runner/dart_runner.h
  shell/platform/fuchsia/dart_runner/meta/common.shard.cml
Labels: cla: yes, waiting for tree to go green, platform-fuchsia, needs tests

#28987 Defer setup of the default font manager if the embedding prefetched the font manager
  common/settings.h
  shell/common/engine.cc
  shell/common/shell.cc
  shell/common/shell_unittests.cc
  shell/common/switches.cc
  shell/common/switches.h
  shell/platform/android/io/flutter/embedding/engine/loader/FlutterLoader.java
Labels: platform-android, cla: yes, waiting for tree to go green, needs tests

#28997 make dart_runner cmx files have valid json
  shell/platform/fuchsia/dart_runner/meta/dart_aot_product_runner.cmx
  shell/platform/fuchsia/dart_runner/meta/dart_aot_runner.cmx
  shell/platform/fuchsia/dart_runner/meta/dart_jit_product_runner.cmx
  shell/platform/fuchsia/dart_runner/meta/dart_jit_runner.cmx
Labels: cla: yes, waiting for tree to go green, platform-fuchsia

#29006 Roll Skia from 816d9179b3ca to 923d83bf1875 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28937 Cherry-pick #28846 and #28743 into flutter-2.6-candidate.11
  .ci.yaml
  shell/platform/android/test_runner/build.gradle
  shell/platform/darwin/ios/framework/Info.plist
  shell/platform/darwin/ios/framework/Source/FlutterSemanticsScrollView.mm
  testing/android_background_image/android/build.gradle
  testing/scenario_app/android/build.gradle
  tools/cipd/android_embedding_bundle/build.gradle
Labels: platform-ios, platform-android, cla: yes, needs tests, embedder

#28666 MacOS keyboard: RawKeyboard uses filtered modifier
  shell/platform/darwin/macos/framework/Source/FlutterChannelKeyResponder.mm
  shell/platform/darwin/macos/framework/Source/FlutterChannelKeyResponderUnittests.mm
Labels: cla: yes, platform-macos

#28648 Keyboard guarantee non empty events
  lib/web_ui/lib/src/engine/keyboard_binding.dart
  shell/platform/darwin/macos/framework/Source/FlutterEmbedderKeyResponder.mm
  shell/platform/darwin/macos/framework/Source/FlutterEmbedderKeyResponderUnittests.mm
  shell/platform/linux/fl_key_embedder_responder.cc
  shell/platform/linux/fl_key_embedder_responder_test.cc
  shell/platform/windows/keyboard_key_embedder_handler.cc
  shell/platform/windows/keyboard_key_embedder_handler.h
Labels: cla: yes, platform-web, platform-macos, platform-linux, platform-windows

#28970 [Windows] Add restart hooks, and reset keyboard
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_view.cc
  shell/platform/windows/flutter_windows_view.h
  shell/platform/windows/flutter_windows_view_unittests.cc
Labels: cla: yes, platform-windows, needs tests

#28998 Pass argmuent list to dart_runner v2 main invocation.
  shell/platform/fuchsia/dart_runner/dart_component_controller_v2.cc
Labels: cla: yes, platform-fuchsia, needs tests

#29007 Start animator paused
  shell/common/animator.cc
  shell/common/animator.h
  shell/common/animator_unittests.cc
  shell/common/engine.cc
  shell/common/shell_test.cc
  shell/common/shell_test.h
Labels: cla: yes, waiting for tree to go green

#29011 [web] remove platform initialization timeout
  lib/web_ui/lib/src/ui/test_embedding.dart
Labels: cla: yes, platform-web, needs tests

#28980 [fuchsia][flatland] Fix for AwaitVsync race
  shell/platform/fuchsia/flutter/flatland_connection.cc
  shell/platform/fuchsia/flutter/flatland_connection.h
  shell/platform/fuchsia/flutter/tests/flatland_connection_unittests.cc
Labels: cla: yes, platform-fuchsia

#29013 Expose updateSystemUiOverlays in FlutterActivity and FlutterFragment
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/io/flutter/embedding/android/FlutterFragment.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterAndroidComponentTest.java
Labels: platform-android, cla: yes, waiting for tree to go green

#29022 Roll Skia from 923d83bf1875 to a6d7296948d4 (33 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29024 Roll Skia from a6d7296948d4 to 52d162904845 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29025 Attempt to bump to Flutter 2.5 builders.
  .ci.yaml
Labels: cla: yes, platform-fuchsia

#29027 Revert "Attempt to bump to Flutter 2.5 builders. (#29025)"
  .ci.yaml
Labels: cla: yes, platform-fuchsia

#29026 Roll Skia from 52d162904845 to 237c22adb8a1 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28990 Roll Chrome to major version 96
  lib/web_ui/dev/browser_lock.yaml
  lib/web_ui/dev/common.dart
Labels: cla: yes, platform-web

#29029 Kick Builds
  .ci.yaml
Labels: cla: yes, platform-fuchsia

#29031 Update gcp credentials for fuchsia_f5.
  .cirrus.yml
Labels: cla: yes, platform-fuchsia

#28965 Roll CanvasKit to 0.30
  DEPS
  lib/web_ui/dev/canvaskit_lock.yaml
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/image_filter.dart
  lib/web_ui/lib/src/engine/canvaskit/initialization.dart
  lib/web_ui/lib/src/engine/canvaskit/surface.dart
  lib/web_ui/test/canvaskit/canvaskit_api_test.dart
Labels: cla: yes, platform-web, needs tests

#29030 Roll Skia from 237c22adb8a1 to fd4dc2347dd4 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29032 Roll Skia from fd4dc2347dd4 to d4ca5e11a157 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29035 fuchsia: fix build
  shell/platform/fuchsia/flutter/integration_flutter_tests/BUILD.gn
Labels: cla: yes, waiting for tree to go green, platform-fuchsia

#29038 [web] force WebGL 1 on iOS
  lib/web_ui/lib/src/engine/browser_detection.dart
Labels: cla: yes, platform-web, needs tests

#29037 Roll Skia from d4ca5e11a157 to ff5bb37b72b2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29039 Roll Skia from ff5bb37b72b2 to 98eb297750e6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29040 Roll Skia from 98eb297750e6 to 7e03a9adf21b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29019 fuchsia: Implement WakeUp using zx::timer
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/message_loop_impl_unittests.cc
  fml/platform/fuchsia/message_loop_fuchsia.cc
  fml/platform/fuchsia/message_loop_fuchsia.h
Labels: cla: yes, platform-fuchsia, needs tests

#29041 Roll Skia from 7e03a9adf21b to 0c18d7f33227 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29411 Roll Skia from 378e4aecfe58 to 1ea54a127fbe (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29412 Revert "Update to match harfbuzz subsetting 3.0.0 api."
  tools/font-subset/main.cc
Labels: cla: yes, needs tests

#29259 fuchsia: Add graph to FakeFlatland
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/flatland_connection.cc
  shell/platform/fuchsia/flutter/flatland_external_view_embedder.cc
  shell/platform/fuchsia/flutter/flatland_external_view_embedder.h
  shell/platform/fuchsia/flutter/tests/fake_flatland_unittests.cc
  shell/platform/fuchsia/flutter/tests/fakes/scenic/BUILD.gn
  shell/platform/fuchsia/flutter/tests/fakes/scenic/fake_flatland.cc
  shell/platform/fuchsia/flutter/tests/fakes/scenic/fake_flatland.h
  shell/platform/fuchsia/flutter/tests/fakes/scenic/fake_flatland_types.cc
  shell/platform/fuchsia/flutter/tests/fakes/scenic/fake_flatland_types.h
  shell/platform/fuchsia/flutter/tests/flatland_connection_unittests.cc
  shell/platform/fuchsia/flutter/tests/flatland_external_view_embedder_unittests.cc
Labels: affects: tests, cla: yes, platform-fuchsia

#29413 Roll Skia from 1ea54a127fbe to 50add5af1a68 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29415 Roll Skia from 50add5af1a68 to d90e09b1ae09 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29416 Roll Dart SDK from 0647872b7242 to d84981bafae3 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#29414 fuchsia: Enable ASAN; add tests flag
  BUILD.gn
  shell/platform/fuchsia/BUILD.gn
  shell/platform/fuchsia/dart-pkg/zircon/BUILD.gn
  shell/platform/fuchsia/dart_runner/BUILD.gn
  shell/platform/fuchsia/flutter/BUILD.gn
  tools/fuchsia/fuchsia_libs.gni
  tools/gn
Labels: affects: tests, cla: yes, platform-fuchsia

#29398 [fuchsia] Remove remaining references to Topaz.
  shell/platform/fuchsia/dart_runner/BUILD.gn
  shell/platform/fuchsia/flutter/flutter_runner_fakes.h
Labels: cla: yes, platform-fuchsia

#29403 Reland "Set system bar appearance using WindowInsetsController"
  DEPS
  shell/platform/android/io/flutter/plugin/platform/PlatformPlugin.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformPluginTest.java
  shell/platform/android/test_runner/build.gradle
  tools/androidx/files.json
  tools/cipd/android_embedding_bundle/build.gradle
Labels: platform-android, cla: yes, waiting for tree to go green

#29417 Roll Skia from d90e09b1ae09 to 6bb17ab48dfa (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29418 Roll Skia from 6bb17ab48dfa to 9d24b02c2fdb (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29330 [fuchsia] INTERNAL epitaph for non-zero return codes
  shell/platform/fuchsia/dart_runner/dart_component_controller_v2.cc
  shell/platform/fuchsia/flutter/component_v2.cc
Labels: cla: yes, platform-fuchsia, needs tests

#29420 Roll Dart SDK from d84981bafae3 to 3b11f88c96a5 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#29421 Roll Skia from 9d24b02c2fdb to 3828b4160b3d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29422 Roll Skia from 3828b4160b3d to 9b9805959dc3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29423 Roll Skia from 9b9805959dc3 to 6ce94bbdefec (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29424 Roll Skia from 6ce94bbdefec to 30f1f34732fb (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29425 Roll Skia from 30f1f34732fb to 88b36ad61e80 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29427 Cherry pick a revert on flutter-2.8-candidate.2 to unblock the internal roll.
  .ci.yaml
  tools/font-subset/main.cc
Labels: cla: yes, needs tests
