Repository flutter/engine, pull requests merged in 2021-05, with the labels that each got.

#25865 Roll Skia from 31fddc376993 to 097263bb5089 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#25869 Roll Dart SDK from 6397e8b91103 to ee8eb0a65efa (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#25870 Roll Skia from 097263bb5089 to 5dfb3f40684b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#25864 deflake more shell unittests
  shell/common/fixtures/shell_test.dart
  shell/common/shell_unittests.cc
Labels: cla: yes

#25872 Roll Dart SDK from ee8eb0a65efa to 8c109a734bdc (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#25873 Roll Dart SDK from 8c109a734bdc to b98a1eec5eb5 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#25874 Roll Dart SDK from b98a1eec5eb5 to 6ecae204598d (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#25876 Roll Skia from 5dfb3f40684b to 5c95bcb48b9b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#25877 Roll Dart SDK from 6ecae204598d to 3cc6cdab8eaf (2 revisions)
  DEPS
Labels: cla: yes, waiting for tree to go green

#25880 Roll Skia from 5c95bcb48b9b to c779d432f336 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#25881 Roll Skia from c779d432f336 to ff8b52df55ff (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#25885 Roll Dart SDK from 3cc6cdab8eaf to b8f4018535fa (2 revisions)
  DEPS
Labels: cla: yes, waiting for tree to go green

#25886 Roll Skia from ff8b52df55ff to ec79349bad50 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#25887 Revert the Dart SDK to 1e3e5efcd47edeb7ae5a69e146c8ea0559305a98
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#25851 Fix crash when both FlutterFragmentActivity and FlutterFragment are destroyed and recreated
  shell/platform/android/io/flutter/embedding/android/FlutterFragmentActivity.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterFragmentActivityTest.java
Labels: cla: yes, platform-android

#25888 Roll Skia from ec79349bad50 to 671177905d22 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#25866 [web] Fix some regex issues in the sdk_rewriter
  web_sdk/sdk_rewriter.dart
  web_sdk/test/sdk_rewriter_test.dart
Labels: cla: yes, platform-web

#25830 Fix a11y placeholder on desktop; auto-enable engine semantics
  lib/web_ui/lib/src/engine/semantics/semantics.dart
  lib/web_ui/lib/src/engine/semantics/semantics_helper.dart
  lib/web_ui/test/engine/semantics/semantics_helper_test.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
Labels: cla: yes, platform-web

#25827 Avoid calling Dart_HintFreed more than once every five seconds
  runtime/runtime_controller.h
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/engine_unittests.cc
  shell/common/shell.cc
  shell/common/shell.h
Labels: cla: yes, waiting for tree to go green

#25891 Roll Skia from 671177905d22 to 75b43ce6ccd3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#25738 Fixes ios accessibility send focus request to an unfocusable node
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.h
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_test.mm
Labels: cla: yes, platform-ios, waiting for tree to go green

#25890 Revert "Revert the Dart SDK to 1e3e5efcd47edeb7ae5a69e146c8ea0559305a98"
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#25898 Revert "Fix a11y placeholder on desktop; auto-enable engine semantics…
  lib/web_ui/lib/src/engine/semantics/semantics.dart
  lib/web_ui/lib/src/engine/semantics/semantics_helper.dart
  lib/web_ui/test/engine/semantics/semantics_helper_test.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
Labels: cla: yes, platform-web

#25894 Roll Fuchsia Mac SDK from RgZnCZ5ng... to uQgs5ZmFq...
  DEPS
Labels: cla: yes, waiting for tree to go green

#25897 Roll Skia from 75b43ce6ccd3 to bf688645acf9 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#25882 [Win32] Don't redispatch ShiftRight keydown event
  shell/platform/windows/keyboard_key_embedder_handler.cc
  shell/platform/windows/keyboard_key_embedder_handler_unittests.cc
Labels: cla: yes, platform-windows

#25901 Don't call release_proc when attempting to wrap an SkSurface which fails
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/fixtures/main.dart
  shell/platform/embedder/tests/embedder_unittests_gl.cc
  shell/platform/embedder/tests/embedder_unittests_metal.mm
Labels: cla: yes, embedder

#25904 Roll Skia from bf688645acf9 to 537293bf155f (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#25905 Roll Skia from 537293bf155f to adadb95a9f1e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#25993 Roll buildroot to pick change to cppwinrt invocation
  DEPS
  ci/dev/prod_builders.json
  ci/dev/try_builders.json
Labels: cla: yes

#25535 [Linux] revise dark theme detection
  shell/platform/linux/fl_settings_plugin.cc
Labels: cla: yes, platform-linux, waiting for tree to go green

#25860 Moved PlatformMessage's to unique_ptrs
  lib/ui/window/platform_configuration.cc
  lib/ui/window/platform_configuration.h
  lib/ui/window/platform_configuration_unittests.cc
  lib/ui/window/platform_message.h
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  runtime/runtime_delegate.h
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/engine_unittests.cc
  shell/common/platform_view.cc
  shell/common/platform_view.h
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/shell_test.cc
  shell/common/shell_test.h
  shell/common/shell_unittests.cc
  shell/platform/android/jni/jni_mock.h
  shell/platform/android/jni/jni_mock_unittest.cc
  shell/platform/android/jni/platform_view_android_jni.h
  shell/platform/android/platform_view_android.cc
  shell/platform/android/platform_view_android.h
  shell/platform/android/platform_view_android_jni_impl.cc
  shell/platform/android/platform_view_android_jni_impl.h
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEnginePlatformViewTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_test.mm
  shell/platform/darwin/ios/framework/Source/platform_message_router.h
  shell/platform/darwin/ios/framework/Source/platform_message_router.mm
  shell/platform/darwin/ios/platform_view_ios.h
  shell/platform/darwin/ios/platform_view_ios.mm
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder_engine.cc
  shell/platform/embedder/embedder_engine.h
  shell/platform/embedder/platform_view_embedder.cc
  shell/platform/embedder/platform_view_embedder.h
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/fuchsia_intl.h
  shell/platform/fuchsia/flutter/platform_view.cc
  shell/platform/fuchsia/flutter/platform_view.h
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
  shell/testing/tester_main.cc
Labels: cla: yes, embedder, platform-android, platform-fuchsia, platform-ios, waiting for tree to go green

#25899 Ensure that AutoIsolateShutdown drops its reference to the DartIsolate on the intended task runner
  testing/dart_isolate_runner.cc
Labels: cla: yes, waiting for tree to go green

#25895 [web] Fix incorrect physical size due to visualviewport api on iOS
  lib/web_ui/lib/src/engine/dom_renderer.dart
  lib/web_ui/lib/src/engine/window.dart
Labels: cla: yes, platform-web

#25999 Roll Dart SDK from b8f4018535fa to 86c749398b3a (16 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26001 Roll Fuchsia Mac SDK from uQgs5ZmFq... to aCsEHpnS0...
  DEPS
Labels: cla: yes, waiting for tree to go green

#25884 Implement smooth resizing for Linux
  ci/licenses_golden/licenses_flutter
  shell/platform/linux/BUILD.gn
  shell/platform/linux/fl_engine.cc
  shell/platform/linux/fl_engine_private.h
  shell/platform/linux/fl_renderer.cc
  shell/platform/linux/fl_renderer.h
  shell/platform/linux/fl_task_runner.cc
  shell/platform/linux/fl_task_runner.h
  shell/platform/linux/fl_view.cc
Labels: cla: yes, platform-linux, waiting for tree to go green

#26006 Roll Dart SDK from 86c749398b3a to b4210cc43086 (2 revisions)
  DEPS
Labels: cla: yes, waiting for tree to go green

#25907 pull googletest from github instead of fuchsia.googlesource
  DEPS
Labels: cla: yes, waiting for tree to go green

#26009 Roll Skia from adadb95a9f1e to 1dc2d0fe0fa0 (98 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26012 Roll Skia from 1dc2d0fe0fa0 to 115645ee9b1b (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#25924 Delete unused method from engine_layer.h
  lib/ui/painting/engine_layer.h
Labels: cla: yes, waiting for tree to go green

#25984 fuchsia: Fix multi-views fallout
  flow/view_holder.cc
  shell/platform/fuchsia/flutter/platform_view.cc
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
Labels: cla: yes, platform-fuchsia

#25858 Fixes BUILD.gn if is_fuchsia (legacy embedder) and is_debug
  BUILD.gn
Labels: cla: yes

#25892 Streamline frame timings recording
  ci/firebase_testlab.sh
  ci/licenses_golden/licenses_flutter
  flow/BUILD.gn
  flow/frame_timings.cc
  flow/frame_timings.h
  flow/frame_timings_recorder_unittests.cc
  flow/layers/layer_tree.cc
  flow/layers/layer_tree.h
  lib/ui/painting/image_decoder_unittests.cc
  shell/common/animator.cc
  shell/common/animator.h
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/common/rasterizer_unittests.cc
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/shell_test.cc
  shell/common/shell_unittests.cc
  shell/common/vsync_waiter.cc
  shell/common/vsync_waiter.h
  shell/platform/darwin/ios/framework/Source/vsync_waiter_ios.mm
  shell/platform/fuchsia/flutter/vsync_waiter_unittests.cc
Labels: cla: yes, waiting for tree to go green

#25787 [vsync_waiter] add AwaitVSyncForSecondaryCallback()
  shell/common/vsync_waiter.cc
  shell/common/vsync_waiter.h
Labels: cla: yes

#25815 [build_fuchsia_artifacts] Move license copying into BuildBucket().
  tools/fuchsia/build_fuchsia_artifacts.py
Labels: cla: yes

#26018 Roll Skia from 115645ee9b1b to c411429239e9 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#25954 [flutter_releases] Flutter Beta 2.2.0-10.3.pre Engine Cherrypicks
  DEPS
  flow/BUILD.gn
  flow/layers/container_layer.cc
  flow/layers/layer.cc
  flow/layers/layer.h
  flow/layers/platform_view_layer.cc
  flow/layers/platform_view_layer_unittests.cc
  flow/testing/mock_embedder.cc
  flow/testing/mock_embedder.h
Labels: cla: yes

#25863 Move more parts to libraries.
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/dom_canvas.dart
  lib/web_ui/lib/src/engine/html/painting.dart
  lib/web_ui/lib/src/engine/html/path/path_to_svg.dart
  lib/web_ui/lib/src/engine/html/path/path_windings.dart
  lib/web_ui/lib/src/engine/html/path/tangent.dart
  lib/web_ui/lib/src/engine/html/path_to_svg_clip.dart
  lib/web_ui/lib/src/engine/html/recording_canvas.dart
  lib/web_ui/lib/src/engine/html/render_vertices.dart
  lib/web_ui/lib/src/engine/html/shaders/normalized_gradient.dart
  lib/web_ui/lib/src/engine/html/shaders/shader.dart
  lib/web_ui/lib/src/engine/html/shaders/shader_builder.dart
  lib/web_ui/lib/src/engine/html/shaders/vertex_shaders.dart
  lib/web_ui/lib/src/engine/html_image_codec.dart
  lib/web_ui/lib/src/ui/painting.dart
  lib/web_ui/test/engine/image/html_image_codec_test.dart
  lib/web_ui/test/engine/surface/scene_builder_test.dart
  lib/web_ui/test/engine/surface/shaders/normalized_gradient_test.dart
  lib/web_ui/test/engine/surface/shaders/shader_builder_test.dart
  lib/web_ui/test/golden_tests/engine/draw_vertices_golden_test.dart
  lib/web_ui/test/golden_tests/engine/path_to_svg_golden_test.dart
Labels: cla: yes, platform-web

#26020 Roll Dart SDK from b4210cc43086 to 04e55dad908d (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#25918 Exclude third_party/dart/third_party/devtools from the license script
  ci/licenses_golden/tool_signature
  tools/licenses/lib/main.dart
Labels: cla: yes, waiting for tree to go green

#26022 Roll Fuchsia Mac SDK from aCsEHpnS0... to OyXxehV6e...
  DEPS
Labels: cla: yes, waiting for tree to go green

#26023 Roll Fuchsia Linux SDK from 4numS0K6T... to -FIIsjZj2...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#26024 Roll Skia from c411429239e9 to 72de83df3a03 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26003 Add dependency on Windows SDK CIPD package
  DEPS
  ci/dev/prod_builders.json
  ci/dev/try_builders.json
Labels: cla: yes

#26027 Roll Dart SDK from 04e55dad908d to 094c9024373c (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26025 Roll Skia from 72de83df3a03 to dabb2891c4a1 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26029 Extract Windows string_conversion target
  shell/platform/windows/BUILD.gn
Labels: affects: desktop, cla: yes, platform-windows

#25991 Make SceneBuilder.push* not return nullable objects
  lib/ui/compositing.dart
  lib/web_ui/lib/src/engine/canvaskit/layer_scene_builder.dart
  lib/web_ui/lib/src/ui/compositing.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#26031 Use string_view inputs for conversion functions
  shell/platform/windows/string_conversion.cc
  shell/platform/windows/string_conversion.h
Labels: cla: yes, code health, platform-windows

#26032 Support Windows registry access
  ci/licenses_golden/licenses_flutter
  shell/platform/windows/BUILD.gn
  shell/platform/windows/registry.cc
  shell/platform/windows/registry.h
  shell/platform/windows/registry_unittests.cc
Labels: affects: desktop, cla: yes, platform-windows

#26034 Roll Fuchsia Linux SDK from -FIIsjZj2... to KZCe5FqMb...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#26035 Roll Fuchsia Mac SDK from OyXxehV6e... to DSk0IzBHv...
  DEPS
Labels: cla: yes, waiting for tree to go green

#26036 Roll Skia from dabb2891c4a1 to 686dd910dd6c (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26037 Revert Dart SDK to b8f4018535fa792891e2add3a475f35e3ec156ab
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#26041 Roll Skia from 686dd910dd6c to ab1ec37ff32c (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26043 Roll Fuchsia Linux SDK from KZCe5FqMb... to ZYimHxg7C...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#25940 Remove unused parameter in flutter application info loader
  shell/platform/android/io/flutter/embedding/engine/loader/ApplicationInfoLoader.java
  shell/platform/android/io/flutter/embedding/engine/loader/FlutterApplicationInfo.java
  shell/platform/android/test/io/flutter/embedding/engine/loader/ApplicationInfoLoaderTest.java
Labels: cla: yes, platform-android, waiting for tree to go green

#26051 Remove debug print
  lib/web_ui/lib/src/engine/html/shaders/shader.dart
Labels: cla: yes, platform-web

#26046 Roll Fuchsia Linux SDK from ZYimHxg7C... to 4fB2dR4mP...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#26040 Remove use of package:test and package:mockito from flutter_frontend_…
  flutter_frontend_server/test/to_string_test.dart
  flutter_frontend_server/test/utils.dart
Labels: cla: yes

#26058 Roll Skia from 799658f5c22d to 99ebb17aeda8 (9 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26060 Roll Skia from 99ebb17aeda8 to dc753cfc65ec (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#25797 Fix a11y tab traversal
  lib/web_ui/lib/src/engine/dom_renderer.dart
  lib/web_ui/lib/src/engine/semantics/label_and_value.dart
  lib/web_ui/lib/src/engine/semantics/semantics.dart
  lib/web_ui/lib/src/engine/semantics/tappable.dart
  lib/web_ui/lib/src/engine/semantics/text_field.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
  lib/web_ui/test/engine/semantics/semantics_tester.dart
  lib/web_ui/test/engine/semantics/text_field_test.dart
  lib/web_ui/test/text_editing_test.dart
Labels: cla: yes, platform-web

#26064 Roll Skia from cb41df0bfad4 to abdffd5d0055 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26065 Roll Fuchsia Linux SDK from 4fB2dR4mP... to BTHMLi6Sh...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#26053 Skip SimpleRasterizerStatistics test on Fuchsia
  flow/layers/performance_overlay_layer_unittests.cc
Labels: cla: yes

#26068 Roll Fuchsia Mac SDK from 4VJj6gJdU... to TJX7h698s...
  DEPS
Labels: cla: yes, waiting for tree to go green

#26019 Use pub get --offline for flutter_frontend_server and const_finder
  DEPS
  flutter_frontend_server/pubspec.yaml
  tools/const_finder/.dart_tool/package_config.json
  tools/const_finder/.gitignore
  tools/const_finder/.packages
  tools/generate_package_config/bin/generate_from_legacy.dart
  tools/generate_package_config/pubspec.yaml
  tools/generate_package_files.py
  tools/pub_get_offline.py
  tools/run_third_party_dart.py
Labels: cla: yes, waiting for tree to go green

#25957 [web] Resolve OS as iOs for iDevice Safari requesting desktop version of app.
  lib/web_ui/lib/src/engine/browser_detection.dart
  lib/web_ui/test/browser_detect_test.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#26071 Roll Skia from 96bc12d19b9e to 7c328b4b42c5 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26038 Add uwptool.exe
  ci/licenses_golden/licenses_flutter
  shell/platform/windows/BUILD.gn
  shell/platform/windows/registry.cc
  shell/platform/windows/uwptool_main.cc
  shell/platform/windows/uwptool_utils.cc
  shell/platform/windows/uwptool_utils.h
  shell/platform/windows/uwptool_utils_unittests.cc
Labels: affects: desktop, cla: yes, platform-windows

#26080 Formatting cleanup for CONTRIBUTING.md
  CONTRIBUTING.md
Labels: cla: yes

#26082 Roll Fuchsia Linux SDK from BTHMLi6Sh... to 1PbnXEErn...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#26084 Roll Skia from 0c9962a7c8a5 to 8fac6c13fa59 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26074 SceneBuilder.addPicture returns the layer
  lib/ui/compositing.dart
  lib/ui/compositing/scene_builder.cc
  lib/ui/compositing/scene_builder.h
  lib/ui/painting/engine_layer.cc
  lib/ui/painting/engine_layer.h
  lib/web_ui/lib/src/engine/canvaskit/layer.dart
  lib/web_ui/lib/src/engine/canvaskit/layer_scene_builder.dart
  lib/web_ui/lib/src/engine/html/picture.dart
  lib/web_ui/lib/src/engine/html/scene_builder.dart
  lib/web_ui/lib/src/ui/compositing.dart
  testing/dart/compositing_test.dart
Labels: cla: yes, platform-web

#26086 Roll Dart SDK from b99466d472e3 to d59cb89f73fe (1340 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26087 Roll Fuchsia Mac SDK from TJX7h698s... to GNyjTge9c...
  DEPS
Labels: cla: yes, waiting for tree to go green

#26085 fuchsia: Fix first_layer handling
  shell/platform/fuchsia/flutter/fuchsia_external_view_embedder.cc
Labels: cla: yes, platform-fuchsia

#26088 Roll Skia from 8fac6c13fa59 to c1b6b6c615a7 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26089 Roll Skia from c1b6b6c615a7 to d9a7c5953df3 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26077 Get licenses check deps from gclient rather than pub
  DEPS
  ci/licenses.sh
  ci/licenses_golden/tool_signature
  tools/licenses/lib/main.dart
  tools/licenses/pubspec.yaml
  tools/pub_get_offline.py
Labels: cla: yes, waiting for tree to go green

#26090 Roll Dart SDK from d59cb89f73fe to 934cc986926d (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26091 Roll Fuchsia Linux SDK from 1PbnXEErn... to MoY7UVVro...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#26093 Roll Skia from d9a7c5953df3 to 827bb729a84d (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#25736 Remove "unnecessary" imports.
  lib/web_ui/lib/src/engine/html/path_to_svg_clip.dart
  lib/web_ui/lib/src/engine/html/shaders/normalized_gradient.dart
  lib/web_ui/lib/src/engine/pointer_binding.dart
  lib/web_ui/test/engine/surface/scene_builder_test.dart
  lib/web_ui/test/engine/surface/shaders/shader_builder_test.dart
Labels: cla: yes, platform-web

#26097 Roll Skia from 827bb729a84d to 433d25c947e4 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#25998 Sped up the objc standard message codec
  shell/platform/darwin/common/framework/Source/FlutterStandardCodec.mm
Labels: cla: yes, platform-ios, platform-macos

#26100 Roll Skia from 433d25c947e4 to 0270bf5d10be (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26072 Move more parts to libs. Move bitmap/dom canvas to /html
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/html/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/html/dom_canvas.dart
  lib/web_ui/lib/src/engine/html/recording_canvas.dart
  lib/web_ui/lib/src/engine/html/render_vertices.dart
  lib/web_ui/lib/src/engine/html/shaders/image_shader.dart
  lib/web_ui/lib/src/engine/html/shaders/normalized_gradient.dart
  lib/web_ui/lib/src/engine/html/shaders/shader.dart
Labels: cla: yes, platform-web

#25943 Update documentation for embedding SplashScreen
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
Labels: cla: yes, platform-android, waiting for tree to go green

#26105 Set exitcode to 0 on successful uwptool launch
  shell/platform/windows/uwptool_main.cc
  shell/platform/windows/uwptool_utils.h
Labels: affects: desktop, cla: yes, platform-windows

#26102 Roll Skia from 0270bf5d10be to 4e9d5e2bdf04 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26101 Roll Dart SDK from 934cc986926d to 171876a4e6cf (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26107 Roll Fuchsia Mac SDK from GNyjTge9c... to q1qWG9XiN...
  DEPS
Labels: cla: yes, waiting for tree to go green

#26103 Update Dart SDK to 2.13.0
  DEPS
Labels: cla: yes

#25952 Added exception if you try to reply with a non-direct ByteBuffer.
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/platform_view_android.cc
  shell/platform/android/test/io/flutter/embedding/engine/FlutterJNITest.java
Labels: cla: yes, platform-android

#26108 Roll Skia from 4e9d5e2bdf04 to 84f70136abfb (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26110 Use a comma-separated args string for UWP
  shell/platform/windows/uwptool_main.cc
Labels: cla: yes, platform-windows

#26111 Roll Skia from 84f70136abfb to 66441d4ea0fa (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26113 Roll Skia from 66441d4ea0fa to 537b7508343d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26116 Roll Fuchsia Linux SDK from MoY7UVVro... to WYD7atCH7...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#26117 Revert "Sped up the objc standard message codec (#25998)"
  shell/platform/darwin/common/framework/Source/FlutterStandardCodec.mm
Labels: cla: yes, platform-ios, platform-macos, waiting for tree to go green

#26119 Roll Skia from 537b7508343d to 6b719c25cade (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26123 Roll Fuchsia Mac SDK from q1qWG9XiN... to mdsssGtoC...
  DEPS
Labels: cla: yes, waiting for tree to go green

#25985 Add an allowlist flag for Skia trace event categories
  common/settings.h
  shell/common/shell.cc
  shell/common/skia_event_tracer_impl.cc
  shell/common/skia_event_tracer_impl.h
  shell/common/switches.cc
  shell/common/switches.h
Labels: cla: yes, waiting for tree to go green

#26120 Use PackageManager to locate installed UWP apps
  ci/licenses_golden/licenses_flutter
  shell/platform/windows/BUILD.gn
  shell/platform/windows/registry.cc
  shell/platform/windows/registry.h
  shell/platform/windows/registry_unittests.cc
  shell/platform/windows/uwptool_main.cc
  shell/platform/windows/uwptool_utils.cc
  shell/platform/windows/uwptool_utils.h
Labels: cla: yes, platform-windows

#26127 Roll Skia from 6b719c25cade to ca9f6a855071 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26121 [uwptool] Support lookup of full package name
  shell/platform/windows/uwptool_main.cc
  shell/platform/windows/uwptool_utils.cc
  shell/platform/windows/uwptool_utils.h
  shell/platform/windows/uwptool_utils_unittests.cc
Labels: cla: yes, platform-windows

#26106 Get android_lint deps using gclient rather than pub.
  DEPS
  ci/licenses_golden/tool_signature
  tools/android_lint/bin/main.dart
  tools/android_lint/bin/sound_main.dart
  tools/android_lint/pubspec.yaml
  tools/licenses/lib/main.dart
  tools/pub_get_offline.py
Labels: cla: yes

#26059 Use cached CanvasKit instance if available
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/initialization.dart
  lib/web_ui/lib/src/engine/canvaskit/surface.dart
  lib/web_ui/lib/src/engine/dom_renderer.dart
  lib/web_ui/test/canvaskit/hot_restart_test.dart
  lib/web_ui/test/canvaskit/initialization_test.dart
Labels: cla: yes, platform-web

#25867 Switch PlatformMessages to hold data in Mappings
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/mapping.cc
  fml/mapping.h
  fml/mapping_unittests.cc
  lib/ui/window/platform_configuration.cc
  lib/ui/window/platform_configuration.h
  lib/ui/window/platform_message.cc
  lib/ui/window/platform_message.h
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/engine_unittests.cc
  shell/common/platform_view.cc
  shell/common/platform_view.h
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/shell_unittests.cc
  shell/platform/android/platform_view_android.cc
  shell/platform/android/platform_view_android_jni_impl.cc
  shell/platform/common/BUILD.gn
  shell/platform/common/accessibility_bridge.cc
  shell/platform/common/accessibility_bridge.h
  shell/platform/common/flutter_platform_node_delegate.h
  shell/platform/common/test_accessibility_bridge.cc
  shell/platform/common/test_accessibility_bridge.h
  shell/platform/darwin/common/buffer_conversions.h
  shell/platform/darwin/common/buffer_conversions.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEnginePlatformViewTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.h
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_ios.h
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_test.mm
  shell/platform/darwin/ios/framework/Source/platform_message_response_darwin.mm
  shell/platform/darwin/ios/framework/Source/platform_message_router.mm
  shell/platform/darwin/macos/framework/Source/AccessibilityBridgeMacDelegate.h
  shell/platform/darwin/macos/framework/Source/AccessibilityBridgeMacDelegate.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine_Internal.h
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder_engine.cc
  shell/platform/embedder/embedder_engine.h
  shell/platform/fuchsia/flutter/fuchsia_intl.cc
  shell/platform/fuchsia/flutter/fuchsia_intl.h
  shell/platform/fuchsia/flutter/fuchsia_intl_unittest.cc
  shell/platform/fuchsia/flutter/platform_view.cc
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
  shell/testing/tester_main.cc
Labels: cla: yes, embedder, platform-android, platform-fuchsia, platform-ios, platform-macos

#26129 Manual roll of Dart SDK to c119194b23d990140e4f8505c6b0a86b60f196bd
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#26122 [uwptool] Add uninstall command
  shell/platform/windows/uwptool_main.cc
  shell/platform/windows/uwptool_utils.cc
  shell/platform/windows/uwptool_utils.h
  shell/platform/windows/uwptool_utils_unittests.cc
Labels: cla: yes, platform-windows

#25900 Fix composition when multiple platform views and layers are combined
  shell/platform/android/external_view_embedder/external_view_embedder.cc
  shell/platform/android/external_view_embedder/external_view_embedder.h
  shell/platform/android/external_view_embedder/external_view_embedder_unittests.cc
Labels: cla: yes, platform-android, waiting for tree to go green

#25932 Add missing semantics flag for embedder
  shell/platform/embedder/embedder.h
Labels: cla: yes, embedder

#26104 [fuchsia] rename SessionConnection to DefaultSessionConnection
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/compositor_context.cc
  shell/platform/fuchsia/flutter/compositor_context.h
  shell/platform/fuchsia/flutter/default_session_connection.cc
  shell/platform/fuchsia/flutter/default_session_connection.h
  shell/platform/fuchsia/flutter/engine.h
  shell/platform/fuchsia/flutter/fuchsia_external_view_embedder.cc
  shell/platform/fuchsia/flutter/fuchsia_external_view_embedder.h
  shell/platform/fuchsia/flutter/tests/default_session_connection_unittests.cc
  shell/platform/fuchsia/flutter/tests/engine_unittests.cc
  shell/platform/fuchsia/flutter/tests/vsync_recorder_unittests.cc
  testing/fuchsia/gtest_filters.yaml
Labels: cla: yes, platform-fuchsia, waiting for tree to go green

#25777 add `TextLeadingDistribution` to webui `TextStyle`
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/text.dart
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/lib/src/ui/text.dart
  lib/web_ui/test/canvaskit/canvas_golden_test.dart
  lib/web_ui/test/canvaskit/canvaskit_api_test.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#26050 Add support for zx_channel_write_etc and zx_channel_read_etc.
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/dart-pkg/zircon/BUILD.gn
  shell/platform/fuchsia/dart-pkg/zircon/lib/src/handle_disposition.dart
  shell/platform/fuchsia/dart-pkg/zircon/lib/src/system.dart
  shell/platform/fuchsia/dart-pkg/zircon/lib/zircon.dart
  shell/platform/fuchsia/dart-pkg/zircon/sdk_ext/handle_disposition.cc
  shell/platform/fuchsia/dart-pkg/zircon/sdk_ext/handle_disposition.h
  shell/platform/fuchsia/dart-pkg/zircon/sdk_ext/natives.cc
  shell/platform/fuchsia/dart-pkg/zircon/sdk_ext/system.cc
  shell/platform/fuchsia/dart-pkg/zircon/sdk_ext/system.h
  shell/platform/fuchsia/dart-pkg/zircon/test/channel_test.dart
  shell/platform/fuchsia/dart-pkg/zircon/test/handle_disposition_test.dart
Labels: cla: yes, platform-fuchsia, waiting for tree to go green

#26131 Roll Fuchsia Linux SDK from WYD7atCH7... to uffIHSwYt...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#26133 Revert "SceneBuilder.addPicture returns the layer"
  lib/ui/compositing.dart
  lib/ui/compositing/scene_builder.cc
  lib/ui/compositing/scene_builder.h
  lib/ui/painting/engine_layer.cc
  lib/ui/painting/engine_layer.h
  lib/web_ui/lib/src/engine/canvaskit/layer.dart
  lib/web_ui/lib/src/engine/canvaskit/layer_scene_builder.dart
  lib/web_ui/lib/src/engine/html/picture.dart
  lib/web_ui/lib/src/engine/html/scene_builder.dart
  lib/web_ui/lib/src/ui/compositing.dart
  testing/dart/compositing_test.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#26135 Roll Dart SDK from c119194b23d9 to ba8506bdcef7 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#25964 Fix GIR transfer annotation
  shell/platform/linux/fl_view_private.h
Labels: cla: yes, platform-linux

#26136 Roll Skia from ca9f6a855071 to 3193a04b09d8 (21 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26137 Roll Fuchsia Mac SDK from mdsssGtoC... to y3xw-lhxW...
  DEPS
Labels: cla: yes, waiting for tree to go green

#25812 web: improve engine dev cycle on Windows
  lib/web_ui/dev/felt.bat
  lib/web_ui/dev/felt.dart
  lib/web_ui/dev/felt_windows.bat
  lib/web_ui/dev/test_runner.dart
Labels: cla: yes, platform-web

#25879 Windows: UWP ViewController accepts a CoreApplicationView and exposes to plugins
  shell/platform/windows/client_wrapper/flutter_view_controller.cc
  shell/platform/windows/client_wrapper/include/flutter/flutter_view.h
  shell/platform/windows/client_wrapper/include/flutter/flutter_view_controller.h
  shell/platform/windows/flutter_window_win32.cc
  shell/platform/windows/flutter_window_win32.h
  shell/platform/windows/flutter_window_winuwp.cc
  shell/platform/windows/flutter_window_winuwp.h
  shell/platform/windows/flutter_windows.cc
  shell/platform/windows/flutter_windows_view.cc
  shell/platform/windows/flutter_windows_view.h
  shell/platform/windows/flutter_windows_winuwp.cc
  shell/platform/windows/public/flutter_windows.h
  shell/platform/windows/testing/mock_window_binding_handler.h
  shell/platform/windows/window_binding_handler.h
Labels: cla: yes, platform-windows

#26142 Revert "Fix composition when multiple platform views and layers are c…
  shell/platform/android/external_view_embedder/external_view_embedder.cc
  shell/platform/android/external_view_embedder/external_view_embedder.h
  shell/platform/android/external_view_embedder/external_view_embedder_unittests.cc
Labels: cla: yes, platform-android, waiting for tree to go green

#26141 Roll Skia from 3193a04b09d8 to cad48c6868bf (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26143 Roll Dart SDK from ba8506bdcef7 to e0f30709e25f (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26144 Roll Skia from cad48c6868bf to 99e6f0fcfb44 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26145 Roll Skia from 99e6f0fcfb44 to 6b49c5908545 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26146 Roll Dart SDK from e0f30709e25f to 943fcea0b446 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26147 Roll Fuchsia Linux SDK from uffIHSwYt... to CudXaX-jL...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#26149 Roll Fuchsia Mac SDK from y3xw-lhxW... to a6aB7cNgl...
  DEPS
Labels: cla: yes, waiting for tree to go green

#26148 Roll Dart SDK from 943fcea0b446 to d616108772bd (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#26150 Roll Skia from 6b49c5908545 to 29b44fc226e9 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#26151 Roll Skia from 29b44fc226e9 to 6f520cd120c0 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26138 output fuchsia json package manifest
  tools/fuchsia/fuchsia_archive.gni
  tools/fuchsia/gen_package.py
Labels: cla: yes, waiting for tree to go green
