Repository flutter/engine, pull requests merged in 2021-07, with the labels that each got.

#27086 Roll Fuchsia Mac SDK from 8L02NQinV... to TwKuP0eAM...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27091 Roll Fuchsia Linux SDK from pjxq0wD6b... to OzIwVa3oF...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#27092 Roll Dart SDK from 54c79f559d23 to 3dc08e6ea29d (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27109 Skip failing web golden tests
  lib/web_ui/test/canvaskit/canvas_golden_test.dart
Labels: cla: yes, platform-web

#27112 Roll Fuchsia Mac SDK from TwKuP0eAM... to jJi9pAzTk...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27074 FrameTimings captures raster finish time in wall-clock time
  common/settings.h
  flow/frame_timings.cc
  flow/frame_timings.h
  flow/frame_timings_recorder_unittests.cc
  fml/time/time_point.cc
  fml/time/time_point.h
  lib/ui/platform_dispatcher.dart
  lib/web_ui/lib/src/ui/platform_dispatcher.dart
  shell/common/rasterizer.cc
  shell/common/shell_unittests.cc
  testing/dart/window_test.dart
Labels: cla: yes, waiting for tree to go green

#27113 Roll Fuchsia Linux SDK from OzIwVa3oF... to tWUmW9zse...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#27115 Roll Skia from 0734c6223cb8 to 024668cf7f46 (25 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27088 Update include path in FlutterDarwinContextMetal.mm
  shell/platform/darwin/graphics/FlutterDarwinContextMetal.mm
Labels: cla: yes, needs tests, waiting for tree to go green

#27072 Remove unnecessary experiment flag
  lib/snapshot/BUILD.gn
  lib/web_ui/dev/test_runner.dart
  shell/platform/fuchsia/dart_runner/kernel/BUILD.gn
  shell/platform/fuchsia/flutter/kernel/BUILD.gn
  web_sdk/BUILD.gn
Labels: cla: yes, needs tests, platform-fuchsia, platform-web

#27089 [web] fix macOS info collection; print only on bot; propagate errors
  lib/web_ui/dev/macos_info.dart
  lib/web_ui/dev/test_runner.dart
Labels: cla: yes, needs tests, platform-web

#27036 Prepare for cfv2 unittests.
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/meta/flutter_runner_scenic_tests.cmx
  shell/platform/fuchsia/flutter/runner_unittest.cc
  testing/fuchsia/run_tests.sh
  testing/fuchsia/test_suites
  tools/fuchsia/compile_cml.py
  tools/fuchsia/fuchsia_archive.gni
Labels: cla: yes, platform-fuchsia, waiting for tree to go green

#26823 Remove built-in shadows from the @Config annotation
  shell/platform/android/test/io/flutter/plugin/editing/InputConnectionAdaptorTest.java
  shell/platform/android/test/io/flutter/plugin/platform/SingleViewPresentationTest.java
Labels: cla: yes, platform-android, waiting for tree to go green

#27118 Make scrollable unfocusable when voiceover is running
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController_Internal.h
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.h
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_ios.h
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_test.mm
Labels: cla: yes, platform-ios

#27098 Windows: Allow win32 apps to initialize with different assets path or AOT filename
  shell/platform/windows/client_wrapper/dart_project_unittests.cc
  shell/platform/windows/client_wrapper/include/flutter/dart_project.h
Labels: cla: yes, platform-windows

#27119 Roll Dart SDK from 3dc08e6ea29d to 428382bd1c75 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27083 Fixes inset padding in android accessibility bridge
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/util/ViewUtils.java
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/test/io/flutter/util/ViewUtilsTest.java
  shell/platform/android/test/io/flutter/view/AccessibilityBridgeTest.java
Labels: cla: yes, platform-android, waiting for tree to go green

#27121 Roll Skia from 024668cf7f46 to d584ddd1519c (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27123 Avoid capturing raw pointers to the SkPicture/DisplayList used by the RasterizeToImage draw callback
  lib/ui/painting/picture.cc
Labels: cla: yes, needs tests, waiting for tree to go green

#27127 Roll Skia from d584ddd1519c to 3c227305ac28 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27132 Roll Dart SDK from 428382bd1c75 to c514a807e19d (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27125 Move the Android API JAR ahead of the third-party dependencies in the Javadoc classpath
  tools/gen_javadoc.py
Labels: cla: yes, waiting for tree to go green

#27129 Roll Skia from 3c227305ac28 to 3dd52c758b6c (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27133 Roll Skia from 3dd52c758b6c to b14bdcfee9b7 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27134 Roll Fuchsia Mac SDK from jJi9pAzTk... to jzKy-rCeR...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27135 Roll Skia from b14bdcfee9b7 to 9c060b55e116 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27136 Roll Fuchsia Linux SDK from tWUmW9zse... to 4MLcvcjCH...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#27137 Roll Dart SDK from c514a807e19d to 3c78c06ceb91 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27139 Roll Dart SDK from 3c78c06ceb91 to f860b70c98d0 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#27140 Roll Skia from 9c060b55e116 to 1c467774e56e (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27114 [web] skip overlay test on Safari
  lib/web_ui/test/canvaskit/embedded_views_test.dart
Labels: cla: yes, platform-web

#27143 Roll Skia from 1c467774e56e to e9ab391765c7 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27144 [canvaskit] Update goldens test for Thai
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/test/canvaskit/canvas_golden_test.dart
Labels: cla: yes, platform-web

#27084 [web] replace browser-related conditional logic with BrowserEnvironment
  lib/web_ui/dev/browser.dart
  lib/web_ui/dev/chrome.dart
  lib/web_ui/dev/edge.dart
  lib/web_ui/dev/firefox.dart
  lib/web_ui/dev/safari.dart
  lib/web_ui/dev/safari_ios.dart
  lib/web_ui/dev/safari_macos.dart
  lib/web_ui/dev/supported_browsers.dart
  lib/web_ui/dev/test_platform.dart
  lib/web_ui/dev/test_runner.dart
Labels: cla: yes, needs tests, platform-web

#27130 enable DisplayList by default
  common/settings.h
Labels: cla: yes, waiting for tree to go green

#27145 Roll Fuchsia Mac SDK from jzKy-rCeR... to oiyYFMOd3...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27019 Support right-clicking on iPadOS
  AUTHORS
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios/AppDelegate.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/StatusBarTest.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/iPadGestureTests.m
  testing/scenario_app/lib/src/scenarios.dart
  testing/scenario_app/lib/src/touches_scenario.dart
Labels: cla: yes, needs tests, platform-ios

#27146 Roll Fuchsia Linux SDK from 4MLcvcjCH... to QbIpQIqxK...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#27148 Roll Skia from e9ab391765c7 to 04d79fc59488 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27153 Revert "enable DisplayList by default"
  common/settings.h
Labels: cla: yes

#27152 Follow up cleanup of some unit tests for right click handling.
  testing/scenario_app/ios/Scenarios/ScenariosUITests/iPadGestureTests.m
Labels: cla: yes, waiting for tree to go green

#27157 Roll Fuchsia Mac SDK from oiyYFMOd3... to chKeQc7Mz...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27159 Roll Fuchsia Linux SDK from QbIpQIqxK... to tSP7U5udy...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#27161 Roll Dart SDK from f860b70c98d0 to 559da0f2d2a4 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27162 Roll Fuchsia Mac SDK from chKeQc7Mz... to 1cvQeFtFt...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27163 Roll Fuchsia Linux SDK from tSP7U5udy... to GbnevjaIL...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#27155 add support for SkPathEffect to DisplayList
  flow/display_list.cc
  flow/display_list.h
  flow/display_list_canvas.cc
  flow/display_list_canvas.h
  flow/display_list_canvas_unittests.cc
  flow/display_list_unittests.cc
  flow/display_list_utils.cc
  flow/display_list_utils.h
Labels: cla: yes, waiting for tree to go green

#27164 Roll Skia from 04d79fc59488 to e5d312975fea (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27165 Roll Fuchsia Mac SDK from 1cvQeFtFt... to bWBLMrWY9...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27166 Roll Fuchsia Linux SDK from GbnevjaIL... to _qjVyc39z...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#27167 Roll Fuchsia Mac SDK from bWBLMrWY9... to Bdm6sG4U3...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27168 Roll Fuchsia Linux SDK from _qjVyc39z... to H_WclqYkW...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#27169 Roll Skia from e5d312975fea to 47540bb36158 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27170 Roll Skia from 47540bb36158 to 8cbd2b476cdb (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27171 Roll Dart SDK from 559da0f2d2a4 to f99e4033de1a (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#27172 Roll Fuchsia Mac SDK from Bdm6sG4U3... to etX11y7Bd...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27173 Roll Dart SDK from f99e4033de1a to 9b7b9f735866 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27174 Roll Fuchsia Linux SDK from H_WclqYkW... to C2OiQOT3x...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#27176 Roll Dart SDK from 9b7b9f735866 to bae7f5908cfb (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#27177 Roll Dart SDK from bae7f5908cfb to 2758c89236ac (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27178 Roll Fuchsia Mac SDK from etX11y7Bd... to FYI3wC-M1...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27179 Roll Dart SDK from 2758c89236ac to 4c71ad843de0 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#27180 Roll Skia from 8cbd2b476cdb to e355e73eedad (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27181 Roll Fuchsia Linux SDK from C2OiQOT3x... to a1MOPse95...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#27182 Roll Skia from e355e73eedad to fcd068ad7215 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27183 Roll Dart SDK from 4c71ad843de0 to 8ad824d8b114 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#27186 Roll Dart SDK from 8ad824d8b114 to 4422591ed19b (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#27188 Roll Skia from fcd068ad7215 to ad77b4db8dc6 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26783 Replace flutter_runner::Thread with fml::Thread
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/platform/fuchsia/message_loop_fuchsia.cc
  fml/platform/fuchsia/task_observers.cc
  fml/platform/fuchsia/task_observers.h
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/component.cc
  shell/platform/fuchsia/flutter/component.h
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/engine.h
  shell/platform/fuchsia/flutter/fuchsia_intl.cc
  shell/platform/fuchsia/flutter/loop.cc
  shell/platform/fuchsia/flutter/loop.h
  shell/platform/fuchsia/flutter/main.cc
  shell/platform/fuchsia/flutter/runner.cc
  shell/platform/fuchsia/flutter/runner.h
  shell/platform/fuchsia/flutter/task_observers.h
  shell/platform/fuchsia/flutter/thread.cc
  shell/platform/fuchsia/flutter/thread.h
Labels: cla: yes, needs tests, platform-fuchsia, platform-web

#27190 Roll Skia from ad77b4db8dc6 to 3037d9f322ff (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27193 Roll Dart SDK from 4422591ed19b to 586ecc5a0697 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#27149 fuchsia: Handle clips on platform views
  shell/platform/fuchsia/flutter/fuchsia_external_view_embedder.cc
  shell/platform/fuchsia/flutter/fuchsia_external_view_embedder.h
Labels: cla: yes, needs tests, platform-fuchsia

#27151 [web] Librarify semantics files
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/browser_detection.dart
  lib/web_ui/lib/src/engine/dom_renderer.dart
  lib/web_ui/lib/src/engine/keyboard_binding.dart
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/semantics.dart
  lib/web_ui/lib/src/engine/semantics/accessibility.dart
  lib/web_ui/lib/src/engine/semantics/checkable.dart
  lib/web_ui/lib/src/engine/semantics/image.dart
  lib/web_ui/lib/src/engine/semantics/incrementable.dart
  lib/web_ui/lib/src/engine/semantics/label_and_value.dart
  lib/web_ui/lib/src/engine/semantics/live_region.dart
  lib/web_ui/lib/src/engine/semantics/scrollable.dart
  lib/web_ui/lib/src/engine/semantics/semantics.dart
  lib/web_ui/lib/src/engine/semantics/semantics_helper.dart
  lib/web_ui/lib/src/engine/semantics/tappable.dart
  lib/web_ui/lib/src/engine/semantics/text_field.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/lib/src/engine/util.dart
  lib/web_ui/test/engine/semantics/accessibility_test.dart
  lib/web_ui/test/engine/semantics/semantics_helper_test.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
  lib/web_ui/test/engine/semantics/semantics_tester.dart
Labels: cla: yes, platform-web

#27195 Roll Fuchsia Linux SDK from a1MOPse95... to CEpfImAgA...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#27196 Roll Skia from 3037d9f322ff to 40242241c3bf (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27198 Roll Fuchsia Mac SDK from FYI3wC-M1... to YKiGmmdKT...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27064 Do not expect WM_CHAR if control or windows key is pressed
  shell/platform/windows/window_win32.cc
  shell/platform/windows/window_win32_unittests.cc
Labels: cla: yes, platform-windows, waiting for tree to go green

#27203 Roll Fuchsia Linux SDK from CEpfImAgA... to MVQ4QtbNK...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#27142 Make rasterFinishWallTime required
  lib/ui/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/profiler.dart
  lib/web_ui/lib/src/ui/platform_dispatcher.dart
Labels: cla: yes, needs tests, platform-web, waiting for tree to go green

#27191 MacOS (metal): Block raster thread instead of platform thread
  shell/platform/darwin/macos/framework/Source/FlutterResizableBackingStoreProvider.mm
Labels: cla: yes, needs tests, platform-macos, waiting for tree to go green

#27201 Roll Skia from 40242241c3bf to 40586cf1f885 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27202 Roll Dart SDK from 586ecc5a0697 to 6f9810c8f7da (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#27207 Roll Fuchsia Mac SDK from YKiGmmdKT... to 57vjq86y7...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27208 Roll Skia from 40586cf1f885 to 66657d17c64b (11 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27038 Create flag to enable/disable FlutterView render surface conversion
  shell/platform/android/io/flutter/embedding/engine/systemchannels/PlatformViewsChannel.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
Labels: cla: yes, platform-android, waiting for tree to go green

#27213 Roll Skia from 66657d17c64b to 55d339c34879 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27214 Hides the scroll bar from UIScrollView
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest.mm
Labels: cla: yes, platform-ios, waiting for tree to go green

#27154 [web] Reassign content to temporary slot so Safari can delete it.
  lib/web_ui/lib/src/engine/platform_views/content_manager.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#27216 Roll Skia from 55d339c34879 to 2dc2859c70b0 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27217 Roll Dart SDK from 6f9810c8f7da to 8697e05f98df (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27175 (Reland) enable DisplayList mechanism over SkPicture by default
  common/settings.h
Labels: cla: yes, waiting for tree to go green

#27220 Roll Skia from 2dc2859c70b0 to f60052072ca9 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27150 Fix zip bundle structure
  build/zip_bundle.gni
  tools/font-subset/test.py
Labels: cla: yes

#27222 Emit more info while running pre-push githooks
  tools/githooks/lib/src/pre_push_command.dart
Labels: cla: yes, needs tests

#27224 Roll Skia from f60052072ca9 to 90f4e9f5f700 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27225 Fix spelling Ingore->Ignore
  flow/display_list_utils.h
Labels: cla: yes, waiting for tree to go green

#27227 Remove unnecessary variable assignment
  shell/platform/windows/window_win32.cc
Labels: cla: yes, needs tests, platform-windows

#25961 Hardware Keyboard: iOS
  ci/licenses_golden/licenses_flutter
  lib/ui/key.dart
  lib/ui/platform_dispatcher.dart
  lib/ui/window/platform_configuration.cc
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterChannelKeyResponder.h
  shell/platform/darwin/ios/framework/Source/FlutterChannelKeyResponder.mm
  shell/platform/darwin/ios/framework/Source/FlutterChannelKeyResponderTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterEmbedderKeyResponder.h
  shell/platform/darwin/ios/framework/Source/FlutterEmbedderKeyResponder.mm
  shell/platform/darwin/ios/framework/Source/FlutterEmbedderKeyResponderTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEnginePlatformViewTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterFakeKeyEvents.h
  shell/platform/darwin/ios/framework/Source/FlutterFakeKeyEvents.mm
  shell/platform/darwin/ios/framework/Source/FlutterKeyPrimaryResponder.h
  shell/platform/darwin/ios/framework/Source/FlutterKeySecondaryResponder.h
  shell/platform/darwin/ios/framework/Source/FlutterKeyboardManager.h
  shell/platform/darwin/ios/framework/Source/FlutterKeyboardManager.mm
  shell/platform/darwin/ios/framework/Source/FlutterKeyboardManagerTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPluginAppLifeCycleDelegateTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputDelegate.h
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.h
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPluginTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterUIPressProxy.h
  shell/platform/darwin/ios/framework/Source/FlutterUIPressProxy.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController_Internal.h
  shell/platform/darwin/ios/framework/Source/KeyCodeMap.mm
  shell/platform/darwin/ios/framework/Source/KeyCodeMap_Internal.h
  shell/platform/darwin/ios/platform_view_ios.h
  shell/platform/darwin/macos/framework/Source/FlutterChannelKeyResponder.mm
  shell/platform/darwin/macos/framework/Source/FlutterEmbedderKeyResponder.mm
  shell/platform/darwin/macos/framework/Source/FlutterKeyboardManager.h
  shell/platform/darwin/macos/framework/Source/FlutterKeyboardManager.mm
  shell/platform/darwin/macos/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewController.mm
  shell/platform/darwin/macos/framework/Source/KeyCodeMap.mm
  shell/platform/darwin/macos/framework/Source/KeyCodeMap_Internal.h
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder_surface_metal.mm
  shell/platform/embedder/fixtures/main.dart
  shell/platform/embedder/tests/embedder_unittests.cc
  testing/ios/IosUnitTests/IosUnitTests.xcodeproj/xcshareddata/xcschemes/IosUnitTests.xcscheme
  testing/ios/IosUnitTests/README.md
Labels: cla: yes, embedder, platform-ios, platform-macos

#27228 Roll Skia from 90f4e9f5f700 to d390c642acfb (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27229 Roll Dart SDK from 8697e05f98df to 2ec59f6c0e47 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27230 Revert "(Reland) enable DisplayList mechanism over SkPicture by default"
  common/settings.h
Labels: cla: yes

#27231 Roll Skia from d390c642acfb to bc26cfc9a54a (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27233 Roll Fuchsia Linux SDK from MVQ4QtbNK... to AI_KDVmMU...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#27234 Roll Fuchsia Mac SDK from 57vjq86y7... to fgd_fxgRy...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27235 Roll Clang Mac from AA9aCrWNr... to GUxdhOlaK...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27236 Roll Clang Linux from d9nnr4pVX... to eDzL2utDI...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27237 Roll Dart SDK from 2ec59f6c0e47 to e4125ef075e6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27239 Roll Skia from bc26cfc9a54a to 744c6a1b1992 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27242 Roll Skia from 744c6a1b1992 to d471e7c36dd4 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27243 Roll Skia from d471e7c36dd4 to ae7f7edd499b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27244 Roll Skia from ae7f7edd499b to a2d6890c5b9b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27246 Roll Skia from a2d6890c5b9b to e822837a1322 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27240 pub get offline for scenario_app
  ci/analyze.sh
  sky/packages/sky_engine/BUILD.gn
  sky/packages/sky_engine/lib/_embedder.yaml
  testing/dart/pubspec.yaml
  testing/scenario_app/compile_android_aot.sh
  testing/scenario_app/compile_android_jit.sh
  testing/scenario_app/compile_ios_aot.sh
  testing/scenario_app/compile_ios_jit.sh
  testing/scenario_app/pubspec.yaml
  tools/pub_get_offline.py
Labels: cla: yes, waiting for tree to go green

#27247 Roll Dart SDK from e4125ef075e6 to 3f177d9ad50c (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#27248 Roll Skia from e822837a1322 to ba70138477f5 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26931 Add an option to use a prebuilt Dart SDK
  .gitignore
  BUILD.gn
  DEPS
  ci/licenses_golden/tool_signature
  common/config.gni
  testing/testing.gni
  tools/download_dart_sdk.py
  tools/gn
  tools/licenses/lib/main.dart
  web_sdk/BUILD.gn
Labels: cla: yes, needs tests, platform-web

#27249 Roll Fuchsia Mac SDK from fgd_fxgRy... to HXQigwdUe...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27250 Roll Skia from ba70138477f5 to 26ea975e6c9d (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27251 Roll Fuchsia Linux SDK from AI_KDVmMU... to KsHfXaCpD...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#27215 Avoid passive clipboard read on Android
  shell/platform/android/io/flutter/plugin/platform/PlatformPlugin.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformPluginTest.java
Labels: cla: yes, platform-android, waiting for tree to go green

#27255 Roll Skia from 26ea975e6c9d to a89781215a81 (9 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27238 Remove sky_services, flutter_services
  ci/licenses_golden/licenses_flutter
  sky/dist/BUILD.gn
  sky/packages/BUILD.gn
  sky/packages/flutter_services/BUILD.gn
  sky/packages/flutter_services/lib/empty.dart
  sky/packages/flutter_services/pubspec.yaml
  sky/packages/sky_services/.gitignore
  sky/packages/sky_services/BUILD.gn
  sky/packages/sky_services/CHANGELOG.md
  sky/packages/sky_services/README.md
  sky/packages/sky_services/pubspec.yaml
  testing/scenario_app/README.md
  testing/scenario_app/assemble_apk.sh
Labels: cla: yes, needs tests

#27257 delete references to FilterQuality prior to its removal
  flow/display_list.cc
  flow/display_list.h
  flow/display_list_canvas.cc
  flow/display_list_canvas.h
  flow/display_list_canvas_unittests.cc
  flow/display_list_unittests.cc
  flow/display_list_utils.cc
  flow/display_list_utils.h
  flow/layers/texture_layer.h
  flow/layers/texture_layer_unittests.cc
  flow/testing/mock_texture_unittests.cc
Labels: cla: yes, waiting for tree to go green

#27259 Roll Skia from a89781215a81 to 54fd2c59bff2 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27226 [fuchsia] make dart_runner work with cfv2
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/dart-pkg/fuchsia/sdk_ext/fuchsia.cc
  shell/platform/fuchsia/dart_runner/BUILD.gn
  shell/platform/fuchsia/dart_runner/dart_component_controller.cc
  shell/platform/fuchsia/dart_runner/dart_component_controller.h
  shell/platform/fuchsia/dart_runner/dart_runner.cc
  shell/platform/fuchsia/dart_runner/dart_runner.h
  shell/platform/fuchsia/dart_runner/main.cc
  shell/platform/fuchsia/dart_runner/meta/common.shard.cml
  shell/platform/fuchsia/dart_runner/meta/dart_aot_product_runner.cml
  shell/platform/fuchsia/dart_runner/meta/dart_aot_runner.cml
  shell/platform/fuchsia/dart_runner/meta/dart_jit_product_runner.cml
  shell/platform/fuchsia/dart_runner/meta/dart_jit_runner.cml
  tools/fuchsia/devshell/serve.sh
  tools/fuchsia/fuchsia_archive.gni
Labels: cla: yes, needs tests, platform-fuchsia

#27258 Roll Dart SDK from 3f177d9ad50c to eb6ae1c165fc (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27263 Roll Skia from 54fd2c59bff2 to 3c636f0987c6 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27260 Roll webp to 1.2.0 and buildroot
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27264 Fix prebuilt Dart SDK use on Windows
  web_sdk/BUILD.gn
Labels: cla: yes, platform-web

#27268 Revert "Roll webp to 1.2.0 and buildroot"
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#27265 Roll Skia from 3c636f0987c6 to b1fd64e82efd (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27269 Roll Skia from b1fd64e82efd to c2f5b311ceac (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27270 Roll Dart SDK from eb6ae1c165fc to ae01d698532b (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27272 Reland webp 1.2.0
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#27271 Roll Skia from c2f5b311ceac to 39122d445939 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27273 Roll Fuchsia Mac SDK from HXQigwdUe... to pt_XKNLXb...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27275 Roll Skia from 39122d445939 to f5bd4e4b9f6b (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#27279 Roll Dart SDK from ae01d698532b to a8c4933bf92e (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27280 Roll Skia from f5bd4e4b9f6b to beb2fbf0e66a (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27274 Use the prebuilt SDK's VM to run its frontend_server
  testing/testing.gni
Labels: cla: yes

#27281 Roll Skia from beb2fbf0e66a to 8573dab150a7 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27282 Roll Skia from 8573dab150a7 to 552a81a6c78b (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#26887 [canvaskit] Make the surface size exactly the window size so filters work correctly at the edges
  lib/web_ui/lib/src/engine/canvaskit/embedded_views.dart
  lib/web_ui/lib/src/engine/canvaskit/layer_tree.dart
  lib/web_ui/lib/src/engine/canvaskit/n_way_canvas.dart
  lib/web_ui/lib/src/engine/canvaskit/rasterizer.dart
  lib/web_ui/lib/src/engine/canvaskit/surface.dart
  lib/web_ui/test/canvaskit/backdrop_filter_golden_test.dart
  lib/web_ui/test/canvaskit/surface_test.dart
Labels: cla: yes, platform-web

#27284 Fix host_release tests for prebuilt Dart SDK
  testing/run_tests.py
Labels: cla: yes

#27285 Roll Skia from 552a81a6c78b to 768843b52f9d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27232 [web] Librarify html renderer files
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/canvas_pool.dart
  lib/web_ui/lib/src/engine/engine_canvas.dart
  lib/web_ui/lib/src/engine/frame_reference.dart
  lib/web_ui/lib/src/engine/html/backdrop_filter.dart
  lib/web_ui/lib/src/engine/html/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/html/canvas.dart
  lib/web_ui/lib/src/engine/html/clip.dart
  lib/web_ui/lib/src/engine/html/color_filter.dart
  lib/web_ui/lib/src/engine/html/debug_canvas_reuse_overlay.dart
  lib/web_ui/lib/src/engine/html/dom_canvas.dart
  lib/web_ui/lib/src/engine/html/image_filter.dart
  lib/web_ui/lib/src/engine/html/offset.dart
  lib/web_ui/lib/src/engine/html/opacity.dart
  lib/web_ui/lib/src/engine/html/path/path.dart
  lib/web_ui/lib/src/engine/html/picture.dart
  lib/web_ui/lib/src/engine/html/platform_view.dart
  lib/web_ui/lib/src/engine/html/recording_canvas.dart
  lib/web_ui/lib/src/engine/html/scene.dart
  lib/web_ui/lib/src/engine/html/scene_builder.dart
  lib/web_ui/lib/src/engine/html/shader_mask.dart
  lib/web_ui/lib/src/engine/html/surface.dart
  lib/web_ui/lib/src/engine/html/surface_stats.dart
  lib/web_ui/lib/src/engine/html/transform.dart
  lib/web_ui/lib/src/engine/onscreen_logging.dart
  lib/web_ui/lib/src/engine/picture.dart
  lib/web_ui/lib/src/engine/rrect_renderer.dart
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/test/engine/surface/scene_builder_test.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#27286 Roll Fuchsia Mac SDK from pt_XKNLXb... to MkrnXce9t...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27287 Roll Skia from 768843b52f9d to b161a77d0321 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27290 Roll Fuchsia Linux SDK from OPhOQ6shB... to 7q7h2ljWo...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#27292 Build testing/dart snapshots with GN instead of in run_tests.py
  BUILD.gn
  testing/dart/BUILD.gn
  testing/dart/compile_test.gni
  testing/dart/observatory/BUILD.gn
  testing/run_tests.py
  testing/smoke_test_failure/BUILD.gn
Labels: cla: yes
