Repository flutter/engine, pull requests merged in 2021-11, with the labels that each got.

#29435 Roll Dart SDK from 3b11f88c96a5 to 976f160b547f (3 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#29437 Roll Skia from 88b36ad61e80 to 2d76d7760f80 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29438 Roll Skia from 2d76d7760f80 to 259ad7844587 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29439 Roll Skia from 259ad7844587 to 39eccabdc3e4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29440 Revert "Roll Dart SDK from 3b11f88c96a5 to 976f160b547f (3 revisions)"
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#29441 Roll Skia from 39eccabdc3e4 to 81c86e8608c2 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29442 Roll Fuchsia Mac SDK from nblJjRFDA... to iK9xdlMLD...
  DEPS
Labels: cla: yes, waiting for tree to go green

#29408 Embedder VsyncWaiter must schedule a frame for the right time
  shell/platform/embedder/embedder_engine.cc
  shell/platform/embedder/tests/embedder_config_builder.cc
  shell/platform/embedder/tests/embedder_config_builder.h
  shell/platform/embedder/tests/embedder_test_context.cc
  shell/platform/embedder/tests/embedder_test_context.h
  shell/platform/embedder/tests/embedder_unittests.cc
  shell/platform/embedder/vsync_waiter_embedder.cc
  shell/platform/embedder/vsync_waiter_embedder.h
Labels: cla: yes, embedder

#29396 Add check for empty compose string
  shell/platform/windows/text_input_manager_win32.cc
Labels: cla: yes, platform-windows, needs tests

#29445 Roll Skia from 81c86e8608c2 to c807847427a9 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29449 Roll Skia from c807847427a9 to ccb459d57b26 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29451 Roll Skia from ccb459d57b26 to 784b7b7ab541 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29454 Roll Skia from 784b7b7ab541 to 761afc93e742 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29457 Roll Skia from 761afc93e742 to fea9b27cc74c (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29461 Use HTTPS git protocol to download web_installers
  lib/web_ui/pubspec.yaml
Labels: cla: yes, platform-web

#29453 Manually roll fuchsia SDK to Qv7WqmG8hOpj9NV5Ng6rBDSQW7KeowbX0kpbW0FaZgIC
  DEPS
  ci/licenses_golden/licenses_fuchsia
  shell/platform/fuchsia/flutter/accessibility_bridge_unittest.cc
  sky/packages/sky_engine/LICENSE
  tools/fuchsia/sdk/sdk_targets.gni
Labels: cla: yes, waiting for tree to go green

#29456 Fix invalid access of weakly owned ptr in iOS a11y bridge
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterSemanticsScrollView.h
  shell/platform/darwin/ios/framework/Source/FlutterSemanticsScrollView.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_test.mm
Labels: platform-ios, cla: yes, waiting for tree to go green

#29467 Roll Clang Linux from usfKkGnw0... to 5N9a1nYj5...
  DEPS
Labels: cla: yes, waiting for tree to go green

#29466 Roll Clang Mac from HpW96jrB8... to JziYOnXHQ...
  DEPS
Labels: cla: yes, waiting for tree to go green

#29469 Roll Skia from fea9b27cc74c to 15f17c057624 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29471 Roll Fuchsia Mac SDK from iK9xdlMLD... to 3k_RoW0B3...
  DEPS
Labels: cla: yes, waiting for tree to go green

#29472 Roll Fuchsia Linux SDK from Qv7WqmG8h... to X5Ojdx_ZF...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#29473 Roll Skia from 15f17c057624 to 05d3f48d0f3f (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29464 [iOS text input] do not forward press events to the engine
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputDelegate.h
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPluginTest.mm
Labels: platform-ios, cla: yes, waiting for tree to go green

#29480 Roll Skia from ba35f687c339 to 7b3b916c7c9e (9 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29484 Fix TaskRunnerTest.MaybeExecuteTaskOnlyExpired flake
  shell/platform/windows/task_runner_unittests.cc
Labels: affects: tests, cla: yes, platform-windows

#29458 Made DartMessenger use the injected executor service for executing message handlers
  shell/platform/android/io/flutter/embedding/engine/dart/DartMessenger.java
  shell/platform/android/io/flutter/plugin/common/BinaryMessenger.java
  shell/platform/android/test/io/flutter/embedding/engine/dart/DartMessengerTest.java
Labels: platform-android, cla: yes

#29485 Roll Fuchsia Linux SDK from X5Ojdx_ZF... to 9Vsn4gUTL...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#29488 Ensure vsync callback completes before resetting the engine.
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: cla: yes, waiting for tree to go green, embedder

#29482 Fix partial repaint when TextureLayer is inside retained layer
  flow/diff_context.cc
  flow/diff_context.h
  flow/layers/container_layer.cc
  flow/layers/texture_layer.cc
  flow/layers/texture_layer_unittests.cc
  flow/paint_region.h
Labels: cla: yes, needs tests

#29489 Roll Fuchsia Mac SDK from 3k_RoW0B3... to -g_WNjn1Y...
  DEPS
Labels: cla: yes, waiting for tree to go green

#29490 Roll Skia from 7b3b916c7c9e to 5743812354bc (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29492 Revert "Roll Clang Mac from HpW96jrB8... to JziYOnXHQ..."
  DEPS
Labels: cla: yes

#29494 Roll Skia from 5743812354bc to 5ef4a3982fac (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29495 Roll Skia from 5ef4a3982fac to d00d287cf91b (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29496 Roll Fuchsia Linux SDK from 9Vsn4gUTL... to ZGVRUBUE1...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#29497 Make the frontend_server validate kernel files more strictly
  build/dart/rules.gni
Labels: cla: yes

#29498 Roll Fuchsia Mac SDK from -g_WNjn1Y... to 5OhE9jj8o...
  DEPS
Labels: cla: yes, waiting for tree to go green

#29499 Roll Skia from d00d287cf91b to 4722cb0e0d18 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#29501 Roll Skia from 4722cb0e0d18 to 9535da4e3ac2 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29504 Roll Skia from 9535da4e3ac2 to 390edeb88daf (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29506 Roll Skia from 390edeb88daf to 3a9a7991c485 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29507 Roll Skia from 3a9a7991c485 to dc7ab732a9d9 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29510 Roll Skia from dc7ab732a9d9 to 6b9f7761f803 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29508 Embedder VsyncWaiter must schedule a frame for the right time (#29408)
  shell/platform/embedder/embedder_engine.cc
  shell/platform/embedder/tests/embedder_config_builder.cc
  shell/platform/embedder/tests/embedder_config_builder.h
  shell/platform/embedder/tests/embedder_test_context.cc
  shell/platform/embedder/tests/embedder_test_context.h
  shell/platform/embedder/tests/embedder_unittests.cc
  shell/platform/embedder/vsync_waiter_embedder.cc
  shell/platform/embedder/vsync_waiter_embedder.h
Labels: cla: yes, embedder

#29509 [fuchsia] Remove mentions of `fuchsia.deprecatedtimezone`.
  shell/platform/fuchsia/flutter/integration_flutter_tests/embedder/flutter-embedder-test2.cc
  shell/platform/fuchsia/flutter/meta/common.shard.cml
Labels: cla: yes, platform-fuchsia, needs tests

#29512 Roll Skia from 6b9f7761f803 to 292bbb13d832 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29514 Roll Skia from 292bbb13d832 to db3422668bd8 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29502 [macOS] Fixes Crash of cxx destruction when App will terminate
  shell/platform/darwin/macos/framework/Source/FlutterViewController.mm
Labels: cla: yes, waiting for tree to go green, platform-macos, needs tests

#29516 Roll Skia from db3422668bd8 to b61804e94c8c (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29515 Roll Fuchsia Linux SDK from ZGVRUBUE1... to 5-RB9TzQH...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#29517 Roll Fuchsia Mac SDK from 5OhE9jj8o... to SfdmlzXiU...
  DEPS
Labels: cla: yes, waiting for tree to go green

#29518 Roll Skia from b61804e94c8c to 5044ff38a05f (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29519 Roll Skia from 5044ff38a05f to d9d9e21b311c (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29511 Provide a default handler for the flutter/navigation channel
  shell/platform/android/io/flutter/embedding/engine/systemchannels/NavigationChannel.java
Labels: platform-android, cla: yes, waiting for tree to go green, needs tests

#29521 Roll Skia from d9d9e21b311c to a8d38078a4f3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29522 Roll Fuchsia Mac SDK from SfdmlzXiU... to nkHhPcy3q...
  DEPS
Labels: cla: yes, waiting for tree to go green

#29523 Roll Fuchsia Linux SDK from 5-RB9TzQH... to m90mMA37b...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#29448 [Web] Fix BMP encoder
  lib/web_ui/lib/src/ui/painting.dart
  lib/web_ui/test/html/image_test.dart
Labels: cla: yes, platform-web, needs tests

#29525 Roll Skia from a8d38078a4f3 to 7368c6d00b7c (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29318 Fix isolate_configuration typo
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/dart_isolate_unittests.cc
Labels: cla: yes, waiting for tree to go green

#29527 Roll Skia from 7368c6d00b7c to a5030e9090e8 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29361 [iOS] Make sure spawnee's isGpuDisabled is set correctly when FlutterEngine spawn
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngineGroupTest.mm
Labels: platform-ios, cla: yes

#29528 Roll Skia from a5030e9090e8 to 37afdbc22e89 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29532 Roll Skia from 37afdbc22e89 to a05d3029ac65 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29447 Reland Display Features support (Foldable and Cutout)
  DEPS
  ci/licenses_golden/licenses_flutter
  lib/ui/fixtures/ui_test.dart
  lib/ui/hooks.dart
  lib/ui/platform_dispatcher.dart
  lib/ui/window.dart
  lib/ui/window/viewport_metrics.cc
  lib/ui/window/viewport_metrics.h
  lib/ui/window/window.cc
  lib/web_ui/lib/src/ui/platform_dispatcher.dart
  lib/web_ui/lib/src/ui/window.dart
  shell/common/shell_test.cc
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/embedding/android/WindowInfoRepositoryCallbackAdapterWrapper.java
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/platform_view_android_jni_impl.cc
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
  shell/platform/android/test/io/flutter/embedding/engine/renderer/FlutterRendererTest.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
  shell/platform/android/test/io/flutter/plugin/mouse/MouseCursorPluginTest.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
  shell/platform/android/test_runner/build.gradle
  shell/platform/fuchsia/flutter/flatland_platform_view.cc
  shell/platform/fuchsia/flutter/gfx_platform_view.cc
  tools/androidx/files.json
  tools/cipd/android_embedding_bundle/build.gradle
Labels: platform-android, cla: yes, platform-web, platform-fuchsia

#29397 [fuchsia] Add more logging for error cases.
  shell/platform/fuchsia/flutter/component_v1.cc
  shell/platform/fuchsia/flutter/component_v2.cc
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/gfx_session_connection.cc
Labels: cla: yes, waiting for tree to go green, platform-fuchsia, needs tests

#29533 Remove D3D9 fallback path
  shell/platform/windows/angle_surface_manager.cc
Labels: cla: yes, platform-windows, needs tests

#29529 [raster_cache] Increment access_count on Touch
  flow/raster_cache.cc
Labels: cla: yes, needs tests

#29367 Re-enable A11yTreeIsConsistent with higher timeout
  shell/platform/embedder/tests/embedder_a11y_unittests.cc
  testing/fuchsia/test_suites.yaml
  testing/run_all_unittests.cc
Labels: cla: yes, waiting for tree to go green, embedder

#29534 Roll Skia from a05d3029ac65 to 37da672b14b7 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29530 use SkMatrix.invert() instead of MatrixDecomposition to validate cache matrices
  ci/licenses_golden/licenses_flutter
  flow/BUILD.gn
  flow/matrix_decomposition.cc
  flow/matrix_decomposition.h
  flow/matrix_decomposition_unittests.cc
  flow/raster_cache.cc
  flow/raster_cache_key.h
  flow/raster_cache_unittests.cc
Labels: cla: yes, waiting for tree to go green, needs tests

#29535 Roll Clang Linux from 5N9a1nYj5... to UtjvZhwws...
  DEPS
Labels: cla: yes, waiting for tree to go green

#29537 Roll Dart SDK from 3b11f88c96a5 to f38618d5d0c0 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#29513 FragmentProgram constructed asynchronously
  lib/ui/painting.dart
  lib/web_ui/lib/src/ui/painting.dart
  testing/dart/fragment_shader_test.dart
Labels: affects: engine, cla: yes, waiting for tree to go green, platform-web

#29546 Roll Fuchsia Linux SDK from m90mMA37b... to Ci-Vji1rx...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#29547 Roll Fuchsia Mac SDK from nkHhPcy3q... to emi7COLIo...
  DEPS
Labels: cla: yes, waiting for tree to go green

#29548 Roll Skia from 37da672b14b7 to cf8daf79e710 (9 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29354 [iOS] Fixes press key message leaks
  shell/platform/darwin/ios/framework/Source/FlutterChannelKeyResponder.mm
Labels: platform-ios, cla: yes, waiting for tree to go green, needs tests

#29549 Roll Skia from cf8daf79e710 to ae67f07a58a2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29551 Roll Skia from ae67f07a58a2 to 17616469ddf8 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29552 Roll Skia from 17616469ddf8 to 4322c7fec7e4 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28016 don't build flutter SDK artifacts for armv7
  BUILD.gn
  tools/gn
Labels: cla: yes, waiting for tree to go green

#29539 Roll Dart SDK from f38618d5d0c0 to 05febe0a7860 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#29553 Roll Skia from 4322c7fec7e4 to 1800d410df16 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29555 Roll Skia from 1800d410df16 to 725705f6630b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29556 Roll Dart SDK from 05febe0a7860 to 38e7078fa2b7 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#29557 Roll Fuchsia Linux SDK from Ci-Vji1rx... to kHXT3xnTG...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#29558 Roll Fuchsia Mac SDK from emi7COLIo... to 6BYh8qaYo...
  DEPS
Labels: cla: yes, waiting for tree to go green

#29559 Roll Skia from 725705f6630b to deb9386be146 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29550 [Linux keyboard] Fix logical keys of up events are not regularized
  shell/platform/linux/fl_key_embedder_responder.cc
  shell/platform/linux/fl_key_embedder_responder_test.cc
Labels: affects: text input, cla: yes, affects: desktop, platform-linux

#29561 Roll Dart SDK from 38e7078fa2b7 to d464cd3f2dc8 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#29444 Trace calls to Canvas::saveLayer
  flow/compositor_context.cc
  flow/layers/clip_path_layer.cc
  flow/layers/clip_rect_layer.cc
  flow/layers/clip_rrect_layer.cc
  flow/layers/physical_shape_layer.cc
  lib/ui/painting/canvas.cc
  testing/dart/observatory/BUILD.gn
  testing/dart/observatory/tracing_test.dart
Labels: cla: yes

#29554 ios test script checks for `ios_test_flutter` artifacts
  testing/run_tests.py
Labels: cla: yes, waiting for tree to go green

#29563 Roll Skia from deb9386be146 to 37bef2d300e4 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29377 Fix race condition introduced by background platform channels
  shell/platform/android/io/flutter/embedding/engine/dart/DartExecutor.java
  shell/platform/android/io/flutter/embedding/engine/dart/DartMessenger.java
  shell/platform/android/io/flutter/plugin/common/BinaryMessenger.java
  shell/platform/android/io/flutter/view/FlutterNativeView.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/test/io/flutter/embedding/engine/dart/DartMessengerTest.java
Labels: platform-android, cla: yes, needs tests

#29564 Roll Dart SDK from d464cd3f2dc8 to 996ef242a2c9 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#29565 fuchsia: Enable integration tests in CQ
  testing/fuchsia/test_suites.yaml
Labels: affects: tests, cla: yes, platform-fuchsia

#29567 Roll Skia from 37bef2d300e4 to 2417872a9993 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29568 Roll Dart SDK from 996ef242a2c9 to 5ccf755b37a4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#29569 Roll Fuchsia Linux SDK from kHXT3xnTG... to uP2kJIngK...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#29570 Roll Fuchsia Mac SDK from 6BYh8qaYo... to W9UXc2Fwx...
  DEPS
Labels: cla: yes, waiting for tree to go green

#29571 Roll Dart SDK from 5ccf755b37a4 to f6a43e5eb71d (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#29566 Hide a11y elements when resigning active
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
Labels: platform-ios, cla: yes

#29572 Roll Fuchsia Linux SDK from uP2kJIngK... to aD3d4Kqmy...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#29573 Roll Fuchsia Mac SDK from W9UXc2Fwx... to rIpW1050J...
  DEPS
Labels: cla: yes, waiting for tree to go green

#29574 Revert "Reland Display Features support (Foldable and Cutout)"
  DEPS
  ci/licenses_golden/licenses_flutter
  lib/ui/fixtures/ui_test.dart
  lib/ui/hooks.dart
  lib/ui/platform_dispatcher.dart
  lib/ui/window.dart
  lib/ui/window/viewport_metrics.cc
  lib/ui/window/viewport_metrics.h
  lib/ui/window/window.cc
  lib/web_ui/lib/src/ui/platform_dispatcher.dart
  lib/web_ui/lib/src/ui/window.dart
  shell/common/shell_test.cc
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/embedding/android/WindowInfoRepositoryCallbackAdapterWrapper.java
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/platform_view_android_jni_impl.cc
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
  shell/platform/android/test/io/flutter/embedding/engine/renderer/FlutterRendererTest.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
  shell/platform/android/test/io/flutter/plugin/mouse/MouseCursorPluginTest.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
  shell/platform/android/test_runner/build.gradle
  shell/platform/fuchsia/flutter/flatland_platform_view.cc
  shell/platform/fuchsia/flutter/gfx_platform_view.cc
  tools/androidx/files.json
  tools/cipd/android_embedding_bundle/build.gradle
Labels: platform-android, cla: yes, platform-web, platform-fuchsia

#29575 Revert dart to 38e7078fa2b7
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#29577 Roll Skia from 2417872a9993 to cd7220e7686c (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29578 Roll Fuchsia Mac SDK from rIpW1050J... to TOmxgL3av...
  DEPS
Labels: cla: yes, waiting for tree to go green

#29579 Roll Fuchsia Linux SDK from aD3d4Kqmy... to ZniYyCw7U...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#29580 Revert "[Web] Fix BMP encoder"
  lib/web_ui/lib/src/ui/painting.dart
  lib/web_ui/test/html/image_test.dart
Labels: cla: yes, platform-web

#29581 Roll Fuchsia Mac SDK from TOmxgL3av... to KjtjfsPeC...
  DEPS
Labels: cla: yes, waiting for tree to go green

#29582 Roll Fuchsia Linux SDK from ZniYyCw7U... to jxJH1K3IP...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#29583 Roll Skia from cd7220e7686c to be0c3da6f775 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29584 Roll Skia from be0c3da6f775 to 30c9ead5014b (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29586 Roll Fuchsia Mac SDK from KjtjfsPeC... to zqcXkwzoH...
  DEPS
Labels: cla: yes, waiting for tree to go green

#29587 Roll Fuchsia Linux SDK from jxJH1K3IP... to 2R1NvPB_x...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#29588 Roll Skia from 30c9ead5014b to c94073b7692a (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29590 Roll Skia from c94073b7692a to 529d3473bf39 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29281 [iOS] Support keyboard animation on iOS
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
Labels: platform-ios, cla: yes

#29491 Implemented concurrent TaskQueues
  shell/platform/android/io/flutter/embedding/engine/dart/DartExecutor.java
  shell/platform/android/io/flutter/embedding/engine/dart/DartMessenger.java
  shell/platform/android/io/flutter/plugin/common/BinaryMessenger.java
  shell/platform/android/io/flutter/view/FlutterNativeView.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/test/io/flutter/embedding/engine/dart/DartMessengerTest.java
Labels: platform-android, cla: yes

#24224 Support Scribble Handwriting
  AUTHORS
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterIndirectScribbleDelegate.h
  shell/platform/darwin/ios/framework/Source/FlutterTextInputDelegate.h
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.h
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPluginTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterViewResponder.h
Labels: platform-ios, waiting for customer response, cla: yes

#29531 [ios_platform_view, a11y] Make `FlutterPlatformViewSemanticsContainer` a SemanticsObject.
  shell/platform/darwin/ios/framework/Source/SemanticsObject.h
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
Labels: platform-ios, cla: yes, waiting for tree to go green, needs tests

#29594 Roll Skia from 529d3473bf39 to 21f7a9a7577a (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29596 Add default implementations to new methods added to BinaryMessenger
  shell/platform/android/io/flutter/plugin/common/BinaryMessenger.java
Labels: platform-android, cla: yes, waiting for tree to go green, needs tests

#29600 Roll Fuchsia Mac SDK from zqcXkwzoH... to JptPhro1i...
  DEPS
Labels: cla: yes, waiting for tree to go green

#29599 Call Dart messenger methods in DartExecutor
  shell/platform/android/io/flutter/embedding/engine/dart/DartExecutor.java
Labels: platform-android, cla: yes, waiting for tree to go green, needs tests

#29601 Roll Fuchsia Linux SDK from 2R1NvPB_x... to CtgxTwTrW...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#29602 Roll Skia from 21f7a9a7577a to 70db6e44434f (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29606 Roll Skia from 70db6e44434f to a7623433dae1 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29609 Roll Skia from a7623433dae1 to badc896b1862 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29610 Roll Skia from badc896b1862 to 1f8c31b10118 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29612 Roll Fuchsia Mac SDK from JptPhro1i... to xVPuybnbm...
  DEPS
Labels: cla: yes, waiting for tree to go green

#29613 Roll Skia from 1f8c31b10118 to fa26a656cf3d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29616 Roll Fuchsia Linux SDK from CtgxTwTrW... to g1S-VTjK7...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#29595 Use clang-tidy config file from repo instead of default
  tools/clang_tidy/lib/clang_tidy.dart
  tools/clang_tidy/lib/src/command.dart
  tools/clang_tidy/lib/src/options.dart
  tools/clang_tidy/test/clang_tidy_test.dart
Labels: cla: yes, waiting for tree to go green

#29617 Roll Skia from fa26a656cf3d to 183f37d16ad8 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29618 Roll Skia from 183f37d16ad8 to d6af8bf96690 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29619 Roll Skia from d6af8bf96690 to add2c39dce6e (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28609 Call `didFailToRegisterForRemoteNotificationsWithError` delegate methods in `FlutterPlugin`
  shell/platform/darwin/ios/framework/Headers/FlutterPlugin.h
  shell/platform/darwin/ios/framework/Headers/FlutterPluginAppLifeCycleDelegate.h
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegate.mm
  shell/platform/darwin/ios/framework/Source/FlutterPluginAppLifeCycleDelegate.mm
Labels: platform-ios, cla: yes, waiting for tree to go green, needs tests

#29621 Fix UB in semantics updates
  shell/platform/embedder/embedder.cc
Labels: cla: yes, needs tests, embedder

#28809 Share the GrContext between lightweight engines
  shell/platform/android/android_context_gl.cc
  shell/platform/android/android_context_gl.h
  shell/platform/android/android_context_gl_unittests.cc
  shell/platform/android/android_surface_gl.cc
  shell/platform/android/context/android_context.cc
  shell/platform/android/context/android_context.h
  shell/platform/android/platform_view_android.cc
Labels: platform-android, cla: yes

#29624 Re-enable embedder tests on Windows
  testing/run_tests.py
Labels: cla: yes

#29626 Roll Skia from add2c39dce6e to 32385b7070a2 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#29628 Roll Clang Mac from HpW96jrB8... to 82gAwI4Hh...
  DEPS
Labels: cla: yes, waiting for tree to go green

#29598 separate saveLayer events into record and execute variants and trace more of the execution calls
  flow/display_list_canvas.cc
  flow/layers/layer.cc
  lib/ui/painting/canvas.cc
  testing/dart/observatory/tracing_test.dart
Labels: cla: yes, waiting for tree to go green

#27351 Add eol at end of .dart files
  lib/web_ui/lib/src/engine/html/shaders/webgl_context.dart
  lib/web_ui/lib/src/engine/navigation.dart
  lib/web_ui/lib/src/engine/services.dart
  tools/const_finder/test/fixtures/lib/target.dart
Labels: cla: yes, platform-web, needs tests

#29631 Roll Dart SDK from 38e7078fa2b7 to e9488dd50ffb (12 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#29635 Roll Fuchsia Mac SDK from xVPuybnbm... to q9ukLNQmF...
  DEPS
Labels: cla: yes, waiting for tree to go green
