Repository flutter/engine, pull requests merged in 2021-03, with the labels that each got.

#24700 Roll Fuchsia Linux SDK from RTXXU6CwW... to 1jbCxKA9Y...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24701 Roll Fuchsia Mac SDK from y4fkeuwAq... to 1QbiQ5i3i...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24702 Roll Skia from 56a1f06db241 to 1f33ec568b3f (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24703 Roll Skia from 1f33ec568b3f to 5fa369787b21 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24704 Roll Skia from 5fa369787b21 to 104e20f5b2b3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24706 Roll Skia from 104e20f5b2b3 to 0b750f2ef534 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24708 Roll Skia from 0b750f2ef534 to 9b510a31561f (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24707 Roll Dart SDK from 60b27ec0710a to f7b05f6e0636 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24710 Roll Skia from 9b510a31561f to 135500d33dc7 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24711 Roll Fuchsia Mac SDK from 1QbiQ5i3i... to ticLKPQn6...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24688 remove _getRRect: fixes assertion error
  lib/web_ui/lib/src/engine/html/path/path.dart
  lib/web_ui/lib/src/engine/html/path/path_ref.dart
  lib/web_ui/test/engine/surface/path/path_ref_test.dart
Labels: cla: yes

#24709 Roll Fuchsia Linux SDK from 1jbCxKA9Y... to 50gZrG82q...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24714 Roll Skia from 135500d33dc7 to 9ca065e2fdb5 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24715 Roll Dart SDK from f7b05f6e0636 to b3bc5acdeef2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24668 Reland "TextStyle level leadingDistribution (#24025)" reverted in #24665
  lib/ui/text.dart
  lib/ui/text/paragraph_builder.cc
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/lib/src/ui/text.dart
  testing/dart/text_test.dart
  third_party/txt/src/txt/paragraph_style.h
  third_party/txt/src/txt/paragraph_txt.cc
  third_party/txt/src/txt/paragraph_txt.h
  third_party/txt/src/txt/text_style.cc
  third_party/txt/src/txt/text_style.h
  third_party/txt/tests/paragraph_unittests.cc
Labels: cla: yes, waiting for tree to go green

#24718 Revert "remove _getRRect: fixes assertion error (#24688)"
  lib/web_ui/lib/src/engine/html/path/path.dart
  lib/web_ui/lib/src/engine/html/path/path_ref.dart
  lib/web_ui/test/engine/surface/path/path_ref_test.dart
Labels: cla: yes

#24673 Roll ICU to match the latest version used by Chromium
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#24722 Roll Dart SDK from b3bc5acdeef2 to f209e60a5415 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24723 Roll Skia from 67808983c677 to d29e500ece41 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24724 Roll Skia from d29e500ece41 to e32ace76ec8d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24725 Roll Fuchsia Mac SDK from ticLKPQn6... to PRe0w0i4z...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24726 Roll Fuchsia Linux SDK from 50gZrG82q... to tJbtmEE4Q...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24679 Switch to correct OpenGL context before deleting framebuffers.
  shell/platform/darwin/macos/framework/Source/FlutterFrameBufferProvider.mm
Labels: cla: yes

#24728 Roll Skia from e32ace76ec8d to 0676317b1f7f (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24729 Roll Skia from 0676317b1f7f to 232b4ce8886b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24731 Roll Skia from 232b4ce8886b to d863ae52d4bb (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24699 Add RAII wrapper for Win32 IMM context
  shell/platform/windows/text_input_manager_win32.cc
Labels: affects: desktop, affects: engine, cla: yes, platform-windows

#24713 Win32: Support Korean input
  shell/platform/windows/flutter_window_win32.cc
  shell/platform/windows/flutter_window_win32.h
  shell/platform/windows/flutter_window_win32_unittests.cc
  shell/platform/windows/flutter_windows_view.cc
  shell/platform/windows/flutter_windows_view.h
  shell/platform/windows/keyboard_handler_base.h
  shell/platform/windows/keyboard_key_handler.cc
  shell/platform/windows/keyboard_key_handler.h
  shell/platform/windows/testing/mock_window_win32.h
  shell/platform/windows/text_input_plugin.cc
  shell/platform/windows/text_input_plugin.h
  shell/platform/windows/window_binding_handler_delegate.h
  shell/platform/windows/window_win32.cc
  shell/platform/windows/window_win32.h
Labels: cla: yes

#24716 [web] Fix painting of last placeholder in paragraph
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/text/layout_service.dart
  lib/web_ui/test/golden_tests/engine/canvas_paragraph/placeholders_test.dart
  lib/web_ui/test/text/layout_service_rich_test.dart
Labels: cla: yes, platform-web

#24719 [web] Fix pointer events for Wacom pen
  lib/web_ui/lib/src/engine/pointer_binding.dart
  lib/web_ui/test/engine/pointer_binding_test.dart
Labels: cla: yes, platform-web

#24732 Roll Skia from d863ae52d4bb to 036ba86489d7 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24730 Roll Dart SDK from f209e60a5415 to 761ed531161f (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24733 Roll Skia from 036ba86489d7 to 786d42c6dac4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24690 Fix memory leak and bug in the RunsOnCreationTaskRunner check
  fml/memory/task_runner_checker.cc
  fml/memory/task_runner_checker.h
  fml/memory/task_runner_checker_unittest.cc
  fml/message_loop_task_queues.cc
  fml/message_loop_task_queues.h
  fml/message_loop_task_queues_unittests.cc
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
  testing/scenario_app/android/app/build.gradle
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/MemoryLeakTests.java
  testing/scenario_app/android/app/src/main/res/values/strings.xml
Labels: cla: yes, platform-android, waiting for tree to go green

#24738 Roll Skia from 786d42c6dac4 to 12e760e958a7 (10 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24739 Roll Fuchsia Linux SDK from tJbtmEE4Q... to YhRvbuj9c...
  DEPS
  ci/licenses_golden/licenses_fuchsia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#24740 Roll Skia from 12e760e958a7 to e80e169ba4c1 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24697 Fix UWP build for UpdateCursorRect rename
  shell/platform/windows/flutter_window_winuwp.cc
  shell/platform/windows/flutter_window_winuwp.h
Labels: cla: yes

#24745 Roll Fuchsia Mac SDK from PRe0w0i4z... to 4TE5n81B-...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24746 Roll Dart SDK from 761ed531161f to f527ddd39bb1 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24749 Roll Dart SDK from f527ddd39bb1 to 041a6dd2e76b (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#24750 Roll Fuchsia Linux SDK from YhRvbuj9c... to _0kewDFPJ...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24752 Roll Skia from e80e169ba4c1 to acf26501fb5a (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24753 Roll Skia from acf26501fb5a to a1e30a3a280a (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#24759 Roll Fuchsia Mac SDK from 4TE5n81B-... to kPp_BF0q3...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24760 Roll Skia from a1e30a3a280a to f0de96f7b82a (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24762 Roll Skia from f0de96f7b82a to 46d9bb255df4 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24764 Roll Dart SDK from 041a6dd2e76b to b9302efc8d9a (3 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24766 Move CIPD package creation tools under tools/cipd
  tools/cipd/android_embedding_bundle/.gitignore
  tools/cipd/android_embedding_bundle/README.md
  tools/cipd/android_embedding_bundle/build.gradle
  tools/cipd/android_embedding_bundle/cipd.yaml
Labels: cla: yes

#24769 Roll Skia from 46d9bb255df4 to e4ef35caa1bc (9 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24640 Enables semantics when voice control is turned on
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngineTest_mrc.mm
  shell/platform/darwin/ios/framework/Source/FlutterView.h
  shell/platform/darwin/ios/framework/Source/FlutterView.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewTest.mm
Labels: cla: yes, platform-ios, waiting for tree to go green

#24771 Roll Fuchsia Linux SDK from _0kewDFPJ... to _vRi_XkB7...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24770 Added dependency on CppWinRT for UWP builds
  DEPS
  tools/cipd/cppwinrt/.gitignore
  tools/cipd/cppwinrt/README.md
  tools/cipd/cppwinrt/cppwinrt-win-amd64.cipd.yaml
Labels: affects: desktop, cla: yes, platform-windows

#24772 Roll Skia from e4ef35caa1bc to 4db57264955f (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24773 Revert "[web] Fix painting of last placeholder in paragraph (#24716)"
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/text/layout_service.dart
  lib/web_ui/test/golden_tests/engine/canvas_paragraph/placeholders_test.dart
  lib/web_ui/test/text/layout_service_rich_test.dart
Labels: cla: yes

#24774 Roll Skia from 4db57264955f to 21c8ad62cd82 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24775 Roll Fuchsia Mac SDK from kPp_BF0q3... to ohpC1XzxY...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24778 Roll Dart SDK from b9302efc8d9a to 96183eef80b7 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24779 Roll Skia from 21c8ad62cd82 to 55aaefe687c7 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24782 Roll Fuchsia Linux SDK from _vRi_XkB7... to zPlM6iYY3...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24727 Guard metal rendering behind SHELL_ENABLE_METAL
  shell/platform/darwin/macos/framework/Source/FlutterRenderingBackend.mm
  shell/platform/embedder/embedder_external_texture_metal.mm
Labels: cla: yes, waiting for tree to go green

#24784 Roll Dart SDK from 96183eef80b7 to 8d3ed9fda5f1 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#24791 Roll Fuchsia Mac SDK from ohpC1XzxY... to Ks1dVR_ST...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24232 Use hidden window to process flutter messages
  ci/licenses_golden/licenses_flutter
  shell/platform/windows/BUILD.gn
  shell/platform/windows/flutter_windows_win32.cc
  shell/platform/windows/public/flutter_windows.h
  shell/platform/windows/task_runner_win32.cc
  shell/platform/windows/task_runner_win32.h
  shell/platform/windows/task_runner_win32_window.cc
  shell/platform/windows/task_runner_win32_window.h
Labels: affects: desktop, cla: yes, platform-windows

#24792 Roll Dart SDK from 8d3ed9fda5f1 to 1b674d73af53 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#24612 Allow calls to legacyMakeTypeface in the AssetFontManager
  third_party/txt/src/txt/asset_font_manager.cc
Labels: cla: yes, waiting for tree to go green

#24794 Roll Clang Mac from MQQ43_LGr... to MRLGJYv8V...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24662 SkParagraph: support multiple default font families
  third_party/txt/src/txt/font_collection.cc
Labels: cla: yes, waiting for tree to go green

#24734 Adds set text action for voice access
  lib/ui/semantics.dart
  lib/ui/semantics/semantics_node.h
  lib/web_ui/lib/src/ui/semantics.dart
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  shell/platform/android/test/io/flutter/view/AccessibilityBridgeTest.java
  testing/dart/semantics_test.dart
Labels: cla: yes, platform-android, waiting for tree to go green

#24799 Roll Skia from 55aaefe687c7 to 6ba242d2a201 (18 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24801 Update cppwinrt to build 2.0.210304.5
  DEPS
  tools/cipd/cppwinrt/.gitignore
  tools/cipd/cppwinrt/README.md
  tools/cipd/cppwinrt/cppwinrt-win-amd64.cipd.yaml
Labels: affects: desktop, cla: yes, platform-windows

#24803 Roll Dart SDK from 1b674d73af53 to 835da00aa6b5 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24804 Roll Skia from 6ba242d2a201 to 3b58d38966f4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24805 Roll Skia from 3b58d38966f4 to d42fe062d0a7 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24806 Roll Skia from d42fe062d0a7 to 994a571fc79a (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24808 Roll Dart SDK from 835da00aa6b5 to b321d01eec78 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24811 Roll Dart SDK from b321d01eec78 to 4693d6d4f88e (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#24812 Roll Skia from 994a571fc79a to 532138cea7ea (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24813 Roll Skia from 532138cea7ea to bf2dd2af4947 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24623 [linux] Fix text selection via Shift+Home/End
  shell/platform/common/text_input_model.cc
  shell/platform/common/text_input_model.h
  shell/platform/common/text_input_model_unittests.cc
  shell/platform/linux/fl_text_input_plugin.cc
Labels: cla: yes

#24795 Roll Clang Linux from crEO9FDXg... to SrCqaGdSF...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24815 Roll Skia from bf2dd2af4947 to 319565ac6e65 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24800 Revert "Replace Flutter surface only after all platform views are destroyed"
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
Labels: cla: yes, platform-android

#24824 Roll Skia from 319565ac6e65 to d63638bb7be7 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24825 Roll Skia from d63638bb7be7 to 3dc6c190dabb (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24802 Initialize max_ascent/descent from the strut only if the strut is valid
  third_party/txt/src/txt/paragraph_txt.cc
Labels: cla: yes, waiting for tree to go green

#24829 vulkan: Fix build issue due to missing VK_RESULT_RANGE_SIZE
  vulkan/vulkan_interface.cc
Labels: cla: yes, waiting for tree to go green

#24830 Roll Skia from 3dc6c190dabb to 9ef3f2e3da9f (9 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24798 [web] Fix url updates when using Router
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/test/window_test.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#24828 [web] Don't set both color and foreground at the same time
  lib/web_ui/lib/src/engine/text/canvas_paragraph.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#24832 Roll Fuchsia Mac SDK from Ks1dVR_ST... to PPdB-GHCt...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24834 Roll Fuchsia Linux SDK from zPlM6iYY3... to Suchs2RGt...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24835 Roll Skia from 9ef3f2e3da9f to 8f440b4e1e22 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24836 Roll Dart SDK from 4693d6d4f88e to b77641194368 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24838 Prevent race condition while switching surfaces
  shell/platform/android/io/flutter/embedding/android/FlutterImageView.java
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
Labels: cla: yes, platform-android

#24839 Roll Dart SDK from b77641194368 to fee865ec6404 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#24841 Roll Fuchsia Mac SDK from PPdB-GHCt... to Xkten1Nxc...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24842 Roll Fuchsia Linux SDK from Suchs2RGt... to 4_MXZyYYE...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24843 Roll Skia from 8f440b4e1e22 to 00d6cf436884 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24844 Roll Dart SDK from fee865ec6404 to 9bc9e48fe908 (2 revisions)
  DEPS
Labels: cla: yes, waiting for tree to go green

#24847 Roll Dart SDK from 9bc9e48fe908 to b191fb71063c (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#24849 Roll Fuchsia Mac SDK from Xkten1Nxc... to Ler-DhxPF...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24850 Roll Fuchsia Linux SDK from 4_MXZyYYE... to -kU3jhhRL...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24851 Roll Skia from 00d6cf436884 to 1314913ff569 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24852 Roll Skia from 1314913ff569 to 5f2932e0e391 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24853 Roll Fuchsia Mac SDK from Ler-DhxPF... to Rw36pWO5J...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24855 Roll Fuchsia Linux SDK from -kU3jhhRL... to hnDJ6SZhJ...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24856 Roll Skia from 5f2932e0e391 to 07ee548d5bcd (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24860 Roll Dart SDK from b191fb71063c to 64a5583ffbc9 (2 revisions)
  DEPS
Labels: cla: yes, waiting for tree to go green

#24862 Roll Fuchsia Mac SDK from Rw36pWO5J... to C8RDwF3IB...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24863 Roll Fuchsia Linux SDK from hnDJ6SZhJ... to yDVPrfGq5...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24645 fuchsia: Correct PlatformView scale/transform
  flow/embedded_views.h
  shell/platform/fuchsia/flutter/fuchsia_external_view_embedder.cc
  shell/platform/fuchsia/flutter/fuchsia_external_view_embedder.h
Labels: cla: yes, platform-fuchsia

#24846 Fix typo in assertion log message
  ci/docker/build/README.md
  examples/glfw/README.md
  fml/platform/win/mapping_win.cc
  lib/ui/channel_buffers.dart
  lib/ui/painting/image_decoder_unittests.cc
  lib/ui/painting/image_encoding.cc
  lib/web_ui/dev/integration_tests_manager.dart
  lib/web_ui/lib/src/engine/dom_renderer.dart
  lib/web_ui/lib/src/engine/navigation/history.dart
  lib/web_ui/lib/src/engine/text/measurement.dart
  lib/web_ui/lib/src/engine/text/ruler.dart
  lib/web_ui/test/engine/history_test.dart
  runtime/dart_isolate.cc
  runtime/dart_vm.cc
  runtime/runtime_controller.cc
  shell/common/engine.h
  shell/common/platform_view.cc
  shell/common/platform_view.h
  shell/common/rasterizer.h
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/shell_benchmarks.cc
  shell/common/shell_test_platform_view_vulkan.cc
  shell/gpu/gpu_surface_gl.cc
  shell/platform/android/external_view_embedder/surface_pool.cc
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/plugin/common/BasicMessageChannel.java
  shell/platform/android/io/flutter/plugin/common/EventChannel.java
  shell/platform/android/io/flutter/plugin/common/MethodChannel.java
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/platform_view_android.cc
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
  shell/platform/android/test/io/flutter/embedding/engine/FlutterEngineConnectionRegistryTest.java
  shell/platform/common/client_wrapper/include/flutter/event_stream_handler.h
  shell/platform/common/client_wrapper/include/flutter/event_stream_handler_functions.h
  shell/platform/darwin/common/framework/Headers/FlutterChannels.h
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/macos/framework/Source/FlutterEmbedderExternalTextureUnittests.mm
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/tests/embedder_test_context.cc
  shell/platform/embedder/tests/embedder_test_context_gl.cc
  shell/platform/embedder/tests/embedder_test_context_software.cc
  shell/platform/embedder/tests/embedder_unittests_gl.cc
  shell/platform/fuchsia/dart_runner/builtin_libraries.cc
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/vulkan_surface_producer.cc
  shell/testing/tester_main.cc
  testing/dart_isolate_runner.cc
  third_party/accessibility/ax/ax_node_position_unittest.cc
  vulkan/vulkan_application.cc
  vulkan/vulkan_device.cc
  vulkan/vulkan_window.cc
Labels: cla: yes

#24845 Only call destruction_callback if non-null
  shell/platform/embedder/embedder.cc
Labels: cla: yes

#24874 Revert "Fix memory leak and bug in the RunsOnCreationTaskRunner check"
  fml/memory/task_runner_checker.cc
  fml/memory/task_runner_checker.h
  fml/memory/task_runner_checker_unittest.cc
  fml/message_loop_task_queues.cc
  fml/message_loop_task_queues.h
  fml/message_loop_task_queues_unittests.cc
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
  testing/scenario_app/android/app/build.gradle
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/MemoryLeakTests.java
  testing/scenario_app/android/app/src/main/res/values/strings.xml
Labels: cla: yes, platform-android, waiting for tree to go green

#24889 Roll Fuchsia Mac SDK from C8RDwF3IB... to XxqTWS7q1...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24897 Revert "Fix memory leak and bug in the RunsOnCreationTaskRunner check…
  fml/memory/task_runner_checker.cc
  fml/memory/task_runner_checker.h
  fml/memory/task_runner_checker_unittest.cc
  fml/message_loop_task_queues.cc
  fml/message_loop_task_queues.h
  fml/message_loop_task_queues_unittests.cc
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
  testing/scenario_app/android/app/build.gradle
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/MemoryLeakTests.java
  testing/scenario_app/android/app/src/main/res/values/strings.xml
Labels: cla: yes, platform-android

#24818 Update paths related to CIPD package creation
  shell/platform/android/robolectric.properties
  shell/platform/android/test/README.md
Labels: cla: yes, platform-android, waiting for tree to go green

#24873 Adds setText to web engine
  lib/web_ui/lib/src/ui/semantics.dart
Labels: cla: yes, waiting for tree to go green

#24912 Roll Fuchsia Linux SDK from yDVPrfGq5... to XaUP9-wm3...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24914 Roll Skia from 07ee548d5bcd to da076e9aca26 (41 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24911 Roll Fuchsia Mac SDK from XxqTWS7q1... to gYXU9l8jr...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24907 Roll Dart SDK from 64a5583ffbc9 to 8f22201e4050 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24876 [web] Reland: Fix url updates when using Router
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/test/window_test.dart
Labels: cla: yes, platform-web

#24920 Roll Dart SDK from 8f22201e4050 to abcf1f3fd91b (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24901 Add framebuffer destruction_callback for Linux
  shell/platform/linux/fl_renderer_gl.cc
Labels: cla: yes

#23870 Wires up accessibility bridge in mac embedding
  ci/licenses_golden/licenses_flutter
  shell/platform/common/accessibility_bridge.cc
  shell/platform/common/accessibility_bridge.h
  shell/platform/common/flutter_platform_node_delegate.h
  shell/platform/common/test_accessibility_bridge.cc
  shell/platform/common/test_accessibility_bridge.h
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/AccessibilityBridgeMacDelegate.h
  shell/platform/darwin/macos/framework/Source/AccessibilityBridgeMacDelegate.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/macos/framework/Source/FlutterPlatformNodeDelegateMac.h
  shell/platform/darwin/macos/framework/Source/FlutterPlatformNodeDelegateMac.mm
  shell/platform/darwin/macos/framework/Source/FlutterPlatformNodeDelegateMacTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterView.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewController.mm
Labels: cla: yes

#24831 fix voice control delete line command does not delete line correctly
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.h
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPluginTest.m
Labels: cla: yes, platform-ios, waiting for tree to go green

#24908 Detach the newly created EGL context from the main thread in the embedder unit tests
  shell/platform/embedder/tests/embedder_test_context_gl.cc
Labels: cla: yes

#24928 [flutter_releases] Flutter 2.0.2 Stable Engine Cherrypicks
  DEPS
  ci/licenses_golden/licenses_third_party
  lib/web_ui/lib/src/engine/canvaskit/path.dart
  lib/web_ui/test/canvaskit/path_test.dart
  shell/common/thread_host.cc
  shell/common/thread_host.h
  shell/platform/android/android_shell_holder.cc
Labels: cla: yes, platform-android

#24924 Remove an obsolete GN flag that had been used by SkParagraph
  tools/gn
Labels: cla: yes

#24582 Expand FilterQuality API docs
  lib/ui/painting.dart
Labels: cla: yes, waiting for tree to go green

#24931 Roll Dart SDK from abcf1f3fd91b to f596cf76c722 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#24905 [web] Reland: Fix painting of last placeholder in paragraph
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/text/layout_service.dart
  lib/web_ui/test/golden_tests/engine/canvas_paragraph/placeholders_test.dart
  lib/web_ui/test/text/layout_service_rich_test.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#24925 Roll Clang Linux from SrCqaGdSF... to TEHg3vhDG...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24926 Roll Clang Mac from MRLGJYv8V... to GUX2BsVIc...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24930 Roll Fuchsia Mac SDK from gYXU9l8jr... to CxbV_a22u...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24934 [web] Add few awaits in history tests
  lib/web_ui/test/engine/history_test.dart
  lib/web_ui/test/window_test.dart
Labels: affects: tests, cla: yes, platform-web, waiting for tree to go green

#24583 Signal an error if an Isolate.spwanUri call uses an unsupported URI
  common/settings.h
  runtime/dart_isolate.cc
  testing/dart/isolate_test.dart
Labels: cla: yes, waiting for tree to go green

#24877 Complete the Scene.toImage future with an error if rasterization fails
  lib/ui/compositing.dart
  lib/ui/painting.dart
Labels: cla: yes

#24936 Roll Skia from 93330c9c4dc7 to cc185c5a31f3 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24937 Roll Dart SDK from f596cf76c722 to 22d0f712b0a6 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#24866 End composing when inserting text
  shell/platform/darwin/macos/framework/Source/FlutterTextInputPlugin.mm
Labels: cla: yes

#24941 Roll Skia from cc185c5a31f3 to 43bde9d2bc82 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#24946 Roll Fuchsia Mac SDK from CxbV_a22u... to xpyKHzaGr...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24944 [Linux] Fix high CPU consumption
  shell/platform/linux/fl_view.cc
Labels: cla: yes

#24942 Roll Dart SDK from 22d0f712b0a6 to 526b85706ed7 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#24943 Roll Fuchsia Linux SDK from XaUP9-wm3... to Q1DG3XKnA...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#24947 Reland "Remove pipeline in favor of layer tree holder"
  ci/licenses_golden/licenses_flutter
  shell/common/BUILD.gn
  shell/common/animator.cc
  shell/common/animator.h
  shell/common/engine.h
  shell/common/layer_tree_holder.cc
  shell/common/layer_tree_holder.h
  shell/common/layer_tree_holder_unittests.cc
  shell/common/pipeline.cc
  shell/common/pipeline.h
  shell/common/pipeline_unittests.cc
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/common/rasterizer_unittests.cc
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/shell_test.cc
Labels: cla: yes

#24880 Respond to Skia.setResourceCacheMaxBytes
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  lib/web_ui/test/canvaskit/platform_dispatcher_test.dart
  lib/web_ui/test/engine/platform_dispatcher_test.dart
Labels: cla: yes, waiting for tree to go green
