Repository flutter/engine, pull requests merged in 2021-09, with the labels that each got.

#28392 merge accounting of the picture and dl cache entries in reported statistics
  flow/raster_cache.cc
  flow/raster_cache.h
  shell/common/shell.cc
  shell/common/shell_unittests.cc
Labels: cla: yes, waiting for tree to go green

#28394 Roll Skia from 51b4b86da645 to 44b7568c8a4e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28395 Fix typo in FlMethodResponse docs
  shell/platform/linux/public/flutter_linux/fl_method_response.h
Labels: cla: yes, platform-linux

#28396 Roll Fuchsia Mac SDK from PBsQu7H2x... to mBQmFpqqI...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28397 Roll Fuchsia Linux SDK from FQnJKIHw7... to qywu-XJBK...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#28398 Roll Skia from 44b7568c8a4e to 4d6344c81d6d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28399 Roll Skia from 4d6344c81d6d to e42508875792 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28402 Roll Dart SDK from a81fbf00dde7 to 81c5961865cf (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28405 Revert "Turn compressed pointers on Android for 64 bit architectures."
  tools/gn
Labels: cla: yes, waiting for tree to go green

#28408 Roll Fuchsia Mac SDK from mBQmFpqqI... to l8aXovOpe...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28391 Make the LocalizationPluginTest package declaration match the source file path
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/test/io/flutter/FlutterTestSuite.java
  shell/platform/android/test/io/flutter/plugin/localization/LocalizationPluginTest.java
Labels: platform-android, cla: yes, waiting for tree to go green

#28409 Roll Fuchsia Linux SDK from qywu-XJBK... to 2KDbYfNb6...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#28410 Roll Dart SDK from 81c5961865cf to fad8e8989ab6 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#28412 Roll Skia from ad284fe277bf to 2af13c135b9c (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28415 [flutter_releases] Flutter beta 2.5.0-5.3.pre Engine Cherrypicks
  DEPS
  ci/licenses_golden/licenses_third_party
  lib/web_ui/lib/src/engine/navigation/history.dart
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/test/engine/history_test.dart
  shell/platform/android/io/flutter/plugin/platform/PlatformPlugin.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformPluginTest.java
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest.mm
Labels: platform-ios, platform-android, cla: yes, platform-web

#28420 Roll Fuchsia Linux SDK from 2KDbYfNb6... to qhNUfwDZ6...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#28416 Roll Dart SDK from fad8e8989ab6 to 3e5ab8e22dc3 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#28414 Roll Skia from 2af13c135b9c to 0459a9373476 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28315 Ensure that Skia persistent cache filenames do not exceed the maximum allowed length
  ci/licenses_golden/licenses_flutter
  common/graphics/BUILD.gn
  common/graphics/persistent_cache.cc
  common/graphics/persistent_cache.h
  fml/BUILD.gn
  fml/hex_codec.cc
  fml/hex_codec.h
  fml/hex_codec_unittest.cc
  shell/common/persistent_cache_unittests.cc
  shell/common/shell.cc
  shell/common/shell_unittests.cc
Labels: cla: yes, waiting for tree to go green

#28421 Roll Skia from 0459a9373476 to 517f4ffb12ca (15 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28423 Roll Fuchsia Mac SDK from YOSL2lcaL... to VbLDH0aNK...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28426 Roll Dart SDK from 3e5ab8e22dc3 to edf2936a5e06 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28407 fuchsia: Fix MissingPluginException being thrown in Dart from platform_view.cc
  shell/platform/fuchsia/flutter/platform_view.cc
Labels: platform-ios, platform-android, cla: yes, platform-web, platform-macos, platform-linux, platform-windows, platform-fuchsia, needs tests, embedder

#28427 Roll Clang Mac from XvHmkqWWH... to xdUzo8i18...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28429 Roll Fuchsia Linux SDK from qhNUfwDZ6... to pypCKSnUc...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#28437 Revert "Roll Dart SDK from 3e5ab8e22dc3 to edf2936a5e06 (4 revisions)"
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#28411 Use `android_virtual_device` dep in Linux Scenarios LUCI test
  .ci.yaml
Labels: cla: yes

#28441 Roll Fuchsia Mac SDK from VbLDH0aNK... to igx6EXsq_...
  DEPS
Labels: cla: yes, waiting for tree to go green

#24756 Display Features support (Foldable and Cutout)
  DEPS
  ci/licenses_golden/licenses_flutter
  lib/ui/fixtures/ui_test.dart
  lib/ui/hooks.dart
  lib/ui/platform_dispatcher.dart
  lib/ui/window.dart
  lib/ui/window/viewport_metrics.cc
  lib/ui/window/viewport_metrics.h
  lib/ui/window/window.cc
  lib/web_ui/lib/src/ui/platform_dispatcher.dart
  lib/web_ui/lib/src/ui/window.dart
  shell/common/shell_test.cc
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/embedding/android/WindowInfoRepositoryCallbackAdapterWrapper.java
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/platform_view_android_jni_impl.cc
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
  shell/platform/android/test/io/flutter/embedding/engine/renderer/FlutterRendererTest.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
  shell/platform/android/test/io/flutter/plugin/mouse/MouseCursorPluginTest.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
  shell/platform/android/test_runner/build.gradle
  shell/platform/fuchsia/flutter/flatland_platform_view.cc
  shell/platform/fuchsia/flutter/gfx_platform_view.cc
  tools/androidx/files.json
  tools/cipd/android_embedding_bundle/build.gradle
Labels: platform-android, cla: yes, waiting for tree to go green

#28443 Roll Clang Mac from xdUzo8i18... to XvHmkqWWH...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28444 Roll Fuchsia Linux SDK from pypCKSnUc... to 8CGViPqZj...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#28447 Revert "Display Features support (Foldable and Cutout)"
  DEPS
  ci/licenses_golden/licenses_flutter
  lib/ui/fixtures/ui_test.dart
  lib/ui/hooks.dart
  lib/ui/platform_dispatcher.dart
  lib/ui/window.dart
  lib/ui/window/viewport_metrics.cc
  lib/ui/window/viewport_metrics.h
  lib/ui/window/window.cc
  lib/web_ui/lib/src/ui/platform_dispatcher.dart
  lib/web_ui/lib/src/ui/window.dart
  shell/common/shell_test.cc
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/embedding/android/WindowInfoRepositoryCallbackAdapterWrapper.java
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/platform_view_android_jni_impl.cc
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
  shell/platform/android/test/io/flutter/embedding/engine/renderer/FlutterRendererTest.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
  shell/platform/android/test/io/flutter/plugin/mouse/MouseCursorPluginTest.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
  shell/platform/android/test_runner/build.gradle
  shell/platform/fuchsia/flutter/flatland_platform_view.cc
  shell/platform/fuchsia/flutter/gfx_platform_view.cc
  tools/androidx/files.json
  tools/cipd/android_embedding_bundle/build.gradle
Labels: platform-android, cla: yes, platform-web, platform-fuchsia

#28448 Roll Dart SDK from 3e5ab8e22dc3 to 9ad577b3a3e4 (9 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28451 Roll Skia from 517f4ffb12ca to 678ec7187a33 (29 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28403 Remove fuchsia.net.NameLookup
  shell/platform/fuchsia/dart_runner/meta/dart_aot_product_runner.cmx
  shell/platform/fuchsia/dart_runner/meta/dart_aot_runner.cmx
  shell/platform/fuchsia/dart_runner/meta/dart_jit_product_runner.cmx
  shell/platform/fuchsia/dart_runner/meta/dart_jit_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_aot_product_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_aot_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_jit_product_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_jit_runner.cmx
Labels: cla: yes, waiting for tree to go green, platform-fuchsia

#28439 Add RasterCache metrics to the FrameTimings
  common/settings.h
  flow/frame_timings.cc
  flow/frame_timings.h
  flow/frame_timings_recorder_unittests.cc
  flow/raster_cache.cc
  flow/raster_cache.h
  flow/testing/mock_raster_cache.cc
  flow/testing/mock_raster_cache.h
  lib/ui/platform_dispatcher.dart
  lib/ui/window/platform_configuration.h
  lib/web_ui/lib/src/ui/platform_dispatcher.dart
  lib/web_ui/test/frame_timings_common.dart
  shell/common/rasterizer.cc
  shell/common/shell.cc
  testing/dart/window_test.dart
Labels: cla: yes, waiting for tree to go green, platform-web

#28452 Roll Skia from 678ec7187a33 to 0ed278b42de3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28454 Roll Fuchsia Mac SDK from igx6EXsq_... to c0W6I_W1n...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28455 Roll Dart SDK from 9ad577b3a3e4 to 7b3ede5086e0 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28456 Roll Skia from 0ed278b42de3 to 360db877be35 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28333 [TextInput] enroll in autofill by default
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/text_editing_test.dart
  shell/platform/android/io/flutter/embedding/engine/systemchannels/TextInputChannel.java
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPluginTest.mm
Labels: platform-ios, platform-android, cla: yes, waiting for tree to go green, platform-web

#28458 Roll Dart SDK from 7b3ede5086e0 to 238108dd9c6f (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28459 Roll Fuchsia Linux SDK from 8CGViPqZj... to oSxtpYn84...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#28460 Roll Fuchsia Mac SDK from c0W6I_W1n... to CYEiDwUB9...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28461 Roll Dart SDK from 238108dd9c6f to d6fa0d686082 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28463 Roll Fuchsia Linux SDK from oSxtpYn84... to DzxXYKzlk...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#28464 Roll Fuchsia Mac SDK from CYEiDwUB9... to lOgxSvrjd...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28466 Roll Fuchsia Linux SDK from DzxXYKzlk... to GpAkjCJKU...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#28468 Roll Skia from 360db877be35 to f65cd9be7330 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28470 Roll Fuchsia Mac SDK from lOgxSvrjd... to 7OyGTsKNy...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28471 Roll Fuchsia Linux SDK from GpAkjCJKU... to eYuGUghZ1...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#28473 Roll Skia from f65cd9be7330 to fc5efe32b404 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28472 Roll Fuchsia Mac SDK from 7OyGTsKNy... to bmShnqcSD...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28475 Roll Skia from fc5efe32b404 to 48bb9a59e063 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28476 Roll Fuchsia Linux SDK from eYuGUghZ1... to ExKaxwFai...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#28477 Roll Fuchsia Mac SDK from bmShnqcSD... to 8tsd1ptRi...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28482 Roll Fuchsia Mac SDK from 8tsd1ptRi... to rP-YL86e_...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28484 Roll Fuchsia Linux SDK from ExKaxwFai... to F3B5fctvV...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#28486 Roll Skia from 48bb9a59e063 to 10fa1c84b4b2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28493 Roll Skia from ca5d31e4592c to a2c76c77c496 (9 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28496 [flutter_releases] Flutter Stable 2.5.0 Engine Cherrypicks
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes

#28501 Roll Skia from a2c76c77c496 to 72fe2e5e5d8e (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28502 Roll Fuchsia Linux SDK from F3B5fctvV... to j7aYNNbVt...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#28503 Roll Skia from 72fe2e5e5d8e to 5ccad8aa4ee5 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28504 Roll Fuchsia Mac SDK from rP-YL86e_... to cDn94pEla...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28492 Add benchmarks to measure dart -> native time
  ci/licenses_golden/licenses_flutter
  runtime/dart_isolate_unittests.cc
  shell/common/BUILD.gn
  shell/common/dart_native_benchmarks.cc
  shell/common/fixtures/shell_test.dart
  testing/BUILD.gn
  testing/dart_fixture.cc
  testing/dart_fixture.h
  testing/fixture_test.cc
  testing/fixture_test.h
Labels: cla: yes, waiting for tree to go green

#28505 Roll Skia from 5ccad8aa4ee5 to 30f8611655b4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28087 [canvaskit] Optimize CanvasKit platform views in special cases
  lib/web_ui/lib/src/engine/canvaskit/embedded_views.dart
  lib/web_ui/lib/src/engine/canvaskit/surface_factory.dart
  lib/web_ui/test/canvaskit/embedded_views_test.dart
Labels: cla: yes, platform-web

#28509 Revert "Add benchmarks to measure dart -> native time"
  ci/licenses_golden/licenses_flutter
  runtime/dart_isolate_unittests.cc
  shell/common/BUILD.gn
  shell/common/dart_native_benchmarks.cc
  shell/common/fixtures/shell_test.dart
  testing/BUILD.gn
  testing/dart_fixture.cc
  testing/dart_fixture.h
  testing/fixture_test.cc
  testing/fixture_test.h
Labels: cla: yes

#28467 Factor out a task synchronization help function for unit tests
  lib/ui/painting/image_decoder_unittests.cc
  testing/BUILD.gn
  testing/post_task_sync.cc
  testing/post_task_sync.h
Labels: cla: yes, waiting for tree to go green

#28507 Roll Skia from 30f8611655b4 to a0d61eb56199 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28510 Reland "Add benchmarks to measure dart -> native time (#28492)"
  ci/licenses_golden/licenses_flutter
  runtime/dart_isolate_unittests.cc
  shell/common/BUILD.gn
  shell/common/dart_native_benchmarks.cc
  shell/common/fixtures/shell_test.dart
  testing/BUILD.gn
  testing/dart_fixture.cc
  testing/dart_fixture.h
  testing/fixture_test.cc
  testing/fixture_test.h
Labels: cla: yes, waiting for tree to go green

#28491 [fuchsia] Add CML files for dart_runner on CFv2.
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/dart_runner/meta/common.shard.cml
  shell/platform/fuchsia/dart_runner/meta/dart_aot_product_runner.cml
  shell/platform/fuchsia/dart_runner/meta/dart_aot_runner.cml
  shell/platform/fuchsia/dart_runner/meta/dart_jit_product_runner.cml
  shell/platform/fuchsia/dart_runner/meta/dart_jit_runner.cml
  tools/fuchsia/devshell/serve.sh
Labels: cla: yes, platform-fuchsia

#28513 Revert "Add benchmarks to measure dart -> native time (#28492)"
  ci/licenses_golden/licenses_flutter
  runtime/dart_isolate_unittests.cc
  shell/common/BUILD.gn
  shell/common/dart_native_benchmarks.cc
  shell/common/fixtures/shell_test.dart
  testing/BUILD.gn
  testing/dart_fixture.cc
  testing/dart_fixture.h
  testing/fixture_test.cc
  testing/fixture_test.h
Labels: cla: yes

#28512 Roll Fuchsia Linux SDK from j7aYNNbVt... to BP1AUqX5m...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#28515 Roll Skia from a0d61eb56199 to 51f95129285f (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28517 Roll Fuchsia Mac SDK from cDn94pEla... to YnuT0nBZG...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28520 [flutter_releases] apply patches to flutter-2.5-candidate.8
  .ci.yaml
  DEPS
  ci/licenses_golden/licenses_skia
  common/settings.h
  flow/compositor_context.h
  flow/embedded_views.cc
  flow/embedded_views.h
  flow/surface.cc
  flow/surface.h
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/common/rasterizer_unittests.cc
  shell/common/shell_test_external_view_embedder.cc
  shell/common/shell_test_external_view_embedder.h
  shell/gpu/gpu_surface_gl.cc
  shell/gpu/gpu_surface_gl.h
  shell/gpu/gpu_surface_gl_delegate.cc
  shell/gpu/gpu_surface_gl_delegate.h
  shell/gpu/gpu_surface_metal.h
  shell/gpu/gpu_surface_metal.mm
  shell/gpu/gpu_surface_metal_delegate.cc
  shell/gpu/gpu_surface_metal_delegate.h
  shell/platform/android/external_view_embedder/external_view_embedder.cc
  shell/platform/android/external_view_embedder/external_view_embedder.h
  shell/platform/android/external_view_embedder/external_view_embedder_unittests.cc
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/ios_external_view_embedder.h
  shell/platform/darwin/ios/ios_external_view_embedder.mm
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_metal.h
  shell/platform/darwin/ios/ios_surface_metal.mm
  shell/platform/embedder/embedder_external_view_embedder.cc
  shell/platform/embedder/embedder_external_view_embedder.h
  shell/platform/fuchsia/flutter/fuchsia_external_view_embedder.cc
  shell/platform/fuchsia/flutter/fuchsia_external_view_embedder.h
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
Labels: platform-ios, platform-android, cla: yes, platform-fuchsia, embedder

#28521 Roll Clang Linux from dO8igrHyL... to KK8UQefBW...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28522 Roll Clang Mac from XvHmkqWWH... to OWP5QAE8i...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28523 Roll Skia from 51f95129285f to b6981fb6a4c1 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28524 Roll Skia from b6981fb6a4c1 to f4f2f7542d5d (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28526 Roll Fuchsia Linux SDK from BP1AUqX5m... to Y6zuLOGqK...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#28528 Roll Fuchsia Mac SDK from YnuT0nBZG... to 5hlfN-425...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28514 RTM must acquire lock before called IsMergedUnsafe
  fml/raster_thread_merger.cc
  fml/raster_thread_merger.h
Labels: cla: yes, needs tests

#28529 Roll Skia from f4f2f7542d5d to 9605042e8eb2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28369 Prevent app from accessing the GPU in the background in EncodeImage
  ci/licenses_golden/licenses_flutter
  lib/ui/BUILD.gn
  lib/ui/painting/image_encoding.cc
  lib/ui/painting/image_encoding_impl.h
  lib/ui/painting/image_encoding_unittests.cc
Labels: cla: yes, waiting for tree to go green

#28530 Roll Dart SDK from d6fa0d686082 to 45b4f2d77247 (9 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28531 Roll Skia from 9605042e8eb2 to db2b44e01f9a (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28533 Revert "RTM must to acquire lock before called IsMergedUnsafe (#28514)"
  fml/raster_thread_merger.cc
  fml/raster_thread_merger.h
Labels: cla: yes, needs tests

#28356 Correct outdated weak_ptr docs
  fml/memory/weak_ptr.h
Labels: cla: yes, waiting for tree to go green

#28334 Fix typo in a comment in #28098
  shell/platform/windows/flutter_window_winuwp.cc
Labels: cla: yes, waiting for tree to go green, platform-windows, needs tests

#28534 Roll Skia from db2b44e01f9a to 2c704669fb7b (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28168 Add a comment in the FlutterEngineGroup's constructor to avoid using the activity's context
  shell/platform/android/io/flutter/embedding/engine/FlutterEngineGroup.java
Labels: platform-android, cla: yes, waiting for tree to go green, needs tests

#28413 Fix building Dart Fuchsia components and packages
  DEPS
  ci/licenses_golden/tool_signature
  shell/platform/fuchsia/dart-pkg/zircon/BUILD.gn
  shell/platform/fuchsia/dart-pkg/zircon/test/BUILD.gn
  shell/platform/fuchsia/dart-pkg/zircon/test/channel_test.dart
  shell/platform/fuchsia/dart-pkg/zircon/test/meta/channel_test.cmx
  shell/platform/fuchsia/dart/BUILD.gn
  testing/litetest/lib/litetest.dart
  tools/fuchsia/dart/dart_build_config.gni
  tools/fuchsia/dart/dart_library.gni
  tools/fuchsia/dart/dart_package_config.gni
  tools/fuchsia/dart/dart_tool.gni
  tools/fuchsia/dart/gen_app_invocation.py
  tools/fuchsia/dart/gen_dart_package_config.py
  tools/fuchsia/dart/kernel/convert_manifest_to_json.py
  tools/fuchsia/dart/kernel/dart_kernel.gni
  tools/fuchsia/dart/merge_deps_sources.py
  tools/fuchsia/dart/verify_sources.py
  tools/fuchsia/depfile_path_to_relative.py
  tools/fuchsia/dist/resource.gni
  tools/fuchsia/fidl/gen_response_file.py
  tools/fuchsia/flutter/config.gni
  tools/fuchsia/flutter/flutter_build_config.gni
  tools/fuchsia/flutter/flutter_component.gni
  tools/fuchsia/flutter/internal/flutter_dart_component.gni
  tools/fuchsia/gn-sdk/README.md
  tools/fuchsia/gn-sdk/cmc.gni
  tools/fuchsia/gn-sdk/component.gni
  tools/fuchsia/gn-sdk/config/config.gni
  tools/fuchsia/gn-sdk/package.gni
  tools/fuchsia/gn-sdk/pm_tool.gni
  tools/fuchsia/gn-sdk/prepare_package_inputs.py
  tools/fuchsia/gn-sdk/symbol_index.gni
  tools/fuchsia/sdk/find_dart_libraries.py
  tools/fuchsia/toolchain/copy.py
  tools/gn
  tools/licenses/lib/main.dart
  tools/python/python3_action.gni
  tools/python/run_python3_action.py
Labels: cla: yes, waiting for tree to go green, platform-fuchsia

#28537 Roll Dart SDK from 45b4f2d77247 to c1f80cf5fde6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28535 [flutter_releases] flutter-2.6-candidate.3 Engine Cherrypicks
  .ci.yaml
  DEPS
  ci/licenses_golden/licenses_skia
  flow/compositor_context.h
  flow/embedded_views.cc
  flow/embedded_views.h
  flow/surface.cc
  flow/surface.h
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/common/rasterizer_unittests.cc
  shell/common/shell_test_external_view_embedder.cc
  shell/common/shell_test_external_view_embedder.h
  shell/gpu/gpu_surface_gl.cc
  shell/gpu/gpu_surface_gl.h
  shell/gpu/gpu_surface_gl_delegate.cc
  shell/gpu/gpu_surface_gl_delegate.h
  shell/gpu/gpu_surface_metal.h
  shell/gpu/gpu_surface_metal.mm
  shell/gpu/gpu_surface_metal_delegate.cc
  shell/gpu/gpu_surface_metal_delegate.h
  shell/platform/android/external_view_embedder/external_view_embedder.cc
  shell/platform/android/external_view_embedder/external_view_embedder.h
  shell/platform/android/external_view_embedder/external_view_embedder_unittests.cc
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/ios_external_view_embedder.h
  shell/platform/darwin/ios/ios_external_view_embedder.mm
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/darwin/ios/ios_surface_metal.h
  shell/platform/darwin/ios/ios_surface_metal.mm
  shell/platform/embedder/embedder_external_view_embedder.cc
  shell/platform/embedder/embedder_external_view_embedder.h
  shell/platform/fuchsia/flutter/flatland_external_view_embedder.cc
  shell/platform/fuchsia/flutter/flatland_external_view_embedder.h
  shell/platform/fuchsia/flutter/fuchsia_external_view_embedder.cc
  shell/platform/fuchsia/flutter/fuchsia_external_view_embedder.h
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
Labels: platform-ios, platform-android, cla: yes, platform-fuchsia, embedder

#28538 Roll Fuchsia Linux SDK from Y6zuLOGqK... to 7rmb7v6Rn...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#28539 Roll Skia from 2c704669fb7b to f17e4008a89b (11 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28540 Roll Fuchsia Mac SDK from 5hlfN-425... to crjfjPXZN...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28541 Roll Dart SDK from c1f80cf5fde6 to 5171a2583ace (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28474 Discard the resubmitted layer tree of the wrong size instead of rendering it
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/common/shell_unittests.cc
Labels: cla: yes, waiting for tree to go green

#28544 Roll Skia from f17e4008a89b to 9292c806e97d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28545 Roll Dart SDK from 5171a2583ace to e92d1fb9117c (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28546 Roll Skia from 9292c806e97d to c96f97938462 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28547 Roll Dart SDK from e92d1fb9117c to 39f81c50c2e1 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#28548 Roll Fuchsia Linux SDK from 7rmb7v6Rn... to E-2zyKFAo...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#28551 Roll Dart SDK from 39f81c50c2e1 to 8ed0a66c8802 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#28552 Roll Fuchsia Mac SDK from crjfjPXZN... to TXPmKCwBR...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28553 Roll Skia from 588dcc093d81 to c7ffd5e6809e (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28495 Fixes accessibility issue that bridge fails to clean up FlutterScrollableSemanticsObject
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterSemanticsScrollView.h
  shell/platform/darwin/ios/framework/Source/FlutterSemanticsScrollView.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObject.h
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_test.mm
Labels: platform-ios, cla: yes, waiting for tree to go green

#28554 Roll Skia from c7ffd5e6809e to c9d65f0b8ab6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28543 Allow injection of ExecutorService
  shell/platform/android/io/flutter/FlutterInjector.java
  shell/platform/android/io/flutter/embedding/engine/loader/FlutterLoader.java
  shell/platform/android/test/io/flutter/FlutterInjectorTest.java
  shell/platform/android/test/io/flutter/embedding/engine/PluginComponentTest.java
  shell/platform/android/test/io/flutter/embedding/engine/loader/FlutterLoaderTest.java
Labels: platform-android, cla: yes

#28555 Roll Skia from c9d65f0b8ab6 to 2b868d6b9aa3 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28494 [Web text input] Make placeholder text invisible
  lib/web_ui/lib/src/engine/dom_renderer.dart
  lib/web_ui/test/dom_renderer_test.dart
Labels: cla: yes, waiting for tree to go green, platform-web

#28557 Roll Skia from 2b868d6b9aa3 to 9a1f92e4fff5 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28559 Roll Skia from 9a1f92e4fff5 to b13f36944ca7 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28562 Roll Fuchsia Linux SDK from E-2zyKFAo... to rYYCP4o1F...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#28563 Roll Dart SDK from 8ed0a66c8802 to 86bd94a5b8dd (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28565 Roll Fuchsia Mac SDK from TXPmKCwBR... to N5vbbACOm...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28568 Roll Skia from b13f36944ca7 to 2e4dc863da04 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#28570 Roll Fuchsia Linux SDK from rYYCP4o1F... to evxB7Rykf...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#28525 [Desktop][Linux] Add RUNPATH $ORIGIN to flutter_linux_gtk
  shell/platform/linux/BUILD.gn
Labels: cla: yes, platform-linux

#28577 Roll Skia from 2e4dc863da04 to 56efcf2d5bc1 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28580 Roll Skia from 56efcf2d5bc1 to ec7b63a74585 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28582 Roll Dart SDK from 86bd94a5b8dd to 904ca10d48a7 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28572 Roll buildroot to drop support for iOS 8.0.
  DEPS
Labels: cla: yes, waiting for tree to go green

#28584 Renew cirrus gcp credentials
  .cirrus.yml
Labels: cla: yes, waiting for tree to go green

#28587 Roll Fuchsia Linux SDK from evxB7Rykf... to 90jKZc0CF...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#28581 Reland "RTM must to acquire lock before called IsMergedUnsafe (#28514)"
  fml/raster_thread_merger.cc
  fml/raster_thread_merger.h
Labels: cla: yes, needs tests

#28588 Roll Skia from ec7b63a74585 to 7591d4b5ef28 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28585 Roll Fuchsia Mac SDK from N5vbbACOm... to 7JrylIRbJ...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28589 [web] fix the last matrix element in CkPath.shift
  lib/web_ui/lib/src/engine/canvaskit/path.dart
  lib/web_ui/test/canvaskit/path_test.dart
Labels: cla: yes, waiting for tree to go green, platform-web

#28590 Roll Skia from 7591d4b5ef28 to 92f1bc0083bf (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28586 Parse the benchmarks on presubmit jobs
  .ci.yaml
  testing/benchmark/bin/parse_and_send.dart
  testing/benchmark/pubspec.yaml
  testing/benchmark/upload_metrics.sh
Labels: cla: yes, waiting for tree to go green, needs tests

#28591 Roll Dart SDK from 904ca10d48a7 to 6d30f47da59b (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28593 Don't use rFD in pre-Q versions
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityTest.java
Labels: platform-android, cla: yes

#28597 [canvaskit] Don't assign overlays when overlays are disabled
  lib/web_ui/lib/src/engine/canvaskit/embedded_views.dart
Labels: cla: yes, platform-web, needs tests

#28596 prepare drawPoints MaskFilter test for Skia bug fix
  flow/display_list_canvas_unittests.cc
Labels: cla: yes, waiting for tree to go green

#28598 Roll Dart SDK from 6d30f47da59b to 73e8595bcba1 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28600 Roll Skia from 92f1bc0083bf to c3e7cadc1015 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28601 Roll Skia from c3e7cadc1015 to a31021db2b54 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28602 Roll Fuchsia Linux SDK from 90jKZc0CF... to 2eVinpLwx...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#28603 Roll Fuchsia Mac SDK from 7JrylIRbJ... to iychQeTRD...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28604 Roll Dart SDK from 73e8595bcba1 to 1101a7e8c0e6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28605 Roll Skia from a31021db2b54 to 7d19065eefe4 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#28607 Roll Skia from 7d19065eefe4 to 8d9e313db8a3 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28608 Roll Skia from 8d9e313db8a3 to 4ff44eff1cb4 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28610 Roll Skia from 4ff44eff1cb4 to 143e85023798 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28614 Roll Skia from 143e85023798 to b701fa0ac070 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green
