Repository flutter/engine, pull requests merged in 2021-01, with the labels that each got.

#22854 [embedder] [metal] Add support for Metal Renderer Config in the embedder API
  ci/licenses_golden/licenses_flutter
  shell/gpu/gpu_surface_metal.mm
  shell/gpu/gpu_surface_metal_delegate.h
  shell/platform/darwin/ios/ios_surface_metal.h
  shell/platform/darwin/ios/ios_surface_metal.mm
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/embedder/embedder_surface_metal.h
  shell/platform/embedder/embedder_surface_metal.mm
  shell/platform/embedder/fixtures/gradient_metal.png
  shell/platform/embedder/platform_view_embedder.cc
  shell/platform/embedder/platform_view_embedder.h
  shell/platform/embedder/tests/embedder_a11y_unittests.cc
  shell/platform/embedder/tests/embedder_config_builder.cc
  shell/platform/embedder/tests/embedder_config_builder.h
  shell/platform/embedder/tests/embedder_test.cc
  shell/platform/embedder/tests/embedder_test.h
  shell/platform/embedder/tests/embedder_test_context.h
  shell/platform/embedder/tests/embedder_test_context_gl.cc
  shell/platform/embedder/tests/embedder_test_context_gl.h
  shell/platform/embedder/tests/embedder_test_context_metal.cc
  shell/platform/embedder/tests/embedder_test_context_metal.h
  shell/platform/embedder/tests/embedder_test_context_software.cc
  shell/platform/embedder/tests/embedder_test_context_software.h
  shell/platform/embedder/tests/embedder_unittests.cc
  shell/platform/embedder/tests/embedder_unittests_gl.cc
  shell/platform/embedder/tests/embedder_unittests_metal.cc
  shell/platform/embedder/tests/embedder_unittests_util.cc
  testing/BUILD.gn
  testing/test_metal_context.h
  testing/test_metal_context.mm
  testing/test_metal_surface.cc
  testing/test_metal_surface.h
  testing/test_metal_surface_impl.h
  testing/test_metal_surface_impl.mm
  testing/test_metal_surface_unittests.cc
  tools/gn
Labels: cla: yes, waiting for tree to go green

#23359 Roll Skia from 818fd6d35788 to 0d07e14f1e28 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23365 Roll Fuchsia Mac SDK from Sjhog2e8Z... to w3l6o5YIn...
  DEPS
Labels: cla: yes, waiting for tree to go green

#23367 Roll Fuchsia Linux SDK from Sa7TryuTn... to 9zYti9vPP...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#23378 Roll Skia from 0d07e14f1e28 to af35386f2e28 (10 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23382 Roll Fuchsia Mac SDK from w3l6o5YIn... to xAJyFB5RF...
  DEPS
Labels: cla: yes, waiting for tree to go green

#23390 Roll Fuchsia Linux SDK from 9zYti9vPP... to -LcFx-dyk...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#23391 Roll Fuchsia Mac SDK from xAJyFB5RF... to jVpF41b-V...
  DEPS
Labels: cla: yes, waiting for tree to go green

#23398 Roll Fuchsia Linux SDK from -LcFx-dyk... to PJX9mmc_C...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#23400 Roll Fuchsia Mac SDK from jVpF41b-V... to zKX_gO4KU...
  DEPS
Labels: cla: yes, waiting for tree to go green

#23401 Roll Skia from af35386f2e28 to 8898c4d02bbd (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23402 Roll Skia from 8898c4d02bbd to fc914f43cdee (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23403 Roll Fuchsia Linux SDK from PJX9mmc_C... to lxKr8i_TC...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#23404 Roll Fuchsia Mac SDK from zKX_gO4KU... to kPkJqgYZ-...
  DEPS
Labels: cla: yes, waiting for tree to go green

#23405 Roll Skia from fc914f43cdee to 2a92f13579fb (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23406 Roll Skia from 2a92f13579fb to d8ff313e4485 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22900 Add engine tests for Linux shell
  ci/licenses_golden/licenses_flutter
  shell/platform/linux/BUILD.gn
  shell/platform/linux/fl_engine_test.cc
Labels: cla: yes

#23407 Roll Skia from d8ff313e4485 to eae5c1619083 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#22486 Implement settings channel for the Linux shell
  ci/licenses_golden/licenses_flutter
  shell/platform/linux/BUILD.gn
  shell/platform/linux/fl_basic_message_channel_test.cc
  shell/platform/linux/fl_engine.cc
  shell/platform/linux/fl_engine_test.cc
  shell/platform/linux/fl_settings_plugin.cc
  shell/platform/linux/fl_settings_plugin.h
Labels: cla: yes

#23411 Roll Fuchsia Linux SDK from lxKr8i_TC... to nVvyfiqlp...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#23413 Roll Skia from eae5c1619083 to 04ccda6c28c4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23415 Roll Fuchsia Mac SDK from kPkJqgYZ-... to AqAeIeknz...
  DEPS
Labels: cla: yes, waiting for tree to go green

#23416 Roll Skia from 04ccda6c28c4 to 2207edd88cfe (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23417 Roll Skia from 2207edd88cfe to df49e6927b43 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23363 Remove dead code for 3x3 matrices
  shell/common/canvas_spy.cc
  shell/common/canvas_spy.h
  testing/mock_canvas.cc
  testing/mock_canvas.h
Labels: cla: yes

#23419 Roll Skia from df49e6927b43 to dc435fa60df6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23421 Roll Fuchsia Linux SDK from nVvyfiqlp... to 597LHqqTy...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#23422 Roll Skia from dc435fa60df6 to 1efa14d9f4f5 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23424 Roll Fuchsia Mac SDK from AqAeIeknz... to zMCnd-3cP...
  DEPS
Labels: cla: yes, waiting for tree to go green

#23426 Roll Skia from 1efa14d9f4f5 to 0bfbfe5d30c0 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23255 fixes android deeplink to push the path only
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
Labels: cla: yes, platform-android, waiting for tree to go green

#23336 Add support for different simulator architectures
  tools/gn
Labels: cla: yes

#23361 [web] fixing text editing for autofill with semantics
  lib/web_ui/lib/src/engine/semantics/semantics.dart
  lib/web_ui/lib/src/engine/semantics/text_field.dart
  lib/web_ui/test/text_editing_test.dart
Labels: cla: yes

#23427 Roll Skia from 0bfbfe5d30c0 to 6356cb1904b8 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23431 Roll Skia from 6356cb1904b8 to 2833b08efbe6 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23432 [metal] [macos] Suffix for metal builds macos
  tools/gn
Labels: cla: yes

#23434 Roll Skia from 2833b08efbe6 to 736c992966b5 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23439 Update the web profiler_test to wrap benchmark callbacks with allowInterop
  lib/web_ui/test/engine/profiler_test.dart
Labels: cla: yes

#23441 Roll Skia from 736c992966b5 to 854ee85736e3 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23444 Roll Dart SDK from 1c14d9bb3528 to df54886d1295 (14 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#23442 Disable focused_text_field golden on Firefox
  e2etests/web/regular_integration_tests/lib/common.dart
  e2etests/web/regular_integration_tests/test_driver/text_editing_integration.dart
Labels: cla: yes

#23433 [web] specify all defines used for html, ck, auto rendering modes
  web_sdk/BUILD.gn
Labels: cla: yes

#23446 Roll Skia from 854ee85736e3 to 2ca39919583f (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23445 Roll Fuchsia Linux SDK from 597LHqqTy... to 0R7_vIAML...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#23449 Roll Fuchsia Mac SDK from zMCnd-3cP... to de_114mvQ...
  DEPS
Labels: cla: yes, waiting for tree to go green

#23450 Roll Dart SDK from df54886d1295 to 996a58122821 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#23453 Roll Skia from 2ca39919583f to 32d68537a88c (11 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23454 [web] Reland - Switch web-render option default to auto
  lib/web_ui/dev/test_runner.dart
  lib/web_ui/lib/src/engine/canvaskit/initialization.dart
Labels: cla: yes

#23455 Roll Skia from 32d68537a88c to 417743f806d1 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23456 Revert "bump fuchsia toolchain to clang-12"
  DEPS
  tools/fuchsia/clang.gni
  tools/fuchsia/fuchsia_libs.gni
  tools/fuchsia/parse_manifest.py
Labels: cla: yes

#23457 Fix SurfaceView usage when status bar is transparent
  shell/platform/android/io/flutter/embedding/android/FlutterSurfaceView.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
Labels: cla: yes, platform-android

#23461 Roll Fuchsia Linux SDK from 0R7_vIAML... to 5jKxFxRiQ...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#23463 Roll Dart SDK from 996a58122821 to 9542c7bc569a (3 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#23429 Use syslog for logging on Fuchsia
  fml/BUILD.gn
  fml/log_settings.cc
  fml/logging.cc
  fml/logging_unittests.cc
Labels: cla: yes, platform-fuchsia

#23160 [web] Placeholders for rich paragraphs
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/text/canvas_paragraph.dart
  lib/web_ui/lib/src/engine/text/layout_service.dart
  lib/web_ui/lib/src/engine/text/paint_service.dart
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/test/golden_tests/engine/canvas_paragraph/placeholders_test.dart
Labels: cla: yes, platform-web

#23472 Revert Dart roll (#23444)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#23188 Call JavaVM::AttachCurrentThread only once per thread
  fml/platform/android/jni_util.cc
  fml/platform/android/jni_util.h
  shell/platform/android/android_shell_holder.cc
  shell/platform/android/android_shell_holder.h
Labels: cla: yes, platform-android, waiting for tree to go green

#23464 Roll Skia from 417743f806d1 to a7b7964a237a (19 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23479 Roll Skia from a7b7964a237a to d64a3193cd49 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#23482 Roll Fuchsia Mac SDK from de_114mvQ... to cLR0CUb-e...
  DEPS
Labels: cla: yes, waiting for tree to go green

#23484 Roll Fuchsia Linux SDK from 5jKxFxRiQ... to qedaMC5nT...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#22607 [macos] Re-land FlutterOpenGLRenderer isolation
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/common/framework/Headers/FlutterTexture.h
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/macos/framework/Source/FlutterExternalTextureGL.mm
  shell/platform/darwin/macos/framework/Source/FlutterGLCompositor.h
  shell/platform/darwin/macos/framework/Source/FlutterGLCompositor.mm
  shell/platform/darwin/macos/framework/Source/FlutterGLCompositorUnittests.mm
  shell/platform/darwin/macos/framework/Source/FlutterOpenGLRenderer.h
  shell/platform/darwin/macos/framework/Source/FlutterOpenGLRenderer.mm
  shell/platform/darwin/macos/framework/Source/FlutterOpenGLRendererTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterView.h
  shell/platform/darwin/macos/framework/Source/FlutterView.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewController.mm
Labels: cla: yes

#23486 Roll Dart SDK from 1c14d9bb3528 to 6a6a854523fd (21 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#23487 Roll Skia from d64a3193cd49 to be0b3b7363a9 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23474 Provide a runtime switch for selecting SkParagraph text layout
  common/settings.h
  lib/ui/text/paragraph_builder.cc
  lib/ui/ui_dart_state.cc
  lib/ui/ui_dart_state.h
  runtime/dart_isolate.cc
  shell/common/switches.cc
  shell/common/switches.h
  shell/platform/android/io/flutter/embedding/engine/loader/FlutterLoader.java
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
Labels: cla: yes, platform-android, platform-ios, waiting for tree to go green

#23470 [web] Draw shadows for text in rich paragraphs
  lib/web_ui/dev/goldens_lock.yaml
  lib/web_ui/lib/src/engine/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/text/paint_service.dart
  lib/web_ui/test/golden_tests/engine/canvas_paragraph/general_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_paragraph/helper.dart
  lib/web_ui/test/golden_tests/engine/canvas_paragraph/overflow_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_paragraph/placeholders_test.dart
  lib/web_ui/test/golden_tests/engine/canvas_paragraph/shadows_test.dart
Labels: cla: yes, platform-web

#23435 started sharing GPU contexts between spawned engines
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngineTest_mrc.mm
  shell/platform/darwin/ios/platform_view_ios.h
  shell/platform/darwin/ios/platform_view_ios.mm
Labels: cla: yes, platform-ios

#23489 [tests] Normalize SkImage before comparison.
  shell/platform/embedder/fixtures/gradient_xform.png
  shell/platform/embedder/fixtures/scene_without_custom_compositor_with_xform.png
  shell/platform/embedder/tests/embedder_unittests_util.cc
Labels: cla: yes

#23511 disable UnassignedIdsAreReused flaky test
  third_party/accessibility/ax/platform/ax_unique_id_unittest.cc
Labels: cla: yes

#23138 Fix argument specifier and type for g_warning()
  shell/platform/linux/fl_key_event_plugin.cc
Labels: cla: yes, waiting for tree to go green

#23262 [fuchsia][input] Migrate Flutter to "input3"
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/engine.h
  shell/platform/fuchsia/flutter/keyboard.cc
  shell/platform/fuchsia/flutter/keyboard.h
  shell/platform/fuchsia/flutter/keyboard_unittest.cc
  shell/platform/fuchsia/flutter/platform_view.cc
  shell/platform/fuchsia/flutter/platform_view.h
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
  testing/fuchsia/meta/fuchsia_test.cmx
Labels: cla: yes, platform-fuchsia, waiting for tree to go green

#23440 add linux arm host builder
  ci/dev/prod_builders.json
  ci/dev/try_builders.json
Labels: cla: yes, waiting for tree to go green

#23506 Revert "bump fuchsia toolchain to clang-12" (#23456)
  DEPS
  tools/fuchsia/clang.gni
  tools/fuchsia/fuchsia_libs.gni
  tools/fuchsia/parse_manifest.py
Labels: cla: yes

#23476 Update virtual to take sampling
  shell/common/canvas_spy.cc
  shell/common/canvas_spy.h
  testing/mock_canvas.cc
  testing/mock_canvas.h
Labels: cla: yes, waiting for tree to go green

#23516 Skip the FlEngineTest.SettingsPlugin test
  shell/platform/linux/fl_engine_test.cc
Labels: cla: yes

#23509 Roll Fuchsia Mac SDK from cLR0CUb-e... to IGtSAREVb...
  DEPS
Labels: cla: yes, waiting for tree to go green

#23525 Roll Skia from be0b3b7363a9 to c6e25754c4ad (22 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#23512 Roll Fuchsia Linux SDK from qedaMC5nT... to R9qkTURF2...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#23527 Manual roll of Dart 60175b98ac...6a6a854523
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#23224 Rename DynamicFeature->DeferredComponent and impl uninstall DeferredComponents
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/FlutterInjector.java
  shell/platform/android/io/flutter/app/FlutterPlayStoreSplitApplication.java
  shell/platform/android/io/flutter/embedding/engine/FlutterEngine.java
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/engine/deferredcomponents/DeferredComponentManager.java
  shell/platform/android/io/flutter/embedding/engine/deferredcomponents/PlayStoreDeferredComponentManager.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/DeferredComponentChannel.java
  shell/platform/android/platform_view_android_jni_impl.cc
  shell/platform/android/test/io/flutter/FlutterInjectorTest.java
  shell/platform/android/test/io/flutter/FlutterTestSuite.java
  shell/platform/android/test/io/flutter/embedding/engine/deferredcomponents/PlayStoreDeferredComponentManagerTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/DeferredComponentChannelTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/DynamicFeatureChannelTest.java
Labels: cla: yes, platform-android

#23528 Roll Skia from c6e25754c4ad to f4ea30580c91 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23529 Manual roll of Dart d7624b6ec7b...60175b98ac3
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#23531 Roll Skia from f4ea30580c91 to cb3bcf88e382 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23532 Roll Skia from cb3bcf88e382 to d2f51b18065a (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23533 Roll Skia from d2f51b18065a to f5aed172c693 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23534 Roll Fuchsia Mac SDK from IGtSAREVb... to 80NV-ZWKC...
  DEPS
Labels: cla: yes, waiting for tree to go green

#23536 Roll Skia from f5aed172c693 to 0355118f220e (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#23513 Update outdated links
  lib/ui/painting.dart
  shell/platform/android/io/flutter/plugin/common/BasicMessageChannel.java
  shell/platform/android/io/flutter/plugin/common/BinaryCodec.java
  shell/platform/android/io/flutter/plugin/common/BinaryMessenger.java
  shell/platform/android/io/flutter/plugin/common/EventChannel.java
  shell/platform/android/io/flutter/plugin/common/JSONMessageCodec.java
  shell/platform/android/io/flutter/plugin/common/JSONMethodCodec.java
  shell/platform/android/io/flutter/plugin/common/MethodChannel.java
  shell/platform/android/io/flutter/plugin/common/StandardMessageCodec.java
  shell/platform/android/io/flutter/plugin/common/StandardMethodCodec.java
  shell/platform/android/io/flutter/plugin/common/StringCodec.java
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  shell/platform/android/io/flutter/view/TextureRegistry.java
  shell/platform/common/cpp/client_wrapper/include/flutter/event_channel.h
  shell/platform/darwin/common/framework/Headers/FlutterChannels.h
  shell/platform/darwin/common/framework/Headers/FlutterCodecs.h
  shell/platform/darwin/ios/framework/Headers/FlutterEngine.h
  shell/platform/darwin/macos/framework/Source/FlutterTextInputModel.h
  shell/platform/darwin/macos/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/glfw/text_input_plugin.h
  shell/platform/windows/text_input_plugin.h
  tools/gen_objcdoc.sh
Labels: cla: yes, platform-android, platform-ios, waiting for tree to go green

#23504 Make pending event handling more lenient to allow out of order responses
  shell/platform/linux/fl_key_event_plugin.cc
  shell/platform/linux/fl_key_event_plugin_test.cc
  shell/platform/linux/testing/mock_engine.cc
Labels: cla: yes

#23537 Use Fractal rather than Improved noise in shader mask flow unit test
  flow/layers/shader_mask_layer_unittests.cc
Labels: cla: yes

#23541 Roll Skia from 0355118f220e to 2a735ba1cb32 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23543 Roll Fuchsia Linux SDK from R9qkTURF2... to kYdpRwQ7N...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#23544 Roll Skia from 2a735ba1cb32 to 00e43df25bea (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23515 [web] Fix tests in preparation for enabling new rich paragraph implementation
  lib/web_ui/test/golden_tests/engine/scuba.dart
  lib/web_ui/test/paragraph_test.dart
  lib/web_ui/test/text/measurement_test.dart
Labels: cla: yes, platform-web

#23545 Add a keep annotation to the ImeSyncDeferringInsetsCallback.AnimationCallback inner class
  shell/platform/android/io/flutter/plugin/editing/ImeSyncDeferringInsetsCallback.java
Labels: cla: yes, platform-android

#23548 Roll Skia from 00e43df25bea to 047d5bb8d39c (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23551 [web] Fix more tests that are specific to DomParagraph
  lib/web_ui/lib/src/engine/text/layout_service.dart
  lib/web_ui/test/engine/surface/scene_builder_test.dart
  lib/web_ui/test/text/font_loading_test.dart
  lib/web_ui/test/text_test.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#23553 Roll Skia from 047d5bb8d39c to 6bf6963198aa (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23540 [metal] Disable image comparison for gradient_metal test
  shell/platform/embedder/tests/embedder_unittests_metal.cc
  testing/test_metal_context.mm
Labels: cla: yes

#23555 Roll Skia from 6bf6963198aa to 17ce8c5ec6f4 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23430 Add flt-renderer and flt-build-mode debug attributes to <body>
  lib/web_ui/dev/test_runner.dart
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/dom_renderer.dart
  lib/web_ui/test/canvaskit/initialization_test.dart
  lib/web_ui/test/dom_renderer_test.dart
Labels: cla: yes, platform-web

#23556 Roll Skia from 17ce8c5ec6f4 to ae562bd177d9 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23503 During image decoding, avoid using smart pointers for DartWrappables that cross thread-boundaries.
  lib/ui/painting/image_decoder.cc
  lib/ui/painting/image_decoder.h
  lib/ui/painting/image_decoder_unittests.cc
Labels: cla: yes, waiting for tree to go green

#23557 Roll Skia from ae562bd177d9 to 5045de33e754 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23558 Roll Fuchsia Mac SDK from 80NV-ZWKC... to mDPWTwJns...
  DEPS
Labels: cla: yes, waiting for tree to go green

#23560 Roll Skia from 5045de33e754 to 8f282f5d9f30 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23564 Roll Fuchsia Linux SDK from kYdpRwQ7N... to KAsjGNhH6...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#23565 Roll Fuchsia Mac SDK from mDPWTwJns... to dYtTUrjF2...
  DEPS
Labels: cla: yes, waiting for tree to go green

#23493 SDK constraints are now just generally required
  flutter_frontend_server/pubspec.yaml
Labels: cla: yes, waiting for tree to go green

#23570 Roll Fuchsia Mac SDK from dYtTUrjF2... to Zvqkcgk0A...
  DEPS
Labels: cla: yes, waiting for tree to go green

#23575 Roll Skia from 8f282f5d9f30 to 2199cde1f52b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23523 Fix double free in settings plugin tests
  shell/platform/linux/fl_engine_test.cc
Labels: cla: yes

#23578 Roll Dart SDK from d7624b6ec7bb to e7983fd4adb9 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#23579 Roll Skia from 2199cde1f52b to a7548393d370 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23580 Roll Fuchsia Mac SDK from Zvqkcgk0A... to UxTIYduaG...
  DEPS
Labels: cla: yes, waiting for tree to go green

#23582 Roll Fuchsia Linux SDK from KAsjGNhH6... to lbQ4FeXvV...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#23583 Roll Skia from a7548393d370 to 97eede48be1e (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23586 Roll Dart SDK from e7983fd4adb9 to 0145b9604d3c (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#23587 Roll Skia from 97eede48be1e to 58a8ccc59190 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23589 Roll Skia from 58a8ccc59190 to eb54bb51b112 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23590 Roll Fuchsia Mac SDK from UxTIYduaG... to oll0Dgp9o...
  DEPS
Labels: cla: yes, waiting for tree to go green

#23362 Support Mice in iPadOS 13.4+
  shell/platform/darwin/ios/framework/Headers/FlutterViewController.h
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
Labels: cla: yes, platform-ios

#23591 Roll Fuchsia Linux SDK from lbQ4FeXvV... to UB6RsTbdU...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#23593 Roll Skia from eb54bb51b112 to 0a145b77f708 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23547 Fix leak when parsing base64.
  common/graphics/persistent_cache.cc
Labels: cla: yes

#23594 Roll Dart SDK from 0145b9604d3c to 28ec4cc111cf (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#23595 Roll Skia from 0a145b77f708 to 52a7eca13d45 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23598 Fix indexing error in Linux key event handling
  ci/licenses_golden/licenses_flutter
  shell/platform/linux/BUILD.gn
  shell/platform/linux/fl_key_event_plugin.cc
  shell/platform/linux/fl_key_event_plugin.h
  shell/platform/linux/fl_key_event_plugin_private.h
  shell/platform/linux/fl_key_event_plugin_test.cc
Labels: cla: yes

#23597 [web] Convert Ctrl+mousewheel to pointerdata
  lib/web_ui/lib/src/engine/pointer_binding.dart
Labels: cla: yes

#23602 Roll Skia from 52a7eca13d45 to 9a4904f4e0cf (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#23596 [web] Apply font-family and other styles to the paragraph element
  lib/web_ui/lib/src/engine/text/canvas_paragraph.dart
  lib/web_ui/lib/src/engine/text/font_collection.dart
  lib/web_ui/lib/src/engine/text/layout_service.dart
  lib/web_ui/lib/src/engine/text/ruler.dart
  lib/web_ui/test/text/canvas_paragraph_builder_test.dart
  lib/web_ui/test/text/font_loading_test.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#23539 Started asserting that metal gpu contexts are shared
  shell/platform/darwin/ios/framework/Source/FlutterEngineTest_mrc.mm
  shell/platform/darwin/ios/ios_context.h
  shell/platform/darwin/ios/ios_context_gl.h
  shell/platform/darwin/ios/ios_context_gl.mm
  shell/platform/darwin/ios/ios_context_metal.h
  shell/platform/darwin/ios/ios_context_software.h
  shell/platform/darwin/ios/ios_context_software.mm
Labels: cla: yes, platform-ios

#23605 Roll Skia from 9a4904f4e0cf to aed808c7567e (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23606 Roll Dart SDK from 28ec4cc111cf to 7fcbd388b620 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#23348 Roll CanvasKit to 0.22
  lib/web_ui/lib/src/engine/canvaskit/canvas.dart
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_canvas.dart
  lib/web_ui/lib/src/engine/canvaskit/image.dart
  lib/web_ui/lib/src/engine/canvaskit/initialization.dart
  lib/web_ui/lib/src/engine/canvaskit/path.dart
  lib/web_ui/lib/src/engine/canvaskit/shader.dart
  lib/web_ui/lib/src/engine/canvaskit/vertices.dart
  lib/web_ui/test/canvaskit/canvas_golden_test.dart
  lib/web_ui/test/canvaskit/canvaskit_api_test.dart
Labels: cla: yes, platform-web

#23610 Revert "Support Mice in iPadOS 13.4+"
  shell/platform/darwin/ios/framework/Headers/FlutterViewController.h
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
Labels: cla: yes, platform-ios

#23609 Only remove weak pointers that are set.
  shell/platform/linux/fl_key_event_plugin.cc
  shell/platform/linux/fl_mouse_cursor_plugin.cc
  shell/platform/linux/fl_plugin_registrar.cc
Labels: cla: yes

#23612 Roll Skia from aed808c7567e to 7cf3addb1bd8 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23162 [web] Enable the new rich paragraph implementation
  lib/web_ui/lib/src/engine/web_experiments.dart
  lib/web_ui/test/engine/web_experiments_test.dart
  lib/web_ui/test/golden_tests/engine/compositing_golden_test.dart
Labels: cla: yes, platform-web

#23614 Roll Skia from 7cf3addb1bd8 to 93c2d81f199a (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23608 [dart-runner] Avoid calling Destroy on nullptr
  shell/platform/fuchsia/dart_runner/dart_component_controller.cc
  shell/platform/fuchsia/dart_runner/dart_runner.cc
Labels: cla: yes, waiting for tree to go green

#23623 Windows textures: Add placeholder flutter_texture_registrar.h
  ci/licenses_golden/licenses_flutter
  shell/platform/common/cpp/BUILD.gn
  shell/platform/common/cpp/public/flutter_texture_registrar.h
Labels: cla: yes, waiting for tree to go green

#23628 Roll Dart SDK from 7fcbd388b620 to ef8bf7f0a667 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#23550 [canvaskit] embedded views: apply inverse scale on the left
  lib/web_ui/lib/src/engine/canvaskit/embedded_views.dart
  lib/web_ui/test/canvaskit/embedded_views_test.dart
Labels: cla: yes

#23633 Roll Fuchsia Linux SDK from UB6RsTbdU... to FfWbbB4r8...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#23635 Roll Skia from 93c2d81f199a to 9fd75e96d712 (29 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#23607 Roll wuffs to google/wuffs@c86add25f790360f0aca026c4f1c2c4e2d12408d
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes

#23626 Link SkShaper/SkParagraph into the engine by default
  common/config.gni
  lib/ui/BUILD.gn
  lib/ui/text/paragraph_builder.cc
  tools/gn
Labels: cla: yes, waiting for tree to go green

#23561 Android deeplink sends "path + query" instead of just path
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
Labels: cla: yes, platform-android

#23549 Plumbing refactor to allow the usage of Dart_CreateIsolateInGroup
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/dart_isolate_unittests.cc
  runtime/dart_vm_lifecycle.h
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/shell.cc
  shell/common/shell.h
  third_party/tonic/dart_state.h
Labels: cla: yes
