Repository flutter/engine, pull requests merged in 2021-08, with the labels that each got.

#27843 Roll Skia from 464703f5148a to 2236b79a2ad3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27844 Roll Skia from 2236b79a2ad3 to 60f3e2a7d557 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27846 Roll Dart SDK from 2cddb14dc9a9 to a171b36d2fdd (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#27847 Roll Skia from 60f3e2a7d557 to 3bbecc3e9a2b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27793 Improve documentation of Path.extendWithPath
  lib/ui/painting.dart
Labels: cla: yes, needs tests

#27828 Fix race condition in FlutterSurfaceManager
  shell/platform/darwin/macos/framework/Source/FlutterSurfaceManager.mm
Labels: cla: yes, needs tests, platform-macos, waiting for tree to go green

#26011 Ensure correct child isolate initialization in enable-isolate-groups dart vm configuration.
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/isolate_configuration.cc
Labels: cla: yes

#27737 TimePoint::Now uses DartTimestampProvider
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/time/chrono_timestamp_provider.cc
  fml/time/chrono_timestamp_provider.h
  fml/time/dart_timestamp_provider.cc
  fml/time/dart_timestamp_provider.h
  fml/time/time_point.cc
  fml/time/time_point.h
  fml/time/time_point_unittest.cc
Labels: cla: yes

#27845 Roll buildroot to 6cee685b6bed193471aa7eaffae1fdc56cef0060
  DEPS
Labels: cla: yes

#27806 [ci.yaml] Fix jdk version
  .ci.yaml
Labels: cla: yes

#27850 Allow iOS unit tests to run on Xcode 13
  testing/run_tests.py
Labels: cla: yes, waiting for tree to go green

#27851 Explicitly provide the string encoding
  tools/androidx/generate_pom_file.py
Labels: cla: yes, waiting for tree to go green

#27853 Specify string encoding in git revision
  build/git_revision.py
Labels: cla: yes, waiting for tree to go green

#27745 Added assertion up to cv99 for FontFeature.characterVariant
  lib/ui/text.dart
  testing/dart/text_test.dart
Labels: cla: yes

#27855 Roll Skia from 82f5815629bf to 3cb9b9c72d6c (24 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27856 Roll Dart SDK from a171b36d2fdd to 1588eca1fcb3 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27683 fix a number of conditions for computing bounds from saveLayers
  flow/display_list.cc
  flow/display_list.h
  flow/display_list_unittests.cc
  flow/display_list_utils.cc
  flow/display_list_utils.h
Labels: cla: yes, waiting for tree to go green

#27857 Roll Skia from 3cb9b9c72d6c to e7541d396f54 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27858 Roll Skia from e7541d396f54 to b6d60183850f (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27859 Roll Dart SDK from 1588eca1fcb3 to 411cb0341857 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#27860 Roll Skia from b6d60183850f to 1c38121964e5 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27861 Roll Skia from 1c38121964e5 to addccaf9cfb6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27862 Roll Skia from addccaf9cfb6 to ea3489aa1d4c (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27864 Roll Skia from ea3489aa1d4c to 46eb3ab80de7 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27852 Add lockfiles in the scenario app
  testing/scenario_app/README.md
  testing/scenario_app/android/app/build.gradle
  testing/scenario_app/android/app/gradle/dependency-locks/androidApis.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/androidTestUtil.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/compile.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/coreLibraryDesugaring.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/debugAndroidTestAnnotationProcessorClasspath.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/debugAndroidTestCompileClasspath.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/debugAndroidTestRuntimeClasspath.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/debugAnnotationProcessorClasspath.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/debugCompileClasspath.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/debugReverseMetadataValues.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/debugRuntimeClasspath.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/debugUnitTestAnnotationProcessorClasspath.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/debugUnitTestCompileClasspath.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/debugUnitTestRuntimeClasspath.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/debugWearBundling.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/lintChecks.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/lintClassPath.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/lintPublish.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/releaseAnnotationProcessorClasspath.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/releaseCompileClasspath.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/releaseReverseMetadataValues.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/releaseRuntimeClasspath.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/releaseUnitTestAnnotationProcessorClasspath.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/releaseUnitTestCompileClasspath.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/releaseUnitTestRuntimeClasspath.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/releaseWearBundling.lockfile
  testing/scenario_app/android/app/gradle/dependency-locks/testCompile.lockfile
  testing/scenario_app/android/build.gradle
  testing/scenario_app/android/gradle/dependency-locks/buildscript-classpath.lockfile
Labels: cla: yes

#27866 Roll Skia from 46eb3ab80de7 to 86b2c952ae94 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#27836 Add GestureSettings and configure touch slop from Android ViewConfiguration
  lib/ui/fixtures/ui_test.dart
  lib/ui/hooks.dart
  lib/ui/platform_dispatcher.dart
  lib/ui/window.dart
  lib/ui/window/platform_configuration.cc
  lib/ui/window/platform_configuration_unittests.cc
  lib/ui/window/viewport_metrics.cc
  lib/ui/window/viewport_metrics.h
  lib/ui/window/window.cc
  lib/web_ui/lib/src/ui/platform_dispatcher.dart
  lib/web_ui/lib/src/ui/window.dart
  shell/common/shell_test.cc
  shell/common/shell_unittests.cc
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/platform_view_android_jni_impl.cc
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
  shell/platform/fuchsia/flutter/platform_view.cc
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
  testing/dart/BUILD.gn
  testing/dart/gesture_settings_test.dart
Labels: cla: yes, platform-android, platform-fuchsia, platform-web, waiting for tree to go green

#27868 Roll Dart SDK from 411cb0341857 to 96fdaff98f48 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27869 Allow collapsed compositing range
  shell/platform/android/io/flutter/embedding/engine/systemchannels/TextInputChannel.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
Labels: cla: yes, platform-android, waiting for tree to go green

#27870 Roll Skia from 86b2c952ae94 to 68f560683154 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27871 Roll Skia from 68f560683154 to 9cd9d0f3de06 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27495 [web] separate tests into build + test steps; add run command
  lib/web_ui/dev/README.md
  lib/web_ui/dev/browser_lock.dart
  lib/web_ui/dev/browser_lock.yaml
  lib/web_ui/dev/build.dart
  lib/web_ui/dev/chrome.dart
  lib/web_ui/dev/chrome_installer.dart
  lib/web_ui/dev/clean.dart
  lib/web_ui/dev/common.dart
  lib/web_ui/dev/create_simulator.dart
  lib/web_ui/dev/edge.dart
  lib/web_ui/dev/edge_installation.dart
  lib/web_ui/dev/environment.dart
  lib/web_ui/dev/exceptions.dart
  lib/web_ui/dev/felt.dart
  lib/web_ui/dev/firefox.dart
  lib/web_ui/dev/firefox_installer.dart
  lib/web_ui/dev/run.dart
  lib/web_ui/dev/safari_installation.dart
  lib/web_ui/dev/safari_ios.dart
  lib/web_ui/dev/steps/compile_tests_step.dart
  lib/web_ui/dev/steps/run_tests_step.dart
  lib/web_ui/dev/test_platform.dart
  lib/web_ui/dev/test_runner.dart
  lib/web_ui/dev/utils.dart
  lib/web_ui/dev/watcher.dart
  lib/web_ui/test/canvaskit/canvas_golden_test.dart
  lib/web_ui/test/canvaskit/common.dart
  lib/web_ui/test/common.dart
  lib/web_ui/test/html/drawing/draw_vertices_golden_test.dart
  lib/web_ui/test/html/shaders/gradient_golden_test.dart
  lib/web_ui/test/html/shaders/image_shader_golden_test.dart
  lib/web_ui/test/html/shaders/linear_gradient_golden_test.dart
  lib/web_ui/test/html/shaders/radial_gradient_golden_test.dart
  lib/web_ui/test/html/shaders/shader_mask_golden_test.dart
Labels: cla: yes, platform-web

#27873 Roll Skia from 9cd9d0f3de06 to 1b18454ba700 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27875 Roll Skia from 1b18454ba700 to 6ff2b7a4e556 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27876 Roll Skia from 6ff2b7a4e556 to 38d9e0e812ca (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27877 Add configuration for windows android aot.
  ci/builders/windows_android_aot_engine.json
Labels: cla: yes

#27881 Roll Skia from 38d9e0e812ca to 2cbb3f55ea7b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27883 Roll Skia from 2cbb3f55ea7b to de58ca28e59d (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27885 Roll Skia from de58ca28e59d to f0ffd4189742 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27865 Check a11y bridge alive before returning a11y container
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest.mm
Labels: cla: yes, platform-ios, waiting for tree to go green

#27886 Roll Skia from f0ffd4189742 to af844c79d535 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27879 Fix nullability of GestureSettings on ViewConfig
  lib/web_ui/lib/src/ui/platform_dispatcher.dart
  lib/web_ui/test/gesture_settings_test.dart
Labels: cla: yes, platform-web, waiting for tree to go green

#27888 Roll Skia from af844c79d535 to cef047a4904e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27889 Roll Skia from cef047a4904e to 40b82c6b5c2c (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27891 Roll Skia from 40b82c6b5c2c to 9fdcc517b2be (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27894 Roll Skia from 9fdcc517b2be to f3868628f987 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27882 [web] remove implicit casts and implicit dynamic
  lib/web_ui/analysis_options.yaml
  lib/web_ui/lib/src/engine/assets.dart
  lib/web_ui/lib/src/engine/canvaskit/font_fallbacks.dart
  lib/web_ui/lib/src/engine/canvaskit/fonts.dart
  lib/web_ui/lib/src/engine/canvaskit/initialization.dart
  lib/web_ui/lib/src/engine/canvaskit/layer.dart
  lib/web_ui/lib/src/engine/canvaskit/text.dart
  lib/web_ui/lib/src/engine/clipboard.dart
  lib/web_ui/lib/src/engine/dom_renderer.dart
  lib/web_ui/lib/src/engine/html/offscreen_canvas.dart
  lib/web_ui/lib/src/engine/html/shaders/webgl_context.dart
  lib/web_ui/lib/src/engine/html_image_codec.dart
  lib/web_ui/lib/src/engine/keyboard.dart
  lib/web_ui/lib/src/engine/keyboard_binding.dart
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/platform_views/content_manager.dart
  lib/web_ui/lib/src/engine/platform_views/message_handler.dart
  lib/web_ui/lib/src/engine/pointer_binding.dart
  lib/web_ui/lib/src/engine/profiler.dart
  lib/web_ui/lib/src/engine/semantics/accessibility.dart
  lib/web_ui/lib/src/engine/services/message_codecs.dart
  lib/web_ui/lib/src/engine/text/font_collection.dart
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/lib/src/engine/util.dart
  lib/web_ui/lib/src/engine/vector_math.dart
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/test/clipboard_test.dart
  lib/web_ui/test/engine/pointer_binding_test.dart
  lib/web_ui/test/engine/profiler_test.dart
  lib/web_ui/test/engine/surface/scene_builder_test.dart
  lib/web_ui/test/html/canvas_clip_path_golden_test.dart
  lib/web_ui/test/html/compositing/canvas_blend_golden_test.dart
  lib/web_ui/test/html/compositing/color_filter_golden_test.dart
  lib/web_ui/test/html/drawing/canvas_draw_image_golden_test.dart
  lib/web_ui/test/html/drawing/draw_vertices_golden_test.dart
  lib/web_ui/test/html/shaders/image_shader_golden_test.dart
  lib/web_ui/test/keyboard_test.dart
  lib/web_ui/test/matchers.dart
  lib/web_ui/test/text/font_loading_test.dart
  lib/web_ui/test/text_editing_test.dart
  lib/web_ui/tool/unicode_sync_script.dart
Labels: cla: yes, platform-web

#27896 Roll Skia from f3868628f987 to b806da450199 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27897 fuchsia: Fix thread names + add test
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/component.cc
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/engine.h
  shell/platform/fuchsia/flutter/main.cc
  shell/platform/fuchsia/flutter/tests/engine_unittests.cc
Labels: cla: yes, platform-fuchsia, waiting for tree to go green

#27898 Roll buildroot
  DEPS
Labels: cla: yes, waiting for tree to go green

#27854 Unskip iOS launch URL tests
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegateTest.mm
  testing/ios/IosUnitTests/IosUnitTests.xcodeproj/project.pbxproj
  testing/ios/IosUnitTests/IosUnitTests.xcodeproj/xcshareddata/xcschemes/IosUnitTests.xcscheme
Labels: cla: yes, platform-ios, tech-debt, waiting for tree to go green

#27901 Roll Skia from b806da450199 to 36aef96fec47 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27902 Roll Skia from 36aef96fec47 to 337e4848397d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27903 Roll Dart SDK from 96fdaff98f48 to 5406f286f566 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27904 Roll Skia from 337e4848397d to 1f808360e586 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27905 Roll Skia from 1f808360e586 to 100079422340 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27906 Roll Dart SDK from 5406f286f566 to 131d357297e2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27908 Roll Skia from 100079422340 to daa971741613 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27900 Remove references to deprecated SkClipOps
  testing/assertions_skia.cc
Labels: cla: yes, waiting for tree to go green, needs tests

#27909 Roll Skia from daa971741613 to 8ba1e71a1f59 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27899 Embed OCMock and iOS tests into IosUnitTests app
  testing/ios/IosUnitTests/IosUnitTests.xcodeproj/project.pbxproj
Labels: platform-ios, cla: yes, waiting for tree to go green

#27910 Roll Skia from 8ba1e71a1f59 to 7893d2d0862d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27687 Fix a typo in https://github.com/flutter/engine/pull/27311
  shell/platform/windows/system_utils_winuwp.cc
Labels: cla: yes, waiting for tree to go green, platform-windows, needs tests

#27878 Fix wrong EGL value in AndroidEnvironmentGL
  shell/platform/android/android_environment_gl.cc
Labels: platform-android, cla: yes, waiting for tree to go green, needs tests

#27884 Prevent a race between SurfaceTexture.release and attachToGLContext
  shell/platform/android/io/flutter/embedding/engine/renderer/SurfaceTextureWrapper.java
Labels: platform-android, cla: yes, waiting for tree to go green, needs tests

#27912 Roll Skia from 7893d2d0862d to c0bfdffe3d53 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27913 Roll Dart SDK from 131d357297e2 to 6d96e6063edc (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27916 Roll Skia from c0bfdffe3d53 to e53c721d781f (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27911 [web] Fix types of some event listeners
  lib/web_ui/lib/src/engine/keyboard_binding.dart
  lib/web_ui/lib/src/engine/pointer_binding.dart
Labels: cla: yes, platform-web, needs tests

#27917 Roll Skia from e53c721d781f to 134c5f7f690b (12 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27892 Reland enable DisplayList by default
  common/settings.h
Labels: cla: yes, waiting for tree to go green

#27918 Roll Skia from 134c5f7f690b to 462e18821630 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27919 Roll Skia from 462e18821630 to aef5dc78f38a (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27786 fix crash SemanticsObject dealloc and access the children
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest.mm
Labels: platform-ios, cla: yes, waiting for tree to go green, needs tests

#27926 Roll Skia from aef5dc78f38a to 94fcb37e5b4f (15 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: cla: yes, waiting for tree to go green

#27662 Implementation of two or more threads merging for multiple platform views
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/memory/task_runner_checker.cc
  fml/memory/task_runner_checker.h
  fml/memory/task_runner_checker_unittest.cc
  fml/memory/weak_ptr_unittest.cc
  fml/message_loop_task_queues.cc
  fml/message_loop_task_queues.h
  fml/message_loop_task_queues_merge_unmerge_unittests.cc
  fml/message_loop_task_queues_unittests.cc
  fml/raster_thread_merger.cc
  fml/raster_thread_merger.h
  fml/raster_thread_merger_unittests.cc
  fml/shared_thread_merger.cc
  fml/shared_thread_merger.h
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/common/rasterizer_unittests.cc
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/shell_unittests.cc
Labels: platform-android, cla: yes

#27932 Fix routerinformationupdate can take complex json
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/test/window_test.dart
Labels: cla: yes, platform-web

#27934 Roll Fuchsia Mac SDK from rQOi2N8BM... to XuRmqkWX2...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27935 Roll Dart SDK from 6d96e6063edc to cf20a69c75cf (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27937 Roll Fuchsia Linux SDK from q6H_ZE5Bs... to wX-ifEGo5...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#27924 Fix the SurfaceTexture related crash by replacing the JNI weak global reference with WeakReference
  shell/platform/android/android_external_texture_gl.cc
  shell/platform/android/android_external_texture_gl.h
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/jni/jni_mock.h
  shell/platform/android/jni/platform_view_android_jni.h
  shell/platform/android/platform_view_android.cc
  shell/platform/android/platform_view_android.h
  shell/platform/android/platform_view_android_jni_impl.cc
  shell/platform/android/platform_view_android_jni_impl.h
Labels: platform-android, cla: yes, waiting for tree to go green, needs tests

#27938 Roll Skia from 94fcb37e5b4f to ca13a3acc4b2 (10 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27941 Fix sample analyzer errors in text.dart
  lib/ui/text.dart
Labels: cla: yes, needs tests

#27943 Roll Dart SDK from cf20a69c75cf to 749ee4e9e053 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27944 Roll Fuchsia Mac SDK from XuRmqkWX2... to 6XsAe3sPr...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27945 Roll Fuchsia Linux SDK from wX-ifEGo5... to yZ4KOzDE1...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#27947 Roll Skia from ca13a3acc4b2 to 6bc126d24d1b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27760 Do not call CoreWindow::Visible from raster thread
  shell/platform/windows/flutter_window_winuwp.cc
Labels: cla: yes, platform-windows, needs tests

#27948 Roll Fuchsia Mac SDK from 6XsAe3sPr... to aDswwwLbx...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27949 Roll Fuchsia Linux SDK from yZ4KOzDE1... to GBIahjoek...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#27951 Roll Skia from 6bc126d24d1b to a28795fd64a4 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27952 Roll Fuchsia Mac SDK from aDswwwLbx... to iVa6afHb7...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27954 Roll Fuchsia Linux SDK from GBIahjoek... to TK8mj-iQr...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#27940 [ci.yaml] Remove deprecated builder field
  .ci.yaml
Labels: cla: yes, waiting for tree to go green

#27955 Roll Skia from a28795fd64a4 to d27a0d39cea2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27956 Roll Fuchsia Mac SDK from iVa6afHb7... to 0iDbdLRq3...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27957 Roll Fuchsia Linux SDK from TK8mj-iQr... to D6VF_8x5s...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#27958 Roll Skia from d27a0d39cea2 to fdf7b3c41f8e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27960 Roll Skia from fdf7b3c41f8e to 717ef9472b56 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27962 Roll Skia from 717ef9472b56 to ad5944cf8dbb (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27694 UWP: Fix uwptools that does not uninstall package
  shell/platform/windows/uwptool_utils.cc
Labels: cla: yes, platform-windows, needs tests

#27966 Roll Fuchsia Mac SDK from 0iDbdLRq3... to CYrOc5v2a...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27915 Fix memory leak in PlatformViewsController
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
Labels: platform-android, cla: yes, waiting for tree to go green

#27968 Roll Fuchsia Linux SDK from D6VF_8x5s... to 78gBCb4IK...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#27969 Windows host builds don't need android SDK
  ci/builders/windows_host_engine.json
Labels: cla: yes

#27874 Support iOS universal links route deep linking
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegate.mm
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegateTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegate_Test.h
  testing/ios/IosUnitTests/IosUnitTests.xcodeproj/project.pbxproj
Labels: platform-ios, cla: yes, waiting for tree to go green

#27972 Fix: modifier keys not recognized on macOS Web
  lib/web_ui/lib/src/engine/keyboard.dart
  lib/web_ui/test/keyboard_test.dart
Labels: cla: yes, platform-web

#27959 Fix StandardMessageCodec test leaks
  shell/platform/common/client_wrapper/standard_codec.cc
  shell/platform/common/client_wrapper/standard_message_codec_unittests.cc
  shell/platform/common/client_wrapper/standard_method_codec_unittests.cc
Labels: affects: engine, affects: tests, cla: yes

#27978 Use runtime checks for arguments, out directory
  testing/symbols/verify_exported.dart
Labels: cla: yes, waiting for tree to go green, needs tests

#27976 Roll Dart SDK from 749ee4e9e053 to defd2ae02a3f (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27980 Eliminate Mac Android Debug Engine shard
  .ci.yaml
Labels: cla: yes

#27946 Avoid crashing when FlutterImageView is resized to zero dimension
  shell/platform/android/io/flutter/embedding/android/FlutterImageView.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
Labels: platform-android, cla: yes, waiting for tree to go green, needs tests

#27981 Roll Dart SDK from defd2ae02a3f to 2ca55ab863e9 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27967 Roll buildroot to c37164f39300c6e42560a5853e16a919688f7b86
  DEPS
Labels: cla: yes

#27982 Roll Fuchsia Mac SDK from CYrOc5v2a... to 65ocmUBj5...
  DEPS
Labels: cla: yes, waiting for tree to go green

#27983 Roll Dart SDK from 2ca55ab863e9 to 0e1f5a68c69f (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27987 Roll Dart SDK from 0e1f5a68c69f to d68dff4d0820 (1 revision)
  DEPS
Labels: cla: yes, waiting for tree to go green

#27988 Roll Skia from ad5944cf8dbb to 23d8f9453581 (17 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27991 Roll Skia from 23d8f9453581 to d89d445dea5e (10 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27985 [web_ui] Fixed aria-live attribute on web
  AUTHORS
  lib/web_ui/lib/src/engine/semantics/semantics_helper.dart
  lib/web_ui/test/engine/semantics/semantics_helper_test.dart
Labels: cla: yes, platform-web

#27998 Roll Dart SDK from d68dff4d0820 to 081dad8fea3e (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#27971 Engine build configuration for web engine.
  ci/builders/web_engine.json
Labels: cla: yes

#28001 Roll Fuchsia Mac SDK from 65ocmUBj5... to KL3oDHUYH...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28005 Roll Skia from d89d445dea5e to b5de6be2a85d (21 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28006 Roll Dart SDK from 081dad8fea3e to 32238a66b5ca (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28015 Roll Fuchsia Mac SDK from KL3oDHUYH... to Gou0gs-Pc...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28018 Roll Skia from b5de6be2a85d to ae43303ce5fd (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28022 kick builds
  README.md
Labels: cla: yes

#27977 [canvaskit] Release overlays to the cache once they have been used
  lib/web_ui/lib/src/engine/canvaskit/embedded_views.dart
  lib/web_ui/lib/src/engine/canvaskit/surface_factory.dart
  lib/web_ui/test/canvaskit/embedded_views_test.dart
Labels: cla: yes, platform-web

#28023 Roll Skia from ae43303ce5fd to ed7b4f6a237d (12 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28025 [flutter_releases] Flutter beta 2.5.0-5.0.pre Engine Cherrypicks
  .ci.yaml
  DEPS
  ci/licenses_golden/licenses_third_party
  lib/web_ui/lib/src/engine/keyboard.dart
  lib/web_ui/test/keyboard_test.dart
Labels: cla: yes, platform-web

#28027 Roll Skia from ed7b4f6a237d to b65b4da55418 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#27942 Provide Open JDK 11
  DEPS
  ci/licenses_golden/tool_signature
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/app/FlutterActivityEvents.java
  shell/platform/android/io/flutter/embedding/android/AndroidTouchProcessor.java
  shell/platform/android/io/flutter/embedding/android/DrawableSplashScreen.java
  shell/platform/android/io/flutter/embedding/android/ExclusiveAppComponent.java
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/io/flutter/embedding/android/FlutterEngineConfigurator.java
  shell/platform/android/io/flutter/embedding/android/FlutterEngineProvider.java
  shell/platform/android/io/flutter/embedding/android/FlutterFragment.java
  shell/platform/android/io/flutter/embedding/android/SplashScreen.java
  shell/platform/android/io/flutter/embedding/android/SplashScreenProvider.java
  shell/platform/android/io/flutter/embedding/engine/loader/FlutterLoader.java
  shell/platform/android/io/flutter/plugin/common/PluginRegistry.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterAndroidComponentTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterFragmentActivityTest.java
  shell/platform/android/test/io/flutter/embedding/android/KeyChannelResponderTest.java
  shell/platform/android/test/io/flutter/embedding/engine/loader/ApplicationInfoLoaderTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/KeyEventChannelTest.java
  shell/platform/android/test/io/flutter/plugin/editing/InputConnectionAdaptorTest.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
  testing/rules/run_gradle.py
  testing/run_tests.py
  tools/cipd/android_embedding_bundle/build.gradle
  tools/gen_javadoc.py
  tools/licenses/lib/main.dart
Labels: platform-android, cla: yes, waiting for tree to go green

#28010 Bump buildroot version
  DEPS
Labels: cla: yes

#28029 Roll Dart SDK from 32238a66b5ca to 624de6ea9e59 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28007 ui.KeyData.toString
  lib/ui/key.dart
  lib/web_ui/lib/src/ui/key.dart
  lib/web_ui/test/keyboard_converter_test.dart
Labels: cla: yes, platform-web

#27921 Windows keyboard integration tests and fix a number of issues
  ci/licenses_golden/licenses_flutter
  shell/platform/windows/BUILD.gn
  shell/platform/windows/flutter_window_win32_unittests.cc
  shell/platform/windows/flutter_windows_view.cc
  shell/platform/windows/flutter_windows_view.h
  shell/platform/windows/flutter_windows_view_unittests.cc
  shell/platform/windows/keyboard_key_embedder_handler.cc
  shell/platform/windows/keyboard_key_embedder_handler.h
  shell/platform/windows/keyboard_key_embedder_handler_unittests.cc
  shell/platform/windows/keyboard_key_handler.cc
  shell/platform/windows/keyboard_key_handler_unittests.cc
  shell/platform/windows/keyboard_unittests.cc
  shell/platform/windows/testing/engine_modifier.h
  shell/platform/windows/testing/mock_window_win32.cc
  shell/platform/windows/testing/mock_window_win32.h
  shell/platform/windows/testing/test_keyboard.cc
  shell/platform/windows/testing/test_keyboard.h
  shell/platform/windows/testing/test_keyboard_unittests.cc
  shell/platform/windows/testing/wm_builders.cc
  shell/platform/windows/testing/wm_builders.h
  shell/platform/windows/window_win32.cc
  shell/platform/windows/window_win32.h
  shell/platform/windows/window_win32_unittests.cc
Labels: cla: yes, platform-windows

#28031 Roll Skia from b65b4da55418 to b7f2215bbb50 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28032 Roll Fuchsia Linux SDK from 78gBCb4IK... to DuaoKMSCx...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#28008 Fix getLineBoundary for TextAffinity
  lib/ui/text.dart
  testing/dart/paragraph_test.dart
Labels: cla: yes

#28037 Roll Dart SDK from 624de6ea9e59 to 8e3be460559f (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28036 Revert '[fuchsia] Make dart_runner work with cfv2 (#27226)'
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/dart-pkg/fuchsia/sdk_ext/fuchsia.cc
  shell/platform/fuchsia/dart_runner/BUILD.gn
  shell/platform/fuchsia/dart_runner/dart_component_controller.cc
  shell/platform/fuchsia/dart_runner/dart_component_controller.h
  shell/platform/fuchsia/dart_runner/dart_runner.cc
  shell/platform/fuchsia/dart_runner/dart_runner.h
  shell/platform/fuchsia/dart_runner/main.cc
  shell/platform/fuchsia/dart_runner/meta/common.shard.cml
  shell/platform/fuchsia/dart_runner/meta/dart_aot_product_runner.cml
  shell/platform/fuchsia/dart_runner/meta/dart_aot_runner.cml
  shell/platform/fuchsia/dart_runner/meta/dart_jit_product_runner.cml
  shell/platform/fuchsia/dart_runner/meta/dart_jit_runner.cml
  tools/fuchsia/devshell/serve.sh
  tools/fuchsia/fuchsia_archive.gni
Labels: cla: yes, platform-fuchsia, needs tests

#28039 Roll Fuchsia Mac SDK from Gou0gs-Pc... to j0tWnUn2K...
  DEPS
Labels: cla: yes, waiting for tree to go green

#28041 Roll Fuchsia Linux SDK from DuaoKMSCx... to G1rAOfmj_...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: cla: yes, waiting for tree to go green

#28042 Roll Skia from b7f2215bbb50 to ec07af1279ec (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28038 Update builder configurations to apply the new generators format.
  ci/builders/mac_ios_engine.json
  ci/builders/mac_ios_engine_profile.json
  ci/builders/mac_ios_engine_release.json
  ci/builders/windows_host_engine.json
Labels: cla: yes

#28045 Fix some warnings seen after the migration to JDK 11
  shell/platform/android/io/flutter/embedding/android/DrawableSplashScreen.java
  shell/platform/android/io/flutter/embedding/android/SplashScreen.java
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
Labels: platform-android, cla: yes, waiting for tree to go green, needs tests

#28048 Roll Skia from ec07af1279ec to 1fc789943486 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green

#28049 Roll Dart SDK from 8e3be460559f to 7b142a990f2b (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: cla: yes, waiting for tree to go green

#28051 Roll Skia from 1fc789943486 to c01225114a00 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: cla: yes, waiting for tree to go green
