Repository flutter/engine, pull requests merged in 2022-07, with the labels that each got.

#34416 Roll Dart SDK from b4ce30910fda to c7ec4b0becd3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#34419 Roll Skia from d9eeef0790b9 to 4d3970755452 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34420 Roll Dart SDK from c7ec4b0becd3 to a3edf35cacfe (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#34421 Roll Skia from 4d3970755452 to 86a9562a59d6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34422 Roll Fuchsia Linux SDK from GqNddPLTb... to 0gtQRpXLn...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#34423 Roll Dart SDK from a3edf35cacfe to 47bb748491cd (1 revision)
  DEPS
Labels: waiting for tree to go green

#34426 Revert Dart SDK to b4ce30910fda
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green, warning: land on red to fix tree breakage

#34417 Updates linux_android_aot to include all the required artifacts.
  ci/builders/linux_android_aot_engine.json
Labels: autosubmit

#34366 Roll Fuchsia Mac SDK from Xzjb4Glzt... to wNDfcrTb8...
  DEPS
Labels: waiting for tree to go green, will affect goldens

#34304 Add gen_snapshot for windows.
  shell/platform/android/BUILD.gn
Labels: platform-android, autosubmit

#34429 Disables flaky test FlutterMenuPluginTest.TestSetMenu
  shell/platform/darwin/macos/framework/Source/FlutterMenuPluginTest.mm
Labels: platform-macos

#34430 fix empty bounds for flat sets of drawPoints
  display_list/display_list_unittests.cc
  display_list/display_list_utils.h
Labels: autosubmit

#34415 Roll CanvasKit to 0.35.0
  DEPS
  lib/web_ui/dev/canvaskit_lock.yaml
  lib/web_ui/lib/src/engine/configuration.dart
Labels: platform-web, needs tests, autosubmit

#34432 Roll Fuchsia Linux SDK from 0gtQRpXLn... to kUPMpf8-S...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#34433 Disable the ExternalTextureTests scenario app test
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/ExternalTextureTests.java
Labels: autosubmit

#34436 Roll Dart SDK from b4ce30910fda to be9f4cbddbcc (5 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#34437 Roll Fuchsia Mac SDK from wNDfcrTb8... to qRh2av5SJ...
  DEPS
Labels: waiting for tree to go green

#34438 Roll Dart SDK from be9f4cbddbcc to 6ca7a185e036 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#34439 Roll Fuchsia Linux SDK from kUPMpf8-S... to -p5aJwkrm...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#34440 Roll Dart SDK from 6ca7a185e036 to 5f5cc636e87e (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#34434 Start uploading windows artifacts to gcs.
  ci/builders/windows_host_engine.json
Labels: autosubmit

#34442 Roll Dart SDK from 5f5cc636e87e to 28bc810020c9 (1 revision)
  DEPS
Labels: waiting for tree to go green

#34443 Roll Fuchsia Mac SDK from qRh2av5SJ... to SgScoXkZv...
  DEPS
Labels: waiting for tree to go green

#34444 Roll Fuchsia Linux SDK from -p5aJwkrm... to k8lUt8ibj...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#34445 Roll Dart SDK from 28bc810020c9 to 259559ba5091 (1 revision)
  DEPS
Labels: waiting for tree to go green

#34446 Roll Fuchsia Mac SDK from SgScoXkZv... to TsvCUxpOO...
  DEPS
Labels: waiting for tree to go green

#34447 Roll Fuchsia Linux SDK from k8lUt8ibj... to ebxNSy0nA...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#34448 Roll Fuchsia Mac SDK from TsvCUxpOO... to P_RFysK2h...
  DEPS
Labels: waiting for tree to go green

#34395 Avoid crash caused by flutterImageView be null
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
Labels: platform-android, waiting for tree to go green, needs tests

#34449 Roll Fuchsia Linux SDK from ebxNSy0nA... to DYmJPcZvO...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#34450 Roll Dart SDK from 259559ba5091 to 33d60870228e (1 revision)
  DEPS
Labels: waiting for tree to go green

#34456 Roll Fuchsia Mac SDK from P_RFysK2h... to 8vWVRI41j...
  DEPS
Labels: waiting for tree to go green

#34457 Roll Dart SDK from 33d60870228e to e6f65924264a (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#34458 Roll Fuchsia Linux SDK from DYmJPcZvO... to ingIBJh6l...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#34459 Roll Dart SDK from e6f65924264a to 49972670ed75 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#34460 Roll Dart SDK from 49972670ed75 to 0c39b6b22d64 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#34461 Roll Fuchsia Mac SDK from 8vWVRI41j... to wm_s_kjqp...
  DEPS
Labels: waiting for tree to go green

#34463 Roll Dart SDK from 0c39b6b22d64 to 56ee482bfd7e (1 revision)
  DEPS
Labels: waiting for tree to go green

#34465 Roll Fuchsia Mac SDK from wm_s_kjqp... to ZgmVtgCzV...
  DEPS
Labels: waiting for tree to go green

#34466 Roll Dart SDK from 56ee482bfd7e to ed7360c3b35f (1 revision)
  DEPS
Labels: waiting for tree to go green

#34467 Roll Fuchsia Linux SDK from kDHGKd8fA... to cU17xuAL4...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#34468 Roll Dart SDK from ed7360c3b35f to b96047f63240 (1 revision)
  DEPS
Labels: waiting for tree to go green

#34469 Roll Fuchsia Mac SDK from ZgmVtgCzV... to MfyIlgsxp...
  DEPS
Labels: waiting for tree to go green

#34470 Roll Dart SDK from b96047f63240 to 27f798e04093 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#34471 Roll Fuchsia Linux SDK from cU17xuAL4... to aglk80jLz...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#34477 Roll buildroot DEPS
  DEPS
Labels: waiting for tree to go green

#34414 Do not update virtual display size
  shell/platform/android/io/flutter/plugin/platform/VirtualDisplayController.java
Labels: platform-android, autosubmit

#34478 Roll Skia from 48b27317b475 to 48cfc92ec8e7 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34435 Mark BackdropFilter as inheriting opacity, enabling fading of BDFs
  flow/layers/backdrop_filter_layer.cc
  flow/layers/backdrop_filter_layer_unittests.cc
  flow/layers/clip_shape_layer.h
  flow/layers/color_filter_layer.cc
  flow/layers/display_list_layer.cc
  flow/layers/image_filter_layer.cc
  flow/layers/layer.h
  flow/layers/shader_mask_layer.cc
  flow/layers/texture_layer.cc
Labels: autosubmit

#34484 Roll Skia from 48cfc92ec8e7 to f0f42774433d (11 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34464 Use sRGB colorspace for IOSurface
  shell/platform/darwin/macos/framework/Source/FlutterIOSurfaceHolder.mm
Labels: waiting for tree to go green, platform-macos, needs tests

#34485 Roll Fuchsia Linux SDK from aglk80jLz... to nb9qHrKEg...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#34486 Roll Dart SDK from 27f798e04093 to 384160690d75 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#34488 [Keyboard, Linux] Disconnect keymap signal on dispose
  shell/platform/linux/fl_view.cc
Labels: platform-linux, needs tests

#34489 Roll Skia from f0f42774433d to 45600771c27b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34276 A11y high contrast
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/semantics/semantics.dart
  lib/web_ui/test/engine/platform_dispatcher_test.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
Labels: platform-web

#34490 Roll Fuchsia Mac SDK from 7N3DE7WM5... to em81idYe6...
  DEPS
Labels: waiting for tree to go green

#34492 Roll Skia from 25e2d505d9f9 to 7a78e3ff4f44 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34493 Roll Dart SDK from 384160690d75 to 29d4cf893476 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#34494 Roll Skia from 7a78e3ff4f44 to 7dae3ab350ae (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34499 Roll Skia from b950ac6d45b0 to 6db6110a1089 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34500 Roll Dart SDK from 29d4cf893476 to d0ec2a50142e (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#34501 [fuchsia] Enable CQ on Fuchsia release branches.
  .ci.yaml
Labels: autosubmit

#34502 Roll Skia from 6db6110a1089 to 12183112cd8c (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34379 [web] Reland 'Migrate Flutter Web DOM usage to JS static interop - 44.'
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  web_sdk/sdk_rewriter.dart
  web_sdk/test/js_access_test.dart
  web_sdk/test/sdk_rewriter_test.dart
  web_sdk/web_engine_tester/lib/golden_tester.dart
  web_sdk/web_engine_tester/lib/static/host.dart
Labels: platform-web

#34505 Roll Skia from 12183112cd8c to 87c9447d1ee7 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34506 Roll Fuchsia Mac SDK from em81idYe6... to acFRjJSqV...
  DEPS
Labels: waiting for tree to go green

#34428 Consolidate method signature for `PlatformDispatcher.onError`
  lib/web_ui/lib/platform_dispatcher.dart
  web_sdk/test/api_conform_test.dart
Labels: platform-web, autosubmit

#34507 remove fractional translation gn args
  tools/gn
Labels: autosubmit

#34511 Roll Dart SDK from d0ec2a50142e to 098d3d375ace (1 revision)
  DEPS
Labels: waiting for tree to go green

#33858 [dart_test_runner] Stdout/stderr logging to current execution window.
  shell/platform/fuchsia/dart_runner/dart_test_component_controller_v2.cc
  shell/platform/fuchsia/dart_runner/dart_test_component_controller_v2.h
Labels: Work in progress (WIP), platform-fuchsia, needs tests

#34517 Revert "Implement support for explicit specification of JIT snapshots (#34244)"
  runtime/dart_snapshot.cc
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: embedder

#34515 delete dl flag from allowlist
  shell/common/switches.cc
Labels: needs tests, autosubmit

#34516 Roll Skia from 87c9447d1ee7 to a4d684fc3ee9 (12 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34402 Add new pointer signal for cancelling scroll inertia
  lib/ui/pointer.dart
  lib/ui/window/pointer_data.h
  lib/ui/window/pointer_data_packet_converter.cc
  lib/ui/window/pointer_data_packet_converter_unittests.cc
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
Labels: embedder, autosubmit

#34473 Fix issue about multi-engine loading assets throws exception after engines restart
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/android_shell_holder.cc
  shell/platform/android/android_shell_holder.h
  shell/platform/android/apk_asset_provider.cc
  shell/platform/android/apk_asset_provider.h
  shell/platform/android/apk_asset_provider_unittests.cc
  shell/platform/android/platform_view_android_jni_impl.cc
Labels: platform-android, autosubmit

#34522 Roll Skia from a4d684fc3ee9 to f928ea433cf8 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34525 Roll Clang Windows from 8gu-4f52O... to ydMHECzTQ...
  DEPS
Labels: waiting for tree to go green

#34526 Roll Clang Mac from uiTqabHNU... to 2UxMJ4z6h...
  DEPS
Labels: waiting for tree to go green

#34527 Roll Fuchsia Linux SDK from bl8dAe_5Q... to 4Nrvd2i_7...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#34529 Roll Skia from f928ea433cf8 to 458298244947 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34531 Roll Skia from 458298244947 to 1716e84b8f5d (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34532 Roll Fuchsia Mac SDK from acFRjJSqV... to NCG2aqGtr...
  DEPS
Labels: waiting for tree to go green

#34533 Roll Dart SDK from 098d3d375ace to 6f8a190269b2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#34535 Revert "Add new pointer signal for cancelling scroll inertia"
  lib/ui/pointer.dart
  lib/ui/window/pointer_data.h
  lib/ui/window/pointer_data_packet_converter.cc
  lib/ui/window/pointer_data_packet_converter_unittests.cc
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
Labels: embedder

#34534 Roll Skia from 1716e84b8f5d to fb1fe33fc2f6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34536 Roll Dart SDK from 6f8a190269b2 to f367c8e54faf (1 revision)
  DEPS
Labels: waiting for tree to go green

#34539 Roll Skia from fb1fe33fc2f6 to 663ec474bbb8 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34540 Roll Skia from 663ec474bbb8 to f3207f577bd3 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34541 Roll Dart SDK from f367c8e54faf to 99553e192d27 (1 revision)
  DEPS
Labels: waiting for tree to go green

#34543 Roll Fuchsia Linux SDK from 4Nrvd2i_7... to YRLsIequE...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#34544 Roll Skia from f3207f577bd3 to a9a29beef42d (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34545 Reland jit snapshots
  runtime/dart_snapshot.cc
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: embedder

#34546 Roll Skia from a9a29beef42d to 56391549a2a4 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34504 Rename toGpuImage to toImageSync
  lib/ui/compositing.dart
  lib/ui/compositing/scene.cc
  lib/ui/compositing/scene.h
  lib/ui/painting.dart
  lib/ui/painting/picture.cc
  lib/ui/painting/picture.h
  lib/web_ui/lib/canvas.dart
  lib/web_ui/lib/compositing.dart
  lib/web_ui/lib/src/engine/canvaskit/layer_scene_builder.dart
  lib/web_ui/lib/src/engine/canvaskit/picture.dart
  lib/web_ui/lib/src/engine/html/scene.dart
  lib/web_ui/lib/src/engine/picture.dart
  lib/web_ui/test/canvaskit/picture_test.dart
  shell/common/fixtures/shell_test.dart
  shell/common/rasterizer.cc
  shell/common/shell_unittests.cc
  testing/dart/canvas_test.dart
  testing/dart/compositing_test.dart
  testing/dart/image_shader_test.dart
Labels: platform-web, autosubmit

#34547 Roll Fuchsia Mac SDK from NCG2aqGtr... to Wsnfep7Ig...
  DEPS
Labels: waiting for tree to go green

#34548 Roll Skia from 56391549a2a4 to 655de12b8286 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34549 Roll Dart SDK from 99553e192d27 to b0a15318b2e8 (1 revision)
  DEPS
Labels: waiting for tree to go green

#34550 Roll Skia from 655de12b8286 to bd472a01edb2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34551 Disable libcxx deprecation warnings for FML's use of UTF-16 string converters
  fml/BUILD.gn
Labels: autosubmit

#34413 [Keyboard, iOS] Use special key mapping for logical keys
  shell/platform/darwin/ios/framework/Source/FlutterEmbedderKeyResponder.mm
  shell/platform/darwin/ios/framework/Source/FlutterEmbedderKeyResponderTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterFakeKeyEvents.h
  shell/platform/darwin/ios/framework/Source/FlutterFakeKeyEvents.mm
  shell/platform/darwin/ios/framework/Source/KeyCodeMap.g.mm
  shell/platform/darwin/ios/framework/Source/KeyCodeMap_Internal.h
Labels: platform-ios, affects: text input

#34557 Clean up some optional Dart lints
  testing/dart/assets_test.dart
  testing/dart/codec_test.dart
  testing/dart/compositing_test.dart
  testing/dart/image_shader_test.dart
  testing/dart/paragraph_test.dart
  testing/dart/serial_gc_test.dart
  testing/dart/text_test.dart
Labels: autosubmit

#34518 Roll flatbuffers
  DEPS
  ci/licenses_golden/licenses_third_party
  tools/licenses/README.md
Labels: autosubmit

#34558 Roll Skia from bd472a01edb2 to 800633b99134 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34560 Roll Skia from 800633b99134 to 84bffff74fd9 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: waiting for tree to go green

#34563 Roll Dart SDK from beaac0b12efd to 32ab83eec7d5 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#34564 Roll Fuchsia Linux SDK from YRLsIequE... to _usbbeSR5...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#34566 Roll Dart SDK from 32ab83eec7d5 to 3310fb4777b8 (1 revision)
  DEPS
Labels: waiting for tree to go green

#34567 Roll Fuchsia Mac SDK from Wsnfep7Ig... to dzac9QkG_...
  DEPS
Labels: waiting for tree to go green

#34559 [Impeller] Disable libcxx deprecation warnings for Impeller's use of string converters
  impeller/compiler/BUILD.gn
Labels: impeller, autosubmit

#34569 Roll Fuchsia Linux SDK from _usbbeSR5... to akscvivFq...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#34570 Roll Dart SDK from 3310fb4777b8 to 654db247514f (1 revision)
  DEPS
Labels: waiting for tree to go green

#34571 Roll Fuchsia Mac SDK from dzac9QkG_... to GeLb7EZfD...
  DEPS
Labels: waiting for tree to go green

#34572 Roll Skia from 84bffff74fd9 to 614301033f2e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34573 Roll Fuchsia Linux SDK from akscvivFq... to ZAXevTC85...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#34575 Roll Fuchsia Mac SDK from GeLb7EZfD... to dkb8SA85H...
  DEPS
Labels: waiting for tree to go green

#34576 Roll Fuchsia Linux SDK from ZAXevTC85... to M1LrOfhWG...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#34577 Roll Fuchsia Mac SDK from dkb8SA85H... to m2ohKWpxN...
  DEPS
Labels: waiting for tree to go green

#34578 Roll Skia from 614301033f2e to ebc51e1022e9 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34562 Fix premature DisplayList caching
  flow/layers/display_list_layer_unittests.cc
  flow/layers/display_list_raster_cache_item.cc
  flow/layers/layer_raster_cache_item.cc
  flow/raster_cache.cc
  flow/raster_cache.h
  flow/testing/mock_raster_cache.cc
Labels: autosubmit

#34579 Roll Fuchsia Linux SDK from M1LrOfhWG... to bf53fjQII...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#34583 Roll Skia from e2ba2f5b20e0 to 35af4736c865 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34584 Roll Fuchsia Mac SDK from m2ohKWpxN... to yZA7dJQLr...
  DEPS
Labels: waiting for tree to go green

#34568 Increase IO thread's priority on iOS to avoid stucks
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngineTest.mm
Labels: platform-ios, autosubmit

#34589 Roll Skia from 35af4736c865 to 6aa1170c1040 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34592 Roll Skia from 6aa1170c1040 to 5186379e5e0e (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34356 Reland "iOS spell-checker ObjC #32941"
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterSpellCheckPlugin.h
  shell/platform/darwin/ios/framework/Source/FlutterSpellCheckPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterSpellCheckPluginTest.mm
  testing/ios/IosUnitTests/IosUnitTests.xcodeproj/project.pbxproj
Labels: platform-ios, will affect goldens, autosubmit

#34594 Roll Skia from 5186379e5e0e to a33befc610c2 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34598 Roll Fuchsia Linux SDK from bf53fjQII... to qYxmXNNbD...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#34602 Roll Fuchsia Mac SDK from yZA7dJQLr... to yACuKpsIP...
  DEPS
Labels: waiting for tree to go green

#34601 Set the 'visibility' of 'FlutterView' to the previous one in 'FragmentActivityAndFragment.onStart'
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
Labels: platform-android, autosubmit

#34603 Roll Skia from a33befc610c2 to 56540e5e0143 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34604 Roll Skia from 56540e5e0143 to 768043eb0dac (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34606 Roll Skia from 768043eb0dac to f54445e937b0 (1 revision)
  DEPS
Labels: waiting for tree to go green

#34609 Roll Fuchsia Linux SDK from qYxmXNNbD... to BARD-Ffzs...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#34611 Roll Skia from f54445e937b0 to c5c0043a746c (9 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#34612 Roll Dart SDK from 654db247514f to 3aa21e5c9ccd (1 revision)
  DEPS
Labels: waiting for tree to go green

#34614 Roll Fuchsia Mac SDK from yACuKpsIP... to JzuwNgsTf...
  DEPS
Labels: waiting for tree to go green

#34617 Roll Skia from c5c0043a746c to 8b2633215eee (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#34616 Roll Dart SDK from 3aa21e5c9ccd to 69b8f98a9713 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#34588 Set the IO thread on Android to normal priority
  shell/platform/android/android_shell_holder.cc
Labels: platform-android, needs tests, autosubmit

#34555 [fuchsia][scenic] Move pointer injector to embedder.
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/flatland_platform_view.cc
  shell/platform/fuchsia/flutter/flatland_platform_view.h
  shell/platform/fuchsia/flutter/gfx_platform_view.cc
  shell/platform/fuchsia/flutter/gfx_platform_view.h
  shell/platform/fuchsia/flutter/meta/common.shard.cml
  shell/platform/fuchsia/flutter/meta/flutter_aot_product_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_aot_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_jit_product_runner.cmx
  shell/platform/fuchsia/flutter/meta/flutter_jit_runner.cmx
  shell/platform/fuchsia/flutter/platform_view.cc
  shell/platform/fuchsia/flutter/platform_view.h
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
  shell/platform/fuchsia/flutter/pointer_injector_delegate.cc
  shell/platform/fuchsia/flutter/pointer_injector_delegate.h
  shell/platform/fuchsia/flutter/pointer_injector_delegate_unittest.cc
  shell/platform/fuchsia/flutter/tests/fakes/BUILD.gn
  shell/platform/fuchsia/flutter/tests/fakes/mock_injector_registry.h
  shell/platform/fuchsia/flutter/tests/flatland_platform_view_unittest.cc
Labels: platform-fuchsia

#34620 Roll Skia from 8b2633215eee to 79ce404aef81 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#32094 Windows scrolling integration
  shell/platform/windows/flutter_window_win32.cc
  shell/platform/windows/flutter_window_win32_unittests.cc
  shell/platform/windows/window_win32.cc
  shell/platform/windows/window_win32.h
Labels: platform-windows, needs tests

#34621 Roll Skia from 79ce404aef81 to 1ad80ef43167 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#34622 Roll Dart SDK from 69b8f98a9713 to 1cda58543a1a (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#34523 Use the correct 'SnapshotDelegate' in 'RuntimeController::Spawn'
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/engine_unittests.cc
  shell/common/shell.cc
  shell/common/shell_unittests.cc
Labels: autosubmit

#34628 Roll Fuchsia Linux SDK from BARD-Ffzs... to gYlny6d_q...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#34629 Roll Skia from 1ad80ef43167 to 07e65f9cb26e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#34630 Roll Dart SDK from 1cda58543a1a to 270181685689 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green
