Repository flutter/engine, pull requests merged in 2022-11, with the labels that each got.

#37065 [web] Add web support for FragmentProgram
  lib/web_ui/lib/painting.dart
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/painting.dart
  lib/web_ui/lib/src/engine/canvaskit/renderer.dart
  lib/web_ui/lib/src/engine/canvaskit/shader.dart
  lib/web_ui/lib/src/engine/html/painting.dart
  lib/web_ui/lib/src/engine/html/renderer.dart
  lib/web_ui/lib/src/engine/renderer.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/renderer.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_stub/renderer.dart
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/test/canvaskit/canvaskit_api_test.dart
  lib/web_ui/test/canvaskit/fragment_program_test.dart
Labels: platform-web, autosubmit

#37186 Roll Dart SDK from 94d3810050ef to 00022cf1e36d (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autosubmit

#36996 [iOS] Not log callback cache info if cache is empty
  lib/ui/plugins/callback_cache.cc
Labels: needs tests, autosubmit

#37190 [releases] Revert "Use iOS 16 APIs to rotate orientation (#36874)" (#37165)
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
Labels: platform-ios

#37189 Roll Fuchsia Linux SDK from Y30GJYiorAEkSGP_l... to HIyR3VT4K1bz5xMC_...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#37192 Roll Dart SDK from 00022cf1e36d to a52b34b422cc (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autosubmit

#37194 Roll Fuchsia Mac SDK from tQsqCS8G9XlzKsYTi... to 8crH2J8BDsDv1fcgY...
  DEPS
Labels: autosubmit

#37126 [Impeller] Add FlutterFragCoord to impellerc shader lib
  ci/licenses_golden/licenses_flutter
  impeller/compiler/shader_lib/flutter/runtime_effect.glsl
  impeller/fixtures/ink_sparkle.frag
  impeller/fixtures/simple.vert
  lib/ui/fixtures/shaders/general_shaders/uniforms_sorted.frag
Labels: impeller

#37097 [web] Changes to EditableState to be able to handle Framework text selection shortcuts
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/composition_test.dart
  lib/web_ui/test/text_editing_test.dart
Labels: platform-web, autosubmit

#37207 Roll Skia from 297af9e7af73 to 4cf2c682d5a7 (44 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37208 Roll Dart SDK from a52b34b422cc to b177ece3a265 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autosubmit

#37202 [Impeller] Filter Composite Alpha to available options
  impeller/renderer/backend/vulkan/swapchain_details_vk.cc
  impeller/renderer/backend/vulkan/swapchain_details_vk.h
  impeller/renderer/backend/vulkan/swapchain_vk.cc
Labels: needs tests

#37209 Roll Skia from 4cf2c682d5a7 to 0490d8164997 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37213 Roll Fuchsia Linux SDK from HIyR3VT4K1bz5xMC_... to x2DfaGq7LXsv_qYOD...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#37216 Roll Skia from 0490d8164997 to 027bf16067ab (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37217 Roll Fuchsia Mac SDK from 8crH2J8BDsDv1fcgY... to 0tQzhoyjtiVR2cEXa...
  DEPS
Labels: autosubmit

#37218 [Impeller] Add the Impeller shader lib to the engine archive targets
  build/archives/BUILD.gn
Labels: impeller, autosubmit

#37215 [Impeller] Implement GPU Surface Vulkan for Impeller
  ci/licenses_golden/licenses_flutter
  shell/gpu/BUILD.gn
  shell/gpu/gpu_surface_vulkan_impeller.cc
  shell/gpu/gpu_surface_vulkan_impeller.h
  vulkan/vulkan_native_surface_android.h
  vulkan/vulkan_swapchain.cc
Labels: needs tests, impeller, autosubmit

#37214 [Impeller] Context VK can create vulkan surface from Android Native Window
  impeller/renderer/backend/vulkan/context_vk.cc
  impeller/renderer/backend/vulkan/context_vk.h
Labels: needs tests, impeller, autosubmit

#36389 Roll ANGLE, vulkan-deps, and shaderc
  DEPS
  ci/licenses_golden/licenses_third_party
  ci/licenses_golden/tool_signature
  tools/gn
  tools/licenses/lib/patterns.dart
Labels: needs tests

#37089 [web] Prevent (forced-colors: active) from making the invisible text fields visible
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/text_editing_test.dart
Labels: platform-web, autosubmit

#37092 [web] Store Paint.color as an int. Only create a ui.Color when the color getter is called.
  lib/web_ui/lib/src/engine/canvas_pool.dart
  lib/web_ui/lib/src/engine/canvaskit/painting.dart
  lib/web_ui/lib/src/engine/html/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/html/clip.dart
  lib/web_ui/lib/src/engine/html/dom_canvas.dart
  lib/web_ui/lib/src/engine/html/painting.dart
  lib/web_ui/lib/src/engine/html/render_vertices.dart
  lib/web_ui/lib/src/engine/util.dart
  lib/web_ui/test/html/bitmap_canvas_golden_test.dart
  lib/web_ui/test/html/canvas_winding_rule_golden_test.dart
  lib/web_ui/test/html/drawing/canvas_arc_golden_test.dart
  lib/web_ui/test/html/drawing/canvas_draw_points_golden_test.dart
  lib/web_ui/test/html/drawing/canvas_lines_golden_test.dart
  lib/web_ui/test/html/drawing/canvas_rect_golden_test.dart
  lib/web_ui/test/html/drawing/canvas_stroke_joins_golden_test.dart
  lib/web_ui/test/html/drawing/canvas_stroke_rects_golden_test.dart
  lib/web_ui/test/html/drawing/dom_clip_stroke_golden_test.dart
  lib/web_ui/test/html/paragraph/bidi_golden_test.dart
  lib/web_ui/test/html/paragraph/general_golden_test.dart
  lib/web_ui/test/html/paragraph/helper.dart
  lib/web_ui/test/html/paragraph/overflow_golden_test.dart
  lib/web_ui/test/html/recording_canvas_golden_test.dart
Labels: platform-web, needs tests

#37223 Roll Skia from 027bf16067ab to b09e51fc8d51 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37059 Clang-tidy: cleaned up the output.
  tools/clang_tidy/lib/clang_tidy.dart
  tools/clang_tidy/test/clang_tidy_test.dart
Labels: needs tests, autosubmit

#37109 Remove unused variable `depth_`
  shell/common/pipeline.h
Labels: autosubmit

#37227 Roll Dart SDK from b177ece3a265 to 489ccc317a9a (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autosubmit

#37228 Roll Skia from b09e51fc8d51 to 674d2264733f (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37225 [Impeller] Copy shaders lib to output directory
  impeller/compiler/BUILD.gn
  impeller/compiler/shader_lib/BUILD.gn
  impeller/compiler/shader_lib/flutter/BUILD.gn
  impeller/compiler/shader_lib/impeller/BUILD.gn
Labels: impeller, autosubmit

#37230 Roll Skia from 674d2264733f to 03467adc9ae2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37231 Roll Dart SDK from 489ccc317a9a to bf0d81f08924 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autosubmit

#37232 Roll Skia from 03467adc9ae2 to c2cf0164e283 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37234 Roll Fuchsia Linux SDK from x2DfaGq7LXsv_qYOD... to 9P-WnaDSnineZtFz0...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#37235 Roll Skia from c2cf0164e283 to bdd465afaf71 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37237 Roll Skia from bdd465afaf71 to d573b9e039ef (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37229 [Impeller] Add ability to unregister shaders
  impeller/renderer/backend/gles/shader_library_gles.cc
  impeller/renderer/backend/gles/shader_library_gles.h
  impeller/renderer/backend/metal/shader_library_mtl.h
  impeller/renderer/backend/metal/shader_library_mtl.mm
  impeller/renderer/backend/vulkan/shader_library_vk.cc
  impeller/renderer/backend/vulkan/shader_library_vk.h
  impeller/renderer/shader_library.h
  impeller/runtime_stage/runtime_stage_unittests.cc
Labels: impeller

#37241 Roll Dart SDK from bf0d81f08924 to 45b43e23489a (1 revision)
  DEPS
Labels: autosubmit

#37242 Roll Skia from d573b9e039ef to 0ec150005ce2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#36255 Wasm harness for unit tests.
  lib/web_ui/dev/browser_lock.yaml
  lib/web_ui/dev/chrome.dart
  lib/web_ui/dev/common.dart
  lib/web_ui/dev/environment.dart
  lib/web_ui/dev/run.dart
  lib/web_ui/dev/steps/compile_tests_step.dart
  lib/web_ui/dev/steps/run_tests_step.dart
  lib/web_ui/dev/test_dart2wasm.js
  lib/web_ui/dev/test_platform.dart
  lib/web_ui/dev/test_runner.dart
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/pubspec.yaml
  lib/web_ui/test/engine/profiler_test.dart
  lib/web_ui/test/engine/window_test.dart
  lib/web_ui/test/html/shaders/gradient_golden_test.dart
  web_sdk/pubspec.yaml
  web_sdk/web_engine_tester/pubspec.yaml
  web_sdk/web_test_utils/pubspec.yaml
Labels: platform-web, will affect goldens, autosubmit

#37243 Roll Skia from 0ec150005ce2 to 4a5bd7106125 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37219 reland "Migrate darwin common "framework_shared" target to ARC #37049"
  shell/platform/darwin/BUILD.gn
  shell/platform/darwin/common/BUILD.gn
  shell/platform/darwin/common/framework/Headers/FlutterCodecs.h
  shell/platform/darwin/common/framework/Source/FlutterChannels.mm
  shell/platform/darwin/common/framework/Source/FlutterChannelsTest.m
  shell/platform/darwin/common/framework/Source/FlutterCodecs.mm
  shell/platform/darwin/common/framework/Source/FlutterStandardCodec.mm
  shell/platform/darwin/ios/framework/Source/FlutterRestorationPluginTest.mm
Labels: platform-ios, platform-macos, autosubmit

#37238 fix use of intersect/intersects in DisplayListRasterCacheItem
  flow/layers/display_list_layer_unittests.cc
  flow/layers/display_list_raster_cache_item.cc
Labels: perf: memory, perf: speed, autosubmit

#37222 [web] Add shared tests for ui.Path
  lib/web_ui/lib/src/engine/canvaskit/path_metrics.dart
  lib/web_ui/lib/src/engine/html/path/path.dart
  lib/web_ui/lib/src/engine/html/path/path_metrics.dart
  lib/web_ui/test/ui/README.md
  lib/web_ui/test/ui/path_test.dart
  lib/web_ui/test/ui/rect_test.dart
  lib/web_ui/test/ui/rrect_test.dart
  lib/web_ui/test/ui/title_test.dart
  lib/web_ui/test/ui/utils.dart
Labels: platform-web

#37246 Build ios with goma.
  ci/builders/mac_ios_engine_profile.json
  ci/builders/mac_ios_engine_release.json
Labels: autosubmit

#37247 Roll Skia from 4a5bd7106125 to f41fa8bffd58 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37248 Roll Dart SDK from 45b43e23489a to 883ab3f70e3d (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autosubmit

#37221 [fuchsia] mouse-input test
  shell/platform/fuchsia/flutter/tests/integration/BUILD.gn
  shell/platform/fuchsia/flutter/tests/integration/mouse-input/BUILD.gn
  shell/platform/fuchsia/flutter/tests/integration/mouse-input/README.md
  shell/platform/fuchsia/flutter/tests/integration/mouse-input/meta/gtest_runner.shard.cml
  shell/platform/fuchsia/flutter/tests/integration/mouse-input/meta/mouse-input-test.cml
  shell/platform/fuchsia/flutter/tests/integration/mouse-input/mouse-input-test.cc
  shell/platform/fuchsia/flutter/tests/integration/mouse-input/mouse-input-view/BUILD.gn
  shell/platform/fuchsia/flutter/tests/integration/mouse-input/mouse-input-view/lib/mouse-input-view.dart
  shell/platform/fuchsia/flutter/tests/integration/mouse-input/mouse-input-view/meta/mouse-input-view.cml
  shell/platform/fuchsia/flutter/tests/integration/mouse-input/mouse-input-view/pubspec.yaml
  shell/platform/fuchsia/flutter/tests/integration/touch-input/README.md
  shell/platform/fuchsia/flutter/tests/integration/utils/portable_ui_test.cc
  shell/platform/fuchsia/flutter/tests/integration/utils/portable_ui_test.h
  testing/fuchsia/test_suites.yaml
Labels: platform-fuchsia

#37224 Update docs to mention `felt build --host`
  lib/web_ui/README.md
Labels: platform-web

#36392 [macOS, multiwindow] Compositor gets FlutterView lazily
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterCompositor.h
  shell/platform/darwin/macos/framework/Source/FlutterCompositor.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/darwin/macos/framework/Source/FlutterGLCompositor.h
  shell/platform/darwin/macos/framework/Source/FlutterGLCompositor.mm
  shell/platform/darwin/macos/framework/Source/FlutterGLCompositorUnittests.mm
  shell/platform/darwin/macos/framework/Source/FlutterMetalCompositor.h
  shell/platform/darwin/macos/framework/Source/FlutterMetalCompositor.mm
  shell/platform/darwin/macos/framework/Source/FlutterMetalCompositorUnittests.mm
  shell/platform/darwin/macos/framework/Source/FlutterView.h
  shell/platform/darwin/macos/framework/Source/FlutterViewEngineProvider.h
  shell/platform/darwin/macos/framework/Source/FlutterViewEngineProvider.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewEngineProviderUnittests.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewProvider.h
Labels: platform-macos, autosubmit

#37226 Enter a scope before calling Dart APIs in ThrowIfUIOperationsProhibited
  lib/ui/ui_dart_state.cc
  testing/dart/isolate_test.dart
Labels: autosubmit

#37239 [Impeller] Correct the ordering of filters in 'Paint::WithFilters'
  impeller/aiks/paint.cc
  impeller/display_list/display_list_unittests.cc
Labels: impeller, autosubmit

#37162 Produce both ddc and dart2js platform files.
  tools/gn
  web_sdk/BUILD.gn
Labels: platform-web, autosubmit

#37266 Apply internal cl for C++20 prep
  lib/ui/painting/image.cc
  third_party/tonic/dart_wrappable.h
  third_party/tonic/dart_wrapper_info.h
Labels: needs tests, autosubmit

#37267 Roll Dart SDK from 883ab3f70e3d to 94ac8f6cc756 (1 revision)
  DEPS
Labels: autosubmit

#37270 Roll Fuchsia Mac SDK from BPxzJkBzD8R9GFg1n... to 8OZH-l7aK1-73Hyrf...
  DEPS
Labels: autosubmit

#37269 Roll Fuchsia Linux SDK from 9P-WnaDSnineZtFz0... to np4MU3wmDOuhlg6CR...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#37249 [Impeller] Wire-up AndroidSurfaceImpellerVulkan
  ci/licenses_golden/licenses_flutter
  impeller/renderer/backend/vulkan/context_vk.cc
  impeller/renderer/backend/vulkan/context_vk.h
  impeller/renderer/backend/vulkan/pipeline_library_vk.cc
  impeller/renderer/backend/vulkan/surface_producer_vk.cc
  impeller/renderer/context.cc
  impeller/renderer/context.h
  impeller/renderer/pipeline_builder.h
  shell/platform/android/BUILD.gn
  shell/platform/android/android_surface_vulkan_impeller.cc
  shell/platform/android/android_surface_vulkan_impeller.h
  shell/platform/android/platform_view_android.cc
  tools/gn
Labels: platform-android, needs tests, impeller, autosubmit

#37273 [Impeller] dont call SPIRV_CROSS_THROW in SkSL backend
  impeller/compiler/spirv_sksl.cc
Labels: needs tests, impeller, autosubmit

#37275 Roll Skia from f41fa8bffd58 to 78927395bf5c (20 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37276 Roll Skia from 78927395bf5c to fe751b616832 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37277 Roll Dart SDK from 94ac8f6cc756 to 8e089c61be58 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autosubmit

#37198 [Impeller] Add blit command to copy texture to buffer
  impeller/renderer/backend/gles/blit_command_gles.cc
  impeller/renderer/backend/gles/blit_command_gles.h
  impeller/renderer/backend/gles/blit_pass_gles.cc
  impeller/renderer/backend/gles/blit_pass_gles.h
  impeller/renderer/backend/gles/device_buffer_gles.cc
  impeller/renderer/backend/gles/device_buffer_gles.h
  impeller/renderer/backend/gles/proc_table_gles.h
  impeller/renderer/backend/metal/blit_command_mtl.h
  impeller/renderer/backend/metal/blit_command_mtl.mm
  impeller/renderer/backend/metal/blit_pass_mtl.h
  impeller/renderer/backend/metal/blit_pass_mtl.mm
  impeller/renderer/backend/vulkan/blit_pass_vk.h
  impeller/renderer/blit_command.h
  impeller/renderer/blit_pass.cc
  impeller/renderer/blit_pass.h
  impeller/renderer/device_buffer.cc
  impeller/renderer/device_buffer.h
  impeller/renderer/renderer_unittests.cc
Labels: impeller, autosubmit

#37278 Roll Dart SDK from 8e089c61be58 to 866f5cfad18a (1 revision)
  DEPS
Labels: autosubmit

#37279 Roll Skia from fe751b616832 to fdfa00287cff (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37282 Roll Fuchsia Mac SDK from 8OZH-l7aK1-73Hyrf... to mOXbRSWGSdWRXIefR...
  DEPS
Labels: autosubmit

#37173 Announce alerts through SemanticsService on Windows
  ci/licenses_golden/licenses_flutter
  shell/platform/windows/BUILD.gn
  shell/platform/windows/accessibility_alert.cc
  shell/platform/windows/accessibility_alert.h
  shell/platform/windows/accessibility_root_node.cc
  shell/platform/windows/accessibility_root_node.h
  shell/platform/windows/fixtures/main.dart
  shell/platform/windows/flutter_window.cc
  shell/platform/windows/flutter_window.h
  shell/platform/windows/flutter_window_unittests.cc
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_engine.h
  shell/platform/windows/flutter_windows_engine_unittests.cc
  shell/platform/windows/flutter_windows_view.cc
  shell/platform/windows/flutter_windows_view.h
  shell/platform/windows/testing/mock_window_binding_handler.h
  shell/platform/windows/window.cc
  shell/platform/windows/window.h
  shell/platform/windows/window_binding_handler.h
Labels: accessibility, affects: desktop, platform-windows

#37285 Roll Fuchsia Linux SDK from np4MU3wmDOuhlg6CR... to -0Xq1c-TncmWBWzqg...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#37290 Roll Skia from cf3fa752a958 to af0582c7b223 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37289 [Impeller] validate calls to texture in SkSL
  impeller/compiler/spirv_sksl.cc
Labels: needs tests, impeller, autosubmit

#37291 Roll Skia from af0582c7b223 to bddba32af857 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37292 Roll Dart SDK from 433f075a852b to c6e0307f3849 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autosubmit

#37293 [Impeller] validate that SkSL has no user supplied inputs
  impeller/compiler/spirv_sksl.cc
Labels: needs tests, impeller, autosubmit

#37274 Move the two remaining engine v2 builds to prod.
  .ci.yaml
Labels: autosubmit

#37297 Roll Skia from bddba32af857 to 8e48bb8ea52e (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#36685 [Impeller] Support YUV external textures on iOS
  ci/licenses_golden/licenses_flutter
  common/graphics/texture.h
  flow/compositor_context.cc
  flow/compositor_context.h
  flow/layers/layer.h
  flow/layers/layer_tree.cc
  flow/layers/layer_tree_unittests.cc
  flow/layers/texture_layer.cc
  impeller/aiks/aiks_context.cc
  impeller/aiks/aiks_context.h
  impeller/display_list/display_list_image_impeller.cc
  impeller/display_list/display_list_image_impeller.h
  impeller/entity/BUILD.gn
  impeller/entity/contents/content_context.cc
  impeller/entity/contents/content_context.h
  impeller/entity/contents/filters/filter_contents.cc
  impeller/entity/contents/filters/filter_contents.h
  impeller/entity/contents/filters/yuv_to_rgb_filter_contents.cc
  impeller/entity/contents/filters/yuv_to_rgb_filter_contents.h
  impeller/entity/entity_unittests.cc
  impeller/entity/shaders/yuv_to_rgb_filter.frag
  impeller/entity/shaders/yuv_to_rgb_filter.vert
  impeller/geometry/color.h
  impeller/renderer/backend/gles/texture_gles.cc
  impeller/renderer/backend/metal/formats_mtl.h
  impeller/renderer/backend/vulkan/formats_vk.h
  impeller/renderer/formats.h
  shell/common/rasterizer.cc
  shell/platform/darwin/graphics/FlutterDarwinContextMetalImpeller.h
  shell/platform/darwin/graphics/FlutterDarwinExternalTextureMetal.mm
Labels: platform-ios, platform-android, platform-macos, embedder, impeller, autosubmit

#37263 Make iOS PlatformView to reuse VisualEffectView when possible.
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.mm
Labels: platform-ios, autosubmit

#37300 Roll Skia from 8e48bb8ea52e to 10acfb0efbc9 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37296 [Impeller] Add non-rrect polygon to shadow test
  impeller/display_list/display_list_unittests.cc
Labels: impeller, autosubmit

#37294 [web] Improve CPU usage when building wasm_release
  tools/gn
Labels: platform-web, needs tests, autosubmit

#37303 Roll Skia from 10acfb0efbc9 to b8209dce9a48 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37304 [Impeller] Replace existing shaders when a new RuntimeStage arrives through the dispatcher
  impeller/entity/contents/runtime_effect_contents.cc
  impeller/entity/entity_unittests.cc
  impeller/runtime_stage/runtime_stage.cc
  impeller/runtime_stage/runtime_stage.h
Labels: impeller, autosubmit

#37305 Roll Fuchsia Mac SDK from mOXbRSWGSdWRXIefR... to JKfnEvEVIL_Cg3_9f...
  DEPS
Labels: autosubmit

#37308 Roll Dart SDK from c6e0307f3849 to 35b0cc8ac48b (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autosubmit

#37309 Roll Skia from b8209dce9a48 to 7eac7e7547e7 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37311 Roll Fuchsia Linux SDK from -0Xq1c-TncmWBWzqg... to 7e3H7isxOF6vqMDTT...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#37313 Roll Skia from 7eac7e7547e7 to c901cb6ae66f (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37244 [web] Improve line breaker test exceptions
  lib/web_ui/lib/src/engine/text/line_breaker.dart
  lib/web_ui/test/text/line_breaker_test_helper.dart
Labels: platform-web, needs tests, autosubmit

#36893 Fix TextField performing both new line and input action
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/text_editing_test.dart
Labels: platform-web, autosubmit

#37262 Fix typo in overlay platform view iOS test
  testing/scenario_app/ios/Scenarios/ScenariosUITests/UnobstructedPlatformViewTests.m
Labels: autosubmit

#37302 Use iOS 16 APIs to rotate orientation
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
Labels: platform-ios, autosubmit

#37315 Move primitive type to pipeline descriptor
  impeller/entity/contents/clip_contents.cc
  impeller/entity/contents/content_context.cc
  impeller/entity/contents/content_context.h
  impeller/entity/contents/contents.cc
  impeller/entity/contents/linear_gradient_contents.cc
  impeller/entity/contents/radial_gradient_contents.cc
  impeller/entity/contents/rrect_shadow_contents.cc
  impeller/entity/contents/runtime_effect_contents.cc
  impeller/entity/contents/solid_color_contents.cc
  impeller/entity/contents/sweep_gradient_contents.cc
  impeller/entity/contents/text_contents.cc
  impeller/entity/contents/tiled_texture_contents.cc
  impeller/entity/contents/vertices_contents.cc
  impeller/entity/entity_unittests.cc
  impeller/playground/imgui/imgui_impl_impeller.cc
  impeller/renderer/backend/gles/render_pass_gles.cc
  impeller/renderer/backend/metal/render_pass_mtl.mm
  impeller/renderer/backend/vulkan/formats_vk.h
  impeller/renderer/backend/vulkan/pipeline_library_vk.cc
  impeller/renderer/command.h
  impeller/renderer/pipeline_descriptor.cc
  impeller/renderer/pipeline_descriptor.h
  impeller/renderer/renderer_unittests.cc
Labels: autosubmit

#37319 Roll Skia from 7a45d3123f8b to dc49f35e1ac6 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37320 Revert "reland "Migrate darwin common "framework_shared" target to ARC #37049""
  shell/platform/darwin/BUILD.gn
  shell/platform/darwin/common/BUILD.gn
  shell/platform/darwin/common/framework/Headers/FlutterCodecs.h
  shell/platform/darwin/common/framework/Source/FlutterChannels.mm
  shell/platform/darwin/common/framework/Source/FlutterChannelsTest.m
  shell/platform/darwin/common/framework/Source/FlutterCodecs.mm
  shell/platform/darwin/common/framework/Source/FlutterStandardCodec.mm
  shell/platform/darwin/ios/framework/Source/FlutterRestorationPluginTest.mm
Labels: platform-ios, platform-macos, autosubmit

#37322 Roll Dart SDK from 35b0cc8ac48b to b2aad7caafc9 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autosubmit

#37323 Revert "Roll Clang from a93d03310e2c to bca75abc01f3"
  DEPS
Labels: autosubmit

#37324 [Impeller] Add unreachable for vulkan switches.
  impeller/renderer/backend/vulkan/formats_vk.h
Labels: impeller, autosubmit

#37154 Increase Win32 trackpad polling rate, fix repeated swipes issue
  shell/platform/windows/direct_manipulation.cc
  shell/platform/windows/direct_manipulation.h
  shell/platform/windows/direct_manipulation_unittests.cc
  shell/platform/windows/window.cc
  shell/platform/windows/window.h
Labels: platform-windows, autosubmit

#37325 Roll Fuchsia Mac SDK from JKfnEvEVIL_Cg3_9f... to jAKH68TYoKUA5HNS2...
  DEPS
Labels: autosubmit

#37321 fix recursive self calls
  ci/licenses_golden/tool_signature
  tools/licenses/lib/main.dart
Labels: needs tests, autosubmit

#37328 Roll Skia from dc49f35e1ac6 to 7a98accb20d5 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37187 [web] Unify JS configuration. Make it available from initEngine.
  lib/web_ui/lib/initialization.dart
  lib/web_ui/lib/src/engine/app_bootstrap.dart
  lib/web_ui/lib/src/engine/configuration.dart
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/lib/src/engine/initialization.dart
  lib/web_ui/lib/src/engine/js_interop/js_loader.dart
  lib/web_ui/lib/src/engine/renderer.dart
  lib/web_ui/test/canvaskit/embedded_views_test.dart
  lib/web_ui/test/canvaskit/initialization/initialization_services_vs_ui_test.dart
  lib/web_ui/test/canvaskit/initialization/initialization_stores_config_test.dart
  lib/web_ui/test/engine/app_bootstrap_test.dart
  lib/web_ui/test/engine/configuration_test.dart
Labels: platform-web, autosubmit

#37333 Roll Dart SDK from b2aad7caafc9 to d97d5ad98893 (1 revision)
  DEPS
Labels: autosubmit

#37307 [Impeller] Remove cached pipelines when RuntimeStage is hot reloaded
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/container.h
  fml/container_unittests.cc
  impeller/entity/contents/runtime_effect_contents.cc
  impeller/renderer/backend/gles/pipeline_library_gles.cc
  impeller/renderer/backend/gles/pipeline_library_gles.h
  impeller/renderer/backend/metal/pipeline_library_mtl.h
  impeller/renderer/backend/metal/pipeline_library_mtl.mm
  impeller/renderer/backend/vulkan/pipeline_library_vk.cc
  impeller/renderer/backend/vulkan/pipeline_library_vk.h
  impeller/renderer/pipeline_library.h
Labels: needs tests, will affect goldens, impeller, autosubmit

#37335 [Impeller] Process ImpellerC include paths the same way as output paths
  impeller/compiler/impellerc_main.cc
  impeller/compiler/switches.cc
  impeller/compiler/utilities.cc
  impeller/compiler/utilities.h
Labels: needs tests, impeller, autosubmit

#37337 Roll Fuchsia Linux SDK from 7e3H7isxOF6vqMDTT... to mDzQK4ZUk_Y4wfZa_...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#37334 Roll Skia from 7a98accb20d5 to a34882309d04 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37339 Run Linux Web Engine builds on 32-core bots
  .ci.yaml
Labels: autosubmit

#37345 Roll Fuchsia Mac SDK from jAKH68TYoKUA5HNS2... to Ua8Jtf8Zka9uxIVdl...
  DEPS
Labels: autosubmit

#37344 [Impeller] Apply the Windows friendly path solution for remaining ImpellerC paths
  impeller/compiler/impellerc_main.cc
  impeller/compiler/switches.cc
  impeller/compiler/types.cc
  impeller/compiler/types.h
Labels: needs tests, impeller

#37352 Roll Fuchsia Mac SDK from Ua8Jtf8Zka9uxIVdl... to sNXsQVxntMX8f42LE...
  DEPS
Labels: autosubmit

#37358 Roll Skia from a34882309d04 to c3c31be8729b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37363 Roll Fuchsia Mac SDK from sNXsQVxntMX8f42LE... to 9Jb1-3tRPQ2ZhpTQC...
  DEPS
Labels: autosubmit

#37361 [Impeller] Add Matrix::LookAt
  impeller/geometry/geometry_unittests.cc
  impeller/geometry/matrix.h
Labels: impeller

#37369 Roll Fuchsia Mac SDK from 9Jb1-3tRPQ2ZhpTQC... to 5XOj9l5e2wkSpMKT1...
  DEPS
Labels: autosubmit

#37377 Roll Skia from c3c31be8729b to 513f0fd34590 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37351 Move gclient var property to ci.yaml
  .ci.yaml
Labels: will affect goldens, autosubmit

#37342 [Android] Speed up the method 'FlutterRenderer.getBitmap'
  shell/platform/android/platform_view_android_jni_impl.cc
  testing/scenario_app/android/BUILD.gn
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/GetBitmapTests.java
  testing/scenario_app/android/app/src/main/AndroidManifest.xml
  testing/scenario_app/android/app/src/main/java/dev/flutter/scenarios/GetBitmapActivity.java
  testing/scenario_app/lib/src/get_bitmap_scenario.dart
  testing/scenario_app/lib/src/scenarios.dart
Labels: platform-android, autosubmit

#37386 Roll Fuchsia Mac SDK from 5XOj9l5e2wkSpMKT1... to sa5bVGimNo3JwLV27...
  DEPS
Labels: autosubmit

#37388 Revert "Remove deprecated calls to updateSemantics in `PlatformDispatcher`"
  lib/ui/platform_dispatcher.dart
  lib/web_ui/lib/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
Labels: platform-web, needs tests, autosubmit

#37129 [Embedder API] Introduce new semantics update callback and migrate Windows
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/embedder/tests/embedder_a11y_unittests.cc
  shell/platform/embedder/tests/embedder_config_builder.cc
  shell/platform/embedder/tests/embedder_test_context.cc
  shell/platform/embedder/tests/embedder_test_context.h
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_engine_unittests.cc
Labels: platform-windows, embedder, autosubmit

#37390 Roll Skia from da9fad017aee to dec7a930c0b7 (10 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37280 [Web] Synthesize modifiers key up based on known logical key
  lib/web_ui/lib/src/engine/key_map.g.dart
  lib/web_ui/lib/src/engine/keyboard_binding.dart
  lib/web_ui/test/engine/pointer_binding_test.dart
Labels: platform-web, autosubmit

#37393 Roll Skia from dec7a930c0b7 to aef6d301c0b5 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37024 clang-tidy: Added an environment variable that allows fix to print the generated diff.
  ci/lint.sh
Labels: needs tests

#37265 clang-tidy: added the ability to shard jobs
  tools/clang_tidy/lib/clang_tidy.dart
  tools/clang_tidy/lib/src/options.dart
  tools/clang_tidy/test/clang_tidy_test.dart
Labels: autosubmit

#37400 Roll Dart SDK from d97d5ad98893 to b22b36c0f52e (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autosubmit

#37402 Roll Skia from aef6d301c0b5 to 0c8127b3dd7d (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37403 Fix boolean json property.
  .ci.yaml
Labels: autosubmit

#37397 Adding release_build:true property to windows builders.
  .ci.yaml
Labels: will affect goldens, autosubmit

#37401 [canvaskit] Add test for image readPixels
  lib/web_ui/test/canvaskit/image_golden_test.dart
Labels: platform-web

#37327 Update display_list_image_filter_unittests to be permit Skia roll
  display_list/display_list_image_filter_unittests.cc
Labels: autosubmit

#37409 Roll Skia from 0c8127b3dd7d to 8b19fb0f57d4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37432 Roll Fuchsia Mac SDK from sa5bVGimNo3JwLV27... to d4l6A1aPw6Z0YjxmA...
  DEPS
Labels: autosubmit

#37317 [web] Use v8BreakIterator where possible
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/lib/src/engine/text/line_breaker.dart
  lib/web_ui/test/text/line_breaker_test.dart
  lib/web_ui/test/text/line_breaker_test_helper.dart
Labels: platform-web, autosubmit

#37435 Add rects to accumulator rather than bounds
  display_list/display_list_utils.cc
  testing/scenario_app/run_ios_tests.sh
Labels: needs tests, autosubmit

#37437 Roll Dart SDK from b22b36c0f52e to c15cdb978761 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autosubmit

#37438 Roll Skia from 0c8127b3dd7d to 6a056a26b3c5 (16 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37439 Roll Skia from 6a056a26b3c5 to 3cecb22c5827 (1 revision)
  DEPS
Labels: autosubmit

#37395 Sdk roll failure - add facet to allowlist test_manager and other packages.
  shell/platform/fuchsia/dart_runner/tests/startup_integration_test/dart_aot_runner/meta/dart-aot-runner-integration-test.cml
  shell/platform/fuchsia/dart_runner/tests/startup_integration_test/dart_jit_runner/meta/dart-jit-runner-integration-test.cml
  shell/platform/fuchsia/flutter/tests/integration/embedder/meta/flutter-embedder-test.cml
  shell/platform/fuchsia/flutter/tests/integration/mouse-input/meta/mouse-input-test.cml
  shell/platform/fuchsia/flutter/tests/integration/text-input/meta/text-input-test.cml
  shell/platform/fuchsia/flutter/tests/integration/touch-input/meta/touch-input-test.cml
Labels: platform-fuchsia, autosubmit

#37449 Revert "Sdk roll failure - add facet to allowlist test_manager and other packages."
  shell/platform/fuchsia/dart_runner/tests/startup_integration_test/dart_aot_runner/meta/dart-aot-runner-integration-test.cml
  shell/platform/fuchsia/dart_runner/tests/startup_integration_test/dart_jit_runner/meta/dart-jit-runner-integration-test.cml
  shell/platform/fuchsia/flutter/tests/integration/embedder/meta/flutter-embedder-test.cml
  shell/platform/fuchsia/flutter/tests/integration/mouse-input/meta/mouse-input-test.cml
  shell/platform/fuchsia/flutter/tests/integration/text-input/meta/text-input-test.cml
  shell/platform/fuchsia/flutter/tests/integration/touch-input/meta/touch-input-test.cml
Labels: platform-fuchsia

#37444 Revert "Add rects to accumulator rather than bounds (#37435)"
  display_list/display_list_utils.cc
  testing/scenario_app/run_ios_tests.sh
Labels: needs tests, autosubmit

#37433 Clang-tidy: Fixed math on shard-id validator.
  tools/clang_tidy/lib/src/options.dart
  tools/clang_tidy/test/clang_tidy_test.dart
Labels: will affect goldens, autosubmit

#37445 Roll Skia from 3cecb22c5827 to 94450cd1df4e (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37453 Oops, accidentally compiled the non-null-safe platform file as null safe.
  web_sdk/BUILD.gn
Labels: platform-web, autosubmit

#37455 Roll Skia from 94450cd1df4e to 22526b55be02 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37458 Roll Skia from 22526b55be02 to 511aa59461f3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37408 [Impeller] Don't double-convert include path encodings in ImpellerC
  ci/licenses_golden/licenses_flutter
  impeller/compiler/BUILD.gn
  impeller/compiler/switches.cc
  impeller/compiler/switches_unittests.cc
  impeller/compiler/utilities.h
Labels: will affect goldens, impeller, autosubmit

#37463 Roll Skia from 511aa59461f3 to 790aedd91cd8 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37466 Roll Dart SDK from c15cdb978761 to 874a662f7507 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autosubmit

#37468 Roll Fuchsia Mac SDK from d4l6A1aPw6Z0YjxmA... to vEw8iuSZYmlfk1JiE...
  DEPS
Labels: autosubmit

#37451 [Reland] Add rects to accumulator rather than bounds (#37435)
  display_list/display_list_unittests.cc
  display_list/display_list_utils.cc
  display_list/display_list_utils.h
  testing/scenario_app/run_ios_tests.sh
Labels: needs tests, autosubmit
