Repository flutter/engine, pull requests merged in 2022-03, with the labels that each got.

#31723 Standardize the embedder file name.
  build/archives/BUILD.gn
  shell/platform/embedder/BUILD.gn
Labels: waiting for tree to go green, embedder

#31725 Roll Skia from 1fc0c1c0f8af to 5deac304821b (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: waiting for tree to go green

#31726 Added dart plugin registrant test executables to run_tests.py
  runtime/dart_isolate.cc
  testing/run_tests.py
Labels: needs tests

#31693 Standardize embedder archive name.
  build/archives/BUILD.gn
  shell/platform/windows/client_wrapper/BUILD.gn
Labels: waiting for tree to go green, platform-windows, embedder

#31730 Roll Fuchsia Mac SDK from qGsRXn7-D... to RIOZP5nXz...
  DEPS
Labels: waiting for tree to go green

#31731 Roll Fuchsia Linux SDK from _mwyhkd9H... to 7rB0Yrprs...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31732 Roll Skia from 5deac304821b to c3e7a2a00b0a (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31734 Roll Dart SDK from c3e3126a598b to 34a5563af80d (6 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#31735 Roll Dart SDK from 34a5563af80d to 53dd466be30e (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#31738 Roll Dart SDK from 53dd466be30e to da07db858224 (1 revision)
  DEPS
Labels: waiting for tree to go green

#31739 Roll Skia from 9867574f7198 to d6d3cabb4917 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31741 Roll Skia from d6d3cabb4917 to f6dc205b143f (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31742 Roll Skia from f6dc205b143f to 4bf57f8958e7 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31744 Roll Fuchsia Linux SDK from 7rB0Yrprs... to qRHp3fFRx...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31746 Roll Dart SDK from da07db858224 to 9b890fd43f92 (1 revision)
  DEPS
Labels: waiting for tree to go green

#31747 Roll Fuchsia Mac SDK from RIOZP5nXz... to SZcTFNZdS...
  DEPS
Labels: waiting for tree to go green

#31748 Roll Skia from 4bf57f8958e7 to ea0268e72d7f (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31749 Roll Skia from ea0268e72d7f to 447845a906ad (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31750 Revert "Reland "Listen for Vsync callback on the UI thread directly""
  fml/platform/android/message_loop_android.cc
  fml/platform/android/message_loop_android.h
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/library_loader.cc
  shell/platform/android/vsync_waiter_android.cc
Labels: platform-android, waiting for tree to go green, needs tests

#31626 Add ThreadConfigSetter for Embedder api that can set thread priority
  fml/thread_unittests.cc
  shell/common/thread_host.cc
  shell/common/thread_host.h
  shell/platform/embedder/embedder_thread_host.cc
  shell/platform/embedder/embedder_thread_host.h
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: embedder

#31752 Roll Skia from 447845a906ad to 54b5ad00c5af (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31754 Roll Dart SDK from 9b890fd43f92 to 0fb085424f15 (2 revisions)
  DEPS
Labels: waiting for tree to go green

#31756 Roll Dart SDK from 0fb085424f15 to 8fc186c49dd7 (1 revision)
  DEPS
Labels: waiting for tree to go green

#31760 Roll Skia from 631e9e00fc34 to 2f41c6acfaac (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31751 Fix web_engine_archive target.
  build/zip.py
  build/zip_bundle.gni
  web_sdk/BUILD.gn
Labels: waiting for tree to go green, platform-web

#31765 Roll Skia from 1c167606ccbb to e11a14d17f59 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31766 Roll Skia from e11a14d17f59 to b61366b54f7b (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31767 Roll Dart SDK from 8fc186c49dd7 to f32ac30f3763 (1 revision)
  DEPS
Labels: waiting for tree to go green

#31769 Roll Skia from b61366b54f7b to a025a1b17ece (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31555 Support route on ios engine
  common/settings.h
  shell/common/switches.cc
  shell/common/switches.h
  shell/common/switches_unittests.cc
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngineTest.mm
Labels: platform-ios, waiting for tree to go green

#31745 Fix invalid usage of typed data detected via dart_debug=true
  lib/ui/painting/fragment_program.cc
  lib/ui/painting/fragment_program.h
  lib/ui/painting/path.cc
  lib/ui/painting/vertices.cc
  lib/ui/painting/vertices.h
Labels: waiting for tree to go green, needs tests

#31771 [ui] replace dynamic with Object?
  lib/ui/hooks.dart
  lib/ui/natives.dart
  lib/ui/painting.dart
  lib/ui/platform_dispatcher.dart
  lib/ui/text.dart
Labels: waiting for tree to go green, needs tests

#31772 Roll Skia from a025a1b17ece to 2381876f4f0c (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31774 Roll Dart SDK from f32ac30f3763 to d9ac982f9d4b (1 revision)
  DEPS
Labels: waiting for tree to go green

#31775 Roll Skia from 2381876f4f0c to 8a5575ded9f7 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31781 Roll Dart SDK from d9ac982f9d4b to 48aef9098966 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#31782 Roll Fuchsia Mac SDK from huWFDnPtS... to XbEgtgmB6...
  DEPS
Labels: waiting for tree to go green

#31783 Roll Clang Windows from 25xTI5-Mi... to _iKVo3b3j...
  DEPS
Labels: waiting for tree to go green

#31784 Roll Clang Mac from gi-ivU51h... to VvkT0LU62...
  DEPS
Labels: waiting for tree to go green

#31785 Roll Clang Linux from Fn7lDYhKD... to TaKxaPCe0...
  DEPS
Labels: waiting for tree to go green

#31791 Roll Skia from 8a5575ded9f7 to fa5b111fa14d (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31792 Roll Dart SDK from 48aef9098966 to 9ffefd165349 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#31793 Roll Skia from fa5b111fa14d to 404c7e1b3910 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31794 Roll Fuchsia Linux SDK from qRHp3fFRx... to bMiP04o2C...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31796 Roll Dart SDK from 9ffefd165349 to 49f68dcbbb6d (1 revision)
  DEPS
Labels: waiting for tree to go green

#31789 Separate unittest to its own group.
  BUILD.gn
Labels: waiting for tree to go green

#31798 Roll Dart SDK from 49f68dcbbb6d to a7348f3f911e (1 revision)
  DEPS
Labels: waiting for tree to go green

#31786 Revert "Reland "Listen for Vsync callback on the UI thread directly""…
  fml/platform/android/message_loop_android.cc
  fml/platform/android/message_loop_android.h
  lib/ui/painting/fragment_program.cc
  lib/ui/painting/fragment_program.h
  lib/ui/painting/path.cc
  lib/ui/painting/vertices.cc
  lib/ui/painting/vertices.h
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/library_loader.cc
  shell/platform/android/vsync_waiter_android.cc
Labels: platform-android, needs tests

#31799 Roll Fuchsia Mac SDK from XbEgtgmB6... to F_kIcfT52...
  DEPS
Labels: waiting for tree to go green

#31801 Roll Skia from 5bec818c1f4e to bf9bc6de39f3 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31662 Add linux_host_engine builder to staging.
  .ci.yaml
  ci/builders/linux_host_engine.json
Labels: waiting for tree to go green

#28927 [win32] support high frame rates
  fml/platform/win/message_loop_win.cc
  fml/platform/win/message_loop_win.h
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_engine.h
  shell/platform/windows/flutter_windows_engine_unittests.cc
  shell/platform/windows/flutter_windows_view_unittests.cc
  shell/platform/windows/testing/engine_modifier.h
  shell/platform/windows/testing/test_keyboard.cc
Labels: cla: yes, waiting for tree to go green, platform-windows

#31805 Roll Skia from bf9bc6de39f3 to be46542a7f0b (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31776 [ui] cleanup natives.dart
  lib/ui/natives.dart
Labels: waiting for tree to go green, needs tests

#30208 [android] Give the shared engine app a chance to take control of application lifecycle state events.
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/io/flutter/embedding/android/FlutterFragment.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterAndroidComponentTest.java
Labels: platform-android, customer: alibaba, waiting for tree to go green

#30760 Windows: Fix plugin destruction
  shell/platform/windows/flutter_windows.cc
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_engine.h
  shell/platform/windows/flutter_windows_engine_unittests.cc
Labels: waiting for tree to go green, platform-windows, needs tests

#31806 Roll Dart SDK from a7348f3f911e to 1a3682169d68 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#31807 Roll Skia from be46542a7f0b to b2ba7ee49704 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31808 Fix archive name in linux_host_engine.
  ci/builders/linux_host_engine.json
Labels: waiting for tree to go green

#31778 Add support for setting thread priority in embedder.h and update windows embedding to do so
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_engine.h
  shell/platform/windows/flutter_windows_engine_unittests.cc
Labels: waiting for tree to go green, platform-windows, embedder

#31800 [macOS, Keyboard] Duplicate down events are no longer ignored, but kept and preceded by up events
  shell/platform/darwin/macos/framework/Source/FlutterEmbedderKeyResponder.mm
  shell/platform/darwin/macos/framework/Source/FlutterEmbedderKeyResponderUnittests.mm
Labels: affects: text input, waiting for tree to go green, platform-macos

#31819 Roll Skia from b2ba7ee49704 to 6ff07e0b0296 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31809 Roll Fuchsia Linux SDK from bMiP04o2C... to VugIP5E35...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31810 iOS removes children references when semantics node is replaced
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_test.mm
Labels: platform-ios, waiting for tree to go green

#31822 Roll Skia from 6ff07e0b0296 to 6bb185bf5496 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31821 Adding archives to the windows host engine.
  ci/builders/windows_host_engine.json
Labels: waiting for tree to go green

#31820 Roll Fuchsia Mac SDK from F_kIcfT52... to pWucjLN69...
  DEPS
Labels: waiting for tree to go green

#31825 Add VM `Finalizer` patch files
  lib/snapshot/libraries.json
  lib/snapshot/libraries.yaml
  shell/platform/fuchsia/dart_runner/kernel/libraries.json
  shell/platform/fuchsia/dart_runner/kernel/libraries.yaml
  shell/platform/fuchsia/flutter/kernel/libraries.json
  shell/platform/fuchsia/flutter/kernel/libraries.yaml
Labels: platform-fuchsia

#31827 Roll Skia from 6bb185bf5496 to 87496d3cc94c (1 revision)
  DEPS
Labels: waiting for tree to go green

#31829 Roll Skia from 87496d3cc94c to 4d428f375c5a (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31833 Roll Skia from 4d428f375c5a to a27ddd91675b (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31832 Fix archive names for windows_host_engine.
  ci/builders/windows_host_engine.json
Labels: waiting for tree to go green

#31834 Roll Fuchsia Linux SDK from VugIP5E35... to an6xkzyWJ...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31813 [Linux] Fix CJK input
  shell/platform/linux/fl_text_input_plugin.cc
Labels: Work in progress (WIP), platform-linux, needs tests

#31835 Add include to header for coming libc++ updates
  fml/message_loop_task_queues.cc
Labels: waiting for tree to go green, needs tests

#31836 Roll Skia from a27ddd91675b to 11206c3faf1b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31838 Roll Fuchsia Mac SDK from pWucjLN69... to AtocdkOD4...
  DEPS
Labels: waiting for tree to go green

#31839 Roll Skia from 11206c3faf1b to 1a01d5a1f13a (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#30329 TextEditingDelta Windows
  shell/platform/windows/text_input_plugin.cc
  shell/platform/windows/text_input_plugin.h
  shell/platform/windows/text_input_plugin_unittest.cc
Labels: platform-windows

#31842 Roll FreeType to a version based on 2.11.1 (#31678)
  DEPS
  ci/licenses_golden/licenses_third_party
  ci/licenses_golden/tool_signature
  tools/licenses/lib/main.dart
Labels: needs tests

#31843 Roll Skia from 1a01d5a1f13a to 0817ce7c5bce (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31845 Roll Skia from 0817ce7c5bce to cf67cbeb2fb1 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31846 Roll Dart SDK from 1a3682169d68 to 9030f94e7d66 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#31847 Roll Dart SDK from 9030f94e7d66 to 38c809abde23 (1 revision)
  DEPS
Labels: waiting for tree to go green

#31850 Roll Fuchsia Linux SDK from an6xkzyWJ... to CIoEAnQLF...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31852 Roll Fuchsia Mac SDK from AtocdkOD4... to YiE1Vkwcn...
  DEPS
Labels: waiting for tree to go green

#31851 Roll Dart SDK from 38c809abde23 to f175a7cf984c (1 revision)
  DEPS
Labels: waiting for tree to go green

#31854 Roll Dart SDK from f175a7cf984c to 80d41d76c87c (1 revision)
  DEPS
Labels: waiting for tree to go green

#31855 Roll Fuchsia Mac SDK from YiE1Vkwcn... to G06EX5e0x...
  DEPS
Labels: waiting for tree to go green

#31856 Roll Fuchsia Linux SDK from CIoEAnQLF... to lKN__45iV...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31857 Roll Skia from cf67cbeb2fb1 to d7bcfecfaf82 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31858 Roll Skia from d7bcfecfaf82 to f029354f16cf (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31860 Roll Dart SDK from 80d41d76c87c to 6171198cb639 (1 revision)
  DEPS
Labels: waiting for tree to go green

#31862 Roll Fuchsia Mac SDK from G06EX5e0x... to IHhPR4wYb...
  DEPS
Labels: waiting for tree to go green

#31861 [macos] Register log handler
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/macos/framework/Source/fixtures/flutter_desktop_test.dart
Labels: platform-macos, tech-debt

#31863 Roll Fuchsia Linux SDK from lKN__45iV... to p4GalDfuj...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31864 Roll Dart SDK from 6171198cb639 to 5422228147cd (1 revision)
  DEPS
Labels: waiting for tree to go green

#31866 Roll Dart SDK from 5422228147cd to 4fbe27c0f148 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#31867 Roll Skia from f029354f16cf to 0152ee9981e7 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31868 Roll Skia from 0152ee9981e7 to 8e6f4d08ce6a (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31869 Roll Fuchsia Mac SDK from IHhPR4wYb... to TuoiNkJMk...
  DEPS
Labels: waiting for tree to go green

#31870 Roll Fuchsia Linux SDK from p4GalDfuj... to yTaNdjzJe...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31876 Roll Skia from c8cb357b532f to 7d4e12544e2d (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31878 Roll Skia from 7d4e12544e2d to 6a1055677534 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31698 Fix compatibility issues with SurfaceTexture on Android Q.
  shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
  shell/platform/android/io/flutter/embedding/engine/renderer/SurfaceTextureWrapper.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewWrapper.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/io/flutter/view/TextureRegistry.java
  shell/platform/android/test/io/flutter/embedding/engine/renderer/FlutterRendererTest.java
Labels: platform-android

#31830 [windows] use angle fast path on d3d11 backend
  shell/platform/windows/angle_surface_manager.cc
Labels: waiting for tree to go green, platform-windows, needs tests

#31849 [macOS] Clear IME mark text on clear input client
  shell/platform/darwin/macos/framework/Source/FlutterTextInputPlugin.h
  shell/platform/darwin/macos/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/macos/framework/Source/FlutterTextInputPluginTest.mm
Labels: platform-macos

#31882 Roll Skia from 6a1055677534 to d8590052e833 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31550 Web: treat modifier key without location (generate key map from flutter/flutter#98460)
  lib/web_ui/lib/src/engine/key_map.dart
  lib/web_ui/test/keyboard_converter_test.dart
Labels: platform-web

#31881 Allow providing max_cache_entry flag to Dart
  shell/common/shell_unittests.cc
  shell/common/switches.cc
Labels: waiting for tree to go green

#31883 Roll Skia from d8590052e833 to 22c94544b3f3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31740 [web] add a CIPD browser roller (Chromium only for now)
  lib/web_ui/README.md
  lib/web_ui/dev/browser_lock.dart
  lib/web_ui/dev/browser_lock.yaml
  lib/web_ui/dev/browser_roller.dart
  lib/web_ui/dev/chrome_installer.dart
  lib/web_ui/dev/common.dart
  lib/web_ui/dev/steps/run_tests_step.dart
Labels: platform-web

#30764 Access on/off labels accessibility setting for switches on iOS
  lib/ui/window.dart
  lib/ui/window/platform_configuration.h
  lib/web_ui/lib/window.dart
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController_Internal.h
Labels: platform-ios, waiting for tree to go green, needs tests

#31885 Roll Fuchsia Linux SDK from yTaNdjzJe... to 2CWEt6-xZ...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31886 Roll Skia from 22c94544b3f3 to f60584eb0f95 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31884 Roll Fuchsia Mac SDK from TuoiNkJMk... to 8uDQmoIGD...
  DEPS
Labels: waiting for tree to go green

#31888 Roll Skia from f60584eb0f95 to 88f360e96342 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31899 Roll Skia from 88f360e96342 to 6c630f2ce6c5 (12 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31848 [Win32, Keyboard] Fix AltGr's forged ControlLeft
  shell/platform/windows/keyboard_manager_win32.cc
  shell/platform/windows/keyboard_win32_unittests.cc
Labels: waiting for tree to go green, platform-windows

#31917 Roll Fuchsia Linux SDK from 2CWEt6-xZ... to mdWVfIuK8...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31919 Replace some git tags with hashes
  DEPS
Labels: waiting for tree to go green

#31920 Roll Fuchsia Mac SDK from 8uDQmoIGD... to fewd4Sjq-...
  DEPS
Labels: waiting for tree to go green

#31859 Use AChoreographer methods to await vsync when available
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/android_choreographer.cc
  shell/platform/android/android_choreographer.h
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/engine/loader/FlutterLoader.java
  shell/platform/android/test/io/flutter/embedding/engine/FlutterJNITest.java
  shell/platform/android/test/io/flutter/embedding/engine/loader/FlutterLoaderTest.java
  shell/platform/android/vsync_waiter_android.cc
  shell/platform/android/vsync_waiter_android.h
Labels: platform-android, waiting for tree to go green

#31923 Roll Skia from 6c630f2ce6c5 to 0843ef6ded08 (12 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31926 Roll Skia from 0843ef6ded08 to 88f90513a9ba (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31927 Roll Fuchsia Linux SDK from mdWVfIuK8... to chacW6dGP...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31929 Roll Skia from 88f90513a9ba to b4baebadd489 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31931 Roll Fuchsia Mac SDK from fewd4Sjq-... to OjjY3btN6...
  DEPS
Labels: waiting for tree to go green

#31932 Roll Skia from b4baebadd489 to 4d6d9e3f89d9 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31935 Roll Skia from 4d6d9e3f89d9 to 677a12f38dd0 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31903 Generate MacOS framework with GN + Ninja.
  build/archives/BUILD.gn
  build/zip_bundle.gni
  shell/platform/darwin/macos/BUILD.gn
Labels: waiting for tree to go green, platform-macos

#31906 Linux deltas selection fix
  shell/platform/linux/fl_text_input_plugin.cc
Labels: platform-linux, needs tests

#31934 SaveLayerOptions explicit copy operator
  display_list/display_list.h
Labels: waiting for tree to go green

#31938 Roll Skia from 677a12f38dd0 to db949f46431e (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31939 Roll Skia from db949f46431e to 2393b8831184 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31943 Roll Skia from 2393b8831184 to bad94bc85a79 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31944 Roll Skia from bad94bc85a79 to 762f8fbcadbb (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31871 Fixs impeller_enable_playground is invalid variable when compiling the engine
  tools/gn
Labels: waiting for tree to go green

#31890 [windows] Add dia_dll version for VS2022.
  tools/dia_dll.py
Labels: waiting for tree to go green

#31946 Roll Skia from 762f8fbcadbb to 157ccdb54c6e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31942 Fix dart_sdk packaging name.
  build/archives/BUILD.gn
Labels: waiting for tree to go green

#31941 [macOS, Keyboard] Convert abrupt repeat events to down events
  shell/platform/darwin/macos/framework/Source/FlutterEmbedderKeyResponder.mm
  shell/platform/darwin/macos/framework/Source/FlutterEmbedderKeyResponderUnittests.mm
Labels: platform-macos

#31947 Roll Fuchsia Linux SDK from chacW6dGP... to -9uFZIRSL...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31948 Roll Fuchsia Mac SDK from OjjY3btN6... to y2eJ9z95V...
  DEPS
Labels: waiting for tree to go green

#31949 Roll Skia from 157ccdb54c6e to 43557a6d5535 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31953 Roll Skia from 43557a6d5535 to 5eb9e9e88c89 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31954 Roll Skia from 5eb9e9e88c89 to c88fff00c8fd (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31945 Add a message when a key response takes too long.
  shell/platform/darwin/ios/framework/Source/FlutterKeyboardManager.mm
Labels: platform-ios, needs tests

#31955 Roll Skia from c88fff00c8fd to 02ea811ce869 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31962 Revert "Add a message when a key response takes too long."
  shell/platform/darwin/ios/framework/Source/FlutterKeyboardManager.mm
Labels: platform-ios, needs tests
