Repository flutter/engine, pull requests merged in 2022-09, with the labels that each got.

#35852 Roll Skia from 45fe3b5a6710 to d0a99ce353dc (10 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35855 Roll Fuchsia Linux SDK from 5YEIlndU4ncjOl9I_... to RpfJRN34CLIB4LuZv...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#35856 Roll Skia from d0a99ce353dc to d505b9445bf6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35854 [Impeller] Ignore all translations in Matrix::TransformDirection
  impeller/geometry/geometry_unittests.cc
  impeller/geometry/matrix.h
Labels: impeller

#35858 Roll Fuchsia Mac SDK from sgXD5SyRPOxGjWV4q... to VCkCQ9VaBkOXaOnQU...
  DEPS
Labels: autosubmit

#35857 Roll Skia from d505b9445bf6 to 74d7dcaf7a4e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35847 [Impeller] Do frustum culling after the MSAA backdrop draw
  impeller/entity/entity_pass.cc
  impeller/entity/entity_pass.h
Labels: needs tests, impeller

#35859 Roll Skia from 74d7dcaf7a4e to ca89d2781f78 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35860 Roll Skia from ca89d2781f78 to 8c7e99e0546e (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35861 Roll Skia from 8c7e99e0546e to defbe6b80d7b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35862 Roll Skia from defbe6b80d7b to d8a45111ba9a (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35798 Add function restoreToCount to Canvas.
  display_list/display_list_builder.cc
  lib/ui/dart_ui.cc
  lib/ui/painting.dart
  lib/ui/painting/canvas.cc
  lib/ui/painting/canvas.h
  lib/web_ui/lib/canvas.dart
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_canvas.dart
  lib/web_ui/lib/src/engine/html/canvas.dart
  lib/web_ui/lib/src/engine/html/recording_canvas.dart
  lib/web_ui/test/engine/canvas_test.dart
  testing/dart/canvas_test.dart
Labels: autosubmit

#35863 Roll Skia from d8a45111ba9a to 97f1748bbfc0 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35814 Fixed the nullability annotation on codec `writeValue:`
  shell/platform/darwin/common/framework/Headers/FlutterCodecs.h
Labels: platform-ios, platform-macos

#35865 Roll Skia from 97f1748bbfc0 to bcff1b690772 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35836 [web] unskip location history tests
  lib/web_ui/test/window_test.dart
Labels: platform-web, autosubmit

#35748 Add stubs for Skwasm renderer
  ci/licenses_golden/licenses_flutter
  lib/web_ui/dev/steps/compile_tests_step.dart
  lib/web_ui/lib/src/engine/configuration.dart
  lib/web_ui/lib/src/engine/renderer.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/renderer.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_stub.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_stub/renderer.dart
  lib/web_ui/test/skwasm/smoke_test.dart
  web_sdk/BUILD.gn
  web_sdk/libraries.json
  web_sdk/libraries.yaml
  web_sdk/sdk_rewriter.dart
  web_sdk/test/sdk_rewriter_test.dart
Labels: platform-web, autosubmit

#35866 Roll Skia from bcff1b690772 to d3e8dd91b5d7 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#34929 Scroll inertia cancel for iPadOS
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  testing/scenario_app/ios/Scenarios/ScenariosUITests/StatusBarTest.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/iPadGestureTests.m
  testing/scenario_app/lib/src/touches_scenario.dart
Labels: platform-ios, autosubmit

#35870 Roll Skia from d3e8dd91b5d7 to 818933da98f9 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35871 Make blur image size falloff less aggressive
  impeller/entity/contents/filters/gaussian_blur_filter_contents.cc
Labels: needs tests, impeller

#35872 Roll Skia from 818933da98f9 to d1cc0e9967f3 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35633 [Impeller] Implement ui.Picture.toImage()
  ci/licenses_golden/licenses_flutter
  flow/surface.cc
  flow/surface.h
  lib/ui/painting/picture.cc
  lib/ui/painting/picture.h
  lib/ui/snapshot_delegate.h
  shell/common/BUILD.gn
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/common/rasterizer_unittests.cc
  shell/common/shell.h
  shell/common/shell_unittests.cc
  shell/common/snapshot_controller.cc
  shell/common/snapshot_controller.h
  shell/common/snapshot_controller_impeller.cc
  shell/common/snapshot_controller_impeller.h
  shell/common/snapshot_controller_skia.cc
  shell/common/snapshot_controller_skia.h
  shell/gpu/gpu_surface_gl_impeller.cc
  shell/gpu/gpu_surface_gl_impeller.h
  shell/gpu/gpu_surface_metal_impeller.h
  shell/gpu/gpu_surface_metal_impeller.mm
Labels: impeller, autosubmit

#35874 Roll Skia from d1cc0e9967f3 to 7f5d93f85a8c (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35876 Roll Skia from 7f5d93f85a8c to e7795ff64260 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35878 Roll Skia from e7795ff64260 to 9ebf1740acae (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35880 Roll Skia from 9ebf1740acae to 2cf0733fff72 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35489 Introduce bitset to manage bool flags in mock_layer unit test.
  flow/layers/backdrop_filter_layer_unittests.cc
  flow/layers/clip_path_layer_unittests.cc
  flow/layers/clip_rect_layer_unittests.cc
  flow/layers/clip_rrect_layer_unittests.cc
  flow/layers/color_filter_layer_unittests.cc
  flow/layers/container_layer_unittests.cc
  flow/layers/image_filter_layer_unittests.cc
  flow/layers/layer_tree_unittests.cc
  flow/layers/opacity_layer_unittests.cc
  flow/layers/physical_shape_layer_unittests.cc
  flow/layers/shader_mask_layer_unittests.cc
  flow/testing/mock_layer.cc
  flow/testing/mock_layer.h
  flow/testing/mock_layer_unittests.cc
Labels: autosubmit

#35877 [Impeller] Fix Metal playgrounds for Apple Silicon
  impeller/playground/backend/metal/playground_impl_mtl.mm
  impeller/playground/imgui/imgui_impl_impeller.cc
  impeller/playground/playground.cc
Labels: needs tests, impeller

#35881 [Impeller] Make 'SurfaceGLES::WrapFBO' pass attachment validation
  impeller/renderer/backend/gles/surface_gles.cc
Labels: needs tests, autosubmit

#35883 Roll Skia from 2cf0733fff72 to 4068aed8be0f (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35885 Roll Fuchsia Mac SDK from VCkCQ9VaBkOXaOnQU... to 26bxlTdq8fmtxrkvc...
  DEPS
Labels: autosubmit

#35884 [Android] Add the method 'Log.getStackTraceString'
  shell/platform/android/io/flutter/Log.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/PlatformViewsChannel.java
  shell/platform/android/io/flutter/plugin/common/MethodChannel.java
  shell/platform/android/io/flutter/plugin/common/StandardMethodCodec.java
  shell/platform/android/test/io/flutter/LogTest.java
Labels: platform-android, autosubmit

#35886 Roll Skia from 4068aed8be0f to c4ff255c27a4 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35887 Roll Fuchsia Linux SDK from RpfJRN34CLIB4LuZv... to dbH811zrzIrw0HmVz...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#35678 Support basic back navigation in Android 13/API 33
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityTest.java
  shell/platform/android/test_runner/build.gradle
Labels: platform-android, waiting for tree to go green, needs tests, autosubmit

#35888 Revert "Fixed the nullability annotation on codec `writeValue:` (#35814)
  shell/platform/darwin/common/framework/Headers/FlutterCodecs.h
Labels: platform-ios, platform-macos, autosubmit

#35889 Roll Skia from c4ff255c27a4 to 855560fceec2 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35892 Roll Skia from 855560fceec2 to 2115586eb0cf (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35891 [fuchsia] Avoid naming fuchsia::io::NodeInfo
  shell/platform/fuchsia/flutter/component_v1.cc
  shell/platform/fuchsia/flutter/component_v2.cc
Labels: platform-fuchsia, needs tests

#35897 Roll Skia from 2115586eb0cf to ce3a8ed56f84 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35901 Roll Dart SDK from 94646d53d7c2 to 7b3040902df7 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autosubmit

#35903 Roll Skia from ce3a8ed56f84 to 5ff0e9a37a40 (1 revision)
  DEPS
Labels: autosubmit

#35905 Roll Skia from 5ff0e9a37a40 to aee52dfe1117 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35906 Roll Fuchsia Mac SDK from 26bxlTdq8fmtxrkvc... to zlFy5VTcYg_Sxq1-w...
  DEPS
Labels: autosubmit

#35907 Roll Dart SDK from 7b3040902df7 to 672f2adec0cb (1 revision)
  DEPS
Labels: autosubmit

#35908 Roll Fuchsia Linux SDK from dbH811zrzIrw0HmVz... to cf38cegpIPgcTErwA...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#35909 Roll Fuchsia Mac SDK from zlFy5VTcYg_Sxq1-w... to GmQS0nPbQjegW6_mp...
  DEPS
Labels: autosubmit

#35879 [Impeller] Fix `unused-result` warnings.
  impeller/aiks/aiks_unittests.cc
  impeller/entity/entity_unittests.cc
Labels: impeller, autosubmit

#35910 Roll Fuchsia Linux SDK from cf38cegpIPgcTErwA... to twf1mDenTKwP647Iv...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#35911 Roll Fuchsia Mac SDK from GmQS0nPbQjegW6_mp... to Xbz_BflVsu1gMTrKH...
  DEPS
Labels: autosubmit

#35912 Roll Fuchsia Linux SDK from twf1mDenTKwP647Iv... to 2t3v0NB99aaHnV-Jp...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#35913 Roll Skia from aee52dfe1117 to 44da823a6a32 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35914 Roll Skia from 44da823a6a32 to e1699edb6bef (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35915 Roll Skia from e1699edb6bef to 46f3826bff41 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35916 Roll Fuchsia Mac SDK from Xbz_BflVsu1gMTrKH... to IySDpHxKM0dEVtNnR...
  DEPS
Labels: autosubmit

#35917 Roll Fuchsia Linux SDK from 2t3v0NB99aaHnV-Jp... to V6QbHXIf2UnjRjIdw...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#35919 Roll Skia from 46f3826bff41 to 8361005dca55 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35920 Roll Fuchsia Mac SDK from IySDpHxKM0dEVtNnR... to _eyzEmI9ppaXY6q-W...
  DEPS
Labels: autosubmit

#35921 Roll Skia from 8361005dca55 to 3d2d0361e41d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35922 Roll Fuchsia Linux SDK from V6QbHXIf2UnjRjIdw... to ej74uu6Dtncz7eKat...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#35923 Roll Dart SDK from 672f2adec0cb to 53ca6aa6a43a (2 revisions)
  DEPS
Labels: autosubmit

#35925 Roll Skia from 3d2d0361e41d to fae5219bee5e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35928 Roll Dart SDK from 53ca6aa6a43a to 91adda240dc6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autosubmit

#35932 Roll Skia from fae5219bee5e to 3ea05ec5fa6e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35934 Roll Fuchsia Linux SDK from ej74uu6Dtncz7eKat... to ZBIe-a1gc3wZOjrZF...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#35935 Roll Skia from 3ea05ec5fa6e to 6e8392f98885 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35937 Roll Fuchsia Mac SDK from h_r2I6Cu8-ItT6Tu4... to vxuLLecT-NU8FuW1l...
  DEPS
Labels: autosubmit

#35939 Roll Skia from 6e8392f98885 to 06d50b492c23 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35868 Honor mixed state of tristate Checkbox in Semantics
  lib/ui/semantics.dart
  lib/ui/semantics/semantics_node.h
  lib/web_ui/lib/semantics.dart
  lib/web_ui/test/engine/semantics/semantics_api_test.dart
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  shell/platform/common/accessibility_bridge.cc
  shell/platform/embedder/embedder.h
  shell/platform/windows/flutter_windows_view_unittests.cc
  testing/dart/semantics_test.dart
Labels: accessibility, platform-windows, embedder

#35941 Roll Skia from 06d50b492c23 to e406baa7acb1 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35933 [fuchsia] Add script for running integration tests
  shell/platform/fuchsia/flutter/tests/integration/README.md
  tools/fuchsia/devshell/run_integration_test.sh
Labels: platform-fuchsia

#34596 PlatformView Blur for Backdrop Filter
  flow/embedded_views.h
  flow/layers/backdrop_filter_layer.cc
  flow/layers/platform_view_layer.cc
  flow/mutators_stack_unittests.cc
  shell/common/shell_test_external_view_embedder.cc
  shell/common/shell_test_external_view_embedder.h
  shell/common/shell_unittests.cc
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.mm
  shell/platform/darwin/ios/ios_external_view_embedder.h
  shell/platform/darwin/ios/ios_external_view_embedder.mm
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_views_with_other_backdrop_filter_iPhone 8_13.0_simulator.png
Labels: platform-ios, autosubmit

#35946 [fuchsia] Fix some typos in code blocks.
  shell/platform/fuchsia/flutter/tests/integration/README.md
Labels: platform-fuchsia

#35949 Remove unnecessary include of private Skia header
  lib/ui/painting/image_generator_registry.cc
Labels: needs tests

#35782 [Impeller] support many colors/stops on Linear/Radial/SweepGradient
  ci/licenses_golden/licenses_flutter
  impeller/aiks/aiks_unittests.cc
  impeller/display_list/display_list_dispatcher.cc
  impeller/entity/BUILD.gn
  impeller/entity/contents/content_context.h
  impeller/entity/contents/gradient_generator.cc
  impeller/entity/contents/gradient_generator.h
  impeller/entity/contents/linear_gradient_contents.cc
  impeller/entity/contents/linear_gradient_contents.h
  impeller/entity/contents/radial_gradient_contents.cc
  impeller/entity/contents/radial_gradient_contents.h
  impeller/entity/contents/sweep_gradient_contents.cc
  impeller/entity/contents/sweep_gradient_contents.h
  impeller/entity/shaders/linear_gradient_fill.frag
  impeller/entity/shaders/radial_gradient_fill.frag
  impeller/entity/shaders/sweep_gradient_fill.frag
  impeller/geometry/BUILD.gn
  impeller/geometry/color.h
  impeller/geometry/geometry_unittests.cc
  impeller/geometry/geometry_unittests.h
  impeller/geometry/gradient.cc
  impeller/geometry/gradient.h
Labels: impeller, autosubmit

#35947 Roll Skia from e406baa7acb1 to d1c9d1e2341b (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35950 Try to deflake service isolate startup
  runtime/dart_service_isolate.cc
Labels: needs tests

#35813 External sizes
  ci/licenses_golden/licenses_flutter
  lib/ui/BUILD.gn
  lib/ui/painting/fragment_shader.cc
  lib/ui/painting/image.cc
  lib/ui/painting/image.h
  lib/ui/painting/image_descriptor.h
  lib/ui/painting/image_encoding_unittests.cc
  lib/ui/painting/immutable_buffer.cc
  lib/ui/painting/immutable_buffer.h
  lib/ui/painting/path.cc
  lib/ui/painting/path.h
  lib/ui/painting/picture.h
  lib/ui/painting/single_frame_codec.cc
  lib/ui/painting/single_frame_codec.h
  lib/ui/painting/single_frame_codec_unittests.cc
  lib/ui/painting/vertices.cc
  lib/ui/painting/vertices.h
  lib/ui/painting/vertices_unittests.cc
  lib/ui/text/paragraph.cc
  lib/ui/text/paragraph.h
  third_party/tonic/dart_wrappable.cc
  third_party/tonic/dart_wrappable.h
  third_party/tonic/dart_wrapper_info.h
Labels: autosubmit

#35952 Roll Skia from d1c9d1e2341b to 22fb61b75635 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35944 [CP] Queue all semantic nodes & actions before completing batch
  shell/platform/common/accessibility_bridge.cc
  shell/platform/common/accessibility_bridge.h
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/platform_view_embedder.cc
  shell/platform/embedder/platform_view_embedder.h
  shell/platform/embedder/tests/embedder_a11y_unittests.cc
  shell/platform/embedder/tests/embedder_test_context.cc
  shell/platform/embedder/tests/embedder_test_context.h
Labels: embedder

#35953 Roll Fuchsia Linux SDK from ZBIe-a1gc3wZOjrZF... to r45MRYVf5_xaCG8bv...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#35955 Roll Skia from 22fb61b75635 to 2fb4c0df63be (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35956 Roll Fuchsia Mac SDK from vxuLLecT-NU8FuW1l... to 2YbFwIuDkJ1W46jzg...
  DEPS
Labels: autosubmit

#35938 [Impeller] Make 'MorphologyFilterContents' use 'effect_transform'
  impeller/display_list/display_list_dispatcher.cc
  impeller/entity/contents/filters/filter_contents.cc
  impeller/entity/contents/filters/filter_contents.h
  impeller/entity/contents/filters/morphology_filter_contents.cc
  impeller/entity/entity_unittests.cc
Labels: impeller, autosubmit

#35951 [Impeller] Add utility to check if a Matrix is aligned
  impeller/geometry/geometry_unittests.cc
  impeller/geometry/matrix.h
  impeller/geometry/scalar.h
Labels: impeller

#35926 [Impeller] Make color matrix filter work as expected
  impeller/entity/contents/filters/color_matrix_filter_contents.cc
  impeller/entity/entity_unittests.cc
  impeller/entity/shaders/color_matrix_color_filter.frag
Labels: impeller, autosubmit

#35958 Roll Skia from 2fb4c0df63be to 36a6669b71c8 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35959 Roll Skia from 36a6669b71c8 to da38c46129b4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35960 [Impeller] Use ascent/descent rather than deprecated top/bottom for glyph bounds
  impeller/entity/contents/text_contents.cc
  impeller/typographer/backends/skia/text_frame_skia.cc
  impeller/typographer/backends/skia/text_render_context_skia.cc
Labels: needs tests, impeller, autosubmit

#35961 Roll Skia from da38c46129b4 to 4c1018786f7b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35964 Roll Fuchsia Mac SDK from 2YbFwIuDkJ1W46jzg... to JwUV4fO7YBCZli3yN...
  DEPS
Labels: autosubmit

#35965 Roll Skia from 4c1018786f7b to 796df2adb550 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35969 Roll Skia from 796df2adb550 to 3f8e52d43555 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35873 Roll to a patched version of libcxxabi that is compatible with the latest Clang Mac/iOS toolchain
  DEPS
  ci/licenses_golden/licenses_third_party
  testing/symbols/verify_exported.dart
Labels: needs tests, autosubmit

#35970 Roll Skia from 3f8e52d43555 to 977dc4d93034 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35902 [Windows] Fix system theme integration.
  shell/platform/windows/settings_plugin.cc
  shell/platform/windows/settings_plugin.h
  shell/platform/windows/settings_plugin_unittests.cc
Labels: platform-windows

#35954 Remove noisy log from startup
  shell/platform/embedder/embedder.cc
  shell/platform/windows/flutter_windows_unittests.cc
Labels: platform-windows, embedder, autosubmit

#35971 Roll Skia from 977dc4d93034 to d0b84eceadc6 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35592 [iOS] Avoid jitter and laggy when user is dragging on iOS Promotion devices
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest_mrc.mm
  shell/platform/darwin/ios/framework/Source/VsyncWaiterIosTest.mm
  shell/platform/darwin/ios/framework/Source/vsync_waiter_ios.h
  shell/platform/darwin/ios/framework/Source/vsync_waiter_ios.mm
Labels: platform-ios, autosubmit

#35973 Use the frame size to cull
  flow/surface_frame.cc
  flow/surface_frame.h
  flow/surface_frame_unittests.cc
  shell/common/rasterizer_unittests.cc
  shell/common/shell_test_platform_view_vulkan.cc
  shell/gpu/gpu_surface_gl_impeller.cc
  shell/gpu/gpu_surface_gl_skia.cc
  shell/gpu/gpu_surface_metal_impeller.mm
  shell/gpu/gpu_surface_metal_skia.mm
  shell/gpu/gpu_surface_software.cc
  shell/gpu/gpu_surface_vulkan.cc
  shell/platform/android/external_view_embedder/external_view_embedder_unittests.cc
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/fuchsia/flutter/surface.cc
  shell/platform/fuchsia/flutter/tests/flatland_external_view_embedder_unittests.cc
  shell/platform/fuchsia/flutter/tests/gfx_external_view_embedder_unittests.cc
Labels: platform-ios, platform-android, platform-fuchsia, impeller, autosubmit

#35976 Roll Skia from d0b84eceadc6 to 07ba1f081f34 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35174 Started handling messages from background isolates for iOS
  ci/licenses_golden/licenses_flutter
  lib/ui/BUILD.gn
  lib/ui/dart_ui.cc
  lib/ui/fixtures/ui_test.dart
  lib/ui/platform_dispatcher.dart
  lib/ui/ui_dart_state.cc
  lib/ui/ui_dart_state.h
  lib/ui/window/platform_configuration.cc
  lib/ui/window/platform_configuration.h
  lib/ui/window/platform_message_response_dart_port.cc
  lib/ui/window/platform_message_response_dart_port.h
  lib/ui/window/platform_message_response_dart_port_unittests.cc
  lib/web_ui/lib/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  runtime/dart_isolate.h
  runtime/dart_isolate_group_data.cc
  runtime/dart_isolate_group_data.h
  runtime/runtime_controller.cc
  runtime/runtime_delegate.h
  shell/common/BUILD.gn
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/engine_unittests.cc
  shell/common/platform_message_handler.h
  shell/common/shell.cc
  shell/common/shell.h
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/platform_message_handler_ios.mm
  shell/platform/darwin/ios/platform_message_handler_ios_test.mm
Labels: platform-ios, platform-web, autosubmit

#35977 Remove build badge and add scorecards badge.
  README.md
Labels: autosubmit

#35966 [Impeller] Keep track of stencil coverage; don't render unused clips
  impeller/aiks/canvas.cc
  impeller/entity/contents/clip_contents.cc
  impeller/entity/contents/clip_contents.h
  impeller/entity/contents/contents.cc
  impeller/entity/contents/contents.h
  impeller/entity/contents/solid_color_contents.cc
  impeller/entity/contents/solid_color_contents.h
  impeller/entity/entity.cc
  impeller/entity/entity.h
  impeller/entity/entity_pass.cc
  impeller/entity/entity_unittests.cc
Labels: needs tests, impeller, autosubmit

#35980 Roll Dart SDK from 510176992194 to 381de7ccbe81 (4 revisions)
  DEPS
Labels: autosubmit

#35982 Roll Fuchsia Mac SDK from JwUV4fO7YBCZli3yN... to jTGAqMkpVAa0EiLIg...
  DEPS
Labels: autosubmit

#35984 Roll Dart SDK from 381de7ccbe81 to a20105e9f50a (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autosubmit

#36005 [web] roll CanvasKit 0.36.1 (attempt 3)
  DEPS
  lib/web_ui/dev/canvaskit_lock.yaml
  lib/web_ui/lib/src/engine/assets.dart
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/fonts.dart
  lib/web_ui/lib/src/engine/configuration.dart
  lib/web_ui/lib/src/engine/text/font_collection.dart
  lib/web_ui/test/canvaskit/canvaskit_api_test.dart
Labels: platform-web, autosubmit

#35890 Fix crash on ImageFilter.blur with very small sigma
  display_list/display_list_image_filter.h
  display_list/display_list_image_filter_unittests.cc
Labels: autosubmit

#35936 Add relative directory support to symbols validation script.
  testing/symbols/verify_exported.dart
Labels: needs tests, autosubmit

#36001 Revert "Support basic back navigation in Android 13/API 33"
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityTest.java
  shell/platform/android/test_runner/build.gradle
Labels: platform-android, autosubmit

#36019 Roll Fuchsia Mac SDK from jTGAqMkpVAa0EiLIg... to SptzPcGbOBfYL-Tum...
  DEPS
Labels: autosubmit

#35978 Lint and fix `bugprone-use-after-move` violations
  .clang-tidy
  display_list/display_list_builder.cc
  fml/mapping_unittests.cc
  fml/memory/ref_counted_unittest.cc
  fml/memory/weak_ptr_unittest.cc
  fml/platform/darwin/cf_utils_unittests.mm
  impeller/aiks/canvas.cc
  impeller/archivist/archive_class_registration.cc
  impeller/renderer/backend/gles/sampler_library_gles.cc
  impeller/typographer/text_run.cc
  lib/ui/compositing/scene_builder_unittests.cc
  lib/ui/hooks_unittests.cc
  lib/ui/painting/image_dispose_unittests.cc
  lib/ui/painting/image_encoding_unittests.cc
  lib/ui/painting/path_unittests.cc
  lib/ui/painting/single_frame_codec_unittests.cc
  lib/ui/semantics/semantics_update_builder_unittests.cc
  lib/ui/window/platform_configuration_unittests.cc
  lib/ui/window/platform_message_response_dart_port_unittests.cc
  lib/ui/window/platform_message_response_dart_unittests.cc
  runtime/dart_vm_lifecycle.cc
  shell/common/shell.cc
  shell/common/shell_unittests.cc
  shell/platform/android/platform_view_android_delegate/platform_view_android_delegate_unittests.cc
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  testing/dart_isolate_runner.cc
Labels: platform-android, autosubmit

#35983 Zip gen snapshot
  sky/tools/create_macos_gen_snapshots.py
Labels: needs tests, autosubmit

#36009 [Impeller] Avoid using the major and minor variable names.
  impeller/base/version.cc
  impeller/base/version.h
Labels: needs tests, impeller, autosubmit

#35274 Instrument Image and Picture for leak tracking.
  lib/ui/painting.dart
  lib/web_ui/lib/canvas.dart
  lib/web_ui/lib/painting.dart
  lib/web_ui/lib/src/engine/canvaskit/image.dart
  lib/web_ui/lib/src/engine/canvaskit/picture.dart
  lib/web_ui/lib/src/engine/canvaskit/picture_recorder.dart
  lib/web_ui/lib/src/engine/embedder.dart
  lib/web_ui/lib/src/engine/html_image_codec.dart
  lib/web_ui/lib/src/engine/picture.dart
  lib/web_ui/test/canvaskit/image_test.dart
  lib/web_ui/test/engine/image/image_test.dart
  lib/web_ui/test/engine/picture_test.dart
  testing/dart/BUILD.gn
  testing/dart/image_dispose_test.dart
  testing/dart/image_events_test.dart
  testing/dart/picture_test.dart
  web_sdk/test/api_conform_test.dart
Labels: platform-web

#36026 Update mac_host_engine to generate snapshot with global generators.
  ci/builders/mac_host_engine.json
Labels: autosubmit

#36025 Roll Skia from 07ba1f081f34 to 4d4bd4bf0b53 (20 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#36028 Roll Fuchsia Linux SDK from nHBOdXRdrHSKPhszb... to 64AKvws9D_pywDW-f...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#35767 `Surface` will be created again after the front and back switches
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
Labels: platform-android, needs tests, autosubmit

#35993 [Impeller] Make the filter coverage of the erode image filter smaller
  impeller/entity/contents/filters/morphology_filter_contents.cc
Labels: needs tests, impeller, autosubmit

#36034 Roll Skia from 4d4bd4bf0b53 to fec4be3be3d8 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#29294 Windows: Client wrapper: Support querying the graphics adapter used
  shell/platform/windows/client_wrapper/flutter_view_unittests.cc
  shell/platform/windows/client_wrapper/include/flutter/flutter_view.h
  shell/platform/windows/client_wrapper/testing/stub_flutter_windows_api.cc
  shell/platform/windows/client_wrapper/testing/stub_flutter_windows_api.h
  shell/platform/windows/flutter_windows.cc
  shell/platform/windows/flutter_windows_unittests.cc
  shell/platform/windows/public/flutter_windows.h
Labels: cla: yes, platform-windows, needs tests

#35997 Remove context assertion from Android platform views using Virtual Display
  shell/platform/android/io/flutter/plugin/platform/SingleViewPresentation.java
  testing/scenario_app/android/BUILD.gn
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/PlatformViewWithSurfaceViewBadContextUiTest.java
  testing/scenario_app/android/app/src/main/java/dev/flutter/scenarios/PlatformViewsActivity.java
  testing/scenario_app/android/app/src/main/java/dev/flutter/scenarios/SurfacePlatformViewFactory.java
  testing/scenario_app/lib/src/platform_view.dart
Labels: platform-android, will affect goldens, autosubmit

#33688 Windows: Texture Registrar: Destroy textures on raster thread
  shell/platform/common/client_wrapper/core_implementations.cc
  shell/platform/common/client_wrapper/include/flutter/texture_registrar.h
  shell/platform/common/client_wrapper/testing/stub_flutter_api.cc
  shell/platform/common/client_wrapper/testing/stub_flutter_api.h
  shell/platform/common/client_wrapper/texture_registrar_impl.h
  shell/platform/common/client_wrapper/texture_registrar_unittests.cc
  shell/platform/common/public/flutter_texture_registrar.h
  shell/platform/glfw/flutter_glfw.cc
  shell/platform/windows/angle_surface_manager.cc
  shell/platform/windows/flutter_windows.cc
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_engine.h
  shell/platform/windows/flutter_windows_engine_unittests.cc
  shell/platform/windows/flutter_windows_texture_registrar.cc
  shell/platform/windows/flutter_windows_texture_registrar.h
  shell/platform/windows/flutter_windows_texture_registrar_unittests.cc
Labels: platform-windows

#36040 Roll Fuchsia Mac SDK from SptzPcGbOBfYL-Tum... to thzQ3Eamr4bpD4qXS...
  DEPS
Labels: autosubmit

#36042 Roll Skia from fec4be3be3d8 to 399ecfeb50d5 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#36047 Roll Skia from 399ecfeb50d5 to fbffa6c379ba (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#35979 [macOS] Fix text input plugin editable transform
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPluginTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/macos/framework/Source/FlutterTextInputPluginTest.mm
Labels: platform-ios, platform-macos, autosubmit

#36049 Roll Fuchsia Linux SDK from 64AKvws9D_pywDW-f... to S5y_wLZJBzalYADeY...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#36036 [Impeller] Implement matrix filter
  ci/licenses_golden/licenses_flutter
  impeller/display_list/display_list_dispatcher.cc
  impeller/display_list/display_list_unittests.cc
  impeller/entity/BUILD.gn
  impeller/entity/contents/filters/filter_contents.cc
  impeller/entity/contents/filters/filter_contents.h
  impeller/entity/contents/filters/inputs/filter_contents_filter_input.cc
  impeller/entity/contents/filters/inputs/filter_input.cc
  impeller/entity/contents/filters/inputs/filter_input.h
  impeller/entity/contents/filters/matrix_filter_contents.cc
  impeller/entity/contents/filters/matrix_filter_contents.h
Labels: impeller

#36050 Roll buildroot
  DEPS
Labels: autosubmit

#36052 Roll Skia from fbffa6c379ba to f58cc5ce2786 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#36053 Print detailed logs on command error.
  sky/tools/create_macos_gen_snapshots.py
Labels: autosubmit

#36057 Roll Skia from f58cc5ce2786 to 595f51fe1ac9 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#36060 Roll Dart SDK from 381de7ccbe81 to be96b5476852 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autosubmit

#36011 [web] roll CanvasKit 0.37.0
  DEPS
  lib/web_ui/dev/canvaskit_lock.yaml
  lib/web_ui/lib/src/engine/configuration.dart
Labels: platform-web, autosubmit

#36059 Populate dart_library_sources_kernel in the embedder library in JIT mode
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: embedder, autosubmit

#36064 [Impeller] Premultiply gradient alpha after the gradient LUT is generated
  impeller/aiks/aiks_unittests.cc
  impeller/entity/shaders/linear_gradient_fill.frag
  impeller/entity/shaders/radial_gradient_fill.frag
  impeller/entity/shaders/sweep_gradient_fill.frag
  impeller/geometry/gradient.cc
Labels: impeller, autosubmit

#36065 Roll Skia from 595f51fe1ac9 to 89ff483bccbe (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#36063 [cherry pick] Revert "Support basic back navigation in Android 13/API 33" (#36001)
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityTest.java
  shell/platform/android/test_runner/build.gradle
Labels: platform-android, autosubmit

#35991 [Impeller] Implement compose image filter
  impeller/display_list/display_list_dispatcher.cc
  impeller/display_list/display_list_unittests.cc
Labels: impeller, autosubmit

#36043 [Impeller] Implement color filter image filter
  impeller/display_list/display_list_dispatcher.cc
  impeller/display_list/display_list_unittests.cc
Labels: impeller, autosubmit

#36068 Roll Fuchsia Mac SDK from thzQ3Eamr4bpD4qXS... to T-LhIRl7A7MOniA01...
  DEPS
Labels: autosubmit

#36069 Roll Dart SDK from be96b5476852 to 86d283205b1d (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autosubmit

#36070 Roll Skia from 89ff483bccbe to 82f833ccc0a0 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#36071 Roll Fuchsia Linux SDK from S5y_wLZJBzalYADeY... to NxOIrMXIoDdeHU6S5...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#36073 Roll Skia from 82f833ccc0a0 to 943e9a1f6d4d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#36072 Roll Dart SDK from 86d283205b1d to 708893986cd0 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autosubmit
