Repository flutter/engine, pull requests merged in 2022-12, with the labels that each got.

#37994 Roll Skia from 2a75bac61922 to 767175530c11 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37709 [Impeller] Implement 'ui.Image.toByteData()'
  ci/licenses_golden/licenses_flutter
  impeller/display_list/display_list_image_impeller.cc
  impeller/display_list/display_list_image_impeller.h
  lib/ui/BUILD.gn
  lib/ui/painting/display_list_deferred_image_gpu_impeller.h
  lib/ui/painting/image_encoding.cc
  lib/ui/painting/image_encoding_impeller.cc
  lib/ui/painting/image_encoding_impeller.h
  lib/ui/painting/image_encoding_skia.cc
  lib/ui/painting/image_encoding_skia.h
  shell/common/snapshot_controller_impeller.cc
Labels: needs tests, impeller, autosubmit

#37999 Roll Skia from 767175530c11 to 4418e5468ee2 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38002 Roll Fuchsia Mac SDK from C4DamROwkxoF0YXyS... to hODX8Qi_7J5kwKp4S...
  DEPS
Labels: autosubmit

#38003 Roll Skia from 4418e5468ee2 to 06801a30fc86 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38004 Roll Skia from 06801a30fc86 to bfc7c3a83dc0 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37998 [Impeller] Use glyph bounds to compute the max glyph size instead of font metrics
  impeller/aiks/aiks_unittests.cc
  impeller/entity/contents/text_contents.cc
  impeller/fixtures/BUILD.gn
  impeller/fixtures/wtf.otf
  impeller/typographer/backends/skia/text_frame_skia.cc
  impeller/typographer/backends/skia/text_render_context_skia.cc
  impeller/typographer/typographer_unittests.cc
Labels: impeller

#38007 Roll Skia from bfc7c3a83dc0 to 6f6793b298ff (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38009 Roll Skia from 6f6793b298ff to b273c4c744be (1 revision)
  DEPS
Labels: autosubmit

#37981 [Impeller Scene] Add offline mesh importer
  ci/licenses_golden/licenses_flutter
  impeller/compiler/BUILD.gn
  impeller/fixtures/BUILD.gn
  impeller/fixtures/flutter_logo.glb
  impeller/scene/importer/BUILD.gn
  impeller/scene/importer/importer.h
  impeller/scene/importer/importer_gltf.cc
  impeller/scene/importer/importer_main.cc
  impeller/scene/importer/mesh.fbs
  impeller/scene/importer/switches.cc
  impeller/scene/importer/switches.h
  impeller/scene/importer/types.h
  impeller/tools/impeller.gni
Labels: needs tests, will affect goldens, impeller

#37424 Fix: The Background and Overlay ImageView leak
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
Labels: platform-android, needs tests, autosubmit

#36143 feat: add custom cursor interface on windows
  ci/licenses_golden/licenses_flutter
  shell/platform/windows/BUILD.gn
  shell/platform/windows/cursor_handler.cc
  shell/platform/windows/cursor_handler.h
  shell/platform/windows/cursor_handler_unittests.cc
  shell/platform/windows/flutter_window.cc
  shell/platform/windows/flutter_window.h
  shell/platform/windows/testing/mock_window_binding_handler.h
  shell/platform/windows/window_binding_handler.h
Labels: platform-windows, autosubmit

#37493 Remove glitches when scrolling on old Android TV devices
  shell/platform/android/android_egl_surface.cc
Labels: platform-android, needs tests, autosubmit

#37689 Made responses to platform methods threadsafe in linux
  shell/platform/linux/fl_binary_messenger.cc
  shell/platform/linux/fl_binary_messenger_test.cc
  shell/platform/linux/fl_engine.cc
  shell/platform/linux/public/flutter_linux/fl_binary_messenger.h
Labels: platform-linux, autosubmit

#38019 [web] Update Firefox to 106.0
  .ci.yaml
  lib/web_ui/dev/browser_lock.yaml
Labels: platform-web

#38021 Roll Skia from b273c4c744be to 355045d108f0 (10 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38023 Roll Skia from 355045d108f0 to e4273a995436 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38024 [Impeller] Pack 👏 the 👏 atlas 👏
  impeller/entity/contents/text_contents.cc
  impeller/typographer/backends/skia/text_frame_skia.cc
  impeller/typographer/backends/skia/text_render_context_skia.cc
  impeller/typographer/font.h
  impeller/typographer/glyph.h
  impeller/typographer/text_frame.cc
  impeller/typographer/typographer_unittests.cc
Labels: impeller

#38025 Roll Skia from e4273a995436 to c6a481bef3fb (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38027 Roll Skia from c6a481bef3fb to 5e687e4aced6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38029 Roll Skia from 5e687e4aced6 to c432cb7480b5 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38031 Roll Fuchsia Mac SDK from hODX8Qi_7J5kwKp4S... to aHgLxcRDjOQNKL7zH...
  DEPS
Labels: autosubmit

#38033 Roll Skia from c432cb7480b5 to 28c1bbab82b8 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38006 [web] Remove outdated information in web_ui/README
  lib/web_ui/README.md
Labels: platform-web, autosubmit

#38040 Fix typo in Animator comment
  shell/common/animator.cc
Labels: autosubmit

#38043 Roll Fuchsia Mac SDK from aHgLxcRDjOQNKL7zH... to BDTULRXL5gDEHXmRA...
  DEPS
Labels: autosubmit

#38046 Roll Skia from 28c1bbab82b8 to 6fdf7181e374 (16 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37990 [Impeller] add --enable-impeller-3d flag to support scene experimentation
  ci/licenses_golden/licenses_flutter
  impeller/tools/impeller.gni
  lib/snapshot/BUILD.gn
  lib/snapshot/libraries_experimental.json
  lib/ui/BUILD.gn
  lib/ui/compositing/scene_builder.cc
  lib/ui/compositing/scene_builder.h
  lib/ui/dart_ui.cc
  lib/ui/experiments/compositing_3d.dart
  lib/ui/experiments/ui.dart
  tools/gn
Labels: needs tests, impeller, autosubmit

#37644 [canvaskit] Fix Shader program tests
  lib/web_ui/test/canvaskit/canvaskit_api_test.dart
  lib/web_ui/test/canvaskit/fragment_program_test.dart
Labels: platform-web

#37636 [canvaskit] Fix Surface test
  lib/web_ui/test/canvaskit/surface_test.dart
Labels: platform-web

#37107 PlatformViews needs clipRect.
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
Labels: platform-ios, needs tests, autosubmit

#38047 Documentation and other cleanup in dart:ui, plus a small performance improvement
  flow/layers/display_list_raster_cache_item.cc
  lib/ui/compositing.dart
  lib/ui/geometry.dart
  lib/ui/painting.dart
  lib/web_ui/lib/canvas.dart
  lib/web_ui/lib/src/engine/html/render_vertices.dart
  testing/dart/BUILD.gn
  testing/dart/compositing_test.dart
  testing/dart/painting_test.dart
  testing/dart/path_test.dart
Labels: platform-web, autosubmit

#38015 [web] use a permanent live region for a11y announcements
  lib/web_ui/lib/src/engine/initialization.dart
  lib/web_ui/lib/src/engine/semantics/accessibility.dart
  lib/web_ui/test/engine/semantics/accessibility_test.dart
Labels: platform-web, autosubmit

#38051 Roll Skia from 6fdf7181e374 to d0e3902c97b3 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38049 [Impeller Scene] Rename mesh importer to scenec
  ci/licenses_golden/licenses_flutter
  impeller/fixtures/BUILD.gn
  impeller/scene/importer/BUILD.gn
  impeller/scene/importer/scenec_main.cc
  impeller/scene/importer/switches.cc
  impeller/tools/impeller.gni
Labels: needs tests, impeller, autosubmit

#38038 [embedder] Ensure FlutterMetalTexture cleanup call
  shell/gpu/gpu_surface_metal_delegate.h
  shell/gpu/gpu_surface_metal_skia.mm
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/fixtures/main.dart
  shell/platform/embedder/tests/embedder_test_context_metal.cc
  shell/platform/embedder/tests/embedder_test_context_metal.h
  shell/platform/embedder/tests/embedder_unittests_metal.mm
Labels: embedder

#38054 Roll Fuchsia Mac SDK from BDTULRXL5gDEHXmRA... to w333oMghC5jK9C-YE...
  DEPS
Labels: autosubmit

#38052 [Impeller] Make perspective transform resolve to left handed clip space
  impeller/geometry/geometry_unittests.cc
  impeller/geometry/matrix.h
  impeller/renderer/renderer_unittests.cc
Labels: impeller

#38053 [Impeller Scene] Wire up camera
  impeller/scene/camera.cc
  impeller/scene/camera.h
  impeller/scene/scene.cc
  impeller/scene/scene_encoder.cc
  impeller/scene/scene_encoder.h
  impeller/scene/scene_entity.cc
  impeller/scene/scene_entity.h
  impeller/scene/scene_unittests.cc
  impeller/scene/static_mesh_entity.cc
  impeller/scene/static_mesh_entity.h
Labels: impeller, autosubmit

#38056 [Impeller] Add Quaternion to Matrix conversion
  impeller/geometry/geometry_unittests.cc
  impeller/geometry/matrix.h
Labels: impeller

#38057 Roll Fuchsia Mac SDK from w333oMghC5jK9C-YE... to N9nk_ceXcPxQEjGEL...
  DEPS
Labels: autosubmit

#38059 Roll Skia from d0e3902c97b3 to 32827b415412 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38061 Roll Fuchsia Mac SDK from N9nk_ceXcPxQEjGEL... to 1ZS93HM4ImgmL2EPK...
  DEPS
Labels: autosubmit

#38065 Roll Skia from 32827b415412 to 5dd1b7d6a303 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38069 Roll Fuchsia Mac SDK from 1ZS93HM4ImgmL2EPK... to SDbR-S_A_fv-v_Sbb...
  DEPS
Labels: autosubmit

#38073 Roll Skia from f75f98074f60 to 1a8a0e1113da (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38076 Roll Dart SDK from 6b7e44ae494b to 52599799b666 (19 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autosubmit

#38074 [CP] Remove glitches when scrolling on old Android TV devices (#37493)
  shell/platform/android/android_egl_surface.cc
Labels: platform-android, needs tests

#38071 [CP] PlatformViews needs clipRect (#37107)
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
Labels: platform-ios, needs tests

#38077 Roll Skia from 1a8a0e1113da to e9c0d4b83ca4 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37855 [Windows] Make the engine own the `PlatformHandler`
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_engine.h
  shell/platform/windows/flutter_windows_view.cc
  shell/platform/windows/flutter_windows_view.h
  shell/platform/windows/platform_handler.cc
  shell/platform/windows/platform_handler.h
  shell/platform/windows/platform_handler_unittests.cc
Labels: platform-windows, autosubmit

#38011 [web] Add styling in CSS reset to remove Edge password reveal icon
  lib/web_ui/lib/src/engine/browser_detection.dart
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/lib/src/engine/host_node.dart
  lib/web_ui/test/engine/host_node_test.dart
Labels: platform-web, needs tests, autosubmit

#38079 [ImpellerC] Print the working directory that was tried when failing to open
  impeller/compiler/switches.cc
Labels: needs tests, impeller, autosubmit

#38089 Roll Skia from e9c0d4b83ca4 to ad85f404b97d (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38090 Roll Fuchsia Mac SDK from SDbR-S_A_fv-v_Sbb... to 8p38Xk7Z7OLI7OA7R...
  DEPS
Labels: autosubmit

#38091 Roll Dart SDK from 52599799b666 to 35a9facce191 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autosubmit

#38085 Update glfw to head and imgui to the docking branch
  DEPS
  ci/licenses_golden/licenses_third_party
  impeller/playground/widgets.h
Labels: will affect goldens

#38096 Roll Skia from ad85f404b97d to e2244ea470c0 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#38098 Roll Skia from e2244ea470c0 to b63a254727f3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38100 Roll Fuchsia Mac SDK from 8p38Xk7Z7OLI7OA7R... to crEcyXdyZ686cAqMV...
  DEPS
Labels: autosubmit

#38092 Disable an extension in Xvfb to work around errors seen when running Impeller/Vulkan unit tests
  testing/xvfb.py
Labels: autosubmit

#38104 Add gradle option to allow/show System.out.print logs
  shell/platform/android/test_runner/build.gradle
Labels: platform-android, autosubmit

#38106 Roll Skia from b63a254727f3 to 13e5241ce8b7 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37916 [web:canvaskit] test zero font size
  lib/web_ui/test/canvaskit/canvas_golden_test.dart
Labels: platform-web, will affect goldens, autosubmit

#38107 Roll Skia from 13e5241ce8b7 to aea62b0970c3 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38111 Roll Skia from aea62b0970c3 to dd3285a80b23 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38109 [Impeller] Remove unused flag enable-impeller-vulkan.
  ci/builders/linux_host_engine.json
  impeller/docs/renderdoc_frame_capture.md
  tools/gn
Labels: impeller, autosubmit

#38114 Pin the analyzer package version in lib/web_ui
  lib/web_ui/pubspec.yaml
Labels: platform-web

#38097 [Impeller Scene] Render imported meshes
  impeller/fixtures/BUILD.gn
  impeller/scene/BUILD.gn
  impeller/scene/geometry.cc
  impeller/scene/geometry.h
  impeller/scene/importer/importer_gltf.cc
  impeller/scene/importer/importer_unittests.cc
  impeller/scene/importer/scene.fbs
  impeller/scene/importer/scenec_main.cc
  impeller/scene/scene_unittests.cc
  impeller/scene/shaders/geometry.vert
  impeller/scene/shaders/unlit.frag
  impeller/tools/impeller.gni
Labels: impeller, autosubmit

#38084 Use announce function in live region
  lib/web_ui/lib/src/engine/semantics/accessibility.dart
  lib/web_ui/lib/src/engine/semantics/live_region.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
Labels: platform-web, autosubmit

#38105 Roll Dart SDK from 35a9facce191 to e517487c5679 (Dart 3.0)
  DEPS
  ci/format.bat
  ci/format.sh
  ci/licenses_golden/licenses_third_party
  shell/platform/fuchsia/dart_runner/dart_runner.cc
  shell/platform/fuchsia/flutter/component_v1.cc
  shell/platform/fuchsia/flutter/component_v2.cc
Labels: platform-fuchsia

#37754 Preliminary implementation of UIA for A11y on Windows
  ci/licenses_golden/licenses_flutter
  shell/platform/windows/BUILD.gn
  shell/platform/windows/accessibility_bridge_windows.cc
  shell/platform/windows/accessibility_bridge_windows.h
  shell/platform/windows/accessibility_bridge_windows_unittests.cc
  shell/platform/windows/flutter_platform_node_delegate_windows.cc
  shell/platform/windows/flutter_platform_node_delegate_windows.h
  shell/platform/windows/flutter_window.cc
  shell/platform/windows/flutter_window.h
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_engine.h
  shell/platform/windows/flutter_windows_view.cc
  shell/platform/windows/flutter_windows_view.h
  shell/platform/windows/flutter_windows_view_unittests.cc
  shell/platform/windows/testing/mock_text_input_manager.h
  shell/platform/windows/testing/mock_window.h
  shell/platform/windows/testing/mock_window_binding_handler.h
  shell/platform/windows/testing/mock_window_binding_handler_delegate.h
  shell/platform/windows/testing/test_keyboard.cc
  shell/platform/windows/testing/wm_builders.h
  shell/platform/windows/window.cc
  shell/platform/windows/window.h
  shell/platform/windows/window_binding_handler_delegate.h
  shell/platform/windows/windowsx_shim.h
  third_party/accessibility/ax/ax_active_popup.cc
  third_party/accessibility/ax/platform/ax_platform_node_win.cc
  third_party/accessibility/ax/platform/ax_platform_node_win_unittest.cc
  third_party/accessibility/ax/platform/test_ax_node_wrapper.cc
Labels: accessibility, affects: desktop, platform-windows

#38122 Roll Fuchsia Linux SDK from NlJGkMbtZqQ6_BCpu... to xn8ztWtp-zww-jObz...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#36963 Create FlutterActivity/FlutterFragment using light weight engine with FlutterEngineGroup
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/io/flutter/embedding/android/FlutterActivityLaunchConfigs.java
  shell/platform/android/io/flutter/embedding/android/FlutterFragment.java
  shell/platform/android/io/flutter/embedding/android/FlutterFragmentActivity.java
  shell/platform/android/io/flutter/embedding/engine/FlutterEngineGroupCache.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterAndroidComponentTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterFragmentActivityTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterFragmentTest.java
  shell/platform/android/test/io/flutter/embedding/engine/FlutterEngineGroupCacheTest.java
  tools/android_lint/project.xml
Labels: platform-android

#37986 Full implementation of text-input-test
  shell/platform/fuchsia/flutter/tests/integration/text-input/BUILD.gn
  shell/platform/fuchsia/flutter/tests/integration/text-input/meta/text-input-test.cml
  shell/platform/fuchsia/flutter/tests/integration/text-input/text-input-test.cc
  shell/platform/fuchsia/flutter/tests/integration/text-input/text-input-view/BUILD.gn
  shell/platform/fuchsia/flutter/tests/integration/text-input/text-input-view/lib/text_input_view.dart
  shell/platform/fuchsia/flutter/tests/integration/text-input/text-input-view/meta/text-input-view-realm.cml
  shell/platform/fuchsia/flutter/tests/integration/text-input/text-input-view/meta/text-input-view.cml
  shell/platform/fuchsia/flutter/tests/integration/utils/portable_ui_test.cc
  shell/platform/fuchsia/flutter/tests/integration/utils/portable_ui_test.h
  testing/fuchsia/test_suites.yaml
  tools/fuchsia/devshell/run_integration_test.sh
Labels: platform-fuchsia

#37865 Reland fix wrong VSYNC event
  fml/trace_event.h
  shell/common/vsync_waiter_fallback.cc
  shell/platform/android/vsync_waiter_android.cc
  shell/platform/darwin/ios/framework/Source/vsync_waiter_ios.mm
Labels: platform-ios, platform-android, needs tests

#38080 [iOS] Change locale format for spell check
  shell/platform/darwin/ios/framework/Source/FlutterSpellCheckPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterSpellCheckPluginTest.mm
Labels: platform-ios, autosubmit

#38127 Remove dlCanvasRecorder from flutter::PictureRecorder
  lib/ui/painting/canvas.cc
  lib/ui/painting/canvas.h
  lib/ui/painting/picture.h
  lib/ui/painting/picture_recorder.cc
  lib/ui/painting/picture_recorder.h
  lib/ui/text/paragraph.cc
Labels: needs tests, autosubmit

#38112 [Windows] Add more cursor plugin tests
  shell/platform/windows/BUILD.gn
  shell/platform/windows/cursor_handler_unittests.cc
Labels: platform-windows, autosubmit

#38135 Roll Fuchsia Mac SDK from pMV6A0ykZQ8aA3NG2... to 9SnrQ0vbR8IC7UIoP...
  DEPS
Labels: autosubmit

#38075 [CP] Remove glitches when scrolling on old Android TV devices (#37493)
  shell/platform/android/android_egl_surface.cc
Labels: platform-android, needs tests

#38115 [Impeller] order metal samplers according to declared order and not usage order
  impeller/compiler/compiler.cc
  impeller/compiler/impellerc_main.cc
  impeller/compiler/source_options.h
  impeller/compiler/switches.cc
  impeller/compiler/switches.h
  impeller/fixtures/ordering/shader_with_matrix.frag
  impeller/fixtures/ordering/shader_with_ordered_floats.frag
  impeller/fixtures/ordering/shader_with_samplers.frag
  impeller/tools/impeller.gni
  lib/ui/fixtures/shaders/BUILD.gn
  testing/dart/fragment_shader_test.dart
Labels: impeller, autosubmit

#38136 Remove autoninja.
  ci/builders/mac_ios_engine_release.json
Labels: autosubmit

#38133 [embedder] Expose metal surface from test context
  shell/platform/embedder/tests/embedder_test_context_metal.cc
  shell/platform/embedder/tests/embedder_test_context_metal.h
  shell/platform/embedder/tests/embedder_unittests_metal.mm
Labels: needs tests, embedder

#38139 Roll Fuchsia Mac SDK from 9SnrQ0vbR8IC7UIoP... to aMW0DjntzFJj4RoR3...
  DEPS
Labels: autosubmit

#38137 Revert "Remove dlCanvasRecorder from flutter::PictureRecorder"
  lib/ui/painting/canvas.cc
  lib/ui/painting/canvas.h
  lib/ui/painting/picture.h
  lib/ui/painting/picture_recorder.cc
  lib/ui/painting/picture_recorder.h
  lib/ui/text/paragraph.cc
Labels: needs tests, autosubmit

#38141 [embedder] Consistent naming for GL/Metal tests
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/tests/embedder_gl_unittests.cc
  shell/platform/embedder/tests/embedder_metal_unittests.mm
Labels: embedder

#38126 [web] Trivial fix for non-static interop JS interop class.
  lib/web_ui/lib/src/engine/js_interop/js_promise.dart
Labels: platform-web, needs tests

#38146 [Impeller] Use DrawPath instead of Rect geometry when the paint style is stroke
  impeller/aiks/canvas.cc
  impeller/display_list/display_list_unittests.cc
Labels: impeller, autosubmit

#38123 Roll Skia from dd3285a80b23 to f84dc9303045 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: will affect goldens, autosubmit

#38151 Roll Skia from f84dc9303045 to 2691cd7b4110 (40 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38152 Roll Skia from 2691cd7b4110 to 711396b81248 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38157 Roll Skia from 711396b81248 to b253b10374e7 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38134 Roll Fuchsia Linux SDK from xn8ztWtp-zww-jObz... to rRJIjuO-dPNCpCTd9...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: will affect goldens, autosubmit

#38147 Massage the JS interop around `didCreateEngineInitializer`
  lib/web_ui/lib/initialization.dart
  lib/web_ui/lib/src/engine/js_interop/js_loader.dart
Labels: platform-web, needs tests, autosubmit

#38158 Roll Skia from b253b10374e7 to ec407902999b (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38149 Don't use sync*, as it is unimplemented in dart2wasm.
  third_party/web_locale_keymap/lib/web_locale_keymap/key_mappings.g.dart
  third_party/web_locale_keymap/test/test_cases.g.dart
  tools/gen_web_locale_keymap/bin/gen_web_locale_keymap.dart
  tools/gen_web_locale_keymap/data/key_mappings.dart.tmpl
  tools/gen_web_locale_keymap/data/test_cases.dart.tmpl
  tools/gen_web_locale_keymap/lib/common.dart
  tools/gen_web_locale_keymap/pubspec.yaml
Labels: autosubmit

#38128 [web] Use js_util.promiseToFuture with CanvasKitInit()
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
Labels: platform-web, needs tests, autosubmit

#38159 Fix premature LayerStateStack layer culling
  flow/layers/clip_path_layer_unittests.cc
  flow/layers/clip_rect_layer_unittests.cc
  flow/layers/clip_rrect_layer_unittests.cc
  flow/layers/clip_shape_layer.h
  flow/layers/opacity_layer.cc
  flow/layers/opacity_layer_unittests.cc
  flow/layers/platform_view_layer_unittests.cc
  flow/testing/mock_embedder.cc
  flow/testing/mock_embedder.h
Labels: autosubmit

#38161 Roll Skia from ec407902999b to 44062eff3e25 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38162 Roll Dart SDK from e517487c5679 to 0940b5e6ccd5 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: autosubmit

#38131 [const_finder] Ignore constructor invocations from generated tear-off declarations
  tools/const_finder/lib/const_finder.dart
  tools/const_finder/pubspec.yaml
  tools/const_finder/test/const_finder_test.dart
  tools/const_finder/test/fixtures/.dart_tool/package_config.json
  tools/const_finder/test/fixtures/lib/static_icon_provider.dart
  tools/const_finder/test/fixtures/lib/target.dart
Labels: autosubmit

#38166 Roll Skia from 44062eff3e25 to 1b194c67700e (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38174 [Impeller Scene] Convert vertex positions to match Impeller's clip space orientation
  impeller/scene/importer/importer_gltf.cc
  impeller/scene/importer/importer_unittests.cc
  impeller/scene/importer/vertices_builder.cc
  impeller/scene/importer/vertices_builder.h
Labels: impeller

#38182 Roll Skia from 1b194c67700e to 491f5c134f76 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38170 Fix sampler offsets
  ci/licenses_golden/tool_signature
  impeller/compiler/compiler.cc
  impeller/fixtures/ordering/shader_with_matrix.frag
  impeller/fixtures/ordering/shader_with_ordered_floats.frag
  lib/ui/fixtures/shaders/BUILD.gn
  testing/dart/fragment_shader_test.dart
  third_party/test_shaders/selman/LICENSE
  third_party/test_shaders/selman/glow_shader.frag
  tools/licenses/lib/main.dart
Labels: autosubmit

#38183 Roll Skia from 491f5c134f76 to 0d482f9fa8b3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38180 [Impeller Scene] Refactor Nodes/Meshes for simplicity and GLTF compatibility
  ci/licenses_golden/licenses_flutter
  impeller/scene/BUILD.gn
  impeller/scene/README.md
  impeller/scene/geometry.cc
  impeller/scene/geometry.h
  impeller/scene/importer/importer_gltf.cc
  impeller/scene/importer/importer_unittests.cc
  impeller/scene/importer/scene.fbs
  impeller/scene/mesh.cc
  impeller/scene/mesh.h
  impeller/scene/node.cc
  impeller/scene/node.h
  impeller/scene/scene.cc
  impeller/scene/scene.h
  impeller/scene/scene_entity.cc
  impeller/scene/scene_unittests.cc
  impeller/scene/static_mesh_entity.cc
  impeller/scene/static_mesh_entity.h
Labels: impeller

#38195 Roll Skia from 0d482f9fa8b3 to 80d9e679f909 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38200 Roll Skia from 80d9e679f909 to 29791c73ae16 (1 revision)
  DEPS
Labels: autosubmit

#38202 [Impeller] Fix asset names used for the generated entrypoint name can contain invalid identifiers for the target language
  impeller/compiler/switches_unittests.cc
  impeller/compiler/types.cc
  impeller/compiler/utilities.cc
  impeller/compiler/utilities.h
Labels: impeller, autosubmit

#38207 Roll Skia from 29791c73ae16 to 7bd37737e35d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38213 Roll Skia from 7bd37737e35d to 0cb546781e89 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38154 [CP] Fixed visibility of embedded views in safari (google map, video, camera preview etc)
  lib/web_ui/lib/src/engine/canvaskit/embedded_views.dart
  lib/web_ui/test/canvaskit/embedded_views_test.dart
Labels: platform-ios, platform-android, platform-web, platform-windows, embedder

#38221 Roll Skia from 833bfcb2b52f to bb9378b61c4f (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38226 Roll Skia from bb9378b61c4f to 788fe69e7ade (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38229 [Impeller] Speculatively attempt to fix Metal PSO construction errors on host targets.
  impeller/renderer/backend/metal/pipeline_library_mtl.mm
Labels: needs tests, impeller, autosubmit

#38214 [Impeller] Fix typo in compiller help
  impeller/compiler/switches.cc
Labels: needs tests, autosubmit

#38235 Roll Skia from 788fe69e7ade to 2e417d4f7993 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38239 Roll Skia from 2e417d4f7993 to 08dc0c9e4e70 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38240 Roll Skia from 08dc0c9e4e70 to 9abf4b1bf242 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38190 [Impeller Scene] Node deserialization
  impeller/scene/geometry.cc
  impeller/scene/geometry.h
  impeller/scene/material.cc
  impeller/scene/material.h
  impeller/scene/mesh.cc
  impeller/scene/mesh.h
  impeller/scene/node.cc
  impeller/scene/node.h
  impeller/scene/scene_context.cc
  impeller/scene/scene_unittests.cc
Labels: impeller, autosubmit

#38243 Roll Skia from 9abf4b1bf242 to c83eef7dc2a3 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38242 Roll Fuchsia Mac SDK from aMW0DjntzFJj4RoR3... to Cd_ZtrDVcpQ85HRL3...
  DEPS
Labels: autosubmit

#38164 Clarify file sharing flags in FML filesystem APIs on Windows
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/platform/win/file_win.cc
  fml/platform/win/file_win_unittests.cc
Labels: needs tests, autosubmit

#38230 Always set orientation preferences on iOS 16+
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
Labels: platform-ios, autosubmit

#38257 Manual roll of Skia from 971c342c3030 to 280ac8882cff
  DEPS
  ci/licenses_golden/licenses_skia
  flutter_vma/flutter_skia_vma.cc
  flutter_vma/flutter_skia_vma.h
Labels: needs tests, autosubmit

#38258 Roll Fuchsia Linux SDK from 8O5rMR_ehMaL3YhZ5... to A0jnUUORf2LQu1z2V...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#38264 Roll Skia from 280ac8882cff to 537e1e8c1ca6 (9 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38261 Run Mac Host clang-tidy on 12 cores
  .ci.yaml
Labels: autosubmit

#38167 Some fixes for dart2wasm
  lib/web_ui/lib/src/engine/app_bootstrap.dart
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/surface.dart
  lib/web_ui/lib/src/engine/js_interop/js_loader.dart
  lib/web_ui/lib/src/engine/js_interop/js_promise.dart
  lib/web_ui/lib/src/engine/navigation/history.dart
Labels: platform-web, autosubmit

#38269 Roll Fuchsia Mac SDK from Cd_ZtrDVcpQ85HRL3... to FQQdl8AGAsALFniHl...
  DEPS
Labels: autosubmit

#38265 [stable 3.3.10 hotfix] engine cherrypicks for flutter-3.2-candidate-5
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: platform-ios

#38259 Generate font fallback data to be const.
  lib/web_ui/dev/generate_fallback_font_data.dart
  lib/web_ui/lib/src/engine/canvaskit/font_fallback_data.dart
Labels: platform-web

#38277 Roll Skia from 537e1e8c1ca6 to 729ccbfb87bc (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38280 Roll Fuchsia Linux SDK from A0jnUUORf2LQu1z2V... to e2lfUFBW5ddtTZBbw...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#38279 Roll Skia from 729ccbfb87bc to 3171deabd88a (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38282 Roll Fuchsia Mac SDK from FQQdl8AGAsALFniHl... to u-tC0QEGUT4xQ4KOo...
  DEPS
Labels: autosubmit

#38273 [ui] add link to website for fragment shaders
  lib/ui/painting.dart
Labels: autosubmit

#38268 pylint all Python scripts under testing/
  ci/lint.sh
  testing/android_systrace_test.py
  testing/benchmark/displaylist_benchmark_parser.py
  testing/run_tests.py
  testing/xvfb.py
Labels: autosubmit

#38288 [web] correct float count in runtime effect
  lib/web_ui/lib/src/engine/canvaskit/painting.dart
  lib/web_ui/test/canvaskit/fragment_program_test.dart
Labels: platform-web, autosubmit

#37719 Fix issues related to keyboard inset
  shell/platform/darwin/ios/framework/Source/FlutterPlatformPluginTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController_Internal.h
Labels: platform-ios, autosubmit

#37789 [macOS] Refactor rendering infrastructure
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterCompositor.h
  shell/platform/darwin/macos/framework/Source/FlutterCompositor.mm
  shell/platform/darwin/macos/framework/Source/FlutterCompositorTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterIOSurfaceHolder.h
  shell/platform/darwin/macos/framework/Source/FlutterIOSurfaceHolder.mm
  shell/platform/darwin/macos/framework/Source/FlutterPlatformViewController.mm
  shell/platform/darwin/macos/framework/Source/FlutterRenderer.h
  shell/platform/darwin/macos/framework/Source/FlutterRenderer.mm
  shell/platform/darwin/macos/framework/Source/FlutterRendererTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterResizableBackingStoreProvider.h
  shell/platform/darwin/macos/framework/Source/FlutterResizableBackingStoreProvider.mm
  shell/platform/darwin/macos/framework/Source/FlutterResizeSynchronizer.h
  shell/platform/darwin/macos/framework/Source/FlutterResizeSynchronizer.mm
  shell/platform/darwin/macos/framework/Source/FlutterSurface.h
  shell/platform/darwin/macos/framework/Source/FlutterSurface.mm
  shell/platform/darwin/macos/framework/Source/FlutterSurfaceManager.h
  shell/platform/darwin/macos/framework/Source/FlutterSurfaceManager.mm
  shell/platform/darwin/macos/framework/Source/FlutterSurfaceManagerTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterThreadSynchronizer.h
  shell/platform/darwin/macos/framework/Source/FlutterThreadSynchronizer.mm
  shell/platform/darwin/macos/framework/Source/FlutterView.h
  shell/platform/darwin/macos/framework/Source/FlutterView.mm
Labels: affects: desktop, platform-macos

#38130 [web] Make Canvaskit's malloc more useful
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_canvas.dart
  lib/web_ui/lib/src/engine/canvaskit/path.dart
  lib/web_ui/test/canvaskit/canvaskit_api_test.dart
Labels: platform-web, autosubmit

#38291 Fix new `unnecessary_parenthesis` diagnostics.
  testing/dart/image_dispose_test.dart
Labels: autosubmit

#38292 Revert "[Impeller] Speculatively attempt to fix Metal PSO construction errors on host targets."
  impeller/renderer/backend/metal/pipeline_library_mtl.mm
Labels: needs tests, impeller

#38301 Reland "[Impeller] Speculatively attempt to fix Metal PSO construction errors on host targets."
  impeller/renderer/backend/metal/pipeline_library_mtl.mm
Labels: needs tests

#38294 Roll Skia from 3171deabd88a to b368746d696a (13 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37883 Reland "Migrate darwin common "framework_shared" target to ARC #37049"
  shell/platform/darwin/BUILD.gn
  shell/platform/darwin/common/BUILD.gn
  shell/platform/darwin/common/framework/Headers/FlutterCodecs.h
  shell/platform/darwin/common/framework/Source/FlutterChannels.mm
  shell/platform/darwin/common/framework/Source/FlutterChannelsTest.m
  shell/platform/darwin/common/framework/Source/FlutterCodecs.mm
  shell/platform/darwin/common/framework/Source/FlutterStandardCodec.mm
  shell/platform/darwin/ios/framework/Source/FlutterRestorationPluginTest.mm
Labels: platform-ios, platform-macos, autosubmit

#38306 [Impeller] Remove validation log when the pipeline library is collected before pipeline is setup.
  impeller/renderer/backend/metal/pipeline_library_mtl.mm
Labels: needs tests, impeller, autosubmit
