Repository flutter/engine, pull requests merged in 2022-06, with the labels that each got.

#33731 [Impeller] Fix failing CanDrawWithBlendColorFilter test.
  impeller/display_list/display_list_dispatcher.cc
  impeller/entity/contents/filters/blend_filter_contents.cc
Labels: waiting for tree to go green, needs tests, impeller

#33727 Roll Clang Windows from 0vi3psT56... to JTqmAIP-U...
  DEPS
Labels: waiting for tree to go green

#33730 Roll Clang Linux from qTm2i9cCx... to jFhD_XNYR...
  DEPS
Labels: waiting for tree to go green

#33729 [Impeller] Implement DlImageFilterType::kBlur
  impeller/aiks/paint.cc
  impeller/aiks/paint.h
  impeller/display_list/display_list_dispatcher.cc
  impeller/display_list/display_list_unittests.cc
Labels: impeller

#33605 [Windows] Swap the order of processing GCS_RESULTSTR and GCS_COMPSTR to fix the behavior of partial committing with Google Japanese Input
  shell/platform/windows/window_win32.cc
  shell/platform/windows/window_win32_unittests.cc
Labels: platform-windows

#33733 Roll Dart SDK from b7b20478af70 to f35040493b15 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#33734 [Impeller] Control GL error checking and tracing via GN options.
  impeller/BUILD.gn
  impeller/renderer/backend/gles/proc_table_gles.h
  impeller/tools/impeller.gni
Labels: waiting for tree to go green, impeller

#33740 Roll Skia from 2c1259e699a0 to 48cb5bc138ae (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33741 Roll Fuchsia Linux SDK from sqbzSMhtc... to 0LrSN0vh6...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#33742 Roll Skia from 48cb5bc138ae to b21740086944 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33748 Roll Skia from b21740086944 to 1da7be7a8516 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33749 Roll Skia from 1da7be7a8516 to bebf8e34c371 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33750 [Impeller] Make logs about unimplemented methods show up only in debug modes.
  impeller/display_list/display_list_dispatcher.cc
Labels: waiting for tree to go green, needs tests, impeller

#33751 Roll Skia from bebf8e34c371 to 5723585ba385 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33752 Roll Dart SDK from 5bf47cbf2df2 to 8d7d7ed98f4f (1 revision)
  DEPS
Labels: waiting for tree to go green

#33759 Roll Skia from 5723585ba385 to 479fa1c9ca2b (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33756 Print clang-tidy job exception
  tools/clang_tidy/lib/clang_tidy.dart
Labels: waiting for tree to go green, needs tests

#33760 Roll Fuchsia Linux SDK from 0LrSN0vh6... to IzplEdLmb...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#33761 Roll Dart SDK from 8d7d7ed98f4f to 7e36f3bb85ae (1 revision)
  DEPS
Labels: waiting for tree to go green

#33763 Roll Fuchsia Mac SDK from 8fsi3BivF... to DBL4vod75...
  DEPS
Labels: waiting for tree to go green

#33765 Roll Skia from 38847f13db58 to 3daf310ed832 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33524 Upgrade android SDK to API 32
  DEPS
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
  shell/platform/android/io/flutter/plugin/localization/LocalizationPlugin.java
  shell/platform/android/io/flutter/plugin/platform/PlatformPlugin.java
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  shell/platform/android/io/flutter/view/AccessibilityViewEmbedder.java
  shell/platform/android/test_runner/build.gradle
  testing/android_background_image/android/app/build.gradle
  testing/scenario_app/android/app/build.gradle
  tools/android_lint/baseline.xml
  tools/android_lint/lint.xml
  tools/android_lint/project.xml
  tools/android_sdk/packages.txt
  tools/cipd/android_embedding_bundle/build.gradle
  tools/javadoc/gen_javadoc.py
Labels: platform-android, waiting for tree to go green, needs tests

#33768 Roll Dart SDK from 7e36f3bb85ae to f7a9b1b49480 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#33758 Move the args for `GLContextPresent` into a struct
  shell/common/shell_test_platform_view_gl.cc
  shell/common/shell_test_platform_view_gl.h
  shell/gpu/gpu_surface_gl_delegate.h
  shell/gpu/gpu_surface_gl_impeller.cc
  shell/gpu/gpu_surface_gl_skia.cc
  shell/platform/android/android_surface_gl_impeller.cc
  shell/platform/android/android_surface_gl_impeller.h
  shell/platform/android/android_surface_gl_skia.cc
  shell/platform/android/android_surface_gl_skia.h
  shell/platform/android/surface/android_surface_mock.cc
  shell/platform/android/surface/android_surface_mock.h
  shell/platform/darwin/ios/ios_surface_gl.h
  shell/platform/darwin/ios/ios_surface_gl.mm
  shell/platform/embedder/embedder_surface_gl.cc
  shell/platform/embedder/embedder_surface_gl.h
Labels: platform-ios, platform-android, needs tests, embedder

#33769 Roll Skia from 3daf310ed832 to 2b1ed68f033c (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33770 Roll Dart SDK from f7a9b1b49480 to 7621b914e9bd (1 revision)
  DEPS
Labels: waiting for tree to go green

#33777 Roll Fuchsia Linux SDK from IzplEdLmb... to 7P7vIYLCi...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#33778 Roll Fuchsia Mac SDK from DBL4vod75... to IB_TiC_-a...
  DEPS
Labels: waiting for tree to go green

#33779 Roll Skia from 89fea08f6b16 to ee62fad9a422 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33780 Roll Skia from ee62fad9a422 to 455addeff687 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33782 Roll Skia from 455addeff687 to d881def3e544 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33776 Fix Canvas.drawParagraph should assert that Paragraph.layout has been called
  lib/ui/painting.dart
  lib/ui/text.dart
  testing/dart/canvas_test.dart
Labels: waiting for tree to go green

#33766 Do not capture a reference to the ResourceContext in the lambda created in the UnrefQueue dtor
  flow/skia_gpu_object.h
  flow/skia_gpu_object_unittests.cc
Labels: waiting for tree to go green

#33783 Roll Skia from d881def3e544 to 6886d924a06e (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33057 Detect pointer leaving the window on web
  lib/web_ui/lib/src/engine/pointer_binding.dart
  lib/web_ui/lib/src/engine/safe_browser_api.dart
  lib/web_ui/lib/src/engine/semantics/semantics.dart
  lib/web_ui/test/engine/pointer_binding_test.dart
Labels: platform-web

#33786 Roll Dart SDK from 7621b914e9bd to 50dcff4972e3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#33787 Roll Skia from 6886d924a06e to fed5f770d3b8 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33788 Roll Skia from fed5f770d3b8 to 8ad66c234071 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33790 Roll Fuchsia Linux SDK from 7P7vIYLCi... to smlBCS1Mm...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#33792 Roll Skia from 8ad66c234071 to 81737585ffbe (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33793 Roll Fuchsia Mac SDK from IB_TiC_-a... to o8DeaXnwx...
  DEPS
Labels: waiting for tree to go green

#33794 Roll Skia from 81737585ffbe to 02031e67d014 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33795 Roll Dart SDK from 50dcff4972e3 to 16b0538e6ccf (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#33796 [Impeller] Update README to point to frame capture docs.
  impeller/README.md
Labels: impeller

#33798 Roll Skia from 02031e67d014 to 3789354a3088 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33799 Roll Dart SDK from 16b0538e6ccf to d8fa5b4cd4fe (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#33800 Roll Skia from 3789354a3088 to 74949fc4c203 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33802 Roll Skia from 74949fc4c203 to b9be86b0381d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33803 Roll Skia from b9be86b0381d to 6a00ee05ff4a (1 revision)
  DEPS
Labels: waiting for tree to go green

#33804 Roll Dart SDK from d8fa5b4cd4fe to 5d44fae9a591 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#33805 Roll Skia from 6a00ee05ff4a to 6e0a205f80ac (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33806 Roll Fuchsia Mac SDK from o8DeaXnwx... to mdcw2qyY6...
  DEPS
Labels: waiting for tree to go green

#33807 Roll Skia from 6e0a205f80ac to 357958225dbe (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#32283 Correct the frame timing in 'Rasterizer::Draw' when pipeline is more available
  shell/common/animator.cc
  shell/common/animator.h
  shell/common/animator_unittests.cc
  shell/common/pipeline.h
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/common/rasterizer_unittests.cc
  shell/common/shell.cc
  shell/common/shell.h
Labels: waiting for tree to go green

#33813 Revert "Re-enable scenario tests on Android"
  .ci.yaml
  shell/platform/android/android_context_gl_unittests.cc
  shell/platform/android/external_view_embedder/external_view_embedder.cc
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/ScreenshotUtil.java
  testing/scenario_app/android/app/src/main/AndroidManifest.xml
  testing/scenario_app/android/app/src/main/java/dev/flutter/scenarios/TestActivity.java
  testing/scenario_app/android/app/src/main/res/values/styles.xml
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.ExternalTextureTests__testCanvasSurface.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.ExternalTextureTests__testCroppedMediaSurface_bottomLeft.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.ExternalTextureTests__testCroppedMediaSurface_topRight.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.ExternalTextureTests__testCroppedRotatedMediaSurface_bottomLeft_90.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.ExternalTextureTests__testMediaSurface.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.ExternalTextureTests__testRotatedMediaSurface_180.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.ExternalTextureTests__testRotatedMediaSurface_270.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.ExternalTextureTests__testRotatedMediaSurface_90.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformView.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewClippath.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewCliprect.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewCliprrect.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewMultiple.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewMultipleBackgroundForeground.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewMultipleWithoutOverlays.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewOpacity.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewRotate.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewTransform.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewTwoIntersectingOverlays.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformTextureUiTests__testPlatformViewWithoutOverlayIntersection.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformView.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewClippath.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewCliprect.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewCliprrect.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewMultiple.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewMultipleBackgroundForeground.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewMultipleWithoutOverlays.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewOpacity.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewRotate.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewTransform.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewTwoIntersectingOverlays.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.PlatformViewUiTests__testPlatformViewWithoutOverlayIntersection.png
  testing/scenario_app/android/reports/screenshots/dev.flutter.scenariosui.SpawnEngineTests__testSpawnedEngine.png
  testing/scenario_app/bin/android_integration_tests.dart
  testing/scenario_app/bin/utils/process_manager_extension.dart
  testing/scenario_app/bin/utils/screenshot_transformer.dart
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_non_full_screen_flutter_view_platform_view_iPhone 8_13.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_clippath_iPhone 8_13.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_iPhone 8_13.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_iPhone 8_13.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_iPhone 8_13.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_opacity_iPhone 8_13.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_rotate_iPhone 8_13.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_transform_iPhone 8_13.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_with_other_backdrop_filter_iPhone 8_13.0_simulator.png
  testing/scenario_app/lib/main.dart
  testing/scenario_app/lib/src/platform_view.dart
  testing/scenario_app/lib/src/scenarios.dart
  testing/scenario_app/pubspec.yaml
  testing/scenario_app/run_android_tests.sh
  testing/skia_gold_client/lib/skia_gold_client.dart
Labels: platform-android

#33590 Fix web editable text composing range
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/text_editing/composition_aware_mixin.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/composition_test.dart
  lib/web_ui/test/text_editing_test.dart
Labels: platform-web

#33820 Roll Fuchsia Linux SDK from smlBCS1Mm... to n4p8S0jni...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#33821 Use darwin rather than mac for dart_sdk artifacts.
  build/archives/BUILD.gn
Labels: waiting for tree to go green

#33822 Roll Fuchsia Mac SDK from mdcw2qyY6... to r_T06VLcK...
  DEPS
Labels: waiting for tree to go green

#33810 Roll Dart SDK from 5d44fae9a591 to 38f740a60f4c (1 revision)
  DEPS
Labels: waiting for tree to go green, will affect goldens

#33808 Roll Skia from 357958225dbe to 5270322b4695 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green, will affect goldens

#33828 Roll Skia from 5270322b4695 to 4cc30bb9c585 (10 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33830 Roll Dart SDK from 38f740a60f4c to 6a7e6decee92 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#33831 Roll Fuchsia Linux SDK from n4p8S0jni... to HD_6FIrbn...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#33832 Roll Fuchsia Mac SDK from r_T06VLcK... to fFXAnbboN...
  DEPS
Labels: waiting for tree to go green

#33833 Roll Skia from 4cc30bb9c585 to 2db58ed6cca8 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33834 Roll Skia from 2db58ed6cca8 to 1713e69fe870 (1 revision)
  DEPS
Labels: waiting for tree to go green

#33835 Roll Fuchsia Linux SDK from HD_6FIrbn... to Iqt5seQDK...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#33836 Roll Skia from 1713e69fe870 to 04c656f52a05 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33837 Roll Fuchsia Mac SDK from fFXAnbboN... to 2yAHocRSQ...
  DEPS
Labels: waiting for tree to go green

#33839 Roll Fuchsia Linux SDK from Iqt5seQDK... to 5hjAVobGf...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#33840 Roll Fuchsia Mac SDK from 2yAHocRSQ... to C5qlw5NmR...
  DEPS
Labels: waiting for tree to go green

#33841 Roll Skia from 04c656f52a05 to 0708bed2b196 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33843 Roll Skia from 0708bed2b196 to c11360e5ae7c (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33845 Roll Fuchsia Mac SDK from C5qlw5NmR... to f8gAfHOf4...
  DEPS
Labels: waiting for tree to go green

#33846 Roll Skia from c11360e5ae7c to e636f6ab8cc3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33848 Roll Fuchsia Linux SDK from 5hjAVobGf... to 1_O0j-DVq...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#33851 Roll Skia from 3ba37e1d383c to 48805a6c019d (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33818 Don't mutate children on DomNode
  lib/web_ui/lib/src/engine/canvaskit/embedded_views.dart
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/test/canvaskit/embedded_views_test.dart
Labels: platform-web

#33853 transform bounds to device space before sending to vmservice
  flow/layer_snapshot_store.cc
  flow/layer_snapshot_store.h
  flow/layers/display_list_layer.cc
  shell/common/shell.cc
Labels: waiting for tree to go green, needs tests

#33854 add backdrop option to DisplayList::saveLayer
  display_list/display_list.h
  display_list/display_list_builder.cc
  display_list/display_list_builder.h
  display_list/display_list_canvas_dispatcher.cc
  display_list/display_list_canvas_dispatcher.h
  display_list/display_list_canvas_recorder.cc
  display_list/display_list_canvas_unittests.cc
  display_list/display_list_complexity_gl.cc
  display_list/display_list_complexity_gl.h
  display_list/display_list_complexity_metal.cc
  display_list/display_list_complexity_metal.h
  display_list/display_list_dispatcher.h
  display_list/display_list_image_filter.cc
  display_list/display_list_image_filter.h
  display_list/display_list_ops.h
  display_list/display_list_unittests.cc
  display_list/display_list_utils.cc
  display_list/display_list_utils.h
  impeller/display_list/display_list_dispatcher.cc
  impeller/display_list/display_list_dispatcher.h
  testing/display_list_testing.cc
  testing/display_list_testing.h
Labels: waiting for tree to go green

#33816 [icu] Update icu to 12de966fcbe1d1a48dba310aee63807856ffeee8
  DEPS
  ci/licenses_golden/licenses_third_party
  ci/licenses_golden/tool_signature
  sky/packages/sky_engine/LICENSE
  tools/licenses/data/unicode
  tools/licenses/lib/licenses.dart
  tools/licenses/lib/main.dart
  tools/licenses/lib/patterns.dart
Labels: needs tests

#33819 Return an error if a SingleFrameCodec's cached decoded image has been disposed
  lib/ui/painting/single_frame_codec.cc
  testing/dart/codec_test.dart
  testing/dart/image_dispose_test.dart
Labels: waiting for tree to go green

#33860 Roll Skia from 48805a6c019d to 300f96a8e234 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33865 Roll Fuchsia Mac SDK from f8gAfHOf4... to U04SkHuh4...
  DEPS
Labels: waiting for tree to go green

#33866 Roll Fuchsia Linux SDK from 1_O0j-DVq... to yOcs1gqJp...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#33868 Roll Skia from 300f96a8e234 to 32bb72454d28 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33870 Roll Skia from 32bb72454d28 to 0351cac00c04 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33871 Roll Skia from 0351cac00c04 to 2508d582b5b6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33872 Fix PerformanceOverlay do not resize
  flow/instrumentation.cc
  flow/layers/performance_overlay_layer_unittests.cc
Labels: waiting for tree to go green

#33876 Roll Fuchsia Mac SDK from U04SkHuh4... to o76trmU79...
  DEPS
Labels: waiting for tree to go green

#33879 Update embedder docs
  shell/platform/fuchsia/flutter/integration_flutter_tests/embedder/README.md
Labels: platform-fuchsia

#33877 Roll Skia from fd40889786c1 to d45ffc66de49 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33883 Roll Skia from d45ffc66de49 to bc20800c4f36 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33884 Roll Fuchsia Linux SDK from yOcs1gqJp... to _9CJLMo2K...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#33893 [Impeller] OpenGL texture parameters on the right texture target.
  impeller/renderer/backend/gles/buffer_bindings_gles.cc
  impeller/renderer/backend/gles/formats_gles.h
  impeller/renderer/backend/gles/sampler_gles.cc
  impeller/renderer/backend/gles/sampler_gles.h
  impeller/renderer/backend/gles/texture_gles.cc
Labels: needs tests, impeller

#33894 Roll Skia from bc20800c4f36 to ac6f96def90b (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33855 Do not set `use_ios_simulator` unconditionally
  tools/gn
Labels: waiting for tree to go green

#33895 Roll Skia from ac6f96def90b to f9d2906a4d90 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33896 Roll Fuchsia Mac SDK from o76trmU79... to JyX-Om1Y9...
  DEPS
Labels: waiting for tree to go green

#33899 Roll Skia from f9d2906a4d90 to 8275d94e240a (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33880 [web] Avoid returning `List` from DOM apis.
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/lib/src/engine/html/surface_stats.dart
  lib/web_ui/test/engine/surface/scene_builder_test.dart
  lib/web_ui/test/text_test.dart
Labels: platform-web

#33881 [android] set presentation time via eglPresentationTimeANDROID
  flow/surface_frame.h
  shell/common/rasterizer.cc
  shell/common/rasterizer_unittests.cc
  shell/gpu/gpu_surface_gl_delegate.h
  shell/gpu/gpu_surface_gl_impeller.cc
  shell/gpu/gpu_surface_gl_skia.cc
  shell/platform/android/android_egl_surface.cc
  shell/platform/android/android_egl_surface.h
  shell/platform/android/android_surface_gl_skia.cc
Labels: platform-android, needs tests

#33904 Roll Skia from 9245ecb239a2 to ce2e111e7c15 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33907 Added flag to disable the dart profiler on iOS
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/ios/framework/Source/FlutterDartProjectTest.mm
  testing/ios/IosUnitTests/App/Info.plist
Labels: platform-ios, waiting for tree to go green

#33915 Roll Skia from 220f6e4ab1b9 to ce763d8f94f4 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33890 Purge resources on rasterizer teardown
  shell/common/BUILD.gn
  shell/common/rasterizer.cc
  shell/common/rasterizer_unittests.cc
  shell/common/shell_test_platform_view_vulkan.cc
  testing/run_tests.py
Labels: waiting for tree to go green

#33892 Stop sending text to framework
  shell/platform/android/io/flutter/embedding/engine/systemchannels/SpellCheckChannel.java
  shell/platform/android/io/flutter/plugin/editing/SpellCheckPlugin.java
  shell/platform/android/test/io/flutter/plugin/editing/SpellCheckPluginTest.java
Labels: platform-android, waiting for tree to go green

#33918 Roll Fuchsia Linux SDK from lUlRxFc8U... to MJBypTkuK...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#33919 Roll Skia from ce763d8f94f4 to 124f9b023436 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33922 Roll Fuchsia Mac SDK from 7b-dDoD2r... to 4HoCg_cg0...
  DEPS
Labels: waiting for tree to go green

#33924 Roll Skia from 124f9b023436 to 6a36fc1491fd (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33926 Roll Skia from 6a36fc1491fd to e25e4dc7e758 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33930 Roll Skia from e25e4dc7e758 to 60ce7871e774 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33934 Roll Fuchsia Linux SDK from MJBypTkuK... to HKMGrmyDg...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#33917 Update the impellerc GN template to match the behavior of flutter-spirv mode
  impeller/tools/impeller.gni
  lib/spirv/test/general_shaders/BUILD.gn
  lib/spirv/test/supported_glsl_op_shaders/BUILD.gn
  lib/spirv/test/supported_op_shaders/BUILD.gn
Labels: waiting for tree to go green

#33935 Roll Skia from 60ce7871e774 to 19cdb1a9a6f7 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33757 Implement Webdriver-based Safari test harness
  lib/web_ui/dev/browser.dart
  lib/web_ui/dev/browser_process.dart
  lib/web_ui/dev/chrome.dart
  lib/web_ui/dev/edge.dart
  lib/web_ui/dev/firefox.dart
  lib/web_ui/dev/safari_ios.dart
  lib/web_ui/dev/safari_macos.dart
  lib/web_ui/dev/steps/run_tests_step.dart
  lib/web_ui/dev/test_platform.dart
  lib/web_ui/dev/webdriver_browser.dart
  lib/web_ui/pubspec.yaml
  lib/web_ui/test/canvaskit/backdrop_filter_golden_test.dart
  lib/web_ui/test/canvaskit/canvas_golden_test.dart
  lib/web_ui/test/canvaskit/color_filter_golden_test.dart
  lib/web_ui/test/canvaskit/fallback_fonts_golden_test.dart
  lib/web_ui/test/canvaskit/flutter_tester_emulation_golden_test.dart
  lib/web_ui/test/canvaskit/image_golden_test.dart
  lib/web_ui/test/canvaskit/linear_gradient_golden_test.dart
  lib/web_ui/test/canvaskit/shader_mask_golden_test.dart
  lib/web_ui/test/canvaskit/sweep_gradient_golden_test.dart
  lib/web_ui/test/html/compositing/canvas_image_blend_mode_golden_test.dart
Labels: platform-web, needs tests, will affect goldens

#33928 [web] Restore terminal's echo setting after felt quits
  lib/web_ui/dev/pipeline.dart
Labels: waiting for tree to go green, platform-web, needs tests

#33936 Roll Skia from 19cdb1a9a6f7 to 5aa784801054 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33940 Auto-land dependabot changes that pass all the tests.
  .github/dependabot.yml
Labels: waiting for tree to go green

#33941 Roll Dart SDK from 6a7e6decee92 to 7bd404cc037c (4 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#33943 Output the scenario app lint results at the path expected by the GN script
  testing/scenario_app/android/app/build.gradle
Labels: waiting for tree to go green

#33906 Create iOS simulator before running IosUnitTests
  testing/run_tests.py
Labels: waiting for tree to go green

#33939 Use std::filesystem to compute output paths in blobcat and impellerc
  fml/platform/win/file_win.cc
  impeller/blobcat/blobcat_main.cc
  impeller/compiler/impellerc_main.cc
Labels: waiting for tree to go green, needs tests, impeller

#33945 Roll Fuchsia Mac SDK from 4HoCg_cg0... to NHz4k0QBx...
  DEPS
Labels: waiting for tree to go green

#33946 Roll Skia from 5aa784801054 to 8397375ef808 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33948 Roll Dart SDK from 7bd404cc037c to f44da9b5f4d7 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#33950 Roll Fuchsia Linux SDK from HKMGrmyDg... to RPtXooA1v...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#33951 Roll Skia from 8397375ef808 to 640aec62450f (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33954 Roll Skia from 640aec62450f to d840bd77e6bd (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33956 Roll Fuchsia Mac SDK from NHz4k0QBx... to 6pQd3rR6f...
  DEPS
Labels: waiting for tree to go green

#33958 Roll Skia from d840bd77e6bd to 0a1ed2795d54 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33959 Roll Skia from 0a1ed2795d54 to 4c6e6c19355f (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33962 [flutter_releases][web] Fix typo in JS interop method. (#33947)
  lib/web_ui/lib/src/engine/dom.dart
Labels: platform-web

#33911 [web] Cleaner types for EngineLineMetrics
  lib/web_ui/lib/src/engine/text/canvas_paragraph.dart
  lib/web_ui/lib/src/engine/text/layout_service.dart
  lib/web_ui/lib/src/engine/text/paint_service.dart
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/pubspec.yaml
  lib/web_ui/test/text/canvas_paragraph_test.dart
  lib/web_ui/test/text/layout_service_helper.dart
Labels: waiting for tree to go green, platform-web

#33965 [flutter_releases][web] Fix typo in JS interop method. (#33947)
  lib/web_ui/lib/src/engine/dom.dart
Labels: platform-web

#33964 Remove uses of --lazy-async-stack Dart VM flag
  build/dart/rules.gni
  runtime/dart_vm.cc
  shell/common/shell_unittests.cc
  shell/common/switches.cc
  shell/platform/fuchsia/dart_runner/dart_runner.cc
  shell/platform/fuchsia/dart_runner/embedder/BUILD.gn
  shell/platform/fuchsia/dart_runner/kernel/BUILD.gn
  shell/platform/fuchsia/dart_runner/vmservice/BUILD.gn
  shell/platform/fuchsia/flutter/component_v1.cc
  shell/platform/fuchsia/flutter/component_v2.cc
  shell/platform/fuchsia/flutter/kernel/BUILD.gn
  testing/testing.gni
Labels: platform-fuchsia

#33353 [web] Migrate Flutter Web DOM usage to JS static interop - 25.
  lib/web_ui/lib/painting.dart
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/lib/src/engine/html/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/html_image_codec.dart
  lib/web_ui/lib/src/engine/picture.dart
  lib/web_ui/test/engine/surface/scene_builder_test.dart
  lib/web_ui/test/html/canvas_clip_path_golden_test.dart
  lib/web_ui/test/html/canvas_reuse_golden_test.dart
  lib/web_ui/test/html/compositing/canvas_blend_golden_test.dart
  lib/web_ui/test/html/compositing/color_filter_golden_test.dart
  lib/web_ui/test/html/drawing/canvas_draw_image_golden_test.dart
  lib/web_ui/test/html/drawing/canvas_draw_picture_golden_test.dart
  lib/web_ui/test/html/drawing/draw_vertices_golden_test.dart
  lib/web_ui/test/html/image_test.dart
  lib/web_ui/test/html/picture_golden_test.dart
  lib/web_ui/test/html/recording_canvas_golden_test.dart
  lib/web_ui/test/html/shaders/image_shader_golden_test.dart
  lib/web_ui/test/html/testimage.dart
Labels: platform-web

#33661 [Linux] take first steps towards testable text input
  ci/licenses_golden/licenses_flutter
  shell/platform/linux/BUILD.gn
  shell/platform/linux/fl_text_input_plugin.cc
  shell/platform/linux/fl_text_input_plugin.h
  shell/platform/linux/fl_text_input_plugin_test.cc
  shell/platform/linux/fl_view.cc
  shell/platform/linux/testing/mock_binary_messenger.cc
  shell/platform/linux/testing/mock_binary_messenger.h
Labels: platform-linux

#33967 Roll Dart SDK from f44da9b5f4d7 to 953a96458899 (1 revision)
  DEPS
Labels: waiting for tree to go green

#33968 Roll Skia from 4c6e6c19355f to 5930798bad20 (12 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33969 Roll Fuchsia Linux SDK from RPtXooA1v... to 0blLh7ggm...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#33971 Roll Skia from 5930798bad20 to f5100888aced (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33354 [web] Migrate Flutter Web DOM usage to JS static interop - 26.
  lib/web_ui/lib/src/engine/assets.dart
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/lib/src/engine/onscreen_logging.dart
Labels: platform-web

#33977 Roll Dart SDK from 953a96458899 to e7281c57fffa (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#33978 Roll Fuchsia Mac SDK from 6pQd3rR6f... to n7uROVH2O...
  DEPS
Labels: waiting for tree to go green

#33979 Roll Skia from f5100888aced to 3d6009ef2688 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#33980 Roll Fuchsia Linux SDK from 0blLh7ggm... to u8Tk-PE38...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#33982 Roll Fuchsia Mac SDK from n7uROVH2O... to LmaA_nbyw...
  DEPS
Labels: waiting for tree to go green
