Repository flutter/engine, pull requests merged in 2022-02, with the labels that each got.

#31152 Cleanup unused code in the UIDartState and other tests.
  flow/testing/gl_context_switch_test.cc
  flow/testing/gl_context_switch_test.h
  lib/ui/ui_dart_state.cc
  lib/ui/ui_dart_state.h
  lib/ui/window/platform_configuration_unittests.cc
  runtime/test_font_data.cc
  runtime/test_font_data.h
Labels: waiting for tree to go green

#31175 Roll Skia from 0f6baf469df3 to a02452cd4171 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31148 Remove obsolete member variables in 'flutter::Engine' and tweak the unittest
  shell/common/animator_unittests.cc
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/fixtures/shell_test.dart
Labels: waiting for tree to go green

#31177 Roll Skia from a02452cd4171 to a69af3bec2e2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31178 Roll Fuchsia Mac SDK from 3KUF5l6sR... to S93zXLv19...
  DEPS
Labels: waiting for tree to go green

#31179 Roll Fuchsia Linux SDK from chm1v4Lra... to QBBQ00-nS...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31180 Roll Skia from a69af3bec2e2 to 1def701690fa (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31182 Roll Skia from 1def701690fa to 98d664096d40 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31183 Roll Skia from 98d664096d40 to e035f6a071b7 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31185 Roll Skia from e035f6a071b7 to d31c6a9db1d2 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31138 Invalidate the ParagraphSkia line metrics caches when redoing layout
  third_party/txt/src/skia/paragraph_skia.cc
Labels: waiting for tree to go green, needs tests

#31187 Roll Skia from d31c6a9db1d2 to 35e34d8db246 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31188 Roll Fuchsia Mac SDK from S93zXLv19... to FqNOzPOw6...
  DEPS
Labels: waiting for tree to go green

#31190 Roll Skia from 35e34d8db246 to 6e1ff7154da3 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#30780 [Android] expose "textShowPassword" to the framework
  lib/ui/platform_dispatcher.dart
  lib/ui/window.dart
  lib/web_ui/lib/platform_dispatcher.dart
  lib/web_ui/lib/window.dart
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/SettingsChannel.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
Labels: platform-android, waiting for tree to go green, platform-web

#31192 Roll Fuchsia Linux SDK from QBBQ00-nS... to zSfFrNNvc...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31194 Roll Skia from 6e1ff7154da3 to 53acf7403005 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31195 Roll Skia from 53acf7403005 to 074a016b89ef (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31196 Roll Skia from 074a016b89ef to bc1e97ee5f64 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31197 Roll Dart SDK from 64532ff7b812 to d2484ba0b7b3 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#31199 Do not run score cards in forks of engine.
  .github/workflows/scorecards-analysis.yml
Labels: waiting for tree to go green

#31201 Roll Skia from bc1e97ee5f64 to 809c30246c80 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31202 Roll Dart SDK from d2484ba0b7b3 to 85389e30ad09 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#31203 Roll Skia from 809c30246c80 to eccf8a03ad73 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#29391 Vulkan support in the Embedder API
  ci/licenses_golden/licenses_flutter
  shell/gpu/BUILD.gn
  shell/gpu/gpu_surface_metal_delegate.h
  shell/gpu/gpu_surface_vulkan.cc
  shell/gpu/gpu_surface_vulkan.h
  shell/gpu/gpu_surface_vulkan_delegate.h
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/embedder/embedder_surface_vulkan.cc
  shell/platform/embedder/embedder_surface_vulkan.h
  shell/platform/embedder/fixtures/vk_dpr_noxform.png
  shell/platform/embedder/fixtures/vk_gradient.png
  shell/platform/embedder/platform_view_embedder.cc
  shell/platform/embedder/platform_view_embedder.h
  shell/platform/embedder/tests/embedder_assertions.h
  shell/platform/embedder/tests/embedder_config_builder.cc
  shell/platform/embedder/tests/embedder_config_builder.h
  shell/platform/embedder/tests/embedder_test.cc
  shell/platform/embedder/tests/embedder_test.h
  shell/platform/embedder/tests/embedder_test_backingstore_producer.cc
  shell/platform/embedder/tests/embedder_test_backingstore_producer.h
  shell/platform/embedder/tests/embedder_test_compositor_vulkan.cc
  shell/platform/embedder/tests/embedder_test_compositor_vulkan.h
  shell/platform/embedder/tests/embedder_test_context.h
  shell/platform/embedder/tests/embedder_test_context_vulkan.cc
  shell/platform/embedder/tests/embedder_test_context_vulkan.h
  shell/platform/embedder/tests/embedder_unittests_gl.cc
  shell/platform/embedder/tests/embedder_unittests_util.cc
  shell/platform/embedder/tests/embedder_unittests_util.h
  testing/BUILD.gn
  testing/test_vulkan_context.cc
  testing/test_vulkan_context.h
  testing/test_vulkan_image.cc
  testing/test_vulkan_image.h
  testing/test_vulkan_surface.cc
  testing/test_vulkan_surface.h
  vulkan/vulkan_device.cc
  vulkan/vulkan_device.h
  vulkan/vulkan_proc_table.cc
  vulkan/vulkan_proc_table.h
  vulkan/vulkan_swapchain.cc
  vulkan/vulkan_window.cc
  vulkan/vulkan_window.h
Labels: platform-ios, platform-android, cla: yes, embedder

#31204 Roll Fuchsia Mac SDK from FqNOzPOw6... to uapuxkPV-...
  DEPS
Labels: waiting for tree to go green

#31205 Roll Fuchsia Linux SDK from zSfFrNNvc... to MC27g6Bk4...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31206 Roll Dart SDK from 85389e30ad09 to 156d0ce14515 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#31208 Roll Skia from eccf8a03ad73 to 904d26fab474 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31209 Roll Dart SDK from 156d0ce14515 to 780818e65f67 (1 revision)
  DEPS
Labels: waiting for tree to go green

#31063 Reply to accessibility method call even if semantics is not enabled
  shell/platform/android/io/flutter/embedding/engine/systemchannels/AccessibilityChannel.java
  shell/platform/android/test/io/flutter/FlutterTestSuite.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/AccessibilityChannelTest.java
Labels: platform-android, waiting for tree to go green

#31210 Roll Skia from 904d26fab474 to 80428f7c2e96 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: waiting for tree to go green

#31211 Small cleanup to DisplayListComplexityScoreCalculator code
  display_list/display_list_complexity.cc
  flow/raster_cache.cc
Labels: needs tests

#31212 Roll Skia from 80428f7c2e96 to 73262111f530 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31214 Roll Dart SDK from 780818e65f67 to 3d6462e70fbf (1 revision)
  DEPS
Labels: waiting for tree to go green

#31215 Roll Skia from 73262111f530 to a2018c274cc6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31165 Use MemoryProvider in Flutter Runner.
  shell/platform/fuchsia/flutter/meta/common.shard.cml
Labels: waiting for tree to go green, platform-fuchsia

#31216 Roll Skia from a2018c274cc6 to a3b11365b435 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: waiting for tree to go green

#31218 Roll Skia from a3b11365b435 to de29ec3ac603 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31219 Roll Fuchsia Mac SDK from uapuxkPV-... to k0ddJ1heZ...
  DEPS
Labels: waiting for tree to go green

#31200 [Win32, Keyboard] Lift redispatching to messages, via SendMessage.
  shell/platform/windows/flutter_window_win32_unittests.cc
  shell/platform/windows/keyboard_manager_win32.cc
  shell/platform/windows/keyboard_manager_win32.h
  shell/platform/windows/keyboard_win32_unittests.cc
  shell/platform/windows/testing/wm_builders.cc
  shell/platform/windows/testing/wm_builders.h
  shell/platform/windows/window_win32.cc
  shell/platform/windows/window_win32.h
Labels: waiting for tree to go green, platform-windows

#31220 Roll Dart SDK from 3d6462e70fbf to ba20a3110252 (1 revision)
  DEPS
Labels: waiting for tree to go green

#31221 Roll Fuchsia Linux SDK from MC27g6Bk4... to l5Ld_b9of...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31222 Roll Skia from de29ec3ac603 to a5223e141232 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31223 Roll Skia from a5223e141232 to 3518875c21ea (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31226 Roll Skia from 3518875c21ea to 16ac164ab336 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31228 Roll Skia from 16ac164ab336 to 1f2435f46b48 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31235 Roll Skia from 1f2435f46b48 to 1351a5954f99 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31236 Roll buildrot
  DEPS
Labels: waiting for tree to go green

#31233 Roll Fuchsia Linux SDK from l5Ld_b9of... to Ljh3FkHol...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31237 Roll Skia from 1351a5954f99 to 66e2b0534bd9 (13 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31239 Roll Skia from 66e2b0534bd9 to 0fa0367c8abb (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31229 Don't remove views while the rasterizer is torn down
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
Labels: platform-android, waiting for tree to go green

#31241 Roll Skia from 0fa0367c8abb to 005392cbc4bf (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31243 Roll Skia from 005392cbc4bf to d33334d44e4d (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31217 Refactor initializeCanvasKit
  lib/web_ui/lib/src/engine/canvaskit/initialization.dart
Labels: waiting for tree to go green, platform-web, needs tests

#31213 Vulkan embedder GLFW example
  BUILD.gn
  examples/vulkan_glfw/.gitignore
  examples/vulkan_glfw/BUILD.gn
  examples/vulkan_glfw/CMakeLists.txt
  examples/vulkan_glfw/run.sh
  examples/vulkan_glfw/src/main.cc
  vulkan/BUILD.gn
Labels: affects: examples, embedder

#31244 Roll Skia from d33334d44e4d to 47045c9e0664 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31119 [fuchsia] add input shield to Flatland
  shell/platform/fuchsia/flutter/flatland_external_view_embedder.cc
  shell/platform/fuchsia/flutter/tests/fakes/scenic/fake_flatland.cc
  shell/platform/fuchsia/flutter/tests/fakes/scenic/fake_flatland.h
  shell/platform/fuchsia/flutter/tests/fakes/scenic/fake_flatland_types.cc
  shell/platform/fuchsia/flutter/tests/fakes/scenic/fake_flatland_types.h
  shell/platform/fuchsia/flutter/tests/flatland_external_view_embedder_unittests.cc
Labels: platform-fuchsia, needs tests

#31240 [web] roll CanvasKit to 0.33.0
  DEPS
  lib/web_ui/dev/canvaskit_lock.yaml
  lib/web_ui/lib/src/engine/configuration.dart
Labels: platform-web, needs tests

#31248 Roll Skia from 47045c9e0664 to 2ad035378ce0 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31247 [Win32, Keyboard] Fix text input after pressing Enter or Ctrl-Digit
  shell/platform/windows/keyboard_manager_win32.cc
  shell/platform/windows/keyboard_manager_win32.h
  shell/platform/windows/keyboard_win32_unittests.cc
Labels: affects: text input, waiting for tree to go green, platform-windows

#31249 [fuchsia] Fix typo in error message.
  shell/platform/fuchsia/flutter/platform_view.cc
Labels: waiting for tree to go green, platform-fuchsia, needs tests

#31251 Roll Skia from 2ad035378ce0 to 420fd7280e08 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31008 [iOS] Add FlutterViewController weak pointer check before use
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
Labels: waiting for tree to go green

#31253 Roll Skia from 420fd7280e08 to 9f5df27b0318 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31255 Roll Fuchsia Linux SDK from Ljh3FkHol... to jhWn_Olx3...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31254 Roll Fuchsia Mac SDK from o0J4CywM2... to fEzt151lY...
  DEPS
Labels: waiting for tree to go green

#30957 DisplayList savelayer opacity peephole optimization
  display_list/display_list.cc
  display_list/display_list.h
  display_list/display_list_builder.cc
  display_list/display_list_builder.h
  display_list/display_list_canvas_dispatcher.cc
  display_list/display_list_canvas_dispatcher.h
  display_list/display_list_canvas_unittests.cc
  display_list/display_list_dispatcher.h
  display_list/display_list_ops.h
  display_list/display_list_unittests.cc
  display_list/display_list_utils.cc
  display_list/display_list_utils.h
  testing/dart/observatory/tracing_test.dart
Labels: waiting for tree to go green

#31257 Roll Skia from 9f5df27b0318 to 9049e12a2734 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31258 Roll Skia from 9049e12a2734 to cedcaeed0138 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31259 Roll Skia from cedcaeed0138 to ca0b32c1dc4c (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31260 Roll Skia from ca0b32c1dc4c to 40df2e3cf51e (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31242 Remove (deprecated) isOpaque parameter to SkSL shaders
  lib/ui/painting/fragment_program.cc
Labels: needs tests

#31250 Add support for new VM service message
  shell/testing/observatory/launcher.dart
  testing/android_systrace_test.py
Labels: needs tests

#31261 Roll Skia from 40df2e3cf51e to b58173c96b90 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31262 Roll Dart SDK from ba20a3110252 to 1b1b0743b421 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#31264 Roll Skia from b58173c96b90 to e94b52c4420e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31265 Roll Fuchsia Mac SDK from fEzt151lY... to SBD5KAKPr...
  DEPS
Labels: waiting for tree to go green

#31267 Roll Fuchsia Linux SDK from jhWn_Olx3... to D78mFHjTF...
  DEPS
  ci/licenses_golden/licenses_fuchsia
  sky/packages/sky_engine/LICENSE
Labels: waiting for tree to go green

#31270 Roll Skia from e94b52c4420e to 8b618c3e1687 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31271 Roll Skia from 8b618c3e1687 to b292c30aa0c6 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#30728 Parallelize Android unit tests
  shell/platform/android/test/io/flutter/FlutterInjectorTest.java
  shell/platform/android/test/io/flutter/FlutterTestSuite.java
  shell/platform/android/test/io/flutter/SmokeTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterAndroidComponentTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterFragmentActivityTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterFragmentTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterTextureViewTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
  shell/platform/android/test/io/flutter/embedding/android/KeyChannelResponderTest.java
  shell/platform/android/test/io/flutter/embedding/android/KeyboardManagerTest.java
  shell/platform/android/test/io/flutter/embedding/engine/FlutterEngineCacheTest.java
  shell/platform/android/test/io/flutter/embedding/engine/FlutterEngineConnectionRegistryTest.java
  shell/platform/android/test/io/flutter/embedding/engine/FlutterEngineGroupComponentTest.java
  shell/platform/android/test/io/flutter/embedding/engine/FlutterEngineTest.java
  shell/platform/android/test/io/flutter/embedding/engine/FlutterJNITest.java
  shell/platform/android/test/io/flutter/embedding/engine/FlutterShellArgsTest.java
  shell/platform/android/test/io/flutter/embedding/engine/PluginComponentTest.java
  shell/platform/android/test/io/flutter/embedding/engine/RenderingComponentTest.java
  shell/platform/android/test/io/flutter/embedding/engine/dart/DartExecutorTest.java
  shell/platform/android/test/io/flutter/embedding/engine/dart/DartMessengerTest.java
  shell/platform/android/test/io/flutter/embedding/engine/deferredcomponents/PlayStoreDeferredComponentManagerTest.java
  shell/platform/android/test/io/flutter/embedding/engine/loader/ApplicationInfoLoaderTest.java
  shell/platform/android/test/io/flutter/embedding/engine/loader/FlutterLoaderTest.java
  shell/platform/android/test/io/flutter/embedding/engine/mutatorsstack/FlutterMutatorViewTest.java
  shell/platform/android/test/io/flutter/embedding/engine/plugins/shim/ShimPluginRegistryTest.java
  shell/platform/android/test/io/flutter/embedding/engine/renderer/FlutterRendererTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/DeferredComponentChannelTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/KeyEventChannelTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/PlatformChannelTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/RestorationChannelTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/TextInputChannelTest.java
  shell/platform/android/test/io/flutter/external/FlutterLaunchTests.java
  shell/platform/android/test/io/flutter/plugin/common/BinaryCodecTest.java
  shell/platform/android/test/io/flutter/plugin/common/StandardMessageCodecTest.java
  shell/platform/android/test/io/flutter/plugin/common/StandardMethodCodecTest.java
  shell/platform/android/test/io/flutter/plugin/editing/InputConnectionAdaptorTest.java
  shell/platform/android/test/io/flutter/plugin/editing/ListenableEditingStateTest.java
  shell/platform/android/test/io/flutter/plugin/editing/TextEditingDeltaTest.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
  shell/platform/android/test/io/flutter/plugin/localization/LocalizationPluginTest.java
  shell/platform/android/test/io/flutter/plugin/mouse/MouseCursorPluginTest.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformPluginTest.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
  shell/platform/android/test/io/flutter/plugin/platform/SingleViewPresentationTest.java
  shell/platform/android/test/io/flutter/util/PreconditionsTest.java
  shell/platform/android/test/io/flutter/util/ViewUtilsTest.java
  shell/platform/android/test/io/flutter/view/AccessibilityBridgeTest.java
  shell/platform/android/test/io/flutter/view/VsyncWaiterTest.java
  shell/platform/android/test_runner/build.gradle
  testing/run_tests.py
Labels: platform-android, waiting for tree to go green

#31273 Roll Skia from b292c30aa0c6 to 7dda12a88a8a (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31274 Roll Skia from 7dda12a88a8a to d7f7cc879108 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#30807 Fix first batch of warnings in the Android embedding
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/embedding/android/KeyboardManager.java
  shell/platform/android/io/flutter/embedding/android/MotionEventTracker.java
  shell/platform/android/io/flutter/embedding/engine/deferredcomponents/PlayStoreDeferredComponentManager.java
  shell/platform/android/io/flutter/embedding/engine/plugins/shim/ShimPluginRegistry.java
  shell/platform/android/io/flutter/embedding/engine/renderer/SurfaceTextureWrapper.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/LocalizationChannel.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/RestorationChannel.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/TextInputChannel.java
  shell/platform/android/io/flutter/plugin/common/JSONMessageCodec.java
  shell/platform/android/io/flutter/plugin/common/JSONMethodCodec.java
  shell/platform/android/io/flutter/plugin/common/JSONUtil.java
  shell/platform/android/io/flutter/plugin/common/MethodCall.java
  shell/platform/android/io/flutter/plugin/common/MethodChannel.java
  shell/platform/android/io/flutter/plugin/common/MethodCodec.java
  shell/platform/android/io/flutter/plugin/common/PluginRegistry.java
  shell/platform/android/io/flutter/plugin/common/StandardMessageCodec.java
  shell/platform/android/io/flutter/plugin/common/StandardMethodCodec.java
  shell/platform/android/io/flutter/plugin/common/StringCodec.java
  shell/platform/android/io/flutter/plugin/editing/TextEditingDelta.java
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/io/flutter/plugin/localization/LocalizationPlugin.java
  shell/platform/android/io/flutter/plugin/mouse/MouseCursorPlugin.java
  shell/platform/android/io/flutter/plugin/platform/PlatformPlugin.java
  shell/platform/android/io/flutter/plugin/platform/PlatformView.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewFactory.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewRegistry.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsAccessibilityDelegate.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/io/flutter/plugin/platform/VirtualDisplayController.java
  shell/platform/android/io/flutter/util/PathUtils.java
  shell/platform/android/io/flutter/util/ViewUtils.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/io/flutter/view/TextureRegistry.java
  shell/platform/android/io/flutter/view/VsyncWaiter.java
  shell/platform/android/test/io/flutter/TestUtils.java
  shell/platform/android/test/io/flutter/embedding/android/RobolectricFlutterActivity.java
  shell/platform/android/test/io/flutter/embedding/android/SplashShadowResources.java
  shell/platform/android/test/io/flutter/plugins/GeneratedPluginRegistrant.java
  tools/android_lint/bin/main.dart
  tools/android_lint/project.xml
Labels: platform-android, waiting for tree to go green, needs tests

#31275 Roll Fuchsia Mac SDK from SBD5KAKPr... to pyUUZTx4h...
  DEPS
Labels: waiting for tree to go green

#31276 Roll Fuchsia Linux SDK from D78mFHjTF... to qUIH7p4Ef...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31277 Revert "Fix first batch of warnings in the Android embedding"
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/embedding/android/KeyboardManager.java
  shell/platform/android/io/flutter/embedding/android/MotionEventTracker.java
  shell/platform/android/io/flutter/embedding/engine/deferredcomponents/PlayStoreDeferredComponentManager.java
  shell/platform/android/io/flutter/embedding/engine/plugins/shim/ShimPluginRegistry.java
  shell/platform/android/io/flutter/embedding/engine/renderer/SurfaceTextureWrapper.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/LocalizationChannel.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/RestorationChannel.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/TextInputChannel.java
  shell/platform/android/io/flutter/plugin/common/JSONMessageCodec.java
  shell/platform/android/io/flutter/plugin/common/JSONMethodCodec.java
  shell/platform/android/io/flutter/plugin/common/JSONUtil.java
  shell/platform/android/io/flutter/plugin/common/MethodCall.java
  shell/platform/android/io/flutter/plugin/common/MethodChannel.java
  shell/platform/android/io/flutter/plugin/common/MethodCodec.java
  shell/platform/android/io/flutter/plugin/common/PluginRegistry.java
  shell/platform/android/io/flutter/plugin/common/StandardMessageCodec.java
  shell/platform/android/io/flutter/plugin/common/StandardMethodCodec.java
  shell/platform/android/io/flutter/plugin/common/StringCodec.java
  shell/platform/android/io/flutter/plugin/editing/TextEditingDelta.java
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/io/flutter/plugin/localization/LocalizationPlugin.java
  shell/platform/android/io/flutter/plugin/mouse/MouseCursorPlugin.java
  shell/platform/android/io/flutter/plugin/platform/PlatformPlugin.java
  shell/platform/android/io/flutter/plugin/platform/PlatformView.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewFactory.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewRegistry.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsAccessibilityDelegate.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/io/flutter/plugin/platform/VirtualDisplayController.java
  shell/platform/android/io/flutter/util/PathUtils.java
  shell/platform/android/io/flutter/util/ViewUtils.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/io/flutter/view/TextureRegistry.java
  shell/platform/android/io/flutter/view/VsyncWaiter.java
  shell/platform/android/test/io/flutter/TestUtils.java
  shell/platform/android/test/io/flutter/embedding/android/RobolectricFlutterActivity.java
  shell/platform/android/test/io/flutter/embedding/android/SplashShadowResources.java
  shell/platform/android/test/io/flutter/plugins/GeneratedPluginRegistrant.java
  tools/android_lint/bin/main.dart
  tools/android_lint/project.xml
Labels: platform-android, waiting for tree to go green, needs tests

#31227 DEPS in impeller and build unit tests
  .gitignore
  BUILD.gn
  DEPS
  ci/licenses_golden/licenses_flutter
  ci/licenses_golden/tool_signature
  tools/licenses/lib/main.dart
Labels: needs tests

#31153 [Update][Proposal] Improve Canvas Documentation
  lib/ui/painting.dart
Labels: waiting for tree to go green

#31278 Roll Fuchsia Mac SDK from pyUUZTx4h... to WWlEuaup2...
  DEPS
Labels: waiting for tree to go green

#31279 Roll Fuchsia Linux SDK from qUIH7p4Ef... to a1V2mhkac...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31282 Roll Skia from d7f7cc879108 to d41771865ba2 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31207 Fix incorrect handling of error handling in case an isolate initialization fails
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/dart_isolate_unittests.cc
  runtime/fixtures/runtime_test.dart
Labels: needs tests

#31289 Roll Fuchsia Mac SDK from WWlEuaup2... to yR4db-Xiv...
  DEPS
Labels: waiting for tree to go green

#31307 Roll Skia from d41771865ba2 to 14f559fd2324 (9 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31309 Roll Fuchsia Linux SDK from a1V2mhkac... to VHhdhVlRY...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31310 Change support for VM service message from "Dart VM Service listening" to "The Dart VM Service is listening"
  shell/testing/observatory/launcher.dart
  testing/android_systrace_test.py
Labels: needs tests

#29215 Linux TextEditingDeltas
  shell/platform/linux/fl_text_input_plugin.cc
Labels: cla: yes, platform-linux, needs tests

#31269 Add an iOS benchmarks template app
  testing/ios/IosBenchmarks/IosBenchmarks.xcodeproj/project.pbxproj
  testing/ios/IosBenchmarks/IosBenchmarks.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  testing/ios/IosBenchmarks/IosBenchmarks.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  testing/ios/IosBenchmarks/IosBenchmarks/Assets.xcassets/AccentColor.colorset/Contents.json
  testing/ios/IosBenchmarks/IosBenchmarks/Assets.xcassets/AppIcon.appiconset/Contents.json
  testing/ios/IosBenchmarks/IosBenchmarks/Assets.xcassets/Contents.json
  testing/ios/IosBenchmarks/IosBenchmarks/Base.lproj/LaunchScreen.storyboard
  testing/ios/IosBenchmarks/IosBenchmarks/Base.lproj/Main.storyboard
  testing/ios/IosBenchmarks/IosBenchmarks/Info.plist
  testing/ios/IosBenchmarks/IosBenchmarks/main.mm
Labels: needs tests

#31315 Roll Dart SDK from 1b1b0743b421 to 55c93c732da9 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#31319 Roll Skia from 14f559fd2324 to 156e7d15a4a0 (10 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31320 Roll Skia from 156e7d15a4a0 to bcda6919d633 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31133 Add hash_factories patch file
  ci/licenses_golden/licenses_third_party
  lib/snapshot/libraries.json
  lib/snapshot/libraries.yaml
  shell/platform/fuchsia/dart_runner/kernel/libraries.json
  shell/platform/fuchsia/dart_runner/kernel/libraries.yaml
  shell/platform/fuchsia/flutter/kernel/libraries.json
  shell/platform/fuchsia/flutter/kernel/libraries.yaml
Labels: platform-fuchsia

#31322 Roll Skia from bcda6919d633 to 507b6dd516b5 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#29405 Adds Tonic templates for Dart FFI bindings.
  lib/ui/painting/rrect.h
  testing/dart_fixture.cc
  testing/dart_fixture.h
  testing/test_dart_native_resolver.cc
  testing/test_dart_native_resolver.h
  third_party/tonic/converter/dart_converter.h
  third_party/tonic/dart_args.h
  third_party/tonic/dart_wrappable.h
  third_party/tonic/tests/BUILD.gn
  third_party/tonic/tests/ffi_native_unittest.cc
  third_party/tonic/tests/fixtures/tonic_test.dart
  third_party/tonic/typed_data/typed_list.h
Labels: cla: yes

#31324 Roll Fuchsia Linux SDK from VHhdhVlRY... to Z4BViQLBV...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31326 Roll Skia from 507b6dd516b5 to 26e128593295 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31327 Roll Dart SDK from 55c93c732da9 to 2c49460fac88 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#31328 Roll Skia from 26e128593295 to 8d646c127a7b (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31329 Roll Skia from 8d646c127a7b to 8e7c2ae4f78e (10 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31330 Roll Skia from 8e7c2ae4f78e to 1048287b5dce (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31316 [fuchsia] Allow multiple vsync requests before the first Present
  shell/platform/fuchsia/flutter/flatland_connection.cc
  shell/platform/fuchsia/flutter/flatland_connection.h
  shell/platform/fuchsia/flutter/tests/flatland_connection_unittests.cc
Labels: waiting for tree to go green, platform-fuchsia

#31331 Roll Skia from 1048287b5dce to 12b67964078f (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31332 Revert "Roll Dart SDK from 55c93c732da9 to 2c49460fac88 (1 revision)"
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#31311 [fuchsia] Update Flatland Clipping API
  shell/platform/fuchsia/flutter/tests/fakes/scenic/fake_flatland.cc
  shell/platform/fuchsia/flutter/tests/fakes/scenic/fake_flatland.h
  shell/platform/fuchsia/flutter/tests/fakes/scenic/fake_flatland_types.cc
  shell/platform/fuchsia/flutter/tests/fakes/scenic/fake_flatland_types.h
  shell/platform/fuchsia/flutter/tests/flatland_external_view_embedder_unittests.cc
Labels: waiting for tree to go green, platform-fuchsia, needs tests

#31336 Roll Skia from 12b67964078f to 37a7a19d506c (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31337 Remove schedules from scorecards.
  .github/workflows/scorecards-analysis.yml
Labels: waiting for tree to go green

#31338 Roll Fuchsia Linux SDK from Z4BViQLBV... to EBLQ-d-eN...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31340 Roll Skia from 37a7a19d506c to bae2cb089434 (1 revision)
  DEPS
Labels: waiting for tree to go green

#31339 [flutter_releases] Flutter stable 2.10.1 Engine Cherrypicks
  DEPS
  ci/licenses_golden/licenses_third_party
  lib/web_ui/dev/canvaskit_lock.yaml
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/image_wasm_codecs.dart
  lib/web_ui/lib/src/engine/configuration.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/canvaskit/image_golden_test.dart
  lib/web_ui/test/text_editing_test.dart
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/common/shell.cc
  shell/platform/android/external_view_embedder/external_view_embedder.cc
  shell/platform/android/external_view_embedder/external_view_embedder.h
  shell/platform/android/external_view_embedder/external_view_embedder_unittests.cc
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/plugin/platform/PlatformView.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsAccessibilityDelegate.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/io/flutter/plugin/platform/SingleViewPresentation.java
  shell/platform/android/io/flutter/plugin/platform/VirtualDisplayController.java
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  shell/platform/android/platform_view_android.cc
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
Labels: platform-android, platform-web

#31345 Roll Fuchsia Mac SDK from Ba1d6e-yV... to 5_CZ81mTD...
  DEPS
Labels: waiting for tree to go green

#31346 Roll Skia from bae2cb089434 to dee902ad57d5 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31347 Roll Fuchsia Linux SDK from EBLQ-d-eN... to 4VEg4eRJS...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: waiting for tree to go green

#31348 Roll Skia from dee902ad57d5 to 3e6e29cf2e1b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31349 Roll Skia from 3e6e29cf2e1b to a424b619bc40 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31352 Roll Skia from a424b619bc40 to ec0af1664478 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31291 Add clang-analyzer-* and clang-diagnostic-* to .clang-tidy
  .clang-tidy
  common/graphics/persistent_cache.cc
  display_list/display_list_benchmarks.cc
  flow/paint_utils.cc
  fml/platform/android/jni_util.cc
  fml/platform/android/message_loop_android.cc
  fml/platform/android/scoped_java_ref.cc
  fml/synchronization/waitable_event_unittest.cc
  lib/ui/compositing/scene_builder_unittests.cc
  lib/ui/hooks_unittests.cc
  lib/ui/painting/image_encoding_unittests.cc
  lib/ui/painting/multi_frame_codec.cc
  runtime/dart_isolate.cc
  runtime/dart_isolate_unittests.cc
  runtime/no_dart_plugin_registrant_unittests.cc
  runtime/type_conversions_unittests.cc
  shell/common/animator_unittests.cc
  shell/common/dart_native_benchmarks.cc
  shell/common/input_events_unittests.cc
  shell/common/shell_unittests.cc
  shell/platform/android/android_context_gl.cc
  shell/platform/android/android_image_generator.cc
  shell/platform/android/android_image_generator.h
  shell/platform/android/android_surface_gl.cc
  shell/platform/common/json_message_codec.cc
  shell/platform/common/json_message_codec_unittests.cc
  shell/platform/common/json_method_codec.cc
  shell/platform/common/json_method_codec_unittests.cc
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/ios/ios_render_target_gl.mm
  shell/platform/darwin/macos/framework/Source/FlutterEmbedderKeyResponder.mm
  shell/platform/darwin/macos/framework/Source/FlutterEmbedderKeyResponderUnittests.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterOpenGLRendererTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterPlatformNodeDelegateMacTest.mm
  shell/platform/embedder/tests/embedder_a11y_unittests.cc
  shell/platform/embedder/tests/embedder_unittests.cc
  shell/platform/embedder/tests/embedder_unittests_gl.cc
  shell/platform/embedder/tests/embedder_unittests_metal.mm
  shell/platform/glfw/key_event_handler.cc
  shell/platform/linux/fl_basic_message_channel_test.cc
  shell/platform/linux/fl_engine_test.cc
  testing/mock_canvas.cc
Labels: platform-ios, platform-android, platform-linux, embedder

#31191 Use H5vcc CanvasKit implementation if it is detected.
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/initialization.dart
  lib/web_ui/lib/src/engine/canvaskit/surface.dart
  lib/web_ui/test/canvaskit/h5vcc_test.dart
Labels: waiting for tree to go green, platform-web, needs tests

#31353 Roll Dart SDK from 55c93c732da9 to b7eea441d7d1 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#31356 Roll Fuchsia Mac SDK from 5_CZ81mTD... to 5CmPcHTb1...
  DEPS
Labels: waiting for tree to go green

#31360 Roll Skia from 9cb74e90792d to 81d4b5d5b45d (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31362 Roll Skia from 81d4b5d5b45d to 1f813e4c7f6d (1 revision)
  DEPS
Labels: waiting for tree to go green

#31351 Fix AccessibilityBridge crash due to invalid access during ReplaceSemanticsObject
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
Labels: platform-ios, waiting for tree to go green, needs tests

#31132 Manual roll of ICU
  DEPS
  ci/licenses_golden/licenses_third_party
  ci/licenses_golden/tool_signature
  tools/licenses/lib/licenses.dart
  tools/licenses/lib/patterns.dart
Labels: needs tests

#31364 Roll Fuchsia Linux SDK from 4VEg4eRJS... to YGS2LvlDy...
  DEPS
  ci/licenses_golden/licenses_fuchsia
  sky/packages/sky_engine/LICENSE
Labels: waiting for tree to go green

#28571 Add trackpad gesture PointerData types
  lib/ui/platform_dispatcher.dart
  lib/ui/pointer.dart
  lib/ui/window/pointer_data.h
  lib/ui/window/pointer_data_packet_converter.cc
  lib/ui/window/pointer_data_packet_converter.h
  lib/ui/window/pointer_data_packet_converter_unittests.cc
  lib/web_ui/lib/pointer.dart
  lib/web_ui/lib/src/engine/pointer_converter.dart
  shell/platform/android/io/flutter/embedding/android/AndroidTouchProcessor.java
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/fuchsia/flutter/platform_view.cc
Labels: platform-ios, platform-android, cla: yes, platform-web, platform-macos, platform-linux, platform-windows, platform-fuchsia, embedder

#31366 Roll Skia from 1f813e4c7f6d to 5a2135af5623 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31334 Migrate string encoding conversions to FML
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/platform/win/errors_win.cc
  fml/platform/win/file_win.cc
  fml/platform/win/native_library_win.cc
  fml/platform/win/wstring_conversion.cc
  fml/platform/win/wstring_conversion.h
  fml/platform/win/wstring_conversion_unittests.cc
  fml/string_conversion.cc
  fml/string_conversion.h
  fml/string_conversion_unittests.cc
  shell/platform/common/BUILD.gn
  shell/platform/common/text_editing_delta.cc
  shell/platform/common/text_editing_delta.h
  shell/platform/common/text_input_model.cc
  shell/platform/windows/BUILD.gn
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/keyboard_key_embedder_handler.cc
  shell/platform/windows/platform_handler_win32.cc
  shell/platform/windows/platform_handler_winuwp.cc
  shell/platform/windows/string_conversion.cc
  shell/platform/windows/string_conversion.h
  shell/platform/windows/string_conversion_unittests.cc
  shell/platform/windows/system_utils_win32.cc
  shell/platform/windows/system_utils_winuwp.cc
  shell/platform/windows/uwptool_commands.cc
Labels: platform-windows

#31368 Roll Skia from 5a2135af5623 to 21a92dff8fdc (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31369 Roll Dart SDK from 7e3310bbe1ed to a9cfcc289ed4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_third_party
Labels: waiting for tree to go green

#31370 Roll Fuchsia Mac SDK from 5CmPcHTb1... to ZA5ZzabQM...
  DEPS
Labels: waiting for tree to go green

#31355 Fix html gradient rendering (https://github.com/flutter/flutter/issues/97762)
  lib/web_ui/lib/src/engine/html/render_vertices.dart
  lib/web_ui/lib/src/engine/html/shaders/image_shader.dart
  lib/web_ui/lib/src/engine/html/shaders/normalized_gradient.dart
  lib/web_ui/lib/src/engine/html/shaders/shader.dart
  lib/web_ui/lib/src/engine/safe_browser_api.dart
  lib/web_ui/test/html/shaders/gradient_golden_test.dart
  lib/web_ui/test/html/shaders/linear_gradient_golden_test.dart
Labels: waiting for tree to go green, platform-web, needs tests, will affect goldens

#31246 [Android] Show deprecation warnings for Android tests
  shell/platform/android/test_runner/build.gradle
Labels: platform-android, waiting for tree to go green

#31373 Roll Skia from 21a92dff8fdc to c5d3326d767d (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31377 Roll Skia from c5d3326d767d to b6dfd97c5290 (10 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: waiting for tree to go green

#31376 [a11y] Delegate UTF8ToUTF16 to FML
  ci/licenses_golden/licenses_flutter
  third_party/accessibility/base/BUILD.gn
  third_party/accessibility/base/string_utils.cc
  third_party/accessibility/base/win/string_conversion.cc
  third_party/accessibility/base/win/string_conversion.h
Labels: waiting for tree to go green

#28527 TextEditingDelta Support for the Web
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/engine/semantics/text_field_test.dart
  lib/web_ui/test/text_editing_test.dart
Labels: cla: yes, platform-web

#28919 Renamed the scenario tests target to be generic emulator tests.
  .ci.yaml
Labels: cla: yes, waiting for tree to go green
