Repository flutter/engine, pull requests merged in 2023-10, with the labels that each got.

#46444 Roll Fuchsia Linux SDK from ZDxyy9-hcaVyv65as... to rZzd2cREE1_AwHJK8...
  DEPS
Labels: autosubmit

#46445 Roll Fuchsia Mac SDK from DEmzJ6vnZAAUzsm81... to Et_e4YYLaN6JyhtnC...
  DEPS
Labels: autosubmit

#46446 Roll Fuchsia Linux SDK from rZzd2cREE1_AwHJK8... to WKLlWqrdEL9WmoxzI...
  DEPS
Labels: autosubmit

#46447 Roll Fuchsia Mac SDK from Et_e4YYLaN6JyhtnC... to xavNitWHYl39nmCPT...
  DEPS
Labels: autosubmit

#46449 Roll Skia from 20a431090e24 to a2e605c42ba8 (1 revision)
  DEPS
Labels: autosubmit

#46450 Roll Fuchsia Linux SDK from WKLlWqrdEL9WmoxzI... to 9injtwYqcyVLXJ22h...
  DEPS
Labels: autosubmit

#46451 Roll Fuchsia Mac SDK from xavNitWHYl39nmCPT... to NPmdUQgciCMzpu-RR...
  DEPS
Labels: autosubmit

#46452 Roll Skia from a2e605c42ba8 to 7bd63cc5cba3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46360 [Linux] Rename 'set_allow_channel_overflow' to 'set_warns_on_channel_…
  shell/platform/linux/fl_binary_messenger.cc
  shell/platform/linux/fl_binary_messenger_test.cc
  shell/platform/linux/fl_keyboard_manager_test.cc
  shell/platform/linux/public/flutter_linux/fl_binary_messenger.h
  shell/platform/linux/testing/mock_binary_messenger.cc
  shell/platform/linux/testing/mock_binary_messenger.h
Labels: affects: desktop, platform-linux, autosubmit

#46453 Roll Skia from 7bd63cc5cba3 to 0fef7d25a55f (1 revision)
  DEPS
Labels: autosubmit

#46457 Roll Dart SDK from c9b521394392 to 311a337a4b1a (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#46458 Roll Fuchsia Linux SDK from 9injtwYqcyVLXJ22h... to ZzYmXHUmcE0gMgZn1...
  DEPS
Labels: autosubmit

#46464 Roll Skia from e72023890373 to 3a7a3bbd27d4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46465 Roll Fuchsia Mac SDK from NPmdUQgciCMzpu-RR... to xq7mAZt0ekqth1hZV...
  DEPS
Labels: autosubmit

#46466 Roll Skia from 3a7a3bbd27d4 to 53848cbd4e30 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46467 Roll Skia from 53848cbd4e30 to b5b5ee1d0a93 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46472 Roll Skia from fcd1b7521805 to 064f144adedd (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46477 Roll Dart SDK from 311a337a4b1a to b121fbe079e8 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#46481 Roll Skia from 064f144adedd to 1ec5c024f61e (1 revision)
  DEPS
Labels: autosubmit

#46478 Restrict ImageReader backed Platform Views to Android 33+
  shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
  shell/platform/android/io/flutter/plugin/platform/ImageReaderPlatformViewRenderTarget.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
Labels: platform-android

#46483 Roll Fuchsia Linux SDK from ZzYmXHUmcE0gMgZn1... to HZHIjaqYGV-JOwWfn...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#46485 Roll Fuchsia Mac SDK from xq7mAZt0ekqth1hZV... to ujelFOdQOKGYzoj26...
  DEPS
Labels: autosubmit

#46487 Roll Dart SDK from b121fbe079e8 to a4a29db16711 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#46486 Roll Skia from 1ec5c024f61e to ef4abc18ef53 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46490 Roll Skia from ef4abc18ef53 to 59f62253759a (1 revision)
  DEPS
Labels: autosubmit

#46494 Roll Skia from 59f62253759a to a05b5edb3119 (1 revision)
  DEPS
Labels: autosubmit

#46495 Roll Skia from a05b5edb3119 to 63af3585fc68 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46496 Roll Dart SDK from a4a29db16711 to 86d84b3d61d6 (1 revision)
  DEPS
Labels: autosubmit

#46498 Roll Skia from 63af3585fc68 to 30132659083d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46499 Roll Fuchsia Linux SDK from HZHIjaqYGV-JOwWfn... to SQrHxRVqMo5arcS3p...
  DEPS
Labels: autosubmit

#46505 Roll Fuchsia Mac SDK from ujelFOdQOKGYzoj26... to d4QNzZ6FjCCXUQtkT...
  DEPS
Labels: autosubmit

#46507 Roll Skia from 93c6a6dd404d to a114c3d5672b (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46508 Roll Dart SDK from 86d84b3d61d6 to 318c46832196 (1 revision)
  DEPS
Labels: autosubmit

#46510 Roll Skia from a114c3d5672b to cb4cfa571393 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46511 Roll Skia from cb4cfa571393 to 3a227c225839 (3 revisions)
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46489 [Impeller] Fix framebuffer blend UVs.
  impeller/aiks/aiks_unittests.cc
  impeller/entity/contents/framebuffer_blend_contents.cc
Labels: will affect goldens, e: impeller

#46513 Roll Skia from 3a227c225839 to 22d1ae035048 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46515 Roll Skia from 22d1ae035048 to d8ec08c6d49d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46518 Roll Skia from d8ec08c6d49d to b708dd7d1092 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46521 Roll Skia from b708dd7d1092 to c66c89c56549 (1 revision)
  DEPS
Labels: autosubmit

#46519 [Impeller] Stencil -> Clip
  impeller/aiks/canvas.cc
  impeller/aiks/canvas.h
  impeller/entity/contents/atlas_contents.cc
  impeller/entity/contents/clip_contents.cc
  impeller/entity/contents/clip_contents.h
  impeller/entity/contents/conical_gradient_contents.cc
  impeller/entity/contents/contents.cc
  impeller/entity/contents/contents.h
  impeller/entity/contents/filters/blend_filter_contents.cc
  impeller/entity/contents/filters/border_mask_blur_filter_contents.cc
  impeller/entity/contents/filters/color_matrix_filter_contents.cc
  impeller/entity/contents/filters/gaussian_blur_filter_contents.cc
  impeller/entity/contents/filters/linear_to_srgb_filter_contents.cc
  impeller/entity/contents/filters/local_matrix_filter_contents.cc
  impeller/entity/contents/filters/matrix_filter_contents.cc
  impeller/entity/contents/filters/morphology_filter_contents.cc
  impeller/entity/contents/filters/srgb_to_linear_filter_contents.cc
  impeller/entity/contents/filters/yuv_to_rgb_filter_contents.cc
  impeller/entity/contents/framebuffer_blend_contents.cc
  impeller/entity/contents/linear_gradient_contents.cc
  impeller/entity/contents/radial_gradient_contents.cc
  impeller/entity/contents/runtime_effect_contents.cc
  impeller/entity/contents/solid_color_contents.cc
  impeller/entity/contents/solid_rrect_blur_contents.cc
  impeller/entity/contents/sweep_gradient_contents.cc
  impeller/entity/contents/text_contents.cc
  impeller/entity/contents/texture_contents.cc
  impeller/entity/contents/tiled_texture_contents.cc
  impeller/entity/contents/vertices_contents.cc
  impeller/entity/entity.cc
  impeller/entity/entity.h
  impeller/entity/entity_pass.cc
  impeller/entity/entity_pass.h
  impeller/entity/entity_unittests.cc
Labels: e: impeller, autosubmit

#46514 Opt out `flutter/third_party/**` from clang-tidy checks explicitly.
  ci/licenses_golden/excluded_files
  third_party/.clang-tidy
Labels: autosubmit

#46520 Roll Dart SDK from 318c46832196 to 817f77ceba40 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#46392 [Impeller] Invoke `glDebugMessageControl` before `glPushDebugGroup`
  impeller/renderer/backend/gles/blit_pass_gles.cc
  impeller/renderer/backend/gles/description_gles.h
  impeller/renderer/backend/gles/pipeline_library_gles.cc
  impeller/renderer/backend/gles/proc_table_gles.cc
  impeller/renderer/backend/gles/proc_table_gles.h
  impeller/renderer/backend/gles/reactor_gles.cc
  impeller/renderer/backend/gles/reactor_gles.h
  impeller/renderer/backend/gles/render_pass_gles.cc
Labels: e: impeller

#46433 [Impeller] Implement a `MockGLES`, that provides trampolines for `ProcGLESTable`
  ci/licenses_golden/excluded_files
  impeller/BUILD.gn
  impeller/renderer/backend/gles/BUILD.gn
  impeller/renderer/backend/gles/proc_table_gles.h
  impeller/renderer/backend/gles/test/README.md
  impeller/renderer/backend/gles/test/mock_gles.cc
  impeller/renderer/backend/gles/test/mock_gles.h
  impeller/renderer/backend/gles/test/mock_gles_unittests.cc
Labels: e: impeller

#46525 Roll Skia from c66c89c56549 to 4cc56b6b3453 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46527 Roll Skia from 4cc56b6b3453 to ee415cab7955 (1 revision)
  DEPS
Labels: autosubmit

#46528 Roll Skia from ee415cab7955 to aec80c6c8983 (1 revision)
  DEPS
Labels: autosubmit

#46529 Roll Dart SDK from 817f77ceba40 to c819e51c8a94 (1 revision)
  DEPS
Labels: autosubmit

#46476 [Impeller] Don't define `CanvasRecorder` if `IMPELLER_TRACE_CANVAS` is not set.
  impeller/aiks/canvas_recorder.h
Labels: e: impeller, autosubmit

#46532 Roll Fuchsia Linux SDK from SQrHxRVqMo5arcS3p... to tpiob-Qyh6oYiIznS...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#46533 Roll Skia from aec80c6c8983 to 417a6383c59a (1 revision)
  DEPS
Labels: autosubmit

#46534 Roll Dart SDK from c819e51c8a94 to 8c7e38cd3903 (1 revision)
  DEPS
Labels: autosubmit

#46536 Roll Fuchsia Mac SDK from d4QNzZ6FjCCXUQtkT... to pzOoo5Zcrqst6Cl3X...
  DEPS
Labels: autosubmit

#46537 Roll Skia from 417a6383c59a to 8d45e7f1d4a4 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46524 [Impeller] Clarify coverage space.
  impeller/entity/contents/contents.h
  impeller/entity/entity.h
Labels: e: impeller, autosubmit

#46539 Roll Skia from 8d45e7f1d4a4 to 387853af198f (1 revision)
  DEPS
Labels: autosubmit

#46540 Roll Dart SDK from 8c7e38cd3903 to 49561debc8d4 (1 revision)
  DEPS
Labels: autosubmit

#46544 Roll Skia from 387853af198f to 49657f39d457 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46553 Roll Fuchsia Mac SDK from pzOoo5Zcrqst6Cl3X... to Q0h8rkXPNpWBnlAnS...
  DEPS
Labels: autosubmit

#46554 Roll Skia from 49657f39d457 to f6b7864d0325 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46556 Roll Skia from f6b7864d0325 to b3d65351b9ae (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46557 Roll Fuchsia Linux SDK from tpiob-Qyh6oYiIznS... to z_GRSMyHRsHjrpY48...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#46559 Roll Dart SDK from 49561debc8d4 to b8fceaea291c (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#46562 Roll Skia from b3d65351b9ae to d061d21eed0d (2 revisions)
  DEPS
Labels: autosubmit

#46563 Roll Skia from d061d21eed0d to 073737b7f4ab (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46471 [ios] Link PlatformView back to semantics tree
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterTouchInterceptingView_Test.h
  shell/platform/darwin/ios/framework/Source/SemanticsObject.h
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTestMocks.h
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest_mrc.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
Labels: platform-ios, autosubmit

#46564 Update buildroot to 5d60bd2.
  DEPS
Labels: autosubmit

#46526 Use GdkEvent methods to access values, direct access is removed in GTK4.
  shell/platform/linux/fl_key_event.cc
  shell/platform/linux/fl_scrolling_manager.cc
  shell/platform/linux/fl_view.cc
Labels: affects: desktop, platform-linux

#46570 Roll Skia from 073737b7f4ab to 10b86aa8d8b7 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46571 Roll Dart SDK from b8fceaea291c to 368fd3846df0 (1 revision)
  DEPS
Labels: autosubmit

#46572 Roll Skia from 10b86aa8d8b7 to 0206ca4badc0 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46574 Roll Skia from 0206ca4badc0 to 7e025304e846 (1 revision)
  DEPS
Labels: autosubmit

#46575 Roll Skia from 7e025304e846 to e9b5e455ff8d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46577 Roll Skia from e9b5e455ff8d to f0cbcb892b2b (1 revision)
  DEPS
Labels: autosubmit

#46578 Roll Fuchsia Mac SDK from Q0h8rkXPNpWBnlAnS... to -RGP9v0n9shWn5yg1...
  DEPS
Labels: autosubmit

#46580 Roll Fuchsia Linux SDK from z_GRSMyHRsHjrpY48... to bnd4FFub2R9Q4mlAC...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#46584 Roll Skia from 2be211c972d5 to 09c71755bc6c (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46593 Roll Fuchsia Mac SDK from -RGP9v0n9shWn5yg1... to th0Ks2IEZYh6fe8G5...
  DEPS
Labels: autosubmit

#46599 Roll Fuchsia Linux SDK from bnd4FFub2R9Q4mlAC... to eI_FBTaRgvoBQaK5n...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#46611 Roll Fuchsia Mac SDK from th0Ks2IEZYh6fe8G5... to 14dOVccxXOO5RPJJB...
  DEPS
Labels: autosubmit

#46614 Roll Fuchsia Linux SDK from eI_FBTaRgvoBQaK5n... to K7K76tME-CSGhYlFm...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#46597 [Impeller] Track clip coverage per-pass when not collapsing.
  impeller/aiks/aiks_unittests.cc
  impeller/entity/contents/filters/matrix_filter_contents.cc
  impeller/entity/entity_pass.cc
  impeller/entity/entity_pass.h
Labels: will affect goldens, e: impeller, autosubmit

#46621 [Impeller] Refactor CapabilitiesGLES into a Capabilties.
  impeller/renderer/backend/gles/BUILD.gn
  impeller/renderer/backend/gles/capabilities_gles.cc
  impeller/renderer/backend/gles/capabilities_gles.h
  impeller/renderer/backend/gles/context_gles.cc
  impeller/renderer/backend/gles/context_gles.h
  impeller/renderer/backend/gles/proc_table_gles.cc
  impeller/renderer/backend/gles/proc_table_gles.h
  impeller/renderer/backend/gles/test/capabilities_unittests.cc
Labels: e: impeller, autosubmit

#46623 [Impeller] Ensure known geometry has simple bounds computation.
  impeller/aiks/canvas.cc
  impeller/display_list/dl_unittests.cc
Labels: e: impeller, autosubmit

#46629 [fuchsia] Remove hardcoded fuchsia-imported packages 2.12 sdk version
  shell/platform/fuchsia/dart/BUILD.gn
Labels: platform-fuchsia

#46587 Roll Skia from 0f2af25f15ee to d86da2a029d8 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46634 Roll Fuchsia Mac SDK from 14dOVccxXOO5RPJJB... to GXgrnmetc14RPdheo...
  DEPS
Labels: autosubmit

#46636 Roll Skia from d86da2a029d8 to 2f67f1f18562 (36 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#46639 Roll Dart SDK from 368fd3846df0 to 46bad70d0f7e (7 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#46641 Roll Fuchsia Linux SDK from K7K76tME-CSGhYlFm... to a-BbzDtY3w8UXYgbK...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#46644 Roll Skia from 2f67f1f18562 to 15de5cc6a095 (1 revision)
  DEPS
Labels: autosubmit

#46645 Roll Dart SDK from 46bad70d0f7e to 7ba556c43d35 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#46647 Roll Dart SDK from 7ba556c43d35 to a88ed8cafd27 (1 revision)
  DEPS
Labels: autosubmit

#46648 Roll Skia from 15de5cc6a095 to 6ce883877068 (1 revision)
  DEPS
Labels: autosubmit

#46649 Roll Fuchsia Mac SDK from GXgrnmetc14RPdheo... to NRLsjEUCmIz2f1Wox...
  DEPS
Labels: autosubmit

#46651 Roll Fuchsia Linux SDK from a-BbzDtY3w8UXYgbK... to nX88TgPdoM6PK1wBq...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#46652 Roll Skia from 6ce883877068 to 99d9d571f4dd (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46642 [Impeller] Add IMPELLER_DEBUG around group.
  impeller/renderer/backend/gles/proc_table_gles.cc
Labels: e: impeller, autosubmit

#46653 Roll Skia from 99d9d571f4dd to 3d77b5de5984 (1 revision)
  DEPS
Labels: autosubmit

#46654 Roll Fuchsia Mac SDK from NRLsjEUCmIz2f1Wox... to qf94AgyANg4i0Supy...
  DEPS
Labels: autosubmit

#46655 Roll Fuchsia Linux SDK from nX88TgPdoM6PK1wBq... to 8ri3ggb_SASX6KpNn...
  DEPS
Labels: autosubmit

#46656 Roll Skia from 3d77b5de5984 to a04f2cfaf4d4 (1 revision)
  DEPS
Labels: autosubmit

#46657 Roll Skia from a04f2cfaf4d4 to ac67f4882568 (1 revision)
  DEPS
Labels: autosubmit

#46658 Roll Fuchsia Mac SDK from qf94AgyANg4i0Supy... to gaFsjQCR8UjK8EX-b...
  DEPS
Labels: autosubmit

#46659 Roll Fuchsia Linux SDK from 8ri3ggb_SASX6KpNn... to TTQty3yF7hRg2UFT8...
  DEPS
Labels: autosubmit

#46660 Roll Skia from ac67f4882568 to fedfbe6383f0 (1 revision)
  DEPS
Labels: autosubmit

#46661 Roll Fuchsia Mac SDK from gaFsjQCR8UjK8EX-b... to nN0l08yRbt0zE3R7a...
  DEPS
Labels: autosubmit

#46662 Roll Fuchsia Linux SDK from TTQty3yF7hRg2UFT8... to 0ObCmDD14Cel45cU-...
  DEPS
Labels: autosubmit

#46663 Roll Skia from fedfbe6383f0 to 0507cc73ca2a (1 revision)
  DEPS
Labels: autosubmit

#46664 Roll Skia from 0507cc73ca2a to c844143823fb (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46665 Roll Skia from c844143823fb to 9fd74b688561 (1 revision)
  DEPS
Labels: autosubmit

#46666 Roll Skia from 9fd74b688561 to 871c976c0ecc (1 revision)
  DEPS
Labels: autosubmit

#46669 Roll Skia from 871c976c0ecc to 3b83cd44d9ee (1 revision)
  DEPS
Labels: autosubmit

#46674 Roll Dart SDK from a88ed8cafd27 to a6e43b0b9e0c (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#46677 Roll Skia from c5541e2bd213 to 4135182b6a56 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46679 Roll Fuchsia Linux SDK from 0ObCmDD14Cel45cU-... to 3JmrIr49bTV2DIWsW...
  DEPS
Labels: autosubmit

#46680 Roll Skia from 4135182b6a56 to ef4c093143d2 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46650 [Impeller] Optionally support SamplerAddressMode::kDecal on the OpenGLES backend
  impeller/entity/contents/atlas_contents.cc
  impeller/entity/contents/filters/blend_filter_contents.cc
  impeller/entity/contents/filters/morphology_filter_contents.cc
  impeller/entity/shaders/blending/advanced_blend.glsl
  impeller/entity/shaders/blending/porter_duff_blend.frag
  impeller/entity/shaders/morphology_filter.frag
  impeller/renderer/backend/gles/capabilities_gles.cc
  impeller/renderer/backend/gles/capabilities_gles.h
  impeller/renderer/backend/gles/context_gles.cc
  impeller/renderer/backend/gles/gles.h
  impeller/renderer/backend/gles/sampler_gles.cc
  impeller/renderer/backend/gles/sampler_library_gles.cc
  impeller/renderer/backend/gles/sampler_library_gles.h
  impeller/renderer/backend/gles/test/capabilities_unittests.cc
  impeller/renderer/backend/gles/test/mock_gles.cc
  impeller/renderer/backend/gles/test/mock_gles.h
  impeller/tools/malioc.json
Labels: e: impeller, autosubmit

#46684 Roll Skia from ef4c093143d2 to 26d70e6999f6 (1 revision)
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#46422 [Impeller] Run DisplayList render tests.
  ci/licenses_golden/licenses_flutter
  display_list/testing/BUILD.gn
  display_list/testing/dl_rendering_unittests.cc
  display_list/testing/dl_test_surface_metal.cc
  display_list/testing/dl_test_surface_metal.h
  display_list/testing/dl_test_surface_provider.cc
  display_list/testing/dl_test_surface_provider.h
  impeller/golden_tests/BUILD.gn
  impeller/golden_tests/golden_playground_test_mac.cc
  impeller/golden_tests/golden_tests.cc
  impeller/golden_tests/metal_screenshot.h
  impeller/golden_tests/metal_screenshot.mm
  impeller/golden_tests/metal_screenshotter.h
  impeller/golden_tests/metal_screenshotter.mm
Labels: e: impeller, autosubmit

#46685 Roll Skia from 26d70e6999f6 to bd77f099b4f9 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46687 Roll Skia from bd77f099b4f9 to e56387226035 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46686 Remove obsolete tests that were time sensitive.
  ci/licenses_golden/excluded_files
  fml/BUILD.gn
  fml/message_loop_impl_unittests.cc
  fml/message_loop_unittests.cc
  testing/run_tests.py
Labels: autosubmit

#46690 Roll Skia from e56387226035 to f45ac4569300 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46691 Roll Dart SDK from a6e43b0b9e0c to 078162ecf493 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#46694 Roll Skia from f45ac4569300 to f4f3c909993d (1 revision)
  DEPS
Labels: autosubmit

#46695 Roll Dart SDK from 078162ecf493 to a471147f6237 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#46698 Roll Fuchsia Mac SDK from YDaOfbTjc-WMEZXZx... to EYr1hCR6hxkSGhtis...
  DEPS
Labels: autosubmit

#46699 Roll Skia from f4f3c909993d to 4378ce41f461 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46700 Roll Fuchsia Linux SDK from 3JmrIr49bTV2DIWsW... to dCjN58uZQBmAFWSxN...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#46702 Roll Skia from 4378ce41f461 to c969e4aff32c (1 revision)
  DEPS
Labels: autosubmit

#46704 Roll Dart SDK from a471147f6237 to 0023fc324ff0 (1 revision)
  DEPS
Labels: autosubmit

#46708 Roll Skia from c969e4aff32c to ea839690b97d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46709 Roll Dart SDK from 0023fc324ff0 to 0732be6b823a (1 revision)
  DEPS
Labels: autosubmit

#46710 Roll Skia from ea839690b97d to 6cfbb3a0809e (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46711 Roll Skia from 6cfbb3a0809e to c497dae2fedb (2 revisions)
  DEPS
Labels: autosubmit

#46713 Roll Fuchsia Mac SDK from EYr1hCR6hxkSGhtis... to oTiMPVe_PvyCYnlqR...
  DEPS
Labels: autosubmit

#46714 Roll Skia from c497dae2fedb to c634411c51e6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46682 [Impeller] made window size parametric in playground/golden tests
  impeller/golden_tests/golden_playground_test.h
  impeller/golden_tests/golden_playground_test_mac.cc
  impeller/golden_tests/golden_playground_test_stub.cc
  impeller/playground/playground.h
Labels: e: impeller, autosubmit

#46716 Roll Skia from c634411c51e6 to f0653c4a2df5 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46696 use TextFrame calls for Impeller in rendertests
  display_list/BUILD.gn
  display_list/testing/dl_rendering_unittests.cc
  testing/display_list_testing.cc
  third_party/txt/src/skia/paragraph_skia.cc
Labels: autosubmit

#46721 Roll Skia from f0653c4a2df5 to 475286f0f6f1 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46585 [Impeller] Implement framebuffer fetch support for OpenGLES.
  impeller/compiler/compiler.cc
  impeller/compiler/impellerc_main.cc
  impeller/compiler/source_options.h
  impeller/compiler/switches.cc
  impeller/compiler/switches.h
  impeller/entity/BUILD.gn
  impeller/entity/contents/framebuffer_blend_contents.cc
  impeller/entity/shaders/blending/ios/framebuffer_blend.glsl
  impeller/renderer/backend/gles/capabilities_gles.cc
  impeller/renderer/backend/gles/capabilities_gles.h
  impeller/renderer/backend/gles/pipeline_library_gles.h
  impeller/renderer/backend/gles/test/capabilities_unittests.cc
  impeller/tools/impeller.gni
  impeller/tools/malioc.json
  shell/platform/android/android_context_gl_impeller.cc
Labels: platform-android, e: impeller, autosubmit

#46728 Roll Skia from 475286f0f6f1 to 06145491fd17 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#46726 Use x86 machines for ios builds.
  ci/builders/mac_ios_engine.json
Labels: autosubmit

#46724 Fix high FPS screen flicker of Platform Views when using ImageReaderPlatformViewRenderTarget
  shell/platform/android/hardware_buffer_external_texture.cc
  shell/platform/android/hardware_buffer_external_texture.h
  shell/platform/android/hardware_buffer_external_texture_gl.cc
  shell/platform/android/hardware_buffer_external_texture_gl.h
  shell/platform/android/hardware_buffer_external_texture_vk.cc
  shell/platform/android/hardware_buffer_external_texture_vk.h
  shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
  shell/platform/android/io/flutter/plugin/platform/ImageReaderPlatformViewRenderTarget.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/platform_view_android.cc
Labels: platform-android

#46705 [Impeller] Don't cull readbacks outside the damage rect.
  flow/diff_context.cc
  flow/diff_context.h
  flow/layers/backdrop_filter_layer.cc
  flow/layers/backdrop_filter_layer_unittests.cc
Labels: autosubmit

#46734 Roll Fuchsia Linux SDK from dCjN58uZQBmAFWSxN... to FX5YzwP_ZEnPP0b3v...
  DEPS
Labels: autosubmit

#46692 [Impeller] log specific framebuffer incomplete error.
  impeller/renderer/backend/gles/BUILD.gn
  impeller/renderer/backend/gles/formats_gles.cc
  impeller/renderer/backend/gles/formats_gles.h
  impeller/renderer/backend/gles/render_pass_gles.cc
  impeller/renderer/backend/gles/test/formats_gles_unittests.cc
Labels: e: impeller, autosubmit
