Repository flutter/engine, pull requests merged in 2023-05, with the labels that each got.

#41625 Roll Fuchsia Mac SDK from uU98Ene2OeSVt21X_... to NBgD7NzOpwnAULR_g...
  DEPS
Labels: autosubmit

#41627 Roll Skia from 5a7d7da47c10 to fe0977a822a4 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41628 Roll Skia from fe0977a822a4 to a7f887f344c6 (1 revision)
  DEPS
Labels: autosubmit

#41630 Roll Fuchsia Linux SDK from FV1Uu3faXL2llmvaU... to SJOgKviZ-kwWd1Z1u...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#41633 Roll Skia from a7f887f344c6 to 1a6a1e905518 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41626 [flutter roll] Revert "Determine lifecycle by looking at window focus also"
  lib/ui/platform_dispatcher.dart
  shell/platform/android/io/flutter/app/FlutterActivity.java
  shell/platform/android/io/flutter/app/FlutterActivityDelegate.java
  shell/platform/android/io/flutter/app/FlutterActivityEvents.java
  shell/platform/android/io/flutter/app/FlutterFragmentActivity.java
  shell/platform/android/io/flutter/app/FlutterPluginRegistry.java
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/io/flutter/embedding/android/FlutterFragment.java
  shell/platform/android/io/flutter/embedding/engine/FlutterEngineConnectionRegistry.java
  shell/platform/android/io/flutter/embedding/engine/plugins/activity/ActivityPluginBinding.java
  shell/platform/android/io/flutter/embedding/engine/plugins/shim/ShimRegistrar.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/LifecycleChannel.java
  shell/platform/android/io/flutter/plugin/common/PluginRegistry.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/LifecycleChannelTest.java
Labels: platform-android, autosubmit

#41636 Roll Dart SDK from a433ca08e7e2 to dc4a048e3cf7 (1 revision)
  DEPS
Labels: autosubmit

#41637 Roll Skia from 1a6a1e905518 to 82d1ef7a833e (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41634 Forward fix for roll of Dart SDK to version with new checked-in SDK
  DEPS
Labels: autosubmit

#41639 [Impeller] Remove duplicate component in path.h
  impeller/geometry/path.h
Labels: autosubmit

#40998 [Impeller] Turns on the Metal validator for impeller_unittests.
  testing/run_tests.py
Labels: impeller, autosubmit

#41635 Add the verify exported symbols to linux builds.
  ci/builders/linux_android_aot_engine.json
  ci/builders/linux_android_debug_engine.json
  ci/builders/linux_host_engine.json
  ci/builders/mac_ios_engine.json
Labels: autosubmit

#41646 Run flutter license script with dart `--intrepret_irregexp` runtime option
  ci/licenses.sh
Labels: autosubmit

#41640 Update xcode to 14e222b
  .ci.yaml
  ci/builders/README.md
  ci/builders/mac_android_aot_engine.json
  ci/builders/mac_unopt.json
Labels: autosubmit

#41648 Roll Fuchsia Linux SDK from SJOgKviZ-kwWd1Z1u... to ur2ymZJCZSj64s6Q2...
  DEPS
Labels: autosubmit

#41643 Turn @staticInterop tear-off into closure
  lib/web_ui/lib/src/engine/text/font_collection.dart
Labels: platform-web, needs tests

#41649 Use os_dimension in framework tests.
  .ci.yaml
Labels: autosubmit

#41606 [Impeller] take advantage of DisplayList culling
  ci/licenses_golden/excluded_files
  display_list/display_list.cc
  display_list/display_list.h
  display_list/display_list_unittests.cc
  flow/surface_frame.cc
  impeller/aiks/BUILD.gn
  impeller/aiks/canvas.cc
  impeller/aiks/canvas.h
  impeller/aiks/canvas_unittests.cc
  impeller/display_list/dl_dispatcher.cc
  impeller/display_list/dl_dispatcher.h
  impeller/entity/entity_pass.h
  impeller/geometry/rect.h
  impeller/renderer/backend/metal/surface_mtl.h
  impeller/renderer/backend/metal/surface_mtl.mm
  shell/gpu/gpu_surface_metal_impeller.mm
Labels: impeller, autosubmit

#41655 Roll Skia from 38e56b6da8f9 to c9e0992be00b (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41660 Roll Skia from e18b7415188c to d2c85cb8aa2f (2 revisions)
  DEPS
Labels: autosubmit

#41661 Roll Fuchsia Mac SDK from u7iIoiSX4y8WV6Of1... to moQlKaNgpc0WD3sjC...
  DEPS
Labels: autosubmit

#41662 Roll Skia from d2c85cb8aa2f to e71bd40af2bb (1 revision)
  DEPS
Labels: autosubmit

#37421 [macOS] Add lookupKeyForAsset to FlutterPluginRegistrar
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/common/BUILD.gn
  shell/platform/darwin/common/framework/Headers/FlutterDartProject.h
  shell/platform/darwin/common/framework/Source/FlutterNSBundleUtils.h
  shell/platform/darwin/common/framework/Source/FlutterNSBundleUtils.mm
  shell/platform/darwin/common/framework_shared.gni
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/ios/framework/Source/FlutterDartProject_Internal.h
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Headers/FlutterDartProject.h
  shell/platform/darwin/macos/framework/Headers/FlutterPluginRegistrarMacOS.h
  shell/platform/darwin/macos/framework/Headers/FlutterViewController.h
  shell/platform/darwin/macos/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/macos/framework/Source/FlutterDartProject_Internal.h
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewController.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewControllerTest.mm
Labels: affects: desktop, platform-macos, will affect goldens, autosubmit

#41663 Roll Fuchsia Linux SDK from ur2ymZJCZSj64s6Q2... to g_6rn9e-GBQGQGwgt...
  DEPS
Labels: autosubmit

#41665 Roll Dart SDK from 0c4f93a82e0b to 84f3080c3165 (1 revision)
  DEPS
Labels: autosubmit

#41642 Clone the parent Android engine's asset provider into a spawned engine
  shell/platform/android/android_shell_holder.cc
  shell/platform/android/android_shell_holder.h
  testing/scenario_app/android/BUILD.gn
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/SpawnMultiEngineTest.java
  testing/scenario_app/android/app/src/main/AndroidManifest.xml
  testing/scenario_app/android/app/src/main/java/dev/flutter/scenarios/SpawnMultiEngineActivity.java
Labels: platform-android, needs tests, autosubmit

#41666 Roll Skia from c574ba686a93 to 644e199b6832 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41223 Stop specifiying Macmini8,1 in ci builders, use inherited mac_model dimension
  .ci.yaml
Labels: autosubmit

#41202 Web - Fix selection jump on Chrome for Android
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/engine/text_editing_test.dart
Labels: platform-web, autosubmit

#41674 Roll Fuchsia Mac SDK from moQlKaNgpc0WD3sjC... to ubfKertFqqUj0WD8I...
  DEPS
Labels: autosubmit

#41675 Roll Skia from 644e199b6832 to 089b9cca26fe (14 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41679 Roll Fuchsia Linux SDK from g_6rn9e-GBQGQGwgt... to 9T4mGpfsJZO0KPtfp...
  DEPS
Labels: autosubmit

#41683 Roll Skia from 089b9cca26fe to 54c32e41eced (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41684 Roll Skia from 54c32e41eced to 7781dda8104f (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41688 Roll Skia from 7781dda8104f to 3c1ecab42cd4 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41689 Roll Skia from 3c1ecab42cd4 to b58340991480 (1 revision)
  DEPS
Labels: autosubmit

#41690 Roll Skia from b58340991480 to 887e58fff02f (2 revisions)
  DEPS
Labels: autosubmit

#41691 Roll Fuchsia Mac SDK from ubfKertFqqUj0WD8I... to WAfNudyWPOGyWSpZD...
  DEPS
Labels: autosubmit

#41697 Roll Fuchsia Linux SDK from 9T4mGpfsJZO0KPtfp... to n1UnzmslAzt04yRv6...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#41591 [web] Add `dart:js_interop_unsafe` to SDK.
  sky/packages/sky_engine/BUILD.gn
  sky/packages/sky_engine/lib/_embedder.yaml
  web_sdk/sdk_rewriter.dart
  web_sdk/test/sdk_rewriter_test.dart
Labels: platform-web

#41693 Migrate SkSurface::getBackend* methods to static functions
  shell/platform/embedder/tests/embedder_test_backingstore_producer.cc
  shell/platform/fuchsia/flutter/vulkan_surface_producer.cc
  vulkan/vulkan_swapchain.cc
Labels: platform-fuchsia, needs tests, embedder

#41687 Migrate Android Engine Debug to Engine V2.
  .ci.yaml
  ci/builders/linux_android_debug_engine.json
Labels: autosubmit

#41700 [web] Remove unused function parameter
  lib/web_ui/lib/src/engine/embedder.dart
  lib/web_ui/lib/src/engine/global_styles.dart
  lib/web_ui/test/engine/global_styles_test.dart
Labels: platform-web, autosubmit

#41699 [web] Improve null safety for color->css
  lib/web_ui/lib/src/engine/canvas_pool.dart
  lib/web_ui/lib/src/engine/html/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/html/clip.dart
  lib/web_ui/lib/src/engine/html/color_filter.dart
  lib/web_ui/lib/src/engine/html/dom_canvas.dart
  lib/web_ui/lib/src/engine/html/painting.dart
  lib/web_ui/lib/src/engine/html/shaders/shader.dart
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/lib/src/engine/util.dart
  lib/web_ui/test/engine/platform_dispatcher/application_switcher_description_test.dart
  lib/web_ui/test/engine/platform_dispatcher/system_ui_overlay_style_test.dart
  lib/web_ui/test/html/path_to_svg_golden_test.dart
Labels: platform-web, autosubmit

#41705 Roll Skia from 887e58fff02f to 93c869da03f5 (12 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41702 Reland: "Determine lifecycle by looking at window focus also" (#41094)
  lib/ui/platform_dispatcher.dart
  shell/platform/android/io/flutter/app/FlutterActivity.java
  shell/platform/android/io/flutter/app/FlutterActivityDelegate.java
  shell/platform/android/io/flutter/app/FlutterActivityEvents.java
  shell/platform/android/io/flutter/app/FlutterFragmentActivity.java
  shell/platform/android/io/flutter/app/FlutterPluginRegistry.java
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/io/flutter/embedding/android/FlutterFragment.java
  shell/platform/android/io/flutter/embedding/engine/FlutterEngineConnectionRegistry.java
  shell/platform/android/io/flutter/embedding/engine/plugins/activity/ActivityPluginBinding.java
  shell/platform/android/io/flutter/embedding/engine/plugins/shim/ShimRegistrar.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/LifecycleChannel.java
  shell/platform/android/io/flutter/plugin/common/PluginRegistry.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/LifecycleChannelTest.java
Labels: platform-android, autosubmit

#41593 Remove physical model layer
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_flutter
  flow/BUILD.gn
  flow/compositor_context.cc
  flow/diff_context.cc
  flow/diff_context.h
  flow/layers/checkerboard_layertree_unittests.cc
  flow/layers/layer.h
  flow/layers/layer_raster_cache_item.cc
  flow/layers/layer_tree.cc
  flow/layers/layer_tree_unittests.cc
  flow/layers/performance_overlay_layer_unittests.cc
  flow/layers/physical_shape_layer.cc
  flow/layers/physical_shape_layer.h
  flow/layers/physical_shape_layer_unittests.cc
  flow/testing/diff_context_test.cc
  flow/testing/layer_test.h
  flow/testing/mock_raster_cache.cc
  flow/testing/mock_raster_cache.h
  lib/ui/compositing.dart
  lib/ui/compositing/scene_builder.cc
  lib/ui/compositing/scene_builder.h
  lib/ui/dart_ui.cc
  lib/web_ui/lib/compositing.dart
  lib/web_ui/lib/src/engine/canvaskit/layer.dart
  lib/web_ui/lib/src/engine/canvaskit/layer_scene_builder.dart
  lib/web_ui/lib/src/engine/html/clip.dart
  lib/web_ui/lib/src/engine/html/scene_builder.dart
  lib/web_ui/lib/src/engine/shadow.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/scene_builder.dart
  lib/web_ui/test/canvaskit/canvas_golden_test.dart
  lib/web_ui/test/engine/surface/scene_builder_test.dart
  lib/web_ui/test/engine/surface/surface_test.dart
  lib/web_ui/test/html/compositing/color_filter_golden_test.dart
  lib/web_ui/test/html/compositing/compositing_golden_test.dart
  lib/web_ui/test/html/shadow_golden_test.dart
  shell/common/persistent_cache_unittests.cc
  shell/common/shell_unittests.cc
  testing/dart/compositing_test.dart
Labels: platform-web, will affect goldens, autosubmit

#41712 [macOS] Remove view ID from public
  shell/platform/darwin/macos/framework/Headers/FlutterEngine.h
  shell/platform/darwin/macos/framework/Headers/FlutterPluginRegistrarMacOS.h
  shell/platform/darwin/macos/framework/Headers/FlutterViewController.h
  shell/platform/darwin/macos/framework/Source/FlutterViewController_Internal.h
Labels: platform-macos

#41716 Roll Fuchsia Mac SDK from WAfNudyWPOGyWSpZD... to LCajvqTauUudC-7RW...
  DEPS
Labels: autosubmit

#41703 Add relative path support for malioc_diff.
  impeller/tools/malioc_diff.py
Labels: autosubmit

#41718 Roll Dart SDK from 3cfcfb24bc6a to 59787216f670 (2 revisions)
  DEPS
Labels: autosubmit

#41711 [Impeller] Remove the DrawPaint->Clear optimization
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/canvas.cc
Labels: needs tests, will affect goldens, impeller

#41720 Make run_tests.py assert that the ios test dylib is at least as new as libFlutter.dylib
  testing/run_tests.py
Labels: autosubmit

#41656 Populate fallback fonts from CIPD in tests
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/tool_signature
  lib/web_ui/README.md
  lib/web_ui/dev/browser_roller.dart
  lib/web_ui/dev/cipd.dart
  lib/web_ui/dev/felt.dart
  lib/web_ui/dev/generate_fallback_font_data.dart
  lib/web_ui/dev/roll_fallback_fonts.dart
  lib/web_ui/dev/steps/copy_artifacts_step.dart
  lib/web_ui/dev/steps/run_suite_step.dart
  lib/web_ui/dev/test_platform.dart
  lib/web_ui/lib/src/engine/canvaskit/font_fallback_data.dart
  lib/web_ui/lib/src/engine/canvaskit/font_fallbacks.dart
  lib/web_ui/lib/src/engine/initialization.dart
  lib/web_ui/pubspec.yaml
  lib/web_ui/test/canvaskit/canvas_golden_test.dart
  lib/web_ui/test/canvaskit/common.dart
  lib/web_ui/test/canvaskit/fallback_fonts_golden_test.dart
  tools/licenses/lib/paths.dart
Labels: platform-web, will affect goldens, autosubmit

#41724 Roll Fuchsia Linux SDK from n1UnzmslAzt04yRv6... to LIacrdFhuTuHnYh0B...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#41727 Roll Skia from 9b19c0a0acf0 to 5c0f4c9bdc35 (1 revision)
  DEPS
Labels: autosubmit

#41728 Roll Skia from 5c0f4c9bdc35 to 02e4b3087869 (1 revision)
  DEPS
Labels: autosubmit

#41729 Roll Skia from 02e4b3087869 to 6950f56ad2ec (1 revision)
  DEPS
Labels: autosubmit

#41730 Roll Fuchsia Mac SDK from LCajvqTauUudC-7RW... to SD8Q_B7eWZqLgqo0f...
  DEPS
Labels: autosubmit

#41731 Roll Dart SDK from 47da769ae13a to 7b56aac98a5a (1 revision)
  DEPS
Labels: autosubmit

#41715 Migrate linux_host_engine to engine v2.
  .ci.yaml
  ci/builders/linux_host_engine.json
Labels: autosubmit

#41738 Roll Fuchsia Linux SDK from LIacrdFhuTuHnYh0B... to m0-fwGyFnoDVAvxgk...
  DEPS
Labels: autosubmit

#41737 Roll Skia from 6950f56ad2ec to a4828415b4af (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41740 Disable flaky tests on arm64
  shell/platform/darwin/common/framework/Source/FlutterChannelsTest.m
Labels: platform-ios, platform-macos, autosubmit

#41741 Roll Dart SDK from 7b56aac98a5a to 95e133dbd3a6 (1 revision)
  DEPS
Labels: autosubmit

#41736 Roll buildroot to 05ec9f7124191c7ba354521f3ffd34b09af872e7
  DEPS
Labels: autosubmit

#41744 [Impeller] check if path is Rect/RRect/Oval
  impeller/display_list/dl_dispatcher.cc
Labels: needs tests, autosubmit

#41658 Migrate linux unopt to engine_v2.
  .ci.yaml
  ci/builders/linux_unopt.json
Labels: autosubmit

#41746 Roll Skia from a4828415b4af to 00693e987828 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41747 Fix flaky FlutterChannelsTests, stop mocking `NSObject`
  shell/platform/darwin/common/framework/Source/FlutterChannelsTest.m
Labels: platform-ios, platform-macos, autosubmit

#41749 Roll Dart SDK from 95e133dbd3a6 to afeed9f8701e (1 revision)
  DEPS
Labels: autosubmit

#41752 Roll Skia from 00693e987828 to 6577130e14b6 (1 revision)
  DEPS
Labels: autosubmit

#41755 Roll Fuchsia Mac SDK from SD8Q_B7eWZqLgqo0f... to de2Eqw0IsOzTq15m3...
  DEPS
Labels: autosubmit

#41500 Close connection on keyboard close
  shell/platform/android/io/flutter/embedding/engine/systemchannels/TextInputChannel.java
  shell/platform/android/io/flutter/plugin/editing/ImeSyncDeferringInsetsCallback.java
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
Labels: platform-android, autosubmit

#41762 Roll Skia from 6577130e14b6 to bf4217c3f0da (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41653 [macOS] Change view ID's type to signed and a typedef
  shell/platform/darwin/macos/framework/Source/FlutterCompositor.h
  shell/platform/darwin/macos/framework/Source/FlutterCompositor.mm
  shell/platform/darwin/macos/framework/Source/FlutterCompositorTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/macos/framework/Source/FlutterRenderer.h
  shell/platform/darwin/macos/framework/Source/FlutterRenderer.mm
  shell/platform/darwin/macos/framework/Source/FlutterView.h
  shell/platform/darwin/macos/framework/Source/FlutterViewController.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewController_Internal.h
  shell/platform/darwin/macos/framework/Source/FlutterViewEngineProvider.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewEngineProviderTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewProvider.h
Labels: platform-macos

#41769 Roll Fuchsia Linux SDK from m0-fwGyFnoDVAvxgk... to jbpFz7qSikrKiRanC...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#41768 Roll Skia from edc4ee2e286e to d71ece9f9f1a (2 revisions)
  DEPS
Labels: autosubmit

#41770 Roll Dart SDK from eff8f62a7bc7 to 07016e96b9ed (1 revision)
  DEPS
Labels: autosubmit

#41772 Roll Skia from d71ece9f9f1a to 1a1c7db436e4 (1 revision)
  DEPS
Labels: autosubmit

#41773 Roll Dart SDK from 07016e96b9ed to bb9f17a8f0c3 (1 revision)
  DEPS
Labels: autosubmit

#41776 Allow default out_dir for fuchsia symbols upload.
  tools/fuchsia/merge_and_upload_debug_symbols.py
Labels: autosubmit

#41757 Replace legacy linux unopt with engine v2.
  .ci.yaml
Labels: autosubmit

#41779 Roll Skia from 1a1c7db436e4 to d6149a13d696 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41761 [Impeller] Do not free a Vulkan command buffer if its command pool has already been destroyed
  impeller/renderer/backend/vulkan/command_encoder_vk.cc
  impeller/renderer/backend/vulkan/command_pool_vk.cc
Labels: needs tests, autosubmit

#41783 Roll Skia from d6149a13d696 to aa52cd1afae2 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41786 Roll Dart SDK from bb9f17a8f0c3 to 8695bed2bc58 (1 revision)
  DEPS
Labels: autosubmit

#41787 Roll Skia from aa52cd1afae2 to bc0197405951 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41788 Roll Fuchsia Linux SDK from jbpFz7qSikrKiRanC... to leCRDVJ8szOS2LsPV...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#41754 [Impeller] remove SDF code paths.
  impeller/entity/contents/content_context.cc
  impeller/entity/contents/content_context.h
  impeller/entity/contents/text_contents.cc
  impeller/entity/contents/text_contents.h
  impeller/entity/entity_unittests.cc
  impeller/typographer/backends/skia/text_render_context_skia.cc
  impeller/typographer/glyph_atlas.h
Labels: waiting for tree to go green, autosubmit

#41789 Roll Skia from bc0197405951 to 2e622658996c (1 revision)
  DEPS
Labels: autosubmit

#41790 Roll Fuchsia Mac SDK from Z3O1yYOsNgkQ6b0o3... to S3gPFEsS1wP40ivwV...
  DEPS
Labels: will affect goldens, autosubmit

#41791 Roll Skia from 2e622658996c to e7de10e25736 (1 revision)
  DEPS
Labels: autosubmit

#41795 Roll Fuchsia Mac SDK from S3gPFEsS1wP40ivwV... to FFOWihz4lzOeDHmNj...
  DEPS
Labels: autosubmit

#41796 Roll Skia from e7de10e25736 to 8a93b289c2ed (1 revision)
  DEPS
Labels: autosubmit

#41685 Add a `Display` API to dart:ui that reports the physical size, DPR, and refresh rate of the main display
  lib/ui/BUILD.gn
  lib/ui/fixtures/ui_test.dart
  lib/ui/hooks.dart
  lib/ui/platform_dispatcher.dart
  lib/ui/window.dart
  lib/ui/window/platform_configuration.cc
  lib/ui/window/platform_configuration.h
  lib/ui/window/platform_configuration_unittests.cc
  lib/ui/window/viewport_metrics.cc
  lib/ui/window/viewport_metrics.h
  lib/ui/window/window.cc
  lib/web_ui/lib/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/lib/window.dart
  runtime/BUILD.gn
  runtime/platform_data.h
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  shell/common/BUILD.gn
  shell/common/display.h
  shell/common/display_manager.cc
  shell/common/display_manager.h
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/shell_test.cc
  shell/common/shell_unittests.cc
  shell/common/variable_refresh_rate_display.cc
  shell/common/variable_refresh_rate_display.h
  shell/common/variable_refresh_rate_display_unittests.cc
  shell/platform/android/android_context_gl_unittests.cc
  shell/platform/android/android_display.cc
  shell/platform/android/android_display.h
  shell/platform/android/android_shell_holder.cc
  shell/platform/android/android_shell_holder.h
  shell/platform/android/android_shell_holder_unittests.cc
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/embedding/engine/FlutterEngine.java
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/util/ViewUtils.java
  shell/platform/android/jni/jni_mock.h
  shell/platform/android/jni/platform_view_android_jni.h
  shell/platform/android/platform_view_android_jni_impl.cc
  shell/platform/android/platform_view_android_jni_impl.h
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
  shell/platform/android/test/io/flutter/embedding/engine/FlutterEngineTest.java
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngine_Test.h
  shell/platform/embedder/embedder.cc
  shell/platform/fuchsia/flutter/flatland_platform_view.cc
  shell/platform/fuchsia/flutter/gfx_platform_view.cc
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
  shell/platform/fuchsia/flutter/tests/flatland_platform_view_unittest.cc
  shell/testing/tester_main.cc
  testing/dart/window_test.dart
  testing/scenario_app/lib/main.dart
Labels: platform-ios, platform-android, platform-web, embedder, autosubmit

#41798 Roll Dart SDK from d04e8b571819 to ab64c4a56e2c (1 revision)
  DEPS
Labels: autosubmit

#41799 Roll Fuchsia Mac SDK from FFOWihz4lzOeDHmNj... to k4NzlntuagXZIlCJg...
  DEPS
Labels: will affect goldens, autosubmit

#41800 Roll Fuchsia Mac SDK from k4NzlntuagXZIlCJg... to VD0zJZ-ezOAfA9O1s...
  DEPS
Labels: autosubmit

#41802 Roll Skia from 8a93b289c2ed to 642ba306e140 (1 revision)
  DEPS
Labels: autosubmit

#41804 Roll Skia from 642ba306e140 to 148ebc0596b7 (1 revision)
  DEPS
Labels: autosubmit

#41805 Roll Fuchsia Mac SDK from VD0zJZ-ezOAfA9O1s... to KZrdNPIOcs5m2MqV_...
  DEPS
Labels: autosubmit

#41806 Roll Skia from 148ebc0596b7 to f9bef8f7bdb5 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41807 Roll Skia from f9bef8f7bdb5 to 802eb7f66fc5 (1 revision)
  DEPS
Labels: autosubmit

#41809 Roll Skia from 802eb7f66fc5 to 5f7e572995b1 (1 revision)
  DEPS
Labels: autosubmit

#41812 Fix doc to fix engine roll
  lib/ui/window.dart
Labels: autosubmit

#41814 Roll Skia from 5f7e572995b1 to 64ba57381c94 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41759 Linux fuchsia engine v2 config.
  .ci.yaml
  ci/builders/linux_fuchsia.json
Labels: autosubmit

#41797 Add linux license engine v2 build.
  .ci.yaml
  ci/builders/standalone/linux_license.json
Labels: autosubmit

#41816 Roll Skia from 64ba57381c94 to 30a368d502bf (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41817 Roll Dart SDK from 855e2764c295 to a8b6687327d6 (1 revision)
  DEPS
Labels: autosubmit

#41819 Roll Fuchsia Mac SDK from KZrdNPIOcs5m2MqV_... to oGF4h14qc40l5ANL3...
  DEPS
Labels: autosubmit

#41820 Roll Skia from 30a368d502bf to 951eb9653163 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41821 Roll Skia from 951eb9653163 to 7736fbaf84f0 (1 revision)
  DEPS
Labels: autosubmit

#41823 Roll Dart SDK from a8b6687327d6 to 498cfa57165b (1 revision)
  DEPS
Labels: autosubmit

#41792 Adjust DL filter bounds tests to not rely on exact Skia results
  display_list/effects/dl_image_filter_unittests.cc
Labels: autosubmit

#41825 [flutter_releases] Flutter stable 3.10.0 Engine Cherrypicks
  DEPS
Labels: autosubmit

#41822 Get rid of "outrageous" default text styles for HTML renderer.
  lib/web_ui/lib/src/engine/global_styles.dart
  lib/web_ui/lib/src/engine/text/canvas_paragraph.dart
  lib/web_ui/lib/src/engine/text/paint_service.dart
  lib/web_ui/test/engine/global_styles_test.dart
  lib/web_ui/test/html/text/canvas_paragraph_builder_test.dart
  lib/web_ui/test/html/text/layout_fragmenter_test.dart
Labels: platform-web, autosubmit

#41748 [Impeller] introduces DeviceHolder to avoid accessing a dead Device
  ci/licenses_golden/licenses_flutter
  impeller/renderer/backend/gles/context_gles.h
  impeller/renderer/backend/metal/context_mtl.h
  impeller/renderer/backend/metal/surface_mtl.mm
  impeller/renderer/backend/vulkan/blit_command_vk_unittests.cc
  impeller/renderer/backend/vulkan/command_encoder_vk.cc
  impeller/renderer/backend/vulkan/command_encoder_vk.h
  impeller/renderer/backend/vulkan/command_pool_vk.cc
  impeller/renderer/backend/vulkan/command_pool_vk.h
  impeller/renderer/backend/vulkan/context_vk.cc
  impeller/renderer/backend/vulkan/context_vk.h
  impeller/renderer/backend/vulkan/descriptor_pool_vk.cc
  impeller/renderer/backend/vulkan/descriptor_pool_vk.h
  impeller/renderer/backend/vulkan/device_holder.h
  impeller/renderer/backend/vulkan/pipeline_cache_vk.cc
  impeller/renderer/backend/vulkan/pipeline_cache_vk.h
  impeller/renderer/backend/vulkan/pipeline_library_vk.cc
  impeller/renderer/backend/vulkan/pipeline_library_vk.h
  impeller/renderer/backend/vulkan/swapchain_image_vk.cc
  impeller/renderer/backend/vulkan/swapchain_image_vk.h
  impeller/renderer/context.h
Labels: autosubmit

#41840 Roll Skia from 7736fbaf84f0 to 485cd3d0f9ca (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41826 [tests] Remove unused fuchsia.sys protocol reference
  shell/platform/fuchsia/flutter/tests/integration/utils/portable_ui_test.cc
Labels: platform-fuchsia

#41669 [fuchsia] Stop calling FIDL from Dart in Flutter integration tests
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/dart_runner/embedder/script_runner_snapshot.dart
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/flatland_platform_view.cc
  shell/platform/fuchsia/flutter/flatland_platform_view.h
  shell/platform/fuchsia/flutter/gfx_platform_view.cc
  shell/platform/fuchsia/flutter/gfx_platform_view.h
  shell/platform/fuchsia/flutter/platform_view.cc
  shell/platform/fuchsia/flutter/platform_view.h
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
  shell/platform/fuchsia/flutter/tests/flatland_platform_view_unittest.cc
  shell/platform/fuchsia/flutter/tests/integration/embedder/parent-view/lib/parent_view.dart
  shell/platform/fuchsia/flutter/tests/integration/mouse-input/mouse-input-view/BUILD.gn
  shell/platform/fuchsia/flutter/tests/integration/mouse-input/mouse-input-view/lib/mouse-input-view.dart
  shell/platform/fuchsia/flutter/tests/integration/text-input/text-input-view/BUILD.gn
  shell/platform/fuchsia/flutter/tests/integration/text-input/text-input-view/lib/text_input_view.dart
  shell/platform/fuchsia/flutter/tests/integration/touch-input/embedding-flutter-view/BUILD.gn
  shell/platform/fuchsia/flutter/tests/integration/touch-input/embedding-flutter-view/lib/embedding-flutter-view.dart
  shell/platform/fuchsia/flutter/tests/integration/touch-input/touch-input-view/BUILD.gn
  shell/platform/fuchsia/flutter/tests/integration/touch-input/touch-input-view/lib/touch-input-view.dart
Labels: platform-fuchsia

#41839 Increase timeout of orchestrator.
  .ci.yaml
Labels: autosubmit

#41847 Roll Dart SDK from 498cfa57165b to 4b4c0325fd5b (2 revisions)
  DEPS
Labels: autosubmit

#41848 Roll Fuchsia Mac SDK from oGF4h14qc40l5ANL3... to c4JvQUEOBHgtRdNPc...
  DEPS
Labels: autosubmit

#41849 Roll Skia from 485cd3d0f9ca to 9ba374e0b0f0 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41854 Roll Skia from 9ba374e0b0f0 to 8c936fb9ba8e (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41834 [Impeller] track path convexity and use it to simplify fill tessellation.
  impeller/aiks/canvas.cc
  impeller/display_list/dl_dispatcher.cc
  impeller/display_list/skia_conversions.cc
  impeller/entity/entity_unittests.cc
  impeller/entity/geometry.cc
  impeller/entity/geometry.h
  impeller/geometry/path.cc
  impeller/geometry/path.h
  impeller/geometry/path_builder.cc
  impeller/geometry/path_builder.h
Labels: will affect goldens, autosubmit

#41843 Remove staging flag
  tools/gn
Labels: autosubmit

#41861 Replace Windows Unopt with the engine v2 version.
  .ci.yaml
Labels: autosubmit

#41863 Move linux_license to engine v2.
  .ci.yaml
Labels: autosubmit

#41874 Roll Fuchsia Mac SDK from c4JvQUEOBHgtRdNPc... to JiOACcaGrDphuHIql...
  DEPS
Labels: autosubmit

#41857 [Impeller] started cleaning up pools when devices are deleted
  ci/licenses_golden/excluded_files
  impeller/renderer/backend/vulkan/BUILD.gn
  impeller/renderer/backend/vulkan/command_encoder_vk.cc
  impeller/renderer/backend/vulkan/command_pool_vk.cc
  impeller/renderer/backend/vulkan/context_vk_unittests.cc
Labels: autosubmit

#41876 Roll Fuchsia Linux SDK from leCRDVJ8szOS2LsPV... to lf8VcONMWlne4oa3H...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#41832 Implement text rendering in Skwasm
  ci/licenses_golden/licenses_flutter
  lib/web_ui/dev/roll_fallback_fonts.dart
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/canvaskit/font_fallbacks.dart
  lib/web_ui/lib/src/engine/canvaskit/fonts.dart
  lib/web_ui/lib/src/engine/canvaskit/renderer.dart
  lib/web_ui/lib/src/engine/canvaskit/text.dart
  lib/web_ui/lib/src/engine/font_fallback_data.dart
  lib/web_ui/lib/src/engine/font_fallbacks.dart
  lib/web_ui/lib/src/engine/fonts.dart
  lib/web_ui/lib/src/engine/html/renderer.dart
  lib/web_ui/lib/src/engine/interval_tree.dart
  lib/web_ui/lib/src/engine/noto_font.dart
  lib/web_ui/lib/src/engine/renderer.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/canvas.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/font_collection.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/paragraph.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/raw/raw_canvas.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/raw/raw_fonts.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/raw/raw_skstring.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/raw/text/raw_line_metrics.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/raw/text/raw_paragraph.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/raw/text/raw_paragraph_builder.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/raw/text/raw_paragraph_style.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/raw/text/raw_strut_style.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/raw/text/raw_text_style.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/renderer.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_stub/renderer.dart
  lib/web_ui/lib/src/engine/text/font_collection.dart
  lib/web_ui/lib/text.dart
  lib/web_ui/skwasm/BUILD.gn
  lib/web_ui/skwasm/canvas.cpp
  lib/web_ui/skwasm/fonts.cpp
  lib/web_ui/skwasm/string.cpp
  lib/web_ui/skwasm/text/line_metrics.cpp
  lib/web_ui/skwasm/text/paragraph.cpp
  lib/web_ui/skwasm/text/paragraph_builder.cpp
  lib/web_ui/skwasm/text/paragraph_style.cpp
  lib/web_ui/skwasm/text/strut_style.cpp
  lib/web_ui/skwasm/text/text_style.cpp
  lib/web_ui/skwasm/wrappers.h
  lib/web_ui/test/canvaskit/canvas_golden_test.dart
  lib/web_ui/test/canvaskit/common.dart
  lib/web_ui/test/canvaskit/font_variation_golden_test.dart
  lib/web_ui/test/canvaskit/interval_tree_test.dart
  lib/web_ui/test/common/test_initialization.dart
  lib/web_ui/test/ui/fallback_fonts_golden_test.dart
  lib/web_ui/test/ui/paragraph_builder_test.dart
  lib/web_ui/test/ui/text_golden_test.dart
  third_party/canvaskit/BUILD.gn
Labels: platform-web, will affect goldens, autosubmit

#41865 Move linux fuchsia engine v2 build to prod.
  .ci.yaml
Labels: autosubmit

#41880 [Impeller] Increase minimum size of alpha glyph atlas.
  impeller/typographer/backends/skia/text_render_context_skia.cc
  impeller/typographer/typographer_unittests.cc
Labels: impeller, autosubmit

#41681 [web] dialog a11y fixes
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/semantics/dialog.dart
  lib/web_ui/lib/src/engine/semantics/semantics.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
Labels: accessibility, platform-web, will affect goldens, autosubmit

#41891 Roll Skia from 8c936fb9ba8e to 32f4cfc2460b (27 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41733 Only register top level window message listener upon registering service binding
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/linux/fl_platform_plugin.cc
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_engine.h
  shell/platform/windows/flutter_windows_engine_unittests.cc
  shell/platform/windows/platform_handler.cc
  shell/platform/windows/windows_lifecycle_manager.cc
  shell/platform/windows/windows_lifecycle_manager.h
Labels: affects: desktop, platform-macos, platform-linux, platform-windows

#41898 Roll Fuchsia Mac SDK from JiOACcaGrDphuHIql... to a3rrULFaXlwS8mfjW...
  DEPS
Labels: autosubmit

#41889 switch from MockCanvas to DisplayListBuilder in layer unit tests
  display_list/display_list_unittests.cc
  display_list/dl_builder.cc
  display_list/dl_builder.h
  flow/layers/backdrop_filter_layer_unittests.cc
  flow/layers/clip_path_layer_unittests.cc
  flow/layers/clip_rect_layer_unittests.cc
  flow/layers/clip_rrect_layer_unittests.cc
  flow/layers/color_filter_layer_unittests.cc
  flow/layers/container_layer_unittests.cc
  flow/layers/display_list_layer_unittests.cc
  flow/layers/image_filter_layer_unittests.cc
  flow/layers/layer_state_stack_unittests.cc
  flow/layers/opacity_layer_unittests.cc
  flow/layers/shader_mask_layer_unittests.cc
  flow/layers/transform_layer_unittests.cc
  flow/testing/layer_test.h
  testing/mock_canvas.h
Labels: autosubmit

#41901 [web] Re-enable history tests on Safari
  lib/web_ui/test/engine/history_test.dart
Labels: platform-web, autosubmit

#41873 [backdrop_filter]Avoid relying on internal class details
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.mm
Labels: platform-ios, autosubmit

#41903 Revert "Move linux_license to engine v2."
  .ci.yaml
Labels: revert

#41905 Roll Skia from 32f4cfc2460b to 1a29bd9a0147 (12 revisions)
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#41831 [web] generalize focusability in semantics
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/semantics.dart
  lib/web_ui/lib/src/engine/semantics/focusable.dart
  lib/web_ui/lib/src/engine/semantics/incrementable.dart
  lib/web_ui/lib/src/engine/semantics/semantics.dart
  lib/web_ui/lib/src/engine/semantics/tappable.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
  lib/web_ui/test/engine/semantics/text_field_test.dart
Labels: accessibility, platform-web, autosubmit

#41904 [macos] Disable background colour tests
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
Labels: platform-macos

#41163 [web] Expose PlatformLocation and HashUrlStrategy through ui_web
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine/navigation/url_strategy.dart
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/lib/ui_web/src/ui_web.dart
  lib/web_ui/lib/ui_web/src/ui_web/navigation/platform_location.dart
  lib/web_ui/lib/ui_web/src/ui_web/navigation/url_strategy.dart
  lib/web_ui/lib/ui_web/src/ui_web/url_strategy.dart
  lib/web_ui/test/engine/history_test.dart
Labels: platform-web, autosubmit

#41885 Turn @staticInterop tear-off into closure
  lib/web_ui/lib/src/engine/text/font_collection.dart
Labels: platform-web, needs tests, autosubmit
