Repository flutter/engine, pull requests merged in 2023-01, with the labels that each got.

#38585 Roll Fuchsia Linux SDK from PkN8FdI4aC9z7W4mI... to OOL-jWRElkQ2P3vJz...
  DEPS
Labels: autosubmit

#38586 Roll Skia from 486deb23bc2a to a31d9c3b4583 (2 revisions)
  DEPS
Labels: autosubmit

#38587 Roll Skia from a31d9c3b4583 to 01aeec883a43 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38588 Roll Fuchsia Linux SDK from OOL-jWRElkQ2P3vJz... to AE3lAqTc632VsY14L...
  DEPS
Labels: autosubmit

#38591 Roll Skia from 01aeec883a43 to 2ffa04c2f77c (2 revisions)
  DEPS
Labels: autosubmit

#38592 Roll Skia from 2ffa04c2f77c to 269dce7e16bb (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38593 Roll Fuchsia Linux SDK from AE3lAqTc632VsY14L... to UAq0LO56_kbgA_BUQ...
  DEPS
Labels: autosubmit

#38594 Roll Skia from 269dce7e16bb to fde37f5986fd (1 revision)
  DEPS
Labels: autosubmit

#38596 Roll Skia from fde37f5986fd to 809e328ed55c (1 revision)
  DEPS
Labels: autosubmit

#38598 Roll Fuchsia Linux SDK from UAq0LO56_kbgA_BUQ... to LA5kW39Gec7KvvM7x...
  DEPS
Labels: autosubmit

#38583 [Impeller Scene] Import animation data
  impeller/fixtures/two_triangles.glb
  impeller/scene/importer/conversions.cc
  impeller/scene/importer/conversions.h
  impeller/scene/importer/importer_gltf.cc
  impeller/scene/importer/importer_unittests.cc
  impeller/scene/importer/scene.fbs
  impeller/scene/node.cc
  impeller/scene/node.h
Labels: impeller, autosubmit

#38599 Roll Skia from 809e328ed55c to 697f9b541a0e (1 revision)
  DEPS
Labels: autosubmit

#38601 Roll Skia from 697f9b541a0e to 15d36b15bca1 (1 revision)
  DEPS
Labels: autosubmit

#38595 [Impeller Scene] Animation binding and playback
  ci/licenses_golden/licenses_flutter
  impeller/scene/BUILD.gn
  impeller/scene/animation/animation.cc
  impeller/scene/animation/animation.h
  impeller/scene/animation/animation_clip.cc
  impeller/scene/animation/animation_clip.h
  impeller/scene/animation/animation_player.cc
  impeller/scene/animation/animation_player.h
  impeller/scene/animation/property_resolver.cc
  impeller/scene/animation/property_resolver.h
  impeller/scene/node.cc
  impeller/scene/node.h
  impeller/scene/scene_unittests.cc
Labels: impeller

#38607 Roll Fuchsia Linux SDK from LA5kW39Gec7KvvM7x... to rPo4_TYHCtkoOfRup...
  DEPS
Labels: autosubmit

#38538 Implement ITextProvider and ITextRangeProvider for UIA
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_flutter
  third_party/accessibility/BUILD.gn
  third_party/accessibility/ax/BUILD.gn
  third_party/accessibility/ax/ax_node.cc
  third_party/accessibility/ax/ax_node.h
  third_party/accessibility/ax/ax_node_position.cc
  third_party/accessibility/ax/ax_position.h
  third_party/accessibility/ax/ax_range.h
  third_party/accessibility/ax/ax_range_unittest.cc
  third_party/accessibility/ax/ax_tree_manager.h
  third_party/accessibility/ax/platform/ax_platform_node_delegate.h
  third_party/accessibility/ax/platform/ax_platform_node_delegate_base.cc
  third_party/accessibility/ax/platform/ax_platform_node_delegate_base.h
  third_party/accessibility/ax/platform/ax_platform_node_textprovider_win.cc
  third_party/accessibility/ax/platform/ax_platform_node_textprovider_win.h
  third_party/accessibility/ax/platform/ax_platform_node_textprovider_win_unittest.cc
  third_party/accessibility/ax/platform/ax_platform_node_textrangeprovider_win.cc
  third_party/accessibility/ax/platform/ax_platform_node_textrangeprovider_win.h
  third_party/accessibility/ax/platform/ax_platform_node_textrangeprovider_win_unittest.cc
  third_party/accessibility/ax/platform/ax_platform_tree_manager.h
Labels: accessibility, affects: desktop, platform-windows

#38570 [Windows] Make the engine own the cursor plugin
  shell/platform/windows/cursor_handler.cc
  shell/platform/windows/cursor_handler.h
  shell/platform/windows/cursor_handler_unittests.cc
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_engine.h
  shell/platform/windows/flutter_windows_view.cc
  shell/platform/windows/flutter_windows_view.h
Labels: platform-windows, autosubmit

#38610 Make `AccessibilityBridge` a `AXPlatformTreeManager`
  shell/platform/common/accessibility_bridge.cc
  shell/platform/common/accessibility_bridge.h
  shell/platform/common/accessibility_bridge_unittests.cc
  shell/platform/common/flutter_platform_node_delegate.cc
  shell/platform/common/flutter_platform_node_delegate.h
  shell/platform/windows/flutter_platform_node_delegate_windows.cc
  shell/platform/windows/flutter_platform_node_delegate_windows.h
Labels: accessibility, affects: desktop, platform-windows

#38606 [Impeller Scene] Use std::chrono for animation durations
  ci/licenses_golden/licenses_flutter
  impeller/base/BUILD.gn
  impeller/base/timing.h
  impeller/scene/animation/animation.cc
  impeller/scene/animation/animation.h
  impeller/scene/animation/animation_clip.cc
  impeller/scene/animation/animation_clip.h
  impeller/scene/animation/animation_player.cc
  impeller/scene/animation/animation_player.h
  impeller/scene/animation/property_resolver.cc
  impeller/scene/animation/property_resolver.h
Labels: needs tests, impeller

#38631 Roll Skia from 15d36b15bca1 to 9423a8a0fc2d (37 revisions)
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38615 Update FlutterPlatformNodeDelegate
  shell/platform/common/flutter_platform_node_delegate.cc
  shell/platform/common/flutter_platform_node_delegate.h
  shell/platform/common/flutter_platform_node_delegate_unittests.cc
Labels: accessibility, affects: desktop, platform-windows

#38633 Roll Skia from 9423a8a0fc2d to 60e4a4a27375 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38635 [flutter roll] quick fix to import map
  impeller/scene/animation/animation_player.h
Labels: autosubmit

#38614 [Windows] Fix missing includes when building using Visual Studio 17.4
  testing/test_dart_native_resolver.h
  third_party/accessibility/ax/ax_table_info.h
Labels: autosubmit

#38649 make DisplayListFlags constexpr throughout
  display_list/display_list_flags.cc
  display_list/display_list_flags.h
Labels: needs tests, autosubmit

#38628 [Impeller Scene] Compute joint transforms and apply them to skinned meshes
  ci/licenses_golden/licenses_flutter
  impeller/fixtures/two_triangles.glb
  impeller/renderer/backend/gles/texture_gles.cc
  impeller/renderer/backend/metal/formats_mtl.h
  impeller/renderer/backend/vulkan/formats_vk.h
  impeller/renderer/formats.h
  impeller/scene/BUILD.gn
  impeller/scene/animation/animation_player.cc
  impeller/scene/animation/property_resolver.cc
  impeller/scene/geometry.cc
  impeller/scene/geometry.h
  impeller/scene/importer/importer_gltf.cc
  impeller/scene/importer/importer_unittests.cc
  impeller/scene/importer/scene.fbs
  impeller/scene/importer/vertices_builder.cc
  impeller/scene/mesh.cc
  impeller/scene/mesh.h
  impeller/scene/node.cc
  impeller/scene/node.h
  impeller/scene/scene.cc
  impeller/scene/scene_context.cc
  impeller/scene/scene_unittests.cc
  impeller/scene/shaders/skinned.vert
  impeller/scene/skin.cc
  impeller/scene/skin.h
Labels: impeller

#38497 [Impeller] Set adaptive tolerance when rendering FillPathGeometry
  impeller/entity/entity_unittests.cc
  impeller/entity/geometry.cc
Labels: impeller, autosubmit

#38654 Roll Skia from 60e4a4a27375 to 158d51b34caa (19 revisions)
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38653 [Impeller Scene] Fix material/vertex color overlapping
  impeller/scene/material.cc
Labels: needs tests, impeller

#38646 Add `TextProvider` and `TextEdit` patterns to `AXPlatformNodeWin`
  third_party/accessibility/ax/platform/ax_platform_node_win.cc
  third_party/accessibility/ax/platform/ax_platform_node_win_unittest.cc
Labels: accessibility, affects: desktop, platform-windows

#38393 Reduce the size of Overlay FlutterImageView in HC mode
  shell/platform/android/external_view_embedder/external_view_embedder.cc
  shell/platform/android/external_view_embedder/external_view_embedder_unittests.cc
Labels: platform-ios, platform-android, needs tests, will affect goldens, autosubmit

#38645 Consider more `ax::mojom::Role`s as text
  third_party/accessibility/ax/ax_node_position_unittest.cc
  third_party/accessibility/ax/ax_range_unittest.cc
  third_party/accessibility/ax/ax_role_properties.cc
Labels: accessibility, affects: desktop, platform-windows

#38453 Remove single view assumptions from `window.dart`
  lib/ui/platform_dispatcher.dart
  lib/ui/window.dart
  lib/web_ui/lib/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/lib/window.dart
  lib/web_ui/test/engine/platform_dispatcher_test.dart
  testing/dart/BUILD.gn
  testing/dart/platform_dispatcher_test.dart
  testing/scenario_app/lib/src/scenario.dart
Labels: platform-web, needs tests, will affect goldens, autosubmit

#38660 SkBudgeted -> skgpu::Budgeted
  display_list/display_list_benchmarks_gl.cc
  flow/layers/offscreen_surface.cc
  flow/raster_cache.cc
  lib/ui/painting/image_encoding_impl.h
  shell/common/rasterizer_unittests.cc
  shell/common/shell_test_platform_view_vulkan.cc
  shell/common/snapshot_controller_skia.cc
  shell/platform/darwin/macos/framework/Source/FlutterEmbedderExternalTextureTest.mm
  shell/platform/embedder/tests/embedder_test_backingstore_producer.cc
  shell/platform/embedder/tests/embedder_test_compositor_gl.cc
  shell/platform/embedder/tests/embedder_test_compositor_metal.cc
  shell/platform/embedder/tests/embedder_test_compositor_vulkan.cc
  shell/platform/embedder/tests/embedder_unittests_util.cc
Labels: platform-macos, embedder, autosubmit

#38683 [fuchsia] Enable CI for branches like `fuchsia_r51a`.
  .ci.yaml
Labels: autosubmit

#38668 Roll Skia from ecd3a2f865ba to 54dbda290908 (12 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#38640 [web] Fix canvas2d leaks in text measurement
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/lib/src/engine/text/layout_service.dart
  lib/web_ui/test/text/layout_service_plain_test.dart
Labels: platform-web, needs tests, autosubmit

#38634 Limit selection change to focused node on Windows
  shell/platform/common/accessibility_bridge.cc
  shell/platform/common/accessibility_bridge_unittests.cc
  shell/platform/windows/accessibility_bridge_windows.cc
  shell/platform/windows/accessibility_bridge_windows_unittests.cc
Labels: accessibility, affects: desktop, platform-windows

#38690 Roll Skia from 54dbda290908 to b8c0a78a2378 (43 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38697 Roll Fuchsia Mac SDK from Bewt-eq7gNu6sU_Ob... to ORxExaprF9fW5d4MP...
  DEPS
Labels: autosubmit

#38647 [fuchsia][scenic] Use infinite hit region
  shell/platform/fuchsia/flutter/flatland_external_view_embedder.cc
  shell/platform/fuchsia/flutter/tests/fakes/scenic/fake_flatland.cc
  shell/platform/fuchsia/flutter/tests/fakes/scenic/fake_flatland.h
  shell/platform/fuchsia/flutter/tests/fakes/scenic/fake_flatland_types.h
  shell/platform/fuchsia/flutter/tests/flatland_external_view_embedder_unittests.cc
Labels: platform-fuchsia, needs tests, autosubmit

#38681 Remove strict equality check for SkMatrix comparison (#38665)
  .ci.yaml
  shell/platform/fuchsia/flutter/gfx_external_view_embedder.cc
Labels: platform-fuchsia, needs tests

#37666 iOS FlutterTextureRegistry should be a proxy, not the engine itself
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Headers/FlutterEngine.h
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextureRegistryRelay.h
  shell/platform/darwin/ios/framework/Source/FlutterTextureRegistryRelay.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextureRegistryRelayTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
Labels: platform-ios, embedder, autosubmit

#38685 Roll flutter/packages to 25454e
  DEPS
Labels: autosubmit

#38394 Add CI builder for windows-arm64.
  .ci.yaml
  build/archives/BUILD.gn
  ci/builders/windows_arm_host_engine.json
  shell/platform/embedder/BUILD.gn
  shell/platform/windows/client_wrapper/BUILD.gn
  web_sdk/BUILD.gn
Labels: autosubmit

#38729 Revert "Add CI builder for windows-arm64."
  .ci.yaml
  build/archives/BUILD.gn
  ci/builders/windows_arm_host_engine.json
  shell/platform/embedder/BUILD.gn
  shell/platform/windows/client_wrapper/BUILD.gn
  web_sdk/BUILD.gn
Labels: platform-web, platform-windows, embedder, revert

#38338 Undo axes flip on Mac when shift+scroll-wheel
  shell/platform/darwin/macos/framework/Source/FlutterViewController.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewControllerTest.mm
Labels: platform-macos, autosubmit

#38722 Inline usage of SkIsPow2
  display_list/display_list_builder.cc
Labels: needs tests

#38676 [Impeller Scene] Add DisplayList OP and Dart bindings
  ci/licenses_golden/licenses_flutter
  display_list/BUILD.gn
  display_list/display_list.cc
  display_list/display_list.h
  display_list/display_list_builder.cc
  display_list/display_list_color_source.h
  display_list/display_list_ops.h
  impeller/display_list/BUILD.gn
  impeller/display_list/display_list_dispatcher.cc
  impeller/display_list/display_list_unittests.cc
  impeller/entity/contents/scene_contents.cc
  impeller/scene/node.cc
  impeller/tools/impeller.gni
  lib/ui/BUILD.gn
  lib/ui/compositing/scene_builder.cc
  lib/ui/compositing/scene_builder.h
  lib/ui/dart_ui.cc
  lib/ui/experiments/compositing_3d.dart
  lib/ui/experiments/scene.dart
  lib/ui/experiments/setup_hooks.dart
  lib/ui/experiments/ui.dart
  lib/ui/natives.dart
  lib/ui/painting/fragment_program.h
  lib/ui/painting/scene/scene_node.cc
  lib/ui/painting/scene/scene_node.h
  lib/ui/painting/scene/scene_shader.cc
  lib/ui/painting/scene/scene_shader.h
  lib/ui/setup_hooks.dart
  lib/ui/ui.dart
Labels: needs tests, impeller

#38734 Roll Fuchsia Mac SDK from ORxExaprF9fW5d4MP... to zC90VpkAGMG1jJ-BK...
  DEPS
Labels: autosubmit

#38740 Roll Dart SDK from 8d7a6aabd3a3 to b90a008ddb29 (1 revision)
  DEPS
Labels: autosubmit

#38721 Mark nodes as `kIsLineBreakingObject` by default, TODO further distinctions
  shell/platform/common/accessibility_bridge.cc
  shell/platform/common/accessibility_bridge_unittests.cc
Labels: accessibility, affects: desktop, platform-windows, needs tests

#38744 Roll Dart SDK from b90a008ddb29 to 5e344de60564 (1 revision)
  DEPS
Labels: autosubmit

#38746 Roll Fuchsia Mac SDK from zC90VpkAGMG1jJ-BK... to 6xysoRPCXJ3cJX12x...
  DEPS
Labels: autosubmit

#38663 Make operator == parameter non-nullable
  lib/web_ui/lib/src/engine/canvaskit/noto_font.dart
Labels: platform-web, needs tests

#38168 Move canvaskit artifacts to expected location in Web SDK Archive
  web_sdk/BUILD.gn
Labels: platform-web

#38576 [web] retain GL/Gr context on window resize
  lib/web_ui/lib/src/engine/canvaskit/surface.dart
  lib/web_ui/test/canvaskit/surface_test.dart
Labels: platform-web, autosubmit

#38750 Add SpringAnimation.js from React Native
  ci/licenses.sh
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_flutter
  ci/licenses_golden/tool_signature
  sky/packages/sky_engine/LICENSE
  third_party/spring_animation/LICENSE
  third_party/spring_animation/Libraries/Animated/animations/SpringAnimation.js
  third_party/spring_animation/README.md
  tools/licenses/lib/patterns.dart
Labels: autosubmit

#38761 removed forbidden skia include
  shell/platform/embedder/tests/embedder_gl_unittests.cc
Labels: embedder

#38767 Roll Fuchsia Mac SDK from 6xysoRPCXJ3cJX12x... to a9NpYJbjhDRX9P9u4...
  DEPS
Labels: autosubmit

#38775 Cleanup Skia includes in image_generator/descriptor
  lib/ui/painting/image_descriptor.h
  lib/ui/painting/image_generator.cc
  lib/ui/painting/image_generator.h
Labels: needs tests

#38783 delete include of private GrMtlTypes header
  shell/gpu/gpu_surface_metal_delegate.h
  shell/gpu/gpu_surface_metal_skia.h
  shell/platform/darwin/graphics/FlutterDarwinExternalTextureMetal.mm
  testing/test_metal_context.h
Labels: needs tests, autosubmit

#38788 [fuchsia] Replace deprecated AddLocalChild
  shell/platform/fuchsia/flutter/tests/integration/mouse-input/mouse-input-test.cc
  shell/platform/fuchsia/flutter/tests/integration/text-input/text-input-test.cc
  shell/platform/fuchsia/flutter/tests/integration/touch-input/touch-input-test.cc
Labels: platform-fuchsia

#38790 Roll Skia from e1f3980272f3 to dfb838747295 (48 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#38786 [web] Update felt to use generated JS runtime for Dart2Wasm.
  lib/web_ui/dev/steps/compile_tests_step.dart
  lib/web_ui/dev/test_dart2wasm.js
Labels: platform-web, needs tests

#38753 fix canvas drawLine bugs
  lib/web_ui/lib/src/engine/html/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/html/clip.dart
  lib/web_ui/lib/src/engine/html/dom_canvas.dart
  lib/web_ui/test/html/drawing/canvas_lines_golden_test.dart
Labels: platform-web, will affect goldens

#38766 [Impeller Scene] Change how property resolution works to fix Animation blending; add mutation log to nodes; enable backface culling; add vertex color contribution back to meshes
  ci/licenses_golden/licenses_flutter
  impeller/geometry/quaternion.h
  impeller/scene/BUILD.gn
  impeller/scene/animation/animation_clip.cc
  impeller/scene/animation/animation_clip.h
  impeller/scene/animation/animation_player.cc
  impeller/scene/animation/animation_player.h
  impeller/scene/animation/animation_transforms.h
  impeller/scene/animation/property_resolver.cc
  impeller/scene/animation/property_resolver.h
  impeller/scene/geometry.cc
  impeller/scene/material.cc
  impeller/scene/node.cc
  impeller/scene/node.h
  impeller/scene/scene.cc
  impeller/scene/scene.h
  impeller/scene/scene_context.cc
  impeller/scene/scene_unittests.cc
  impeller/scene/skin.cc
  lib/ui/experiments/scene.dart
  lib/ui/painting/scene/scene_node.cc
  lib/ui/painting/scene/scene_node.h
Labels: impeller, autosubmit

#38806 Roll Fuchsia Mac SDK from ao8fSjW8HrZSsu3yq... to gZ6xbsp2MRsoXfKgY...
  DEPS
Labels: autosubmit

#38808 Roll Dart SDK from 7879aa93da71 to d7235947ff9b (1 revision)
  DEPS
Labels: autosubmit

#38815 Revert "fix canvas drawLine bugs"
  lib/web_ui/lib/src/engine/html/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/html/clip.dart
  lib/web_ui/lib/src/engine/html/dom_canvas.dart
  lib/web_ui/test/html/drawing/canvas_lines_golden_test.dart
Labels: platform-web, autosubmit

#38426 fixed glfw example for arm64
  examples/glfw/CMakeLists.txt
  examples/glfw/run.sh
Labels: autosubmit

#38777 [macOS] Do not block raster thread when shutting down
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterThreadSynchronizer.mm
Labels: platform-macos

#38819 Roll Fuchsia Mac SDK from gZ6xbsp2MRsoXfKgY... to nIPtQ59jG1pxyatOq...
  DEPS
Labels: autosubmit

#38674 Correct FrameTimingRecorder's raster start time.
  shell/common/rasterizer.cc
  shell/common/rasterizer_unittests.cc
Labels: autosubmit

#38826 [windows] Use FML_DCHECK in place of C assert
  shell/platform/windows/accessibility_bridge_windows.cc
  shell/platform/windows/flutter_platform_node_delegate_windows.cc
  shell/platform/windows/flutter_windows.cc
  shell/platform/windows/keyboard_key_embedder_handler.cc
  shell/platform/windows/keyboard_key_handler.cc
  shell/platform/windows/keyboard_manager.cc
  shell/platform/windows/keyboard_unittests.cc
  shell/platform/windows/keyboard_utils.cc
  shell/platform/windows/keyboard_utils.h
  shell/platform/windows/platform_handler.cc
  shell/platform/windows/testing/test_binary_messenger.h
  shell/platform/windows/testing/test_keyboard.cc
  shell/platform/windows/text_input_manager.cc
Labels: platform-windows

#38824 [windows] Eliminate unnecessary iostream imports
  shell/platform/windows/flutter_window.h
  shell/platform/windows/flutter_windows.cc
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_texture_registrar_unittests.cc
  shell/platform/windows/flutter_windows_view_unittests.cc
  shell/platform/windows/keyboard_key_embedder_handler.cc
Labels: platform-windows

#38830 Roll Skia from dfb838747295 to cc983d28f3bf (27 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38833 Roll Skia from cc983d28f3bf to fd54be29a3cc (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38839 Roll Fuchsia Mac SDK from nIPtQ59jG1pxyatOq... to 21nYb648VWbpxc36t...
  DEPS
Labels: autosubmit

#38840 Roll Skia from fd54be29a3cc to c72c7bf7e45b (3 revisions)
  DEPS
Labels: autosubmit

#38841 Roll Dart SDK from 3d629d00a8d7 to 645fd748e79e (1 revision)
  DEPS
Labels: autosubmit

#38832 [web] remove runtime effect check
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/renderer.dart
  lib/web_ui/test/canvaskit/canvaskit_api_test.dart
  lib/web_ui/test/canvaskit/fragment_program_test.dart
Labels: platform-web, autosubmit

#38829 [web] cache sample and stencil params
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/surface.dart
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/test/canvaskit/canvaskit_api_test.dart
Labels: platform-web, autosubmit

#38880 Roll Fuchsia Mac SDK from 21nYb648VWbpxc36t... to w0hr1ZMvYGJnWInwK...
  DEPS
Labels: autosubmit

#38850 Add include to make g3 happy
  impeller/scene/animation/animation_clip.h
Labels: impeller

#38858 Roll Skia from c72c7bf7e45b to c64a10d525d1 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38886 Roll Skia from c64a10d525d1 to aa99fa0bdd31 (10 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38889 Roll Fuchsia Mac SDK from w0hr1ZMvYGJnWInwK... to nPbEqgIfE8TLOokQH...
  DEPS
Labels: autosubmit

#38892 Roll Skia from aa99fa0bdd31 to 5a51583d09dd (2 revisions)
  DEPS
Labels: autosubmit

#38897 Roll Fuchsia Mac SDK from nPbEqgIfE8TLOokQH... to SmEVvAFBC8oriPBou...
  DEPS
Labels: autosubmit

#38901 Roll Skia from 5a51583d09dd to 34a14247bd4b (1 revision)
  DEPS
Labels: autosubmit

#38903 Roll Skia from 34a14247bd4b to c727016cc09e (1 revision)
  DEPS
Labels: autosubmit

#38907 Roll Skia from c727016cc09e to 214411b09e92 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38908 Roll Skia from 214411b09e92 to 3704033dd106 (1 revision)
  DEPS
Labels: autosubmit

#38894 [Impeller] Map UVs correctly for TiledTextureContents
  impeller/aiks/aiks_unittests.cc
  impeller/display_list/display_list_dispatcher.cc
  impeller/entity/contents/color_source_contents.cc
  impeller/entity/contents/color_source_contents.h
  impeller/entity/contents/scene_contents.cc
  impeller/entity/contents/tiled_texture_contents.cc
  impeller/entity/contents/tiled_texture_contents.h
  impeller/entity/shaders/tiled_texture_fill.vert
Labels: impeller

#38912 Roll Fuchsia Mac SDK from SmEVvAFBC8oriPBou... to bZfX8KCoI3CfxEzsG...
  DEPS
Labels: autosubmit

#38938 Roll Fuchsia Mac SDK from bZfX8KCoI3CfxEzsG... to iwCuzAuMgsk75hlT0...
  DEPS
Labels: autosubmit

#38943 Roll Skia from 58e745419425 to 6afb97022fa7 (1 revision)
  DEPS
Labels: autosubmit

#38787 [web] Reduce code size impact of fallback font data
  lib/web_ui/dev/generate_fallback_font_data.dart
  lib/web_ui/lib/src/engine/canvaskit/font_fallback_data.dart
  lib/web_ui/lib/src/engine/canvaskit/noto_font.dart
  lib/web_ui/lib/src/engine/text/unicode_range.dart
Labels: platform-web, autosubmit

#38952 Roll Skia from 6afb97022fa7 to 8ea9b39f7213 (18 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38953 Roll Skia from 8ea9b39f7213 to 69d8378097df (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38958 Wrap focus() in a post update callback in tappable
  lib/web_ui/lib/src/engine/semantics/tappable.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
Labels: platform-web

#38960 Roll Fuchsia Mac SDK from iwCuzAuMgsk75hlT0... to -1N2YUML8GqNhK8YP...
  DEPS
Labels: autosubmit

#38949 reland fix canvas drawLine bugs
  lib/web_ui/lib/src/engine/html/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/html/clip.dart
  lib/web_ui/lib/src/engine/html/dom_canvas.dart
  lib/web_ui/test/html/drawing/canvas_lines_golden_test.dart
Labels: platform-web

#38964 [Impeller] Fix contiguous clip restoration
  impeller/aiks/aiks_unittests.cc
  impeller/entity/entity_pass.cc
Labels: impeller, autosubmit

#38822 Fix iOS safari keyboard issue when semantics is enabled
  lib/web_ui/lib/src/engine/semantics/text_field.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/engine/semantics/text_field_test.dart
Labels: platform-web

#38913 [Impeller Scene] Add ability to synchronously fetch loaded ipscene nodes
  lib/ui/experiments/scene.dart
Labels: needs tests, impeller

#38976 Roll Fuchsia Mac SDK from -1N2YUML8GqNhK8YP... to P5QcCJU8I71xVXuMT...
  DEPS
Labels: autosubmit

#38977 Remove use of SkTAddOffset and sk_careful_memcpy
  display_list/display_list_builder.cc
Labels: needs tests

#38784 Get unit tests working with dart2wasm
  ci/licenses_golden/licenses_flutter
  lib/web_ui/dev/browser_lock.yaml
  lib/web_ui/dev/chrome.dart
  lib/web_ui/dev/felt
  lib/web_ui/dev/steps/compile_tests_step.dart
  lib/web_ui/dev/steps/run_tests_step.dart
  lib/web_ui/lib/src/engine/browser_detection.dart
  lib/web_ui/lib/src/engine/canvaskit/canvas.dart
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/image.dart
  lib/web_ui/lib/src/engine/canvaskit/image_web_codecs.dart
  lib/web_ui/lib/src/engine/canvaskit/interval_tree.dart
  lib/web_ui/lib/src/engine/canvaskit/painting.dart
  lib/web_ui/lib/src/engine/canvaskit/picture.dart
  lib/web_ui/lib/src/engine/canvaskit/surface.dart
  lib/web_ui/lib/src/engine/canvaskit/text.dart
  lib/web_ui/lib/src/engine/canvaskit/util.dart
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/lib/src/engine/keyboard_binding.dart
  lib/web_ui/lib/src/engine/navigation/history.dart
  lib/web_ui/lib/src/engine/navigation/js_url_strategy.dart
  lib/web_ui/lib/src/engine/navigation/url_strategy.dart
  lib/web_ui/lib/src/engine/pointer_binding.dart
  lib/web_ui/lib/src/engine/profiler.dart
  lib/web_ui/lib/src/engine/safe_browser_api.dart
  lib/web_ui/lib/src/engine/semantics/semantics_helper.dart
  lib/web_ui/lib/src/engine/test_embedding.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/lib/src/engine/ulps.dart
  lib/web_ui/lib/src/engine/util.dart
  lib/web_ui/lib/src/engine/view_embedder/hot_restart_cache_handler.dart
  lib/web_ui/test/canvaskit/canvaskit_api_test.dart
  lib/web_ui/test/canvaskit/fallback_fonts_golden_test.dart
  lib/web_ui/test/canvaskit/image_golden_test.dart
  lib/web_ui/test/canvaskit/initialization/initialization_stores_config_test.dart
  lib/web_ui/test/canvaskit/picture_test.dart
  lib/web_ui/test/canvaskit/surface_test.dart
  lib/web_ui/test/channel_buffers_test.dart
  lib/web_ui/test/engine/history_test.dart
  lib/web_ui/test/engine/host_node_test.dart
  lib/web_ui/test/engine/platform_dispatcher_test.dart
  lib/web_ui/test/engine/pointer_binding_test.dart
  lib/web_ui/test/engine/profiler_test.dart
  lib/web_ui/test/engine/recording_canvas_test.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
  lib/web_ui/test/engine/semantics/text_field_test.dart
  lib/web_ui/test/engine/ulps_test.dart
  lib/web_ui/test/engine/view_embedder/embedding_strategy/embedding_strategy_test.dart
  lib/web_ui/test/engine/view_embedder/hot_restart_cache_handler_test.dart
  lib/web_ui/test/engine/window_test.dart
  lib/web_ui/test/gesture_settings_test.dart
  lib/web_ui/test/hash_codes_test.dart
  lib/web_ui/test/html/image_test.dart
  lib/web_ui/test/raw_keyboard_test.dart
  lib/web_ui/test/skwasm/smoke_test.dart
  lib/web_ui/test/text_editing_test.dart
  lib/web_ui/test/window_test.dart
Labels: platform-web

#38965 [ios_platform_view] more precision when determine if a clip rrect is necessary
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios/AppDelegate.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/GoldenTestManager.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/PlatformViewUITests.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_large_cliprrect_iPhone 8_16.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_large_cliprrect_with_transform_iPhone 8_16.0_simulator.png
  testing/scenario_app/lib/src/platform_view.dart
  testing/scenario_app/lib/src/scenarios.dart
Labels: platform-ios, autosubmit

#38980 [release + cherry pick] wrap focus() in a post update callback (#38958)
  lib/web_ui/lib/src/engine/semantics/tappable.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
Labels: platform-web

#38986 Bump chrome_and_driver version to 110.
  .ci.yaml
Labels: autosubmit

#38994 Roll Fuchsia Mac SDK from P5QcCJU8I71xVXuMT... to tlYMsnCv86Fjt5LfF...
  DEPS
Labels: autosubmit

#38745 Merge MSAA alert functionality with UIA
  ci/licenses_golden/licenses_flutter
  shell/platform/common/BUILD.gn
  shell/platform/common/alert_platform_node_delegate.cc
  shell/platform/common/alert_platform_node_delegate.h
  shell/platform/windows/BUILD.gn
  shell/platform/windows/accessibility_alert.cc
  shell/platform/windows/accessibility_alert.h
  shell/platform/windows/accessibility_root_node.cc
  shell/platform/windows/accessibility_root_node.h
  shell/platform/windows/flutter_window.cc
  shell/platform/windows/flutter_window.h
  shell/platform/windows/flutter_window_unittests.cc
  shell/platform/windows/flutter_windows_engine_unittests.cc
  shell/platform/windows/flutter_windows_view.cc
  shell/platform/windows/flutter_windows_view.h
  shell/platform/windows/testing/mock_window_binding_handler.h
  shell/platform/windows/window.cc
  shell/platform/windows/window.h
  shell/platform/windows/window_binding_handler.h
  third_party/accessibility/ax/platform/ax_fragment_root_win.cc
  third_party/accessibility/ax/platform/ax_fragment_root_win.h
  third_party/accessibility/ax/platform/ax_platform_node_win.cc
  third_party/accessibility/ax/platform/ax_platform_node_win.h
Labels: accessibility, affects: desktop, platform-windows

#38948 [web] dont look up webgl params if no GPU is available
  lib/web_ui/lib/src/engine/canvaskit/surface.dart
Labels: platform-web, needs tests, autosubmit

#38998 [Impeller] Account for the transform in DLVerticesGeometry coverage
  impeller/display_list/display_list_unittests.cc
  impeller/display_list/display_list_vertices_geometry.cc
Labels: impeller, autosubmit

#38971 Remove unused variables and import
  shell/platform/android/external_view_embedder/external_view_embedder.cc
Labels: platform-android, needs tests, autosubmit

#36512 Fix invalid Unix locale to Flutter locale (BCP-47) mapping
  shell/platform/linux/fl_engine.cc
  shell/platform/linux/fl_engine_test.cc
Labels: platform-linux, needs tests, autosubmit

#38966 Roll Skia from 69d8378097df to aedfc8695954 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: will affect goldens, autosubmit

#39006 Extract WideToUTF16String/UTF16StringToWide to FML
  fml/platform/win/wstring_conversion.cc
  fml/platform/win/wstring_conversion.h
  fml/platform/win/wstring_conversion_unittests.cc
  third_party/accessibility/ax/BUILD.gn
  third_party/accessibility/ax/ax_node_position_unittest.cc
  third_party/accessibility/ax/platform/ax_platform_node_textprovider_win_unittest.cc
  third_party/accessibility/ax/platform/ax_platform_node_textrangeprovider_win.cc
  third_party/accessibility/ax/platform/ax_platform_node_win.cc
  third_party/accessibility/base/string_utils.cc
  third_party/accessibility/base/string_utils.h
Labels: autosubmit

#39019 Revert "Extract WideToUTF16String/UTF16StringToWide to FML"
  fml/platform/win/wstring_conversion.cc
  fml/platform/win/wstring_conversion.h
  fml/platform/win/wstring_conversion_unittests.cc
  third_party/accessibility/ax/BUILD.gn
  third_party/accessibility/ax/ax_node_position_unittest.cc
  third_party/accessibility/ax/platform/ax_platform_node_textprovider_win_unittest.cc
  third_party/accessibility/ax/platform/ax_platform_node_textrangeprovider_win.cc
  third_party/accessibility/ax/platform/ax_platform_node_win.cc
  third_party/accessibility/base/string_utils.cc
  third_party/accessibility/base/string_utils.h
Labels: revert

#39023 [Impeller] Check the correct stencil coverage when deciding whether to elide a restore
  impeller/aiks/aiks_unittests.cc
  impeller/entity/entity_pass.cc
Labels: impeller, autosubmit

#39024 Roll Skia from aedfc8695954 to 1b3aa8b6e1cc (43 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39020 Extract WideToUTF16String/UTF16StringToWide to FML
  fml/platform/win/wstring_conversion.cc
  fml/platform/win/wstring_conversion.h
  fml/platform/win/wstring_conversion_unittests.cc
  shell/platform/windows/flutter_windows_view.cc
  third_party/accessibility/ax/BUILD.gn
  third_party/accessibility/ax/ax_node_position_unittest.cc
  third_party/accessibility/ax/platform/ax_platform_node_textprovider_win_unittest.cc
  third_party/accessibility/ax/platform/ax_platform_node_textrangeprovider_win.cc
  third_party/accessibility/ax/platform/ax_platform_node_win.cc
  third_party/accessibility/base/string_utils.cc
  third_party/accessibility/base/string_utils.h
Labels: platform-windows

#39027 Roll Skia from 1b3aa8b6e1cc to f6a5c806294d (11 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#37870 [macos] Synthesize modifier keys events on pointer events
  shell/platform/darwin/macos/framework/Source/FlutterEmbedderKeyResponder.h
  shell/platform/darwin/macos/framework/Source/FlutterEmbedderKeyResponder.mm
  shell/platform/darwin/macos/framework/Source/FlutterKeyboardManager.h
  shell/platform/darwin/macos/framework/Source/FlutterKeyboardManager.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewController.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewControllerTest.mm
Labels: platform-macos, autosubmit

#39032 Roll Fuchsia Mac SDK from 6oiZwMyNsjucSxTHJ... to GvtVLigysBcywNN9T...
  DEPS
Labels: autosubmit

#39035 Revert "Remove references to Observatory (#38919)"
  ci/licenses_golden/licenses_flutter
  common/settings.h
  lib/web_ui/dev/browser.dart
  lib/web_ui/dev/test_platform.dart
  runtime/dart_isolate.cc
  runtime/dart_isolate_unittests.cc
  runtime/dart_lifecycle_unittests.cc
  runtime/dart_service_isolate.cc
  runtime/dart_service_isolate.h
  shell/common/switches.cc
  shell/common/switches.h
  shell/platform/android/flutter_main.cc
  shell/platform/android/flutter_main.h
  shell/platform/android/io/flutter/app/FlutterActivityDelegate.java
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/engine/FlutterShellArgs.java
  shell/platform/android/io/flutter/view/FlutterNativeView.java
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Headers/FlutterEngine.h
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterObservatoryPublisher.h
  shell/platform/darwin/ios/framework/Source/FlutterObservatoryPublisher.mm
  shell/platform/embedder/tests/embedder_config_builder.cc
  shell/platform/fuchsia/dart_runner/service_isolate.cc
  shell/platform/fuchsia/flutter/component_v1.cc
  shell/platform/fuchsia/flutter/component_v2.cc
  shell/profiling/sampling_profiler.cc
  shell/profiling/sampling_profiler.h
  shell/testing/observatory/launcher.dart
  shell/testing/observatory/service_client.dart
  shell/testing/observatory/test.dart
  testing/dart/observatory/shader_reload_test.dart
  testing/dart/observatory/skp_test.dart
  testing/dart/observatory/tracing_test.dart
  testing/dart/observatory/vmservice_methods_test.dart
  testing/dart_fixture.cc
Labels: platform-ios, platform-android, platform-web, platform-fuchsia, embedder

#39038 [impeller] change input order in ColorFilterContents::MakeBlend
  impeller/entity/contents/filters/blend_filter_contents.cc
  impeller/entity/contents/filters/color_filter_contents.cc
  impeller/entity/contents/filters/color_filter_contents.h
  impeller/entity/entity_pass.cc
  impeller/entity/entity_unittests.cc
  impeller/entity/shaders/blending/advanced_blend.glsl
Labels: autosubmit

#38989 [ios_platform_view] MaskView pool to reuse maskViews.
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.mm
Labels: platform-ios, autosubmit

#39044 Roll Fuchsia Mac SDK from GvtVLigysBcywNN9T... to ZTKDeVL1HDAwsZdhl...
  DEPS
Labels: autosubmit

#39048 Roll Fuchsia Linux SDK from rPo4_TYHCtkoOfRup... to S6wQW1tLFe-YnReaZ...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#39049 Roll Dart SDK from 8c2eb20b5376 to 548678dd684c (1 revision)
  DEPS
Labels: autosubmit

#39050 Roll Fuchsia Mac SDK from ZTKDeVL1HDAwsZdhl... to l7jVM3Urw73TVWfee...
  DEPS
Labels: autosubmit

#39055 Roll Fuchsia Linux SDK from S6wQW1tLFe-YnReaZ... to l3c_b-vRr-o6ZFX_M...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#39056 Roll Fuchsia Mac SDK from l7jVM3Urw73TVWfee... to 5TQ9IL4-Yu3KHCR-H...
  DEPS
Labels: autosubmit

#39058 Roll Fuchsia Mac SDK from 5TQ9IL4-Yu3KHCR-H... to R4F4q-h902yt4s7ow...
  DEPS
Labels: autosubmit

#39061 Roll Fuchsia Linux SDK from l3c_b-vRr-o6ZFX_M... to f613tOkDB282hW2tA...
  DEPS
Labels: autosubmit

#38905 Add more flexible image loading API
  lib/ui/painting.dart
  lib/web_ui/lib/painting.dart
  testing/dart/codec_test.dart
Labels: autosubmit

#39063 Roll Dart SDK from 548678dd684c to 608a0691a1d7 (1 revision)
  DEPS
Labels: autosubmit

#39064 Roll Fuchsia Mac SDK from R4F4q-h902yt4s7ow... to rQtxqj3gePeR-nTLv...
  DEPS
Labels: autosubmit

#39066 Roll Dart SDK from 608a0691a1d7 to c52810968747 (1 revision)
  DEPS
Labels: autosubmit

#39067 Roll Fuchsia Linux SDK from f613tOkDB282hW2tA... to GLRbnjiO5SbZKX-Us...
  DEPS
Labels: autosubmit

#38448 [web] Build multiple CanvasKit variants (using toolchain_args)
  DEPS
  lib/web_ui/dev/steps/compile_tests_step.dart
  third_party/canvaskit/BUILD.gn
  third_party/canvaskit/canvaskit.gni
  tools/gn
  web_sdk/BUILD.gn
Labels: platform-web, needs tests, autosubmit

#39071 Remove unnecessary null checks in doc snippet
  lib/ui/hash_codes.dart
Labels: autosubmit

#39028 Roll Skia from f6a5c806294d to 1ccf2093cfa9 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: will affect goldens, autosubmit

#39075 Roll Fuchsia Mac SDK from rQtxqj3gePeR-nTLv... to HxpwvvbQdk54L6_8q...
  DEPS
Labels: autosubmit

#39077 [Impeller] uniform offsets account for size
  impeller/entity/contents/runtime_effect_contents.cc
  impeller/entity/entity_unittests.cc
  impeller/fixtures/runtime_stage_example.frag
Labels: autosubmit

#38682 Ability to disable browser context menu
  lib/web_ui/lib/src/engine/embedder.dart
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/view_embedder/embedding_strategy/custom_element_embedding_strategy.dart
  lib/web_ui/lib/src/engine/view_embedder/embedding_strategy/embedding_strategy.dart
  lib/web_ui/lib/src/engine/view_embedder/embedding_strategy/full_page_embedding_strategy.dart
  lib/web_ui/test/engine/platform_dispatcher_test.dart
  lib/web_ui/test/engine/view_embedder/embedding_strategy/custom_element_embedding_strategy_test.dart
  lib/web_ui/test/engine/view_embedder/embedding_strategy/full_page_embedding_strategy_test.dart
Labels: platform-web
