Repository flutter/engine, pull requests merged in 2023-06, with the labels that each got.

#42463 Roll Fuchsia Linux SDK from lSKDoGVypQfTMYUZe... to htio0wC3kDb9tB1Wd...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#42468 Revert "[web] Remove the JS API for url strategy"
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/initialization.dart
  lib/web_ui/lib/src/engine/navigation.dart
  lib/web_ui/lib/src/engine/navigation/js_url_strategy.dart
  lib/web_ui/lib/src/engine/navigation/url_strategy.dart
  lib/web_ui/lib/src/engine/test_embedding.dart
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/lib/ui_web/src/ui_web/navigation/url_strategy.dart
  lib/web_ui/test/engine/history_test.dart
  lib/web_ui/test/engine/routing_test.dart
Labels: platform-web, autosubmit

#42470 Roll Skia from d9f959926dad to f4f569aa5236 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#42472 Roll Skia from f4f569aa5236 to a83c633d39ba (1 revision)
  DEPS
Labels: autosubmit

#42474 Roll Skia from a83c633d39ba to 1573bd65a399 (1 revision)
  DEPS
Labels: autosubmit

#42475 Roll Skia from 1573bd65a399 to 6c7e1bccb539 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#42477 Roll Skia from 6c7e1bccb539 to 934d90ab7370 (1 revision)
  DEPS
Labels: autosubmit

#42478 Roll Fuchsia Mac SDK from WbvKb2sKXw0MUnSsC... to yqJfBsLdfLP4_vbFu...
  DEPS
Labels: autosubmit

#42482 Roll Skia from 934d90ab7370 to f5bc3d12f0eb (1 revision)
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#42330 Reland "add non-rendering operation culling to DisplayListBuilder" (#41463)
  display_list/benchmarking/dl_complexity_unittests.cc
  display_list/display_list.cc
  display_list/display_list.h
  display_list/display_list_unittests.cc
  display_list/dl_builder.cc
  display_list/dl_builder.h
  display_list/dl_color.h
  display_list/dl_paint.h
  display_list/testing/dl_rendering_unittests.cc
  display_list/testing/dl_test_snippets.cc
  display_list/testing/dl_test_snippets.h
  display_list/utils/dl_matrix_clip_tracker.h
  flow/diff_context_unittests.cc
  flow/layers/container_layer_unittests.cc
  flow/layers/display_list_layer_unittests.cc
  flow/layers/opacity_layer_unittests.cc
  flow/testing/diff_context_test.cc
  flow/testing/diff_context_test.h
  impeller/display_list/dl_unittests.cc
  shell/common/dl_op_spy_unittests.cc
Labels: autosubmit

#42485 Clean up Skia includes around SkSurfaceCharacterization
  flow/layer_snapshot_store.h
  flow/layers/offscreen_surface.cc
  flow/testing/mock_raster_cache.h
  shell/common/rasterizer.cc
  shell/common/rasterizer_unittests.cc
  shell/platform/embedder/pixel_formats.cc
Labels: embedder

#42487 Roll Skia from f5bc3d12f0eb to c408e8e9cc96 (9 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#42486 Reland "[web] Remove the JS API for url strategy (#42134)"
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/initialization.dart
  lib/web_ui/lib/src/engine/navigation.dart
  lib/web_ui/lib/src/engine/navigation/js_url_strategy.dart
  lib/web_ui/lib/src/engine/navigation/url_strategy.dart
  lib/web_ui/lib/src/engine/test_embedding.dart
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/lib/ui_web/src/ui_web/navigation/url_strategy.dart
  lib/web_ui/test/engine/history_test.dart
  lib/web_ui/test/engine/routing_test.dart
Labels: platform-web, autosubmit

#42438 Wait for GL command completion in the ExternalTextureGLRefreshedTooOften test
  shell/platform/embedder/tests/embedder_gl_unittests.cc
Labels: embedder, autosubmit

#42489 Fix lint in rectangle packer
  impeller/typographer/rectangle_packer.cc
Labels: needs tests, autosubmit

#42466 Fix crash getting spell-check suggestions
  shell/platform/android/io/flutter/plugin/editing/SpellCheckPlugin.java
  shell/platform/android/test/io/flutter/plugin/editing/SpellCheckPluginTest.java
Labels: platform-android, autosubmit

#42153 Support DisposalMethod::kRestorePrevious in MultiFrameCodec and fix the apng problem.
  lib/ui/fixtures/2_dispose_op_restore_previous.apng
  lib/ui/fixtures/2_dispose_op_restore_previous.apng.67.png
  lib/ui/fixtures/2_dispose_op_restore_previous.apng.68.png
  lib/ui/fixtures/2_dispose_op_restore_previous.apng.69.png
  lib/ui/painting/image_generator_apng.cc
  lib/ui/painting/multi_frame_codec.cc
  testing/dart/codec_test.dart
Labels: autosubmit

#42406 Add myself to AUTHORS
  AUTHORS
Labels: autosubmit

#42244 [Windows - TextInput] Insert new line only when TextInputAction.newline
  shell/platform/windows/text_input_plugin.cc
  shell/platform/windows/text_input_plugin_unittest.cc
Labels: platform-windows, autosubmit

#42496 Roll Skia from c408e8e9cc96 to 082a7d1f72f7 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#42491 Ensure PlatformView engine life cycle callbacks are invoked
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/io/flutter/plugin/platform/SingleViewPresentation.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
Labels: platform-android

#42484 [Impeller] Emplace directly into host buffer (avoid VBB) for text data
  impeller/core/host_buffer.cc
  impeller/core/host_buffer.h
  impeller/entity/contents/text_contents.cc
Labels: autosubmit

#42499 Roll Fuchsia Mac SDK from yqJfBsLdfLP4_vbFu... to JQRQ1nH1ILNA--N_b...
  DEPS
Labels: autosubmit

#42498 Do not retry lint or clang tidy tests.
  ci/builders/linux_clang_tidy.json
  ci/builders/mac_clang_tidy.json
  ci/builders/standalone/linux_license.json
Labels: autosubmit

#42505 Roll Skia from f4854a3d009d to 0c75f1877b37 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#42455 Revert "[Rasterizer] Make resubmit information temporary"
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
Labels: needs tests

#42506 Roll Skia from 0c75f1877b37 to 02e706e9761b (2 revisions)
  DEPS
Labels: autosubmit

#42508 Roll Skia from 02e706e9761b to 7777ee2bf7ef (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#42510 Roll Skia from 7777ee2bf7ef to 881a8df6f9e9 (1 revision)
  DEPS
Labels: autosubmit

#42511 Roll Fuchsia Linux SDK from X4Pkixxtt3BkjRW9P... to PuYA-6NVHeHPlkCdk...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#42494 Allow for optional label to trigger vuln scan on patch PRs
  .github/workflows/third_party_scan.yml
Labels: autosubmit

#42503 [Impeller] clang-tidy fixes
  impeller/renderer/backend/gles/render_pass_gles.cc
  impeller/renderer/backend/vulkan/command_encoder_vk.cc
  impeller/renderer/backend/vulkan/command_encoder_vk.h
  impeller/renderer/backend/vulkan/context_vk.cc
  impeller/renderer/backend/vulkan/descriptor_pool_vk.cc
  impeller/renderer/backend/vulkan/descriptor_pool_vk.h
  impeller/renderer/backend/vulkan/fence_waiter_vk.cc
  impeller/renderer/backend/vulkan/fence_waiter_vk.h
  impeller/renderer/backend/vulkan/pipeline_vk.cc
  impeller/renderer/backend/vulkan/shader_library_vk.cc
Labels: needs tests, autosubmit

#42513 Roll Skia from 47b0db43f6a4 to daf2219fec54 (1 revision)
  DEPS
Labels: autosubmit

#42492 [Android] Change Linux Android Emulator Tests to run on a device running API 33
  .ci.yaml
Labels: autosubmit

#42514 Add cpu as drone dimension to mac ios build.
  .ci.yaml
Labels: autosubmit

#42515 Roll Fuchsia Mac SDK from JQRQ1nH1ILNA--N_b... to gcm-vsCu6IPUZZnN0...
  DEPS
Labels: autosubmit

#42432 [web] Move announcement live elements to the end of the DOM and make them `div`s instead of `label`s.
  lib/web_ui/lib/src/engine/embedder.dart
  lib/web_ui/lib/src/engine/initialization.dart
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/semantics/accessibility.dart
  lib/web_ui/lib/src/engine/semantics/live_region.dart
  lib/web_ui/test/engine/semantics/accessibility_test.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
Labels: platform-web, autosubmit

#42518 [Impeller] Fix a bugprone-unchecked-optional-access warning in SurfaceMTL
  impeller/renderer/backend/metal/surface_mtl.mm
Labels: needs tests

#42454 [Android] Bump unit test robolectric version to 4.10.3
  shell/platform/android/test/README.md
  shell/platform/android/test/io/flutter/embedding/android/SplashShadowResources.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewWrapperTest.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
  shell/platform/android/test_runner/build.gradle
Labels: platform-android, autosubmit

#42459 Wrap concurrent message loop tasks in an autorelease pool on iOS/Mac platforms
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/concurrent_message_loop.cc
  fml/concurrent_message_loop.h
  fml/concurrent_message_loop_factory.cc
  fml/platform/darwin/concurrent_message_loop_factory.mm
Labels: needs tests, autosubmit

#42519 CP: Add cpu as drone dimension to mac ios build. (#42514)
  .ci.yaml
Labels: autosubmit

#42520 Generate a unique temporary directory name in the iOS scenario test script
  testing/scenario_app/run_ios_tests.sh
Labels: autosubmit

#41784 [web] New platform view API to get view by ID
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/lib/src/engine/platform_views/content_manager.dart
  lib/web_ui/lib/ui_web/src/ui_web/platform_view_registry.dart
  lib/web_ui/test/engine/platform_views/content_manager_test.dart
Labels: platform-web, autosubmit

#42521 Use json for json blocks in docs.
  ci/builders/README.md
Labels: autosubmit

#42493 MultiView changes for dart:ui
  lib/ui/fixtures/ui_test.dart
  lib/ui/hooks.dart
  lib/ui/platform_dispatcher.dart
  lib/ui/pointer.dart
  lib/ui/window.dart
  lib/web_ui/lib/platform_dispatcher.dart
  lib/web_ui/lib/pointer.dart
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/lib/window.dart
  shell/platform/embedder/fixtures/main.dart
Labels: platform-web, embedder, autosubmit

#42255 [web] Support platform view creation params
  lib/web_ui/lib/src/engine/platform_views/content_manager.dart
  lib/web_ui/lib/src/engine/platform_views/message_handler.dart
  lib/web_ui/lib/ui_web/src/ui_web/platform_view_registry.dart
  lib/web_ui/test/engine/platform_views/message_handler_test.dart
Labels: platform-web, autosubmit

#42524 Move benchmarks no upload to staging.
  .ci.yaml
Labels: autosubmit

#42525 Revert "Reland "add non-rendering operation culling to DisplayListBuilder" (#41463)"
  display_list/benchmarking/dl_complexity_unittests.cc
  display_list/display_list.cc
  display_list/display_list.h
  display_list/display_list_unittests.cc
  display_list/dl_builder.cc
  display_list/dl_builder.h
  display_list/dl_color.h
  display_list/dl_paint.h
  display_list/testing/dl_rendering_unittests.cc
  display_list/testing/dl_test_snippets.cc
  display_list/testing/dl_test_snippets.h
  display_list/utils/dl_matrix_clip_tracker.h
  flow/diff_context_unittests.cc
  flow/layers/container_layer_unittests.cc
  flow/layers/display_list_layer_unittests.cc
  flow/layers/opacity_layer_unittests.cc
  flow/testing/diff_context_test.cc
  flow/testing/diff_context_test.h
  impeller/display_list/dl_unittests.cc
  shell/common/dl_op_spy_unittests.cc
Labels: autosubmit

#42523 [macOS] Top-left origin for PlatformView container
  shell/platform/darwin/macos/framework/Source/FlutterMutatorView.mm
  shell/platform/darwin/macos/framework/Source/FlutterMutatorViewTest.mm
Labels: platform-macos, autosubmit

#42516 [Impeller] Fix 1-d grid computation for compute
  ci/licenses_golden/licenses_flutter
  impeller/renderer/BUILD.gn
  impeller/renderer/backend/metal/compute_pass_mtl.mm
  impeller/renderer/backend/vulkan/compute_pass_vk.cc
  impeller/renderer/backend/vulkan/context_vk.h
  impeller/renderer/backend/vulkan/device_holder.h
  impeller/renderer/backend/vulkan/pipeline_library_vk.cc
  impeller/renderer/compute_pipeline_builder.h
  impeller/renderer/compute_unittests.cc
  impeller/renderer/prefix_sum_test.comp
  impeller/renderer/threadgroup_sizing_test.comp
  impeller/tools/malioc.json
Labels: autosubmit

#42532 Revert "[Impeller] Add Impeller Metal support in the embedder API (#42411)"
  ci/licenses_golden/licenses_flutter
  flow/BUILD.gn
  flow/embedded_views.cc
  flow/embedded_views.h
  impeller/playground/backend/metal/playground_impl_mtl.mm
  impeller/renderer/backend/metal/BUILD.gn
  impeller/renderer/backend/metal/context_mtl.h
  impeller/renderer/backend/metal/context_mtl.mm
  impeller/renderer/backend/metal/surface_mtl.h
  impeller/renderer/backend/metal/surface_mtl.mm
  impeller/renderer/backend/metal/texture_mtl.h
  impeller/renderer/backend/metal/texture_mtl.mm
  impeller/renderer/backend/metal/texture_wrapper_mtl.h
  impeller/renderer/backend/metal/texture_wrapper_mtl.mm
  shell/common/rasterizer.cc
  shell/common/rasterizer_unittests.cc
  shell/common/shell_test_external_view_embedder.cc
  shell/common/shell_test_external_view_embedder.h
  shell/gpu/gpu_surface_metal_impeller.h
  shell/gpu/gpu_surface_metal_impeller.mm
  shell/platform/android/external_view_embedder/external_view_embedder.cc
  shell/platform/android/external_view_embedder/external_view_embedder.h
  shell/platform/android/external_view_embedder/external_view_embedder_unittests.cc
  shell/platform/darwin/ios/ios_external_view_embedder.h
  shell/platform/darwin/ios/ios_external_view_embedder.mm
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder_external_view.cc
  shell/platform/embedder/embedder_external_view_embedder.cc
  shell/platform/embedder/embedder_external_view_embedder.h
  shell/platform/embedder/embedder_render_target.cc
  shell/platform/embedder/embedder_render_target.h
  shell/platform/embedder/embedder_render_target_cache.cc
  shell/platform/embedder/embedder_render_target_impeller.cc
  shell/platform/embedder/embedder_render_target_impeller.h
  shell/platform/embedder/embedder_render_target_skia.cc
  shell/platform/embedder/embedder_render_target_skia.h
  shell/platform/embedder/embedder_surface.cc
  shell/platform/embedder/embedder_surface.h
  shell/platform/embedder/embedder_surface_metal_impeller.h
  shell/platform/embedder/embedder_surface_metal_impeller.mm
  shell/platform/embedder/platform_view_embedder.cc
  shell/platform/embedder/platform_view_embedder.h
  shell/platform/fuchsia/flutter/flatland_external_view_embedder.cc
  shell/platform/fuchsia/flutter/flatland_external_view_embedder.h
  shell/platform/fuchsia/flutter/gfx_external_view_embedder.cc
  shell/platform/fuchsia/flutter/gfx_external_view_embedder.h
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
  shell/platform/fuchsia/flutter/tests/flatland_external_view_embedder_unittests.cc
  shell/platform/fuchsia/flutter/tests/flatland_platform_view_unittest.cc
  shell/platform/fuchsia/flutter/tests/gfx_external_view_embedder_unittests.cc
Labels: platform-ios, platform-android, platform-fuchsia, embedder, impeller

#42534 Roll Skia from daf2219fec54 to 656de7fc6994 (23 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: will affect goldens, autosubmit

#42536 Roll Fuchsia Mac SDK from gcm-vsCu6IPUZZnN0... to vVgQ12wNh2DIT_hV7...
  DEPS
Labels: autosubmit

#42537 Roll Skia from 656de7fc6994 to 98da8d7a299d (1 revision)
  DEPS
Labels: autosubmit

#42538 Roll Fuchsia Linux SDK from VtLnfLmVda1_h1AtM... to Bb9z8SjSCzRN6SVee...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#42541 Roll Skia from 98da8d7a299d to 0e80a97ccee3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#42542 Roll Skia from 0e80a97ccee3 to 611132d6ab8c (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#42543 Roll Fuchsia Mac SDK from vVgQ12wNh2DIT_hV7... to 5pFMQIRHNENhekRDO...
  DEPS
Labels: autosubmit

#42544 Roll Fuchsia Linux SDK from Bb9z8SjSCzRN6SVee... to 839LDf0p1Q4wyszA5...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#42548 Roll Skia from 611132d6ab8c to 8ca7bad9158f (1 revision)
  DEPS
Labels: autosubmit

#42549 Roll Skia from 8ca7bad9158f to 210ad9cde42b (1 revision)
  DEPS
Labels: autosubmit

#42551 Roll Fuchsia Mac SDK from 5pFMQIRHNENhekRDO... to sk-SFXAARqkT7wGmf...
  DEPS
Labels: autosubmit

#42553 Roll Fuchsia Linux SDK from 839LDf0p1Q4wyszA5... to gp1k1agqxQIz0oTXV...
  DEPS
Labels: autosubmit

#42557 Manual roll Dart SDK from d00a370c1fd3 to 5144119b99c8 (2 revisions)
  DEPS
Labels: autosubmit

#42558 Roll Fuchsia Mac SDK from sk-SFXAARqkT7wGmf... to fgfgAhpxFpse7Xi4i...
  DEPS
Labels: autosubmit

#42560 Roll Skia from 210ad9cde42b to a10e944601cf (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: will affect goldens, autosubmit

#42570 Roll Fuchsia Linux SDK from gp1k1agqxQIz0oTXV... to vAwdggqMrL1yoH_Zn...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#42564 Fix clang tidy error and crash
  impeller/renderer/backend/metal/context_mtl.mm
  impeller/renderer/backend/metal/formats_mtl.mm
Labels: needs tests

#42399 Improve getting non-overlapping rectangles from RTree
  BUILD.gn
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_flutter
  display_list/BUILD.gn
  display_list/benchmarking/dl_region_benchmarks.cc
  display_list/dl_builder.cc
  display_list/geometry/dl_region.cc
  display_list/geometry/dl_region.h
  display_list/geometry/dl_region_unittests.cc
  display_list/geometry/dl_rtree.cc
  display_list/geometry/dl_rtree.h
  flow/rtree.cc
  flow/rtree_unittests.cc
  testing/scenario_app/ios/Scenarios/ScenariosUITests/UnobstructedPlatformViewTests.m
Labels: platform-ios

#42573 Add missing #include of SkCFObject.h
  shell/platform/darwin/graphics/FlutterDarwinExternalTextureMetal.mm
  shell/platform/embedder/embedder.cc
  testing/test_metal_context.h
Labels: embedder

#42574 Roll Fuchsia Mac SDK from fgfgAhpxFpse7Xi4i... to tCxDcZ3yi0rnKGVHt...
  DEPS
Labels: autosubmit

#42556 fix bounds of inverted rendered rectangles
  display_list/display_list_unittests.cc
  display_list/dl_builder.cc
Labels: autosubmit

#42572 Run dependabot in off peak hours
  .github/dependabot.yml
Labels: autosubmit

#42545 [Impeller] Reland: Add Impeller Metal support in the embedder API (#42411)
  ci/licenses_golden/licenses_flutter
  flow/BUILD.gn
  flow/embedded_views.cc
  flow/embedded_views.h
  impeller/playground/backend/metal/playground_impl_mtl.mm
  impeller/renderer/backend/metal/BUILD.gn
  impeller/renderer/backend/metal/context_mtl.h
  impeller/renderer/backend/metal/context_mtl.mm
  impeller/renderer/backend/metal/surface_mtl.h
  impeller/renderer/backend/metal/surface_mtl.mm
  impeller/renderer/backend/metal/texture_mtl.h
  impeller/renderer/backend/metal/texture_mtl.mm
  impeller/renderer/backend/metal/texture_wrapper_mtl.h
  impeller/renderer/backend/metal/texture_wrapper_mtl.mm
  shell/common/rasterizer.cc
  shell/common/rasterizer_unittests.cc
  shell/common/shell_test_external_view_embedder.cc
  shell/common/shell_test_external_view_embedder.h
  shell/gpu/gpu_surface_metal_impeller.h
  shell/gpu/gpu_surface_metal_impeller.mm
  shell/platform/android/external_view_embedder/external_view_embedder.cc
  shell/platform/android/external_view_embedder/external_view_embedder.h
  shell/platform/android/external_view_embedder/external_view_embedder_unittests.cc
  shell/platform/darwin/ios/ios_external_view_embedder.h
  shell/platform/darwin/ios/ios_external_view_embedder.mm
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder_external_view.cc
  shell/platform/embedder/embedder_external_view_embedder.cc
  shell/platform/embedder/embedder_external_view_embedder.h
  shell/platform/embedder/embedder_render_target.cc
  shell/platform/embedder/embedder_render_target.h
  shell/platform/embedder/embedder_render_target_cache.cc
  shell/platform/embedder/embedder_render_target_impeller.cc
  shell/platform/embedder/embedder_render_target_impeller.h
  shell/platform/embedder/embedder_render_target_skia.cc
  shell/platform/embedder/embedder_render_target_skia.h
  shell/platform/embedder/embedder_surface.cc
  shell/platform/embedder/embedder_surface.h
  shell/platform/embedder/embedder_surface_metal_impeller.h
  shell/platform/embedder/embedder_surface_metal_impeller.mm
  shell/platform/embedder/platform_view_embedder.cc
  shell/platform/embedder/platform_view_embedder.h
  shell/platform/fuchsia/flutter/flatland_external_view_embedder.cc
  shell/platform/fuchsia/flutter/flatland_external_view_embedder.h
  shell/platform/fuchsia/flutter/gfx_external_view_embedder.cc
  shell/platform/fuchsia/flutter/gfx_external_view_embedder.h
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
  shell/platform/fuchsia/flutter/tests/flatland_external_view_embedder_unittests.cc
  shell/platform/fuchsia/flutter/tests/flatland_platform_view_unittest.cc
  shell/platform/fuchsia/flutter/tests/gfx_external_view_embedder_unittests.cc
Labels: platform-ios, platform-android, platform-fuchsia, embedder, will affect goldens, impeller

#42578 Roll Skia from a226cfbd6cc7 to 7db361be474b (14 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#42533 Use the arm64 dsymutil on Mac M1 machines
  sky/tools/create_embedder_framework.py
  sky/tools/create_full_ios_framework.py
  sky/tools/create_ios_framework.py
  sky/tools/create_macos_framework.py
Labels: autosubmit

#42579 Remove onSemanticsAction
  lib/ui/fixtures/ui_test.dart
  lib/ui/platform_dispatcher.dart
  lib/ui/semantics.dart
  lib/ui/window.dart
  lib/web_ui/lib/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  lib/web_ui/lib/window.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
  lib/web_ui/test/engine/semantics/semantics_tester.dart
  lib/web_ui/test/engine/window_test.dart
Labels: platform-web, autosubmit

#42583 CP: Use the arm64 dsymutil on Mac M1 machines (#42533)
  sky/tools/create_full_ios_framework.py
  sky/tools/create_ios_framework.py
  sky/tools/create_macos_framework.py
Labels: autosubmit

#42582 Roll Skia from 7db361be474b to e8a71c76b88f (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#42539 [macOS] Force clipping to path when platform view clip rect is rotated
  shell/platform/darwin/macos/framework/Source/FlutterMutatorView.mm
  shell/platform/darwin/macos/framework/Source/FlutterMutatorViewTest.mm
Labels: platform-macos

#42567 [Impeller] Make conical gradient work as expected
  impeller/aiks/aiks_unittests.cc
  impeller/compiler/shader_lib/impeller/gradient.glsl
  impeller/entity/contents/conical_gradient_contents.cc
  impeller/entity/contents/conical_gradient_contents.h
  impeller/entity/entity_unittests.cc
  impeller/entity/shaders/conical_gradient_fill.frag
  impeller/entity/shaders/conical_gradient_ssbo_fill.frag
  impeller/tools/malioc.json
Labels: will affect goldens, impeller, autosubmit

#42589 Roll Fuchsia Mac SDK from tCxDcZ3yi0rnKGVHt... to atrYtfHWi2cmV9B_C...
  DEPS
Labels: autosubmit

#42590 Roll Fuchsia Linux SDK from vAwdggqMrL1yoH_Zn... to lpbkSRJBMkPs0FM7_...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#42587 Roll Skia from e8a71c76b88f to 4065e92bf577 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#42591 [Impeller] Fix the rendering issue when the tile mode of gradient is set to 'decal'
  impeller/aiks/aiks_unittests.cc
  impeller/entity/contents/linear_gradient_contents.cc
  impeller/entity/contents/radial_gradient_contents.cc
  impeller/entity/contents/sweep_gradient_contents.cc
  impeller/entity/contents/tiled_texture_contents.cc
  impeller/entity/entity_unittests.cc
Labels: will affect goldens, impeller, autosubmit

#42592 Fix raster cache optional value check logic
  flow/layers/layer_raster_cache_item.cc
Labels: needs tests

#42593 Revert "[Impeller] Reland: Add Impeller Metal support in the embedder API (#42411)"
  ci/licenses_golden/licenses_flutter
  flow/BUILD.gn
  flow/embedded_views.cc
  flow/embedded_views.h
  impeller/playground/backend/metal/playground_impl_mtl.mm
  impeller/renderer/backend/metal/BUILD.gn
  impeller/renderer/backend/metal/context_mtl.h
  impeller/renderer/backend/metal/context_mtl.mm
  impeller/renderer/backend/metal/surface_mtl.h
  impeller/renderer/backend/metal/surface_mtl.mm
  impeller/renderer/backend/metal/texture_mtl.h
  impeller/renderer/backend/metal/texture_mtl.mm
  impeller/renderer/backend/metal/texture_wrapper_mtl.h
  impeller/renderer/backend/metal/texture_wrapper_mtl.mm
  shell/common/rasterizer.cc
  shell/common/rasterizer_unittests.cc
  shell/common/shell_test_external_view_embedder.cc
  shell/common/shell_test_external_view_embedder.h
  shell/gpu/gpu_surface_metal_impeller.h
  shell/gpu/gpu_surface_metal_impeller.mm
  shell/platform/android/external_view_embedder/external_view_embedder.cc
  shell/platform/android/external_view_embedder/external_view_embedder.h
  shell/platform/android/external_view_embedder/external_view_embedder_unittests.cc
  shell/platform/darwin/ios/ios_external_view_embedder.h
  shell/platform/darwin/ios/ios_external_view_embedder.mm
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder_external_view.cc
  shell/platform/embedder/embedder_external_view_embedder.cc
  shell/platform/embedder/embedder_external_view_embedder.h
  shell/platform/embedder/embedder_render_target.cc
  shell/platform/embedder/embedder_render_target.h
  shell/platform/embedder/embedder_render_target_cache.cc
  shell/platform/embedder/embedder_render_target_impeller.cc
  shell/platform/embedder/embedder_render_target_impeller.h
  shell/platform/embedder/embedder_render_target_skia.cc
  shell/platform/embedder/embedder_render_target_skia.h
  shell/platform/embedder/embedder_surface.cc
  shell/platform/embedder/embedder_surface.h
  shell/platform/embedder/embedder_surface_metal_impeller.h
  shell/platform/embedder/embedder_surface_metal_impeller.mm
  shell/platform/embedder/platform_view_embedder.cc
  shell/platform/embedder/platform_view_embedder.h
  shell/platform/fuchsia/flutter/flatland_external_view_embedder.cc
  shell/platform/fuchsia/flutter/flatland_external_view_embedder.h
  shell/platform/fuchsia/flutter/gfx_external_view_embedder.cc
  shell/platform/fuchsia/flutter/gfx_external_view_embedder.h
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
  shell/platform/fuchsia/flutter/tests/flatland_external_view_embedder_unittests.cc
  shell/platform/fuchsia/flutter/tests/flatland_platform_view_unittest.cc
  shell/platform/fuchsia/flutter/tests/gfx_external_view_embedder_unittests.cc
Labels: platform-ios, platform-android, platform-fuchsia, embedder, will affect goldens

#42595 Use proper sampling options in Skwasm's drawAtlas.
  lib/web_ui/skwasm/canvas.cpp
  lib/web_ui/test/ui/draw_atlas_golden_test.dart
Labels: platform-web, will affect goldens, autosubmit

#42566 [labeler] Add engine workflow
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: autosubmit

#42598 [web] Remove /#/ from home page URL
  lib/web_ui/lib/ui_web/src/ui_web/navigation/url_strategy.dart
  lib/web_ui/test/engine/history_test.dart
Labels: platform-web, autosubmit

#42600 Roll Skia from 4065e92bf577 to cef18d10b363 (18 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#42599 [CP] Fix raster cache optional value check logic (#42592)
  flow/layers/layer_raster_cache_item.cc
Labels: needs tests, autosubmit

#42581 Convert pixel formats for animated PNG frames using the source blend mode
  lib/ui/fixtures/alpha_animated.apng
  lib/ui/painting/image_generator_apng.cc
  testing/dart/codec_test.dart
Labels: needs tests, autosubmit

#42605 Roll Skia from cef18d10b363 to 521b8c4bb011 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#42608 Roll Skia from 521b8c4bb011 to a01f49f539ab (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#42609 Roll Fuchsia Mac SDK from atrYtfHWi2cmV9B_C... to ojwVlxZWrbsG4WGSE...
  DEPS
Labels: autosubmit

#42610 Roll Skia from a01f49f539ab to cd3e1665dcd1 (1 revision)
  DEPS
Labels: autosubmit

#42597 [Impeller] Reland 2: Add Impeller Metal support in the embedder API (#42411)
  ci/licenses_golden/licenses_flutter
  flow/BUILD.gn
  flow/embedded_views.cc
  flow/embedded_views.h
  impeller/playground/backend/metal/playground_impl_mtl.mm
  impeller/renderer/backend/metal/BUILD.gn
  impeller/renderer/backend/metal/context_mtl.h
  impeller/renderer/backend/metal/context_mtl.mm
  impeller/renderer/backend/metal/surface_mtl.h
  impeller/renderer/backend/metal/surface_mtl.mm
  impeller/renderer/backend/metal/texture_mtl.h
  impeller/renderer/backend/metal/texture_mtl.mm
  impeller/renderer/backend/metal/texture_wrapper_mtl.h
  impeller/renderer/backend/metal/texture_wrapper_mtl.mm
  shell/common/rasterizer.cc
  shell/common/rasterizer_unittests.cc
  shell/common/shell_test_external_view_embedder.cc
  shell/common/shell_test_external_view_embedder.h
  shell/gpu/gpu_surface_metal_impeller.h
  shell/gpu/gpu_surface_metal_impeller.mm
  shell/platform/android/external_view_embedder/external_view_embedder.cc
  shell/platform/android/external_view_embedder/external_view_embedder.h
  shell/platform/android/external_view_embedder/external_view_embedder_unittests.cc
  shell/platform/darwin/ios/ios_external_view_embedder.h
  shell/platform/darwin/ios/ios_external_view_embedder.mm
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder_external_view.cc
  shell/platform/embedder/embedder_external_view_embedder.cc
  shell/platform/embedder/embedder_external_view_embedder.h
  shell/platform/embedder/embedder_render_target.cc
  shell/platform/embedder/embedder_render_target.h
  shell/platform/embedder/embedder_render_target_cache.cc
  shell/platform/embedder/embedder_render_target_impeller.cc
  shell/platform/embedder/embedder_render_target_impeller.h
  shell/platform/embedder/embedder_render_target_skia.cc
  shell/platform/embedder/embedder_render_target_skia.h
  shell/platform/embedder/embedder_surface.cc
  shell/platform/embedder/embedder_surface.h
  shell/platform/embedder/embedder_surface_metal_impeller.h
  shell/platform/embedder/embedder_surface_metal_impeller.mm
  shell/platform/embedder/platform_view_embedder.cc
  shell/platform/embedder/platform_view_embedder.h
  shell/platform/fuchsia/flutter/flatland_external_view_embedder.cc
  shell/platform/fuchsia/flutter/flatland_external_view_embedder.h
  shell/platform/fuchsia/flutter/gfx_external_view_embedder.cc
  shell/platform/fuchsia/flutter/gfx_external_view_embedder.h
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
  shell/platform/fuchsia/flutter/tests/flatland_external_view_embedder_unittests.cc
  shell/platform/fuchsia/flutter/tests/flatland_platform_view_unittest.cc
  shell/platform/fuchsia/flutter/tests/gfx_external_view_embedder_unittests.cc
Labels: platform-ios, platform-android, platform-fuchsia, embedder, impeller

#42611 Roll ANGLE from 16841d6256da to 1ad4ae4d63bf (1 revision)
  DEPS
Labels: will affect goldens, autosubmit

#42612 Roll Skia from cd3e1665dcd1 to bde894438f29 (1 revision)
  DEPS
Labels: autosubmit

#42613 Roll Fuchsia Linux SDK from lpbkSRJBMkPs0FM7_... to sEHtHM1iFt79roP-x...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#42614 Roll Skia from bde894438f29 to ee90e9ae2e62 (1 revision)
  DEPS
Labels: autosubmit

#42616 Revert "[Android] Return keyboard pressed state"
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/android/FlutterView.java
  shell/platform/android/io/flutter/embedding/android/KeyEmbedderResponder.java
  shell/platform/android/io/flutter/embedding/android/KeyboardManager.java
  shell/platform/android/io/flutter/embedding/engine/FlutterEngine.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/KeyboardChannel.java
  shell/platform/android/io/flutter/plugin/keyboard/KeyboardPlugin.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
  shell/platform/android/test/io/flutter/embedding/android/KeyboardManagerTest.java
  shell/platform/android/test/io/flutter/plugin/keyboard/KeyboardPluginTest.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
Labels: platform-android

#42618 Roll Skia from ee90e9ae2e62 to d607cbb0db78 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#42621 Roll ANGLE from 176989ad00cc to f8220fa3a729 (1 revision)
  DEPS
Labels: autosubmit

#38144 [Linux][a11y] implement AtkText::get_text/string_at_offset()
  shell/platform/linux/fl_accessible_node.cc
  shell/platform/linux/fl_accessible_node.h
  shell/platform/linux/fl_accessible_text_field.cc
  shell/platform/linux/fl_accessible_text_field_test.cc
  shell/platform/linux/fl_view_accessible.cc
  testing/lsan_suppressions.txt
Labels: platform-linux, autosubmit

#42623 Bump Chrome version to 114 for testing
  .ci.yaml
  ci/builders/linux_web_engine.json
  lib/web_ui/dev/browser_lock.yaml
  lib/web_ui/dev/generate_builder_json.dart
Labels: needs tests, will affect goldens, autosubmit

#42585 [Impeller] Added a switch to turn on vulkan
  common/settings.h
  shell/common/switches.cc
  shell/common/switches.h
  shell/platform/android/android_context_gl_impeller.cc
  shell/platform/android/android_context_vulkan_impeller.cc
  shell/platform/android/io/flutter/embedding/engine/loader/FlutterLoader.java
  shell/platform/android/platform_view_android.cc
Labels: platform-android, needs tests, autosubmit

#42607 [macOS] Add platformview creation parameter support
  shell/platform/darwin/macos/framework/Source/FlutterPlatformViewController.h
  shell/platform/darwin/macos/framework/Source/FlutterPlatformViewController.mm
  shell/platform/darwin/macos/framework/Source/FlutterPlatformViewControllerTest.mm
  shell/platform/darwin/macos/framework/Source/TestFlutterPlatformView.h
  shell/platform/darwin/macos/framework/Source/TestFlutterPlatformView.mm
Labels: platform-macos, autosubmit

#41706 [Impeller] Add buffer to texture blit for Vulkan.
  impeller/playground/playground.cc
  impeller/renderer/backend/vulkan/blit_command_vk.cc
  impeller/renderer/backend/vulkan/blit_command_vk.h
  impeller/renderer/backend/vulkan/blit_command_vk_unittests.cc
  impeller/renderer/backend/vulkan/blit_pass_vk.cc
  impeller/renderer/backend/vulkan/blit_pass_vk.h
  impeller/renderer/backend/vulkan/capabilities_vk.cc
  impeller/renderer/backend/vulkan/command_encoder_vk.cc
  impeller/renderer/backend/vulkan/command_encoder_vk.h
  impeller/renderer/backend/vulkan/device_buffer_vk.h
  lib/ui/painting/image_decoder_impeller.cc
Labels: impeller, autosubmit

#42630 [Impeller] fix missing assignment of embedder render target.
  shell/platform/embedder/embedder.cc
Labels: needs tests, autosubmit

#42615 [iOS] Fix TextInputAction.continueAction sends wrong action to framework
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngine_Test.h
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPluginTest.mm
Labels: platform-ios, autosubmit

#42634 [labeler] Fix to run on flutter/engine
  .github/workflows/labeler.yml
Labels: autosubmit

#42631 Roll Fuchsia Linux SDK from sEHtHM1iFt79roP-x... to aMTaMP0DdKdJnxSbc...
  DEPS
Labels: autosubmit

#42632 Roll Fuchsia Mac SDK from ojwVlxZWrbsG4WGSE... to DL1QQ5eZRVNARqLx-...
  DEPS
Labels: autosubmit

#42531 Add global test docs.
  ci/builders/README.md
Labels: autosubmit

#42633 Roll Skia from 773765ca1dd2 to c5a8c4547f59 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#42619 [Impeller] Corrected the 'texture_coords' computation in 'Geometry::GetPositionUVBuffer'
  impeller/aiks/aiks_unittests.cc
  impeller/entity/geometry/fill_path_geometry.cc
  impeller/entity/geometry/geometry.cc
Labels: will affect goldens, impeller, autosubmit

#42641 Roll Skia from c5a8c4547f59 to 156542f8bf13 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#42644 Roll Skia from 156542f8bf13 to 1a3adf848e61 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#42645 Roll Skia from 1a3adf848e61 to 8fdbbca7d35d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#42647 [flutter_releases] Flutter beta 3.12.0-0.0.pre Engine Cherrypicks
  DEPS
Labels: autosubmit

#42622 Benchmarks configurations for engine v2.
  .ci.yaml
  ci/builders/standalone/linux_benchmarks.json
Labels: autosubmit

#42655 Roll Fuchsia Mac SDK from DL1QQ5eZRVNARqLx-... to ukXXOXtI7uRIukzF5...
  DEPS
Labels: autosubmit

#42658 Roll Fuchsia Linux SDK from aMTaMP0DdKdJnxSbc... to lPCv1NshK-tvjtLgC...
  DEPS
Labels: autosubmit

#42662 Roll ANGLE from 05e087658b10 to b5d261ac5c5b (1 revision)
  DEPS
Labels: autosubmit

#42664 [Impeller] sort all vertex inputs by location.
  impeller/renderer/vertex_descriptor.cc
Labels: needs tests, impeller, autosubmit

#42670 Roll ANGLE from b5d261ac5c5b to c49674d1565c (2 revisions)
  DEPS
Labels: autosubmit

#42409 Fix: invalid time-point comparison between each from different clock source
  shell/common/shell_unittests.cc
Labels: autosubmit

#42648 [Linux] composing delta fixes
  shell/platform/linux/fl_text_input_plugin.cc
  shell/platform/linux/fl_text_input_plugin_test.cc
Labels: platform-linux, needs tests, autosubmit

#42676 [Impeller] Specify blend mode on blend filter commands
  impeller/entity/contents/filters/blend_filter_contents.cc
  impeller/entity/contents/filters/blend_filter_contents.h
  impeller/geometry/color.cc
  impeller/geometry/color.h
  impeller/geometry/geometry_unittests.cc
Labels: impeller, autosubmit

#42677 Replace benchmarks with its v2 version.
  .ci.yaml
Labels: autosubmit

#42679 Remove all the uses of master branch in the .ci.yaml file.
  .ci.yaml
Labels: autosubmit

#42682 Document the use of realm in archives.
  ci/builders/README.md
Labels: autosubmit

#42687 [Impeller] Add tests for foreground blends with mask blurs
  impeller/aiks/aiks_unittests.cc
Labels: will affect goldens, impeller, autosubmit

#42689 Roll Fuchsia Mac SDK from ukXXOXtI7uRIukzF5... to romfKfKwgjzAXQSxt...
  DEPS
Labels: autosubmit

#42691 Roll ANGLE from d8339e78db54 to 8a62b4c44fc9 (1 revision)
  DEPS
Labels: autosubmit

#42346 [Linux] Return keyboard pressed state
  shell/platform/linux/fl_key_embedder_responder.cc
  shell/platform/linux/fl_key_embedder_responder.h
  shell/platform/linux/fl_keyboard_manager.cc
  shell/platform/linux/fl_keyboard_manager.h
  shell/platform/linux/fl_keyboard_manager_test.cc
  shell/platform/linux/fl_keyboard_view_delegate.cc
  shell/platform/linux/fl_keyboard_view_delegate.h
  shell/platform/linux/fl_view.cc
  shell/platform/linux/fl_view_private.h
Labels: affects: desktop, platform-linux, autosubmit

#42695 Roll ANGLE from 8a62b4c44fc9 to e9493542672c (1 revision)
  DEPS
Labels: autosubmit

#42697 Roll ANGLE from 980896406d12 to a185cb8c8924 (1 revision)
  DEPS
Labels: autosubmit

#42686 [Impeller] disable buffer to texture blit for Vulkan.
  impeller/renderer/backend/vulkan/capabilities_vk.cc
Labels: needs tests, impeller, autosubmit

#42698 Roll Fuchsia Mac SDK from romfKfKwgjzAXQSxt... to EInl_eQkJekqc-gfW...
  DEPS
Labels: autosubmit

#39208 Platform channel for predictive back
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/io/flutter/embedding/android/FlutterFragment.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/PlatformChannel.java
  shell/platform/android/io/flutter/plugin/platform/PlatformPlugin.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterAndroidComponentTest.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformPluginTest.java
Labels: platform-android

#42625 [Impeller] Makes validation layers flag work for android
  DEPS
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/engine/loader/FlutterLoader.java
  shell/platform/fuchsia/flutter/BUILD.gn
  testing/scenario_app/android/gradle.properties
  tools/gn
  vulkan/config.gni
Labels: platform-android, platform-fuchsia, needs tests

#42685 [Impeller] add explicit VMA flush to device memory writes.
  impeller/renderer/backend/vulkan/allocator_vk.cc
  impeller/renderer/backend/vulkan/device_buffer_vk.cc
Labels: needs tests, impeller, autosubmit

#42692 [Impeller] Add CPU implementations for all color filters
  impeller/aiks/paint.cc
  impeller/display_list/dl_dispatcher.cc
  impeller/entity/contents/filters/filter_contents.h
  impeller/entity/entity_unittests.cc
  impeller/geometry/color.cc
  impeller/geometry/color.h
  impeller/geometry/geometry_unittests.cc
  impeller/geometry/gradient.cc
Labels: impeller

#42701 Roll ANGLE from a185cb8c8924 to 3e4f4caebcb0 (2 revisions)
  DEPS
Labels: autosubmit

#42669 [Impeller] Reland: Added a switch to turn on vulkan
  common/settings.h
  shell/common/switches.cc
  shell/common/switches.h
  shell/platform/android/android_context_gl_impeller.cc
  shell/platform/android/android_context_vulkan_impeller.cc
  shell/platform/android/io/flutter/embedding/engine/loader/FlutterLoader.java
  shell/platform/android/platform_view_android.cc
Labels: platform-android, needs tests, autosubmit

#42703 Roll ANGLE from 3e4f4caebcb0 to 72df42832ee4 (2 revisions)
  DEPS
Labels: autosubmit

#42707 Roll Fuchsia Linux SDK from xqQPG9jnWgD1Dj3FL... to 1ODZdNPvGxBrgnCzf...
  DEPS
Labels: autosubmit
