Repository flutter/engine, pull requests merged in 2023-07, with the labels that each got.

#43355 Roll Skia from 2d05e3ec6b67 to ceaeef84b8a3 (1 revision)
  DEPS
Labels: autosubmit

#43342 [Impeller] Add explicit color filter types to Aiks.
  ci/licenses_golden/licenses_flutter
  impeller/aiks/BUILD.gn
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/color_filter.cc
  impeller/aiks/color_filter.h
  impeller/aiks/color_source.cc
  impeller/aiks/paint.cc
  impeller/aiks/paint.h
  impeller/display_list/dl_dispatcher.cc
Labels: will affect goldens, impeller

#43370 Roll Skia from ceaeef84b8a3 to dbf0829114ee (15 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43348 [Impeller] Remove blend mode restrictions on clear color optimization
  impeller/aiks/aiks_unittests.cc
  impeller/entity/contents/contents.cc
  impeller/entity/contents/contents.h
  impeller/entity/contents/solid_color_contents.cc
  impeller/entity/entity.cc
  impeller/entity/entity.h
  impeller/entity/entity_pass.cc
  impeller/entity/geometry/geometry.cc
  impeller/entity/geometry/geometry.h
Labels: will affect goldens, impeller

#43381 Roll Skia from dbf0829114ee to 384b84445a9f (2 revisions)
  DEPS
Labels: autosubmit

#43382 Roll Skia from 384b84445a9f to e16d5b988a36 (1 revision)
  DEPS
Labels: autosubmit

#43383 Roll Skia from e16d5b988a36 to 94ad507b8959 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43385 Roll Skia from 94ad507b8959 to 6a5ea15c942b (1 revision)
  DEPS
Labels: autosubmit

#43374 Roll Dart SDK from dedff8f0ebd2 to c092e09b7e64 (1 revision)
  DEPS
Labels: autosubmit

#43373 Roll Fuchsia Mac SDK from cytps4RRhs8-wbcVJ... to GNWxBcnfjZlyaOw34...
  DEPS
Labels: autosubmit

#43386 Roll Skia from 6a5ea15c942b to 4abc43e2ffcc (1 revision)
  DEPS
Labels: autosubmit

#43389 [Impeller] Document `impeller::Context`.
  impeller/renderer/context.h
Labels: impeller, autosubmit

#43393 Roll Skia from 4abc43e2ffcc to 85a3fda32850 (1 revision)
  DEPS
Labels: autosubmit

#43399 Roll Skia from 85a3fda32850 to bb18c9b1f730 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43400 Roll Dart SDK from 604ccea2f5b9 to e58e3bd3b507 (1 revision)
  DEPS
Labels: autosubmit

#43401 Roll Skia from bb18c9b1f730 to eaca275ef1c0 (1 revision)
  DEPS
Labels: autosubmit

#43402 Roll Fuchsia Mac SDK from GNWxBcnfjZlyaOw34... to 8-taK-r4HkgVAIGtU...
  DEPS
Labels: autosubmit

#43403 Roll Dart SDK from e58e3bd3b507 to d128bd4977a7 (1 revision)
  DEPS
Labels: autosubmit

#43405 Roll Skia from eaca275ef1c0 to faf906db84ab (1 revision)
  DEPS
Labels: autosubmit

#43409 Roll Fuchsia Mac SDK from 8-taK-r4HkgVAIGtU... to 8YulTHvG-Jg3Sof-S...
  DEPS
Labels: autosubmit

#43410 Roll Dart SDK from c89f5ac4fd46 to f7c242ded366 (1 revision)
  DEPS
Labels: autosubmit

#43412 Roll Skia from faf906db84ab to a453fed07c91 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43413 Roll Skia from a453fed07c91 to d58324bf653d (1 revision)
  DEPS
Labels: autosubmit

#43414 Roll Dart SDK from f7c242ded366 to e193587883d6 (1 revision)
  DEPS
Labels: autosubmit

#43415 Roll Fuchsia Mac SDK from 8YulTHvG-Jg3Sof-S... to C3Q7MJBYkiin8zw-f...
  DEPS
Labels: autosubmit

#43418 Roll Skia from d58324bf653d to 23052eb28808 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43419 Roll Skia from 23052eb28808 to 401c397f7235 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43379 [iOS] Fix FlutterViewController retain cycle
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
Labels: platform-ios, autosubmit

#43368 [Windows] Fix `FlutterWindow::GetNativeViewAccessible` crash
  shell/platform/windows/flutter_window.cc
  shell/platform/windows/flutter_window_unittests.cc
Labels: platform-windows, autosubmit

#43420 Roll Skia from 401c397f7235 to e0b9e047332d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43150 [iOS] Avoid crash when backdrop filter is null for PlatformViews
  flow/layers/backdrop_filter_layer.cc
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios/AppDelegate.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/GoldenTestManager.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/PlatformViewUITests.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_with_negative_backdrop_filter_iPhone SE (3rd generation)_16.2_simulator.png
  testing/scenario_app/lib/src/platform_view.dart
  testing/scenario_app/lib/src/scenarios.dart
Labels: autosubmit

#43424 Roll Skia from e0b9e047332d to d6e941012b87 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43427 Roll Skia from d6e941012b87 to a39421eb8d7b (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43313 [Impeller] Allocate fewer textures in dedicated memory and adjust buffer flags.
  ci/licenses_golden/licenses_flutter
  impeller/core/device_buffer.cc
  impeller/core/device_buffer.h
  impeller/renderer/backend/vulkan/BUILD.gn
  impeller/renderer/backend/vulkan/allocator_vk.cc
  impeller/renderer/backend/vulkan/device_buffer_vk.cc
  impeller/renderer/backend/vulkan/device_buffer_vk.h
  impeller/renderer/backend/vulkan/limits_vk.h
  lib/ui/painting/image_decoder_impeller.cc
Labels: needs tests, impeller, autosubmit

#43431 Roll Skia from a39421eb8d7b to 8ed969b60e98 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43432 Roll Fuchsia Linux SDK from iwgWLB4KaXslnaGwK... to amH2MWTworhTLdMWy...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#43433 Roll Fuchsia Mac SDK from C3Q7MJBYkiin8zw-f... to uGhka7LBG80dM_I3a...
  DEPS
Labels: autosubmit

#43378 Fix typo in painting.dart
  lib/ui/painting.dart
Labels: autosubmit

#43435 Roll Skia from 8ed969b60e98 to 50e866b51a64 (1 revision)
  DEPS
Labels: autosubmit

#43436 Roll Skia from 50e866b51a64 to b2ba6e1d8c0e (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43437 Roll Skia from b2ba6e1d8c0e to 620de5ac9f6b (2 revisions)
  DEPS
Labels: will affect goldens, autosubmit

#43341 Use Windows Display Language
  ci/licenses_golden/licenses_flutter
  shell/platform/windows/BUILD.gn
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_engine.h
  shell/platform/windows/system_utils.cc
  shell/platform/windows/system_utils.h
  shell/platform/windows/system_utils_unittests.cc
  shell/platform/windows/testing/mock_windows_proc_table.h
  shell/platform/windows/windows_proc_table.cc
  shell/platform/windows/windows_proc_table.h
  shell/platform/windows/windows_registry.cc
  shell/platform/windows/windows_registry.h
Labels: affects: desktop, platform-windows, needs tests

#43438 Roll Fuchsia Linux SDK from amH2MWTworhTLdMWy... to MEXi9Xyj7u24PSx_J...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#43439 Roll Fuchsia Mac SDK from uGhka7LBG80dM_I3a... to 3D0ft09qP4-Hp_3mQ...
  DEPS
Labels: autosubmit

#43429 Release log capture at end of test
  fml/logging.cc
  fml/logging.h
  shell/common/shell_unittests.cc
Labels: autosubmit

#43422 Revert "[iOS][Keyboard] Wait vsync on UI thread and update viewport inset to avoid jitter."
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest_mrc.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController_Internal.h
Labels: platform-ios, autosubmit

#43441 Roll Skia from 620de5ac9f6b to 6aaef9cbc3af (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43444 Roll Skia from 6aaef9cbc3af to 10a43e57e0a6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43308 Add Look Up to iOS selection controls
  shell/platform/darwin/ios/framework/Source/FlutterPlatformPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformPluginTest.mm
Labels: platform-ios, autosubmit

#43442 Handle nested display list clips in Impeller dispatcher
  impeller/display_list/dl_dispatcher.cc
  impeller/display_list/dl_unittests.cc
Labels: impeller, autosubmit

#43179 [macOS] Fix assertion typo
  shell/platform/darwin/macos/framework/Source/FlutterViewController.mm
Labels: platform-macos, needs tests, autosubmit

#43359 Remove dead code for recreating a11y node delegates
  shell/platform/common/accessibility_bridge.cc
  shell/platform/common/accessibility_bridge.h
  shell/platform/common/accessibility_bridge_unittests.cc
  shell/platform/common/test_accessibility_bridge.h
  shell/platform/darwin/macos/framework/Source/AccessibilityBridgeMac.h
  shell/platform/darwin/macos/framework/Source/AccessibilityBridgeMac.mm
Labels: platform-macos

#43445 Roll Skia from 10a43e57e0a6 to 072dfcc435de (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43423 Eagerly remove the PlatformView from the view hierarchy on Android
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
Labels: platform-android, needs tests

#43446 [Impeller] Fix DrawPicture.
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/canvas.cc
  impeller/aiks/canvas.h
  impeller/entity/entity_pass.cc
  impeller/entity/entity_pass.h
Labels: will affect goldens, e: impeller, autosubmit

#43450 Account for updated Impeller label.
  .github/labeler.yml
Labels: e: impeller, autosubmit

#43451 Roll Skia from 072dfcc435de to 11a2eefe4c61 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43454 Roll Fuchsia Linux SDK from MEXi9Xyj7u24PSx_J... to Cfxhimvf7nMO99ky_...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#43453 [Impeller] Duplicate include removal from lazy_glyph_atlas.cc.
  impeller/typographer/lazy_glyph_atlas.cc
Labels: needs tests, e: impeller, autosubmit

#43456 Roll Skia from 11a2eefe4c61 to 57dc2a31bf26 (1 revision)
  DEPS
Labels: autosubmit

#43459 Roll Skia from 57dc2a31bf26 to adf5b9c27c33 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43462 Roll Skia from adf5b9c27c33 to 7a3a89fadc25 (1 revision)
  DEPS
Labels: autosubmit

#43464 Roll Skia from 7a3a89fadc25 to 5eba922297bb (1 revision)
  DEPS
Labels: autosubmit

#43471 Roll Skia from 5eba922297bb to 93c92f97f5ab (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43475 Roll Fuchsia Linux SDK from Cfxhimvf7nMO99ky_... to vee6hAD_43mq_4FS7...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#43478 Roll Skia from 93c92f97f5ab to 2885452c3fb1 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43481 Roll Fuchsia Mac SDK from MPy31yjgPV-d_YJq0... to 8YPOimmJgaAd5SlAT...
  DEPS
Labels: autosubmit

#43461 [fuchsia] Fix tests; remove fuchsia dart SDK deps
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_flutter
  shell/platform/fuchsia/BUILD.gn
  shell/platform/fuchsia/dart-pkg/zircon/BUILD.gn
  shell/platform/fuchsia/dart-pkg/zircon/test/BUILD.gn
  shell/platform/fuchsia/dart-pkg/zircon/test/channel_test.dart
  shell/platform/fuchsia/dart-pkg/zircon/test/eventpair_test.dart
  shell/platform/fuchsia/dart-pkg/zircon/test/handle_disposition_test.dart
  shell/platform/fuchsia/dart-pkg/zircon/test/handle_test.dart
  shell/platform/fuchsia/dart-pkg/zircon/test/meta/channel_test.cml
  shell/platform/fuchsia/dart-pkg/zircon/test/meta/zircon_tests.cml
  shell/platform/fuchsia/dart-pkg/zircon/test/socket_test.dart
  shell/platform/fuchsia/dart-pkg/zircon/test/vmo_test.dart
  shell/platform/fuchsia/dart-pkg/zircon/test/zircon_tests.dart
  shell/platform/fuchsia/dart/BUILD.gn
  shell/platform/fuchsia/dart_runner/BUILD.gn
  shell/platform/fuchsia/dart_runner/dart_component_controller.cc
  shell/platform/fuchsia/dart_runner/dart_component_controller.h
  shell/platform/fuchsia/dart_runner/embedder/builtin.dart
  shell/platform/fuchsia/dart_runner/fidl/BUILD.gn
  shell/platform/fuchsia/dart_runner/fidl/echo.fidl
  shell/platform/fuchsia/dart_runner/fidl/meta.json
  shell/platform/fuchsia/dart_runner/tests/fidl/flutter.example.echo/README.md
  shell/platform/fuchsia/dart_runner/tests/fidl/flutter.example.echo/meta.json
  shell/platform/fuchsia/dart_runner/tests/startup_integration_test/dart_aot_runner/BUILD.gn
  shell/platform/fuchsia/dart_runner/tests/startup_integration_test/dart_aot_runner/README.md
  shell/platform/fuchsia/dart_runner/tests/startup_integration_test/dart_aot_runner/dart-aot-runner-integration-test.cc
  shell/platform/fuchsia/dart_runner/tests/startup_integration_test/dart_echo_server/BUILD.gn
  shell/platform/fuchsia/dart_runner/tests/startup_integration_test/dart_echo_server/main.dart
  shell/platform/fuchsia/dart_runner/tests/startup_integration_test/dart_echo_server/meta/dart-aot-echo-server.cml
  shell/platform/fuchsia/dart_runner/tests/startup_integration_test/dart_echo_server/meta/dart-jit-echo-server.cml
  shell/platform/fuchsia/dart_runner/tests/startup_integration_test/dart_jit_runner/BUILD.gn
  shell/platform/fuchsia/dart_runner/tests/startup_integration_test/dart_jit_runner/README.md
  shell/platform/fuchsia/dart_runner/tests/startup_integration_test/dart_jit_runner/dart-jit-runner-integration-test.cc
  shell/platform/fuchsia/flutter/tests/integration/embedder/parent-view/BUILD.gn
  shell/platform/fuchsia/flutter/tests/integration/embedder/parent-view/lib/parent_view.dart
  shell/platform/fuchsia/flutter/tests/integration/mouse-input/README.md
  shell/platform/fuchsia/flutter/tests/integration/mouse-input/mouse-input-view/BUILD.gn
  shell/platform/fuchsia/flutter/tests/integration/mouse-input/mouse-input-view/lib/mouse-input-view.dart
  shell/platform/fuchsia/flutter/tests/integration/touch-input/README.md
  shell/platform/fuchsia/flutter/tests/integration/touch-input/embedding-flutter-view/BUILD.gn
  shell/platform/fuchsia/flutter/tests/integration/touch-input/embedding-flutter-view/lib/embedding-flutter-view.dart
  shell/platform/fuchsia/flutter/tests/integration/touch-input/touch-input-view/BUILD.gn
  shell/platform/fuchsia/flutter/tests/integration/touch-input/touch-input-view/lib/touch-input-view.dart
  testing/fuchsia/test_suites.yaml
  tools/fuchsia/devshell/build_and_copy_to_fuchsia.sh
  tools/fuchsia/devshell/run_integration_test.sh
  tools/fuchsia/devshell/run_unit_tests.sh
Labels: platform-fuchsia

#43482 Roll Skia from 2885452c3fb1 to 6d733caa0d3f (1 revision)
  DEPS
Labels: will affect goldens, autosubmit

#43483 Remove unused autosubmit configuration file
  .github/autosubmit.yml
Labels: autosubmit

#43364 Rename default views to implicit views
  runtime/runtime_controller.cc
  shell/platform/darwin/macos/framework/Headers/FlutterPluginRegistrarMacOS.h
  shell/platform/darwin/macos/framework/Source/FlutterCompositor.mm
  shell/platform/darwin/macos/framework/Source/FlutterCompositorTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/macos/framework/Source/FlutterView.h
  shell/platform/darwin/macos/framework/Source/FlutterViewEngineProviderTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewTest.mm
Labels: platform-macos

#43366 Make updating window metrics multi-view
  lib/ui/window/platform_configuration.cc
  lib/ui/window/platform_configuration.h
  lib/ui/window/platform_configuration_unittests.cc
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  shell/common/engine.cc
  shell/common/engine.h
  shell/common/engine_unittests.cc
  shell/common/platform_view.cc
  shell/common/platform_view.h
  shell/common/shell.cc
  shell/common/shell.h
  shell/common/shell_test.cc
  shell/common/shell_unittests.cc
  shell/platform/android/platform_view_android_jni_impl.cc
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEnginePlatformViewTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_test.mm
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder_engine.cc
  shell/platform/embedder/embedder_engine.h
  shell/platform/embedder/platform_view_embedder_unittests.cc
  shell/platform/fuchsia/flutter/flatland_platform_view.cc
  shell/platform/fuchsia/flutter/gfx_platform_view.cc
  shell/platform/fuchsia/flutter/platform_view_unittest.cc
  shell/platform/fuchsia/flutter/tests/flatland_platform_view_unittest.cc
  shell/testing/tester_main.cc
Labels: platform-ios, platform-android, platform-fuchsia, autosubmit

#43486 Roll Fuchsia Linux SDK from vee6hAD_43mq_4FS7... to Q4Oq8NRW2yeBrgy4b...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#43489 Roll Skia from 6d733caa0d3f to 05ce4af04609 (1 revision)
  DEPS
Labels: autosubmit

#43485 [Impeller] Check for a null command buffer in InlinePassContext::EndPass
  impeller/entity/inline_pass_context.cc
Labels: needs tests, e: impeller

#43490 Roll Fuchsia Mac SDK from 8YPOimmJgaAd5SlAT... to TSpkNWkgR0F7xl8q5...
  DEPS
Labels: autosubmit

#43494 Roll Fuchsia Mac SDK from TSpkNWkgR0F7xl8q5... to UKVzvetd5M4SA_ufb...
  DEPS
Labels: autosubmit

#43495 Roll Fuchsia Linux SDK from 8X61T1htYuHQtWtFv... to E9CEA-wZJ9VgSP80c...
  DEPS
Labels: autosubmit

#43496 Roll Skia from 05ce4af04609 to ab7f95f52ea6 (1 revision)
  DEPS
Labels: autosubmit

#43497 Roll Fuchsia Mac SDK from UKVzvetd5M4SA_ufb... to aQqgcKf1EwSoRWDet...
  DEPS
Labels: autosubmit

#43498 Roll Fuchsia Linux SDK from E9CEA-wZJ9VgSP80c... to eRSQn0XKuI7byK2i_...
  DEPS
Labels: autosubmit

#42555 [linux] Allow overriding aot_library_path
  shell/platform/linux/fl_dart_project.cc
  shell/platform/linux/fl_dart_project_test.cc
  shell/platform/linux/public/flutter_linux/fl_dart_project.h
Labels: affects: desktop, platform-linux

#43504 Roll Skia from ab7f95f52ea6 to a72649f13420 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43505 Roll Skia from a72649f13420 to 0a1e7aeb29b5 (1 revision)
  DEPS
Labels: autosubmit

#41827 Fix leak when switching channels
  shell/platform/linux/fl_method_channel.cc
Labels: affects: desktop, platform-linux, needs tests

#43508 Roll Fuchsia Mac SDK from aQqgcKf1EwSoRWDet... to raXixVs2pKxD9ZasB...
  DEPS
Labels: autosubmit

#43509 Roll Skia from 0a1e7aeb29b5 to cf3f3d048122 (1 revision)
  DEPS
Labels: autosubmit

#43510 Roll Fuchsia Linux SDK from eRSQn0XKuI7byK2i_... to 4fmJ_PQoaE2L9vdx0...
  DEPS
Labels: autosubmit

#43511 Roll Skia from cf3f3d048122 to 17686918fa1f (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43513 Roll Skia from 17686918fa1f to 1c9e2588b577 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43463 [iOS][Keyboard] Reland wait vsync on UI thread and update viewport inset to avoid jitter
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest_mrc.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController_Internal.h
Labels: platform-ios, autosubmit

#43514 Roll Skia from 1c9e2588b577 to 320f01ac1de7 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43515 Roll Skia from 320f01ac1de7 to 7e45a9fbca5f (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43517 Roll Skia from 7e45a9fbca5f to 03e689a0fa32 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: will affect goldens, autosubmit

#43469 Handle nested display list clips in Impeller dispatcher (#43442)
  impeller/display_list/display_list_dispatcher.cc
  impeller/display_list/display_list_unittests.cc
Labels: autosubmit

#43395 Use better method of ensuring that *_get_type() functions are exported
  shell/platform/linux/fl_basic_message_channel.cc
  shell/platform/linux/fl_binary_messenger.cc
  shell/platform/linux/fl_event_channel.cc
  shell/platform/linux/fl_message_codec.cc
  shell/platform/linux/fl_method_channel.cc
  shell/platform/linux/fl_method_codec.cc
  shell/platform/linux/fl_method_response.cc
  shell/platform/linux/fl_pixel_buffer_texture.cc
  shell/platform/linux/fl_plugin_registrar.cc
  shell/platform/linux/fl_plugin_registry.cc
  shell/platform/linux/fl_texture.cc
  shell/platform/linux/fl_texture_gl.cc
  shell/platform/linux/public/flutter_linux/fl_basic_message_channel.h
  shell/platform/linux/public/flutter_linux/fl_binary_codec.h
  shell/platform/linux/public/flutter_linux/fl_binary_messenger.h
  shell/platform/linux/public/flutter_linux/fl_dart_project.h
  shell/platform/linux/public/flutter_linux/fl_engine.h
  shell/platform/linux/public/flutter_linux/fl_event_channel.h
  shell/platform/linux/public/flutter_linux/fl_json_message_codec.h
  shell/platform/linux/public/flutter_linux/fl_json_method_codec.h
  shell/platform/linux/public/flutter_linux/fl_message_codec.h
  shell/platform/linux/public/flutter_linux/fl_method_call.h
  shell/platform/linux/public/flutter_linux/fl_method_channel.h
  shell/platform/linux/public/flutter_linux/fl_method_codec.h
  shell/platform/linux/public/flutter_linux/fl_method_response.h
  shell/platform/linux/public/flutter_linux/fl_pixel_buffer_texture.h
  shell/platform/linux/public/flutter_linux/fl_plugin_registrar.h
  shell/platform/linux/public/flutter_linux/fl_plugin_registry.h
  shell/platform/linux/public/flutter_linux/fl_standard_message_codec.h
  shell/platform/linux/public/flutter_linux/fl_standard_method_codec.h
  shell/platform/linux/public/flutter_linux/fl_string_codec.h
  shell/platform/linux/public/flutter_linux/fl_texture.h
  shell/platform/linux/public/flutter_linux/fl_texture_gl.h
  shell/platform/linux/public/flutter_linux/fl_texture_registrar.h
  shell/platform/linux/public/flutter_linux/fl_view.h
Labels: platform-linux, needs tests

#43520 Roll Skia from 03e689a0fa32 to c06d7ef5c276 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43493 [Impeller] Don't decompress into device buffer for Vulkan/GLES.
  lib/ui/painting/image_decoder_impeller.cc
  lib/ui/painting/image_decoder_impeller.h
  lib/ui/painting/image_decoder_unittests.cc
  lib/ui/painting/multi_frame_codec.cc
Labels: autosubmit

#43521 Roll Skia from c06d7ef5c276 to 89313a8cadab (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43526 Roll Skia from 89313a8cadab to aad8fbb17d69 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43527 [Impeller] Fix Vulkan validation error when there is a blit directed at a swapchain image.
  impeller/renderer/backend/vulkan/allocator_vk.cc
  impeller/renderer/backend/vulkan/swapchain_impl_vk.cc
Labels: e: impeller, autosubmit

#43530 Roll Skia from aad8fbb17d69 to 2db628aa1181 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43532 Roll Fuchsia Mac SDK from raXixVs2pKxD9ZasB... to bb8HXP6JZ60Unjk-W...
  DEPS
Labels: autosubmit

#43537 Roll Skia from 2db628aa1181 to c3d39bed2830 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43538 Roll Fuchsia Linux SDK from 4fmJ_PQoaE2L9vdx0... to cgcxIe8D4wb8hQWCV...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#43539 Roll Skia from c3d39bed2830 to 76daa2a33fa5 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43529 [Impeller] Unconditionally cache swapchain msaa texture.
  impeller/renderer/backend/vulkan/surface_vk.cc
Labels: e: impeller, autosubmit

#43536 Use full 4x4 matrix transforms in TransformLayer
  display_list/utils/dl_matrix_clip_tracker.cc
  display_list/utils/dl_matrix_clip_tracker.h
  flow/diff_context.cc
  flow/diff_context.h
  flow/layers/layer_state_stack.cc
  flow/layers/transform_layer.cc
  flow/layers/transform_layer.h
  flow/layers/transform_layer_unittests.cc
  lib/ui/compositing/scene_builder.cc
  lib/ui/painting/matrix.cc
  lib/ui/painting/matrix.h
Labels: affects: engine, autosubmit

#43541 Roll Skia from 76daa2a33fa5 to bbe71d71e576 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43543 Roll Skia from bbe71d71e576 to d0991c6af2d6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43540 [Impeller] Refactor barriers and add documentation.
  ci/licenses_golden/licenses_flutter
  impeller/renderer/backend/vulkan/BUILD.gn
  impeller/renderer/backend/vulkan/barrier_vk.cc
  impeller/renderer/backend/vulkan/barrier_vk.h
  impeller/renderer/backend/vulkan/blit_command_vk.cc
  impeller/renderer/backend/vulkan/compute_pass_vk.cc
  impeller/renderer/backend/vulkan/formats_vk.h
  impeller/renderer/backend/vulkan/render_pass_vk.cc
  impeller/renderer/backend/vulkan/swapchain_impl_vk.cc
  impeller/renderer/backend/vulkan/texture_source_vk.cc
  impeller/renderer/backend/vulkan/texture_source_vk.h
  impeller/renderer/backend/vulkan/texture_vk.cc
  impeller/renderer/backend/vulkan/texture_vk.h
Labels: e: impeller, autosubmit

#43544 Roll Skia from d0991c6af2d6 to 6a5c4b0c0fcb (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43533 [Impeller] Improve resolution of text scaling.
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/canvas.cc
  impeller/aiks/canvas.h
  impeller/display_list/dl_dispatcher.cc
  impeller/entity/contents/color_source_text_contents.cc
  impeller/entity/contents/color_source_text_contents.h
  impeller/entity/contents/content_context.h
  impeller/entity/contents/contents.h
  impeller/entity/contents/text_contents.cc
  impeller/entity/contents/text_contents.h
  impeller/entity/entity.cc
  impeller/entity/entity.h
  impeller/entity/entity_pass.cc
  impeller/entity/entity_pass.h
  impeller/entity/entity_unittests.cc
  impeller/typographer/backends/skia/text_frame_skia.cc
  impeller/typographer/backends/skia/text_frame_skia.h
  impeller/typographer/backends/skia/text_render_context_skia.cc
  impeller/typographer/backends/skia/text_render_context_skia.h
  impeller/typographer/font.h
  impeller/typographer/font_glyph_pair.h
  impeller/typographer/lazy_glyph_atlas.cc
  impeller/typographer/lazy_glyph_atlas.h
  impeller/typographer/text_frame.cc
  impeller/typographer/text_frame.h
  impeller/typographer/text_render_context.cc
  impeller/typographer/text_render_context.h
  impeller/typographer/typographer_unittests.cc
Labels: will affect goldens, e: impeller, autosubmit

#43545 Roll Skia from 6a5c4b0c0fcb to 77267bf1e7b3 (1 revision)
  DEPS
Labels: autosubmit

#43548 Roll Skia from 77267bf1e7b3 to eb1cdb6bd87f (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43549 Roll Skia from eb1cdb6bd87f to 5c8ed590d4f3 (1 revision)
  DEPS
Labels: autosubmit

#43542 remove include of SkPicture files from non-Fuchsia sources
  display_list/testing/dl_rendering_unittests.cc
  flow/embedded_views.h
  flow/frame_timings_recorder_unittests.cc
  flow/layers/layer_tree.cc
  flow/raster_cache_unittests.cc
  flow/testing/diff_context_test.h
  shell/common/shell_test_external_view_embedder.h
  shell/platform/android/external_view_embedder/external_view_embedder.h
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
Labels: platform-ios, platform-android, autosubmit

#43552 Roll Fuchsia Mac SDK from bb8HXP6JZ60Unjk-W... to qVHNy9nU6cQKtR_IB...
  DEPS
Labels: autosubmit

#43553 Roll Fuchsia Linux SDK from cgcxIe8D4wb8hQWCV... to EnRnFf_eyS6SGqpHi...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#43555 Roll Skia from aba52937c5a2 to a788eeaa7ab6 (1 revision)
  DEPS
Labels: autosubmit

#43556 Roll Skia from a788eeaa7ab6 to 1f4ddedd7872 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43522 [CP][iOS][Keyboard] Fix crash when FlutterEngine destroys at the same time with keyboard animation vsync callback
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
Labels: platform-ios, autosubmit

#43525 [CP] Check for a null command buffer in InlinePassContext::EndPass
  impeller/entity/inline_pass_context.cc
Labels: autosubmit, impeller

#43523 [iOS] Fix FlutterViewController retain cycle (#43379)
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
Labels: platform-ios, autosubmit

#43557 Roll Skia from 1f4ddedd7872 to 68bcc4470230 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43550 [fuchsia] Remove FIDL dart references
  shell/platform/fuchsia/flutter/tests/integration/embedder/parent-view/BUILD.gn
  tools/fuchsia/dart/fidl_dart.gni
  tools/fuchsia/fidl/fidl.gni
Labels: platform-fuchsia

#43528 [CP][iOS] Avoid crash when backdrop filter is null for PlatformViews
  flow/layers/backdrop_filter_layer.cc
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios/AppDelegate.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/GoldenTestManager.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/PlatformViewUITests.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_with_negative_backdrop_filter_iPhone SE (3rd generation)_16.2_simulator.png
  testing/scenario_app/lib/src/platform_view.dart
  testing/scenario_app/lib/src/scenarios.dart
Labels: autosubmit

#43560 Delete unused display list/SkPicture code
  flow/compositor_context.cc
  flow/compositor_context.h
  flow/embedded_views.h
  flow/layers/layer.h
  flow/layers/layer_tree.cc
  flow/layers/layer_tree_unittests.cc
  flow/layers/platform_view_layer.cc
  flow/surface_frame.cc
  flow/surface_frame.h
  shell/common/rasterizer.cc
Labels: autosubmit

#43534 Handle nested display list clips in Impeller dispatcher (#43442)
  impeller/display_list/dl_dispatcher.cc
  impeller/display_list/dl_unittests.cc
Labels: autosubmit, impeller

#43563 [flutter_releases] Flutter beta 3.13.0-0.1.pre Engine Cherrypicks
  DEPS
Labels: autosubmit

#43519 [Impeller] Apply color filters on the CPU for solid colors & gradients.
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/color_filter.cc
  impeller/aiks/color_filter.h
  impeller/aiks/color_source.cc
  impeller/aiks/paint.cc
  impeller/compiler/shader_lib/impeller/texture.glsl
  impeller/display_list/dl_dispatcher.cc
  impeller/entity/contents/conical_gradient_contents.cc
  impeller/entity/contents/conical_gradient_contents.h
  impeller/entity/contents/contents.cc
  impeller/entity/contents/contents.h
  impeller/entity/contents/linear_gradient_contents.cc
  impeller/entity/contents/linear_gradient_contents.h
  impeller/entity/contents/radial_gradient_contents.cc
  impeller/entity/contents/radial_gradient_contents.h
  impeller/entity/contents/solid_color_contents.cc
  impeller/entity/contents/solid_color_contents.h
  impeller/entity/contents/sweep_gradient_contents.cc
  impeller/entity/contents/sweep_gradient_contents.h
  impeller/entity/shaders/conical_gradient_fill.frag
  impeller/entity/shaders/conical_gradient_ssbo_fill.frag
  impeller/entity/shaders/linear_gradient_fill.frag
  impeller/entity/shaders/linear_gradient_ssbo_fill.frag
  impeller/entity/shaders/radial_gradient_fill.frag
  impeller/entity/shaders/radial_gradient_ssbo_fill.frag
  impeller/entity/shaders/sweep_gradient_fill.frag
  impeller/entity/shaders/sweep_gradient_ssbo_fill.frag
  impeller/tools/malioc.json
Labels: will affect goldens, e: impeller

#43566 Remove stray semicolons from embedded_views.cc
  flow/embedded_views.cc
Labels: autosubmit

#43568 Roll Skia from 68bcc4470230 to 47a37395ee40 (12 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43567 [fuchsia][cml] Mark Tracing as Optional
  shell/platform/fuchsia/dart_runner/meta/common.shard.cml
  shell/platform/fuchsia/flutter/meta/common.shard.cml
Labels: platform-fuchsia, autosubmit

#43569 Roll Skia from 47a37395ee40 to d2051446ee6b (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43570 [Impeller] Fix WRITE_AFTER_WRITE hazard in ColorWheel/Vulkan.
  impeller/renderer/backend/vulkan/blit_command_vk.cc
Labels: e: impeller, autosubmit

#43572 Roll Skia from d2051446ee6b to 2998197ce4ca (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43473 Run linux_unopt on a machine with more cores
  ci/builders/linux_unopt.json
  testing/run_all_unittests.cc
Labels: autosubmit

#43577 Roll Skia from 2998197ce4ca to c769464a8b79 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43574 Release the mutex in the CanCreateConcurrentMessageLoop test before waking the latch
  fml/message_loop_unittests.cc
Labels: autosubmit

#43580 Roll Fuchsia Mac SDK from qVHNy9nU6cQKtR_IB... to LV7zVdnjfEPukVG8L...
  DEPS
Labels: autosubmit

#43582 Roll Skia from c769464a8b79 to d0ecba6d753c (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43583 Roll Fuchsia Linux SDK from EnRnFf_eyS6SGqpHi... to zTuZjXzI3bqscWmeo...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#43579 [Impeller] Create a resource manager that batch deallocates resources on a dedicated thread.
  ci/licenses_golden/licenses_flutter
  impeller/renderer/backend/vulkan/BUILD.gn
  impeller/renderer/backend/vulkan/allocator_vk.cc
  impeller/renderer/backend/vulkan/context_vk.cc
  impeller/renderer/backend/vulkan/context_vk.h
  impeller/renderer/backend/vulkan/device_buffer_vk.cc
  impeller/renderer/backend/vulkan/device_buffer_vk.h
  impeller/renderer/backend/vulkan/resource_manager_vk.cc
  impeller/renderer/backend/vulkan/resource_manager_vk.h
Labels: e: impeller, autosubmit

#43575 [Impeller] Remove un-actionable info log about validations.
  impeller/renderer/backend/vulkan/capabilities_vk.cc
Labels: e: impeller, autosubmit

#43585 Roll Skia from d0ecba6d753c to 7b0d85cff28a (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43586 Roll Skia from 7b0d85cff28a to 33cfa4fc2aeb (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43591 Roll Skia from 33cfa4fc2aeb to af2a829258a0 (1 revision)
  DEPS
Labels: autosubmit

#43590 [Impeller] Document ColorSourceContents
  impeller/aiks/color_source.cc
  impeller/entity/contents/color_source_contents.cc
  impeller/entity/contents/color_source_contents.h
  impeller/entity/contents/color_source_text_contents.cc
  impeller/entity/contents/conical_gradient_contents.cc
  impeller/entity/contents/contents.h
  impeller/entity/contents/linear_gradient_contents.cc
  impeller/entity/contents/radial_gradient_contents.cc
  impeller/entity/contents/solid_color_contents.cc
  impeller/entity/contents/sweep_gradient_contents.cc
  impeller/entity/contents/tiled_texture_contents.cc
  impeller/entity/entity_unittests.cc
Labels: e: impeller

#43589 header file cleanup focusing on removing unnecessary SkPicture includes
  display_list/effects/dl_path_effect.h
  display_list/effects/dl_path_effect_unittests.cc
  display_list/image/dl_image.h
  display_list/skia/dl_sk_conversions_unittests.cc
  display_list/testing/dl_test_snippets.h
  flow/layers/display_list_raster_cache_item.h
  flow/layers/layer_tree.h
  flow/raster_cache.cc
  flow/raster_cache.h
  flow/raster_cache_unittests.cc
  flow/testing/mock_raster_cache.h
  lib/ui/compositing/scene.h
  lib/ui/painting/picture.h
  lib/ui/snapshot_delegate.h
  shell/common/engine.h
  shell/common/persistent_cache_unittests.cc
  shell/common/serialization_callbacks.cc
  shell/common/serialization_callbacks.h
  testing/mock_canvas.cc
Labels: affects: engine, autosubmit
