Repository flutter/engine, pull requests merged in 2023-08, with the labels that each got.

#44195 [Impeller] Document the fiddly bits about setting up Metal shader source debugging.
  impeller/docs/assets/read_frame_captures/invalid_uuid.png
  impeller/docs/assets/read_frame_captures/no_sources.png
  impeller/docs/read_frame_captures.md
Labels: e: impeller, autosubmit

#44199 Roll Skia from 2e5f08012a92 to 177897b13a89 (1 revision)
  DEPS
Labels: autosubmit

#44181 [Impeller] Implement, non user-facing, dithering for LinearGradients.
  ci/licenses_golden/licenses_flutter
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/color_source.cc
  impeller/aiks/paint.h
  impeller/compiler/shader_lib/impeller/BUILD.gn
  impeller/compiler/shader_lib/impeller/dithering.glsl
  impeller/display_list/dl_dispatcher.cc
  impeller/entity/contents/linear_gradient_contents.cc
  impeller/entity/contents/linear_gradient_contents.h
  impeller/entity/shaders/linear_gradient_ssbo_fill.frag
  impeller/tools/malioc.json
Labels: will affect goldens, e: impeller, autosubmit

#44203 Manual roll Dart SDK from a58ca112af1c to aca45d2e133c (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#44208 Roll Fuchsia Linux SDK from wIpcCOc0TtDYasQbl... to lwCo6le6r0X-Srvx3...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#44210 Roll Fuchsia Mac SDK from Dd4To9QyMtoPGPIpl... to g0dgOL2IlZQJCK4El...
  DEPS
Labels: autosubmit

#44211 Roll ANGLE from 6dc0c9d62755 to b53d99d87e6a (1 revision)
  DEPS
Labels: autosubmit

#44213 Roll Skia from 177897b13a89 to c74c10128334 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44214 Roll Skia from c74c10128334 to bddb07184f88 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44215 Roll Skia from bddb07184f88 to 45290179e017 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44216 Roll Skia from 45290179e017 to a7a3646c2c8a (1 revision)
  DEPS
Labels: autosubmit

#44217 Roll Dart SDK from 45405dd4ea87 to 197fc0d7fea2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#44172 [Impeller] moved to one staging buffer pool
  impeller/renderer/backend/vulkan/allocator_vk.cc
  impeller/renderer/backend/vulkan/allocator_vk.h
Labels: e: impeller

#44192 [Impeller] Made the clear optimization handle backdrop filters.
  impeller/aiks/aiks_unittests.cc
  impeller/entity/entity_pass.cc
Labels: will affect goldens, e: impeller, autosubmit

#44220 Manual clang roll to ebd0b8a0472b865b7eb6e1a32af97ae31d829033
  DEPS
Labels: autosubmit

#44081 [Impeller] Started using a pool for HostBuffers.
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_flutter
  impeller/base/allocation.cc
  impeller/core/host_buffer.cc
  impeller/core/host_buffer.h
  impeller/renderer/BUILD.gn
  impeller/renderer/context.h
  impeller/renderer/pool.h
  impeller/renderer/pool_unittests.cc
  impeller/renderer/render_pass.cc
Labels: e: impeller

#43449 [iOS] Add darwin_extension_safe flag and use UIScene api when building for extensions
  ci/builders/mac_unopt.json
  common/config.gni
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngine_Test.h
  shell/platform/darwin/ios/framework/Source/FlutterPlatformPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformPluginTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
  tools/gn
Labels: platform-ios, autosubmit

#44224 Roll Clang from ebd0b8a0472b to 07c592048780
  DEPS
Labels: autosubmit

#44226 Roll Skia from a7a3646c2c8a to d53f7b880651 (6 revisions)
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44223 Made the licenses script output all problems
  ci/licenses.sh
Labels: autosubmit

#44175 Remove extends JSTypedArray from JSUint8Array1
  lib/web_ui/lib/src/engine/canvaskit/image.dart
  lib/web_ui/lib/src/engine/js_interop/js_typed_data.dart
Labels: platform-web

#44229 Roll Skia from d53f7b880651 to 58c031441cbb (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44230 Roll Fuchsia Linux SDK from lwCo6le6r0X-Srvx3... to KPSWBhOvG6piddBQG...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#44231 Roll ANGLE from b53d99d87e6a to 5d4b3645d0dc (1 revision)
  DEPS
Labels: autosubmit

#44234 Roll Skia from 58c031441cbb to 18cf818e044f (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44236 Roll Skia from 18cf818e044f to 4deae93198f9 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44188 [web:a11y] add platform view role
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/platform_views/content_manager.dart
  lib/web_ui/lib/src/engine/platform_views/slots.dart
  lib/web_ui/lib/src/engine/semantics.dart
  lib/web_ui/lib/src/engine/semantics/platform_view.dart
  lib/web_ui/lib/src/engine/semantics/semantics.dart
  lib/web_ui/test/engine/platform_views/content_manager_test.dart
  lib/web_ui/test/engine/platform_views/slots_test.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
  lib/web_ui/test/engine/semantics/semantics_tester.dart
Labels: platform-web, autosubmit

#44237 Roll Dart SDK from 197fc0d7fea2 to 7c03426705da (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#43361 [canvaskit] Enable CanvasKit to compute tight SkPicture bounds
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/embedded_views.dart
  lib/web_ui/lib/src/engine/canvaskit/layer.dart
  lib/web_ui/lib/src/engine/canvaskit/layer_tree.dart
  lib/web_ui/lib/src/engine/canvaskit/picture.dart
  lib/web_ui/lib/src/engine/canvaskit/picture_recorder.dart
  lib/web_ui/lib/src/engine/canvaskit/rasterizer.dart
  lib/web_ui/test/canvaskit/canvaskit_api_test.dart
  lib/web_ui/test/canvaskit/picture_test.dart
Labels: platform-web, will affect goldens

#44240 Roll Skia from 4deae93198f9 to 6cb888889ad8 (1 revision)
  DEPS
Labels: autosubmit

#44243 Roll Dart SDK from 7c03426705da to 8ff03ebf7eaa (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#44241 [Impeller] Give a fixed timeout for acquireNextImageKHR.
  impeller/renderer/backend/vulkan/swapchain_impl_vk.cc
Labels: e: impeller, autosubmit

#44249 Roll Skia from 6cb888889ad8 to 6087a5224c6f (1 revision)
  DEPS
Labels: autosubmit

#44250 Roll Skia from 6087a5224c6f to 6807d8b8a9d3 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44252 Roll ANGLE from 5d4b3645d0dc to a21631c02e45 (1 revision)
  DEPS
Labels: autosubmit

#44255 Roll Skia from 6807d8b8a9d3 to 1c0bba7c1053 (1 revision)
  DEPS
Labels: autosubmit

#44256 Roll ANGLE from a21631c02e45 to 11cef17b53ac (1 revision)
  DEPS
Labels: autosubmit

#44258 Roll Fuchsia Mac SDK from 3JSF6hXLRdAK1wUN1... to Hx7ap5qcoqRIknnnG...
  DEPS
Labels: autosubmit

#44259 Roll Dart SDK from 8ff03ebf7eaa to afbaf4216fc8 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#44260 Roll Skia from 1c0bba7c1053 to c6577d328585 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44264 Roll Skia from c6577d328585 to 6009cc6d7d80 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44262 Revert "[Impeller] Support for rendering Android Platform Views into a HardwareBuffer backed texture."
  ci/licenses_golden/licenses_flutter
  impeller/toolkit/egl/BUILD.gn
  impeller/toolkit/egl/egl.h
  impeller/toolkit/egl/image.cc
  impeller/toolkit/egl/image.h
  impeller/toolkit/gles/BUILD.gn
  impeller/toolkit/gles/gles.h
  impeller/toolkit/gles/texture.cc
  impeller/toolkit/gles/texture.h
  shell/platform/android/BUILD.gn
  shell/platform/android/android_context_gl_skia.cc
  shell/platform/android/android_context_gl_skia.h
  shell/platform/android/android_external_texture_gl.cc
  shell/platform/android/android_external_texture_gl.h
  shell/platform/android/android_shell_holder_unittests.cc
  shell/platform/android/hardware_buffer_external_texture_gl.cc
  shell/platform/android/hardware_buffer_external_texture_gl.h
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
  shell/platform/android/io/flutter/plugin/platform/ImageReaderPlatformViewRenderTarget.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewWrapper.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/io/flutter/plugin/platform/SurfaceTexturePlatformViewRenderTarget.java
  shell/platform/android/io/flutter/plugin/platform/VirtualDisplayController.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/io/flutter/view/TextureRegistry.java
  shell/platform/android/jni/jni_mock.h
  shell/platform/android/jni/platform_view_android_jni.h
  shell/platform/android/library_loader.cc
  shell/platform/android/ndk_helpers.cc
  shell/platform/android/ndk_helpers.h
  shell/platform/android/platform_view_android.cc
  shell/platform/android/platform_view_android.h
  shell/platform/android/platform_view_android_jni_impl.cc
  shell/platform/android/platform_view_android_jni_impl.h
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
Labels: platform-android, e: impeller

#44268 Roll Skia from 6009cc6d7d80 to 514c66ce0471 (2 revisions)
  DEPS
Labels: autosubmit

#44014 [iOS][A11Y] fix hittest with non-SemanticsObject
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest.mm
Labels: platform-ios, autosubmit

#44270 Roll Skia from 514c66ce0471 to 93764a98b866 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44275 Revert "Listen to window notifications to update application lifecycle"
  ci/licenses_golden/excluded_files
  shell/platform/windows/BUILD.gn
  shell/platform/windows/client_wrapper/flutter_engine.cc
  shell/platform/windows/client_wrapper/flutter_engine_unittests.cc
  shell/platform/windows/client_wrapper/include/flutter/flutter_engine.h
  shell/platform/windows/client_wrapper/testing/stub_flutter_windows_api.cc
  shell/platform/windows/client_wrapper/testing/stub_flutter_windows_api.h
  shell/platform/windows/flutter_window.cc
  shell/platform/windows/flutter_window.h
  shell/platform/windows/flutter_window_unittests.cc
  shell/platform/windows/flutter_windows.cc
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_engine.h
  shell/platform/windows/flutter_windows_engine_unittests.cc
  shell/platform/windows/flutter_windows_view.cc
  shell/platform/windows/flutter_windows_view.h
  shell/platform/windows/public/flutter_windows.h
  shell/platform/windows/testing/mock_window.h
  shell/platform/windows/testing/mock_window_binding_handler_delegate.h
  shell/platform/windows/window.cc
  shell/platform/windows/window.h
  shell/platform/windows/window_binding_handler_delegate.h
  shell/platform/windows/windows_lifecycle_manager.cc
  shell/platform/windows/windows_lifecycle_manager.h
  shell/platform/windows/windows_lifecycle_manager_unittests.cc
Labels: affects: desktop, platform-windows, revert

#44245 [Impeller] Fix leak of wrapped TextureMTL objects in the Metal embedder API
  impeller/renderer/backend/metal/texture_mtl.mm
Labels: e: impeller, autosubmit

#44273 Roll Skia from 93764a98b866 to 7104d0e8863f (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44276 Roll Dart SDK from afbaf4216fc8 to 87df1bbcea5e (1 revision)
  DEPS
Labels: autosubmit

#44281 Add drone dimensions
  .ci.yaml
Labels: platform-ios, platform-web, e: impeller

#44279 Roll Skia from 7104d0e8863f to ccc17f784e5d (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44122 [CP][Impeller] revert removal of wait until scheduled. (#44121)
  impeller/renderer/backend/metal/surface_mtl.mm
Labels: e: impeller

#44068 [Impeller] no-op fragment program on Android until it works. (#43657)
  impeller/entity/contents/runtime_effect_contents.cc
Labels: e: impeller

#44283 Roll Skia from ccc17f784e5d to 25f5a32367ad (4 revisions)
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#42497 Handle deprecation of Dart_TimelineEvent Embedder API
  flow/frame_timings.h
  fml/trace_event.cc
  fml/trace_event.h
  runtime/dart_vm.cc
  runtime/dart_vm_initializer.cc
  runtime/dart_vm_initializer.h
  shell/common/animator.cc
  shell/common/engine.cc
  shell/common/pipeline.h
  shell/common/pointer_data_dispatcher.cc
  shell/common/rasterizer.cc
  shell/common/shell.cc
  shell/common/skia_event_tracer_impl.cc
  shell/common/vsync_waiter.cc
  shell/platform/embedder/embedder.cc
  shell/testing/tester_main.cc
  testing/dart/observatory/tracing_test.dart
  testing/dart/pubspec.yaml
Labels: needs tests

#44289 Roll Skia from 25f5a32367ad to fd5bd67d532f (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#43324 Add Search Web to selection controls on iOS
  shell/platform/darwin/ios/framework/Source/FlutterPlatformPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformPluginTest.mm
Labels: platform-ios, Work in progress (WIP), autosubmit

#44294 [iOS] Fix use-after-free in setBinaryMessenger
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngineTest.mm
Labels: platform-ios, autosubmit

#44296 Roll Skia from fd5bd67d532f to c0956a252f30 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44222 [CP] [Impeller] Made the clear optimization handle backdrop filters. (#44192)
  impeller/aiks/aiks_unittests.cc
  impeller/entity/entity_pass.cc
Labels: e: impeller, autosubmit, impeller

#44300 Roll ANGLE from 6c1bab070220 to 6a09e41ce6ea (1 revision)
  DEPS
Labels: autosubmit

#44304 Check whether the lookup of android.hardware.HardwareBuffer found a class
  shell/platform/android/platform_view_android_jni_impl.cc
Labels: platform-android, autosubmit

#44306 Roll Fuchsia Mac SDK from Hx7ap5qcoqRIknnnG... to WwFjJuQF_rpToCYPJ...
  DEPS
Labels: autosubmit

#44308 Roll Dart SDK from 87df1bbcea5e to 3b9af2825d47 (2 revisions)
  DEPS
Labels: autosubmit

#44310 Revert Android Hardware Texture PRs
  ci/licenses_golden/licenses_flutter
  impeller/toolkit/egl/BUILD.gn
  impeller/toolkit/egl/egl.h
  impeller/toolkit/egl/image.cc
  impeller/toolkit/egl/image.h
  impeller/toolkit/gles/BUILD.gn
  impeller/toolkit/gles/gles.h
  impeller/toolkit/gles/texture.cc
  impeller/toolkit/gles/texture.h
  shell/platform/android/BUILD.gn
  shell/platform/android/android_context_gl_skia.cc
  shell/platform/android/android_context_gl_skia.h
  shell/platform/android/android_external_texture_gl.cc
  shell/platform/android/android_external_texture_gl.h
  shell/platform/android/android_shell_holder_unittests.cc
  shell/platform/android/hardware_buffer_external_texture_gl.cc
  shell/platform/android/hardware_buffer_external_texture_gl.h
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
  shell/platform/android/io/flutter/plugin/platform/ImageReaderPlatformViewRenderTarget.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewWrapper.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/io/flutter/plugin/platform/SurfaceTexturePlatformViewRenderTarget.java
  shell/platform/android/io/flutter/plugin/platform/VirtualDisplayController.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/io/flutter/view/TextureRegistry.java
  shell/platform/android/jni/jni_mock.h
  shell/platform/android/jni/platform_view_android_jni.h
  shell/platform/android/library_loader.cc
  shell/platform/android/ndk_helpers.cc
  shell/platform/android/ndk_helpers.h
  shell/platform/android/platform_view_android.cc
  shell/platform/android/platform_view_android.h
  shell/platform/android/platform_view_android_jni_impl.cc
  shell/platform/android/platform_view_android_jni_impl.h
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
Labels: platform-android, e: impeller, autosubmit

#44311 Roll Skia from c0956a252f30 to d9d5ef855d75 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44313 Roll Skia from d9d5ef855d75 to b81084128325 (2 revisions)
  DEPS
Labels: autosubmit

#44315 Roll Dart SDK from 3b9af2825d47 to fac111d4acb3 (2 revisions)
  DEPS
Labels: autosubmit

#44316 Roll Fuchsia Mac SDK from WwFjJuQF_rpToCYPJ... to Qo3dJIXjK-Ia8j42J...
  DEPS
Labels: autosubmit

#44327 Roll Skia from 768050436c0a to bd3ee535e246 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44303 [ios]make the screenIfViewLoaded and windowSceneIfLoaded helpers reusable
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController_Internal.h
  shell/platform/darwin/ios/framework/Source/UIViewController+FlutterScreenAndSceneIfLoaded.h
  shell/platform/darwin/ios/framework/Source/UIViewController+FlutterScreenAndSceneIfLoaded.mm
  shell/platform/darwin/ios/framework/Source/UIViewController_FlutterScreenAndSceneIfLoadedTest.mm
Labels: platform-ios, autosubmit

#44328 [Impeller] updated validation layers documentation
  impeller/docs/android_validation_layers.md
Labels: e: impeller, autosubmit

#44330 Roll Dart SDK from dcd09f5726b7 to e3d2b4a190aa (1 revision)
  DEPS
Labels: autosubmit

#44329 Roll Skia from bd3ee535e246 to 36072a994f11 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44337 Add @Keep annotations to avoid dead code elimination of classes only referenced by JNI
  shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
  shell/platform/android/io/flutter/view/TextureRegistry.java
Labels: platform-android

#44332 Roll Clang from 07c592048780 to 020d2fb7711d
  DEPS
Labels: autosubmit

#44336 Roll Skia from 36072a994f11 to 2babe68de295 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44334 Migrate GL calls of GrBackend*
  shell/gpu/gpu_surface_gl_skia.cc
  shell/platform/android/android_external_texture_gl.cc
  shell/platform/android/hardware_buffer_external_texture_gl.cc
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder_external_texture_gl.cc
  shell/platform/embedder/tests/embedder_test_backingstore_producer.cc
  testing/test_gl_surface.cc
Labels: platform-android

#44339 Roll Skia from 2babe68de295 to 872dc53233cf (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44335 [darwin] Move common targets to common/BUILD.gn
  BUILD.gn
  shell/platform/darwin/BUILD.gn
  shell/platform/darwin/common/BUILD.gn
  shell/platform/darwin/common/framework_common.gni
  shell/platform/darwin/graphics/BUILD.gn
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/macos/BUILD.gn
  testing/run_tests.py
Labels: platform-ios, affects: desktop, platform-macos

#44301 Build iOS unittest target in unopt builds
  shell/platform/darwin/ios/BUILD.gn
Labels: platform-ios, autosubmit

#44341 Roll Skia from 872dc53233cf to bae32428c1c7 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44348 Remove WARNINGs from JNI load path as we can't suppress them
  shell/platform/android/platform_view_android_jni_impl.cc
Labels: platform-android

#43620 [web] fix clicks on merged semantic nodes
  lib/web_ui/lib/src/engine/pointer_binding.dart
  lib/web_ui/lib/src/engine/semantics/semantics.dart
  lib/web_ui/lib/src/engine/semantics/tappable.dart
  lib/web_ui/test/common/matchers.dart
  lib/web_ui/test/engine/pointer_binding_test.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
  lib/web_ui/test/engine/semantics/semantics_tester.dart
Labels: platform-web, autosubmit

#44345 Roll Skia from bae32428c1c7 to 3b3c1a617544 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44194 [Impeller] Discard invalid command buffer handles after destroying a command pool
  impeller/renderer/backend/vulkan/command_pool_vk.cc
  impeller/renderer/backend/vulkan/command_pool_vk.h
Labels: e: impeller, autosubmit

#37655 Reland "[web] Update text editing test skips"
  lib/web_ui/test/engine/text_editing_test.dart
Labels: platform-web

#44351 [Impeller] Run clangd tidy, opting out in 2 cases.
  impeller/renderer/backend/vulkan/context_vk.cc
  impeller/renderer/backend/vulkan/context_vk.h
  impeller/renderer/backend/vulkan/debug_report_vk.cc
  impeller/renderer/backend/vulkan/descriptor_pool_vk.cc
  impeller/renderer/backend/vulkan/device_holder.h
  impeller/renderer/backend/vulkan/fence_waiter_vk.cc
  impeller/renderer/backend/vulkan/pipeline_cache_vk.cc
  impeller/renderer/backend/vulkan/pipeline_cache_vk.h
  impeller/renderer/backend/vulkan/vk.h
Labels: e: impeller, autosubmit

#44353 Roll Skia from 3b3c1a617544 to 0a376550f218 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44346 [Impeller] Fail loudly if --enable-software-rendering is used.
  shell/common/shell.cc
  shell/common/shell_unittests.cc
  testing/scenario_app/run_ios_tests.sh
Labels: autosubmit

#44356 Revert "Build iOS unittest target in unopt builds"
  shell/platform/darwin/ios/BUILD.gn
Labels: platform-ios, warning: land on red to fix tree breakage, autosubmit

#44362 Roll Skia from 0a376550f218 to a3d2051afa4a (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44363 Roll Dart SDK from e3d2b4a190aa to eb7670788799 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#44366 Roll Fuchsia Mac SDK from Qo3dJIXjK-Ia8j42J... to FAGt3OEY8Yi1-SaFj...
  DEPS
Labels: autosubmit

#44369 Roll Skia from a3d2051afa4a to 1f884c208390 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44370 Roll Dart SDK from eb7670788799 to 5573a23b0312 (1 revision)
  DEPS
Labels: autosubmit

#44371 Roll Skia from 1f884c208390 to 03cc525d4485 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44373 Roll Skia from 03cc525d4485 to 3b36347d4449 (1 revision)
  DEPS
Labels: autosubmit

#44374 Roll Skia from 3b36347d4449 to 9e35fa235af9 (1 revision)
  DEPS
Labels: autosubmit

#44377 Roll Fuchsia Linux SDK from KPSWBhOvG6piddBQG... to ZvUiUZL9vUp2LcvHG...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#44380 Roll Dart SDK from 5573a23b0312 to 6415ba55bf6a (1 revision)
  DEPS
Labels: autosubmit

#44381 Roll Skia from 9e35fa235af9 to 100bf3248bf0 (1 revision)
  DEPS
Labels: autosubmit

#44384 Roll Skia from 100bf3248bf0 to 636077ca3a50 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44385 Roll buildroot to a067408d923ccf80742571bb7a71705499f5779e
  DEPS
Labels: autosubmit

#44386 Roll Skia from 636077ca3a50 to 03874e298589 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44342 [CP][iOS][A11Y] fix hittest with non-SemanticsObject
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest.mm
Labels: platform-ios, autosubmit

#44391 Roll Skia from c40343629a6b to 5eef2e2b94b4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44333 [Impeller] Added a doc page to point out important impeller benchmarks
  impeller/README.md
  impeller/docs/benchmarks.md
Labels: e: impeller, autosubmit

#44354 [CP][ios][autocorrection]disable autocorrection for ios 17
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPluginTest.mm
Labels: platform-ios, autosubmit

#44392 Roll Skia from 5eef2e2b94b4 to 85938bb68e75 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44393 Roll Dart SDK from b3372378e487 to a0b59bac20fc (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#43972 Flutter iOS Interactive Keyboard: Take Screenshot and Handle Pointer Movement
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.h
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPluginTest.mm
Labels: platform-ios, autosubmit

#44397 Roll Skia from 85938bb68e75 to 45c0a830d805 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44399 Roll Skia from 45c0a830d805 to 6dc76e862f90 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44396 [Darwin] Enable ARC in darwin/common unit tests
  shell/platform/darwin/common/BUILD.gn
  shell/platform/darwin/common/framework/Source/FlutterChannelsTest.m
  shell/platform/darwin/common/framework/Source/FlutterNSBundleUtils.mm
  shell/platform/darwin/common/framework/Source/flutter_codecs_unittest.mm
  shell/platform/darwin/common/framework/Source/flutter_standard_codec_unittest.mm
Labels: platform-ios, affects: desktop, platform-macos, autosubmit

#44402 Roll Skia from 6dc76e862f90 to 7cf7e2da3557 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44403 Roll Fuchsia Linux SDK from ZvUiUZL9vUp2LcvHG... to 3uzA1Z-yaMQE_Cz5f...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#44405 Roll Dart SDK from a0b59bac20fc to 8a3277696c52 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#44395 [Darwin] Move FlutterBinaryMessengerRelay to common
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/common/BUILD.gn
  shell/platform/darwin/common/framework/Source/FlutterBinaryMessengerRelay.h
  shell/platform/darwin/common/framework/Source/FlutterBinaryMessengerRelay.mm
  shell/platform/darwin/common/framework/Source/FlutterBinaryMessengerRelayTest.mm
  shell/platform/darwin/common/framework/Source/FlutterTestUtils.h
  shell/platform/darwin/common/framework/Source/FlutterTestUtils.mm
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPluginTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
Labels: platform-ios, affects: desktop, platform-macos

#44407 Roll Skia from 7cf7e2da3557 to b2a0382bb587 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44409 Mark the ci.yaml roller task so it is not backfilled.
  .ci.yaml
Labels: autosubmit

#44413 Roll Skia from b2a0382bb587 to 275bcb6d874d (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44414 Roll Fuchsia Mac SDK from jMLeVECzwzDoe9dYS... to UpzOzWyiGYKrIuKmG...
  DEPS
Labels: autosubmit

#44415 Roll Dart SDK from 8a3277696c52 to 0816d590a220 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#44418 Roll Fuchsia Linux SDK from 3uzA1Z-yaMQE_Cz5f... to QazMbN_0ttbJpf36s...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#44419 Roll Skia from 275bcb6d874d to 1d390344bfca (1 revision)
  DEPS
Labels: autosubmit

#44420 Roll Fuchsia Mac SDK from UpzOzWyiGYKrIuKmG... to 4pA5pP6XaVIJBXuq0...
  DEPS
Labels: autosubmit

#44421 Roll Fuchsia Linux SDK from QazMbN_0ttbJpf36s... to E0vw_CD-BaFAcSoH4...
  DEPS
Labels: autosubmit

#44422 Roll Fuchsia Mac SDK from 4pA5pP6XaVIJBXuq0... to iY3v8FawLUo9HvTeR...
  DEPS
Labels: autosubmit

#44423 Roll Skia from 1d390344bfca to 72264deb9f05 (1 revision)
  DEPS
Labels: autosubmit

#44424 Roll Fuchsia Linux SDK from E0vw_CD-BaFAcSoH4... to fwCoUCWKEqZSJGPE8...
  DEPS
Labels: autosubmit

#44425 Roll Fuchsia Mac SDK from iY3v8FawLUo9HvTeR... to 9QyQ03F49oT_9slFF...
  DEPS
Labels: autosubmit

#44427 Roll Skia from 72264deb9f05 to 9c4cfcd16529 (1 revision)
  DEPS
Labels: autosubmit

#44428 Roll Fuchsia Linux SDK from fwCoUCWKEqZSJGPE8... to zVfdIYcZ93Loob7VG...
  DEPS
Labels: autosubmit

#44431 Roll Fuchsia Mac SDK from 9QyQ03F49oT_9slFF... to mlT1Bm0L9bVynvMFF...
  DEPS
Labels: autosubmit

#44432 Roll Skia from b7a1f4fdedc1 to 558d9754241d (1 revision)
  DEPS
Labels: autosubmit

#44433 Roll Skia from 558d9754241d to f4047f002891 (1 revision)
  DEPS
Labels: autosubmit

#44435 Roll Fuchsia Linux SDK from zVfdIYcZ93Loob7VG... to 0Jd9VPJCX145RGnqr...
  DEPS
Labels: autosubmit

#44436 Roll Skia from f4047f002891 to 7a98630e0de9 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#44437 Roll Skia from 7a98630e0de9 to e327eb094605 (2 revisions)
  DEPS
Labels: autosubmit

#44439 Roll Skia from 359808ec2cb1 to f19578685d17 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44440 Roll Skia from f19578685d17 to 77007f51bf81 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44443 Roll Skia from 77007f51bf81 to 9fbd7296de9a (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44350 [web] remove leftover comments from semantics tester
  lib/web_ui/test/engine/semantics/semantics_tester.dart
Labels: platform-web, autosubmit

#44447 Roll Skia from 9fbd7296de9a to d1ada6624536 (1 revision)
  DEPS
Labels: autosubmit

#44358 Fix use-after-free crash in glfw embedder
  shell/platform/glfw/flutter_glfw.cc
Labels: autosubmit

#44359 [Impeller] Flutter GPU: Add GpuContext.
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_flutter
  lib/gpu/BUILD.gn
  lib/gpu/analysis_options.yaml
  lib/gpu/context.cc
  lib/gpu/context.h
  lib/gpu/export.cc
  lib/gpu/export.h
  lib/gpu/lib/gpu.dart
  lib/gpu/lib/src/context.dart
  lib/gpu/lib/src/smoketest.dart
  lib/gpu/pubspec.yaml
  lib/gpu/smoketest.cc
  lib/gpu/smoketest.h
  lib/ui/BUILD.gn
  lib/ui/dart_ui.cc
  lib/ui/gpu/context.h
  testing/dart/gpu_test.dart
Labels: autosubmit

#44015 [CP][Impeller] Use basis of effect transform in MatrixFilter.
  impeller/aiks/aiks_unittests.cc
  impeller/entity/contents/filters/matrix_filter_contents.cc
  impeller/entity/entity_pass.cc
Labels: e: impeller, autosubmit

#44286 [CP][Impeller] Fix leak of wrapped TextureMTL objects in the Metal embedder API (#44245)
  impeller/renderer/backend/metal/texture_mtl.mm
Labels: e: impeller, autosubmit

#44462 Roll Dart SDK from 0816d590a220 to f664f4b9c50d (1 revision)
  DEPS
Labels: autosubmit
