Repository flutter/engine, pull requests merged in 2023-12, with the labels that each got.

#48478 Avoid reloading the kernel snapshot when spawning an isolate in the same group
  runtime/dart_isolate.cc
  runtime/dart_isolate.h
  runtime/dart_isolate_unittests.cc
  runtime/isolate_configuration.cc
  runtime/isolate_configuration.h
Labels: autosubmit

#48546 [canvaskit] Add ImageFilter.compose
  lib/web_ui/lib/src/engine/canvaskit/image_filter.dart
  lib/web_ui/lib/src/engine/canvaskit/renderer.dart
  lib/web_ui/test/canvaskit/filter_test.dart
  lib/web_ui/test/ui/filters_test.dart
Labels: platform-web, will affect goldens

#48403 [CP] Fix not being able to hide iOS status bar via setEnabledSystemUIMode
  shell/platform/darwin/ios/framework/Source/FlutterPlatformPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformPluginTest.mm
Labels: platform-ios, autosubmit

#48285 Try rolling a new version of googletest (2021->2023).
  DEPS
  build/secondary/third_party/googletest/BUILD.gn
  shell/platform/fuchsia/flutter/tests/fakes/scenic/fake_flatland_types.h
Labels: platform-fuchsia

#48558 Roll Fuchsia Linux SDK from Bb2k375udWIltCEAx... to oPdJSBgOI25vZ9Jby...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#48559 Roll Skia from 0a90c366ff87 to b7b02ebaf770 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48561 Roll Skia from b7b02ebaf770 to 57c6a5a97dc5 (1 revision)
  DEPS
Labels: autosubmit

#48562 Roll Skia from 57c6a5a97dc5 to e69fbf086bb6 (1 revision)
  DEPS
Labels: autosubmit

#48568 Roll Skia from 0ed7f26b3adb to ecf10008c8bd (1 revision)
  DEPS
Labels: autosubmit

#48547 [Impeller] Fix size of squares in DrawPoints(PointMode).
  impeller/entity/geometry/point_field_geometry.cc
Labels: will affect goldens, e: impeller, autosubmit

#48418 Renable macOS 13 tests
  .ci.yaml
  ci/builders/mac_android_aot_engine.json
  ci/builders/mac_clang_tidy.json
  ci/builders/mac_clang_tidy_presubmit.json
  ci/builders/mac_host_engine.json
  ci/builders/mac_impeller_cmake_example.json
  ci/builders/mac_ios_engine.json
  ci/builders/mac_unopt.json
Labels: autosubmit

#48578 Roll Dart SDK from d306bc3634c0 to a419c7050dcb (4 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#48580 Roll Skia from 14dceac9d276 to d55911b49773 (1 revision)
  DEPS
Labels: autosubmit

#48583 Roll Skia from d55911b49773 to 9277bdf97d06 (1 revision)
  DEPS
Labels: autosubmit

#48588 Roll Dart SDK from a419c7050dcb to 8d76eae70fa9 (1 revision)
  DEPS
Labels: autosubmit

#48586 [Impeller] Directly tessellate stroked circles.
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/canvas.cc
  impeller/entity/geometry/ellipse_geometry.cc
  impeller/entity/geometry/ellipse_geometry.h
  impeller/entity/geometry/geometry.cc
  impeller/entity/geometry/geometry.h
  impeller/entity/geometry/line_geometry.cc
  impeller/entity/geometry/line_geometry.h
  impeller/tessellator/circle_tessellator.cc
  impeller/tessellator/circle_tessellator.h
  impeller/tessellator/circle_tessellator_unittests.cc
Labels: will affect goldens, e: impeller, autosubmit

#48595 Roll Skia from 9277bdf97d06 to 5ea9dd4abfd7 (1 revision)
  DEPS
Labels: autosubmit

#48594 Roll Dart SDK from 8d76eae70fa9 to aea874a703a2 (1 revision)
  DEPS
Labels: autosubmit

#48597 Roll Skia from 5ea9dd4abfd7 to e0768dea5832 (1 revision)
  DEPS
Labels: autosubmit

#47414 [web] remove ulimit and add -i to felt
  lib/web_ui/dev/felt
Labels: platform-web

#48600 Roll Fuchsia Linux SDK from oPdJSBgOI25vZ9Jby... to 4BVJFrqacT5kBTO2S...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#48599 Roll Skia from e0768dea5832 to 00fc70025788 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48602 Roll Dart SDK from aea874a703a2 to 286ef89d1875 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#48603 Roll Dart SDK from 286ef89d1875 to 3a44776466d6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#48605 Roll Dart SDK from 3a44776466d6 to f5216bb23cc3 (1 revision)
  DEPS
Labels: autosubmit

#48611 Roll Dart SDK from c7f18da440ab to a5d2b197c872 (1 revision)
  DEPS
Labels: autosubmit

#48613 Roll Fuchsia Linux SDK from 4BVJFrqacT5kBTO2S... to UXMnwzl-9_YZaE_aV...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#48615 Roll Dart SDK from a5d2b197c872 to 58ff03f2c17f (1 revision)
  DEPS
Labels: autosubmit

#48619 Roll Dart SDK from 58ff03f2c17f to 0f7c94ba9f51 (1 revision)
  DEPS
Labels: autosubmit

#48620 Roll Fuchsia Linux SDK from UXMnwzl-9_YZaE_aV... to CGyrUgA1M1yFx5N5C...
  DEPS
Labels: autosubmit

#48625 Roll Dart SDK from 0f7c94ba9f51 to 67f7a2c2559a (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#48626 Roll Skia from 00fc70025788 to 0ef49914a9f0 (2 revisions)
  DEPS
Labels: autosubmit

#48627 Roll Skia from 0ef49914a9f0 to 540d76ea74f8 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48548 Only run firebase tests on HEAD
  ci/builders/README.md
  ci/builders/linux_android_aot_engine.json
Labels: autosubmit

#48633 Roll Skia from 540d76ea74f8 to db4a29e0689e (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47961 Add support for exposing accessibility identifier as resource-id on Android
  lib/ui/semantics.dart
  lib/ui/semantics/semantics_node.h
  lib/ui/semantics/semantics_update_builder.cc
  lib/ui/semantics/semantics_update_builder.h
  lib/web_ui/lib/semantics.dart
  lib/web_ui/lib/src/engine/semantics/semantics.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
  lib/web_ui/test/engine/semantics/semantics_tester.dart
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  shell/platform/android/platform_view_android_delegate/platform_view_android_delegate.cc
  shell/platform/android/platform_view_android_delegate/platform_view_android_delegate_unittests.cc
  shell/platform/android/test/io/flutter/view/AccessibilityBridgeTest.java
Labels: platform-android, platform-web, autosubmit

#48634 Roll Skia from db4a29e0689e to 0fe76d9ce79e (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48637 Roll Dart SDK from 67f7a2c2559a to a1b67665b3a3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#46169 Multiview ExternalViewEmbedder
  flow/embedded_views.cc
  flow/embedded_views.h
  flow/testing/mock_embedder.cc
  flow/testing/mock_embedder.h
  lib/web_ui/test/engine/hash_codes_test.dart
  shell/common/rasterizer.cc
  shell/common/rasterizer_unittests.cc
  shell/common/shell_test_external_view_embedder.cc
  shell/common/shell_test_external_view_embedder.h
  shell/platform/android/external_view_embedder/external_view_embedder.cc
  shell/platform/android/external_view_embedder/external_view_embedder.h
  shell/platform/android/external_view_embedder/external_view_embedder_unittests.cc
  shell/platform/darwin/ios/ios_external_view_embedder.h
  shell/platform/darwin/ios/ios_external_view_embedder.mm
  shell/platform/embedder/embedder_external_view_embedder.cc
  shell/platform/embedder/embedder_external_view_embedder.h
  shell/platform/fuchsia/flutter/external_view_embedder.cc
  shell/platform/fuchsia/flutter/external_view_embedder.h
  shell/platform/fuchsia/flutter/tests/external_view_embedder_unittests.cc
  shell/platform/fuchsia/flutter/tests/platform_view_unittest.cc
  shell/testing/tester_main.cc
Labels: platform-ios, platform-android, platform-web, platform-fuchsia, autosubmit

#48635 Remove some trivial forward declares from Impeller
  impeller/aiks/aiks_context.h
  impeller/aiks/canvas.h
  impeller/aiks/paint_pass_delegate.h
  impeller/core/allocator.h
  impeller/core/sampler.h
  impeller/core/sampler_descriptor.h
  impeller/renderer/context.h
  impeller/renderer/sampler_library.h
Labels: e: impeller, autosubmit

#48638 Roll Skia from 0fe76d9ce79e to cbd2cf40d63b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48643 Roll Skia from cbd2cf40d63b to d37625f80ac0 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48628 [Impeller] Move BufferView/Texture/Sampler when binding.
  impeller/core/resource_binder.h
  impeller/renderer/command.cc
  impeller/renderer/command.h
  impeller/renderer/compute_command.cc
  impeller/renderer/compute_command.h
Labels: e: impeller, autosubmit

#48616 [Impeller] Remove impeller::Path copy constructor.
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/canvas.cc
  impeller/aiks/canvas.h
  impeller/aiks/canvas_recorder.h
  impeller/aiks/canvas_unittests.cc
  impeller/aiks/paint.cc
  impeller/aiks/paint.h
  impeller/display_list/dl_dispatcher.cc
  impeller/entity/contents/solid_color_contents.cc
  impeller/entity/contents/solid_color_contents.h
  impeller/entity/entity_unittests.cc
  impeller/entity/geometry/fill_path_geometry.cc
  impeller/entity/geometry/fill_path_geometry.h
  impeller/entity/geometry/geometry.cc
  impeller/entity/geometry/geometry.h
  impeller/entity/geometry/geometry_unittests.cc
  impeller/entity/geometry/stroke_path_geometry.cc
  impeller/entity/geometry/stroke_path_geometry.h
  impeller/geometry/geometry_benchmarks.cc
  impeller/geometry/path.cc
  impeller/geometry/path.h
  impeller/geometry/path_builder.cc
  impeller/geometry/path_unittests.cc
Labels: e: impeller, autosubmit

#48648 Roll Dart SDK from a1b67665b3a3 to 9c74645153ca (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#48655 Roll Dart SDK from 9c74645153ca to 21574eae3a69 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#48654 [Impeller] Remove duplicate entity test suite instantiations.
  impeller/entity/contents/checkerboard_contents_unittests.cc
  impeller/entity/contents/tiled_texture_contents_unittests.cc
  impeller/entity/contents/vertices_contents_unittests.cc
  impeller/playground/playground_test.h
Labels: e: impeller, autosubmit

#48658 Roll Skia from d37625f80ac0 to de49aeaa8224 (1 revision)
  DEPS
Labels: autosubmit

#48660 Roll Skia from de49aeaa8224 to a998afefb1b0 (1 revision)
  DEPS
Labels: autosubmit

#48663 Roll Skia from a998afefb1b0 to 3040f78eeb71 (1 revision)
  DEPS
Labels: autosubmit

#48677 Roll Skia from 3040f78eeb71 to 7901100ba2d9 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48647 [Impeller] Document what some of this shader metadata is.
  impeller/core/shader_types.h
Labels: e: impeller, autosubmit

#48593 [Impeller] Render emoji shadows with correct colors.
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/canvas.cc
  impeller/entity/contents/text_contents.cc
  impeller/entity/contents/text_contents.h
  impeller/entity/shaders/glyph_atlas_color.frag
  impeller/tools/malioc.json
Labels: will affect goldens, e: impeller, autosubmit

#48642 Use flutter mirrors for non-Google github origin deps
  DEPS
Labels: autosubmit

#48680 Roll Skia from 7901100ba2d9 to bf1db1c75704 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48473 [CP][Impeller] Skip mask blur with 0 sigma. (#48457)
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/canvas.cc
  impeller/entity/contents/solid_rrect_blur_contents.cc
Labels: e: impeller, autosubmit

#48649 [Impeller] Delete tessellation control/eval shader support.
  impeller/compiler/compiler_unittests.cc
  impeller/compiler/reflector.cc
  impeller/compiler/runtime_stage_data.cc
  impeller/compiler/switches.cc
  impeller/compiler/types.cc
  impeller/compiler/types.h
  impeller/core/runtime_types.h
  impeller/core/shader_types.h
  impeller/fixtures/BUILD.gn
  impeller/fixtures/sample.tesc
  impeller/fixtures/sample.tese
  impeller/renderer/backend/gles/capabilities_gles.cc
  impeller/renderer/backend/gles/pipeline_library_gles.cc
  impeller/renderer/backend/gles/shader_library_gles.cc
  impeller/renderer/backend/metal/shader_library_mtl.mm
  impeller/renderer/backend/vulkan/formats_vk.h
  impeller/renderer/backend/vulkan/shader_library_vk.cc
  impeller/renderer/command.cc
  impeller/runtime_stage/runtime_stage.cc
  impeller/runtime_stage/runtime_stage.fbs
  lib/gpu/formats.h
Labels: e: impeller, autosubmit

#48657 [CP] Roll skia to 795ed944
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48682 Update labeler to 5.0.0, fix yaml format for labeler 5.0.0
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: autosubmit

#48683 Roll Dart SDK from 21574eae3a69 to 8bfec2c7ed43 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#48651 [Impeller] started taking into account integer gaps in blur sigma, turned on linear filter
  impeller/entity/contents/filters/gaussian_blur_filter_contents.cc
Labels: e: impeller, autosubmit

#48685 Roll Skia from bf1db1c75704 to c0ad3e9bdec0 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48653 A11y enabled state
  shell/platform/fuchsia/flutter/accessibility_bridge.cc
  shell/platform/fuchsia/flutter/accessibility_bridge_unittest.cc
Labels: platform-fuchsia

#48692 Roll Skia from c759bbf16310 to 5f54e9f84cff (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48687 [flutter_releases] Flutter stable 3.16.3 Engine Cherrypicks
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#48693 Avoid non-const sizes in VLAs.
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.mm
  third_party/accessibility/ax/platform/ax_unique_id_unittest.cc
Labels: autosubmit

#48697 Roll Dart SDK from 8bfec2c7ed43 to d8efef525ce1 (1 revision)
  DEPS
Labels: autosubmit

#48700 Roll abseil to d07bb1bc8e59b37204d457ee365b52b0d11feec0
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_third_party
Labels: autosubmit

#48701 Fix labeler not actually doing any labeling
  .github/labeler.yml
Labels: autosubmit

#48644 [Impeller] Declare specialization constants as floats.
  impeller/docs/specialization_constants.md
  impeller/entity/contents/content_context.cc
  impeller/entity/contents/content_context.h
  impeller/entity/entity_unittests.cc
  impeller/entity/shaders/blending/advanced_blend.frag
  impeller/entity/shaders/blending/framebuffer_blend.frag
  impeller/entity/shaders/blending/porter_duff_blend.frag
  impeller/entity/shaders/morphology_filter.frag
  impeller/renderer/backend/gles/proc_table_gles.cc
  impeller/renderer/backend/gles/proc_table_gles.h
  impeller/renderer/backend/gles/test/specialization_constants_unittests.cc
  impeller/renderer/backend/metal/shader_function_mtl.h
  impeller/renderer/backend/metal/shader_function_mtl.mm
  impeller/renderer/backend/vulkan/pipeline_library_vk.cc
  impeller/renderer/pipeline_builder.h
  impeller/renderer/pipeline_descriptor.cc
  impeller/renderer/pipeline_descriptor.h
Labels: e: impeller, autosubmit

#48703 Remove fuchsia v1 builder.
  .ci.yaml
Labels: autosubmit

#48458 [Impeller] Vulkan framebuffer fetch via VK_ARM_RASTERIZATION_ORDER_ATTACHMENT_ACCESS
  impeller/compiler/code_gen_template.h
  impeller/compiler/reflector.cc
  impeller/core/shader_types.h
  impeller/entity/contents/content_context.cc
  impeller/entity/contents/content_context.h
  impeller/entity/entity_unittests.cc
  impeller/entity/shaders/blending/framebuffer_blend.frag
  impeller/entity/shaders/blending/framebuffer_blend.vert
  impeller/playground/backend/vulkan/playground_impl_vk.cc
  impeller/renderer/backend/vulkan/allocator_vk.cc
  impeller/renderer/backend/vulkan/allocator_vk.h
  impeller/renderer/backend/vulkan/binding_helpers_vk.cc
  impeller/renderer/backend/vulkan/binding_helpers_vk.h
  impeller/renderer/backend/vulkan/capabilities_vk.cc
  impeller/renderer/backend/vulkan/capabilities_vk.h
  impeller/renderer/backend/vulkan/command_encoder_vk.cc
  impeller/renderer/backend/vulkan/command_encoder_vk.h
  impeller/renderer/backend/vulkan/descriptor_pool_vk.cc
  impeller/renderer/backend/vulkan/descriptor_pool_vk.h
  impeller/renderer/backend/vulkan/descriptor_pool_vk_unittests.cc
  impeller/renderer/backend/vulkan/formats_vk.h
  impeller/renderer/backend/vulkan/pipeline_library_vk.cc
  impeller/renderer/backend/vulkan/pipeline_library_vk.h
  impeller/renderer/backend/vulkan/pipeline_vk.h
  impeller/renderer/backend/vulkan/render_pass_vk.cc
  impeller/renderer/backend/vulkan/render_pass_vk.h
  impeller/renderer/pipeline.h
  impeller/renderer/pipeline_descriptor.cc
  impeller/renderer/pipeline_descriptor.h
  shell/platform/android/android_context_vulkan_impeller.cc
  shell/testing/tester_main.cc
Labels: platform-android, e: impeller, autosubmit

#48710 Roll Dart SDK from d8efef525ce1 to c3bd23e62ece (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#48715 Roll Dart SDK from c3bd23e62ece to 9e54241e915a (1 revision)
  DEPS
Labels: autosubmit

#48714 Roll Skia from 5f54e9f84cff to cd23ebc87188 (1 revision)
  DEPS
Labels: autosubmit

#48716 Roll Skia from cd23ebc87188 to 3043b8051f15 (1 revision)
  DEPS
Labels: autosubmit

#48722 Roll Skia from 3043b8051f15 to afa75c6cf697 (1 revision)
  DEPS
Labels: autosubmit

#48725 Roll Dart SDK from 9e54241e915a to 691e4650ce91 (1 revision)
  DEPS
Labels: autosubmit

#48732 Roll Skia from afa75c6cf697 to 12dffa893c2a (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48736 Roll Dart SDK from 691e4650ce91 to 6eb13603c212 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#48737 Roll Skia from 12dffa893c2a to 23e1cb20a6b5 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48738 Roll Skia from 23e1cb20a6b5 to 384d14063dc1 (1 revision)
  DEPS
Labels: autosubmit

#48571 Replace use of Fontmgr::RefDefault with explicit creation calls
  build/secondary/flutter/third_party/glfw/BUILD.gn
  display_list/testing/dl_rendering_unittests.cc
  flow/layers/performance_overlay_layer.cc
  impeller/entity/BUILD.gn
  impeller/entity/entity_unittests.cc
  impeller/typographer/BUILD.gn
  impeller/typographer/typographer_unittests.cc
  shell/common/BUILD.gn
  shell/common/dl_op_spy_unittests.cc
  shell/platform/fuchsia/flutter/BUILD.gn
  skia/BUILD.gn
  skia/flutter_defines.gni
  third_party/txt/src/txt/platform.cc
  third_party/txt/src/txt/platform_android.cc
  third_party/txt/src/txt/platform_fuchsia.cc
  third_party/txt/src/txt/platform_linux.cc
  third_party/txt/src/txt/platform_mac.mm
Labels: e: impeller

#48688 [Windows] Refactor the GLES proc table
  ci/licenses_golden/licenses_flutter
  shell/platform/windows/BUILD.gn
  shell/platform/windows/external_texture.h
  shell/platform/windows/external_texture_d3d.cc
  shell/platform/windows/external_texture_d3d.h
  shell/platform/windows/external_texture_pixelbuffer.cc
  shell/platform/windows/external_texture_pixelbuffer.h
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_engine.h
  shell/platform/windows/flutter_windows_texture_registrar.cc
  shell/platform/windows/flutter_windows_texture_registrar.h
  shell/platform/windows/flutter_windows_texture_registrar_unittests.cc
  shell/platform/windows/gl_proc_table.cc
  shell/platform/windows/gl_proc_table.h
  shell/platform/windows/testing/mock_gl_functions.h
  shell/platform/windows/testing/mock_gl_proc_table.h
Labels: autosubmit

#48740 Roll Skia from 384d14063dc1 to 33cba437bf70 (3 revisions)
  DEPS
Labels: autosubmit

#47787 [Windows] Set swap interval on raster thread after startup
  shell/platform/windows/angle_surface_manager.cc
  shell/platform/windows/angle_surface_manager.h
  shell/platform/windows/flutter_window.cc
  shell/platform/windows/flutter_window.h
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_engine.h
  shell/platform/windows/flutter_windows_view.cc
  shell/platform/windows/flutter_windows_view_unittests.cc
  shell/platform/windows/testing/mock_window_binding_handler.h
  shell/platform/windows/window_binding_handler.h
Labels: affects: desktop, platform-windows, autosubmit

#48646 [Impeller] Provide the clear color to an advanced blend if it was optimized out
  impeller/aiks/aiks_unittests.cc
  impeller/entity/entity_pass.cc
  impeller/entity/entity_unittests.cc
Labels: will affect goldens, e: impeller

#48743 Roll Skia from 33cba437bf70 to 326bdc97ac40 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48719 [Impeller] Store Buffer/Texture bindings in vector instead of map.
  impeller/compiler/code_gen_template.h
  impeller/core/resource_binder.h
  impeller/core/shader_types.h
  impeller/entity/contents/checkerboard_contents.cc
  impeller/entity/contents/filters/border_mask_blur_filter_contents.cc
  impeller/entity/contents/filters/color_matrix_filter_contents.cc
  impeller/entity/contents/filters/directional_gaussian_blur_filter_contents.cc
  impeller/entity/contents/filters/gaussian_blur_filter_contents.cc
  impeller/entity/contents/filters/linear_to_srgb_filter_contents.cc
  impeller/entity/contents/filters/morphology_filter_contents.cc
  impeller/entity/contents/filters/srgb_to_linear_filter_contents.cc
  impeller/entity/contents/filters/yuv_to_rgb_filter_contents.cc
  impeller/entity/contents/runtime_effect_contents.cc
  impeller/entity/contents/test/contents_test_helpers.h
  impeller/entity/contents/texture_contents.cc
  impeller/entity/geometry/geometry.h
  impeller/renderer/backend/gles/buffer_bindings_gles.cc
  impeller/renderer/backend/metal/compute_pass_mtl.mm
  impeller/renderer/backend/metal/render_pass_mtl.mm
  impeller/renderer/backend/vulkan/binding_helpers_vk.cc
  impeller/renderer/backend/vulkan/compute_pass_vk.cc
  impeller/renderer/backend/vulkan/render_pass_vk.cc
  impeller/renderer/command.cc
  impeller/renderer/command.h
  impeller/renderer/compute_command.cc
  impeller/renderer/compute_command.h
  lib/gpu/render_pass.cc
Labels: e: impeller, autosubmit

#48745 Roll Dart SDK from 6eb13603c212 to dbfe4e3f867e (1 revision)
  DEPS
Labels: autosubmit

#48746 Roll Skia from 326bdc97ac40 to 570103e08087 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48748 Roll Skia from 570103e08087 to 7ff0103760d0 (1 revision)
  DEPS
Labels: autosubmit

#48757 Roll Dart SDK from dbfe4e3f867e to be8a95b6717d (1 revision)
  DEPS
Labels: autosubmit

#48755 Revert "Replace use of Fontmgr::RefDefault with explicit creation calls"
  build/secondary/flutter/third_party/glfw/BUILD.gn
  display_list/testing/dl_rendering_unittests.cc
  flow/layers/performance_overlay_layer.cc
  impeller/entity/BUILD.gn
  impeller/entity/entity_unittests.cc
  impeller/typographer/BUILD.gn
  impeller/typographer/typographer_unittests.cc
  shell/common/BUILD.gn
  shell/common/dl_op_spy_unittests.cc
  shell/platform/fuchsia/flutter/BUILD.gn
  skia/BUILD.gn
  skia/flutter_defines.gni
  third_party/txt/src/txt/platform.cc
  third_party/txt/src/txt/platform_android.cc
  third_party/txt/src/txt/platform_fuchsia.cc
  third_party/txt/src/txt/platform_linux.cc
  third_party/txt/src/txt/platform_mac.mm
Labels: platform-fuchsia, e: impeller, autosubmit, revert

#48766 Roll Skia from 8ebf43ba1c09 to dbcf508d1dce (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48769 Roll Skia from dbcf508d1dce to 0f1822e9137a (1 revision)
  DEPS
Labels: autosubmit

#48771 Roll Skia from 0f1822e9137a to 0753f680c573 (1 revision)
  DEPS
Labels: autosubmit

#48772 Roll Skia from 0753f680c573 to 2b33ff5642c3 (1 revision)
  DEPS
Labels: autosubmit

#48776 Roll Dart SDK from 4b22e6430c20 to b6d5e010d2c5 (1 revision)
  DEPS
Labels: autosubmit

#48784 Roll Skia from 308f3d9bef2c to af998f66ae73 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48764 Reland "Replace use of Fontmgr::RefDefault with explicit creation calls"
  build/secondary/flutter/third_party/glfw/BUILD.gn
  display_list/testing/dl_rendering_unittests.cc
  flow/layers/performance_overlay_layer.cc
  impeller/entity/BUILD.gn
  impeller/entity/entity_unittests.cc
  impeller/typographer/BUILD.gn
  impeller/typographer/typographer_unittests.cc
  shell/common/BUILD.gn
  shell/common/dl_op_spy_unittests.cc
  shell/platform/fuchsia/flutter/BUILD.gn
  skia/BUILD.gn
  skia/flutter_defines.gni
  third_party/txt/src/txt/platform.cc
  third_party/txt/src/txt/platform_android.cc
  third_party/txt/src/txt/platform_fuchsia.cc
  third_party/txt/src/txt/platform_linux.cc
  third_party/txt/src/txt/platform_mac.mm
Labels: platform-fuchsia, e: impeller, autosubmit

#48790 Roll Skia from c68e050e9198 to f49ec3e6c1b1 (1 revision)
  DEPS
Labels: autosubmit

#48705 Update clang revision from 00396e6a1a0b7 to b3a9e8f7c0afb00.
  DEPS
Labels: autosubmit

#48796 Roll Skia from f49ec3e6c1b1 to b541f668f531 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48791 Retry when safaridriver fails
  lib/web_ui/dev/safari_macos.dart
  lib/web_ui/dev/webdriver_browser.dart
Labels: platform-web, autosubmit

#48799 Revert Dart SDK back to be8a95b6717d
  DEPS
  ci/licenses_golden/licenses_dart
Labels: warning: land on red to fix tree breakage, autosubmit

#48804 Roll Skia from b541f668f531 to dd7e37c0e2bd (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48809 Roll Skia from dd7e37c0e2bd to 9e89d96899f4 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48805 [Impeller] implements new blur tile mode
  impeller/aiks/aiks_unittests.cc
  impeller/entity/contents/filters/filter_contents.cc
  impeller/entity/contents/filters/gaussian_blur_filter_contents.cc
  impeller/entity/contents/filters/gaussian_blur_filter_contents.h
  impeller/entity/contents/filters/gaussian_blur_filter_contents_unittests.cc
Labels: will affect goldens, e: impeller

#48817 Roll Clang from 00396e6a1a0b to 725656bdd885
  DEPS
Labels: autosubmit

#48818 Roll Dart SDK from be8a95b6717d to 2c928cc12f94 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#48821 Roll Skia from 9e89d96899f4 to 13c286972ea3 (1 revision)
  DEPS
Labels: autosubmit

#48834 Roll Skia from 13c286972ea3 to e55567fceb5f (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48839 Roll Dart SDK from 422e0bcdcf96 to feb35ba49cd7 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#48803 Add a new external texture type to Android embedder
  shell/platform/android/android_shell_holder_unittests.cc
  shell/platform/android/image_external_texture.cc
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
  shell/platform/android/io/flutter/view/FlutterView.java
  shell/platform/android/io/flutter/view/TextureRegistry.java
  shell/platform/android/jni/jni_mock.h
  shell/platform/android/jni/platform_view_android_jni.h
  shell/platform/android/platform_view_android_jni_impl.cc
  shell/platform/android/platform_view_android_jni_impl.h
  shell/platform/android/test/io/flutter/embedding/engine/renderer/FlutterRendererTest.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
Labels: platform-android

#48760 [Impeller] dont allocate capture strings in release mode.
  impeller/core/capture.cc
  impeller/core/capture.h
Labels: e: impeller, autosubmit

#48853 Roll Dart SDK from feb35ba49cd7 to 9acc6e29b779 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#48852 Move `//third_party/tinygltf` to `//flutter/third_party/tinygltf`
  DEPS
  build/secondary/flutter/third_party/tinygltf/BUILD.gn
  build/secondary/flutter/third_party/tinygltf/tinygltf_stub.cc
  ci/licenses_golden/excluded_files
  ci/licenses_golden/tool_signature
  impeller/scene/importer/BUILD.gn
  impeller/scene/importer/importer_gltf.cc
  tools/licenses/lib/paths.dart
Labels: e: impeller, autosubmit

#48813 [Impeller] Clamp new blur sigma
  impeller/entity/contents/filters/directional_gaussian_blur_filter_contents.cc
  impeller/entity/contents/filters/gaussian_blur_filter_contents.cc
  impeller/entity/contents/filters/gaussian_blur_filter_contents.h
  impeller/entity/contents/filters/gaussian_blur_filter_contents_unittests.cc
Labels: will affect goldens, e: impeller

#48864 Roll Dart SDK from 9acc6e29b779 to e349db99706d (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#48867 Roll Dart SDK from e349db99706d to ad72e1a31a83 (1 revision)
  DEPS
Labels: autosubmit

#48872 Roll Dart SDK from ad72e1a31a83 to 79cdacec8bb3 (1 revision)
  DEPS
Labels: autosubmit

#48874 Roll Dart SDK from 79cdacec8bb3 to cc0067095755 (1 revision)
  DEPS
Labels: autosubmit

#48880 Roll Dart SDK from cc0067095755 to 611fca7f0c20 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#48881 [Impeller] made the blur entity test able to use the new blur
  impeller/entity/entity_unittests.cc
Labels: e: impeller, autosubmit

#48807 Fix css changes with macOS 13 and Safari
  lib/web_ui/test/engine/semantics/semantics_test.dart
  lib/web_ui/test/engine/text_editing_test.dart
Labels: platform-web, will affect goldens, autosubmit

#48856 [Impeller] remove trace events that have outlived their usefulness.
  impeller/renderer/backend/vulkan/allocator_vk.cc
  impeller/renderer/backend/vulkan/command_pool_vk.cc
  impeller/renderer/backend/vulkan/descriptor_pool_vk.cc
  impeller/renderer/backend/vulkan/fence_waiter_vk.cc
Labels: e: impeller, autosubmit

#48624 Fix _availability_version_check for iOS 11 and 12
  BUILD.gn
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/common/BUILD.gn
  shell/platform/darwin/common/availability_version_check.cc
  shell/platform/darwin/common/availability_version_check.h
  shell/platform/darwin/common/availability_version_check_unittests.cc
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/availability_version_check_test.mm
  testing/run_tests.py
Labels: platform-ios, affects: desktop, platform-macos

#48248 [web] PointerBinding per view
  lib/web_ui/lib/src/engine/embedder.dart
  lib/web_ui/lib/src/engine/initialization.dart
  lib/web_ui/lib/src/engine/keyboard_binding.dart
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/pointer_binding.dart
  lib/web_ui/lib/src/engine/pointer_binding/event_position_helper.dart
  lib/web_ui/lib/src/engine/pointer_converter.dart
  lib/web_ui/lib/src/engine/semantics/tappable.dart
  lib/web_ui/lib/src/engine/view_embedder/embedding_strategy/custom_element_embedding_strategy.dart
  lib/web_ui/lib/src/engine/view_embedder/embedding_strategy/embedding_strategy.dart
  lib/web_ui/lib/src/engine/view_embedder/embedding_strategy/full_page_embedding_strategy.dart
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/test/canvaskit/initialization/services_vs_ui_test.dart
  lib/web_ui/test/engine/pointer_binding/event_position_helper_test.dart
  lib/web_ui/test/engine/pointer_binding_test.dart
  lib/web_ui/test/engine/view_embedder/embedding_strategy/custom_element_embedding_strategy_test.dart
  lib/web_ui/test/engine/view_embedder/embedding_strategy/full_page_embedding_strategy_test.dart
Labels: platform-web, will affect goldens, autosubmit

#48845 Move `third_party/stb` to `flutter/third_party`.
  DEPS
  build/secondary/flutter/third_party/stb/BUILD.gn
  build/secondary/flutter/third_party/stb/stb_truetype_stub.cc
  ci/licenses_golden/excluded_files
  ci/licenses_golden/tool_signature
  impeller/typographer/backends/stb/BUILD.gn
  impeller/typographer/backends/stb/typeface_stb.h
  tools/licenses/lib/paths.dart
Labels: e: impeller, autosubmit

#48811 [Android] Add target to have linux_android_emulator_tests run on AVDs with Android 33 & 34
  .ci.yaml
  ci/builders/linux_android_emulator_33.json
Labels: autosubmit

#48890 Roll Skia from e55567fceb5f to 17bd70326a49 (22 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48741 [CP] Only run firebase tests on HEAD (#48548)
  ci/builders/README.md
  ci/builders/linux_android_aot_engine.json
Labels: autosubmit

#48891 Roll Dart SDK from 611fca7f0c20 to 53dfedb82222 (1 revision)
  DEPS
Labels: autosubmit

#48858 Add support for exposing accessibility identifier as accessibilityIdentifier on iOS
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest.mm
Labels: platform-ios, autosubmit

#48882 SemanticsUpdateBuilder migration: introduce `identifier`
  lib/ui/fixtures/ui_test.dart
  lib/ui/semantics.dart
  lib/web_ui/lib/semantics.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
  shell/platform/embedder/fixtures/main.dart
  testing/scenario_app/lib/src/locale_initialization.dart
Labels: platform-web, autosubmit

#48847 Move `third_party/yapf` to `flutter/third_party/yapf`.
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/tool_signature
  tools/licenses/lib/paths.dart
  tools/yapf.bat
  tools/yapf.sh
Labels: autosubmit

#48897 Roll Skia from bd5941d727be to 461256aac224 (1 revision)
  DEPS
Labels: autosubmit

#48900 Roll Skia from 461256aac224 to 50346ff52bbb (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48905 Roll Dart SDK from 53dfedb82222 to 9113869cad5f (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#48908 Roll Skia from 50346ff52bbb to 3b1f4839952f (1 revision)
  DEPS
Labels: autosubmit

#48910 Roll Skia from 3b1f4839952f to 6e3dca50f506 (3 revisions)
  DEPS
Labels: autosubmit

#48911 Roll Skia from 6e3dca50f506 to f436b5ea0e62 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48912 Roll Skia from f436b5ea0e62 to 0b3bebcd0907 (1 revision)
  DEPS
Labels: autosubmit

#48914 Roll Dart SDK from 9113869cad5f to 82c4571bb2de (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#48915 Roll Skia from 0b3bebcd0907 to 9ee61bf39374 (1 revision)
  DEPS
Labels: autosubmit

#48917 Roll Skia from 9ee61bf39374 to 3bbb159b476f (1 revision)
  DEPS
Labels: autosubmit

#48920 Roll Skia from 3bbb159b476f to fe04635b125f (1 revision)
  DEPS
Labels: autosubmit

#48922 Roll Skia from fe04635b125f to e1b4c6d9bc8d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#48925 Roll Skia from e1b4c6d9bc8d to 053490edfa70 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit
