Repository flutter/engine, pull requests merged in 2023-09, with the labels that each got.

#45362 Roll Dart SDK from 9f9bd8cddfb0 to 0c121a6431cc (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#45363 Roll Skia from 818f20f3f653 to e585fdc18134 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45365 [Impeller] use correct blend mode for performance overlay
  flow/stopwatch_dl.cc
Labels: autosubmit

#45366 Roll Skia from e585fdc18134 to 2916365d0fa6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45368 Roll Skia from 2916365d0fa6 to 6d95a1db276d (1 revision)
  DEPS
Labels: autosubmit

#45369 Roll Skia from 6d95a1db276d to 4eb9b17d8e84 (1 revision)
  DEPS
Labels: autosubmit

#45056 [Linux] Fix channel buffers control commands error handling
  shell/platform/linux/fl_binary_messenger.cc
  shell/platform/linux/fl_binary_messenger_test.cc
Labels: affects: desktop, platform-linux, autosubmit

#45372 Roll Fuchsia Mac SDK from _x3hf702RacYnw3E6... to sk7JBGzW1Jw10Wy-T...
  DEPS
Labels: autosubmit

#45376 Roll Skia from 4eb9b17d8e84 to d6266ef14a7e (1 revision)
  DEPS
Labels: autosubmit

#45380 Migrate Fuchsia VK calls of GrBackend*
  shell/platform/fuchsia/flutter/vulkan_surface.cc
  shell/platform/fuchsia/flutter/vulkan_surface_producer.cc
Labels: platform-fuchsia, autosubmit

#45351 Reland "ios: remove shared_application and support app extension build #44732"
  shell/platform/darwin/common/framework/Source/FlutterNSBundleUtils.h
  shell/platform/darwin/common/framework/Source/FlutterNSBundleUtils.mm
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Headers/FlutterPlugin.h
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/ios/framework/Source/FlutterDartProjectTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformPluginTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPluginAppLifeCycleDelegate.mm
  shell/platform/darwin/ios/framework/Source/FlutterPluginAppLifeCycleDelegateTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
Labels: platform-ios, affects: desktop, platform-macos, autosubmit

#45313 [Impeller] EntityPass::Clone needs to clone harder
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/canvas.cc
  impeller/entity/entity_pass.cc
  impeller/entity/entity_pass.h
Labels: will affect goldens, e: impeller, autosubmit

#45384 Roll Dart SDK from 0c121a6431cc to a2ea759c16cc (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#45303 [ios][ios17][text_input]fix text input system highlight in iOS 17 Beta 7 with firstRectForRange
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPluginTest.mm
Labels: platform-ios, autosubmit

#45392 Roll Skia from d5d3b0d4ee77 to 02fa14799c6c (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45394 Roll Skia from 02fa14799c6c to f3f6c733c7e6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45396 Roll Skia from f3f6c733c7e6 to 2c0405489966 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45397 Roll Dart SDK from a2ea759c16cc to cdf1ce0c6d7e (1 revision)
  DEPS
Labels: autosubmit

#45310 [Windows] Update vsync on raster thread
  shell/platform/windows/angle_surface_manager.cc
  shell/platform/windows/flutter_windows_engine.h
  shell/platform/windows/flutter_windows_view.cc
  shell/platform/windows/flutter_windows_view_unittests.cc
Labels: affects: desktop, platform-windows, autosubmit

#45402 Roll Skia from 2c0405489966 to 22ae23891e8e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45403 Roll Fuchsia Mac SDK from sk7JBGzW1Jw10Wy-T... to OF4TS05qlWCjukWw6...
  DEPS
Labels: will affect goldens, autosubmit

#45350 [Impeller] turned on validations for all debug builds
  DEPS
  shell/platform/android/BUILD.gn
  shell/platform/android/android_context_vulkan_impeller.cc
  shell/platform/android/io/flutter/embedding/engine/loader/FlutterLoader.java
  tools/gn
Labels: platform-android, autosubmit

#45405 Roll Skia from 22ae23891e8e to fedff79a6afc (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45406 [impeller] premultiply vertices colors.
  impeller/display_list/dl_unittests.cc
  impeller/display_list/dl_vertices_geometry.cc
Labels: will affect goldens, e: impeller, autosubmit

#45407 Roll Skia from fedff79a6afc to 2d8849f9f0cc (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45358 Cull the RTree bounds when they are forwarded in DrawDisplayList
  display_list/dl_builder.cc
Labels: autosubmit

#45393 [Impeller] Make paths externally immutable, update all tests to use PathBuilder to create Path.
  impeller/display_list/dl_dispatcher.cc
  impeller/display_list/skia_conversions.cc
  impeller/display_list/skia_conversions.h
  impeller/geometry/geometry_unittests.cc
  impeller/geometry/path.h
  impeller/geometry/path_builder.cc
  impeller/geometry/path_builder.h
Labels: will affect goldens, e: impeller, autosubmit

#45388 [Impeller] Better demonstrate blur and draw picture?
  impeller/aiks/aiks_unittests.cc
Labels: will affect goldens, e: impeller, autosubmit

#45307 Remove deprecated MOCK_METHODx calls
  flow/stopwatch_unittests.cc
  impeller/aiks/testing/context_mock.h
  impeller/renderer/testing/mocks.h
  lib/ui/painting/image_encoding_unittests.cc
  shell/common/animator_unittests.cc
  shell/common/engine_unittests.cc
  shell/common/rasterizer_unittests.cc
  shell/common/shell_unittests.cc
  shell/platform/android/android_context_gl_impeller_unittests.cc
  shell/platform/android/android_shell_holder_unittests.cc
  shell/platform/android/apk_asset_provider_unittests.cc
  shell/platform/common/client_wrapper/standard_message_codec_unittests.cc
  shell/platform/embedder/platform_view_embedder_unittests.cc
  shell/platform/fuchsia/flutter/tests/platform_view_unittest.cc
  shell/platform/linux/testing/mock_binary_messenger.h
  shell/platform/linux/testing/mock_im_context.h
  shell/platform/linux/testing/mock_settings.h
  shell/platform/linux/testing/mock_signal_handler.h
  shell/platform/linux/testing/mock_text_input_view_delegate.h
  shell/platform/windows/flutter_window_unittests.cc
  shell/platform/windows/flutter_windows_engine_unittests.cc
  shell/platform/windows/flutter_windows_view.h
  shell/platform/windows/flutter_windows_view_unittests.cc
  shell/platform/windows/platform_handler_unittests.cc
  shell/platform/windows/settings_plugin_unittests.cc
  shell/platform/windows/testing/mock_direct_manipulation.h
  shell/platform/windows/testing/mock_text_input_manager.h
  shell/platform/windows/testing/mock_window.h
  shell/platform/windows/testing/mock_window_binding_handler.h
  shell/platform/windows/testing/mock_window_binding_handler_delegate.h
  shell/platform/windows/testing/mock_windows_proc_table.h
  shell/platform/windows/text_input_plugin_unittest.cc
  shell/profiling/sampling_profiler_unittest.cc
Labels: platform-android, affects: desktop, platform-linux, platform-windows, platform-fuchsia, e: impeller, autosubmit

#45412 Roll Dart SDK from cdf1ce0c6d7e to a5c7102af509 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#45408 [Impeller] Import cstring for memcpy.
  impeller/entity/contents/text_contents.cc
Labels: will affect goldens, e: impeller

#45356 Remove --disable-service-auth-codes
  runtime/dart_vm.cc
Labels: will affect goldens, autosubmit

#45413 Roll Fuchsia Mac SDK from OF4TS05qlWCjukWw6... to MesZPNdj-uw8VdCyV...
  DEPS
Labels: autosubmit

#45414 Roll Skia from 2d8849f9f0cc to 15f77147a3ec (1 revision)
  DEPS
Labels: autosubmit

#45417 Roll Fuchsia Mac SDK from MesZPNdj-uw8VdCyV... to E7CUB2EEOm7ShBUib...
  DEPS
Labels: autosubmit

#45419 Roll Fuchsia Mac SDK from E7CUB2EEOm7ShBUib... to p56hmQk2lEbN-VwEg...
  DEPS
Labels: autosubmit

#45420 Roll Fuchsia Mac SDK from p56hmQk2lEbN-VwEg... to ynBQWN3XpE2JvSlfd...
  DEPS
Labels: autosubmit

#45421 Roll Skia from 15f77147a3ec to 4d0501380011 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45422 Roll Skia from 4d0501380011 to 906dcd219276 (1 revision)
  DEPS
Labels: autosubmit

#45423 Roll Skia from 906dcd219276 to 5eaf624077b5 (1 revision)
  DEPS
Labels: autosubmit

#45424 Roll ANGLE from ebf1e7163216 to 1fb536394148 (1 revision)
  DEPS
Labels: autosubmit

#45425 Roll Skia from 5eaf624077b5 to c9d527e6b535 (1 revision)
  DEPS
Labels: autosubmit

#45426 Roll ANGLE from 1fb536394148 to ab9bbb9b11b3 (1 revision)
  DEPS
Labels: autosubmit

#45429 Roll Dart SDK from a5c7102af509 to 671cf059e4b6 (1 revision)
  DEPS
Labels: autosubmit

#45098 Fix building on Pango 1.49.4
  shell/platform/linux/fl_accessible_text_field.cc
Labels: affects: desktop, platform-linux

#45434 Roll Skia from c9d527e6b535 to 8206402f3c35 (1 revision)
  DEPS
Labels: autosubmit

#45435 Roll Dart SDK from 671cf059e4b6 to 43d4b1373788 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#45436 Roll Fuchsia Mac SDK from A82pOZ3-NNgfJ2Da7... to qe_q1aYCmE0eC-2Yz...
  DEPS
Labels: autosubmit

#45440 Roll Skia from 8206402f3c35 to 7d0e33e32427 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45441 Roll ANGLE from e691a4edb19a to b62216047112 (1 revision)
  DEPS
Labels: autosubmit

#45443 Roll ANGLE from b62216047112 to e72efa276c45 (1 revision)
  DEPS
Labels: autosubmit

#45447 Roll Fuchsia Mac SDK from qe_q1aYCmE0eC-2Yz... to bHw1LzoikQJthLkTE...
  DEPS
Labels: autosubmit

#45448 Roll Skia from 055b26152483 to d8ea902500a3 (1 revision)
  DEPS
Labels: autosubmit

#45390 Adds a Dart library for loading and parsing build configs
  ci/builders/linux_unopt.json
  ci/builders/mac_android_aot_engine.json
  ci/check_build_configs.sh
  testing/run_tests.py
  tools/pkg/engine_build_configs/analysis_options.yaml
  tools/pkg/engine_build_configs/bin/check.dart
  tools/pkg/engine_build_configs/lib/engine_build_configs.dart
  tools/pkg/engine_build_configs/lib/src/build_config.dart
  tools/pkg/engine_build_configs/lib/src/build_config_loader.dart
  tools/pkg/engine_build_configs/pubspec.yaml
  tools/pkg/engine_build_configs/test/build_config_loader_test.dart
  tools/pkg/engine_build_configs/test/build_config_test.dart
  tools/pub_get_offline.py
Labels: will affect goldens

#45451 Roll Skia from d8ea902500a3 to c07fbf4c1d67 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45456 [Impeller] compute path bounds once, use Skia computed bounds where possible.
  impeller/display_list/skia_conversions.cc
  impeller/geometry/geometry_unittests.cc
  impeller/geometry/path.cc
  impeller/geometry/path.h
  impeller/geometry/path_builder.cc
  impeller/geometry/path_builder.h
Labels: e: impeller, autosubmit

#45457 Roll ANGLE from 9666d4d5f7c8 to dcd62fc41c3b (1 revision)
  DEPS
Labels: autosubmit

#45460 Roll Skia from c07fbf4c1d67 to a0572041af8e (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45463 Roll Skia from a0572041af8e to 72c56fab439c (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45464 Roll Skia from 72c56fab439c to 7e80aedd05b6 (1 revision)
  DEPS
Labels: autosubmit

#45454 Revert unconditional CATransaction.
  shell/platform/darwin/ios/ios_surface_metal_impeller.mm
Labels: platform-ios, autosubmit

#45465 Roll Skia from 7e80aedd05b6 to 2b9fc6a2c250 (1 revision)
  DEPS
Labels: autosubmit

#45416 Fix iOS unittests leak in shared.invoke method channel that causes crash
  shell/platform/darwin/ios/framework/Source/FlutterPlatformPluginTest.mm
Labels: platform-ios, autosubmit

#45466 Roll Skia from 2b9fc6a2c250 to 1019c10a2d38 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45391 [iOS ] Fix errors in unittest and scenario tests running against iOS 17 simulators (details in the description)
  testing/scenario_app/ios/Scenarios/ScenariosUITests/GoldenTestManager.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/LocalizationInitializationTest.m
Labels: autosubmit

#45467 Adds a comment on clang_arm64_apilevel26 toolchain usage
  shell/platform/android/BUILD.gn
Labels: platform-android, autosubmit

#45469 Roll Skia from 1019c10a2d38 to af473004622f (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45470 Roll Skia from af473004622f to 0a253625a76a (2 revisions)
  DEPS
Labels: autosubmit

#45471 Add import for `<unordered_map>` to fix the g3 build
  impeller/typographer/font_glyph_pair.h
Labels: e: impeller, autosubmit

#45418 [Impeller] construct text frames on UI thread.
  display_list/BUILD.gn
  display_list/benchmarking/dl_complexity_gl.cc
  display_list/benchmarking/dl_complexity_gl.h
  display_list/benchmarking/dl_complexity_metal.cc
  display_list/benchmarking/dl_complexity_metal.h
  display_list/display_list.h
  display_list/dl_builder.cc
  display_list/dl_builder.h
  display_list/dl_canvas.h
  display_list/dl_op_receiver.h
  display_list/dl_op_records.h
  display_list/skia/dl_sk_canvas.cc
  display_list/skia/dl_sk_canvas.h
  display_list/skia/dl_sk_dispatcher.cc
  display_list/skia/dl_sk_dispatcher.h
  display_list/utils/dl_receiver_utils.h
  flow/BUILD.gn
  flow/layers/performance_overlay_layer.cc
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/canvas.cc
  impeller/aiks/canvas.h
  impeller/display_list/dl_dispatcher.cc
  impeller/display_list/dl_dispatcher.h
  impeller/entity/contents/text_contents.cc
  impeller/entity/contents/text_contents.h
  impeller/entity/entity_unittests.cc
  impeller/typographer/backends/skia/text_frame_skia.cc
  impeller/typographer/backends/skia/text_frame_skia.h
  impeller/typographer/backends/stb/text_frame_stb.cc
  impeller/typographer/backends/stb/text_frame_stb.h
  impeller/typographer/typographer_context.h
  impeller/typographer/typographer_unittests.cc
  shell/common/dl_op_spy.cc
  shell/common/dl_op_spy.h
  testing/display_list_testing.cc
  testing/display_list_testing.h
  testing/mock_canvas.cc
  testing/mock_canvas.h
  third_party/txt/BUILD.gn
  third_party/txt/src/skia/paragraph_skia.cc
  third_party/txt/tests/paragraph_unittests.cc
Labels: e: impeller, autosubmit

#45473 Roll Skia from 0a253625a76a to ce2da423cb5d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45475 Roll Skia from ce2da423cb5d to 3a3a64670e08 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45476 Roll Skia from 3a3a64670e08 to 72d57724bcb8 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45479 Roll Fuchsia Mac SDK from bHw1LzoikQJthLkTE... to dFe-t1SosqZwU5lZR...
  DEPS
Labels: autosubmit

#45481 Roll Skia from 72d57724bcb8 to 619eef2d0d67 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45483 Roll Skia from 619eef2d0d67 to a7f50692638d (1 revision)
  DEPS
Labels: autosubmit

#45485 Roll Skia from a7f50692638d to 0d91e2410d0e (1 revision)
  DEPS
Labels: autosubmit

#45488 Roll ANGLE from 5116f54eca4f to 55d3636b66e0 (1 revision)
  DEPS
Labels: autosubmit

#45489 Roll Skia from 0d91e2410d0e to 2cc5d8f0b0ef (1 revision)
  DEPS
Labels: autosubmit

#45490 Roll Skia from 2cc5d8f0b0ef to d603af2045ce (1 revision)
  DEPS
Labels: autosubmit

#45491 Roll Skia from d603af2045ce to a74a98890cc1 (2 revisions)
  DEPS
Labels: autosubmit

#45492 Roll Skia from a74a98890cc1 to 596a1f192faa (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45493 Roll Skia from 596a1f192faa to 4468ef79f3d7 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45468 Remove android API 26 bump for validation layers
  tools/gn
Labels: autosubmit

#45500 Roll Skia from 99bcee22f87d to 487cd9240571 (1 revision)
  DEPS
Labels: autosubmit

#45404 Update deps on DDC build targets
  web_sdk/BUILD.gn
Labels: platform-web

#45504 Roll Skia from 487cd9240571 to 59e54ccf25a4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45505 Roll Fuchsia Mac SDK from dFe-t1SosqZwU5lZR... to hHwU6r12A0sy5Bq-0...
  DEPS
Labels: autosubmit

#45506 Roll Skia from 59e54ccf25a4 to e5ed4ffaaaa4 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45510 Roll Skia from e5ed4ffaaaa4 to a274609c442c (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45502 Add macOS support for plugin value publishing
  shell/platform/darwin/macos/framework/Headers/FlutterPluginRegistrarMacOS.h
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewController.mm
Labels: affects: desktop, platform-macos, autosubmit

#45513 Roll Skia from a274609c442c to 0039caadd635 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45514 Roll Fuchsia Linux SDK from 8dgICHnG28wNHzoz3... to SCoDb2m_zQDLrMhwT...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#45516 Roll Skia from 0039caadd635 to 9c9757c5d17d (1 revision)
  DEPS
Labels: autosubmit

#45518 Roll Skia from 9c9757c5d17d to 2b76d1113497 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45520 [Impeller] Gaussian blur: Remove the current blur style implementation.
  ci/licenses_golden/licenses_flutter
  impeller/entity/BUILD.gn
  impeller/entity/contents/content_context.cc
  impeller/entity/contents/content_context.h
  impeller/entity/contents/filters/filter_contents.cc
  impeller/entity/contents/filters/filter_contents.h
  impeller/entity/contents/filters/gaussian_blur_filter_contents.cc
  impeller/entity/contents/filters/gaussian_blur_filter_contents.h
  impeller/entity/shaders/gaussian_blur/gaussian_blur.glsl
  impeller/entity/shaders/gaussian_blur/gaussian_blur_alpha_decal.frag
  impeller/entity/shaders/gaussian_blur/gaussian_blur_alpha_nodecal.frag
  impeller/entity/shaders/gaussian_blur/gaussian_blur_noalpha_decal.frag
  impeller/entity/shaders/gaussian_blur/gaussian_blur_noalpha_nodecal.frag
  impeller/tools/malioc.json
Labels: e: impeller, autosubmit

#45521 Roll Skia from 2b76d1113497 to 9e86d3f6239a (1 revision)
  DEPS
Labels: autosubmit

#45525 Revert "Enforce the rule of calling `FlutterView.Render`"
  lib/ui/fixtures/ui_test.dart
  lib/ui/platform_dispatcher.dart
  lib/ui/window.dart
  lib/ui/window/platform_configuration_unittests.cc
  shell/common/shell.cc
  shell/common/shell.h
Labels: autosubmit

#45524 [Impeller] Gaussian blur: Remove lingering BlurStyle vertex data/uniforms.
  impeller/entity/shaders/gaussian_blur/gaussian_blur.glsl
  impeller/entity/shaders/gaussian_blur/gaussian_blur.vert
  impeller/tools/malioc.json
Labels: e: impeller

#45527 Roll Skia from 9e86d3f6239a to 5b7a07a6356f (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45528 Roll Skia from 5b7a07a6356f to c99601816d84 (1 revision)
  DEPS
Labels: autosubmit

#45529 Roll Fuchsia Mac SDK from hHwU6r12A0sy5Bq-0... to WbB3tmMXnuwJBAHoi...
  DEPS
Labels: autosubmit

#45532 Roll Fuchsia Linux SDK from SCoDb2m_zQDLrMhwT... to N915IZbyx6MSrwwS-...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#45533 Roll Skia from c99601816d84 to 826f9f5d20b6 (1 revision)
  DEPS
Labels: autosubmit

#45534 Roll Skia from 826f9f5d20b6 to 9a41a83f96d7 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45537 Roll Skia from 9a41a83f96d7 to 16df0c27bc0e (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45543 Roll Skia from 16df0c27bc0e to c3d6534b0ac3 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45531 [fuchsia] Restructure Flatland vsync loop
  shell/platform/fuchsia/flutter/engine.cc
  shell/platform/fuchsia/flutter/flatland_connection.cc
  shell/platform/fuchsia/flutter/flatland_connection.h
  shell/platform/fuchsia/flutter/flutter_runner_product_configuration.cc
  shell/platform/fuchsia/flutter/flutter_runner_product_configuration.h
  shell/platform/fuchsia/flutter/tests/external_view_embedder_unittests.cc
  shell/platform/fuchsia/flutter/tests/flatland_connection_unittests.cc
  shell/platform/fuchsia/flutter/tests/flutter_runner_product_configuration_unittests.cc
Labels: platform-fuchsia

#45474 [Impeller] Document and slightly refactor `ResourceManagerVK` & friends.
  ci/licenses_golden/excluded_files
  impeller/renderer/backend/vulkan/BUILD.gn
  impeller/renderer/backend/vulkan/allocator_vk.cc
  impeller/renderer/backend/vulkan/resource_manager_vk.cc
  impeller/renderer/backend/vulkan/resource_manager_vk.h
  impeller/renderer/backend/vulkan/resource_manager_vk_unittests.cc
Labels: e: impeller, autosubmit

#45545 Roll Skia from c3d6534b0ac3 to 59a2610cd83d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45548 Roll Skia from 59a2610cd83d to ee741e5e8cf3 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45523 Reverts part of "fix auto-correction highlight on top left corner (Again)"
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPluginTest.mm
Labels: platform-ios, autosubmit

#45298 [Impeller] Started tracking the pool with the command buffer.
  ci/licenses_golden/excluded_files
  impeller/renderer/backend/vulkan/BUILD.gn
  impeller/renderer/backend/vulkan/command_encoder_vk.cc
  impeller/renderer/backend/vulkan/command_encoder_vk_unittests.cc
  impeller/renderer/backend/vulkan/resource_manager_vk.h
  impeller/renderer/backend/vulkan/test/mock_vulkan.cc
Labels: e: impeller, autosubmit

#45552 Roll Skia from ee741e5e8cf3 to ce2c94883cb5 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45550 Roll Fuchsia Mac SDK from WbB3tmMXnuwJBAHoi... to EuBfOtm5TZIdgNaQe...
  DEPS
Labels: autosubmit

#45551 Roll ANGLE from 204c07a56b64 to cdbc45a9f37e (1 revision)
  DEPS
Labels: autosubmit

#45554 Roll Skia from ce2c94883cb5 to efd438ed1c06 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45557 Roll Skia from efd438ed1c06 to 17f36a6a101e (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45559 Roll Fuchsia Linux SDK from N915IZbyx6MSrwwS-... to 33DToYd0jNpWX1jNv...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#45560 Roll Skia from 17f36a6a101e to 1b8a25d05c45 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45563 Roll Skia from 1b8a25d05c45 to 658025e9efdd (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45564 Roll Skia from 658025e9efdd to fb4faa8646f8 (1 revision)
  DEPS
Labels: autosubmit

#45567 Roll Skia from fb4faa8646f8 to ce3ec572ae77 (1 revision)
  DEPS
Labels: autosubmit

#45568 Roll Skia from ce3ec572ae77 to ece9f3a15b08 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45530 [Impeller] Aiks image filters; allow setting effect transforms after FilterContents instantiation.
  ci/licenses_golden/licenses_flutter
  impeller/aiks/BUILD.gn
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/canvas.cc
  impeller/aiks/canvas.h
  impeller/aiks/color_filter.cc
  impeller/aiks/color_filter.h
  impeller/aiks/image_filter.cc
  impeller/aiks/image_filter.h
  impeller/aiks/paint.cc
  impeller/aiks/paint.h
  impeller/display_list/dl_dispatcher.cc
  impeller/entity/contents/filters/filter_contents.cc
  impeller/entity/contents/filters/filter_contents.h
  impeller/entity/contents/filters/inputs/filter_contents_filter_input.cc
  impeller/entity/contents/filters/inputs/filter_contents_filter_input.h
  impeller/entity/contents/filters/inputs/filter_input.cc
  impeller/entity/contents/filters/inputs/filter_input.h
  impeller/entity/contents/filters/inputs/filter_input_unittests.cc
  impeller/entity/contents/filters/matrix_filter_contents.cc
  impeller/entity/contents/filters/matrix_filter_contents.h
  impeller/entity/entity_pass.cc
  impeller/entity/entity_unittests.cc
Labels: will affect goldens, e: impeller

#45569 Roll ANGLE from 99d39241ad4d to e60556f75b68 (1 revision)
  DEPS
Labels: autosubmit

#45571 Roll Fuchsia Mac SDK from EuBfOtm5TZIdgNaQe... to h_bQLstuirD8blCZW...
  DEPS
Labels: autosubmit

#45570 Add dart2wasm dependency to flutter_frontend_server
  flutter_frontend_server/pubspec.yaml
Labels: autosubmit

#45572 Roll ANGLE from e60556f75b68 to 65ec697f4183 (1 revision)
  DEPS
Labels: autosubmit

#45573 Roll Fuchsia Linux SDK from 33DToYd0jNpWX1jNv... to KvtLknmg3f23uqWVm...
  DEPS
Labels: autosubmit

#45575 Roll Skia from ece9f3a15b08 to 71e40cc0faf6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#44693 [Web] Fix insertions/deletions at inverted selection for TextEditingDeltas
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/engine/text_editing_test.dart
Labels: platform-web, autosubmit

#45578 Roll Skia from c5e67d222f46 to 5b1e40fc0548 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45558 Document and provide small cleanups to `CommandPoolVk`.
  impeller/renderer/backend/vulkan/command_pool_vk.cc
  impeller/renderer/backend/vulkan/command_pool_vk.h
Labels: e: impeller

#45580 Roll Skia from 5b1e40fc0548 to 5181fcf6184e (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45582 Roll ANGLE from 83030fed595b to a507f31285b8 (1 revision)
  DEPS
Labels: autosubmit

#45561 Remove usage of the Jazzy document formatter for Objective C, in favor of Doxygen.
  .ci.yaml
  ci/builders/README.md
  ci/builders/mac_ios_engine.json
  lib/ui/platform_dispatcher.dart
  lib/ui/window.dart
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  tools/gen_objcdoc.sh
Labels: platform-web, autosubmit

#45583 Roll Skia from 5181fcf6184e to 948959b6b53e (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45584 Roll Skia from 948959b6b53e to 244c9ba5d0d7 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45586 Roll Skia from 244c9ba5d0d7 to 4996cc1ef9ba (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45588 Roll Skia from 4996cc1ef9ba to 1012ef8349ba (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45594 Roll Skia from 1012ef8349ba to 7f1d86d81d41 (1 revision)
  DEPS
Labels: autosubmit

#45597 Roll Skia from 7f1d86d81d41 to e5987e341cfd (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45599 Roll Fuchsia Linux SDK from KvtLknmg3f23uqWVm... to jYqYNRum5gWGFyoHR...
  DEPS
Labels: autosubmit

#45459 Makes Skia's vkQueueSubmit threadsafe.
  shell/platform/embedder/BUILD.gn
  shell/platform/embedder/tests/embedder_vk_unittests.cc
  vulkan/procs/vulkan_proc_table.cc
  vulkan/procs/vulkan_proc_table.h
  vulkan/vulkan_skia_proc_table.cc
Labels: autosubmit

#45603 Roll Fuchsia Mac SDK from h_bQLstuirD8blCZW... to RbgNQ_B-mcwvmNSq3...
  DEPS
Labels: autosubmit

#45607 Roll Skia from e5987e341cfd to 3dfd4316b80d (1 revision)
  DEPS
Labels: autosubmit

#45609 Roll Fuchsia Linux SDK from jYqYNRum5gWGFyoHR... to i9IPFS-XpkPjlH235...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#45610 Roll Skia from 3dfd4316b80d to 58e39bd84ab2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45612 Roll Fuchsia Mac SDK from RbgNQ_B-mcwvmNSq3... to 51fG0shrG6fW64BtN...
  DEPS
Labels: autosubmit
