Repository flutter/engine, pull requests merged in 2023-11, with the labels that each got.

#47527 [macOS] Delete FlutterCompositor tests
  ci/licenses_golden/licenses_flutter
  shell/platform/darwin/macos/BUILD.gn
  shell/platform/darwin/macos/framework/Source/FlutterCompositor.h
  shell/platform/darwin/macos/framework/Source/FlutterCompositorTest.mm
Labels: affects: desktop, platform-macos, autosubmit

#47397 [Impeller] stencil buffer record/replay instead of MSAA storage.
  impeller/entity/entity_pass.cc
  impeller/entity/entity_pass.h
  impeller/entity/inline_pass_context.cc
  impeller/entity/inline_pass_context.h
Labels: e: impeller, autosubmit

#47532 Roll Fuchsia Linux SDK from LCfhx_lTRJI51G0zc... to _TyF0etsONe5aqCbM...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#47218 [Impeller] OpenGLES: Ensure frag/vert textures are bound with unique texture units.
  impeller/renderer/backend/gles/buffer_bindings_gles.cc
  impeller/renderer/backend/gles/buffer_bindings_gles.h
Labels: Work in progress (WIP), e: impeller

#47347 [Impeller] Fix nullopt access and simplify coverage computation in GetSubpassCoverage.
  impeller/entity/entity_pass.cc
Labels: e: impeller

#47533 [Impeller] Include cstdint everywhere that uint32_t is used.
  impeller/base/allocation.h
  impeller/compiler/compiler.cc
  impeller/compiler/compiler_backend.h
  impeller/compiler/reflector.h
  impeller/compiler/runtime_stage_data.cc
  impeller/compiler/source_options.h
  impeller/compiler/spirv_compiler.h
  impeller/compiler/spirv_sksl.h
  impeller/compiler/switches.h
  impeller/compiler/uniform_sorter.cc
  impeller/core/shader_types.h
  impeller/entity/entity.h
  impeller/entity/entity_pass.h
  impeller/entity/inline_pass_context.h
  impeller/geometry/color.h
  impeller/geometry/gradient.h
  impeller/geometry/point.h
  impeller/renderer/backend/gles/device_buffer_gles.h
  impeller/renderer/backend/gles/gpu_tracer_gles.h
  impeller/renderer/backend/gles/render_pass_gles.cc
  impeller/renderer/backend/vulkan/allocator_vk.h
  impeller/renderer/backend/vulkan/android_hardware_buffer_texture_source_vk.cc
  impeller/renderer/backend/vulkan/blit_command_vk.cc
  impeller/renderer/backend/vulkan/capabilities_vk.h
  impeller/renderer/backend/vulkan/command_encoder_vk.h
  impeller/renderer/backend/vulkan/descriptor_pool_vk.h
  impeller/renderer/backend/vulkan/formats_vk.h
  impeller/renderer/backend/vulkan/pass_bindings_cache.h
  impeller/renderer/backend/vulkan/pipeline_library_vk.cc
  impeller/renderer/backend/vulkan/shader_library_vk.cc
  impeller/renderer/backend/vulkan/swapchain_impl_vk.h
  impeller/renderer/backend/vulkan/test/mock_vulkan.cc
  impeller/renderer/backend/vulkan/vertex_descriptor_vk.cc
  impeller/renderer/command.h
  impeller/renderer/compute_tessellator.cc
  impeller/renderer/pool.h
  impeller/scene/importer/vertices_builder.cc
  impeller/tessellator/c/tessellator.h
Labels: e: impeller, autosubmit

#47534 Roll Dart SDK from 99fa0283f9d7 to 448293573e98 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#47538 Roll Skia from 34ef20100acc to 83d6345dd3c2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47540 Roll Dart SDK from 448293573e98 to 62aceb5e057d (1 revision)
  DEPS
Labels: autosubmit

#47541 Roll Skia from 83d6345dd3c2 to f1983b5af2ef (2 revisions)
  DEPS
Labels: autosubmit

#47547 Roll Fuchsia Mac SDK from x2NzYMNhyodIwDl0I... to Lrg_lElxg0BmYp97-...
  DEPS
Labels: autosubmit

#47548 Roll Skia from f1983b5af2ef to b7ac9da3e5ac (1 revision)
  DEPS
Labels: autosubmit

#47549 Roll Dart SDK from 62aceb5e057d to 15558b6ae7d5 (1 revision)
  DEPS
Labels: autosubmit

#47551 Roll Fuchsia Linux SDK from _TyF0etsONe5aqCbM... to G6icdRMZm9dD9Oky1...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#47553 Roll Skia from 8fabb1ce2065 to 816d41255105 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47555 Roll Skia from 816d41255105 to 4594e2ef3ee8 (1 revision)
  DEPS
Labels: autosubmit

#47556 Roll Dart SDK from 15558b6ae7d5 to e6df03a57636 (1 revision)
  DEPS
Labels: autosubmit

#47491 Consolidate all the copies of the OpenFixtureAsSkData testing helper function
  impeller/aiks/aiks_unittests.cc
  impeller/display_list/dl_playground.cc
  impeller/typographer/typographer_unittests.cc
  lib/ui/painting/image_decoder_no_gl_unittests.cc
  lib/ui/painting/image_decoder_no_gl_unittests.h
  lib/ui/painting/image_decoder_unittests.cc
  shell/common/shell_io_manager_unittests.cc
  testing/testing.cc
  testing/testing.h
Labels: e: impeller, autosubmit

#47558 Roll Skia from 4594e2ef3ee8 to 84e1dc3af49e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47560 Roll Skia from 84e1dc3af49e to 613abdf2c895 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47564 Roll Skia from 613abdf2c895 to 945284d57785 (1 revision)
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47579 Change FTL test to high capacity device
  ci/firebase_testlab.py
Labels: warning: land on red to fix tree breakage, autosubmit

#46125 Expose more methods on `ui.Paragraph`: lines
  lib/ui/dart_ui.cc
  lib/ui/text.dart
  lib/ui/text/paragraph.cc
  lib/ui/text/paragraph.h
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/text.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/paragraph.dart
  lib/web_ui/lib/src/engine/text/canvas_paragraph.dart
  lib/web_ui/lib/src/engine/text/layout_service.dart
  lib/web_ui/lib/text.dart
  lib/web_ui/skwasm/text/paragraph.cpp
  lib/web_ui/test/canvaskit/text_test.dart
  lib/web_ui/test/html/text_test.dart
  testing/dart/paragraph_test.dart
  third_party/txt/src/skia/paragraph_skia.cc
  third_party/txt/src/skia/paragraph_skia.h
  third_party/txt/src/txt/paragraph.h
Labels: platform-web, autosubmit

#47581 Roll Skia from 945284d57785 to 65b5bcd6c365 (12 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47582 [Impeller] Move all remaining Rect construction to named factories
  impeller/aiks/canvas.cc
  impeller/entity/contents/clip_contents.cc
  impeller/entity/contents/filters/border_mask_blur_filter_contents.cc
  impeller/entity/contents/filters/directional_gaussian_blur_filter_contents.cc
  impeller/entity/contents/filters/morphology_filter_contents.cc
  impeller/entity/contents/tiled_texture_contents.cc
  impeller/entity/entity_pass.cc
  impeller/entity/geometry/cover_geometry.cc
  impeller/entity/geometry/stroke_path_geometry.cc
  impeller/geometry/geometry_unittests.cc
  impeller/geometry/path.cc
  impeller/geometry/path_builder.cc
  impeller/geometry/rect.h
  impeller/geometry/rect_unittests.cc
  impeller/golden_tests/golden_tests.cc
  impeller/playground/imgui/imgui_impl_impeller.cc
  impeller/renderer/blit_pass.cc
  impeller/renderer/render_pass.cc
  impeller/renderer/snapshot.cc
  impeller/typographer/backends/stb/text_frame_stb.cc
  impeller/typographer/text_frame.cc
Labels: e: impeller, autosubmit

#47585 Roll Fuchsia Linux SDK from G6icdRMZm9dD9Oky1... to pvAbHwPJtOuEpHJN7...
  DEPS
Labels: autosubmit

#47587 Roll Skia from 65b5bcd6c365 to 39776c81d2b8 (2 revisions)
  DEPS
Labels: autosubmit

#47588 Roll Skia from 39776c81d2b8 to 66bbeb412a59 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47589 Roll Skia from 66bbeb412a59 to 8a5e27e4607c (1 revision)
  DEPS
Labels: autosubmit

#47567 Add some important comments to some of the FilteContents methods
  impeller/entity/contents/filters/filter_contents.h
Labels: e: impeller, autosubmit

#47590 Roll Fuchsia Mac SDK from Lrg_lElxg0BmYp97-... to 32ukjtetQl4pbXfTw...
  DEPS
Labels: autosubmit

#47591 Roll Skia from 8a5e27e4607c to 86ce6e04fddf (1 revision)
  DEPS
Labels: autosubmit

#47593 Roll Skia from 86ce6e04fddf to ff5e220c57e4 (1 revision)
  DEPS
Labels: autosubmit

#47599 Roll Skia from ff5e220c57e4 to 54be0f6f205b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47601 Roll Skia from 54be0f6f205b to 8299245af8a8 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47493 Update DisplayList tests to explicitly select the Roboto font
  display_list/BUILD.gn
  display_list/benchmarking/dl_benchmarks.cc
  display_list/benchmarking/dl_complexity_unittests.cc
  display_list/display_list_unittests.cc
  display_list/testing/dl_test_snippets.cc
  display_list/testing/dl_test_snippets.h
  flow/BUILD.gn
  shell/platform/fuchsia/flutter/BUILD.gn
Labels: platform-fuchsia, autosubmit

#47602 Roll Fuchsia Linux SDK from pvAbHwPJtOuEpHJN7... to YS7vrarYI-cHvhuBT...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#47575 Fix race condition in Platform View Scenario tests
  testing/scenario_app/lib/src/platform_view.dart
Labels: autosubmit

#47577 [CP][Impeller] fix clear color optimization for large subpasses. (#46887)
  impeller/aiks/aiks_unittests.cc
  impeller/entity/entity_pass.cc
Labels: e: impeller, autosubmit

#47578 [CP][Impeller] Disable raster stats service protocol. (#47206)
  flow/layers/layer_tree.h
  shell/common/shell.cc
  shell/common/shell_unittests.cc
Labels: autosubmit

#47604 Roll Skia from 8299245af8a8 to 70634da5c783 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47608 Roll Skia from 70634da5c783 to 2b3472da9888 (5 revisions)
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47066 [Impeller] Skia gold for flutter_tester dart tests.
  .ci.yaml
  ci/builders/linux_host_engine.json
  impeller/golden_tests_harvester/bin/golden_tests_harvester.dart
  impeller/golden_tests_harvester/pubspec.yaml
  lib/web_ui/pubspec.yaml
  testing/dart/BUILD.gn
  testing/dart/canvas_test.dart
  testing/dart/goldens.dart
  testing/dart/pubspec.yaml
  testing/resources/canvas_test_dithered_gradient.png
  testing/resources/canvas_test_gradient.png
  testing/resources/canvas_test_toImage.png
  testing/resources/dotted_path_effect_mixed_with_stroked_geometry.png
  testing/resources/text_with_gradient_with_matrix.png
  testing/run_tests.py
  testing/scenario_app/pubspec.yaml
  testing/skia_gold_client/README.md
  testing/skia_gold_client/lib/skia_gold_client.dart
  testing/skia_gold_client/pubspec.yaml
  web_sdk/web_test_utils/pubspec.yaml
Labels: platform-web, e: impeller, autosubmit

#47611 Roll Fuchsia Mac SDK from 32ukjtetQl4pbXfTw... to bhSlAQy4VM3Plrlh4...
  DEPS
Labels: autosubmit

#47606 Run tests on either macOS 12 or 13
  .ci.yaml
  ci/builders/mac_android_aot_engine.json
  ci/builders/mac_clang_tidy.json
  ci/builders/mac_clang_tidy_presubmit.json
  ci/builders/mac_host_engine.json
  ci/builders/mac_impeller_cmake_example.json
  ci/builders/mac_ios_engine.json
  ci/builders/mac_unopt.json
Labels: autosubmit

#47610 Roll Skia from 2b3472da9888 to 306543797674 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47598 Add a temporary fallback to move run_binary_file_analysis.py
  ci/binary_size_treemap.sh
Labels: autosubmit

#47603 Remove mirroring workflow from engine.
  .github/workflows/mirror.yml
Labels: autosubmit

#47614 Roll Skia from 306543797674 to 94000281b7d6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47616 Roll Skia from 94000281b7d6 to 66e06117294e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47619 Roll Skia from 66e06117294e to 86d15e651ae0 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47620 Manual roll Dart SDK from e6df03a57636 to 3c45f68cd7c2 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#47592 [Impeller] Deprecate the exposed Rect fields
  impeller/geometry/geometry_asserts.h
  impeller/geometry/geometry_unittests.cc
  impeller/geometry/rect.h
Labels: will affect goldens, e: impeller, autosubmit

#47623 Reland "Expose more methods on ui.Paragraph: lines" (#47584)
  lib/ui/BUILD.gn
  lib/ui/dart_ui.cc
  lib/ui/text.dart
  lib/ui/text/paragraph.cc
  lib/ui/text/paragraph.h
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/text.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/paragraph.dart
  lib/web_ui/lib/src/engine/text/canvas_paragraph.dart
  lib/web_ui/lib/src/engine/text/layout_service.dart
  lib/web_ui/lib/text.dart
  lib/web_ui/skwasm/text/paragraph.cpp
  lib/web_ui/test/canvaskit/text_test.dart
  lib/web_ui/test/html/text_test.dart
  testing/dart/paragraph_test.dart
  third_party/txt/src/skia/paragraph_skia.cc
  third_party/txt/src/skia/paragraph_skia.h
  third_party/txt/src/txt/paragraph.h
Labels: autosubmit

#47627 Roll Skia from 86d15e651ae0 to 3b8e2b391d03 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47630 Roll Skia from 3b8e2b391d03 to 5b6d295cc39b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47617 [Impeller] Use specialization constant for blur pipelines decal feature.
  ci/licenses_golden/licenses_flutter
  impeller/entity/BUILD.gn
  impeller/entity/contents/content_context.cc
  impeller/entity/contents/content_context.h
  impeller/entity/entity_unittests.cc
  impeller/entity/shaders/gaussian_blur/gaussian_blur.frag
  impeller/entity/shaders/gaussian_blur/gaussian_blur_noalpha_decal.frag
  impeller/entity/shaders/gaussian_blur/gaussian_blur_noalpha_nodecal.frag
  impeller/tools/malioc.json
Labels: e: impeller, autosubmit

#47633 Roll Skia from 5b6d295cc39b to 9f6022736b14 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47635 Roll Skia from 9f6022736b14 to 525a1487e501 (1 revision)
  DEPS
Labels: autosubmit

#47636 Roll Skia from 525a1487e501 to 745825a18444 (1 revision)
  DEPS
Labels: autosubmit

#47638 Roll Fuchsia Linux SDK from YS7vrarYI-cHvhuBT... to ho9FqsUD0hxh0b8to...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#47640 Roll Skia from 745825a18444 to 3db534b066e0 (1 revision)
  DEPS
Labels: autosubmit

#47641 Roll Fuchsia Mac SDK from bhSlAQy4VM3Plrlh4... to y-hqwYkPPVT6RwmAS...
  DEPS
Labels: autosubmit

#47642 Roll Skia from 3db534b066e0 to e5a6f9e79b0a (1 revision)
  DEPS
Labels: autosubmit

#47099 Reland: [web] Ensure handled key event is not propagated to IME
  lib/web_ui/lib/src/engine/keyboard_binding.dart
  lib/web_ui/lib/src/engine/raw_keyboard.dart
  lib/web_ui/test/common/keyboard_test_common.dart
  lib/web_ui/test/engine/raw_keyboard_test.dart
  lib/web_ui/test/engine/text_editing_test.dart
  third_party/web_locale_keymap/lib/web_locale_keymap/locale_keymap.dart
Labels: platform-web

#47648 Roll Skia from e5a6f9e79b0a to b173066e6f15 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47653 Roll Skia from b173066e6f15 to 75507da748f9 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47626 Upload debug symbols in engine v2 fuchsia build.
  ci/builders/linux_fuchsia.json
  tools/fuchsia/upload_to_symbol_server.py
Labels: autosubmit

#47631 [Impeller] add example of testing entity with "real" HAL instead of mocking.
  ci/licenses_golden/excluded_files
  impeller/entity/BUILD.gn
  impeller/entity/contents/checkerboard_contents.h
  impeller/entity/contents/checkerboard_contents_unittests.cc
  impeller/entity/entity_playground.cc
  impeller/entity/entity_playground.h
  impeller/entity/entity_unittests.cc
Labels: will affect goldens, e: impeller, autosubmit

#47658 [Impeller] removed operator overload (c++ style violation)
  impeller/renderer/command.h
  impeller/renderer/render_pass.cc
Labels: e: impeller, autosubmit

#47659 Roll Skia from 75507da748f9 to ee6dbb4e2592 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47660 Roll Skia from ee6dbb4e2592 to c0ca9f2fd828 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47628 [Impeller] Remove Rect field accesses from aiks subdirectory
  impeller/aiks/canvas.cc
  impeller/aiks/color_source.cc
  impeller/aiks/picture.cc
Labels: e: impeller, autosubmit

#47663 Roll Skia from c0ca9f2fd828 to 77aeee3b81a5 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47667 Roll Fuchsia Mac SDK from y-hqwYkPPVT6RwmAS... to 5GLArzquQ4eL56vdy...
  DEPS
Labels: autosubmit

#47666 Roll Fuchsia Linux SDK from ho9FqsUD0hxh0b8to... to 8tJt8KJzTzbwwQlUE...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#47573 Bundle flutter.js via esbuild
  DEPS
  build/esbuild/esbuild.gni
  ci/licenses_golden/licenses_flutter
  common/config.gni
  lib/web_ui/dev/chrome.dart
  lib/web_ui/dev/common.dart
  lib/web_ui/dev/edge.dart
  lib/web_ui/dev/edge_installation.dart
  lib/web_ui/dev/firefox.dart
  lib/web_ui/dev/package_lock.dart
  lib/web_ui/dev/package_lock.yaml
  lib/web_ui/dev/package_roller.dart
  lib/web_ui/flutter_js/BUILD.gn
  lib/web_ui/flutter_js/sources.gni
  lib/web_ui/flutter_js/src/flutter.js
  web_sdk/BUILD.gn
Labels: platform-web, autosubmit

#47668 Roll Dart SDK from 529fcd5bdffc to c52fb4fe2d86 (1 revision)
  DEPS
Labels: autosubmit

#47674 Roll Dart SDK from c52fb4fe2d86 to b9ae53ac4663 (1 revision)
  DEPS
Labels: autosubmit

#47679 Roll Dart SDK from b9ae53ac4663 to 96664852accc (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#47681 Roll Fuchsia Mac SDK from 5GLArzquQ4eL56vdy... to ftLug7WGUYrtgHyy6...
  DEPS
Labels: autosubmit

#47682 Roll Fuchsia Linux SDK from 8tJt8KJzTzbwwQlUE... to SmJ_8HFjjm55T4ijL...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#47669 Fix symbols upload
  ci/builders/linux_fuchsia.json
  tools/fuchsia/upload_to_symbol_server.py
Labels: autosubmit

#47689 Roll Fuchsia Mac SDK from ftLug7WGUYrtgHyy6... to sZ51VV1mNynI39WtT...
  DEPS
Labels: autosubmit

#47690 Roll Fuchsia Linux SDK from SmJ_8HFjjm55T4ijL... to 3dRrKiwZsFq8U8vSM...
  DEPS
Labels: autosubmit

#47692 Roll Dart SDK from b9ae53ac4663 to 96664852accc (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#47693 Roll Fuchsia Mac SDK from sZ51VV1mNynI39WtT... to IH6mGM_PvyJB5x7SM...
  DEPS
Labels: autosubmit

#47694 Roll Fuchsia Linux SDK from 3dRrKiwZsFq8U8vSM... to qGNZvKP4q2a4jm2Ce...
  DEPS
Labels: autosubmit

#47697 Roll Fuchsia Linux SDK from qGNZvKP4q2a4jm2Ce... to kCyxKT7e5lMvkD3Yt...
  DEPS
Labels: autosubmit

#47696 Roll Fuchsia Mac SDK from IH6mGM_PvyJB5x7SM... to V3diHxFGlypUQKNH_...
  DEPS
Labels: autosubmit

#47704 Roll Fuchsia Linux SDK from kCyxKT7e5lMvkD3Yt... to _vGlgDiKOrtlKrZAP...
  DEPS
Labels: autosubmit

#47705 Roll Fuchsia Mac SDK from V3diHxFGlypUQKNH_... to HQfFSkurc6-jKM2jh...
  DEPS
Labels: autosubmit

#47706 Roll Dart SDK from 96664852accc to 9211fc6406bb (1 revision)
  DEPS
Labels: autosubmit

#47654 Move some Dart packages to //flutter/third_party/pkg
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/tool_signature
  ci/pubspec.yaml
  impeller/golden_tests_harvester/pubspec.yaml
  shell/platform/fuchsia/dart/BUILD.gn
  testing/benchmark/pubspec.yaml
  testing/dart/pubspec.yaml
  testing/scenario_app/pubspec.yaml
  testing/skia_gold_client/pubspec.yaml
  tools/android_lint/pubspec.yaml
  tools/clang_tidy/pubspec.yaml
  tools/githooks/pubspec.yaml
  tools/licenses/lib/paths.dart
  tools/licenses/pubspec.yaml
  tools/pkg/engine_build_configs/pubspec.yaml
  tools/pkg/git_repo_tools/pubspec.yaml
  tools/pkg/process_fakes/pubspec.yaml
Labels: platform-fuchsia, e: impeller

#47695 [Impeller] fix drawVertices dest fast path to apply alpha.
  ci/licenses_golden/excluded_files
  impeller/entity/BUILD.gn
  impeller/entity/contents/test/contents_test_helpers.cc
  impeller/entity/contents/test/contents_test_helpers.h
  impeller/entity/contents/vertices_contents.cc
  impeller/entity/contents/vertices_contents_unittests.cc
Labels: e: impeller, autosubmit

#47709 Roll Dart SDK from 9211fc6406bb to 07d4c9d85a5a (1 revision)
  DEPS
Labels: autosubmit

#47701 [Impeller] Fix EntityPassTarget::Flip with implict MSAA.
  ci/licenses_golden/excluded_files
  impeller/BUILD.gn
  impeller/core/texture.h
  impeller/entity/BUILD.gn
  impeller/entity/entity_pass.cc
  impeller/entity/entity_pass_target.cc
  impeller/entity/entity_pass_target.h
  impeller/entity/entity_pass_target_unittests.cc
Labels: e: impeller, autosubmit

#47621 [Impeller] scales blur coverage to match rendered output
  ci/licenses_golden/excluded_files
  impeller/entity/BUILD.gn
  impeller/entity/contents/filters/directional_gaussian_blur_filter_contents.cc
  impeller/entity/contents/filters/directional_gaussian_blur_filter_contents_unittests.cc
Labels: will affect goldens, e: impeller, autosubmit

#47715 Roll Skia from 77aeee3b81a5 to 2b218381e226 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47717 Roll Dart SDK from 07d4c9d85a5a to 82731b940e7f (1 revision)
  DEPS
Labels: autosubmit

#47719 Roll Skia from 2b218381e226 to bd5f57c9bd1a (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47315 Add `KeyEventDeviceType` to `KeyData`
  lib/ui/key.dart
  lib/ui/platform_dispatcher.dart
  lib/ui/window/key_data.h
  lib/ui/window/key_data_packet.cc
  lib/web_ui/lib/key.dart
  lib/web_ui/test/engine/keyboard_converter_test.dart
  lib/web_ui/test/engine/pointer_binding_test.dart
  lib/web_ui/test/engine/window_test.dart
  shell/platform/android/io/flutter/embedding/android/KeyData.java
  shell/platform/android/io/flutter/embedding/android/KeyEmbedderResponder.java
  shell/platform/android/test/io/flutter/embedding/android/KeyboardManagerTest.java
  shell/platform/darwin/ios/framework/Source/FlutterEmbedderKeyResponder.mm
  shell/platform/darwin/ios/framework/Source/FlutterEmbedderKeyResponderTest.mm
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/embedder/fixtures/main.dart
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: platform-ios, platform-android, platform-web, autosubmit

#47726 Roll Skia from bd5f57c9bd1a to 7e3119240ae4 (10 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47728 Roll Fuchsia Linux SDK from _vGlgDiKOrtlKrZAP... to NaQb_BU6PSbKXSAoU...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#47730 Roll Fuchsia Mac SDK from HQfFSkurc6-jKM2jh... to wmM4lS2lYcphFSHPV...
  DEPS
Labels: autosubmit

#47731 Roll Dart SDK from 82731b940e7f to aded6314af29 (1 revision)
  DEPS
Labels: autosubmit

#47732 Roll Skia from 7e3119240ae4 to 9106e374e08d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47735 Roll Skia from 9106e374e08d to 9fd258076b4d (1 revision)
  DEPS
Labels: autosubmit

#47738 Roll Dart SDK from aded6314af29 to 15c286ed91ea (1 revision)
  DEPS
Labels: autosubmit

#47739 Fix ImmutableEnum lint
  shell/platform/android/io/flutter/embedding/android/KeyData.java
Labels: platform-android, autosubmit

#47744 Roll Fuchsia Mac SDK from wmM4lS2lYcphFSHPV... to CssR5Ci8l8Wn47xEJ...
  DEPS
Labels: autosubmit

#47745 Roll Fuchsia Linux SDK from NaQb_BU6PSbKXSAoU... to VcFEJiUUTYwkhEAlJ...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#47748 Roll Skia from 71d865c5211e to 44dc086b6623 (1 revision)
  DEPS
Labels: autosubmit

#47749 Roll Skia from 44dc086b6623 to 058145c1e5b5 (1 revision)
  DEPS
Labels: autosubmit

#47752 Roll Skia from 058145c1e5b5 to 51b8c1cc715a (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47755 Roll Skia from 51b8c1cc715a to 62fc1374cc5d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47612 [ios] making objective-C smart pointers support ARC
  BUILD.gn
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/platform/darwin/scoped_block.h
  fml/platform/darwin/scoped_nsobject.h
  fml/platform/darwin/scoped_nsobject.mm
  fml/platform/darwin/scoped_nsobject_arc_unittests.mm
  fml/platform/darwin/scoped_nsobject_unittests.mm
  fml/platform/darwin/scoped_policy.h
  fml/platform/darwin/scoped_typeref.h
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/VsyncWaiterIosTest.mm
  shell/platform/darwin/ios/framework/Source/platform_message_response_darwin.mm
  shell/platform/darwin/ios/platform_message_handler_ios.mm
  testing/run_tests.py
Labels: platform-ios, autosubmit

#47756 Roll Skia from 62fc1374cc5d to 030e21befbc9 (2 revisions)
  DEPS
Labels: autosubmit

#47754 [Impeller] added tests for matrices
  ci/licenses_golden/excluded_files
  impeller/geometry/BUILD.gn
  impeller/geometry/geometry_asserts.h
  impeller/geometry/matrix_unittests.cc
Labels: e: impeller, autosubmit

#47725 [Impeller] Make IsEmpty methods on Rect and Size NaN-aware
  ci/licenses_golden/excluded_files
  impeller/core/texture_descriptor.h
  impeller/geometry/BUILD.gn
  impeller/geometry/rect.h
  impeller/geometry/rect_unittests.cc
  impeller/geometry/size.h
  impeller/geometry/size_unittests.cc
  impeller/image/decompressed_image.cc
  impeller/renderer/snapshot.cc
Labels: e: impeller, autosubmit

#47724 [Windows] Reduce warnings produced by unit tests
  shell/platform/windows/angle_surface_manager.h
  shell/platform/windows/flutter_window_unittests.cc
  shell/platform/windows/flutter_windows_engine_unittests.cc
  shell/platform/windows/flutter_windows_view_unittests.cc
  shell/platform/windows/system_utils_unittests.cc
Labels: affects: desktop, platform-windows, autosubmit

#47763 [Impeller] Support static thread safety analysis with condition variables.
  impeller/base/base_unittests.cc
  impeller/base/thread.h
Labels: e: impeller, autosubmit

#47769 Roll Skia from 030e21befbc9 to f91d39395e85 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47700 Remove Fuchsia Mac SDK from DEPS
  DEPS
Labels: autosubmit

#47770 Include updated locations for dart third_party components into license ignore-list.
  ci/licenses_golden/tool_signature
  tools/licenses/lib/paths.dart
Labels: autosubmit

#47774 [testing] Extract StreamCapture test utility
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
  shell/platform/windows/flutter_windows_unittests.cc
  testing/BUILD.gn
  testing/stream_capture.cc
  testing/stream_capture.h
Labels: affects: desktop, platform-macos, platform-windows, autosubmit

#47776 Roll Skia from f91d39395e85 to 0f78e5f765d3 (1 revision)
  DEPS
Labels: autosubmit

#47771 [macOS] Bail out of tests if engine not running
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
Labels: affects: desktop, platform-macos, autosubmit

#47740 Fix narrowing conversion lint
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
Labels: platform-android, autosubmit

#47785 Roll Fuchsia Linux SDK from VcFEJiUUTYwkhEAlJ... to sD8HRA4JmXczujkqO...
  DEPS
Labels: autosubmit

#47788 Roll Skia from 0f78e5f765d3 to b4fa927468e6 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47360 [web] fix clicks on merged semantic nodes (attempt #2)
  lib/web_ui/lib/src/engine/pointer_binding.dart
  lib/web_ui/lib/src/engine/semantics/semantics.dart
  lib/web_ui/lib/src/engine/semantics/tappable.dart
  lib/web_ui/test/common/matchers.dart
  lib/web_ui/test/engine/pointer_binding_test.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
  lib/web_ui/test/engine/semantics/semantics_tester.dart
Labels: platform-web, autosubmit

#47775 [Impeller] Add Rect::GetNormalizingTransform to handle UV coordinate conversion
  impeller/aiks/aiks_unittests.cc
  impeller/entity/geometry/fill_path_geometry.cc
  impeller/entity/geometry/geometry.cc
  impeller/entity/geometry/vertices_geometry.cc
  impeller/geometry/rect.h
  impeller/geometry/rect_unittests.cc
Labels: will affect goldens, e: impeller, autosubmit

#47793 Roll Skia from b4fa927468e6 to f3d250126ba9 (1 revision)
  DEPS
Labels: autosubmit

#47796 Roll Skia from f3d250126ba9 to fce71a80b0a2 (1 revision)
  DEPS
Labels: autosubmit

#47792 [macOS] Clean up resources in ViewController tests
  shell/platform/darwin/macos/framework/Source/FlutterEngineTestUtils.h
  shell/platform/darwin/macos/framework/Source/FlutterEngineTestUtils.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewControllerTest.mm
Labels: affects: desktop, platform-macos

#47807 Roll Skia from fce71a80b0a2 to a4cce5236dcf (1 revision)
  DEPS
Labels: autosubmit

#47488 [Impeller] null check drawable.
  BUILD.gn
  ci/licenses_golden/excluded_files
  shell/gpu/BUILD.gn
  shell/gpu/gpu_surface_metal_impeller.mm
  shell/gpu/gpu_surface_metal_impeller_unittests.mm
  testing/run_tests.py
Labels: autosubmit

#47795 [Impeller] Add EXPECT_OBJ_NEAR macros similar to the ASSERT_OBJ_NEAR versions
  impeller/geometry/geometry_asserts.h
  impeller/geometry/rect_unittests.cc
Labels: e: impeller, autosubmit

#47683 Use targetSdkVersion 33 for Android platform AndroidManifest.xml
  shell/platform/android/AndroidManifest.xml
  tools/android_lint/baseline.xml
Labels: platform-android, autosubmit

#47805 Roll Dart SDK from 15c286ed91ea to 14933042494d (5 revisions)
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_dart
  third_party/accessibility/base/BUILD.gn
  third_party/accessibility/base/string_utils.cc
Labels: autosubmit

#47810 Roll Skia from a4cce5236dcf to fb69e696dc45 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47808 [Impeller] remove capability to read from onscreen.
  impeller/entity/entity_pass.cc
  impeller/renderer/backend/gles/capabilities_gles.cc
  impeller/renderer/backend/gles/capabilities_gles.h
  impeller/renderer/backend/gles/test/capabilities_unittests.cc
  impeller/renderer/backend/metal/context_mtl.mm
  impeller/renderer/backend/vulkan/capabilities_vk.cc
  impeller/renderer/backend/vulkan/capabilities_vk.h
  impeller/renderer/capabilities.cc
  impeller/renderer/capabilities.h
  impeller/renderer/capabilities_unittests.cc
Labels: e: impeller, autosubmit

#47016 Switch to Android 14 for physical device firebase tests
  ci/firebase_testlab.py
Labels: autosubmit

#47736 [Impeller] add support for Skia concept of RRect::isSimple needed for DL dispatching
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/canvas.cc
  impeller/aiks/canvas.h
  impeller/aiks/canvas_recorder.h
  impeller/aiks/canvas_recorder_unittests.cc
  impeller/aiks/canvas_unittests.cc
  impeller/display_list/dl_dispatcher.cc
  impeller/display_list/dl_dispatcher.h
  impeller/display_list/dl_unittests.cc
  impeller/geometry/path_builder.cc
  impeller/geometry/path_builder.h
Labels: e: impeller, autosubmit

#47815 Roll Skia from fb69e696dc45 to e2b8ebe16203 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47781 [Impeller] Create a global Vulkan instance in PlaygroundImplVK to prevent SwiftShader from being unloaded after a test completes
  impeller/playground/backend/vulkan/playground_impl_vk.cc
  impeller/playground/backend/vulkan/playground_impl_vk.h
Labels: e: impeller

#47822 [Impeller] Documented the 2 step in the gaussian blur.
  impeller/entity/shaders/gaussian_blur/gaussian_blur.glsl
Labels: e: impeller, autosubmit

#47826 Roll Skia from e2b8ebe16203 to e585bb68893b (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#47824 Reland "[Impeller] add support for Skia concept of RRect::isSimple needed for DL dispatching"
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/canvas.cc
  impeller/aiks/canvas.h
  impeller/aiks/canvas_recorder.h
  impeller/aiks/canvas_recorder_unittests.cc
  impeller/aiks/canvas_unittests.cc
  impeller/display_list/dl_dispatcher.cc
  impeller/display_list/dl_dispatcher.h
  impeller/display_list/dl_unittests.cc
  impeller/geometry/path_builder.cc
  impeller/geometry/path_builder.h
Labels: e: impeller, autosubmit
