Repository flutter/engine, pull requests merged in 2023-02, with the labels that each got.

#39300 Roll Fuchsia Mac SDK from IdMSzll1VeWJMV6v8... to Clk4li1185E2JoIkU...
  DEPS
Labels: autosubmit

#39304 Add SkSurface include to every file where it's used
  display_list/display_list_benchmarks.cc
  display_list/display_list_benchmarks_gl.cc
  display_list/display_list_benchmarks_gl.h
  display_list/display_list_benchmarks_metal.cc
  display_list/display_list_benchmarks_metal.h
  display_list/display_list_benchmarks_software.cc
  display_list/display_list_unittests.cc
  flow/instrumentation.h
  flow/layers/physical_shape_layer_unittests.cc
  flow/surface_frame.cc
  flow/surface_frame.h
  lib/ui/painting/image_encoding.cc
  shell/common/rasterizer_unittests.cc
  shell/common/shell_test_platform_view_vulkan.cc
  shell/gpu/gpu_surface_gl_skia.h
  shell/gpu/gpu_surface_software.cc
  shell/gpu/gpu_surface_vulkan.cc
  shell/gpu/gpu_surface_vulkan.h
  shell/platform/android/android_surface_software.cc
  shell/platform/android/android_surface_software.h
  shell/platform/android/external_view_embedder/external_view_embedder_unittests.cc
  shell/platform/darwin/ios/ios_surface_software.h
  shell/platform/darwin/ios/ios_surface_software.mm
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder_render_target.cc
  shell/platform/embedder/embedder_surface_metal.h
  shell/platform/embedder/embedder_surface_software.cc
  shell/platform/embedder/embedder_surface_software.h
  shell/platform/embedder/tests/embedder_metal_unittests.mm
  shell/platform/embedder/tests/embedder_test_backingstore_producer.h
  shell/platform/embedder/tests/embedder_test_context_software.h
  shell/platform/embedder/tests/embedder_unittests_util.cc
  shell/platform/fuchsia/flutter/software_surface.cc
  shell/platform/fuchsia/flutter/vulkan_surface_producer.cc
  shell/testing/tester_main.cc
  testing/test_gl_surface.h
  testing/test_metal_surface.cc
  testing/test_metal_surface_impl.h
  vulkan/vulkan_swapchain.cc
  vulkan/vulkan_window.cc
Labels: autosubmit

#39309 Roll Skia from c29211525dac to 654f4805e8b8 (21 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39311 Roll Skia from 654f4805e8b8 to da41cf18f651 (1 revision)
  DEPS
Labels: autosubmit

#39312 Roll Fuchsia Linux SDK from 71lEeibIyrq0V8jId... to TFcelQ5SwrzkcYK2d...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#39315 Roll Skia from da41cf18f651 to 8f33da33edcf (1 revision)
  DEPS
Labels: autosubmit

#39316 Roll Dart SDK from de03e1f41b50 to 88d1f3ffa266 (1 revision)
  DEPS
Labels: autosubmit

#39317 Roll Fuchsia Mac SDK from Clk4li1185E2JoIkU... to 31KOCvc_d1yPT_yes...
  DEPS
Labels: autosubmit

#39318 Roll Skia from 8f33da33edcf to 4b5799677173 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39320 Roll Skia from 4b5799677173 to 86f7b2dd2b4f (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39206 Use Windows high contrast black/white theme with `MaterialApp` themes
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/settings_plugin.cc
  shell/platform/windows/settings_plugin.h
  shell/platform/windows/settings_plugin_unittests.cc
Labels: accessibility, affects: desktop, platform-windows

#39322 Roll Fuchsia Linux SDK from TFcelQ5SwrzkcYK2d... to QxkjqmRgowkk_n2NZ...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#39323 Roll Skia from 86f7b2dd2b4f to a2e706ab283d (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39324 Roll Dart SDK from b47964e5d575 to 1c219a91e637 (1 revision)
  DEPS
Labels: autosubmit

#39237 [Impeller] let images with opacity and filters passthrough.
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/canvas.cc
  impeller/aiks/paint.cc
  impeller/aiks/paint.h
Labels: impeller, autosubmit

#38801 Add iOS spring animation objc files
  BUILD.gn
  ci/licenses_golden/licenses_flutter
  testing/run_tests.py
  third_party/spring_animation/BUILD.gn
  third_party/spring_animation/Libraries/Animated/animations/SpringAnimation.js
  third_party/spring_animation/SpringAnimationTest.mm
  third_party/spring_animation/spring_animation.h
  third_party/spring_animation/spring_animation.mm
Labels: platform-ios, autosubmit

#39327 Roll Skia from a2e706ab283d to 934ef0660509 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39328 Roll Fuchsia Mac SDK from 31KOCvc_d1yPT_yes... to j5rQsxkO2VJrX55Yj...
  DEPS
Labels: autosubmit

#39329 Roll buildroot to #75f75b73.
  DEPS
Labels: autosubmit

#39330 Roll Dart SDK from 1c219a91e637 to 99014717b633 (1 revision)
  DEPS
Labels: autosubmit

#39310 Add missing file to artifacts.zip and win platform.
  build/archives/BUILD.gn
Labels: autosubmit

#39332 Roll Skia from 934ef0660509 to c3c5c6f61421 (1 revision)
  DEPS
Labels: autosubmit

#39338 Roll Fuchsia Mac SDK from j5rQsxkO2VJrX55Yj... to rqjJA8z_K0gdGcsvA...
  DEPS
Labels: autosubmit

#39294 [web] Hide autofill overlay
  lib/web_ui/lib/src/engine/host_node.dart
  lib/web_ui/test/engine/host_node_test.dart
Labels: platform-web, autosubmit

#39339 Roll Fuchsia Linux SDK from QxkjqmRgowkk_n2NZ... to pWloCaRzjLEAUvQEz...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#39340 Roll Skia from 532c04c00ad7 to 60242c4ea6a7 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39343 Don't rely on timings for dimension_provider unit test.
  lib/web_ui/test/engine/view_embedder/dimensions_provider/custom_element_dimensions_provider_test.dart
Labels: platform-web, autosubmit

#39344 Roll Skia from 60242c4ea6a7 to c2d81db3ef41 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39162 [Web][HTML] Add mirrored characters support for RTL languages
  lib/web_ui/lib/src/engine/text/canvas_paragraph.dart
  lib/web_ui/test/text/canvas_paragraph_builder_test.dart
Labels: platform-web, will affect goldens, autosubmit

#39288 [web] Update the within() matcher to be more useful
  lib/web_ui/test/engine/canvas_test.dart
  lib/web_ui/test/geometry_test.dart
  lib/web_ui/test/lerp_test.dart
  lib/web_ui/test/matchers.dart
Labels: platform-web, autosubmit

#39336 [Impeller] Don't ceil subpass texture sizes
  impeller/entity/entity_pass.cc
Labels: needs tests, impeller, autosubmit

#39348 Roll Skia from c2d81db3ef41 to 4f0166baf5a4 (13 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39351 Roll Skia from 4f0166baf5a4 to a4079ec4c399 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39352 Roll Fuchsia Mac SDK from rqjJA8z_K0gdGcsvA... to 2xyEsodtHgcamPwX4...
  DEPS
Labels: autosubmit

#39345 [impellerc] sort uniforms on metal backend
  ci/licenses_golden/licenses_flutter
  impeller/compiler/BUILD.gn
  impeller/compiler/compiler.cc
  impeller/compiler/compiler_backend.h
  impeller/compiler/reflector.cc
  impeller/compiler/spirv_sksl.cc
  impeller/compiler/uniform_sorter.cc
  impeller/compiler/uniform_sorter.h
  impeller/entity/contents/runtime_effect_contents.cc
Labels: autosubmit

#39354 Roll Fuchsia Linux SDK from pWloCaRzjLEAUvQEz... to CAyoT0SrHHyXCMF31...
  DEPS
Labels: autosubmit

#39355 Roll Skia from a4079ec4c399 to ee68f3edfa96 (1 revision)
  DEPS
Labels: autosubmit

#39356 Revert "[impellerc] sort uniforms on metal backend"
  ci/licenses_golden/licenses_flutter
  impeller/compiler/BUILD.gn
  impeller/compiler/compiler.cc
  impeller/compiler/compiler_backend.h
  impeller/compiler/reflector.cc
  impeller/compiler/spirv_sksl.cc
  impeller/compiler/uniform_sorter.cc
  impeller/compiler/uniform_sorter.h
  impeller/entity/contents/runtime_effect_contents.cc
Labels: needs tests, autosubmit

#39358 [Impeller] Use minimal coverage for stencil restores after overdraw prevention
  impeller/entity/contents/clip_contents.cc
  impeller/entity/contents/clip_contents.h
  impeller/entity/contents/linear_gradient_contents.cc
  impeller/entity/contents/radial_gradient_contents.cc
  impeller/entity/contents/runtime_effect_contents.cc
  impeller/entity/contents/solid_color_contents.cc
  impeller/entity/contents/sweep_gradient_contents.cc
  impeller/entity/contents/tiled_texture_contents.cc
Labels: needs tests, impeller

#39362 Roll Skia from ee68f3edfa96 to 62dcca5b175a (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39346 Fire UIA event on Checkbox state change
  third_party/accessibility/ax/platform/ax_platform_node_win.cc
  third_party/accessibility/ax/platform/ax_platform_node_win.h
  third_party/accessibility/ax/platform/ax_platform_node_win_unittest.cc
Labels: accessibility, affects: desktop, platform-windows

#39363 Roll Dart SDK from be795cc64bd7 to b7a0c75d4470 (1 revision)
  DEPS
Labels: autosubmit

#39364 Roll Fuchsia Mac SDK from 2xyEsodtHgcamPwX4... to _6bmpi47oMZC-msOI...
  DEPS
Labels: autosubmit

#39353 Add gen_snapshot to windows flutter artifact.
  build/archives/BUILD.gn
Labels: autosubmit

#39366 [impellerc] sort uniforms on metal backend
  ci/licenses_golden/licenses_flutter
  impeller/compiler/BUILD.gn
  impeller/compiler/compiler.cc
  impeller/compiler/compiler_backend.h
  impeller/compiler/reflector.cc
  impeller/compiler/spirv_sksl.cc
  impeller/compiler/uniform_sorter.cc
  impeller/compiler/uniform_sorter.h
  impeller/entity/contents/runtime_effect_contents.cc
Labels: needs tests, autosubmit

#39371 Roll Fuchsia Linux SDK from CAyoT0SrHHyXCMF31... to y0pMcSL4ejAh7JYTq...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#39369 Roll Skia from 62dcca5b175a to 07a95bb37760 (10 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39373 Roll Skia from 07a95bb37760 to 83a3d8b16c94 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38253 [Impeller] Append to existing atlas if room exists, reuse texture
  impeller/typographer/backends/skia/text_render_context_skia.cc
  impeller/typographer/glyph_atlas.cc
  impeller/typographer/glyph_atlas.h
  impeller/typographer/typographer_unittests.cc
Labels: impeller, autosubmit

#39374 [fuchsia] fdio_service_connect no longer provides rights which we need
  shell/platform/fuchsia/flutter/component_v1.cc
  shell/platform/fuchsia/flutter/component_v2.cc
Labels: platform-fuchsia, needs tests

#38985 [impeller] drawVertices blend mode
  impeller/aiks/canvas.cc
  impeller/aiks/canvas.h
  impeller/aiks/paint.cc
  impeller/aiks/paint.h
  impeller/display_list/display_list_unittests.cc
  impeller/display_list/display_list_vertices_geometry.cc
  impeller/display_list/display_list_vertices_geometry.h
  impeller/entity/contents/atlas_contents.cc
  impeller/entity/contents/content_context.cc
  impeller/entity/contents/content_context.h
  impeller/entity/contents/contents.cc
  impeller/entity/contents/contents.h
  impeller/entity/contents/filters/blend_filter_contents.cc
  impeller/entity/contents/filters/filter_contents.cc
  impeller/entity/contents/filters/filter_contents.h
  impeller/entity/contents/filters/inputs/contents_filter_input.cc
  impeller/entity/contents/filters/inputs/contents_filter_input.h
  impeller/entity/contents/filters/inputs/filter_input.cc
  impeller/entity/contents/filters/inputs/filter_input.h
  impeller/entity/contents/solid_color_contents.cc
  impeller/entity/contents/solid_color_contents.h
  impeller/entity/contents/texture_contents.cc
  impeller/entity/contents/texture_contents.h
  impeller/entity/contents/vertices_contents.cc
  impeller/entity/contents/vertices_contents.h
  impeller/entity/geometry.h
Labels: impeller, autosubmit

#39172 [ios] Lock refresh rate to 80fps when threads are merged
  shell/platform/darwin/ios/framework/Source/VsyncWaiterIosTest.mm
  shell/platform/darwin/ios/framework/Source/vsync_waiter_ios.h
  shell/platform/darwin/ios/framework/Source/vsync_waiter_ios.mm
Labels: platform-ios, autosubmit

#39376 Roll Skia from 83a3d8b16c94 to f083b79aa388 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39378 [Impeller] Retain embolden/skew font properties when rendering text glyphs
  impeller/typographer/backends/skia/text_frame_skia.cc
  impeller/typographer/backends/skia/text_render_context_skia.cc
  impeller/typographer/font.h
Labels: needs tests, impeller

#39359 [iOS] Ensure FlutterView's background color is not nil to avoid CAMetalLayer nextDrawable being time-consuming
  shell/platform/darwin/ios/framework/Source/FlutterView.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewTest.mm
Labels: platform-ios, autosubmit

#39381 Roll Skia from f083b79aa388 to 5d8a7ed8acfe (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39370 [CP] [Impeller] Use minimal coverage for stencil restores after overdraw p…
  impeller/entity/contents/clip_contents.cc
  impeller/entity/contents/clip_contents.h
  impeller/entity/contents/linear_gradient_contents.cc
  impeller/entity/contents/radial_gradient_contents.cc
  impeller/entity/contents/runtime_effect_contents.cc
  impeller/entity/contents/solid_color_contents.cc
  impeller/entity/contents/sweep_gradient_contents.cc
  impeller/entity/contents/tiled_texture_contents.cc
Labels: needs tests

#39382 Roll Skia from 5d8a7ed8acfe to 8de8c6287254 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39384 Roll Fuchsia Mac SDK from _6bmpi47oMZC-msOI... to hcZFTTKMN0k4lXjfs...
  DEPS
Labels: autosubmit

#39383 [Impeller] Make dark text appear less emboldened
  impeller/typographer/backends/skia/text_frame_skia.cc
  impeller/typographer/backends/skia/text_render_context_skia.cc
  impeller/typographer/font.h
Labels: needs tests, impeller

#39386 Roll Fuchsia Linux SDK from y0pMcSL4ejAh7JYTq... to D0jJKibnSzSOs68QJ...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#39390 Roll Fuchsia Mac SDK from hcZFTTKMN0k4lXjfs... to j6dhXDhI_KUUyqTSF...
  DEPS
Labels: autosubmit

#39393 Roll Fuchsia Linux SDK from D0jJKibnSzSOs68QJ... to Z6Bdg2fbH4n5ptsKZ...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#39394 Roll Skia from 8de8c6287254 to 45a4fdcc0cb0 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39397 Roll Skia from 45a4fdcc0cb0 to 1bc762cbb8ce (1 revision)
  DEPS
Labels: autosubmit

#39398 Roll Fuchsia Mac SDK from j6dhXDhI_KUUyqTSF... to f7zsdfKoUWP6RD8S_...
  DEPS
Labels: autosubmit

#39399 Roll Fuchsia Linux SDK from Z6Bdg2fbH4n5ptsKZ... to V9ahWWCSVIMrpc9LX...
  DEPS
Labels: autosubmit

#39404 Migrate engine_v2_builds to python3.
  ci/builders/linux_android_debug_engine.json
  ci/builders/linux_host_engine.json
  ci/builders/mac_host_engine.json
  ci/builders/mac_ios_engine.json
  ci/builders/mac_ios_engine_profile.json
  ci/builders/mac_ios_engine_release.json
  ci/builders/windows_host_engine.json
Labels: warning: land on red to fix tree breakage, autosubmit

#39375 Use jdk 11 in the engine.
  .ci.yaml
Labels: autosubmit

#39400 Fix cpp-wrappers archive.
  shell/platform/windows/client_wrapper/BUILD.gn
Labels: platform-windows, autosubmit

#39439 Roll Fuchsia Mac SDK from f7zsdfKoUWP6RD8S_... to jD_N9MDLvRtOuBMgY...
  DEPS
Labels: autosubmit

#39435 Roll Fuchsia Linux SDK from V9ahWWCSVIMrpc9LX... to wlbzrDXNCXQZV0QdG...
  DEPS
Labels: autosubmit

#39440 Roll Skia from 1bc762cbb8ce to 7e2c9f54c0fd (23 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#39380 [Windows] Fix the 'engine restart resets keyboard' test
  shell/platform/windows/flutter_windows_view_unittests.cc
  shell/platform/windows/keyboard_unittests.cc
Labels: platform-windows, autosubmit

#37604 iOS keyboard animation synchronization
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
  third_party/spring_animation/SpringAnimationTest.mm
  third_party/spring_animation/spring_animation.h
  third_party/spring_animation/spring_animation.mm
Labels: platform-ios, will affect goldens, autosubmit

#39447 Roll Skia from 7e2c9f54c0fd to 419bb63e733d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39448 Roll Skia from 419bb63e733d to 83da27e4cd3a (1 revision)
  DEPS
Labels: autosubmit

#39451 Roll Skia from 83da27e4cd3a to 6babb6a1afe6 (1 revision)
  DEPS
Labels: autosubmit

#39453 Roll Fuchsia Mac SDK from jD_N9MDLvRtOuBMgY... to zYEsaCaA1cokDUU43...
  DEPS
Labels: autosubmit

#39454 Roll Fuchsia Linux SDK from wlbzrDXNCXQZV0QdG... to aRqjqB76Z2gNQsrTA...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#39455 Roll Skia from 6babb6a1afe6 to 3b1401c4870d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39457 Roll Skia from 3b1401c4870d to 87dbc81b421f (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39377 [impeller] ensure full color glyphs respect alpha
  impeller/aiks/aiks_unittests.cc
  impeller/entity/shaders/glyph_atlas.frag
Labels: autosubmit

#39459 Roll Skia from 87dbc81b421f to bd48f82dcabb (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38794 Override _accessibilityHitTest to fix IOS 16 semantics issues
  shell/platform/darwin/ios/framework/Source/SemanticsObject.h
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_test.mm
Labels: platform-ios, autosubmit

#39424 [CP] [Impeller] Retain embolden/skew font properties when rendering text g…
  impeller/typographer/backends/skia/text_frame_skia.cc
  impeller/typographer/backends/skia/text_render_context_skia.cc
  impeller/typographer/font.h
Labels: needs tests

#39441 [Windows] Remove accessibility root assumptions
  shell/platform/common/accessibility_bridge.cc
  shell/platform/common/accessibility_bridge.h
  shell/platform/common/accessibility_bridge_unittests.cc
  shell/platform/windows/flutter_windows_view_unittests.cc
Labels: platform-windows, autosubmit

#39463 Roll Skia from bd48f82dcabb to f30529658275 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39461 Update malioc analysis golden file
  impeller/tools/malioc.json
Labels: autosubmit

#39436 Cherry-pick Avoid animation jank by setting FlutterViewController backgroundColor to clearColor
  shell/platform/darwin/ios/framework/Source/FlutterView.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewTest.mm
Labels: platform-ios

#39466 Roll Fuchsia Mac SDK from zYEsaCaA1cokDUU43... to uYw6cCpJIpQa42G4O...
  DEPS
Labels: autosubmit

#39460 [macOS] Support text input autocomplete
  shell/platform/darwin/macos/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/macos/framework/Source/FlutterTextInputPluginTest.mm
Labels: platform-macos

#39478 Roll Skia from f30529658275 to 7cac214d0f4b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39480 Roll Fuchsia Linux SDK from aRqjqB76Z2gNQsrTA... to HGN3rmf37VA5Sc0e1...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#39481 [Impeller] Fix stroke cap drawing not correct.
  impeller/display_list/display_list_unittests.cc
  impeller/entity/geometry.cc
  impeller/entity/geometry.h
Labels: impeller, autosubmit

#39485 Roll Fuchsia Mac SDK from uYw6cCpJIpQa42G4O... to vV4hr9qgSXTVhRzEr...
  DEPS
Labels: autosubmit

#39486 Roll Skia from 7cac214d0f4b to 4d064e82ce8e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39487 Roll Skia from 4d064e82ce8e to d52b1a24c407 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39489 Roll Skia from d52b1a24c407 to 99a797d497fe (1 revision)
  DEPS
Labels: autosubmit

#39368 [CP] [Impeller] Don't ceil subpass texture sizes (#39336)
  impeller/entity/entity_pass.cc
Labels: needs tests

#39490 Revert "[ios_platform_view] MaskView pool to reuse maskViews."
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.mm
Labels: platform-ios, autosubmit

#39492 Disable mouse-input-test
  shell/platform/fuchsia/flutter/tests/integration/mouse-input/mouse-input-test.cc
Labels: platform-fuchsia

#39493 Roll Fuchsia Linux SDK from HGN3rmf37VA5Sc0e1... to B6PQF-BmeXvmNZJy5...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#39372 Migrate iOS and Android to use pushRouteInformation
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/io/flutter/embedding/engine/systemchannels/NavigationChannel.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegate.mm
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegateTest.mm
Labels: platform-ios, platform-android, autosubmit

#39483 [Impeller] Fix sampling management problems
  impeller/display_list/display_list_dispatcher.cc
  impeller/entity/contents/contents.cc
  impeller/entity/contents/contents.h
  impeller/entity/contents/filters/blend_filter_contents.cc
  impeller/entity/contents/filters/filter_contents.cc
  impeller/entity/contents/filters/filter_contents.h
  impeller/entity/contents/filters/inputs/contents_filter_input.cc
  impeller/entity/contents/texture_contents.cc
  impeller/entity/contents/texture_contents.h
  impeller/renderer/sampler_descriptor.cc
  impeller/renderer/sampler_descriptor.h
  impeller/renderer/snapshot.h
Labels: needs tests, impeller

#39498 Reland "[ios_platform_view] MaskView pool to reuse maskViews."
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.mm
Labels: platform-ios, autosubmit

#39504 increase first frame timeout
  shell/platform/darwin/ios/framework/Source/FlutterEngineTest.mm
Labels: platform-ios, autosubmit

#39497 Update shader_optimization.md
  impeller/docs/shader_optimization.md
Labels: autosubmit

#39507 Roll Skia from 638bfdc9e23c to 1762c093d086 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39508 Roll Skia from 1762c093d086 to 5899b39484db (1 revision)
  DEPS
Labels: autosubmit

#39509 Roll Fuchsia Mac SDK from vV4hr9qgSXTVhRzEr... to 4cSuz7lZeOIfzhUHg...
  DEPS
Labels: autosubmit

#39510 Roll Skia from 5899b39484db to 970c33b0f43e (1 revision)
  DEPS
Labels: autosubmit

#39511 Roll Fuchsia Linux SDK from B6PQF-BmeXvmNZJy5... to cn89DIQTewbdhBTO-...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#39503 Roll buildroot to 0180f883
  DEPS
Labels: autosubmit

#39514 Roll Skia from 970c33b0f43e to 1544d3a123bc (2 revisions)
  DEPS
Labels: autosubmit

#39519 Roll Skia from 1544d3a123bc to db81bd26f149 (2 revisions)
  DEPS
Labels: autosubmit

#39518 Manual roll ICU from 2cce76fd67af to 266a46937f05 (1 revision)
  DEPS
Labels: autosubmit

#39520 Roll Fuchsia Mac SDK from 4cSuz7lZeOIfzhUHg... to s0lx1q5xbqV1jkRZM...
  DEPS
Labels: autosubmit

#39513 Enable UIA in Window
  shell/platform/windows/BUILD.gn
  shell/platform/windows/testing/mock_window.h
  shell/platform/windows/window.h
  shell/platform/windows/window_unittests.cc
Labels: accessibility, affects: desktop, platform-windows

#39522 Roll Skia from db81bd26f149 to e238cde8581d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39194 Reland "[macos] Move TextInputPlugin outside of visible area"
  shell/platform/darwin/macos/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/macos/framework/Source/FlutterTextInputPluginTest.mm
Labels: waiting for tree to go green, affects: desktop, platform-macos, autosubmit

#39501 Remove unused .ci.yaml properties
  .ci.yaml
Labels: autosubmit

#39464 [Windows] Prepare keyboard & text input plugins for multi-view
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_engine.h
  shell/platform/windows/flutter_windows_view.cc
  shell/platform/windows/flutter_windows_view.h
  shell/platform/windows/keyboard_unittests.cc
  shell/platform/windows/testing/engine_modifier.h
  shell/platform/windows/testing/flutter_windows_engine_builder.cc
  shell/platform/windows/testing/flutter_windows_engine_builder.h
  shell/platform/windows/text_input_plugin.cc
  shell/platform/windows/text_input_plugin.h
  shell/platform/windows/text_input_plugin_unittest.cc
Labels: affects: desktop, platform-windows, autosubmit

#37976 [macOS] Make FlutterEngine support multiple views
  shell/platform/darwin/macos/framework/Headers/FlutterEngine.h
  shell/platform/darwin/macos/framework/Headers/FlutterPluginRegistrarMacOS.h
  shell/platform/darwin/macos/framework/Headers/FlutterViewController.h
  shell/platform/darwin/macos/framework/Source/FlutterCompositor.mm
  shell/platform/darwin/macos/framework/Source/FlutterCompositorTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/macos/framework/Source/FlutterKeyboardManager.mm
  shell/platform/darwin/macos/framework/Source/FlutterRenderer.mm
  shell/platform/darwin/macos/framework/Source/FlutterRendererTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewController.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewEngineProvider.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewEngineProviderTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewProvider.h
Labels: affects: desktop, platform-macos, autosubmit

#39331 [ios] Convert `int` in Dart to `long long` in Objective-C
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/macos/framework/Source/FlutterPlatformViewController.mm
Labels: platform-ios, platform-macos, needs tests, autosubmit

#39524 Roll Skia from e238cde8581d to 128d82c8931d (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39517 Fix classes that shouldn't be extended/instantiated/mixedin
  lib/ui/isolate_name_server.dart
  lib/ui/natives.dart
  lib/ui/painting.dart
  lib/ui/plugins.dart
Labels: needs tests, autosubmit

#39526 Roll Fuchsia Linux SDK from cn89DIQTewbdhBTO-... to ibtVZPawJl1jwt5Sg...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#39244 Fix position of BackdropFilter above PlatformView
  flow/embedded_views.h
  flow/layers/backdrop_filter_layer.cc
  shell/common/shell_unittests.cc
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
Labels: platform-ios, autosubmit

#39525 Bump to Chrome 111.
  .ci.yaml
  lib/web_ui/dev/browser_lock.yaml
  lib/web_ui/dev/chrome.dart
Labels: platform-web, needs tests, will affect goldens, autosubmit

#39529 Roll Skia from 128d82c8931d to 59c9ef67fa34 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39530 Roll Skia from 59c9ef67fa34 to 4013995114e1 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39531 Roll Skia from 4013995114e1 to 182d5daf78dc (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#31098 Add Animated PNG demuxer
  ci/licenses_golden/licenses_flutter
  fml/endianness.h
  lib/ui/BUILD.gn
  lib/ui/painting/image_decoder_unittests.cc
  lib/ui/painting/image_generator.cc
  lib/ui/painting/image_generator.h
  lib/ui/painting/image_generator_apng.cc
  lib/ui/painting/image_generator_apng.h
  lib/ui/painting/image_generator_registry.cc
  lib/ui/painting/image_generator_registry_unittests.cc
  lib/ui/painting/multi_frame_codec.cc
  shell/common/shell_unittests.cc
  shell/platform/android/android_image_generator.cc
  shell/platform/android/android_image_generator.h
Labels: affects: engine, platform-android

#39532 [Impeller] Generate a Metal library symbols file for shader debugging.
  impeller/renderer/backend/metal/context_mtl.mm
  impeller/tools/build_metal_library.py
  impeller/tools/impeller.gni
Labels: needs tests, impeller, autosubmit

#39533 Roll Skia from 182d5daf78dc to 299221eaa3a9 (1 revision)
  DEPS
Labels: autosubmit

#39534 Roll Fuchsia Mac SDK from s0lx1q5xbqV1jkRZM... to 86sd_NCGPMuQh08NX...
  DEPS
Labels: autosubmit

#39535 Roll Skia from 299221eaa3a9 to 261f573f16db (1 revision)
  DEPS
Labels: autosubmit

#39538 Roll Skia from 261f573f16db to badcdf5635ab (1 revision)
  DEPS
Labels: autosubmit

#39528 Ignore invalid filters when constructing an image compose filter
  lib/ui/painting/image_filter.cc
  testing/dart/canvas_test.dart
Labels: autosubmit

#39541 Roll Fuchsia Linux SDK from ibtVZPawJl1jwt5Sg... to 482Njb1v72P7fNyj4...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#39542 Roll Skia from badcdf5635ab to 54342413f5c0 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#39536 Revert "[macOS] Make FlutterEngine support multiple views"
  shell/platform/darwin/macos/framework/Headers/FlutterEngine.h
  shell/platform/darwin/macos/framework/Headers/FlutterPluginRegistrarMacOS.h
  shell/platform/darwin/macos/framework/Headers/FlutterViewController.h
  shell/platform/darwin/macos/framework/Source/FlutterCompositor.mm
  shell/platform/darwin/macos/framework/Source/FlutterCompositorTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/macos/framework/Source/FlutterKeyboardManager.mm
  shell/platform/darwin/macos/framework/Source/FlutterRenderer.mm
  shell/platform/darwin/macos/framework/Source/FlutterRendererTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewController.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewEngineProvider.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewEngineProviderTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewProvider.h
Labels: platform-macos

#39540 [Impeller] Use minimal coverage for EntityPass clip restores
  impeller/entity/entity_pass.cc
Labels: needs tests, impeller

#39506 [web] Fixes invisible platform view compositing edge cases.
  lib/web_ui/lib/src/engine/canvaskit/embedded_views.dart
  lib/web_ui/test/canvaskit/embedded_views_test.dart
Labels: platform-web, autosubmit

#39516 Revert "Remove deprecated TextInputClient scribble method code"
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
Labels: platform-ios, needs tests

#39544 Roll Skia from 54342413f5c0 to 640fa258fc75 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#38993 add support to run dl_canvas_unittests on GPU surfaces (off by default)
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_flutter
  display_list/BUILD.gn
  display_list/display_list_benchmarks.cc
  display_list/display_list_benchmarks.h
  display_list/display_list_benchmarks_canvas_provider.h
  display_list/display_list_benchmarks_gl.cc
  display_list/display_list_benchmarks_gl.h
  display_list/display_list_benchmarks_metal.cc
  display_list/display_list_benchmarks_metal.h
  display_list/display_list_benchmarks_software.cc
  display_list/display_list_benchmarks_software.h
  display_list/display_list_builder_benchmarks.cc
  display_list/display_list_canvas_unittests.cc
  display_list/display_list_color_filter_unittests.cc
  display_list/display_list_color_source_unittests.cc
  display_list/display_list_color_unittests.cc
  display_list/display_list_complexity_unittests.cc
  display_list/display_list_image_filter_unittests.cc
  display_list/display_list_mask_filter_unittests.cc
  display_list/display_list_path_effect_unittests.cc
  display_list/display_list_unittests.cc
  display_list/display_list_vertices_unittests.cc
  display_list/testing/BUILD.gn
  display_list/testing/dl_test_equality.h
  display_list/testing/dl_test_snippets.cc
  display_list/testing/dl_test_snippets.h
  display_list/testing/dl_test_surface_gl.cc
  display_list/testing/dl_test_surface_gl.h
  display_list/testing/dl_test_surface_metal.cc
  display_list/testing/dl_test_surface_metal.h
  display_list/testing/dl_test_surface_provider.cc
  display_list/testing/dl_test_surface_provider.h
  display_list/testing/dl_test_surface_software.cc
  display_list/testing/dl_test_surface_software.h
  flow/BUILD.gn
  flow/raster_cache_unittests.cc
Labels: autosubmit

#38010 Use DisplayListMatrixClipTracker in DiffContext
  display_list/display_list_matrix_clip_tracker.h
  flow/diff_context.cc
  flow/diff_context.h
  flow/layers/backdrop_filter_layer.cc
  flow/layers/backdrop_filter_layer_unittests.cc
  flow/layers/clip_shape_layer.h
  flow/layers/color_filter_layer.cc
  flow/layers/display_list_layer.cc
  flow/layers/image_filter_layer.cc
  flow/layers/opacity_layer.cc
  flow/layers/physical_shape_layer.cc
  flow/layers/shader_mask_layer.cc
Labels: autosubmit

#39546 Roll Fuchsia Mac SDK from 86sd_NCGPMuQh08NX... to 6nMZjuYXTcnD_VZQI...
  DEPS
Labels: autosubmit
