Repository flutter/engine, pull requests merged in 2024-08, with the labels that each got.

#54260 [Impeller] move more aiks tests to DL.
  ci/licenses_golden/excluded_files
  impeller/aiks/aiks_unittests.cc
  impeller/display_list/BUILD.gn
  impeller/display_list/aiks_dl_runtime_effect_unittests.cc
Labels: will affect goldens, e: impeller, autosubmit

#54270 Roll Dart SDK from efabc9163078 to 0b09d933cd1e (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54273 Roll Dart SDK from 0b09d933cd1e to 0486e486778a (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54279 Roll Skia from 8db309541ad9 to f89a9c1902d7 (11 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54281 Roll Dart SDK from 0486e486778a to 5acd806b6dad (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54283 Roll Skia from f89a9c1902d7 to 03732b9f885e (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54267 [Impeller] migrate more AIKS test to DL.
  impeller/aiks/aiks_unittests.cc
  impeller/display_list/aiks_dl_basic_unittests.cc
Labels: will affect goldens, e: impeller, autosubmit

#54286 Roll Dart SDK from 5acd806b6dad to acbbbe73b5eb (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54287 Roll Skia from 03732b9f885e to ddb6901e6141 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54277 [Android] Revert "Reset IME state on clear text input client"
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
Labels: platform-android, autosubmit

#53826 [iOS] Supported rendering platform views without merging the raster thread.
  flow/surface_frame.h
  impeller/renderer/backend/metal/surface_mtl.h
  impeller/renderer/backend/metal/surface_mtl.mm
  shell/gpu/gpu_surface_metal_delegate.h
  shell/gpu/gpu_surface_metal_impeller.mm
  shell/gpu/gpu_surface_metal_skia.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterOverlayView.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_test.mm
  shell/platform/darwin/ios/ios_external_view_embedder.h
  shell/platform/darwin/ios/ios_external_view_embedder.mm
  shell/platform/darwin/ios/ios_surface_metal_impeller.mm
  shell/platform/darwin/ios/ios_surface_metal_skia.h
  shell/platform/darwin/ios/ios_surface_metal_skia.mm
  testing/scenario_app/ios/README.md
Labels: platform-ios, e: impeller, autosubmit

#54289 Use `InetAddress.getLoopback()` versus a string.
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/ScreenshotUtil.java
Labels: autosubmit

#54288 Roll Skia from ddb6901e6141 to 5c229d4d20bb (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54201 [skwasm] Implement platform view clipping.
  lib/web_ui/lib/src/engine/canvaskit/embedded_views.dart
  lib/web_ui/lib/src/engine/canvaskit/path.dart
  lib/web_ui/lib/src/engine/layers.dart
  lib/web_ui/lib/src/engine/scene_builder.dart
  lib/web_ui/lib/src/engine/scene_painting.dart
  lib/web_ui/lib/src/engine/scene_view.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/path.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/raw/raw_path.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/raw/raw_skstring.dart
  lib/web_ui/skwasm/path.cpp
  lib/web_ui/skwasm/string.cpp
  lib/web_ui/test/engine/scene_view_test.dart
  lib/web_ui/test/ui/platform_view_test.dart
Labels: platform-web, will affect goldens, autosubmit

#54295 Roll Fuchsia Linux SDK from uF76DfQgigt4utdBv... to vpJQheqicAUK_qjD-...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#54298 Roll Dart SDK from acbbbe73b5eb to 03efd390e475 (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54300 Roll Skia from 5c229d4d20bb to cfa1cda77b46 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54301 Roll Skia from cfa1cda77b46 to 3b79cbb42bf6 (2 revisions)
  DEPS
Labels: autosubmit

#54302 Roll Dart SDK from 03efd390e475 to 8dc947153d60 (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54303 Roll Skia from 3b79cbb42bf6 to 77cfae25b51d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54306 Roll Skia from 77cfae25b51d to 069274b16635 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54307 Roll Skia from 069274b16635 to ad1e3d828960 (1 revision)
  DEPS
Labels: autosubmit

#54308 Roll Fuchsia Test Scripts from dUCMHqU6ihfIFKAw8... to oOZyP3ets0uHdEqWW...
  DEPS
Labels: autosubmit

#54317 Roll Skia from ad1e3d828960 to f67db9982729 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54319 Roll Skia from f67db9982729 to 21f4d4a4a025 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54320 [Impeller] check allocation failures.
  impeller/core/host_buffer.cc
  impeller/core/host_buffer.h
  impeller/entity/contents/host_buffer_unittests.cc
Labels: e: impeller, autosubmit

#54322 Roll Skia from 21f4d4a4a025 to 88449344d36d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54323 Roll Skia from 88449344d36d to 60c660ecdf0a (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54326 Roll Dart SDK from 46bcc8466168 to ff56a84f7661 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54328 Roll Fuchsia Linux SDK from vpJQheqicAUK_qjD-... to kNaYSiTeLcsVNOSDa...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#54327 [Impeller] Use the typed allocation sizes in impeller::Allocation.
  impeller/base/allocation.cc
  impeller/base/allocation.h
  impeller/base/allocation_size.h
  impeller/base/allocation_size_unittests.cc
  impeller/playground/image/decompressed_image.cc
  impeller/renderer/backend/gles/allocator_gles.cc
  impeller/renderer/backend/gles/device_buffer_gles.cc
  impeller/renderer/backend/gles/proc_table_gles.cc
  impeller/renderer/backend/gles/texture_gles.cc
  impeller/renderer/backend/metal/allocator_mtl.mm
  impeller/runtime_stage/runtime_stage_unittests.cc
Labels: e: impeller, autosubmit

#54332 Roll Dart SDK from ff56a84f7661 to c4c9a84c3532 (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54333 Roll Dart SDK from c4c9a84c3532 to 3a0b4143fe47 (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54334 Roll Dart SDK from 3a0b4143fe47 to d4a2c6a52b4a (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54331 Roll Skia from 60c660ecdf0a to 8f0e1486b887 (1 revision)
  DEPS
Labels: will affect goldens, autosubmit

#54324 [DisplayList] benchmark DisplayList dispatch method
  display_list/benchmarking/dl_builder_benchmarks.cc
  display_list/testing/dl_test_snippets.cc
Labels: autosubmit

#54336 Roll Skia from 8f0e1486b887 to 80ef0f91fb7b (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54337 Roll Skia from 80ef0f91fb7b to 01593fa41ed1 (1 revision)
  DEPS
Labels: autosubmit

#54340 Roll Fuchsia Linux SDK from PPYewhTaxl-9Sh1Zb... to Wc4GjkNVQkbGEBpOb...
  DEPS
Labels: autosubmit

#54341 Roll Skia from 01593fa41ed1 to cbd9bc6f4a7e (1 revision)
  DEPS
Labels: autosubmit

#54342 Roll Skia from cbd9bc6f4a7e to 6723859a3212 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54343 Roll Skia from 6723859a3212 to 938b8b8efdfa (1 revision)
  DEPS
Labels: autosubmit

#54344 Roll Dart SDK from d4a2c6a52b4a to bdeaec130e8e (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53964 Update docs to use new Gradle version in the engine
  tools/gradle/README.md
Labels: autosubmit

#54347 Roll Skia from 938b8b8efdfa to c908f20dc0b1 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54348 Roll Skia from c908f20dc0b1 to f3406766fa23 (2 revisions)
  DEPS
Labels: autosubmit

#54349 Roll Dart SDK from bdeaec130e8e to 71e84a69ce6d (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54352 Roll Skia from f3406766fa23 to fed87fbbe49e (1 revision)
  DEPS
Labels: autosubmit

#54353 Roll Skia from fed87fbbe49e to 8b706494a21b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54356 Roll Skia from 8b706494a21b to 81942362276a (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54357 Roll Fuchsia Linux SDK from Wc4GjkNVQkbGEBpOb... to 2LTVy4Gv76DcMpz4V...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#54358 Roll Skia from 81942362276a to 4cdacdae8be0 (1 revision)
  DEPS
Labels: autosubmit

#54345 Update pubspec.yaml for package:flutter_gpu
  lib/gpu/pubspec.yaml
Labels: will affect goldens

#54363 Roll Skia from c586d81b096e to e8fed3f105c5 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54365 Roll Skia from e8fed3f105c5 to 7e9580cfeb65 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54367 Roll Skia from 7e9580cfeb65 to a15e5cfe046c (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54369 Roll Skia from a15e5cfe046c to 690c8d946e03 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54354 Roll Dart SDK from 71e84a69ce6d to dedfa3393296 (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: will affect goldens, autosubmit

#54370 Roll Skia from 690c8d946e03 to f04ba9cd0e4b (2 revisions)
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54364 macOS: Update platform node when AXNodeData role changes
  shell/platform/common/accessibility_bridge.cc
  shell/platform/common/accessibility_bridge.h
  shell/platform/common/flutter_platform_node_delegate.h
  shell/platform/darwin/macos/framework/Source/AccessibilityBridgeMac.mm
  shell/platform/darwin/macos/framework/Source/FlutterPlatformNodeDelegateMac.h
  shell/platform/darwin/macos/framework/Source/FlutterPlatformNodeDelegateMac.mm
  shell/platform/darwin/macos/framework/Source/FlutterPlatformNodeDelegateMacTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterTextInputSemanticsObject.mm
  shell/platform/darwin/macos/framework/Source/FlutterViewController.mm
Labels: affects: desktop, platform-macos

#54372 [Impeller] ensure precision matches for buggy vulkan drivers.
  impeller/entity/shaders/gradients/fast_gradient.vert
  impeller/tools/malioc.json
Labels: e: impeller, autosubmit

#54335 [iOS] clean ups to platform view controller
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.mm
  shell/platform/darwin/ios/framework/Source/FlutterView.h
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterViewTest.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTestMocks.h
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.h
  shell/platform/darwin/ios/framework/Source/accessibility_bridge.mm
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_ios.h
  shell/platform/darwin/ios/framework/Source/accessibility_bridge_test.mm
  shell/platform/darwin/ios/framework/Source/overlay_layer_pool.h
  shell/platform/darwin/ios/framework/Source/overlay_layer_pool.mm
  shell/platform/darwin/ios/framework/Source/platform_views_controller.h
  shell/platform/darwin/ios/framework/Source/platform_views_controller.mm
  shell/platform/darwin/ios/ios_external_view_embedder.h
  shell/platform/darwin/ios/ios_external_view_embedder.mm
  shell/platform/darwin/ios/platform_view_ios.h
  shell/platform/darwin/ios/platform_view_ios.mm
Labels: platform-ios, autosubmit

#54373 [Impeller] Reorder pipeline construction in content context.
  impeller/entity/contents/content_context.cc
  impeller/renderer/backend/vulkan/pipeline_vk.cc
Labels: e: impeller, autosubmit

#54376 Roll Dart SDK from dedfa3393296 to f5d136899082 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54378 Roll Skia from f04ba9cd0e4b to 968a00456bc5 (4 revisions)
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54375 [Impeller] Statically check stage interfaces for precision mismatches.
  impeller/compiler/code_gen_template.h
  impeller/compiler/reflector.cc
  impeller/core/shader_types.h
  impeller/entity/shaders/blending/porter_duff_blend.vert
  impeller/entity/shaders/blending/vertices_uber.frag
  impeller/entity/shaders/texture_uv_fill.vert
  impeller/entity/shaders/tiled_texture_fill.frag
  impeller/renderer/shader_stage_compatibility_checker.h
  impeller/tools/malioc.json
Labels: e: impeller, autosubmit

#54382 Roll Fuchsia Test Scripts from oOZyP3ets0uHdEqWW... to 3FWYCLt6cV86gWU8E...
  DEPS
Labels: autosubmit

#54384 Roll buildroot to 6ef931b950d5b9477dba0e278b7006ae327e12f7
  DEPS
Labels: autosubmit

#54386 Roll Skia from 968a00456bc5 to a0e775f706cd (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54389 Roll Skia from a0e775f706cd to 5267a5a1e26a (1 revision)
  DEPS
Labels: autosubmit

#54392 Roll Skia from 5267a5a1e26a to 0c6dd1e6ff8e (1 revision)
  DEPS
Labels: autosubmit

#54231 Reland: Partial repaint platform views
  flow/diff_context.cc
  flow/diff_context.h
  flow/layers/container_layer.cc
  flow/layers/platform_view_layer.cc
  flow/layers/platform_view_layer.h
  flow/layers/platform_view_layer_unittests.cc
  flow/layers/texture_layer.cc
  flow/paint_region.h
  shell/common/rasterizer.cc
Labels: waiting for tree to go green

#54379 [Impeller] bulk update fresh glyph atlas.
  impeller/typographer/backends/skia/typographer_context_skia.cc
Labels: will affect goldens, e: impeller, autosubmit

#54396 [Impeller] made Vector3 naming match Vector2 naming.
  impeller/aiks/paint.cc
  impeller/geometry/matrix.cc
  impeller/geometry/matrix.h
  impeller/geometry/vector.h
Labels: e: impeller, autosubmit

#54405 Roll Fuchsia Test Scripts from 3FWYCLt6cV86gWU8E... to AYS3tfC91ZRfdmIL0...
  DEPS
Labels: autosubmit

#54406 [Impeller] Make stage compatibility checker work with stages that have no inputs or outputs.
  impeller/compiler/code_gen_template.h
  impeller/renderer/shader_stage_compatibility_checker.h
Labels: e: impeller, autosubmit

#54411 Roll Dart SDK from f5d136899082 to 2e1b99aa1fa2 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54417 Directly include the Skia header that defines GrVkImageInfo
  shell/gpu/gpu_surface_vulkan.cc
  shell/platform/embedder/embedder.cc
Labels: autosubmit

#54408 [android] workaround for HC bug.
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/test/io/flutter/plugin/platform/PlatformViewsControllerTest.java
Labels: platform-android, autosubmit

#54423 Roll Dart SDK from 2e1b99aa1fa2 to 76b463dbecc3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54430 Roll Dart SDK from 76b463dbecc3 to 0131aabd8631 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54414 [iOS] Bundle dSYM packages in Flutter.xcframework
  sky/tools/create_full_ios_framework.py
  sky/tools/create_xcframework.py
Labels: autosubmit

#54403 Fix FlutterMetalLayer testDealloc flakiness on iOS 18
  shell/platform/darwin/ios/framework/Source/FlutterMetalLayerTest.mm
Labels: platform-ios, autosubmit

#54448 Roll Fuchsia Test Scripts from AYS3tfC91ZRfdmIL0... to TXbf0oL9XzQ8vcHJP...
  DEPS
Labels: autosubmit

#54449 Fix include of GrVkImageInfo header for the Fuchsia build
  shell/platform/fuchsia/flutter/vulkan_surface.cc
Labels: platform-fuchsia, autosubmit

#43683 Add EGL Surface backing store
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/embedder/embedder_external_view.cc
  shell/platform/embedder/embedder_render_target.h
  shell/platform/embedder/embedder_render_target_skia.cc
  shell/platform/embedder/embedder_render_target_skia.h
  shell/platform/embedder/tests/embedder_assertions.h
  shell/platform/embedder/tests/embedder_config_builder.cc
  shell/platform/embedder/tests/embedder_gl_unittests.cc
  shell/platform/embedder/tests/embedder_test_backingstore_producer.cc
  shell/platform/embedder/tests/embedder_test_backingstore_producer.h
  shell/platform/embedder/tests/embedder_test_compositor_gl.cc
  shell/platform/embedder/tests/embedder_test_compositor_software.cc
  shell/platform/embedder/tests/embedder_test_context.h
  shell/platform/embedder/tests/embedder_test_context_gl.cc
  shell/platform/embedder/tests/embedder_test_context_gl.h
  shell/platform/embedder/tests/embedder_unittests.cc
  testing/test_gl_surface.cc
  testing/test_gl_surface.h
Labels: autosubmit

#54452 [Impeller] perform final blit and gpu end frame tracing earlier.
  impeller/renderer/backend/metal/surface_mtl.h
  impeller/renderer/backend/metal/surface_mtl.mm
  shell/gpu/gpu_surface_metal_impeller.mm
Labels: e: impeller, autosubmit

#54454 Roll Skia from 0c6dd1e6ff8e to 4cff580721cf (20 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54293 [Impeller] move aiks text tests to DL.
  ci/licenses_golden/excluded_files
  display_list/dl_color.h
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/canvas.cc
  impeller/display_list/BUILD.gn
  impeller/display_list/aiks_dl_basic_unittests.cc
  impeller/display_list/aiks_dl_text_unittests.cc
  impeller/typographer/backends/stb/typographer_context_stb.cc
Labels: will affect goldens, e: impeller, autosubmit

#54455 Roll Dart SDK from 067c7cfcbc8c to ff0404c72fc5 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54418 [canvaskit] Detect animated WebP images
  lib/web_ui/lib/src/engine/image_format_detector.dart
  lib/web_ui/test/engine/image_format_detector_test.dart
Labels: platform-web, autosubmit

#54458 [iOS] Rename Flutter.dSYM to Flutter.framework.dSYM
  sky/tools/create_full_ios_framework.py
Labels: autosubmit

#54459 Roll Skia from 4cff580721cf to 5e8d9842cefa (1 revision)
  DEPS
Labels: autosubmit

#54460 Roll Dart SDK from ff0404c72fc5 to 9222e4c96f4d (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54461 Roll Skia from 5e8d9842cefa to 2eee5f248886 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54462 Roll Skia from 2eee5f248886 to bf9cf9b8fe9d (1 revision)
  DEPS
Labels: autosubmit

#54464 Roll Fuchsia Test Scripts from TXbf0oL9XzQ8vcHJP... to ra4HZdsFPpgZgDON6...
  DEPS
Labels: autosubmit

#54466 Roll Skia from bf9cf9b8fe9d to 0bedf6746d9e (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54465 Roll Dart SDK from 9222e4c96f4d to 1cc09f3f3642 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54467 Roll Skia from 0bedf6746d9e to 31c432c02665 (1 revision)
  DEPS
Labels: autosubmit

#54468 Roll Dart SDK from 1cc09f3f3642 to 35bc5c866149 (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54470 Roll Skia from 31c432c02665 to 13b4fee1ba99 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54471 Roll Skia from 13b4fee1ba99 to f5dc4483204d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54472 Roll Skia from f5dc4483204d to 5e190559fefd (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54456 [Impeller] Add FAQ entries.
  impeller/docs/faq.md
Labels: e: impeller, autosubmit

#54477 Roll Skia from 5e190559fefd to 2a7e7567607e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54474 Roll Dart SDK from 35bc5c866149 to cb89f7cad79c (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54479 Roll Fuchsia Test Scripts from ra4HZdsFPpgZgDON6... to q3WfgLnPmQ-1lBu8M...
  DEPS
Labels: autosubmit

#54480 Roll Skia from 2a7e7567607e to eeffce72693c (1 revision)
  DEPS
Labels: autosubmit

#54487 Revert "Roll Dart SDK from 35bc5c866149 to cb89f7cad79c (1 revision) (#54474)"
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54488 Roll Skia from eeffce72693c to 8118fc8240e1 (1 revision)
  DEPS
Labels: autosubmit

#54489 Roll Fuchsia Test Scripts from q3WfgLnPmQ-1lBu8M... to 8WCo7tLjg_GoImlj5...
  DEPS
Labels: autosubmit

#54491 Roll Skia from 8118fc8240e1 to 8f5705639815 (1 revision)
  DEPS
Labels: autosubmit

#54492 [iOS] Do not archive/upload Flutter.dSYM to cloud
  ci/builders/mac_ios_engine.json
  sky/tools/create_full_ios_framework.py
Labels: autosubmit

#54457 [Impeller] migrate blend tests to DL.
  ci/licenses_golden/excluded_files
  display_list/effects/dl_image_filter.h
  impeller/aiks/aiks_blend_unittests.cc
  impeller/aiks/aiks_unittests.cc
  impeller/display_list/BUILD.gn
  impeller/display_list/aiks_dl_blend_unittests.cc
  impeller/display_list/aiks_dl_unittests.cc
  impeller/display_list/dl_dispatcher.cc
  impeller/renderer/backend/metal/surface_mtl.h
  impeller/renderer/backend/metal/surface_mtl.mm
  testing/impeller_golden_tests_output.txt
Labels: will affect goldens, e: impeller, autosubmit

#54493 [iOS] Rename create_{full_,}ios_framework.py
  build/archives/BUILD.gn
  ci/builders/README.md
  ci/builders/mac_ios_engine.json
  ci/licenses_golden/excluded_files
  docs/release/Code-signing-metadata.md
  sky/tools/create_ios_framework.py
Labels: autosubmit

#54494 iOS,docs: Update iOS symbolication docs
  docs/Crashes.md
Labels: autosubmit

#54497 Roll Skia from 8f5705639815 to 9e3c43cb424c (1 revision)
  DEPS
Labels: autosubmit

#54498 Roll Skia from 9e3c43cb424c to e3e3fd85802b (1 revision)
  DEPS
Labels: autosubmit

#54501 Roll Skia from e3e3fd85802b to a09a0d635b08 (1 revision)
  DEPS
Labels: autosubmit

#54504 Roll Skia from a09a0d635b08 to f77adcef7c1c (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54371 [CP][Impeller] detect max cull rect on bounds. (#54013)
  impeller/display_list/dl_dispatcher.cc
Labels: e: impeller, autosubmit

#54398 [CP] Ensure full transform is applied to glyphs
  impeller/aiks/aiks_unittests.cc
  impeller/entity/contents/text_contents.cc
  testing/impeller_golden_tests_output.txt
Labels: e: impeller, autosubmit

#54399 [CP][Impeller] fix incorrect padding/translation in drawVertices with texture coordinates. (#53746)
  impeller/aiks/canvas.cc
  impeller/display_list/aiks_dl_vertices_unittests.cc
  impeller/entity/contents/vertices_contents.cc
  impeller/entity/contents/vertices_contents.h
  impeller/fixtures/BUILD.gn
  impeller/fixtures/runtime_stage_simple.frag
  testing/impeller_golden_tests_output.txt
Labels: e: impeller, autosubmit

#54400 [CP][Impeller] mark the end of a frame boundary for system compositor interop. (#53722)
  flow/surface_frame.h
  shell/gpu/gpu_surface_gl_impeller.cc
  shell/gpu/gpu_surface_metal_impeller.mm
  shell/gpu/gpu_surface_metal_impeller_unittests.mm
  shell/gpu/gpu_surface_vulkan_impeller.cc
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
Labels: platform-ios, autosubmit

#54505 Roll Dart SDK from 35bc5c866149 to cfe2b63d3aca (6 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54507 Roll Skia from f77adcef7c1c to ec7558d41b34 (1 revision)
  DEPS
Labels: autosubmit

#54329 [Windows] Improve texture format logic
  shell/platform/embedder/embedder.cc
  shell/platform/windows/compositor_opengl.cc
  shell/platform/windows/compositor_opengl.h
Labels: affects: desktop, platform-windows, autosubmit

#54469 macOS: Fix crash in attributedSubstringForProposedRange with out of bounds range
  shell/platform/darwin/macos/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/macos/framework/Source/FlutterTextInputPluginTest.mm
Labels: affects: desktop, platform-macos

#54512 Roll Dart SDK from cfe2b63d3aca to a6cd8099ff85 (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54511 Roll Skia from ec7558d41b34 to e232752d04c5 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54500 iOS,macOS: Clean up create_ios_framework.py
  ci/licenses_golden/excluded_files
  sky/tools/create_ios_framework.py
  sky/tools/sky_utils.py
Labels: autosubmit

#54514 [iOS] keep threads merged when using Skia renderer on iOS
  shell/platform/darwin/ios/framework/Source/platform_views_controller.h
  shell/platform/darwin/ios/framework/Source/platform_views_controller.mm
  shell/platform/darwin/ios/ios_external_view_embedder.mm
Labels: platform-ios, autosubmit

#54515 Roll Skia from e232752d04c5 to c9fd814b106a (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54516 Roll Skia from c9fd814b106a to 7bed8fb6fae2 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54520 Roll Skia from 7bed8fb6fae2 to cbd5898acbd8 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54521 Roll Dart SDK from a6cd8099ff85 to 21cde9d69d4e (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54522 Roll Skia from cbd5898acbd8 to d6f85d7fa251 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54523 Roll Skia from d6f85d7fa251 to d3cd0afd8f0d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54524 Roll Dart SDK from 21cde9d69d4e to 966df41e7755 (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54525 Roll Skia from d3cd0afd8f0d to 8dc4b2e92727 (1 revision)
  DEPS
Labels: autosubmit

#54528 Roll Skia from 8dc4b2e92727 to 899762bba6fd (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54530 Roll Skia from 899762bba6fd to a12a1fc4160e (1 revision)
  DEPS
Labels: autosubmit

#54531 Roll Dart SDK from 966df41e7755 to 9a6ec6cc9627 (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54532 Roll Fuchsia Test Scripts from 8WCo7tLjg_GoImlj5... to Kq699Ii76C_pozQ9Y...
  DEPS
Labels: autosubmit

#54533 Roll Skia from a12a1fc4160e to d11cdccf3fee (1 revision)
  DEPS
Labels: autosubmit

#54535 Roll Skia from d11cdccf3fee to 7c0eeaf12413 (1 revision)
  DEPS
Labels: autosubmit

#54536 Roll Dart SDK from 9a6ec6cc9627 to 44635f897535 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54368 [Impeller] fix drawPoints scaling factors.
  impeller/display_list/aiks_dl_unittests.cc
  impeller/entity/geometry/point_field_geometry.cc
  impeller/geometry/matrix.h
  impeller/geometry/matrix_unittests.cc
  impeller/tessellator/tessellator.cc
  testing/impeller_golden_tests_output.txt
Labels: will affect goldens, e: impeller, autosubmit

#54478 [CP][Impeller] Use depth transform in framebuffer blend entities. (#53951)
  impeller/display_list/aiks_dl_clip_unittests.cc
  impeller/entity/contents/filters/blend_filter_contents.cc
  testing/impeller_golden_tests_output.txt
Labels: e: impeller, autosubmit
