Repository flutter/engine, pull requests merged in 2024-06, with the labels that each got.

#53167 Roll Fuchsia Linux SDK from c-Sm5-fy8c2YM7Myk... to lKBLxel8iBaHpT5q6...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#53163 Delete impeller_golden_tests from beta RC branch
  ci/builders/mac_host_engine.json
Labels: autosubmit

#53122 Migrate off deprecated GrVkBackendContext fields
  shell/common/shell_test_platform_view_vulkan.cc
  shell/common/shell_test_platform_view_vulkan.h
  shell/platform/embedder/embedder_surface_vulkan.cc
  shell/platform/fuchsia/flutter/vulkan_surface.cc
  shell/platform/fuchsia/flutter/vulkan_surface_producer.cc
  testing/test_vulkan_context.cc
  vulkan/vulkan_device.cc
  vulkan/vulkan_device.h
  vulkan/vulkan_native_surface.h
  vulkan/vulkan_native_surface_android.cc
  vulkan/vulkan_native_surface_android.h
  vulkan/vulkan_window.cc
  vulkan/vulkan_window.h
Labels: platform-fuchsia

#53177 [Impeller] fix NPE caused by implicit sk_sp to fml::Status conversion.
  lib/ui/painting/image_encoding.cc
  lib/ui/painting/image_encoding.h
  lib/ui/painting/image_encoding_unittests.cc
Labels: autosubmit

#53136 Widen CPU affinity set.
  fml/cpu_affinity.cc
  fml/cpu_affinity.h
  fml/cpu_affinity_unittests.cc
  shell/platform/android/android_shell_holder.cc
Labels: platform-android, autosubmit

#53178 [flutter_releases] beta 3.23 release engine - actually delete impeller tests
  ci/builders/mac_host_engine.json
Labels: autosubmit

#53181 Roll Dart SDK from 53c41325c29f to 49b5590c8d80 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53160 [display_list] allow applying opacity peephole to single glyph.
  display_list/BUILD.gn
  display_list/display_list_unittests.cc
  display_list/dl_builder.cc
  display_list/testing/dl_test_snippets.cc
  display_list/testing/dl_test_snippets.h
Labels: autosubmit

#53103 Fix rendering corruption by Flutter and GDK sharing the same OpenGL context
  shell/platform/linux/fl_renderer_gdk.cc
Labels: affects: desktop, platform-linux

#53180 [web] Add Ethiopic font fallback.
  DEPS
  lib/web_ui/dev/roll_fallback_fonts.dart
  lib/web_ui/lib/src/engine/font_fallback_data.dart
  lib/web_ui/test/ui/fallback_fonts_golden_test.dart
Labels: platform-web, autosubmit

#53130 [Impeller] match rrect_blur math to the gaussian math
  impeller/display_list/dl_golden_unittests.cc
  impeller/entity/contents/filters/gaussian_blur_filter_contents.cc
  impeller/entity/contents/filters/gaussian_blur_filter_contents_unittests.cc
  impeller/entity/shaders/filters/gaussian.frag
  testing/impeller_golden_tests_output.txt
Labels: will affect goldens, e: impeller, autosubmit

#53187 Roll Dart SDK from 49b5590c8d80 to 9dce57c343ec (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53192 Roll Fuchsia Linux SDK from lKBLxel8iBaHpT5q6... to pagJoGS4kQ8Efa_if...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#53186 Separate layer-specific data in DisplayListBuilder::SaveInfo
  ci/licenses_golden/excluded_files
  display_list/BUILD.gn
  display_list/dl_builder.cc
  display_list/dl_builder.h
  display_list/geometry/dl_geometry_types.h
  display_list/geometry/dl_geometry_types_unittests.cc
  display_list/utils/dl_accumulation_rect.cc
  display_list/utils/dl_accumulation_rect.h
  display_list/utils/dl_accumulation_rect_unittests.cc
  display_list/utils/dl_matrix_clip_tracker_unittests.cc
  impeller/geometry/rect.h
Labels: e: impeller, autosubmit

#52842 [web] update version-lock file location
  lib/web_ui/README.md
  lib/web_ui/dev/chrome_installer.dart
  lib/web_ui/dev/firefox_installer.dart
Labels: platform-web, autosubmit

#53176 java fail on format missing
  ci/bin/format.dart
  ci/test/format_test.dart
Labels: platform-android, autosubmit

#53195 [Impeller] tighten fast gradient condition.
  impeller/aiks/aiks_gradient_unittests.cc
  impeller/entity/contents/linear_gradient_contents.cc
  impeller/entity/contents/linear_gradient_contents.h
  testing/impeller_golden_tests_output.txt
Labels: will affect goldens, e: impeller, autosubmit

#53151 [Impeller] wire up bdf and blend detection in experimental canvas.
  impeller/display_list/dl_dispatcher.cc
  impeller/display_list/dl_dispatcher.h
  impeller/display_list/dl_playground.cc
  shell/gpu/gpu_surface_metal_impeller.mm
  shell/gpu/gpu_surface_vulkan_impeller.cc
  shell/platform/embedder/embedder_external_view.cc
Labels: e: impeller, autosubmit

#53202 [Impeller] Clarify rendering backend fallback behavior on Android.
  impeller/docs/android.md
Labels: e: impeller, autosubmit

#53203 Roll Dart SDK from 2d7d6facc2b4 to 343c20614708 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53073 [Impeller] Intel iOS Simulators must block on GPU completion.
  impeller/renderer/backend/metal/surface_mtl.mm
Labels: e: impeller, autosubmit

#53072 [ios][platform_view] Use CAShapeLayer as the mask to avoid software rendering
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.mm
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_clippath_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_clippath_with_transform_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_after_moved_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_with_transform_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_with_transform_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_large_cliprrect_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_large_cliprrect_with_transform_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_view_clip_path_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_view_clip_rect_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_view_clip_rrect_iPhone SE (3rd generation)_17.0_simulator.png
Labels: platform-ios, autosubmit

#53211 [flutter_releases] Flutter stable 3.22.0 Engine Cherrypicks
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#53222 Roll Fuchsia Linux SDK from pagJoGS4kQ8Efa_if... to 2xWubo2mRP_2_wXKJ...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#53223 Re-land #52859: Revamp the engine style guide, remove `always_specify_types`
  CONTRIBUTING.md
  analysis_options.yaml
  lib/ui/analysis_options.yaml
Labels: autosubmit

#53226 [web] enable always_specify_types for web_ui
  lib/web_ui/analysis_options.yaml
Labels: platform-web, autosubmit

#53224 Roll Skia from 337c3c4d1f1b to 37755d48cca3 (45 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53225 Roll Dart SDK from dac7c04c7342 to f838a9a8d45f (3 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53227 [flutter_releases] Flutter Beta 3.23 Engine - Roll Dart 3.5.0-180.3.beta
  DEPS
Labels: will affect goldens, autosubmit

#53230 Roll Skia from 37755d48cca3 to 8448abc95867 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53233 Update testing/skia_gold_client/README.md
  testing/skia_gold_client/README.md
Labels: autosubmit

#53161 [Impeller] correctly map DL non-mipmap sample mode to non-mipmap sample mode.
  impeller/core/sampler_descriptor.h
  impeller/display_list/dl_dispatcher.cc
Labels: will affect goldens, e: impeller, autosubmit

#53232 [DisplayList] remove legacy DisplayListMatrixClipTracker
  display_list/utils/dl_matrix_clip_tracker.cc
  display_list/utils/dl_matrix_clip_tracker.h
  display_list/utils/dl_matrix_clip_tracker_unittests.cc
  flow/diff_context.cc
  flow/diff_context.h
  flow/layers/layer_state_stack.cc
  testing/mock_canvas.cc
  testing/mock_canvas.h
Labels: autosubmit

#53236 Roll Skia from 8448abc95867 to 89570a0a171e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53229 [Impeller] fix emojis with non-solid color sources.
  third_party/txt/BUILD.gn
  third_party/txt/src/skia/paragraph_skia.cc
  third_party/txt/tests/paragraph_unittests.cc
Labels: autosubmit

#51566 [web] Adds allowPlatformDefault for wheel signals.
  lib/ui/pointer.dart
  lib/web_ui/lib/pointer.dart
  lib/web_ui/lib/src/engine/pointer_binding.dart
  lib/web_ui/lib/src/engine/pointer_converter.dart
  lib/web_ui/test/engine/pointer_binding_test.dart
  web_sdk/test/api_conform_test.dart
Labels: platform-web, autosubmit

#53204 Remove the DBC interpreter flag.
  tools/gn
Labels: autosubmit

#53198 [Impeller] Use Skia software renderer to draw stroked text.
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/canvas.cc
  impeller/aiks/experimental_canvas.cc
  impeller/display_list/dl_dispatcher.cc
  impeller/display_list/dl_dispatcher.h
  impeller/entity/contents/text_contents.cc
  impeller/entity/contents/text_contents.h
  impeller/typographer/backends/skia/text_frame_skia.cc
  impeller/typographer/backends/skia/text_frame_skia.h
  impeller/typographer/backends/skia/typographer_context_skia.cc
  impeller/typographer/backends/stb/text_frame_stb.cc
  impeller/typographer/backends/stb/typographer_context_stb.cc
  impeller/typographer/font_glyph_pair.h
  impeller/typographer/glyph_atlas.cc
  impeller/typographer/glyph_atlas.h
  impeller/typographer/lazy_glyph_atlas.cc
  impeller/typographer/lazy_glyph_atlas.h
  impeller/typographer/text_frame.cc
  impeller/typographer/text_frame.h
  impeller/typographer/typographer_unittests.cc
  testing/impeller_golden_tests_output.txt
  third_party/txt/src/skia/paragraph_skia.cc
  third_party/txt/tests/paragraph_unittests.cc
Labels: will affect goldens, e: impeller, autosubmit

#53238 [Impeller] Reland Use Skia software renderer to draw stroked text.
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/canvas.cc
  impeller/aiks/experimental_canvas.cc
  impeller/display_list/dl_dispatcher.cc
  impeller/display_list/dl_dispatcher.h
  impeller/entity/contents/text_contents.cc
  impeller/entity/contents/text_contents.h
  impeller/typographer/backends/skia/text_frame_skia.cc
  impeller/typographer/backends/skia/text_frame_skia.h
  impeller/typographer/backends/skia/typographer_context_skia.cc
  impeller/typographer/backends/stb/text_frame_stb.cc
  impeller/typographer/backends/stb/typographer_context_stb.cc
  impeller/typographer/font_glyph_pair.h
  impeller/typographer/glyph_atlas.cc
  impeller/typographer/glyph_atlas.h
  impeller/typographer/lazy_glyph_atlas.cc
  impeller/typographer/lazy_glyph_atlas.h
  impeller/typographer/text_frame.cc
  impeller/typographer/text_frame.h
  impeller/typographer/typographer_unittests.cc
  testing/impeller_golden_tests_output.txt
  third_party/txt/src/skia/paragraph_skia.cc
  third_party/txt/tests/paragraph_unittests.cc
Labels: e: impeller, autosubmit

#53228 [web] clean up dynamic calls, remove always_specify_types
  lib/web_ui/analysis_options.yaml
  lib/web_ui/dev/roll_fallback_fonts.dart
  lib/web_ui/dev/steps/run_suite_step.dart
  lib/web_ui/lib/src/engine/app_bootstrap.dart
  lib/web_ui/lib/src/engine/clipboard.dart
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/services/message_codecs.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/canvaskit/initialization/services_vs_ui_test.dart
  lib/web_ui/test/engine/app_bootstrap_test.dart
  lib/web_ui/test/engine/routing_test.dart
Labels: platform-web, autosubmit

#53240 Roll Skia from 89570a0a171e to 0062d519a9ad (1 revision)
  DEPS
Labels: autosubmit

#53241 Roll Dart SDK from 86b8aacb2609 to e5459bcecb9c (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53242 Roll Skia from 0062d519a9ad to 9f3289461e51 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51925 Make pointer events ignore invalid views
  lib/ui/window/pointer_data_packet_converter.cc
  lib/ui/window/pointer_data_packet_converter.h
  lib/ui/window/pointer_data_packet_converter_unittests.cc
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  shell/common/input_events_unittests.cc
  shell/common/shell_test.cc
  shell/common/shell_test.h
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: autosubmit

#53244 Roll Skia from 9f3289461e51 to c2899d177c94 (2 revisions)
  DEPS
Labels: autosubmit

#53245 Roll Dart SDK from e5459bcecb9c to 7df5ccdf1c1b (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53247 Roll Skia from c2899d177c94 to ee42535eb2b4 (1 revision)
  DEPS
Labels: autosubmit

#53248 Roll Dart SDK from 7df5ccdf1c1b to 62e8607e1410 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53250 Roll Skia from ee42535eb2b4 to a3a32c107ddb (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53251 Roll Skia from a3a32c107ddb to d5acbe6bb22d (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53253 Roll Fuchsia Linux SDK from 2xWubo2mRP_2_wXKJ... to aVohW_hnfDaE0smBX...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#53255 Roll Skia from d5acbe6bb22d to 1211df22d135 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53252 Run tests on macOS 13 or 14
  .ci.yaml
  ci/builders/linux_web_engine.json
  ci/builders/local_engine.json
  ci/builders/mac_android_aot_engine.json
  ci/builders/mac_clang_tidy.json
  ci/builders/mac_host_engine.json
  ci/builders/mac_impeller_cmake_example.json
  ci/builders/mac_ios_engine.json
  ci/builders/mac_unopt.json
  ci/builders/mac_unopt_debug_no_rbe.json
  lib/web_ui/dev/generate_builder_json.dart
Labels: platform-web, autosubmit

#53258 Roll Skia from 1211df22d135 to 41896477ca14 (1 revision)
  DEPS
Labels: autosubmit

#53254 [Impeller] Expand fast gradient to all shapes.
  impeller/entity/contents/color_source_contents.h
  impeller/entity/contents/linear_gradient_contents.cc
Labels: will affect goldens, e: impeller, autosubmit

#53260 Roll Skia from 41896477ca14 to c1aae20f1c82 (3 revisions)
  DEPS
Labels: autosubmit

#53210 [Impeller] Round out extreme angles between curve polyline segments.
  impeller/aiks/aiks_path_unittests.cc
  impeller/entity/geometry/stroke_path_geometry.cc
  impeller/geometry/geometry_unittests.cc
  impeller/geometry/point.h
  testing/impeller_golden_tests_output.txt
Labels: will affect goldens, e: impeller

#53262 Roll Dart SDK from 8e05acb354f5 to ed2b917b266d (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53256 Reland "[ios][platform_view] Use CAShapeLayer as the mask to avoid software rendering #53072"
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.mm
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_clippath_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_clippath_with_transform_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_after_moved_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_with_transform_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_with_transform_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_large_cliprrect_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_large_cliprrect_with_transform_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_view_clip_path_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_view_clip_rect_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_view_clip_rrect_iPhone SE (3rd generation)_17.0_simulator.png
Labels: platform-ios, autosubmit

#53263 Roll Skia from c1aae20f1c82 to a42ff08f2b2e (1 revision)
  DEPS
Labels: autosubmit

#53265 Roll Skia from a42ff08f2b2e to b3aedcf27979 (1 revision)
  DEPS
Labels: autosubmit

#53266 Roll Dart SDK from ed2b917b266d to 41acb19a67b5 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53267 Roll Skia from b3aedcf27979 to a7ee8897c66e (1 revision)
  DEPS
Labels: autosubmit

#53268 Roll Skia from a7ee8897c66e to 376b88815099 (1 revision)
  DEPS
Labels: autosubmit

#53269 Roll Dart SDK from 41acb19a67b5 to accb5c25c42a (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53270 Roll Skia from 376b88815099 to d2e17d341305 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53271 Roll Skia from d2e17d341305 to e36110f8b451 (1 revision)
  DEPS
Labels: autosubmit

#53272 Roll Dart SDK from accb5c25c42a to 7b239d7f4578 (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53274 Revert "Widen CPU affinity set."
  fml/cpu_affinity.cc
  fml/cpu_affinity.h
  fml/cpu_affinity_unittests.cc
  shell/platform/android/android_shell_holder.cc
Labels: platform-android, autosubmit

#53275 Roll Skia from 5fc83884a619 to b7f51dfcc342 (4 revisions)
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53276 Roll Skia from b7f51dfcc342 to ad3c9f203f4e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53277 Roll Dart SDK from 7b239d7f4578 to 4b693b16eec1 (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53279 Roll Fuchsia Linux SDK from aVohW_hnfDaE0smBX... to zpBZmUB_JC5AjG-f4...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#53283 Roll Dart SDK from 4b693b16eec1 to d4f17e0bf28b (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53282 Update Chrome to 125.
  ci/builders/linux_web_engine.json
  lib/web_ui/dev/common.dart
  lib/web_ui/dev/generate_builder_json.dart
  lib/web_ui/dev/package_lock.yaml
Labels: platform-web, will affect goldens, autosubmit

#53284 [web] add test for inefficient overlay allocation
  lib/web_ui/test/canvaskit/embedded_views_test.dart
Labels: platform-web, autosubmit

#53261 [impeller] switches gaussian blur to a "source space" calculation
  impeller/aiks/aiks_blur_unittests.cc
  impeller/entity/contents/filters/gaussian_blur_filter_contents.cc
  impeller/entity/contents/filters/gaussian_blur_filter_contents_unittests.cc
  testing/impeller_golden_tests_output.txt
Labels: will affect goldens, e: impeller, autosubmit

#53287 Roll Dart SDK from d4f17e0bf28b to 48c6249a5b97 (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53288 Roll Skia from ad3c9f203f4e to a6c905943fe6 (1 revision)
  DEPS
Labels: autosubmit

#53289 Roll Dart SDK from 48c6249a5b97 to 235dc289e4bf (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53290 Roll Skia from a6c905943fe6 to 7d410bf13546 (1 revision)
  DEPS
Labels: autosubmit

#53291 Roll Fuchsia Linux SDK from zpBZmUB_JC5AjG-f4... to 8-r8iw3r4h35XQ4GP...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#53297 Roll Skia from 7d410bf13546 to aafc81dcd88d (1 revision)
  DEPS
Labels: autosubmit

#53298 Roll Fuchsia Linux SDK from 8-r8iw3r4h35XQ4GP... to -oOBf1l63tk7CztFd...
  DEPS
Labels: autosubmit

#53300 Roll Skia from aafc81dcd88d to 70d479753d41 (1 revision)
  DEPS
Labels: autosubmit

#53301 Roll Skia from 70d479753d41 to e22a628e1ee0 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53308 Roll Skia from 74b1e88878e1 to 163df01252cd (1 revision)
  DEPS
Labels: autosubmit

#53307 Use dart.library.html to distinguish dart2wasm from dart2js/ddc in conditional imports
  lib/web_ui/lib/src/engine/renderer.dart
  lib/web_ui/lib/ui_web/src/ui_web/browser_detection.dart
  lib/web_ui/test/ui/utils.dart
  web_sdk/sdk_rewriter.dart
  web_sdk/test/sdk_rewriter_test.dart
Labels: platform-web

#53311 Roll Skia from 009d184e82c5 to 178953621308 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53312 Roll Skia from 178953621308 to 09cebc502599 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53313 Temporarily run Mac mac_host_engine on only Mac-13
  .ci.yaml
  ci/builders/mac_host_engine.json
Labels: autosubmit

#53316 Roll Skia from 09cebc502599 to 38733e27e0d2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52418 Map mouse pointer type on Linux
  shell/platform/linux/fl_engine.cc
  shell/platform/linux/fl_engine_private.h
  shell/platform/linux/fl_engine_test.cc
  shell/platform/linux/fl_scrolling_manager.cc
  shell/platform/linux/fl_scrolling_manager_test.cc
  shell/platform/linux/fl_scrolling_view_delegate.cc
  shell/platform/linux/fl_scrolling_view_delegate.h
  shell/platform/linux/fl_view.cc
Labels: affects: desktop, platform-linux, autosubmit

#53317 Roll Fuchsia Linux SDK from -oOBf1l63tk7CztFd... to LS0Ff8PwQEGXzO0iA...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#53318 Temporarily run Linux linux_web_engine Mac tests on Mac-13 only
  ci/builders/linux_web_engine.json
  lib/web_ui/dev/generate_builder_json.dart
Labels: platform-web, autosubmit

#53321 Roll Skia from 38733e27e0d2 to b2bc3608f5c7 (1 revision)
  DEPS
Labels: autosubmit

#53319 Manual roll Dart SDK from 235dc289e4bf to 66ed61abe85e (5 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53323 Roll Skia from b2bc3608f5c7 to 6e7a7a72cf3e (1 revision)
  DEPS
Labels: autosubmit

#53326 Roll Skia from 6e7a7a72cf3e to ed92d84ffd3a (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53327 Roll Skia from ed92d84ffd3a to eb8a53033e88 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53328 Roll Skia from eb8a53033e88 to 5afbe0a7aded (1 revision)
  DEPS
Labels: autosubmit

#53330 Roll Skia from 5afbe0a7aded to f4d3467f2742 (1 revision)
  DEPS
Labels: autosubmit

#53331 Roll Skia from f4d3467f2742 to 74061baa5402 (1 revision)
  DEPS
Labels: autosubmit

#53333 Roll Skia from 74061baa5402 to 67c3ee616fb5 (2 revisions)
  DEPS
Labels: autosubmit

#53332 Manual roll Dart SDK from 66ed61abe85e to 282b3347dc3e (4 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53334 [engine] null check texture registry in OnPlatformViewMarkTextureFrameAvailable.
  shell/common/shell.cc
Labels: autosubmit

#53335 Roll Skia from 67c3ee616fb5 to cd2249d1ba33 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53281 [Impeller] remove varying interpolation for solid colors.
  impeller/compiler/shader_lib/impeller/types.glsl
  impeller/entity/contents/solid_color_contents.cc
  impeller/entity/entity_unittests.cc
  impeller/entity/shaders/solid_fill.frag
  impeller/entity/shaders/solid_fill.vert
  impeller/renderer/shader_stage_compatibility_checker.h
  impeller/tools/malioc.json
  impeller/tools/malioc_diff.py
Labels: e: impeller, autosubmit

#53337 Roll Skia from cd2249d1ba33 to b5f974ec2dcd (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53184 [Flutter GPU] Generate DescriptorSetLayouts for pipelines & export symbols on Android.
  lib/gpu/render_pipeline.cc
  lib/gpu/shader.cc
  lib/gpu/shader.h
  lib/gpu/shader_library.cc
  shell/platform/android/android_exports.lst
  testing/symbols/verify_exported.dart
Labels: platform-android, flutter-gpu

#53338 Roll Dart SDK from 282b3347dc3e to ab4d5a0b789d (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53134 [web] switch from .didGain/LoseAccessibilityFocus to .focus
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/lib/src/engine/semantics/focusable.dart
  lib/web_ui/lib/src/engine/semantics/text_field.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
  lib/web_ui/test/engine/semantics/semantics_tester.dart
  lib/web_ui/test/engine/semantics/text_field_test.dart
Labels: platform-web, autosubmit

#53299 Fix character getter API usage in stripLeftSlashes/stripRightSlashes
  lib/web_ui/flutter_js/src/utils.js
Labels: platform-web, autosubmit

#53340 Roll Skia from b5f974ec2dcd to 4cbc1129e587 (1 revision)
  DEPS
Labels: autosubmit

#53341 Roll Skia from 4cbc1129e587 to af907b24d873 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53339 [Impeller] add missing position to exp canvas text.
  impeller/aiks/experimental_canvas.cc
Labels: e: impeller, autosubmit

#53343 Roll Skia from af907b24d873 to 51eabd0d1e44 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53320 [Impeller] makes bgra10xr test more comprehensive
  lib/ui/BUILD.gn
  lib/ui/painting/image_encoding_unittests.cc
Labels: autosubmit

#53344 Roll Dart SDK from ab4d5a0b789d to 269125c33a35 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53346 Roll Fuchsia Linux SDK from LS0Ff8PwQEGXzO0iA... to 5VG7IYkpANkfxMKYx...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#53322 [Impeller] disabling the color write mask seems to improve performance on iOS compared to just the blend options.
  impeller/entity/contents/content_context.cc
Labels: e: impeller, autosubmit

#53347 Roll Dart SDK from 269125c33a35 to b61536f05f99 (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53348 Roll Dart SDK from b61536f05f99 to 24fbead7105d (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53349 Roll Skia from 51eabd0d1e44 to 5bfbacc89543 (1 revision)
  DEPS
Labels: autosubmit

#53350 Roll Skia from 5bfbacc89543 to 52d829ac6a0b (1 revision)
  DEPS
Labels: autosubmit

#53351 Roll Skia from 52d829ac6a0b to 1ba0c3ebc7a5 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53353 Roll Skia from 1ba0c3ebc7a5 to be6a57569a92 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53362 'Starter Project': port planet fragment shader to impeller tests
  impeller/fixtures/BUILD.gn
  impeller/fixtures/planet.frag
  impeller/fixtures/planet.vert
  impeller/renderer/renderer_unittests.cc
Labels: e: impeller, autosubmit

#53355 Give mac_host_engine tests a longer timeout and allow to run on Mac-14
  .ci.yaml
  ci/builders/mac_host_engine.json
Labels: autosubmit

#53357 Roll Skia from be6a57569a92 to b2f163ae11bf (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53363 Roll Fuchsia Linux SDK from 5VG7IYkpANkfxMKYx... to pGxbL7JoNb3yAYFw4...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#53345 [Impeller] Move Gradient tests to display list.
  ci/licenses_golden/excluded_files
  impeller/aiks/aiks_gradient_unittests.cc
  impeller/aiks/aiks_playground.cc
  impeller/aiks/aiks_playground.h
  impeller/aiks/paint.h
  impeller/display_list/BUILD.gn
  impeller/display_list/aiks_dl_gradient_unittests.cc
  impeller/golden_tests/golden_playground_test.h
  impeller/golden_tests/golden_playground_test_mac.cc
  impeller/golden_tests/golden_playground_test_stub.cc
  testing/impeller_golden_tests_output.txt
Labels: will affect goldens, e: impeller, autosubmit

#53365 Roll Skia from b2f163ae11bf to 69a53db434a6 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53370 Roll Skia from 69a53db434a6 to 704f70b7d756 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53371 Roll Skia from 704f70b7d756 to b12af56eb100 (1 revision)
  DEPS
Labels: autosubmit

#53372 Roll Skia from b12af56eb100 to 9ea9f37e8e1d (1 revision)
  DEPS
Labels: autosubmit

#53373 Roll Skia from 9ea9f37e8e1d to 0fe7f7ac43c5 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53374 Roll Skia from 0fe7f7ac43c5 to ecc64fb82374 (1 revision)
  DEPS
Labels: autosubmit

#53358 Change element to wait for in AppExtensionTests testAppExtensionLaunching
  testing/scenario_app/ios/Scenarios/ScenariosUITests/AppExtensionTests.m
Labels: autosubmit

#53376 Roll Skia from ecc64fb82374 to bf5a0e0dbf41 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53378 Roll Skia from bf5a0e0dbf41 to 0f47a9333edb (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53380 Roll Dart SDK from aa2265e5a192 to 115a9a2b26cd (5 revisions)
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53381 Roll Skia from 0f47a9333edb to 40bdee9eedd6 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53367 [DisplayList] cull clip operations that can be trivially and safely ignored
  display_list/display_list_unittests.cc
  display_list/dl_builder.cc
  display_list/dl_builder.h
  display_list/testing/dl_test_snippets.cc
  display_list/utils/dl_matrix_clip_tracker.cc
  display_list/utils/dl_matrix_clip_tracker.h
  display_list/utils/dl_matrix_clip_tracker_unittests.cc
  flow/layers/backdrop_filter_layer_unittests.cc
  impeller/geometry/rect.h
  impeller/geometry/rect_unittests.cc
Labels: e: impeller, autosubmit

#53382 Roll Skia from 40bdee9eedd6 to b21429b0ea78 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53383 Roll Skia from b21429b0ea78 to d248a9f99ff5 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53361 Add a `FlutterEngineRule` (JUnit `TestRule`) and use it in `FlutterRendererTest`
  shell/platform/android/test/io/flutter/embedding/engine/renderer/FlutterEngineRule.java
  shell/platform/android/test/io/flutter/embedding/engine/renderer/FlutterRendererTest.java
  shell/platform/android/test_runner/src/main/AndroidManifest.xml
Labels: platform-android, autosubmit

#53385 [Impeller] restore accidentally deleted Cap/Join benchmarks
  impeller/geometry/geometry_benchmarks.cc
Labels: e: impeller, autosubmit

#53386 Roll Fuchsia Linux SDK from pGxbL7JoNb3yAYFw4... to BkYg1UB1jdbAZv3gA...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#53387 Roll Skia from d248a9f99ff5 to 3bebb0602780 (1 revision)
  DEPS
Labels: autosubmit
