Repository flutter/engine, pull requests merged in 2024-02, with the labels that each got.

#50216 Remove migration flag and unused header files
  ci/licenses_golden/licenses_flutter
  lib/ui/BUILD.gn
  lib/ui/text.dart
  lib/ui/text/line_metrics.h
  lib/ui/text/paragraph.h
  lib/ui/text/paragraph_builder.cc
  lib/ui/text/paragraph_builder.h
  lib/web_ui/lib/src/engine/canvaskit/renderer.dart
  lib/web_ui/lib/src/engine/canvaskit/text.dart
  lib/web_ui/lib/src/engine/text/canvas_paragraph.dart
  lib/web_ui/lib/text.dart
  lib/web_ui/test/canvaskit/text_test.dart
  lib/web_ui/test/html/text/canvas_paragraph_test.dart
  lib/web_ui/test/html/text_test.dart
  testing/dart/paragraph_test.dart
  third_party/txt/src/skia/paragraph_builder_skia.cc
  third_party/txt/src/txt/paragraph_style.h
Labels: platform-web, will affect goldens, autosubmit

#50209 [flutter_releases] Flutter beta 3.19.0-0.4.pre Engine Cherrypicks
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit

#50215 [Impeller] make GPU tracing off by default.
  common/settings.h
  impeller/renderer/backend/vulkan/context_vk.cc
  impeller/renderer/backend/vulkan/context_vk.h
  impeller/renderer/backend/vulkan/gpu_tracer_vk.cc
  impeller/renderer/backend/vulkan/gpu_tracer_vk.h
  impeller/renderer/backend/vulkan/swapchain_impl_vk.cc
  impeller/renderer/backend/vulkan/test/gpu_tracer_unittests.cc
  shell/common/switches.cc
  shell/common/switches.h
  shell/platform/android/android_context_vulkan_impeller.cc
  shell/platform/android/android_context_vulkan_impeller.h
  shell/platform/android/io/flutter/embedding/engine/loader/FlutterLoader.java
  shell/platform/android/platform_view_android.cc
Labels: platform-android, e: impeller, autosubmit

#50189 Remove string field from FlKeyEvent
  shell/platform/linux/fl_key_channel_responder_test.cc
  shell/platform/linux/fl_key_embedder_responder_test.cc
  shell/platform/linux/fl_key_event.cc
  shell/platform/linux/fl_key_event.h
  shell/platform/linux/fl_keyboard_manager_test.cc
Labels: affects: desktop, platform-linux

#50205 [Impeller] size vk swapchain to window size.
  impeller/playground/backend/vulkan/playground_impl_vk.cc
  impeller/playground/backend/vulkan/playground_impl_vk.h
  impeller/renderer/backend/vulkan/BUILD.gn
  impeller/renderer/backend/vulkan/gpu_tracer_vk.cc
  impeller/renderer/backend/vulkan/surface_context_vk.cc
  impeller/renderer/backend/vulkan/surface_context_vk.h
  impeller/renderer/backend/vulkan/surface_vk.cc
  impeller/renderer/backend/vulkan/surface_vk.h
  impeller/renderer/backend/vulkan/swapchain_image_vk.h
  impeller/renderer/backend/vulkan/swapchain_impl_vk.cc
  impeller/renderer/backend/vulkan/swapchain_impl_vk.h
  impeller/renderer/backend/vulkan/swapchain_vk.cc
  impeller/renderer/backend/vulkan/swapchain_vk.h
  impeller/renderer/backend/vulkan/test/mock_vulkan.cc
  impeller/renderer/backend/vulkan/test/mock_vulkan.h
  impeller/renderer/backend/vulkan/test/swapchain_unittests.cc
  shell/platform/android/android_surface_vulkan_impeller.cc
  shell/testing/tester_main.cc
Labels: platform-android, e: impeller, autosubmit

#50228 [Impeller] Clear the GPUTracerVK in_frame flag when ending a frame even if the tracer is disabled
  impeller/renderer/backend/vulkan/gpu_tracer_vk.cc
  impeller/renderer/backend/vulkan/test/gpu_tracer_unittests.cc
Labels: e: impeller, autosubmit

#50230 Roll Skia from bcbc172f74da to 505d22d0ecdc (1 revision)
  DEPS
Labels: autosubmit

#50232 Roll Skia from 505d22d0ecdc to 756276a133b1 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#49828 [Impeller] Assign incremental clip depth to all entities.
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/canvas.cc
  impeller/aiks/canvas.h
  impeller/entity/contents/atlas_contents.cc
  impeller/entity/contents/clip_contents.cc
  impeller/entity/contents/conical_gradient_contents.cc
  impeller/entity/contents/content_context.cc
  impeller/entity/contents/content_context.h
  impeller/entity/contents/filters/filter_contents.cc
  impeller/entity/contents/framebuffer_blend_contents.cc
  impeller/entity/contents/linear_gradient_contents.cc
  impeller/entity/contents/radial_gradient_contents.cc
  impeller/entity/contents/runtime_effect_contents.cc
  impeller/entity/contents/solid_color_contents.cc
  impeller/entity/contents/solid_rrect_blur_contents.cc
  impeller/entity/contents/sweep_gradient_contents.cc
  impeller/entity/contents/text_contents.cc
  impeller/entity/contents/texture_contents.cc
  impeller/entity/contents/tiled_texture_contents.cc
  impeller/entity/contents/vertices_contents.cc
  impeller/entity/entity.cc
  impeller/entity/entity.h
  impeller/entity/entity_pass.cc
  impeller/entity/entity_pass.h
  impeller/entity/entity_playground.cc
  impeller/entity/shaders/blending/framebuffer_blend.vert
  impeller/entity/shaders/blending/porter_duff_blend.vert
  impeller/entity/shaders/clip.vert
  impeller/entity/shaders/glyph_atlas.vert
  impeller/entity/shaders/gradient_fill.vert
  impeller/entity/shaders/position_color.vert
  impeller/entity/shaders/rrect_blur.vert
  impeller/entity/shaders/runtime_effect.vert
  impeller/entity/shaders/solid_fill.vert
  impeller/entity/shaders/texture_fill.vert
  impeller/renderer/backend/gles/texture_gles.cc
  impeller/tools/malioc.json
Labels: will affect goldens, e: impeller

#50235 Roll Fuchsia Linux SDK from nymRxHV9Shod7cyLe... to kvEXgoydRYnW3UvX2...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#50236 Roll Skia from 756276a133b1 to 20578fecfc37 (1 revision)
  DEPS
Labels: autosubmit

#50238 Roll Skia from 20578fecfc37 to 2386d5077ec5 (2 revisions)
  DEPS
Labels: autosubmit

#50239 Roll Skia from 2386d5077ec5 to cdf214adfb4d (2 revisions)
  DEPS
Labels: autosubmit

#50211 Moves impeller/golden_tests_harvester to tools/golden_tests_harvester
  ci/analyze.sh
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_flutter
  impeller/golden_tests/README.md
  testing/run_tests.py
  tools/golden_tests_harvester/.gitignore
  tools/golden_tests_harvester/README.md
  tools/golden_tests_harvester/analysis_options.yaml
  tools/golden_tests_harvester/bin/golden_tests_harvester.dart
  tools/golden_tests_harvester/lib/golden_tests_harvester.dart
  tools/golden_tests_harvester/lib/logger.dart
  tools/golden_tests_harvester/pubspec.yaml
  tools/golden_tests_harvester/test/golden_tests_harvester_test.dart
  tools/pub_get_offline.py
Labels: e: impeller

#50222 [Impeller] added an assert that goldens are generated
  testing/run_tests.py
Labels: autosubmit

#50148 Reland "[Windows] Introduce egl::Surface and egl::WindowSurface"
  ci/licenses_golden/licenses_flutter
  shell/platform/windows/BUILD.gn
  shell/platform/windows/compositor_opengl.cc
  shell/platform/windows/compositor_opengl_unittests.cc
  shell/platform/windows/egl/context.h
  shell/platform/windows/egl/manager.cc
  shell/platform/windows/egl/manager.h
  shell/platform/windows/egl/surface.cc
  shell/platform/windows/egl/surface.h
  shell/platform/windows/egl/window_surface.cc
  shell/platform/windows/egl/window_surface.h
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_unittests.cc
  shell/platform/windows/flutter_windows_view.cc
  shell/platform/windows/flutter_windows_view_unittests.cc
  shell/platform/windows/testing/egl/mock_context.h
  shell/platform/windows/testing/egl/mock_manager.h
  shell/platform/windows/testing/egl/mock_window_surface.h
Labels: affects: desktop, platform-windows, autosubmit

#50242 [Impeller] remove drawPicture from Aiks Canvas.
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/canvas.cc
  impeller/aiks/canvas.h
  impeller/aiks/canvas_recorder.h
  impeller/aiks/canvas_recorder_unittests.cc
  impeller/aiks/trace_serializer.cc
  impeller/display_list/dl_unittests.cc
  impeller/entity/entity_pass.cc
  impeller/entity/entity_pass.h
Labels: e: impeller, autosubmit

#50247 Provide a more helpful error message in the case of UnsatisfiedLinkError
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
Labels: platform-android

#50245 [Impeller] new blur: round downsample to power of two
  impeller/entity/contents/filters/gaussian_blur_filter_contents.cc
  impeller/entity/entity_unittests.cc
Labels: will affect goldens, e: impeller, autosubmit

#50231 [Impeller] Replace stencil pipeline ops with enum.
  impeller/entity/contents/checkerboard_contents.cc
  impeller/entity/contents/clip_contents.cc
  impeller/entity/contents/conical_gradient_contents.cc
  impeller/entity/contents/content_context.cc
  impeller/entity/contents/content_context.h
  impeller/entity/contents/linear_gradient_contents.cc
  impeller/entity/contents/radial_gradient_contents.cc
  impeller/entity/contents/runtime_effect_contents.cc
  impeller/entity/contents/solid_color_contents.cc
  impeller/entity/contents/sweep_gradient_contents.cc
  impeller/entity/contents/texture_contents.cc
  impeller/entity/contents/tiled_texture_contents.cc
  impeller/renderer/compute_subgroup_unittests.cc
Labels: e: impeller, autosubmit

#50251 [Impeller] Delete unnecessary special casing for Vulkan in framebuffer fetch.
  impeller/entity/shaders/blending/framebuffer_blend.frag
Labels: e: impeller, autosubmit

#50188 Fix the output paths of the Web esbuild GN template
  build/esbuild/esbuild.gni
Labels: autosubmit

#49841 Add the focus state related methods to the platform dispatcher
  lib/ui/platform_dispatcher.dart
  lib/web_ui/lib/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  lib/web_ui/test/engine/platform_dispatcher/platform_dispatcher_test.dart
Labels: platform-web

#50250 [Impeller] Remove unused define.
  impeller/renderer/backend/vulkan/BUILD.gn
Labels: e: impeller, autosubmit

#50218 [Impeller] updated todos from opengles golden work
  impeller/golden_tests/vulkan_screenshotter.mm
  testing/run_tests.py
Labels: e: impeller, autosubmit

#50223 Re-add tests deleted on accident
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
Labels: affects: desktop, platform-macos, autosubmit

#50099 Refactor the linux_android targets to make use of recent changes to android virtual device params
  ci/builders/linux_android_emulator.json
  ci/builders/linux_android_emulator_api_33.json
Labels: autosubmit

#50153 Remove number of arguments from defining Dart FFI
  fml/platform/fuchsia/log_interest_listener.h
  fml/platform/fuchsia/log_state.h
  lib/ui/dart_ui.cc
Labels: autosubmit

#50264 Manual roll Dart SDK from 82936dcdaf4f to 5a5d4c262200 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#49980 [Android] Fix TextInputType.none for devices with physical keyboard
  shell/platform/android/io/flutter/plugin/editing/TextInputPlugin.java
  shell/platform/android/test/io/flutter/plugin/editing/TextInputPluginTest.java
Labels: platform-android

#50267 Add a link the different possible Android virtual device configs
  .ci.yaml
Labels: autosubmit

#50273 Add the focus state related methods to the platform dispatcher
  lib/ui/platform_dispatcher.dart
  lib/web_ui/lib/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  lib/web_ui/test/engine/platform_dispatcher/platform_dispatcher_test.dart
Labels: platform-web

#50288 Move linux_fuchsia to staging
  .ci.yaml
Labels: warning: land on red to fix tree breakage, autosubmit

#50291 Revert "[Fuchsia] Execute most of the testing/fuchsia/test_suites.yaml on debug and release builds"
  ci/builders/linux_fuchsia.json
  shell/platform/fuchsia/dart_runner/embedder/BUILD.gn
  shell/platform/fuchsia/dart_runner/kernel/BUILD.gn
  shell/platform/fuchsia/dart_runner/vmservice/BUILD.gn
  shell/platform/fuchsia/flutter/kernel/BUILD.gn
  testing/fuchsia/run_tests.py
  testing/fuchsia/test_suites.yaml
Labels: platform-fuchsia, autosubmit

#50290 [Impeller] blur: removed ability to request out of bounds mip_counts
  impeller/aiks/aiks_unittests.cc
  impeller/core/allocator.cc
  impeller/entity/contents/contents.cc
Labels: e: impeller, autosubmit

#50183 Remove the skia_fontmgr_factory argument from the Web GN configuration
  tools/gn
Labels: autosubmit

#50304 [Impeller] Wire up Angle use to a command line flag and enable it by default on macOS.
  impeller/playground/backend/gles/playground_impl_gles.cc
  impeller/playground/switches.cc
  impeller/playground/switches.h
Labels: e: impeller, autosubmit

#50262 [Impeller] new blur: clamp downsample scalar to 1/16
  impeller/aiks/BUILD.gn
  impeller/aiks/aiks_unittests.cc
  impeller/entity/contents/filters/gaussian_blur_filter_contents.cc
  impeller/entity/contents/filters/gaussian_blur_filter_contents_unittests.cc
  impeller/entity/shaders/gaussian_blur/kernel.glsl
  impeller/golden_tests/golden_playground_test_mac.cc
Labels: will affect goldens, e: impeller, autosubmit

#50260 [Impeller] In advanced blends, unpremultiply and apply src_input_alpha only if there is no foreground color
  impeller/aiks/aiks_unittests.cc
  impeller/entity/shaders/blending/advanced_blend.frag
  impeller/tools/malioc.json
  testing/run_tests.py
Labels: will affect goldens, e: impeller, autosubmit

#50307 [Impeller] Fix blown stack due to always out of date window dimensions on high-dpi devices.
  impeller/playground/backend/vulkan/playground_impl_vk.cc
Labels: e: impeller, autosubmit

#50308 [Impeller] fix flake in compute unittests.
  impeller/renderer/compute_unittests.cc
Labels: e: impeller, autosubmit

#50310 Delete fml::ThreadLocalUniquePtr.
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_flutter
  flow/testing/gl_context_switch_test.cc
  fml/BUILD.gn
  fml/message_loop.cc
  fml/message_loop_task_queues.cc
  fml/platform/android/jni_util.cc
  fml/thread_local.cc
  fml/thread_local.h
  fml/thread_local_unittests.cc
  impeller/renderer/backend/vulkan/command_pool_vk.cc
  impeller/renderer/backend/vulkan/test/mock_vulkan.cc
Labels: e: impeller, autosubmit

#50356 [Impeller] moved blur aiks tests to their own file
  ci/licenses_golden/excluded_files
  impeller/aiks/BUILD.gn
  impeller/aiks/aiks_blur_unittests.cc
  impeller/aiks/aiks_unittests.cc
Labels: e: impeller, autosubmit

#50361 [Impeller] Do not reference `this` in the submit callback for Metal GPU Surfaces
  shell/gpu/gpu_surface_metal_impeller.h
  shell/gpu/gpu_surface_metal_impeller.mm
  shell/gpu/gpu_surface_metal_impeller_unittests.mm
Labels: autosubmit

#50293 `visiblePassword` uses ASCII keyboard on iOS
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/ios/framework/Source/FlutterTextInputPluginTest.mm
Labels: platform-ios, autosubmit

#50364 Fix iOS password autofill prompt dismissal causes layout to resize
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
Labels: platform-ios, autosubmit

#50363 [Impeller] blur: hold on to 1/8 downsample until the kernel overflows
  impeller/aiks/aiks_blur_unittests.cc
  impeller/entity/contents/filters/gaussian_blur_filter_contents.cc
  impeller/entity/contents/filters/gaussian_blur_filter_contents_unittests.cc
Labels: will affect goldens, e: impeller

#50265 [github actions] add cherry pick workflow for engine repo
  .github/workflows/engine-cp.yml
Labels: autosubmit

#50161 [web] Fix Scene clip bounds. Trigger resize on DPR Change.
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/html/scene.dart
  lib/web_ui/lib/src/engine/view_embedder/dimensions_provider/custom_element_dimensions_provider.dart
  lib/web_ui/lib/src/engine/view_embedder/dimensions_provider/dimensions_provider.dart
  lib/web_ui/lib/src/engine/view_embedder/dimensions_provider/full_page_dimensions_provider.dart
  lib/web_ui/lib/src/engine/view_embedder/display_dpr_stream.dart
  lib/web_ui/test/engine/view_embedder/dimensions_provider/custom_element_dimensions_provider_test.dart
  lib/web_ui/test/engine/view_embedder/dimensions_provider/dimensions_provider_test.dart
  lib/web_ui/test/engine/view_embedder/dimensions_provider/full_page_dimensions_provider_test.dart
  lib/web_ui/test/engine/view_embedder/display_dpr_stream_test.dart
Labels: platform-web, autosubmit

#50382 Roll Skia from cdf214adfb4d to c29a20702356 (54 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#50381 [Impeller] Do not skip the GLES render pass if the command list is empty
  impeller/renderer/backend/gles/render_pass_gles.cc
Labels: will affect goldens, e: impeller, autosubmit

#50142 [Impeller] Cache RenderPass/Framebuffer objects on the resolve texture sources.
  ci/licenses_golden/excluded_files
  impeller/renderer/backend/vulkan/BUILD.gn
  impeller/renderer/backend/vulkan/render_pass_cache_unittests.cc
  impeller/renderer/backend/vulkan/render_pass_vk.cc
  impeller/renderer/backend/vulkan/render_pass_vk.h
  impeller/renderer/backend/vulkan/swapchain_image_vk.h
  impeller/renderer/backend/vulkan/texture_source_vk.h
  impeller/renderer/backend/vulkan/texture_vk.cc
  impeller/renderer/backend/vulkan/texture_vk.h
Labels: e: impeller, autosubmit

#50392 Roll Skia from c29a20702356 to 9e68ed6caf6d (1 revision)
  DEPS
Labels: autosubmit

#50393 Roll Skia from 9e68ed6caf6d to 44106ee8edea (1 revision)
  DEPS
Labels: autosubmit

#50358 [fuchsia] Bump Fuchsia's API level to 16
  shell/platform/fuchsia/dart_runner/dart_component_controller.cc
  shell/platform/fuchsia/flutter/component_v2.cc
  shell/platform/fuchsia/runtime/dart/utils/vmservice_object.h
  tools/fuchsia/target_api_level
Labels: platform-fuchsia

#50398 Roll Dart SDK from b62066b42af0 to 29265c94a6e8 (10 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#50376 [Impeller] Specify if Angle or SwiftShader is being used in the title.
  impeller/playground/playground_test.cc
Labels: e: impeller, autosubmit

#50295 Revert "Revert "[Fuchsia] Execute most of the testing/fuchsia/test_suites.yaml on debug and release builds""
  .ci.yaml
  ci/builders/linux_fuchsia.json
  shell/platform/fuchsia/dart_runner/embedder/BUILD.gn
  shell/platform/fuchsia/dart_runner/kernel/BUILD.gn
  shell/platform/fuchsia/dart_runner/vmservice/BUILD.gn
  shell/platform/fuchsia/flutter/kernel/BUILD.gn
  testing/fuchsia/run_tests.py
  testing/fuchsia/test_suites.yaml
Labels: platform-fuchsia

#50401 Skip flaking test on Windows nobody is fixing.
  lib/web_ui/test/engine/pointer_binding_test.dart
Labels: platform-web, warning: land on red to fix tree breakage

#50403 Add use_rbe to gclient variables for Framework Smoke Tests
  .ci.yaml
Labels: autosubmit

#50402 Roll Dart SDK from 29265c94a6e8 to 35269fa71956 (1 revision)
  DEPS
Labels: autosubmit

#50168 Provide toStrings for Native objects
  lib/ui/compositing.dart
  lib/ui/painting.dart
  lib/ui/semantics.dart
  lib/ui/text.dart
  testing/dart/BUILD.gn
  testing/dart/stringification_test.dart
Labels: autosubmit

#50413 [Impeller] Fix pipeline attachment layout in CanRenderToTexture.
  impeller/renderer/renderer_unittests.cc
Labels: e: impeller, autosubmit

#50420 Roll Skia from 44106ee8edea to fd55a6bd3580 (17 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#50423 Roll Skia from fd55a6bd3580 to 1b266b36a4c8 (1 revision)
  DEPS
Labels: autosubmit

#50424 Roll Dart SDK from 35269fa71956 to 452dd17120b7 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#50419 [Impeller] Always pop clips on restore.
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/canvas.cc
Labels: e: impeller, autosubmit

#50427 Roll Skia from 1b266b36a4c8 to 3cc2a15196cb (1 revision)
  DEPS
Labels: autosubmit

#50429 Roll Skia from 3cc2a15196cb to 0fb71bedffa2 (1 revision)
  DEPS
Labels: autosubmit

#45522 Fix: On the Web, cannot support multiline inputting when registering customized TextInputControl
  lib/web_ui/lib/src/engine/text_editing/input_type.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/engine/text_editing_test.dart
Labels: platform-web, autosubmit

#50435 Roll Skia from 0fb71bedffa2 to 7777976cd518 (3 revisions)
  DEPS
Labels: autosubmit

#48254 Update NDK to version 26
  .clang-tidy
  DEPS
  build/secondary/third_party/vulkan_validation_layers/BUILD.gn
  ci/binary_size_treemap.sh
Labels: platform-android

#50408 Redo "[Fuchsia] Execute most of the testing/fuchsia/test_suites.yaml on debug and release builds"
  ci/builders/linux_fuchsia.json
  shell/platform/fuchsia/dart_runner/embedder/BUILD.gn
  shell/platform/fuchsia/dart_runner/kernel/BUILD.gn
  shell/platform/fuchsia/dart_runner/vmservice/BUILD.gn
  shell/platform/fuchsia/flutter/kernel/BUILD.gn
  testing/fuchsia/run_tests.py
  testing/fuchsia/test_suites.yaml
Labels: platform-fuchsia

#50437 Roll Dart SDK from 452dd17120b7 to 322c81160fa9 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#50438 Roll Skia from 7777976cd518 to 9b103a4148e2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#50373 [Impeller] Initialize the stencil reference value.
  impeller/renderer/backend/vulkan/render_pass_vk.cc
Labels: e: impeller, autosubmit

#50414 Fix Android `scenario_app` to actually run and block on CI
  .ci.yaml
  ci/builders/linux_android_emulator.json
  ci/builders/linux_android_emulator_api_33.json
  testing/scenario_app/bin/android_integration_tests.dart
Labels: platform-android, will affect goldens

#50447 Roll Fuchsia Linux SDK from kvEXgoydRYnW3UvX2... to CPiPDUwCrjHYf_lAR...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#50448 [Impeller] Log non-default graphics backend usages, use IMPORTANT rather than ERROR
  fml/log_level.h
  fml/logging.cc
  fml/logging_unittests.cc
  shell/platform/android/android_context_gl_impeller.cc
  shell/platform/android/android_context_vulkan_impeller.cc
  shell/platform/darwin/graphics/FlutterDarwinContextMetalImpeller.mm
  shell/platform/darwin/graphics/FlutterDarwinContextMetalSkia.mm
  shell/platform/embedder/embedder_surface_gl_impeller.cc
  shell/platform/embedder/embedder_surface_metal_impeller.mm
Labels: platform-android, autosubmit

#50451 Roll Skia from eacaa2d3600c to 8332438cbeb9 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#50444 [Impeller] move path out of PathBuilder in TakePath.
  impeller/geometry/path.cc
  impeller/geometry/path.h
  impeller/geometry/path_builder.cc
  impeller/geometry/path_unittests.cc
Labels: e: impeller, autosubmit

#50452 Roll Skia from 8332438cbeb9 to 91a9154d0dfa (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#50221 Report display sizes in physical pixels on MacOS
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine_Internal.h
Labels: affects: desktop, platform-macos, autosubmit

#50389 [ios] Fix memory leak in ChildClippingView
  AUTHORS
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.mm
Labels: platform-ios, autosubmit

#50344 Clear objects before setting them.
  shell/platform/linux/fl_view.cc
Labels: affects: desktop, platform-linux

#50459 Roll Skia from 91a9154d0dfa to 8e08ece134da (1 revision)
  DEPS
Labels: autosubmit

#50458 [github actions] update license year
  .github/workflows/engine-cp.yml
Labels: autosubmit

#50461 Roll Skia from 8e08ece134da to 97f12df11af2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#50462 Roll Skia from 97f12df11af2 to fe4aa8a3ea53 (2 revisions)
  DEPS
Labels: autosubmit

#50463 Roll Skia from fe4aa8a3ea53 to 59943f4e92b9 (1 revision)
  DEPS
Labels: autosubmit

#50415 [Impeller] remove extra buffer usage in compute.
  impeller/entity/geometry/point_field_geometry.cc
Labels: e: impeller, autosubmit

#50455 [Impeller] Vulkan: Don't fail initialization if stencil-only textures aren't supported.
  impeller/renderer/backend/vulkan/capabilities_vk.cc
  impeller/renderer/backend/vulkan/context_vk_unittests.cc
  impeller/renderer/backend/vulkan/test/mock_vulkan.cc
  impeller/renderer/backend/vulkan/test/mock_vulkan.h
Labels: e: impeller, autosubmit

#46901 [web] - Fix `inputmode` on Android Firefox
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/engine/text_editing_test.dart
Labels: platform-web, autosubmit

#50460 Fix Core Foundation object leaks.
  third_party/txt/src/txt/platform_mac.mm
Labels: autosubmit

#50454 Sever the //flutter/vulkan dependency in Flutter tester.
  shell/testing/tester_main.cc
Labels: autosubmit

#50473 Roll Fuchsia Linux SDK from CPiPDUwCrjHYf_lAR... to RK2irywND2DKT4l6C...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#50474 [Impeller] Delete the archivist framework.
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_flutter
  impeller/BUILD.gn
  impeller/README.md
  impeller/archivist/BUILD.gn
  impeller/archivist/archivable.cc
  impeller/archivist/archivable.h
  impeller/archivist/archive.cc
  impeller/archivist/archive.h
  impeller/archivist/archive_class_registration.cc
  impeller/archivist/archive_class_registration.h
  impeller/archivist/archive_database.cc
  impeller/archivist/archive_database.h
  impeller/archivist/archive_location.cc
  impeller/archivist/archive_location.h
  impeller/archivist/archive_statement.cc
  impeller/archivist/archive_statement.h
  impeller/archivist/archive_transaction.cc
  impeller/archivist/archive_transaction.h
  impeller/archivist/archive_vector.cc
  impeller/archivist/archive_vector.h
  impeller/archivist/archivist_fixture.cc
  impeller/archivist/archivist_fixture.h
  impeller/archivist/archivist_unittests.cc
  impeller/entity/BUILD.gn
Labels: e: impeller, autosubmit

#50457 Reland "[web] Fix Scene clip bounds. Trigger resize on DPR Change."
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/html/scene.dart
  lib/web_ui/lib/src/engine/view_embedder/dimensions_provider/custom_element_dimensions_provider.dart
  lib/web_ui/lib/src/engine/view_embedder/dimensions_provider/dimensions_provider.dart
  lib/web_ui/lib/src/engine/view_embedder/dimensions_provider/full_page_dimensions_provider.dart
  lib/web_ui/lib/src/engine/view_embedder/display_dpr_stream.dart
  lib/web_ui/test/engine/view_embedder/dimensions_provider/custom_element_dimensions_provider_test.dart
  lib/web_ui/test/engine/view_embedder/dimensions_provider/dimensions_provider_test.dart
  lib/web_ui/test/engine/view_embedder/dimensions_provider/full_page_dimensions_provider_test.dart
  lib/web_ui/test/engine/view_embedder/display_dpr_stream_test.dart
Labels: platform-web, autosubmit

#50476 Roll Skia from 59943f4e92b9 to 672bb50b6d8f (3 revisions)
  DEPS
Labels: autosubmit

#50472 Sever the //flutter/vulkan dependency in Flutter in the Android embedder.
  shell/platform/android/android_context_vulkan_impeller.cc
  shell/platform/android/android_context_vulkan_impeller.h
Labels: platform-android, will affect goldens, autosubmit

#50480 [Impeller] Move impeller/image to impeller/playground/image
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_flutter
  impeller/BUILD.gn
  impeller/core/BUILD.gn
  impeller/entity/BUILD.gn
  impeller/playground/BUILD.gn
  impeller/playground/image/BUILD.gn
  impeller/playground/image/README.md
  impeller/playground/image/backends/skia/compressed_image_skia.cc
  impeller/playground/image/backends/skia/compressed_image_skia.h
  impeller/playground/image/compressed_image.cc
  impeller/playground/image/compressed_image.h
  impeller/playground/image/decompressed_image.cc
  impeller/playground/image/decompressed_image.h
  impeller/playground/playground.cc
  impeller/playground/playground.h
  impeller/renderer/BUILD.gn
  impeller/scene/node.cc
  impeller/scene/scene_unittests.cc
Labels: e: impeller, autosubmit

#50485 Roll Skia from 672bb50b6d8f to c36362d95df0 (3 revisions)
  DEPS
Labels: autosubmit

#50488 Roll Skia from c36362d95df0 to 9bcc54924128 (1 revision)
  DEPS
Labels: autosubmit

#50489 Roll Skia from 9bcc54924128 to 64a25300fe1c (3 revisions)
  DEPS
Labels: autosubmit

#50491 Roll Skia from 64a25300fe1c to 68cb550de88d (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#50495 Roll Skia from 14ee546dcfe8 to fbe1d2265637 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#50494 Manual roll Dart SDK from 452dd17120b7 to 03130d49f214 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  shell/platform/fuchsia/dart/BUILD.gn
  sky/packages/sky_engine/LICENSE
Labels: platform-fuchsia

#50499 Roll Skia from fbe1d2265637 to 4081496b7693 (1 revision)
  DEPS
Labels: autosubmit

#50502 Roll Dart SDK from 03130d49f214 to 444f7a422da4 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#50506 [Impeller] cleaned up StrokePathGeometry and removed runtime polymorphism
  impeller/entity/geometry/stroke_path_geometry.cc
  impeller/entity/geometry/stroke_path_geometry.h
Labels: e: impeller

#50509 [Impeller] Call vkQueuePresentKHR through the ContextVK's synchronized graphics queue wrapper
  impeller/renderer/backend/vulkan/queue_vk.cc
  impeller/renderer/backend/vulkan/queue_vk.h
  impeller/renderer/backend/vulkan/swapchain_impl_vk.cc
  impeller/renderer/backend/vulkan/swapchain_impl_vk.h
Labels: e: impeller, autosubmit

#50511 [Impeller] Remove the unused Vulkan queue submit task runner
  impeller/renderer/backend/vulkan/context_vk.cc
  impeller/renderer/backend/vulkan/context_vk.h
Labels: e: impeller, autosubmit

#50477 [Impeller] Add --enable-impeller-vulkan-playgrounds to ./flutter/tools/gn
  tools/gn
Labels: autosubmit

#50516 Roll Dart SDK from 444f7a422da4 to 10ca8dc7d2b4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#50517 Roll Fuchsia Linux SDK from RK2irywND2DKT4l6C... to H1cNBBNhq0bEpcyPs...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#50177 Make the web engine publish view forward focus and unfocus events
  ci/licenses_golden/licenses_flutter
  lib/web_ui/lib/src/engine.dart
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/lib/src/engine/platform_dispatcher.dart
  lib/web_ui/lib/src/engine/platform_dispatcher/view_focus_binding.dart
  lib/web_ui/lib/src/engine/view_embedder/global_html_attributes.dart
  lib/web_ui/test/engine/platform_dispatcher/view_focus_binding_test.dart
Labels: platform-web, autosubmit

#50518 Clean up additional NDK helper related code
  ci/licenses_golden/licenses_flutter
  shell/platform/android/BUILD.gn
  shell/platform/android/android_choreographer.cc
  shell/platform/android/android_choreographer.h
  shell/platform/android/flutter_main.cc
  shell/platform/android/library_loader.cc
  shell/platform/android/ndk_helpers.cc
  shell/platform/android/ndk_helpers.h
  shell/platform/android/vsync_waiter_android.cc
  shell/platform/android/vsync_waiter_android.h
Labels: platform-android, autosubmit

#50342 Adds a runner to engine_build_configs
  tools/pkg/engine_build_configs/README.md
  tools/pkg/engine_build_configs/bin/run.dart
  tools/pkg/engine_build_configs/lib/engine_build_configs.dart
  tools/pkg/engine_build_configs/lib/src/build_config.dart
  tools/pkg/engine_build_configs/lib/src/build_config_runner.dart
  tools/pkg/engine_build_configs/pubspec.yaml
  tools/pkg/engine_build_configs/test/build_config_loader_test.dart
  tools/pkg/engine_build_configs/test/build_config_runner_test.dart
  tools/pkg/engine_build_configs/test/build_config_test.dart
  tools/pkg/engine_build_configs/test/fixtures.dart
Labels: will affect goldens

#50524 Update build/rbe CIPD hash
  DEPS
Labels: autosubmit

#50523 Roll Dart SDK from 10ca8dc7d2b4 to ed5730124fd1 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#50527 Roll Dart SDK from ed5730124fd1 to 0119704af522 (1 revision)
  DEPS
Labels: autosubmit

#50538 Roll Dart SDK from 0119704af522 to c64c3d6bae2f (1 revision)
  DEPS
Labels: autosubmit

#50442 Remove legacy references to `Cirrus` and suspected dead-code.
  README.md
  lib/web_ui/dart_test_chrome.yaml
  lib/web_ui/dev/common.dart
  lib/web_ui/dev/environment.dart
  lib/web_ui/dev/test_platform.dart
  web_sdk/web_test_utils/lib/environment.dart
Labels: platform-web, autosubmit

#50542 Roll Fuchsia Linux SDK from H1cNBBNhq0bEpcyPs... to uoByvKUBgYXArsFGL...
  DEPS
  ci/licenses_golden/licenses_fuchsia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#50544 Roll Dart SDK from c64c3d6bae2f to efc514815312 (1 revision)
  DEPS
Labels: autosubmit

#50546 Roll Fuchsia Linux SDK from uoByvKUBgYXArsFGL... to RVHAIKU50ogkiV-Lj...
  DEPS
Labels: autosubmit

#50552 Roll Dart SDK from efc514815312 to 5c9e79e66364 (1 revision)
  DEPS
Labels: autosubmit

#50555 Remove host_debug_unopt build from linux_host_engine.json
  ci/builders/linux_host_engine.json
Labels: autosubmit

#50470 [Impeller] deleted the old blur
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_flutter
  impeller/entity/BUILD.gn
  impeller/entity/contents/filters/directional_gaussian_blur_filter_contents.cc
  impeller/entity/contents/filters/directional_gaussian_blur_filter_contents.h
  impeller/entity/contents/filters/directional_gaussian_blur_filter_contents_unittests.cc
  impeller/entity/contents/filters/filter_contents.cc
  impeller/entity/contents/filters/filter_contents.h
  impeller/entity/entity_unittests.cc
Labels: e: impeller

#50540 Refactor NDK helpers some more, add methods for SurfaceControl/Transaction, tests
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_flutter
  fml/BUILD.gn
  fml/platform/android/ndk_helpers.cc
  fml/platform/android/ndk_helpers.h
  fml/platform/android/ndk_helpers_unittests.cc
  shell/platform/android/BUILD.gn
  shell/platform/android/flutter_main.cc
  shell/platform/android/image_external_texture.cc
  shell/platform/android/image_external_texture_gl.cc
  shell/platform/android/image_external_texture_gl.h
  shell/platform/android/image_external_texture_vk.cc
  shell/platform/android/image_lru.h
  shell/platform/android/library_loader.cc
  shell/platform/android/ndk_helpers.cc
  shell/platform/android/ndk_helpers.h
  shell/platform/android/platform_view_android_jni_impl.cc
  shell/platform/android/vsync_waiter_android.cc
Labels: platform-android, autosubmit

#50533 Rename [ViewFocusDirection.backwards] to [ViewFocusDirection.backward]
  lib/ui/platform_dispatcher.dart
  lib/web_ui/lib/platform_dispatcher.dart
Labels: platform-web, autosubmit

#50467 [fuchsia] Update Inspect library usage
  shell/platform/fuchsia/dart_runner/BUILD.gn
  shell/platform/fuchsia/dart_runner/main.cc
  shell/platform/fuchsia/dart_runner/meta/common.shard.cml
  shell/platform/fuchsia/dart_runner/tests/startup_integration_test/dart_aot_runner/dart-aot-runner-integration-test.cc
  shell/platform/fuchsia/dart_runner/tests/startup_integration_test/dart_aot_runner/meta/dart-aot-runner-integration-test.cml
  shell/platform/fuchsia/dart_runner/tests/startup_integration_test/dart_jit_runner/dart-jit-runner-integration-test.cc
  shell/platform/fuchsia/dart_runner/tests/startup_integration_test/dart_jit_runner/meta/dart-jit-runner-integration-test.cml
  shell/platform/fuchsia/flutter/BUILD.gn
  shell/platform/fuchsia/flutter/accessibility_bridge.h
  shell/platform/fuchsia/flutter/main.cc
  shell/platform/fuchsia/flutter/meta/common.shard.cml
  shell/platform/fuchsia/flutter/tests/integration/embedder/BUILD.gn
  shell/platform/fuchsia/flutter/tests/integration/embedder/flutter-embedder-test.cc
  shell/platform/fuchsia/flutter/tests/integration/embedder/meta/flutter-embedder-test.cml
  shell/platform/fuchsia/flutter/tests/integration/mouse-input/meta/mouse-input-test.cml
  shell/platform/fuchsia/flutter/tests/integration/text-input/meta/text-input-test.cml
  shell/platform/fuchsia/flutter/tests/integration/touch-input/meta/touch-input-test.cml
  shell/platform/fuchsia/flutter/tests/integration/utils/BUILD.gn
  shell/platform/fuchsia/flutter/tests/integration/utils/portable_ui_test.cc
  shell/platform/fuchsia/runtime/dart/utils/BUILD.gn
  shell/platform/fuchsia/runtime/dart/utils/root_inspect_node.cc
  shell/platform/fuchsia/runtime/dart/utils/root_inspect_node.h
Labels: platform-fuchsia

#50559 Roll Dart SDK from 5c9e79e66364 to dca13675e65e (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#50421 [Windows] Make the view own its EGL surface
  shell/platform/windows/BUILD.gn
  shell/platform/windows/compositor_opengl.cc
  shell/platform/windows/compositor_opengl.h
  shell/platform/windows/compositor_opengl_unittests.cc
  shell/platform/windows/egl/manager.cc
  shell/platform/windows/egl/manager.h
  shell/platform/windows/egl/surface.h
  shell/platform/windows/flutter_windows_unittests.cc
  shell/platform/windows/flutter_windows_view.cc
  shell/platform/windows/flutter_windows_view.h
  shell/platform/windows/flutter_windows_view_unittests.cc
  shell/platform/windows/testing/egl/mock_manager.h
  shell/platform/windows/testing/view_modifier.h
Labels: affects: desktop, platform-windows, autosubmit

#50539 [Impeller] force render pass construction on all backends to ensure image layout is transitioned/render pass state setup.
  impeller/aiks/aiks_unittests.cc
  impeller/entity/entity_pass.cc
  testing/run_tests.py
Labels: will affect goldens, e: impeller, autosubmit

#50564 Roll Skia from 867c1e8390e2 to f88eeb658358 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#50566 Roll Skia from f88eeb658358 to ecf2f622d0b3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#50567 Roll Dart SDK from dca13675e65e to 94f7dec34cef (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#50513 [Impeller] Remove references to moved impeller/image from README.
  impeller/README.md
Labels: e: impeller, autosubmit

#50568 [Impeller] Don't suppress outdated validation error.
  impeller/renderer/backend/vulkan/debug_report_vk.cc
Labels: e: impeller, autosubmit

#50558 Move Linux impeller_unittests to linux_unopt
  ci/builders/linux_host_engine.json
  ci/builders/linux_unopt.json
Labels: e: impeller

#50483 Remove FlKeyEvent.dispose_origin and use GdkEvent type for origin
  shell/platform/linux/fl_key_channel_responder_test.cc
  shell/platform/linux/fl_key_embedder_responder_test.cc
  shell/platform/linux/fl_key_event.cc
  shell/platform/linux/fl_key_event.h
  shell/platform/linux/fl_keyboard_manager_test.cc
  shell/platform/linux/fl_text_input_plugin.cc
  shell/platform/linux/fl_view.cc
Labels: affects: desktop, platform-linux

#50481 Replace usage of an integer for GdkModifierType
  shell/platform/linux/fl_key_channel_responder_test.cc
  shell/platform/linux/fl_key_embedder_responder_test.cc
  shell/platform/linux/fl_key_event.h
  shell/platform/linux/fl_keyboard_manager_test.cc
Labels: affects: desktop, platform-linux

#50468 [Impeller] CommandPoolVK recycles command buffers too.
  impeller/renderer/backend/vulkan/command_pool_vk.cc
  impeller/renderer/backend/vulkan/command_pool_vk.h
  impeller/renderer/backend/vulkan/command_pool_vk_unittests.cc
  impeller/renderer/backend/vulkan/test/mock_vulkan.cc
Labels: e: impeller, autosubmit

#50574 Roll Skia from ecf2f622d0b3 to c464143dfaab (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#50576 Roll Skia from c464143dfaab to 17d00f9241b3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#50577 Roll Dart SDK from 94f7dec34cef to 8d3a8d85c883 (1 revision)
  DEPS
Labels: autosubmit

#50579 Roll Fuchsia Linux SDK from RVHAIKU50ogkiV-Lj... to l6mWjvlO1xJg5ZFKK...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#50582 Roll Skia from 17d00f9241b3 to a1d9b83034ac (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#50572 [Impeller] cleaned up and removed golden test exceptions
  impeller/aiks/aiks_blur_unittests.cc
  impeller/aiks/aiks_gradient_unittests.cc
  impeller/aiks/aiks_path_unittests.cc
  impeller/aiks/aiks_playground.cc
  impeller/aiks/aiks_playground.h
  impeller/aiks/aiks_unittests.cc
  impeller/golden_tests/golden_playground_test.h
  impeller/golden_tests/golden_playground_test_mac.cc
  testing/run_tests.py
Labels: will affect goldens, e: impeller, autosubmit
