Repository flutter/engine, pull requests merged in 2024-07, with the labels that each got.

#53658 Roll Dart SDK from ab6a48438e07 to 338c6d4fd9c5 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53659 Roll Skia from 34be7c830184 to e27104eaef37 (1 revision)
  DEPS
Labels: autosubmit

#53661 Roll Skia from e27104eaef37 to 8af866a56bce (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53665 Roll Skia from a67a67b7452b to a62bf018429c (2 revisions)
  DEPS
Labels: autosubmit

#53666 Roll Dart SDK from 338c6d4fd9c5 to 21c08743ee4a (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53618 [Impeller] track the sizes of all outstanding MTLTexture allocations and report per frame in MB, matching Vulkan implementation.
  ci/licenses_golden/excluded_files
  impeller/core/allocator.h
  impeller/core/texture_descriptor.h
  impeller/playground/playground_test.h
  impeller/renderer/backend/metal/BUILD.gn
  impeller/renderer/backend/metal/allocator_mtl.h
  impeller/renderer/backend/metal/allocator_mtl.mm
  impeller/renderer/backend/metal/allocator_mtl_unittests.mm
  impeller/renderer/backend/metal/surface_mtl.mm
  impeller/renderer/backend/metal/texture_mtl.h
  impeller/renderer/backend/metal/texture_mtl.mm
  impeller/renderer/backend/vulkan/allocator_vk.h
Labels: e: impeller, autosubmit

#53668 Roll Skia from a62bf018429c to ae2b97d74812 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53205 [CP][Impeller] Intel iOS Simulators must block on GPU completion. (#53073)
  impeller/renderer/backend/metal/surface_mtl.mm
Labels: e: impeller, autosubmit

#53206 [CP][Impeller] Fix stroke curves. (#52978)
  impeller/entity/geometry/stroke_path_geometry.cc
Labels: will affect goldens, e: impeller, autosubmit

#53207 [CP][Impeller] Round out subpass coverage. (#52973)
  impeller/entity/entity_pass.cc
Labels: will affect goldens, e: impeller, autosubmit

#53208 [CP][Impeller] relax conditions for SkRRect.isSimple conversion to impell…
  impeller/display_list/dl_dispatcher.cc
  impeller/display_list/skia_conversions.cc
  impeller/display_list/skia_conversions.h
  impeller/display_list/skia_conversions_unittests.cc
Labels: e: impeller, autosubmit

#53212 [Impeller][CP] dont segfault when tessellating empty polygons.
  impeller/tessellator/tessellator.cc
  impeller/tessellator/tessellator_unittests.cc
Labels: e: impeller, autosubmit

#53235 [CP][Impeller] Create framebuffer blend vertices based on the snapshot's texture size instead of coverage (#52790)
  impeller/aiks/aiks_unittests.cc
  impeller/entity/contents/framebuffer_blend_contents.cc
  testing/impeller_golden_tests_output.txt
Labels: will affect goldens, e: impeller, autosubmit

#52023 Output .js files as ES6 modules.
  DEPS
  lib/web_ui/flutter_js/src/canvaskit_loader.js
  lib/web_ui/flutter_js/src/skwasm_loader.js
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/test/canvaskit/initialization/does_not_mock_module_exports_test.dart
Labels: platform-web, autosubmit

#53669 Roll Skia from ae2b97d74812 to 8375bdc6e191 (3 revisions)
  DEPS
Labels: autosubmit

#53670 Roll Dart SDK from 21c08743ee4a to c23e58143793 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53675 Manual roll ICU from 98f2494518c2 to 43953f57b037 (1 revision)
  DEPS
Labels: autosubmit

#53604 Restore creation of engine before Linux widget is realized.
  shell/platform/linux/fl_binary_messenger.cc
  shell/platform/linux/fl_binary_messenger_private.h
  shell/platform/linux/fl_binary_messenger_test.cc
  shell/platform/linux/fl_engine.cc
  shell/platform/linux/fl_renderer_gdk.cc
  shell/platform/linux/fl_renderer_gdk.h
  shell/platform/linux/fl_task_runner.cc
  shell/platform/linux/fl_texture_registrar.cc
  shell/platform/linux/fl_texture_registrar_private.h
  shell/platform/linux/fl_view.cc
  shell/platform/linux/fl_view_test.cc
  shell/platform/linux/public/flutter_linux/fl_binary_messenger.h
  shell/platform/linux/public/flutter_linux/fl_texture_registrar.h
  shell/platform/linux/testing/mock_binary_messenger.cc
Labels: affects: desktop, platform-linux

#53676 Roll Skia from 8375bdc6e191 to d7a9375e86c1 (1 revision)
  DEPS
Labels: autosubmit

#53680 Roll Skia from d7a9375e86c1 to 4c1856aadb85 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53681 Roll Skia from 4c1856aadb85 to 7881ad4aae92 (1 revision)
  DEPS
Labels: autosubmit

#53682 Roll Fuchsia Linux SDK from LkXpxHsQlkPT4mmJ7... to x5Sccm0dUoMVbnyed...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#53683 Roll Skia from 7881ad4aae92 to 7f2094d4cf43 (1 revision)
  DEPS
Labels: autosubmit

#53684 Roll Skia from 7f2094d4cf43 to 42fad315c162 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53679 Revert "[web] switch from .didGain/LoseAccessibilityFocus to .focus"
  lib/ui/semantics.dart
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/lib/src/engine/semantics/focusable.dart
  lib/web_ui/lib/src/engine/semantics/semantics.dart
  lib/web_ui/lib/src/engine/semantics/text_field.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
  lib/web_ui/test/engine/semantics/semantics_tester.dart
  lib/web_ui/test/engine/semantics/text_field_test.dart
Labels: platform-web, autosubmit

#53691 Roll Skia from 42fad315c162 to c0ee0e108900 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53690 Manual roll Dart SDK from c23e58143793 to ffc8bb004a64 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#52643 [deep link][ios] Update openURL method to reflect the result from framework
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegate.mm
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegateTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController_Internal.h
Labels: platform-ios

#53687 [Impeller] fixed units for memory measurement
  impeller/renderer/backend/metal/allocator_mtl.mm
  impeller/renderer/backend/metal/allocator_mtl_unittests.mm
  impeller/renderer/backend/vulkan/allocator_vk.cc
Labels: e: impeller, autosubmit

#53693 Roll Fuchsia GN SDK from RgErspyYHapUO2Spc... to sbh76PYVTMxav4ACT...
  DEPS
Labels: autosubmit

#53673 [Impeller] fix typo in setup for fast elliptical rrect blurs
  impeller/aiks/aiks_unittests.cc
  impeller/entity/contents/solid_rrect_blur_contents.cc
  testing/impeller_golden_tests_output.txt
Labels: will affect goldens, e: impeller, autosubmit

#53697 Roll Skia from c0ee0e108900 to c1f2dd0fc5f6 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53699 Roll Skia from c1f2dd0fc5f6 to d02998fba957 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53701 Roll Skia from d02998fba957 to 7c69f39fa85b (1 revision)
  DEPS
Labels: autosubmit

#53688 Reland "Output .js files as ES6 modules. (#52023)"
  DEPS
  lib/web_ui/flutter_js/src/canvaskit_loader.js
  lib/web_ui/flutter_js/src/skwasm_loader.js
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/configuration.dart
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/test/canvaskit/initialization/does_not_mock_module_exports_test.dart
  lib/web_ui/test/engine/configuration_test.dart
Labels: platform-web, autosubmit

#53705 Revert "Reland [DisplayList] Add support for clipOval to leverage Impeller optimization"
  display_list/display_list.h
  display_list/display_list_unittests.cc
  display_list/dl_builder.cc
  display_list/dl_builder.h
  display_list/dl_canvas.h
  display_list/dl_op_receiver.h
  display_list/dl_op_records.h
  display_list/skia/dl_sk_canvas.cc
  display_list/skia/dl_sk_canvas.h
  display_list/skia/dl_sk_dispatcher.cc
  display_list/skia/dl_sk_dispatcher.h
  display_list/testing/dl_rendering_unittests.cc
  display_list/testing/dl_test_snippets.cc
  display_list/testing/dl_test_snippets.h
  display_list/utils/dl_matrix_clip_tracker.cc
  display_list/utils/dl_matrix_clip_tracker.h
  display_list/utils/dl_receiver_utils.h
  impeller/display_list/dl_dispatcher.cc
  impeller/display_list/dl_dispatcher.h
  testing/display_list_testing.cc
  testing/display_list_testing.h
  testing/mock_canvas.cc
  testing/mock_canvas.h
Labels: e: impeller, autosubmit

#53706 Roll Skia from 7c69f39fa85b to 62c7020b7b36 (1 revision)
  DEPS
Labels: autosubmit

#53707 Roll Skia from 62c7020b7b36 to d78676d54cb5 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53708 Roll Skia from d78676d54cb5 to 9d530bb0bcbf (1 revision)
  DEPS
Labels: autosubmit

#53710 Roll Skia from 9d530bb0bcbf to 92f928d81a27 (1 revision)
  DEPS
Labels: autosubmit

#53711 Roll Fuchsia Linux SDK from x5Sccm0dUoMVbnyed... to -VgqOfoW5sf04SuJh...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#53712 Roll Skia from 92f928d81a27 to c14cce59222b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53713 Roll Skia from c14cce59222b to 86ee8cc61508 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53715 Roll Skia from 86ee8cc61508 to 9fd1dc779589 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#45166 fix: mask disappeared when having nested mask filter on Flutter web HTML
  lib/web_ui/lib/src/engine/canvas_pool.dart
  lib/web_ui/test/html/compositing/canvas_mask_filter_golden_test.dart
Labels: platform-web, will affect goldens, autosubmit

#44998 [Flutter Web(HTML)] fix: shader mask is painted incorrectly on shared offscreen canvas
  lib/web_ui/lib/src/engine/safe_browser_api.dart
  lib/web_ui/test/html/shaders/gradient_golden_test.dart
Labels: platform-web, will affect goldens, autosubmit

#53671 [Impeller] Document how to debug/profile OpenGL ES on macOS.
  impeller/README.md
  impeller/docs/assets/opengles_development_setup/angle.png
  impeller/docs/assets/opengles_development_setup/buffer_soup.png
  impeller/docs/assets/opengles_development_setup/geometry_viewer.png
  impeller/docs/assets/opengles_development_setup/hud.png
  impeller/docs/assets/opengles_development_setup/load_store.png
  impeller/docs/assets/opengles_development_setup/pass_deps.png
  impeller/docs/assets/opengles_development_setup/resources.png
  impeller/docs/opengles_development_setup.md
Labels: e: impeller, autosubmit

#53645 Convert `run_ios_tests.sh` to `run_ios_tests.dart`.
  testing/scenario_app/bin/run_ios_tests.dart
  testing/scenario_app/ios/README.md
Labels: autosubmit

#53720 [Embedder] Document incorrectly named field in FlutterOpenGLFramebuffer.
  shell/platform/embedder/embedder.h
Labels: autosubmit

#53507 Add Semantics Property `linkUrl`
  lib/ui/fixtures/ui_test.dart
  lib/ui/semantics.dart
  lib/ui/semantics/semantics_node.h
  lib/ui/semantics/semantics_update_builder.cc
  lib/ui/semantics/semantics_update_builder.h
  lib/web_ui/lib/semantics.dart
  lib/web_ui/lib/src/engine/semantics/link.dart
  lib/web_ui/lib/src/engine/semantics/semantics.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
  lib/web_ui/test/engine/semantics/semantics_tester.dart
  shell/platform/embedder/fixtures/main.dart
Labels: platform-web, autosubmit

#53694 [web] ignore pointer events on plain text spans
  lib/web_ui/lib/src/engine/semantics/label_and_value.dart
  lib/web_ui/test/engine/semantics/semantics_text_test.dart
Labels: platform-web, autosubmit

#53721 Roll Skia from 9fd1dc779589 to d5f8dde714e4 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53704 [Impeller] Re-enable fast blur path for elliptical rrects
  impeller/display_list/dl_golden_unittests.cc
  impeller/display_list/skia_conversions.cc
  impeller/display_list/skia_conversions_unittests.cc
  testing/impeller_golden_tests_output.txt
Labels: will affect goldens, e: impeller, autosubmit

#53722 [Impeller] mark the end of a frame boundary for system compositor interop.
  flow/surface_frame.h
  shell/gpu/gpu_surface_gl_impeller.cc
  shell/gpu/gpu_surface_metal_impeller.mm
  shell/gpu/gpu_surface_metal_impeller_unittests.mm
  shell/gpu/gpu_surface_vulkan_impeller.cc
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
Labels: platform-ios, autosubmit

#53724 Roll Skia from d5f8dde714e4 to 28ba3b1b0951 (1 revision)
  DEPS
Labels: autosubmit

#53726 Roll Skia from 28ba3b1b0951 to a2d00a28c563 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53728 Roll Fuchsia Linux SDK from -VgqOfoW5sf04SuJh... to 5WGhpr75y_pb6u2OO...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#53731 Roll Skia from a2d00a28c563 to 72b2ea81c959 (1 revision)
  DEPS
Labels: autosubmit

#53732 Roll Skia from 72b2ea81c959 to abda211b2753 (1 revision)
  DEPS
Labels: autosubmit

#53737 Roll Skia from abda211b2753 to 92861012bcc1 (1 revision)
  DEPS
Labels: autosubmit

#53738 Roll Skia from 92861012bcc1 to 4a27ce0f92d4 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53739 Roll Fuchsia Linux SDK from 5WGhpr75y_pb6u2OO... to unavXf_l4lhu23MGg...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#53703 [web] use semantic tags for headings (h1, h2, etc), and fix missing secondary roles
  lib/web_ui/lib/src/engine/semantics/heading.dart
  lib/web_ui/test/common/matchers.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
  lib/web_ui/test/engine/semantics/semantics_tester.dart
Labels: platform-web, autosubmit

#53740 Roll Skia from 4a27ce0f92d4 to 172eb4ee4cb3 (1 revision)
  DEPS
Labels: autosubmit

#53741 Roll Skia from 172eb4ee4cb3 to 91bef46c6cbc (1 revision)
  DEPS
Labels: autosubmit

#53743 Roll Fuchsia Linux SDK from unavXf_l4lhu23MGg... to RSMFdOFyLxulsvY4_...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#53745 Roll Skia from 91bef46c6cbc to c4db006ea5e2 (1 revision)
  DEPS
Labels: autosubmit

#53748 Roll Fuchsia Linux SDK from RSMFdOFyLxulsvY4_... to Em1nantnFXXK8xJH9...
  DEPS
Labels: autosubmit

#53752 Roll Skia from c4db006ea5e2 to f1d06de0ae87 (1 revision)
  DEPS
Labels: autosubmit

#53753 Roll Skia from f1d06de0ae87 to 1f85fb9238aa (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53756 Roll Skia from 1f85fb9238aa to b2c51b2fe15f (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53758 Roll Skia from 38b17b22312d to c65710d00047 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53761 Roll Dart SDK from ffc8bb004a64 to 1679aba20a03 (16 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53734 Add a host_debug_unopt local engine config for Windows.
  ci/builders/local_engine.json
Labels: autosubmit

#53751 [Impeller] add experimental canvas support to screenshotter.
  impeller/golden_tests/golden_playground_test_mac.cc
  impeller/golden_tests/metal_screenshotter.h
  impeller/golden_tests/metal_screenshotter.mm
  impeller/golden_tests/screenshotter.h
  impeller/golden_tests/vulkan_screenshotter.h
  impeller/golden_tests/vulkan_screenshotter.mm
Labels: e: impeller, autosubmit

#53749 [Impeller] implement clear color opt for experimental canvas.
  impeller/aiks/experimental_canvas.cc
  impeller/aiks/experimental_canvas.h
  impeller/entity/entity_pass_target.cc
  impeller/entity/entity_pass_target.h
Labels: e: impeller, autosubmit

#53746 [Impeller] fix incorrect padding/translation in drawVertices with texture coordinates.
  impeller/aiks/canvas.cc
  impeller/display_list/aiks_dl_vertices_unittests.cc
  impeller/entity/contents/vertices_contents.cc
  impeller/entity/contents/vertices_contents.h
  impeller/fixtures/BUILD.gn
  impeller/fixtures/runtime_stage_simple.frag
  testing/impeller_golden_tests_output.txt
Labels: will affect goldens, e: impeller, autosubmit

#53763 Roll Fuchsia Linux SDK from Em1nantnFXXK8xJH9... to yYs6rINJxWJ8J2vxo...
  DEPS
Labels: autosubmit

#53138 [fuchsia][sysmem2] move to sysmem2 protocols
  shell/platform/fuchsia/flutter/software_surface.cc
  shell/platform/fuchsia/flutter/software_surface.h
  shell/platform/fuchsia/flutter/software_surface_producer.cc
  shell/platform/fuchsia/flutter/software_surface_producer.h
  shell/platform/fuchsia/flutter/surface_producer.h
  shell/platform/fuchsia/flutter/tests/integration/embedder/flutter-embedder-test.cc
  shell/platform/fuchsia/flutter/tests/integration/utils/portable_ui_test.cc
  shell/platform/fuchsia/flutter/tests/integration/utils/portable_ui_test.h
  shell/platform/fuchsia/flutter/vulkan_surface.cc
  shell/platform/fuchsia/flutter/vulkan_surface.h
  shell/platform/fuchsia/flutter/vulkan_surface_pool.cc
  shell/platform/fuchsia/flutter/vulkan_surface_pool.h
Labels: platform-fuchsia

#53767 Roll Dart SDK from 1679aba20a03 to 0ecada960645 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53769 Roll Skia from 9edafde22cb3 to ced941fdddc4 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53772 Roll Dart SDK from 0ecada960645 to 33b65d2fe034 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53773 Roll Skia from ced941fdddc4 to 9a6f8dfb9102 (1 revision)
  DEPS
Labels: autosubmit

#53775 Roll Skia from 9a6f8dfb9102 to 46e5bf98158a (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53776 Roll Dart SDK from 33b65d2fe034 to 726cb2467f27 (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53778 Revert 4 Dart rolls (726cb2467 -> ffc8bb004) to recover engine roll
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53768 [Impeller] Disable OpenGL dithering by default.
  impeller/renderer/backend/gles/render_pass_gles.cc
Labels: e: impeller, autosubmit, e: opengl

#53750 [Impeller] implement experimental canvas in snapshot controller.
  common/config.gni
  impeller/display_list/dl_playground.cc
  shell/common/snapshot_controller_impeller.cc
  shell/gpu/gpu_surface_metal_impeller.mm
  shell/gpu/gpu_surface_vulkan_impeller.cc
Labels: e: impeller, autosubmit

#53766 [Impeller] Enable framebuffer fetch tests disabled on OpenGL ES.
  impeller/fixtures/BUILD.gn
  impeller/playground/BUILD.gn
  impeller/playground/backend/gles/playground_impl_gles.cc
  impeller/playground/backend/metal/playground_impl_mtl.mm
  impeller/playground/backend/vulkan/playground_impl_vk.cc
  impeller/renderer/renderer_unittests.cc
Labels: e: impeller, autosubmit, e: opengl

#53782 Avoid using a private GTest macro to skip tests.
  impeller/aiks/aiks_blur_unittests.cc
  impeller/compiler/compiler_unittests.cc
  impeller/entity/contents/tiled_texture_contents_unittests.cc
  impeller/entity/entity_unittests.cc
  impeller/golden_tests/golden_playground_test_mac.cc
  impeller/golden_tests/golden_playground_test_stub.cc
  impeller/playground/compute_playground_test.cc
  impeller/playground/playground_test.cc
  impeller/renderer/renderer_unittests.cc
  impeller/scene/scene_unittests.cc
Labels: e: impeller, autosubmit

#53785 Roll Fuchsia Linux SDK from yYs6rINJxWJ8J2vxo... to SrAow18WmBW8IDjza...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#53784 [Impeller] Validation logs indicate where in code the validation error happened.
  impeller/base/validation.cc
  impeller/base/validation.h
Labels: will affect goldens, e: impeller, autosubmit

#53788 [Impeller] Update docs that specify how to select the Impeller backend.
  impeller/README.md
Labels: e: impeller, autosubmit, e: opengl

#53786 [Impeller] Validation errors in tests cause GTest failures.
  impeller/base/validation.cc
  impeller/base/validation.h
  impeller/playground/playground_test.cc
Labels: e: impeller, autosubmit

#53791 Manual roll Dart SDK from ffc8bb004a64 to dba0dfbd06eb (23 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53789 [Impeller] Fix markdown formatting for blocks with tips.
  impeller/docs/opengles_development_setup.md
Labels: e: impeller, autosubmit

#53796 Roll Skia from 46e5bf98158a to 2783ba54bf8e (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53718 Reland (x2) "Output .js files as ES6 modules. (flutter#52023)"
  DEPS
  lib/web_ui/dev/test_platform.dart
  lib/web_ui/flutter_js/src/canvaskit_loader.js
  lib/web_ui/flutter_js/src/entrypoint_loader.js
  lib/web_ui/flutter_js/src/service_worker_loader.js
  lib/web_ui/flutter_js/src/skwasm_loader.js
  lib/web_ui/flutter_js/src/utils.js
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/test/canvaskit/initialization/does_not_mock_module_exports_test.dart
  lib/web_ui/test/canvaskit/initialization/services_vs_ui_test.dart
  lib/web_ui/test/engine/configuration_test.dart
Labels: platform-web, autosubmit

#53798 Roll Dart SDK from dba0dfbd06eb to c6053ad84f2b (3 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#52253 [macOS] Multiview compositor
  shell/platform/darwin/macos/framework/Source/FlutterCompositor.h
  shell/platform/darwin/macos/framework/Source/FlutterCompositor.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/macos/framework/Source/fixtures/flutter_desktop_test.dart
Labels: affects: desktop, platform-macos, autosubmit

#53621 Remove casts for toDartObject
  lib/web_ui/lib/src/engine/canvaskit/native_memory.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/memory.dart
Labels: platform-web

#53801 Roll Dart SDK from c6053ad84f2b to fb546f313557 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53804 Roll Fuchsia Linux SDK from SrAow18WmBW8IDjza... to 0e47sje8wkJ08sGJ6...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#53797 Roll Skia from 2783ba54bf8e to ec4a1e03f7b0 (9 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: will affect goldens, autosubmit

#53813 Roll Skia from ec4a1e03f7b0 to 004c81523e44 (23 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53792 [Impeller] move more aiks tests to DL.
  ci/licenses_golden/excluded_files
  display_list/dl_color.h
  impeller/aiks/aiks_unittests.cc
  impeller/display_list/BUILD.gn
  impeller/display_list/aiks_dl_unittests.cc
Labels: will affect goldens, e: impeller, autosubmit

#53818 Roll Skia from 004c81523e44 to 037d5f8a727f (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53822 Add instructions for source debugging with Xcode when using RBE.
  docs/Debugging-the-engine.md
Labels: autosubmit

#53824 Roll Skia from 037d5f8a727f to ddf045505cb9 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53292 [Impeller] Enable fixed-rate compression support in Vulkan.
  impeller/renderer/backend/vulkan/allocator_vk.cc
  impeller/renderer/backend/vulkan/capabilities_vk.cc
  impeller/renderer/backend/vulkan/capabilities_vk.h
  impeller/renderer/backend/vulkan/context_vk.cc
Labels: e: impeller, autosubmit

#53558 [dart:ui] remove expensive index assertion in Vertices.
  impeller/display_list/aiks_dl_vertices_unittests.cc
  lib/ui/painting.dart
  testing/dart/painting_test.dart
  testing/impeller_golden_tests_output.txt
Labels: will affect goldens, e: impeller, autosubmit

#53296 [web] retrieve hostElement for an implicit view
  lib/web_ui/lib/src/engine/view_embedder/embedding_strategy/embedding_strategy.dart
  lib/web_ui/lib/src/engine/view_embedder/flutter_view_manager.dart
  lib/web_ui/lib/ui_web/src/ui_web/flutter_views_proxy.dart
  lib/web_ui/test/engine/view_embedder/flutter_views_proxy_test.dart
Labels: platform-web, autosubmit

#53828 Update Setting-up-the-Engine-development-environment.md
  docs/contributing/Setting-up-the-Engine-development-environment.md
Labels: autosubmit

#53827 Roll ICU from 43953f57b037 to 9408c6fd4a39 (6 revisions)
  DEPS
Labels: autosubmit

#53819 [Impeller] Ensure full transform is applied to text contents
  impeller/aiks/aiks_unittests.cc
  impeller/entity/contents/text_contents.cc
  testing/impeller_golden_tests_output.txt
Labels: will affect goldens, e: impeller, autosubmit

#53834 Roll Fuchsia Linux SDK from 0e47sje8wkJ08sGJ6... to VlZIUknh6dnA23owe...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#53835 Roll Skia from ddf045505cb9 to 14c8d318615d (1 revision)
  DEPS
Labels: autosubmit

#53836 Roll Skia from 14c8d318615d to 38f355af4f36 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53837 Roll Skia from 38f355af4f36 to 9529b8ad9e45 (1 revision)
  DEPS
Labels: autosubmit

#53838 Roll Skia from 9529b8ad9e45 to 7a91f0a4b7a0 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53839 Roll Skia from 7a91f0a4b7a0 to 9ea5603242c1 (1 revision)
  DEPS
Labels: autosubmit

#53840 Roll Dart SDK from 797d3df745d1 to e986ed9d0bc1 (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53841 Roll Skia from 9ea5603242c1 to 923034db7728 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53590 Move `//third_party/java` to `//flutter/third_party/java`
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/tool_signature
  shell/platform/android/BUILD.gn
  testing/android/native_activity/native_activity_apk.py
  testing/rules/run_gradle.py
  testing/run_tests.py
  tools/android_lint/bin/main.dart
  tools/javadoc/gen_javadoc.py
  tools/licenses/lib/paths.dart
Labels: platform-android

#53830 Relax the event assumptions for keydown events.
  lib/web_ui/lib/src/engine/platform_dispatcher/view_focus_binding.dart
Labels: platform-web, autosubmit

#53560 Prepare engine for deprecation of async_minitest.dart
  shell/platform/fuchsia/dart/BUILD.gn
  testing/litetest/lib/litetest.dart
  testing/litetest/lib/src/async_minitest.dart
  testing/litetest/lib/src/matchers.dart
  testing/litetest/lib/src/test.dart
  testing/litetest/test/litetest_test.dart
Labels: platform-fuchsia, autosubmit

#53846 Roll Dart SDK from e986ed9d0bc1 to b44d99ea2bf4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#53845 [skwasm] Fix platform view placement.
  lib/web_ui/lib/src/engine/layers.dart
  lib/web_ui/lib/src/engine/scene_view.dart
  lib/web_ui/test/engine/scene_builder_test.dart
  lib/web_ui/test/engine/scene_view_test.dart
  lib/web_ui/test/ui/platform_view_test.dart
Labels: platform-web, autosubmit

#53799 [Impeller] move Aiks path unittests to DL
  ci/licenses_golden/excluded_files
  display_list/dl_color.h
  impeller/aiks/BUILD.gn
  impeller/aiks/aiks_path_unittests.cc
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/canvas.cc
  impeller/display_list/aiks_dl_path_unittests.cc
Labels: will affect goldens, e: impeller, autosubmit

#53851 Roll Skia from 923034db7728 to 49046798c05d (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53844 Drop self-references to hash functions from doc comments
  lib/ui/hash_codes.dart
  lib/web_ui/lib/hash_codes.dart
Labels: platform-web, autosubmit

#53852 Roll Skia from 49046798c05d to 0257e2adc7a4 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53860 Roll Skia from 0257e2adc7a4 to 6041fb033e38 (1 revision)
  DEPS
Labels: autosubmit

#53862 Roll Skia from 6041fb033e38 to 2763d99b335e (1 revision)
  DEPS
Labels: autosubmit

#53825 [Impeller] Cleanup stale TODOs and fixup the format of others.
  impeller/compiler/impellerc_main.cc
  impeller/entity/entity_pass.cc
  impeller/geometry/rect.h
  impeller/golden_tests/golden_playground_test.h
  impeller/golden_tests/golden_playground_test_mac.cc
  impeller/golden_tests/vulkan_screenshotter.mm
  impeller/playground/playground.h
  impeller/renderer/backend/gles/blit_command_gles.cc
  impeller/renderer/backend/gles/pipeline_library_gles.cc
  impeller/renderer/backend/gles/proc_table_gles.h
  impeller/renderer/backend/gles/render_pass_gles.cc
  impeller/renderer/backend/metal/compute_pass_mtl.mm
  impeller/renderer/backend/metal/pipeline_library_mtl.mm
  impeller/renderer/backend/metal/render_pass_mtl.mm
  impeller/renderer/backend/vulkan/capabilities_vk.cc
  impeller/renderer/backend/vulkan/context_vk.cc
  impeller/renderer/backend/vulkan/swapchain/swapchain_vk.cc
  impeller/typographer/backends/skia/text_frame_skia.cc
  impeller/typographer/backends/skia/typographer_context_skia.cc
Labels: e: impeller, autosubmit

#53874 Roll Skia from 2763d99b335e to cc7f18b64b3c (1 revision)
  DEPS
Labels: autosubmit

#53886 Roll Skia from cc7f18b64b3c to 22e1169ba4fe (1 revision)
  DEPS
Labels: autosubmit

#53888 Roll Skia from 22e1169ba4fe to 3335b96bf189 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53889 Roll Skia from 3335b96bf189 to 6a046a1394a9 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53894 Roll Skia from 6a046a1394a9 to aacec1ee6359 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53896 Roll Skia from aacec1ee6359 to 2a45bd56601e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53905 Roll Skia from 2a45bd56601e to a3c29413cdf0 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53907 Roll Skia from a3c29413cdf0 to fe05596a26ea (1 revision)
  DEPS
Labels: autosubmit

#53689 [web] switch to SemanticsAction.focus (attempt 3)
  lib/ui/semantics.dart
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/lib/src/engine/semantics/focusable.dart
  lib/web_ui/lib/src/engine/semantics/semantics.dart
  lib/web_ui/lib/src/engine/semantics/text_field.dart
  lib/web_ui/lib/src/engine/text_editing/text_editing.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
  lib/web_ui/test/engine/semantics/semantics_tester.dart
  lib/web_ui/test/engine/semantics/text_field_test.dart
Labels: platform-web, autosubmit

#53909 Roll Skia from fe05596a26ea to 559a46957250 (7 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53911 Roll Skia from 559a46957250 to 476abcbc2e4d (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53912 extend timeouts of all targets in .ci.yaml
  .ci.yaml
Labels: autosubmit

#53915 Roll Skia from 476abcbc2e4d to b63d0290b826 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53916 Roll Skia from b63d0290b826 to 6347d8255f83 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#53919 Roll Skia from 6347d8255f83 to d4acfbe0b001 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit
