Repository flutter/engine, pull requests merged in 2024-09, with the labels that each got.

#54915 Roll Skia from 95ef9caae482 to 5477dbb533bb (1 revision)
  DEPS
Labels: autosubmit

#54916 Roll Skia from 5477dbb533bb to 80f2cd706443 (1 revision)
  DEPS
Labels: autosubmit

#54918 Roll Fuchsia Linux SDK from uDdFN_cZC6F9BVTzz... to ksNJVM5ZoBB74rba_...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#54919 Roll Skia from 80f2cd706443 to 15641c0df7e8 (1 revision)
  DEPS
Labels: autosubmit

#54922 Roll Skia from 15641c0df7e8 to 514feab300b4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54923 Roll Skia from 514feab300b4 to c873eb5f38d5 (1 revision)
  DEPS
Labels: autosubmit

#54924 Roll Skia from c873eb5f38d5 to 03bdb5c60304 (1 revision)
  DEPS
Labels: autosubmit

#54925 Roll Skia from 03bdb5c60304 to 3d0c9bf48176 (1 revision)
  DEPS
Labels: autosubmit

#54928 Roll Skia from 3d0c9bf48176 to 49ea0f383706 (1 revision)
  DEPS
Labels: autosubmit

#54931 Roll Fuchsia Linux SDK from ksNJVM5ZoBB74rba_... to BaO2fyTu4jhvdTtdE...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#54932 Roll Skia from 49ea0f383706 to 041fd378d332 (1 revision)
  DEPS
Labels: autosubmit

#54937 Roll Skia from 041fd378d332 to ab2317b94853 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54940 Roll Skia from ab2317b94853 to 2d5a75027691 (3 revisions)
  DEPS
Labels: autosubmit

#54941 Roll Skia from 2d5a75027691 to 5515c08c2e44 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54920 [Impeller] disable Adreno 630 vulkan and add mechanism for android driver denylisting.
  impeller/renderer/backend/vulkan/driver_info_vk.cc
  impeller/renderer/backend/vulkan/driver_info_vk.h
  impeller/renderer/backend/vulkan/driver_info_vk_unittests.cc
  impeller/renderer/backend/vulkan/test/mock_vulkan.cc
  impeller/renderer/backend/vulkan/test/mock_vulkan.h
  shell/platform/android/android_context_vk_impeller.cc
Labels: platform-android, e: impeller, autosubmit

#54944 Roll Skia from 5515c08c2e44 to 0d9333e72a39 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54912 [Impeller] Add all requested glyphs if TypographerContextSkia needs to create a new atlas
  impeller/typographer/backends/skia/typographer_context_skia.cc
  impeller/typographer/typographer_unittests.cc
Labels: e: impeller, autosubmit

#54820 [ios][platform_view] fix platform view clipping path intersection
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.mm
  testing/scenario_app/bin/run_ios_tests.dart
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios/AppDelegate.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/GoldenTestManager.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/PlatformViewUITests.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_clippath_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_clippath_with_transform_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_after_moved_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_with_transform_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_with_transform_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_large_cliprrect_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_large_cliprrect_with_transform_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_view_clip_path_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_view_clip_rect_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_view_clip_rrect_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/lib/src/platform_view.dart
  testing/scenario_app/lib/src/scenarios.dart
  testing/scenario_app/run_ios_tests.sh
Labels: platform-ios, autosubmit

#54947 Roll Skia from 0d9333e72a39 to f53e13c84498 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54950 Roll Skia from f53e13c84498 to 04d973ac4f26 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54951 Roll Fuchsia Linux SDK from BaO2fyTu4jhvdTtdE... to qS4FRrP_KI7czLMKv...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#54954 Roll Skia from 04d973ac4f26 to 32ab535755d2 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54955 Roll Skia from 32ab535755d2 to dd985e9faf6c (1 revision)
  DEPS
Labels: autosubmit

#54956 Roll Skia from dd985e9faf6c to d1121ff583c4 (1 revision)
  DEPS
Labels: autosubmit

#54957 Roll Skia from d1121ff583c4 to 0b24a6d3c514 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54959 [Impeller] fix NPE when checking known bad driver.
  shell/platform/android/android_context_vk_impeller.cc
Labels: platform-android, autosubmit

#54882 Add more `package:test` (removing usages of `package:litetest`)
  pubspec.yaml
  testing/pkg_test_demo/README.md
  testing/pkg_test_demo/pubspec.yaml
  testing/pkg_test_demo/test/example_test.dart
  testing/run_tests.py
  testing/scenario_app/pubspec.yaml
  testing/scenario_app/test/adb_log_filter_test.dart
  testing/skia_gold_client/lib/skia_gold_client.dart
  testing/skia_gold_client/pubspec.yaml
  testing/skia_gold_client/test/release_version_test.dart
  testing/skia_gold_client/test/skia_gold_client_test.dart
  testing/smoke_test_failure/fail_test.dart
  testing/smoke_test_failure/pubspec.yaml
  tools/clang_tidy/lib/src/options.dart
  tools/clang_tidy/pubspec.yaml
  tools/clang_tidy/test/clang_tidy_test.dart
  tools/clang_tidy/test/header_filter_regex_test.dart
  tools/golden_tests_harvester/pubspec.yaml
  tools/golden_tests_harvester/test/golden_tests_harvester_test.dart
  tools/path_ops/README.md
  tools/path_ops/dart/pubspec.yaml
  tools/path_ops/dart/test/path_ops_test.dart
  tools/pub_get_offline.py
Labels: autosubmit

#54748 Framework wide color linear gradients
  impeller/display_list/skia_conversions.cc
  lib/ui/painting.dart
  lib/ui/painting/gradient.cc
  lib/ui/painting/gradient.h
Labels: platform-web, e: impeller, autosubmit

#54962 Manual roll Dart SDK from 139867e57ba9 to 1a6246225b75 (18 revisions)
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54961 Add `crossOrigin` property to <img> tag used for decoding
  lib/web_ui/lib/src/engine/html_image_element_codec.dart
  lib/web_ui/lib/src/engine/safe_browser_api.dart
  lib/web_ui/test/canvaskit/image_golden_test.dart
Labels: platform-web, autosubmit

#54968 Roll Fuchsia Linux SDK from qS4FRrP_KI7czLMKv... to xNv47d1TZmK9XgTxu...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#54958 Roll Skia from 0b24a6d3c514 to 655699edfc97 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54969 [DisplayList] Remove unnecessary DisplayListBuilder as DlOpReceiver accesses
  display_list/display_list_unittests.cc
Labels: autosubmit

#54964 [Impeller] migrate last color wheel test to DisplayList.
  ci/licenses_golden/excluded_files
  impeller/aiks/BUILD.gn
  impeller/aiks/aiks_blend_unittests.cc
  impeller/aiks/aiks_unittests.cc
  impeller/display_list/aiks_dl_blend_unittests.cc
Labels: will affect goldens, e: impeller, autosubmit

#54965 Fix unexpected ViewFocus events when Text Editing utilities change focus in the middle of a blur call.
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/lib/src/engine/platform_dispatcher/view_focus_binding.dart
  lib/web_ui/test/engine/platform_dispatcher/view_focus_binding_test.dart
Labels: platform-web, autosubmit

#54975 [engine] always force platform channel responses to schedule a task.
  shell/common/shell.cc
Labels: autosubmit

#54980 [canvaskit] Fix incorrect calculation of ImageFilter paint bounds
  lib/web_ui/lib/src/engine/canvaskit/layer.dart
  lib/web_ui/test/ui/scene_builder_test.dart
Labels: platform-web, autosubmit

#54972 Manual Skia roll to 809f868ded1c
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_skia
  skia/BUILD.gn
Labels: autosubmit

#54977 iOS,macOS: add unsigned_binaries.txt
  sky/tools/create_ios_framework.py
  sky/tools/create_macos_framework.py
  sky/tools/sky_utils.py
Labels: autosubmit, test: all

#54984 Roll Fuchsia Test Scripts from k4lKsecg0pdIp-U7c... to D9INMR2u4wcyiZ750...
  DEPS
Labels: autosubmit

#54987 iOS,macOS: Add logging of duplicate codesign binaries
  sky/tools/sky_utils.py
Labels: autosubmit

#54714 Removes the int storage from Color
  lib/ui/painting.dart
  lib/web_ui/lib/painting.dart
Labels: platform-web

#54988 Roll Skia from 809f868ded1c to aec11ae18bb6 (22 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54990 Roll Fuchsia Linux SDK from xNv47d1TZmK9XgTxu... to PBeI0gGvgFdXV6hCg...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#54992 Roll Skia from aec11ae18bb6 to 368f209ccca5 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54995 Roll Skia from 368f209ccca5 to a09312b70d37 (1 revision)
  DEPS
Labels: autosubmit

#54997 Roll Skia from a09312b70d37 to b6bab0fde426 (3 revisions)
  DEPS
Labels: autosubmit

#54998 Roll Fuchsia Test Scripts from D9INMR2u4wcyiZ750... to 5dqcFlKzRjJb6V95W...
  DEPS
Labels: autosubmit

#54999 Roll Skia from b6bab0fde426 to 6ad117bd2efe (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54921 Change "there own" to "their own" in Flutter-GPU docs
  docs/impeller/Flutter-GPU.md
Labels: autosubmit

#55001 Roll Skia from 6ad117bd2efe to 8f62a6a4a299 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54974 [impeller] fake image for fake tests.
  display_list/image/dl_image.h
  impeller/display_list/dl_image_impeller.cc
  impeller/display_list/dl_image_impeller.h
  lib/ui/painting/image.cc
  lib/ui/painting/image_encoding.cc
  lib/ui/painting/picture.cc
  shell/common/snapshot_controller_impeller.cc
Labels: platform-ios, e: impeller, autosubmit

#55008 Roll Skia from 8f62a6a4a299 to f38ea0134dba (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54913 [Impeller] opt into exp canvas.
  common/config.gni
  impeller/aiks/canvas.h
  impeller/aiks/experimental_canvas.cc
  impeller/aiks/experimental_canvas.h
  impeller/display_list/dl_dispatcher.cc
  testing/dart/painting_test.dart
Labels: will affect goldens, e: impeller, autosubmit

#55013 Roll Skia from f38ea0134dba to 4786936b4c0c (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#54982 [DisplayList] use DlScalar, DlPoint, DlRect exclusively in DlOpReceiver methods
  display_list/benchmarking/dl_complexity_gl.cc
  display_list/benchmarking/dl_complexity_gl.h
  display_list/benchmarking/dl_complexity_helper.h
  display_list/benchmarking/dl_complexity_metal.cc
  display_list/benchmarking/dl_complexity_metal.h
  display_list/display_list.h
  display_list/display_list_unittests.cc
  display_list/dl_builder.cc
  display_list/dl_builder.h
  display_list/dl_canvas.h
  display_list/dl_op_receiver.h
  display_list/dl_op_records.h
  display_list/dl_paint.h
  display_list/geometry/dl_geometry_types.h
  display_list/image/dl_image.h
  display_list/skia/dl_sk_canvas.cc
  display_list/skia/dl_sk_canvas.h
  display_list/skia/dl_sk_dispatcher.cc
  display_list/skia/dl_sk_dispatcher.h
  display_list/testing/dl_test_snippets.cc
  display_list/testing/dl_test_snippets.h
  display_list/utils/dl_accumulation_rect.cc
  display_list/utils/dl_accumulation_rect.h
  display_list/utils/dl_receiver_utils.h
  impeller/display_list/dl_dispatcher.cc
  impeller/display_list/dl_dispatcher.h
  impeller/display_list/skia_conversions.cc
  impeller/display_list/skia_conversions.h
  impeller/geometry/rect.h
  impeller/geometry/rect_unittests.cc
  shell/common/dl_op_spy.cc
  shell/common/dl_op_spy.h
  testing/display_list_testing.cc
  testing/display_list_testing.h
  testing/mock_canvas.cc
  testing/mock_canvas.h
  third_party/txt/tests/paragraph_unittests.cc
Labels: e: impeller, autosubmit

#54917 [skwasm] use temporary RawPaint objects
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/canvas.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/paint.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/paragraph.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/raw/raw_paint.dart
  lib/web_ui/skwasm/paint.cpp
Labels: platform-web, autosubmit

#54996 [multiple] Avoid new `unreachable_switch_default` warning.
  lib/web_ui/lib/src/engine/canvaskit/color_filter.dart
  lib/web_ui/lib/src/engine/canvaskit/embedded_views.dart
  lib/web_ui/lib/src/engine/html/bitmap_canvas.dart
  lib/web_ui/lib/src/engine/html/shaders/shader.dart
  lib/web_ui/lib/src/engine/text/paragraph.dart
  lib/web_ui/lib/src/engine/text_editing/text_capitalization.dart
Labels: platform-web

#55014 Roll Skia from 4786936b4c0c to 06cd203d0607 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#55006 [engine] reland: always post tasks for platform channel responses.
  shell/common/engine.cc
  shell/common/engine_unittests.cc
  shell/common/shell.cc
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngineTest.mm
Labels: platform-ios, autosubmit

#55016 Turn off software rendering in iOS scenario golden tests
  testing/scenario_app/bin/run_ios_tests.dart
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios/AppDelegate.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/GoldenPlatformViewTests.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/RenderingSelectionTest.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_with_transform_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_with_transform_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_large_cliprrect_with_transform_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_opacity_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_with_negative_backdrop_filter_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_with_other_backdrop_filter_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_views_with_other_backdrop_filter_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/run_ios_tests.sh
Labels: autosubmit

#55024 Roll Fuchsia Linux SDK from PBeI0gGvgFdXV6hCg... to BF-8UyvqW5l52-hP2...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#55026 [Impeller] Disable exp canvas.
  common/config.gni
Labels: autosubmit

#55031 Manual roll Dart SDK from 0f783bdb7a4d to b6c3cd9b93f1 (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#55033 Roll Fuchsia Linux SDK from BF-8UyvqW5l52-hP2... to Dxly0DC9pQXTXVNm0...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#55027 [engine] dispatch platform channel messages through event loop, except navigation on start.
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  shell/common/engine_unittests.cc
  shell/common/shell.cc
  shell/common/shell_unittests.cc
Labels: autosubmit

#55039 Roll Fuchsia Linux SDK from Dxly0DC9pQXTXVNm0... to kIWQ460iagZLxVRPc...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#55041 Roll Skia from 06cd203d0607 to f7e4ddabb754 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#55042 Revert "Add `crossOrigin` property to <img> tag used for decoding (#54961)"
  lib/web_ui/lib/src/engine/html_image_element_codec.dart
  lib/web_ui/lib/src/engine/safe_browser_api.dart
  lib/web_ui/test/canvaskit/image_golden_test.dart
Labels: platform-web, autosubmit

#55043 Roll Skia from f7e4ddabb754 to 8103f53635fd (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#55036 [Impeller] fix obvious memory leak.
  shell/gpu/gpu_surface_gl_impeller.cc
  shell/gpu/gpu_surface_metal_impeller.mm
  shell/gpu/gpu_surface_metal_impeller_unittests.mm
  shell/gpu/gpu_surface_vulkan_impeller.cc
Labels: autosubmit

#55046 Roll Skia from 8103f53635fd to 7ad1252da14f (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#55050 Roll Skia from 7ad1252da14f to 7e659d5538fa (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#55012 Unskip Impeller iOS scenario tests
  testing/scenario_app/bin/run_ios_tests.dart
  testing/scenario_app/ios/FlutterAppExtensionTestHost/FlutterAppExtensionTestHost/Info_Skia.plist
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios/Info.plist
  testing/scenario_app/ios/Scenarios/Scenarios/Info_Skia.plist
  testing/scenario_app/ios/Scenarios/Scenarios/TextPlatformView.m
  testing/scenario_app/ios/Scenarios/ScenariosShare/Info_Skia.plist
  testing/scenario_app/ios/Scenarios/ScenariosTests/Info_Skia.plist
  testing/scenario_app/ios/Scenarios/ScenariosUITests/GoldenImage.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/GoldenTestManager.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/Info_Skia.plist
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_bogus_font_text_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_darwin_system_font_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_non_full_screen_flutter_view_platform_view_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_clippath_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_clippath_multiple_clips_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_clippath_with_transform_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_clippath_with_transform_multiple_clips_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_after_moved_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_after_moved_multiple_clips_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_multiple_clips_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_with_transform_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_with_transform_multiple_clips_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_multiple_clips_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_with_transform_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_with_transform_multiple_clips_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_large_cliprrect_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_large_cliprrect_multiple_clips_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_large_cliprrect_with_transform_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_large_cliprrect_with_transform_multiple_clips_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_background_foreground_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_multiple_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_opacity_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_rotate_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_transform_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_with_negative_backdrop_filter_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_with_other_backdrop_filter_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_spawn_engine_works_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_view_clip_path_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_view_clip_path_multiple_clips_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_view_clip_rect_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_view_clip_rect_multiple_clips_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_view_clip_rrect_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_view_clip_rrect_multiple_clips_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_views_with_other_backdrop_filter_impeller_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/run_ios_tests.sh
Labels: e: impeller, autosubmit

#55052 Roll Skia from 7e659d5538fa to 9bea95918e69 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#55034 Add missing include to fml/hex_codec.h
  fml/hex_codec.h
Labels: autosubmit

#55059 Roll Dart SDK from b6c3cd9b93f1 to a60078a23978 (14 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#55035 [skwasm] use temporary RawPaint objects (attempt #2)
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/canvas.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/filters.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/paint.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/paragraph.dart
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/raw/raw_paint.dart
  lib/web_ui/skwasm/paint.cpp
Labels: platform-web, autosubmit

#55068 Roll Dart SDK from a60078a23978 to d59138eb6ec2 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#55070 Roll Skia from 9bea95918e69 to c62380453c72 (1 revision)
  DEPS
Labels: autosubmit

#55072 Roll Skia from c62380453c72 to 5dc067350ab5 (1 revision)
  DEPS
Labels: autosubmit

#55073 Roll Dart SDK from d59138eb6ec2 to af7460619b2b (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54871 [CP] [skwasm] Fix platform view occlusion logic.
  lib/web_ui/lib/src/engine/layers.dart
  lib/web_ui/lib/src/engine/scene_builder.dart
  lib/web_ui/test/engine/scene_builder_test.dart
  lib/web_ui/test/engine/scene_builder_utils.dart
Labels: platform-web, autosubmit, cp: stable, cp: review

#55079 Roll Skia from 4815ec808aa5 to 82d2e4033333 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#55077 [flutter_releases] Flutter beta 3.26.0-0.1.pre Engine Cherrypicks
  DEPS
Labels: autosubmit

#55080 Roll Dart SDK from af7460619b2b to 741512e72e92 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#55082 Fix 'dart --enable-asserts' typo in license check script
  ci/licenses.sh
Labels: autosubmit

#55047 [Impeller] reland experimental canvas.
  common/config.gni
Labels: autosubmit

#53717 Redirect `run_ios_tests.sh` to `run_ios_tests.dart`.
  testing/scenario_app/bin/run_ios_tests.dart
  testing/scenario_app/run_ios_tests.sh
Labels: autosubmit

#55083 Move more of the tests in the engine to `package:test`
  testing/benchmark/pubspec.yaml
  testing/benchmark/test/parse_and_send_test.dart
  testing/run_tests.py
  tools/api_check/pubspec.yaml
  tools/api_check/test/apicheck_test.dart
Labels: autosubmit

#55084 Roll Skia from 82d2e4033333 to 1760de26fb83 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#55086 Remove the last `--disable-dart-dev` in the engine.
  testing/run_tests.py
Labels: autosubmit

#55087 [Impeller] Fix memory leak I introduced by fixing memory leak.
  shell/gpu/gpu_surface_gl_impeller.cc
  shell/gpu/gpu_surface_metal_impeller.mm
  shell/gpu/gpu_surface_vulkan_impeller.cc
Labels: autosubmit

#55088 Roll Skia from 1760de26fb83 to 618beab475b6 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#55049 [Impeller] fix comment on savelayer utils.
  impeller/entity/save_layer_utils.cc
Labels: e: impeller, autosubmit

#55089 Move `flutter_frontend_server` and tweak `run_tests.py` to allow env variables.
  flutter_frontend_server/pubspec.yaml
  flutter_frontend_server/test/to_string_test.dart
  testing/run_tests.py
Labels: autosubmit

#55094 Roll Dart SDK from 741512e72e92 to 22d8331d882e (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#54870 [CP] [skwasm] Fix platform view placement.
  lib/web_ui/lib/src/engine/layers.dart
  lib/web_ui/lib/src/engine/scene_view.dart
  lib/web_ui/test/engine/scene_builder_test.dart
  lib/web_ui/test/engine/scene_view_test.dart
  lib/web_ui/test/ui/platform_view_test.dart
Labels: platform-web, autosubmit, cp: stable, cp: review

#55097 Roll Dart SDK from 22d8331d882e to 072945e0b457 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#55096 Roll Skia from 618beab475b6 to a7ddd4d2c6bb (1 revision)
  DEPS
Labels: autosubmit

#55098 Roll Skia from a7ddd4d2c6bb to 7a4bd062b193 (1 revision)
  DEPS
Labels: autosubmit

#55099 Roll Skia from 7a4bd062b193 to 320dccf1a32d (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#55100 Roll Dart SDK from 072945e0b457 to a438066d634f (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#55101 Roll Skia from 320dccf1a32d to 44b4a40178cc (1 revision)
  DEPS
Labels: autosubmit

#55103 Roll Fuchsia Linux SDK from 8XJTJm4D4Go1dBaTi... to fKNT8lbGh8JzxjE6m...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#55048 Add back FlutterViewTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
Labels: platform-android, autosubmit

#54942 [CP][Impeller] Use multiple command buffers to submit blur encode.
  impeller/entity/contents/filters/gaussian_blur_filter_contents.cc
Labels: e: impeller, autosubmit

#55104 Roll Skia from 44b4a40178cc to fb0b2eb61b65 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#55007 [CP-stable] fix iOS platform view clipping path intersection
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.mm
  testing/scenario_app/ios/Scenarios/Scenarios.xcodeproj/project.pbxproj
  testing/scenario_app/ios/Scenarios/Scenarios/AppDelegate.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/GoldenTestManager.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/PlatformViewUITests.m
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_clippath_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_clippath_with_transform_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_after_moved_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprect_with_transform_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_cliprrect_with_transform_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_large_cliprrect_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_platform_view_large_cliprrect_with_transform_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_view_clip_path_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_view_clip_rect_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/ios/Scenarios/ScenariosUITests/golden_two_platform_view_clip_rrect_multiple_clips_iPhone SE (3rd generation)_17.0_simulator.png
  testing/scenario_app/lib/src/platform_view.dart
  testing/scenario_app/lib/src/scenarios.dart
  testing/scenario_app/run_ios_tests.sh
Labels: platform-ios, autosubmit, cp: review

#55056 [CP] fix memory leak in host buffer reset.
  shell/gpu/gpu_surface_metal_impeller.mm
  shell/gpu/gpu_surface_metal_impeller_unittests.mm
Labels: autosubmit

#55060 [Impeller] hash less text stuff per frame for text rendering.
  impeller/entity/contents/text_contents.cc
  impeller/typographer/backends/skia/typographer_context_skia.cc
  impeller/typographer/font_glyph_pair.h
  impeller/typographer/glyph_atlas.h
  impeller/typographer/text_frame.cc
  impeller/typographer/text_run.h
Labels: will affect goldens, e: impeller, autosubmit

#55108 [flutter_releases] Flutter stable 3.24.3 Engine Cherrypicks
  DEPS
Labels: autosubmit

#55093 Zip and upload Xcode xcresults on scenario test failure
  testing/scenario_app/bin/run_ios_tests.dart
Labels: autosubmit

#55109 Roll Skia from fb0b2eb61b65 to c050337724c8 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#55095 Replace `System.loadLibrary` with `ReLinker.loadLibrary()` in `FlutterJNI.loadLibrary()`
  DEPS
  shell/platform/android/BUILD.gn
  shell/platform/android/io/flutter/embedding/engine/FlutterJNI.java
  shell/platform/android/io/flutter/embedding/engine/loader/FlutterLoader.java
  shell/platform/android/test/io/flutter/embedding/engine/loader/FlutterLoaderTest.java
  tools/androidx/README.md
  tools/androidx/files.json
Labels: platform-android, autosubmit

#55063 Use a signal for the pre-engine restart event
  shell/platform/linux/fl_engine.cc
  shell/platform/linux/fl_engine_private.h
  shell/platform/linux/fl_engine_test.cc
  shell/platform/linux/fl_view.cc
Labels: affects: desktop, platform-linux

#55062 Fix crash quitting application due to iterating over a changing list.
  shell/platform/linux/fl_platform_handler.cc
Labels: affects: desktop, platform-linux

#55112 Roll Skia from c050337724c8 to 0b776ce0b8d6 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#55116 Roll Skia from 0b776ce0b8d6 to e32486ebf787 (1 revision)
  DEPS
Labels: autosubmit

#55090 Move most of the `dart:ui` tests to `package:test`.
  testing/dart/assets_test.dart
  testing/dart/channel_buffers_test.dart
  testing/dart/codec_test.dart
  testing/dart/color_filter_test.dart
  testing/dart/compositing_test.dart
  testing/dart/dart_test.dart
  testing/dart/encoding_test.dart
  testing/dart/geometry_test.dart
  testing/dart/gesture_settings_test.dart
  testing/dart/gpu_test.dart
  testing/dart/gradient_test.dart
  testing/dart/http_allow_http_connections_test.dart
  testing/dart/http_disallow_http_connections_test.dart
  testing/dart/image_descriptor_test.dart
  testing/dart/image_dispose_test.dart
  testing/dart/image_events_test.dart
  testing/dart/image_resize_test.dart
  testing/dart/image_test.dart
  testing/dart/isolate_name_server_test.dart
  testing/dart/isolate_test.dart
  testing/dart/lerp_test.dart
  testing/dart/locale_test.dart
  testing/dart/mask_filter_test.dart
  testing/dart/painting_test.dart
  testing/dart/paragraph_builder_test.dart
  testing/dart/paragraph_test.dart
  testing/dart/path_test.dart
  testing/dart/picture_test.dart
  testing/dart/platform_dispatcher_test.dart
  testing/dart/platform_isolate_shutdown_test.dart
  testing/dart/platform_view_test.dart
  testing/dart/plugin_utilities_test.dart
  testing/dart/pubspec.yaml
  testing/dart/run_test.sh
  testing/dart/semantics_test.dart
  testing/dart/serial_gc_test.dart
  testing/dart/stringification_test.dart
  testing/dart/text_test.dart
  testing/dart/window_test.dart
Labels: autosubmit

#55131 Roll Skia from e32486ebf787 to 1dd44e41b08c (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#55133 Roll Skia from 1dd44e41b08c to b66a4c7f449d (1 revision)
  DEPS
Labels: autosubmit

#55137 Roll Skia from b66a4c7f449d to b750cbedc114 (1 revision)
  DEPS
Labels: autosubmit

#55037 [dart2wasm] Move web wasm embedder to new dart2wasm embedder API
  lib/web_ui/flutter_js/src/entrypoint_loader.js
Labels: platform-web

#55141 Roll Skia from b750cbedc114 to 2b40b50ea423 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#55132 Migrate `const_finder_test` to use `package:test`
  testing/run_tests.py
  tools/const_finder/pubspec.yaml
  tools/const_finder/test/const_finder_test.dart
Labels: autosubmit

#55142 Roll Fuchsia Linux SDK from fKNT8lbGh8JzxjE6m... to 3YH1DEYJ-s93fHBw5...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#54981 Update Color to do all calculations with floating point components
  flutter_frontend_server/test/to_string_test.dart
  lib/ui/lerp.dart
  lib/ui/painting.dart
  lib/web_ui/lib/lerp.dart
  lib/web_ui/lib/painting.dart
  lib/web_ui/test/ui/color_test.dart
  lib/web_ui/test/ui/filters_test.dart
  lib/web_ui/test/ui/paint_test.dart
  lib/web_ui/test/ui/text_style_test.dart
  testing/dart/color_test.dart
  testing/dart/image_filter_test.dart
  testing/dart/text_test.dart
Labels: platform-web, autosubmit

#55144 Roll Skia from 2b40b50ea423 to acff7f24ddbe (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#55147 Roll Dart SDK from a438066d634f to aa27c61f5859 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#55151 Roll Skia from acff7f24ddbe to 26b048c6a53b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#55153 Revert "Update Color to do all calculations with floating point components"
  flutter_frontend_server/test/to_string_test.dart
  lib/ui/lerp.dart
  lib/ui/painting.dart
  lib/web_ui/lib/lerp.dart
  lib/web_ui/lib/painting.dart
  lib/web_ui/test/ui/color_test.dart
  lib/web_ui/test/ui/filters_test.dart
  lib/web_ui/test/ui/paint_test.dart
  lib/web_ui/test/ui/text_style_test.dart
  testing/dart/color_test.dart
  testing/dart/image_filter_test.dart
  testing/dart/text_test.dart
Labels: autosubmit, revert

#55150 Add a note about re generating Gradle lockfiles
  tools/cipd/android_embedding_bundle/README.md
Labels: autosubmit

#55149 Move `zircon_tests` from `package:litetest` to `package:async_helper`.
  shell/platform/fuchsia/dart-pkg/zircon/BUILD.gn
  shell/platform/fuchsia/dart-pkg/zircon/test/zircon_tests.dart
  shell/platform/fuchsia/dart/BUILD.gn
Labels: platform-fuchsia, autosubmit

#55159 Roll Skia from 26b048c6a53b to bcbc3038a8ad (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#55161 Roll Skia from bcbc3038a8ad to 515a23f3cbe1 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#55160 Roll Dart SDK from aa27c61f5859 to 23fc7751b8b2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#55091 Filter out bad locales returned by g_get_language_names
  shell/platform/linux/fl_engine.cc
  shell/platform/linux/fl_engine_test.cc
Labels: affects: desktop, platform-linux

#55164 Remove now unused extra args/opts/env from `run_tests.py`.
  testing/run_tests.py
Labels: autosubmit

#55167 Roll Dart SDK from 23fc7751b8b2 to 6c1e919a85f2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#55169 Roll Skia from 515a23f3cbe1 to c8a493c589d6 (1 revision)
  DEPS
Labels: autosubmit

#55172 Roll Skia from c8a493c589d6 to abb4eeac59c2 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#55173 Roll Dart SDK from 6c1e919a85f2 to eb664303c5ff (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#55174 Roll Skia from abb4eeac59c2 to 7cba76a07795 (1 revision)
  DEPS
Labels: autosubmit

#55155 Add copyright notices to java test files
  shell/platform/android/test/io/flutter/embedding/android/AndroidTouchProcessorTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityAndFragmentDelegateTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterAndroidComponentTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterFragmentActivityTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterFragmentTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterSurfaceViewTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterTextureViewTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
  shell/platform/android/test/io/flutter/embedding/android/KeyChannelResponderTest.java
  shell/platform/android/test/io/flutter/embedding/android/KeyboardManagerTest.java
  shell/platform/android/test/io/flutter/embedding/android/RobolectricFlutterActivity.java
  shell/platform/android/test/io/flutter/embedding/android/SplashShadowResources.java
  shell/platform/android/test/io/flutter/embedding/engine/FlutterEngineCacheTest.java
  shell/platform/android/test/io/flutter/embedding/engine/FlutterEngineConnectionRegistryTest.java
  shell/platform/android/test/io/flutter/embedding/engine/FlutterEngineGroupCacheTest.java
  shell/platform/android/test/io/flutter/embedding/engine/FlutterJNITest.java
  shell/platform/android/test/io/flutter/embedding/engine/FlutterShellArgsTest.java
  shell/platform/android/test/io/flutter/embedding/engine/RenderingComponentTest.java
  shell/platform/android/test/io/flutter/embedding/engine/dart/DartExecutorTest.java
  shell/platform/android/test/io/flutter/embedding/engine/dart/DartMessengerTest.java
  shell/platform/android/test/io/flutter/embedding/engine/mutatorsstack/FlutterMutatorViewTest.java
  shell/platform/android/test/io/flutter/embedding/engine/plugins/shim/ShimPluginRegistryTest.java
  shell/platform/android/test/io/flutter/embedding/engine/renderer/FlutterEngineRule.java
  shell/platform/android/test/io/flutter/embedding/engine/renderer/FlutterRendererTest.java
  shell/platform/android/test/io/flutter/embedding/engine/renderer/SurfaceTextureSurfaceProducerTest.java
  shell/platform/android/test/io/flutter/embedding/engine/renderer/SurfaceTextureWrapperTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/AccessibilityChannelTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/DeferredComponentChannelTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/KeyEventChannelTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/KeyboardChannelTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/LifecycleChannelTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/PlatformChannelTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/RestorationChannelTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/SettingsChannelTest.java
  shell/platform/android/test/io/flutter/embedding/engine/systemchannels/TextInputChannelTest.java
Labels: platform-android, autosubmit

#55179 Roll Skia from 7cba76a07795 to a5a6d12b3642 (3 revisions)
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#55110 add back test itSendsTextShowPasswordToFrameworkOnAttach with new mock for display metrics
  shell/platform/android/test/README.md
  shell/platform/android/test/io/flutter/embedding/android/FlutterViewTest.java
  testing/run_tests.py
Labels: platform-android

#54949 [skwasm] Scene builder optimizations for platform view placement
  lib/web_ui/lib/src/engine/layers.dart
  lib/web_ui/lib/src/engine/scene_builder.dart
  lib/web_ui/lib/src/engine/scene_view.dart
  lib/web_ui/test/engine/scene_builder_test.dart
  lib/web_ui/test/engine/scene_builder_utils.dart
  lib/web_ui/test/engine/scene_view_test.dart
Labels: platform-web, will affect goldens, autosubmit

#55182 Roll Dart SDK from eb664303c5ff to 302b6472b849 (2 revisions)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#55187 Roll Skia from a5a6d12b3642 to 9877f459399a (2 revisions)
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_skia
Labels: autosubmit
