Repository flutter/engine, pull requests merged in 2024-04, with the labels that each got.

#51804 Roll Skia from c61843470d89 to b9d078716d40 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51805 Roll Fuchsia Linux SDK from TXxMINUq7JduIRX8K... to 5W6KVvHCGwWHBjm2m...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#51807 Roll Skia from 45e4d2cbdd4f to 3093d7c90fb2 (1 revision)
  DEPS
Labels: autosubmit

#51811 Roll Skia from 3093d7c90fb2 to da4cd3390be9 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51810 Roll Dart SDK from b735974580e7 to aa6544b48523 (1 revision)
  DEPS
Labels: autosubmit

#51813 Roll Skia from da4cd3390be9 to dacd62255b8d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51814 Never panic in `finally { ... }`, check output logs on success only.
  testing/scenario_app/bin/run_android_tests.dart
  testing/scenario_app/bin/utils/logs.dart
Labels: autosubmit

#51770 [Impeller] Set RGBA8888 as the default Vulkan color format before the app acquires a surface
  impeller/renderer/backend/vulkan/capabilities_vk.cc
  impeller/renderer/backend/vulkan/context_vk_unittests.cc
  impeller/renderer/backend/vulkan/test/mock_vulkan.cc
Labels: e: impeller, autosubmit

#51628 Use the stripped Vulkan validation library in Android engine builds by default
  shell/platform/android/BUILD.gn
Labels: platform-android, autosubmit

#51816 Remove unused and untested timeline data branch for `scenario_app`
  testing/scenario_app/android/app/src/main/AndroidManifest.xml
  testing/scenario_app/android/app/src/main/java/dev/flutter/scenarios/TestActivity.java
  testing/scenario_app/lib/main.dart
Labels: autosubmit

#51817 Roll Skia from dacd62255b8d to 40c436a785fa (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#51818 [Impeller] Avoid loading redundant Vulkan extensions.
  impeller/renderer/backend/vulkan/capabilities_vk.cc
  impeller/renderer/backend/vulkan/capabilities_vk.h
Labels: e: impeller, autosubmit

#51269 [Impeller] Add a TextureGLES API for wrapping a framebuffer and use it to implement OpenGL FBO targets in the embedder library
  impeller/renderer/backend/gles/render_pass_gles.cc
  impeller/renderer/backend/gles/texture_gles.cc
  impeller/renderer/backend/gles/texture_gles.h
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/tests/embedder_gl_unittests.cc
  shell/platform/embedder/tests/embedder_test_context_gl.h
Labels: e: impeller, autosubmit

#51823 Roll Skia from 40c436a785fa to 0b0ed6ca101b (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51825 Remove log statements that did not help.
  testing/scenario_app/android/app/src/main/java/dev/flutter/scenarios/ExternalTextureFlutterActivity.java
  testing/scenario_app/android/app/src/main/java/dev/flutter/scenarios/TestableFlutterActivity.java
  testing/scenario_app/lib/main.dart
Labels: autosubmit

#51819 [Skwasm] Forward text height from paragraph height to default text style
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/paragraph.dart
  lib/web_ui/test/ui/line_metrics_test.dart
Labels: platform-web, autosubmit

#51822 [Impeller] Ignore warnign about shader stages not consuming outputs.
  impeller/renderer/backend/vulkan/debug_report_vk.cc
  impeller/scene/shaders/unlit.frag
Labels: e: impeller, autosubmit

#51827 Remove tests related to StrictMode that were never running on CI.
  testing/scenario_app/android/BUILD.gn
  testing/scenario_app/android/app/src/main/AndroidManifest.xml
  testing/scenario_app/android/app/src/main/java/dev/flutter/scenarios/StrictModeFlutterActivity.java
Labels: autosubmit

#51831 Roll Skia from 0b0ed6ca101b to fe64c32d7f2e (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51832 Run and record `adb shell screenrecord` during Android scenario app
  testing/scenario_app/bin/run_android_tests.dart
  testing/scenario_app/bin/utils/options.dart
Labels: will affect goldens, autosubmit

#51838 Move scenario_app integration tests back to `max_attempts: 2`.
  ci/builders/linux_android_emulator_skia.json
Labels: warning: land on red to fix tree breakage, autosubmit

#51833 Roll Skia from fe64c32d7f2e to cd75e4672719 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51837 Roll Dart SDK from aa6544b48523 to e6e6d5fe3fb0 (1 revision)
  DEPS
Labels: will affect goldens, autosubmit

#51792 [Impeller] fix plus blend mode in porterduff shader.
  impeller/aiks/aiks_unittests.cc
  impeller/entity/shaders/blending/porter_duff_blend.frag
  impeller/tools/malioc.json
  testing/impeller_golden_tests_output.txt
Labels: e: impeller, autosubmit

#51824 Allow creating slimpeller engine variants.
  common/config.gni
  tools/gn
Labels: autosubmit

#51846 [skwasm] Fix `Paragraph.getLineBoundary`
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/paragraph.dart
  lib/web_ui/test/ui/paragraph_builder_test.dart
Labels: platform-web, autosubmit

#51523 [Embedder API] Add view
  runtime/runtime_controller.cc
  runtime/runtime_controller.h
  shell/platform/embedder/embedder.cc
  shell/platform/embedder/embedder.h
  shell/platform/embedder/fixtures/main.dart
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: platform-fuchsia, autosubmit

#51848 Do not use `adb shell screenrecord` during CI runs.
  testing/scenario_app/bin/utils/options.dart
Labels: autosubmit

#51852 Remove the view ID check in `macOS/FlutterCompositor`
  shell/platform/darwin/macos/framework/Source/FlutterCompositor.mm
Labels: affects: desktop, platform-macos, autosubmit

#51839 Return an empty optional in HardwareBuffer::GetSystemUniqueID if the underlying NDK API is unavailable
  impeller/toolkit/android/BUILD.gn
  impeller/toolkit/android/hardware_buffer.cc
  impeller/toolkit/android/proc_table.cc
  impeller/toolkit/android/proc_table.h
  impeller/toolkit/android/toolkit_android_unittests.cc
Labels: e: impeller, autosubmit

#51850 Run `DrawSolidBlueScreenTest` 20x in a row in `bringup` (up from 5x)
  ci/builders/linux_android_emulator_debug_on_ci.json
Labels: autosubmit

#51784 Add an engine switch that controls whether the platform isolate API is available.
  common/settings.h
  lib/ui/dart_ui.cc
  lib/ui/natives.dart
  lib/ui/platform_isolate.dart
  shell/common/switches.cc
  shell/common/switches.h
  shell/platform/android/flutter_main.cc
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/embedder/tests/embedder_unittests.cc
  shell/testing/tester_main.cc
Labels: platform-ios, platform-android, autosubmit

#51851 [flutter_releases] Flutter beta 3.22.0-0.0.pre Engine Cherrypicks
  DEPS
Labels: autosubmit

#51787 [Impeller] fixes PlusAdvanced alpha blending / adds alpha blending tests
  impeller/aiks/aiks_blend_unittests.cc
  impeller/entity/shaders/blending/framebuffer_blend.frag
  testing/impeller_golden_tests_output.txt
Labels: e: impeller

#51803 [et] Prepare local_engine.json for CI, teach et to understand local build names
  .ci.yaml
  ci/builders/local_engine.json
  tools/engine_tool/lib/src/build_utils.dart
  tools/engine_tool/lib/src/commands/build_command.dart
  tools/engine_tool/lib/src/commands/command.dart
  tools/engine_tool/lib/src/commands/command_runner.dart
  tools/engine_tool/lib/src/commands/query_command.dart
  tools/engine_tool/lib/src/commands/run_command.dart
  tools/engine_tool/lib/src/commands/test_command.dart
  tools/engine_tool/test/build_command_test.dart
  tools/engine_tool/test/fetch_command_test.dart
  tools/engine_tool/test/fixtures.dart
  tools/engine_tool/test/format_command_test.dart
  tools/engine_tool/test/lint_command_test.dart
  tools/engine_tool/test/proc_utils_test.dart
  tools/engine_tool/test/query_command_test.dart
  tools/engine_tool/test/run_command_test.dart
  tools/engine_tool/test/test_command_test.dart
  tools/engine_tool/test/utils.dart
  tools/engine_tool/test/worker_pool_test.dart
  tools/pkg/engine_build_configs/bin/check.dart
Labels: will affect goldens

#51856 Use internal retries for SurfaceTexture and Impeller tests too.
  ci/builders/linux_android_emulator.json
  ci/builders/linux_android_emulator_skia.json
Labels: autosubmit

#51836 Remove outdated `deprecated_member_use` ignores
  lib/ui/hash_codes.dart
  lib/web_ui/test/engine/hash_codes_test.dart
  testing/dart/channel_buffers_test.dart
Labels: platform-web, will affect goldens, autosubmit

#51845 Roll Dart SDK from e6e6d5fe3fb0 to 091dd9120d35 (4 revisions)
  DEPS
Labels: will affect goldens, autosubmit

#51858 Revert "Prevent `solo: true` from being committed"
  lib/web_ui/analysis_options.yaml
  lib/web_ui/dev/test_platform.dart
Labels: platform-web

#51853 [Impeller] make color source a variant instead of a closure.
  impeller/aiks/color_source.cc
  impeller/aiks/color_source.h
Labels: e: impeller, autosubmit

#51854 Use non-deprecated replacements for Android JUnit and test instrumentation
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenarios/ExampleInstrumentedTest.java
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/DrawSolidBlueScreenTest.java
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/GetBitmapTests.java
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/MemoryLeakTests.java
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/PlatformTextureUiTests.java
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/PlatformViewUiTests.java
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/PlatformViewWithSurfaceViewBadContextUiTest.java
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/PlatformViewWithSurfaceViewHybridFallbackUiTest.java
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/PlatformViewWithSurfaceViewHybridUiTest.java
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/PlatformViewWithSurfaceViewUiTest.java
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/PlatformViewWithTextureViewUiTest.java
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/SpawnEngineTests.java
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/SpawnMultiEngineTest.java
Labels: autosubmit

#51859 Roll Dart SDK from 091dd9120d35 to 892ec6169844 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#51860 Roll Dart SDK from 892ec6169844 to 36b6628190e2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#51840 Roll Skia from cd75e4672719 to a247f8cc2a66 (1 revision)
  DEPS
Labels: will affect goldens, autosubmit

#51861 Roll Skia from a247f8cc2a66 to ce3b5e8eb59b (24 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51863 Roll Skia from ce3b5e8eb59b to 5f6223a01ba4 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51864 Roll Skia from 5f6223a01ba4 to 1d9340cf193e (1 revision)
  DEPS
Labels: autosubmit

#51866 [scenarios] dont do a weird invalidate on TextView.
  testing/scenario_app/android/app/src/main/java/dev/flutter/scenarios/TextPlatformViewFactory.java
Labels: autosubmit

#51865 Roll Skia from 1d9340cf193e to 67f7b4d08d1f (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#51872 Roll Skia from 67f7b4d08d1f to afa233bb1979 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51778 [Impeller] eliminate sub-render pass for blended color + texture vertices.
  impeller/aiks/aiks_unittests.cc
  impeller/aiks/canvas.cc
  impeller/aiks/color_source.cc
  impeller/aiks/color_source.h
  impeller/entity/contents/tiled_texture_contents.h
  impeller/entity/contents/vertices_contents.cc
  impeller/entity/contents/vertices_contents.h
  impeller/entity/geometry/vertices_geometry.cc
  impeller/entity/geometry/vertices_geometry.h
  testing/impeller_golden_tests_output.txt
Labels: will affect goldens, e: impeller, autosubmit

#51871 [Impeller] delete unused code.
  impeller/entity/contents/conical_gradient_contents.cc
Labels: e: impeller, autosubmit

#51849 [Impeller] Enable logging a warning when the user opts out of using Impeller.
  common/settings.h
  shell/common/shell.cc
  shell/common/shell_unittests.cc
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/ios/framework/Source/FlutterDartProjectTest.mm
Labels: platform-ios, autosubmit

#51876 Roll Skia from afa233bb1979 to 8d7482b998d0 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51877 Be slightly more lenient about the assertion, as it differs on different backends.
  lib/web_ui/test/canvaskit/embedded_views_test.dart
Labels: platform-web, autosubmit

#51878 Roll Skia from 8d7482b998d0 to 7d6dce620e46 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51884 Roll Dart SDK from 85adde7d4b5a to 5b812b9ec220 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#51879 [scenarios] Use adb to take screenshot, block on screenshot operation.
  testing/scenario_app/android/app/src/androidTest/java/dev/flutter/scenariosui/ScreenshotUtil.java
  testing/scenario_app/bin/run_android_tests.dart
Labels: autosubmit

#51883 Roll Skia from 7d6dce620e46 to 82ae8ae5d3fb (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51885 Remove the bringup 20x emulator config.
  .ci.yaml
  ci/builders/linux_android_emulator_debug_on_ci.json
Labels: autosubmit

#51886 Roll Skia from 82ae8ae5d3fb to fdbdb26b7029 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51875 [Impeller] cleanup auto usage in host_buffer
  impeller/core/host_buffer.cc
  impeller/core/host_buffer.h
Labels: e: impeller, autosubmit

#51888 Roll Skia from fdbdb26b7029 to 83f4b7bbb91d (1 revision)
  DEPS
Labels: autosubmit

#51874 [Impeller] dont inc shared_ptr count for every command/pipeline in render_pass_vk
  impeller/renderer/backend/vulkan/render_pass_vk.cc
  impeller/renderer/backend/vulkan/render_pass_vk.h
Labels: e: impeller, autosubmit

#51891 Roll Skia from 83f4b7bbb91d to 094de1a7c3cf (1 revision)
  DEPS
Labels: autosubmit

#51892 Roll Skia from 094de1a7c3cf to 57bc01affec1 (1 revision)
  DEPS
Labels: autosubmit

#51895 Roll Skia from 5fdc2b47dfa4 to bef4d9b44369 (1 revision)
  DEPS
Labels: autosubmit

#51899 Roll Skia from bef4d9b44369 to 2cead39756d8 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51857 Generate only one "Frame Request Pending" event for each pending call to BeginFrame
  shell/common/animator.cc
  testing/dart/observatory/tracing_test.dart
  testing/dart/serialized_test_suite.dart
Labels: autosubmit

#51903 Roll Skia from 02b2800d216e to 3844fc48802d (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51904 Roll Skia from 3844fc48802d to 4a9e0d0eaa9e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51906 Roll Skia from 4a9e0d0eaa9e to 8caa3e2592d5 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51842 Roll Fuchsia Linux SDK from 5W6KVvHCGwWHBjm2m... to TAr6MCirveGvhZFHK...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: will affect goldens, autosubmit

#51910 [CP] Return an empty optional in HardwareBuffer::GetSystemUniqueID if the …
  impeller/toolkit/android/BUILD.gn
  impeller/toolkit/android/hardware_buffer.cc
  impeller/toolkit/android/proc_table.cc
  impeller/toolkit/android/proc_table.h
  impeller/toolkit/android/toolkit_android_unittests.cc
Labels: e: impeller, autosubmit

#51909 Roll Skia from 8caa3e2592d5 to d58a6dbaaadb (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51911 [CP] Return an empty optional in HardwareBuffer::GetSystemUniqueID if the …
  impeller/toolkit/android/BUILD.gn
  impeller/toolkit/android/hardware_buffer.cc
  impeller/toolkit/android/proc_table.cc
  impeller/toolkit/android/proc_table.h
  impeller/toolkit/android/toolkit_android_unittests.cc
Labels: e: impeller, autosubmit

#51913 Roll Skia from d58a6dbaaadb to f9dfb0308594 (1 revision)
  DEPS
Labels: autosubmit

#51636 Remove #if SHELL_ENABLE_METAL checks in iOS code
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/ios_context.mm
  shell/platform/darwin/ios/ios_surface.mm
  shell/platform/darwin/ios/rendering_api_selection.mm
Labels: platform-ios, autosubmit

#51585 #145421 Fix glyph padding in STB atlas impl.
  impeller/typographer/backends/stb/typographer_context_stb.cc
Labels: will affect goldens, e: impeller, autosubmit

#51915 Roll Skia from f9dfb0308594 to 8ad03dfe4e2e (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51916 [CP] Return an empty optional in HardwareBuffer::GetSystemUniqueID if the …
  impeller/toolkit/android/BUILD.gn
  impeller/toolkit/android/hardware_buffer.cc
  impeller/toolkit/android/proc_table.cc
  impeller/toolkit/android/proc_table.h
  impeller/toolkit/android/toolkit_android_unittests.cc
Labels: e: impeller, autosubmit

#51722 Multiview backing store
  flow/embedded_views.cc
  flow/embedded_views.h
  shell/common/rasterizer.cc
  shell/common/rasterizer.h
  shell/platform/embedder/embedder.h
  shell/platform/embedder/embedder_external_view_embedder.cc
  shell/platform/embedder/embedder_external_view_embedder.h
  shell/platform/embedder/embedder_render_target_cache.h
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: platform-ios, platform-android, platform-fuchsia, autosubmit

#51908 [Windows] Prepare to add/remove views
  shell/platform/windows/compositor.h
  shell/platform/windows/compositor_opengl.cc
  shell/platform/windows/compositor_opengl.h
  shell/platform/windows/compositor_opengl_unittests.cc
  shell/platform/windows/compositor_software.cc
  shell/platform/windows/compositor_software.h
  shell/platform/windows/compositor_software_unittests.cc
  shell/platform/windows/fixtures/main.dart
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_engine.h
  shell/platform/windows/flutter_windows_unittests.cc
Labels: affects: desktop, platform-windows, autosubmit

#51921 Manual Dart roll to 0ac840ba1 and update frontend server snapshot filename
  DEPS
  build/archives/BUILD.gn
  build/dart/rules.gni
  flutter_frontend_server/BUILD.gn
  flutter_frontend_server/test/to_string_test.dart
  shell/platform/fuchsia/BUILD.gn
  testing/run_tests.py
  tools/const_finder/test/const_finder_test.dart
Labels: platform-fuchsia, autosubmit

#51932 Roll Skia from 8ad03dfe4e2e to 22ba9c040aa2 (2 revisions)
  DEPS
Labels: autosubmit

#51933 Roll Skia from 22ba9c040aa2 to 5a9d7e508e41 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51934 Roll Skia from 5a9d7e508e41 to b1a37c7f4c75 (1 revision)
  DEPS
Labels: autosubmit

#51935 Roll Skia from b1a37c7f4c75 to f8977f658b66 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51936 Roll Skia from f8977f658b66 to b3c27bb2d739 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51912 [Impeller] batch up filter graph command buffers.
  impeller/entity/contents/content_context.cc
  impeller/entity/contents/content_context.h
  impeller/entity/contents/contents.cc
  impeller/entity/contents/filters/blend_filter_contents.cc
  impeller/entity/contents/filters/gaussian_blur_filter_contents.cc
  impeller/entity/contents/filters/gaussian_blur_filter_contents_unittests.cc
  impeller/entity/contents/filters/morphology_filter_contents.cc
Labels: e: impeller, autosubmit

#51378 [Impeller] fail CI if validations are enabled but not available.
  impeller/playground/backend/vulkan/playground_impl_vk.cc
  impeller/renderer/backend/vulkan/capabilities_vk.cc
  impeller/renderer/backend/vulkan/capabilities_vk.h
  impeller/renderer/backend/vulkan/context_vk.cc
  impeller/renderer/backend/vulkan/context_vk.h
  impeller/renderer/backend/vulkan/context_vk_unittests.cc
Labels: e: impeller, autosubmit

#51939 Roll Skia from 6d673cafb8d1 to 0424e59d3a08 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51938 [Impeller] reland foreground blend optimizaiton, fix advanced blend optimization.
  impeller/aiks/aiks_blend_unittests.cc
  impeller/entity/contents/filters/blend_filter_contents.cc
  impeller/entity/contents/filters/blend_filter_contents.h
  impeller/renderer/snapshot.h
  testing/impeller_golden_tests_output.txt
Labels: will affect goldens, e: impeller, autosubmit

#51942 Roll Skia from 0424e59d3a08 to d596d9e4cb4f (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51920 [Windows] Move EGL surface creation
  shell/platform/windows/flutter_windows.cc
  shell/platform/windows/flutter_windows_engine.cc
  shell/platform/windows/flutter_windows_view_unittests.cc
Labels: affects: desktop, platform-windows, autosubmit

#51945 [Impeller] handle fill polylines with zero area.
  impeller/tessellator/tessellator.cc
  impeller/tessellator/tessellator_unittests.cc
Labels: e: impeller, autosubmit

#51946 Roll Skia from d596d9e4cb4f to d0f229153ae7 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51949 Roll Skia from d0f229153ae7 to 98601d1c3ff4 (2 revisions)
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51950 Roll Skia from 98601d1c3ff4 to 46e7fea48565 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51951 Fix a memory error in a multithreaded test
  shell/platform/embedder/tests/embedder_unittests.cc
Labels: autosubmit

#51953 Roll Skia from 46e7fea48565 to 190396c73578 (1 revision)
  DEPS
Labels: autosubmit

#51954 Roll Skia from 190396c73578 to 629ab79ee3d2 (1 revision)
  DEPS
Labels: autosubmit

#51955 Roll Fuchsia Linux SDK from EaKtmpePocJx6qaKg... to t4ixHpO8UiL4xDsOr...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#51957 Roll Fuchsia Linux SDK from t4ixHpO8UiL4xDsOr... to RNSwTRpc6cfMY99CC...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#51958 Roll Skia from 629ab79ee3d2 to d228890f513b (1 revision)
  DEPS
Labels: autosubmit

#51959 Roll Skia from d228890f513b to cf4d42d3aa56 (1 revision)
  DEPS
Labels: autosubmit

#51960 Roll Skia from cf4d42d3aa56 to 074ae9923436 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51961 Roll Skia from 074ae9923436 to af56ef7fa895 (1 revision)
  DEPS
Labels: autosubmit

#51962 Roll Skia from af56ef7fa895 to 9096762d5743 (1 revision)
  DEPS
Labels: autosubmit

#51963 Roll Skia from 9096762d5743 to c2f5ce268aca (1 revision)
  DEPS
Labels: autosubmit

#51965 Roll Skia from c2f5ce268aca to 91aa93f2565d (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51967 Roll Skia from 91aa93f2565d to 50b7ff0bf275 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51943 Use the AOT snapshot built by the Dart SDK for the frontend server
  build/archives/BUILD.gn
  build/dart/rules.gni
  flutter_frontend_server/BUILD.gn
  flutter_frontend_server/test/to_string_test.dart
  shell/platform/fuchsia/BUILD.gn
  testing/run_tests.py
  tools/const_finder/test/const_finder_test.dart
Labels: platform-fuchsia, autosubmit

#51944 Add `missing_code_block_language_in_doc_comment` lint to flutter/engine.
  analysis_options.yaml
  lib/web_ui/lib/src/engine/color_filter.dart
  lib/web_ui/lib/src/engine/configuration.dart
  lib/web_ui/lib/src/engine/profiler.dart
  lib/web_ui/lib/src/engine/text/line_breaker.dart
  lib/web_ui/lib/src/engine/window.dart
  lib/web_ui/test/canvaskit/fragment_program_test.dart
  testing/scenario_app/bin/utils/options.dart
  testing/skia_gold_client/lib/skia_gold_client.dart
  third_party/web_unicode/tool/unicode_sync_script.dart
Labels: platform-web

#51969 Roll Skia from aa31cad3cbef to 4281f51749b2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51931 Run local_engine.json builds in prod
  .ci.yaml
  ci/builders/local_engine.json
  shell/platform/android/BUILD.gn
  testing/android/native_activity/native_activity_apk.py
Labels: platform-android

#51914 [CP][Impeller] Enable logging a warning when the user opts out of using Impeller. (#51849)
  common/settings.h
  shell/common/shell.cc
  shell/common/shell_unittests.cc
  shell/platform/darwin/ios/framework/Source/FlutterDartProject.mm
  shell/platform/darwin/ios/framework/Source/FlutterDartProjectTest.mm
Labels: platform-ios, autosubmit, cp: review

#51972 Roll Fuchsia Linux SDK from RNSwTRpc6cfMY99CC... to 82nvjI_UGVS8qYqyH...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#51947 Remove #if SHELL_ENABLE_METAL checks in darwin code
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/ios_context.mm
  shell/platform/darwin/ios/ios_surface.mm
  shell/platform/darwin/ios/rendering_api_selection.mm
  shell/platform/darwin/macos/BUILD.gn
Labels: platform-ios, affects: desktop, platform-macos, autosubmit

#51976 Roll Dart SDK from 28b5735ad7dc to 78174b41ab0f (1 revision)
  DEPS
Labels: autosubmit

#51919 Use Impeller geometry classes in DLMatrixClipTracker
  display_list/benchmarking/dl_transform_benchmarks.cc
  display_list/dl_builder.cc
  display_list/utils/dl_matrix_clip_tracker.cc
  display_list/utils/dl_matrix_clip_tracker.h
  display_list/utils/dl_matrix_clip_tracker_unittests.cc
  flow/layers/transform_layer_unittests.cc
  impeller/entity/entity_unittests.cc
  impeller/geometry/geometry_unittests.cc
  impeller/geometry/matrix.h
  impeller/geometry/matrix_unittests.cc
  impeller/geometry/rect.h
  impeller/geometry/rect_unittests.cc
  impeller/scene/scene_unittests.cc
Labels: e: impeller, autosubmit

#51974 [Impeller] ensure precision is matched between fragment and vertex stage for PowerVR GPU bug
  impeller/entity/shaders/blending/porter_duff_blend.vert
  impeller/entity/shaders/glyph_atlas.vert
  impeller/entity/shaders/position_color.vert
  impeller/entity/shaders/solid_fill.vert
  impeller/entity/shaders/texture_fill.vert
  impeller/tools/malioc.json
Labels: e: impeller, autosubmit

#51980 Roll Dart SDK from 78174b41ab0f to 7a5e410f982e (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#51986 Roll Dart SDK from 7a5e410f982e to db99af14c4bc (1 revision)
  DEPS
Labels: autosubmit

#43101 [macOS] Implement hit testing and handle platform view cursor changes
  shell/platform/darwin/macos/framework/Source/FlutterCompositor.h
  shell/platform/darwin/macos/framework/Source/FlutterCompositor.mm
  shell/platform/darwin/macos/framework/Source/FlutterEngine.mm
  shell/platform/darwin/macos/framework/Source/FlutterMouseCursorPlugin.h
  shell/platform/darwin/macos/framework/Source/FlutterMouseCursorPlugin.mm
  shell/platform/darwin/macos/framework/Source/FlutterMutatorView.h
  shell/platform/darwin/macos/framework/Source/FlutterMutatorView.mm
  shell/platform/darwin/macos/framework/Source/FlutterMutatorViewTest.mm
  shell/platform/darwin/macos/framework/Source/FlutterView.h
  shell/platform/darwin/macos/framework/Source/FlutterView.mm
Labels: affects: desktop, platform-macos

#51991 [skwasm] Reify the SkPicture pointer as the right type.
  lib/web_ui/skwasm/surface.cpp
Labels: platform-web, autosubmit

#51990 Revert "Roll Dart SDK from 78174b41ab0f to 7a5e410f982e (1 revision) (#51980)"
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#51975 better output from engine layer unit test failures
  flow/testing/layer_test.h
Labels: autosubmit

#51992 [Impeller] Remove StC flag.
  impeller/entity/contents/clip_contents.cc
  impeller/entity/contents/clip_contents_unittests.cc
  impeller/entity/contents/color_source_contents.h
  impeller/entity/contents/content_context.h
  impeller/entity/contents/contents.cc
  impeller/entity/contents/filters/gaussian_blur_filter_contents.cc
  impeller/entity/entity_pass.cc
  impeller/entity/entity_pass_clip_stack.cc
  impeller/entity/entity_unittests.cc
  impeller/entity/geometry/fill_path_geometry.cc
  impeller/entity/inline_pass_context.cc
Labels: e: impeller

#51998 Roll Skia from 4281f51749b2 to a86861d21ae1 (23 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#52000 Roll Skia from a86861d21ae1 to 74b0e26886f0 (2 revisions)
  DEPS
Labels: autosubmit

#51999 [Impeller] Remove stencil clipping logic.
  impeller/entity/contents/clip_contents.cc
  impeller/entity/contents/clip_contents.h
Labels: e: impeller

#51676 Try postsubmit_overrides for one mac build
  ci/builders/mac_android_aot_engine.json
Labels: autosubmit

#52007 Roll Skia from 74b0e26886f0 to 45eeeddb0074 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#51995 Update embedder example apps to run with the current engine tree
  examples/glfw/BUILD.gn
  examples/glfw/main.dart
  examples/glfw/run.sh
  examples/glfw_drm/BUILD.gn
  examples/glfw_drm/run.sh
  examples/vulkan_glfw/BUILD.gn
  examples/vulkan_glfw/run.sh
Labels: autosubmit

#52009 Roll Fuchsia Linux SDK from 82nvjI_UGVS8qYqyH... to imlnJ68ZziH-Lp2xk...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#52010 Roll Skia from 45eeeddb0074 to 3e3f28d64b2b (1 revision)
  DEPS
Labels: autosubmit

#52008 [Impeller] Use type safe masks for HardwareBufferUsage.
  impeller/toolkit/android/hardware_buffer.cc
  impeller/toolkit/android/hardware_buffer.h
Labels: e: impeller, autosubmit

#52011 Roll Skia from 3e3f28d64b2b to 14dd5528b318 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52001 [Impeller] NumberNear implements precision-based comparisons
  impeller/geometry/geometry_asserts.h
  impeller/geometry/geometry_unittests.cc
  impeller/geometry/rect_unittests.cc
  impeller/scene/importer/importer_unittests.cc
  impeller/tessellator/tessellator_unittests.cc
Labels: e: impeller, autosubmit

#51385 Add postsubmit overrides for mac builders.
  ci/builders/README.md
Labels: autosubmit

#52013 Add buildtools as an excluded root directory in header_filter_regex_text on the 3.19 release branch
  tools/clang_tidy/test/header_filter_regex_test.dart
Labels: autosubmit

#52014 Roll Skia from 14dd5528b318 to 1ea5f3cd71cb (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52015 Roll Skia from 1ea5f3cd71cb to 89db27b5acb8 (2 revisions)
  DEPS
Labels: autosubmit

#52016 Roll Skia from 89db27b5acb8 to 2135d686708b (1 revision)
  DEPS
Labels: autosubmit

#52017 Roll Skia from 2135d686708b to df6d08abb447 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52020 Roll Dart SDK from 78174b41ab0f to 393a24d37b39 (8 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#52025 [Android] post image task to main handler.
  shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
Labels: platform-android, autosubmit

#52026 Roll Skia from df6d08abb447 to 91e0c0f4bf41 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52033 Add additional dependencies to const_finder's pubspec.yaml
  tools/const_finder/pubspec.yaml
Labels: autosubmit
