Repository flutter/engine, pull requests merged in 2024-12, with the labels that each got.

#56814 Roll Skia from f149f852c70a to dd70c8e1c38f (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: will affect goldens, autosubmit

#56889 Roll Fuchsia Linux SDK from pc49rc4B22IXqigQ-... to j424tGVlulTUzBtPj...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#56851 Sped up SubpixelGlyph::Equal
  impeller/typographer/font_glyph_pair.h
Labels: e: impeller

#56897 Roll Dart SDK from 5785058c9bb1 to 46630dbefbbd (12 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#56898 Roll Skia from dd70c8e1c38f to d7751d3d6ff4 (36 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#56844 [impeller] makes UniformBindData 15% faster and adds unit test
  ci/licenses_golden/excluded_files
  impeller/renderer/backend/gles/BUILD.gn
  impeller/renderer/backend/gles/buffer_bindings_gles.cc
  impeller/renderer/backend/gles/buffer_bindings_gles.h
  impeller/renderer/backend/gles/buffer_bindings_gles_unittests.cc
  impeller/renderer/backend/gles/render_pass_gles.cc
  impeller/renderer/backend/gles/test/mock_gles.cc
Labels: e: impeller, autosubmit

#56824 Replace outdated wiki URLs in pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: autosubmit

#56268 [ci] use env for format and support arm64 hosts
  ci/bin/format.dart
  ci/format.sh
Labels: autosubmit

#56901 Roll Skia from d7751d3d6ff4 to 2c4ce1d953ba (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#56862 Fix linux on vivante drivers.
  shell/platform/linux/fl_renderer.cc
Labels: affects: desktop, platform-linux, autosubmit

#56904 Roll Skia from 2c4ce1d953ba to ac934b9e9df9 (1 revision)
  DEPS
Labels: autosubmit

#56856 Always check for errors when propagating task values.
  shell/platform/linux/fl_basic_message_channel.cc
  shell/platform/linux/fl_binary_messenger.cc
  shell/platform/linux/fl_method_channel.cc
Labels: affects: desktop, platform-linux, autosubmit

#56842 Reland "[iOS] Full keyboard access scrolling (#56606)"
  lib/ui/semantics.dart
  lib/ui/semantics/semantics_node.h
  lib/web_ui/lib/semantics.dart
  lib/web_ui/test/engine/semantics/semantics_api_test.dart
  shell/platform/android/io/flutter/view/AccessibilityBridge.java
  shell/platform/darwin/ios/framework/Source/FlutterSemanticsScrollView.h
  shell/platform/darwin/ios/framework/Source/FlutterSemanticsScrollView.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObject+UIFocusSystem.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObject.h
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTestMocks.h
  shell/platform/embedder/embedder.h
  shell/platform/fuchsia/flutter/accessibility_bridge.cc
  testing/dart/semantics_test.dart
Labels: platform-ios, platform-android, platform-web, platform-fuchsia, autosubmit

#56907 Roll Dart SDK from 46630dbefbbd to c579d193341d (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#56908 Roll Skia from ac934b9e9df9 to 3db026d62805 (2 revisions)
  DEPS
Labels: autosubmit

#56866 Fix GTask reference counting
  shell/platform/linux/fl_basic_message_channel.cc
  shell/platform/linux/fl_binary_messenger.cc
  shell/platform/linux/fl_method_channel.cc
Labels: affects: desktop, platform-linux

#56909 Manual roll Dart SDK from c579d193341d to 61bfa9bbb91d (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#56902 [Impeller] set GLES viewport once, remove extra unbind/validation.
  impeller/renderer/backend/gles/render_pass_gles.cc
  impeller/renderer/render_pass.cc
Labels: e: impeller, autosubmit

#56847 Moved font glyph atlas to flat_hash_map
  impeller/typographer/BUILD.gn
  impeller/typographer/font_glyph_pair.h
  impeller/typographer/glyph_atlas.cc
  impeller/typographer/glyph_atlas.h
Labels: e: impeller, autosubmit

#56917 Roll Skia from 3db026d62805 to d6d1feba94d9 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#56918 Roll Skia from d6d1feba94d9 to 8dc8bdc364f5 (1 revision)
  DEPS
Labels: autosubmit

#56921 Roll Fuchsia Linux SDK from j424tGVlulTUzBtPj... to CCKZcL47N_2_vxAtS...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#56925 [Impeller] invalidate cached atlas data, take 2.
  impeller/typographer/backends/skia/typographer_context_skia.cc
  impeller/typographer/text_frame.cc
  impeller/typographer/text_frame.h
  impeller/typographer/typographer_unittests.cc
Labels: e: impeller, autosubmit

#56914 Add tests for errors encoding message channel request and method calls.
  shell/platform/linux/fl_basic_message_channel.cc
  shell/platform/linux/fl_basic_message_channel_test.cc
  shell/platform/linux/fl_method_channel.cc
  shell/platform/linux/fl_method_channel_test.cc
Labels: affects: desktop, platform-linux

#56715 [Android] Save back handling state in Activity/Fragment bundle
  shell/platform/android/io/flutter/embedding/android/FlutterActivity.java
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/io/flutter/embedding/android/FlutterFragment.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterActivityTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterAndroidComponentTest.java
  shell/platform/android/test/io/flutter/embedding/android/FlutterFragmentActivityTest.java
Labels: platform-android, autosubmit

#56929 Remove unused constant
  shell/platform/linux/fl_key_embedder_responder.h
Labels: affects: desktop, platform-linux

#56931 Roll Skia from e02d856f86fb to 4ad05fb042c5 (1 revision)
  DEPS
Labels: autosubmit

#56933 Roll Skia from 4ad05fb042c5 to c9647f13cded (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#56915 Manual roll dart to 470117150f34d712ee6d8c4558b3c656d973f656
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_dart
  third_party/.gitignore
  third_party/boringssl/BUILD.gn
  tools/gn
Labels: autosubmit

#56829 [Impeller] avoid heap allocation in RenderTarget object.
  impeller/display_list/canvas.cc
  impeller/entity/entity_pass_target.cc
  impeller/entity/entity_pass_target_unittests.cc
  impeller/entity/inline_pass_context.cc
  impeller/entity/render_target_cache.cc
  impeller/entity/render_target_cache_unittests.cc
  impeller/playground/playground.cc
  impeller/renderer/backend/gles/render_pass_gles.cc
  impeller/renderer/backend/gles/test/surface_gles_unittests.cc
  impeller/renderer/backend/metal/render_pass_mtl.mm
  impeller/renderer/backend/vulkan/context_vk.cc
  impeller/renderer/backend/vulkan/render_pass_builder_vk.cc
  impeller/renderer/backend/vulkan/render_pass_builder_vk.h
  impeller/renderer/backend/vulkan/render_pass_builder_vk_unittests.cc
  impeller/renderer/backend/vulkan/render_pass_cache_unittests.cc
  impeller/renderer/backend/vulkan/render_pass_vk.cc
  impeller/renderer/backend/vulkan/test/swapchain_unittests.cc
  impeller/renderer/render_target.cc
  impeller/renderer/render_target.h
  impeller/renderer/renderer_unittests.cc
  lib/gpu/render_pass.cc
Labels: e: impeller, autosubmit

#56939 Manual roll Dart SDK from 470117150f34 to a2a9428e761f (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#56900 [web] Start with a smaller memory allocation for CanvasKit
  skia/modules/canvaskit/BUILD.gn
Labels: platform-web, autosubmit

#56913 Remove LSAN supressions for Linux embedder
  shell/platform/linux/fl_basic_message_channel_test.cc
  shell/platform/linux/fl_key_event_channel.cc
  testing/lsan_suppressions.txt
Labels: affects: desktop, platform-linux

#56944 [Impeller] remove extra validation checks in GLES backend.
  impeller/renderer/backend/gles/render_pass_gles.cc
Labels: e: impeller, autosubmit

#56953 Roll Fuchsia Test Scripts from VilXq4eGH5A24wRWA... to r9Dc5VRF6sE3pJH20...
  DEPS
Labels: autosubmit

#56948 Implements the naming of untracked gles handles
  impeller/renderer/backend/gles/proc_table_gles.cc
  impeller/renderer/backend/gles/proc_table_gles.h
  impeller/renderer/backend/gles/reactor_gles.cc
  impeller/renderer/backend/gles/test/mock_gles.cc
  impeller/renderer/backend/gles/test/reactor_unittests.cc
Labels: e: impeller, autosubmit

#56943 [Impeller] avoid re-binding winding order and cull mode.
  impeller/renderer/backend/gles/render_pass_gles.cc
Labels: e: impeller, autosubmit

#56910 [Impeller] store GLES bindings on render pass w/ offsets instead of per-command.
  impeller/entity/BUILD.gn
  impeller/entity/contents/runtime_effect_contents.cc
  impeller/entity/contents/runtime_effect_contents.h
  impeller/entity/contents/test/contents_test_helpers.cc
  impeller/entity/contents/test/contents_test_helpers.h
  impeller/entity/contents/test/recording_render_pass.cc
  impeller/entity/entity_unittests.cc
  impeller/renderer/backend/gles/buffer_bindings_gles.cc
  impeller/renderer/backend/gles/buffer_bindings_gles.h
  impeller/renderer/backend/gles/buffer_bindings_gles_unittests.cc
  impeller/renderer/backend/gles/render_pass_gles.cc
  impeller/renderer/backend/metal/render_pass_mtl.h
  impeller/renderer/backend/vulkan/render_pass_vk.h
  impeller/renderer/command.cc
  impeller/renderer/command.h
  impeller/renderer/render_pass.cc
  impeller/renderer/render_pass.h
  lib/gpu/render_pass.cc
  lib/gpu/render_pass.h
Labels: e: impeller, autosubmit

#56928 Drop APNG frames that don't fit entirely within the destination surface.
  lib/ui/fixtures/out_of_bounds.apng
  lib/ui/painting/image_decoder_no_gl_unittests.cc
  lib/ui/painting/image_generator_apng.cc
  testing/dart/codec_test.dart
Labels: affects: engine, autosubmit

#56949 [web] Use `eventTarget` when computing pointer offset
  lib/web_ui/lib/src/engine/pointer_binding/event_position_helper.dart
  lib/web_ui/test/engine/pointer_binding/event_position_helper_test.dart
Labels: platform-web, autosubmit

#56955 Moved gles pipelines to untracked handles.
  ci/licenses_golden/excluded_files
  impeller/renderer/backend/gles/BUILD.gn
  impeller/renderer/backend/gles/pipeline_library_gles.cc
  impeller/renderer/backend/gles/unique_handle_gles.cc
  impeller/renderer/backend/gles/unique_handle_gles.h
  impeller/renderer/backend/gles/unique_handle_gles_unittests.cc
Labels: e: impeller, autosubmit

#56960 [Impeller] create a 300 es variant of all GLES shaders to support UBO binding.
  impeller/compiler/compiler.cc
  impeller/compiler/impellerc_main.cc
  impeller/compiler/reflector.cc
  impeller/compiler/runtime_stage_data.cc
  impeller/compiler/switches.cc
  impeller/compiler/types.cc
  impeller/compiler/types.h
  impeller/core/runtime_types.h
  impeller/renderer/backend/gles/buffer_bindings_gles.cc
  impeller/renderer/backend/gles/buffer_bindings_gles.h
  impeller/renderer/backend/gles/context_gles.cc
  impeller/renderer/backend/gles/context_gles.h
  impeller/renderer/backend/gles/device_buffer_gles.cc
  impeller/renderer/backend/gles/device_buffer_gles.h
  impeller/renderer/backend/gles/proc_table_gles.cc
  impeller/renderer/backend/gles/proc_table_gles.h
  impeller/renderer/backend/gles/shader_library_gles.cc
  impeller/renderer/backend/metal/context_mtl.h
  impeller/renderer/backend/metal/context_mtl.mm
  impeller/renderer/backend/vulkan/context_vk.cc
  impeller/renderer/backend/vulkan/context_vk.h
  impeller/renderer/backend/vulkan/surface_context_vk.cc
  impeller/renderer/backend/vulkan/surface_context_vk.h
  impeller/renderer/context.h
  impeller/renderer/testing/mocks.h
  impeller/runtime_stage/runtime_stage.cc
  impeller/runtime_stage/runtime_stage_types.fbs
  impeller/tools/compiler.gni
  impeller/tools/shaders.gni
  impeller/tools/shaders_gles.gni
  lib/ui/painting/fragment_program.cc
  lib/ui/painting/image_decoder_unittests.cc
  shell/common/shell.cc
  shell/common/shell_unittests.cc
  shell/platform/android/android_context_gl_impeller.cc
  shell/platform/android/android_context_gl_unittests.cc
Labels: platform-android, e: impeller, autosubmit

#56981 Removes ReactorGLES::Ref
  impeller/renderer/backend/gles/allocator_gles.cc
  impeller/renderer/backend/gles/allocator_gles.h
  impeller/renderer/backend/gles/blit_pass_gles.cc
  impeller/renderer/backend/gles/blit_pass_gles.h
  impeller/renderer/backend/gles/command_buffer_gles.cc
  impeller/renderer/backend/gles/command_buffer_gles.h
  impeller/renderer/backend/gles/context_gles.cc
  impeller/renderer/backend/gles/context_gles.h
  impeller/renderer/backend/gles/device_buffer_gles.cc
  impeller/renderer/backend/gles/device_buffer_gles.h
  impeller/renderer/backend/gles/pipeline_gles.cc
  impeller/renderer/backend/gles/pipeline_gles.h
  impeller/renderer/backend/gles/pipeline_library_gles.cc
  impeller/renderer/backend/gles/pipeline_library_gles.h
  impeller/renderer/backend/gles/reactor_gles.h
  impeller/renderer/backend/gles/render_pass_gles.cc
  impeller/renderer/backend/gles/render_pass_gles.h
  impeller/renderer/backend/gles/texture_gles.cc
  impeller/renderer/backend/gles/texture_gles.h
  impeller/renderer/backend/gles/unique_handle_gles.cc
  impeller/renderer/backend/gles/unique_handle_gles.h
Labels: e: impeller, autosubmit

#56936 [DisplayList] Disable group opacity when a RuntimeEffect is in use
  display_list/display_list_unittests.cc
  display_list/dl_builder.cc
  display_list/dl_builder.h
  display_list/dl_paint.h
  display_list/dl_paint_unittests.cc
Labels: autosubmit

#56987 Configure Page Width
  analysis_options.yaml
Labels: autosubmit

#56988 Roll Fuchsia Linux SDK from CCKZcL47N_2_vxAtS... to DDdLABVLcqOv_axv-...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#56989 Bump Dart SDK to 3.7
  ci/pubspec.yaml
  flutter_frontend_server/pubspec.yaml
  impeller/tessellator/dart/pubspec.yaml
  lib/gpu/pubspec.yaml
  lib/snapshot/pubspec.yaml
  lib/web_ui/pubspec.yaml
  pubspec.yaml
  shell/platform/fuchsia/dart-pkg/fuchsia/pubspec.yaml
  shell/platform/fuchsia/dart-pkg/zircon/pubspec.yaml
  shell/platform/fuchsia/dart-pkg/zircon_ffi/pubspec.yaml
  shell/platform/fuchsia/dart_runner/embedder/pubspec.yaml
  shell/platform/fuchsia/dart_runner/vmservice/pubspec.yaml
  shell/platform/fuchsia/flutter/kernel/pubspec.yaml
  shell/platform/fuchsia/flutter/tests/integration/embedder/child-view/pubspec.yaml
  shell/platform/fuchsia/flutter/tests/integration/embedder/parent-view/pubspec.yaml
  shell/platform/fuchsia/flutter/tests/integration/mouse-input/mouse-input-view/pubspec.yaml
  shell/platform/fuchsia/flutter/tests/integration/text-input/text-input-view/pubspec.yaml
  shell/platform/fuchsia/flutter/tests/integration/touch-input/embedding-flutter-view/pubspec.yaml
  shell/platform/fuchsia/flutter/tests/integration/touch-input/touch-input-view/pubspec.yaml
  shell/platform/fuchsia/runtime/dart/profiler_symbols/pubspec.yaml
  shell/vmservice/pubspec.yaml
  sky/packages/sky_engine/pubspec.yaml
  testing/benchmark/pubspec.yaml
  testing/dart/pubspec.yaml
  testing/scenario_app/pubspec.yaml
  testing/skia_gold_client/pubspec.yaml
  testing/smoke_test_failure/pubspec.yaml
  testing/symbols/pubspec.yaml
  third_party/web_locale_keymap/pubspec.yaml
  third_party/web_test_fonts/pubspec.yaml
  third_party/web_unicode/pubspec.yaml
  tools/android_lint/pubspec.yaml
  tools/api_check/pubspec.yaml
  tools/build_bucket_golden_scraper/pubspec.yaml
  tools/clang_tidy/pubspec.yaml
  tools/clangd_check/pubspec.yaml
  tools/compare_goldens/pubspec.yaml
  tools/const_finder/pubspec.yaml
  tools/dir_contents_diff/pubspec.yaml
  tools/engine_tool/pubspec.yaml
  tools/gen_web_locale_keymap/pubspec.yaml
  tools/githooks/pubspec.yaml
  tools/golden_tests_harvester/pubspec.yaml
  tools/header_guard_check/pubspec.yaml
  tools/licenses/pubspec.yaml
  tools/path_ops/dart/pubspec.yaml
  tools/pkg/engine_build_configs/pubspec.yaml
  tools/pkg/engine_repo_tools/pubspec.yaml
  tools/pkg/git_repo_tools/pubspec.yaml
  tools/pkg/process_fakes/pubspec.yaml
  web_sdk/pubspec.yaml
  web_sdk/web_engine_tester/pubspec.yaml
  web_sdk/web_test_utils/pubspec.yaml
Labels: platform-web, platform-fuchsia, e: impeller, autosubmit

#56998 Roll Dart SDK from 56bbedca60f9 to d7903a0fedc5 (2 revisions)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#57006 Roll Dart SDK from d7903a0fedc5 to 9c9a333c496c (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#56997 [Impeller] Require the GLES multisampled_render_to_texture2 extension for offscreen MSAA
  impeller/renderer/backend/gles/capabilities_gles.cc
  impeller/renderer/backend/gles/test/capabilities_unittests.cc
Labels: e: impeller, autosubmit

#56995 Replaces bespoke call captures from mock gles with gmock
  impeller/renderer/backend/gles/buffer_bindings_gles_unittests.cc
  impeller/renderer/backend/gles/test/capabilities_unittests.cc
  impeller/renderer/backend/gles/test/gpu_tracer_gles_unittests.cc
  impeller/renderer/backend/gles/test/mock_gles.cc
  impeller/renderer/backend/gles/test/mock_gles.h
  impeller/renderer/backend/gles/test/mock_gles_unittests.cc
  impeller/renderer/backend/gles/test/reactor_unittests.cc
  impeller/renderer/backend/gles/unique_handle_gles_unittests.cc
Labels: e: impeller

#57013 Roll Dart SDK from 9c9a333c496c to 67ce49b905f7 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#56952 iOS: add null check on create impeller context
  shell/platform/darwin/graphics/FlutterDarwinContextMetalImpeller.mm
Labels: autosubmit

#57023 Roll Skia from c9647f13cded to 0d94e966268b (36 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#57019 Reland: Replaces bespoke call captures from mock gles with gmock
  impeller/renderer/backend/gles/buffer_bindings_gles_unittests.cc
  impeller/renderer/backend/gles/test/capabilities_unittests.cc
  impeller/renderer/backend/gles/test/gpu_tracer_gles_unittests.cc
  impeller/renderer/backend/gles/test/mock_gles.cc
  impeller/renderer/backend/gles/test/mock_gles.h
  impeller/renderer/backend/gles/test/mock_gles_unittests.cc
  impeller/renderer/backend/gles/test/reactor_unittests.cc
  impeller/renderer/backend/gles/unique_handle_gles_unittests.cc
Labels: e: impeller, autosubmit

#56804 [ios][platform_view] workaround for non-tappable webview
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
Labels: platform-ios, autosubmit

#57020 [Impeller] Add keep alive for 4 frames in render target cache.
  impeller/entity/render_target_cache.cc
  impeller/entity/render_target_cache.h
  impeller/entity/render_target_cache_unittests.cc
Labels: e: impeller, autosubmit

#56991 [Impeller] store vertex buffers in render pass for gles.
  impeller/entity/contents/test/recording_render_pass.cc
  impeller/renderer/backend/gles/render_pass_gles.cc
  impeller/renderer/command.cc
  impeller/renderer/command.h
  impeller/renderer/render_pass.cc
  impeller/renderer/render_pass.h
Labels: e: impeller, autosubmit

#57024 Roll Skia from 0d94e966268b to c9e9ce277b80 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#57025 Cover offset+bounds wrapping in the APNG frame region check.
  lib/ui/fixtures/out_of_bounds_wrapping.apng
  lib/ui/painting/image_generator_apng.cc
  testing/dart/codec_test.dart
Labels: affects: engine, autosubmit

#56589 [CP][iOS] fix tracking of prev platform view items.
  shell/platform/darwin/ios/framework/Source/platform_views_controller.mm
Labels: platform-ios, autosubmit

#57028 Roll Fuchsia Linux SDK from DDdLABVLcqOv_axv-... to __h1RRphItwU5H0tL...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#57033 Roll Skia from c9e9ce277b80 to b37f1430f87a (1 revision)
  DEPS
Labels: autosubmit

#57037 Roll Dart SDK from 67ce49b905f7 to 838ed940b056 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#57038 Roll Dart SDK from 838ed940b056 to c7e47c6c5df6 (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#57039 Roll Skia from b37f1430f87a to d1e261ca7f6f (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#57042 Roll Skia from d1e261ca7f6f to 76c51c6e13df (3 revisions)
  DEPS
Labels: autosubmit

#57050 Roll Fuchsia Linux SDK from __h1RRphItwU5H0tL... to BFJjwUVtBDA2mqqpH...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#57052 Roll Skia from 76c51c6e13df to 96b018c1088a (2 revisions)
  DEPS
Labels: autosubmit

#56956 Cleanup refactoring in FlKeyboardManager
  shell/platform/linux/fl_keyboard_manager.cc
  shell/platform/linux/fl_keyboard_pending_event.cc
  shell/platform/linux/fl_keyboard_pending_event.h
Labels: affects: desktop, platform-linux

#57055 Roll Skia from 96b018c1088a to c80d6609b95b (1 revision)
  DEPS
Labels: autosubmit

#57056 Roll Skia from c80d6609b95b to ac432c094232 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#57057 Roll Skia from ac432c094232 to 477c83cf10f8 (1 revision)
  DEPS
Labels: autosubmit

#57059 Roll Skia from 477c83cf10f8 to 0971c208bb9f (1 revision)
  DEPS
Labels: autosubmit

#57060 Roll Dart SDK from c7e47c6c5df6 to 264c0c6f5894 (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#57061 Roll Skia from 0971c208bb9f to afa77852dcde (1 revision)
  DEPS
Labels: autosubmit

#57063 Roll Skia from afa77852dcde to e78dd0265002 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#57066 Roll Dart SDK from 264c0c6f5894 to 9694974b6d41 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#57018 [Impeller] use ES3 extension for external images.
  impeller/compiler/compiler.cc
Labels: e: impeller, autosubmit

#57062 [CP-beta] Drop APNG frames that don't fit entirely within the destination surface.
  lib/ui/fixtures/out_of_bounds.apng
  lib/ui/fixtures/out_of_bounds_wrapping.apng
  lib/ui/painting/image_decoder_no_gl_unittests.cc
  lib/ui/painting/image_generator_apng.cc
  testing/dart/codec_test.dart
Labels: autosubmit, cp: review

#56959 Make fl_key_channel_responder_handle_event async
  shell/platform/linux/fl_key_channel_responder.cc
  shell/platform/linux/fl_key_channel_responder.h
  shell/platform/linux/fl_key_channel_responder_test.cc
  shell/platform/linux/fl_keyboard_manager.cc
Labels: affects: desktop, platform-linux

#57068 Roll Skia to 14f8f6d984ff
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_skia
  skia/BUILD.gn
  tools/gn
Labels: autosubmit

#57069 [Impeller] disable all Adrenos older than 630
  impeller/renderer/backend/vulkan/driver_info_vk.cc
  impeller/renderer/backend/vulkan/driver_info_vk_unittests.cc
Labels: e: impeller, autosubmit

#57034 [CP-beta][MANUAL][ios][platform_view] workaround for non-tappable webview #57030
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.mm
Labels: platform-ios, autosubmit

#57035 [flutter_releases] Flutter stable 3.27.0 Engine Cherrypicks
  DEPS
Labels: autosubmit

#57073 Roll Skia from 14f8f6d984ff to 3a58be4817a8 (3 revisions)
  DEPS
Labels: autosubmit

#57021 moved device buffer to an untracked handle
  ci/licenses_golden/excluded_files
  impeller/renderer/backend/gles/BUILD.gn
  impeller/renderer/backend/gles/device_buffer_gles.cc
  impeller/renderer/backend/gles/device_buffer_gles.h
  impeller/renderer/backend/gles/device_buffer_gles_unittests.cc
  impeller/renderer/backend/gles/test/mock_gles.cc
  impeller/renderer/backend/gles/test/mock_gles.h
Labels: e: impeller, autosubmit

#57043 [Impeller] simplify render target size rounding up heuristics.
  impeller/entity/save_layer_utils.cc
  impeller/entity/save_layer_utils_unittests.cc
Labels: will affect goldens, e: impeller, autosubmit

#57082 Roll Skia from 3a58be4817a8 to e11d70745224 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#57084 Roll Skia from e11d70745224 to 949557697922 (1 revision)
  DEPS
Labels: autosubmit

#57087 Roll Skia from 949557697922 to bd7d952398d5 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#57090 Roll Fuchsia Linux SDK from tVShMDVFeKJFcDFHJ... to 5taAI9-tnFN84ZJvr...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#56905 [cp:beta][web] Work around wrong pointerId in coalesced events in iOS Safari 18.2 (#56719)
  lib/web_ui/lib/src/engine/pointer_binding.dart
  lib/web_ui/lib/src/engine/pointer_binding/event_position_helper.dart
  lib/web_ui/test/engine/pointer_binding_test.dart
Labels: platform-web, autosubmit

#56818 [engine] Migrate fuchsia.io Open functions to Open3
  shell/platform/fuchsia/dart-pkg/zircon/sdk_ext/system.cc
  shell/platform/fuchsia/dart_runner/dart_component_controller.cc
  shell/platform/fuchsia/flutter/component_v2.cc
  shell/platform/fuchsia/flutter/file_in_namespace_buffer.cc
  shell/platform/fuchsia/runtime/dart/utils/mapped_resource.cc
  shell/platform/fuchsia/runtime/dart/utils/vmo.cc
  shell/platform/fuchsia/runtime/dart/utils/vmservice_object.h
Labels: platform-fuchsia, autosubmit

#57098 Roll Skia from bd7d952398d5 to d541f1aa0c9b (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#57054 Clean up key embedder responder tests
  shell/platform/linux/fl_key_embedder_responder_test.cc
Labels: affects: desktop, platform-linux

#57104 Roll Dart SDK from dd92932823d1 to f863f0b43625 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#57106 Roll Skia from d541f1aa0c9b to e4d2c3dbb848 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#57075 Add support for dart formatter
  ci/bin/format.dart
  ci/test/format_test.dart
Labels: autosubmit

#57111 Roll Skia from e4d2c3dbb848 to 854eb19c722e (1 revision)
  DEPS
Labels: autosubmit

#57114 Roll Skia from 854eb19c722e to b2f13d9a5678 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#57118 Roll Skia from b2f13d9a5678 to 830bc24e0b98 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#57119 Roll Dart SDK from d87b2f6d2b03 to 4789a86f4d3f (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#57122 Roll Skia from 830bc24e0b98 to 79a7b95e32fe (2 revisions)
  DEPS
Labels: autosubmit

#57124 Roll Dart SDK from 4789a86f4d3f to be9c98daf9df (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#57102 Dispose pictures created in HtmlViewEmbedder.submitFrame
  lib/web_ui/lib/src/engine/canvaskit/embedded_views.dart
  lib/web_ui/test/canvaskit/embedded_views_test.dart
Labels: platform-web, autosubmit

#57125 Roll Fuchsia Linux SDK from 5taAI9-tnFN84ZJvr... to HJ57Y3zxqDamI8qkY...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#57126 [flutter_releases] Flutter beta 3.28.0-0.1.pre Engine Cherrypicks
  DEPS
Labels: autosubmit

#57094 [Impeller] set UniformBlockBinding once.
  impeller/renderer/backend/gles/buffer_bindings_gles.cc
Labels: e: impeller, autosubmit

#57130 [Impeller] avoid expensive texture labeling w/ no validation layers.
  impeller/renderer/backend/vulkan/texture_vk.cc
  impeller/renderer/backend/vulkan/texture_vk.h
Labels: e: impeller, autosubmit

#57031 [engine] changes to DlVertices::Builder and Stopwatch visualizer.
  display_list/dl_vertices.cc
  display_list/dl_vertices.h
  flow/layers/performance_overlay_layer.cc
  flow/layers/performance_overlay_layer.h
  flow/layers/performance_overlay_layer_unittests.cc
  flow/stopwatch.h
  flow/stopwatch_dl.cc
  flow/stopwatch_dl.h
  flow/stopwatch_dl_unittests.cc
  flow/stopwatch_sk.cc
  flow/stopwatch_sk.h
  shell/common/shell.cc
  shell/common/shell.h
Labels: autosubmit

#57109 Make Felt unzip Chrome into a temporary directory next to the final location of the files
  lib/web_ui/dev/chrome_installer.dart
Labels: platform-web, autosubmit

#57136 Roll Dart SDK from be9c98daf9df to aa03dca5beb2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#57132 [Impeller] remove std::vector usage in render pass vk.
  impeller/renderer/backend/vulkan/render_pass_builder_vk.cc
  impeller/renderer/backend/vulkan/render_pass_builder_vk.h
  impeller/renderer/backend/vulkan/render_pass_vk.cc
Labels: e: impeller, autosubmit

#57134 Manual Skia roll from 79a7b95e32fe to 0aec6f7bfbc8
  DEPS
  ci/licenses_golden/licenses_skia
  display_list/skia/dl_sk_conversions_unittests.cc
  impeller/renderer/backend/gles/test/reactor_unittests.cc
Labels: e: impeller, autosubmit

#57113 Cast ::GetLastError to int
  shell/platform/windows/platform_handler.cc
Labels: affects: desktop, platform-windows

#57149 Roll Dart SDK from aa03dca5beb2 to 96022397c58d (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#57155 Roll Dart SDK from 96022397c58d to 70062c353404 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#57159 Roll Dart SDK from 70062c353404 to 770ff2b085fc (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#57147 [Impeller] Fix a race in the ReactorGLES.PerThreadOperationQueues test
  impeller/renderer/backend/gles/test/reactor_unittests.cc
Labels: e: impeller, autosubmit

#57161 Roll Dart SDK from 770ff2b085fc to 02aa27c6a075 (1 revision)
  DEPS
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#57151 iOS: Reduce engine/view controller coupling
  shell/platform/darwin/ios/framework/Source/FlutterAppDelegate.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngine.mm
  shell/platform/darwin/ios/framework/Source/FlutterEnginePlatformViewTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngineTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterEngine_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterEngine_Test.h
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewController.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
  shell/platform/darwin/ios/platform_view_ios.h
Labels: platform-ios, autosubmit

#54786 [web] Use CanvasKit to run tests under engine/
  ci/builders/linux_web_engine.json
  lib/web_ui/dev/test_platform.dart
  lib/web_ui/test/canvaskit/semantics_test.dart
  lib/web_ui/test/common/test_initialization.dart
  lib/web_ui/test/engine/clipboard_test.dart
  lib/web_ui/test/engine/composition_test.dart
  lib/web_ui/test/engine/dom_http_fetch_test.dart
  lib/web_ui/test/engine/history_test.dart
  lib/web_ui/test/engine/image_format_detector_test.dart
  lib/web_ui/test/engine/image_to_byte_data_test.dart
  lib/web_ui/test/engine/initialization_test.dart
  lib/web_ui/test/engine/navigation_test.dart
  lib/web_ui/test/engine/platform_dispatcher/platform_dispatcher_test.dart
  lib/web_ui/test/engine/platform_views/content_manager_test.dart
  lib/web_ui/test/engine/routing_test.dart
  lib/web_ui/test/engine/scene_view_test.dart
  lib/web_ui/test/engine/semantics/semantics_auto_enable_test.dart
  lib/web_ui/test/engine/semantics/semantics_multi_view_test.dart
  lib/web_ui/test/engine/semantics/semantics_placeholder_enable_test.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
  lib/web_ui/test/engine/semantics/semantics_text_test.dart
  lib/web_ui/test/engine/semantics/text_field_test.dart
  lib/web_ui/test/engine/surface/platform_view_test.dart
  lib/web_ui/test/engine/text_editing_test.dart
  lib/web_ui/test/engine/window_test.dart
  lib/web_ui/test/felt_config.yaml
  lib/web_ui/test/html/canvas_test.dart
  lib/web_ui/test/html/image/html_image_element_codec_test.dart
  lib/web_ui/test/html/image/sample_image1.png
  lib/web_ui/test/html/recording_canvas_test.dart
  lib/web_ui/test/html/surface/path/path_iterator_test.dart
  lib/web_ui/test/html/surface/path/path_winding_test.dart
  lib/web_ui/test/html/surface/platform_view_test.dart
  lib/web_ui/test/html/surface/scene_builder_test.dart
  lib/web_ui/test/html/surface/shaders/normalized_gradient_test.dart
  lib/web_ui/test/html/surface/shaders/shader_builder_test.dart
  lib/web_ui/test/html/surface/surface_test.dart
Labels: platform-web, autosubmit

#57115 Migrate FlBasicMessageChannel tests to FlMockBinaryMessenger
  shell/platform/linux/fl_basic_message_channel_test.cc
  shell/platform/linux/testing/fl_mock_binary_messenger.cc
  shell/platform/linux/testing/fl_mock_binary_messenger.h
Labels: affects: desktop, platform-linux

#57163 Roll Fuchsia Linux SDK from HJ57Y3zxqDamI8qkY... to iWMEbVYaNdH8RJmXZ...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#57112 Make fl_engine_send_key_event into a standard async function.
  shell/platform/linux/fl_engine.cc
  shell/platform/linux/fl_engine_private.h
  shell/platform/linux/fl_engine_test.cc
  shell/platform/linux/fl_keyboard_manager.cc
Labels: affects: desktop, platform-linux

#57105 [Impeller] dont print format strings for blend filter and snapshots.
  impeller/entity/contents/contents.cc
  impeller/entity/contents/contents.h
  impeller/entity/contents/filters/blend_filter_contents.cc
  impeller/entity/contents/filters/filter_contents.cc
  impeller/entity/contents/filters/filter_contents.h
  impeller/entity/contents/filters/inputs/contents_filter_input.cc
  impeller/entity/contents/filters/inputs/contents_filter_input.h
  impeller/entity/contents/filters/inputs/filter_contents_filter_input.cc
  impeller/entity/contents/filters/inputs/filter_contents_filter_input.h
  impeller/entity/contents/filters/inputs/filter_input.h
  impeller/entity/contents/filters/inputs/placeholder_filter_input.cc
  impeller/entity/contents/filters/inputs/placeholder_filter_input.h
  impeller/entity/contents/filters/inputs/texture_filter_input.cc
  impeller/entity/contents/filters/inputs/texture_filter_input.h
  impeller/entity/contents/texture_contents.cc
  impeller/entity/contents/texture_contents.h
  impeller/entity/contents/tiled_texture_contents.cc
  impeller/entity/contents/tiled_texture_contents.h
Labels: e: impeller, autosubmit

#57160 Reenabled labelling test with a capabilities check.
  impeller/renderer/backend/gles/proc_table_gles.cc
  impeller/renderer/backend/gles/proc_table_gles.h
  impeller/renderer/backend/gles/test/reactor_unittests.cc
Labels: affects: desktop, platform-linux, e: impeller, autosubmit

#57036 [Impeller] exploit perfect hash for SamplerDescriptor.
  impeller/compiler/reflector.cc
  impeller/core/formats.h
  impeller/core/resource_binder.h
  impeller/core/sampler.cc
  impeller/core/sampler.h
  impeller/core/sampler_descriptor.h
  impeller/display_list/canvas.cc
  impeller/display_list/canvas.h
  impeller/entity/contents/atlas_contents.cc
  impeller/entity/contents/filters/blend_filter_contents.cc
  impeller/entity/contents/filters/border_mask_blur_filter_contents.cc
  impeller/entity/contents/filters/color_matrix_filter_contents.cc
  impeller/entity/contents/filters/matrix_filter_contents.cc
  impeller/entity/contents/filters/matrix_filter_contents.h
  impeller/entity/contents/filters/srgb_to_linear_filter_contents.cc
  impeller/entity/contents/filters/yuv_to_rgb_filter_contents.cc
  impeller/entity/contents/framebuffer_blend_contents.cc
  impeller/entity/contents/runtime_effect_contents.cc
  impeller/entity/contents/test/recording_render_pass.cc
  impeller/entity/contents/test/recording_render_pass.h
  impeller/entity/contents/texture_contents.cc
  impeller/entity/contents/texture_contents.h
  impeller/entity/contents/tiled_texture_contents.cc
  impeller/entity/contents/tiled_texture_contents.h
  impeller/entity/contents/vertices_contents.cc
  impeller/entity/contents/vertices_contents.h
  impeller/playground/imgui/imgui_impl_impeller.cc
  impeller/renderer/backend/gles/buffer_bindings_gles.cc
  impeller/renderer/backend/gles/buffer_bindings_gles.h
  impeller/renderer/backend/gles/sampler_gles.cc
  impeller/renderer/backend/gles/sampler_gles.h
  impeller/renderer/backend/gles/sampler_library_gles.cc
  impeller/renderer/backend/gles/sampler_library_gles.h
  impeller/renderer/backend/metal/compute_pass_mtl.h
  impeller/renderer/backend/metal/compute_pass_mtl.mm
  impeller/renderer/backend/metal/render_pass_mtl.h
  impeller/renderer/backend/metal/render_pass_mtl.mm
  impeller/renderer/backend/metal/sampler_library_mtl.h
  impeller/renderer/backend/metal/sampler_library_mtl.mm
  impeller/renderer/backend/metal/sampler_mtl.h
  impeller/renderer/backend/metal/sampler_mtl.mm
  impeller/renderer/backend/vulkan/compute_pass_vk.cc
  impeller/renderer/backend/vulkan/compute_pass_vk.h
  impeller/renderer/backend/vulkan/render_pass_vk.cc
  impeller/renderer/backend/vulkan/render_pass_vk.h
  impeller/renderer/backend/vulkan/sampler_library_vk.cc
  impeller/renderer/backend/vulkan/sampler_library_vk.h
  impeller/renderer/backend/vulkan/sampler_vk.cc
  impeller/renderer/backend/vulkan/sampler_vk.h
  impeller/renderer/backend/vulkan/texture_vk.cc
  impeller/renderer/backend/vulkan/yuv_conversion_vk.cc
  impeller/renderer/command.h
  impeller/renderer/render_pass.cc
  impeller/renderer/render_pass.h
  impeller/renderer/renderer_unittests.cc
  impeller/renderer/sampler_library.h
  impeller/renderer/testing/mocks.h
  lib/gpu/render_pass.cc
Labels: e: impeller, autosubmit

#57162 removed c style casts and enabled the lint
  .clang-tidy
  common/graphics/persistent_cache.cc
  display_list/geometry/dl_region.cc
  engine.code-workspace
  flow/layers/backdrop_filter_layer.cc
  fml/endianness.h
  impeller/display_list/canvas.cc
  impeller/entity/geometry/point_field_geometry.cc
  impeller/entity/geometry/round_superellipse_geometry.cc
  impeller/renderer/backend/gles/handle_gles.h
  impeller/renderer/backend/gles/shader_library_gles.cc
  impeller/renderer/backend/vulkan/debug_report_vk.cc
  impeller/renderer/backend/vulkan/test/mock_vulkan.cc
  impeller/renderer/render_pass.cc
  impeller/toolkit/glvk/trampoline.cc
  impeller/toolkit/interop/impeller_unittests.cc
  impeller/typographer/rectangle_packer.cc
  lib/gpu/render_pass.cc
  runtime/dart_isolate_unittests.cc
  shell/common/base64.cc
  shell/common/base64_unittests.cc
  shell/platform/android/image_external_texture_gl_impeller.cc
  shell/platform/android/image_external_texture_gl_skia.cc
  shell/platform/android/platform_view_android_jni_impl.cc
  shell/platform/common/client_wrapper/include/flutter/event_channel.h
  shell/platform/darwin/common/framework/Source/FlutterStandardCodecHelper.cc
  shell/platform/darwin/ios/framework/Source/FlutterMetalLayerTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/linux/fl_renderer.cc
  shell/platform/linux/fl_value.cc
  shell/platform/linux/testing/fl_mock_binary_messenger.cc
  shell/platform/linux/testing/fl_test_gtk_logs.cc
  tools/font_subset/main.cc
Labels: platform-ios, platform-android, affects: desktop, platform-macos, platform-linux, e: impeller

#57168 [ios]enable the webview non tappable workaround by checking subviews recursively
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
Labels: platform-ios, autosubmit

#57171 Normalize round rect bounds when coming from Flutter
  lib/ui/painting/rrect.cc
Labels: autosubmit

#57175 Migrate DlRTree and DlRegion to DisplayList/Impeller geometry classes
  display_list/benchmarking/dl_builder_benchmarks.cc
  display_list/benchmarking/dl_region_benchmarks.cc
  display_list/display_list.cc
  display_list/display_list.h
  display_list/display_list_unittests.cc
  display_list/dl_builder.cc
  display_list/dl_builder.h
  display_list/dl_vertices.h
  display_list/geometry/dl_geometry_types.h
  display_list/geometry/dl_path.h
  display_list/geometry/dl_region.cc
  display_list/geometry/dl_region.h
  display_list/geometry/dl_region_unittests.cc
  display_list/geometry/dl_rtree.cc
  display_list/geometry/dl_rtree.h
  display_list/geometry/dl_rtree_unittests.cc
  display_list/utils/dl_matrix_clip_tracker.cc
  display_list/utils/dl_matrix_clip_tracker.h
  flow/embedded_views.h
  flow/layers/display_list_layer_unittests.cc
  flow/layers/display_list_raster_cache_item.cc
  flow/raster_cache.cc
  flow/view_slicer.cc
  impeller/geometry/rect.h
  shell/platform/android/surface_texture_external_texture_gl_skia.cc
  shell/platform/darwin/ios/ios_surface_software.mm
  shell/platform/embedder/embedder_external_view_embedder.cc
  shell/platform/embedder/embedder_layers.cc
  shell/platform/embedder/embedder_layers.h
  shell/platform/fuchsia/flutter/rtree.cc
Labels: platform-ios, platform-android, platform-fuchsia, e: impeller, autosubmit

#57183 Roll Skia from 0aec6f7bfbc8 to 8c1e2bf9492c (26 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#57193 [ios]limit web view not tappable workaround to a limited depth
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
Labels: platform-ios, autosubmit

#57170 [web] allow imports to line-break
  lib/web_ui/lib/src/engine/renderer.dart
  web_sdk/sdk_rewriter.dart
  web_sdk/test/js_access_test.dart
  web_sdk/test/sdk_rewriter_test.dart
Labels: platform-web, autosubmit

#57198 Roll Fuchsia Linux SDK from iWMEbVYaNdH8RJmXZ... to iYz_WkWk1uPr8BLSZ...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#57172 [CP][3.27][ios]enable the webview non tappable workaround by checking subviews recursively #57168
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.mm
Labels: platform-ios, autosubmit

#57173 [CP][Android] Disable SurfaceControl based swapchains.
  impeller/renderer/backend/vulkan/swapchain/swapchain_vk.cc
Labels: e: impeller, autosubmit

#57174 Made compilation error colors come through et.
  tools/pkg/engine_build_configs/lib/src/build_config_runner.dart
  tools/pkg/engine_build_configs/test/build_config_runner_test.dart
Labels: autosubmit

#57201 [skwasm] Fix implementation of SkwasmPath.relativeLineTo
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/path.dart
  lib/web_ui/test/ui/path_test.dart
Labels: platform-web, autosubmit

#57100 [CP][Impeller] disable all Adrenos older than 630 (#57069)
  impeller/renderer/backend/vulkan/driver_info_vk.cc
  impeller/renderer/backend/vulkan/driver_info_vk_unittests.cc
Labels: e: impeller, autosubmit

#57195 Delete stale package_config.json in gclient sync hook
  tools/pub_get_offline.py
Labels: autosubmit

#57203 Fix include path in fuchsia's analysis_options.yaml files
  ci/licenses_golden/excluded_files
  shell/platform/fuchsia/dart-pkg/fuchsia/analysis_options.yaml
  shell/platform/fuchsia/dart-pkg/zircon/analysis_options.yaml
  shell/platform/fuchsia/dart_runner/vmservice/analysis_options.yaml
  shell/platform/fuchsia/flutter/kernel/analysis_options.yaml
Labels: platform-web, affects: desktop, platform-macos, platform-windows, platform-fuchsia, e: impeller, autosubmit

#57208 Adjust some ignores for 'dart format'
  lib/ui/hooks.dart
  lib/web_ui/lib/src/engine/services/message_codecs.dart
  lib/web_ui/test/engine/view/view_constraints_test.dart
  testing/dart/image_filter_test.dart
  testing/scenario_app/lib/src/platform_view.dart
  tools/const_finder/test/fixtures/lib/box.dart
Labels: platform-web, autosubmit

#57146 Migrate FlMethodChannel tests to FlMockBinaryMessenger
  shell/platform/linux/fl_method_channel_test.cc
Labels: affects: desktop, platform-linux

#57150 Migrate FlEventChannel tests to FlMockBinaryMessenger
  shell/platform/linux/fl_event_channel_test.cc
  shell/platform/linux/testing/fl_mock_binary_messenger.cc
  shell/platform/linux/testing/fl_mock_binary_messenger.h
  shell/platform/linux/testing/mock_engine.cc
Labels: affects: desktop, platform-linux

#57204 Disable RBE in the GN flags for wasm_release builds in the linux_web_engine builder
  ci/builders/linux_web_engine.json
Labels: autosubmit

#57212 [Impeller] fix Adreno precision issue in gaussian downsample.
  impeller/entity/shaders/downsample.glsl
  impeller/tools/malioc.json
Labels: e: impeller, autosubmit

#57213 [Impeller] disable AHB swapchains on all platforms.
  impeller/renderer/backend/vulkan/swapchain/swapchain_vk.cc
Labels: e: impeller, autosubmit
