Repository flutter/engine, pull requests merged in 2024-05, with the labels that each got.

#52475 Roll Dart SDK from 3f649c97a08c to c88854d4282c (1 revision)
  DEPS
Labels: autosubmit

#52468 [skwasm] Change default `FilterQuality` to `None` for image shaders.
  lib/web_ui/lib/src/engine/skwasm/skwasm_impl/shaders.dart
  lib/web_ui/test/ui/image_golden_test.dart
Labels: platform-web, will affect goldens, autosubmit

#52469 [Impeller] Document the EGL toolkit.
  impeller/toolkit/egl/config.h
  impeller/toolkit/egl/context.h
  impeller/toolkit/egl/display.cc
  impeller/toolkit/egl/display.h
  impeller/toolkit/egl/egl.h
  impeller/toolkit/egl/surface.h
Labels: e: impeller, autosubmit

#52476 Roll Dart SDK from c88854d4282c to d946408c559a (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#52478 Roll Skia from a6bc04f984d2 to 5f4ebd628994 (1 revision)
  DEPS
Labels: autosubmit

#52480 Roll Fuchsia Linux SDK from HP2saK9sVOtKvpquC... to PIHl-e41i3mzbriG1...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#52479 Roll Skia from 5f4ebd628994 to bfbd738fb97b (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52477 Fix et run
  tools/engine_tool/lib/src/commands/run_command.dart
  tools/engine_tool/test/run_command_test.dart
Labels: autosubmit

#52487 Roll Dart SDK from d946408c559a to f5a429107c87 (2 revisions)
  DEPS
Labels: autosubmit

#52492 Roll Skia from bfbd738fb97b to 0b31f64bd8d8 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52500 Roll Skia from 0b31f64bd8d8 to 553b6e2eddc5 (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#52495 macOS fluttertextinputplugin drops selector called if no client
  shell/platform/darwin/macos/framework/Source/FlutterTextInputPlugin.mm
  shell/platform/darwin/macos/framework/Source/FlutterTextInputPluginTest.mm
Labels: affects: desktop, platform-macos, autosubmit

#52226 Migrate PlatformMessageHandlerIos to ARC
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/platform_message_handler_ios.h
  shell/platform/darwin/ios/platform_message_handler_ios.mm
Labels: platform-ios, autosubmit

#52491 I52370 3.22.cp attempt2
  shell/platform/android/io/flutter/embedding/android/FlutterActivityAndFragmentDelegate.java
  shell/platform/android/io/flutter/embedding/engine/renderer/FlutterRenderer.java
  shell/platform/android/io/flutter/plugin/platform/PlatformViewsController.java
  shell/platform/android/io/flutter/plugin/platform/VirtualDisplayController.java
  shell/platform/android/test/io/flutter/embedding/engine/renderer/FlutterRendererTest.java
Labels: platform-android, autosubmit

#52502 Roll Skia from 553b6e2eddc5 to 36ec16922dad (2 revisions)
  DEPS
Labels: autosubmit

#52503 Roll Dart SDK from f5a429107c87 to 04d373e0a99d (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#52504 Roll Skia from 36ec16922dad to 81ccf3ab27ee (1 revision)
  DEPS
Labels: autosubmit

#52501 [skwasm] Don't mark the backend texture as mipmapped, since it isn't.
  lib/web_ui/skwasm/image.cpp
  lib/web_ui/test/ui/image_golden_test.dart
Labels: platform-web, will affect goldens, autosubmit

#52401 [Impeller] remove incremental allocation during filled path tessellation.
  impeller/entity/geometry/fill_path_geometry.cc
  impeller/geometry/geometry_benchmarks.cc
  impeller/geometry/path.cc
  impeller/geometry/path.h
  impeller/geometry/path_component.cc
  impeller/geometry/path_component.h
  impeller/renderer/renderer_unittests.cc
  impeller/tessellator/BUILD.gn
  impeller/tessellator/c/tessellator.cc
  impeller/tessellator/tessellator.cc
  impeller/tessellator/tessellator.h
  impeller/tessellator/tessellator_libtess.cc
  impeller/tessellator/tessellator_libtess.h
  impeller/tessellator/tessellator_unittests.cc
Labels: e: impeller, autosubmit

#52506 et phone home
  tools/engine_tool/lib/main.dart
  tools/engine_tool/lib/src/phone_home.dart
  tools/engine_tool/test/phone_home_test.dart
Labels: autosubmit

#52507 Roll Dart SDK from 04d373e0a99d to 30b5422ec1b2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#52508 Roll Skia from 81ccf3ab27ee to 97aa3f4cf290 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52446 Remove rasterizerTracingThreshold, checkerboardRasterCacheImages, and checkerboardOffscreenLayers, etc
  ci/licenses_golden/excluded_files
  flow/BUILD.gn
  flow/layers/checkerboard_layertree_unittests.cc
  flow/layers/layer_raster_cache_item.cc
  flow/layers/layer_state_stack.cc
  flow/layers/layer_state_stack.h
  flow/layers/layer_state_stack_unittests.cc
  flow/layers/layer_tree.cc
  flow/layers/layer_tree.h
  flow/layers/layer_tree_unittests.cc
  flow/paint_utils.h
  flow/raster_cache.cc
  flow/raster_cache.h
  flow/raster_cache_unittests.cc
  flow/testing/layer_test.h
  lib/ui/compositing.dart
  lib/ui/compositing/scene.cc
  lib/ui/compositing/scene.h
  lib/ui/compositing/scene_builder.cc
  lib/ui/compositing/scene_builder.h
  lib/ui/dart_ui.cc
  lib/web_ui/lib/compositing.dart
  lib/web_ui/lib/src/engine/canvaskit/layer_scene_builder.dart
  lib/web_ui/lib/src/engine/html/scene_builder.dart
  lib/web_ui/lib/src/engine/scene_builder.dart
  shell/common/animator_unittests.cc
  shell/common/rasterizer_unittests.cc
  shell/common/shell_test.cc
Labels: platform-web, autosubmit

#52505 [Impeller] allow for one more active swapchain image.
  impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_impl_vk.cc
Labels: e: impeller, autosubmit

#52511 Roll Skia from 97aa3f4cf290 to 7c68b9c33b08 (1 revision)
  DEPS
Labels: autosubmit

#52512 Roll Dart SDK from 30b5422ec1b2 to c34adf6abcca (1 revision)
  DEPS
Labels: autosubmit

#52513 Roll Skia from 7c68b9c33b08 to 6c41182ab9bb (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52516 Roll Fuchsia Linux SDK from PIHl-e41i3mzbriG1... to cScmnvKM3py9E2087...
  DEPS
  ci/licenses_golden/licenses_fuchsia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#52515 Roll Dart SDK from c34adf6abcca to faabc0c9861c (1 revision)
  DEPS
Labels: autosubmit

#52517 Roll Skia from 6c41182ab9bb to d37c4d0c5e5d (1 revision)
  DEPS
Labels: autosubmit

#52520 Roll Skia from d37c4d0c5e5d to 4dbf9ad5fa1e (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: will affect goldens, autosubmit

#52521 Roll Skia from 4dbf9ad5fa1e to a0f0c08f31d8 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52523 Roll Dart SDK from 040d3f6c4c45 to 0316fa44b401 (1 revision)
  DEPS
Labels: autosubmit

#52525 Roll Skia from 894919003036 to f9671ecda7da (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#52528 Roll Skia from f9671ecda7da to 716e757c1ffb (5 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52527 Put the view focus functionality behind a (disabled by default) flag
  lib/web_ui/lib/src/engine/platform_dispatcher/view_focus_binding.dart
  lib/web_ui/test/engine/platform_dispatcher/view_focus_binding_test.dart
Labels: platform-web, autosubmit

#52530 Updated RBE documentation for default credentials.
  docs/rbe/rbe.md
Labels: autosubmit

#52467 [canvaskit] Round physical size to nearest whole number pixels
  lib/web_ui/lib/src/engine/canvaskit/embedded_views.dart
  lib/web_ui/lib/src/engine/canvaskit/picture.dart
  lib/web_ui/lib/src/engine/canvaskit/rasterizer.dart
  lib/web_ui/lib/src/engine/canvaskit/render_canvas.dart
  lib/web_ui/lib/src/engine/canvaskit/surface.dart
  lib/web_ui/lib/src/engine/util.dart
  lib/web_ui/test/canvaskit/render_canvas_test.dart
  lib/web_ui/test/canvaskit/surface_test.dart
Labels: platform-web

#52533 Roll Skia from 716e757c1ffb to df970dcd6cfa (1 revision)
  DEPS
Labels: autosubmit

#52534 Roll Dart SDK from 0316fa44b401 to 03b7868a71ae (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#52536 Roll Skia from df970dcd6cfa to 2eaea0383201 (1 revision)
  DEPS
Labels: autosubmit

#52537 [et] Add ios_debug_unopt build config.
  ci/builders/local_engine.json
Labels: autosubmit

#52538 [et] Add Linux host_debug_unopt local engine builder
  ci/builders/local_engine.json
Labels: autosubmit

#52509 [fuchsia] route fuchsia.sysmem2.Allocator pt 2
  shell/platform/fuchsia/flutter/tests/integration/embedder/flutter-embedder-test.cc
Labels: platform-fuchsia

#52539 Roll Dart SDK from 03b7868a71ae to 138695ec00bd (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#52540 Roll Skia from 2eaea0383201 to d2f0fd0faf90 (1 revision)
  DEPS
Labels: autosubmit

#52541 Roll Skia from d2f0fd0faf90 to 8f5808650129 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52542 Roll Dart SDK from 138695ec00bd to 33bb0f4b0770 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#52543 Roll Fuchsia Linux SDK from cScmnvKM3py9E2087... to QDv0tal7_BgoZx0ju...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#52547 Roll Skia from 92d762cfe00b to 7b1e131050a0 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52548 Roll Skia from 7b1e131050a0 to 6ca5507db3e1 (2 revisions)
  DEPS
Labels: autosubmit

#52549 Roll Dart SDK from d4eafe508129 to a9cf6a411c71 (1 revision)
  DEPS
Labels: autosubmit

#52550 Roll Skia from 6ca5507db3e1 to 1b72286d0319 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52551 Roll Skia from 1b72286d0319 to 82c0277acaf8 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#52552 Roll Skia from 82c0277acaf8 to ad143675a4d2 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52553 Roll Skia from ad143675a4d2 to f9409f6a7ad3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52554 Roll Skia from f9409f6a7ad3 to 95302626a8df (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52556 Roll Skia from 95302626a8df to 7911dd3d0b1c (1 revision)
  DEPS
Labels: autosubmit

#52557 Roll Skia from 7911dd3d0b1c to f502dcb08c8e (1 revision)
  DEPS
Labels: autosubmit

#52560 Roll Fuchsia Linux SDK from QDv0tal7_BgoZx0ju... to PqcaFvWlaz5ZrFcpC...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#52562 Roll Skia from f502dcb08c8e to 9dd5305fe12d (2 revisions)
  DEPS
Labels: autosubmit

#52566 Roll Skia from 9dd5305fe12d to 51dc771647bd (1 revision)
  DEPS
Labels: autosubmit

#52569 Roll Fuchsia Linux SDK from PqcaFvWlaz5ZrFcpC... to Ieb4BPN0ZIRRgYl4y...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#52570 Roll Skia from 3d798c416f5c to 2365dff19ed4 (1 revision)
  DEPS
Labels: autosubmit

#52571 Roll Skia from 2365dff19ed4 to 1454154ed14e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52573 Roll Skia from 7f582d054385 to 2da0f29636d3 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52574 Roll Skia from 2da0f29636d3 to 3bc48d128d4b (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52379 Skip files in the clang-tidy driver if clang-tidy crashes when processing the file
  tools/clang_tidy/lib/clang_tidy.dart
  tools/clang_tidy/test/clang_tidy_test.dart
  tools/pkg/process_fakes/lib/process_fakes.dart
Labels: autosubmit

#52575 Roll Skia from 3bc48d128d4b to 4754c3fd6b73 (1 revision)
  DEPS
Labels: autosubmit

#52577 Roll Skia from 4754c3fd6b73 to 29e77cd14063 (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52578 Roll Skia from 29e77cd14063 to da772ace76ff (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52580 [Impeller] fix missing GPU probe.
  impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_impl_vk.cc
Labels: e: impeller, autosubmit

#52583 Roll Skia from a5c042cb4b12 to 869cacf2a3f1 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52582 Migrate third_party/android_tools to flutter/third_party
  DEPS
  build/secondary/flutter/third_party/android_tools/BUILD.gn
  build/secondary/third_party/android_ndk/BUILD.gn
  build/secondary/third_party/cpu-features/BUILD.gn
  ci/binary_size_treemap.sh
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_dart
  ci/licenses_golden/tool_signature
  shell/platform/android/BUILD.gn
  sky/tools/flutter_gdb
  testing/analyze_core_dump.sh
  testing/android/native_activity/native_activity.gni
  testing/android_systrace_test.py
  testing/rules/run_gradle.py
  testing/run_tests.py
  testing/scenario_app/android/README.md
  testing/scenario_app/bin/utils/options.dart
  tools/android_lint/bin/main.dart
  tools/javadoc/gen_javadoc.py
  tools/licenses/lib/paths.dart
Labels: platform-android, autosubmit

#52473 [Impeller] Document how to use Impeller as a standalone library with OpenGL ES and EGL.
  impeller/README.md
  impeller/docs/standalone_gles.md
Labels: e: impeller, autosubmit

#52215 [Impeller] add clip coverage stack to exp canvas.
  impeller/aiks/experimental_canvas.cc
  impeller/aiks/experimental_canvas.h
Labels: e: impeller, autosubmit

#52590 [Impeller] eagerly bootstrap content context.
  shell/platform/android/android_surface_vulkan_impeller.cc
  shell/platform/android/android_surface_vulkan_impeller.h
Labels: platform-android, e: impeller, autosubmit

#52596 [Impeller] AHB swapchain mark frame start for tracer.
  impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_impl_vk.cc
Labels: e: impeller, autosubmit

#52600 Various documentation improvements
  impeller/playground/README.md
  lib/ui/compositing.dart
  lib/ui/geometry.dart
  lib/ui/painting.dart
Labels: e: impeller, autosubmit

#52563 [Impeller] allow cloning a rectangle packer with an increased size.
  impeller/typographer/backends/skia/typographer_context_skia.cc
  impeller/typographer/backends/stb/typographer_context_stb.cc
  impeller/typographer/rectangle_packer.cc
  impeller/typographer/rectangle_packer.h
  impeller/typographer/typographer_unittests.cc
Labels: e: impeller, autosubmit

#52615 Manual Skia roll to 2319f1ae8fe42525f8b6a1969a1cee67bdbee290
  DEPS
  ci/licenses_golden/licenses_skia
  skia/BUILD.gn
Labels: autosubmit

#52620 Add host_profile_arm64 and host_release_arm64 local engine configurations.
  ci/builders/local_engine.json
Labels: autosubmit

#52619 Move `verbose` to `environment.verbose`, pass to `ninja --verbose` if provided.
  tools/engine_tool/lib/main.dart
  tools/engine_tool/lib/src/build_utils.dart
  tools/engine_tool/lib/src/commands/build_command.dart
  tools/engine_tool/lib/src/commands/command.dart
  tools/engine_tool/lib/src/commands/command_runner.dart
  tools/engine_tool/lib/src/commands/fetch_command.dart
  tools/engine_tool/lib/src/commands/query_command.dart
  tools/engine_tool/lib/src/commands/run_command.dart
  tools/engine_tool/lib/src/commands/test_command.dart
  tools/engine_tool/lib/src/dependencies.dart
  tools/engine_tool/lib/src/environment.dart
  tools/engine_tool/test/build_command_test.dart
  tools/engine_tool/test/utils.dart
Labels: autosubmit

#52625 [flutter_releases] Flutter stable 3.22.0 Engine Cherrypicks
  DEPS
Labels: autosubmit

#52624 Move setting the logging level into the `Logger` constructor, refactor.
  tools/engine_tool/lib/main.dart
  tools/engine_tool/lib/src/commands/command_runner.dart
  tools/engine_tool/lib/src/logger.dart
  tools/engine_tool/test/logger_test.dart
Labels: autosubmit

#52635 Fix links in rbe.md
  docs/rbe/rbe.md
Labels: autosubmit

#52639 Move `Logger.test` to an injected log output versus leaky abstraction.
  tools/engine_tool/lib/src/logger.dart
  tools/engine_tool/test/fetch_command_test.dart
  tools/engine_tool/test/format_command_test.dart
  tools/engine_tool/test/lint_command_test.dart
  tools/engine_tool/test/logger_test.dart
  tools/engine_tool/test/proc_utils_test.dart
  tools/engine_tool/test/query_command_test.dart
  tools/engine_tool/test/run_command_test.dart
  tools/engine_tool/test/utils.dart
  tools/engine_tool/test/worker_pool_test.dart
Labels: autosubmit

#52637 [Impeller] Disable aging in the AHB swapchains and use FILO.
  impeller/renderer/backend/vulkan/swapchain/ahb/ahb_texture_pool_vk.cc
  impeller/renderer/backend/vulkan/swapchain/ahb/ahb_texture_pool_vk.h
Labels: e: impeller, autosubmit

#52510 [Impeller] Support copy from buffer to texture for GLES blitpass, use blit pass to set contents in glyph atlas.
  ci/licenses_golden/excluded_files
  impeller/aiks/aiks_unittests.cc
  impeller/core/device_buffer.cc
  impeller/core/device_buffer.h
  impeller/core/texture.h
  impeller/entity/BUILD.gn
  impeller/entity/contents/content_context.cc
  impeller/entity/contents/content_context_unittests.cc
  impeller/entity/contents/filters/blend_filter_contents.cc
  impeller/entity/contents/gradient_generator.cc
  impeller/entity/entity_unittests.cc
  impeller/playground/playground.cc
  impeller/renderer/backend/gles/blit_command_gles.cc
  impeller/renderer/backend/gles/blit_command_gles.h
  impeller/renderer/backend/gles/blit_pass_gles.cc
  impeller/renderer/backend/gles/blit_pass_gles.h
  impeller/renderer/backend/gles/capabilities_gles.cc
  impeller/renderer/backend/gles/capabilities_gles.h
  impeller/renderer/backend/gles/test/capabilities_unittests.cc
  impeller/renderer/backend/gles/texture_gles.cc
  impeller/renderer/backend/gles/texture_gles.h
  impeller/renderer/backend/metal/blit_command_mtl.mm
  impeller/renderer/backend/metal/blit_pass_mtl.h
  impeller/renderer/backend/metal/blit_pass_mtl.mm
  impeller/renderer/backend/metal/context_mtl.mm
  impeller/renderer/backend/metal/device_buffer_mtl.h
  impeller/renderer/backend/metal/device_buffer_mtl.mm
  impeller/renderer/backend/vulkan/blit_command_vk.cc
  impeller/renderer/backend/vulkan/blit_pass_vk.cc
  impeller/renderer/backend/vulkan/blit_pass_vk.h
  impeller/renderer/backend/vulkan/capabilities_vk.cc
  impeller/renderer/backend/vulkan/capabilities_vk.h
  impeller/renderer/blit_command.h
  impeller/renderer/blit_pass.cc
  impeller/renderer/blit_pass.h
  impeller/renderer/capabilities.cc
  impeller/renderer/capabilities.h
  impeller/renderer/capabilities_unittests.cc
  impeller/renderer/renderer_unittests.cc
  impeller/renderer/testing/mocks.h
  impeller/typographer/backends/skia/typographer_context_skia.cc
  impeller/typographer/backends/stb/typographer_context_stb.cc
  impeller/typographer/typographer_unittests.cc
  lib/ui/painting/image_decoder_impeller.cc
  lib/ui/painting/image_decoder_no_gl_unittests.h
Labels: e: impeller, autosubmit

#52644 [Impeller] In the AHB swapchain, make the wait stages be non-temporaries.
  impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_impl_vk.cc
Labels: e: impeller, autosubmit

#52650 [Impeller] bump image count to 3
  impeller/renderer/backend/vulkan/swapchain/ahb/ahb_texture_pool_vk.h
Labels: e: impeller, autosubmit

#52640 [Impeller] support requires readback from onscreen texture in experimental canvas.
  impeller/aiks/experimental_canvas.cc
  impeller/aiks/experimental_canvas.h
  impeller/display_list/dl_dispatcher.cc
  impeller/display_list/dl_dispatcher.h
  shell/gpu/gpu_surface_metal_impeller.mm
  shell/gpu/gpu_surface_vulkan_impeller.cc
  shell/platform/embedder/embedder_external_view.cc
Labels: e: impeller, autosubmit

#52668 Roll Skia from 2319f1ae8fe4 to c7794fee8063 (20 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52555 [Impeller] Update BlitPass::AddCopy to use destination_region instead of origin for buffer to texture copies.
  impeller/aiks/aiks_unittests.cc
  impeller/renderer/backend/gles/blit_command_gles.cc
  impeller/renderer/backend/gles/blit_pass_gles.cc
  impeller/renderer/backend/gles/blit_pass_gles.h
  impeller/renderer/backend/gles/proc_table_gles.h
  impeller/renderer/backend/gles/texture_gles.cc
  impeller/renderer/backend/gles/texture_gles.h
  impeller/renderer/backend/metal/blit_command_mtl.mm
  impeller/renderer/backend/metal/blit_pass_mtl.h
  impeller/renderer/backend/metal/blit_pass_mtl.mm
  impeller/renderer/backend/vulkan/blit_command_vk.cc
  impeller/renderer/backend/vulkan/blit_pass_vk.cc
  impeller/renderer/backend/vulkan/blit_pass_vk.h
  impeller/renderer/blit_command.h
  impeller/renderer/blit_pass.cc
  impeller/renderer/blit_pass.h
  impeller/renderer/blit_pass_unittests.cc
  impeller/renderer/testing/mocks.h
  testing/impeller_golden_tests_output.txt
Labels: will affect goldens, e: impeller, autosubmit

#52669 Manual roll Dart SDK from a9cf6a411c71 to b7cad2edae4b (7 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#52671 Roll Skia from c7794fee8063 to d8427844b843 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52677 Roll Dart SDK from b7cad2edae4b to 673b3aa8558a (1 revision)
  DEPS
Labels: autosubmit

#52676 [Impeller] require and use backpressure for AHB swapchain.
  impeller/toolkit/android/proc_table.h
  impeller/toolkit/android/surface_control.cc
  impeller/toolkit/android/surface_transaction.cc
Labels: e: impeller, autosubmit

#52679 Roll Skia from d8427844b843 to d965fc1fd319 (4 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52682 Roll Skia from d965fc1fd319 to 4019d8957cff (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#52641 [Impeller] Start a glossary.
  impeller/README.md
  impeller/docs/glossary.md
Labels: e: impeller

#52684 Roll Skia from 4019d8957cff to 76f88de905be (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52685 Roll Fuchsia Linux SDK from 27ZAbzJkEopmu0Emp... to RDVdjRvCxkJh2NLxS...
  DEPS
  ci/licenses_golden/excluded_files
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#52633 Reland "Add host_profile_arm64 and host_release_arm64 local engine configurations."
  ci/builders/local_engine.json
Labels: autosubmit

#52686 Roll Skia from 76f88de905be to df446841e3cd (3 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#52670 [Impeller] initialize ahb swapchain with max entries.
  impeller/renderer/backend/vulkan/android/ahb_texture_source_vk.cc
  impeller/renderer/backend/vulkan/swapchain/ahb/ahb_texture_pool_vk.cc
Labels: e: impeller, autosubmit

#52591 Fix UIVisualEffectView leak in platform view filter
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViewsTest.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.mm
  testing/ios/IosUnitTests/IosUnitTests.xcodeproj/project.pbxproj
Labels: platform-ios, autosubmit

#52688 Roll Skia from df446841e3cd to 4e83fac12783 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52691 Roll Skia from 4e83fac12783 to 91088addfbd9 (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52693 Roll Skia from 91088addfbd9 to f4e251cc8407 (1 revision)
  DEPS
Labels: autosubmit

#52694 Roll Skia from f4e251cc8407 to 68ab865c016f (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52695 Roll Skia from 68ab865c016f to aa82350f9cf4 (2 revisions)
  DEPS
Labels: autosubmit

#52696 Roll Skia from aa82350f9cf4 to 2a368794c73e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52697 Roll Skia from 2a368794c73e to 2813bc21202e (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52692 [Impeller] Size AHB swapchain based on vk surface properties.
  impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_impl_vk.cc
  impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_impl_vk.h
  impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_vk.cc
  impeller/renderer/backend/vulkan/swapchain/ahb/ahb_swapchain_vk.h
  impeller/renderer/backend/vulkan/swapchain/ahb/ahb_texture_pool_vk.h
  impeller/renderer/backend/vulkan/swapchain/swapchain_vk.cc
Labels: e: impeller, autosubmit

#52699 updated analysis exclusion
  analysis_options.yaml
Labels: autosubmit

#52681 When `et` is not attached to a terminal, still split lines for status updates.
  tools/engine_tool/lib/src/logger.dart
Labels: autosubmit

#52690 [Impeller] Adds impeller display list golden tests
  ci/licenses_golden/excluded_files
  impeller/display_list/BUILD.gn
  impeller/display_list/dl_golden_unittests.cc
  impeller/display_list/dl_golden_unittests.h
  impeller/display_list/dl_playground.cc
  impeller/display_list/dl_playground.h
  impeller/golden_tests/BUILD.gn
  impeller/golden_tests/golden_playground_test.h
  impeller/golden_tests/golden_playground_test_mac.cc
  impeller/golden_tests/golden_playground_test_stub.cc
  testing/impeller_golden_tests_output.txt
Labels: will affect goldens, e: impeller, autosubmit

#52586 [web] scale semantic text elements to match the desired focus ring size
  lib/web_ui/lib/src/engine/dom.dart
  lib/web_ui/lib/src/engine/semantics/checkable.dart
  lib/web_ui/lib/src/engine/semantics/incrementable.dart
  lib/web_ui/lib/src/engine/semantics/label_and_value.dart
  lib/web_ui/lib/src/engine/semantics/link.dart
  lib/web_ui/lib/src/engine/semantics/platform_view.dart
  lib/web_ui/lib/src/engine/semantics/scrollable.dart
  lib/web_ui/lib/src/engine/semantics/semantics.dart
  lib/web_ui/lib/src/engine/semantics/tappable.dart
  lib/web_ui/test/common/matchers.dart
  lib/web_ui/test/engine/matchers_test.dart
  lib/web_ui/test/engine/semantics/semantics_test.dart
  lib/web_ui/test/engine/semantics/semantics_tester.dart
  lib/web_ui/test/engine/semantics/semantics_text_test.dart
  lib/web_ui/test/engine/semantics/text_field_test.dart
Labels: platform-web, autosubmit

#52623 Various documentation improvements (#52600)
  impeller/playground/README.md
  lib/ui/compositing.dart
  lib/ui/geometry.dart
  lib/ui/painting.dart
Labels: e: impeller, autosubmit

#52484 [iOS] Fix App crash when use WebView with iOS VoiceOver
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/SemanticsObject.mm
  shell/platform/darwin/ios/framework/Source/SemanticsObjectTest.mm
Labels: platform-ios

#52706 Manual roll Dart SDK from b7cad2edae4b to 01121c008f4d (3 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#52709 Revert "Various documentation improvements (#52600)"
  impeller/playground/README.md
  lib/ui/compositing.dart
  lib/ui/geometry.dart
  lib/ui/painting.dart
Labels: e: impeller

#52702 Roll Fuchsia Linux SDK from RDVdjRvCxkJh2NLxS... to NbCi2ETfLHPLLB-JV...
  DEPS
  ci/licenses_golden/licenses_fuchsia
Labels: autosubmit

#52701 Roll Skia from 2813bc21202e to c7cd1e9690d1 (6 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52689 Roll third_party/freetype2 from 3bea27612 to af4c2d86d (2 revisions)
  DEPS
Labels: autosubmit

#52710 [impeller] adds experimental canvas docstring
  impeller/aiks/experimental_canvas.h
Labels: e: impeller

#52703 [Impeller] Document how to do basic rendering in Impeller.
  impeller/README.md
  impeller/docs/assets/babys_first_triangle/baby_triangle_anim.gif
  impeller/docs/assets/babys_first_triangle/baby_triangle_red.png
  impeller/docs/assets/babys_first_triangle/baby_triangle_varying.png
  impeller/docs/babys_first_triangle.md
  impeller/fixtures/BUILD.gn
  impeller/fixtures/baby.frag
  impeller/fixtures/baby.vert
  impeller/renderer/renderer_unittests.cc
Labels: e: impeller, autosubmit

#52712 Roll Skia from c7cd1e9690d1 to 11d892ce49b6 (25 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52713 [Impeller] Disable AHB swapchain.
  impeller/renderer/backend/vulkan/swapchain/swapchain_vk.cc
Labels: e: impeller

#52535 Migrate FlutterView, FlutterPlatformViews, FlutterOverlayView to ARC
  shell/platform/darwin/ios/BUILD.gn
  shell/platform/darwin/ios/framework/Source/FlutterOverlayView.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h
  shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.mm
  shell/platform/darwin/ios/framework/Source/FlutterView.mm
  shell/platform/darwin/ios/framework/Source/FlutterViewControllerTest.mm
  testing/ios/IosUnitTests/IosUnitTests.xcodeproj/project.pbxproj
Labels: platform-ios

#52704 [canvaskit] Clip before applying ColorFilter so it doesn't filter beyond child bounds
  lib/web_ui/lib/src/engine/canvaskit/canvaskit_api.dart
  lib/web_ui/lib/src/engine/canvaskit/layer.dart
  lib/web_ui/lib/src/engine/canvaskit/painting.dart
  lib/web_ui/lib/src/engine/canvaskit/text.dart
  lib/web_ui/test/canvaskit/color_filter_golden_test.dart
Labels: platform-web

#52717 Roll Skia from 11d892ce49b6 to d1118d56853c (1 revision)
  DEPS
Labels: autosubmit

#52716 Roll Dart SDK from 01121c008f4d to 13fc7db956c7 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#52723 Roll Skia from d1118d56853c to f69e8967610e (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52687 Write `dart:ui` golden-file tests testing `FilterQuality.*`
  testing/dart/README.md
  testing/dart/image_filter_test.dart
  testing/run_tests.py
Labels: will affect goldens, autosubmit

#52721 Simplify GN pools, use in more places
  DEPS
  build/dart/BUILD.gn
  build/dart/rules.gni
  docs/rbe/rbe.md
  impeller/tools/BUILD.gn
  impeller/tools/impeller.gni
  impeller/tools/malioc.gni
  lib/snapshot/BUILD.gn
  testing/testing.gni
  tools/gn
  web_sdk/BUILD.gn
  web_sdk/web_sdk.gni
Labels: platform-web, e: impeller, autosubmit

#52726 Roll Skia from f69e8967610e to b6186e1b3995 (2 revisions)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52728 Roll Dart SDK from 13fc7db956c7 to de30a5dbf169 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#52718 [Impeller] Followup feedback on "Baby's First Triangle".
  impeller/docs/babys_first_triangle.md
Labels: e: impeller, autosubmit

#52730 Roll Dart SDK from de30a5dbf169 to cbfaae24852c (2 revisions)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#52731 Roll Dart SDK from cbfaae24852c to ff786d99b517 (1 revision)
  DEPS
  ci/licenses_golden/licenses_dart
  sky/packages/sky_engine/LICENSE
Labels: autosubmit

#52727 Roll Skia from b6186e1b3995 to 709deddd904f (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: will affect goldens, autosubmit

#52732 Roll Skia from 709deddd904f to d78564aad21d (2 revisions)
  DEPS
Labels: autosubmit

#52739 Roll Skia from d78564aad21d to 4e9362762a0f (1 revision)
  DEPS
Labels: autosubmit

#52714 Detail a gotcha about reproxystatus
  docs/rbe/rbe.md
Labels: autosubmit

#52752 Roll Skia from 4e9362762a0f to cbe627d5ba15 (1 revision)
  DEPS
Labels: autosubmit

#52754 Roll Skia from cbe627d5ba15 to 4bc37d0feedb (1 revision)
  DEPS
  ci/licenses_golden/licenses_skia
Labels: autosubmit

#52756 Roll Skia from 4bc37d0feedb to 2a7830d74a8b (1 revision)
  DEPS
Labels: autosubmit

#52758 Roll Dart SDK from ff786d99b517 to f1a6336d2147 (1 revision)
  DEPS
Labels: autosubmit
