Repository flutter/engine, pull requests merged in 2025-01, with the labels that each got.

#57249 [CP] Remove incorrect fml check.
  shell/platform/android/surface_texture_external_texture.cc
Labels: platform-android, autosubmit

#57248 [CP][Impeller] fix line/polygon depth and GLES scissor state. (#56494)
  impeller/display_list/aiks_dl_unittests.cc
  impeller/display_list/canvas.cc
  impeller/display_list/canvas.h
  impeller/display_list/dl_dispatcher.cc
  impeller/renderer/backend/gles/render_pass_gles.cc
  testing/impeller_golden_tests_output.txt
Labels: e: impeller, autosubmit

#56903 [cp:stable][web] Work around wrong pointerId in coalesced events in iOS Safari 18.2 (#56719)
  lib/web_ui/lib/src/engine/pointer_binding.dart
  lib/web_ui/lib/src/engine/pointer_binding/event_position_helper.dart
  lib/web_ui/test/engine/pointer_binding_test.dart
Labels: platform-web, autosubmit

#57278 [flutter_releases] Flutter stable 3.27.0 Engine Cherrypicks
  DEPS
  ci/licenses_golden/licenses_dart
Labels: autosubmit
